[2019-08-21 07:46] fbricon commented on #1038
Not useful if we can't reproduce. Can you at least share your project's pom, .classpath, .project and .settings/ ?

[2019-08-21 07:54] fbricon commented on #1036
You want the javadoc from the annotations added to the javadoc of the class?
Does that feature exist in other IDEs? If so a screenshot would help better understand.

[2019-08-21 13:17] chialunwu opened #1039 "Is Annotation Processing Supported for Gradle project?"
I know there's a wiki page about how to set up for Maven project - https://github.com/redhat-developer/vscode-java/wiki/Annotation-Processing-support-for-Maven-projects.

But how about Gradle project? Is it even possible?

[2019-08-21 13:27] fbricon commented on #1039
There's no native annotation processor support in Buildship (the Gradle integration for Eclipse project), that we use under the hood. However following the instructions from  http://dplatz.de/blog/2018/gradle-apt.html should give you some good pointers (I haven't tried). Then you're welcome to update the wiki for Gradle ;-)

[2019-08-21 13:45] bingo4508 commented on #1039
@fbricon I'll try. Thanks!

[2019-08-21 19:42] NikolasKomonen commented on #1002
@fbricon, could you address if these issues need to be worked on/ indicate if some should be ignored.

### Issue 1) New lines are being removed from existing markdown tables. (Not an issue if we don't expect markdown in a javadoc)

Given:
[code]
JDT.ls returns:
[code]
when it should be returning
[code]

### Issue 2) HTML to Markdown returns incorrect markdown when the table headers are defined as:

[2019-08-21 20:46] ccerghed opened #1040 "Java IntelliSense stops working randomly"
Issue Type: <b>Bug</b>

I have been using a very small project for a few months now, and have had the best experience with the Java Language support.  Intellisense was working great until the last 2 patches of Visual Studio Code, which apparently broke the extension.  It throws an exception, and then all IntelliSense stops working, including the JS/TS extension.  If I restart Visual Studio Code, i

[2019-08-22 12:46] kusnier commented on #344
This solved also my problem with a sud-module project in maven.
Host system: linux
[code]

[2019-08-22 15:38] fbricon commented on #1002
We prolly want to fix all 3, but right now I'd love to see the exemple of java.util.concurrent.BlockingQueue be fixed. With remark 1.1.0, we still see crappy tables:
<img width="604" alt="Screen Shot 2019-08-22 at 5 33 11 PM" src="https://user-images.githubusercontent.com/148698/63528689-aaa49f80-c503-11e9-9e55-3eba6edc67e8.png">

[2019-08-22 19:53] maxi-billion commented on #1040
I stopped by to say that I'm having a similar issue. Intellisense will randomly stop after using VS Code for some time; it seems to break when loading certain method suggestions after typing a dot. After that, Intellisense stops completely.

I get the following javascript errors in the console when this happens (not sure how to see the java exceptions @ccerghed reports however).

`ERR Unexpected t

[2019-08-22 20:26] maxi-billion commented on #1040
As an update, I can consistently trigger the Javascript errors when typing "System."

[2019-08-23 18:42] NikolasKomonen commented on #1002
![FixedTables](https://user-images.githubusercontent.com/32624665/63615732-07f82980-c5b4-11e9-885b-5d72a7634692.png)

Table fixed. Need to do tests and get it uploaded to maven repo.

@fbricon Were there any other cases to test out, I remember you mentioned it.

[2019-08-24 12:27] clankill3r opened #1042 "How to use javac option with the following project setup"
My project is setup like this:
https://github.com/clankill3r/p5_vscode_template

In short I have a `.classpath` and a `.project` and eventually a `launch.json`.
Now I would like to use the `javac` `-parameters` option. Is this possible?

I don't wan't to use maven or gradle.

[2019-08-24 13:42] fbricon commented on #1042
create a .settings/org.eclipse.jdt.core.prefs file containing:
[code]
`org.eclipse.jdt.core.compiler.codegen.methodParameters=generate` is the property equivalent to  the `-parameter` flag in javac

[2019-08-24 15:16] clankill3r commented on #1042
Thank you so much for this quick answer.

[2019-08-24 15:16] #1042 closed

[2019-08-24 21:52] DazSheehan commented on #868
I had this issue today,  It needs access to the javac program to compile the java.

On windows open CMD and type `where javac`

Hopefully it will come back with a not found error indicating that the jdk is not in your path.

On windows 10
- go to start and type **'env'** to bring up 'Edit the system environment variables'
- Click '**Envirionment Variables**'
- Under user variables select **Path**

[2019-08-25 06:58] #1036 closed

[2019-08-25 10:56] marmistrz opened #1043 "The extension download binaries without asking"
It's ok to provide easy onboarding, but the extension should ask before downloading anything. What if the user is on a metered connection or prefers to install the language server themselves.

That's what the official Rust Language Server extension for VS Code does.

##### Environment
- Operating System: Arch Linux
- JDK version: 12
- Visual Studio Code version: 1.37
- Java extension version: 0.47

[2019-08-25 14:34] fbricon commented on #1043
Which binaries? (I suspect the Gradle runtime)

[2019-08-27 06:33] flip-rahul opened #1044 "JDK missing or inaccessible folder in Ubuntu 18"
[provide a description of the issue]
The java.home variable defined in VS Code settings points to a missing or inaccessible folder (usr/lib/jvm/java-8-openjdk-amd64)
##### Environment
- Operating System: Ubuntu 18
- JDK version: java-8-openjdk-amd64
- Visual Studio Code version: 1.37.1
- Java extension version: 0.7.1

##### Steps To Reproduce
1. [step 1] Just open a java file and show this error.

[2019-08-27 08:12] Eskibear commented on #1044
Looks you set the java.home by your own, did you miss the **leading slash `/`** of the path? `/usr/lib/jvm/java-8-openjdk-amd64` makes more sense to me.

[2019-08-27 09:11] flip-rahul commented on #1044
Yes i have entered the java.home by my own in settings.json file of VS code. I have tryed with leadind slash / but still issue is same.

[2019-08-27 09:17] fbricon commented on #1044
is javac present under /usr/lib/jvm/java-8-openjdk-amd64/bin?

[2019-08-27 09:18] fbricon commented on #1044
did you install VS Code using Flatpack?

[2019-08-27 09:21] flip-rahul commented on #1044
No there is no Javac in /usr/lib/jvm/java-8-openjdk-amd64/bin. I have Ubuntu 18.
No i don't use Flatpack.

[2019-08-27 09:22] fbricon commented on #1044
So you're not using a JDK, but a JRE. Please install a JDK

[2019-08-27 09:22] flip-rahul commented on #1044
I just want to view a java file in VScode.

[2019-08-27 09:29] fbricon commented on #1044
vscode-java requires a JDK to work, so it can provide lots of Java smartness in VS Code. If you don't need it, just disable it, it'll stop complaining.

[2019-08-27 09:34] flip-rahul commented on #1044
is it possible to use java-8-openjdk-amd64 for this vascode-java.
if possible then how?
How can i disable java complaining.

[2019-08-27 10:46] clankill3r commented on #1019
https://github.com/microsoft/vscode/issues/79892

[2019-08-27 10:50] clankill3r commented on #1019
https://github.com/atom/language-java/issues/203

[2019-08-27 11:14] clankill3r commented on #1025
Just like we have clickable links now when having an exception:

<img width="736" alt="Screen Shot 2019-08-27 at 13 13 16" src="https://user-images.githubusercontent.com/738650/63766922-87e00580-c8cc-11e9-9a76-c389dc7d979e.png">

I would like to be able to make those links as well.

[2019-08-27 14:28] marmistrz commented on #817
Could this be added to the README?

[2019-08-27 14:34] marmistrz commented on #1043
I've just realized that I mistook the prebuilt language server that is shipped with the .vsix for some binaries downloaded from the Internet after installation. Sorry for that!

Anyway, I think that shipping the binaries with the .vsix is not the best idea. As a Linux user, I have my package manager for this ([link](https://aur.archlinux.org/packages/jdtls/)). The way I see it:

* the extension sh

[2019-08-27 16:04] fbricon commented on #112
@ceculbe the logs you find in your extensions folder:
<home directory>/.vscode/extensions/redhat.java-***/server/config_<your_platform>/

[2019-08-27 20:10] snjeza commented on #1034
I can't reproduce the issue.

[2019-08-28 02:04] jdneo commented on #503
@akaroml @fbricon @snjeza

It seems that the VS Code team has fixed this issue in the Insider version.

![image](https://user-images.githubusercontent.com/6193897/63820203-f085bb80-c97a-11e9-9b34-bc67b5c672a8.png)

See gif below:

![demo](https://user-images.githubusercontent.com/6193897/63820248-0bf0c680-c97b-11e9-93a6-89f7b3383b98.gif)

[2019-08-28 09:39] bonaluo opened #1045 "when use chinese even can‘t compile"
Issue Type: <b>Bug</b>

I can't compile because i have chinese in class's comment . When i remove chinese comment it can compile again. I use 'code runner'  extension to run single java class, it is very convenient.

![unreadable code](https://user-images.githubusercontent.com/27731323/63844212-63faed80-c9ba-11e9-89c9-c6284b1e17e2.png)
![can't compile](https://user-images.githubusercontent.com/277

[2019-08-28 09:47] bonaluo commented on #1045
I delete three chinese letter "问顺序" then it hasn't warned again.

![image](https://user-images.githubusercontent.com/27731323/63844888-95c08400-c9bb-11e9-843d-1e518de2755f.png)

[2019-08-28 17:50] fbricon commented on #1040
@maxi-billion can you provide the message output after turning on [verbose tracing](https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#turn-on-message-tracing-between-vs-code-and-the-java-language-server)?

[2019-08-28 19:28] snjeza commented on #1040
@maxi-billion Could you disable the Spring Tools and Visual Studio IntelliCode extension and try to reproduce the issue?

[2019-08-29 11:03] gitorko opened #1046 "Attaching debugger causes temporary java file to be created"
Attaching a debugger and inserting a break point is causing a temporary .java file to be created under following location
/home/user/.config/Code/User/workspaceStorage/7be5e099f5eab375ac8263262a29bd8f/shengchen.vscode-checkstyle/sync/11237118ee2d10dd6bc3775ae5da8a98/MyClass.java

This wasnt the case earlier (a few releases back), the breakpoint used to hit on the same class file and not create a t

[2019-08-29 14:11] nicolashefty commented on #927
I think that the artifactId value is not being resolved. I had the same issue.
Tried replacing: <artifactId>${applicationName}</artifactId>
With: <artifactId>abc</artifactId>

And the problem solved for me. This is just a work around, since in the command line the pom.xml works as is (in my case).

[2019-08-30 01:57] jdneo opened #1047 "Auto Completion swallows the code"
##### Environment
- Operating System: Win 10
- JDK version: 1.8.0_221
- Visual Studio Code version: 1.37.1
- Java extension version: 0.47.0

##### Steps To Reproduce
![demo](https://user-images.githubusercontent.com/6193897/63987885-55bce680-cb0c-11e9-891c-3ddddea8eae9.gif)

##### Current Result

As the gif shows, the variable `myStrings[0]` will be swallowed after we select a completion item.

[2019-08-30 02:01] jdneo opened #1048 "Sometimes the syntax highlighting is not correct"
So far I have no idea when this will happen, but it occurs sometimes in my project.

##### Environment
- Operating System: Win 10
- JDK version: 1.8.0_221
- Visual Studio Code version: 1.37.1
- Java extension version: 0.47.0

##### Current Result
![image](https://user-images.githubusercontent.com/6193897/63988056-0aef9e80-cb0d-11e9-9cc4-5a5aef9ac695.png)

##### Expected Result

The modifier `publi

[2019-08-30 02:08] snjeza commented on #1047
You can try to set the following property:
[code]

[2019-08-30 02:33] jdneo commented on #1047
Thanks @snjeza . Setting it to false solves my issue.

While, IMO, default value to false seems makes more sense to me. 😃

[2019-08-30 02:33] #1047 closed

[2019-08-30 11:23] batraz90 commented on #1034
Are you running VS Code on Windows?

[2019-08-30 15:03] snjeza commented on #1034
I have tested on Windows and Linux.

[2019-08-30 15:20] #1040 closed

[2019-08-30 18:53] brunoborges commented on #112
Try clearing up your User Settings for any custom Java setting.

[2019-08-30 18:55] brunoborges commented on #881
@fbricon a sample project that can demonstrate this is this one: https://github.com/brunoborges/fx2048

I am facing the same issue.

[2019-08-30 19:04] fbricon commented on #881
@brunoborges I haven't checked but given this is a Gradle project, I'm not too surprised there might be some issues, as AFAIK, buildship doesn't support java module configuration (I maybe be wrong and that's another issue though).

@snjeza can you please take a look?

[2019-08-30 19:06] brunoborges commented on #881
The [Java Dependency Viewer](https://marketplace.visualstudio.com/items?itemName=vscjava.vscode-java-dependency) extension  correctly loads the classpath:

![image](https://user-images.githubusercontent.com/129743/64045567-7e4ddc00-cb1e-11e9-920c-c97463c53a0f.png)

[2019-08-30 19:19] fbricon commented on #881
those are regular classpath entries. If there's a module-info.java, Eclipse JDT requires those required modules to be flagged as modules in their respective classpath entries. I don't know that the Java dependency extension provides some kind of support for Java Modules (i.e. displays the module infos). cc @testforstephen @jdneo @akaroml

[2019-08-30 19:25] snjeza commented on #881
@brunoborges could you try the following patch:

[code]

[2019-08-30 19:27] brunoborges commented on #881
@fbricon I don't think they are regular classpath entries. See the [module-info.java](https://github.com/brunoborges/fx2048/blob/master/src/main/java/module-info.java)

@snjeza I tried the patch and it didn't work: I edited the file, closed the folder and reopened the entire project. No success.

[2019-08-30 19:35] fbricon commented on #881
Related upstream buildship issue: https://github.com/eclipse/buildship/issues/658. TL;DR: don't hold your breath for a fix

[2019-08-30 19:36] snjeza commented on #881
![javafx](https://user-images.githubusercontent.com/388609/64047069-03141680-cb6e-11e9-8272-582c85dd9689.png)

@brunoborges could you try the following build.xml

[code]

[2019-08-30 19:38] brunoborges commented on #881
@snjeza do I need to run some command to update the eclipse settings after modifying the build.gradle file ?

[2019-08-30 19:40] snjeza commented on #881
@brunoborges you can call the "Java: Clean the Java Language Server workspace" command.

[2019-08-30 19:45] brunoborges commented on #881
This solved the issue with the imports, but now IntelliSense (or whatever should do the job) is not working and I don't have _auto-complete_ in the imports section for any package (javafx.* as well as any of the java.* or javax.*):

![image](https://user-images.githubusercontent.com/129743/64047599-1ac6ad00-cb24-11e9-8624-a9d22fbd7990.png)

[2019-08-30 19:55] snjeza commented on #881
The issue can be reproduced in Eclipse.

[2019-08-30 20:16] snjeza commented on #881
@brunoborges you can try the following workaround:

[code]

[2019-08-30 20:22] ceculbe commented on #112
@brunoborges That may be related. The problem reoccurred with the same user today. User settings had a syntax error, but fixing it did not solve the problem I cleaned the Java language server workspace and loaded a new, known good project folder. After that, I was able to start the Java Language Server and debug.
JLS log attached in the next post.

[2019-08-30 20:22] ceculbe commented on #112
!SESSION 2019-08-30
09:46:23.370 -----------------------------------------------
eclipse.buildId=unknown
java.version=1.8.0_221
java.vendor=Oracle Corporation
BootLoader constants: OS=win32, ARCH=x86_64, WS=win32, NL=en_US
Command-line arguments: -data c:\Users\c*****1\AppData\Roaming\Code\User\workspaceStorage\9aea8c7bcfc22a0e4f2a86244cf38613\redhat.java\jdt_ws

This is a continuation of log file

[2019-08-30 20:35] brunoborges commented on #881
Thanks @snjeza. This worked.

The environment is now 100% functional as one would expect.

[2019-08-30 20:52] snjeza commented on #881
That is an Eclipse bug. Checking...

[2019-08-30 21:17] brunoborges commented on #757
Would be nice if VS Code could pick which JDK to use based on the `.java-version` file of a given project who's using `jenv` to manage JDKs.

[2019-08-30 21:48] snjeza commented on #881
Related issue - https://bugs.eclipse.org/bugs/show_bug.cgi?id=539064

[2019-08-31 13:14] ccerghed commented on #1040
Thank you, I disabled IntelliCode and it fixed the issue for me as well.

[2019-09-01 22:42] ThatNerdyPikachu commented on #659
bump, same issue here.

in the logs, the extension is actually receiving the message to organize the imports, but that isn't doing anything..

[2019-09-02 09:06] ghost opened #1049 "symbol java visual studio code"
[provide a description of the issue]

##### Environment
- Operating System: Windows 10
- JDK version: jdk-12.0.2
- Visual Studio Code version: 1.37.1 (user setup)
- Java extension version: VSCodeJavaInstaller-online-win-0.1.1

Good morning

I have followed the visual studio code installation, and even several times, deleting configuration folders. but even so I get this error message and also when

[2019-09-02 10:01] lucacoxm31 commented on #667
I have this problem too, same maven project (from kafka streams tutorial).

[2019-09-02 11:36] TobyLarone85 commented on #1049
The icon is part of your vscode icons theme. Go to settings -> File Icon Set and select the set of icons you want

[2019-09-02 15:10] fbricon commented on #507
"Unsupported SuppressWarning" warnings are now ignored by default. To get a different behaviour, one needs to set org.eclipse.jdt.core.compiler.problem.unhandledWarningToken=ignore|warning|info|error

[2019-09-02 15:10] #507 closed

[2019-09-02 16:23] #1017 closed

[2019-09-02 16:33] fbricon commented on #980
Fixed as part of https://github.com/eclipse/eclipse.jdt.ls/issues/1089

[2019-09-02 16:33] #980 closed

[2019-09-02 17:02] fbricon commented on #1048
As usual, these syntax highlighting issues are caused by the upstream [textmate grammar](https://github.com/atom/language-java/blob/master/grammars/java.cson), consumed by [vscode](https://github.com/microsoft/vscode/blob/master/extensions/java/syntaxes/java.tmLanguage.json) itself.
@jdneo we have a bunch of [them already](https://github.com/redhat-developer/vscode-java/issues?q=is%3Aissue+is%3Aop

[2019-09-02 17:21] DanielMoreno58 opened #1050 "java.errors.incompleteClasspath.severity is not working"
I tried to ignore the errors of java, specifically of imports due to I dont want to show them with java.errors.incompleteClasspath.severity, but even with that configuration i don't get the expected result.

##### Environment
- Operating System: Windows 7 Professional
- JDK version: 1.8
- Visual Studio Code version: 1.37.1
- Java extension version: 0.47

##### Steps To Reproduce
1. Open extension

[2019-09-02 17:39] fbricon commented on #1050
this setting is actually for errors caused by vscode-java's inability to properly compute the project classpath from a build descriptor.
If your project actually has a Maven, Gradle or even Eclipse descriptor, then compilation errors will be computed, regardless of the "java.errors.incompleteClasspath.severity" value.
How is your project configured?

[2019-09-02 17:53] DanielMoreno58 commented on #1050
Oh, I see!

My project is currently configured with Maven with `<modelVersion> 4.0.0 </modelVersion>`

But, in my pom.xml i have the correct dependencies, for example:

![imagen](https://user-images.githubusercontent.com/25211032/64129185-3b8b3e80-cd80-11e9-97f7-cec9a325a193.png)

[2019-09-02 18:00] fbricon commented on #1050
you might have some other errors in your problems view that cause the project classpath to be incorrectly resolved. Can you please list them? or attach your project?

[2019-09-02 22:49] OldPlanesRock commented on #346
Hopefully you have installed the Java Dependencies extension.  There is a .classpath file in the root of you project folder.  Open it with vscode.  It will look something like:

<?xml version="1.0" encoding="UTF-8"?>
<classpath>
	<classpathentry kind="con" path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-11"/>
	<classpathentry kind="src

[2019-09-04 08:57] simo385 commented on #927
Dear nicolashefty,

Unfortunately, it doesn't work yet.

thanks for your support.
Best regards,
Simone

[2019-09-04 17:46] snjeza commented on #927
You can try to call the **Java: Clean the Java language server workspace** command.

[2019-09-05 10:21] simo385 commented on #927
Dear snjeza,

Unfortunately, it doesn't work.

thanks for your support.
Best regards,
Simone

[2019-09-05 14:50] Nightenom commented on #941
Hello, how would the patch look with multi module project using the subproject gradle mechanism (see below)?
[code]
[project build.gradle](https://github.com/Nightenom/Carcassonne-Java/blob/master/build.gradle)

[2019-09-05 16:02] snjeza commented on #927
Could you try the following:

[code]

[2019-09-05 17:08] #1030 closed

[2019-09-05 20:10] JacobGeoGeek opened #1052 "Cannot create Java project with RED Hat Extension installed and java openJDK8 installed in WSL"
hello everyone,
Show I have java jdk 8 in WSL and i trying to create java project with Red Hat extension. but whenever i click `CTRL+SHIT+P` and i choose Create Java project, I have this Error:

[code]

Note that I use Remote WSL

[2019-09-05 20:33] fbricon commented on #1052
Sorry but "Create Java project" is not a feature coming from vscode-java. Please open a ticket in https://github.com/Microsoft/vscode-java-dependency/issues

[2019-09-05 20:33] #1052 closed

[2019-09-06 01:07] testforstephen commented on #1046
Looks like the temporary file is created by checkstyle extension. @jdneo could you take a look?

[2019-09-06 08:10] simo385 commented on #927
Dear snjeza,

I tried to do that, but it doesn't work.

thanks for your support.
Best regards,
Simone

[2019-09-06 08:58] mojadev commented on #667
Make sure to have a `org.eclipse.jdt.core.javanature` in your .project file.

I had the same issue with Apache flink -`mvn eclipse:eclipse` did the trick. This also generates the .classpath.

[2019-09-06 10:47] simo385 commented on #927
Dear all,

I solved the problem. I had to put the following configuration in pom.xml
`<groupId>world.dedicated</groupId>
<artifactId>DMP_Watchdog</artifactId>
	<version>0.0.1</version>
	<packaging>jar</packaging> `

instead of:
`	<groupId>world.dedicated</groupId>
	<artifactId>${applicationName}</artifactId>
	<version>${appVersion}</version>
	<packaging>jar</packaging>`

Thanks for your support
Si

[2019-09-06 10:47] #927 closed

[2019-09-07 08:42] testforstephen opened #1054 "Info log should not be printed to console"
When you set java trace to verbose, you would see huge of logs printed to console (Developer Tools Console). VS Code console is not suitable for display a large amount of info, it's better to only display logs above `error` or `warn`.

![image](https://user-images.githubusercontent.com/14052197/64472145-75977e80-d18c-11e9-9fff-612267069599.png)

[2019-09-09 01:25] liudonghua123 commented on #277
@fbricon, Thanks, you save me almost a day.

[2019-09-09 04:22] zuopx opened #1055 "Java Class Hierarchy Navigation"
Issue Type: <b>Feature Request</b>

Java Class Hierarchy Navigation

Extension version: 0.48.0
VS Code version: Code 1.38.0 (3db7e09f3b61f915d03bbfa58e258d6eee843f35, 2019-09-03T21:49:13.459Z)
OS version: Windows_NT x64 10.0.18362
Remote OS version: Linux x64 3.10.0-957.27.2.el7.x86_64
Remote OS version: Linux x64 3.10.0-957.27.2.el7.x86_64
Remote OS version: Linux x64 3.10.0-957.27.2.el7.x86_64

[2019-09-09 09:30] testforstephen opened #1056 "Sometimes vscode-java extension never be ready (always spin)"
When upgrade java-debug extension and reload the workspace, the language server status is hanging at spin, never be ready.

After an investigation at the initialization logic, i found this is a sequence issue.

Below is the client code. `languageClient.onReady()` is resolved once the client received `initialize` response for `initialize` request.
[code]

In server code (see [`InitHandler.java`](ht

[2019-09-09 11:22] esr360 commented on #634
Please fix this, it's very frustrating having my text editor create random files for me polluting my source control information - this is going to cause me to accidentally commit rogue files. Very dangerous, why does this happen?

[2019-09-09 11:41] snjeza commented on #634
@esr360 could you provide a project example (or the  .project, .classpath, pom.xml, build.gradle files)?

[2019-09-09 12:23] esr360 commented on #634
@snjeza I'm not too sure exactly what you're after but within my project I can see a `pom.xml` file with these contents: https://gist.github.com/esr360/b03fc562102f49d1a696bf520d83fb16

It should be noted I only write CSS - I have no interest in Java, whilst I would love a separate front-end repo for my project it is not the case, so [seeing this](https://i.imgur.com/nT0tZCOl.png) makes me extreme

[2019-09-09 13:11] snjeza commented on #634
You can add the following property to your settings.json:

[code]
- remove the .project, .classpath files and the .settings directory
- call Java : Clean the Java language server workspace

[2019-09-09 14:14] fbricon commented on #1002
@NikolasKomonen  I can't remember other cases of Javadoc using tables, but since this @bonaluo's case is fixed, let's close this issue. Thanks!

[2019-09-09 14:14] #1002 closed

[2019-09-09 14:15] fbricon commented on #1055
Closing as a duplicate of #649

[2019-09-09 14:15] #1055 closed

[2019-09-09 14:21] fbricon commented on #1046
Issue should be fixed downstream: https://github.com/jdneo/vscode-checkstyle/issues/224

[2019-09-09 14:21] #1046 closed

[2019-09-09 16:51] #1056 closed

[2019-09-09 18:39] esr360 commented on #634
@snjeza cheers for that. I'd prefer to see this be an opt-in feature - this has happened to me on at least two totally separate projects (in two different countries) so I find it difficult to believe there is good justification to having it enabled by default, unless my circumstances are just extremely unfortunate.

[2019-09-10 20:51] friederbluemle commented on #618
Without knowing the details, is it possible to somehow fix the _root cause_ (i.e. the part of the code that creates these files/folders in the first place)? I understand it might be an upstream package, or something that is not in direct control of this repository?
Again just asking, since this issue it the one reason I do _not_ install this extension for my vscode.

[2019-09-10 20:59] bgeihsgt commented on #618
Note I tried this plugin and am promptly uninstalling it because of this issue. I don't ever expect VSCode to generate files on my behalf unless it's the result of an explicit action I took (beyond just opening some folders VSCode).

[2019-09-11 05:56] Eskibear commented on #112
I find a case causing to this error. When I have a **Non-ASCII username**, LS fails to find the jar because of the broken filepath:
[code]
See [client.log.2019-09-11.txt](https://github.com/redhat-developer/vscode-java/files/3599174/client.log.2019-09-11.txt) for full client log.

#### vscode specs
[code]

#### ENVs
[code]

[2019-09-11 14:46] shawmanz32na opened #1057 "java.import.maven.enabled setting not honored"
Currently, the `"java.import.maven.enabled":false` setting requires that the **.project**, **.classpath** files and the **.settings** directory be removed and the Java workspace cleaned before taking effect (see https://github.com/redhat-developer/vscode-java/issues/634#issuecomment-529466893). This is clunky and poorly-documented.

Ideally, setting the `"java.import.maven.enabled":false` should i

[2019-09-11 18:16] enfarious commented on #346
It'd be so nice if you could just drop the file in your working folder and:
 right click > add lib to classpath
 ...

[2019-09-12 02:28] ruruiye commented on #177
same here, with gradle google protobuf plugin, the generated folder is no way to recognized

[2019-09-13 10:30] czfadmin opened #1058 "Selecting the content of the suggested smart prompt directly before the existing content will replace the existing content."
When inserting some content before an existing character, if you do not add a space before the existing content, the content selected by using Enter will replace the existing content, which is different from the expected result.

![image](https://user-images.githubusercontent.com/13393959/64830294-6a1bdb80-d602-11e9-90e0-ef67c636f682.gif)

![image2](https://user-images.githubusercontent.com/133939

[2019-09-13 11:19] snjeza commented on #1058
See https://github.com/redhat-developer/vscode-java/issues/1047#issuecomment-526427181

[2019-09-13 18:29] NikolasKomonen commented on #897
One thing to maybe try is to run the 'jps' command (with all IDE's closed)

[code]

and then see if one of the processes that looks like the following
is still running:

[code]

The Java language server process may not have ended and could be causing issues.

[2019-09-14 06:42] JullsP commented on #946
I just switched back to windows 10 and this issue still persist. At first, I was wondering why the language server is taking too long to initialize a basic gradle project, then I saw that it is downloading two gradle wrapper distribution, one in the user home directory (the `GRADLE_USER_HOME`), and the other one is in the local `GRADLE_HOME` directory.

I've wasted hours restarting vscode and sear

[2019-09-14 06:55] czfadmin commented on #1058
I've set this option to False, but it's still going to work out like this.

[2019-09-15 13:22] TheBrenny opened #1061 "Java Code Formatter Inconsistencies (Again...)"
It seems that the extension is ignoring either my formatting profile, doing its own thing, or a combination of both.

Having Eclipse and VSCode open at the same time, using the same profile (afai can tell), both programs format the code differently: Eclipse does it the way I expect, VSCode literally does its own thing...

I thought it was because of the formatter profile version, so I've played ar

[2019-09-16 06:05] anson0370 commented on #992
So is it not possible to use javac instead of ECJ? Many other tools use javac by default such as Intellij IDEA, Jenkins, Maven(These all can be configured to use ECJ but sometimes you are not in control).

[2019-09-16 12:42] phhoef opened #1062 "JAVA_HOME is not pointing to a JDK."
[provide a description of the issue]

##### Environment
- Operating System: macOS Mojave

- JDK version: OpenJDK 11.4
- Visual Studio Code version: 1.38.1
- Java extension version: 0.48.0

##### Steps To Reproduce
1. Opening Java Project

##### Current Result
After opening a Java project, the configure window pops up and shows, that the `JAVA_HOME` is set, but it's not pointing to a JDK.
<img widt

[2019-09-16 14:59] BernardoMG commented on #618
Any update on this issue?

[2019-09-16 15:14] #710 closed

[2019-09-17 00:18] ThadHouse opened #1063 "Move deprecated classes lower down in the import order list"
Our users are getting confused, because over the past few years we have been repackaging our classes to enable modules, but deprecating classes in the original package.  These classes, depending on the package, show up higher in the list of selectable imports and causes confusion to our users. It would be nice if deprecated classes would be moved to the bottom of the list. Or maybe an option to ma

[2019-09-17 06:17] phhoef commented on #1062
I installed OpenJDK 11 via Homebrew.
`javac` exists in the `bin` directory.
[code]
[code]

I can call `java` or `javac from iTerm (zsh) without any problems.
Maven does also recognize the JDK. It seems that it's just VScode that does not work.

I also tried setting the `java.home` property in the user settings of VScode.
Then, the path is shown in the overview, but again it says the path is `inval

[2019-09-17 07:01] Eskibear commented on #1062
I thought it was Homebrew issue, (e.g. privileges etc.), then I just reinstalled my OpenJDK11 via Homebrew, and it still works.

In your case, now all I can see is: you do have `bin/javac` under JAVA_HOME but the test `pathExists.sync(path.resolve(javaHome, 'bin', JAVAC_FILENAME)` fails, for both [vscode-java](https://github.com/redhat-developer/vscode-java/blob/aaef6e8b0bc0a21c0dc4c060a30953e4646

[2019-09-17 07:33] phhoef commented on #1062
hmm, that's weird.
Is it possible, to easily debug the mentioned lines?

Maybe it's still a problem with permissions?
[code]
I did't changed the permissions for these folders, but I had installed Oracle JDK before.
I removed it yesterday and switched to OpenJDK.

[2019-09-17 07:53] #1007 closed

[2019-09-17 08:42] Eskibear commented on #1062
The permission looks good.
Is it possible that the VSCode process still has the out-dated JAVA_HOME which is pointing to your deleted OracleJDK? You can have a try to fully quit the VSCode via `cmd + q`, and restart VS Code from a terminal where `JAVA_HOME` has the correct value. (The `java.home` setting has the highest priority, if a valid java.home setting also fails as you mentioned above, then

[2019-09-17 09:13] phhoef commented on #1062
I tried to open another Java project and it seems that with this project the JDK can be found - at least the messages are not popping up.

I closed VScode and opened the first project: Again the same error.
<img width="2008" alt="Bildschirmfoto 2019-09-17 um 11 05 54" src="https://user-images.githubusercontent.com/32458104/65027823-4d054680-d93b-11e9-935d-ce2920fc28f3.png">
The error box pops up,

[2019-09-17 09:40] #553 closed

[2019-09-17 13:04] snjeza commented on #1063
You can try to use the java.completion.importOrder property.

[2019-09-17 14:46] Eskibear commented on #1062
@phhoef I guess you did set the wrong JAVA_HOME, by appending an extra whitespace.

From the bottom-left error box in your screenshot, you can see there is a whitespace before `)`, and check the [source code](https://github.com/redhat-developer/vscode-java/blob/aaef6e8b0bc0a21c0dc4c060a30953e4646efa3a/src/requirements.ts#L56), it must be from  your JAVA_HOME.

Back to compare the original screensh

[2019-09-17 14:55] phhoef commented on #1062
True, that could be the problem.
Actually, I didn't set the `JAVA_HOME` by myself, but Homebrew did it for me during `cask install`.

It still feels strange. I didn't change the `JAVA_HOME`, just opened VSCode through the terminal and then it started working.

Anyhow, I think it's found now, except when I open the `pom.xml` from the project.
The message box in the lower right corner pops up showin

[2019-09-17 16:55] #634 closed

[2019-09-17 16:57] fbricon commented on #634
We've pushed a tentative fix that should help prevent copying the content of the workspace to the bin/ directory when users delete .classpath. Let's see how it works in the real world, once vscode-java 0.49.0 is out (soon)

[2019-09-17 19:26] imankur85 opened #1064 "Java Intellisense/autocomplete slow/not working"
Issue Type: <b>Bug</b>

After a brief period of working, the Java intellisense either stops working or takes a lot of time to load suggestions.

Extension version: 0.48.0
VS Code version: Code 1.38.1 (b37e54c98e1a74ba89e03073e5a3761284e3ffb0, 2019-09-11T13:35:15.005Z)
OS version: Windows_NT x64 10.0.18362

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-

[2019-09-17 20:08] snjeza commented on #1064
Could you enable Java LS tracing and attach the logs from the output view (Java Language server)?
See https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#turn-on-message-tracing-between-vs-code-and-the-java-language-server

Does the issue occur when all other extensions are disabled?

[2019-09-18 01:30] testforstephen commented on #553
Finally we decided to leverage the hover to expose the link to jump to the super implementation.

![image](https://user-images.githubusercontent.com/14052197/65011505-4cbe7880-d946-11e9-910a-6615653e66df.png)

[2019-09-18 04:05] james-sullivan commented on #274
<img width="563" alt="Annotation 2019-09-17 225947" src="https://user-images.githubusercontent.com/5818514/65110771-13febd80-d99f-11e9-948f-06e26e44fdc0.png">
I'm having a similar problem. Seemingly at random it just stops recognizing the packages. I tried reinstalling VS Code and the extensions, but it is still problem

[2019-09-18 06:28] StEvUgnIn opened #1065 "Extension does not support Whitesmiths Indented Braces"
Whitesmith's formatting style is not fully supported on my configuration. Try exporting Eclipse's default configuration to ``eclipse-formatter.xml`` inside workspace. Configured ``settings.json`` with ``"java.format.settings.profile": "Whitesmiths"`` and profile's ``name``.

##### Environment
- Operating System: Microsoft Windows [version 10.0.17134.950]
- JDK version: java version "11.0.2" 2019-0

[2019-09-18 08:43] akosyakov opened #1066 "Consider to use `vscode.env.appName` instead of hardcoding `VS Code` in code"
It is confusing when we run it in Theia.

[2019-09-18 08:45] akosyakov commented on #1066
@fbricon let me know if you are opened to a PR

[2019-09-18 08:56] fbricon commented on #1066
Sure go ahead

[2019-09-18 09:47] #1066 closed

[2019-09-18 10:51] maxandersen opened #1068 "Add Rename refactoring to quick fix"
Right now when I open quickfix (cmd+.) it always suggests "Move..." and in what feels like 95% of the cases it always errors with "this method cannot be moved, since no possible targets have been..".

On the other hand Rename Symbol works and is more often used but by default is on F2 (a key I don't have available majority of the time) - but it is never shown in Quick Fix menu.

I think it would b

[2019-09-19 06:45] bmd080 commented on #112
reinstall this plugin solved my problem
https://marketplace.visualstudio.com/items?itemName=GabrielBB.vscode-lombok

[2019-09-19 12:47] gitorko opened #1069 "High Cpu utilization in vscode build 1.38.1"
Version: 1.38.1
Commit: b37e54c98e1a74ba89e03073e5a3761284e3ffb0
Date: 2019-09-11T13:30:08.229Z
Electron: 4.2.10
Chrome: 69.0.3497.128
Node.js: 10.11.0
V8: 6.9.427.31-electron.0
OS: Linux x64 5.0.0-27-generic

After upgrading to 1.38.1 i have started noticing high cpu utilization when using vscode. The top process consuming 90% CPU is the java process. This happens occasionally and havent been abl

[2019-09-19 12:53] fbricon commented on #1069
Can you reproduce the problem after disabling all other extensions?

[2019-09-20 13:09] rustyx commented on #191
@gorkem is this feature on a to-do list? It would help immensely to have `.iml` files recognized and imported, at least the parts related to the classpath.
A good example project to try is [Selenium](https://github.com/SeleniumHQ/selenium).

[2019-09-21 01:48] TeeHeeIndustries opened #1070 "java.home Variable Cannot be Relative"
I need to be able to use a relative path when specifying my jdk because I am making a USB version of visual studio that can be used on any computer. If that USB is in the E: (or any other) drive instead of the regular D: we’d have to manually change the path. The python module was able to use a combination of “..\\..\\” (Example below) to navigate to the relative location of python.exe. Is there a

[2019-09-21 08:20] mkkhedawat opened #1071 "Running Spring boot application via launch.json prints classpath and exits"
##### Environment
- Operating System: MAC OSX
- JDK version: 11
- Visual Studio Code version: 1.36.1
- Java extension version: latest

##### Steps To Reproduce
1. Create a new spring-boot project via JAVA: Overview
2. Go to Main.java and run the application

##### Current Result
Running the application via Gradle works fine but not via clicking run link in Main.java

##### Expected Result

Running

[2019-09-22 06:57] ymyh opened #1072 "autocomplete didn't show all public method when coding Java swing"
[provide a description of the issue]

##### Environment
- Operating System: win10 1909
- JDK version: 1.8
- Visual Studio Code version: 1.38.1
- Java extension version: latest

didn't show more item inside awt.
![image](https://user-images.githubusercontent.com/42105828/65383388-95f83900-dd47-11e9-866a-84775aae011a.png)

didn't show actionListener even I  import java.awt.event.* manually.
![image]

[2019-09-22 07:53] manastalukdar opened #1073 "JDK 13 support for Gradle"
Just updated to JDK13. None of the java imports and primitives are recognized. Any known issues with JKD13? Cleaned language server workspace with the same result.

![image](https://user-images.githubusercontent.com/2075466/65384116-34968280-dcd3-11e9-8b6e-e91c4ea86720.png)

##### Environment
- Operating System: Windows 10 x64
- JDK version: 13
- Visual Studio Code version: 1.39.0 (Insiders)
- Jav

[2019-09-22 07:59] fbricon commented on #1072
This is due to java.awt.* packages now being excluded from autocompletion/import by default (See #710).
Simply remove java.awt.* from the list of excluded packages in `java.completion.filteredTypes` in your settings.json.

[2019-09-22 08:03] #1072 closed

[2019-09-22 08:03] fbricon commented on #1073
JDK 13 support has not been released yet. You can start vscode-java with it but can't compile against it. You can use the latest CI build (0.50.0.*) available from https://download.jboss.org/jbosstools/jdt.ls/staging/?C=M;O=D
See https://twitter.com/VSCodeJava/status/1174738189304651776

[2019-09-22 08:09] fbricon commented on #1071
vscode-java itself doesn't provide support for running the code. Please report this issue in https://github.com/microsoft/vscode-java-debug/issues

[2019-09-22 08:09] #1071 closed

[2019-09-22 08:18] fbricon commented on #1065
Works for me using "java.format.settings.url": "https://gist.githubusercontent.com/StEvUgnIn/2f89559b8aada966817fe95f48c54544/raw/dd11e6fb936dcc35d1590e6ee19fe439971ecd7d/eclipse-formatter.xml", even without specifying the profile.
<img width="582" alt="Screen Shot 2019-09-22 at 10 17 03 AM" src="https://user-images.githubusercontent.com/148698/65384401-36d3fd80-dd22-11e9-9ff9-9c381b38ab21.png">

[2019-09-22 09:29] manastalukdar commented on #1073
@fbricon Thanks for the latest CI link. It works, except with jnuit: (Repo [here](https://github.com/manastalukdar/learning-computer-science))

![image](https://user-images.githubusercontent.com/2075466/65385199-98737800-dce0-11e9-95db-0a57c978ef53.png)

If and when there is a fix, I will be happy to test it out.

[2019-09-22 10:23] fbricon commented on #1073
Please provide a sample project reproducing this issue. It should just work if junit Jupiter is on the classpath.

[2019-09-22 19:03] manastalukdar commented on #1073
Here is a sample repro project: https://github.com/manastalukdar/dummy-java

[2019-09-22 19:15] StEvUgnIn commented on #1065
[code]

I confirm this works great! For using eclipse-formatter.xml, ensure its location is found inside the workspace folder and that you defined this property to the wanted profile in your settings.json:
[code]

[2019-09-22 19:16] #1065 closed

[2019-09-23 02:35] Eskibear opened #1074 "Move... refactoring everywhere"
When my cursor stays on any non-empty line, there's always a yellow bulb containing "Move..." refactoring action for current method.

![mov](https://user-images.githubusercontent.com/2351748/65398924-8da60980-ddec-11e9-8ec8-9a951410631b.gif)

For me, it's a little bit noisy, and it would be better if it:
- a) Shows "Move..." **only** under "Refactor..."
or
- b) Shows "Move..." **only** when cursor

[2019-09-23 02:39] Eskibear commented on #1074
And it's also reported in #1068 that it somehow brings a little bit noise instead of help.

[2019-09-23 03:04] Eskibear commented on #1068
For me, I think it's intuitive to use <kbd>F2</kbd> or the separate "Rename Symbol" entry in context menu. And it's a cross-language convention in VSCode. See https://code.visualstudio.com/docs/editor/refactoring#_refactoring-actions. And I think the number of entries for Renaming is enough. Just like the "Move...", imagine whenever your cursor stays on a variable, you have a bulb containing "Rena

[2019-09-23 08:20] maxandersen commented on #1068
F2 doesn't exist on most laptop keyboards (which sucks - but that’s reality) so its kinda blocked off from easy access. I'm not talking about removing F2 just talking about enabling quick fix to actually include one of the most useful quick fixes/refactoring available.

Right now Move shows up *everywhere* and it is way less useful than Rename - at least for me :)

Having a bulb with rename symbol

[2019-09-23 08:21] maxandersen commented on #1074
+100 on making this operation show up when its most likely possible (when put on proper symbols) rather than show up always.

[2019-09-23 09:01] fbricon opened #1075 "Automatically trigger auto-import of paste"
When pasting some code snippets into an empty class file, it'd be nice if auto-import was triggered automatically. I'm not sure vscode exposes APIs to hook into the paste action. It looks like other extensions do it in a very hacky way (hijack the general paste command).
Anyways, I thought it could be an interesting feature.
@snjeza could please look into it and report about potential implementati

[2019-09-23 15:54] agolomoodysaada opened #1076 "Hide build files"
Every time I open a java project, I end up with the following file changes. Am I expected to update the gitignore of every new project with the below paths?

[code]

##### Environment
- Operating System: macOS
- JDK version: 11
- Visual Studio Code version: 1.38.1
- Java extension version: 0.49.0

##### Steps To Reproduce
1. Install extension
2. Open java project
3. Run `git status`

##### Current

[2019-09-23 16:39] NikolasKomonen commented on #1075
Somewhat related issue: https://github.com/microsoft/vscode/issues/66236

[2019-09-24 03:31] akaroml commented on #1044
Yes, any JDK of version 8+ is ok for vscode-java to run. Just make sure you have it installed and your JAVA_HOME is pointing to it.

To help you set up the whole thing, you can run the command "Java: Configure Java Runtime" in VS Code to show the wizard.

[2019-09-24 07:58] fbricon commented on #1073
So the problem seems to be coming from the Gradle integration with Eclipse. Not sure this is Gradle itself or [Buildship](https://github.com/eclipse/buildship). In Eclipse, even with the latest Gradle 6.0 CI build, when the project is imported, the Java environment is set to JavaSE-11 instead of JavaSE-13. @donat whose fault is that?

[2019-09-24 17:22] harjoben opened #1077 "Intellisense throwing ArrayIndexOutOfBoundsException"
For some reason Intellisense just stopped working for one of the Java files in my workspace.

When I looked at the Java language server log file, I saw this exception:

[code]

##### Environment
- Operating System: Fedora 28
- JDK version: 1.8.0
- Visual Studio Code version: 1.38.1
- Java extension version: 0.49.0

[2019-09-24 21:06] AmineZAMANI commented on #495
Just verify that you already added the tag <package>jar</package> to your pom.xml

[2019-09-25 06:41] zhangqiannh opened #1078 "JVM is always running."
[provide a description of the issue]

##### Environment
- Operating System: Win10
- JDK version:jdk1.8.0_162
- Visual Studio Code version:1.38.1
- Java extension version:
Java Extension Pack 0.8.0
Language Support for Java(TM) by Red Hat redhat.java 0.49.0

##### Steps To Reproduce
When I open a maven project, tips tell me a starting a Java language Server.
I think it's compiling，so JVM starts.
bu

[2019-09-25 14:13] fbricon commented on #774
@NikolasKomonen please look into this one

[2019-09-25 14:56] gombosg commented on #177
Same here with auto-generated [jooq](https://www.jooq.org/) sources. Manually editing `.classpath` worked - but who knows how long this will last.

[2019-09-25 18:23] manastalukdar commented on #1073
@fbricon Is there any workaround for the time being? Perhaps something I could manually edit in some metadata file...

[2019-09-26 01:33] Eskibear commented on #1078
Refer to [LSP](https://microsoft.github.io/language-server-protocol/), it is not a compiler.

[2019-09-26 09:56] donat commented on #1073
The Buildship-side seems fine to me. I've imported the [sample project above](https://github.com/redhat-developer/vscode-java/issues/1073#issuecomment-533908556) (with Gradle 5.6.2, Buildship 3.1.2, Eclipse 2019-09 containing Java 13 support from the Marketplace). When I set the `sourceCompatibility` and the `targetCompatibility` to `1.13`, then the Gradle synchronization set the expected JRE.

<i

[2019-09-26 10:03] fbricon commented on #1073
@donat you mean you switched from 13 to 1.13? Your screenshot shows 13 in build.gradle

[2019-09-26 11:11] donat commented on #1073
I meant `13`. I've edited my response above. Sorry about the confusion.

[2019-09-26 12:48] fbricon commented on #1073
Ok it works if I move the sourceCompatibility and targetCompatibility properties outside of the compileTestJava block. What I actually did before, which didn't work, was to set those property in a compileJava block:
[code]
@donat looks like this a bug (similar setup is referenced in https://stackoverflow.com/a/28513930), or is that behavior no longer supported by Gradle?

[2019-09-27 09:58] testforstephen commented on #1077
@Eskibear this is related to intelliCode, could you take a look?

[2019-09-27 09:59] fbricon commented on #1077
@testforstephen can you move this issue to the intellicode repo?

[2019-09-27 10:05] testforstephen commented on #1077
sure, moved it to issue https://github.com/MicrosoftDocs/intellicode/issues/129

[2019-09-27 10:05] #1077 closed

[2019-09-27 13:08] fbricon commented on #1078
the Java process is running in the background to provide linting, compilation, general Java tooling support when in vscode. It's totally expected it keeps running while once activated in vscode, until vscode itself is closed.

[2019-09-27 13:08] #1078 closed

[2019-09-27 13:12] fbricon commented on #1076
for now, yes. In the future, we might automatically add those settings to .gitignore, if we detect this is a git project.

[2019-09-27 13:36] mapio commented on #801
I'm afraid that here we are again with JDK13

[2019-09-27 15:29] agolomoodysaada commented on #1076
Is there anyway this metadata can be moved out to say a `/tmp` directory?

[2019-09-27 17:45] yaohaizh commented on #801
@testforstephen

[2019-09-28 16:39] RanjithKumarPeddala commented on #868
Thanks dude @Santiagoarego

[2019-09-28 19:32] andreehai1011 opened #1080 "Git bash failed to execute Run/debug when Window username have blank space"
##### Environment
- Operating System: Window 7
- JDK version: AdoptOpenJDK 8.0.222.10
- Visual Studio Code version: 1.38.1
- Java extension version: 0.49.0

##### Steps To Reproduce
1. Use git bash as defaut integrated shell
2. Execute run or debug via hover menu.

##### Current Result
[code]

[2019-09-28 19:39] #1080 closed

[2019-09-29 03:27] banatara commented on #204
Hi Team, I am able to search types based on the java class name or Interface name, but could not list the  types that are with the package. Say example, when I type `ctrl+t` `#sun.rmi.server` it should probably list all the class /Interface or anything with that package. This has been the feature in eclipse already as mentioned by peoples earlier in this thread.

[2019-09-29 10:01] wangshifeng commented on #998
+1

[2019-09-29 12:44] simahao opened #1082 "class and interface snippet"
Hi,i want to know this plugin how to insert class and interface snippets, i cannt find any snippets config in snippets/java.json file, but when you input class or interface, snippet is inserted. thanks.

[2019-09-30 18:09] NikTJ777 opened #1083 "Java import generated by "Quick Fix" is truncated, and damages following lines"
I have recently upgraded to 1.38.1.
I am now getting broken "import" statements inserted when I use the "Quick Fix".

VSCode Version:
Version: 1.38.1
Commit: b37e54c
Date: 2019-09-11T13:31:32.854Z
Electron: 4.2.10
Chrome: 69.0.3497.128
Node.js: 10.11.0
V8: 6.9.427.31-electron.0
OS: Darwin x64 16.7.0

OS Version:
OSX 10.12.6

JDK Version: 1.8.0_151-b12

Java extension: vscjava.vscode-java-pack-0.8.

[2019-10-01 15:19] ImATechnophile commented on #366
Just clean the workspace directory.

You can clean the workspace directory in the following way:

Open the command palette (F1)
select Java: Clean the Java language server workspace
click Restart and delete

[2019-10-02 09:22] fbricon commented on #1082
Those snippets come from the Java Language server (https://github.com/eclipse/eclipse.jdt.ls/). There's no way to contribute to those server side snippets at this time. Maybe this will become possible after we fix https://github.com/eclipse/eclipse.jdt.ls/issues/977.

In the meantime, you can provide your own java snippets by following the instructions at https://code.visualstudio.com/docs/editor/

[2019-10-02 09:27] fbricon commented on #1083
can you reproduce the issue after restarting vscode, after running the  "clean the Java Language server workspace" command?
If that still happens, plean enable verbose logging ("java.trace.server":"verbose") and attach more complete logs

[2019-10-02 09:28] fbricon commented on #1076
no it's not possible. Those files are created by an headless eclipse process, we can't change its behavior.

[2019-10-02 12:24] rr-appadaptive commented on #1062
I have the same problem. I even downloaded the OpenJDK 11 as recommended, installed it, restarted the iMac but nothing helped.
As far as I can see, the error first occurred today (not the days before) and the difference between today and the days before is an update of the "Language Support for Java(TM) by RedHat to version 0.50.0 yesterday.

[2019-10-02 13:59] maxandersen opened #1084 "Include folders to import"
importing quarkus repo I end up with an almost impossible vscode which keeps waiting on maven to refresh on every java related action.

Was suggested to use `java.import.exclusions` to tell which projects to not import.

That’s rather tedious and I was realizing if I could just do `java.import.exclusions=**` and then `java.import.inclusions=integration-tests/maven/*,devtools/*' then I would be goo

[2019-10-02 14:04] fbricon commented on #1084
@maxandersen as usual with that kind of thing, there's always the problem of who takes precedence.
In your exemple java.import.inclusions takes precedence over java.import.exclusions, to a point where it would not even be necessary to define `java.import.exclusions=**`
But then, what if someone needed to include=foo/**, but exclude=foo/bar/** ?

[2019-10-02 19:43] maxandersen commented on #1084
Alternatively adopt the convention/format of things like .gitignore/.dockerignore where a "!" negates the pattern. see https://git-scm.com/docs/gitignore#_pattern_format

Then it would be:
`java.import.exclusions=foo/bar/**,!foo/**`

[2019-10-02 23:51] TinghuiWang opened #1085 "Error: Could not find or load main class"
When running the Java program by clicking "Run" on top of the static main function, it reports "Could not find or load the main class: xxx". However, directly invoking java with the source file works without any error. I tried to use the "Java: Clean the Java Language Server Workspace" command, and error persists.

By looking at the log (, here are two errors reported that may be the cause of the

[2019-10-03 01:59] simahao commented on #1082
thanks for your reply.

[2019-10-03 05:02] rajkundu commented on #1085
I was able to reproduce this problem using your files. I coped the source code into `test/FileIO.java` and created the following file `test/data.txt`:
[code]

I got the same error:
[code]

I first noticed this issue today, after upgrading to the latest version of macOS 10.15 Catalina Beta, Build 19A578c. It was with my own project, and the specific error causing the problem (found in the [VS Code

[2019-10-03 06:45] xCuri0 commented on #1085
@rajkundu Getting same error in Java logs with just a hello world program on Windows 10 x64

[2019-10-03 06:58] xCuri0 opened #1086 "Preview features enabled at an invalid source release level 12, preview can be enabled only at source level 13"
Preview features enabled at an invalid source release level 12, preview can be enabled only at source level 13

##### Environment
- Operating System: Windows 10 x64
- JDK version: tested OpenJDK 11, Oracle JDK 12, Oracle JDK 13
- Visual Studio Code version: 1.38.1 (user setup)
- Java extension version: 0.50

##### Steps To Reproduce
1. Start the program
2. You will get the error

[code]
##### Curr

[2019-10-03 09:55] fbricon commented on #1086
can you try running the "Java: clean the Java language server workspace" command?

[2019-10-03 17:59] gitorko commented on #1069
I am unable to reproduce this now. May be it was some build issue or checkstyle plugin issue. Interestingly i dont see the 'Publishing Diagnostics' message anymore as well.

[2019-10-03 17:59] #1069 closed

[2019-10-03 21:59] manastalukdar commented on #1073
@fbricon The issue still exists with both 0.50 stable and 0.51 CI builds of the language server extension.

[2019-10-04 06:51] #1086 closed

[2019-10-04 13:48] FERViborg opened #1087 "Object update failed"
Issue Type: <b>Bug</b>

1. Declare Integer, String or Boolean variable in code.
2. Debug code.
3. In "VARIABLES" view find variable and try to modiy value.
--> In "OUTPUT" view there is an error message:
Failed to set variable. Reason: java.lang.UnsupportedOperationException: SetVariableRequest: Final field value cannot be changed.
Currently, by using same JDK I can modifiy value in eclipse.

Exte

[2019-10-04 13:50] fbricon commented on #1087
This feature is not provided by vscode-java. Please open a ticket in https://github.com/microsoft/vscode-java-debug/issues

[2019-10-04 13:50] #1087 closed

[2019-10-04 13:52] fbricon commented on #1085
Guys, please try the latest CI build of vscode-java 0.51.0 : https://download.jboss.org/jbosstools/jdt.ls/staging/?C=M;O=D

[2019-10-04 15:48] TinghuiWang commented on #1085
I tried the recent build: 0.51.0-1828.vsix. By cleaning the Java language server workspace again after installation, I am able to run single file Java program.

[2019-10-04 16:01] fbricon commented on #1085
Closing as duplicate of #1086

[2019-10-04 16:01] #1085 closed

[2019-10-04 17:10] NikolasKomonen opened #1088 "On paste handle wrong package and class name"
After the customized paste feature, #1075, is implemented, look into also adding functionality to

1) Change the old package name to match the new package structure
    eg: `The declared package "foo.bar" does not match the expected package "org.acme"Java(536871240) -> change package declaration to org.acme
`

2) Change the old class name to match the new file name
    eg: `The public type Foo mus

[2019-10-04 19:03] NikolasKomonen commented on #1088
@fbricon As of now this looks like this issue would require custom commands to be able to receive/access the code action edit. Currently, it doesn't seem possible to access the code actions from code and can only be done through the UI.

I'm waiting on a response from the vscode gitter, maybe they will have a solution.

[2019-10-04 21:16] fivesixzero commented on #961
I'm blocked in using VS Code to work with a large project due to lack of AspectJ support that's present in Eclipse and IntelliJ. Refactoring out AspectJ isn't gonna happen, so I'm eager to help get support added to VS Code if at all possible.

If I'm reading the docs right, AspectJ support isn't part of the Eclipse JDT project but it may be coming, if this

[2019-10-04 21:44] fivesixzero commented on #961
AspectJ support is critical for at least some of us that work on AspectJ projects, including folks that use Spring Roo to generate projects.

At first glance it looks like proper AspectJ support is an upstream problem that needs to be solved by the JDT team. But looking deeper it looks like that may not be the case.

The relationship between the JDT, AspectJ, the AJDT, and the Eclipse IDE is delib

[2019-10-06 09:43] 395053994 opened #1089 "Java editing can't format code"
Issue Type: <b>Bug</b>
![java](https://user-images.githubusercontent.com/27546390/66267191-c3bda180-e860-11e9-968e-be0ceff2bc8a.png)

Java editing can't format code

Extension version: 0.50.0
VS Code version: Code - Insiders 1.39.0-insider (c8252b63f547674d2faf361d4181bb76b0b5f81a, 2019-10-04T09:24:45.690Z)
OS version: Windows_NT x64 10.0.18363

<details>
<summary>System Info</summary>

|Item|Valu

[2019-10-07 05:48] anyflow commented on #634
I'm using vscode-java 0.50, but bin directory is still created...

[2019-10-07 14:13] snjeza commented on #634
@anyflow could you provide a project example?

[2019-10-08 11:44] donat commented on #1073
@fbricon This is the expected behavior. Buildship loads the Java versions from the [`eclipse.jdt` block](https://github.com/gradle/gradle/blob/cd2387d466281c7cf5e71ff37b7c4a0ee048a96b/subprojects/ide/src/main/java/org/gradle/plugins/ide/internal/tooling/EclipseModelBuilder.java#L331-L332), which is either explicitly set or defaults to [`project.sourceCompatibility`](https://docs.gradle.org/current

[2019-10-08 20:17] drhelius commented on #851
I'm hitting this bug. This process goes nuts:

[code]

Disabling [Java Test Runner](https://marketplace.visualstudio.com/items?itemName=vscjava.vscode-java-test), [Java Dependency Viewer](https://marketplace.visualstudio.com/items?itemName=vscjava.vscode-java-dependency) and [Maven for Java](https://marketplace.visualstudio.com/items?itemName=vscjava.vscode-maven), killing the process and restarti

[2019-10-08 23:04] tivrfoa opened #1090 "Consumes 744MB on Ubuntu 18.04"
[provide a description of the issue]
It consumes a lot of memory

##### Environment
- Operating System: Ubuntu 18.04.3
- JDK version: 11.0.4
- Visual Studio Code version: 1.38.1
- Java extension version: 0.50.0 (October 1st, 2019)

##### Steps To Reproduce
1. [step 1]
2. [step 2]

[attach a sample project reproducing the error]
[attach logs](https://github.com/redhat-developer/vscode-java/wiki/Tro

[2019-10-09 08:16] Vigilans commented on #728
Also reproduced when initialized with new operator:
![image](https://user-images.githubusercontent.com/20227484/66463577-ee516980-eaaf-11e9-871e-7cf4e9cbc57b.png)

After new keyword gets removed:
![image](https://user-images.githubusercontent.com/20227484/66463662-1e990800-eab0-11e9-827d-04c0edeb70e6.png)

[2019-10-09 16:49] temidosu commented on #1085
I'm having this issue as well

[2019-10-09 17:59] temidosu commented on #1085
Fixed it by rolling version back to .17 and editing `workspaceStorage\d0c50605d95bc2a2762bb629409903d0\redhat.java\jdt_ws\jdt.ls-java-project\.settings\org.eclipse.jdt.core.prefs` line 1 to `false`

[2019-10-09 20:21] Halfbax commented on #1086
Updating to the latest version helped me. (12.01 to 13 Build 33)

[2019-10-10 01:52] testforstephen commented on #249
@Yanpas i didn't see the "More" switcher in my environment, how did you enable it in completion list?

[2019-10-10 02:08] testforstephen commented on #249
i see, clicking it will expand the java doc at the right side.

[2019-10-10 13:04] hak33m16 commented on #650
There is officially an available call hierarchy view in VS Code now: https://code.visualstudio.com/updates/v1_33#_call-hierarchy

This is a really critical development feature for a lot of people, and for me is probably the major reason that I can't use VS Code as my sole IDE. Any progress towards implementing it would really help consolidate peoples' development toolset.

[2019-10-11 16:21] Krypton17 commented on #531
Any updates or news?

[2019-10-11 17:32] piyushkrmaurya opened #1092 "Openjdk is being treated as invalid JDK on vscode for linux"
Issue Type: <b>Bug</b>

The following error is received on Configure _Java Runtime Extension_ Page of the _Language Support for Java Extension_:

But java commands are working alright in the terminal.

`echo $JAVA_HOME` gives `/usr/share/java/jdk-11.0.4 `
and `java --version` produces this output:

Extension version: 0.50.0
VS Code version: Code 1.39.1
OS version: Linux x64 5.0.0-31-generic snap

[2019-10-11 17:56] snjeza commented on #1092
@piyushkrmaurya could you attach your settings.json?

[2019-10-11 18:02] piyushkrmaurya commented on #1092
Here is my settings.json
{
    "java.configuration.updateBuildConfiguration": "interactive",
    "java.home": "/usr/share/java/jdk-11.0.4",
    "java.completion.enabled": true
}

[2019-10-11 18:03] fbricon commented on #1092
@piyushkrmaurya did you install vscode via flatpak? If that's the case then you should look into https://github.com/redhat-developer/vscode-java/issues/510#issuecomment-462567417

[2019-10-11 18:05] piyushkrmaurya commented on #1092
No I did not use flatpak.

[2019-10-11 19:53] snjeza commented on #1092
@piyushkrmaurya could you send the output of the following command:

[code]

[2019-10-12 22:48] bgladosd opened #1093 "is it a way to show all method suggestion"
![image](https://user-images.githubusercontent.com/19308825/66709642-251ecc80-ed9b-11e9-8155-7784f8c95c28.png)

why the code suggestion above seems to be covering most of the frame.set functions but no frame.setSize();?

and at line 6 i type it manually and it seems to be knowing what method it is

[2019-10-13 13:00] #1082 closed

[2019-10-13 19:36] snjeza commented on #1093
@bgladosd could you try the following property:

[code]

[2019-10-13 19:51] sandeepamilineni opened #1094 "Java Dependencies not showing projects"
[provide a description of the issue]

##### Environment
JAVA_VERSION="1.8.0_201"
OS_VERSION="5.2"
OS_ARCH="amd64"
VSCODE Version: 1.39.1 (user setup)
Commit: 88f15d17dca836346e787762685a40bb5cce75a8
Date: 2019-10-10T23:31:28.683Z
Electron: 4.2.10
Chrome: 69.0.3497.128
Node.js: 10.11.0
V8: 6.9.427.31-electron.0
OS: Windows_NT x64 10.0.17763

##### Steps To Reproduce

1. Install Java extension pack

[2019-10-13 21:09] gdoenlen opened #1095 ""Add throws declaration" formats entire file"
When you use the "Add throws declaration" it formats the entire file instead of just adding the throws clause to the current function.

##### Environment
- Operating System: Windows 10
- JDK version: openjdk 11.0.4 2019-07-16
- Visual Studio Code version: 1.38.1
- Java extension version: 0.50.0

##### Steps To Reproduce
1.  Create a java file start writing some code and have it not match the defau

[2019-10-14 01:10] testforstephen commented on #1094
Move it to https://github.com/microsoft/vscode-java-dependency/issues/189

[2019-10-14 01:10] #1094 closed

[2019-10-14 11:05] spvessel opened #1096 "Suggestions for java.awt not working"
Suggestions for the entire JAVA AWT library do not work:
Color:
![color](https://user-images.githubusercontent.com/45689928/66746658-1b749200-ee8b-11e9-969a-35b9dd100862.png)

Image:
![image](https://user-images.githubusercontent.com/45689928/66746686-2b8c7180-ee8b-11e9-877b-891ca9a7dd24.png)

Font:
![font](https://user-images.githubusercontent.com/45689928/66746704-321ae900-ee8b-11e9-97b4-d9bdda5

[2019-10-14 11:09] snjeza commented on #1096
@spvessel See https://github.com/redhat-developer/vscode-java/issues/1093#issuecomment-541450689

[2019-10-14 11:14] spvessel commented on #1096
Thanks, it works

[2019-10-14 11:14] #1096 closed

[2019-10-14 14:55] fbricon commented on #1075
The new feature is enabled via the `java.actionsOnPaste.organizeImports` preference in vscode preferences. If `true` (the default value), triggers "Organize imports" when java code is pasted into an empty file.

[2019-10-14 15:56] KingDarBoja commented on #1093
@snjeza I will try your solution since I have the same issue whiletrying to display the methdos from some java libraries.

[2019-10-15 02:30] lvxingtu opened #1097 "How can show completion tips in method bracket after previous completion"
[provide a description of the issue]

![Jietu20191015-101834](https://user-images.githubusercontent.com/22794227/66794799-47e4e880-ef35-11e9-986f-6fba10f092c8.gif)

The completion prompt will lost in the automatic completion method bracket. Only I end statement and then move the cursor to the front，the completion prompt reappear. So this behavior doesn't like other ide tools. Is there some configu

[2019-10-15 05:08] Prasad-Chaudhari commented on #937
Even I am facing this issue.

[2019-10-15 09:47] fbricon commented on #1097
When inserting the snippet, you're in "snippet mode", that'd allow you to cycle through potential placeholders with tab. In that mode, completion request are not issued (this is a VS Code thing, not us). Hit `Esc`, to exit the snippet mode, you should be able to get completions again.

[2019-10-15 09:49] fbricon commented on #1097
... or it might just be that the server is to slow to return completions

[2019-10-15 09:54] fbricon commented on #1093
Closing as it's working as expected, `java.completion.filteredTypes` preference needs to be changed to support java.awt..*

[2019-10-15 09:54] #1093 closed

[2019-10-15 11:35] lvxingtu commented on #1097
@fbricon Thank you.  Hit Esc, it's work for me. But I use vim in vscode, so maybe I should look for other ways.

[2019-10-15 11:36] #1097 closed

[2019-10-16 04:43] Eskibear commented on #1097
@lvxingtu Open command palette, "Trigger Suggest".  By default the shortcut is `ctrl + space`

[2019-10-16 06:36] bgladosd commented on #1093
Thank you!!this really help a lot,this is the best portable java ide to me now

[2019-10-16 07:04] EricZhangzf opened #1098 "Auto-import was not triggered automatically in some cases"
#### Environment
- Operating System: Win/Mac/Linux
- JDK version: 13/12/8
- Visual Studio Code version:1.39.2
- Java extension version:0.51.0

#### Steps To Reproduce
1. Make sure java.actionsOnPaste.organizeImports in settings is true.
2. New Foo.java with codes as below:
[code]

#### Result:
1. If copy the main method to another empty java file
Auto-import was not triggered automatically.
![imag

[2019-10-16 07:11] fbricon commented on #1098
The feature is expected to work when pasting into an empty file. It seems you're trying to paste in a file that already has a class definition, so it's not empty.

Triggering autoimport when pasting in non-empty files might cause some issues eventually, that's why I'd prefer not to enable it at this time.

[2019-10-16 07:37] testforstephen commented on #1098
Copying a method to an existing class is a higher frequency operation, so supporting copying a method is more helpful for me.

[2019-10-16 07:59] fbricon commented on #1098
Fair enough. Let's try it then, I'll mark the feature as experimental.

[2019-10-16 09:33] michalorestes opened #1100 "Syntax Highlighting doesn't work"
[VS Code syntax highlighting does not work for Java files]

##### Environment
- Operating System: WIndows 10
- JDK version: 1.8.0_151
- Visual Studio Code version: 1.39.2
- Java extension version: 0.47

##### Steps To Reproduce
1. Install Java Pack Extension Pack
2. Create .java file

![Capture](https://user-images.githubusercontent.com/28974499/66906940-6bc13080-f000-11e9-86ae-b1053fa19f91.PNG)

[2019-10-16 12:00] #1098 closed

[2019-10-16 13:16] vintprox commented on #690
Bruh. I set following in User Settings
[code]
But it still cannot locate actually installed JDK.

[2019-10-16 14:29] akieling opened #1102 "Stuck on "5% Update project ..." for a long time"
After adding a new Maven dependency to `pom.xml`, a message saying "5% Update project ..." is shown in the status bar and takes a long time to complete. The plugin doesn't react quickly to dependency changes.

##### Environment
- Operating System: Fedora 30
- JDK version: 1.8
- Visual Studio Code version: 1.39.2
- Java extension version: 0.50.0

##### Steps To Reproduce
1. git clone git@github.com

[2019-10-16 15:48] lvxingtu commented on #1097
@Eskibear Thank you. 谢谢

[2019-10-16 16:40] snjeza commented on #1102
I can't reproduce the issue.
@alexkieling Could you provide a log - https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#enable-logging

[2019-10-16 17:14] snjeza commented on #1102
It isn't important.  Could you attach it?

[2019-10-16 17:19] #1084 closed

[2019-10-16 17:37] alexkieling commented on #1102
I've updated the steps to reproduce the issue. It happens when working on an Apache Camel component.

[2019-10-16 18:39] zeen1x opened #1103 "Error NPE DefaultReportingConverter when updating project configuration in a maven project"
Hi, I've been using this extension for a year now and I've recently encountered an issue with it that I can't seem to find a solution for. I get and NPE DefaultReportingConverter when updating the project configuration of any exisiting or new maven project I create. I updated my current version of maven to 3.6.2 as I found online this could be the issue https://issues.apache.org/jira/browse/MNG-66

[2019-10-16 19:22] fbricon commented on #1103
I can't reproduce. Can you attach the effective pom of a project that fails?

[2019-10-16 19:36] zeen1x commented on #1103
Thanks for the reply,

I've added a pom file in the issue description under additionnal informations. Everything builds fine if I do "mvn install" though.

[2019-10-16 20:09] timolehto commented on #757
This PR https://github.com/redhat-developer/vscode-java/pull/1104 should resolve the issue.

[2019-10-16 20:12] snjeza commented on #1103
@zeen1x you can try the following property:

[code]

<YOUR_USERNAME> is your Windows username.

[2019-10-16 20:19] zeen1x commented on #1103
@snjeza Hi, I don't have a directory named .lsp4xml under %userprofile%

[2019-10-16 20:36] snjeza commented on #1103
VS Code XML extension will create it.

[2019-10-16 20:40] zeen1x commented on #1103
@snjeza I manually created the file at C:\Users\{user}.lsp4xml\cache\http\maven.apache.org\maven-v4_0_0.xsd and now the underlined red error is gone. What could cause it to not be able to download this file 'http://maven.apache.org/maven-v4_0_0.xsd' ?

I did a retry for an update project configuration and still have the NPE so it might not be related?

[2019-10-16 20:49] snjeza commented on #1102
@alexkieling could you try to include only required folders/projects. See https://github.com/redhat-developer/vscode-java/issues/1084 and https://github.com/eclipse/eclipse.jdt.ls/pull/1200

[2019-10-16 20:56] snjeza commented on #1103
It is a bug in https://github.com/redhat-developer/vscode-xml

Could you update to JDK 8?

[2019-10-16 21:00] zeen1x commented on #1103
vscode is indeed using jdk 1.8 since it's the oldest supported. However, my JAVA_HOME is set to version 1.7.141

[2019-10-16 21:08] snjeza commented on #1103
You can try the following property:

[code]

[2019-10-16 21:13] zeen1x commented on #1103
@snjeza Humm, I'm not sure what your are asking me to do at this point. This is exactly whats in my settings.json. I have a different setup who is running a newer version

"java.home": "C:\\Program Files\\RedHat\\java-1.8.0-openjdk-1.8.0.212-3"

and still has issues with this file 'http://maven.apache.org/maven-v4_0_0.xsd' download

[2019-10-16 21:19] zeen1x commented on #1103
@snjeza I think I see what you did. The copy paste I made removed the double backslash "\\". If this is what you were asking me to add then this is not the source of the problem.

[2019-10-16 22:03] snjeza commented on #1103
Is there C:\Program Files\RedHat\java-1.8.0-openjdk-1.8.0.212-3\bin\javac.exe ?

[2019-10-17 12:59] alexkieling commented on #1102
I'm not opening the main project, just one of the component projects.

[2019-10-17 13:22] snjeza commented on #1102
What project did you open?

[2019-10-17 13:24] alexkieling commented on #1102
I'm working on a new component [here](https://github.com/apache/camel/pull/3232) but have tested changing the pom of an existing component (camel-http) and the same behavior was seen.

[2019-10-17 13:50] zeen1x commented on #1103
Yes, it has the javac executable.

[2019-10-17 13:52] zeen1x commented on #1103
It did work on the past but something happened. I have an old workspace storage that I can work with but any new dependencies won't download because of this error.

[2019-10-17 15:01] snjeza commented on #1103
Could you try to disable the XML extension?

[2019-10-17 16:54] snjeza commented on #1102
@alexkieling Could you test test the issue using https://raw.githubusercontent.com/snjeza/vscode-test/master/java-0.52.0.vsix?

[2019-10-17 17:14] zeen1x commented on #1103
I disabled the XML extension and still have the NPE

[2019-10-17 17:17] alexkieling commented on #1102
The issue doesn't happen when using the version 0.52.0 you provided.

[2019-10-17 17:41] snjeza commented on #1102
@alexkieling Thanks.
The issue happens because Java LS forcibly updates Snapshots/Releases.
@fbricon I will create  a PR.

[2019-10-18 06:46] meilier opened #1106 "After you type none English 插入"
[provide a description of the issue]

##### Environment
- Operating System:
- JDK version:
- Visual Studio Code version:
- Java extension version:

##### Steps To Reproduce
1. [step 1]
2. [step 2]

[attach a sample project reproducing the error]
[attach logs](https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#enable-logging)

##### Current Result

##### Expected Result

##### Add

[2019-10-18 06:55] meilier commented on #1106
And some other errors have the same circumstance. I need to reopen file. Any help ?

[2019-10-18 13:05] albertosantini opened #1107 "Organize Imports action on multiple files"
I have a lot of import x statements to fix on different files contained in different repositories under the same workspace.

See also https://github.com/redhat-developer/vscode-java/issues/490#issuecomment-401197968 and I didn't find the follow-up, so I open this issue.

@fbricon Am I missing anything? Thanks in advance.

[2019-10-18 13:05] Z3roCoder opened #1108 "Creation of a new Project always uses JDK 8"
[provide a description of the issue]

##### Environment
- Operating System: Windows
- JDK version: 13
- Visual Studio Code version: Latest
- Java extension version: 0.51.0

##### Steps To Reproduce
1. [step 1]
2. [step 2]

[attach a sample project reproducing the error]
Just use the VSCode-Command to create a new project

##### Current Result
Settings:
eclipse.preferences.version=1
org.eclipse.jdt

[2019-10-18 14:07] zeen1x commented on #1108
@Z3roCoder Can you link your settings.json file ?

[2019-10-18 15:16] jmoses-ds opened #1110 ""On paste: organize imports" fires all the time, not just when file is blank"
The "Java > Actions On Paste: Organize Imports" action is triggering on any paste, not just into an empty document, like the help text says.  This is especially annoying as it lead to me fighting with vs-code to add new imports by copy/pasting an existing line and modifying it.  I would copy, paste, the action would trigger and remove the "duplicate" import.

##### Environment
- osx high sierra 10

[2019-10-18 15:19] fbricon commented on #1110
Sorry, the description was not updated to indicate we expanded the feature to all pastes.
You can disable it though

[2019-10-18 15:21] jmoses-ds commented on #1110
Yeah, that's what I did, and then it was fine, but it sure was a weird few minutes until I figured it out. :D

This issue can just be to update the wording then, or closed if there's another one

[2019-10-18 21:08] leonardofel commented on #1098
oh very nice feature, but has a little problem...
![wtf](https://user-images.githubusercontent.com/34713362/67128365-cfe71e80-f1d1-11e9-9e8c-4b8269dcc076.gif)
Is an automatically activated experimental feature really necessary?

[2019-10-18 21:14] Z3roCoder commented on #1108
@zeen1x Where do I find this file? It's not in my workspace

[2019-10-19 22:44] Palidino commented on #1075
Sorry for asking here, but is there a way to enable this just from typing in general? I added a field and got a cannot be resolved error. Normally I would hover and do quick-fix, but I noticed selecting the line, and then copying and pasting the line over itself imports the missing class.

[2019-10-21 05:43] Eskibear commented on #996
Same here for me...

I've been using VSCode to edit Java code for a while, these messages constantly update the status bar as long as I'm typing. The problem is, these messages are providing no help but distracting me from coding.

For the upstream issue, is there any update?
Is it possible to do some improvements on this extension's side, to filter out the distracting messages by default?

[2019-10-21 08:58] #1110 closed

[2019-10-21 09:20] fbricon commented on #1098
@leonardofel can you please open a new ticket?

The best way to expose users to the new feature is to enable it automatically. I reckon this was a bit risky, but since this can be disabled, I'm not too worried. In any case, we'll either fix your problem or backpedal on the enable-by-default bit.

[2019-10-21 09:57] Z3roCoder commented on #1108
Is there any progress on this?

[2019-10-21 12:09] liangjiancang opened #1111 "Not report that two Classes in the same package with same name"
Just as the title says, eclipse will report it.

##### Environment
- Operating System: Windows 10
- JDK version: 1.8.0_161
- Visual Studio Code version: 1.39.2
- Java extension version: 0.51.0

##### Steps To Reproduce

[code]

[code]

##### Current Result
No problem dectected.
Fail to build.

[2019-10-21 13:07] deather opened #1112 "Bug with copy/paste"
Hi,

Since the version 0.51.0 is out, I had strange bugs. Some copy/paste fonctionnality is buggy, like paste with multi-selector or the copy/paste of a line.

## First case

**Steps to reproduce :**
1. Copy a text with ctrl+c
2. Use multiselection
3. Paste the text with ctrl+v

##### Current Result
Paste the text only on the first selection.

##### Expected Result
The text copied should be paste

[2019-10-21 13:29] fbricon commented on #1098
@leonardofel  #1112 was opened about that issue

[2019-10-21 13:31] fbricon commented on #1112
Indeed, this was mentioned in #1098
See:
![](https://user-images.githubusercontent.com/34713362/67128365-cfe71e80-f1d1-11e9-9e8c-4b8269dcc076.gif)

For now you should disable the autoimport on paste feature with
[code]

[2019-10-21 14:00] zeen1x commented on #1108
@Z3roCoder you can find the settings.json file under C:\Users\{YOUR_USER}\AppData\Roaming\Code\User or you can simply hit F1 or Ctrl + Shift + P to open the vscode commands and type in "Preferences: Open Settings (JSON)"

[2019-10-21 14:06] deather commented on #1112
Thanks for the response but this doesn't fix the bug. The only way I found is to downgrade to version 0.50.0.

[2019-10-21 14:12] zeen1x commented on #1103
@fbricon Have you ever seen anything like this before?

[2019-10-21 14:26] fbricon commented on #1103
nope, only saw references in upstream Maven jira. Did you try to clean the Java language server working directory (see in command palette)

[2019-10-21 14:33] zeen1x commented on #1103
Yes I tried.

I did a backup of my workspace storage before doing this so I can still work on old projects with partial maven dependencies loaded. Howerver, if I clean the java language server working directory, it will clean the workspace storage and I will lose the dependencies since it fails to load them.

[2019-10-21 14:40] fbricon commented on #1112
sorry, that was the wrong preference, try `"java.actionsOnPaste.organizeImports": false`

[2019-10-21 14:44] deather commented on #1112
It seems to be ok with this settings :+1:

Really thanks @fbricon

[2019-10-21 15:34] leonardofel commented on #1098
I understand... this bug occurs when I paste during multicursor, anyway thx for the reply, waiting for future fix

[2019-10-21 15:45] Z3roCoder commented on #1108
@zeen1x I have merely set the Java path to the jdk13 folder.
With new projects, all config files keep referencing 1.8/jre-8

I have installed everything freshly after installing jdk13

Is it not automatically supported?

[2019-10-21 15:45] Z3roCoder commented on #1108
I used the installer from the VSCode page.

[2019-10-21 15:53] zeen1x commented on #1108
What does it say if you type in "java -version" in a command prompt ? Is your JAVA_HOME variable set to your JDK13 folder path? You can force vscode to look upon a custom folder for your jdk by adding `"java.home": "C:\\Program Files\\...\\<JDK13 ROOT FOLDER>",` in your settings.json. See if it helps.

[2019-10-21 15:58] fbricon commented on #1108
Sorry but vscode-java has no command to create a new project. This is provided by the [vscode-java-dependency](https://github.com/microsoft/vscode-java-dependency) extension. Please open a bug in https://github.com/microsoft/vscode-java-dependency/issues

[2019-10-21 15:58] #1108 closed

[2019-10-21 16:58] #1112 closed

[2019-10-22 13:12] fbricon commented on #1098
@leonardofel you can install the latest CI build containing the fix, from https://download.jboss.org/jbosstools/jdt.ls/staging/?C=M;O=D

[2019-10-22 13:15] fbricon commented on #1112
@deather you can install the latest CI build containing the fix, from https://download.jboss.org/jbosstools/jdt.ls/staging/?C=M;O=D

[2019-10-22 16:48] zeen1x commented on #1103
I found out by installing the newest version of eclipse that the NPE error was also occuring. In Window >> Preferences >> Maven >> Installations of eclipse I saw it was using version 3.6.1 of maven and that could explain the error I was having. I stumbled upon by configuring the latest version of maven in eclipse on a note that says: Embedded runtime is always used for dependency resolution. After

[2019-10-22 19:55] alexandrudima opened #1115 "Please do not override paste"
Hi, I'm a VS Code developer and we started to notice a number of issues lately regarding paste being broken:
 - https://github.com/microsoft/vscode/issues/83080
 - https://github.com/microsoft/vscode/issues/83063
 - https://github.com/microsoft/vscode/issues/83017
 - https://github.com/microsoft/vscode/issues/83003
 - https://github.com/microsoft/vscode/issues/82850

Please consider removing this

[2019-10-22 20:08] egamma commented on #1115
//fyi @akaroml

[2019-10-22 21:39] fbricon commented on #1115
The bug is fixed, but I'll disable the feature by default for starters, will release an update ASAP.

[2019-10-22 23:21] fbricon commented on #1115
@alexandrudima @akaroml @testforstephen see proposed fix in #1116. I'll cut a release once merged.

[2019-10-23 01:59] #1115 closed

[2019-10-23 08:34] jrieken commented on #1115
@fbricon What are you trying to do on paste? Run formatter or run code actions? The former already exists via `editor.formatOnPaste` and it will call available `DocumentRangeFormattingEditProvider`s, the latter doesn't exists but would be a valid feature request imo (/cc @mjbvz)

[2019-10-23 08:37] fbricon commented on #1115
@jrieken I want to trigger organize import on paste. See https://github.com/microsoft/vscode/issues/43718

[2019-10-23 08:55] jrieken commented on #1115
Thanks - I'll make sure it's on our radar

[2019-10-23 09:09] fbricon commented on #1115
vscode-java 0.52.0 has been released with the fix. The original paste action is no longer overridden. You now need to paste with Ctrl+Shift+v (Cmd+Shift+v on mac) to enjoy the auto import on paste.

[2019-10-23 11:42] ShimonBenYair opened #1117 "Run mvn springboot:run fails – conflict with LSP"
I have a maven java project and sometimes (not always) when I perform a maven build on my project ( the maven build also generates some files..) , the build fails because a conflict with the maven build that the lsp performes. ( The lsp maven build first clean some files and then regenerate them again).

It happens because the initialization of the Java LSP (which triggers a maven call) and the ma

[2019-10-23 12:25] alexandrudima commented on #1115
Thank you for the prompt fix :heart: !

[2019-10-23 12:45] craynic opened #1118 "error with Maven projects with packaging=jar"
Got lint errors with Maven projects with packaging=jar.

##### Environment
- Operating System: Archlinux (latest)
- JDK version: 1.8.0_222 (from Archlinux extra/jre8-openjdk)
- Visual Studio Code version: 1.39.2
- Java extension version: 0.52.0

##### Steps To Reproduce
1. open a folder containing a Maven project with `<packaging>jar</packaging>`

##### Current Result
Give errors in problems:
The

[2019-10-23 12:47] fbricon commented on #1118
Can you please paste the content of your pom.xml?

[2019-10-23 12:52] craynic commented on #1118
[here](https://gist.github.com/craynic/d8b9b97a8ea5d3a47faac507a9f4900b) is the pom.xml

[2019-10-23 15:19] craynic commented on #1118
@fbricon Any idea? The problem seems related to the parent repo. If I remove the parent repo in pom, the editor recognizes the right source folder.

[2019-10-23 16:12] fbricon commented on #1118
can you paste the effective pom?

[2019-10-23 16:29] zeen1x commented on #1103
@fbricon Hi, when do you think do you plan on upgrading Eclipse Maven Integration (m2e) to version 1.13?

[2019-10-23 16:37] snjeza commented on #1117
You can try the following property:

[code]

[2019-10-23 16:43] fbricon commented on #1103
it's been using m2e 1.13.0.20190716-1624 for several releases already

[2019-10-23 16:58] zeen1x commented on #1103
Humm... maven 3.6.2 was released on 2019-08-27 (https://maven.apache.org/docs/history.html) and m2e 1.13 was on 2019-09-18. Pretty sure you don't have the latest maven if you use any m2e released before August 27.

[2019-10-23 17:25] fbricon commented on #1103
right, 3.6.2 is not in the latest m2e release. I'll look into consuming new builds tomorrow

[2019-10-24 06:48] ThomasBiede opened #1119 "Autocomplete not working for attributes of type boolean"
I created a class with a few attributes. After that I wanted to create getters and setters for the attributes. It was working perfectly for every attribute except for the ones which where of the type boolean

##### Environment
- Operating System: Windows 10
- JDK version: 1.8
- Visual Studio Code version: 1.39
- Java extension version: 0.52.0

##### Steps To Reproduce
1. Create a class with a priv

[2019-10-24 06:54] Eskibear commented on #1119
I just reproduced it. It doesn't work for `boolean`, but it does work for `Boolean`.

[2019-10-24 07:24] #1119 closed

[2019-10-24 08:24] craynic commented on #1118
@fbricon [here](https://gist.github.com/craynic/25a86aa433e8059a0c4cb52155dd1903) is the effective pom

[2019-10-24 10:04] lorthirk commented on #177
Hi all. I'm having the same issues this GWT, that generates some classes and puts it in `${project.build.directory}/generated-sources/gwt`. I added the following execution in pom.xml:

[code]

But apparently vscode doesn't add anything in the `.classpath` file.

A working demo can be found at https://github.com/lorthirk/kapua/tree/change-generatedSourcesMaven/console

[2019-10-24 19:23] bangroot opened #1120 "annotationProcessorPaths not firing during compile"
I have a pom.xml that uses `annotationProcessorPaths` on the `maven-compiler-plugin` to process annotations. During a standard `maven compile` the annotations are properly processed, but not during a vs-code build (auto, or forced full/incremental)

##### Environment
- Operating System: MacOS Mojave
- JDK version: GraalVM 19.2.0.1
- Visual Studio Code version: 1.39.2
- Java extension version: 0.52

[2019-10-24 19:24] bangroot commented on #1120
[pom.txt](https://github.com/redhat-developer/vscode-java/files/3769140/pom.txt)

[2019-10-24 19:27] bangroot commented on #1120
I saw the conversation with @graemerocher on #693 that applies to gradle, but basic maven isn't working for me. I can't really move to the apt-maven-plugin.

[2019-10-25 07:32] lorthirk commented on #177
I have a detail that may be important to my case: all the `console` modules that are missing the `target/generated-sources/gwt` in classpath are only compiled in a specific `console` Maven profile. Anyway I tried to add both the `console` profile in every `org.eclipse.m2e.core.prefs` under `.settings` directory, in the `activeProfile` option, and even enabled all the `console` modules with the sta

[2019-10-25 11:31] craynic commented on #1118
Any idea? What else information could I provide?

[2019-10-27 10:21] ShimonBenYair commented on #1117
@snjeza
Thanks for the answer.
But from the documentation it says that this property does the following :
"`Specifies how modifications on build files update the Java classpath/configuration. Supported values are disabled (nothing happens), interactive (asks about updating on every modification), automatic (updating is automatically triggered)."`

How should it then avoid the LSP trigger for the m

[2019-10-27 10:33] fbricon commented on #1117
try `"java.autobuild.enabled": false`

[2019-10-27 10:37] ShimonBenYair commented on #1117
@fbricon

thanks.
But what will be the impact of the property on LSP ?
The LSP functionality on java projects will still work for me ?

[2019-10-27 10:47] sandeepamilineni commented on #107
#1094 and same at [https://github.com/microsoft/vscode-java-dependency/issues/189](url)
Project working on eclipse , but not in VSCODE. more detail in above link.

[2019-10-27 12:56] fbricon commented on #1117
You might see discrepancies between code and diagnostics, until a build is triggered (there's a Java force compilation command that should recover that).

*In my experience* most conflict issues between CLI and IDE builds are caused by the use of the `clean` goal in CLI. I find, that, most of the time, when quickly iterating, running a clean build is not necessary and omitting the `clean` goal is

[2019-10-28 12:02] Win1010 opened #1121 "Error while writing "file name""
[provide a description of the issue]

##### Environment
- Operating System: macOS Catalina 10.15
- JDK version: 13.0.1
- Visual Studio Code version: 1.39.2
- Java extension version: 0.52.0

##### Steps To Reproduce
1. Create a java file
2. Simply try to save the changes you made (check the screenshots for the errors I get)

1. https://pasteboard.co/IE3CgMv.png
2. https://pasteboard.co/IE3Dg55.png

[2019-10-28 12:27] craynic commented on #1118
is there any update?

[2019-10-28 13:03] fbricon commented on #1121
your client log shows "/Users/lori/Desktop/School/Main.java:6: error: error while writing Main: /Main.class: Read-only file"

Now we need to understand why the server is compile into a read-only directory. Can you show the content of the server logs? F1 > Command "Java: Open Java language server log file"

[2019-10-28 13:04] fbricon commented on #1121
I wonder if this is an issue with Catalina. I haven't migrated yet. @jdneo @testforstephen @akaroml have you guys noticed any problems with standalone java files in MacOS Catalina?

[2019-10-28 14:06] openvita commented on #446
Would be nice to have this feature. VSCode for Java rocks !

[2019-10-28 14:10] fbricon commented on #446
@openvita see keymapping in vscode:
<img width="475" alt="Screen Shot 2019-10-28 at 3 09 49 PM" src="https://user-images.githubusercontent.com/148698/67685274-11778680-f995-11e9-8452-8136be906d32.png">

[2019-10-28 14:14] elichyb opened #1122 "Java language server failed to import jar files using relative path in the .classpath file"
##### Environment
- Operating System: windows 10
- JDK version: 1.8
- Visual Studio Code version:1.39.2
- Java extension version: 0.52.0

##### Steps To Reproduce
1. Open vscode in this folder
2. Run java server in vscode
3. Errors appear

Tree directories:
├───cg
│   ├───.settings
│   ├───bin
│   │   ├───.settings
│   │   └───com
│   │       └───foo
│   │           └───bar
│   │               └──

[2019-10-28 14:16] fbricon commented on #1122
@elichyb can you attach your project?

[2019-10-28 14:48] elichyb commented on #1122
I can't share it

[2019-10-28 15:29] snjeza commented on #1122
@elichyb you can try the following:

[code]

instead of

[code]

[2019-10-28 18:29] fbricon commented on #1118
Sorry no update yet. Maybe @snjeza can take a look

[2019-10-28 18:49] Win1010 commented on #1121
[log.zip](https://github.com/redhat-developer/vscode-java/files/3780191/log.zip)

The first log is the one you're looking for (the log file that appeared after the command I entered from here). I also attached another bak_0.log that was in that folder :)

[2019-10-28 20:34] snjeza commented on #1118
@craynic could you try the following:

- remove the .classpath and .project files
- call Ctrl-Shift-P and Java: Clean the Java language server workspace
- click Restart and delete

[2019-10-29 08:08] elichyb commented on #1122
well the .classpath found under folder CG so when I remove the '/' from the start of the lib it look after directory lib inside the CG.

[2019-10-29 08:53] elichyb commented on #1122
My workspace is lodestone directory and I have there several projects CG is one of them....
In eclipse when I open the same workspace all the projects knows to take the junit class from lib directory that found next to them in the workspace but in VSCode it doesn't work the same.

For example:
1. Create Workspace Foo.
2. Create java project bar1 inside Foo and bar2 also inside Foo.
3. Create direc

[2019-10-29 09:12] anthonyvdotbe opened #1123 "Autocompletion with unimported types"
When trying to invoke a static/instance method on an unimported type, VS Code should be more helpful.

##### Environment
- Operating System: Windows_NT x64 10.0.18362
- JDK version: openjdk full version "13.0.1+9"
- Visual Studio Code version: 1.39.2 (user setup)
- Java extension version: 0.52.0

##### Steps To Reproduce
Consider the code snippets below. When invoking code completion after the dot

[2019-10-29 09:16] fbricon commented on #1123
That's an interesting feature, but we might be limited by JDT's capabilities. @snjeza can you please investigate whether this needs fixing upstream JDT or if it's doable from jdt.ls?

[2019-10-29 09:44] elichyb commented on #1122
Here is a simple example:
[foo.zip](https://github.com/redhat-developer/vscode-java/files/3782793/foo.zip)

[2019-10-29 21:25] Win1010 commented on #1121
@fbricon I'm currently updating to Catalina 10.15.1 and will let you know if the same thing happens with that version as well.

[2019-10-29 21:25] astrelsky commented on #1073
So I managed to resolve this locally from the advice here https://github.com/eclipse/eclipse.jdt.ls/issues/1196#issuecomment-544814496

I launched eclipse and waited the usual 20 minutes for it to start. Waited another 20 minutes for it to transition to the welcome screen. Added the snapshot to grab that update and then exited eclipse. I then searched my user directory for 'buildship' and located

[2019-10-29 22:45] fbricon commented on #1073
I'm testing 3.1.3 in jdt.ls builds. Hopefully we should be able to provide a CI build tomorrow

[2019-10-29 23:22] Win1010 commented on #1121
I updated, same thing.
I don't know why but in some of my java files removing this line 'import javax.swing.JOptionPane:' resolves it, I have that line in another file where I don't use JOption pane and it doesn't show that error either in there.

[2019-10-29 23:28] jackroi opened #1124 "Autocompletion deletes the following character"
Autocompletion occasionally deletes the following character.

##### Environment
- Operating System: macOS High Sierra 10.13.6 and Ubuntu 19.10 (probably also Windows 10)
- JDK version: Oracle 13.0.1 and Oracle 12.0.2
- Visual Studio Code version: 1.39.2
- Java extension version: 0.52

##### Steps To Reproduce
I am unable to reproduce this problem consistently. But apparently it happens when I writ

[2019-10-30 01:28] astrelsky opened #1125 "How to specify External Dependency JavaDocs and Source Locations"
I have searched for hours on how to do this and cannot find the correct information or documentation anywhere. I'm trying to specify the sourcepath and javadoc_location values for external java dependencies so that I have the documentation and sources available on hover and "Go To Definition"

Attempting to "Attach Source" result in the following every time:
`The JAR of this class file belongs to

[2019-10-30 02:26] snjeza commented on #1125
You can try the following:

[code]

[2019-10-30 02:35] astrelsky commented on #1125
this is essentially what I was doing. [older build.gradle](https://github.com/astrelsky/Ghidra-Cpp-Class-Analyzer/blob/ce0615035fec307f0f2140da3c705d3f5dab86aa/build.gradle#L40-L54)
The problem is that I have to run `gradle eclipseClasspath` and then vscode just decides to go ahead and overwrite those .classpath changes.

[2019-10-30 02:56] snjeza commented on #1125
If you set build.gradle properly, you can skip this step. Java LS (buildship) will add sources/javadoc.

[2019-10-30 03:43] astrelsky commented on #1125
Oh ok I was confused because running gradle eclipseClasspath generates this massive 779 line .classpath file but when vscode sychronizes the gradle build it gets overwritten and becomes only 19 lines. Everything does appear to work with the small .classpath though. Thank you very much!

[2019-10-30 03:43] #1125 closed

[2019-10-30 15:00] juandiii opened #1126 "Add support format fluent"
[Add support format fluent]

##### Environment
- Operating System: MacOS Catalina, also Windows 10
- JDK version: 8, 11
- Visual Studio Code version: Latest
- Java extension version :

I want support format fluent like:

[code]

Thanks

[2019-10-30 16:47] simonis opened #1127 "Can't edit/navigate standard Java class library files"
This extension doesn't seem to support editing the Java class library files themselves (e.g. java/lang/String.java). When I open such a file, I get a lot of errors starting from the package/import declarations ("The package java.lang conflicts with a package accessible from another module: java.base") up to all the other standard classes which are referenced in the sources ("DeflaterOutputStream c

[2019-10-30 16:51] fbricon commented on #1127
Wow I never even thought about opening the JDK sources directly from vscode-java.
Have you tried using Eclipse? If it works there, then there might be a way to do it from vscode-java too (same underlying engine)

[2019-10-30 19:57] snjeza commented on #1126
@juandiii you can try the following:

[code]

I have created fluent.xml based on https://stackoverflow.com/questions/4172937/how-to-indent-the-fluent-interface-pattern-correctly-with-eclipse?rq=1

[2019-10-30 23:15] simonis commented on #1127
Well, it somehow works in Eclipse, but it requires a considerable amount of manual configuration. See for example:

https://www.eclipsecon.org/europe2019/sessions/developing-openjdk-java-libraries-eclipse-jdt
https://www.eclipsecon.org/sites/default/files/slides/OpenJDKJavaDevWithEclipse.pdf
https://github.com/RealCLanger/OpenJDKEclipseProjects

I thought vscode-java only used the Eclipse Java Com

[2019-10-31 08:50] yxw commented on #667
I started seeing the same issue recently as well.
Cleaning java language server workspace does not fix for me. However, running `mvn eclipse:eclipse`  resolves the problem and that does seem to work for me.

But I don't believe that should actually be required and is kind of a pain to figure it out...

[2019-10-31 13:02] craynic commented on #1118
@snjeza errors remain and nothing changes

[2019-10-31 15:21] snjeza commented on #667
You can try the following:

[code]

@yxw Could you paste the content of your pom.xml?

[2019-11-01 10:03] jnesspro opened #1128 "Javadoc: popup horizontal autosize & scroll"
Can our documentation popup just autosize itself based on content and does not show horizontal scroll?

<img width="652" alt="Screenshot 2019-11-01 at 12 56 09" src="https://user-images.githubusercontent.com/5245360/68017544-07f96180-fca8-11e9-850b-9467cf3b1d5b.png">

[2019-11-02 20:50] SudoNhim commented on #571
Thanks, for me setting the java.home path in settings.json worked.

I wasn't able to get it working from PATH. Is this a bug?

[2019-11-03 20:46] clankill3r opened #1129 "`;` not possible in vmArgs"
good day,

If I use the following vmArgs:

[code]

Then in `public static void premain(String agentArgs, Instrumentation inst) {`

the string `agentArgs` will be `"doeke.application.TestApplication"` instead of the expected `"doeke.application.TestApplication;test"`.

For now I use `:` instead of `;` but since it feels like a bug I thought I report.
In the terminal using `;` works fine so it is re

[2019-11-04 08:37] elichyb commented on #1122
@snjeza do you hava any idea why in eclipse this behavior works and in vsc it doesn't?

[2019-11-04 12:02] liangjiancang opened #1130 "No report for "Resource leak" for all AutoCloseable types"
[code]
Howerver
[code]

[2019-11-04 15:38] snjeza commented on #1122
It doesn't work in Eclipse too.

[2019-11-04 19:59] elichyb commented on #1122
The project that I add here doesn;t work in eclipse but our real project does works this way...
What I added here is only an example...

Is there any way to do workaround to this problem?
Thanks

[2019-11-04 20:16] snjeza commented on #1122
Could you attach your .project and .classpath files?

[2019-11-05 09:47] GabCamarda opened #1131 "Maven import failure caused by error parsing maven-compiler-plugin configuration"
When importing a multi-module maven project on vscode, it fails with this error message:
```The project was not built since its build path is incomplete. Cannot find the class file for java.lang.Object. Fix the build path then try building this project```. This is caused by the `NullPointerException` that can be seen in the logs below.

The project has a parent pom in the root, as well as in each

[2019-11-05 10:08] fbricon commented on #1131
can you please show your maven-compiler-plugin configuration?

[2019-11-05 10:21] GabCamarda commented on #1131
Sure, where would that be?

[2019-11-05 10:23] fbricon commented on #1131
from a terminal, type `mvn help:effective-pom`

[2019-11-05 10:36] GabCamarda commented on #1131
Thanks, it's a very long file and contains some information about my work which I probably shouldn't share. Anything specific you're looking for? I could copy-paste an excerpt.

[2019-11-05 10:37] fbricon commented on #1131
yes the maven-compiler-plugin configuration

[2019-11-05 10:58] GabCamarda commented on #1131
[code]
Does this help?

[2019-11-05 11:25] fbricon commented on #1131
Yes, you have empty `<arg/>` elements in your `<compilerArgs>` configs. Try to remove them, they're useless

[2019-11-05 14:19] GabCamarda commented on #1131
That did it, thank you! Would it be useful if the exception could be caught and display a message instead with a similar solution, as a possible solution? Just seeing a NPE in the logs could be anything for the end user.

[2019-11-05 14:22] kumom opened #1132 "Formatter changes/deletes my code"
I have the following code
[code]

I am keeping all the white spaces here in case they could affect the behavior of the formatter.
With the code above, when I try to save in VS Code (I have turned on formatOnSave), the code becomes
[code]
or
[code]

Actually, the code changes to something slightly different every time I tried to reproduce this problem.
This is certainly not the first time I encount

[2019-11-05 14:36] GabCamarda commented on #1131
It would actually be useful if the LSP could ignore null fields. IntelliJ works fine with the same pom, so I'm assuming they probably ignore it or log a warning?

[2019-11-05 14:43] GabCamarda commented on #1131
Turns out that field is used by TeamCity. It is empty initially but it then gets assigned arguments during build.

[2019-11-05 16:46] snjeza commented on #1124
@jackroi could you try to reproduce the issue without the Visual Studio IntelliCode extension?

[2019-11-06 02:20] testforstephen commented on #1129
@clankill3r Do you mean `vmArgs` in launch.json? That is a [debugger](https://github.com/Microsoft/vscode-java-debug) extension issue.

[2019-11-06 08:19] meydominic commented on #446
I'm on version 0.52 but it's not working:
![image](https://user-images.githubusercontent.com/2743382/68280765-81ad9880-0076-11ea-9fc6-8c8ff25101d3.png)

[2019-11-06 10:55] mddigaetano opened #1133 "No standard documentation on hover"
I can't seem to be able to display documentation on hover for any class, even standard ones.
I've searched online for some settings to specify my javadoc location (/usr/share/doc/java-openjdk) with no success. Thanks for your help

##### Environment
- Operating System: Manjaro 18
- JDK version: 13
- Visual Studio Code version: 1.39.2
- Java extension version: 0.52.0

##### Current Result
The popup

[2019-11-06 11:14] clankill3r commented on #1129
https://github.com/microsoft/vscode-java-debug/issues/707

[2019-11-06 11:14] #1129 closed

[2019-11-06 15:24] lingocoder commented on #881
Hey @brunoborges Thanks for posting your issue. And especially thanks for sharing your sample project. It's a super useful functional test for the upcoming release of my JPMS plugin: [***mrJar***](https://bit.ly/mrJar).

![mr jar brunoborges fx2048 0 a](https://user-images.githubusercontent.com/49788472/68310385-d3224b80-00a7-11ea-9605-2c973186b81f.gif)

Notice there are zero error messages in the

[2019-11-06 22:28] BrandonKi opened #1134 "Issue adding jars to classpath"
I can run this perfectly fine on Eclipse. However when I try to run this in VSCode I get this error.

Exception in thread "main" java.lang.UnsatisfiedLinkError: no lwjgl in java.library.path:

[GameEngine.zip](https://github.com/redhat-developer/vscode-java/files/3816981/GameEngine.zip)

##### Environment
- Operating System: Windows
- JDK version:  13.0.1
- Visual Studio Code version: 1.39.2
- lat

[2019-11-06 23:31] jackroi commented on #1124
I've tried with Visual Studio IntelliCode extension disabled and I've never been able to reproduce the issue, while reactivating the extension it appeared again. I've tried from both macOS 10.13.6 and Ubuntu 19.10.

At this point the problem seems to be related to IntelliCode, somehow the two extensions interfere with each other. What do you think?

As a side note, the issue apparently occurs more

[2019-11-07 10:06] maxandersen opened #1135 "port automatically setup of "remote java debugging" from jboss tools to vscode"
In JBoss Tools we had a few variations on using openjdk's jvm feature of being able to discover running jvms on localhost (or a remote host) and automatically setup a debug launcher.

Would be great to have similar in vscode as I honestly keep forgetting the not so tricky steps of setting up the debugger and I always forget to set the port to the right thing.

https://docs.jboss.org/tools/whatsnew

[2019-11-07 10:21] fbricon commented on #1135
@maxandersen the debugger is developed by Microsoft at https://github.com/microsoft/vscode-java-debug/, so that's where it should happen

[2019-11-07 10:26] maxandersen commented on #1135
ok? then we'll probably need a bit more info on how we did it than me just remembering we had the feature ;) can you help on that ?

[2019-11-07 10:29] fbricon commented on #1135
I wasn't anywhere close to that feature back in the day, but I'm sure @snjeza would be able to help ;-)

[2019-11-07 18:02] snjeza commented on #1133
@mddigaetano could you try to install the openjdk-src or openjdk-doc package? See https://wiki.archlinux.org/index.php/Java#OpenJDK

[2019-11-07 18:09] snjeza commented on #1135
Related issue - https://issues.jboss.org/browse/JBIDE-8548
Related plugins - https://github.com/jbosstools/jbosstools-base/tree/master/common/plugins/org.jboss.tools.common.jdt.debug and https://github.com/jbosstools/jbosstools-base/tree/master/common/plugins/org.jboss.tools.common.jdt.debug.ui

[2019-11-07 20:47] brunoborges commented on #881
Any chance to incorporate your plugin's functionality into vscode-java extension?

[2019-11-08 08:15] mddigaetano commented on #1133
I had already installed openjdk-doc, but adding openjdk-src made it work. Thank you for your help

[2019-11-08 08:15] #1133 closed

[2019-11-08 13:45] codechelon commented on #757
Enabling export plugin for jenv worked for me
`jenv enable-plugin export`

[2019-11-08 16:13] fbricon commented on #1131
Fixed with https://github.com/eclipse/eclipse.jdt.ls/pull/1255

[2019-11-08 16:13] #1131 closed

[2019-11-09 18:58] Mon-ius opened #1136 "java terminal promot error"
Every time I run the java from vscode "Run| Debug" button.

it will give

prompt_ip:8: command not found: networksetup prompt_load:29: command not found: sysctl prompt_load:31: command not found: sysctl prompt_load:44: bad math expression: operand expected at * 0.7'
` following the result.

It looks that it will run the /Library/Java/JavaVirtualMachines/openjdk-11.0.2.jdk/Contents/Home/bin/java -D

[2019-11-09 20:06] PhazonicRidley commented on #63
I am on fedora, and I have it set to
`"java.home": "/usr/lib/jvm/java-11-openjdk-11.0.5.10-0.fc30.x86_64",` and it doesnt want to work for me. Any thoughts?

[2019-11-09 20:49] snjeza commented on #63
@PhazonicRidley you can try the following:

[code]

[2019-11-10 09:56] piyushkrmaurya commented on #1092
[code]

[2019-11-10 13:07] elichyb commented on #1122
We succeed to solve this problem by adding file .classpath in our lib directory and change the container from:
`<classpathentry kind="con" path="org.eclipse.jdt.launching.JRE_CONTAINER"/>`
to
`<classpathentry exported="true" kind="con" path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-1.8"/>
`

[2019-11-10 13:07] #1122 closed

[2019-11-10 13:07] elichyb commented on #1122
See comment above

[2019-11-10 16:07] lingocoder commented on #881
Thanks for coming back to me @brunoborges.

I have thought about doing exactly what you're asking about before. I won't rule it out for *some* point in the future. But I can't commit to exactly when.

Excellent suggestion, though! Thanks :+1:

[2019-11-10 18:53] snjeza commented on #1092
Is /usr/share/java/jdk-11.0.4/ accessible?

[code]

Could you show the entire message?

[2019-11-11 01:35] testforstephen commented on #1136
@Mon-ius  This is related with java debugger extension. Could you open an issue in https://github.com/Microsoft/vscode-java-debug/issues instead?

[2019-11-11 01:35] #1136 closed

[2019-11-11 14:53] rcdailey commented on #579
@fbricon I'm not seeing that suggestion pop up. See screenshot below. It doesn't appear as I type, nor when I press CTRL+SPACE:

![image](https://user-images.githubusercontent.com/1768054/68596370-ba77b400-0460-11ea-80fd-8106b527ab93.png)

[2019-11-11 19:28] robstryker commented on #1135
it's worth noting that a different project (rsp-server) and it's vscode extension (vscode-rsp-ui) kinda have this enabled. You wouldn't need to require any of the o.j.tools.common.jdt.* stuff at all.

What we've done is when someone starts wildfly / eap in the rsp-server, it returns a list of details like command line, environment, working directory, etc. When they start it in debug mode, we also

[2019-11-11 19:29] robstryker commented on #1135
See https://github.com/redhat-developer/vscode-rsp-ui/blob/master/src/debug/javaDebugSession.ts#L36

[2019-11-11 22:53] maxandersen commented on #1135
@robstryker you are getting the debug port info from what exactly ? by using jvm api or based on some other metadata you have about launch ?

if you are using jvm api then that part should be possible to reuse and enable connect debugger for *any* java app running locally and not only wildfly/eap server.

[2019-11-11 23:57] noahsark769 commented on #618
Just throwing my hat into the ring to say that it's really annoying that VSCode generates these files. It's super annoying to have to `git clean -df` them every time, enough to make me not want to use VSCode for Android projects.

[2019-11-12 01:10] 15050050972 opened #1137 "Code result different between "vscode" and "intellij idea""
here is the code, about 3DES encryption
[code]

in `vscode`, the result is

![image](https://user-images.githubusercontent.com/23148429/68580721-e7a08280-04b1-11ea-9461-2eed6d79f07e.png)
[code]

in `intellij idea`, the result is :
![image](https://user-images.githubusercontent.com/23148429/68580773-06067e00-04b2-11ea-8609-6fd193030db8.png)

[code]

I checked the class file, the Main.class in `vsco

[2019-11-12 02:03] snjeza commented on #1137
I  can't reproduce the issue. I have tested VS Code, Eclipse, javac/java cmd line.
The result is the same:
[code]
You could check your JDK.

[2019-11-12 09:54] flying1020 commented on #177
我看不太懂这些英文，但是我大概知道你们应该还没有解决这个问题。如何能像 Intellig Idea 那样智能呢？

[2019-11-12 10:06] #774 closed

[2019-11-12 10:10] flying1020 commented on #177
同时又能保持 vscode 的轻量级，不要像 Intellig Idea 这么臃肿，似乎有点难。

[2019-11-12 10:34] apupier opened #1138 "Build broken on Jenkins The SUID sandbox helper binary was found, but is not configured correctly"
https://dev-platform-jenkins.rhev-ci-vms.eng.rdu2.redhat.com/view/VS%20Code/job/vscode-java_release/1895/

requires upgrade to vscode-test 1.2.3

`[18972:1112/052415.027378:FATAL:setuid_sandbox_host.cc(157)] The SUID sandbox helper binary was found, but is not configured correctly. Rather than run without sandboxing I'm aborting now. You need to make sure that /mnt/hudson_workspace/workspace/vscod

[2019-11-12 10:36] apupier commented on #1138
see https://github.com/microsoft/vscode/issues/84238

[2019-11-12 10:51] #1138 closed

[2019-11-12 10:56] fbricon commented on #1128
It's usually fine when there's just text, but the image breaks everything. Anyways, this is managed by VS Code itself, there's nothing we can do. Please open an issue there. See also https://github.com/microsoft/vscode/issues/29757 for completion

[2019-11-12 10:56] #1128 closed

[2019-11-12 11:03] fbricon commented on #1128
You can probably ask the VS Code team for images to be automatically scaled to the popup dimensions.

[2019-11-12 11:56] Toby-Larone commented on #1137
@15050050972
From the two compiled classes you attached you can see this;
Intellij compiled class:
[code]
Vscode compiled class:
[code]
Note the "A" seems to be read incorrectly so I assume some kind of character encoding issue.

So I opened the files with a hex editor and converted them to UTF-8, the issue becomes clear. Using UTF-8, the vscode compiled file the plate number is `浜珹11113` whereas

[2019-11-12 15:18] snjeza commented on #1137
What JDK do you use?

[2019-11-12 20:10] elifraha commented on #579
This works perfectly

[2019-11-13 02:52] jkryanchou opened #1140 "Is there any method or solution to generate serialversionuid automatically? like IDEA"
[provide a description of the issue]

##### Environment
- Operating System: MacOSX
- JDK version: 1.8
- Visual Studio Code version: 1.40.0
- Java extension version:

##### Steps To Reproduce
1. [step 1]
2. [step 2]

[attach a sample project reproducing the error]
[attach logs](https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#enable-logging)

##### Current Result

##### Expected

[2019-11-13 03:38] snjeza commented on #1140
Yes, it there is.

![serial](https://user-images.githubusercontent.com/388609/68730979-e4e77f80-05ce-11ea-98f0-70278aa3145e.gif)

[2019-11-13 08:07] #1140 closed

[2019-11-13 11:04] GabCamarda commented on #602
This seems to be still an issue, however, fortunately, it doesn't completely hang for me and can continue to use it. Any ideas how to resolve it?

[2019-11-14 00:52] #1103 closed

[2019-11-14 09:30] fbricon commented on #185
@rgrunber brings us hope with his work on JDT shared indexes:
- https://bugs.eclipse.org/bugs/show_bug.cgi?id=515268
- https://rgrunber.fedorapeople.org/jdt-shared-index.mp4

[2019-11-14 09:41] fbricon commented on #1132
I can't reproduce. Can you attach a sample project?

[2019-11-14 09:46] fbricon commented on #1134
Sorry vscode-java isn't responsible for running code. Most likely you want to open a ticket in   https://github.com/microsoft/vscode-java-debug/issues.

cc @testforstephen @Eskibear

[2019-11-14 09:46] #1134 closed

[2019-11-14 09:54] singhalrbl opened #1141 "command 'java.project.create' not found"
[provide a description of the issue]

##### Environment
- Operating System: Windows 10
- JDK version: jdk1.8.0_91
- Visual Studio Code version: 1.36
- Java extension version:

##### Steps To Reproduce
1. install plugin java Extension Pack
2. ctrl+shift+p choose java:create java project

will get error as command 'java.project.create' not found

what to do i am stuck???

[2019-11-14 10:14] fbricon commented on #1141
I'm sorry vscode-java doesn't provide such command. You should open a ticket in https://github.com/microsoft/vscode-java-pack/issues

cc @akaroml

[2019-11-14 10:14] #1141 closed

[2019-11-14 10:25] fbricon commented on #1130
Chances are this is an expected behavior of the JDT compiler. I might be wrong (@jarthana, @rgunber or someone from the JDT team could confirm) but it might be caused by the Writer constructor not being called directly in the current method. Since the instantiation is happening somewhere inside Files.newBufferedWriter, the compiler is not providing a warning here.

[2019-11-14 15:17] robstryker commented on #1135
So the RSP (runtime server protocol) has the choice to run a runtime like wildfly or other in either run mode or debug mode. If it is to be run in debug mode (and it is a java runtime) the RSP in charge of launching that runtime will append the debug flags before launching the java command. SO basically the RSP gets to pick the debug port, and it does this by searching for a free port to use and t

[2019-11-14 15:25] robstryker commented on #1135
Ok after talking to fred it seems I've misunderstood this issue. You're not just looking to connect a remote debugger. You're looking to discover java processes.  Snjezana has found the code that JBT used and listed it above.   The class doing most of the work is here:   https://github.com/jbosstools/jbosstools-base/tree/master/common/plugins/org.jboss.tools.common.jdt.debug/src/org/jboss/tools/co

[2019-11-14 17:51] aadeg commented on #1092
Same problem

[2019-11-15 07:43] testforstephen opened #1142 "Organize Imports doesn't work"
In the latest 0.53.0, "Organize Imports" doesn't work any more. It should be a regression bug.

[2019-11-15 08:18] fbricon commented on #1142
Yeah that's a pretty big regression. Can you provide a fix so that we can release a new version ASAP?

[2019-11-15 08:29] testforstephen commented on #1142
@Eskibear is working on it.

[2019-11-15 08:45] Eskibear commented on #1142
Investigated. Part of the entries are blocked:
- Not Working: trigger "organize imports" from command palette / keyboard shortcut
- Working: trigger from right click -> "Source Action..." -> organize imports

I'm providing a fix for it.

### Root cause
When you trigger "organize imports" from command palette, or keyboard shortcut, the client sends request, thus the `SourceActionProcessor` is not w

[2019-11-15 09:33] #1142 closed

[2019-11-15 10:26] kumom commented on #1132
Sorry what should a sample project contain? I was only editing a single java file to later put it in an online Java compiler...

Strangely I can't reproduce error from the first example as well. But when I tried to type `String ` inside class `C` and saved the file, the `String` I just typed disappeared. I can always reproduce similar buggy behaviors by saving the code when the syntax is wrong.

[2019-11-15 17:41] Limbozombie opened #1143 "how to debug single java file in a project whether other java file build fail or not"
[provide a description of the issue]

##### Environment
- Operating System: windows 10
- JDK version: 1.8.0_191
- Visual Studio Code version:
- Java extension version:

##### Steps To Reproduce
1. [step 1]
2. [step 2]

[attach a sample project reproducing the error]
[attach logs](https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#enable-logging)

##### Current Result

##### Expec

[2019-11-15 18:36] clankill3r opened #1144 "java.error.incomplete.classpath.severity not working"
In the readme there is a description off:

`java.error.incomplete.classpath.severity`.

But in vscode it does nothing:

<img width="423" alt="Screen Shot 2019-11-15 at 19 35 30" src="https://user-images.githubusercontent.com/738650/68966748-1f276b80-07df-11ea-8f8b-1ac8a58df65f.png">

OSX 10.12.6
extension 0.52.0

[2019-11-15 18:38] clankill3r opened #1145 "jump to definition on break"
I think it would be really great if you use "Go to Defenition" on a break that you jump to the while or for loop that will break.

Think about it.

[2019-11-15 18:42] fbricon commented on #1145
Seems reasonable

[2019-11-15 18:47] fbricon commented on #1144
See https://github.com/redhat-developer/vscode-java/wiki/%22Classpath-is-incomplete%22-warning

[2019-11-15 18:54] clankill3r opened #1146 "Disable TODO and other markers in the gutter"
Is there a way to disable those gutter bars for the TODO's and quick fix?

I mean this: (I rotated the images 90 degrees)

<img width="812" alt="Screen Shot 2019-11-15 at 19 46 13" src="https://user-images.githubusercontent.com/738650/68967730-29e30000-07e1-11ea-914b-6d58fffd6cd8.png">

And is there a way to disable the scribble line under the TODO's?

##### Environment
- Operating System: OSX
- J

[2019-11-15 19:01] clankill3r commented on #1144
nevermind, I can't copy text from the extension page from within vscode so I googled the beginning of the error so google would autocomplete. But there where still two typos in it :(

[2019-11-15 19:01] #1144 closed

[2019-11-15 20:53] clankill3r opened #1147 "Suggestions for java.awt not working"
I have seen those 2 topics:
https://github.com/redhat-developer/vscode-java/issues/1096
https://github.com/redhat-developer/vscode-java/issues/1093

About adding:

[code]
But for me that is not working:

<img width="489" alt="Screen Shot 2019-11-15 at 21 44 32" src="https://user-images.githubusercontent.com/738650/68974930-3885e300-07f2-11ea-82c1-3d1a843de5bc.png">

If I type it fully it works:

<

[2019-11-15 21:10] snjeza commented on #1147
Could you try the following:

[code]

[2019-11-15 21:19] slowhog opened #1148 "jdk incubator module cannot be resolved"
Trying to use OpenJDK project Panama's new incubator module for native memory/function access, VSCode shows "The import jdk.incubator cannot be resolved".

![Screen Shot 2019-11-06 at 9 16 32 AM](https://user-images.githubusercontent.com/131787/68976315-60e9ef00-07aa-11ea-9785-fb8bd57d2891.png)

##### Environment
- Operating System: MacOS
- JDK version: Local build of Project Panama (https://openj

[2019-11-15 21:22] clankill3r commented on #1147
Yeah that seems to work. I did `java.awt.*` in the hope of enabling all.
Why is this needed anyway?

Op vr 15 nov. 2019 om 22:10 schreef Snjeza <notifications@github.com>:

[2019-11-15 21:47] snjeza commented on #1147
You may want to take a look at https://github.com/redhat-developer/vscode-java/pull/1059

[2019-11-16 04:36] slowhog commented on #1148
I am wondering if the issue is simply because --add-exports not supported, similar project using internal API via --add-exports in maven got similar error.
<img width="786" alt="Screen Shot 2019-11-15 at 8 32 04 PM" src="https://user-images.githubusercontent.com/131787/68988128-8517f100-07e7-11ea-892a-64917cf8c35b.png">

[2019-11-18 06:05] testforstephen opened #1149 "Provide an editor to open the diagnostics at project level"
Currently when you click an error at project root level in PROBLEMS view, it will throw some error saying `Unable to open 'project': File is a directory.`

![image](https://user-images.githubusercontent.com/14052197/69027419-d0a9e500-0a09-11ea-8e58-dae59d380e06.png)

This error is like a bug. When the problems are showed in the PROBLEMS view, the user will expect to open the resource and able to f

[2019-11-18 06:08] testforstephen commented on #1011
Duplicated with https://github.com/eclipse/eclipse.jdt.ls/issues/1136

[2019-11-18 06:08] #1011 closed

[2019-11-19 01:05] Dj-jom2x opened #1150 "IntelliSense overwrites text when enabling this"

[2019-11-19 08:22] fbricon commented on #1150
See https://github.com/redhat-developer/vscode-java/issues/462#issuecomment-380281525

[2019-11-19 08:22] #1150 closed

[2019-11-19 15:27] dragondove opened #1152 "Problems not updated when I changed the name of the package folder"
Problems panel does not updated after I fix the problems.

##### Environment
- Operating System: WIN 10 1909
- JDK version: adoptopenjdk-openj9 11.0.5-10.1-0.17.0
- Visual Studio Code version: 1.40.1
- Java extension version: 0.53.1

##### Steps To Reproduce
1. rename the package name in java file. (get erros in this step)
2. rename the name of the package folder.
3. update build.gradle to suit th

[2019-11-19 17:17] maiyuyu commented on #107
@leizongmin
try disable the extension "Language Support for Java(TM) by Red Hat";
then restart vscode, the extension will auto enable.

[2019-11-20 17:23] Shivakishore14 commented on #797
Facing the same issue, is there any known workarounds that I could try ?

[2019-11-20 17:53] alexet opened #1154 "Potential security issue"
I think I have found a security issue in this repository. Is there a more secure way of reporting such an issue on this repository?

[2019-11-20 18:00] fbricon commented on #1154
Sorry we haven't setup anything for security issues reporting yet. Can you send me an email directly my github handle @ redhat.com?

[2019-11-20 18:48] snjeza commented on #797
@Shivakishore14 could you provide a project example?

[2019-11-20 19:59] #1152 closed

[2019-11-21 06:01] Eskibear commented on #958
it has been fixed now in 1.40

<img width="506" alt="Screen Shot 2019-11-21 at 2 01 09 PM" src="https://user-images.githubusercontent.com/2351748/69311501-6d1cf300-0c67-11ea-90a6-b363055f8c30.png">

[2019-11-21 07:24] Eskibear commented on #338
<img width="396" alt="Screen Shot 2019-11-21 at 3 23 28 PM" src="https://user-images.githubusercontent.com/2351748/69316038-e53ce600-0c72-11ea-8e07-4c880c16291a.png">

[code]

[2019-11-21 07:50] Eskibear commented on #1019
It works now

<img width="346" alt="Screen Shot 2019-11-21 at 3 49 55 PM" src="https://user-images.githubusercontent.com/2351748/69317752-9b55ff00-0c76-11ea-8a2d-53b8b87b1e05.png">

[2019-11-21 07:58] Eskibear commented on #1048
It's actually duplicate with https://github.com/redhat-developer/vscode-java/issues/728
See https://github.com/microsoft/vscode-java-test/blob/611b16a9882f4316c07ee7b43c8d8e6ba5dec428/java-extension/com.microsoft.java.test.plugin/src/main/java/com/microsoft/java/test/plugin/util/TestSearchUtils.java#L269

And the root cause is https://github.com/atom/language-java/issues/172

[2019-11-21 07:59] lingocoder opened #1155 "Q: Is there a way from my project to programmatically detect that it is in vscode"
I have a situation where a Gradle plugin I'm developing needs to take conditional actions depending on whether or not the project in which my Gradle plugin is applied, is currently being edited inside vscode.

I'm wondering if there might be someway for any random Java code that is part of a project, to programmatically detect that the project is currently opened in vscode.

Maybe something like q

[2019-11-21 08:08] fbricon commented on #958
Closing since this is fixed in latest VS Code

[2019-11-21 08:08] #958 closed

[2019-11-21 08:11] fbricon commented on #1019
Closing since this is fixed in latest VS Code

[2019-11-21 08:11] #1019 closed

[2019-11-21 08:16] fbricon commented on #1155
I have no idea. @donat is there a way for Gradle to detect it's running within Buildship?

[2019-11-21 09:04] tsmaeder commented on #901
@fbricon downloading stuff from fixed locations is a problem in airgapped or disconnected cases. Can we ensure somehow we can override all downloads or make sure required stuff is local already? Like we do for maven repos in the maven config in ~/.m2?

[2019-11-21 09:53] lingocoder commented on #1155
Hey Thanks, fbricon

My apologies if I should have asked this in the Buildship project instead. I guess I figured vscode-java had closer ties to the Java Language Server. I was thinking that closeness might give it some kind of knowledge of what classes and such were in play at any given time.

[2019-11-21 10:13] fbricon commented on #1155
no problem. vscode-java embeds the Java Language Server which embeds Buildship

[2019-11-21 15:41] snjeza commented on #901
@tsmaeder You can try to set the following file - https://services.gradle.org/versions/all
to ~/.tooling/gradle/versions.json

[2019-11-21 16:12] fbricon commented on #901
@snjeza Buildship also has an offline preference, we should expose as a jdt.ls setting too. Can you please look into it?

[2019-11-21 16:29] chinloyal opened #1156 "Initialization failed. Failed to scan [Project Folder]"
The plugin keeps failing when trying to scan a folder in my project it doesn't have access to. Is it possible to exclude folders you don't want to be scanned?

##### Environment
- Operating System: "linux", version: "4.19.79-1-manjaro", arch: "amd64", family: "unix"
- JDK version: 12.0.2
- Visual Studio Code version: 1.38.1, x64
- Java extension version: 0.53.1

##### Steps To Reproduce
1. Create

[2019-11-21 16:32] tsmaeder commented on #901
I don't understand what you mean. Can you rephrase, @snjeza ?

[2019-11-21 17:21] snjeza commented on #901
If there isn't ~/.tooling/gradle/versions.json, Buildship downloads it from https://services.gradle.org/versions/all.

@fbricon it will do it without checking any preferences.
See https://github.com/eclipse/buildship/blob/master/org.eclipse.buildship.core/src/main/java/org/eclipse/buildship/core/internal/util/gradle/PublishedGradleVersions.java#L100 and https://github.com/eclipse/buildship/blob/ma

[2019-11-21 17:33] snjeza commented on #1156
you can try the following:

[code]

[2019-11-21 17:41] snjeza commented on #901
@Eskibear you can try to create C:\Users\<your_username>\.tooling\gradle\versions.json. It can be empty if you don't use Gradle.

[2019-11-21 18:37] snjeza opened #1157 "Add buildship offline mode preference"
Related to #901

[2019-11-21 18:39] snjeza commented on #901
The Buildship Offline Mode preference starts a gradle daemon with the --offline option. See #1157

[2019-11-21 19:55] chinloyal commented on #1156
I had already tried that, but to no avail.

[2019-11-21 20:47] snjeza commented on #1156
[code]

[2019-11-22 02:24] akaroml commented on #346
I think @jdneo @testforstephen are working on something related to this idea. Would you guys share more thoughts?

[2019-11-22 05:03] jdneo commented on #1048
@Eskibear Yes you are right. I'm closing this issue and let's track it in #728.

[2019-11-22 05:03] #1048 closed

[2019-11-22 08:38] tsmaeder commented on #901
Ok @snjeza , @fbricon thanks for the info. --offline is not what we need for "airgapped". Airgapped is an enironment where you have for example a company intranet, but are not connected to the internet, so we'd have to replace remote servers (repos) with local ones (like we can do in the maven settings). Would `~/.tooling/gradle/versions.json` allow us to override the server locations? Is there an

[2019-11-22 13:09] #1126 closed

[2019-11-22 17:18] fbricon commented on #1147
@clankill3r adding those namespaces effectively excludes them from automatic imports/completion. Since `java.awt.* are excluded by default, you need to remove it from the list so its types can be proposed again

[2019-11-22 18:14] #1145 closed

[2019-11-22 18:15] fbricon commented on #1145
This is how it looks in vscode:

![breakcontinue](https://user-images.githubusercontent.com/388609/69441438-08d35f80-0d4b-11ea-8297-b37fd4f4c8f5.gif).

Note that, as of today, vscode-insiders is broken. See microsoft/vscode#85403

[2019-11-22 18:28] clankill3r commented on #1145
@fbricon This is really great! Thanks for adding this.

[2019-11-22 19:37] meSajied commented on #63
This is not working for me... What can I do..
![aaaaa](https://user-images.githubusercontent.com/40203390/69455080-c719d780-0d91-11ea-9dad-d0c462de57dd.png)

[2019-11-22 20:16] snjeza commented on #901
@tsmaeder you may want to take a look at https://chengl.com/gradle-offline-build/ or http://whataboutprogramming.com/work-offline-with-gradle.html

[2019-11-23 08:42] jdneo commented on #63
@meSajied if the path is correct. I think what you need to do is adding `,` after the `}` at line 15

[2019-11-24 10:17] feyselmubarek commented on #1085
If you are using vscode for creating java project and want to run java files as a single java file by

simply remove the package declaration at the top of the file and try it. it shows you error in vscode but it doesn't have any effect since, it is considered to be a single java file, not project

[2019-11-24 17:23] maxandersen opened #1158 "better handling of error caused by manipulating jvmargs"
I was using latest vscode java and quarkus and had no error/content assist.

Turned out I had some edits in `java.jdt.ls.vmargs` that somehow caused LSP not to start.
unfortunately I didn't take a copy of the values as i was getting desperate to just get something working ;)

Error logs just said:

[code]

which gives about zero info for a user to know where to look.

I only realized it could be t

[2019-11-24 18:32] fbricon commented on #1158
What did the server log contain?

[2019-11-25 10:14] tsmaeder commented on #901
@snjeza "offline" is not what we're looking for. We need "airgapped", basically a way to set it up that when a project tries to resolve a project from maven central, it goes to a server somewhere on the local network somewhere. Do you happen to know how that can be set up per user or globally?

[2019-11-25 12:50] Skiler commented on #961
+1

[2019-11-25 14:28] Vigilans commented on #338
There are still some issues with comment.

<img width="396" alt="Screen Shot 2019-11-21 at 3 23 28 PM" src="https://user-images.githubusercontent.com/20227484/69548456-557c9c00-0fd2-11ea-8f31-8d5547156c12.png">

It is owing to the massive usage of look around assertions in java's textmate grammar.

[2019-11-25 15:26] maxandersen commented on #1158
lots of those errors - repeated ad infitum.

[2019-11-25 15:33] snjeza commented on #901
@tsmaeder see https://docs.gradle.org/current/userguide/init_scripts.html and https://docs.gradle.org/current/userguide/declaring_repositories.html

[2019-11-25 16:17] fbricon commented on #1158
I believe that was the client log. Have you tried opening the server log? Command Palette > `Java: Open Java Language server log file` (there's also an `Open all log files` command)

[2019-11-25 16:23] snjeza commented on #1158
@maxandersen You can also try to add -Dlog.level=ALL to the default "java.jdt.ls.vmargs" value.

[2019-11-26 07:38] maxandersen commented on #1158
I used open all log files and one was basically a json version of what was in the other. same "internal error" message.

unfortunately the logs seem to roll over so i don't have the past logs ?

[2019-11-26 12:05] fbricon commented on #1146
In your project's .settings/org.eclipse.jdt.core.prefs, you can set `org.eclipse.jdt.core.compiler.taskTags=` (no value) to disable all task tags. Default value is `org.eclipse.jdt.core.compiler.taskTags=TODO,FIXME,XXX`

[2019-11-26 20:42] clankill3r commented on #1146
Thank you so much. I like the clean look so much better.

[2019-11-26 20:42] #1146 closed

[2019-11-26 23:02] lfarkas opened #1161 "Group or turn off problems by subproject"
We've got a root Java project with many subprojects (and even subprojects has sub projects). One developer usually working only a few of these subproject but depends (have to build) many (or all) of the other subprojects. But one given developer only would like to see his own project's problems. Unfortunately the problems window contains all other project's problems. What's more we've got one core

[2019-11-27 00:53] snjeza commented on #1161
You may want to take a look at https://github.com/microsoft/vscode/issues/22289

[2019-11-27 02:26] Eskibear opened #1162 "auto complete error about "import""
Originally reported in https://github.com/microsoft/vscode-java-pack/issues/262

I myself can reproduce it on both Mac & Windows, vscode-java@0.53.1, with IntelliCode disabled. Below is my screenshot and LS log:

![image](https://user-images.githubusercontent.com/2351748/69688119-1c424a00-1100-11ea-87ae-5056f3058dbb.png)

[completion-for-import.log](https://github.com/redhat-developer/vscode-java/

[2019-11-27 14:48] Vigilans commented on #974
This issue has been solved in https://github.com/atom/language-java/pull/212.

[2019-11-27 23:12] erindru opened #1164 "No obvious way to set JDT settings"
I would like to use the "Text Blocks" feature of Java 13. I have the Java 13 JDK installed and that is being picked up correctly by VSCode.

In addition, I have modified my "pom.xml" file to include the "--enable-preview" JVM argument that turns on this feature, like so:

[code]

I also attempted to edit the `.settings/org.eclipse.jdt.core.prefs` file and set `org.eclipse.jdt.core.compiler.problem

[2019-11-28 08:01] SIGMIX0KKoba opened #1165 "Suddenly language server failed"
The workspace that had no problems with java develop suddenly had an issue several days ago.

A import package suggestion is not working.
`Go to definition` and any kind java code navigate is failed.
(FYI: typescript at same workspace hasn't problem)

I already tried reinstall vscode, jdk and all extension pack for vscode.
(Cleared %USERPROFILE%\.vscode folder after uninstall)
Tried `clean the jav

[2019-11-28 08:11] fbricon commented on #1165
can you share your .project, .classpath, .settings/?

[2019-11-28 08:17] SIGMIX0KKoba commented on #1165
- .project
[code]

- .classpath
[code]

- .settings/?

(org.eclipse.buildship.core.prefs)
[code]

[2019-11-28 09:30] Bno93 commented on #667
I got the same problem with an gradle project.
In my .project file it lists org.eclipse.buildship.core.gradleprojectnature as nature.
I also tried to remove all project files and restart vscode but it didn't helped.
Then I executed clean java langauge server workspace but didn't helped neither.

In the output panel I got the following error:

`
[Error - 10:16:27] 28.11.2019 10:16:27 Cannot decrypt

[2019-11-28 13:39] mojadev commented on #667
I think that's rather caused by the missing jce for strong authentication.

 I think this bug can be closed as this is rather related to project setups - maybe it only needs a doc update or hint?

[2019-11-28 13:46] Bno93 commented on #667
I fixed my problem by adding GRADLE_HOME to my environment variables pointing to my gradle installation

[2019-11-29 03:24] fyeeme opened #1166 "shortcut form Source Action"
Source Action could not trigger by shortcut, when want to generate getter and setter , is a litter ineffective.

##### Environment
Version: 1.40.2
Commit: f359dd69833dd8800b54d458f6d37ab7c78df520
Date: 2019-11-25T14:52:45.129Z
Electron: 6.1.5
Chrome: 76.0.3809.146
Node.js: 12.4.0
V8: 7.6.303.31-electron.0
OS: Darwin x64 19.0.0

##### Current Result
![image](https://user-images.githubusercontent.co

[2019-11-29 05:43] akaroml commented on #1166
I requested this capability in vscode repo.

[2019-11-29 06:06] akaroml commented on #1162
This looks like a vscode issue. microsoft/vscode#85741 was created to track this.

[2019-11-29 14:23] charlesferreira commented on #220
Too bad it doesn't work for Java code.

[2019-11-30 12:23] lingocoder opened #1169 "The java.import.gradle.arguments setting is a No-Op"
The [*Supported VS Code settings*](https://github.com/redhat-developer/vscode-java#supported-vs-code-settings) section of this project's Code page lists: „*`java.import.gradle.arguments: Arguments to pass to Gradle`*“. Disappointingly, setting that property's value to *`--gradle-user-home=<my.specified.location>`* has absolutely no effect. Likewise, setting its value to *`--refresh-dependencies`*

[2019-11-30 14:43] langlan commented on #649
Call Hierarchy and Type/Method Hierarchy are the two features I've been looking forward most eagerly which are both not implemeted yet, sadly.
For Type Hierarchy, as I noted, for now we at least can see a `interface`'s implementations which showed a link: ***xx implementations*** above a Inteface definition by a vitrual-line. We can click it or by command **Peek Implementation**, for a super `clas

[2019-11-30 15:04] langlan commented on #650
For now Peek/Find All References will do some help, but it only worked for project files, not for dependency library. Is there any possibilities to enhance it with library files before the true call hierarchy feature?

[2019-12-02 07:07] Zhan-Jie commented on #374
You can hover on the class name and copy the fully qualified name from the popup window

[2019-12-02 08:06] mojo2012 commented on #374
Thanks for the hint, I'll check it out asap (right now I'm back to eclipse for now).

[2019-12-03 02:57] wb2110 opened #1170 ""74% Starting Java Language Server - Importing Maven project(s) project"
[provide a description of the issue]

##### Environment
- Operating System:Windows 10 1903 18362.476
- JDK version: openjdk version "1.8.0_222"
- Visual Studio Code version:1.40.2
- Java extension version:0.8.1

##### Steps To Reproduce
1. open java project directory with vscode

[attach a sample project reproducing the error]

[attach logs](https://github.com/redhat-developer/vscode-java/wiki/Tro

[2019-12-03 06:07] akaroml commented on #618
We'll revisit this issue.

[2019-12-03 06:40] akaroml commented on #1025
This should be supported by Debugger for Java already. @testforstephen to confirm.

[2019-12-03 07:25] testforstephen commented on #1025
I believe the screenshot above is from Java Debugger's DEBUG CONSOLE. The debugger only provides the source info for the call stack message, because the call back itself contains the basic source info such as the file name and line number.

For a normal message printed by `System.out.println`, it's just a text in the output. It's not easy for the debugger to guess where the source is.

[2019-12-03 08:26] akaroml commented on #1025
If you print the call stack by calling e.printStackTrace(), then you can already jump to the definition today.

But for the case of println, we need to have a protocol because the mechanism here is just using some regular expression and highlight the matches in the output. @testforstephen @clankill3r could you work on the protocol first?

[2019-12-03 08:44] fbricon commented on #1025
@akaroml can you transfer the issue over to  https://github.com/microsoft/vscode-java-debug/issues? If not close it here and create a new one there

[2019-12-03 09:17] akaroml commented on #1025
No problem. Do you think you can lift my access level of this repo then I can move this issue directly to the debugger repo?

[2019-12-03 09:19] akaroml commented on #1025
Or @testforstephen can you do that?

[2019-12-03 09:22] testforstephen commented on #1025
Github doesn't support transfer issue across different orgs. Need manual do that.

[2019-12-03 09:29] fbricon commented on #1025
right you have right access to both repos but cross-org transfer is not supported. lame.
Anyways, closing for https://github.com/microsoft/vscode-java-debug/issues/723

[2019-12-03 09:29] #1025 closed

[2019-12-03 09:32] fbricon commented on #1169
might be a limitation of Buildship (or not). Can you check if this works as expected in Eclipse?

[2019-12-03 09:57] ratsafalig opened #1171 "import gradle project failed"
i try to import spring-boot initializer into vscode,and it report error message like this,
can anyone give some advices
[code]

[2019-12-03 09:59] fbricon commented on #1171
which version of java are you using? hint: gradle-5.6.4 is not compatible with Java 13

[2019-12-03 10:06] ratsafalig commented on #1171
perfectly solved!!!thx a lot!!!!
i wasted a whole afternoon on this problem

[2019-12-03 10:06] #1171 closed

[2019-12-03 10:07] ratsafalig commented on #1171
perfectly solved!!thx!!

[2019-12-03 11:09] testforstephen commented on #1162
See the discussion  https://github.com/microsoft/vscode/issues/85741#issuecomment-561093528 with VS Code team, it turns out the Java LS lazy sets `textEdit` property during `completionItem/resolve` request, this is not the right behavior. Because updating textEdit during resolve will change the ranking and sorting, this is not supported by VS Code. Besides, VS Code has no guarantee that resolve is

[2019-12-03 11:13] fbricon commented on #1162
yes, this is a discussion we had in https://github.com/eclipse/eclipse.jdt.ls/issues/465. https://github.com/fbricon/eclipse.jdt.ls/commit/0e570a068cd659afc180a155a106bd916053b4e9#commitcomment-36238803 was originally an attempt at fixing it

[2019-12-03 17:13] #1102 closed

[2019-12-03 17:15] lingocoder commented on #1169
Assuming the wizard in this screenshot is the way to set those properties for Eclipse...

![1169 a](https://user-images.githubusercontent.com/49788472/70072206-75254d00-15ee-11ea-9af0-bda7290d7902.png)

...,then yeah, this screenshot of Eclipse shows what I would expect to see from setting that *`--refresh-dependencies`* argument in the above wizard and invoking Eclipse's/Buildship's *`Gradle — Re

[2019-12-03 17:20] fbricon commented on #1102
A new `java.maven.updateSnapshots` preference was added, set to `false` by default. When set to `true`, it forces an update of Snapshots/Releases.

[2019-12-04 00:06] #1154 closed

[2019-12-04 05:08] testforstephen opened #1172 "The references codelens is enabled by mistake"
In the vscode-java.0.54.0 RC bits, the references codelens is enabled by default. Actually the switch is off in my user settings.

![image](https://user-images.githubusercontent.com/14052197/70114332-18ca3800-1697-11ea-86ce-9ee9f00dc950.png)

After a look, the root cause is the **didChangeConfiguration** didn't pass the right setting format to the LSP.

Below is the wrong format.
[Trace - 12:58:19

[2019-12-04 07:49] ZhengJun003 commented on #1172
In the vscode-java.0.54.0 RC bits, this notification always pops up after clicking the `Always` button.
whatever I click which buttons, the value of `editor.minimap.enabled` is always false.
![image](https://user-images.githubusercontent.com/41051257/70123184-107cf780-16ad-11ea-9a18-65704625e34f.png)

[2019-12-04 08:06] #1172 closed

[2019-12-04 08:56] SIGMIX0KKoba commented on #1165
I've self resolved. It's Gradle settings matter.
@fbricon
I'm sorry to have caused trouble.

FYI:
There was no Gradle error, but I reviewed setting around `include 'src'` in the settings.gradle.

[2019-12-04 09:01] fbricon commented on #1165
ok, thanks for letting us know

[2019-12-04 09:01] #1165 closed

[2019-12-04 14:55] ricmzn opened #1174 "0.54.0: Lombok is broken with maven"
After updating the extension to version 0.54.0, lombok seems to not work during build time anymore, causing lots of errors to be flagged. This is a regression, as the extension worked without issues before.

##### Environment
- Operating System: Linux Mint 19.2 x86_64
- JDK version: OpenJDK 11.0.4
- Visual Studio Code version: 1.40.2
- Java extension version: 0.54.0

##### Steps To Reproduce
1. En

[2019-12-04 15:02] bernardmo commented on #1174
Same problem here. No setting defined within `java.jdt.ls.vmargs` is applied to VM (seen in process list)

[2019-12-04 15:02] chucknelson opened #1175 "Version 0.54 Not Using Global "java.jdt.ls.vmargs" Setting"
As of the latest `0.54` update, the `java.jdt.ls.vmargs` setting, if set globally (i.e., user settings), doesn't seem to be used. I noticed this in my project because I use Project Lombok, and the global vmargs are set accordingly:

[code]

If I copy this exact setting and place it in my workspace/project folder (i.e., in `.vscode/settings.json`), Lombok annotations work as expected.

I've reverte

[2019-12-04 15:04] fbricon commented on #1174
Closing as duplicate of #1175

[2019-12-04 15:04] #1174 closed

[2019-12-04 15:05] chucknelson commented on #1174
Ah - also see the issue I just created - added some additional detail.

**Version 0.54 Not Using Global "java.jdt.ls.vmargs" Setting** (#1175)

As a workaround, you can still get Lombok to work if you apply that `vmargs` setting in your workspace settings, but it's not working globally for some reason in `0.54`...

[2019-12-04 15:05] fbricon commented on #1175
Yeah we seems to have broken vmargs support. We'll fix it and release a new version ASAP

[2019-12-04 15:25] chucknelson commented on #1175
@fbricon or @snjeza - Related to this issue and the [Lombok Support wiki page](https://github.com/redhat-developer/vscode-java/wiki/Lombok-support), is the `-Xbootclasspath/a:/path/to/lombok.jar` portion still needed?

The Lombok extension only sets the `-javaagent:/path/to/lombok.jar` portion and things seem to work fine.

[2019-12-04 16:39] #1175 closed

[2019-12-04 16:49] fbricon commented on #1175
@chucknelson @ricmzn @bernardmo can you please try the https://download.jboss.org/jbosstools/jdt.ls/staging/java-0.54.1-1952.vsix, see if it fixes your issue?

[2019-12-04 17:35] ricmzn commented on #1175
Yes, I can confirm that the new version fixes the issue. Thanks a lot!

[2019-12-04 17:41] fbricon commented on #1175
@chucknelson @ricmzn @bernardmo 0.54.1 has been pushed to the VS Code Marketplace, it should take a few minutes to be available for update in VS Code

[2019-12-04 23:08] maxandersen opened #1177 "Java Dependencies folders/java files are missing the context menu"
java dependencies view is nice but its really missing the context menu which is shown on files/folders in the other views.

next after clicking on resources to open them i'm looking for easily right click to do new file/folder, compare versions, copy path etc.

[2019-12-05 01:40] testforstephen commented on #1177
Duplicated with issue https://github.com/microsoft/vscode-java-dependency/issues/207

[2019-12-05 01:40] #1177 closed

[2019-12-05 02:53] bonaluo opened #1178 "Right click to copy a class reference"
Issue Type: <b>Feature Request</b>

Right click to copy a class reference

Extension version: 0.54.1
VS Code version: Code 1.40.2 (f359dd69833dd8800b54d458f6d37ab7c78df520, 2019-11-25T14:54:45.096Z)
OS version: Windows_NT x64 10.0.18362

[2019-12-05 03:04] EminemRap opened #1179 "关于 Status Bars 显示 Java Build Status 的问题"
更新 Language Support for Java(TM) by Red Hat 插件后，原先在tate Status Bar 动态显示的 Java build status 改为在新的 terminal 里显示，很不直观，希望可以修改为之前版本那样在tate Status Bar 动态显示 Java build status ，或者增加选项让用户自主选择。
![2019-12-05_105420](https://user-images.githubusercontent.com/44884397/70200365-dfed9a00-174e-11ea-91b5-d4e8f1bdab38.jpg)

[2019-12-05 03:18] EminemRap commented on #1179
还有一点，就是每次打开新的项目窗口，都会自动弹出 Java Build Status 的 Teminal 窗口，确实有点碍眼。真心希望将这个功能点改回老版本的样子，辛苦！谢谢！

[2019-12-05 03:23] EminemRap commented on #1179
Extension version: 0.54.1
VS Code version: Code 1.40.2 (f359dd69833dd8800b54d458f6d37ab7c78df520, 2019-11-25T14:54:45.096Z)
OS version: Windows_NT x64 10.0.17134

[2019-12-05 04:50] akaroml opened #1180 "Build status reporter should work well multi-root workspace"
When I "File->Add Folder to Workspace" for the first time to add a Java project, an untitled workspace is created and vscode tries to create a second instance of the server status window. This results in the attached error dialog. Note that "frontend" is the first java project, and "backend" is the second project that was added to the workspace, causing the error.

<img width="651" alt="Java_Overv

[2019-12-05 04:57] akaroml commented on #1179
谢谢你的反馈。原先的方法有个缺陷，Status Bar只有一个，但是后台的build job有很多个，所以大家争抢同一个位置，导致任何一个job的信息都没法完整显示。

该改进是利用了terminal来实现同时显示多个job，让用户更加直观地观察到build的状态，这在打开大工程的时候会很有帮助。

关于自动弹出的问题，我们会加一个选项来让用户决定是否关闭这个行为。

[2019-12-05 04:58] akaroml opened #1181 "Provide a setting to disable the behavior of automatically popping the build status terminal"
还有一点，就是每次打开新的项目窗口，都会自动弹出 Java Build Status 的 Teminal 窗口，确实有点碍眼。真心希望将这个功能点改回老版本的样子，辛苦！谢谢！

_Originally posted by @EminemRap in https://github.com/redhat-developer/vscode-java/issues/1179#issuecomment-561949437_

[2019-12-05 06:29] EminemRap commented on #1179
@akaroml 我可能有些贪心😅，不知道 VS code 能不能支持实现如图中所示的功能？
![2019-12-05_140823](https://user-images.githubusercontent.com/44884397/70209467-4b456500-176b-11ea-86bf-b64ad808b989.jpg)

[2019-12-05 08:55] fbricon commented on #1179
Guys, can you please use English?

[2019-12-05 09:08] fbricon commented on #1178
how do you define a class reference? Fully Qualified Class Name (then it's a duplicate of #374), hyperlink to referenced class? Simple class name?

[2019-12-05 09:15] fbricon commented on #1181
Seems we're getting a bit of flak about this one. @akaroml can you quickly provide a PR for this, so we can release a 0.54.2 version today?

[2019-12-05 09:31] akaroml commented on #1181
I'm on it. One point, do we want to default to show or not show the terminal on start?
I'm thinking default to not popping the terminal because the spinning icon is already indicating something happening.

[2019-12-05 09:32] akaroml commented on #1180
@fbricon I'll also try fix this one. Please help assign to me.

[2019-12-05 09:32] fbricon commented on #1181
yes, hide by default

[2019-12-05 09:33] akaroml commented on #1179
I want that too! But vscode takes full control of the UI capabilities and that's not going to happen shortly.

[2019-12-05 09:38] akaroml commented on #1179
Sorry about that, Fred. What @eminemrap was saying is he liked the old way of showing job status. And I explained why we made the change. Later he proposed this:
![image](https://user-images.githubusercontent.com/16755094/70222831-894f8280-1785-11ea-9fb4-3252869129ba.png)

This is exactly our original idea!!! But it's not going to happen shortly.

He was also asking for a setting entry to not popp

[2019-12-05 09:50] EminemRap commented on #1179
@akaroml 是我太贪心了。谢谢你耐心的解答以及对我需求的跟进，辛苦！

[2019-12-05 11:38] vovasoft commented on #366
This way is useful, Thx

[2019-12-05 15:23] #1181 closed

[2019-12-06 03:28] Vigilans commented on #1141
This issue is tracked in microsoft/vscode-java-dependency#179 now.

The `command not found` behavior is generally caused by an extension not starting correctly. Could you reinstall `java-dependency-viewer` extension and try one more time, and if it fails, provide following logs to [linked issue](https://github.com/microsoft/vscode-java-dependency/issues/179)?
* From Menu bar -> Help -> Toggle deve

[2019-12-06 05:31] Vigilans opened #1183 "Multiroot workspace not working correctly with two invisibile projects"
When adding more than one invisible projects to a multi-root workspace, only one project can be configured properly.

##### Environment
- Operating System: Mac OS
- JDK version: AdoptOpenJDK build 1.8.0_212-b04
- Visual Studio Code version: 1.40.2
- Java extension version:

##### Steps To Reproduce
1. Open an invisible project in vscode
2. Use `Add Folder to Workspace` to add another invisible pro

[2019-12-06 08:44] XanderWang commented on #158
I had the same problem , when i try changed my project path , it is ok , you can try changed your porject path.

[2019-12-06 14:28] bonaluo commented on #1178
Fully Qualified Class Name

[2019-12-06 14:29] fbricon commented on #1178
ok then closing as a dupe of #374

[2019-12-06 14:29] #1178 closed

[2019-12-06 18:48] 1ak31sha commented on #618
I am having the same issue with these .settings files getting generated by the vs-code java plugin. i think it is also giving me 2k+ 'problems'

[2019-12-06 23:21] nickboldt commented on #892
As of 0.48.0, releases no longer include vsix files. I was about to open a new issue like https://github.com/camel-tooling/vscode-wsdl2rest/issues/142 or https://github.com/redhat-developer/vscode-project-initializer/issues/40 but reopening seemed easier.

Can you either:

* copy the tarball from the GH release over to dl.jb.o when publishing the vsix there, or
* publish the vsix on GH again?

Loo

[2019-12-09 03:04] SlumpShrimp commented on #200
I'm using macOS Catalina and java13. Please tell me how to import Servlet on VScode.

[2019-12-09 14:14] Costamilam commented on #1100
Same problem

![Syntax highlighting bug in annotations](https://user-images.githubusercontent.com/33871320/70442358-92ce3880-1a6c-11ea-9b2c-c73e55246018.png)

[2019-12-09 16:30] jkryanchou commented on #1140
Got it. Thanks +1

[2019-12-09 19:03] #1180 closed

[2019-12-09 19:50] key6oardWarrior opened #1185 "Visual Studio Code's Java Compiler Not Showing Certain Errors"
##### Description of the Issue
When running Java code I have noticed that certain compile time errors will not be displayed.

##### Environment
- Operating System: Windows 10
- JDK version: 11.0.4.11
- Visual Studio Code version: 1.40.2
- Java extension version: 0.8.1
- Java Debugger extension version: 0.23.0

##### Steps To Reproduce
1. Declare the HashMap like,
`HashMap<dataTypeA, dataTypeB> nam

[2019-12-10 01:05] SlumpShrimp commented on #200
I can't find the directory /usr/lib/jvm/java-8-openjdk-amd64/jre/lib/ext/.
please tell me how to find this.

[2019-12-10 03:17] tommai78101 commented on #623
@mark-wiemer Where do you see this option?

I could not find this option anywhere in Visual Studio Code, nor know how to set the `eclipse-formatter.xml` with this option included?

[2019-12-10 03:27] tommai78101 opened #1186 "Question: How do you verify local path in "java.format.settings.url" is pointing to the right file?"
Currently, I have a file, `eclipse-formatter.xml`, located at `${workspaceRoot}/.vscode` directory.

I understand environment variables are not supported in VSCode-Java.

So, if I were to start from:

`"java.format.settings.url": "",`

How do I know where the current working directory for "java.format.settings.url" defaults to? Or this is actually based on where the ".code-workspace" file is locat

[2019-12-10 04:44] snjeza commented on #1186
@tommai78101 you can try the following:
[code]

[2019-12-10 09:18] nqminhuit opened #1187 "VS code java creates duplicate classes in Java project with Gradle build"
##### Environment
- Operating System: Linux 3.10.0-957.21.3.el7.x86_64 #1 SMP Fri Jun 14 02:54:29 EDT 2019 x86_64 x86_64 x86_64 GNU/Linux
- JDK version: 1.8.0_151
- Visual Studio Code version: 1.40.2
- Java extension version: 0.54.2
- Gradle version: 6.0.1

##### Steps To Reproduce
1. Create a default Java application with Gradle:
[code]
2. Open the newly created project with vscode, wait for "Lan

[2019-12-10 10:23] fbricon commented on #192
ping @akaroml, if you guys want to look into it

[2019-12-10 10:38] fbricon commented on #1187
Gradle support is provided by the Buildship project. Separating the output directories of Eclipse and CLI builds is a design decision, basically to prevent conflicts between IDE and CLI builds. More about here: https://discuss.gradle.org/t/eclipse-plugin-did-not-configure-default-output-directory-to-build/7586.

[2019-12-10 10:41] fbricon commented on #1170
Can you reproduce with the latest vscode-java extension? Click on the spinning icon next to the Java label, in the status bar, to access progress reports

[2019-12-10 10:45] fbricon commented on #1166
As explained in https://github.com/microsoft/vscode/issues/85799#issuecomment-561112251

You can choose whatever key you need

[2019-12-10 12:16] bastlaca commented on #200
Try:
`java -verbose | grep 'Loaded java.lang.Shutdown from'`
Output:
[Loaded java.lang.Shutdown from /usr/lib/jvm/java-8-openjdk/jre/lib/rt.jar]

The copy command will be:
`$ cp ~/tomcathome/lib/servlet-api.jar  /usr/lib/jvm/java-8-openjdk/jre/lib/ext/`

[2019-12-10 13:31] fbricon commented on #1076
closing as duplicate of #618

[2019-12-10 13:31] #1076 closed

[2019-12-10 13:34] fbricon commented on #478
Closing as duplicate of #618

[2019-12-10 13:34] #478 closed

[2019-12-10 17:33] mark-wiemer commented on #623
The `Indentation > Indented ...` instructions are how to set it in Eclipse, which I figured were relevant.

Setting it in Eclipse is equivalent to adding the line `org.eclipse.jdt.core.formatter.indent_switchstatements_compare_to_switch=true` to the file `org.eclipse.jdt.core.prefs`.

I would like to reiterate that I closed this issue because the system works as expected after I restart Visual Stu

[2019-12-10 21:34] tommai78101 commented on #1186
Thanks, but I would like to know if there's a way to detect the current working directory?

[2019-12-10 21:37] tommai78101 commented on #623
@mark-wiemer Ah ok, thanks for the info.

Technically you don't need to restart Visual Studio Code. You just need to open `settings.json`, add a whitespace at the end of the value for "java.format.settings.url", save, delete the extra whitespace, and save again to complete the refresh.

It's a quirk of Visual Studio Code only updating the settings cache when an "onchange" event occurs.

[2019-12-10 22:20] snjeza commented on #1186
See https://code.visualstudio.com/docs/editor/variables-reference

[code]

[2019-12-11 01:04] mark-wiemer commented on #623
Oh sick, thanks for the info!
________________________________
From: Thompson Lee <notifications@github.com>
Sent: Tuesday, December 10, 2019 3:37:52 PM
To: redhat-developer/vscode-java <vscode-java@noreply.github.com>
Cc: Mark Wiemer <markwiemer@outlook.com>; Mention <mention@noreply.github.com>
Subject: Re: [redhat-developer/vscode-java] Indent case blocks within switch statements (#623)

@mark-

[2019-12-11 01:37] nqminhuit commented on #1187
Thank Fred for your reply.

So they are separated as designed. That makes sense when we usually encounter the problem with new dependencies added in gradle build script, the build from CLI is working, but vscode shows error that symbols not found until we reload the vscode again. Is there a way to sync new dependencies from gradle without reloading the whole workspace?

[2019-12-11 01:51] snjeza commented on #1187
You can try the following:

- open build.gradle
- right click and run Update Project Configuration

You can also try the following property:

[code]

[2019-12-11 04:02] CLGitDev opened #1188 "Access restriction error in Java language server log"
Hi,

I have recently started using VSCode with your extension for a Gradle project, however I come across the "Access restriction" error which was flagged in other issues (#120  and #219). I have tried the proposed solution in those threads but without any luck so far.

Below are few errors that I got:
[code]

And they are primarily from the below library import:
[code]

I have integrated below ac

[2019-12-11 06:44] nqminhuit commented on #1187
@snjeza perfect! This is what we needed, thank you very much!

[2019-12-11 08:16] fbricon commented on #1188
Can you please attach a sample project?

[2019-12-11 10:10] fbricon commented on #618
@akaroml in the old Eclipse Che, jdt was forked to add a custom .che location: https://github.com/eclipse/che/blob/26f6766390f6ff7481ce296cafc8d07d638160b4/plugins/plugin-java/che-plugin-java-ext-jdt/org-eclipse-jdt-ui/src/main/java/org/eclipse/jdt/internal/core/JavaProject.java#L114
You'd need to checkout the repo at this commit to find all usages of Constants.CHE_DIR, JavaProject.INNER_DIR

@tol

[2019-12-11 13:57] tommai78101 commented on #1186
Thanks.

I'll figure something out for printing the ${cwd} within Visual Studio Code.

[2019-12-11 13:57] #1186 closed

[2019-12-11 14:02] tommai78101 commented on #623
@mark-wiemer Ah, you replied by email, so you didn't see my answer to what `eclipse-formatter.xml` is doing. Just repeating what I said earlier. :+1:

[2019-12-11 19:41] martyphee opened #1189 "Can't navigate to javax.net.ssl.*"
I'm unable to navigate to any classes in `javax.net.ssl.*`

![image](https://user-images.githubusercontent.com/754870/70555894-d366a880-1b77-11ea-91c4-c37761d31fa7.png)

Auto complete works though
![image](https://user-images.githubusercontent.com/754870/70556006-eda08680-1b77-11ea-90be-f975da5a7bd7.png)

If needed I'll get a sample project but it should be anything with javax.net.*

##### Environ

[2019-12-11 21:57] fbricon commented on #1189
Can you attach log files?

[2019-12-12 01:34] crab890715 opened #1190 "osx 系统上的vscode-java插件为什么不能跳转到接口的实现"
[provide a description of the issue]

##### Environment
- Operating System: osx
- JDK version: jdk1.8
- Visual Studio Code version:1.4.0.2
- Java extension version:v0.54.2

所有java接口都没办法跳转到它的实现类里面的方法，类似eclipse里面的接口，点击方法可以查找到它所有的实现类，选择需要跳转的实现进入
![image](https://user-images.githubusercontent.com/12027117/70675524-5f85e680-1cc4-11ea-99eb-1ea0c3b11d33.png)

[2019-12-12 02:12] Eskibear commented on #1190
Go to Implementations: <kbd>cmd + F12</kbd>

<img width="479" alt="Screen Shot 2019-12-12 at 10 11 02 AM" src="https://user-images.githubusercontent.com/2351748/70676616-bb9e3a00-1cc7-11ea-882d-11fcc7b3a7fb.png">

[2019-12-12 02:15] crab890715 commented on #1190
试了，完全没有反应

[2019-12-12 02:29] Eskibear commented on #1190
I cannot reproduce. It works well for me.
<img width="858" alt="Screen Shot 2019-12-12 at 10 24 19 AM" src="https://user-images.githubusercontent.com/2351748/70677248-9a3e4d80-1cc9-11ea-8110-b7891863daab.png">

Can you attach your project and describe the steps to reproduce? And please use English if possible, so that others can also help.

[2019-12-12 02:36] crab890715 commented on #1190
我的vscode貌似无法对它设置快捷键导致的

[2019-12-12 02:36] #1190 closed

[2019-12-12 03:11] safield opened #1191 "Project 'myproject' is missing required Java project: 'somelib'"
I am using the vsocde-java extension with a gradle java project.

Receiving error "Project 'java_server' is missing required Java project: 'chesslib'

- Operating System: Linux Mint 19.2
- JDK version: OpenJDK 1.8
Version: 1.40.2

Commit: f359dd69833dd8800b54d458f6d37ab7c78df520
Date: 2019-11-25T14:54:40.719Z
Electron: 6.1.5
Chrome: 76.0.3809.146
Node.js: 12.4.0
V8: 7.6.303.31-electron.0
OS: Linux

[2019-12-12 05:52] nobody-famous opened #1192 "Class file is updated when source is saved, causing build to think it's up to date"
[provide a description of the issue]
When a java file is saved, the class file is updated to have the same timestamp which causes maven to think the class file is up to date even though it's not.

##### Environment
- Operating System: Ubuntu 18.04
- JDK version: OpenJDK 11.0.4
- Visual Studio Code version: 1.40.2
- Java extension version: 0.54.2

##### Steps To Reproduce
1. [step 1] Create a maven

[2019-12-12 06:27] CLGitDev commented on #1188
@fbricon I afraid I cannot attached the problematic project here directly as it is not open source. I will try creating a dummy project with those library dependencies and see if I can re-produce the problem there.
In the mean time, is there anything on top of your head that I should check for the problematic project? Thanks!

[2019-12-12 06:51] CLGitDev commented on #1188
@fbricon I realized that there are actually some exceptions in the Java language server log file, not sure if that matters:

[code]

[2019-12-12 23:35] mordechaiSheinson commented on #274
I had the same error, check if you need to reload any of your extensions

[2019-12-13 02:12] #1187 closed

[2019-12-13 07:43] clankill3r commented on #274
Can you close vscode, remove the workspace storage and then open vscode, tell me if that fixed it.

[2019-12-13 09:03] martyphee commented on #1189
I can't seem to get the logs

![image](https://user-images.githubusercontent.com/754870/70787799-6295db00-1d87-11ea-825b-6afd0fbaef9c.png)

[2019-12-13 09:13] martyphee commented on #1189
Think I found it but not much there

[code]

[2019-12-13 09:27] fbricon commented on #1189
vscode-java doesn't support scala. Whatever completion you get in your scala files is coming from another extension

[2019-12-13 10:24] akaroml commented on #192
The vmargs is already exposed as a user setting, so they are free to set whatever they want. But we do think we could provide easier solution by providing presets to allow users to easily choose whether they want less memory consumption or better responsiveness. We'll follow up and form those presets.

@Eskibear

[2019-12-13 14:08] KKrauskopf commented on #851
I can confirm that the Java Test Runner caused this issue for me.

[2019-12-14 10:23] #1189 closed

[2019-12-14 14:10] vojtechhabarta commented on #654
I also have problem with "Classpath is incomplete" error. When I open folder with https://github.com/vojtechhabarta/typescript-generator project and I open some Java file (for example `Settings.java`) I got this error and Java support doesn't work.

I tried it on Windows and MacOS with updated VS Code and plugins.

Interesting is that when I created workspace file like this:
[code]
it seemed to wo

[2019-12-16 04:35] testforstephen commented on #1192
You can uncheck the user setting `java.autobuild.enabled` to disable the auto build introduced by Java Language Server extension.

[2019-12-16 04:41] akaroml commented on #192
@fbricon  could you help assign this to @Eskibear for easier tracking?

[2019-12-16 04:43] akaroml commented on #1166
@fbricon we have this idea of providing a keybinding set for frequently used code actions. Do you think vscode-java is the right place to host that?

[2019-12-16 08:14] Meir017 opened #1195 "Wrong highlighting on 'new' keyword on inner classes"
creating a new instance of an inner class doesn't highlight the `new` keyword properly

##### Environment
- Operating System: Win10
- JDK version: 1.8
- Visual Studio Code version: 1.41
- Java extension version: 0.54.2

##### Steps To Reproduce
1. Create a class and an inner class
[code]

##### Current Result
![image](https://user-images.githubusercontent.com/9786571/70889983-9291e800-1fec-11ea-9b

[2019-12-16 08:36] fbricon commented on #1195
The textmate grammar is defined in [vscode itself](https://github.com/microsoft/vscode/blob/master/extensions/java/syntaxes/java.tmLanguage.json), but the source of the grammar is actually atom, so the problem should be reported there: https://github.com/atom/language-java/issues

[2019-12-16 08:46] Meir017 commented on #1195
sounds similar to https://github.com/atom/language-java/issues/216

[2019-12-16 09:09] fbricon commented on #1192
This is working as designed. Class files are compiled in the target/classes directory used by Maven, so that they can be picked up by any running/debugging process launched by Maven.

Setting `"java.autobuild.enabled":false` is one way to disable automatic compilation, but another alternative would be to create a Maven profile that sets a different output directory for the vscode-java/eclipse/m2e

[2019-12-16 09:10] #1192 closed

[2019-12-16 09:45] fbricon commented on #192
@akaroml I don't have the rights to do that but @gorkem can certainly add him to the list of contributors for this repo

[2019-12-16 15:31] jiang-wei commented on #177
with 0.54.2, when I edit pom.xml, VScode rerun the generate-source goal and the new subfolder in target/generated-sources/xx is listed under "JAVA DEPENDENCIES"

[2019-12-17 05:47] tarun0 commented on #1092
Same issue.  OS: Ubuntu 18.04.3 LTS

`ls -la /usr/lib/jvm/java-11-openjdk-amd64` gives following output (after changing the owner to tarun from root but even that didn't solve)

Below is the complete error (doesn't point to jdk)
![Screenshot from 2019-12-17 11-14-35](https://user-images.githubusercontent.com/12914286/70968290-c0476180-20be-11ea-8a8f-dc38e31ca80d.png)

[2019-12-17 07:48] meydominic commented on #1190
It's the same on my end:
![image](https://user-images.githubusercontent.com/2743382/70975258-d565c580-20a9-11ea-8588-75758a77702e.png)

VSCode 1.41, latest extension, JDK1.8, macOS 10.14

[2019-12-17 07:51] fbricon commented on #1190
@meydominic  you can not override static methods in Java, so it's expected you won't find other implementations

[2019-12-17 07:57] meydominic commented on #1190
Oh wow... I think I misunderstood this function all the time 🤦‍♂ What I was looking for is the equivalent of jumping to or showing all places where this method/class is used in code. But it's "Go to references". I'm pretty sure it was not working for me all the time. But it's working now. Thank you mate

[2019-12-17 11:11] thinkiny opened #1197 ""Go to Definition" doesn't work in the decompiled code"
https://github.com/microsoft/vscode-java-pack/issues/18#issuecomment-547273983

will this support in plan?

[2019-12-17 11:14] fbricon commented on #1197
not sure how hard it'll be to implement. Might be worth investigating though, but it might take some time.

[2019-12-17 15:51] Vigilans opened #1198 "Java Overview will break the import of invisible project"
When opening a folder containing an invisible project, if `Java Overview` pops up, the project will fail to be imported, because `initializationOptions` does not contain a trigger file:

[code]

from https://github.com/eclipse/eclipse.jdt.ls/blob/master/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/managers/InvisibleProjectImporter.java#L72-L75

It is root-caused in `getTriggerFiles

[2019-12-17 18:20] fbricon commented on #1198
No idea how we can fix this one

[2019-12-17 18:21] fbricon commented on #1191
Does this project import in Eclipse, with BuildShip (Gradle integration plugin) installed?

[2019-12-17 18:23] fbricon commented on #1191
Can you move the jar dependency inside the project folder?

[2019-12-18 00:28] crab890715 opened #1200 "怎么快捷创建java类"
有什么方式可以快捷创建java类等

[2019-12-18 02:42] RickeyWard commented on #274
I have this same problem. I was editing a project for months, changed nothing but function bodies and now the extension is mad about the package names. It seems to have forgotten that maven expects main/java/ in the src root path. I haven't changed my pom.xml It just stopped working randomly. It tried deleting all the metadata for the project and letting them get recreated and it doesn't fix the i

[2019-12-18 05:13] Vigilans commented on #1198
Maybe we can use `workspace.textDocuments` instead? I would like to have a try, let me know if this alternative has ever been considered and rejected.

[2019-12-18 09:07] fbricon opened #1202 "Server status shows spinning icon even when the server failed to start"
I cloned https://github.com/santiontanon/microrts
Initially opened the folder with Java 1.8, showed some compilation errors (See https://github.com/santiontanon/microrts/pull/77) - I'm not sure this step is relevant, but I document it just in case.
I changed java.home to use JDK 13 instead, on restart the server failed with:

[code]

anyways, the spinning icon keeps spinning after the start failur

[2019-12-18 09:08] fbricon commented on #1202
@akaroml can you please look into this one?

[2019-12-18 09:09] fbricon commented on #1202
There are easier ways to make the server crash (adding -unknown.flag to jvm.args for instance)

[2019-12-18 11:03] dsyer opened #1203 "Multi-module Gradle project doesn't seem to work very well"
A multi-module Gradle project (e.g. https://github.com/spring-guides/gs-multi-module/tree/master/complete or https://github.com/spring-io/sagan) doesn't seem to work very well in VSCode. When I open a .java source file I can see the LSP server start, and a `.project` is created, but I never see a `.classpath` file (which does appear in a single module project). Also the main classes and tests neve

[2019-12-18 11:04] rectcircle commented on #1200
I develop a vscode extensions to quick create file.

https://marketplace.visualstudio.com/items?itemName=Rectcircle.new-file-by-type
https://github.com/rectcircle/new-file-by-type

I am refactoring, It should be available soon

[2019-12-18 11:08] dsyer commented on #1203
Just noticed: if you add an empty `build.gradle` to the root folder it works (at least with the gs-multi-module example).

[2019-12-18 11:13] fbricon commented on #1203
yes jdt.ls uses build.gradle as a mechanism to detect gradle projects to import. We may have to tweak that a bit

[2019-12-18 11:24] dsyer commented on #1203
That would be good. Then could you open the parent's parent (https://github.com/spring-guides/gs-multi-module) and use Java language features in all the subprojects? It's actually 2 independent builds in that project.

[2019-12-18 11:28] fbricon commented on #1203
would detecting the presence of settings.gradle be enough, or even preferable? I must admit I way more familiar with Maven than with Gradle, so please bear with me

[2019-12-18 11:39] dsyer commented on #1203
Pretty sure that would work for the `complete` sample, but not for the parent's parent use case. So better than nothing, if that's easier.

[2019-12-18 14:55] nickboldt commented on #892
Ping! any progress here?

[2019-12-18 15:30] lfarkas opened #1204 "gradle command line inconsistency UTF-8 vs utf8"
by default gradle use the command line argument:
-Dfile.encoding=UTF-8
while when you run gradle use:
-Dfile.encoding=utf8
and this cause a command line difference and therefore two different gradle daemon will run on a machine (even after exit from vs code).

if you also use UTF-8 instead of utf8 this can solve this problem.

[2019-12-18 16:45] fbricon commented on #892
I've pushed all the tags, then downloaded each missing vsix curl like
[code]
Then manually attached the vsix files to their matching tags in https://github.com/redhat-developer/vscode-java/releases

[2019-12-18 16:45] #892 closed

[2019-12-18 18:12] fbricon commented on #1204
@snjeza is this something we control or is this upstream in Buildship?

[2019-12-18 18:14] fbricon commented on #1204
The java language server itself is started with [UTF-8](https://github.com/redhat-developer/vscode-java/blob/6f82e4d209eccea74149cc4176f4173c0edbc372/src/settings.ts#L119)

[2019-12-18 18:52] snjeza commented on #1204
The issue is related to gradle. I can reproduce it using the cmd line.
[code]
Java ignores -Dfile.encoding=utf8.

[2019-12-18 19:05] lfarkas commented on #1204
if i use only gradlew command line i always see ...-Dfile.encoding=UTF-8 while if i start and exit vs code than i see a new daemon running with -Dfile.encoding=utf8

[2019-12-18 20:21] snjeza commented on #1204
@lfarkas could you attach your settings.json?

[2019-12-18 20:43] #1198 closed

[2019-12-18 21:57] fbricon commented on #650
Fixed with https://github.com/eclipse/eclipse.jdt.ls/pull/1306 and https://github.com/redhat-developer/vscode-java/pull/1194, thanks to @kittaakos and @testforstephen

[2019-12-18 21:57] #650 closed

[2019-12-18 22:33] lfarkas commented on #1204
[code]

[2019-12-18 23:43] snjeza commented on #1204
@lfarkas do you have .vscode/settings.json?

[2019-12-19 02:30] SilenceUrStep opened #1205 "maven debug problem"
![image](https://user-images.githubusercontent.com/16930271/71139075-227f9e00-2248-11ea-8803-0a22659c587a.png)
first is like this pic
![image](https://user-images.githubusercontent.com/16930271/71139193-6c688400-2248-11ea-9cbc-8f3b2cb00469.png)
and for a second the terminal show up
![image](https://user-images.githubusercontent.com/16930271/71139198-7094a180-2248-11ea-983d-e3dae2502ae2.png)
#####

[2019-12-19 02:35] akaroml commented on #1202
Ack. I'll take a look.

[2019-12-19 08:12] lfarkas commented on #1204
no

[2019-12-19 09:47] jaggerwang opened #1206 "Is there any plan to support maven multiple module project?"
Can not auto detect source code in sub module. Even if I add the source folder manually, the dependency packages still can not be found.

<img width="1392" alt="截屏2019-12-1917 43 55" src="https://user-images.githubusercontent.com/1255011/71163001-2aaafe00-2287-11ea-8e14-219fcf5e2f6e.png">

Parent pom:

[code]

One of sub module pom:

[code]

##### Environment
- Operating System: macOS
- JDK versio

[2019-12-19 10:14] fbricon commented on #1206
Can you share your project?

[2019-12-19 10:17] fbricon commented on #1205
Closing as out-of-scope. Please open a bug report in https://github.com/microsoft/vscode-java-debug/issues

[2019-12-19 10:17] #1205 closed

[2019-12-19 10:43] iaxat commented on #690
Same problem

[2019-12-19 17:57] snjeza commented on #1204
VS Code doesn't set -Dfile.encoding=utf8
Could you check your environment: GRADLE_OPTS, JVM_OPTS and ~/.gradle/gradle.properties, <your_project>/gradle.properties? See https://docs.gradle.org/current/userguide/build_environment.html

[2019-12-19 18:13] lfarkas commented on #1204
none of them set.
when i use command line gradle only -Dfile.encoding=UTF-8 running. when i run vs code this is the process list:
[code]
and here is when i run gradle command line:
[code]

[2019-12-19 18:34] fbricon commented on #1204
try adding "-Dfile.encoding=UTF-8" to your `java.jdt.ls.vmargs` preference

[2019-12-19 18:49] fbricon commented on #1204
the utf8 encoding is coming from vscode's file.encoding preference. If you set UTF-8 there, you'll get a warning as the list of supported encodings is predefined.

[2019-12-19 19:05] lfarkas commented on #1204
which can't set (at least through the gui) to UTF-8. of course if i edit the settings.json than i can set it.

[2019-12-19 23:30] go1done commented on #101
was the issue really sorted? still occurring with vs code 1.41.1

[2019-12-20 02:36] go1done commented on #68
@gorkem , when can this fix be merged  in master ?

[2019-12-20 05:52] jaggerwang commented on #1206
@fbricon https://github.com/jaggerwang/spring-cloud-in-practice

[2019-12-20 08:01] fbricon commented on #68
@go1done that fix was merged 3 years ago.
This week, we pushed some [changes affecting completion](https://github.com/eclipse/eclipse.jdt.ls/pull/1298), so If you still had some issues with completion,  you can download the most recent `java-<version>.vsix` file from [http://download.jboss.org/jbosstools/jdt.ls/staging/](http://download.jboss.org/jbosstools/jdt.ls/staging/?C=M;O=D) and install it

[2019-12-20 08:10] maxandersen opened #1208 "Add Assign statement to new variable/field quick action"
using vscode its extract to local variable seem to take the nearest value rather than nearest statement to extract to variable. It should take the nearest statement instead.

This makes it very tedious to use compared to other IDE's to quickly create java code.

##### Steps To Reproduce
1. have code like:

[code]
2.  use ctrl+. while cursor is on `session` and use extract to local variable

#####

[2019-12-20 08:17] fbricon commented on #1208
This is the behaviour from Eclipse JDT:
<img width="860" alt="Screen Shot 2019-12-20 at 9 14 50 AM" src="https://user-images.githubusercontent.com/148698/71240392-4b1b9c80-2309-11ea-8d4f-2b60397707b6.png">

I'm not saying it's right, I'm just challenging the "very tedious to use compared to other IDE's" statement ;-)

[2019-12-20 08:33] maxandersen commented on #1208
well, i'm saying you are missing Assign Statement refactoring  then, extract field is much less used :)

it is eclipse that I referred to  above since it provide assign statement anywhere on the code line, vscode does not.

[2019-12-20 08:36] maxandersen commented on #1208
![2019-12-20_09-36-05](https://user-images.githubusercontent.com/54129/71241540-270d8a80-230c-11ea-8a03-5f51e27c35b4.png)

eclipse screenshot

[2019-12-20 08:40] maxandersen commented on #1208
renaming as i noticed eclipse has both extract and assign - I just never remember using extract daily ;)

[2019-12-20 23:21] xels034 opened #1209 "Javadoc tables not rendering properly when following a <br/> tag"
Tables aren't correctly displayed when following a `<br/>` tag. This only happens when they are used after the description block (inside the description of `@param`, `@return`, etc.)

##### Environment
- Operating System: Windows 10
- JDK version: 13.0.1
- Visual Studio Code version: 1.41.0
- Java extension version: 0.54.2

##### Steps To Reproduce
1. The code below generates Javadoc that shows th

[2019-12-21 16:15] maxandersen opened #1210 "support shebang style java files"
since Java 11 you can use shebang style scripts with java; would be great if vscode could support editing these with content assist etc.

https://blog.codefx.org/java/scripting-java-shebang/

helloworld example, save this as `hello` and chmod +x the file, now you can do ./helloworld.

[code]

unfortunately when opening this valid piece of java vscode doesn't do syntax highlightnig nor content asis

[2019-12-21 16:38] maxandersen commented on #1210
related https://bugs.eclipse.org/bugs/show_bug.cgi?id=558545

[2019-12-21 16:57] maxandersen opened #1211 "var not recognized in default java project"
i have a java file using "var xyz = .." syntax and vscode tell me its an error despite my jvm is a java 11 version.

can vscode setup source target to latest version or is there a way to at least configure it ?

[2019-12-21 19:51] snjeza commented on #1211
I can't reproduce the issue. You can try set the following:
[code]

[2019-12-23 11:06] jvalkeal opened #1213 "Code completion broken with IntelliCode"
Looks like latest release `0.55.0` broke server side snippets / code completions

##### Environment
Version: 1.41.1
Commit: 26076a4de974ead31f97692a0d32f90d735645c0
Date: 2019-12-18T15:04:31.999Z
Electron: 6.1.5
Chrome: 76.0.3809.146
Node.js: 12.4.0
V8: 7.6.303.31-electron.0
OS: Linux x64 4.15.0-70-generic
redhat.java: 0.55.0

##### Steps To Reproduce
Create empty MyClass.java file and type `class

[2019-12-23 11:13] LaughingVzr commented on #1213
yes,I have got the same problem. wating for response.

[2019-12-23 11:20] jvalkeal commented on #1213
Right, looks to be [Visual Studio IntelliCode](https://marketplace.visualstudio.com/items?itemName=VisualStudioExptTeam.vscodeintellicode) as when I disabled that extension, problem went away.

[2019-12-23 11:44] LaughingVzr commented on #1213
Right,so if disable it , only use redhut plugin for this work. but it seem like not other influence.

[2019-12-23 13:50] arekgofi commented on #1213
That works for me

[2019-12-23 14:12] jrobi001 commented on #1213
Thanks! Works for me, was wondering why the snippets stopped working 10-15s after opening a project today

[2019-12-23 14:23] Gameghostify opened #1214 "Intellisense broken with 0.55"
Intellisense completely stops working with the recently pushed 0.55 release of vscode-java.

As soon as I downgrade to 0.54, intellisense starts working again.

##### Environment
- Operating System: Windows 10 build 18362
- JDK version: 13 (Azul Zulu)
- Visual Studio Code version: 1.41.1
- Java extension version: 0.55
- Using Maven project (configured to use Java 13)

##### Steps To Reproduce
1. I

[2019-12-23 14:24] Gameghostify commented on #1214
I can't post the LS logs right now but can do that soon, if needed

[2019-12-23 14:25] fbricon commented on #1214
Closing as duplicate of #1213. TL;DR: your version of Intellicode is not compatible with vscode-java 0.55.0. Try disabling it.

[2019-12-23 14:25] #1214 closed

[2019-12-23 14:27] Gameghostify commented on #1214
Sorry for opening up a separate issue! Tested it and sure enough, intellicode breaks the extension.

Thanks!

[2019-12-23 14:29] fbricon commented on #1213
@testforstephen @akaroml I'm surprised QA didn't catch that one

[2019-12-23 14:34] Tazaf commented on #1213
Got the same issue, but decided to install the previous vscode-java version (0.54.2) instead of completly disabling IntelliCode (that is until this behavior is fixed by either one of the extensions)

[2019-12-23 14:37] fbricon commented on #1209
@NikolasKomonen looks like something for you

[2019-12-23 15:31] fbricon commented on #1213
Weird, I can't reproduce the issue. Can you guys try to call the "Clean the Java language server workspace" command? (F1)

[2019-12-23 15:48] fbricon commented on #1211
Works for me too
<img width="1102" alt="Screen Shot 2019-12-23 at 4 45 54 PM" src="https://user-images.githubusercontent.com/148698/71366966-ce581f00-25a3-11ea-8d0b-f64bf01ed5a5.png">

@maxandersen please attach your server log file (F1 > Java: Open Java language server log file)

[2019-12-23 16:01] jrobi001 commented on #1213
Not sure if this helps: my snippets disappear locally, I uninstalled vscode and extensions fully, then only installed the java pack and the issue remained. (before finding this).

not sure all snippets disappear, but class and sysout do for me, attached is a screenshot showing the snippets provided with intellicode disabled and enabled:
![dissaperingsnippets](https://user-images.githubusercontent.

[2019-12-23 16:12] jvalkeal commented on #1213
Well yes `vscjava.vscode-java-pack` contains `VisualStudioExptTeam.vscodeintellicode`, version `1.2.2`  which errors and prevents server side completion. Proper snippets defined in an extension naturally work. I did workspace reload few times before started to look deeper. Also re-enabling intellisense anyway asks you to reload.

[2019-12-23 16:17] jvalkeal commented on #1213
@fbricon  Btw, just tried insiders and it's working just fine there.

[2019-12-23 16:24] fbricon commented on #1213
Fix is on its way (https://github.com/eclipse/eclipse.jdt.ls/pull/1313)

[2019-12-23 16:52] fbricon commented on #1213
Can you guys please try to install https://download.jboss.org/jbosstools/jdt.ls/staging/java-0.55.1-1983.vsix?

[2019-12-23 17:07] anothernode commented on #1213
@fbricon, I had the same problem and after installing the VSIX from your link, IntelliSense completion works fine again for me! 😊

[2019-12-23 17:10] arekgofi commented on #1213
Works fine for me as well

[2019-12-23 17:12] fbricon commented on #1213
Ok thanks for checking. 0.55.1 is being rolled out on the VS Code Marketplace. Should be available in the next few minutes.

[2019-12-23 17:12] #1213 closed

[2019-12-23 17:15] Tazaf commented on #1213
Thanks @fbricon ! I can confirm that this fix resolves the issue on my end also.
The reactivity is very much appreciated 👍

[2019-12-23 17:36] jvalkeal commented on #1213
Thanks a bunch for a super quick fix!

[2019-12-23 21:17] fwcd commented on #1147
Is there a reason why AWT classes are hidden by default? These are commonly needed in Swing projects.

[2019-12-23 23:31] maxandersen commented on #1211
okey, tried this again and it seems to work but it’s a bit weird.

turns out when I run code . from command line the environment was with java 8, but inside the terminal in vscode it was saying java 11....funny enough when I used sdkman to choose java 11 before launching then `var` worked but now in the vscode terminal I got java 8.......no idea why :)

but that is separate from this issue. this i

[2019-12-23 23:31] #1211 closed

[2019-12-23 23:39] garymm commented on #419
Would be nice to have this built into the extension so it can work with "format on save".

[2019-12-24 00:11] LaughingVzr commented on #1213
fix quick,good job!

[2019-12-24 02:27] testforstephen commented on #1213
Thanks to point it out. Currently the compatibility for the third party extensions are not well covered, i will update the test plan for this part.

[2019-12-24 03:52] z00420691 opened #1215 "Could not lookup required component"
##### Environment
- Operating System:win32
- JDK version:1.8.0_231
- Visual Studio Code version:1.41
- Java extension version:0.55

##### Steps To Reproduce
Update this extension to 0.55 and the server failed to start. The log shows that 'Connection refused: connect' because of 'Could not lookup required component', but it works fine in version 0.54, maybe something wrong with maven? Wish your rep

[2019-12-24 13:50] astrelsky opened #1216 "Custom Source Actions"
It would be a really cool feature to be able to write custom source actions by writing a script in java. As an example you would simply create a new java file which would extend VscodeSourceAction and then do what you'd like. A setting for the directory to search for these java files would likely be appropriate.

This can make minor wants, such as an action to only generate getters and not setters

[2019-12-24 18:09] #1157 closed

[2019-12-24 19:36] Fubuchi opened #1217 "Intellisense not work on close source jar"
[provide a description of the issue]

##### Environment
- Operating System: Windows 10
- JDK version: openjdk 12.0.2 2019-07-16
- Visual Studio Code version: 14.1.1
- Java extension version: 0.55.1

##### Steps To Reproduce
1. Create a maven project that use a close source dependency (e.g: [aspose words](https://repository.aspose.com/repo/com/aspose/aspose-words/15.12.0/))
2. Use the dependency in

[2019-12-24 22:28] fbricon commented on #1217
I confirm something's odd with this project. I initially got it to work when I imported the project with JDK 13, then switched to JDK 11, 12 and back to 13 and got the same NPE.
Need to debug what's happening. cc @snjeza

[2019-12-24 23:21] fbricon commented on #1217
I don't understand how I could see any doc on hover. Must have been something else. Anyways, Eclipse has the same NPE issue with the javadoc jar bound to aspose-words jar.
Not being able to compute javadoc is one thing, but crashing completion is another issue. Failing to  compute the completion item description should be logged, but not prevent completion at all. org.eclipse.jdt.ls.core.internal.

[2019-12-25 09:55] Deathhush commented on #935
Hit the same issue with Antlr plugin. As maven don't require you to manually add source files for plugins that supports the generate-sources phase and handles it automatically, shouldn't vscode be able to do the same? Adding manual configuration makes the POM with redundant information and is very annoying.

[2019-12-25 13:39] zxc2012 opened #1218 "When run main function in test,Maven project couldn't locate the test-classes folders"
[provide a description of the issue]

##### Environment
- Operating System:Windows 10
- JDK version:1.8.0
- Visual Studio Code version:January 2020 (version 1.42)
- Java extension version:0.55.1
## `maven project tree:`
-pom.xml
-src
---main
-----java
-----resource
----------hanlp.properties
---test
##### Steps To Reproduce
1. debug/test class in main folder--OK
### Run test test\...\HelloWord,jav

[2019-12-25 15:30] Fubuchi commented on #1217
Aspose word require a separate java doc dependency, I'm not sure it has any thing to do with the NPE

[code]

[2019-12-25 21:43] snjeza commented on #1217
Eclipse JDT can't parse the com.aspose:aspose-words:15.12.0 javadoc.
@Fubuchi you can try to exclude the the com.aspose:aspose-words:15.12.0:javadoc dependency or update to the 19.12 version.

[2019-12-26 17:50] astrelsky commented on #672
I am currently struggling with this. How may I know that the formatter settings I have selected are actually being used?

There is a new setting `editor.defaultFormatter` with the following description:
"Defines a default formatter which takes precedence over all other formatter settings. Must be the identifier of an extension contributing a formatter."
Going through the list of options shows "red

[2019-12-27 01:22] thomas1984 opened #1219 "Encountering a BUG when developing Java with vscode"
[provide a description of the issue]

##### Environment
- Operating System::Linux x64 5.0.0-37-generic
- JDK version:1.8.0_201
- Visual Studio Code version:1.40.1
- Java extension version:

##### Steps To Reproduce
1. [step 1]
![Screenshot from 2019-12-26 11-27-03](https://user-images.githubusercontent.com/6303182/71495694-394a7400-288a-11ea-896c-db96728b50e1.png)

2. [step 2]
As shown above, the

[2019-12-27 02:45] testforstephen commented on #1216
Not fully understand your scenario. Do you mean something like [folder source actions](https://marketplace.visualstudio.com/items?itemName=bierner.folder-source-actions)?

[2019-12-27 02:52] testforstephen commented on #1200
Please see the comments https://github.com/redhat-developer/vscode-java/issues/579#issuecomment-402261125

[2019-12-27 02:52] #1200 closed