[2018-10-31 23:08] snjeza commented on #158
@matihost Do you use symbolic links?

[2018-11-01 02:45] yaohaizh commented on #409
VSCode has this setting:  "editor.suggestSelection": "first"

@Yuudaari  Does this solve your issue?

[2018-11-01 03:01] zjun2 opened #701 "缺少快捷键；Java development lacks shortcut keys"
在eclipse中鼠标悬浮在类名上 使用ctrl+T可以查看接口的所有实现类，或者所有的继承类。vscode似乎没有这个快捷键。还有鼠标悬浮在方法名上按住ctrl后出现选项可选择跳转到接口定义或者选择跳转到方法的实现。这两个快捷键对开发者来说很重要，但目前我不知道在vsvode中怎么使用这两个功能。如果有这两功能我可能会放弃使用eclipse。

In eclipse, hover over the class name and use Ctrl + T to view all the implementation classes of the interface, or all the inherited classes. Vscode does not seem to have this shortcut. There are also options that appear when

[2018-11-01 03:06] 410919244 commented on #701
Open Declaration
Open Implementation
Open Return Type

[2018-11-01 03:11] 410919244 commented on #701
click click click →→→[look image](http://wx-mmbiz.oss-cn-shanghai.aliyuncs.com/aaaa.png)  ←←← this this this

[2018-11-01 03:12] yaohaizh commented on #701
![image](https://user-images.githubusercontent.com/17268517/47830300-48d54680-ddc6-11e8-8043-b10553378c3b.png)

See the snapshot.
For Open Declaration, you can use F12.  For Open Return Type, you can use Go to Type Definition.  You can also binding your own key stroke use VSCode Settings. See: https://code.visualstudio.com/docs/getstarted/keybindings

For Open Implementation, you can track the fea

[2018-11-01 03:17] yaohaizh commented on #701
Also, the type hierarchy is in pipeline, you can track here: https://github.com/redhat-developer/vscode-java/issues/701

[2018-11-01 03:30] 410919244 commented on #701
The function of vs code "shift+12" is inferior to eclipse's "Open Implementation". But it is better than nothing, thank you for your answer. Thank you 3Q @yaohaizh

[2018-11-01 12:54] matihost commented on #158
Yes, I have symbolic links.
After removing them (hints: `find <workspace root dir> -type l` for other people  to locate them)
the problem vanished.
I would consider this as a bug.

[2018-11-01 13:31] matihost commented on #542
I had same case:

When trying to open any JDK class source, the following stacktrace appeared in "Ouput" tab in VS Code:

[code]
Other info:
- Language Support for Java plugin v 0.33.0
- Ubuntu 18.10 , JDK 11, `sudo apt install openjdk-11-source`  is installed as well.
- No error, no warning in `~/.config/Code/User/workspaceStorage/1051a_longHash_d8d0a3c/redhat.java/jdt_ws/.metadata/.log`
- disabl

[2018-11-01 14:57] tristan957 opened #702 "Java language server seems to fail to start due to not finding the parent project specified in pom.xml"
My work has this really funky setup for projects where there is this overarching Maven project called microservice-parent. Now the git repo contains a maven submodule of that project called dp-ms-demand-automation-parent, and that contains a maven submodule called dp-ms-demand-automation-server.

Folder structure looks like this
[code]

As you can see there is a ghost Maven project for microservic

[2018-11-01 14:59] matihost commented on #542
Thanks @praenubilus  it helped
I posted your workaround to Ubuntu bug:
https://bugs.launchpad.net/ubuntu/+source/openjdk-lts/+bug/1791219:
Symbolic link to src.zip in openjdk-11-source points to an invalid location.

However NPE is NPE, the plugin should at least warn that source were not found under particular location.

[2018-11-01 15:48] snjeza commented on #158
I think you had cyclic symbolic links.

[2018-11-01 16:10] fbricon commented on #702
We'll fix it. Could you attach a set of sample projects reproducing the bug? That'll help

[2018-11-01 16:20] fbricon commented on #158
@snjeza ideally, LocalProjectScanner should guard against infinite recursion.  @matihost can you describe how the links were set up, so we can reproduce the issue and guard against it?

[2018-11-01 16:29] SirRollo commented on #700
Hi, I did what you wrote but I don't get any running Java processes when running jps after I closed vscode.

Is there something else I can try? I really want to program Java with vscode...

[2018-11-01 16:33] praenubilus commented on #542
@matihost It's really annoying. Everytime apt update including openjdk will overwrite the manually created symbolink to the incorrect one again.

[2018-11-01 16:50] SirRollo commented on #700
more troubleshooting I did:

- went into AppData\Roaming\Code\User\workspaceStorage and deleted everything in this folder.
- uninstalled all java related extension and also disabled all of my other extensions.
- went to .vscode\extensions and deleted folder "redhat.java-0.33.0"
- installed just the java.lang extension by redhat
- reloaded vscode
- waited a bit - error appeared again
- while waitin

[2018-11-01 23:30] snjeza commented on #158
Re https://bugs.eclipse.org/bugs/show_bug.cgi?id=540700

[2018-11-02 03:03] primesoftware commented on #632
I have some time to try and tackle this, however I am not clear on where the implementation details lay here. I see the references in extension.ts to the Gradle build files, but I don't see where these files get handled. How does vscode know where to look for external jars downloaded via Gradle? I can't seem to find any other references to Gradle that deal with where vscode-java looks for classpat

[2018-11-02 03:12] fbricon commented on #632
Most of the work requires the jdt.ls server to support kotlin-based gradle files, that means buildship needs to [provide proper kotlin support](https://github.com/eclipse/buildship/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+kotlin) in the 1st place.
But I'm not sure we want to add gradle kotlin support to jdt.ls OOTB (for technical and legal reasons), so it might be enabled through an extension.

[2018-11-02 03:14] fbricon commented on #632
FYI, on the jdt.ls side, gradle support starts with https://github.com/eclipse/eclipse.jdt.ls/blob/master/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/managers/GradleBuildSupport.java

[2018-11-02 03:28] fbricon opened #703 "Smart semicolon autocorrect?"
Intellij has this nice semicolon autocorrect, that when typed within parenthesis instead of end of the line, will automatically insert the semicolon at the end of the line.
![smart-semicolon](https://user-images.githubusercontent.com/148698/47892291-435f1700-de2d-11e8-97fc-3329996c5f02.gif)

The VS Code marketplace has at [least one](https://marketplace.visualstudio.com/items?itemName=thousandtyon

[2018-11-02 16:00] #700 closed

[2018-11-04 07:55] yaohaizh commented on #673
@fwcd  For multi imports, you can just select the ambiguous type and trigger code action (ctrl +  . ), pick up the right lib from the context menu, which has the similar experience as the eclipse quick fix(ctrl + 1)

[2018-11-04 09:05] yaohaizh commented on #328
Close this issue as it had been solved. Project setting issue.

[2018-11-04 09:05] #328 closed

[2018-11-04 09:05] #315 closed

[2018-11-04 09:08] yaohaizh commented on #662
@talmanes It is hard find any useful information from these information.  Could you share your error log using this trick: https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#get-the-java-language-servers-workspace-logs

If possible, could you share your sample project?  Thanks.

[2018-11-04 09:13] #224 closed

[2018-11-04 09:14] yaohaizh commented on #627
This should have been fixed. @bobjiang1988 Please help verify.

[2018-11-04 09:14] yaohaizh commented on #621
Have been fixed.

[2018-11-04 09:14] #621 closed

[2018-11-04 09:33] yaohaizh commented on #567
@andxu, This is the design behavior of Java language server. We need this status for end user.

[2018-11-04 09:33] #567 closed

[2018-11-04 09:33] #562 closed

[2018-11-04 09:40] yaohaizh commented on #519
@wimalopaan Need more information for this issue. Could you share your sample project?

[2018-11-04 09:41] yaohaizh commented on #522
Close this since this is vscode related project.

[2018-11-04 09:41] #522 closed

[2018-11-04 09:57] #450 closed

[2018-11-04 15:58] martinlippert commented on #698
Hey @fbricon, I share your concerns, it is getting pretty crowded for Java devs nowadays in VSCode with all those extensions. Not sure about the solution though, no good idea in mind. I usually like the quick in-place information boxes that people can show up in Eclipse via a simple keystroke, so they can stay in the editor all the time. For sounds tasty to me for something editor-centric like VSC

[2018-11-04 21:04] Yanpas opened #705 "Type inference doesn't work in a standalone java file"
[provide a description of the issue]

##### Environment
- Operating System: arch linux
- JDK version: 11
- Visual Studio Code version: 1.28
- Java extension version: 0.33

##### Steps To Reproduce
code example:
[code]
Code completion doesn't work. `scanner`'s type is unknown

[2018-11-04 22:52] fbricon commented on #705
Are you testing a single, standalone java file? or is it part of a Java 11-based project (as configured by Maven/Gradle)?

[2018-11-05 00:10] rogersachan opened #706 "Support for Eclipse .launch files?"
This would allow for easy use and compile/launch of projects

[2018-11-05 08:07] Yanpas commented on #705
It's a single file

[2018-11-05 09:32] brychcy commented on #693
I cannot reproduce the problem in eclipse (using the master of jdt, m2e and m2e-apt), but maybe because of the pom.xml changes.

[2018-11-05 12:39] V0idk opened #707 "Highlighting is wrong"
![image](https://user-images.githubusercontent.com/17514799/47998590-dd2f0880-e13a-11e8-8061-cc0535885da6.png)

[2018-11-05 14:42] RuiffCardoso commented on #698
This would be good to improve debugging. Setting a debug point inside a dependency class is very hard. To resolve that issue, I normally just type that class name, so I can "Navigate into", but I found that a little hacky.

[2018-11-05 16:15] JRiggenbach commented on #662
I had this same problem, but clearing the language server workspace resolved it for me

New in 0.33.0

You can clean the workspace directory in the following way:

Open the command palette (F1)
select Java: Clean the Java language server workspace
click Restart and delete

[2018-11-05 18:37] aparrish22 opened #708 "Redirected to vscode-java. Java Extension: "Error: Could not find or load main class <myjavafilename>""
Issue Type: <b>Bug</b>

I don't know why, but Java stopped working for some reason. I didn't change anything. One day I turn my computer off after successfully running a Java code on VS Code. Then the next day, right after I turn on my pc and open up VS code, I try to run my Java code(s), but VS code returns:
"Error: Could not find or load main class (myjavafilename)"

And don't ask me if I instal

[2018-11-06 16:42] fbricon commented on #708
Try to delete the server workspace with the "Clean the Java language server workspace" command

[2018-11-06 17:17] fbricon commented on #604
The VS Code team updated the textmate grammar [earlier today](https://github.com/Microsoft/vscode/commit/c71f5247773f535ab2d6e33dd3f3de05b85b116f#diff-06694e4ca39e6226686168fde7e0f886). The insiders build with the updated grammar should be available tomorrow, and the next official release probably within a week.

 I tested the new grammar locally and it looks good now:
<img width="330" alt="screen

[2018-11-06 17:36] fbricon commented on #516
This has been fixed some time ago.

[2018-11-06 17:36] #516 closed

[2018-11-06 17:43] #271 closed

[2018-11-06 17:50] fbricon commented on #707
Syntax highlighting is provided by vscode proper, which itself depends on the [atom grammar](https://github.com/atom/language-java/blob/master/grammars/java.cson). So it needs to be fixed there first

[2018-11-06 17:56] fbricon commented on #706
This is out of scope of vscode-java. Launch configurations are covered by the [vscode-java-debug](https://github.com/Microsoft/vscode-java-debug) project.
I honestly don't think this will be a viable solution anyway, since it would require porting some more Eclipse code or dragging more dependencies to support that use case, which can already be achieved with vscode's launch.json files.

[2018-11-06 17:56] #706 closed

[2018-11-06 17:58] fbricon commented on #705
@Yanpas did you set the java.home preference to point towards your Java 11 install?

[2018-11-06 19:07] Yanpas commented on #705
java.home is null
Hm, AFAIR I was using java 8, then I've installed java 11 and ran `sudo archlinux-java set java-11-openjdk`. `java -version` showed 11 and the issue was reproducible. After reboot it seems to work. Closing.

[2018-11-06 19:07] #705 closed

[2018-11-06 23:11] aparrish22 commented on #708
Thanks! That worked!

To use the "Clean the Java Language server workspace" command, I had to attempt to run a .java program. After I received the same error, I pressed F1 and entered the Clean... command.

[2018-11-06 23:11] #708 closed

[2018-11-07 04:17] bruceharrison1984 commented on #691
I'm having this same issue. Any settings I change in `eclipse-formatter.xml` are not reflected in code auto formatting. Specifically, change `org.eclipse.jdt.core.formatter.join_wrapped_lines` to false doesn't prevent joining of lines.

[2018-11-07 12:11] Phonesis commented on #667
I am still getting this issue even after performing the clean java workspace command in VS Code.

[2018-11-07 17:56] snjeza commented on #693
@fbricon @graemerocher Could you try to add the following dependency:

[code]

[2018-11-07 21:31] liangjacky opened #710 "Exclude certain packages from autocomplete/autoimport"
Autoimport does not work when you have packages that have the same class name.

For example, when typing `List<String> a = new List<String>()`, there will be errors because it doesn't know whether to resolve against `java.util.List` or `java.awt.List`.

If I know in my project I never use the `java.awt` package, can we add a setting to ignore that from the autocomplete/autoimport feature?

[2018-11-08 01:38] #627 closed

[2018-11-08 12:54] talmanes commented on #662
Steps from @JRiggenbach worked for the project.  Since I'm changing environments a lot based on the version I need to troubleshoot, I have to make sure I clean out the language workspace.

Thanks again.

[2018-11-08 12:54] #662 closed

[2018-11-09 15:54] fbn-roussel opened #711 "Static imports order"
The _organize imports_ feature puts the static imports at the beginning of the _imports_ block (just after package).
It would be nice to have an option that gives you the choice to put it either at the beginning or at the end.

##### Environment
- Operating System: Fedora 29
- JDK version: 1.8.0_191
- Visual Studio Code version: 1.28.2
- Java extension version: 0.33.0

##### Steps To Reproduce
1.

[2018-11-09 16:16] fbricon commented on #711
Hey Fabien, long time no see :-)

If JDT has the option, then we can expose it.

[2018-11-12 09:08] xuzimianxzm commented on #479
**I solved this problem.**
The following configuration is added to the pom.xml file:
[code]

https://www.cnblogs.com/xuzimian/p/9947481.html

[2018-11-12 11:52] amrtn commented on #228
I'm facing the same issue. Only javadoc is prompted for private methods.

 I'm on Code - Insiders  version `1.29.0-insider`:

![image](https://user-images.githubusercontent.com/151747/48345942-c2e4b580-e679-11e8-93cf-f8a0bef6a49d.png)

[2018-11-12 23:33] YousefSaber commented on #697
@snjeza @fbricon it's over nothing works I'm tired of trying I'll only use VSCode on Ubuntu since it has the largest community and I'll post issues only from there

[2018-11-12 23:33] #697 closed

[2018-11-13 03:11] dlee005c opened #712 "Can't resolve references to maven groups/artifacts in pom.xml"
Java Language server fails to update/run when editing a maven project that references a maven artifact that is not in the public maven repo.  Specifically for a pom that contains

[code]

##### Environment
- Operating System: Mac OSX 10.13.6
- JDK version: openjdk64-1.8.0.181
- Visual Studio Code version: 1.29.0
- Java extension version: 0.33.0

##### Steps To Reproduce
1. Create a maven project t

[2018-11-13 14:29] fbricon commented on #712
Closing as duplicate of #702.

Please try the latest CI build from [http://download.jboss.org/jbosstools/jdt.ls/staging/](http://download.jboss.org/jbosstools/jdt.ls/staging/?C=M;O=D). Download the most recent `java-<version>.vsix` file and install it by following the instructions [here](https://code.visualstudio.com/docs/editor/extension-gallery#_install-from-a-vsix).

[2018-11-13 14:29] #712 closed

[2018-11-13 16:07] danieltedev commented on #690
Sorry I figured out what I did wrong, I put the settings inside the workspace and for this reason it was not working.

[2018-11-13 16:09] #690 closed

[2018-11-13 19:02] dlee005c commented on #702
Coming over from #712
@fbricon
I've installed java-0.33.0-1263.vsix and see that the error in the language server is no longer occurring and the language server is running, but the problem/error in pom.xml is still occurring, resulting in java references in the pom not getting loaded (spring stuff).

[2018-11-13 19:55] fbricon commented on #702
@dlee005c can you share a set of sample maven projects reproducing this issue?

[2018-11-13 20:04] dlee005c commented on #702
That's a little tricky.  I can't expose my company's internal repository.  Do you know of any publicly available internal maven repositories that contain unique artifacts?  I'll try to find one.

[2018-11-13 20:10] fbricon commented on #702
@dlee005c What do you mean by unique artifacts? unique by name? having a single version?
Anyways, you should be able to manually create a series of new pom files, that should mimic your real life project's hierarchy.

Does your project build normally in Eclipse?

[2018-11-13 20:31] dlee005c commented on #702
i mean artifacts that aren't in the central repo.
I'm fairly sure the issue arises when referencing an artifact from a mirror and has less to do with the project hierarchy.
Builds normally in eclipse

[2018-11-13 20:35] fbricon commented on #604
@alexr00 do you know why https://github.com/Microsoft/vscode/commit/c71f5247773f535ab2d6e33dd3f3de05b85b116f#diff-06694e4ca39e6226686168fde7e0f886 was not picked up in the 1.29 release?

[2018-11-13 20:38] fbricon commented on #702
have you tried calling the`Clean the Java language server workspace` command?

[2018-11-13 20:41] dlee005c commented on #702
Yes.  Does not change anything.
Also, thanks for working with me on this.

[2018-11-13 20:44] fbricon commented on #702
what's your Maven settings.xml configuration? (you can obfuscate any sensitive data)

[2018-11-13 20:47] dlee005c commented on #702
[code]

[2018-11-13 20:52] fbricon commented on #702
@dlee005c thanks. I'll let @snjeza look into into for now.

[2018-11-14 00:06] fbricon commented on #233
Fixed with #699, thanks to @testforstephen

<img width="821" alt="screen shot 2018-11-13 at 7 05 33 pm" src="https://user-images.githubusercontent.com/148698/48451159-1f79ca80-e777-11e8-8a9c-44a75a9b05b4.png">

[2018-11-14 00:06] #233 closed

[2018-11-14 03:19] tristan957 commented on #702
@fbricon is there a release slated any time soon?

[2018-11-14 04:06] fbricon commented on #702
@tristan957 probably this Friday. but it should be light in features and bug fixes

[2018-11-14 04:29] fbricon commented on #711
Matching issue in upstream JDT: https://bugs.eclipse.org/bugs/show_bug.cgi?id=304415

It's been opened since 2010. Fixing it in vscode-java requires fixing it upstream 1st. Probably not gonna happen anytime soon, unless people massively vote for that feature.

[2018-11-14 05:55] tristan957 commented on #702
As long as it includes this fix, I would be extremely happy

[2018-11-14 05:56] tristan957 commented on #702
Otherwise the waiting game continues haha

[2018-11-14 06:51] fbricon commented on #513
Now that https://github.com/eclipse/eclipse.jdt.ls/issues/796 was merged, this should be doable.
@mjbvz do you know if it's possible to bind keys to a code action?

[2018-11-14 08:53] alexr00 commented on #604
Generally, we prefer not to update grammars right before we release so that the grammar update has plenty of time for users on the VS Code Insiders build to try it out. This grammar change came in close to when we were going to release 1.29, so I didn't pick it up for 1.29. It's already in Insiders though 😊

[2018-11-14 13:07] fbricon commented on #604
ok, fair enough

[2018-11-14 14:43] dlicois opened #714 "Suggestion : contribute "extract variable" and "extract method" Code Action kinds"
Hello,

 vscode-java introduced "extract to variable" and "extract to method" refactoring as quick-fixes a while ago. #303 #459

However, the extension doesn't contribute Code Action kinds or commands, as the typescript extension does.

https://code.visualstudio.com/docs/editor/refactoring#_keybindings-for-code-actions

https://github.com/Microsoft/vscode/blob/758206be09ddfaac46e941a77375ec34ed928

[2018-11-14 15:36] RobertDeRose commented on #670
Is this a bug? I have the same thing

[2018-11-14 16:23] fbricon commented on #714
should be doable now that the server returns code actions. we need to adjust the code action kinds on the server side though.

[2018-11-14 22:10] snjeza commented on #702
@dlee005c Could you try to remove the java.configuration.maven.userSettings property or use an absolute path (("java.configuration.maven.userSettings": "/home/<your_username>/.m2/settings.xml", for instance)?

[2018-11-14 23:09] dlee005c commented on #702
Took out my configuration and it works like a charm now.  Thank you both for taking the time to help me sort through this.  I'm very happy to being going back to this instead of eclipse.

[2018-11-15 06:48] yaohaizh commented on #714
The server side already adjusted the code action for refactor.extract. Need update for organize import, the PR should be ready by the end of this week.

[2018-11-15 07:01] yaohaizh commented on #670
@RobertDeRose  @dgolovin Do the language features such as auto completion and diagnostics working or not?

[2018-11-15 10:01] akaroml opened #716 "Chinese Language support"
We have lots of Chinese developers. It would be great if we can provide a localized interface. This issue is to track the effort of building the localization story.
Supporting Chinese is a start. Once the solution is working, we can expand the support to other languages.

[2018-11-15 16:26] RobertDeRose commented on #670
yes.... just really, really slowly.  Seems like every time I type, the status bar says "Building workspace 0%" then "Validating Document 25%"... "Validating Document 50%"... 2 more times until 100%, then finally intellisense kicks in.  Takes on average about 10 seconds before intellisense kicks in and the entire file stops show red swiggles for everything.

I asked this question because I found th

[2018-11-16 02:47] PSC13 opened #717 "Class Path Case sensitive problem"
[provide a description of the issue]

##### Environment
- Operating System: macOS
- JDK version: JDK 11
- Visual Studio Code version: 1.29.1
- Java extension version: 0.15.0

##### Steps To Reproduce
1. [step 1] Install it on a case sensitive macOS. (choose the file system as case sensitive)
2. [step 2] then everything will going wrong.

I am not sure if it is because of this extension, there is a

[2018-11-16 06:38] yaohaizh commented on #670
What's the size of your project?

[2018-11-16 14:00] RobertDeRose commented on #670
[code]

[2018-11-16 14:45] schmidp commented on #588
same problem

[2018-11-16 14:52] fbricon commented on #588
That's really odd. Can you try the "Clean the Java Language server workspace" command?
If it doesn't fix the issue, we'll definitely need a sample project to reproduce this issue

[2018-11-16 14:55] schmidp commented on #588
@fbricon Cleaning the workspace helped. Thank you. I will see if I can manage to reduce our project to a sample.

[2018-11-16 20:51] fbricon commented on #693
Yeah I confirm adding the micronaut-test-spock dependency immediately triggers proper generation of test byte code. Without even touching the .factorypath. Since most of the dependencies are groovy stuff, I though adding junit:4.12 to the dependencies instead would do the trick but no dice. There's something fishy here. related to spock. @snjeza any idea why? How did you find out about spock?

[2018-11-16 20:52] fbricon commented on #693
@brychcy I get the exact same behavior in Eclipse 2018-12 M2

[2018-11-16 22:38] snjeza commented on #693
I have reviewed the log and noticed that io.micronaut.test.extensions.spock.MicronautSpockExtension  is missing.

[2018-11-16 23:31] fbricon commented on #693
Wow, I don't know how I missed that :man_facepalming:
[code]

@graemerocher does it make sense? I need to figure out why Maven CLI adds it to the classpath, but it is ignored in m2e

[2018-11-16 23:41] hcapp01 opened #718 "Any config to disable Circular Dependencies warning/error?"
Any config to disable this warning/error? The same project can be loaded in intellij fine without any warning/error.

"A cycle was detected in the build path of project xxx - Build Path Problem"

##### Environment
- Operating System:windows 10
- JDK version:1.8
- Java extension version: 0.33

![image](https://user-images.githubusercontent.com/3634644/48652699-a5835480-e9b5-11e8-9683-f72caf8104a9.p

[2018-11-17 08:04] graemerocher commented on #693
@fbricon It does make sense. Note however the missing Spock dependency is by design. We support Spock and Junit 5 with only one needing to be on the class path

Although the annotation does reference a class that is not there. This is not an issue with javac nor an issue with Spock or Junit at runtime

I don’t want users to have to use 2 different annotations for each framework so what we will pro

[2018-11-18 08:20] Aditya-404 opened #721 "Classpath is in complete.only syntax errors will be reported."
I am new to java programming in vs code need help to solve the problem.

[2018-11-19 21:34] tristan957 commented on #702
Was this supposed to have been fixed in 0.34?

[2018-11-19 21:49] tristan957 commented on #702
It is not for me. Running VSCode 1.29.1, extension version 1.29.1. Maybe I misreported my issue, but in the `pom.xml` file I am still seeing

[code]
In the output
[code]

[2018-11-19 22:18] fbricon commented on #702
Please open another ticket for the NPE, this is an orthogonal issue.

The non-resolvable parent issue should have been fixed. @snjeza?

[2018-11-20 00:16] tristan957 opened #723 "NullPointerException being reported on extension start up"
[provide a description of the issue]

##### Environment
- Operating System: macOS 14.1
- JDK version:
- Visual Studio Code version: 1.29.1
- Java extension version: 0.34

##### Steps To Reproduce
1. Hover some places in the code

[attach a sample project reproducing the error]
@fbricon let me know if you need a project to reproduce this and I will try to provide one. Unsure if you had one from pre

[2018-11-20 21:02] snjeza commented on #702
I have fixed https://github.com/eclipse/eclipse.jdt.ls/pull/839. https://github.com/redhat-developer/vscode-java/issues/723 is a separate issue.

[2018-11-21 16:33] #513 closed

[2018-11-21 16:36] alejandrosaucedo commented on #551
I have the same problem.

What is the solution?

[2018-11-21 16:42] fbricon commented on #513
The `Organize imports` command is no longer available directly at the root of the context menu, via  the `Source actions...` menu:

![new-organize-imports](https://user-images.githubusercontent.com/148698/48855569-57d66580-ed82-11e8-95a9-80ded6efdd91.gif)

The `Shift+Alt+o` shortcut is still working as before.

[2018-11-21 16:48] fbricon commented on #721
Have you looked at https://github.com/redhat-developer/vscode-java/wiki/%22Classpath-is-incomplete%22-warning , from the "More Information" button?

[2018-11-21 17:32] alejandrosaucedo commented on #509
I have the same problem

[2018-11-21 18:43] fbricon commented on #290
This is not working anymore

[2018-11-21 21:52] afzaal-ahmad-zeeshan opened #725 "Incorrect constructor being generated for private classes"
This is different than another issue already registered, here, https://github.com/redhat-developer/vscode-java/issues/683.

##### Environment
- Operating System: Windows 10
- JDK version: JDK 9
- Visual Studio Code version: 1.29.1
- Java extension version: 0.34.0

##### Steps To Reproduce
1. This can be seen in the cases where you have a private class alongside a public class in the same file.
2.

[2018-11-21 21:57] fbricon commented on #725
Right, this code snippet is rather [dumb](https://github.com/redhat-developer/vscode-java/blob/master/snippets/java.json#L46). The logic needs to be moved to jdt.ls, where the context will be available to provide an accurate completion.

[2018-11-22 07:47] tristan957 commented on #723
After the holidays in the US, I will provide one

[2018-11-22 16:32] graemerocher commented on #693
I filed https://bugs.eclipse.org/bugs/show_bug.cgi?id=541466 to track this issue in the Eclipse APT implementation

[2018-11-23 02:09] yaohaizh commented on #622
This is fixed in the latest published extension.

[2018-11-23 02:09] #622 closed

[2018-11-23 21:55] pskrunner14 commented on #63
Fixed it for me.

[2018-11-26 03:10] yaohaizh commented on #597
- `Add override/implement methods` code generation

[2018-11-26 10:37] shoffmeister opened #726 "Inadequate errror message - Lifecycle mapping "org.eclipse.m2e.jdt.JarLifecycleMapping" is not available."
VS Code extension emits an inadequate error message `Lifecycle mapping "org.eclipse.m2e.jdt.JarLifecycleMapping" is not available. To enable full functionality, install the lifecycle mapping and run Maven->Update Project Configuration.` whenever the underlying service has a problem with an internal error (see https://github.com/eclipse/eclipse.jdt.ls/issues/866)

##### Environment
- Operating Syst

[2018-11-28 01:29] yaohaizh opened #727 "jdk8 not found errors, even though maven install works"
_From @vishalpmittal on November 28, 2018 1:26_

Code just refuses to identify jdk 8. But if I right click maven project > myproject and click install, the maven project installs fine.

I keep seeing 1.8 error in problems tab:
 "Lambda expressions are allowed only at source level 1.8 or above [1610613381] (line, column)"

User settings.json
"java.home": "/Library/Java/JavaVirtualMachines/jdk1.8.0_

[2018-11-28 01:29] yaohaizh commented on #727
I think this is not the first time we see issues about detects JDK on macOS

[2018-11-28 01:32] vishalpmittal commented on #727
I searched and tried every possible workaround by now.
Is there a latest fix you know of ?

[2018-11-28 01:38] testforstephen commented on #727
@vishalpmittal Duplicated with https://github.com/redhat-developer/vscode-java/issues/328.
Looks like you're running a maven project, and maven will use JDK 1.5 to compile your code by default. You need specify the source target to 1.8 in pom.xml.

[2018-11-28 06:31] fbricon commented on #710
We need a `java.completion.filteredTypes` preference, that basically behaves as JDT UI's type filter preference:

![](https://bsi-software-qbzxeqguxv.stackpathdns.com/fileadmin/daten/Scout_Blog/2015/list_import_img3.png)

[2018-11-28 10:43] Yanpas opened #728 "Syntax highlighting is broken with array syntax"
[provide a description of the issue]

##### Environment
- Operating System: linux
- JDK version: 11
- Visual Studio Code version: 1.29.1
- Java extension version: 0.34

##### Steps To Reproduce
Snippet:
[code]
![image](https://user-images.githubusercontent.com/7345761/49146556-71902380-f313-11e8-910e-a7e642d590fa.png)

[2018-11-28 12:40] JohnColeman commented on #509
Me too  - can't even figure out a workaround:-(

[2018-11-28 18:56] vishalpmittal commented on #727
@testforstephen
I have following already in my pom.xml. Is that the same ?

`	<properties>
		<project.build.sourceEncoding>UTF-8</project.build.sourceEncoding>
		<java.version>1.8</java.version>
	</properties>
`

[2018-11-28 19:06] scarlet-begonias commented on #727
@vishalpmittal , I have something like this in my pom.xml, maybe it will work for you?

[code]

[2018-11-28 19:13] fbricon commented on #727
@vishalpmittal can you please share your pom.xml?

[2018-11-28 19:17] vishalpmittal commented on #727
Sure, PFA. I have renamed it to pom.txt.
[pom.txt](https://github.com/redhat-developer/vscode-java/files/2626272/pom.txt)

You can also see it on github at:
https://github.com/vishalpmittal/practice-fun/blob/master/funNLearn/pom.xml

[2018-11-28 19:30] fbricon commented on #727
So `java.version` is not a standard maven property. As @scarlet-begonias commented, it needs to be explicitly used in the maven-compiler-plugin configuration.

If you want to keep a lower verbosity, you need to use the [standard properties](https://maven.apache.org/plugins/maven-compiler-plugin/examples/set-compiler-source-and-target.html). Either replace the `<java.version>` property with
[code]

[2018-11-28 20:19] vishalpmittal commented on #727
Hey thanks for the help. no errors now.
didn't know i had to explicitly update that in maven.

[2018-11-28 20:21] #727 closed

[2018-11-29 07:16] qingshan-dev commented on #580
https://mvnrepository.com/artifact/org.projectlombok/lombok/1.12.6

This version is available.

[2018-11-29 08:31] tristan957 commented on #723
Sorry I have not gotten a project up to show. It is the end of the school semester so trying to focus.

[2018-11-29 10:12] FabianoTerdenge commented on #384
and do you use the .jar in visual studio code ?

[2018-11-29 13:43] danmikita commented on #702
@snjeza I am having an issue where any dependencies that are stored in my personal Artifactory will not resolve. Anything in maven central resolves just fine. It appears that the plugin isn't referencing my local .m2/repository... I have set the variable in the configuration file, and I am using the latest version.

[code]
Is there something I am missing?

[2018-11-29 13:46] fbricon commented on #702
@danmikita since "~/.m2/settings.xml" is the default location, you don't need to add it to your settings. See if removing it helps.

[2018-11-29 14:01] danmikita commented on #702
@fbricon Unfortunately, that did not fix the problem. How does this work. Does it only reference the settings.xml and pull down all new artifacts? Or does it also use the local artifact repository? `~/.m2/repository`

Oddly - If I build the master branch of the language server directly and run against it, it works great!

[2018-11-29 14:05] fbricon commented on #702
try the `Clean the Java language server workspace` [command](https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#clean-the-workspace-directory).

[2018-11-29 18:03] fbricon commented on #728
Looks like this is caused by this issue upstream: https://github.com/atom/language-java/issues/172

[2018-11-29 18:06] fbricon commented on #728
@snjeza please keep an eye on this one. You can provide feedback on the proposed fix upstream, if it can help getting things moved forward.

[2018-11-29 19:18] snjeza commented on #702
@danmikita could you try to use an absolute path - https://github.com/redhat-developer/vscode-java/issues/702#issuecomment-438837421?

[2018-11-29 22:03] fbricon commented on #718
No it's not possible to disable it. You need to break the cycle.
What kind of project allows such cyclic dependencies? gradle?

[2018-11-30 09:15] SupinePandora43 opened #729 "Encoding problems with /** *docs */"
[provide a description of the issue]

##### Environment
- Operating System:Windows 7, x32, 2 gb
- JDK version: 1.8.0_151
- Visual Studio Code version:1.28.2
- Java extension version:0.33.0

i'm russian and i have problems with encoding:
if i set encoding to windows1251, my docs(in /** *some words */) on russian language displayed correctly, but System.out.print print "?????", in utf-8: docs displa

[2018-11-30 14:15] augustocdias opened #730 "Wrong reported errors by compiler"
I have some pieces of code that compiles fine in IntelliJ and Gradle but VSCode reports them as errors.
Examples:

1. Error in import

    import sun.security.ssl.ProtocolVersion;

![screenshot 2018-11-30 at 11 46 27](https://user-images.githubusercontent.com/1080789/49284699-a6c47f00-f495-11e8-8149-262914fd44ff.png)

I have to point that I'm not using the JVM in the error description. Here's my w

[2018-11-30 14:49] Fubuchi commented on #580
I think there is a problem with the m2e plugin, I create 2 sample spring project from https://start.spring.io/ , one with maven, one with gradle and both have lombok + Spring JPA, only the maven project failed to build with VSCode (mvn install work file) and generate the same log as what @kalch has posted.

[2018-11-30 14:49] danmikita commented on #702
@snjeza @fbricon  I was able to copy my locally compiled server to the correct location and use it with the plugin. I get the same results - aka, local maven dependencies do not resolve. So I have narrowed it down to being a problem in the vscode-java extension. Just an update. I'll see if I dig into the extension a bit and try to find the problem. Let me know if you have any pointers for me.

[2018-11-30 14:51] fbricon commented on #580
@Fubuchi please attach those projects here

[2018-11-30 14:58] Fubuchi commented on #580
Here is the maven and gradle projects, run `Java: Force Java Compilation` on the maven project produce the same error in log file. The maven spring boot project at my company build in VSCode without error, by monday, I will take a look at that project pom and other config to see if it can help.

[demo.zip](https://github.com/redhat-developer/vscode-java/files/2633810/demo.zip)

[2018-11-30 15:52] SupinePandora43 commented on #729
fixed!!! just in settings.json add "files.autoGuessEncoding": true

[2018-11-30 15:52] #729 closed

[2018-11-30 18:52] fbricon commented on #580
So I seem to have found a workaround.
@Fubuchi  The difference between the gradle and maven projects is that Maven support in vscode-java/jdt.ls automatically detects annotation processors and enables Eclipse's annotation processing (JDT APT). Gradle support doesn't do that.
Running annotation processing when the server is started with Java>9 fails for lombok, due to rzwitserloot/lombok#1572.
The

[2018-11-30 20:00] Fubuchi commented on #580
@fbricon Confirm it fix the issue. Code can compile without error now.

[2018-12-02 20:12] Yanpas commented on #705
Faced it again with java 11. Tried to debug this, then ran command "Clean java langauge server workspace" and that helped

[2018-12-03 12:06] augustocdias commented on #730
@fbricon sorry for the long time. I didn't have access to my computer during the weekend.
Here's an example.
If you run `./gradlew clean assemble testClasses`, you'll see that everything compiles, but vscode reports errors in the the test class and also in the app class.

[bug-report.zip](https://github.com/redhat-developer/vscode-java/files/2639337/bug-report.zip)

[2018-12-03 19:57] hcapp01 commented on #718
Yes, gradle.

[2018-12-03 19:57] #718 closed

[2018-12-04 04:01] yuzexun opened #731 "add exception url in debug console"
[provide a description of the issue]

##### Environment
- Operating System:MacOS 10.14.1
- JDK version:1.8
- Visual Studio Code version:1.29.1
- Java extension version:0.35.0

##### Steps To Reproduce
1. [step 1]
run code:
new Exception().printStackTrace();

[attach a sample project reproducing the error]
[attach logs](https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#enable-log

[2018-12-04 05:10] fbricon commented on #731
@yaohaizh can you please try to move that one to https://github.com/Microsoft/vscode-java-debug/issues?

[2018-12-04 07:45] yaohaizh opened #732 "Improve the extension load time by using webpack"
References:

1.	[VS Code extension sample](https://github.com/Microsoft/vscode-extension-samples/tree/master/webpack-sample)
2.	[Improving load times and performance of Python Extension for VS Code with WebPack](https://medium.com/@don.jayamanne/improving-performance-of-python-extension-for-vs-code-with-webpack-8e4469533f09)

[2018-12-04 13:03] fbricon commented on #732
Good idea. I entertained the thought of doing something similar actually, but given my crappy knowledge of the npm ecosystem, it never materialized.

[2018-12-04 19:58] paulnortonopi opened #734 "Feature request: exclude certain files from triggering autobuild"
It would be great to have a way to exclude certain files from triggering the autobuild. I'm using an H2 database, and every time I log in it updates the `.h2.server.properties` file in `src/main/resources`. This triggers a restart on the server, which logs me out of the H2 console and creates a vicious cycle. Is there any way to exclude this file from the autobuild detection?

[2018-12-04 20:06] fbricon commented on #734
what kind of project is that? maven? gradle?
is .h2.server.properties supposed to be in src/main/resources if it's generated during runtime?
how is your app/server launched?

[2018-12-04 20:10] paulnortonopi commented on #734
@fbricon It's a Spring Boot application using Maven and the default H2 configuration. I wondered the same thing, is there a way to configure spring to set a different location for that file? Regardless, the exclusion list would still be useful for issues like this.

[2018-12-04 21:12] fbricon commented on #734
@paulnortonopi try this in your pom.xml:
[code]

[2018-12-04 21:17] paulnortonopi commented on #734
@fbricon Fantastic, that worked perfectly! Thank you for taking the time to look into this.

[2018-12-04 21:21] fbricon commented on #734
Cool. Closing then.

[2018-12-04 21:21] #734 closed

[2018-12-06 02:47] testforstephen opened #735 "SourceAction is too heavy, should support lazy load"
Currently the SourceAction operations will be computed in advance every time when the cursor hovers on editor or typing in the editor. This will cause huge of unnecessary computation. Can we change it to lazy load?

Always show the source actions on the editor context menus, and only when the user clicks the corresponding menu, then compute the target action and replace WorkspaceEdit.

[2018-12-06 03:00] yaohaizh commented on #735
This is an eclipse.jdt.ls issue. Please also log an issue there.

[2018-12-06 03:14] testforstephen commented on #735
Tracked on eclipse.jdt.ls side. https://github.com/eclipse/eclipse.jdt.ls/issues/885

[2018-12-06 03:14] #735 closed

[2018-12-06 05:06] yaohaizh opened #736 "Provide "Java: Import Projects" command"
Currently, the vscode java is enabled by opening from the source folder and blindly importing the workspace. There are several issues:
1. It is not correctly detect gradle or maven if both configuration are provided in the rootfolder and subfolders.

2. For large project, such as "Spring-Boot" projects, it contains hundreds of projects, it will fail to spring boot projects.

[2018-12-06 16:19] kzinglzy commented on #687
@safield that helps me a lot, thanks!

[2018-12-06 18:04] brunoborges commented on #508
Hey all... any update on this?

[2018-12-06 18:30] fbricon commented on #508
Well, yeah kinda ;-)

If you open a single java file from vscode, it still won't work.

But, last night, we [merged Microsoft's new patch](https://github.com/eclipse/eclipse.jdt.ls/pull/880) to improve standalone java files support. So, with the latest [CI build](http://download.jboss.org/jbosstools/jdt.ls/staging/?C=M;O=D), if you open the folder containing that java file (including all the folde

[2018-12-06 18:35] fbricon commented on #736
We can fix the server so it should be able to import both types in the same folder.

I fail to see what sort of workflow you'd have with such a command. Please explain how you'd see things, without breaking the current behaviour.

[2018-12-07 11:23] jiayaoO3O opened #737 "Does vscode-java support javaFx11or openFx11?"
I can use maven to run javaFx11, but every time I run the program I type in the powershell: `mvn exec:java`, which makes me wonder how to use the breakpoint to debug the program. If I try to click the debug button directly, vscode Will tell me: `Error: JavaFX runtime components are missing, and are required to run this application`, how can I do this to run and debug the javaFx11 application direc

[2018-12-07 18:14] tatecapone opened #738 "Last Update Issue: Does not recognize Main"
[provide a description of the issue]

##### Environment
- Operating System: MacOs Mojave
- JDK version: 10
- Visual Studio Code version: 1.29
- Java extension version: 0.35.0

##### Steps To Reproduce
After creating a project in intellij idea and then opening it in code visual studio, I get the following error. The main class can not be found, when it is declared, the String type (of the main meth

[2018-12-07 19:30] fbricon commented on #738
what sort of project? maven? gradle? intellij?

[2018-12-07 21:32] fbricon commented on #737
can you provide a sample project reproducing this issue?

[2018-12-09 08:48] SupinePandora43 commented on #729
oh... if i save file, docs is ???, but if i reopen file: docs displayed correctly!

[2018-12-10 03:35] yaohaizh commented on #737
This issue was moved to Microsoft/vscode-java-debug#507

[2018-12-10 03:35] #737 closed

[2018-12-10 11:52] abdullahsaleem93 commented on #670
same here...takes forever

[2018-12-10 12:24] tank59he opened #739 "will not show the errors in the enum class"
Issue Type: <b>Bug</b>

public class Thee{
    public static void main(String[] args){
        System.out.println(Size1.SMALL);
    }
}
public enum Size1{      ### **//the second "public" this shoud be confirm as  a error**
    SMALL
    ,LARGE
}
//this will dont show the errors and will Compile and pass。But just print "null".Beacause compiler Ignore the wrong enum class.

Extension version: 0.35.

[2018-12-10 13:47] yaohaizh commented on #739
@tank59he Is this a standalone file?

[2018-12-10 13:49] tank59he commented on #739
no is not

[2018-12-10 13:53] fbricon commented on #739
@tank59he is it part of a maven or gradle project? can you share your project?

[2018-12-10 15:05] tank59he commented on #739
@fbricon like this
![image](https://user-images.githubusercontent.com/37946493/49740824-04e03600-fcd0-11e8-972c-660400669422.png)

[2018-12-10 15:08] tank59he commented on #739
if there are some error in the enum class there will have not some error report. @fbricon

[2018-12-10 15:31] fbricon commented on #739
Ok so this is a standalnone java file. You might have noticed the "Classpath is incomplete" [warning](https://github.com/redhat-developer/vscode-java/wiki/%22Classpath-is-incomplete%22-warning). There's no easy way to know if that file works on its own or is part of a bigger thing, so some compilation errors are disabled on purposed.

No, we've been working on improving the user experience in some

[2018-12-10 15:38] tank59he commented on #739
@fbricon Thank you! I got that.

[2018-12-10 20:50] Pa3kc123 opened #740 "Autocompletion not working in and after try/catch block in main method"
![vscode_issue](https://user-images.githubusercontent.com/17726264/49760414-bbd6b480-fcc4-11e8-974e-fe43b055b007.gif)

##### Environment
- Operating System: Windows 7 x64
- JDK version: 1.8.0_192
- Visual Studio Code version: 1.29.1
- Java extension version: 0.35.0

##### Steps To Reproduce
1. Make a main method and put try/catch into it
2. Try autocomplete any variable in, or after try/catch bloc

[2018-12-10 21:43] fbricon commented on #740
can you enable server tracing ("java.trace.server":"verbose") and collect the logs from the output view (Java Language server)?
also try:
- wait for a few seconds between the moment the completions show up and when you hit enter/tab
- restart vscode

[2018-12-10 22:00] Pa3kc123 commented on #740
Already tried both of your recommendations. Didn't do anything.
And here is the log:
[output.log](https://github.com/redhat-developer/vscode-java/files/2665108/output.log)
Everything in log is generated by steps written in 'Steps to reproduce'. If you need more, just tell

[2018-12-10 23:31] #723 closed

[2018-12-11 03:34] tristan957 commented on #723
Thanks for closing and fixing the issue @snjeza @fbricon despite my inability to produce a project to this point.

[2018-12-11 06:40] paulmccormack commented on #545
Is this issue being looked into as I have the same problem?

Cheers

[2018-12-11 08:18] yaohaizh opened #742 "Test Plan"
## Test platform

### Windows 10/maxOS/Linux

## Features

### Basic

### Completions

### Refactors

[2018-12-11 13:15] unguiculus commented on #177
There seems to be support specifically for `build-helper-maven-plugin`. However, there are lots of plugins which generate sources and add them to the classpath, usually under `target/generated-sources`. In this case, `build-helper-maven-plugin` is not required. VS Code should automatically recognize this. Directories like `target/generated-sources` and `target/generated-resources` could be automat

[2018-12-12 00:39] GabrielBB commented on #458
This issue bug is still happening, please see: [Problems list still show errors of undefined for getters or setters](https://github.com/GabrielBB/vscode-lombok/issues/13)

[2018-12-12 04:58] rakeshnpatel commented on #305
Just wanted to check if this thread has any updates, tried installing LS extension but it keeps showing crashed message

[2018-12-12 05:03] fbricon commented on #305
One thing to check if there are zombie org.eclipse.equinox.launcher_*.jar java processes running (use `jps` to list them). If you find some of those, try killing them and then restart vscode

[2018-12-12 08:49] JulioJu commented on #10
It seems to have an official hack (not tested) http://www.vogella.com/tutorials/EclipseGradle/article.html#android-support , https://github.com/eclipse/buildship/issues/779#issuecomment-428170018 .

[2018-12-12 09:15] tonny008 commented on #634
right click pom.xml and update project configuration

this will generate the .project .classpath .settings files. it seems that the latest version will only generate .project by default. the class file will output to bin folder if there's no .classpath file

[2018-12-12 14:52] rakeshnpatel commented on #305
no such processes are running. fyi, I am using MAC with jdk 1.8 (1.8.0_74). not sure if version matters. VS code is 1.29.1

[2018-12-12 14:59] fbricon commented on #305
1.8.0_74 is **really** old. If you want to stick with 1.8, at least please the latest version. It might even fix the issue.

[2018-12-12 15:43] yaohaizh commented on #305
@rakeshnpatel Could you please run command "Java: Clean up workspace" to see if it mitigate this issue

[2018-12-12 15:45] rakeshnpatel commented on #305
@fbricon @yaohaizh  thank you, updating the jdk (**1.8.0_74 -> 1.8.0_191**) fixed the issue.

[2018-12-12 15:52] scotshall opened #743 "The Language Support for Java server crashed 5 times in the last 3 minutes. The server will not be restarted."
Receiving the following error when opening a Maven project folder:

The Language Support for Java server crashed 5 times in the last 3 minutes. The server will not be restarted.

##### Environment
- Operating System: Windows 10
- JDK version: both **java version "1.8.0_141"** AND **openjdk version "11.0.1" 2018-10-16**
- Visual Studio Code version: Version: 1.29.1 (user setup)
Commit: bc24f98b5f70

[2018-12-12 16:47] 410919244 commented on #701
@akaroml 那个我很早就用过了，不太好用。很多快捷键都没有。我现在遇到新的问题。这工具没法跟进源码。一般源码中才有注释，而且很多时候需要去看源代码，如果不能跟进去看源代码体验感就差很多了！也不能想idea那样反编译过来，那看不到源码的javadoc注释

[2018-12-12 16:51] 410919244 opened #744 "javadoc Source code issues 不能加载源代码"
能否提供一个加载源代码的功能？很多时候都会需要跟进jar中的源码查看，而且源码一般都有javadoc注释。很多时候需要去看源代码，如果不能跟进去看源代码体验感就差很多了！也不能想idea那样反编译过来，那看不到源码的javadoc注释
Can you provide a function to load source code? It's very urgent to get this functionality. Many times, you need to follow up the source code in jar, and the source code usually has Javadoc annotations.

[2018-12-12 17:05] #744 closed

[2018-12-12 17:38] scotshall commented on #743
I've also set up Code to run on the Windows Ubuntu app an am getting the same error.

[2018-12-12 19:18] scotshall commented on #743
I tried cleaning the workspace directory as per the instructions found [here](https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#clean-the-workspace-directory), but I am getting the same error.

[2018-12-12 19:51] fbricon commented on #743
do you see any org.eclipse.equinox.launcher*.jar processes when running `jps`? If you find any try to kill them.
Also, try to run with the latest Java 1.8 version.

[2018-12-12 20:01] scotshall commented on #743
There are no jps processes running other than jps itself.

I've updated to the latest version of JDK 8 (**java version "1.8.0_191"**), but I'm getting the same error.

I was able to manually start the Eclipse JDT Language Server following the instructions [here](https://github.com/eclipse/eclipse.jdt.ls#running-from-the-command-line), so I know it will run (although I still get the same error in c

[2018-12-12 20:02] fbricon commented on #743
any antivirus running?

[2018-12-12 20:16] scotshall commented on #743
It's a corporate PC, so, unfortunately, yes.  However, I'm not see anything in it's logs about it blocking any java or code processes.  Also, I was able to (temporarily) borrow a PC and I'm not getting any errors there when I load a Java project in code.  (I suppose they could be using different antivirus definitions, but they're both corporate so they should be in sync.)

Those in change of such

[2018-12-12 20:23] fbricon commented on #743
I'd be curious if disabling the AV (probably wanna be offline for that) makes any difference. And I know nothing about AVs, except they can wreak havoc sometimes.

In your settings.json, try to :
- set `"java.trace.server":"verbose"`
- add `-Dlog.level=ALL` to the default "java.jdt.ls.vmargs" value

after restarting, get the Java server logs from VS Code's Output view

[2018-12-12 20:48] scotshall commented on #743
Thank you for giving me the "java.jdt.ls.vmargs" setting, I was able to figure out what was going wrong.

I had installed the [Lombok Annotations Support for VS Code](https://github.com/GabrielBB/vscode-lombok) extension awhile back and decided to remove it.  However, the extension added some parameters to the **java.jdt.ls.vmargs** setting:
`"-noverify -Xmx1G -XX:+UseG1GC -XX:+UseStringDeduplicat

[2018-12-12 20:57] fbricon commented on #743
Ok, good to know, that info might be helpful to others

[2018-12-12 20:57] #743 closed

[2018-12-12 22:21] fbricon commented on #597
Bulk generation of getters/setters is now available. The associated source action kind is "source.generate.accessors".
Keybinding is [partially broken at the vscode level though](https://github.com/Microsoft/vscode/issues/64824).

But if/when it works, adding something like this to one's keybinding.json should do the trick
[code]

[2018-12-12 23:10] fbricon commented on #100
Starting in vscode-java 0.36.0, and thanks to @testforstephen's efforts, you'll be able to bulk generate accessors:
![bulk_gen_accessors](https://user-images.githubusercontent.com/148698/49904707-1133d280-fe39-11e8-876c-8440c667981d.gif)

[2018-12-12 23:17] snjeza commented on #458
@GabrielBB could you attach a sample project?

[2018-12-13 17:23] cfjedimaster opened #745 "Document how to work with a non-"project" set of files"
I'm *very* new to Java development and am learning by simply creating a few ad hoc files. I'm following a book that uses a folder/package structure of "ch01/sec01" which I mimicked in my VSC folder structure. I noticed that the plugin would always give an error for:

    package ch01.sec01;

Saying that the package was actually "" instead. I ignored this error and just carried on but it bothered m

[2018-12-15 15:53] szaffarano commented on #610
I had the same problem.  It seems that there is a conflict with [Java Checkstyle plugin](https://marketplace.visualstudio.com/items?itemName=shengchen.vscode-checkstyle).  After I uninstalled this plugin, everything works fine again.

[2018-12-17 04:03] kdlan commented on #270
How to use this feature? I could not find the `Add unimplemented methods` button in my editor

[2018-12-17 04:09] kdlan commented on #426
seems this feature is still missing

[2018-12-17 04:36] yaohaizh commented on #270
@kdlan  See this [gif](https://github.com/redhat-developer/vscode-java/issues/270#issuecomment-320339674)

[2018-12-17 04:47] yaohaizh commented on #426
@kdlan, please provide the sample project.

As checked, it works as code action.
![repro](https://user-images.githubusercontent.com/17268517/50067025-deebf180-01f9-11e9-95ca-9d5cba304de6.gif)

[2018-12-17 04:52] #739 closed

[2018-12-17 05:50] #619 closed

[2018-12-17 06:11] kdlan commented on #270
@yaohaizh
It works. Thanks

[2018-12-17 06:14] kdlan commented on #426
@yaohaizh
This gif works. Thanks.

May be should reference this gif to redhat-developer/vscode-java#270

[2018-12-17 13:32] fbricon commented on #730
Can you try opening your project in Eclipse? Looks like an Eclipse compiler issue to me

[2018-12-17 13:35] fbricon commented on #717
Closing as duplicate of #238

[2018-12-17 13:35] #717 closed

[2018-12-17 14:09] fbricon commented on #620
Standalone file support has been reworked. Opening a folder should now reference all java files in it, via the "invisible project" concept.

[2018-12-17 14:09] #620 closed

[2018-12-18 00:07] fbricon commented on #714
See https://github.com/eclipse/eclipse.jdt.ls/pull/909

[2018-12-18 00:11] fbricon commented on #732
@yaohaizh have you measured the time spend initializing the extension on the vscode side?

[2018-12-18 03:00] yaohaizh commented on #732
not yet

[2018-12-18 03:17] #714 closed

[2018-12-18 03:18] fbricon commented on #714
Key mappings can now point to

- refactor.extract.function
- refactor.extract.variable
- refactor.extract.constant

[2018-12-18 03:26] #508 closed, assigned to nobody

[2018-12-18 07:30] graemerocher commented on #693
@fbricon Either today or tomorrow, just wrapping up the last few issues

[2018-12-18 09:01] solan30003 opened #747 "37% StartingJava Language Server..."
[provide a description of the issue]
The VS-Code‘s Status Bar has been always shows "37% StartingJava Language Server...", when I open a project of VUE(a framework of js+html+css) and edit debug config.
And, it does not automatically create "lunch. Json".

Other,  [F1]->[Java: Open JavaLanguage Server log file ], this command can't work, it can't open a log window.
My config:
"java.home": "C:\\Pro

[2018-12-18 14:51] yaohaizh commented on #747
@solan30003, do you have a sample project? My doubt is that it failed download some maven dependencies which should be a network issue.

[2018-12-18 20:03] SumanBandopadhyay commented on #579
Thanks it was helpful

[2018-12-18 22:09] solan30003 commented on #747
@yaohaizh My project doesn’t use maven. It’s a VUE project .Created by “non init web”.

[2018-12-19 06:55] yaohaizh commented on #732
![perf](https://user-images.githubusercontent.com/17268517/50203899-f6fc7600-039d-11e9-8430-e8a72cc663a6.png)
Not so bad for vscode-java extension. Working on fixing  other java related perf issues.

[2018-12-19 07:39] hjb912 opened #750 "a package notice err"
Issue Type: Bug

a.java empty file in package A, i write "package A", then notice me "The declared package "A" does not match the expected package ""Java(536871240)", however, i move this a.java to B directory, then move back to A directory, this notice disappear! why is it..

VS Code version: Code 1.30.0 (c6e592b, 2018-12-11T22:22:15.793Z)
OS version: Darwin x64 18.2.0

[2018-12-19 07:44] yaohaizh commented on #750
@hjb912 What the type of your project? Could you provide a gif for reproducing this issue.
Thanks.

[2018-12-19 15:38] yaohaizh opened #752 "Enforce recommend rules for eslint & update the eslint rules"
Should adopt the default recommend rules:

[code]

[2018-12-19 15:40] yaohaizh opened #753 "Extension.ts should be separated into several module"
The extension.ts kind of bloated with mixed functionalities. It should be separated into small ts modules/files.

[2018-12-19 15:50] johnno-vdv commented on #652
I can confirm this issue.
- Operating system: Windows 10 1809
- JDK version: openjdk version "11.0.1" 2018-10-16
- Visual Studio Code version: 1.30.1
- Java extension version: 0.36.0

I have enabled Lombok support as documented [here](https://github.com/redhat-developer/vscode-java/wiki/Lombok-support). lombok.jar is at the latest version (1.18.4) which should have sufficient JDK 11 support. Here

[2018-12-19 18:13] snjeza commented on #652
@johnno-vdv @hedvigoscar  See https://github.com/redhat-developer/vscode-java/issues/580#issuecomment-443302372

[2018-12-20 02:13] codehero-cn commented on #479
@testforstephen
https://github.com/redhat-developer/vscode-java/issues/479#issuecomment-428488991

In the .settings/ folder, manually add a file org.eclipse.core.resources.prefs with contents below:
eclipse.preferences.version=1
encoding//src/main/java=UTF-8
encoding//src/main/resources=UTF-8
encoding//src/test/java=UTF-8
encoding/<project>=UTF-8

and remove ./bin folder ,I solve the chinese encod

[2018-12-20 05:50] yaohaizh commented on #495
@alexeykazakov What's your vscode & vscode java extension version?

[2018-12-20 11:08] TobitakaaSaans opened #754 "Use VScode for non-maven web project"
Hi, i've been using VSCode with this extension for Maven Spring Boot Projects and it worked well, but now i have to work with an java web project, but not maven based, in which all my libraries are contained in WEB-INF/lib folder. The Problem is that after i open the project in VSCode it dows not recognize these libraries and it gives tons of import errors.
Is there a way to make java web projects

[2018-12-20 16:13] woogers opened #755 "Configuring SSL connection for debugging web app"
I'm attempting to move to VSCode for debugging a Spring web app. My organization requires SSL connections to our database, and this works fine on our Tomcat server, when specifying trust store, key store, and passwords by setting them in a $JAVA_OPTS environment variable. I have tried both passing these values to java.jdt.ls.vmargs and using them in application-internal.properties, but when debugg

[2018-12-20 17:30] fbricon commented on #755
Running java code is out of scope of vscode-java. You should open a ticket with [vscode-java-debug](https://github.com/Microsoft/vscode-java-debug/issues).

That being said, since it's a runtime issue, you probably want to set the "vmArgs" property in your .vscode/launch.json's launch configuration instead.

[2018-12-20 17:30] #755 closed

[2018-12-20 17:47] fbricon commented on #754
No, unless you can use Gradle as an alternative.

Eclipse project support is limited. To get it to work in your case, we'd need to bring Eclipse WTP into jdt.ls, the java language server, and provide some mechanisms to configure tomcat's location. We decided to focus on the most commonly used build tools instead.

If the libraries in your WEB-INF/lib folder have been built with Maven, then convert

[2018-12-20 17:49] TobitakaaSaans commented on #754
I see. Thanks for the reply, i will take a look on those links to convert it to maven. Thanks.

[2018-12-20 17:49] #754 closed

[2018-12-21 00:44] tristan957 commented on #702
So I have come back with more info about my parent POM file. I should be able to get a minimal project going in a few hours to post here. The parent section looks like so

[code]

That relative path does not exist on my system, due to some weird way this product gets deployed. If I had to guess, somewhere within either the extension or JLS, it is throwing a `FileNotFoundError`. Is there any way to

[2018-12-21 04:42] notthetup opened #756 "Failed to load native library 'libnative-platform.dylib' for Mac OS X x86_64."
[provide a description of the issue]

##### Environment
- Operating System: macOS 10.14.2
- JDK version: 1.8
- Visual Studio Code version: 1.30.1
- Java extension version: 0.36.0

##### Steps To Reproduce
- Install the " Language Support for Java(TM) by Red Hat " extension.
- Restart VSC
- Open any `.java`file.
- Look at the Output in the **Output** tab of the VSC

...

##### Current Result

The J

[2018-12-25 06:13] yaohaizh commented on #732
Close it as the extension using webpack now.

[2018-12-25 06:13] #732 closed

[2018-12-28 01:02] anyflow commented on #489
Same issue arises on me. I've installed version 0.36.0(the latest version) via Java Extension Pack(version 0.5.0), and using Java 11(11.0.1).

Whether or not I designated Java 11 path on java.home, vscode spit an error with var keyword.

The belows are a part of Java Language Server log file. The server seems to load Java 11.
[code]

[2018-12-28 08:34] nedlowe opened #757 "JAVA_HOME with jenv on MacOS"
I am managing JAVA_HOME using jenv. I get the error 'The JAVA_HOME environment variable points to a missing folder'.

From the terminal:
loweedw$ echo $JAVA_HOME
/Users/loweedw/.jenv/versions/1.8

loweedw$ ls -l $JAVA_HOME
lrwxr-xr-x  1 loweedw  Users  64  7 Aug 00:40 /Users/loweedw/.jenv/versions/1.8 -> /Library/Java/JavaVirtualMachines/jdk1.8.0_181.jdk/Contents/Home

I set java.home to the exact

[2018-12-28 15:16] fbricon commented on #757
Most likely this is the way code works. It seems it only picks up environment variables when [it's launched from the terminal](https://github.com/Microsoft/vscode/issues/31800).

[2018-12-29 20:40] ewired commented on #634
I solved this issue on Ubuntu by editing the `.classpath` XML file, replacing all `bin/` with `build/temp/` (just to use an example that was already gitignored for my convenience). Before doing that, having this extension enabled would make complete copies of Kotlin source files from the `src/` folder to the `bin/` folder upon saving. Oddly enough, after changing the `.classpath` file, it copies t

[2019-01-03 00:29] enozero opened #758 "Updates to gradle properties should be picked up when doing full build"
I have a `gradle.properties` file that tracks properties for my gradle project. When I update that file, I found that I need to clean the language server to get it to recognize changes to the file. I would imagine that doing a full build from the command palette would pick up on the updated properties file (or if I added a properties file).

##### Environment
- Operating System: Windows 10
- JDK v

[2019-01-03 19:49] markerikson commented on #481
I'm a new VS Code user, and I'm seeing this behavior consistently.  The `tasklist` processes are kicking off every couple seconds.

System details:

[code]

Looks like I'm using VS Code-Java 0.36.0

[2019-01-04 15:00] fwcd commented on #640
This seems to be working in the current extension version.

[2019-01-04 15:00] #640 closed

[2019-01-05 20:32] marianolc opened #759 "Errors are not being highlighted or detected in Ubuntu"
Using the same code, same versions but different OS. I have different behavior in the IDE. Windows is able to detect the errors and show them on screen. Meanwhile Ubuntu doesn't show anything.

##### Environment
- Operating System: Ubuntu 18.04.1 LTS
- JDK version: openjdk version "1.8.0_191"
- Visual Studio Code version: 1.30.1
- Java extension version: Extension pack 0.4.0 / Language support for

[2019-01-06 00:13] snjeza commented on #759
Your log shows that you are using the 0.30.0 version of Java LS on Ubuntu.

[2019-01-06 19:43] marianolc commented on #759
Interesting.. I was using the "Java Extension Pack" that include that package. Uninstalled it and installed every part separated and it's working.

[2019-01-06 21:19] #759 closed

[2019-01-07 10:38] balupraveen commented on #315
This solves only for dependencies but what about the project's source ? Wouldn't it be nice if we have the same for project's source

[2019-01-07 11:09] negiDharmendra opened #760 "How to tell vscode-java extension to add jars to the classpath."
[provide a description of the issue]

##### Environment
- Operating System: osx
- JDK version:  1.8.0_181
- Visual Studio Code version: 1.30.1
- Java extension version: 0.36.0

##### Steps To Reproduce
1. Create a java project.
2. Try to import something outside of project root.

[2019-01-08 09:06] vairamsvsjdo opened #761 "Extract Interface from class"
Need ability to extract interface from class  or update interface from available methods not already in an interface or provide option to update an interface if an interface is implemented in the class as an additional option

##### Environment
- Operating System: Windows_NT x64 10.0.18309
- JDK version: 11
- Visual Studio Code version: 1.30.1
- Java extension version: 11

1. RIght click a class s

[2019-01-08 14:15] fbricon commented on #693
Maven flavour of helloworld-java now works OOTB (once you set `<micronaut.version>1.0.2</micronaut.version>`)

To get JDT APT support for Gradle projects, you need explicit .factorypath, .settings/org.eclipse.jdt.apt.core.prefs, .settings/org.eclipse.jdt.core.prefs manipulation in the build.gradle file. The process is documented [here](https://github.com/mkarneim/pojobuilder/wiki/Enabling-PojoBuil

[2019-01-08 14:16] graemerocher commented on #693
Yes it does, closing this now. Thanks!

[2019-01-08 14:16] #693 closed

[2019-01-10 09:34] Monkatron95 commented on #228
I have the lastest version of this language support installed, and the lastest version of vscode; this feature does not work for any functions withing my Spring Boot application, no matter what access modifier is used.

Is anyone else having issues with this feature?

[2019-01-11 13:23] ppatierno opened #762 "Built errors and "Velocity is not initialized correctly." error"
Trying to open a Java project but getting some build errors.

##### Environment
- Operating System: Fedora 29
- JDK version: openjdk version "1.8.0_191"
- Visual Studio Code version: 1.30.1
- Java extension version: 0.4.0

##### Steps To Reproduce

Just try to open the folder for the project https://github.com/strimzi/strimzi-kafka-operator

##### Current Result

What I get are the following error

[2019-01-11 15:44] fbricon commented on #762
smells like a classloading issue to me https://stackoverflow.com/questions/26213457/resourcemanager-class-mismatch-when-using-velocity-as-osgi-bundle

I'm not sure we can do anything about it. @snjeza can you take a look?

[2019-01-11 15:58] fbricon commented on #762
smells like a classloading issue to me https://stackoverflow.com/questions/26213457/resourcemanager-class-mismatch-when-using-velocity-as-osgi-bundle

I'm not sure we can do anything about it. @snjeza can you take a look?

[2019-01-14 02:16] xflcx1991 commented on #479
Great! I solve the problem after this action.

[2019-01-14 20:16] snjeza commented on #762
The issue can be reproduced in Eclipse. It happens because m2e uses the 1.5 version of velocity and the strimzi project uses the 1.7 version.
The solution is to update the org.eclipse.m2e.archetype.common plugin to the 3.0.1 version.

[2019-01-15 11:13] Pa3kc123 commented on #740
I've found out, that when you wrap for-each loop after line "else if (directory.isDirectory() == true)" to '{' and '}', then IntelliSense works, as it should be.

[2019-01-15 15:39] snjeza commented on #762
@ppatierno We need to update m2e - https://git.eclipse.org/c/m2e/m2e-core.git

[2019-01-16 05:43] ppatierno commented on #762
Thanks @snjeza looking forward to this update so that I can finally switch from IntelliJ to VS code for working on the Strimzi project :)

[2019-01-16 09:30] wenfengsui commented on #546
Duplicate of #161
try removing the java linter extension

[2019-01-16 10:05] NLxAROSA commented on #580
@fbricon Can confirm this workaround works (MacOS).

[2019-01-16 15:19] apupier opened #764 "Provide management of java requirements installed on file system to third parties"
in https://github.com/jboss-fuse/vscode-atlasmap , I would like to reuse the java requirements provided by https://github.com/redhat-developer/vscode-java/blob/master/src/requirements.ts as it is a very useful feature.
it would be nice to provide a way to consume it. Not sure what is possible exactly but I think 2 possibilities are:
- extract it in a specific npm module
- expose vscode-java in npm

[2019-01-17 08:47] lxhmavis opened #765 "The editor can't switch to the new created method"
##### Environment
- Operating System:Windows/Mac/Linux
- JDK version: jdk11.01
- Visual Studio Code version: 1.30.2
- Java extension version:0.37.0(build 4)

##### Steps To Reproduce
1. Open .\resources\eclipse\simple-app.
2. Select Foo.java file, invoke class code snippet to generate code as below
[code]

3.  Select the code action of Create method 'call()' in type 'Foo' to fix the error.

#####

[2019-01-17 09:09] lxhmavis opened #766 "The action icon will not show the code actions in the side bar of the editor"
[provide a description of the issue]

##### Environment
- Operating System: Windows/Mac/Linux
- JDK version: jdk11.0.1
- Visual Studio Code version: 1.30.2
- Java extension version:0.37.0(build 4)

##### Steps To Reproduce
Click the action icon, it will not show the code actions in the side bar of the editor, if I didn't open this class which exists the errors the  in the editor window.

##### Cur

[2019-01-17 13:08] chuckb opened #767 "bootstrapClasspath not working"
I have a gradle project that sets a bootstrapClasspath like so:

[code]
If I do a ```gradlew build```, the project builds without error. However, vscode continues to show compile errors because bootstrapClasspath is not honored. For example, a modification has been made (a method added) to the Thread class however the language server is accessing the Thread class within the JDK.

##### Environment

[2019-01-17 13:50] fbricon commented on #766
This is unfortunate but kind of expected as the code actions are fetched when a file is opened. So maybe we can debate whether it's a limitation of the LSP or VS Code itself, but honestly, it wouldn't scale to fetch all code actions for unopened files in a large workspace.

I'm tempted to close as won't fix, but will leave it open for discussion for a bit

[2019-01-17 19:38] fbricon opened #768 "Autocompletion inactive after inserting a snippet in some cases"
If you type `main` in a class, to insert the public static void main snippet, then typing `sys` next doesn't trigger autocompletion. This is caused by the main snippet using $1 as placeholder, instead of $0, which, according to the [spec](https://microsoft.github.io/language-server-protocol/specification#textDocument_completion), defines the final tab stop,

[2019-01-17 20:53] botscholar-scott opened #770 "Automatically add package line to new file on creation"
When creating a new file through the context menu from the Explorer View (right mouse click and choose the first item New File). It would be fantastic to automatically add the package line based on the directory structure (or perhaps provide a UI to type it in).

##### Environment
- Operating System: macOS Mojave 10.14.2
- JDK version: 1.8.0_191
- Visual Studio Code version: 1.30.2
- Java extensio

[2019-01-17 21:06] fbricon commented on #770
that goes beyond vscode-java's scope. This is controlled upstream, in VS Code itself.
Currently, what you can do is, once the java file has been created, invoke the class snippet, like in https://www.youtube.com/watch?v=o4BTKD3iyYE

When the file is in a package directory, the package is automagically added.

[2019-01-19 21:01] r4miz commented on #603
### Did anyone find out how does this happen?
Happened to me today, finally finished a Spring Boot project for my university and this happened...
Still can't believe that fixing the issue is by deleting the most recent hash folder in workspaceStorage.

[2019-01-21 03:03] neesonqk commented on #551
I got this similar problem after I disable and enable Maven Plugin, before that everything worked like a charm, firstly I disabled Maven plugin, and restarted, then I started to see those annoying errors, I then re-enabled maven plugin, unlucky, those errors are still there, unable to eliminate on matter what I do. But my code runs without any problem.

[2019-01-21 03:30] neesonqk commented on #551
@yaohaizh the issue still persists.

![image](https://user-images.githubusercontent.com/7279067/51451389-ec077d80-1d6f-11e9-9e00-1e4795c7d888.png)

[2019-01-21 04:15] neesonqk commented on #551
My bad, my problem is that, I incidentally installed `java linter` extension when I disable Maven Plugin...

By uninstalling java linter I am able to eliminate those annoying errors.

[2019-01-21 20:52] snjeza commented on #767
The issue can be reproduced in Eclipse.

@chuckb could you reorder Eclipse classpath entries using the following:

[code]

[2019-01-22 03:01] danmikita commented on #566
We have been running into this issue too. It is a pretty big blocker since all of our projects use OpenApi and generate all the API models and Service interfaces. Is there any ideas why it isn't resolving generated files? (My work around for now is to have my generated files in a separate module and have it build separately. I then pull it in as a dependency from .m2 in the service module).

It wo

[2019-01-22 18:13] jeyakrishnanp opened #772 "Java code compilation not identify the classpath"
I'm experiencing java code compilation issue when using VSCode version mention below, I could not use any maven dependency also. The extension always taking me to the page https://github.com/redhat-developer/vscode-java/wiki/%22Classpath-is-incomplete%22-warning

##### Environment
- Operating System: macOS Mojave
- JDK version: 1.8.0_192
- Visual Studio Code version: 1.30.2
- Java extension versio

[2019-01-23 04:15] jeyakrishnanp commented on #772
**Server log**

!ENTRY org.eclipse.jdt.ls.core 1 0 2019-01-22 23:14:20.666
!MESSAGE >> document/codeAction

!ENTRY org.eclipse.jdt.ls.core 1 0 2019-01-22 23:14:20.667
!MESSAGE >> workspace/executeCommand java.resolvePath

!ENTRY org.eclipse.jdt.ls.core 1 0 2019-01-22 23:14:20.872
!MESSAGE >> workspace/executeCommand vscode.java.test.search.codelens

!ENTRY org.eclipse.jdt.ls.core 1 0 2019-01-22 23

[2019-01-23 13:06] PhilipHassialis commented on #603
Same story here. Have a 3 project workspace and maven was giving me a hard time - eventually I recompiled everything under Netbeans (well, it works) but still i got that message. As soon as I deleted the workspaceStorage subfolders everything was back to normal. I wonder what kind of strange bug plagues the RedHat Java extension and the whole thing goes haywire.

[2019-01-23 16:43] #758 closed

[2019-01-23 16:57] Andriuslima commented on #573
Same problem here. Trying to change the 'java.home' properties in settings to JDK 6 and getting the same error message.

This plugin supports JDK versions < 8????
If not, I'm gonna stop using. That's is a bummer

Version: 1.30.2 (user setup)
Commit: 61122f88f0bf01e2ac16bdb9e1bc4571755f5bd8
Date: 2019-01-07T22:54:13.295Z
Electron: 2.0.12
Chrome: 61.0.3163.100
Node.js: 8.9.3
V8: 6.1.534.41
OS: Windo

[2019-01-23 18:15] ncastrocosta opened #774 "Option to add 'final' modifier where possible."
It'd be nice to have an option to add 'final' modifier where possible.

Thanks!

[2019-01-23 21:46] danjmillier commented on #750
I'm also getting this same error myself:

![image](https://user-images.githubusercontent.com/2092466/51639262-73025480-1f2e-11e9-8b92-1e046b41be85.png)

[2019-01-23 22:02] fbricon commented on #750
@danjmillier can you reload vscode?

[2019-01-23 22:07] danjmillier commented on #750
@fbricon I've tried reloading and even restarting my laptop, still no dice. Oddly enough, if I make a "main2" folder and change "package main" to "package main2" it works and I'm not sure why..

[2019-01-24 14:31] wtbcode opened #775 "JAR files are not refreshed after they are updated."
[provide a description of the issue]

##### Environment
- Operating System: Windows 10
- JDK version: 1.8.0_171
- Visual Studio Code version: 1.30.2
- Java extension version: 0.37

##### Steps To Reproduce
I am working with Eclipse projects that do not use Maven or Gradle. We use ANT to build our JAR files and manually copy the JAR files to projects that depend on them as needed. What I am finding

[2019-01-24 15:33] wtbcode commented on #775
The ".classpath" file does not change. The JAR files do not have a version in their name (I know bad practice :)). So the only thing that changes is the JAR file itself.

[2019-01-24 15:46] wtbcode commented on #775
The comment by "yaohaizh" tipped me off to a possible workaround. I "touched" the ".classpath" file in the project that was taking in the changed JAR and then the "linting" picked up a change without a restart of vscode.

I am still interested in a command to manually force this refresh (or something equivalent) but this workaround definitely helps.

[2019-01-24 16:58] wtbcode commented on #775
The workaround of touching the ".classpath" file is not really working. When I save the source program referencing the new code (for example a new method in the updated JAR), the compile errors go away, but as soon as I make a single change to the file they come back which is odd.

[2019-01-25 01:41] yaohaizh commented on #775
@wtbcode "Java: Force Java Compilation" works for you?

[2019-01-25 13:47] wtbcode commented on #775
I went to test that just now by adding a new method, creating the JAR, and copying it over into the "dependent" project and it just worked immediately. Fearing for my sanity, I added another method into the same class and repeated the steps, and reproduced the usual behavior that the change was not picked up. I then started with the "incremental" forced compile and that did not work and moved to t

[2019-01-25 16:42] jeyakrishnanp commented on #772
@fbricon do you have any idea

[2019-01-26 02:45] Eskibear opened #777 "Code Issues 14 Pull requests 0 Projects 0 Wiki Insights Settings maven test scope dependency problem"
From https://github.com/Microsoft/vscode-maven/issues/165 by @fssrepository

------
v 1.29.1

Steps to Reproduce:

I have the following two dependencies in maven:

[code]

Although test scope is not transitive dependency it includes org.junit - suggested in the official spring documentation. - and it's working on netbeans 8.2

I have got several issues related to test packages, that org.junit / or

[2019-01-27 01:17] safield opened #778 "The declared package "x" does not match the expect package """
OS: Linux Mint 19.1
OpenJDK 1.8
VSCode v1.30.2
Java language support extension v0.37

I have a Java project using gradle to build. The Gradle build is configured to build as a lib. When I build with gradle everything is great. From the Java compilers perspective there is nothing wrong with my code.

But the VsCode java plugin is complaining about my package statement...

It says ....

My folder st

[2019-01-27 22:56] praenubilus commented on #228
Latest version, not triggered for either public or static version

[2019-01-28 02:53] bobjiang1988 opened #779 "The IntelliSense suddenly not working"
##### Environment
- Operating System: Ubuntu 18.04
- JDK version: 1.8.0_131
- Visual Studio Code version: 1.30.2
- Java extension version:0.37.0

##### Steps To Reproduce
1. Input a letter, not working
![image](https://user-images.githubusercontent.com/5567404/51811873-15815580-22ea-11e9-90b3-5e62ac659a4d.png)

2. Completion it and input '.', it works
![image](https://user-images.githubusercontent

[2019-01-28 03:41] kzinglzy commented on #779
have the same issue

[2019-01-28 05:35] kzinglzy commented on #779
@yaohaizh fixed after reinstall the extension 😄 . thx for your reply

[2019-01-28 13:58] yaohaizh opened #780 "Support semantic selection"
Support the new semantic selection

Refs
Semantic selections: https://github.com/Microsoft/vscode/issues/4795
LSP: https://github.com/Microsoft/language-server-protocol/issues/613

[2019-01-28 18:21] samuelAle commented on #546
I had this problem even without java linter extension ever having been installed.

I fixed the issue by reinstalling several java related extensions including the Java-Extension-Pack

[2019-01-28 18:35] snjeza commented on #778
@safield You haven't defined project source directory properly .
Try the following build.gradle:
[code]

[2019-01-28 21:45] nyetwurk commented on #297
Sigh.

[2019-01-29 01:11] yaohaizh commented on #297
For simple project, you can use this extension to quick create an app. https://marketplace.visualstudio.com/items?itemName=vscjava.vscode-java-dependency

[2019-01-29 02:40] NENightElves commented on #779
I meet the same issue with both jdk10 and openjdk11. I also tried to reinstall this extension and vs intellicode. But this can only fix the problem for a while. When I restart the vscode for some times, the bug appear again.

[2019-01-29 03:10] yaohaizh commented on #779
@NENightElves Could you attach your log here? https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#enable-logging

[2019-01-29 03:12] CoderIdiot commented on #545
still the same issue on 1.30.2.

[2019-01-29 06:50] NENightElves commented on #779
@yaohaizh
the command 'Java: Open Java Language Server log file' get the .log file shows the text below:
[code]
However in Develop Tools' Console Tab, I just see one message about java(User filter), but it is about another extension. The message shows below:
[code]

[2019-01-29 13:28] franciscocpg opened #781 "Could not create parent directory for lock file"
After upgrading visual code and this extension I'm seeing the following error when opening my gradle projects and trying to run it.

[code]

##### Environment
- Operating System:
Antergos Linux 4.20.4-arch1-1-ARCH

- JDK version:
openjdk version "1.8.0_202"

- Visual Studio Code version:
1.30.2

- Java extension version:
0.37.0

##### Steps To Reproduce
1. Open a gradle project
2. Try to run it

#

[2019-01-29 16:27] fbricon commented on #781
do your projects use the gradle wrapper? or do you have a gradle installation on the machine? Do those projects build from CLI?

[2019-01-29 16:31] fbricon commented on #779
can you try with simply the Language support for Java extension? Looks like other extensions are misbehaving here

[2019-01-29 16:32] franciscocpg commented on #781
Both. My project uses gradle and I also have gradle installed on my machine.

Yes, it does build from cli (I'm using the wrapper to build).

[2019-01-29 20:05] snjeza commented on #756
@notthetup Could you try the following?
[code]
@fbricon We would need to use GRADLE_USER_HOME when importing a gradle project - https://github.com/eclipse/eclipse.jdt.ls/blob/master/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/managers/GradleProjectImporter.java#L117

[2019-01-29 20:07] snjeza commented on #756
Related issue - #781

[2019-01-29 20:39] fbricon commented on #777
Can't reproduce the issue. I suggest you try the `Java: Force Java Compilation` command. If it doesn't work, then right click on your pom.xml and try the `Update project configuration` menu. And if that doesn't work, then the nuclear option: execute the `Java:clean the java language server workspace`.

And BTW, you should always explicitly declare the dependencies you directly use, to guarantee yo

[2019-01-30 00:21] fbricon opened #782 "Cause of server startup failure is no longer logged"
A bad lombok path in jdt.ls.vmargs can prevent the jdt.ls VM to start, this used to be logged as described in the [wiki](https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#get-the-vscode-java-logs), but we lost that capability somehow. This makes troubleshooting issues like #681 extremely difficult.

So, we need to be able to log that kind of startup failure, like before.

[2019-01-30 00:40] fbricon commented on #683
I've never been able to reproduce this issue either. closing. @akaroml please reopen if you find a way to reproduce it.

[2019-01-30 00:40] #683 closed

[2019-01-30 02:20] NENightElves commented on #779
I reinstall vscode yesterday and reset all the settings and extensions by removing .vscode and %appdata%/code. Everything goes well until now. THX.

[2019-01-30 02:50] bobjiang1988 commented on #779
@yaohaizh
Recent log
[code]

[2019-01-30 02:52] bobjiang1988 commented on #779
@yaohaizh
Recent log
[code]

[2019-01-30 13:43] wtbcode commented on #775
All of our projects have a ".classpath" file with reference to JAR files in a "lib" directory within the project. In the ".classpath" file the entries look like this:

`<classpathentry kind="lib" path="lib/dde-core.jar"/>`

Basically the relationship between projects is pretty "old school". I build one project and then copy the JAR into another (through the OS) to satisfy compile dependencies. All

[2019-01-30 18:52] jake-chambers opened #783 "Trying to use Language Support for Java(TM) by Red Hat extension but the error "The java.home variable defined in VS Code settings points to a missing folder" keeps coming up."
Have set the java.home variable to every jdk installation on my device. For example, just installed jdk.11.0.2 and set java.home to "/Library/Java/JavaVirtualMachines/jdk-11.0.2" in User Settings. No luck. Have also tried setting it to "/Library/Java/JavaVirtualMachines/jdk-11.0.2/Contents/Home".

##### Environment
- Operating System: macOS Mojava 10.14.2
- JDK version: 11.0.2
- Visual Studio Code

[2019-01-31 05:36] Eskibear commented on #779
It works well after disabling the Spring Tools extension.

Same issue here https://github.com/spring-projects/sts4/issues/193

[2019-01-31 05:56] #779 closed

[2019-01-31 06:03] Eskibear commented on #487
FYI the dependency completion feature has been shipped with the [Maven extension](https://marketplace.visualstudio.com/items?itemName=vscjava.vscode-maven), including snippets and groupId/artifactId/version suggestions. Example [here](https://github.com/Microsoft/vscode-maven/blob/a294046e899c05344b1b5c2c73ad5dbe9680ba10/images/completion.gif).

[2019-01-31 06:57] notthetup commented on #756
Thanks @snjeza. This help slightly to change the error to

The specified Gradle installation directory '/Users/notthetup/.gradle' does not appear to contain a Gradle distribution.

[2019-01-31 08:32] yaohaizh commented on #783
https://github.com/redhat-developer/vscode-java/issues/757 Could follow this issue to see whether it is the same?

[2019-01-31 11:23] notthetup commented on #756
Cool that helps! No errors!

[2019-01-31 16:59] fbricon commented on #618
We now partially address the problem by asking to hide those pesking files on startup:

<img width="450" alt="screen shot 2019-01-31 at 11 56 58 am" src="https://user-images.githubusercontent.com/148698/52070777-9a20dd80-254f-11e9-9144-d51da414d7ec.png">

You still need to manually add them to your SCM ignored list though.

[2019-02-01 03:09] safield commented on #626
Is there any plans in the road map to look at java gradle project support?

[2019-02-01 15:17] safield commented on #10
Please add Android Gradle support! That is a significatn chunk of the Java code out there.

[2019-02-02 17:29] CrispyDrone opened #784 "Quick fix create method generics fails"
Issue Type: <b>Bug</b>

1. Use a method using generics in java without first declaring it
2. Use the quick fix (ctrl + .) option to create the method

This results in a method signature and body being generated without the necessary generic parameters.

VS Code version: Code 1.30.2 (61122f88f0bf01e2ac16bdb9e1bc4571755f5bd8, 2019-01-07T22:54:13.295Z)
OS version: Windows_NT x64 6.1.7601

<details>
<

[2019-02-02 17:46] fbricon commented on #784
Please provide the code of the whole file, so we can reproduce the problem in the same conditions

[2019-02-03 02:35] CrispyDrone commented on #784
When writing a non-existing method inside a generic method, and using its parameters, making use of quick fix "create method" will result in a method that is missing the generic parameters from its signature. So for example:

adding the following line:
[code]
inside
[code]
Will give a quick fix create method: "Create method 'MyMethod(T2, UUID)'". When implementing the quick fix, it will give the f

[2019-02-03 14:49] psxvoid commented on #781
Having the same error message (not verified whether it happens after an update or not) - for me, it just broken.

Reporting because of I on a different platform (**Environment**):
Operating System: Windows 10 x64 1809

JDK version: "11.0.2 LTS"

Visual Studio Code version:
1.31.0-insider (system-setup)

Java extension version:
0.38.0

[2019-02-03 22:39] fbricon commented on #784
I can reproduce the issue with Eclipse, there's an existing open bug for that: https://bugs.eclipse.org/bugs/show_bug.cgi?id=539067

[2019-02-03 23:22] Manish-Giri opened #785 "Windows 10 Couldn't start client Java Language Server even with java_home set"
When I open a java project in VSCode and click on a .java file, I get the error - "Couldn't start client Java Language Server". Screenshot below -

![1](https://user-images.githubusercontent.com/11348778/52184321-c5b9f700-27df-11e9-9f05-be2a1da3e898.png)

I already have the `JAVA_HOME` environment variable set -

![2](https://user-images.githubusercontent.com/11348778/52184337-00239400-27e0-11e9-9

[2019-02-04 14:22] snjeza commented on #781
@franciscocpg do you have the gradlew file in the project's root directory?

@psxvoid could you try the following:

[code]

[2019-02-04 15:03] snjeza commented on #785
@Manish-Giri Could you try set JAVA_HOME to C:\Program Files\Java\jdk-11.0.1?

[2019-02-04 16:25] franciscocpg commented on #781
@snjeza
Yes, I do.

[2019-02-04 16:38] snjeza commented on #781
@franciscocpg could you provide a project example?

[2019-02-04 18:35] snjeza commented on #781
@franciscocpg could you try the following:
[code]

``

[2019-02-04 18:41] franciscocpg commented on #781
@snjeza
I had already tried it before without any luck. It looks like `GRADLE_USER_HOME` environment variable value is not being respected.

I don't know if there is another way to see the environment variable value set at vscode, but I'm printing the value from the vscode terminal to confirm it.
[code]

[2019-02-04 19:02] snjeza commented on #781
@franciscocpg could you show the gradle/wrapper/gradle-wrapper.properties file?

[code]

[2019-02-04 19:03] franciscocpg commented on #781
[code]

[2019-02-04 19:19] snjeza commented on #781
[code]

[2019-02-04 19:24] fbricon commented on #781
@franciscocpg can you open the project in Eclipse IDE (with Buildship -the gradle integration- installed)?

[2019-02-04 19:53] franciscocpg commented on #781
@snjeza
About https://github.com/redhat-developer/vscode-java/issues/781#issuecomment-460375874.
It works as expected.

[2019-02-04 20:51] snjeza commented on #781
[code]
if the gradle-5.1.1-bin directory exists you can try:
[code]

[2019-02-04 21:00] franciscocpg commented on #781
The folder exists but still got the same error but running the command you've mentioned I still get the same error in `vscode`.

[2019-02-04 21:32] snjeza commented on #781
@franciscocpg Could you attach your VS Code and workspace settings?

[2019-02-05 08:48] gitorko commented on #602
Removing auto save solved the issue.

[2019-02-05 10:40] franciscocpg commented on #781
I found the root cause.
`vscode-java` was creating a file called `.settings/org.eclipse.buildship.core.prefs` with `gradle.user.home` value fixed to `/usr/share/java/gradle`.

I was able to fix the problem by removing `.settings/org.eclipse.buildship.core.prefs` and running `Clean the java language server workspace`. Now `vscode-java` creates the file with the following content:
[code]
and everyth

[2019-02-05 11:03] franciscocpg commented on #781
Here is the previous `.settings/org.eclipse.buildship.core.prefs` content before I remove it and clean the java language server workspace.
[code]

[2019-02-05 15:00] #781 closed, assigned to nobody

[2019-02-06 23:47] fbricon commented on #501
https://github.com/eclipse/eclipse.jdt.ls/pull/927 should help, by just adding jar files in a lib/ folder at the root of the directory.

See
![auto-add-jar](https://user-images.githubusercontent.com/148698/52381481-a4efdc80-2a3f-11e9-8e34-f6c00e6b7097.gif)

[2019-02-07 07:11] jdneo commented on #602
@gitorko May I ask what's the version of the extension are you using?

[2019-02-07 13:33] jnesspro opened #786 "Go to Definition (F12) opens the .class file, not .java from sources"
[demo.zip](https://github.com/redhat-developer/vscode-java/files/2841017/demo.zip)
Why Go to Definition (F12) opens the .class file, not .java from sources

##### Environment
- Operating System: mac os
- JDK version: 1.8
- Visual Studio Code version: 1.32.0-insider
- Java extension version: 0.38.0
- Gradle + any dependencies

##### Steps To Reproduce
1. download any project template http://start.s

[2019-02-07 14:39] fbricon commented on #786
Works for me, once the server finished starting. Have you tried reopening vscode? Do you see anything in the [logs](https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#get-the-java-language-servers-workspace-logs)? Try cleaning the Java server's [workspace directory](https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#clean-the-workspace-directory)

[2019-02-07 14:40] veluria opened #787 "Code completion disappearing when typing too fast"
When I'm typing the beginning of a method name I want to auto complete, the code completion simply disappears. I need to type character by character for it to stay available.

##### Environment
- Operating System: Arch Linux
- JDK version: openjdk 11.0.2
- Visual Studio Code version: 1.30.2
- Java extension version: 0.38.0

##### Steps To Reproduce
1. Start auto complete on any kind of object
2. T

[2019-02-07 14:44] fbricon commented on #787
Try disabling all other Java extensions, see if that gives you a better performance. Maybe someone is being naughty.
If it doesn't work, please attach your server [logs](https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#get-the-java-language-servers-workspace-logs) here.

[2019-02-07 14:46] fbricon commented on #787
How big is you project (number of modules, classes)?

[2019-02-07 14:52] veluria commented on #787
You are right. Sorry, I should have tried that before opening a bug report. Once I disable 'Spring Boot Tools', the problem goes away. The auto complete also feels much smoother again and starts suggesting things right away. Rather sad, because otherwise it's a pretty useful extension. I'll see if this can somehow be disabled.

[2019-02-07 14:55] fbricon commented on #787
Thanks for checking. I'm gonna close this one then.

poke @martinlippert @kdvolder ;-)

[2019-02-07 14:55] #787 closed

[2019-02-07 15:08] veluria commented on #787
Should have looked there first, perhaps. So if anyone stumbles upon this: https://github.com/spring-projects/sts4/issues/193

[2019-02-07 15:15] martinlippert commented on #787
Installing the latest CI build of the Spring Tools extension from here (http://dist.springsource.com/snapshot/STS4/nightly-distributions.html) solves the issue.

[2019-02-07 15:26] jnesspro commented on #786
Hi, thanks for a logs and clean ws dir tips. I did it and and see this
<img width="566" alt="screenshot 2019-02-07 at 17 50 40" src="https://user-images.githubusercontent.com/5245360/52421557-56a51100-2b05-11e9-82eb-57ecccd40975.png">

This is a source with docs, good. But tab's name still .class. I don't really know if workspace cleaning up did something or I have been confused this tab's name fr

[2019-02-07 17:05] fbricon commented on #778
Even though javac compiles the class on CLI, you can't run it. The Eclipse compiler is more strict, so this is expected.
You need to fix the srcDirs value, as shown by @snjeza.

Closing as not a bug

[2019-02-07 17:05] #778 closed

[2019-02-07 17:09] fbricon commented on #750
So this is caused by jdt.ls's invisible project mechanism, that initializes it's source directory as "_/whatever/package", because the opened Java file was empty, so the initial package could not be inferred.

[2019-02-07 18:49] fbricon commented on #785
- Open the command palette (F1)
- select Developer: Toggle Developer Tools

report any errors you see there

[2019-02-07 21:02] spkoder opened #788 "Hieroglyphs in javadoc hover"
Issue Type: <b>Bug</b>

Hello. I have a problem. I included another module as dependency to my maven java project. In this module I documented (javadoc) methods by russian symbols. Hints for this methods in this project are displayed as hieroglyphs. I think that extension decodes characters from sources of module using ANSI encoding (Win-1251), although the source itself is stored in UTF-8. Openin

[2019-02-07 21:10] spkoder commented on #788
[TestLogic.zip](https://github.com/redhat-developer/vscode-java/files/2842651/TestLogic.zip)
[TestUseOtherModule.zip](https://github.com/redhat-developer/vscode-java/files/2842652/TestUseOtherModule.zip)
Source of module:
![default](https://user-images.githubusercontent.com/15929530/52442832-c7c0e480-2b56-11e9-8b0f-3c307af45aae.png)
Trying to see the hint for method of module in other project:
![2

[2019-02-07 21:36] snjeza commented on #788
Try to add
[code]
to your VS Code settings.

[2019-02-07 21:47] shawmanz32na opened #789 "Consumes lots of memory over time (memory leak)"
This was ported from Microsoft/vscode/issues/50280 , recently closed with claims that the problem lies here. Please refer to that issue for more information and troubleshooting.

If a Java project is left open for an extended period of time (days), the Java process continues to eat memory, eventually running the machine out of memory and causing swaps on the hard drive. This memory usage is not pr

[2019-02-07 22:36] fbricon commented on #789
@shawmanz32na thanks for that report. What kind of java project did you open? Maven, Gradle, eclipse?

@snjeza wanna look at that one?

[2019-02-07 23:00] fbricon commented on #788
it's weird I see the same problem on my mac, which uses UTF-8 as system encoding by default. Explicitly adding the jvm flag fixes it (see #790)

[2019-02-07 23:26] shawmanz32na commented on #789
@fbricon @snjeza All my projects are multi-module Maven projects.

[2019-02-08 01:23] fbricon commented on #652
@JustAnotherSoftwareDeveloper did you override the jdt.ls.vmargs value in your vscode settings (or installed the vscode lombok extension)?

[2019-02-08 07:30] spkoder commented on #788
Thanks you. Flag -Dfile.encoding=UTF-8 helped me.
Interestingly, setting this flag by default will not break existing projects?

[2019-02-08 10:10] harshilsd commented on #509
have  you got the issue resolved>

[2019-02-08 10:29] JohnColeman commented on #509
eventually I got going again - I thrashed around for ages.  I made this not at the time, i suppose it might help someone:

how I fixed maven dependency for org.apache.commons.io.IOUtils
eclipse maven dependency class not found
→ I imported commons-io-2.6.jar from  /home/john/.m2/repository/commons-io/commons-io/2.6/commons-io-2.6.jar  to WebContent/WEB-INF/lib !

whole thing not very satisfactory

[2019-02-08 16:10] fbricon commented on #786
The *.class indicates this comes from a binary. We automatically map the source contents to that class file, when possible, else a default source stub is generated (or you could use a [decompiler](https://marketplace.visualstudio.com/items?itemName=dgileadi.java-decompiler) instead).

Closing this issue, as it works as designed.

[2019-02-08 16:10] #786 closed

[2019-02-08 16:44] JustAnotherSoftwareDeveloper commented on #652
No. I had vscode lombok installed at a previous time, but it has been uninstalled for a while. I have restarted everything since then.

[2019-02-08 18:27] ckuai opened #791 "Java Syntax high light incorrection"
[provide a description of the issue]

##### Environment
- Operating System: Win10 1809 OS Build 17763.253
- JDK version: tested on both 1.8u201 and 1.8u121
- Visual Studio Code version: latest 1.31.0 and previous version
- Java extension version: 0.5.0

##### Steps To Reproduce
1. [step 1] java code example:
[code]
2. [step 2]

[attach a sample project reproducing the error]
[attach logs](https://

[2019-02-08 23:30] Leomedina commented on #785
I'm having the same issues... here's my log

 "java.home": "C:\\Program Files\\Java\\jdk-11.0.2"
Path set to C:\Program Files\Java\jdk-11.0.2\bin

--- LOG BELOW:

`TMSyntax.ts:50 Overwriting grammar scope name to file mapping for scope source.java.
Old grammar file: file:///c%3A/Users/medin/AppData/Local/Programs/Microsoft%20VS%20Code/resources/app/extensions/java/syntaxes/java.tmLanguage.json.
Ne

[2019-02-09 00:16] snjeza commented on #785
"java.home": "C:\Program Files\Java\jdk-11.0.2"

@Leomedina could you try

[code]

[2019-02-09 00:32] Leomedina commented on #785
@snjeza thanks for catching that. - that was on me. I pasted the wrong text.

My java.home is actually:

`"java.home": "C:\\Program Files\\Java\\jdk-11.0.2"`

[2019-02-09 01:05] snjeza commented on #785
Could you show the output of the following commands:

[code]

[2019-02-09 01:40] Leomedina commented on #785
Here's the output:

` Directory of C:\Program Files\Java\jdk-11.0.2

02/08/2019  03:47 PM    <DIR>          .
02/08/2019  03:47 PM    <DIR>          ..
02/08/2019  03:47 PM    <DIR>          bin
02/08/2019  03:47 PM    <DIR>          conf
01/17/2019  09:41 PM             3,244 COPYRIGHT
02/08/2019  03:47 PM    <DIR>          include
02/08/2019  03:47 PM    <DIR>          jmods
02/08/2019  03:47 PM

[2019-02-09 01:44] ibzib commented on #791
I had a similar issue. Looks like it is related to this bug upstream: https://github.com/atom/language-java/issues/186

[2019-02-09 02:04] snjeza commented on #785
@Leomedina could you remove the georgewfraser.vscode-javac extension and install RedHat vscode-java - https://marketplace.visualstudio.com/items?itemName=redhat.java

[2019-02-09 02:09] Leomedina commented on #785
@snjeza that fixed it! Thank you.

[2019-02-10 15:55] the1derer commented on #750
I am also facing the same issue.

[2019-02-10 21:43] Aicos commented on #654
I'm having problems with this issue too.  Please fix it.

[2019-02-11 01:09] snjeza commented on #789
@shawmanz32na could you attach a project example?

[2019-02-11 01:22] snjeza commented on #654
@jasonpolites  could you remove the georgewfraser.vscode-javac extension -https://marketplace.visualstudio.com/items?itemName=georgewfraser.vscode-javac and install RedHat vscode-java - https://marketplace.visualstudio.com/items?itemName=redhat.java ?

[2019-02-11 01:29] yaohaizh commented on #654
Seems this issue is existing for some times. So should we warn the user if the user installs both vscode-java & vscode-javac?

[2019-02-11 01:31] yaohaizh commented on #750
@testforstephen Could you help investigate this issue?

[2019-02-11 02:39] yaohaizh commented on #652
@JustAnotherSoftwareDeveloper The vscode-lombok will make change to the settings, not sure if you have revert the changes? You can find a related issue here: https://github.com/redhat-developer/vscode-java/issues/743 to see whether it helps.

[2019-02-11 15:32] JustAnotherSoftwareDeveloper commented on #652
This fixed it. I apologize for not checking vmargs immediately. I assumed because I hadn't touched it that nobody touched it.

[2019-02-11 15:40] wensioness opened #792 "Always show: Building workspace - 5%"
Always show: Building workspace - 5% and F12 is not available
##### Environment
- Operating System: Windows 7 64bit
- JDK version: 1.8.0.191
- Visual Studio Code version:1.31.0
- Java extension version:0.5.0

[2019-02-11 17:43] ckuai commented on #634
one more facing this problem. I found whenever I did "mvn eclipse:clean" "mvn eclipse:eclipse" to regenerate the .project and .classpath, then vscode will create a bin folder with all my project's sub folders and files moved under a new created bin folder and build output. Deleting the .factorypath file also has this effect. also my .classpath file has no bin/ path at all. output attributes in .cl

[2019-02-12 00:36] solarkraft commented on #510
I ran into this issue today and wasted quite a lot of time on it :c
Is there any workaround?

[2019-02-12 01:11] solarkraft commented on #510
After reading a bit of [Flatpak](http://docs.flatpak.org/en/latest/sandbox-permissions-reference.html) [documentation](http://docs.flatpak.org/en/latest/flatpak-command-reference.html#flatpak-document-export) I think this is a problem with the Flatpak package.
Flatpak tries to sandbox applications, which includes hiding paths from them.

Checking whether java_home is visible:
`flatpak info com.vis

[2019-02-12 05:08] yaohaizh commented on #792
@wensioness What the size of your project? If possible could you share your project content?

[2019-02-12 05:57] yaohaizh commented on #652
Logged issue against vscode lombok: https://github.com/GabrielBB/vscode-lombok/issues/15

[2019-02-12 06:20] wensioness commented on #792
my project is https://github.com/netty/netty.git
My computer has a power outage that causes an abnormal shutdown.

[2019-02-12 06:29] wensioness commented on #792
Are there any interim measures?

[2019-02-12 06:32] fbricon commented on #792
Take a threaddump of the running Java process to see what it's doing.
Try giving more heap to the Java language server. See the jdt.ls.vmargs preference.

[2019-02-12 06:47] yaohaizh opened #793 "Windows 10 x64/macOS, open spring-boot/wildfly, it will always trigger full build after initialized after imported"
[provide a description of the issue]

##### Environment

- Version: 1.31.0 (user setup)
- Commit: 7c66f58312b48ed8ca4e387ebd9ffe9605332caa
- Date: 2019-02-05T22:35:56.624Z
- Electron: 3.1.2
- Chrome: 66.0.3359.181
- Node.js: 10.2.0
- V8: 6.6.346.32
- OS: Windows_NT x64 10.0.17763

##### Steps To Reproduce
1. Clone https://github.com/spring-projects/spring-boot or https://github.com/wildfly/wildfly

[2019-02-12 10:17] sandy081 opened #794 "No Reload Adoption: Update `javaExtensions` contributions when extensions are added/removed"
Hi, I am a developer from VS Code and in the last release `1.31`, we added a new feature - no reload is required on installing an extension - https://code.visualstudio.com/updates/v1_31#_no-reload-on-install

But there are some exceptions to it as mentioned in the doc. If the extension is contributing to external contribution points, then the extension requires reload after installing. Hence, we a

[2019-02-12 10:54] mxxk commented on #406
After disabling autobuilds via the `java.autobuild.enabled` preference, how does one trigger a manual build through the same mechanism? 🤔 (Meaning, through the Java plugin and not a custom task.)

[2019-02-12 13:29] yaohaizh commented on #406
@mxxk  Command "Java: Force Java Compilation"

[2019-02-12 13:36] yaohaizh commented on #794
@sandy081 Thanks for bringing up this issue. We will adopt the API shortly.

[2019-02-13 00:31] fbricon commented on #788
Fixed with #790.

The file encoding used by the server is now vscode's own file encoding (see the `files.encoding` preference), which defaults to utf8.

Users can modify the value by changing the encoding in their settings.json. eg. :
[code]
which will be overridden by:
[code]
which will be overridden by:
[code]

[2019-02-13 00:31] #788 closed

[2019-02-13 01:10] Eskibear opened #795 "${os.detected.classifier} cannot be resolved"
From https://github.com/Microsoft/vscode-maven/issues/246 by @wensioness

----

${os.detected.classifier} cannot be resolved
at eclipse https://github.com/trustin/os-maven-plugin  maybe available

project address:  https://github.com/netty/netty.git

 - OS: [Windows 10]
 - VS Code version: [1.31.0]
 - Extension version [0.14.0]

**Screenshots**
![image](https://user-images.githubusercontent.com/13

[2019-02-13 02:52] fbricon commented on #795
as mentioned in https://github.com/trustin/os-maven-plugin#issues-with-eclipse-m2e-or-other-ides, this extension is not loaded by m2e.
It *might* be possible to load os-maven-plugin-1.6.1.jar as a java extension of jdt.ls though, but that'd require another vscode extension

[2019-02-13 06:27] yaohaizh commented on #794
@sandy081
Something need further clarify:

What's the state mean here? Could we change some internal specific state via vscode API inform VSCode to reload? Or it is required for extension to provide no reload behavior?

[2019-02-13 10:13] sandy081 commented on #794
@yaohaizh You do not need to say any to VS Code. By state I mean following:

I think when your extension is activated, you will be accessing all extensions using `vscode.extensions.all` and their contributions to read `javaExtensions` contribution. You need to do this again when there is a change in `vscode.extensions.all` to accept new `javaExtensions` or remove existing `javaExtensions`.

Let me

[2019-02-13 13:54] jnesspro opened #796 "Code action: add static import"
Hi. I wonder that there is no way to quickly add static import (+ refactor all occurances).
It is really actual while writing tests or using spring 5 functional routing for example.

* Visual Studio Code version: 1.32
* Java extension version: 0.38

[2019-02-14 02:58] yaohaizh commented on #794
@sandy081 Thanks for the answer.

@fbricon For the first step, we need check the javaExtensions and provide reload hints if the change require reload.

In order to provide a fully no reload behavior, I logged an issue here: https://github.com/eclipse/eclipse.jdt.ls/issues/932

[2019-02-14 08:18] jeusdi opened #797 "Gradle compiles but vscode-java is getting me compilation errors"
I've pushed related code on https://github.com/jeusdi/gradle-vscode.git

`gradle compileJava` runs correctly, but vscode-java is getting me compilation errors.

##### Environment
- Operating System: Ubuntu 18.04
- JDK version: JDK 11
- Visual Studio Code version: 1.31.0
- Java extension version: 0.38.0

##### Steps To Reproduce
1. git clone https://github.com/jeusdi/gradle-vscode.git
2. Open vscod

[2019-02-15 07:52] dereli opened #798 "Formatter cannot be customized"
Formatter cannot be customized. I tried to download the XML file, put it on disk, and point to it in the settings with the correct profile name. I also tried to set formatting options through `.settings/org.eclipse.jdt.core.prefs` file. Same result. I am much probably missing something but cannot figure it out. Is there a way to dump the formatter options after they're applied?

##### Environment

[2019-02-15 10:11] blassmegod opened #799 "Copy Qualified Name of a class or a method results in copying always the following string "io.github.jiangdequan""
Copy Qualified Name of a class or a method results in copying always the following string "io.github.jiangdequan".

##### Environment
- Operating System: Windows
- JDK version: 1.8.202
- Visual Studio Code version:1.31.1
- Java extension version: 0.38.0

##### Steps To Reproduce
1. Open a Java class
2. Select the class name and try to "Copy Qualified Name" from right click menu.

##### Current Res

[2019-02-15 14:23] yaohaizh opened #800 "Packages cannot be resolved"
_From @sh-tech on February 15, 2019 1:59_

## Enviroment

- macOS Mojave 10.14.3
- Visual Studio Code 1.31.1
- Java Test Runner 0.14.0

## issue

I want to use jUnit 5 on VSCode so I use Java Test Runner. However after installation console display errors saying `can not be resolved` for jUnit5. How can I solve it?  Please tell me solution. I have finished setting Java's PATH.

## Images

![image](

[2019-02-15 14:23] yaohaizh commented on #800
_From @jdneo on February 15, 2019 2:19_

Looks like an issue related with Java Language Server.

@yaohaizh @testforstephen Could you please take a look?

[2019-02-15 14:23] yaohaizh commented on #800
_From @testforstephen on February 15, 2019 2:24_

@sh-tech Could you try the command below?
![image](https://user-images.githubusercontent.com/14052197/52830496-ddf91280-310b-11e9-8461-adecdbff8376.png)

[2019-02-15 14:23] yaohaizh commented on #800
_From @sh-tech on February 15, 2019 2:47_

@testforstephen  I have just executed that command. But, The result did not change anything 😢

[2019-02-15 14:23] yaohaizh commented on #800
_From @testforstephen on February 15, 2019 5:0_

@sh-tech what's your project type? Can you use `tree` cli command to list the workspace structure?

[2019-02-15 14:23] yaohaizh commented on #800
_From @sh-tech on February 15, 2019 5:41_

@testforstephen
This is a Gradle project using Java8.
Yes, I can.
I used `tree -L 2`.

[code]

[2019-02-15 14:23] yaohaizh commented on #800
_From @sh-tech on February 15, 2019 8:23_

I think that it is a problem of the Java Language Server, so I will move to that issue.

[2019-02-15 14:23] yaohaizh commented on #800
_From @testforstephen on February 15, 2019 9:50_

I don't see `.project` and `.classpath` files in your workspace, looks like your gradle project is not loaded by java language server.

Could you share the java server log via vscode command `Java: Open Java Language Server log file`?

[2019-02-15 14:49] yaohaizh commented on #799
@blassmegod Our extension doesn't provide this functionality yet. Could you list what other extensions that you have installed?
Thanks.

[2019-02-15 14:49] fbricon commented on #799
This feature is not provided by vscode-java. Looks like you need to report the issue in https://github.com/jiangdequan/vscode-java-saber/issues

[2019-02-15 14:49] #799 closed

[2019-02-15 15:22] fbricon commented on #798
Are you trying to format a standalone java file or a file inside a Java project?

[2019-02-15 15:23] fbricon commented on #798
which particular formatting settings do you not see being applied?

[2019-02-15 16:25] fbricon commented on #797
That one is really weird. Same project builds fine in Eclipse. The classpath seems to be set correctly in vscode, I can see the jars in the Dependency view, but then the types can't be resolved. Also those resolution problems don't show until a file is opened, they should appear as soon as the project builds in the background. I'll keep looking.

[2019-02-15 17:59] snjeza commented on #798
@dereli you may want to take a look at https://github.com/redhat-developer/vscode-java/wiki/Formatter-settings and https://github.com/eclipse/eclipse.jdt.ls/pull/640

[2019-02-15 22:05] snjeza commented on #797
@jeusdi There are two javax.ws.rs.core.Application classes in your project.
A workaround is to add the following to build.gradle:

[code]

[2019-02-16 09:18] wtsiamruk commented on #797
Facing same issues in gradle project, figured out that after deletion of bin/ folder compile issue is gone.

[2019-02-16 12:13] Nopzen opened #801 "code runner broken, missmatch between compiler & runner"
[provide a description of the issue]
I have no problem using the java & javac command in my terminal to compile and run the code, but when running inside VSCode it messes up, it throws error described under section **Current Result**

##### Environment
- Operating System: macOS Sierra, 10.12.6
- JDK version:  java version "1.8.0_202"
- Visual Studio Code version: 1.31.1
- Java extension version: 0

[2019-02-16 21:10] Nopzen commented on #801
after some long hours of debuggin, i figured that the workspace for some reason was using java 11 to compile and java 8 to run, it was not in the workspace setting but i got an error that lead me to that.

Fixed it with complete re-install of vscode, and my java 8 is now working properly :) (i know this is not a "fix" per say, but it work)

[2019-02-17 16:59] gitorko opened #802 "Organize Imports moves focus from code section to import section"
Version: 1.31.1
Windows & Linux

On earlier versions organize imports didnt change the focus from current selected line to the imports sections. When you are editing code and choose to do an organize import the cursor shifts to the top of the import section instead of staying in the section where you were editing. You have to again scroll back to the place where you were editing code. Is there a f

[2019-02-17 17:19] Jomme5 opened #803 "How to send parameters to 'java.exe'"
These parameters should be passed to the interpreter(java.exe) every-time a run a program in vs-code with java-language support:

`-DproxySet=true

-DproxyHost=127.0.0.1

-DproxyPort=8888

-Djavax.net.ssl.trustStore=<path\to\FiddlerKeystore>

-Djavax.net.ssl.trustStorePassword=<Keystore Password>`

How to?

[2019-02-17 21:23] snjeza commented on #803
See https://github.com/redhat-developer/vscode-java/wiki/Using-a-Proxy

[2019-02-18 01:47] zhangqi5 commented on #479
I hit the same issue yesterday. It is great that we have a workaround, but unfortunately the developer experience is less than ideal, when compared with IntelliJ... When can we have a proper fix? Thanks.

[2019-02-18 03:06] yaohaizh commented on #479
@zhangqi5 The issue is fixed by https://github.com/redhat-developer/vscode-java/commit/b5e63308dd3de98911fe21b56d312d3c33f54d41

You can find the latest nightly build for testing: http://download.jboss.org/jbosstools/jdt.ls/staging/java-0.39.0-1379.vsix

Make sure you invoke `Java: Clean workspace ...` to delete stale object/cache.

[2019-02-18 07:50] dereli commented on #798
@fbricon I always tried to format a file as a part of a project. Now I tried standalone formatting, it works as expected. That probably means, a setting somewhere in the project is overriding or blocking the formatting. Any possible culprits?

The settings I tried is below. Even though I don't think any individual settings is the issue. (btw inconsistency in spacing is for testing purposes).

[cod

[2019-02-18 07:51] dereli commented on #798
@snjeza I have gone through the documentation multiple times. For the PR, any specific part that I need to check out. It's a long discussion about how things need to be implemented.

[2019-02-18 07:55] dereli commented on #798
Apparently, a workspace setting was interfering with the settings. It's totally my fault.

However it would be really nice to see the settings applied to be logged somewhere for troubleshooting.

[2019-02-18 07:55] #798 closed

[2019-02-18 10:39] testforstephen opened #804 "Unable to generate getter and setter for inner class"
_created by @pehalo at Mon 2/18/2019 9:12 AM_
Original issue https://github.com/Microsoft/vscode-java-pack/issues/96

[2019-02-18 10:41] testforstephen commented on #804
This is a vscode regression issue https://github.com/Microsoft/vscode/issues/68487

[2019-02-19 17:30] tmh2211 commented on #797
I have the same issue, but only when a module-info.java file is present. If I remove it, no errors are shown in vscode.

[2019-02-19 20:07] snjeza commented on #797
@wtsiamruk @tmh2211 could you attach a project example?

[2019-02-19 20:29] tmh2211 commented on #797
@snjeza I can when I come home tomorrow. It happens with the default project from gradle:
`gradle init --type java-application`
with groovy as dsl and junit for testing.
Add a module-info.java and the junit imports in the test folder can not be resolved anymore. `./gradlew assemble`  from command line, however, doesn't complain.
Gradle version 5.2, VSCode 1.31.1, LS for Java 0.38.0

[2019-02-19 20:38] fbricon commented on #797
most likely this is caused by Gradle/Buildship not adding the tesrt flag to the test source folder in .classpath.

You should have something like:

[code]

You may need to tweak your build.gradle file so that it generates that flag automatically.

[2019-02-19 20:40] fbricon commented on #797
See https://github.com/eclipse/buildship/issues/689

and a partial workaround (for sources) in build.gradle
 : https://github.com/eclipse/buildship/issues/827#issue-390750466

[2019-02-20 12:01] tmh2211 commented on #797
@snjeza @fbricon Here is a small javafx example, that produces the error in src/main/java if the module-info.java is present. I still can auto-import stuff and auto completion works as well.
./gradlew assemble and ./gradlew jlink work without a problem.
[test.zip](https://github.com/redhat-developer/vscode-java/files/2884517/test.zip)

[2019-02-20 23:49] #501 closed

[2019-02-20 23:59] blazingkin opened #805 "Maven source and dependencies are built incorrectly at initial compile time"
When the top level `pom.xml` is just a wrapper for two modules, the workspace does not build correctly.
When the workspace is first loaded, references from imports or from within the source are not loaded correctly. Once a file is opened, these errors go away.

##### Environment
- Operating System: `Linux 4.15.0-45-generic #48-Ubuntu SMP Tue Jan 29 16:28:13 UTC 2019 x86_64`
- JDK version: `openjdk

[2019-02-21 02:57] cedric05 commented on #796
static import itself throwing error, in my case

[2019-02-21 12:54] zhangqi5 commented on #479
Yes, the issue cannot be reproed with the nightly build. Thanks!

[2019-02-21 13:05] #479 closed

[2019-02-21 13:52] superadmini commented on #138
Anyway, thank you very much for your work. I am willing to wait for the day of vscode's perfect support for jsp

[2019-02-21 20:43] bajajh opened #806 "Add support for workspace specific java.home that use vscode variables"
In the workspace specific `settings.json`,

Does not work:
`"java.home": "${workspaceRoot}/java/jdk64"`

Works:
`"java.home": "D:/dev/proj-1/workgroup-support/java/jdk64"` works.

##### Environment
- Operating System: Windows
- JDK version: 8
- Visual Studio Code version: 1.31.1
- Java extension version: 0.38.0

##### Steps To Reproduce
1. Open a workspace
1. Create a folder named `.vscode`
1. Cre

[2019-02-21 20:45] fbricon commented on #806
@yaohaizh do you know if there's an API to resolve vscode properties?

[2019-02-22 00:56] akaroml opened #807 "Better Extension Name"
Congratulations!
https://marketplace.visualstudio.com/VSCode

<img width="1267" alt="screen shot 2019-02-22 at 8 46 48 am" src="https://user-images.githubusercontent.com/16755094/53212113-9e3ba900-367e-11e9-8e69-c783b8c1049a.png">

vscode-java made its way to the most popular extension list and now on the frontpage of vscode marketplace. This is really a nice thing to gain more exposure and reachi

[2019-02-22 01:07] superadmini commented on #807
I very much agree！

[2019-02-22 01:15] superadmini opened #808 "I really like VSCode and thinks for redhat-developer, the biggest regret is the support for JSP."
I checked the previous Related Issues about JSP support. That was recorded in December 2017. More than a year has passed since today. I think there should be a lot of developers who have this regret like me: that is the support for JSP.
Anyway, thank you very much for your work. I am willing to wait for the day of redhat's perfect support for JSP

[2019-02-22 01:47] yaohaizh commented on #806
There is no automatically way to resolve this value from VSCode settings. We need provide the resolve logic by our extension.

[2019-02-22 10:26] ppatierno opened #809 "Adding the package name (at least) in a new Java file"
When I create a new Java file (i.e. MyClass.java) under a specific (folder) in the project I expect that the file will have (at least) the package line at the beginning.
It could be great having the skeleton for a class or interface but it needs a way for the user to chose which one he wants.

##### Environment
- Operating System: Fedora 29
- JDK version: 1.8.0
- Visual Studio Code version: 1.31.1

[2019-02-22 12:39] fbricon commented on #809
Just type class, select the snippet and it'll add a minimal class skeleton with package and class name

[2019-02-22 12:40] fbricon commented on #809
Same thing with interface

[2019-02-22 13:04] ppatierno commented on #809
Thanks, I didn't find any information about that.

[2019-02-22 13:04] #809 closed

[2019-02-22 14:53] criscola opened #810 "JavaFX sample not working, class not found"
So I was reading here https://github.com/Microsoft/vscode-java-debug/issues/507 and found that https://github.com/openjfx/samples/tree/master/CommandLine/Modular/Maven/hellofx.
Now it says:
[code]
Why? Is there some other step I'm unaware of? How can I use JavaFX along this extension? Thanks!

##### Environment
- Operating System: Ubuntu 18.04
- JDK version: openjdk 11.0.2
- Visual Studio Code ver

[2019-02-22 17:28] chuckb commented on #228
1.31.1 VSCode and 0.39.0 Language Support for Java. Javadocs will not format parameters. Used to work. Now does not.

[2019-02-22 17:41] fbricon commented on #228
Please open a new ticket with steps to reproduce

[2019-02-22 22:57] snjeza commented on #789
I can still reproduce the issue with JDK 11.

[2019-02-23 23:18] snjeza commented on #789
Related issue https://github.com/eclipse/eclipse.jdt.ls/issues/936

[2019-02-23 23:18] #789 closed

[2019-02-25 02:24] testforstephen commented on #806
yes, no official API for this yet. In java debug, we copied the vscode code https://github.com/Microsoft/vscode-java-debug/blob/master/src/variableResolver.ts

[2019-02-25 05:10] mwschultz opened #811 "Completing /** no longer generates Javadoc with params"
Previously, when entering `/**`+`Enter`, Javadoc was generated with parameters. Now, this is no longer occurring (see #228 -- this was addressed, but is no longer working).

##### Environment
- Operating System: Ubuntu 18.04.1
- JDK version: 10.0.2
- Visual Studio Code version: 1.31.1
- Java extension version: 0.39.0

##### Steps To Reproduce
1. When a Java file is open, and the user enters  `/**`

[2019-02-25 05:49] fbricon commented on #811
please attach the [server logs](https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#get-the-java-language-servers-workspace-logs) and the [vscode logs](https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#turn-on-message-tracing-between-vs-code-and-the-java-language-server) from the Output view

[2019-02-25 06:12] sgnanavel commented on #652
I am also facing this issue after updating to openjdk11. Have any one found any workaround or fix for this issue?

[2019-02-25 07:38] sgnanavel commented on #652
@yaohaizh I did multiple times. I even tired the workaround from here https://github.com/redhat-developer/vscode-java/issues/580#issuecomment-443302372. But the issue still remains. I couldn't see the syntax errors in my code. I am using the lombok extension and that seems to cause the issue. When I remove the extension the issues are gone, but our project requires lombok.

[2019-02-25 07:48] yaohaizh commented on #652
@sgnanavel please attach the [server logs](https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#get-the-java-language-servers-workspace-logs) and the [vscode logs](https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#turn-on-message-tracing-between-vs-code-and-the-java-language-server) from the Output view for your case

[2019-02-25 07:52] sgnanavel commented on #652
Finally I got it woking. The issue is with the additional argument **-Xbootclasspath** added by the lombok extension to the **java.jdt.ls.vmargs**. I figured it out by integrating the lombok with eclipse and opened the eclipse.ini file for the changes.

- I uninstalled the vscode-lombok extension
- I downloaded the lombok.jar (version 1.18.6) file from https://projectlombok.org/download
- In VSCod

[2019-02-25 10:33] Zied-Guesmi commented on #219
Hey,

[2019-02-25 11:07] Zied-Guesmi commented on #219
Hey,

I'm having the same issue here with a spring project even after adding `org.eclipse.jdt.core.compiler.problem.forbiddenReference = ignore`

**Code insider version**: 1.32.0-insider (1.32.0-insider)  11416de365a1e96302e171c9eebc2547872ac230
**Marketplace Version**: 0.39.0

**org.eclipse.buildship.core.prefs** content:
[code]

**To reproduce**:

- Use vscode's spring intializr to create a spri

[2019-02-25 13:10] fbricon commented on #219
@Zied-Guesmi you need to put the pref in .settings\org.eclipse.jdt.core.prefs, not .settings\org.eclipse.buildship.core.prefs

[2019-02-25 20:14] Zied-Guesmi commented on #219
@fbricon thank you and sorry for not paying attention to that detail.
I noticed that in a java project the file created by default is **.settings\org.eclipse.jdt.core.prefs** but in a spring project **.settings\org.eclipse.buildship.core.prefs** is created instead. shouldn't it be the same for both cases? Shouldn't the correct file be generated by default?

[2019-02-25 23:46] fbricon commented on #808
Closing as duplicate of #138

[2019-02-25 23:46] #808 closed

[2019-02-25 23:49] fbricon commented on #807
I agree, but this is in the hands of the Red Hat legal department. The Java trademark has some strict restrictions, we can't just do whatever we want.

[2019-02-26 00:13] fbricon commented on #810
Works for me. How are you trying to launch your app?

![](https://user-images.githubusercontent.com/148698/53377785-319c0500-3931-11e9-9124-1ef17684e076.gif).

Most likely, the problem is not related to vscode-java itself and it's either a Maven CLI or vscode-java-debug issue.

[2019-02-26 10:32] jnesspro opened #812 "Formatter merges pipelines (and everything, including documentation comments) in a single row"
##### Steps To Reproduce
1.1
[code]
1.2
[code]
2. Alt Shift F / cmd k, f

##### Current Result
1.1
[code]
1.2
[code]

##### Expected Result
do not touch line breaks, please.
...or do not touch line breaks, when line starts with dot
(code, /** doc comments */ )

[2019-02-27 04:17] yaohaizh opened #813 "How to attach JavaDoc .jar for library .jar and get editor to show the documentation?"
_From @mattflix on February 23, 2019 19:58_

I have tried various techniques to specify the JavaDoc `.jar` that should be attached to a given library `.jar` (that appears in the "Referenced Libraries" section of the "JAVA DEPENDENCIES" view, and is successfully used by my app), but nothing has worked.

Currently, the only JavaDoc documentation that appears in the editor for me is that for the buil

[2019-02-27 04:17] yaohaizh commented on #813
_From @mattflix on February 23, 2019 20:2_

Btw, I have tried:
- Adding an matching `.properties` file next to the library `.jar` and setting a `"doc"` property to point at the JavaDoc `.jar`.
- Adding an `<attributes>` section for the library `.jar`'s entry in the `.classpath` file, with a `"javadoc_location"` attribute pointing at the JavaDoc `.jar`.

After each attempt to configure my project,

[2019-02-27 04:17] yaohaizh commented on #813
_From @akaroml on February 27, 2019 3:43_

@yaohaizh do you have any suggestion?

[2019-02-27 04:17] yaohaizh commented on #813
@fbricon How can we enable the JavaDoc navigation in this case?

[2019-02-27 10:49] ppatierno commented on #811
@fbricon I have the same problem with same version.
Attached my logs.

[server.log](https://github.com/redhat-developer/vscode-java/files/2909892/server.log)
[developer_tools.log](https://github.com/redhat-developer/vscode-java/files/2909893/developer_tools.log)

[2019-02-27 13:53] fbricon commented on #811
please add the logs from the [output view](https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#turn-on-message-tracing-between-vs-code-and-the-java-language-server) after enabling `"java.trace.server":"verbose"`

You can try the "Java: Clean the Java language server workspace" command.
If it still happens, try uninstalling all other java extensions and try again.

@yaohaizh [devel

[2019-02-27 14:21] vitorvr commented on #812
I have the same "issue".
Camel routes like this:

`    from(from)
      .routeId("routeID")
      .autoStartup(true)
      .convertBodyTo(String.class, "UTF-8")
      .to(destination);`

After format:
`from(from).routeId("routeID").autoStartup(true).convertBodyTo(String.class, "UTF-8").to(destination);`

I edited the Formatter in Eclipse and export it. Tried to use to a local path or GitHub URL bu

[2019-02-27 15:43] fbricon commented on #812
You can add `//@formatter:off` at the beginning of the region you don't want to be formatted, and add `//@formatter:on` at the end, to turn it back on.

[2019-02-27 19:34] adriantomas opened #815 "Error: The Language Support for Java server crashed 5 times in the last 3 minutes. The server will not be restarted."
Receiving the following error when opening a Spring Boot Maven project folder:

The Language Support for Java server crashed 5 times in the last 3 minutes. The server will not be restarted.

##### Environment
- Operating System: Windows 10 Pro
- JDK version: Oracle 1.8.0_201
- Visual Studio Code version: 1.31.1
- Java extension version: 0.39.0

##### Steps To Reproduce
1. Install the **Language Su

[2019-02-27 19:39] fbricon commented on #815
try to disable every extension but vscode-java, clean the workspace and see what happens

[2019-02-27 20:25] adriantomas commented on #815
@fbricon Hi and thank you for answering. I've done both things with the same result.

My settings.json in case needed.

`{
    "java.home": "D:\\Program Files\\Java\\jdk1.8.0_201",
    "java.configuration.checkProjectSettingsExclusions": false,
    "java.trace.server": "verbose",
    "java.jdt.ls.vmargs": "-Dlog.level=ALL"
}`

[2019-02-27 20:29] fbricon commented on #815
please resend your Language Support Java Output, when all extensions are disabled

[2019-02-27 20:41] adriantomas commented on #815
[Language Support Java Output (other extensions disabled).txt](https://github.com/redhat-developer/vscode-java/files/2912236/Language.Support.Java.Output.other.extensions.disabled.txt)

[2019-02-27 20:47] fbricon commented on #815
the STS extensions are still active apparently

[2019-02-27 21:08] adriantomas commented on #815
That's strange...

![image](https://user-images.githubusercontent.com/22175056/53523087-26390d00-3adc-11e9-86a2-c97a76cdf5c5.png)

[2019-02-27 21:18] badsyntax commented on #555
Not sure if this is the right approach at all but here's a very basic example/POC of how this can be done:

[code]

Screenshot:

![out](https://user-images.githubusercontent.com/102141/53523278-b1b29e00-3adc-11e9-93e2-99af509afe3e.gif)

[2019-02-27 21:33] adriantomas commented on #815
I uninstalled the other extensions and removed its folders from `%UserProfile%\.vscode\extensions`

[Language Support Java Output (no extensions).txt](https://github.com/redhat-developer/vscode-java/files/2912418/Language.Support.Java.Output.no.extensions.txt)

[2019-02-27 23:45] fbricon commented on #815
@snjeza any idea?

[2019-02-27 23:47] M-Jas commented on #618
@fbricon Does this ask you every time on Startup? I think I hit the close "x" the first time it came up(just like I do for everything), but I can't get this to popup again. Is there a way to Exclude this Globally with out the popup?

[2019-02-28 01:21] yaohaizh commented on #618
@M-Jas If you doesn't want it pop up and without change anything, just click the "Never"  selection.

[2019-02-28 03:13] snjeza commented on #815
@adriantomas could try the following:

- stop VS Code
- remove the %UserProfile%\.vscode\extensions\redhat.java-*\server\config_win\org.eclipse.* directories
- start VS Code

or remove and reinstall the RedHat Java LS extension.

[2019-02-28 08:05] adriantomas commented on #815
Done above steps. This is the output of removing those directories:
[Language Support Java Output (removing eclipse directories).txt](https://github.com/redhat-developer/vscode-java/files/2913971/Language.Support.Java.Output.removing.eclipse.directories.txt)

Also reinstalled VSCode removing related directories at `%AppData%`, `%LocalAppData%` and `%UserProfile%`. Then installed vscode-java as the

[2019-02-28 09:18] yaohaizh commented on #815
@adriantomas Do you have install any vscode-lombok extension? Or do you make any changes to your user settings: "java.jdt.ls.vmargs"?

[2019-02-28 09:29] jnesspro commented on #812
thanks for workaround. 2 extra lines, but should be helpful for me, will try

[2019-02-28 11:00] jnesspro opened #816 "References Code Lens: do not show "0 referenses""
do not show code lens if there are no references
![image](https://user-images.githubusercontent.com/5245360/53562030-5d9dcd00-3b61-11e9-925f-19e30aeb40b2.png)

[2019-02-28 13:23] geajack opened #817 "Type checking and other features not working with Gradle project"
I used this extension to work on a Maven project originally, and it worked very well. The main features I'm interested in are type-checking (getting a warning if I call a method with bad arguments, or if I call a method that doesn't exist, say) and import warnings (being told I need to import something before using it, and being able to add the import with a single click).

Now I'm working on a Gr

[2019-02-28 13:57] yaohaizh commented on #817
@geajack Currently, VSCode Java is not supporting Android project yet. You can find some workaround here: https://github.com/eclipse/eclipse.jdt.ls/issues/606, https://github.com/redhat-developer/vscode-java/issues/396 but not good enough.
Anyway, you can thumb up the issue here https://github.com/redhat-developer/vscode-java/issues/396

[2019-02-28 14:20] fbricon commented on #816
It's actually complicated. The Codelens mechanism has 2 phases:
- 1 compute code lens locations for the document
- lazyly resolve code lenses when region is visible

After step 1, VS Code inserts an extra line, waiting for the codelens values to be returned in step 2, and if nothing is returned, then you end up with a weird looking gap on top of each method/class. So instead we have to show someth

[2019-02-28 14:31] fbricon commented on #396
I've updated the [classpath warning wiki page](https://github.com/redhat-developer/vscode-java/wiki/%22Classpath-is-incomplete%22-warning). The statement about unsupported Android has been visible on the project's README.md (here and the VS Code Marketplace) for the past 2 years.

[2019-02-28 15:03] goxr3plus opened #818 "Ability to disable import completions in Java"
I want auto completions for Java to show only Java methods and not import completions .... it's very messy :

Messy **autocompletion**

![untitled](https://user-images.githubusercontent.com/20374208/53572817-cb9fbf80-3b74-11e9-938b-89596cb9a82d.png)

[2019-02-28 15:18] fbricon commented on #818
This is the completion from https://marketplace.visualstudio.com/items?itemName=tushortz.java-imports-snippets, completely unrelated to vscode-java. You shouldn't need it.

[2019-02-28 15:18] #818 closed

[2019-02-28 15:18] yaohaizh commented on #818
@goxr3plus These are code snippets which the vscode java extension doesn't provide.

Could you check your extension see what other extensions installed for Java?

[2019-02-28 15:24] jnesspro commented on #816
ok, shift f12 still our choice. Thanks

[2019-02-28 15:24] #816 closed

[2019-02-28 20:50] fbricon commented on #813
If the javadoc jar is under the project directory, then .classpath should look like :
[code]

[2019-02-28 23:49] snjeza commented on #815
@adriantomas could you send the output of the following command:

[code]

[2019-03-01 01:29] yaohaizh commented on #813
@mattflix What's the value of your classpathentry for the javadoc?

[2019-03-01 03:33] gggin commented on #396
After see the upstream‘s plan, they do not want to write android support, so can we change upstream or write one ourself?

[2019-03-01 05:06] mattflix commented on #813
@yaohaizh, I have tried all the following variations (restarting VSC in between).  Nothing has worked.

[code]
[code]
[code]
[code]
[code]
For reference, my jars are organized like so:
[code]

[2019-03-01 05:23] fbricon commented on #813
try
[code]

[2019-03-01 05:27] mwschultz commented on #811
@fbricon

Thank you for the prompt reply, apologize for the delay in getting back to you. I set  "java.trace.server": "verbose" in my settings.json file and I have attached the logs here.

[java language server.log](https://github.com/redhat-developer/vscode-java/files/2918010/java.language.server.log)
[vscode-java.log](https://github.com/redhat-developer/vscode-java/files/2918011/vscode-java.log)

[2019-03-01 05:32] fbricon commented on #811
you might want to disable the vscode-java-saber extension, in case it causes a conflict.
Please attach the content of the output view for `Language Support for Java`

[2019-03-01 06:15] geajack commented on #817
@yaohaizh Shouldn't it at least support local packages? When I start typing in the name of a class defined in the project, for example, it doesn't show any hints.

[2019-03-01 06:28] mwschultz commented on #811
Thanks -- I have disabled the vscode-java-saber extension. Attached are the results of the output view for Language Support for Java.

[output view Language Support for Java.log](https://github.com/redhat-developer/vscode-java/files/2918156/output.view.Language.Support.for.Java.log)

[2019-03-01 10:13] goxr3plus commented on #818
@fbricon  I will try today , thank you so much :)

[2019-03-01 14:57] jnesspro opened #819 ""trigger parameter hints" (shift+cmd+space) action doesn't work"
1) System.out.println(<cursor is here>);
2) shift+cmd+space
3) no parameter hints appeared
same for a constructor parameters.
I tried on 2 mac os machines, on stable and on insiders versions. Other languages support this feature (tried with golang, typeScript)

![image](https://user-images.githubusercontent.com/5245360/53645985-29064000-3c4b-11e9-95a1-e05585dcfe44.png)

![image](https://user-image

[2019-03-01 15:14] fbricon commented on #819
Add `"java.signatureHelp.enabled": true` to your settings.json

[2019-03-01 16:26] jnesspro commented on #819
Oh. I'm sorry. Hope, I not only one and this issue will help someone.

[2019-03-01 16:26] #819 closed

[2019-03-02 06:57] mattflix commented on #813
@fbricon, thanks, that works!   ...except the correct is "/resource" (singular).

[2019-03-02 19:52] 38leinaD opened #820 "Gradle projects with Initialization script fail on import"
Gradle has the possibility to define Initialization scripts in the ~/.gradle folder that are run/bootstraped first.
These files are heavily used in corporate environments to define references to corporate repositores.
E.g. this is the content of an init.gradle file:

[code]
The actual build.gradle only has:

`repositories {
    configure downloadRepositories
}`

This does not work in vscode but th

[2019-03-02 21:46] snjeza commented on #820
@38leinaD could you try the following:

[code]

[2019-03-02 22:43] jkoehring opened #821 "Editor erroneously reports warning in conditional operator"
Erroneous warnings are reported in the editor in conditional operators.

##### Environment
- Operating System: Windows 10 Pro
- JDK version: OpenJDK 11.0.1
- Visual Studio Code version: 1.30.1
- Java extension version: 0.40.0

##### Steps To Reproduce
Write code like the following:
[code]
where the class **Spark** extends a class that implements **AutoCloseable**.

##### Current Result
No warnings

[2019-03-03 11:12] adriantomas commented on #815
[Tasklist otuput.txt](https://github.com/redhat-developer/vscode-java/files/2923029/Tasklist.otuput.txt)

[2019-03-03 11:37] 38leinaD commented on #820
Thanks for pointing me in the right direction @snjeza !
Actually, setting GRADLE_USER_HOME did not help. What i found out then was that SDKMAN sets GRADLE_HOME. And for some reason, buildship is using this interally also leverages it for the Gradle User Home.
If I understand correctly, Gradle itself is not making use of GRADLE_HOME at all. It is just used by buildship... slightly incorrect I would

[2019-03-03 11:37] #820 closed

[2019-03-03 20:13] mattesko commented on #815
Have you tried deleting the contents under `%UserProfile%/AppData/Roaming/Code`, and `%UserProfile%/.vscode`, before performing a fresh install of VSCode?

I had the same issue under similar circumstances. I deleted all my settings and extensions, reinstalled VSCode and it fixed the issue.
__Environment:__
* Windows 10 Home
* JDK version: Oracle 1.8.0_201
* Visual Studio Code version: 1.31.1
* Jav

[2019-03-03 20:41] snjeza commented on #815
@adriantomas could you try the following:

[code]

You can also check the following VS Code Java - https://drive.google.com/open?id=1m91etQ-3JugTjBYQbptWGsw3Nq89-GvI. It includes https://github.com/eclipse/eclipse.jdt.ls/pull/946

[2019-03-03 23:25] adriantomas commented on #815
This is the output of the commands. Sorry for misunderstanding them at first.

[Tasklist output in E drive.txt](https://github.com/redhat-developer/vscode-java/files/2923815/Tasklist.output.in.E.drive.txt)

Then I installed the 0.41.0 version of vscode-java and cleant the java language server workspace. This is the output of the Language Support for Java extension and the output of the above comma

[2019-03-04 03:42] snjeza commented on #815
@adriantomas Could you, please, try the following version - https://drive.google.com/open?id=1yIYJyeDbvshorQgH7OVYt5_-m8CDR5PQ ?

[2019-03-04 11:27] adriantomas commented on #815
Just for cleaning things up I performed a fresh vscode installation again, deleting `%UserProfile%` related folders. Then installed the version 0.41.1 and opened the project. I performed some actions but noticed they were being captured in the output, so I stopped typing just for not messing things up. This is the Language Support for Java Output and the cmd commands typed above (though it seems y

[2019-03-04 11:57] chuhsuanlee commented on #618
@M-Jas from File -> Preferences -> Settings -> User Settings -> Extensions -> Java configuration -> There's a section for "Check Project Settings Exclusions". It might popup again if the box is ticked (I didn't do experiment though)

@yaohaizh I thought the "Never" means "Never exclude", so it will generate those files as default.

but my problem is actually, I remember I clicked "Exclude globally

[2019-03-04 16:52] snjeza commented on #815
I have tried to test your the tasklist and findstr command. You can ignore it or try the following build - https://drive.google.com/open?id=1mnSeXB5JBVNhWbC9Osmx_lzzk6DEQBpe .

It seems that you have a corrupted tasklist or findstr command.

https://github.com/eclipse/eclipse.jdt.ls/pull/946 fixes the issue. The 0.41.1 and 0.41.2 versions includes it.
It is also possible that you have removed a co

[2019-03-04 18:11] adriantomas commented on #815
So I installed the 0.41.2 version and it worked. Then rolled back to the standard 0.40.0 and it's working! I'm confused but happy is finally running.

[2019-03-04 18:47] snjeza commented on #815
...

I suppose that you had a corrupted tasklist or findstr command and removed it.

[2019-03-04 19:28] AmitaiMazliah opened #823 "Refactor package name"
Is there a way to refactor the package name which will trigger a change in all the classes inside that package?
Couldn't find a way...

[2019-03-04 19:30] fbricon commented on #823
not yet. IIRC, the Language server protocol is still lacking ways to distinguish files from folders when you issue a move command. @yaohaizh should know better.

[2019-03-04 21:06] fbricon commented on #155
@jrieken @aeschli  I tried to return MarkedContent instead of MarkedString, but the sup/sub tags are still not rendered properly. Am I missing something? I thought this would be possible by now.
[code]

<img width="831" alt="screen shot 2019-03-04 at 4 04 12 pm" src="https://user-images.githubusercontent.com/148698/53762842-2f88f780-3e97-11e9-9fff-bff89cab9c79.png">

[2019-03-04 21:19] Nightenom opened #824 "Extension is not starting when pom.xml is present"
I created a project using maven (I might have done something wrong in the pom.xml-s but `mvn package` provides a working jar) and was trying to import it into VSCode. The extension does literally nothing except first checking (output logs in tab don't show anything suspicious). If it somehow finally imports the project the features of IDE (like code suggestions, completions etc.) are not working.

[2019-03-04 23:04] #815 closed

[2019-03-05 01:56] yaohaizh commented on #823
@fbricon @AmitaiMazliah This is blocked by VSCode side issue: https://github.com/Microsoft/vscode/issues/62663 The VSCode doesn't provide an official way to create a folder. Thus, this feature is partly blocked.

[2019-03-05 01:57] testforstephen commented on #750
When the language server is activated by an empty standalone java file, a new idea is trying to search a non empty java file from the same directory. If found, use the non empty java file to resolve package name, otherwise, take the workspaceRoot as source root and then the relative path to workspaceRoot should be the package name.

@fbricon any thoughts?

[2019-03-05 02:03] fbricon commented on #750
yeah you can try that

[2019-03-05 02:36] yaohaizh commented on #618
@chuhsuanlee  Does this issue still happen?

[2019-03-05 07:58] jrieken commented on #155
It's markdown, without support for html. You can use unicode variants, like ², or use the `2^32`

[2019-03-05 19:33] adriantomas commented on #815
A couple things to notice that maybe caused the error and what I did. These are some possible workarounds for users that have the same problem I had:

- I noticed that at first I couldn't use `tasklist` command in other drives rather than C. This was due to cmd not being in PATH environment variable. By the way my vscode and vscode-java installation were in D and my project files in E.

- When I u

[2019-03-05 20:11] snjeza commented on #815
@adriantomas Thanks, that is helpful.
@fbricon we could update the wiki.

[2019-03-05 21:40] gh-bh opened #825 "Language server will not start"
The language server seems to crash immediately with no recovery every time vscode tries to launch the java extension.

##### Environment
- Operating System: Ubuntu 18.04
- JDK version: 1.8.0_201
- Visual Studio Code version:1.31.1
- Java extension version:0.40.0

##### Steps To Reproduce
1. Install VSCode
2. Do any action to trigger loading the extension
    a. Open Test view/activity from sidebar

[2019-03-05 22:18] snjeza commented on #825
@gh-bh could you try the following:

- start VS Code
- find the following line in the log
[code]
- call (replace 31259 with your processId)
[code]
- send me the output

[2019-03-06 01:53] yaohaizh opened #826 "missing highlight on some non-ASCII identifiers"
_From @nobodxbodon on March 5, 2019 18:43_

Hi,

the differencies are in Line 4 between the English and Chinese versions as below:
![screen shot 2019-03-05 at 10 34 48 am](https://user-images.githubusercontent.com/392497/53828430-81329000-3f32-11e9-99bd-ce08f083fe9f.png)
`Calculator` class:
[code]
Identifers in Chinese:
[code]
I'm using vscode 1.31.1 with Java Extension Pack 0.6.0 under Mac.

Than

[2019-03-06 01:53] yaohaizh commented on #826
_From @nobodxbodon on March 5, 2019 18:57_

One additional test shows the method argument shows different too:
![screen shot 2019-03-05 at 10 55 41 am](https://user-images.githubusercontent.com/392497/53829612-63b2f580-3f35-11e9-84a8-2071651f99df.png)
[code]
Chinese version:
[code]

[2019-03-06 02:09] fbricon commented on #826
This is an issue with the textmate based grammar from upstream [VS Code](https://github.com/Microsoft/vscode/blob/master/extensions/java/syntaxes/java.tmLanguage.json), itself forked from [Atom's](https://github.com/atom/language-java/blob/master/grammars/java.cson).

[2019-03-06 03:39] nobodxbodon commented on #826
@fbricon thanks for the diagnose. May I ask if you refer to the `[A-Za-z$_]` part in section like [this](https://github.com/Microsoft/vscode/blob/1adb3256ea092a0d47d1d02439f3fa0678025039/extensions/java/syntaxes/java.tmLanguage.json#L1609)? Would you suggest to move this issue to VS Code or Atom?

[2019-03-06 06:45] JoeyRxy opened #827 "package problem or advice"
[provide a description of the issue]
this may not be a problem.
I'm new in Java so I'm not using Maven.
I found when I typing a package which is in my systems env :`CLASSPATH`,there's error saying:

But in cmd(windows),there's no error using `javac` and `java`.

I think vscode and this extension is so powerfull that they should have the ability to autocomplete the `import` and even compile the src

[2019-03-06 07:33] JoeyRxy opened #828 "The Language Support for Java server crashed 5 times in the last 3 minutes. The server will not be restarted."
[provide a description of the issue]
when you open the vscode and java,everything is OK!
You can write,the auto-complementionstill work,the debugger work very well.Evrything looks fine
BUT,after some minutes and doing NOTHING,the java server crushed suddenly!Why?What happened to the extension?
You wait and do NOTHING,and the extension goes wrong.
Unbelieveable!
##### Environment
- Operating System

[2019-03-06 09:02] maelvalais commented on #339
@simon04 I found a simple workaround for using Gradle with the annotationProcessor features (Immutables, AutoValue, Metamodels).

The idea is to add manually the location of the generated sources. In my case, I just had to add `build/generated/source/apt/main` to `srcDirs`:

[code]

I don't know if it is a good idea or whatever, but it works and helps me get the job done 😁

[2019-03-06 09:22] JoeyRxy commented on #828
There's no problem using vscode on linux with the same configuration.
So weird

[2019-03-06 14:00] fbricon commented on #828
Download the most recent `java-<version>.vsix` file from [http://download.jboss.org/jbosstools/jdt.ls/staging/](http://download.jboss.org/jbosstools/jdt.ls/staging/?C=M;O=D) and install it by following the instructions [here](https://code.visualstudio.com/docs/editor/extension-gallery#_install-from-a-vsix).

[2019-03-06 14:49] criscola commented on #810
I tried re-running that and it shows `Error: JavaFX runtime components are missing, and are required to run this application`. I try to run it by clicking on "Run" like you do.

[2019-03-06 16:43] snjeza commented on #828
@JoeyRxy you can also try the following:

[code]
See https://github.com/redhat-developer/vscode-java/issues/815#issuecomment-469826697

[2019-03-06 19:22] gh-bh commented on #825
Hi, here are the logs requested. The Output window looked the same. More in the console but it was ancient greek to me.

<details>
<summary>Output</summary>
<pre>
[Trace - 1:12:27 PM] Sending request 'initialize - (0)'.
Params: {
    "processId": 8773,
    "rootPath": null,
    "rootUri": null,
    "capabilities": {
        "workspace": {
            "applyEdit": true,
            "workspaceEdit":

[2019-03-06 20:02] snjeza commented on #825
@gh-bh could you call the following:

[code]

[2019-03-06 22:17] gh-bh commented on #825
Welp, that helped me figure out what was going on. Trying to run that jar produced an error saying it couldn't write configs due to lack of permission. Checked the plugin directory and sure enough everything was owned by root.

It looks like the extensions were installed while running as root which I could have sworn I deleted the directory and reset everything as non-root but apparently I was con

[2019-03-06 22:17] #825 closed

[2019-03-07 01:12] JoeyRxy commented on #828
Thanks,everybody!
Finally,I reset my PC,and reinstall everything,now there's no problem.

[2019-03-07 01:14] #828 closed

[2019-03-07 10:25] masbaehr opened #829 "Duplicate entry in code-completion within Java file"
For some reason code completion suggestions are duplicate. I don't know how to "debug" this exactly or to find out what the cause of this might be. I'm using Gradle to Build

![image](https://user-images.githubusercontent.com/38694044/53950041-9a227900-40cb-11e9-998e-7082c0e7032f.png)

##### Environment
- Operating System: Windows
- JDK version: latest
- Visual Studio Code version: latest insider

[2019-03-07 16:15] Nightenom commented on #824
[server-log](https://pastebin.com/Bcx0S6YY)
It seems that the extension is doing its job - does this Java Extension support folder opening from root folder where file pom.xml with `<packaging>pom</packaging>` is the only one present (with projects in subfolders)?

[2019-03-07 16:19] Nightenom commented on #824
No it doesn't -> do I have to open four vscodes to work with my structure?
(one for each of: root, common project, A project, B project)

[2019-03-08 02:04] Eskibear opened #830 "Unable to distinguish Started/Error from extension.api after activation"
In both "Started" and "Error" cases, the promises resolve the same object. If a 3rd-party extension calls
[code]
the results are the same.

See below:
https://github.com/redhat-developer/vscode-java/blob/ca29cb2b22d2c2c5b7e44ae697c8d385607da6d7/src/extension.ts#L114-L135

Can we add a property in ExtensionAPI that indicating the status? E.g. something like
[code]

[2019-03-08 10:08] di3663 commented on #815
Not work, maybe new vscode cause this.

[2019-03-08 11:24] snjeza commented on #815
@di3663 please send your Language Support Java Output,

[2019-03-08 18:06] 4F2E4A2E commented on #648
That's how I've got it to work: https://stackoverflow.com/a/50632086/543426 :man_facepalming:

[2019-03-09 16:58] JoeyRxy commented on #501
Woo! Unbelievable!
@fbricon thanks!

[2019-03-09 17:03] JoeyRxy commented on #827
Okay!
I now know how to configure classpath without Maven.
see here:
[Issue501](https://github.com/redhat-developer/vscode-java/issues/501#issuecomment-461234115)
and thank him @fbricon

[2019-03-09 17:03] #827 closed

[2019-03-10 03:29] mwschultz commented on #811
Hi,

Just checking in on this issue -- is there anything else you might need from me that could help?

Thanks!

[2019-03-11 10:23] priyeshdiukar commented on #647
Is this a feature under process ? I was trying to do exactly the same thing.

[2019-03-11 18:27] houmanMP commented on #158
I have a `node_modules` directory, which naturally comes with quite a few symlinks, and cannot delete it and have this issue. Might be related, dunno.

[2019-03-11 19:41] fbricon commented on #158
@houmanMP  node_modules is ignored during project discovery. Increasing the heap might be necessary for large projects (including many modules).

@matihost is this still an issue for you? The fix for circular symlinks has actually been applied weeks ago.

[2019-03-11 22:07] matihost commented on #158
Confirming that VSC: 1.32.1 +  Java Extension Pack 0.6.0  + some ansible galaxy import with symlinks
+ the option ctrl + shift + P -> 'Java: Open Java Language Sever log files': should show also ~/.config/Code/User/workspaceStorage/..../redhat.java/jdt_ws/.metadata/.log  shows
zero exceptions.

Thanks for fix

[2019-03-12 01:49] bobjiang1988 commented on #811
The same issue on the version of 0.40.0

[2019-03-12 03:06] pehalo commented on #815
I also have this problem. ![image](https://user-images.githubusercontent.com/15843581/54171687-3aa2df80-44b6-11e9-8201-ed8d93e0c36c.png)
But I don't know how to collect specific crash information. How do you collect crash information, such as logs?
This situation is occasional and difficult to reproduce.

[2019-03-12 03:12] yaohaizh commented on #815
@pehalo Does this issue still happen?

[2019-03-12 03:19] pehalo commented on #815
It just happened, but the automatic restart was successful. My computer's memory is full during the reboot process.

[2019-03-12 03:24] testforstephen opened #831 "Support syntax highlight for embedded SQL languages"
When embedding SQL into the Java code, it will be helpful to show the syntax highlight for the SQL.

VS Code provides a guide about how to support embedded languages. https://code.visualstudio.com/api/language-extensions/syntax-highlight-guide#embedded-languages

There is a VS Code extension already providing SQL support.
https://github.com/mydesireiscoma/es6-string-html/issues/10
https://marketpl

[2019-03-12 04:05] yaohaizh commented on #831
Add previous closed issue: https://github.com/redhat-developer/vscode-java/issues/525

[2019-03-12 04:38] yaohaizh commented on #815
@pehalo  Could you help invoke the "Java: Clean workspace" to see whether the issue persist

[2019-03-12 08:21] pehalo commented on #815
@yaohaizh After running the "Java: Clean workspace" command, I found some other problems.
![YR~S3V6KG{N(~NMJUPH{11U](https://user-images.githubusercontent.com/15843581/54184630-12c97100-44e2-11e9-8275-ed8f73ea2504.png)
Trigger full gc every 5 seconds

[2019-03-12 12:36] henriquesqs commented on #811
Unfortunately Im having the same issue on this version. Is there something that we could do to help solving this?

[2019-03-12 12:47] fbricon commented on #815
A GC is performed every 10sec, to prevent a file handle leak on Windows

[2019-03-12 18:00] IdkGoodName opened #833 "`net` support."
I am getting error when using `net` as package prefix.

##### Environment
- Operating System: Windows 10
- JDK version: 1.8.0 162
- Visual Studio Code version: 1.32
- Java extension version: 0.40.0

##### Steps To Reproduce
1. Create some package which starts with `net`, instead of `com`
2. Import it.

##### Current Result

Getting error `The import net cannot be resolved`.

##### Expected Result

[2019-03-12 18:44] fbricon commented on #833
please provide a sample project

[2019-03-12 21:51] snjeza commented on #797
@tmh2211 could you try the following project:

[test2.zip](https://github.com/redhat-developer/vscode-java/files/2958918/test2.zip)

The build.gradle and module-info.java files have been changed.
Requirements: gradle >= 5.0, JDK 11.0.2

[2019-03-13 06:03] Eskibear opened #834 "Status bar keeps showing "100% Starting Java Language Server""
The language server has been launched successfully, and all features are ready, but the message is pinned on the status bar. It's probably a racing condition, and it's not stably reproducible.

I've done some investigation to print out the notifications, and I find the sequence on my machine is usually as following:
[code]
You may notice that after a "started" notification, it still receives a "st

[2019-03-13 12:38] yossefEl opened #835 "VS Code settings does not point to a JDK."
## Thank you in advance 😄 😃

I set up VScode as described on Extension instruction(JAVA_HOME, JDK version ..) but i still getting this error.
##### Environment
- Operating System: Windows 10
- JDK version: jdk1.8.0_171
- Visual Studio Code version: 1.32.1
- Java extension version: 0.40.0

#### Error
![error1](https://user-images.githubusercontent.com/39236784/54279308-0a7e3e00-4595-11e9-9626-e8a4e

[2019-03-13 12:47] Eskibear commented on #835
Dude, remove the "bin" part please. Your java home should be  "C:\\Program Files\\Java\\jdk1.8.0_171" .

[2019-03-13 13:02] Eskibear opened #836 ""Java runtime could not be located" for Windows + Oracle JDK"
For Windows, if JDK installer is downloaded here from Oracle, the java executable is special, JAVA_HOME is not set either. I don't understand why Oracle did such a tricky thing.

Setting `java.home` to "C:\Program Files\Java\jdk1.8.0_201" do help me out. But the user experience is terribly bad, especially for new Java developers. Can we find a way to optimize for Windows+OracleJDK users? (i.e. rec

[2019-03-13 13:51] muha365 commented on #835
You can open command line elevated as administrator and execute the next line
SET JAVA_HOME="C:\Program Files\Java\jdk1.8.0_171"

[2019-03-13 14:10] fbricon commented on #836
Isn't javapath pointing at a JRE? We need a JDK

[2019-03-13 14:31] Eskibear commented on #836
Yes, you are right. Just tried printing the `java.home` and it's "C:\Program Files\Java\jdk1.8.0_201\jre
". I never knew that before.

Yet I have to say the experience is not friendly enough to new comers. When I saw the message "Java runtime could not be located", I was thinking "fool me? I do have a java runtime and I can execute java program in CLI".  I'm wondering whether there is any possibil

[2019-03-14 07:29] Zirhi opened #837 "junit Testing"
So I am writing a test file for a program.

The instruction requires me to use:
**_import static org.junit.Assert.*;
import org.junit.Test;_**

However, when I get an error: _The import org.junit cannot be resolvedJava(268435846)_

Please what is this issue and how do I go about resolving it.

[2019-03-14 07:47] yaohaizh commented on #837
@Zirhi Could you share your sample project here?

[2019-03-14 07:48] Zirhi commented on #837
Hi, do you want only the test file? I am not allowed to share the project on public sites as it is a school assignment

[2019-03-14 07:51] yaohaizh commented on #837
@Zirhi Do you have add the junit as the project dependency?

[2019-03-14 07:54] Zirhi commented on #837
The assignment doesn't specify, but if it helps I think I can do that.

[2019-03-14 08:00] yaohaizh commented on #837
https://github.com/redhat-developer/vscode-java/issues/501

[2019-03-14 08:18] Zirhi commented on #837
So I tried the procedure from the provide gif in #501

I created a **_lib_** folder and used the command _user$ cp ../lib/*.jar lib/_

**Returned**
       cp: ../lib/*.jar: No such file or directory

[2019-03-14 08:18] Zirhi commented on #837
or is that not what solves my problem

[2019-03-14 08:19] DavisZeidaks commented on #774
This would be awesome together with some sort of passive check with quick fix to quickly add final to method arguments and local fields

[2019-03-14 08:39] testforstephen commented on #802
Cannot reproduce this issue in my environment.
[code]
@gitorko Can you update VS Code and Java extension to the latest version, and try again?

[2019-03-14 16:49] fbricon commented on #794
Our current approach is to display a message when we detect the Java language server requires a reload.
<img width="461" alt="Screen Shot 2019-03-14 at 12 37 13 PM" src="https://user-images.githubusercontent.com/148698/54375225-074b8680-4657-11e9-8637-397dea6fcf82.png">

which is not the ideal solution.
Now, we might still be able to comply with the no-reload requirements in a next iteration, if w

[2019-03-14 17:24] Zirhi commented on #837
Issue has been resolved

[2019-03-14 17:25] fbricon commented on #837
So what solved it?

[2019-03-14 17:33] Zirhi commented on #837
I downloaded these two files from junit.org/junit4/

https://github.com/junit-team/junit4/wiki/Download-and-Install

Seems to get rid of the resolving error

[2019-03-14 17:47] Zirhi commented on #837
So I do not get the _red line_ error on my import statements anymore, but on compiling the program I still get this error:

TestOne.java:1: error: package org.junit does not exist
import static org.junit.Assert.*;

[2019-03-14 18:35] fbricon commented on #837
compiling as in calling javac from a terminal? If that's the case, you need to add the jars to the classpath.

     javac –classpath C:\path\to\junit.jar;C:\path\to\hamcrest-core.jar TestOne.Java

and, to run the class:

     java –classpath C:\path\to\junit.jar;C:\path\to\hamcrest-core.jar TestOne

if you're on Mac or Linux, the path separator is `:`.

If you google about how to set the Java clas

[2019-03-14 18:35] #837 closed

[2019-03-14 20:47] #835 closed

[2019-03-14 20:50] fbricon commented on #835
This mistake is now better captured and surfaced to the user:
<img width="458" alt="Screen Shot 2019-03-14 at 4 48 47 PM" src="https://user-images.githubusercontent.com/148698/54390554-23f8b600-4679-11e9-888e-a3be2a683018.png">

The "Open Settings" action will be available only if the java.home is already being set.

[2019-03-14 20:56] fbricon commented on #836
Updated message:
<img width="459" alt="Screen Shot 2019-03-14 at 4 54 22 PM" src="https://user-images.githubusercontent.com/148698/54390926-f52f0f80-4679-11e9-911e-b253a3b596fc.png">

[2019-03-14 22:02] #750 closed

[2019-03-14 22:25] fbricon commented on #829
Can you please share your project (we don't need the source files, just the config)?
Please enable `"java.trace.server":"verbose"` in your settings.json and attach the [Java Language server output](https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#turn-on-message-tracing-between-vs-code-and-the-java-language-server)

[2019-03-14 22:30] fbricon commented on #821
Can you reproduce this issue if you open the project in Eclipse?

[2019-03-14 22:58] fbricon commented on #821
I managed to reproduce the issue in JDT : https://bugs.eclipse.org/bugs/show_bug.cgi?id=545426

[2019-03-14 23:09] #830 closed

[2019-03-14 23:22] fbricon commented on #811
I found this is caused by the Intellicode extension. I reported the issue there: https://github.com/MicrosoftDocs/intellicode/issues/72

[2019-03-14 23:23] fbricon commented on #811
In the meantime, you can try to uninstall or disable the Intellicode extension and Javadoc completion should be restored

[2019-03-14 23:29] fbricon commented on #804
VS Code fixed that issue weeks ago.

[2019-03-14 23:29] #804 closed

[2019-03-15 02:12] testforstephen commented on #796
@jnesspro By default, the Java extension will only recommend static import for the members below.
[code]

If you want to enable static import for spring 5 members, you need modify the user settings and append your favorite package into `java.completion.favoriteStaticMembers`.

[2019-03-15 02:14] testforstephen commented on #796
@cedric05 Can you execute VS Code command `Java: Open Java Language Server log file`, and share us the log?

[2019-03-15 02:31] cedric05 commented on #796
@testforstephen sorry for filing wrong. its working.

[2019-03-15 03:46] Eskibear commented on #811
It's confirmed to be a bug of IntelliCode Java module, and here is a private build with the fix:
[vscodeintellicode-1.1.5-fix-javadoc-completion.vsix.zip](https://github.com/redhat-developer/vscode-java/files/2969341/vscodeintellicode-1.1.5-fix-javadoc-completion.vsix.zip)
Can you give it a try, and let me know if it works for you? @mwschultz @henriquesqs @fbricon

Unzip it, and install the .vsix

[2019-03-15 07:37] masbaehr commented on #829
Using Version 1.33.0-insider and latest version of the plugins the problem seems to be fixed :D

[2019-03-15 07:37] #829 closed

[2019-03-15 08:58] alikrc commented on #785
like @snjeza answer, deleting george's extension worked for me, thanls man

[2019-03-15 13:26] henriquesqs commented on #811
Unfortunately I'm not able to test it right now. I will check it asap. Thank you!

[2019-03-15 13:59] fbricon commented on #811
@Eskibear your extension works

[2019-03-15 14:25] 0160582749 opened #840 "How to get the Java Abstract Syntax Tree?"
I want to build a VSCode Extension using the Java AST nodes' information and was wondering if it is possible to get the Java AST?
I went through the Language Support code and found out it uses the Eclipse servers, so in my understanding it should be possible to get the AST since in Eclipse you can?

##### Environment
- Operating System: Ubuntu 18.04.1 LTS
- JDK version: 11.0.2
- Visual Studio Code

[2019-03-15 16:46] henriquesqs commented on #811
@Eskibear still not working for me. How do I proceed?

[2019-03-16 09:09] jchprj opened #841 "Maven sub modules do not update when parent pom.xml is edited"
[provide a description of the issue]
When adding or removing modules in the top pom.xml, the JAVA DEPENDENCIES which depends on Language Support for Java(TM) by Red Hat(redhat.java) is not updated even after VSCode is restarted.

##### Environment
- Operating System: Windows 10 Pro 1809 OS build 17763.379
- JDK version: Java HotSpot(TM) 64-Bit Server VM (build 25.172-b11, mixed mode)
- Visual Stud

[2019-03-16 13:00] yaohaizh commented on #841
@jchprj You need manually click the refresh to update the JAVA DEPENDENCIES view.

[2019-03-16 13:07] jchprj commented on #841
Thanks for reply. I tried. But there is no effect. It's not only JAVA DEPENDENCIES problem, there are also these problems:
A module would not generate the .classpath, any main method in the module would not appear `run | debug` when mouse moved on to the main method. These problem all happens when the module is not in the JAVA DEPENDENCIES.
Like the VS Code dose not detect the project as a Java pr

[2019-03-17 04:16] K2Prasanna commented on #305
Hi,
I am facing the same issue and in logs, I see below message. Could you please help to resolve?
I tried all the options here, and my set up was working fine till the last few days. I suspect upgrade started the problem.

!SESSION 2019-03-16 21:41:05.151 -----------------------------------------------
eclipse.buildId=unknown
java.version=1.8.0_131
java.vendor=Oracle Corporation
BootLoader consta

[2019-03-17 23:16] spcified opened #842 "Code-completion not working with Language Support for Java and Visual Studio IntelliCode - Preview"
Issue Type: <b>Bug</b>

*Not sure if this belongs to LSfJ or is an Visual Studio IntelliCode Issue.*

VScode fails to show code-completion on fields.
This happens if `Language Support for Java` and `Visual Studio IntelliCode - Preview` are installed AND `"java.implementationsCodeLens.enabled": true` is **NOT** set in settings.json.

Instead of showing the suggestions only an exception is thrown.

[2019-03-18 01:11] bobjiang1988 commented on #811
@Eskibear
Works for me. Thank you!

[2019-03-18 01:34] yaohaizh commented on #842
@Eskibear please help take a look at this issue.

[2019-03-18 02:19] Eskibear commented on #811
@henriquesqs You may try to totally remove Java extension and IntelliCode extension, then re-install them. If the issue still exists, look for clues in both output channels "VS IntelliCode" and "Language support for Java" .

[2019-03-18 02:57] Eskibear commented on #842
IntelliCode Java plugin bug confirmed. As it's in the field, exception occurs when searching for previous calls in the context.

[2019-03-18 03:02] fbricon commented on #842
Please open a bug in https://github.com/MicrosoftDocs/intellicode/issues

[2019-03-18 03:02] #842 closed

[2019-03-18 03:23] Eskibear commented on #842
@yaohaizh I just created a PR in intellicode-java repo to fix it.
![image](https://user-images.githubusercontent.com/2351748/54504575-2e63ca00-496f-11e9-8229-304394ec4e41.png)

[2019-03-18 07:29] testforstephen commented on #547
@jcjolley @KaRkY The extension has provided the quick fix `extract to local variable` feature for return value.  The quick fix bulb will appear when the cursor stops at the bracket `()`. The keyboard shortcut is `ctrl + .`
![assignvariable](https://user-images.githubusercontent.com/14052197/54513143-654ad780-4991-11e9-9d4c-fecb693daf12.gif)

Did this resolve your issue?

[2019-03-18 07:34] KaRkY commented on #547
@testforstephen yes that solves it for me.

[2019-03-18 11:00] henriquesqs commented on #811
Hello @Eskibear, I tried to completely remove Java extension but it still not working for me. I'll attach my output for you to see. If there is something else that I should do I'll be glad to help.

[VSIntellicode.txt](https://github.com/redhat-developer/vscode-java/files/2977673/VSIntellicode.txt)
[LanguageSupportForJava.txt](https://github.com/redhat-developer/vscode-java/files/2977674/LanguageS

[2019-03-18 11:17] henriquesqs commented on #811
@Eskibear for some reason now I (think that I) can use javadoc. But I can't figure out why it just works with this function and this file. Am I doing something wrong? :p

![image](https://user-images.githubusercontent.com/36971021/54526647-23e90680-4956-11e9-8d01-91175467b5a0.png)

[2019-03-18 11:32] FinallyFinancialFreedom commented on #446
yes, in VSCode, " Go to Definition" first and then "Go to implementation" works fine.
But i'm using coc.nvim in neovim, everytime i open a java project, "Go to Definition" works fine, but "Go to implementation" doesn't work at first time, after i call it serveral times, it begin works and works fine after that. i don't know why. i have installed the latest snapshot of jdt.ls

[2019-03-18 14:28] miggymiggoi commented on #785
Uncaught (in promise) Error: Fetching local packages failed.
    at l (C:\Users\Parallax\AppData\Local\atom\app-1.35.1\resources\app\static\<embedded>:11:902206)
    at C:\Users\Parallax\AppData\Local\atom\app-1.35.1\resources\app\static\<embedded>:11:902348
    at Function.simpleDispatch (C:\Users\Parallax\AppData\Local\atom\app-1.35.1\resources\app\static\<embedded>:11:1172354)
    at Emitter.em

[2019-03-18 15:22] yaohaizh commented on #785
@miggymiggoi The errors you listed here are seems from atom, but not VSCode.

[2019-03-18 22:22] danielnmai commented on #10
It's pretty annoying to jump back and forth between VS Code and Android Studio for a React Native app on Android. My tasks require writing a lot of native modules in Java, and with the lack of Android dev support, I'm not sure this extension is worth it for my use case.

[2019-03-19 02:26] Eskibear commented on #811
@henriquesqs  Actually the completion item provider in intellicode follows exact the [same logic](https://github.com/eclipse/eclipse.jdt.ls/blob/2986d90d46e1589b607defe96081b6cb3ee0c585/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/handlers/CompletionHandler.java#L116-L117) as in eclipse.jdt.ls . From the log, I can only tell that for some reason the exception occurs in `SnippetComp

[2019-03-19 06:42] liuxin2533 commented on #701
@410919244 请问您问题解决了吗?我也遇到了同样的问题

[2019-03-19 08:14] yaohaizh commented on #701
@liuxin2533 具体什么样的问题？
What kind of problem do you meet?

[2019-03-19 11:43] henriquesqs commented on #811
@Eskibear I tried disabling the Intellicode extension and now there's nothing to see in output. Both "VSIntellicode" and "Language Support for Java" channels now disappeared. Also, the Javadoc is still working in the same way as I mentioned [here](https://github.com/redhat-developer/vscode-java/issues/811#issuecomment-473869610).

I tried reenabling the extension to generate a new output on those

[2019-03-19 16:52] clankill3r opened #845 "newline stopped working in debug console"
Somewhere in the last week new line stopped working for me:

##### Environment
- Operating System: OSX 10.12.6
- JDK version: 10.8
- Visual Studio Code version: 1.32.3
- Java extension version: 0.41.0

[code]

This is the output:

<img width="430" alt="Screen Shot 2019-03-19 at 17 48 46" src="https://user-images.githubusercontent.com/738650/54625295-4cb0ef00-4a6f-11e9-83ef-16975ff7c5c4.png">

It o

[2019-03-19 17:23] clankill3r opened #846 "location of certain icons"
Not really a issue but I was wondering if someone could help me with this:

Does someone know the location of those icons?
(I don't even know if they are from VSCode or from any of the java extensions).

<img width="43" alt="Screen Shot 2019-03-19 at 18 20 36" src="https://user-images.githubusercontent.com/738650/54627516-e67a9b00-4a73-11e9-8754-89b239295526.png">

[2019-03-19 18:32] fbricon commented on #845
I confirm this is an issue, but execution of Java code is out of scope of vscode-java. Please open a ticket in https://github.com/Microsoft/vscode-java-debug/issues. cc @Eskibear @testforstephen @yaohaizh

[2019-03-19 18:32] #845 closed

[2019-03-19 18:43] fbricon commented on #846
They're provided by vscode. vscode-java doesn't contribute any UI assets. See https://github.com/Microsoft/vscode/blob/57edc531924622ca41fc82b993b86e3907dabc49/src/vs/editor/contrib/documentSymbols/media/symbol-icons.css and https://github.com/Microsoft/vscode/tree/57edc531924622ca41fc82b993b86e3907dabc49/src/vs/editor/contrib/documentSymbols/media

[2019-03-19 18:43] #846 closed

[2019-03-20 02:31] testforstephen commented on #845
Windows 10 doesn't have this issue. Opened a bug in vscode. https://github.com/Microsoft/vscode/issues/70789

[2019-03-20 03:39] gavinfish opened #848 "No auto completion for double brace initialization"
[provide a description of the issue]

Code like below will not provide completion like `add()`, `addAll()` in double brace.
[code]

##### Environment

No specific environment.

##### Steps To Reproduce

1. Try to init an ArrayList with double brace initialization.

##### Current Result

##### Expected Result

Provide code completion in double brace initialization.

##### Additional Informations

[2019-03-20 03:47] #848 closed

[2019-03-20 03:55] gavinfish opened #849 "Diamond infer alert for anonymous inner classes"
No alert for code like below which is illegal, should provide error message like 'Cannot use ''<>'' with anonymous inner classes'.

[code]

##### Environment
No specific environment

##### Steps To Reproduce
Copy the code in vscode, no alert.

##### Current Result

##### Expected Result

alert message with red underline.

##### Additional Informations

[2019-03-20 04:34] fbricon commented on #849
''<>'' are authorized in anonymous inner classes since Java 9. If you're running a standalone with a Java 9+ and open a standalone Java class, it'll target that Java version.
If your class is in a project that explicitly targets Java 8 or less, you'll get an `'<>' cannot be used with anonymous classes` error

[2019-03-20 04:34] #849 closed

[2019-03-20 15:49] fbricon commented on #555
With server-side folding:

![Mar-20-2019 11-28-11](https://user-images.githubusercontent.com/148698/54698582-ecb95780-4b05-11e9-98ea-10cd503899b4.gif)

Now we need VS Code to allow users to define the [initial collapsing state of a region](https://github.com/Microsoft/vscode/issues/40338). I can imagine people needing to have the imports section collapsed by default.

[2019-03-20 15:52] fbricon commented on #555
At least, the folding state is preserved when closing/reopening the files

[2019-03-21 06:35] satnav commented on #495
The first time I added a Java project to my workspace, a pop-up came up asking if I wanted to exclude extension-generated project settings files (.project, .classpath, .factorypath, .settings) from the file explorer. I clicked Yes, for this workspace (or something similar). After I kept getting the build error message, I tried the following:

I [cleaned the workspace](https://github.com/redhat-dev

[2019-03-21 16:35] jjaimon opened #851 "High CPU Usage"
Issue Type: <b>Performance Issue</b>

This happens when ever I open a java file.  I keep seeing the message on the bottom bar "Building workspace - 0%" continuously.  This process continues even if I close the java file.  Only way to get back to normal state is by restarting Visual Studio Code.

Process explorer shows that this extension is loading the CPU.  I couldn't find a way to get any logs t

[2019-03-21 18:05] fbricon commented on #851
Can you try after disabling all the other Java-related extensions?

[2019-03-22 06:24] Groupby0925 opened #852 "windows system computer must use jdk1.8.201 or newer"
[provide a description of the issue]

##### Environment
- windows 10 64bit:
- JDK 1.8.0_05:
- Visual Studio Code version:1.32.3
- Java extension version: 0.41.0

##### Steps To Reproduce
1. uninstall jdk1.8.05, and install 1.8.201
2. restart  vs code

##### Current Result
everything is ok.
##### Expected Result
Please note jdk version is 1.8 newest . this is very important
##### Additional Informa

[2019-03-22 08:47] yaohaizh commented on #852
@Groupby0925 What's the point here?

[2019-03-22 09:27] jeusdi opened #853 "lombok compilation errors"
I'm getting some errors on vscode in relation to lombok capabilities.

I've pushed a repository on [here](https://github.com/jeusdi/vscode-lombok-ko), you can find a very straightforward code.

![image](https://user-images.githubusercontent.com/941639/54747825-31a9c080-4bd0-11e9-9a65-067e880a4743.png)

When I load project on eclipse it works correctly. I mean, It's not getting me any compilation e

[2019-03-22 14:29] shaka0919 opened #854 "cannot resolve the 'var' keyword in maven project"
I can use var in java project
but when i created a maven project from archetype quickstart
var cannot be resolved to a typeJava(16777218)
is there something wrong with my env or configuration?

[2019-03-22 15:14] Groupby0925 commented on #852
In Readme.md file,  as Quick Start need change.
old content:
1. Install the Extension
2. If you do not have a Java Development Kit correctly set
Download and install a Java 8, 9, 10 or 11 compatible development kit.
3. Extension is activated when you first access a Java file
Recognizes projects with Maven or Gradle build files in the directory hierarchy.

change to

1. Install the Extension
2. If

[2019-03-22 18:46] fbricon commented on #854
You need to tell Maven to compile against Java 11. Typically, add this to your pom.xml:

[code]

[2019-03-22 18:48] fbricon commented on #853
I can't check right now by I suggest you add the gradle wrapper, using the latest Gradle version to your project and then try again.

[2019-03-22 21:01] VienzaTV opened #855 "It doesen't work"
When I run my Java command I just get a bunch of errors {
	"resource": "/D:/!course/j-s basics/myfirstjava.js",
	"owner": "typescript",
	"code": "8009",
	"severity": 8,
	"message": "'public' can only be used in a .ts file.",
	"source": "ts",
	"startLineNumber": 1,
	"startColumn": 1,
	"endLineNumber": 1,
	"endColumn": 7
} {
	"resource": "/D:/!course/j-s basics/myfirstjava.js",
	"owner": "typescript

[2019-03-22 21:05] fbricon commented on #855
Looks like you're using JavaScript files. These errors are not generated by the Java tooling. Your Java files need to have a .java extension

[2019-03-22 21:39] byyxx128 opened #856 "Formatter Does Not Work If Create New File in VS Code"
If I open an existed JAVA file, everything is OK.
However, if I **create a new file and select to Java language mode**, the formatter doesn't work (neither context menu or Ctrl+Alt+F).
Otherwise, if I save the new file, everything is OK again.
In one word, the issue only occurred on **new unsaved files**.

Another extension has similar issues https://github.com/Microsoft/vscode-cpptools/issues/334

[2019-03-22 22:43] fbricon commented on #856
This works as designed. The Java language server requires an existing file URI to work correctly.
We tried to get unsaved file support in the past, but it introduced unnecessary complexity and didn't even work properly, so we abandoned that option.

[2019-03-22 22:43] #856 closed

[2019-03-23 04:41] byyxx128 commented on #856
@fbricon I agree that. But what I means is just supporting formatting for unsaved files, no other features required. Is it still not feasible? Just format.

[2019-03-23 04:41] byyxx128 commented on #856
@fbricon I agree that. But what I mean is just supporting formatting for unsaved files, no other features required. Is it still not feasible? Just format.

[2019-03-23 05:11] fbricon commented on #856
Not possible. Formatting requires loading the document's AST, which, again, depends on the file URI being accessible by the server.

[2019-03-23 05:44] byyxx128 commented on #856
OK, got it. In this case, I suppose it is necessary to have a prompt while users use formatting or any other functions for unsaved files. Just like this:
![image](https://user-images.githubusercontent.com/20079289/54862164-f06afb00-4d0c-11e9-9dd6-7a3d09da3c67.png)

[2019-03-23 11:56] VienzaTV commented on #855
Hey so I fixed that, a dumb mistake from me. I really appreciate that you answered to fast.
I get this error message when I launch Visual studio codes now:
Java runtime (JDK, not JRE) could not be located

And when I try to run my code it doesn't work even tho there’s nothing wrong with the code.

Best regards:
Kevin Jansson
kevin-jansson@hotmail.com

Från: Fred Bricon<mailto:notifications@github.

[2019-03-23 12:28] shaka0919 commented on #854
thanks !
but this code cannot work for me.

I tried another way to fix this issue
 <properties>
    <project.build.sourceEncoding>UTF-8</project.build.sourceEncoding>
    <maven.compiler.source>11</maven.compiler.source>
    <maven.compiler.target>11</maven.compiler.target>
  </properties>

could you help to explain whats the  difference between these two solution?

[2019-03-23 12:41] VienzaTV commented on #855
And I did download the JDK

________________________________
Från: Fred Bricon <notifications@github.com>
Skickat: Friday, March 22, 2019 10:05:58 PM
Till: redhat-developer/vscode-java
Kopia: VienzaTV; Author
Ämne: Re: [redhat-developer/vscode-java] It doesen't work (#855)

Looks like you're using JavaScript files. These errors are not generated by the Java tooling. Your Java files need to have a

[2019-03-23 21:37] #854 closed

[2019-03-23 22:46] #855 closed

[2019-03-23 22:46] VienzaTV commented on #855
A guy from discord helped me.

[2019-03-25 00:40] akaroml opened #857 "User feedback regarding performance"
A user left some comments for Java Extension Pack and it's regarding language server performance.
<img width="1126" alt="Screen Shot 2019-03-25 at 8 30 55 AM" src="https://user-images.githubusercontent.com/16755094/54888549-e269d580-4ed8-11e9-8a18-05abfc691875.png">

There are two aspects to this problem:
1. The long lag for language server to load bigger projects (~8500 files in this case)
2. Pro

[2019-03-25 02:15] kelvinwop commented on #857
I feel like adding a short sleep every once in awhile would greatly help the "vscode has stopped responding" part. I mean the computation part is inevitable, but stopping once in awhile to check for user input would do wonders for responsiveness. Not sure how easy or hard that would be to implement though (or depending on design of code whether or not that would even help lol, just an idea).

[2019-03-25 05:21] kelvinwop commented on #857
![image](https://user-images.githubusercontent.com/30770221/54896813-e9bac000-4e93-11e9-8088-fdfdc0ff6927.png)
some pics for effect

[2019-03-25 07:42] yaohaizh commented on #857
@kelvinwop Could you attach your log information here. See how to get log information: https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#enable-logging

[2019-03-25 13:24] kelvinwop commented on #857
Aha, you're in luck! It just froze:
https://paste.ofcode.org/FzBfetrNzCFfPqyktjT3eK

[2019-03-25 13:38] yaohaizh commented on #857
@kelvinwop Could you help disable other java extension(Debugger for Java,  Maven for Java, Java Dependency Viewer, Java Test Runner), leave only the Language Support for Java(TM) by redhat, and try it to see whether the perf issue hits?

[2019-03-25 16:08] snjeza commented on #857
Related issues - https://github.com/eclipse/eclipse.jdt.ls/issues/824, https://github.com/Microsoft/vscode-java-pack/issues/81

[2019-03-25 18:49] kelvinwop commented on #857
Will do,

Extra info: when I get this notification:
![image](https://user-images.githubusercontent.com/30770221/54945812-afd5d200-4f04-11e9-872a-7c729462cf43.png)

there is no lag ever bug all the "find references/control click trace/etc" break beyond all hell

[2019-03-26 02:54] akaroml commented on #857
Here's more on Microsoft/vscode-java-pack#81. It turns out to be a vscode issue. We observed lots of such issues recently and got no luck in all the investigations. And after some time, other extension authors started to receive similar issues, and then we started to suspect it was a vscode issue. @eskibear has more info and will update that issue. It will be closed soon.

[2019-03-26 12:53] #555 closed

[2019-03-26 12:54] fbricon commented on #555
So a new preference is introduced:
`java.foldingRange.enabled`: Enable/disable smart folding range support. If disabled, it will use the default indentation-based folding range provided by VS Code.

[2019-03-26 15:52] aeschli commented on #555
Note that you can achieve the same with setting in VSCode
[code]

[2019-03-26 15:57] #673 closed

[2019-03-26 15:59] fbricon commented on #673
Management of ambiguous imports integrates seamlessly into VS Code:

![organizeImports](https://user-images.githubusercontent.com/14052197/54737801-8a875200-4bec-11e9-8a6e-c5f2b3f57367.gif)

Again, kudos to @testforstephen!

[2019-03-26 16:03] fbricon commented on #555
@aeschli indeed. The `java.foldingRange.enabled` preference is actually more useful as a server-side preference, which other clients can leverage.

[2019-03-26 19:55] #796 closed

[2019-03-26 19:57] fbricon commented on #796
You asked for it, @testforstephen delivered:

![Mar-26-2019 15-56-04](https://user-images.githubusercontent.com/148698/55029144-b422ed80-4fdf-11e9-965b-67a4bf9625ee.gif)

[2019-03-26 22:03] fbricon commented on #840
In theory it should be possible. You could develop a custom [extension](https://github.com/redhat-developer/vscode-java/wiki/Contribute-a-Java-Extension) that'd make the Java language server load some new jars, to expose a new command.

[2019-03-26 22:05] fbricon commented on #841
This relates to #746 apparently

[2019-03-26 22:57] kelvinwop commented on #857
Some more info: after disabling the other extensions, I got the Classpath is incomplete error on every file. After enabling it again, the lag went away and the Find By References broke. In any case, I've moved to android studio for the android sdk support. Thanks!

[2019-03-26 23:08] kelvinwop commented on #857
Was working on a small proj (for a change) this is completely unrelated but coloring seems to be a bit broken for for loops:
![image](https://user-images.githubusercontent.com/30770221/55039446-23a1d880-4ff2-11e9-9570-b6415fcbe315.png)

[2019-03-27 00:30] fwcd commented on #673
This is really great, thanks!

[2019-03-27 00:43] simahao commented on #673
Really great,thanks!

[2019-03-27 01:08] yaohaizh commented on #857
@kelvinwop So you open Android project in VSCode. If this is the case, VSCode Java has not support Android yet. See the related issue: https://github.com/redhat-developer/vscode-java/issues/396

[2019-03-27 02:44] testforstephen commented on #597
Add `Generate Constructor` code generation.

[2019-03-27 06:10] kelvinwop commented on #857
Yeah I realized that pretty quick, but funnily, vscode's file search/function tracing is better than intelliJ/android studio, despite having pages upon pages of errors. Anyways I finished most of the tracing work so I'm now moving between IDEs depending on what I'm doing

[2019-03-27 09:12] MoxxiManagarm commented on #662
@JRiggenbach Thanks I just had the same issue and this worked for me too! You saved my ass :-)

[2019-03-27 10:00] lxhmavis opened #858 "Can't prompt user to reload window"
[provide a description of the issue]

##### Environment
- Operating System:Windows/Mac
- JDK version:1.8.0/11.0.1
- Visual Studio Code version:1.32.3
- Java extension version:0.41.0

##### Steps To Reproduce
There are vscode-java and java-dependency extensions in the workplace, install the other extension for the first time, it can not prompt to reload, the new install extension doesn't work, if m

[2019-03-27 14:05] thomas-hugel opened #859 "problem with GRADLE_HOME environment variable"
When I launch VS Code on a Java project built using Gradle, I get the following errors:

I managed to fix the problem by setting the environment variable `GRADLE_HOME` to `~/.gradle` instead of the default `/usr/share/java/gradle` and cleaning the project directory.

##### Environment
- Operating System: Arch Linux 5.0.4
- JDK version: openjdk version "11.0.3" 2019-04-16
- Visual Studio Code versi

[2019-03-27 22:31] psgrove commented on #820
Thanks for documenting the fix it saved me from the depths of dispear

[2019-03-27 23:02] fbricon commented on #671
Fixed with https://github.com/eclipse/eclipse.jdt.ls/pull/970

[2019-03-27 23:02] #671 closed

[2019-03-28 09:58] lxhmavis opened #860 "Multiple code lines commented with Single-line comments can't be folded"
##### Environment
- Operating System: Windows/Mac/Linux
- JDK version:1.8.0/11.0.2/12
- Visual Studio Code version:1.32.3
- Java extension version:0.42.0

##### Steps To Reproduce

There are multiple code lines commented with Single-line comments “//”, they can't be folded.
![image](https://user-images.githubusercontent.com/41565966/55148127-980b8180-5182-11e9-9f1a-e64cd384611c.png)

##### Expecte

[2019-03-28 14:27] fbricon commented on #860
I can see this is supported in ts files, but not for Java files at the moment, so not regression. This is an enhancement we can introduce later.

[2019-03-28 18:08] gitsparty opened #862 "Need additional information to debug compile errors"
I can compile https://github.com/apache/jmeter using Ant. But when i hit F5, i get compilation errors. And i have no additional information on how to fix this.

##### Environment
- Operating System: Windows 10
- JDK version: 12
- Visual Studio Code version: 1.32.3
- Java extension version:
Java Language Support - 0.2.16
Debugger For Java - 0.17.0

##### Steps To Reproduce
1. Clone https://github.c