[2021-08-19 06:54] jonathanvila commented on #2067
It happens when I add a project to the workspace.

Here is the file requested.
[.log](https://github.com/redhat-developer/vscode-java/files/7012340/default.log)

[2021-08-19 06:59] jonathanvila commented on #2067
And here is the other log : ( client.log )

[code]

[2021-08-19 07:01] jonathanvila commented on #2067
Installing the lombok plugin this is how it gets the client.log
[code]

[2021-08-19 07:22] fbricon commented on #2074
It's a background job running when m2e is activated, when jdt.ls starts.
Something eagerly triggers m2e's activation (probably the importer's instanciation)

[2021-08-19 07:31] fbricon commented on #2076
As you can see it tries to access /home/remoteserver/.vscode-server/extensions/gabrielbb.vscode-lombok-1.0.1/server/lombok.jar. Try disabling the gabrielbb.vscode-lombok extension and remove any reference to the lombok agent from java.jdt.ls.vmargs

[2021-08-19 07:38] fbricon commented on #2067
Try disabling the gabrielbb.vscode-lombok extension, remove any reference to the lombok agent from java.jdt.ls.vmargs and clean the workspace directory

[2021-08-19 07:41] shrinidhi111 commented on #2076
Hi @fbricon

Thanks for your comment. As mentioned in ticket I basically deleted all my extensions and have only these

![image](https://user-images.githubusercontent.com/10372299/130027931-f34af75f-0f5d-4a03-87d4-274e8cb22d57.png)

I do not have Lambok installed in my local machine at all.

But it might be in the remote machine 🤔.

How do I do this?

[2021-08-19 07:50] fbricon commented on #2076
check your vscode settings (open the json file)

[2021-08-19 08:00] jdneo commented on #2075
One solution I can think of is to scan twice when `java.import.exclusions` contains negative patterns.

1. The first scan includes those folders which match the negative patterns
2. Then remove those negative patterns and leave all the positive exclusion and do a second scan

[2021-08-19 09:04] shrinidhi111 commented on #2076
Thank you! It is working now.

So in summary:

1. I installed Java extension + Lombok in remote SSH.
2. This updated settings.json > `java.jdt.ls.vmargs` key to include the lambok agent.
3. This lambok agent is NOT installed in my local machine.
4. But setting is not changed.

Just curious, who's responsibility is this?

- VsCode's to maintain separate settings.json?
- Java Extension's to have dif

[2021-08-19 09:14] fbricon commented on #2076
I don't do remote development, so not sure how it works. vscode-java doesn't know it's running in a remote environment. If there is a remote settings.json file, then that's what vscode-lombok should update.
@testforstephen any idea?

[2021-08-19 13:18] Evan-hardworking commented on #2067
I had the same question.
When I opened one ".java" file  with VS Code onto which the"Extention pack for java" was just installed minutes before, it keep saying "The Language Support for Java server crashed 5times in the last 3 minutes. The server will not be restarted."
What should I do or what else information should I offer?
Hope your early reply! thank you

[2021-08-19 14:45] rgrunber commented on #2071
In your javaLanguageServer.log , I can see :

[code]

That definitely seems to be the 2 minute timeout from #2020. CC'ing @snjeza for comment.

[2021-08-19 17:40] lakshyads commented on #1140
Thankyou. This worked for me finally.

[2021-08-19 20:49] #2052 closed

[2021-08-19 21:03] snjeza commented on #2071
@mozhuanzuojing Could you check https://raw.githubusercontent.com/snjeza/vscode-test/master/java-0.82.0.vsix?

[2021-08-19 21:37] rgrunber commented on #3
Marking this as closed for now as it seems it was solved some time ago. VSCode sends a shutdown notification which is only acknowledged by the language server once the workspace has been shut down safely. From there the server responds to the shutdown, permitting the client to send the exit() which terminates the process.

[2021-08-19 21:37] #3 closed

[2021-08-19 21:46] rgrunber commented on #158
I'm guessing this was resolved some time ago, but is a generic enough issue that can likely have many different causes (as described in #2020. To avoid just piling onto this issue, I'm going to close this off, so if the problem is persisting, we can get some more recent information in a new bug.

[2021-08-19 21:46] #158 closed

[2021-08-20 02:34] rgrunber opened #2079 "onDidClasspathUpdate failing intermittently"
In `test/standard-mode-suite/publicApi.test.ts`. Also discussed during our migration in https://github.com/redhat-developer/vscode-java/pull/2031

[code]

I don't think it's strictly related to how fast the builder is, because I can't reproduce locally consistently by just limiting the process to 10% of CPU but I get the impression it happens on weaker builders under Github Actions. We had similar

[2021-08-20 03:29] #1987 closed

[2021-08-20 05:01] mozhuanzuojing commented on #2071
@snjeza @rgrunber

### Now I use java-0.82.0 version to compile my project as follows

- Clean Java Language Server Workspace
- First compilation. Time consuming： 7min 10s
[java-0.82.0-clean-first-build.log](https://github.com/redhat-developer/vscode-java/files/7019194/java-0.82.0-clean-first-build.log)

- Second compilation. Time consuming： 5min 30s
[java-0.82.0-second-build.log](https://github.c

[2021-08-20 06:50] jdneo commented on #1795
@hanct

Could you try remove all the `.project`, `.classpath`, `.settings/` under the folder `spring-mvc-and-webflux-main` and then trigger `Java: Clean Java Language Server Workspace` ? `restart and delete`?

[2021-08-20 06:51] jdneo commented on #1006
@asfernandes Could you share your `java.import.exclusions` setting and your project folder structure?

[2021-08-20 07:24] testforstephen commented on #2076
In my experiment, if I explicitly override "java.jdt.ls.vmargs" setting in the remote machine's settings.json, then vscode-lombok extension will update the agent path to the remote settings.json. If not, it will update the global user setting in the local machine. The second case should be same as the problem above.

The reason is vscode-lombok extension uses the VS Code API [ConfigurationTarget.G

[2021-08-20 13:37] shrinidhi111 commented on #2076
Looks like until VSCode adds support for an additional `ConfigurationTarget` (which is to say, support remote SSH natively) I think those extensions that modify `settings.json` might mess up things like this.

Thanks a lot for your inputs and support @fbricon and @testforstephen.

Hope it reaches others in similar situation

[2021-08-20 13:37] #2076 closed

[2021-08-20 22:30] #2075 closed

[2021-08-21 00:19] snjeza commented on #2071
@mozhuanzuojing could you, please, test https://github.com/snjeza/vscode-test/raw/master/java-0.82.1.vsix

[2021-08-21 06:50] mozhuanzuojing commented on #2071
@snjeza @rgrunber

I use java-0.82.1 version to compile my project. as follows:

1. Clean Java Language Server Workspace
2. First compilation. Time consuming：6min 45s
[java-0.82.1-first-build.log](https://github.com/redhat-developer/vscode-java/files/7025054/java-0.82.1-first-build.log)

3. Second compilation. Time consuming：3min 25s
[java-0.82.1-second-build.log](https://github.com/redhat-develop

[2021-08-21 11:20] shrinidhi111 opened #2080 "How do I change the JDK target for the particular project?"
I have a Spring Boot Gradle project based on Java 11 but the extension seems to assume the project is Java 8 and gives me errors on those language features not in Java 8 (although `./gradlew build` works)

I tried several methods to change this but was unsuccessful.

##### Environment
- Operating System:

[code]

- JDK version:

[code]

- Visual Studio Code version:

[code]

- Java extension versi

[2021-08-21 11:48] shrinidhi111 commented on #2080
Alright, got it!

Silly issue but instead of doing this

[code]

I had to do this

[code]

in build.gradle.

Isn't just "11" also valid?

[2021-08-21 12:39] #2030 closed

[2021-08-21 13:58] mozhuanzuojing opened #2081 "After opening a project and stopping operation for 3 hours, opening a class needs to wait about 3 minutes for the grammar to be successfully parsed"
##### Environment
- Operating System: Windows_NT x64 10.0.19043
- JDK version: 16
- Visual Studio Code version: 1.60.0-insider (system setup)
- Java extension version: 0.81.0
- Gradle version：7.2

##### Steps To Reproduce
1. Open a very large project, such as the springboot source code project
2. Wait for more than 3 hours without any operation
3. Go back to this workspace again and open a class a

[2021-08-21 19:09] asfernandes commented on #1006
Sorry, but I changed job and do not work with this project anymore.

[2021-08-21 23:33] snjeza commented on #2071
@mozhuanzuojing Could you, please, check https://github.com/snjeza/vscode-test/raw/master/java-0.82.2.vsix

[2021-08-22 00:10] mozhuanzuojing commented on #2080
You are using jdk8 and jdk11, then you need to configure multiple jdk in java.configuration.runtimes to choose the java plug-in

E.g

[code]

[2021-08-22 00:13] snjeza commented on #2081
You can try jstack:
- [jstack](https://docs.oracle.com/javase/8/docs/technotes/tools/windows/jstack.html)
- [Generate a Java thread dump on Microsoft Windows](https://access.redhat.com/solutions/19170)

[2021-08-22 00:22] mozhuanzuojing commented on #2081
Thanks @snjeza .
I try to intercept the thread returned by the java language server blocking.

[2021-08-22 00:32] mozhuanzuojing commented on #2080
gradle configure sourceCompatibility recommend

[code]

[2021-08-22 01:21] mozhuanzuojing commented on #2071
@snjeza

1. Clean Java Language Server Workspace

2. 【0.82.2】First compilation. Time consuming：6min 35s
[java-0.82.2-first-build.log](https://github.com/redhat-developer/vscode-java/files/7026411/java-0.82.2-first-build.log)

3. 【0.82.2】Second compilation. Time consuming：20s
[java-0.82.2-second-build.log](https://github.com/redhat-developer/vscode-java/files/7026412/java-0.82.2-second-build.log)

[2021-08-22 01:58] snjeza commented on #2071
@mozhuanzuojing You have found the regression of https://github.com/eclipse/eclipse.jdt.ls/issues/451 Thank you!
I'm preparing a PR.

[2021-08-22 02:05] snjeza commented on #2071
@v-yuyul @itsmaheshkariya @Moses-Everlytic @xiaomaimuchanyiyiba @rgrunber could you, please, check #2020 with https://github.com/snjeza/vscode-test/raw/master/java-0.82.2.vsix

[2021-08-22 06:49] jdneo commented on #1006
I see, but thanks for the information anyway :)

[2021-08-22 07:01] hanct commented on #1795
Hi,
I have done it long time back, clearing everything, including the one u mentioned,but still no avail.
As snjeza mentioned, this is due to upstream buildship issue.  If that is the case, no use do all these cleaning until the buildship issue is resolved.

[2021-08-22 08:19] mozhuanzuojing commented on #2081
@snjeza I organized a brief log and added notes to the log.

[pause.log](https://github.com/redhat-developer/vscode-java/files/7026787/pause.log)

[2021-08-22 13:06] aironsg commented on #956
Thanks, you have no idea how this solved my problems.

[2021-08-22 14:31] mozhuanzuojing commented on #2081
@snjeza

[java Languge Server Blocking thread.log](https://github.com/redhat-developer/vscode-java/files/7027535/java.Languge.Server.Blocking.thread.log)

[java Languge Server Blocking thread 2.log](https://github.com/redhat-developer/vscode-java/files/7027536/java.Languge.Server.Blocking.thread.2.log)

[2021-08-23 02:02] mozhuanzuojing commented on #2081
@snjeza  This issue is about to be closed because it did not reappear on version 0.82.2

- ## The following only records the thread status of version 0.82.2

1. [jstack Gradle Deamon JVM begin before.log](https://github.com/redhat-developer/vscode-java/files/7028667/jstack.Gradle.Deamon.JVM.begin.before.log)
2. [jstack Gradle Deamon JVM begin after 5 seconds.log](https://github.com/redhat-develope

[2021-08-23 20:17] snjeza commented on #2081
I think some of your extensions have been updated, probably, Test Runner for Java - vscjava.vscode-java-test.
Could you try to disable Eclipse PDE support - yaozheng.vscode-pde?

[2021-08-23 21:08] rgrunber commented on #2071
I've tried your vsix with spring-rest-client-examples and the project import completes as expected.

[2021-08-23 21:21] snjeza commented on #2071
@rgrunber Great!. I have created the PR - https://github.com/eclipse/eclipse.jdt.ls/pull/1853
Could you check https://github.com/eclipse/eclipse.jdt.ls/issues/451

[2021-08-23 22:51] #2071 closed

[2021-08-24 08:52] mozhuanzuojing commented on #2081
@snjeza  Today I disabled yaozheng.vscode-pde, and I still have the same problem.

# I think the main problem is the following lines of log. The main reason for the blocking is the recompilation of Gradle.

- At present, I also found a related situation: the first time the Gradle plugin is opened or a Gradle task is executed after a period of time, it will start a new Gradle Deamon JVM, and then r

[2021-08-24 19:43] snjeza commented on #2081
@mozhuanzuojing Could you set the following properties:

[code]

disable the Visual Studio IntelliCode extension and send your JDT LS log (blockExecuteCommand.log)?

[2021-08-24 21:55] Khoa-NT commented on #148
Go to settings > Text Editor > Code Lens
Uncheck it

[2021-08-25 01:13] mozhuanzuojing commented on #2081
@snjeza This morning's log 08:44 ~ 08:52

[code]

[2021-08-25T08：44 ~ 08：52.log](https://github.com/redhat-developer/vscode-java/files/7042913/2021-08-25T08.44.08.52.log)

[2021-08-25 01:48] mozhuanzuojing commented on #2081
@snjeza please help me:
 The refresh operation of the vscode-gradle plugin will call the refresh project interface of the vscode-java plugin. Can this call be changed to let the user confirm whether to refresh, because the project does not need to be refreshed at all. It takes about 10 minutes to wait for each unnecessary refresh. I am very very very angry about this behavior! Makes my mood partic

[2021-08-25 02:24] snjeza commented on #2081
@mozhuanzuojing could you try disabling all other Java related extensions, leave only the Language Support for Java(TM) by Red Hat?

[2021-08-25 02:57] snjeza commented on #2081
[Info  - 上午9:19:09] 2021年8月25日上午9:19:09 Updated am in 202992 ms

The Gradle update is called in the following cases:

- you run the Update project from the build.gradle file
- build.gradle or gradle.properties has been changed  (an external program or another extension can do it)
- a gradle preferences in settings.json has been changed
- .classpath has been deleted

You can try to set the followin

[2021-08-25 03:00] snjeza commented on #2081
us? :)

[2021-08-25 03:48] #632 closed

[2021-08-25 05:22] mozhuanzuojing commented on #2081
Okay, I use spring-boot for testing today

[2021-08-25 05:29] mozhuanzuojing commented on #2081
I checked all files and configurations and there are no traces of changes. And also did not run `Update project command`
Includes `settings.json` `.classpath` `build.gradle` `gradle.properties`

[2021-08-25 05:29] mozhuanzuojing commented on #2081
i will try it

[2021-08-25 07:30] mozhuanzuojing commented on #2081
Are you a team? Haha

[2021-08-25 12:28] rileyg98 opened #2084 "Removing the JRE System Library from Classpath"
I'm unable to find a way to remove the JRE System Library from the project classpath.

Eclipse has generally had the ability to remove the System Library from classpath.
##### Environment
- Operating System: Windows 11 Beta (had issues on 10 as well)
- JDK version: 8 and 11 - both unable to remove
- Visual Studio Code version: 1.59.1
- Java extension version: v0.81.0

##### Steps To Reproduce
1. O

[2021-08-26 10:13] mozhuanzuojing opened #2086 "View the method list of the class, the return value type of the method is incorrect"
View the method list of the class, the return value type of the method is incorrect

##### Environment
- Operating System:window 10
- JDK version:16
- Visual Studio Code version:1.60
- Java extension version:0.82.2

##### Steps To Reproduce
1. Open a java file
2. Ctrl + O to open documentSymbol
3. Open Outline

![image](https://user-images.githubusercontent.com/63572041/130944686-eb8fad2d-f6c3-4d6

[2021-08-26 12:09] #2086 closed, assigned to nobody

[2021-08-27 16:34] snjeza opened #2088 "Java LS sometimes hangs while loading a gradle project"
Steps To Reproduce:

1. git clone https://github.com/mac-comp127/welcome-app.git
2. cd welcome-app.git
3. code .
Wait for VS Code to build the project.
4. exit VS Code
5. code .

If you repeat steps 4 and 5 a few times, VS Code will hang.

- Operating System: All
- JDK version: 16.0.1
- Visual Studio Code version: 1.59.1
- Java extension version: 0.81.0

[2021-08-28 16:46] biom4st3r opened #2089 "instanceof pattern inside lambda causes issues."
Using instanceof pattern inside of lambdas break multiple features. Examples:
* hovering over elements stops showing the signature
* Renaming from inside the method with the pattern pops an internal error (https://pastebin.com/iTZDjVq0)
* Attempting to Go To Definition of a field or method doesn't work inside the method with the pattern
* Sometime intellisense stops suggesting things

##### Enviro

[2021-08-29 06:46] 0x416c69 commented on #634
There's a .project for me popping up on 4 different directories in a mixed C++/Java project directory. (They're not in the same folder but in the same parent folder)

I've already disabled the "Autobuild"

I think an option which says "Don't fuck with my workspace in any way or form" would be very neat cuz I would enable it.

[2021-08-29 16:37] snjeza commented on #1971
Steps to reproduce:

- set VS Code preferences
[code]
- git clone https://github.com/mac-comp127/welcome-app.git
- cd welcome-app
- code .
- run Java: Clean Java Language Server Workspace

It is always reproducible.

[2021-08-29 16:39] snjeza commented on #1971
@fbricon @rgrunber @Artur- @pcantrell Could you try to reproduce the issue using https://github.com/snjeza/vscode-test/raw/master/java-0.82.3.vsix

[2021-08-29 16:49] snjeza commented on #2088
@fbricon @rgrunber @Artur- @pcantrell Could you try to reproduce the issue using https://github.com/snjeza/vscode-test/raw/master/java-0.82.3.vsix

[2021-08-29 18:03] fbricon commented on #1971
@snjeza that works for me

[2021-08-29 18:21] snjeza commented on #1971
@fbricon Thanks. I will try to create a PR with a test.

[2021-08-31 10:22] Perksey commented on #280
Hitting this as well. In my case:
- the entire gradle workspace contains 3 projects
- two of which are configured in a root gradle file
- one of which is configured in a separate gradle file
- project `c` depends on both projects `a` and `b`
- project `b` depends on project `a`
- project `b` is not present in "Java Projects", the others have loaded but have compile errors

[2021-08-31 13:51] levrik commented on #1607
I'm having the same issue but during debugging. That's handled by another extension, right?

[2021-08-31 19:45] brunoborges commented on #112
@fbricon @akaroml it seems this error is constant now. Just tried to open a Java project on WSL and got the same issue. The logs indicate this is the root cause:

[code]

[2021-08-31 21:07] BeefaloKing commented on #2088
I get this exact issue using JDK version 16.0.2. I noticed deleting the generated ".project" file in the project root temporarily fixes this, but repeating 4&5 above cause the issue to happen again.

[2021-08-31 21:15] brunoborges opened #2090 "Go To Definition (right-click menu) not working"
When on a Java class, the right-click pop-up menu actions "Go to Definition" or "Go to Type Definition" are not working.

In contrast, hitting `Ctrl + T` and typing `#String` correctly opens the definition (source) of `java.lang.String`.

[2021-08-31 21:36] brunoborges commented on #1248
Facing issue too with the microsoft/gctoolkit project (multi-module, and each has its own module-info.java).

[2021-08-31 22:34] fbricon commented on #112
@brunoborges the gabrielbb.vscode-lombok-1.0.1 changes the java.jdt.ls.vmargs value and sets the path to the lombok agent. Either remove it and disable the extension, or install the same extension both locally and on your remote instance

[2021-08-31 22:38] fbricon commented on #2090
Works for me. Please provide additional details, like the project topology, java language server logs (from command palette)

[2021-08-31 23:10] brunoborges commented on #112
Confirming this was the.issue. thanks!

I think this issue and other similar can be closed.

[2021-08-31 23:10] brunoborges commented on #2090
Project: HTTPS://GitHub.com/Microsoft/gctoolkit

[2021-09-01 00:50] snjeza commented on #2090
Related bug: https://bugs.eclipse.org/bugs/show_bug.cgi?id=520667

[2021-09-01 02:48] infinity-plus commented on #1736
Have you tried putting:
`"java.format.enabled": true`
in your Settings JSON?
Worked for me

[2021-09-01 09:57] zill057 opened #2091 "reset "Don't ask again" config when refactoring class"
Once I clicked "Don't ask again", I can not configure if asking me before refactoring anymore.

<img width="372" alt="ScreenShot" src="https://user-images.githubusercontent.com/19730264/131650125-23feae86-1a32-4636-8dc8-7c0a58637312.png">

When I moved class file into different package, I checked "Don't ask again",  I don't know how to reset this option. It doesn't show in my vscode config file.

[2021-09-01 10:14] testforstephen commented on #2091
This dialog is provided by VS Code, you have to open an issue there for this.

A quick search in VS Code repo, there is a duplicate issue for this. https://github.com/microsoft/vscode/issues/24815. But this issue is locked, maybe we should open a new issue to restate the problem.

[2021-09-01 13:36] rgrunber commented on #1959
Relevant : https://github.com/microsoft/vscode-languageserver-node/issues/688

[2021-09-01 14:49] zill057 commented on #2091
Thanks @testforstephen

[2021-09-01 14:49] #2091 closed

[2021-09-02 08:49] jdneo commented on #2084
Currently there is no user interface to achieve that. But you can try to open the `.classpath` file, and then remove `<classpathentry kind="con" path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-XX">`

[2021-09-02 09:25] gynr commented on #998
+1

[2021-09-02 09:37] fbricon commented on #998
You can try these eclipse format preferences based on IntelliJ's, from https://stackoverflow.com/a/50557087/753170, by a using this setting in your settings.json :

[2021-09-02 15:13] c4tachan opened #2092 "No Java Projects Appearing For Gradlew Using Gradle 2.10"
[provide a description of the issue]

##### Environment
- Operating System: Windows 10
- JDK version: OpenJDK 11
- Visual Studio Code version: 1.59.1
- Java extension version: 0.81.0

##### Steps To Reproduce
1. Open a Workspace containing Gradle Projects (gradlew is using gradle 2.10, could this be the issue?)
2. Wait for the Java extension to finish looking for projects.
3. Observe that no proje

[2021-09-02 15:29] fbricon commented on #2092
Sorry but 2.10 is not supported. vscode-java requires Java 11 at minimum to run. You need Gradle >= 4.7 so it can run with Java 11.

[2021-09-02 15:58] c4tachan commented on #2092
vscode-java is running Java 11, but gradlew is using Java 1.8, does that still affect the system?

[2021-09-02 16:26] fbricon commented on #2092
Yes, because the Java language server running Java 11 is spawning the Gradle daemon from the same JVM, so it actually doesn't use 1.8 from CLI Gradle.

[2021-09-02 16:30] c4tachan commented on #2092
Forgive me if I'm beating a dead horse here, but how is it spawning a Gradle Daemon with Java 11's JVM if I don't have any global Gradle installations? (I'm only using the gradlew provided by the repo I'm working on)

Also, is there something in the logs that I overlooked that would have informed me of the Java Version mismatch?

[2021-09-02 17:00] Eskibear commented on #2044
I can reproduce it with both TS and Java. By a quick glance, the response is correctly following LSP, so it's probably VS Code's strategy of rendering items. I don't think break the spec is our best choice if we could fix that in vscode.

Below is a simple TS sample. I think the response is correct, and a better behavior would be:
- list two items for `bar2()`, representing both calls of `foo()`
-

[2021-09-02 17:27] fbricon commented on #2092
It's running a Gradle daemon according to your wrapper properties, so 2.1. The gradle exception just says it couldn't start, but doesn't explicitly say it's because of an incompatible JVM (that's on Gradle itself, not the tools running it).
Maybe Buildship (the Gradle integration project for Eclipse, that we build upon) could add another layer of validation before failing to run gradle, but you'd

[2021-09-02 17:45] rgrunber commented on #2044
Also, would be interesting to know why `Peek -> Call Hierarchy` does exactly the expected behaviour (show the caller/callee methods in the tree view but takes you to the fromRanges rather than the selectionRange). Seems like they should behave the same way.

As for the change, I would be fine with merging as long as we get a better idea as to whether this is a bug or intended. Also, we'd have to k

[2021-09-02 21:25] tigerinus opened #2093 "Java Model Exception: Java Model Status [<parent POM project name here> does not exist]"
[provide a description of the issue]

##### Environment
- JDK version: GraalVM-8 for project, GraalVM-11 for JDT extension.
- Java Language Server extension version: 0.81.0
- Extension Pack for Java version: 0.18.4
- Visual Studio Code version:

[code]

- This is running on a SSH remote environment - not sure if it happens locally or not since we don't have such setup.
- Remote OS: Oracle Linux 8.

[2021-09-03 00:26] Eskibear commented on #2044
I'm fine with merging the change in jdtls as a workaround for the moment. And I would suggest to leave this issue open and refer it in code changes for better clarity.

[2021-09-03 03:44] Eskibear commented on #2093
I've seen similar error, usually related to parent projects without any java files. It's possible that we didn't cover the case well, but at a first glance I don't obvious connection with the action "jump to definition".

	at org.eclipse.jdt.ls.core.internal.JDTDelegateCommandHandler.executeCommand(JDTDelegateCommandHandler.java:78)

looks like it's called by below delegate command `java.project.g

[2021-09-03 06:03] testforstephen commented on #2093
@tigerinus Would you share the entire server log?

**F1 -> Java: Open Java Language Server Log File**

Also it helps if you could share .project/.classpath files, which is in the same directory as your pom.xml.

[2021-09-03 07:52] jdneo commented on #2093
@jdneo can you take a look where do you call this command, and does it handle parent pom project (possibly without java nature) well?

Looks like these are two different problems. The error `Java Model Status [parent-example does not exist]` will be fixed by https://github.com/eclipse/eclipse.jdt.ls/pull/1865. While It might not be relevant with the GTD not working issue.

[2021-09-03 10:07] HerrDerb commented on #1639
Sadly it does not even work with the  `build-helper-maven-plugin` plugin. VSC refuses to see the generated sources.

[2021-09-03 11:19] tigerinus commented on #2093
How can I share it in a confidential way? Sharing company server log in public is against our policy.

[2021-09-03 12:52] vincenzocorso opened #2095 "Gradle project is not recognized"
I've created a gradle multi-project, but is not recognized and the auto completion doesn't work.
I have installed `Extension pack for Java` and `Gradle extension pack`.
I have gradle 7.0.2 installed and the latest version of vs code.

<img src="https://i.imgur.com/1Qrdfgs.png"></img>

##### Environment
- Operating System: Ubuntu 21.04
- JDK version: 11.0.11
- Visual Studio Code version: 1.60.0
- J

[2021-09-03 14:09] fbricon commented on #2095
anything in the logs (try command `Java: Open All Log Files)`?
can you share your project?

[2021-09-03 14:58] vincenzocorso commented on #2095
My project: [quarkus-playground.zip](https://github.com/redhat-developer/vscode-java/files/7106732/quarkus-playground.zip)
I created a root project using `gradle init` and then I created a Quarkus subproject called `task-service` (I have updated `settings.gradle` to include it).

[2021-09-03 15:04] vincenzocorso commented on #2095
Logs seems fine
[log.txt](https://github.com/redhat-developer/vscode-java/files/7106826/log.txt)
[client_log.txt](https://github.com/redhat-developer/vscode-java/files/7106829/client_log.txt)

[2021-09-03 15:21] snjeza commented on #2095
I can't reproduce the issue.
@vincenzocorso Could you show your settings.json?

[2021-09-03 15:24] fbricon commented on #2095
Works for me too. Did you create task-service after opening quarkus-playground in vscode?
Can you try the "Import Java projects into Workspace" command? If that doesn't work try "Clean Java Language Server workspace"

[2021-09-03 16:04] vincenzocorso commented on #2095
Yes, I've created `task-service` after opening `quarkus-playground`.

I tried `Java: Clean Java Language Server workspace` as you have suggested and it worked. Thanks 👍

[2021-09-03 16:23] fvclaus commented on #2063
I looked into this a little bit and changed the language server to not return completions inside functions and constructors. This does not work in most cases, because vscode will only call `document/completion` under certain circumstances. If you type `ArrayL` and ask for completion, vscode will only ask the language server once and filter the `CompletionItems` as the user types.

![arraylist_comp

[2021-09-04 02:21] mozhuanzuojing opened #2096 "`Go to References` Find the wrong package name"
When I use the Go to Reference command, the feedback result is not correct. Only the class name is the same, the package name is not the selected package name

##### Environment
- Operating System: windows10 21H1
- JDK version: 16
- Visual Studio Code version: 1.60
- Java extension version: 0.81.0

##### Steps To Reproduce
1. Open a class `javax.annotation.processing.Processor`
2. Run `Go to Refer

[2021-09-04 09:59] Delice0 commented on #819
This worked for me! Thanks.

[2021-09-04 10:59] #2095 closed

[2021-09-04 15:06] snjeza commented on #2096
@mozhuanzuojing could you attach a project example?

[2021-09-05 02:07] zhouxinghong opened #2097 "Signature Help sometimes doesn't work on constructors and qualified method declarations"
Issue Type: <b>Bug</b>

In the process of editing Java code, the method parameter prompt is abnormal, and the method parameter information cannot be correctly prompted.
In some cases, the method parameter information cannot be prompted, which is very frustrating. . .
For a demo, please see the attached...

Extension version: 0.81.0
VS Code version: Code - Insiders 1.60.0-insider (e7d7e9a9348e6a8cc

[2021-09-05 03:04] zhouxinghong commented on #2097
https://user-images.githubusercontent.com/54253524/132113483-7910e7db-260e-44a7-9d76-b5777f2925c9.mp4

[2021-09-05 18:28] 1mdc opened #2098 "Next line cursor when we have multiple line statement is not acting correctly."
At the end of a statement (i.e. ends with ";") the new cursor does not go to the beginning of the line but align with the previous line. I attached a screenshot to demonstrate the issue.

<img width="1029" alt="Screenshot 2021-09-05 at 19 20 03" src="https://user-images.githubusercontent.com/5703525/132137375-6b12eb5b-9a72-4954-bb0c-d6a32a35cad6.png">

When I "enter" to go the the next line, the n

[2021-09-06 00:37] ericsia commented on #1597
They broke the offset again like 3 updates ago. At first I thought it was the workspace request permission fault.
Anyway, because I got auto-indentation On when I click save, now each time when I hit debug my code got messed up. Worst is I can't CTRL + Z to revert it back, if I do the old code get pasted somewhere else. Omg this is a very serious issue @fbricon @0dinD

[2021-09-06 01:34] testforstephen commented on #2097
Your video is broken, i just saw a blank screen there.

[2021-09-06 03:00] Eskibear opened #2099 "support inlay hints"
It's available in IntelliJ IDEA,
https://www.jetbrains.com/help/idea/inlay-hints.html

Supported in TS/JS since vscode v1.60
![image](https://user-images.githubusercontent.com/2351748/132154259-4d47251d-3945-4fec-9ca7-3c8715d150de.png)
See: https://code.visualstudio.com/updates/v1_60#_inlay-hints-for-javascript-and-typescript

Proposed API in VS Code:
https://github.com/microsoft/vscode/blob/99722

[2021-09-06 03:54] zhouxinghong commented on #2097
Please download and watch again. . .

[2021-09-06 13:33] jcolladosp commented on #1626
Hi guys, do you know if there's any update on this?
Thanks

[2021-09-06 19:00] 0dinD commented on #1597
@ericsia Right, so you have format-on-save, that does seem likely to offset the semantic tokens based on my findings. Starting the debugger is likely also a contributing factor, as that may increase response times from the language server, which increases the likelihood of the semantic tokens becoming offset.

Not sure what you mean here, can't you just undo and then redo? (`Ctrl` + `Z` then `Ctrl

[2021-09-07 02:17] MxBlu opened #2101 "java.import.exclusions being ignored for Eclipse projects on startup"
I've tried to ignore a project in a workspace with multiple Eclipse projects but I have been unsuccessful. This did work in the past for me, but at some point, it stopped working again.

My settings.json config for excluding in repro repo:
[code]

##### Environment
- Operating System: macOS Catalina 10.15.7
- JDK version: Language server JDK: openjdk version "13.0.2" 2020-01-14 | Runtime JDK: open

[2021-09-07 04:39] #1965 closed

[2021-09-07 07:46] testforstephen commented on #2093
The "Java Model Exception" has been fixed by PR https://github.com/eclipse/eclipse.jdt.ls/pull/1865. It will be included in next version of vscode-java extension. You can also try [the CI build](https://download.jboss.org/jbosstools/jdt.ls/staging/java-0.82.0-355.vsix) to verify it. If Go-To-Definition issue still persists, we need more information to find the root cause.

[2021-09-07 09:13] 0dinD commented on #1597
Owh btw, I am using this profile due to school asked us to line up braces since this plugin doesn't have option to line up braces plus the default switch-case indentation is weird.
Not sure if this is the cause.

Is the issue you're talking about related to the code being formatted wrong, or the syntax highlighting (semantic tokens) being wrong? Could you please share some screenshots showing the

[2021-09-07 09:54] ericsia commented on #1597
code being formatted wrong, I always turn off semantic highlight.
I can't reproduce it now atm, if I met it again I'll snapshot it

[2021-09-07 23:32] 0dinD commented on #1597
If what you've been talking about is a bug with the formatter rather than syntax highlighting, please report that in a new issue (after searching for an existing one). This issue tracks the bug where semantic tokens sometimes got offset during multiple edits, causing strange syntax highlighting artifacts as shown in your initial screenshot.

[2021-09-08 01:44] #2096 closed

[2021-09-08 08:07] Eskibear commented on #2063
For the issue that candidate list remains open, I can think of several solutions:

#### filterText

	 * A string that should be used when filtering a set of
	 * completion items. When `falsy` the label is used as the
	 * filter text for this item.
	 */
	filterText?: string;

Set a proper `filterText` can possibly work. E.g. `label` is "substring(int index)" and `filterText` is "substring".

#### c

[2021-09-08 10:39] #1999 closed

[2021-09-08 10:49] fbricon commented on #1629
Closing as this is caused by the upstream textmate grammar and it works properly with semantic highlighting enabled (which is now the default)

[2021-09-08 10:49] #1629 closed

[2021-09-08 10:54] testforstephen commented on #1840
This duplicates with the upstream issue https://github.com/microsoft/vscode/issues/132637

It happens when you use the shortcut key to trigger "Organize imports", VS Code will run it, but meanwhile display the menu "Organize imports" in the bulb again. When you click on the menu in the bulbs, it throws error. This can also reproduce with other language such as typescript. It's an upstream VS Code

[2021-09-08 12:22] fbricon commented on #2101
Looks like that should work:
[code]

`**/project1/**` failing is a bug.

[2021-09-08 14:26] WiedemannD commented on #937
+1 bump. Same here. A bit annoying sadly.

[2021-09-08 16:33] Eskibear commented on #937
I'm looking into completion issues in JDT language server recently. I tried above steps (provided by @Palidino @timgott @Mihai-MCW ), but failed to reproduce. See below:

https://user-images.githubusercontent.com/2351748/132548663-829fd5f3-d3f9-4614-a230-f17e2a137694.mp4

(I notice serveral thumbups on the `"java.completion.overwrite": false` solution, but I'm not sure if it's related. If anyone w

[2021-09-09 07:01] nickzhums commented on #2057
@CsCherrYY for getters/setters, besides field declaration, let's add one for class-level too for batch generation. Eg. a class has 5 fields, click on lightbulb to generate setters/getters all at once

[2021-09-09 11:48] ericsia commented on #1597
I just reproduced it. Apparently it can undo but now I can't save it.
This happens when I start typing code for long time.
![semantic token](https://user-images.githubusercontent.com/24624808/132680386-b4489cfa-4643-49ce-a2ff-aea210a89d91.gif)

[2021-09-09 13:11] fbricon commented on #1313
Closing, according to https://bugs.eclipse.org/bugs/show_bug.cgi?id=533592#c2:

[2021-09-09 13:11] #1313 closed

[2021-09-09 13:21] Eskibear commented on #1597
@ericsia It looks more like a formating issue. Have you turned on "formatOnSave"? I suggest you to do following to get help:
* Create a new issue talking about this issue, including the GIF above. If possible, attach a sample project and describe how to reproduce it.
* Check if vscode setting "Format On Save" is turned on . If so, check if it works after turning it off.
![image](https://user-image

[2021-09-09 19:11] ericsia commented on #1597
the thing is I need the format on save thought that is why I turn it on

[2021-09-09 19:20] ericsia opened #2103 "Formatter causing some lines get erased"
removed

[2021-09-09 21:27] #2044 closed

[2021-09-09 21:42] DreamFulFil opened #2104 "[Feature Request] Method Signature Refactoring"
All prevalent IDEs such as Eclipse, IntelliJ, Netbeans provides a way to refactor method signatures.
It would be nice to have such a feature implemented in VSCode since the methods are usually spread across the entire project,  and currently no such refactoring actions are supported(checked the documentation and opened/closed issues).
Visual Studio seems to have such an existing [feature](https://

[2021-09-10 00:09] zhouxinghong commented on #2097
https://user-images.githubusercontent.com/54253524/132778284-ad5f5738-931d-49d8-93bc-f09ed5362c34.mp4

[2021-09-10 01:31] testforstephen commented on #2097
i couldn't open this video in macOS, but i finally saw your video on a Windows machine.

Your issue is about signatureHelp feature. I reproduced it using [eclipse.jdt.ls source code](https://github.com/eclipse/eclipse.jdt.ls/blob/master/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/BaseJDTLanguageServer.java#L50) itself.

Move the cursor over the sendStatus method and then trigger t

[2021-09-10 03:00] rgrunber commented on #2104
It should be possible, but the ricky part is creating a UI around it. We could probably have a look at https://git.eclipse.org/c/jdt/eclipse.jdt.ui.git/tree/org.eclipse.jdt.ui/ui%20refactoring/org/eclipse/jdt/internal/ui/refactoring/ChangeSignatureWizard.java as a start point.

[2021-09-10 03:01] nickzhums opened #2105 "When selecting Main function from IntelliSense, it should overwrite the existing modifier instead of concatenating"
In a Java file, when you type public static void, "Main" suggestion will pop up.

When you pick "Main" from the suggestion, current code completion logic does not detect the existing modifier, instead the code will become

   **public static void public static void main(String[] args) {**

instead of

   **public static void main(String[] args) {**

Causing confusion - As we have a lot of students

[2021-09-10 14:22] rgrunber commented on #2099
It's also supported in Eclipse since 4.12 (2019-06) https://www.eclipse.org/eclipse/news/4.12/jdt.php#parameter-name-codemining.

https://git.eclipse.org/c/gerrit/jdt/eclipse.jdt.ui.git/tree/org.eclipse.jdt.ui/ui/org/eclipse/jdt/internal/ui/javaeditor/codemining/CalleeJavaMethodParameterVisitor.java

I don't think we can use the class since it's in UI and ICodeMining is tied to some UI rendering e

[2021-09-10 23:53] JoseLion commented on #1034
@snjeza @fbricon this seems to be solved now! I think this can be closed, at least from my side 🙂

[2021-09-11 03:21] #2103 closed

[2021-09-11 03:22] ericsia opened #2107 "Bug: Formatter causing some lines get erased"
I love to use VSC Java plugin but I had so much pain working with java now.
The reason I like vscode now only for the ui but this plugin is very customisable like a way to line up curly bracket.
Now the "Format Document" is glitchy, it somehow erased some part of the code when I indent it.
I'm not sure if it's related to any tokens because when this happens, if I didn't remember wrongly, it caused

[2021-09-11 06:04] zhouxinghong commented on #2097
https://user-images.githubusercontent.com/54253524/132938043-a211f3c4-2455-444e-aad3-0e044390b634.mp4
Thank you!

[2021-09-11 06:09] zhouxinghong commented on #2097
After triggering the method parameter prompt shortcut key on some methods, the method has no response. . .

[2021-09-12 02:53] aderchox commented on #542
I have encountered a similar problem. Not quite sure if my issue is the same, but after doing `mvn compile exec:java` mentioned in the [Shiro's tutorial](https://shiro.apache.org/10-minute-tutorial.html) on shiro-1.8.0, I get this same error message at the top of the class "org.apache.shiro.config.IniSecurityManagerFactory" (i.e.: //Failed to get sources. Instead, stub sources have been generated

[2021-09-13 05:32] MxBlu commented on #2101
Oh good find, thanks. I'll try to use that as a work-around for my needs.

[2021-09-13 09:23] llgcode commented on #1827
Hi,
How to reference an absolute file path?
Not seems to work

[code]

[2021-09-13 18:00] snjeza commented on #1827
@llgcode Could you try

[code]

[2021-09-13 21:24] rgrunber commented on #2088
I believe I've run into this. Haven't tried the .vsix yet but I will :

My logs showed :

[code]

[2021-09-14 01:28] mozhuanzuojing opened #2108 "After waiting for one night, it takes about 1 minute to hover on the class for the first time"
When I work every morning, I open a java file for the first time, place the mouse on a certain class, and wait for about 1 minutes before there is feedback. I used jProfiler to record the CPU activity graph of jdt.ls, help to see if it is the problem? I'm not sure if this is an issue.
##### Environment
- Operating System: windows10 21H1
- JDK version:16
- Visual Studio Code version:1.60
- Java ext

[2021-09-14 04:05] testforstephen commented on #1840
The upstream issue has been fixed, it will be released in next VS Code version. With the latest fix, no more bulbs show up when you click  shortcut to trigger "Organize imports". This makes sense because the shortcut has already organized the imports of current file.

[2021-09-14 04:05] #1840 closed

[2021-09-14 08:07] llgcode commented on #1827
Hi @snjeza
it seems to load now, not error message in Java output console.
But I'm still not sure my profile (may be too old):

[code]

When formatting, the code is splitted after 100 chars

Thank you for your help

[2021-09-14 13:06] testforstephen opened #2109 "Support platform specific extension"
See https://github.com/microsoft/vscode/issues/23251#issuecomment-918989339, VS Code Marketplace now allows extensions to publish different VSIXs for each platform (Windows, Linux, macOS). We might consider taking advantage of this by packaging a platform-specific Java runtime in the extension itself.

This document has all the details:
https://code.visualstudio.com/api/working-with-extensions/pub

[2021-09-14 16:54] Artur- opened #2110 "Limit what you write to workspaceStorage"
My ~/Library/Application Support/Code/User/workspaceStorage folder is 95GB
Pretty much all of this comes from the content of `redhat.java` folders

There are 802 such folders inside `workspaceStorage/*`

The biggest folder contains 6.7GB stuff. That contains 64505 files named `client.log.2021-08-17.<number>` with apparently some trace logging. Not sure if I at one point tried to debug something an

[2021-09-14 17:11] fbricon commented on #185
@rgrunber https://twitter.com/artursignell/status/1437817323574943748 reminded me of this issue. We should prioritize this work in the coming sprints

[2021-09-14 17:16] fbricon commented on #2110
This relates to #185. We might share some JDT indexes between workspaces, but not sure about the m2e stuff.
The log file proliferation is another (definitely bad) issue, that needs to be fixed too.

You can safely delete old folders from workspaceStorage/ to save space.

[2021-09-14 20:16] rgrunber commented on #2110
Most of these would likely be the index file for the Java class libraries. On my example, each one is ~50MB in every workspace and identical (checksum) assuming the exact same runtime is used.

There's support for a shared pre-configured location, but as far as I remember, JDT doesn't have any locking mechanism, so no support for multiple language server instances writing to the same location.

We

[2021-09-14 20:36] rgrunber commented on #2108
Is there any indication that the project is being loaded/built when you do this ? The javadoc hover is dependent on the project build completing, so generally when one tries to hover over some type while that happens you would probably see some smaller "loading" popup until the project has finished loading.

However, if the project is already loaded, with the VSCode editor simply staying open the

[2021-09-15 01:50] mozhuanzuojing commented on #2108
@rgrunber  the project is already loaded, with the VSCode editor simply staying open the whole time, there is no compiling and building.   If it is a particularly small project, there are only a few java files. There will be no waiting.
I also found that as long as my mouse pointer is placed in VSCode, no matter whether the java file is opened or not. Will trigger org.eclipse.jdt.ls.core.internal.

[2021-09-15 01:58] mozhuanzuojing opened #2111 "VS Code adds or removes a folder (non-java project), triggering a rebuild of the workspace."
The compiled Java project already exists in VS Code. Then I added a folder to the workspace, and I saw that the Java project started to recompile.

##### Environment
- Operating System: window10 21H1
- JDK version:16
- Visual Studio Code version: 1.60
- Java extension version: 0.81.0

##### Steps To Reproduce
1. In the VS Code workspace, open a Java project and wait for the compilation to complete

[2021-09-15 03:15] snjeza commented on #2111
I can't reproduce the issue.
@mozhuanzuojing Do you add a folder to the source directory? Could you provide an example?

[2021-09-15 05:04] mozhuanzuojing commented on #2111
@snjeza  This problem happened by accident, and now I close it first.

[2021-09-15 05:04] #2111 closed

[2021-09-15 15:57] #2088 closed

[2021-09-15 15:59] rgrunber commented on #2088
Only additional thing I would maybe investigate is whether we could achieve the same thing with setting autoStart=true and startLevel=0 like in https://github.com/eclipse/eclipse.jdt.ls/blob/master/org.eclipse.jdt.ls.product/languageServer.product#L75 .

[2021-09-15 16:10] snjeza commented on #2088
@rgrunber See
 https://github.com/eclipse/eclipse.jdt.ls/pull/1874/commits/7a53bbb41833f03187c754b34c3de97b62f5cb34#diff-a66ce976d16a16e66f00ca6bd926089df91767ebc6d61c8c121504e5651272b4R228
and
https://github.com/eclipse/eclipse.jdt.ls/pull/1874/commits/7a53bbb41833f03187c754b34c3de97b62f5cb34#diff-a66ce976d16a16e66f00ca6bd926089df91767ebc6d61c8c121504e5651272b4R223

[2021-09-15 16:31] rgrunber commented on #2088
Right. We'd never be sure the jobs actually complete.

[2021-09-16 02:51] mozhuanzuojing commented on #2108
I also often encounter `loading` during the development process, and the workspace is not compiled. What I can see with Jprofiler is
`29.6%-69,487 ms org.eclipse.jdt.ls.core.internal.handlers.JDTLanguageServer.didChangeWatchedFiles`.
I will test with springboot later.

![image](https://user-images.githubusercontent.com/63572041/133541165-93b14b22-dc31-45b5-a3a8-ba7df108225f.png)

[2021-09-16 10:13] JJ1006 opened #2113 "Using VS Code same as Eclipse packages and classes"
![Screenshot (20)](https://user-images.githubusercontent.com/74872123/133594008-709bd038-6be3-4cb8-93f9-7d6f56ea2391.png)
![Screenshot (21)](https://user-images.githubusercontent.com/74872123/133594020-3b54fb57-7076-499e-8d92-e21d0d4ce80c.png)

[provide a description of the issue]
I am unable to use packages properly as it shows that a class is not able to get another even if it is public. While I

[2021-09-16 10:48] DachuanZhao commented on #1381
any processing ?

[2021-09-16 11:04] DachuanZhao opened #2114 "Java generates many folder in workspace"
Java generates many folder in workspace. How to set the output path ?

![1631790255(1)](https://user-images.githubusercontent.com/23434805/133601179-51df758a-6bd3-43df-baf5-0167e79ee7e4.png)

##### Environment
- Operating System: win10
- JDK version: openjdk11
- Visual Studio Code version: 1.60.1
- Java extension version: v0.18.4

[2021-09-16 12:35] fbricon commented on #2113
please attach a sample project reproducing this issue

[2021-09-16 13:28] JJ1006 commented on #2113
[videotutoriallecturetwentyseven.zip](https://github.com/redhat-developer/vscode-java/files/7178082/videotutoriallecturetwentyseven.zip)

[2021-09-16 13:40] fbricon commented on #2113
Works for me. I just opened the videotutoriallecturetwentyseven folder in VS Code.

<img width="1791" alt="Screenshot 2021-09-16 at 15 38 05" src="https://user-images.githubusercontent.com/148698/133622313-34f188ff-2713-4f77-9adf-cf8e9229f987.png">

Can you share your vscode settings.json?

[2021-09-16 13:48] JJ1006 commented on #2113
ohh...that is absolutely great. Please can you help me figure it out. Please find the code of settings.json below

{
  "C_Cpp_Runner.cCompilerPath": "C:\\Program Files (x86)\\mingw-w64\\i686-8.1.0-posix-dwarf-rt_v6-rev0\\mingw32\\bin\\gcc.exe",
  "C_Cpp_Runner.cppCompilerPath": "C:\\Program Files (x86)\\mingw-w64\\i686-8.1.0-posix-dwarf-rt_v6-rev0\\mingw32\\bin\\g++.exe",
  "C_Cpp_Runner.debuggerP

[2021-09-16 14:00] fbricon commented on #2113
I don't see anything that might interfere. Make sure you opened videotutoriallecturetwentyseven in code (see my screenshots), not videotutoriallecturetwentyseven/lecturetwentyseven.
If that was the case already, open the command palette and execute `Java: Clean Java language server workspace` command.
You should not see any warning on the 1st line (package ...), about file not being on the project

[2021-09-16 15:52] rgrunber commented on #2114
On first glance, that looks like a Maven project that has somehow set the local repository to be the project folder itself, and so when the project builds, it generates the groupId/artifactId/version folder structure of locally cached artifacts.

If you open the Settings page, does `java.configuration.maven.userSettings` or `java.configuration.maven.globalSettings` have any value for user/workspac

[2021-09-16 16:40] Nicryc opened #2115 "Define several runtimes for a same version of Java"
Is it possible to define several runtimes for a same version of Java in VSCode? I'd like to use the both the Hotspot and OpenJ9 JVM.

My `java.configuration.runtimes` setting in VSCode looks like this:

[code]

I also have other JVMs installed for each of these Java version on my machine. For example one of them is located here: `C:\Program Files\Semeru\jdk-8.0.302.8-openj9`.

##### Environment
-

[2021-09-16 17:35] JJ1006 commented on #2113
![Screenshot (23)](https://user-images.githubusercontent.com/74872123/133658518-dd245039-0ec3-402b-a4aa-737ad8dd2974.png)
I fixed the issue, it was the code runner extension that was letting java import files. Thank you so much for your kind support.

[2021-09-16 17:35] #2113 closed

[2021-09-16 21:24] sarahcpage commented on #1169
please fix this

[2021-09-17 01:14] mozhuanzuojing commented on #2108
@rgrunber I tested the spring-boot project and had the same problem. the first hover until jdt.ls return information, which lasted 3 minutes.
[code]

+ [settings.json.zip](https://github.com/redhat-developer/vscode-java/files/7181858/settings.json.zip)
+ [gradle.properties.zip](https://github.com/redhat-developer/vscode-java/files/7181861/gradle.properties.zip)

[2021-09-17 02:03] snjeza commented on #2108
@mozhuanzuojing

Could you try update the following gradle properties

[code]
to
[code]

[2021-09-17 04:00] DachuanZhao commented on #2114
Here is the setting file :
[code]
And I create a github repo [https://github.com/DachuanZhao/test_for_java](https://github.com/DachuanZhao/test_for_java)

[2021-09-17 06:12] testforstephen opened #2116 "Handle module projects with separate module-info.java for main and test sources"
Here is a Java 11 maven module project: https://github.com/microsoft/gctoolkit. The project is a multi-module maven project. One submodule is **"api"**, see its file structure as follows. It describes the module-info.java file in the main sources and the test sources respectively.

[code]

However, when opening this project in VS Code, it doesn't work. It reports a compile error: **"The project wa

[2021-09-17 09:06] hopskipnfall opened #2117 "AutoValue annotation processing bug when inheritance is involved"
I believe I found a bug related to [annotation processing](https://github.com/redhat-developer/vscode-java/wiki/Annotation-Processing-support-for-Maven-projects) (AutoValue).

Specifically, when there is a parent class of the `@AutoValue`-annotated class, the vscode-java generated code does not match the code generated by running `mvn compile`.

##### Environment
- Operating System: Mac and Window

[2021-09-17 12:40] snjeza commented on #2116
Related issue - https://github.com/redhat-developer/vscode-java/issues/2090#issuecomment-909767806

[2021-09-17 14:38] sguillia opened #2121 "Does not detect Maven sample project"
Hi!

This extension works out of the box on the [official JUnit5 samples](https://github.com/junit-team/junit5-samples), but only on Gradle projects.

![Capture du 2021-09-17 16-03-41](https://user-images.githubusercontent.com/15984272/133798354-53aa7d76-f3cc-4d5f-961b-66b8e0e44967.png)

##### Environment
- Operating System: `Linux 4.15.0-142-generic #146~16.04.1-Ubuntu`
- JDK version: `java --ver

[2021-09-17 14:41] mozhuanzuojing commented on #2108
#2081

[2021-09-17 14:53] mozhuanzuojing commented on #2108
@snjeza @rgrunber it's ok, Thank you all! Hope this configuration can be introduced to the top.
## This great change saves an average of more than an hour per day!

Finally confident to continue to study the gradle plugin.

[2021-09-17 15:22] fbricon commented on #2121
Works for me:
<img width="1417" alt="Screenshot 2021-09-17 at 17 16 41" src="https://user-images.githubusercontent.com/148698/133807286-60067aa3-e0a7-4c90-b935-3d88e9d8912c.png">

Projects not working are kotlin, groovy, as expected, and Bazel (there might be a bazel extension that make it works out there).

Can you:
- enable verbose logging ("java.trace.server"="verbose" in settings.json)
- execu

[2021-09-17 16:33] rgrunber commented on #2114
I've tried with the same same settings file + project, and am no able to reproduce this behaviour. Can you try setting `java.configuration.maven.userSettings` to the location of the settings.xml file from above, and see if that resolves the issue ?

[2021-09-17 16:49] snjeza commented on #2108
Related issue - https://github.com/eclipse/eclipse.jdt.ls/pull/1876#issuecomment-920295715

[2021-09-17 16:51] rgrunber commented on #2115
I don't think this is supported because the idea is to detect the target environment that the project requires (eg. Maven project defines source/target of 11) and use the corresponding JVM for that. If there were multiple, then we would need to prompt each time to clarify which is actually intended in that case.

I believe https://marketplace.visualstudio.com/items?itemName=vscjava.vscode-java-pac

[2021-09-17 17:05] rgrunber commented on #185
I'm going to close this issue as it was originally filed against the `index.db` files generated by the new index. Lately they should not be generated as the new index was disabled (for not providing the kind of performance boost that was expected), so we're back to the old ${checksum}.index files, which we can address in the recently filed #210.

[2021-09-17 17:05] #185 closed

[2021-09-17 17:10] rgrunber commented on #2108
I think it's worth adding an entry to our https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting .

[2021-09-17 19:48] rgrunber commented on #2108
I've added https://github.com/redhat-developer/vscode-java/wiki/Gradle-Support#performance-degrades-with-gradle-project for now. @snjeza Is the reasoning just performance degredation due to limited resources to support the Gradle VFS over long periods of time or is it something else ?

[2021-09-17 19:48] #2108 closed

[2021-09-17 20:00] rgrunber commented on #1970
Moved cleaning the language server workspace to the top, https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting .

[2021-09-17 20:00] #1970 closed

[2021-09-17 20:11] rgrunber commented on #363
I think this is safe to close now. Seeing `java.lang.NoClassDefFoundError: org/eclipse/core/resources/IResource` seems like a pretty serious failure in the startup process. If still reproducible feel free to re-open.

[2021-09-17 20:11] #363 closed

[2021-09-17 20:45] rgrunber commented on #716
https://github.com/redhat-developer/vscode-java/pull/2027 is a step in the right direction, although there's plenty of instances of messages displayed to a user in typescript files that could be internationalized.

For strings on the JDT-LS side, we would just need take any "*.properties" and produce one for Chinese. If the file lives under 'corext' and came from JDT, there's a good chance we coul

[2021-09-17 21:21] Nicryc commented on #2025
I'm facing a similar issue on Windows 10.

I have downloaded several JDK builds of OpenJDK from **Eclipse Temurin** and from **IBM Semeru**. The `vscode-java` extension seems to only search for the common Java directories `Program Files\Java` (for the Oracle JDK) and `Program Files\AdoptOpenJDK` (for the AdoptOpenJDK ones). Although [AdoptOpenJDK have recently migrated](https://blog.adoptopenjdk.n

[2021-09-18 20:58] rhystedstone opened #2122 "Formatter: "Remove blank lines in Javadoc" is being ignored."
The option "Remove blank lines in Javadoc" (`org.eclipse.jdt.core.formatter.comment.clear_blank_lines_in_javadoc_comment`) is being ignored. The output remains the same regardless of this setting.

##### Environment
- Operating System: Windows NT 10.0
- JDK version: 16.0.27 Hotspot
- Visual Studio Code version: 1.60.1 (user setup)
- Java extension version: v0.82.0

##### Steps To Reproduce
1. Use

[2021-09-19 19:02] safield opened #2123 "Gradle build works fine from command line, VSCode extension gives error."
- Operating System: Ubuntu 20.04
- JDK version: openjdk 11.0.11
- Visual Studio Code version: 1.60.1
- Java extension version: v0.82.0

I have a java project that uses gradle.

When I run './gradlew assemble' from the command line, the project build successfully.

When I load the project in VSCode I get the following errors...

[code]

[2021-09-20 10:20] tgarijo commented on #1140
The file solution vscode-java.prefs its worked for some days. Now its doesn't work.

![serial](https://user-images.githubusercontent.com/7958523/133987319-ed1dd7cc-fd09-438e-a7af-0c39eef51413.PNG)

[2021-09-20 11:55] OzelotVanilla opened #2124 "Support highlight for constructor call"
The highlighter for Java cannot differ constructor from function call. Hope the syntax file can be edited so we can add colour to constructor call.

In this picture, the left `File` is highlighted as `class`, however the constructor call is highlighted as function.

![image](https://user-images.githubusercontent.com/59910575/133997321-557c9a45-1cdb-40f1-8691-2df2d6c7a08e.png)

[2021-09-20 12:06] fbricon commented on #2124
that's a question for @0dinD

[2021-09-20 12:07] OzelotVanilla commented on #2124
Thank you.

[2021-09-20 12:13] MarcelMerkle commented on #1381
I have the exact same problem. It would be really nice to have a workaround, or better solution, that does not involve changing the actual build files.

[2021-09-20 18:36] #230 closed

[2021-09-20 19:37] rgrunber commented on #2123
Do you have the project available somewhere to try out ? I've seen such issues when the project expects to use some version of J2EE but maybe only J2SE is being resolved. Does the problem go away if you explicitly add a dependency from something like https://search.maven.org/artifact/jakarta.servlet/jakarta.servlet-api ?

[2021-09-20 23:23] 0dinD commented on #2124
I agree that this would be useful, and it was almost implemented in eclipse/eclipse.jdt.ls#1514, but after [some discussion](https://github.com/eclipse/eclipse.jdt.ls/pull/1539#issuecomment-693187812) with @Eskibear I decided not to add the feature for now to avoid the complexity of backwards-compatibility for old themes.

The problem is that changing the token type of constructors might be a brea

[2021-09-20 23:57] 0dinD opened #2125 "Add semantic token types for Records"
See https://openjdk.java.net/jeps/395.

This should be fairly trivial to implement as long as there's support in JDT Core, I can submit a PR once I have time.

[2021-09-22 00:29] rafidka commented on #743
![image](https://user-images.githubusercontent.com/442447/134264916-2062a4d5-9589-42c4-b55f-36eea5d18959.png)

[2021-09-22 01:23] safield commented on #2123
How do I add that dependency? I am not familiar with the website.

[2021-09-22 05:26] CarlPer commented on #1263
I am having the same issue, that the autobuild randomly during a maven build modifies the generated files.
With eclipse I, nor my team, has ever had this issue.

activeProfiles=prod does not work for us.

[2021-09-22 05:48] Eskibear commented on #2124
I vote for Alternative 1, for it looks more like a systematic approach.

[2021-09-22 12:05] DanieleStrafile commented on #1061
hello @snjeza any progress on this report? I have to second what already said by @TheBrenny . Most of my team uses Eclipse and I would like to continue coding in vscode with the Redhat extension, but this is a blocker for me at the moment. I cannot justify having to open eclipse to format each and every file before committing it. Thanks for your help!

[2021-09-22 12:06] DanieleStrafile commented on #1399
bump, same problem for me

[2021-09-22 19:06] brendansailer opened #2126 "Dependencies incorrectly marked as unresolved in build.gradle file"
Hello - I'm getting unresolved dependency "problems" in the problem viewer next to the terminal at the bottom of vscode.  There's nothing wrong with the build.gradle file as I can successfully run gradle tasks using the terminal.  I have over 20 of these problems (both with external and internal dependencies) and they look like this:

Unresolved dependency: org.springframework:spring-expression:5.

[2021-09-22 20:31] 0dinD commented on #2124
I agree, just wanted to make sure we were on the same page about compatibility. I'll submit a PR as soon as I have time, hopefully we cant get this into the next update.

Just so there's no misunderstanding, you mean writing a TextMate grammar for tokenizing a language, not theming right ([difference explained here](https://code.visualstudio.com/api/language-extensions/syntax-highlight-guide))?

I

[2021-09-23 00:50] OzelotVanilla commented on #2124
@0dinD Thank you very much that you want to tell me how to tokenize and the semantic highlighting. Actually I want to make highlight of a programming language (but now there is only me on this work). I really like the idea of Semantic Highlighting. I think I should learn the Semantic API. Thanks again. Hope the "constructor idea" can come true.

By the way, RedHat formatting file need the abs path

[2021-09-23 05:16] jdneo opened #2127 "Import quickfix disappear on save"
##### Environment
Version: 1.60.2 (user setup)
Commit: 7f6ab5485bbc008386c4386d08766667e155244e
Date: 2021-09-22T12:00:31.514Z
Electron: 13.1.8
Chrome: 91.0.4472.164
Node.js: 14.16.0
V8: 9.1.269.39-electron.0
OS: Windows_NT x64 10.0.19043
- JDK version: 11
- Java extension version: 0.82.0

##### Steps To Reproduce
1. write a snippet like `new ArrayList<>();` and make sure we don't import ArrayList

[2021-09-23 05:59] #2127 closed

[2021-09-23 18:36] wecharyu commented on #2020
Rolling back to 0.79.2 still not work for me, my environment is wsl2 ubuntu with code-server, the imported project is apache/hive. Any suggestions?

[2021-09-23 18:38] rcarmonad commented on #2020
Finally... happens the same. I've removed all the plugins that use for java (Ms pack, Spring, Redhat) and reinstalled again.
Now works with no issues.

[2021-09-24 03:06] wecharyu commented on #2020
Which version you chose when reinstalling? My mac osx with 0.82.0 version work fine, but wsl2 in win10 not.

[2021-09-24 08:13] kaciula commented on #937
This bug is quite annoying and it happens a lot (maybe all the time event). It affects my flow and productivity. And it's not because of performance issues as I have a Mac M1.

[2021-09-24 08:24] fbricon commented on #937
This bug is hard to fix because we can't reproduce it.
Things you can try:
- execute the `Java: Clean Java Language Server Workspace` command
- disable all other vscode extensions

[2021-09-24 08:31] mossaiby commented on #937
@fbricon Just a note:
1. This is not at all specific to Java; I have the same problem with HTML and JavaScript (and do not even use Java! I was searching for the bug and reached here via Google).
2. It happens much more frequently when I use Remote SSH. It happens even more frequently when I deal with UTF-8 strings.
It really hurts the performance as @kaciula mentioned. Please let me know if I can

[2021-09-24 08:53] kaciula commented on #937
@fbricon I'm using the IDE to develop Flutter apps in Dart so I'm not doing anything Java related.

[2021-09-24 10:07] timgott commented on #937
@fbricon I just checked this again and cannot reproduce this anymore myself. I'm on the same laptop as before, but I have changed from Ubuntu to Fedora and newer versions of code (1.60.1) and jdk (17) since I last used this extension. The vm args that were suggested above just make the suggestion box slower for me now.

Even if suggestions appear delayed, no characters are overwritten for me now.

[2021-09-24 10:27] WiedemannD commented on #937
With me it's C# scripts for Unity on macOS on 2016 MBP. Same issue, but very random and hard to reproduce.

[2021-09-24 15:42] DING-Weibing opened #2128 "Code action to surround with try-with-resources"
try with resources feature looks like absent in vscode.

##### Environment
- Operating System: Windows 10 Pro 19043.1237
- JDK version: OpenJDK 11
- Visual Studio Code version: 1.60.2
- Java extension version: Extension Pack for Java v0.18.5

##### Steps To Reproduce
1. [step 1]
![image](https://user-images.githubusercontent.com/57584830/134701563-0088137a-29ff-420f-8e2e-4b857f1ca1f0.png)

2. [ste

[2021-09-24 16:00] fbricon commented on #2128
@rgrunber see https://www.eclipse.org/eclipse/news/4.15/jdt.php#surround-with-try-with-resources and https://bugs.eclipse.org/bugs/show_bug.cgi?id=553113 upstream

[2021-09-24 16:42] rgrunber commented on #2128
I think this is possible. `SurroundWithTryWithResourcesAction` is of course a UI class (relies on Action which is tied to SWT), but it's just using `SurroundWithTryWithResourcesRefactoring`. Doing a few quick changes, most things should resolve correctly :

- Move `AbstractExceptionAnalyzer`, `ExceptionAnalyzer`, `SurroundWithTryWithResourcesAnalyzer`, `SurroundWithTryWithResourcesRefactoring` fro

[2021-09-24 17:20] sguillia commented on #2121
Hi @fbricon, many thanks for your quick reply. Here are the log files.
[log.txt](https://github.com/redhat-developer/vscode-java/files/7227456/log.txt)
[client.log.2021-09-24.8.txt](https://github.com/redhat-developer/vscode-java/files/7227457/client.log.2021-09-24.8.txt)
[client.log.2021-09-24.7.txt](https://github.com/redhat-developer/vscode-java/files/7227458/client.log.2021-09-24.7.txt)

Hope

[2021-09-24 19:58] snjeza commented on #2121
It works for me too.

@sguillia Could you try the following:

- disable the Eclipse PDE support extension
- close VS Code
- rm -rf ~/.config/Code\ -\ Insiders/User/workspaceStorage/
- rm -rf ~/.config/Code\ -\ Insiders/User/globalStorage
- repeat your steps

[2021-09-24 20:36] snjeza commented on #1061
I can't reproduce the issue.

@TheBrenny @DanieleStrafile Could you

    - execute "Java: Clean Java Language Server Workspace" command
    - attach the logs from the "Java: Open All Log Files" command
    - attach your settings.json or the java.format.settings.url preference

[2021-09-24 21:03] 0dinD commented on #2124
No problem!

Well, the setting does say it takes a URL, and spaces are not valid characters in URLs (hence the `%20` encoding). Although I agree that this may be confusing for new users, and it could be handled by the extension instead (you'd have to open a new issue for that).

[2021-09-25 02:06] safield commented on #2123
Here is a minimal reproduction example.

[repro_example.zip](https://github.com/redhat-developer/vscode-java/files/7229011/repro_example.zip)

[2021-09-25 09:07] trodix commented on #1061
I can reproduce this with my Windows setup but not with my Linux setup

[2021-09-25 15:39] nazordz opened #2129 "SDKman with jdk 17 for vs code support."
<img width="1280" alt="Screen Shot 2021-09-25 at 10 14 52 PM" src="https://user-images.githubusercontent.com/17057410/134776613-fe6b5956-fc6b-47df-9bc3-1e11f0386e1c.png">

##### Environment
- Operating System: macOS Big Sur 11.6
- JDK version: 17
- Visual Studio Code version: 1.60.2
- Java extension version: 0.82.0

##### Steps To Reproduce
1. I Want to add configuration java 17 from sdkman to set

[2021-09-25 16:08] snjeza commented on #1061
@trodix Could you share your settings.json?

[2021-09-25 16:16] snjeza commented on #2129
@nazordz Could you try https://download.jboss.org/jbosstools/jdt.ls/staging/java-0.83.0-384.vsix ?

[2021-09-25 16:58] safield commented on #2123
Also, I don't think this should have 'question' label, as it is a bug with a repro case.

[2021-09-25 17:31] fbricon commented on #2123
Works for me
<img width="1364" alt="Screenshot 2021-09-25 at 19 31 35" src="https://user-images.githubusercontent.com/148698/134780796-79b556fa-3e6e-44d7-8d4a-907ceb03a264.png">

[2021-09-25 17:32] fbricon commented on #2123
Try the "Java: Clean Java Language Server Workspace" command

[2021-09-25 17:33] trodix commented on #1061
@snjeza This is my settings:

Here is my settings.json file from my Windows setup with line split not working as expected.

[vscode-windows-settings.json.txt](https://github.com/redhat-developer/vscode-java/files/7230109/vscode-windows-settings.json.txt)

Here is my settings.json file from my Linux setup with line split working fine.

[vscode-linux-settings.json.txt](https://github.com/redhat-deve

[2021-09-25 18:01] safield commented on #2123
Are you running Ubuntu 20.04 with OpenJDK 11?

[2021-09-25 18:34] snjeza commented on #1061
@trodix could you check your workspace setting.json?

<your_project>\\.vscode\\.settings.json

Does C:\\CPagei\\eclipse-java-google-style-custom.xml exist?

[2021-09-25 22:06] sguillia commented on #2121
Had the `java.import.maven.enabled` setting set to false. Works like a charm now.

I'm really sorry for the issue. I forgot this setting was set, and as a Java beginner I had no clue when reading the warning.

I first found out it worked in [Portable mode](https://code.visualstudio.com/docs/editor/portable), then investigated the differences between portable and classic installation.
Portable mode

[2021-09-25 22:06] #2121 closed

[2021-09-26 07:13] trodix commented on #1061
Yes it exist

But I just find out that I have this error message on the extentions output tab:

[code]

and (langage support for java)

[code]
Thoses logs are both on Linux and Windows, but the line split is not splinting at the same place on Windows ans Linux, with the same settings.

Btw, I'm using vscode 1.60.2

[2021-09-26 07:22] DachuanZhao commented on #2114
I have set both ```java.configuration.maven.userSettings``` and ```java.configuration.maven.globalSettings``` , it doesn't work ...

[2021-09-26 16:20] intact commented on #2129
java-0.83.0-384.vsix  works for me in VSCodium with OpenJDK 17+35

[2021-09-27 07:54] brunoborges commented on #2116
This is the core issue to look into: https://github.com/eclipse-m2e/m2e-core/issues/173

[2021-09-27 08:43] fbricon opened #2130 "Quickfixes should be available at the line level"
Given the following code:
[code]
`greeting` is underlined in red, because the method doesn't exist. If you put your cursor on it, and list the quickfixes (`ctrl+.`), you get to create the missing method.
Now it would be nice to click anywhere on that line to also see the same quickfix, like Intellij or Eclipse.

cc. @maxandersen

[2021-09-27 09:47] Artur- opened #2131 "Do not ask to save a currently open .class file when launching in debug mode"
If you have a .class file open when launching e.g. a Maven target in debug mode, VS Code popups up a dialog that asks you to save the current `.class` file which is in a JAR file.

![image](https://user-images.githubusercontent.com/260340/134885508-27712491-7e06-4ea9-8d46-a24b516dc385.png)

I rarely want to save `.class` files

##### Environment
- Operating System: mac Big Sur
- JDK version: 16
-

[2021-09-27 10:09] fbricon commented on #2131
This doesn't happen when simply running a java class, so this looks like a problem specific to vscode-maven. Please open a bug in https://github.com/Microsoft/vscode-maven/issues

[2021-09-27 10:09] #2131 closed

[2021-09-27 13:08] dhkim09a commented on #634
I can't believe this is still unresolved after all these years. When I tried opening an Android OS source code directory with vscode, this plugin generated more than ten thousand unwanted files. Those files blocked building Android OS and overwrote version-controlled files. Imagine you check the version status of an OS source directory with hundreds git repositories and you find hundred git reposi

[2021-09-27 14:25] rgrunber commented on #2123
I'm also able to reproduce, regardless of JDK, on Fedora 34. The project resolves and the HttpServletResponse is even located with go-to definition. Note, that I had to add the IOException, ServletException classes to the imports, or else this would just produce a compilation error for me.

However, I clearly see 2 errors :
On MessageHandler.java : `"The type javax.servlet.http.HttpServletResponse

[2021-09-27 14:36] DanieleStrafile commented on #1061
@snjeza This is my settings:

Here is my settings.json file from my Linux setup:
[settings.json.txt](https://github.com/redhat-developer/vscode-java/files/7237028/settings.json.txt)

 I used the same Google formatter as the user above. I am sure that VSCode (the redhat extension) is finding the file, because when I click on the URI, it opens it up in the IDE itself.

When I load the exact same for

[2021-09-27 14:52] safield commented on #2123
These are the two errors I am seeing. In addition, I also continually get the untrusted dialog popping up as well.

I should also add, that this project worked for years on older versions of the extension.

[2021-09-27 15:14] fbricon opened #2133 "import regions not computed for .class files"
When opening a .class file, the import statements are not folded by default, with `"editor.foldingImportsByDefault": true`. Seems you can't even fold the import block manually. Something's fishy here.
I noticed that in https://github.com/redhat-developer/vscode-java/pull/2132#issuecomment-927960228

[2021-09-27 15:15] fbricon commented on #2129
Closing as duplicate of https://github.com/redhat-developer/vscode-java/pull/2102

[2021-09-27 15:15] #2129 closed

[2021-09-27 16:12] rgrunber commented on #2123
Does the problem go away if you run `./gradlew wrapper` to update the wrapper jar (as mentioned above) ? It completely solved the errors for me.

[2021-09-27 16:57] rgrunber commented on #2133
Explanation : https://bugs.eclipse.org/bugs/show_bug.cgi?id=72503

[2021-09-27 17:44] alexet opened #2134 "Installing this extension in codespaces monkey patches fs which can break other extensions."
Installing both this vscode-java  in a codespace breaks the codeql extension.

##### Environment
- Operating System: codespaces
- JDK version:
- Visual Studio Code version:
- Java extension version:

##### Steps To Reproduce
1. Install both extensions
4. Open the codeql pane (load codeql extension)
3. Wait for codeql to startup (can take some time due to needing to download `codeql` itself).
2. In

[2021-09-27 17:47] snjeza commented on #1061
@DanieleStrafile You may want take a look at https://github.com/redhat-developer/vscode-java/issues/1783

[2021-09-27 17:54] #1834 closed

[2021-09-28 05:04] testforstephen commented on #2126
The Java extension finds a gradle distribution in the following order:
1. Use wrapper if the setting "java.import.gradle.wrapper.enabled" is enabled.
2. Download the version of the setting  "java.import.gradle.version".
3. Use Gradle from the specified local installation directory of "java.import.gradle.home".

Since you want to use local gradle, you should leave "java.import.gradle.version" empty

[2021-09-28 07:16] testforstephen commented on #2116
The problem is that there is no standard way at the JEP level to tell the tooling how to handle test sources. Each tool has to tweak it in their own way. The upstream JDT issues https://bugs.eclipse.org/bugs/show_bug.cgi?id=520667 and https://bugs.eclipse.org/bugs/show_bug.cgi?id=559601 are still under discussion, waiting for a spec or standard to deal with it.

@brunoborges There is a workaround

[2021-09-28 09:18] brunoborges commented on #2116
Hey @testforstephen thanks for the suggestion. One question: do we need this configuration on every Maven module Portugese (child pom.xml), or just in the parent pom?

[2021-09-28 09:18] brunoborges commented on #2116
Thanks @testforstephen I'll give it a try!

[2021-09-28 09:32] jdneo commented on #2093
@tigerinus is the problem fixed?

[2021-09-28 09:49] fbricon commented on #2116
the profiles will be inherited by submodules (yeah Maven)

[2021-09-28 12:03] tigerinus commented on #2093
I haven't seen the issue happening recently. I guess we can close this one for now. I will report again if it still happens.

[2021-09-28 15:06] DanieleStrafile commented on #1061
@snjeza thanks for the suggestion. That did not help. I loaded the styling file in the /mnt/ (Linux subsystem of Windows) folder, referenced it from the settings file and the same splitting problem occurred.

Have you had some spare time to see if you can reproduce this bug? Try to load the same configuration file on vscode and on Eclipse and see if it splits the lines the same way.

[2021-09-28 15:34] snjeza commented on #1061
@DanieleStrafile I can't reproduce the issue.
Could you share your settings on Windows WSL?

[2021-09-28 15:41] trodix commented on #1061
Yes it exists.

[2021-09-28 16:01] snjeza commented on #1061
@trodix Does <your_project>/.vscode/settings.json exist?
Could you send your logs? - [Turn on message tracing between VS Code and the Java Language Server](https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#turn-on-message-tracing-between-vs-code-and-the-java-language-server)

[2021-09-28 16:10] DanieleStrafile commented on #1061
@snjeza sure, which settings should I share with you ?

[2021-09-28 16:13] snjeza commented on #1061
Your user and workspace settings.json.

[2021-09-28 16:25] trodix commented on #1061
In my <your_project>/.vscode/settings.json, there is:

[code]

## My Language Support for Java log tab:

[code]

[2021-09-28 16:37] snjeza commented on #1061
@trodix Could you try

[code]

[2021-09-28 16:53] trodix commented on #1061
This path with le file:// protocol fixed the error above.

But when I hit "format document", vscode shows an infinite loop and do not format my document at all.

![vscode-formatting-bug](https://user-images.githubusercontent.com/34584317/135131355-3db6ded0-fa21-4d05-8da2-c9196e458a3a.gif)

[2021-09-28 17:09] snjeza commented on #1061
@trodix Could you send your project and your logs?

[2021-09-28 17:35] trodix commented on #1061
This is what I noticed:

On windows, use the file protocol => `file:///C:/CPagei/eclipse-java-google-style-custom.xml`
On linux, don't use the file protocol => `/home/sebastien/workspace/eclipse-java-google-style-custom.xml` (with the file protocol in the uri, vscode can't find the config file with the command "Open java formatter with preview".

Now that I can format with both my windows and wind

[2021-09-28 17:55] brendansailer commented on #2126
Thank you for the tips!  Here are my settings now:
[code]
However, I'm still getting the unresolved dependency issue in the build.gradle file and it looks like the plugin is still trying to download an external gradle version:
[code]

Is this just a check to see what gradle versions are available?  I feel like if I have a local gradle version installed that I know I want to use that version so it

[2021-09-28 19:26] snjeza commented on #1061
It is a bug. I can reproduce it.

No, I can't reproduce it.

[2021-09-29 04:22] MatthewFagan opened #2135 "Gradle kts build files"
Hi. We are trying to get a client moved over from Eclipse to VS Code, but they are complaining about gradle kts build file support. The VS Code plugin does not provide any intellisense or other features. (I'm not totally sure of the details).

There was a recently closed issue: https://github.com/redhat-developer/vscode-java/issues/632

The client has tried it, but it is not sufficient for them an

[2021-09-29 13:19] fbricon commented on #2135
We're using the same buildship support as in Eclipse, with the same limitations. Are you saying your client get gardle kts completion support in Eclipse?

[2021-09-29 16:00] rgrunber commented on #2133
Just a note, this is still possible to implement. Just not from the Java model side. On the AST side, we could find the node corresponding the import statements, and use those offsets to generate the folding range. I would just be curious if the Java model side has anything at all to accomplish this.

[2021-09-29 17:00] jayy2kok commented on #2099
I have adopted VS Code for full time java IDE, I love it, just this one feature I am missing.

[2021-09-29 20:49] 0dinD commented on #2135
#632 was just about adding support for importing Java projects using the Gradle Kotlin DSL. Anything else is probably out of scope for this extension.

There is ([as of recently](https://github.com/microsoft/vscode-gradle/blob/65ffe6c6145519848680b3899843ff115c831359/CHANGELOG.md?plain=1#L43)) work being done by Microsoft in [microsoft/vscode-gradle](https://github.com/microsoft/vscode-gradle), [t

[2021-09-29 21:04] NatoBoram opened #2139 "Sort class members"
It would be nice to have an option to sort class members on save.

Example : https://wiki.eclipse.org/Recommenders/CleanCodeMethodSorter

##### Environment
- Operating System: Windows 11
- JDK version: openjdk 16.0.2
- Visual Studio Code version: 1.60.0-insider
- Java extension version: v0.82.0

[2021-09-29 21:43] brendansailer commented on #2126
I've also added the following line to my settings file:
[code]
I have the environmental variable GRADLE_USER_HOME set properly, so I don't think this does anything but I wanted to see if it could account for why it can't find the dependencies in that directory under /caches

[2021-09-30 18:48] KREATIV-LSH opened #2141 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `java`
- Extension Version: `0.82.0`
- OS Version: `Windows_NT x64 10.0.19041`
- VS Code version: `1.60.2`

:warning:
[code]

[2021-09-30 20:35] gline9 opened #2142 "Formatter doesn't load format config after update"
After updating to the latest version of the plugin, the format configuration configured no longer is used when formatting files through vscode.

##### Environment
- Operating System: Windows
- JDK version: 11
- Visual Studio Code version: 1.60.2
- Java extension version: 0.82.0

##### Steps To Reproduce
1. Place eclipse xml file on the file system tested with version 18 format
2. Configure url to

[2021-09-30 22:19] snjeza commented on #2142
This issue is related to https://github.com/eclipse/eclipse.jdt.ls/pull/1893
You can try https://github.com/snjeza/vscode-test/raw/master/java-0.83.0.vsix

[2021-10-01 00:18] rhystedstone opened #2143 "Maven Local Dependencies: Failed to get sources. Instead, stub sources have been generated by the disassembler."
None of my maven projects show documentation on class from local maven dependencies and display a message when trying to get the "super implementation":

Instead, stub sources have been generated by the disassembler.

##### Environment
- Operating System:    Windows 10 Pro 21H1
- JDK version:    jdk-16.0.2.7-hotspot
- Visual Studio Code version:    1.60.2 (user setup)
- Java extension version:

[2021-10-01 02:49] MatthewFagan commented on #2135
OK, it looks like I might have misunderstood the client's issues. I will see if I can find out more info

[2021-10-01 11:42] DanieleStrafile commented on #1061
hello @snjeza
apparently you were right, the redhat extension was not recognizing the styling file. As soon as I used command "Java: Open Java Formatter settings", the extnension was able to recognize the name of the styling file I wanted to pick, but was not able to find it.

This begs the question: why is the extension not able to find the styling file? Are there some logs that I should provide

[2021-10-01 12:50] gline9 commented on #2142
@snjeza it looks like that fixes the problem. Thanks for your help.

[2021-10-01 14:26] rgrunber commented on #2099
I think we should watch out for things like https://bugs.eclipse.org/bugs/show_bug.cgi?id=568844 , and maybe look at possible solution. The jumpiness is caused when a method temporarily can't be resolved to a proper signature (due to syntax error?) and then switches to resolved. The effect is annotations flickering which affect the user's ability to type.

[2021-10-01 16:11] isaacherbst613 commented on #1355
it would also be very useful to just have an ignore feature to ignore some errors

[2021-10-01 18:16] NatoBoram opened #2144 "Generate `@Override` on save when applicable"
I want to know when a method is overriding its super class by automatically adding the `@Override` annotation on save.

##### Current Result

[code]

##### Expected Result

[code]

##### Additional Informations

Example config:
[code]

[2021-10-02 03:58] zhouxinghong commented on #2097
Hello! In which version will this problem be fixed?

[2021-10-02 07:25] MiguelGuthridge opened #2145 "Option to disable highlighting of TODO comments"
When I put a TODO in a comment in a Java file, the Java extension highlights it with a squiggly underline.
As I have a dedicated todo-highlighter extension which suits my needs far better, I'd like to disable the underlining of these comments.
I've looked, but I can't find anything in the settings to disable this. Could a setting for it be added?

##### Environment
- Operating System: Windows 10
-

[2021-10-02 10:15] 0dinD commented on #2145
There's no VS Code setting for it, but it can be tweaked via [Eclipse preferences](https://github.com/redhat-developer/vscode-java/wiki/Settings-Global-Preferences), using the [task tags preference](https://help.eclipse.org/latest/index.jsp?topic=%2Forg.eclipse.jdt.doc.isv%2Freference%2Fapi%2Forg%2Feclipse%2Fjdt%2Fcore%2FJavaCore.html&anchor=COMPILER_TASK_TAGS). If you don't want any task tags, in

[2021-10-02 10:47] MiguelGuthridge commented on #2145
That did work, but it is quite convoluted. A dedicated setting for it would honestly be nice.

[2021-10-03 09:28] trinhpham commented on #2081
@mozhuanzuojing I have the same problem and I use Spring Boot also.
Did you figure out which extension causes the issue?
Disabling all other extensions makes me feel like a soldier without weapons :rofl:

[2021-10-03 16:22] 0dinD commented on #2125
After thinking about it, a modifier for sealed classes/interfaces doesn't make much sense, as the semantic meaning of a sealed class/interface mostly depends on what type(s) it's sealed with. If someone has a use case for such a modifier, it can easily be implemented in the future.

[2021-10-03 16:37] snjeza commented on #2081
@trinhpham You may want to take a look at https://github.com/redhat-developer/vscode-java/issues/2108#issuecomment-921396583 and [Performance degrades with Gradle Project](https://github.com/redhat-developer/vscode-java/wiki/Gradle-Support#performance-degrades-with-gradle-project)

[2021-10-03 17:49] 0dinD commented on #2145
Agreed, but the same could be said for many other Eclipse preferences, and it's tedious work to manually create dedicated settings for them.

I think an alternative solution might be added via eclipse/eclipse.jdt.ls#1765, but @rgrunber would have to confirm whether or not task tags can be ignored.

[2021-10-03 20:08] 0dinD opened #2147 "Missing space in anonymous type completion proposal"
I would argue that this is a bug, as it's a widely accepted (citation needed) code standard, and the default in Eclipse and IntelliJ.

##### Environment
- Java extension version: 0.82.0

#### Demonstration of the problem
![add-space-to-anonymous-type-proposal](https://user-images.githubusercontent.com/52179873/135768624-a1263262-fc58-46e3-9510-474f3832799c.gif)

#### Additional information
I will

[2021-10-03 20:28] kristian commented on #1827
Using this without the "file:" protocol again fails for me, is it also anyone else? Could there be another regression on this?

[2021-10-04 00:02] snjeza commented on #1827
The issue is related to https://github.com/eclipse/eclipse.jdt.ls/pull/1893

[2021-10-04 15:47] rgrunber commented on #2145
The task tags show an information marker (blue squiggles) so that they're visible in the problems view, as well as from the scrollbar of an opened file. The nice part is being able to view a list of all "TODO" items in a project. I also notice our listing of options in the preference wiki doesn't list it, so I'll look into fixing that.

The PR you mention is the more general issue that we need to

[2021-10-04 16:05] rgrunber commented on #2139
I think we support sorting based on the type of member (eg. Types, Field, Methods, etc.)

The property is `java.memberSortOrder` and should take the following values as a comma-separated list where each member must be in the list : https://git.eclipse.org/c/jdt/eclipse.jdt.ui.git/tree/org.eclipse.jdt.core.manipulation/common/org/eclipse/jdt/internal/core/manipulation/MembersOrderPreferenceCacheCom

[2021-10-04 17:17] rgrunber commented on #2144
Seems like this would just require migrating the https://git.eclipse.org/c/jdt/eclipse.jdt.ui.git/tree/org.eclipse.jdt.ui/ui/org/eclipse/jdt/internal/ui/fix/Java50CleanUp.java , or some portion of it to jdt.core.manipulation. It handles adding the override as needed.

[2021-10-04 18:25] snjeza commented on #2143
I can't reproduce the issue.
@rhystedstone Have you installed the guiapi sources?
[code]

[2021-10-04 18:41] 0dinD commented on #2145
Right, but the point of this issue is that some users have dedicated TODO extensions like [Todo Tree](https://marketplace.visualstudio.com/items?itemName=Gruntfuggly.todo-tree), so they would like to disable the task tag highlighting from this extension (in order to avoid the clutter of duplicate TODO highlights). And since task tags are diagnostics just like errors and warnings, I was thinking ma

[2021-10-04 18:44] rgrunber commented on #2145
Agreed. If we can figure out that the property accepts a set of values (as opposed to enabled/disabled), then we can certainly define our "Ignore this option" code action to set it empty.

[2021-10-04 23:25] snjeza commented on #2126
@brendansailer you may want to take a look at https://github.com/redhat-developer/vscode-java/issues/1495 and https://github.com/redhat-developer/vscode-java/issues/901

[2021-10-05 13:16] FieteO opened #2150 "Allow for excluding files from the problem tab"
I have a java project that has a rather large proportion of files that are generated by [openapi-generator](https://github.com/OpenAPITools/openapi-generator). The generated code contains a lot of problems that I will not resolve (i.e `The import XY is never used`). This is cluttering the problems view.

![Cluttered problems view](https://user-images.githubusercontent.com/41323592/136029685-cc0059

[2021-10-05 16:36] brendansailer commented on #2126
@snjeza Hmmm I just tried those settings without luck.  I have ``` "java.import.gradle.offline.enabled": true ``` and have the proper file in ``` ~/.tooling/gradle/versions.json```.  Is there something else?

[2021-10-05 17:46] snjeza commented on #2126
@brendansailer Could you try to create ~/.cache/tooling/gradle/versions.json

[code]
See https://github.com/eclipse/eclipse.jdt.ls/pull/1655

[2021-10-05 20:35] brendansailer commented on #2126
@snjeza Ah thank you for the tip - it fixed that error in the logs (once I moved the versions.json file to the cache directory)! My apologies for being new to OSS - I've learned a lot from opening a handful of issues across various vscode gradle extensions. I definitely will use the search bar before opening any more issues. Up next is contributing for me :)

Now I'm getting no errors in the logs,

[2021-10-05 22:16] brendansailer commented on #2126
@snjeza Yes, I have a ```spring-expression-5.0.8.RELEASE.jar``` and a ```spring-expression-5.0.8.RELEASE-javadoc.jar``` with a ```spring-expression-5.0.8.RELEASE-sources.jar``` spread out across 3 different directories following the path you provided above.  Here's my .classpath file (snippet):

[code]

[2021-10-05 23:31] Yanpas opened #2151 "Allow manually specify java runtime per project"
[provide a description of the issue]

##### Environment
- Operating System: arch linux
- JDK version: 16
- Visual Studio Code version: 1.60
- Java extension version: 0.82

There is `java.configuration.runtimes` with `default:true` option to select  default runtime. However I have a gradle project where extension tries to use JDK 16, instead of 8. `java.configuration.runtimes` are not supported to

[2021-10-05 23:52] brendansailer commented on #2126
@snjeza Sure!  My build.gradle (removed some dependencies/extraneous stuff since it got long):

[code]

My gradle.properties (removed some for simplicity):

[code]

My .settings/org.buildship.core.prefs:

[code]

[2021-10-06 00:01] snjeza commented on #2126
[code]

Could you try to set the following VS Code property:
[code]

[2021-10-06 11:16] rhystedstone commented on #2143
Thank you for this.
I have searched many places and never found this solution!

[2021-10-06 11:16] #2143 closed

[2021-10-06 11:53] chong1144 commented on #909
Some update may link with https://github.com/redhat-developer/vscode-java/issues/1825. Any plan to make `javaBuildFilePatterns`  including BUILD and WORKSPACE default?

[2021-10-06 12:01] NewProgrammer1234 opened #2152 ""JavaSE-17" is not accepted."
##### Environment
- Operating System: Windows 10
- JDK version: 17
- Visual Studio Code version: 1.60.2
- Java extension version: 0.82.0

##### Steps To Reproduce
1. Install JDK 17
2. open settings.json, and add:
[code]

##### Current Result

##### Additional Informations
README.md says that the extension supports code from Java 1.5 to **Java17**

[2021-10-06 12:23] fbricon commented on #2152
Closing as duplicate of https://github.com/redhat-developer/vscode-java/pull/2102

JavaSE-17 support has been merged in master (hence what you see in the latest readme.md file), but it has not been released to the VS Code marketplace. It'll be officially released in a couple weeks.
Until then, you can try a CI build from http://download.jboss.org/jbosstools/jdt.ls/staging/. Download the most recen

[2021-10-06 12:23] #2152 closed

[2021-10-06 13:23] rgrunber commented on #2128
Jeff has proposed some refactoring of the necessary classes in https://bugs.eclipse.org/bugs/show_bug.cgi?id=576431 which is expected to make 2021-12 M2 (end of Oct.) . I will have a look to see how we can integrate this.

[2021-10-06 15:49] snjeza commented on #2126
I can't reproduce the issue.

- settings.json
[code]
- build.gradle
[code]
[code]

- disconnect from Internet
[code]

[2021-10-06 15:54] snjeza commented on #2126
@brendansailer could you check .settings/org.eclipse.buildship.core.prefs

[code]

[2021-10-06 16:07] snjeza commented on #2150
@FieteO you can try to add the following property

[code]
to <your_projects>/.settings/org.eclipse.jdt.core.prefs

See [Settings Global Preferences](https://github.com/redhat-developer/vscode-java/wiki/Settings-Global-Preferences)

[2021-10-06 17:17] brendansailer commented on #2126
@snjeza I'll get back to you after I do more investigation! I also tried changing orffline.mode=true without luck.  I appreciate the help - I'll ping you once I dig deeper into the problem!

[2021-10-07 14:29] rgrunber commented on #2150
Could using `@SuppressWarnings("all")` on the type declaration work in your case ?

Supporting something like this properly might be possible, though maybe not as high priority given there's some ways of achieving roughly the same thing. I see that on the Eclipse side, the problem view filter settings are stored in the workspace in a file like `org.eclipse.ui.ide.prefs`. However, I assume much of

[2021-10-07 14:52] KREATIV-LSH commented on #2141
I tried running a Java class inside of vscode but it wouldn't do anything and when I went to the extensions tab I saw that there was an error in the extension

[2021-10-07 17:49] Yanpas commented on #2151
I see the cause. Anyway, do you find it reasonable to let the user override autoguessing which is not always working? What if target version is 7 for example, but I have only 8 and 11 jdks?

[2021-10-08 04:11] JoseLion commented on #1264
It seems this is still an issue on `v0.82.0`. Any news around this? 🙂

![image](https://user-images.githubusercontent.com/3087228/136497080-f82b6b61-71b7-42dc-8777-b10f72a5f1c0.png)

[2021-10-09 20:12] KREATIV-LSH commented on #2141
No still same thing

[2021-10-10 14:15] deekshithanand opened #2154 "[ BUG ] NestedClasses are not AutoImported"
# Nested Clasess are not Imported

When nested classes are referenced within the classfile, a quick fix suggestionto import the nested class is show( to resolve the Nested class symbol). However, the quick fix simply doesnt import the shown fix.

##### Environment
- Operating System: Manjaro Linux
- JDK version: OpenJDK 11
- Visual Studio Code version:1.61.0
- Java extension version: 0.82.0

#####

[2021-10-10 21:44] tigerinus commented on #1223
Start seeing this error recently:

[code]

[2021-10-11 01:17] mozhuanzuojing opened #2155 "The compiled project does not read `java.settings.url` after clearing the cache"
After execution `Java: Clean Java Language Server Workspace`, recompile the project without reading the configuration file `java.settings.url`

##### Environment
- Operating System: windows10 21H1
- JDK version: 16
- Visual Studio Code version: 1.61
- Java extension version:0.82.0

##### Steps To Reproduce
1. > set settings
[code]
2. invoke `Java: Clean Java Language Server Workspace`
3. recompile

[2021-10-11 02:51] tigerinus opened #2156 "[Test Runner] test passing sign is red instead of green."
[provide a description of the issue]

##### Environment

Debugger for Java - v0.36.0
Language Support for Java(TM) by Red Hat - v0.82.0

[code]

##### Steps To Reproduce
Debug run a `org.junit.jupiter.api.Test` without any breakpoint.

##### Current Result
![vscode-java](https://user-images.githubusercontent.com/7172560/136726862-500d1ae8-1234-471f-8e3e-cd0842d64fbb.gif)

![image](https://user-ima

[2021-10-11 10:02] Jackyxie1 opened #2157 "Failed to get sources. Instead, stub sources have been generated by the disassembler."
[provide a description of the issue]

##### Environment
- Operating System: Ubuntu 20.04
- JDK version: jdk-11.0.8
- Visual Studio Code version:1.60.2
- Java extension version:0.82.0

##### Steps To Reproduce
1. config `java.project.referencedLibraries` in settings.json like
[code]
2. use ctrl + click navigate  to source would see
[code]
and show nothing in any method body.
at the same time , i ca

[2021-10-11 10:10] #2147 closed

[2021-10-11 11:27] apupier opened #2158 "Java language Server fails to start when some other Java applications are starting"
[provide a description of the issue]

##### Environment
- Operating System: Fedora 34
- JDK version: Java 16
- Visual Studio Code version: 1.60
- Java extension version: 0.82

##### Steps To Reproduce
1. Install vscode-java and [VS Code AtlasMap](https://marketplace.visualstudio.com/items?itemName=redhat.atlasmap-viewer) (built from this [branch](https://github.com/apupier/vscode-atlasmap/tree/50-

[2021-10-11 12:38] aderchox opened #2159 "(Unsupported operation. Please use build.gradle file) How to change the default source path in Gradle projects?"
In a project, the root detected for the packages is deeper than it should be, so I get a red line under the package declaration in code which says:

This is the hierarchy of the files in the project:
[code]
and then sources are in subdirectories of the `java/` directory (this is a structure automatically generated by the `gradle init` for a console application project). But when I try to add the `

[2021-10-11 14:22] #2157 closed

[2021-10-11 14:47] tekleayele commented on #205
Has there been any update since the last convo on this issue/blocker ?

[2021-10-11 14:47] tekleayele commented on #1417
Has there been any updates since the last convo on this issue/blocker ?

[2021-10-11 20:47] 0dinD opened #2160 "Regression: no completion for static fields and methods in some cases"
In some cases (see example below), no completion is offered for static fields and methods, only for types. This appears to be a regression introduced between version 0.79.2 and 0.80.0 of the extension.

##### Environment
- Java extension version: >= 0.80.0

##### Steps To Reproduce
Have the following code:

[code]

##### Current Result
No completion is offered for static fields and methods in the

[2021-10-11 23:03] snjeza commented on #2160
@fbricon I can't reproduce the issue. I have created https://github.com/snjeza/vscode-test/raw/master/java-0.83.2.vsix

[2021-10-11 23:24] 0dinD commented on #2160
I just tried a fresh install of Eclipse 2021-12 M1, and still cannot reproduce the issue. Maybe it is a jdt.ls issue? But I was fairly certain that i reproduced it with my previous install of Eclipse 2021-09...

[2021-10-11 23:33] snjeza commented on #2160
@0dinD @fbricon  I have tried the following:

0.83.2
![assign](https://user-images.githubusercontent.com/388609/136866976-7401b441-e813-479d-94b7-9c58e80364dd.gif)

0.82.0
![assign2](https://user-images.githubusercontent.com/388609/136867207-426a0b8a-4a53-4854-a2a9-4d98d4f09b69.gif)

[2021-10-12 02:57] v-yuyul commented on #1422
I can still reproduce in latest 0.83 build

[2021-10-12 07:14] prakritidev commented on #761
any update on this feature ?

[2021-10-12 07:33] #2124 closed

[2021-10-12 07:33] #2125 closed

[2021-10-12 07:34] fbricon commented on #2124
See constructor customization:
<img width="1265" alt="Screenshot 2021-10-12 at 09 32 51" src="https://user-images.githubusercontent.com/148698/136912008-122576fe-a851-4d51-b089-118303421d98.png">

[2021-10-12 13:46] #2156 closed

[2021-10-12 14:37] icruces opened #2162 "Gradle project no detected as Java Project"
I have created a simple Spring Boot gradle project using Spring Initializr extension. The problem is that it is not recognised as a Java Project in VS Code.

I can make it detect it by configuring the **src/main/java** folder as a source folder but still, it doesn't import the gradle dependencies.

##### Environment
- Operating System: Windows 10
- JDK version: 11
- Visual Studio Code version: 1.6

[2021-10-12 15:06] rgrunber commented on #2130
Seems to be working well for me. Should the quick-fixes on a particular line be suppressed if the code action request is made on a selection range (as opposed to an offset) ? We should definitely have a settings for this.

[2021-10-12 18:19] icruces commented on #2162
Brilliant, that was it. Don´t know why I had that set to true.
Many thanks!

[2021-10-12 18:19] #2162 closed, assigned to nobody

[2021-10-12 20:03] FieteO commented on #2150
Apologies if I am missing your point and at the risk of repeating myself: In our setup the source files (i.e the restcontrollers) are completely transient, they are not versioned and rebuild with each `gradle build`. So in my eyes it is not possible to annotate them (maybe except for an openapi generator option I am not aware of), do you get what I mean?

[2021-10-13 04:36] rgrunber commented on #2145
Given that there is a workaround, and that we'll make progress on this in https://github.com/eclipse/eclipse.jdt.ls/pull/1765 , I'll mark this as a duplicate.

[2021-10-13 04:36] #2145 closed

[2021-10-13 06:45] clankill3r opened #2163 "Having multiple modules gives "duplicate entry: 'module-info.java'" errors"
hi, I was following the quick-start of jigsaw: https://openjdk.java.net/projects/jigsaw/quick-start
And I get 26 times the same error (with only 4 modules...).

<img width="1068" alt="Screenshot 2021-10-13 at 08 32 18" src="https://user-images.githubusercontent.com/738650/137079779-5dc8d79e-4778-4c8e-bed7-d1a79bd0cae7.png">

I have 4 modules, with their required `module-info.java`:

<img width="19

[2021-10-13 13:27] kengreenlee commented on #1140
@tgarijo I just got it to work.  I had to open the Problems view, find the file, and click on the warning there.  It auto-added a generated serialVerUUID.

[2021-10-14 18:40] rgrunber commented on #2128
I have a draft that is working, but I'm seeing a bunch of odd behaviour in some other cases, so I may have to file some new bugs. Also there's some copied code that can be avoided by migrating some things.

![surround-with-try-with](https://user-images.githubusercontent.com/1417342/137376406-13d113fb-008b-4a95-9e98-4970ea446b3e.gif)

[2021-10-14 21:49] Hachiko99 commented on #1671
I am having the same issue here on windows, gradle 7.1.1

[2021-10-15 13:22] #2155 closed, assigned to nobody

[2021-10-17 02:01] ablozhou commented on #305
how to resolve this problem?

zhh@kico:~$ java --version
openjdk 11.0.11 2021-04-20
OpenJDK Runtime Environment (build 11.0.11+9-Ubuntu-0ubuntu2.20.04)
OpenJDK 64-Bit Server VM (build 11.0.11+9-Ubuntu-0ubuntu2.20.04, mixed mode, sharing)

zhh@kico:~$ cat /etc/issue
Ubuntu 20.04.2 LTS \n \l

zhh@kico:~$ uname -a
Linux kico 5.4.0-1045-aws #47-Ubuntu SMP Tue Apr 13 07:02:25 UTC 2021 x86_64 x86_64 x86

[2021-10-18 19:39] QihanLiu opened #2168 "Code Completion for imported libraries."
I am using the algorithm library algs4 in VS code.
It seems like the code auto completion only work for standard libraries.
For example, it won't pop up the public functions of a class.
Is there a way for me to add support for this kind of library?

##### Environment
- Operating System: MacOS

[2021-10-18 19:45] sogawa-sps opened #2169 "Auto-escaping of the text after copy-pasting in String literal"
Many modern IDEs provide an auto-escaping functionality. I.e. when one pastes a text into a String literal escape symbols are being placed where necessary, newlines are being transformed into "\n" etc. It seems vscode-java doesn't have this functionality what is a pretty big disadvantage.

##### Environment
- Operating System: Windows 10
- JDK version: 11
- Visual Studio Code version: 1.61.1
- Jav

[2021-10-19 01:52] #1971 closed

[2021-10-19 02:01] jdneo commented on #618
@james-lawrence there is [a work](https://github.com/eclipse/eclipse.jdt.ls/pull/1900) going on to generate these file into other places. Please stay in tune.

[2021-10-19 06:14] jdneo opened #2171 "Code completion will remove characters in if block"
[provide a description of the issue]

##### Environment
Version: 1.61.1 (user setup)
Commit: c13f1abb110fc756f9b3a6f16670df9cd9d4cf63
Date: 2021-10-14T01:19:42.089Z
Electron: 13.5.1
Chrome: 91.0.4472.164
Node.js: 14.16.0
V8: 9.1.269.39-electron.0
OS: Windows_NT x64 10.0.19043
JDK version: 11
Java extension version: 0.83.0

##### Steps To Reproduce

https://user-images.githubusercontent.com/6193897

[2021-10-19 06:19] CsCherrYY commented on #2122
I can't reproduce this issue locally, could you attach your formatter profile?

[2021-10-19 15:51] rgrunber commented on #2168
You're referring to https://github.com/kevin-wayne/algs4 ? If I wanted to quickly set something up to use this I would just take the jar from http://algs4.cs.princeton.edu/code/algs4.jar and set up the following structure :

[code]
(by default `lib/**.jar` is configured for referenced project libraries)

[2021-10-19 16:42] rgrunber commented on #2169
Agreed. I think we could easily do this in https://github.com/redhat-developer/vscode-java/blob/master/src/pasteAction.ts for now. It would of course only work for VS Code since it's not in the language server itself. I don't think the LSP spec has a way to detect whether a text change is occurring due to a paste.

With that said, I also noticed https://github.com/microsoft/language-server-protoco

[2021-10-19 17:12] #2169 closed

[2021-10-20 04:31] AdhTri-001 commented on #1020
Also maybe support for loading javadoc(.html) files. The only way to add javadocs of referenced libraries is to attach source.jar file AFAIK. correct me if I am wrong. I have been looking for a way to add [`openjfx/javadoc`](https://github.com/openjfx/javadoc/tree/master/17) such that it shows the docs on hover.

[2021-10-20 06:14] Artur- opened #2173 "Formatting a Java file sometimes eats parts of the code"
This is similar to a bug that existed in Eclipse maybe 5 or 10 years ago.

Every now and then when you press format, part of the code is deleted. This is really super bad for any IDE, especially when you have auto format on save turned on. "Done with your changes? Sure, let me just save and commit. Why did you commit broken code, it doesn't even compile? %#€""

It seems like the formatter and also

[2021-10-20 10:48] Stwissel opened #2174 "Global formatting options not observed"
In my global settings.json I have the following lines to activate Google style:

[code]

(Full file attached for reference)

The file `/Users/stephan/VSCodeJava/eclipse-java-google-style.xml` does exist with the original Google settings

When saving a file the Google rule "don't join lines" gets ignored

##### Environment
- Operating System: macOS 10.15
- JDK version: 11
- Visual Studio Code versi

[2021-10-20 10:52] Stwissel commented on #2174
Btw. also tried to use `file:///` with no result

[2021-10-21 01:01] jdneo commented on #618
@dsyer Yes our plan is to make it configurable by a VS Code setting. User can decide whether to generate them at project root or not.

[2021-10-21 01:02] jdneo commented on #618
Hi @james-lawrence, could you give more details about `generating those files can actively break an environment`?

[2021-10-21 09:55] saielove opened #2175 "Could not execute the java executable"
Hi. I am not sure if it's a problem is with my Laptop or VS Code but it's really frustrating me ot of my wits! So this is my problem:

When I "play run", a command to run Play Framework I get this error "Could not execute the java executable, please make sure the JAVA_HOME environment variable is set properly (the java executable should reside at JAVA_HOME/bin/java). " But I have set my environmen

[2021-10-21 19:38] james-lawrence commented on #618
@dsyer those file don't exist period in our workspace. as I said you can't make changes to a workspace in a language server.

[2021-10-21 22:31] 0dinD opened #2176 "Semantic tokens can still become desynced/offset"
There have been numerous issues about desynced semantic tokens in the past, but [I thought I had found the root cause](https://github.com/eclipse/eclipse.jdt.ls/pull/1806#issuecomment-913862248) last time around. As it turns out however, [there are two different kinds of token desynchronization](https://github.com/eclipse/eclipse.jdt.ls/pull/1552#issuecomment-698345369).

The first problem, where

[2021-10-22 00:06] james-lawrence commented on #618
@jcsahnwaldt I'll retest I suppose but it absolutely started with this package and went away when disabled and deleted the files.

[2021-10-22 01:40] orange2222222222 opened #2177 "Could not fetch model of type 'GradleProject' using Gradle distribution 'https://services.gradle.org/distributions/gradle-7.2-bin.zip'"
When I tried to open build.gradle, normally it will just build it for me, but it returned with this error:
`Could not fetch model of type 'GradleProject' using Gradle distribution 'https://services.gradle.org/distributions/gradle-7.2-bin.zip'`

##### Environment
- Operating System: Windows 10
- JDK version: 16.0.2
- Visual Studio Code version: 1.61.2
- Java extension version: 1.1.0

##### Steps To

[2021-10-22 02:47] saielove commented on #2175
Done but I still get the same error.

![image](https://user-images.githubusercontent.com/87845361/138385044-1bf5dccf-1a63-4345-84b5-1eb0c3ac086e.png)

The detected JDKSs in my system:
![image](https://user-images.githubusercontent.com/87845361/138385169-033268b9-3ebe-4376-b36f-b66eb4e899e4.png)

[2021-10-22 02:59] orange2222222222 commented on #2177
the output channel is from Gradle task extension, and the project I'm trying to build is: https://github.com/FabricMC/fabric-example-mod

[2021-10-22 19:41] ErnestRes opened #2178 "The Language Support for Java server crashed 5 times in the last 3 minutes. The server will not be restarted."
Whenever I open Visual Studio code after booting up I am greeted by "The Language Support for Java server crashed 5 times in the last 3 minutes. The server will not be restarted." this message.

[2021-10-22 21:23] tommai78101 opened #2179 ""Show Call Hierarchy" should have the ability to filter calls, or apply name filter patterns"
When I use **Show Call Hierarchy** on a property in a Java class object that is frequently used in both the main source code, as well as in the unit tests, the Call Hierarchy list would display a bunch of results. Because, the results include both the main source code and unit tests references, there isn't a way to automatically exclude certain folder directories or paths out from unwanted invocat

[2021-10-23 00:25] 0dinD commented on #2177
@orange2222222222 Note: these are UNIX-style paths, the equivalent on Windows would be `C:\Users\<your username>\.cache\tooling\` and `C:\Users\<your username>\.gradle\wrapper\dists\`

[2021-10-24 01:10] orange2222222222 commented on #2177
Running the gradle wrapper and gradle returned with the same error:
[code]

Also, which part of the log file do I upload? There are about 4000 lines and some seem to be repeating, This is the bottom of one of the stacktrace since that's normally where they put cause of the error:
[code]

[2021-10-24 01:53] snjeza commented on #2177
@orange2222222222 Could you try to remove
[code]
and restart the build.

[2021-10-24 02:05] orange2222222222 commented on #2177
Hi, it still returns with the same error :/

[2021-10-24 02:31] snjeza commented on #2177
Could you show your gradle.properties ( C:\Users\meee\OneDrive\Desktop\fabric-example-mod\gradle.properties)
and the output of the following command:
[code]

[2021-10-24 06:56] #2177 closed, assigned to nobody

[2021-10-24 14:46] gorryyong opened #2180 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `java`
- Extension Version: `1.0.0`
- OS Version: `Windows_NT x64 10.0.22483`
- VS Code version: `1.62.0-insider`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2021-10-26 14:45] fbricon opened #2181 "[formatter] Set org.eclipse.jdt.core.formatter.join_wrapped_lines=false by default"
Neither Intellij nor Netbeans join wrapped lined by default. It can only be seen in Eclipse (and jdt.ls) by default, which is fairly annoying most of the time.
Given org.eclipse.jdt.core.formatter.join_wrapped_lines came up in several issues, I think we should set org.eclipse.jdt.core.formatter.join_wrapped_lines=false by default

[2021-10-26 19:38] J-Rohault-dF opened #2182 ""The import java.util.Pair cannot be resolved""
Very simple problem. One of the files contains:
`import java.util.ArrayList;`
`import java.util.Pair;`
VSCode blocks on the second line, redlining it and telling me "The import java.util.Pair cannot be resolved".

I tried everything I could find.
- Delete the workspaceStorage directory contents: tried, nothing changed
- Run the command "Java: Clean Java language Server Workspace": tried, nothing c

[2021-10-27 10:06] trinhpham opened #2184 "[BUG] "No organize imports action available""
Organize import cannot run on latest extension version.

##### Environment
- Operating System: macOS 11.6 (Intel)
- JDK version: Oracle Java(TM) SE Runtime Environment 18.9 (build 11.0.11+9-LTS-194)
- Visual Studio Code version: 1.61.2
- Java extension version: 1.0.0

##### Steps To Reproduce
1. Open any java project (Mine is a Maven project)
2. Press key: opt + shift + O (Mac) to trigger organize

[2021-10-27 17:56] fbricon opened #2185 "[formatter] Set org.eclipse.jdt.core.formatter.indent_switchstatements_compare_to_switch=true by default"
Even though the [jdt.ls sets it to true](https://github.com/eclipse/eclipse.jdt.ls/blob/746bfd66555c230bd02041e8f707d217f08e526d/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/preferences/PreferenceManager.java#L140),  org.eclipse.jdt.core.formatter.indent_switchstatements_compare_to_switch  seems to be ignored.

The following code is not indented as expected:
[code]

It should be fo

[2021-10-27 22:19] #2181 closed, assigned to snjeza

[2021-10-28 08:30] molly-w opened #2188 "Only report errors in current opened .java file"
Is there any setting that can only report errors in current opened file instead of showing all errors in current project?

![image](https://user-images.githubusercontent.com/63043224/139217939-f76caf2e-b711-4251-8e97-08f621113da1.png)

Original Post: [How to stop VSCode from reporting all errors and just report errors from the open program?](https://www.reddit.com/r/vscode/comments/q1f2iz/how_to_s

[2021-10-28 13:52] fbricon opened #2189 "Creating the formatter file fails silently if parent folder doesn't exist"
- Execute `Java: Open Java Formatter Settings`
- change path to `path/that/doesnt/exist/formatter.xml`
- Click `Yes` to `' path/that/doesnt/exist/formatter.xml ' does not exist. Do you want to create it?` pop up
=> .vscode/settings.json is properly updated with new path
=> `path/that/doesnt/exist/formatter.xml`  is not opened because it has not been created
=> No error message anywhere.

So
- pare

[2021-10-28 16:22] #2185 closed, assigned to snjeza

[2021-10-28 21:30] #2189 closed, assigned to snjeza

[2021-10-29 12:04] WhiteSte opened #2191 "Mac os, It takes 5 minutes when i open a java project to build it"
[provide a description of the issue]
Hi, when i open a java project, it takes 5 minutes to load it into visual studio in the left corner. It's like every time I re open the same project, it re build again
##### Environment
- Operating System: last mac os
- JDK version:11
- Visual Studio Code version:last
- Java extension version: last

##### Steps To Reproduce
1. [step 1] Open a java project

[Ple

[2021-10-29 20:11] rgrunber commented on #2130
Another remark : It looks like the compilation errors override everything else on the line until the error is addressed. With the change disabled, `System.out.println(greeting());` (greeting undefined) has access to all the `Extract to ..`, `Convert to static ..` when triggering code actions on `out`. Now, the only code action one can get for the entire line is basically to generate the missing me

[2021-10-29 22:19] snjeza commented on #2130
@rgrunber Could you try https://github.com/snjeza/vscode-test/raw/master/java-0.83.1.vsix. It doesn't include a client specific code described at https://github.com/eclipse/eclipse.jdt.ls/pull/1908#discussion_r729495599

[2021-10-30 22:30] 0dinD commented on #2191
@WhiteSte overall it sounds like it would be a better idea to include these files separately (given how large they are), or put them in the JAR file after you've compiled the code (I assume a JAR file is what you mean when you say you want something "shareable"). What if you want to share a new version of your program, but the data files haven't changed? Sitting through a 40-50 GB download when on

[2021-11-01 13:25] #2188 closed

[2021-11-01 19:24] 0dinD commented on #2191
Right, I see now. If you exclude the files with `java.project.resourceFilters`, they will not be copied to the output folder where the compiled `.class` files are stored, which means you can't access them via the class loader. But as long as they are still somewhere on your disk you could still access them using normal file I/O APIs. At that point though I would probably just put them outside of y

[2021-11-01 23:23] WhiteSte commented on #2191
so if I drag them out from src folder I should not get this problem again? I will try tomorrow

[2021-11-01 23:39] 0dinD commented on #2191
Yes, that should work as long as the folder you drag them into is not also a source folder. If you have the Project Manager for Java extension installed you can see the source folders [in the projects view](https://code.visualstudio.com/docs/java/java-project#_project-view).

[2021-11-02 11:59] foxpluto commented on #2123
I have a similar problem with MAC:
[code]
the trick of `./gradlew wrapper` not worked.

Regards,
S.

[2021-11-02 12:14] foxpluto commented on #2123
I have tried the demo project posted above and I have the exact problem reported here:
[code]
My Gradle dependencies are:
[code]

Please, could you indicate me a workaround? I am stuck in a project I could not debug for this issue !!!

Regards,
S.

[2021-11-03 02:21] nickzhums commented on #2057
@CsCherrYY per user feedback, we should consider adding constructors to class declaration as well

[2021-11-03 02:40] CsCherrYY commented on #2057
I have added it to the plan table. Please see the first row.

[2021-11-03 02:41] nickzhums commented on #2057
awesome!

[2021-11-04 01:44] jiangyubao opened #2194 "We need suport for OSGi and Equinox"
[provide a description of the issue]

##### Environment
- Operating System: Macos
- JDK version: jdk 1.8
- Visual Studio Code version: 1.61.2
- Java extension version: 1.0.0

VSCode is very convenient to write JAVA code based on Maven or Gradle. I like it very much. However, I have many OSGi  projects , which are written based on eclipse and run upon Equinox. Can VSCode support OSGi and Equinox? W

[2021-11-04 01:54] snjeza commented on #2194
You may want to take a look at
- https://github.com/eclipse/eclipse.jdt.ls/pull/305
- https://github.com/eclipse/eclipse.jdt.ls/pull/396
- https://github.com/gorkem/jdt.ls.pde/
- https://github.com/testforstephen/vscode-pde

[2021-11-04 02:17] testforstephen commented on #2194
Yes, it's supported by an additional extension https://marketplace.visualstudio.com/items?itemName=yaozheng.vscode-pde. Currently we ourselves leverage this extension to dogfood https://github.com/eclipse/eclipse.jdt.ls project in VS Code, since eclipse.jdt.ls is an OSGI based projects as well.

vscode-pde extension will use a **javaConfig.json** file to resolve your directory structure and eclips

[2021-11-04 02:57] jiangyubao commented on #2194
thank you

[2021-11-04 02:57] #2194 closed

[2021-11-04 08:51] arjenzhou commented on #2116
I have the same issue with gradle. :(

[2021-11-04 12:22] gline9 commented on #2142
I just updated to 1.0.0 and it looks like this issue is fixed in that version.

[2021-11-04 12:22] #2142 closed

[2021-11-05 08:42] ahma0942 opened #2198 "VS Code intelisense working for a small timeframe but later stops working"
[provide a description of the issue]

##### Environment
- Operating System: Arch Linux
- JDK version: openjdk 17 2021-09-14
- Visual Studio Code version: 1.56.2
- Java extension version: v1.0.0

##### Steps To Reproduce
1. When i start VS Code, there is a small window where everything works, but after a few seconds, it stops working

[Please attach a sample project reproducing the error]
[Please a

[2021-11-05 09:46] fbricon commented on #2198
Please attach both files after running the `Java: Open All Log files` command

[2021-11-05 12:46] lonely7345 opened #2199 "the java project not be"
[provide a description of the issue]
VS Code intelisense not  working. and  the java projects display "not java project"
##### Environment
- Operating System:   macos
- JDK version:     jdk 1.8. jdk 1.11.
   JAVA_HOME=/Library/Java/JavaVirtualMachines/jdk1.8.0_261.jdk/Contents/Home
   jdk for language server:   11
- Visual Studio Code version:  1.61.2
- Java extension version:

##### Steps To Repr

[2021-11-05 13:43] ahma0942 commented on #2198
Looks like `client.log` is empty, but here is the content of the `.log` file:

[code]

[2021-11-05 13:45] ahma0942 commented on #2198
Looks like client.log is empty, but here is the content of the .log file

[log.log](https://github.com/redhat-developer/vscode-java/files/7486405/log.log)

[2021-11-05 13:53] jumble commented on #1169
Is there a path forward on this issue?

[2021-11-05 15:02] mozhuanzuojing commented on #2199
@lonely7345 could you share settings.xml

[2021-11-05 15:04] mozhuanzuojing commented on #2199
@lonely7345 min jdk version is 11
You can download openjdk17 for start Java extensions

[2021-11-05 15:12] mozhuanzuojing commented on #1169
@CsCherrYY please watch this .
It related by https://github.com/microsoft/vscode-gradle/issues/1077

[2021-11-05 17:39] snjeza commented on #1169
Is there a path forward on this issue?

@jumble could you try to add the java.import.gradle.arguments property to User Settings?

[2021-11-05 18:31] snjeza commented on #2198
@ahma0942 Could you try to upgrade your gradle to the 7.2 version?

[2021-11-06 02:57] mozhuanzuojing opened #2200 "The package name is not automatically imported when create `H.java`"
When I create a new class `H.java`, under the package com. com is not automatically written

##### Environment
- Operating System:window 10 21H1
- JDK version:17
- Visual Studio Code version:1.63 insiders
- Java extension version:1.0.0

##### Steps To Reproduce
1. git clone https://gitee.com/mozhuanzuojing/java-bug01.git
2. open it and wait buiding
3. create `B\src\public\com\H.java`

[client.log.

[2021-11-06 03:06] mozhuanzuojing commented on #1169
#### After I tested, the gradle service failed to start

[code]

[2021-11-06 04:41] mozhuanzuojing commented on #2200
https://user-images.githubusercontent.com/63572041/140598081-7306e6cf-4b8f-479a-aee9-f6a0fb29186a.MP4

[2021-11-06 04:56] lonely7345 commented on #2199
`{
    "python.pythonPath": "/Users/miaozy/anaconda3/bin/python",
    "editor.minimap.enabled": false,
    "editor.largeFileOptimizations": false,
    "materialTheme.fixIconsRunning": false,
    "editor.renderWhitespace": "all",
    "javascript.updateImportsOnFileMove.enabled": "always",
    "editor.lineNumbers": "on",
    "editor.suggestSelection": "first",
    "vsintellicode.modify.editor.sugges

[2021-11-06 05:01] lonely7345 commented on #2199
the other project is ok, maybe somthing wrong the this project

[2021-11-06 11:36] sirbuni commented on #956
@fbricon Thanks. Uninstalling the extension fixed the issue.

[2021-11-06 11:38] mozhuanzuojing commented on #2199
@lonely7345 `fe` is root project ？ you should open `fe` by VS Code

[2021-11-06 14:13] lonely7345 commented on #2199
the same as   when I opened the whole projec

[2021-11-06 14:16] lonely7345 commented on #2199
![image](https://user-images.githubusercontent.com/120727/140612811-d750749b-3e0a-443f-bd69-e55c553c1725.png)

compare the .proejct file, the left is fe-core ,another is normal project

[2021-11-06 14:56] lonely7345 commented on #2199
**
![image](https://user-images.githubusercontent.com/120727/140613348-631e94eb-0ea3-4c99-acd8-a4a2f5b154b0.png)
**

[2021-11-06 19:54] snjeza commented on #1169
@mozhuanzuojing Could you try to set java.import.gradle.arguments instead of java.import.gradle.jvmArguments and attach your logs?

[2021-11-07 03:01] mozhuanzuojing commented on #1169
@snjeza arguments is not effect. I think this parameter is not recognized by https://github.com/microsoft/vscode-gradle .
because `java.import.gradle.user.home` is ok.

[code]

![image](https://user-images.githubusercontent.com/63572041/140630631-fa58cf71-fad2-4b88-8629-4745bd1df2a2.png)

[2021-11-07 03:53] mozhuanzuojing commented on #2199
@lonely7345 i think incubator-doris need build in linux or macos . and first set env by execute
- run-fe-ut.sh
- run-be-ut.sh
- env.sh
- build.sh
- build_plugin.sh

and I don’t have the energy to study such a complicated project for the time being.

[2021-11-07 14:38] lonely7345 commented on #2199
alfter i run the command  and reopen the project
`mvn -npr eclipse:eclipse -Dskip.plugin=true`
everything is run

[2021-11-08 07:53] ahma0942 commented on #2198
@snjeza Thanks! Worked like a charm :smile: :tada:

[2021-11-08 07:53] #2198 closed

[2021-11-08 08:20] CsCherrYY commented on #1169
Not sure If it's related, currently `vscode-java` and `vscode-gradle` are separate extensions and `vscode-gradle` will consume some settings of `vscode-java`. That's the only way the two extensions work together **now**, though we have a plan to reuse the daemons and so on.

In the above discussion, I find vscode-gradle supports `java.import.gradle.jvmArguments` only, not `java.import.gradle.argum

[2021-11-08 19:22] TylerADavis opened #2201 ""Configure Java runtime" gives no option to install macOS arm64 JDK"
I just opened a java project on an arm64 Mac for the first time, and the extension isn't providing an option to install an arm64 jdk (or recognizing my current jdk).

##### Environment
- Operating System: macOS 12 (arm64)
- JDK version: 11.0.2
- Visual Studio Code version: 1.62.0
- Java extension version: 1.0.0

##### Steps To Reproduce
1. Install Zulu build of openjdk 11 through IntelliJ
    2. J

[2021-11-09 09:18] 0xD8C4A475 opened #2202 "Cannot read property 'slice' of undefined"
[code]

##### Environment
- Operating System: Windows 10 Latest
- JDK version: 1.8-14
- Visual Studio Code version: 1.61.2
- Java extension version: v1.0.0

##### Steps To Reproduce
1. Start VSCode with Language Support for Java(TM) by Red Hat extension
2. Output -> Log(Window)

[2021-11-09 20:54] rdcoe commented on #1673
I am seeing the same issue, which causes a javacore dump file as well as a Snap file to be created in the project workspace.  This project is using WSLv1 and java.home is set to be the WSL installation of adopt-openjdk 11.

Console output with "****" in place of real folder name:

`Activating 'vscode-spring-boot' extension
"spring-boot.ls.java.home" setting not specified or empty value
Trying to u

[2021-11-09 22:44] tigerinus opened #2204 "project keeps getting rebuilt after opening a .java file under target/generated-sourcess"
This issue happens to a project with only pom.xml. Its code are generated by openapi code generator using OpenAPI spec from online. Any artifact built from generated source code will be published for public use.

##### Environment
[code]

[code]

[code]

[code]

##### Steps To Reproduce
1. `git clone https://github.com/newpathfly/newpathfly-public-sdk.git`
2. open the cloned project with java exte

[2021-11-10 02:14] snjeza commented on #2204
@tigerinus Could you try the following patch:

[code]

[2021-11-10 02:48] yaegar opened #2205 "Add Copy qualified name commend for Types, Fields and Methods"
Add Copy qualified name commend for Types, Fields and Methods. This will enable to easily copy the qualified name of a symbol.

[2021-11-10 03:58] alfadb opened #2206 "When there are blocks of text in the code, the indentation automatically becomes 8 Spaces."
[provide a description of the issue]

##### Environment
- Operating System: Windows 11
- JDK version: 17
- Visual Studio Code version: 1.62.1
- Java extension version: 1.0.0

##### Steps To Reproduce
1. Set the editor default indentation to 4 space.
2. Open a java code file which have text block code.

Open the java code file which have not text block:
![image](https://user-images.githubuserconten

[2021-11-10 06:19] testforstephen opened #2207 ""java.saveActions.organizeImports" setting doesn't work on Windows"
This issue is originally created by @alx1024 at https://github.com/microsoft/vscode-java-debug/issues/1071

[2021-11-10 07:58] jdneo commented on #1709
douira, you need to install this extension:https://marketplace.visualstudio.com/items?itemName=vscjava.vscode-java-pack

[2021-11-10 09:22] fbricon commented on #2205
Closing as duplicate of #374

[2021-11-10 09:22] #2205 closed

[2021-11-10 09:23] fbricon commented on #1642
Closing as duplicate of #374

[2021-11-10 09:23] #1642 closed

[2021-11-10 09:34] hhkrob1 opened #2208 "relaod vscode or update pom.xml, all compiled class file will delete, need to be recompile again"
[provide a description of the issue]

##### Environment
- Operating System: windows 11
- JDK version: jdk1.8 and jdk 11
- Visual Studio Code version: 1.62.1
- Java extension version: 1.0.0

##### Steps To Reproduce
1. [step 1]
Use maven, Project directory structure
1): src is in ./src/main/java/com/example/App.java
2): out is in ./target/classes/com/example/App.class
2. [step 2]
1): vscode setting

[2021-11-10 09:35] fbricon commented on #2206
Indentation detection is a feature from VS Code proper. Have you try setting the following?:

[code]

[2021-11-10 12:20] hhkrob1 commented on #2208
![java_reload](https://user-images.githubusercontent.com/68175970/141111677-a13a6857-ec73-4f4b-b4d1-72850d562d80.gif)
Reproduce reload vscode gif, thanks.

[2021-11-10 13:05] Eskibear commented on #2201
This webview is implemented in https://github.com/microsoft/vscode-java-pack

BTW, the architecture is fetched via lib [arch](https://www.npmjs.com/package/arch), but I'm not sure whether aarch64 is supported. See: https://github.com/microsoft/vscode-java-pack/blob/a656bd303b633bd0542b1acb090d224018e93b50/src/utils/adoptiumApi.ts#L114-L118

Contribution is welcome.

[2021-11-10 13:27] testforstephen commented on #2201
what node.js API returns is **arm64**, which is equivalent to **aarch64** .

[2021-11-10 13:32] Eskibear commented on #2201
Above is the reason to use `arch` lib instead of native API `os.arch()`.   But for macOS we don't have such problem and we can always map `arm64` to `aarch64` to find compatible JDK.

[2021-11-10 17:18] jumble commented on #1169
I can partially verify @CsCherrYY 's above statement. Specifying values for `java.import.gradle.arguments` in user settings does not affect Java or Gradle execution.

[2021-11-10 18:19] fbricon commented on #155
Might be doable now starting with vscode 1.62:

The supportHtml property defaults to false. When disabled, VS Code will strip out any raw HTML tags that appear in the Markdown text.

https://code.visualstudio.com/updates/v1_62?WT.mc_id=devcloud-00000-cxa#_markdownstringsupporthtml

[2021-11-11 00:33] #2130 closed

[2021-11-11 03:23] alfadb commented on #2206
Ok, it works, thanks.

[2021-11-11 03:23] #2206 closed

[2021-11-11 03:41] MaoYiKun12138 opened #2209 "vs code does not correctly identify Maven projects created through maven commands"
A project created by using the Maven command will not be identified when opened with vs code and will not be seen in the Java Projects view. You must manually execute the `mvn eclipse:eclipse` command vs code to correctly identify the project

##### Environment
- Operating System: Mac OS 11.6
- JDK version: adoptopenjdk-11
- Visual Studio Code version: 1.62.1
- Java extension version: 1.0.0

#####

[2021-11-11 06:27] hhkrob1 commented on #2208
I just found the version 0.8.2 is work well. So I from 1.0.0 fallback to 0.8.2 now. But I'd like you to confirm it. Thanks!

[2021-11-11 10:32] kaskavalci commented on #543
For me this wasn't enough to follow google style. Following steps helped me

[code]

and add the following config to settings.json

[code]

further reading: https://www.sethvargo.com/using-google-java-format-with-vs-code/

[2021-11-11 19:21] matihost commented on #2116
The workaournd allows to operate VSCode, but it is not possible to run tests from VSCode directly - in case there are some test dependencies etc

PS. It is not a technical argument, but maybe a product argument:
https://youtrack.jetbrains.com/issue/IDEA-253066
is fixed in the competition.

[2021-11-11 22:47] mentaloaf commented on #1732
This is still an issue with vscode 1.62.1, Java Language Support version 1.0.0.  Any status updates?

[2021-11-12 01:49] tigerinus commented on #2204
@snjeza thanks. issue solved.

[2021-11-12 01:49] #2204 closed

[2021-11-12 14:17] fabianMendez opened #2210 "Unable to set classpathVariable"
I have an eclipse project that references some libraries using a classpath variable in the `.classpath` file, like this:
[code]

I found that this classpath variable is configured in the `.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs` file inside the eclipse workspace, like this:
[code]

So I tried putting this preference in the `.settings/org.eclipse.jdt.core.pr

[2021-11-12 20:44] snjeza commented on #2210
org.eclipse.jdt.core.classpathVariable.* is an instance (workspace) preference. It can't be set at the project level.
Java LS doesn't support setting a classpath variable.
You can try to set it in
~/.config/Code/User/workspaceStorage/<YOUR_WORKSPACE>/redhat.java/jdt_ws/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs

[2021-11-13 10:32] fabianMendez commented on #2210
Indeed it worked. Thanks

I used the `Java: Open Java Language Server log file` command to identify the workspace but is there a better way to do it?

[2021-11-13 16:36] snjeza commented on #2210
@fabianMendez You can use

[code]

[2021-11-13 16:44] fabianMendez commented on #2210
Thanks

[2021-11-13 16:44] #2210 closed

[2021-11-14 23:19] 0dinD opened #2211 "Improve occurrences highlighting"
See also: #2193

The extension currently supports [highlighting occurrences](https://code.visualstudio.com/api/language-extensions/programmatic-language-features#highlight-all-occurrences-of-a-symbol-in-a-document), but it's limited to symbols like classes, variables and methods. There are a number of additional occurrences which could be useful to provide highlights for, such as:

- Method exit p

[2021-11-14 23:20] 0dinD opened #2212 "Provide occurrence highlights in lightweight mode"
When `java.server.launchMode` is set to `LightWeight`, no [occurrence highlights](https://code.visualstudio.com/api/language-extensions/programmatic-language-features#highlight-all-occurrences-of-a-symbol-in-a-document) are available. I would argue that there's no good reason not to provide this feature, as the language server could easily compute occurrence highlights even in lightweight mode.

#

[2021-11-14 23:26] 0dinD opened #2213 "Wrong occurrence highlight type for methods and types"
When placing the cursor over a method call or a type, other occurrences of that symbol are highlighted using [occurrence highlight](https://code.visualstudio.com/api/language-extensions/programmatic-language-features#highlight-all-occurrences-of-a-symbol-in-a-document). But the highlights reported by the extension are write occurrences, which makes no sense for method calls or types.

##### Enviro

[2021-11-15 08:09] gaurav6386 commented on #2182
@J-Rohault-dF Pair class is part of javafx.util package of javafx(not java) library. Replacing java with javafx in your import statement will resolve that error.
In case you didn't have javafx library set up on your system you can get started with it from [here](https://openjfx.io/openjfx-docs/#introduction)

[2021-11-15 11:18] Osolemio44 opened #2215 "VSCode problems list does not include compilation errors"
## Description

VSCode Java polugin is not showing the compilation problems before i compile the project.
Not sure, but maybe is because i have the "autobuild" disabled.

The problem is that if i turn on the autobuild option it interferes with Maven and makes VSCode totally unusable for java because every time I launch a maven command, every step Maven do, in the background, the plugin is continua

[2021-11-15 15:09] zhouxinghong commented on #2097
Hello, teacher!
      excuse me! Could this problem be fixed by the next milestone? Looking forward to your fix in the next milestone, thank you very much!

[2021-11-15 15:10] zhouxinghong commented on #2097
Hello, teacher!
      excuse me! Could this problem be fixed by the next milestone? Looking forward to your fix in the next milestone, thank you very much!

[2021-11-15 17:56] #2110 closed

[2021-11-15 20:20] rgrunber commented on #2182
Thanks for confirming. I'm closing this for now since there's clearly some ways to get some kind of Pair object.

[2021-11-15 20:20] #2182 closed

[2021-11-16 09:02] jdneo commented on #2208
I can reproduce this bug on my side when the autobuild is turned off.

[2021-11-16 14:12] LinoBarreca opened #2216 "Incorrect value of classpathentry element in the .classpath file if in pom.xml the build.sourceDirectory is relative"
Short description:
A pom file with a source directory containing "../" isn't imported correctly

Long drescription:
We have a maven "tree" of projects in which some source files have to be shared.
The project is split into components and each component has hundredths of modules (but this doesn't matter for the bug, however that's the reason why we open the code "by components", it's too big to wor

[2021-11-16 14:21] schulzf commented on #1140
Doesn't it propose a generated option?

I have two options on mine:
-Add default serial version ID
-Add generated serial version ID

The latter generates a 20 char long ID.

[2021-11-16 19:23] gurgelbrazil commented on #363
Hallo,

I faced the same error today ... curiously, up to friday, I  was working as usual, there was no major update (I supose).

Here you can see the startup log:

_!SESSION 2021-11-16 16:12:24.707 -----------------------------------------------
eclipse.buildId=unknown
java.version=11.0.11
java.vendor=Ubuntu
BootLoader constants: OS=linux, ARCH=x86_64, WS=gtk, NL=pt_BR
Command-line arguments:  -d

[2021-11-16 19:45] gurgelbrazil commented on #363
Just another note. Before I post, I have realized that the JLS points that a file it is not available:
(Caused by: org.eclipse.core.internal.dtree.ObjectNotFoundException: Tree element '/XXXX/build/XXXX-6.1.0.X/WEB-INF/WEB-INF/wsdl/YYYYYY.wsdl' not found.)

By the other hand, I have checked and the file is available and with proper rights to my user. BTW, this file, /XXXX/build, is the maven's/com

[2021-11-16 20:56] #1959 closed

[2021-11-17 02:44] jdneo commented on #684
As for now the client snippet will always work and the server snippet will update to the list once server is ready. This issue can be closed. @testforstephen @rgrunber

[2021-11-17 03:13] jdneo commented on #1422
Observed an additional textedit that removes several lines when resolving the completion item, and it only happens when there are no other imports in the file.

[code]

[2021-11-17 12:08] CodingBeast77 opened #2217 "Same Error!"
[provide a description of the issue]

##### Environment
- Operating System:
- JDK version:
- Visual Studio Code version:
- Java extension version:

##### Steps To Reproduce
1. [step 1]
2. [step 2]

[Please attach a sample project reproducing the error]
[Please attach logs](https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#enable-logging)

##### Current Result

##### Expected Res

[2021-11-17 12:24] thelaoshi opened #2218 "trust settings for the gradle wrapper in my vscode settings are added, but seem to be ignored (always get the trust popup)"
The trust settings for the gradle wrapper in my local settings file seem to be ignored, because I always get the popup where I get asked, if I trust the gradle wrapper.
The problem is, this way the project gradle wrapper will never be used. vscode always uses the "default" wrapper with a too new gradle version for my "old" projects.

##### Environment
- Operating System: Windows 10 (using ubuntu i

[2021-11-17 14:08] clembo590 opened #2219 "call hierarchy does not find callers (but it should)"
##### Environment
- Operating System: macos 12.0.1
- JDK version: 11
- Visual Studio Code version: 1.62.2
- Java extension version: java extension pack v0.18.6

##### Steps To Reproduce
I have created a public repo so that the issue is easily reproducible:

step1:  clone this repo:
https://github.com/clembo590/vscodeissues

step2: run `mvn clean install`

step 3: "import the project in vscode"
ope

[2021-11-17 16:23] rgrunber commented on #2110
This should at least give users the option configure removal of old unused files. Long term, I think we need to look at sharing index files by caching them in global storage somewhere.

[2021-11-18 19:29] Osolemio44 opened #2220 "formatter not working"
i have configured and exported from eclipse a formatter configuration file following [youre tutorial](https://github.com/redhat-developer/vscode-java/wiki/Formatter-settings). This configuration works perfectly on Eclipse. But on VSCode it doesnt.

This is the expected result:
![image](https://user-images.githubusercontent.com/55595063/142483327-9d0238b1-5bb3-4eb4-bee6-7f580188eb0e.png)

This is w

[2021-11-18 21:11] snjeza commented on #2220
I can't reproduce the issue.
@Osolemio44 could you, please, attach your logs?

-  enable the `"java.trace.server": "verbose"` setting,
- restart vscode
- attach the logs (Command palette : `Java: Open all log files`)

See [Enable logging](https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#enable-logging)

[2021-11-18 23:09] snjeza commented on #2220
@Osolemio44 could you check if C:\libs\formatersConfigs\java\java_formatter_rules.xml exists?
It might be a spelling error. Have you named the directory formatterConfigs or formaterConfigs?

[2021-11-19 06:38] Osolemio44 commented on #2220
there you have the logs:
[client.log.2021-11-19.zip](https://github.com/redhat-developer/vscode-java/files/7568250/client.log.2021-11-19.zip)

The folder is correctly named ( i know there is a gramatical mistake but the path is correct):
![image](https://user-images.githubusercontent.com/55595063/142576792-0d4efb14-adf5-4c43-b93b-528480ffa533.png)

[2021-11-19 07:50] nickzhums commented on #2057
Per survey feedback, "Attach Source" is another action user has requested

[2021-11-19 10:28] PROxZIMA opened #2221 "Java: Option to lint only opened/active file"
[provide a description of the issue]

##### Environment
- VS Code Version: 1.62.2
- Commit: 3a6960b964327f0e3882ce18fcebd07ed191b316
- Date: 2021-11-11T20:51:30.084Z
- Electron: 13.5.2
- Chrome: 91.0.4472.164
- Node.js: 14.16.0
- V8: 9.1.269.39-electron.0
- OS: Linux x64 5.13.0-7620-generic
- JDK version:
  - openjdk 11.0.11 2021-04-20
  - OpenJDK Runtime Environment (build 11.0.11+9-Ubuntu-0ubunt

[2021-11-19 10:46] fbricon commented on #2221
The Java Language server treats the project as a whole, so doesn't build (then lint) only just opened files, however you have a couple options to mitigate that behavior:

- In the problems filter, select : show active file only. This is just a cosmetic workaround as all files are still processed behind the scenes
- Set `java.server.launchMode` to `lightweight` in your settings.json. LightWeight mo

[2021-11-19 11:01] #2221 closed

[2021-11-19 11:39] bitsInnovate00 opened #2222 "java server refreshing the workspace (cleaning and building) for each restart which is taking a lot of time"
[vscode java server refreshing the workspace (cleaning and building) for each restart which is taking a lot of time]

##### Environment
- Operating System: Windows 10
- JDK version: JDK 11
- Visual Studio Code version: 1.61.2
- Java extension version: v0.18.6
- Java Debugger extension version: v0.36.0

##### Steps To Reproduce
Please refer the [jira](https://github.com/microsoft/vscode-java-debug/

[2021-11-19 15:47] rgrunber commented on #2217
Can you describe what the issue is ? Is there an existing issue that already describes your issue ?

[2021-11-19 17:02] rgrunber commented on #2222
Is the code base available anywhere to try to reproduce this ? @fbricon are there any enhancement requests you're aware of on JDT-LS or m2e to allow a Maven import to happen without also doing a project rebuild ?

[2021-11-19 17:19] rgrunber commented on #2215
You should still be able to see a lot of compilation/syntax errors, even without autobuild turned off because there's a lot of static analysis built into the tooling. If I turn off autobuild, I won't get the classfiles updated on save, but I still see plenty of errors reported the moment I finish the keystroke.

Do you have a sample project or a certain type of error that isn't being caught ? Is y

[2021-11-19 21:04] danuvian opened #2223 "Request: Auto compile test classes to target/test-classes"
With the Java plugin, VSCode auto compiles the source code in a Maven project to target/classes after modifying the source code and saving.

However, changes to source code in the test classes (located at src/test/java) are not compiled to target/test-classes automatically.

This feature request is to have VSCode auto compile the test classes to target/test-classes when a change is detected.

Than

[2021-11-19 22:26] #2223 closed

[2021-11-19 22:26] danuvian commented on #2223
Never mind. My bad, seems like it's working.

[2021-11-20 00:03] snjeza commented on #2208
@hhkrob1  @jdneo Could you, please, test https://github.com/snjeza/vscode-test/raw/master/java-1.1.0.vsix

[2021-11-20 00:05] snjeza commented on #2222
@bitsInnovate00 @rgrunber Could you, please, check https://github.com/snjeza/vscode-test/raw/master/java-1.1.0.vsix ?

[2021-11-20 08:00] Osolemio44 commented on #2215
Its a work project, so i cant share it, but on monday i will try to find an error that is displayed on eclipse and not in VSCode.

[2021-11-20 15:43] mozhuanzuojing commented on #2200
@snjeza could you help me?

[2021-11-20 17:28] softwareCobbler commented on #370
I am trying to load https://github.com/lucee/Lucee/tree/6.0 but I get this error too.
To get it to resolve all the types and symbols, from a fresh clone I need to tweak the project's JRE paths in eclipse, but from there on out Eclipse 2021-09 works fine, providing autocomplete and jump-to-decl and etc. Once that is fixed up, the VsCode plugin loading the same project exhibits this issue.

[code]

[2021-11-20 19:09] snjeza commented on #2200
@mozhuanzuojing src/public is not a source directory. You can try the following patch:

[code]

[2021-11-21 00:39] mozhuanzuojing commented on #2200
@snjeza I defined the source code location in module `S`
I must define the public source directory of all modules in `S`, centrally compile and avoid circular dependencies.

[code]

[2021-11-21 01:09] snjeza commented on #2200
buildship doesn't add src/public to .classpath. You can try the following patch:

[code]

[2021-11-21 01:24] mozhuanzuojing commented on #2200
@snjeza it work！amazing！
## Thank you very much for your generous help. This helped me solve a particularly big problem.

[2021-11-21 01:25] #2200 closed

[2021-11-21 01:32] mozhuanzuojing commented on #2200
@snjeza But the `public` source code is compiled twice, module `S` is compiled once, and module `B` is compiled once.
Is there no better solution? If so, I will accept it

[2021-11-21 17:40] mohitsuman opened #2224 "Switch to main branch and make it as default"
Let's rename the default branch from master to `main`. Currently this is the default behaviour adopted by the community.

Migration Steps: https://github.com/github/renaming.

[2021-11-22 15:30] rgrunber commented on #684
The client side snippets don't always work for me. For a Maven project (eg. spring-petclinic), the snippets resolve initially, but as soon as the project import begins (standard LS), the completion no longer responds until after the build is completed, which can take a bit of time. Seems like this is still an issue.

[2021-11-22 17:28] rgrunber commented on #2114
Could you try the following and let me know of the result :

Add `-Djdt.ls.debug=true` to the `java.jdt.ls.vmargs` property under Settings. You can do this for user or workspace settings. Import the project as usual ensuring the problem still happens.

From the command palette run : `Java : Open Language Server Log File`. I don't think there should be any errors here that are related, but it's wor

[2021-11-22 21:11] rgrunber commented on #2222
I'm not sure if your fix improves anything for me. If I import lemminx (as an example), it takes about 30s with or without your vsix. In fact, I can see that new classfiles are still generated on import, and the build seems to happen as well.

I guess the problem is a user/process could easily modify the sources between the language server shutting off and starting back up, so it makes sense to re

[2021-11-23 00:48] snjeza commented on #2222
@rgrunber Could you, please, try spring-petclinic?

[2021-11-23 02:18] jdneo commented on #684
Yes I can also repro it. Put a breakpoint at https://github.com/redhat-developer/vscode-java/blob/b4f8b07d774acb17bee19f3b06f4d0364a72c682/src/snippetCompletionProvider.ts#L33. It actually returns the snippets but for some unknown reason, VS Code does not display them. Let me investigate what's happening.

[2021-11-23 02:52] CsCherrYY opened #2225 "Support Gradle compatibility check"
There will be a compatibility issue if we use a mismatch version pair of JDK and Gradle distribution. Currently, the Java extension will not report this error and we can only find it in the server log. In this case, the language server doesn't work.

Here we should report a compatibility issue to tell the user if it occurs. The compatibility table can be found in the Gradle official page: https://

[2021-11-23 06:34] Eskibear commented on #2025
@MiruhiMiruhi I'm considering supporting asdf-vm but I didn't find any Java related instructions in its official docs.
- How do you set up it for Java?
- What's the folder structure of `~/.asdf/installs/java/`directory? JDK distros for each subfolder?
- Can `~/.asdf` be a different path? E.g. via some env like ASDF_DIR just like SDKMan does.

[2021-11-23 10:25] mozhuanzuojing commented on #2222
@snjeza I just used your `1.1.0` for testing and it has fixed the problem. thank you very much.

[2021-11-23 10:31] mozhuanzuojing commented on #2222
@snjeza . version `1.0.0`  reproduced this same problem with another #2071, but your `1.1.0` fix it.

[2021-11-23 14:00] rgrunber commented on #2222
FWIW, I tried with spring-petclinic initially and noticed there was some improvement  in the time it takes to finish the build (and get to `ServiceReady`). I just didn't see it when I tried lemminx so figured maybe it was some other cause. I'll try again more thoroughly.

[2021-11-23 17:29] snjeza commented on #2222
@rgrunber could you, please, check https://github.com/snjeza/vscode-test/raw/master/java-1.1.1.vsix with enabled and disabled the `java.autobuild.enabled` property?

[2021-11-23 18:40] rgrunber commented on #2222
With `java.autobuild.enabled:false`, with/without this change, a workspace build takes about ~15s when the LS workspace is cleaned and ~5s if just re-opening the workspace. When I time the clean workspace job, it seems to take ~2s so there definitely is some improvement by not having it run all the time.

[2021-11-23 20:05] snjeza commented on #2222
@rgrunber Could you, please, test with `java.autobuild.enabled:true`?

[2021-11-24 01:51] jdneo commented on #2208
@snjeza Apologize for the late reply. The private bit works on my machine.

[2021-11-24 03:33] rgrunber commented on #2222
With `java.autobuild.enabled:true`, it's about ~25s from a clean workspace, and ~17s. It seems to be about the same for a regular build and your change. Given that the workspace clean happens in a separate thread, I wouldn't be surprised if it cannot really be measured, though maybe it just reduces pressure on the CPU for more intensive projects. Are you seeing the same thing ?

[2021-11-24 04:01] snjeza commented on #2222
@rgruber When restarting a workspace, Java LS with the PR doesn't call the clean workspace action. See https://github.com/eclipse/eclipse.jdt.ls/pull/1948/commits/999001c8d565a3c2d120bfd9de07de4f7493ea47#diff-f23d0258ce24117c110acd6753e8490a09fbdf0bc039d662bdffe279c8c28469R320
Java Build Status without the PR (for each restart):
![rgrunber1](https://user-images.githubusercontent.com/388609/1431723

[2021-11-24 04:35] safield commented on #2123
@rgrunber Can you remove the question label and apply an appropriate one?

[2021-11-24 05:12] #618 closed

[2021-11-24 05:21] abshekh commented on #2220
@Osolemio44 i use [https://marketplace.visualstudio.com/items?itemName=mwpb.java-prettier-formatter](https://marketplace.visualstudio.com/items?itemName=mwpb.java-prettier-formatter) for formatting. hope it helps you.

[2021-11-24 06:26] jdneo commented on #618
For anyone who are watching this thread. In the next release we will have a new setting `java.import.generatesMetadataFilesAtProjectRoot` to set whether those metadata files will be generated in the project root or not.

By default it's `false`, means they will be hidden in the workspace storage.

More information about how to change it, check here: https://github.com/redhat-developer/vscode-java/

[2021-11-24 08:03] Fanatic17 commented on #1232
Same problem here, I'd love to use VSCode for java but i need actual maven support. I have a project made of many modules and the internal ones work fine, but the ones coming from our internal maven repo are not recognized in the editor. Obviously compiling and running the project works just fine but not using the editor at its best is kind of a deal breaker.

[2021-11-24 11:22] Osolemio44 commented on #2220
thanks, but since the java plugin already have a formatter, i prefer to use this one and make it work that using another plugin that do the same.

[2021-11-24 18:35] rgrunber commented on #2222
I've re-tried again with lemminx, since maybe spring-petclinic builds too quickly on my machine. It went from ~17s normally, to ~3s with this change. That's definitely **a big deal** . Yes, I can confirm the "Clean workspace..." doesn't run any longer.

[2021-11-24 19:16] snjeza commented on #2220
@Osolemio44 you have the following settings:

[code]
Could you try
[code]
or
[code]

[2021-11-24 19:30] 0dinD commented on #2220
As @snjeza suggests, I would try the following (I've seen this being the solution before):
[code]
The setting does say it takes a URL, not a file path. This allows specifying something like:
[code]

(Which I think is unnecessary and makes the setting more complicated, but that's a separate issue.)

I think the reason why using file paths doesn't seem to work on Windows (but does on Linux/macOS) is

[2021-11-24 19:35] 0dinD commented on #1633
Seeing as eclipse/eclipse.jdt.ls#1930 was merged (and fixes this issue), this issue can now be closed.

[2021-11-24 19:35] #1633 closed

[2021-11-24 20:08] #2222 closed

[2021-11-25 07:47] Osolemio44 commented on #2220
I have no idea what happened, but I was going to make the changes that you have suggested but I just see if it works now. Could it be that something was changed in the last VSCode update? Anyway thanks, the formatter takes me. And if it fails me again, I'll try changing the route.

[2021-11-25 07:47] #2220 closed

[2021-11-25 09:28] dominik42 commented on #1273
Please provide a QuickFix for unsafe type check warnings:
"warning Type safety: Unchecked cast from X to Y"

[2021-11-25 12:11] whinc opened #2227 "”Go to References" result contain wrong referrences"
[provide a description of the issue]

##### Environment
- Operating System: macos 10.14.6
- JDK version: openjdk 11.0.11
- Visual Studio Code version: 1.62.3
- Java extension version: v1.0.0

##### Steps To Reproduce
1. define custom `User` class
2. click context menu "Go to referrences" on `User` class

[Please attach a sample project reproducing the error]
[Please attach logs](https://github.com

[2021-11-25 12:34] fbricon commented on #2227
Can you please provide a sample project reproducing this issue?

[2021-11-26 05:00] 00001011b commented on #2201
Now it can detect arm-macOS collectly, but still fail to recognize my existing jdk which is installed at '~/Library/Java/JavaVirtualMachines'.

There are two jdk (see below) in my OS. Failed to check the 'x64' one.
<img width="1345" alt="截屏2021-11-26 下午12 48 53" src="https://user-images.githubusercontent.com/89633635/143528409-d8673913-9f91-4aec-aff0-8551c1cf6fe3.png">

<img width="1169" alt="截屏20

[2021-11-26 05:48] Eskibear commented on #2201
We'll cover that in next release of java-extension-pack, using a [new package](https://github.com/Eskibear/node-jdk-utils/) to find all installed java runtimes.

BTW, we've changed the UX of "configure java runtime" page, separating "project JDKs" from "Java tooling runtime", to avoid confusion.
@00001011b "Installed JDKs" tab is now removed. So I want to know whether this tab helps, and how you u

[2021-11-26 09:24] jdneo opened #2228 "When 'org.eclipse.jdt.core.prefs' exist both in project root and workspace storage, the project root one is not working"
##### Environment
Version: 1.62.3 (user setup)
Commit: ccbaa2d27e38e5afa3e5c21c1c7bef4657064247
Date: 2021-11-17T08:11:14.551Z
Electron: 13.5.2
Chrome: 91.0.4472.164
Node.js: 14.16.0
V8: 9.1.269.39-electron.0
OS: Windows_NT x64 10.0.22000
JDK: 1.8
Java extension version - v1.1.0

##### Steps To Reproduce
1. Make sure the settings `java.import.generatesMetadataFilesAtProjectRoot` is set to false
2.

[2021-11-26 09:58] raulvaldoleiros opened #2229 "Support for org.junit.jupiter.api.DynamicTest"
It would be nice if the java extension for vscode support org.junit.jupiter.api.DynamicTest and org.junit.jupiter.api.TestFactory.
Today the generated tests don't appear in the test view and isn't possible to see the generated test output.

##### Steps To Reproduce
Create a dynamictest with testfactory and run it
The generated test will not appear in the test view

[2021-11-26 11:31] Osolemio44 commented on #1140
The proposed solution of creating a separate file has worked for me. Even after restarting VSCode. However, it seems to me a not very aesthetic solution. Couldn't this setting be included directly in the plugin and enabled by default? Or at least a configuration of the plugin itself to avoid having to create a separate file for this?

[2021-11-26 12:43] 00001011b commented on #2201
I agree to remove it.(thank you for your reply)

[2021-11-26 16:31] rgrunber commented on #2180
Could you describe what issue you're seeing ? What were you doing when it occured ?

[2021-11-26 21:07] rgrunber commented on #2218
The allowed wrappers, under `java.imports.gradle.wrapper.checksums`, only get added to the list of allowed wrappers [when the property changes](https://github.com/eclipse/eclipse.jdt.ls/blob/master/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/managers/GradlePreferenceChangeListener.java#L122), but not on imports, so even if someone permits their own wrapper, it won't get recognized

[2021-11-26 22:01] randombck4r opened #2231 "Standard mode does not work on standalong java files"
##### Environment
- Operating System: Windows 10
- JDK version: 17.0.1
- Visual Studio Code version: 1.62.3
- Java extension version: 1.1.0

##### Steps To Reproduce
1. Open any .java file
2. Switch to standard mode

logs:
TypeError: Cannot read property 'fsPath' of undefined
	at C:\Users\Username\\.vscode\extensions\redhat.java-1.1.0\dist\extension.js:2:801280
	at Object.t.prepareExecutable (C:\U

[2021-11-27 00:22] rgrunber commented on #2123
Can you retry the project with the latest release, `v1.1.0`. The errors disappear for me every time I update to the newer release.

[2021-11-27 01:39] alejophotoart commented on #1310
Hi @snjeza, i have same problem that @hanct. if implement this solution in my project, it will work?

[2021-11-27 01:42] hanct commented on #1310
Hi,
U can try to use this setting java.import.gradle.user.home

[2021-11-27 04:53] mozhuanzuojing commented on #2231
@randombck4r could you share your settings.json

[2021-11-27 16:10] whinc commented on #2227
@fbricon it'a a demo below generated by [spring initializr](https://start.spring.io/)

[demo.zip](https://github.com/redhat-developer/vscode-java/files/7612015/demo.zip)

![image](https://user-images.githubusercontent.com/5096493/143688441-f4ab25a3-1460-43e1-8393-2b847b67ad67.png)

[2021-11-27 20:26] randombck4r commented on #2231
Once I delete java.home and java.configuration.runtimes settings from older versions and let it restart, the error is gone.

[2021-11-27 21:53] jkpubsrc opened #2232 "Repeated out of memory error (Extension: Language Support for Java - Red Hat)"
Extension: Language Support for Java (Red Hat)

OS: Ubuntu Linux

---

The extension tells me again that it runs out of memory. This is quite strange as I am developing a very small Java Module here and it already has increased the memory limit. It had been increased to 2G and now it has been increased to 4G by some kind of logic trying to compensate.

There seems to be a fundamental flaw in the L

[2021-11-27 22:22] snjeza commented on #2232
@jkpubsrc Could you, please, attach a sample project and show your java.jdt.ls.vmargs property?

[2021-11-27 23:23] randombck4r commented on #2231
`
{
  "editor.insertSpaces": false,
  "java.home": "D:\\Tools\\Java\\jdk-17.0.1",
  "java.configuration.runtimes": [
    {
      "name": "JavaSE-11",
      "path": "D:\\Tools\\Java\\jdk-11.0.11+9",
    },
    {
      "name": "JavaSE-17",
      "path": "D:\\Tools\\Java\\jdk-17.0.1",
      "default": true
    },
  ],
  "editor.cursorSmoothCaretAnimation": true,
  "editor.suggestSelection": "first",

[2021-11-28 04:50] sherrif10 commented on #956
Thanks alot. it wortheth like a charm

[2021-11-28 18:14] chaitanyabiswas commented on #2231
Yes, for me also it's not working.
the older version is working fine.

[2021-11-28 20:47] francisco-zr commented on #2231
Same here, i can't compile a single file with this version, needed to rollback to 1.0

[2021-11-28 22:31] jkpubsrc commented on #2232
Update: My system has a total of 32 GByte memory and I terminated almost all processes, and the memory has been increased to 16 GB for the language server. Now I turned it back down to 4G as increasing it doesn't seem to help. My `settings.json` now is (again):

[code]

Right now I can't attach a sample project as this is still under development. It will be released as open source in a week or two

[2021-11-28 23:10] jkpubsrc commented on #2232
Don't know if it helps, but here is another detail: Sometimes (!) if I try to refactor-rename a variable or method, the edit field appears, I enter the new identifier, press enter and then I get a short error notice about some kind of internal error. No refactoring is done in this case. And a few moments later (indeterministic) I then get the out of memory error.

[2021-11-28 23:46] snjeza commented on #2232
@jkpubsrc could you, please,  attach Java LS log - [Enable logging](https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#enable-logging)

[2021-11-29 00:41] jkpubsrc commented on #2232
I'll try that. Please be patient.

[2021-11-29 01:29] mozhuanzuojing commented on #2231
@randombck4r  cannot reproduce

![image](https://user-images.githubusercontent.com/63572041/143795433-7872bb96-63d3-41f2-a356-2d899779f17e.png)

[2021-11-29 05:16] mozhuanzuojing opened #2233 "Every time open the workspace, the `vscode-java` recompiles the entire project【regress】"
After compiled the Java project in the workspace, close the workspace and reopen it. The `vscode-java` re-cleans and compiles the project.

`Cleaning` ... `Compiling` ...

##### Environment
- Operating System: windows 10
- JDK version: JDK 17
- Visual Studio Code version: 1.62.3
- Java extension version: 1.1.0

##### Steps To Reproduce
1. git clone -b 2.5.x https://github.com/spring-projects/sprin

[2021-11-29 15:50] snjeza commented on #2233
Related issue - https://github.com/redhat-developer/vscode-java/issues/793

[2021-11-29 15:59] rgrunber commented on #2233
@snjeza , if it's the same issue, feel free to close this as a duplicate.

[2021-11-29 16:02] snjeza commented on #2233
A duplicate of #793

[2021-11-29 16:11] rgrunber commented on #2231
I suspect this might be due to https://github.com/redhat-developer/vscode-java/pull/2085/files#diff-2d9ec606b265a83596a734df153c4ef01523700dc2576dcf1a80c9092c14d6d3R114 . We should be using `storagePath` as that is set to handle the case where no workspace is opened.

If I can confirm it, I can push a change soon.

[2021-11-29 18:33] #2231 closed

[2021-11-29 18:41] mattwelke opened #2235 "Syntax highlighting stops working with Stream of strings as class static member"
I noticed that when I arranged my code a certain away, the Java syntax highlighting stops working for a portion of the code, even though the code compiles and runs fine.

The code in question is in the file `src/test/java/com/javavscodestarter/CreditCardNumberRedactorTest.java` (see link below). Lines 14-40 lose the syntax highlighting. The "format document" command also doesn't affect those lines

[2021-11-29 18:43] mattwelke commented on #2235
This is actually the second instance of this problem happening in my code base. I noticed it earlier when I was using a regex expression string for the value of a different class's static member:

![image](https://user-images.githubusercontent.com/7719209/143924691-c76a0ec0-2f9a-4977-8600-b9d4d492589d.png)

I can create a separate issue for that instance of the problem, or I can keep it contained

[2021-11-29 19:16] rgrunber commented on #2231
We should have a release to include this by early December, but you can try out https://download.jboss.org/jbosstools/jdt.ls/staging/java-1.2.0-470.vsix until then, and also to confirm it resolves the issue.

[2021-11-29 19:49] 0dinD commented on #2235
I assume you're using the default color theme, not some modified version?

The syntax highlighting does look a bit strange, but I'm not able to reproduce it when cloning your project (I'm also using version `1.1.0` of the extension). Can you run the **Developer: Inspect Editor Tokens and Scopes** command from the command palette (`Ctrl` + `Shift` + `P`) after putting your caret inside the incorrec

[2021-11-29 20:06] 0dinD opened #2236 "Duplicate quick fixes when shown at line"
When `java.quickfix.showAt` is set to `line` (the default), duplicate quick fixes are shown in certain scenarios.

##### Environment
- Java extension version: 1.1.0

##### Steps To Reproduce
1. Have the following code:

[code]

2. Show quick fixes for adding the missing import for `List`.

##### Current Result
The actions in the quick fix menu are duplicated (if `java.quickfix.showAt` is set to `l

[2021-11-29 20:14] mattwelke commented on #2235
That's right. All default theme settings, as far as I know.

![image](https://user-images.githubusercontent.com/7719209/143936002-055e045c-111f-4d42-bdb0-19cee16e7eff.png)

Here you go:

![image](https://user-images.githubusercontent.com/7719209/143936128-6f2eff76-8302-4fcd-a86b-e4be680830b6.png)
(copy pasting the text didn't work well)

[2021-11-29 20:15] mattwelke commented on #2235
I tried making a field using `String[]` instead of `Stream<String>` to see if it would affect that, and it didn't:

![image](https://user-images.githubusercontent.com/7719209/143936408-df66c1ff-c1e1-42d7-b5ca-b4353af58032.png)

Here's that info for this field too:

![image](https://user-images.githubusercontent.com/7719209/143936451-30a8148b-acba-4929-974d-c28783bd027c.png)

[2021-11-29 20:22] mattwelke commented on #2235
Multi line also appears to have nothing to do with it. Single line has the problem too. I'm wondering if it could be related to the `String...` parameter of `Stream.of`:

![image](https://user-images.githubusercontent.com/7719209/143937451-1f79a445-8cce-4395-be24-6b00a43dabf0.png)

[2021-11-29 20:38] 0dinD commented on #2235
Yup, that's the default theme.

The tokens are definitely incorrect (which is why the syntax colors are wrong), as you can see the string in the first screenshot has the `variable.parameter.java` scope when it should be `string.quoted.double.java`.

For context, basic tokenization (for strings, brackets, operators etc.) is provided by [a TextMate grammar from Atom](https://github.com/atom/language

[2021-11-29 21:41] ayloncarrijo opened #2237 "Is there any way to make autocomplete/intellisense more "accurate"?"
Hello, I'm having problems when I need to search some classes and I can only remember their partial names. I made some comparisons with Eclipse.

VSCode:
![ZombieVSCode](https://user-images.githubusercontent.com/77859081/143946876-98b27f51-28dd-4c3f-b063-0dd9a72af56d.png)

Eclipse:
![Zombie](https://user-images.githubusercontent.com/77859081/143946828-05cf5a01-d9c3-48a4-90a8-0e560f2d1534.png)

VSC

[2021-11-29 22:39] snjeza commented on #2237
@ayloncarrijo you can try to set the following property

[code]

See [Settings Global Preferences](https://github.com/redhat-developer/vscode-java/wiki/Settings-Global-Preferences)

[2021-11-29 23:53] ayloncarrijo commented on #2237
@snjeza thanks, it worked perfectly!

[2021-11-29 23:53] #2237 closed

[2021-11-30 02:20] mattwelke commented on #2235
Ah thanks for the context.

Here's the information:

![image](https://user-images.githubusercontent.com/7719209/143973670-9acdc994-c153-4ee5-892d-0bfb65b6b467.png)
![image](https://user-images.githubusercontent.com/7719209/143973730-d9ab1f71-31bd-4c5d-8bc5-7f2895acb0c6.png)

![image](https://user-images.githubusercontent.com/7719209/143973756-4f32207f-2642-462d-82ec-fe133cc30820.png)

I can't actu

[2021-11-30 02:25] mattwelke commented on #2235
Trying this now with Gitpod so I can get a fresh VS Code with no other extensions except the Java one installed. I'm just opening my repo in GitPod using the technique where you go to `gitpod.io/#<complete_repo_url>` in your browser.

Aha, we're good now:

![image](https://user-images.githubusercontent.com/7719209/143974406-c486289d-2ac9-415c-bc22-0dd7ffc6efbd.png)

So local configuration, probabl

[2021-11-30 02:31] mattwelke commented on #2235
Found the culprit: https://marketplace.visualstudio.com/items?itemName=joshuansu.Jshell

![jsh-problem](https://user-images.githubusercontent.com/7719209/143975118-7127cba1-20b2-44e8-bdc8-a4d9d95a0f80.gif)

Thanks for bearing with me. :)

[2021-11-30 02:31] #2235 closed

[2021-11-30 02:35] snjeza commented on #793
@fbricon @rgrunber could you try https://github.com/snjeza/vscode-test/raw/master/java-1.2.1.vsix
You have to set the following properties:

[code]

Test case - https://github.com/redhat-developer/vscode-java/issues/2233#issue-1065621014

[2021-11-30 02:37] snjeza commented on #2233
@mozhuanzuojing you may want to take a look at https://github.com/redhat-developer/vscode-java/issues/793#issuecomment-982224319

[2021-11-30 03:03] jdneo commented on #793
Is there any reason that `java.import.generatesMetadataFilesAtProjectRoot` has to be set to `true`?

[2021-11-30 03:32] snjeza commented on #793
@Is there any reason that java.import.generatesMetadataFilesAtProjectRoot has to be set to true?

I have faced the following exception:
[code]
I can't reproduce it again. You can test with and without `generatesMetadataFilesAtProjectRoot:true`

[2021-11-30 09:43] mrrobot97 commented on #2231
I face the same issue which cause the plugin 'Debugger for java' not working. Downgrade plugin version to v1.0.0 fix the problem.

[2021-11-30 11:21] cescoffier opened #2238 "Add support for @CheckReturnValue"
IntelliJ has a "clever" way to inform the users that the result of a method must be used.
It detects that the method is annotated with a `@CheckReturnValue` annotation regardless of its package. So, frameworks can provide their own (like SmallRye Commons Annotations).

Basically, if you have an API with:

[code]

a user using that method like in the following snippet would get a warning:

[code]

[2021-11-30 14:47] escape-llc commented on #1263
just to follow up, we ended up going with separate folders for each profile's build output, it was just easier that way.

[2021-11-30 17:28] chehab2003 commented on #785
Hello @snjeza I am facing the couldn’t start client java Language server do you know how to fix this?

[2021-12-01 02:06] softwareCobbler commented on #574
I'm trying to load a reasonably sized old Eclipse project that is composed of a root folder and two subprojects, one of which references the other. I am also getting `org.eclipse.core.internal.resources.ResourceException: Invalid project description.` Put me down as a vote for "surface information about what is invalid about the project".

I also get exactly the same error as OP about `Project X i

[2021-12-01 04:13] jdneo commented on #2229
I tested it with Test Runner 0.33.0 and cannot reproducible.

![image](https://user-images.githubusercontent.com/6193897/144170636-6783d62d-9a7f-4cd9-8e6d-05459d3b0d05.png)

[2021-12-01 11:46] lud commented on #1792
That would be great.

The default stubs are footguns.

[2021-12-01 13:08] hhkrob1 commented on #2208
Thank you so much, now 1.1.0 is work!

[2021-12-01 13:08] #2208 closed

[2021-12-01 17:49] rgrunber commented on #573
You need to set `java.home` to point to a JDK 11 (or newer) for the runtime. However, for your projects, you can configure any JDK you like https://github.com/redhat-developer/vscode-java#project-jdks with `java.configuration.runtimes`.

[2021-12-01 17:49] #573 closed

[2021-12-01 18:07] rgrunber commented on #782
Looks like this was resolve in the mentioned issue. https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#get-the-java-language-servers-workspace-logs will show the additional information.

[2021-12-01 18:07] #782 closed

[2021-12-02 15:51] srl295 commented on #806
Any update on this? Also, variables work in `java.test.config`:

[code]

… but not in `vmArgs`:

[code]

[2021-12-02 17:33] rgrunber commented on #363
Can you try activating the `Command Palette` in VS Code and searching for `Java: Clean Java Language Server Workspace` for your opened project ? Does it fix the issue ?

The only thing in the logs that looks like it may have caused this is the workspace exiting with unsaved changes. Maybe this caused some kind of corruption in the metadata files.

[2021-12-02 23:01] cbdoubles opened #2239 "Java extension not running"
Hello, I am trying to run a java program but it doesn't finish running. It is not a debugging issue (see screenshot below). Nothing appears in the terminal after I start running the program stating that there is an error with the code and I still have the option to terminate the running of the code. In addition, there is a blue process bar running across Java Projects which might have something to

[2021-12-03 01:26] testforstephen commented on #2239
Duplicates with https://github.com/redhat-developer/vscode-java/issues/2231, there is a regression about single file support (no folder opened in VS Code).

The CI build https://download.jboss.org/jbosstools/jdt.ls/staging/java-1.2.0-470.vsix has fixed it, you can [install from vsix](https://code.visualstudio.com/docs/editor/extension-marketplace#_install-from-a-vsix).

Another workaround is to op

[2021-12-03 05:06] #2239 closed

[2021-12-03 07:50] pseudovector commented on #795
Got the same issue here

[2021-12-03 09:34] cbdoubles commented on #2239
That worked. Thanks very much!

[2021-12-03 12:33] falisca commented on #1732
I have the same issue, with latest VSC and extension, JDK 11.0.11 o Windows 10.

[2021-12-03 14:27] SKhaner opened #2241 "When trying to switch to standard mode I get a "command 'java.runtimeValidation.open' already exists". and it won't let em change to standard mode. My settings and the extensions I use are down below, I am using java."
[provide a description of the issue]

##### Environment
- Operating System:
- JDK version:
- Visual Studio Code version:
- Java extension version:

##### Steps To Reproduce
1. [step 1]
2. [step 2]

[Please attach a sample project reproducing the error]
[Please attach logs](https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#enable-logging)

##### Current Result

##### Expected Res

[2021-12-03 14:28] #2241 closed

[2021-12-04 15:43] xFaust1 opened #2242 "Why Do Java Files Not Run If I don't have a folder open in VSCode"
I am new to Java, and wanted to get started in VSCode. I ran my first Java file only to see that the terminal didn't open. Like it had the little run thingy on the top but the terminal didn't open and I couldn't see my file working.

I had happened to my .java file in some folder than uploaded that to VSCode, then ran that and that worked. Then I tried to run a .java file in VSCode even if it wasn

[2021-12-06 01:16] testforstephen commented on #2242
Duplicates with https://github.com/redhat-developer/vscode-java/issues/2231, there is a regression about single file support (no folder opened in VS Code).

The CI build https://download.jboss.org/jbosstools/jdt.ls/staging/java-1.2.0-470.vsix has fixed it, you can [install from vsix](https://code.visualstudio.com/docs/editor/extension-marketplace#_install-from-a-vsix).

Another workaround is to op

[2021-12-06 04:53] jdneo opened #2243 "The LS status bar item is not sync with the real status"
[provide a description of the issue]

##### Environment
Version: 1.62.3 (user setup)
Commit: ccbaa2d27e38e5afa3e5c21c1c7bef4657064247
Date: 2021-11-17T08:11:14.551Z
Electron: 13.5.2
Chrome: 91.0.4472.164
Node.js: 14.16.0
V8: 9.1.269.39-electron.0
OS: Windows_NT x64 10.0.19044
JDK version: 11
Java extension version: 1.1.0

##### Steps To Reproduce
1. Clone the latest [spring-boot](https://github.co

[2021-12-06 21:21] ianmarxent commented on #1341
I had a similar issue; stuck building and would never finish. I checked out the troubleshooting guide [here](https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting) and found that cleaning out my workspace directory  solved the problem for me (steps from link pasted below):

- Open the command palette
- select Java: Clean the Java Language Server Workspace
- select Restart and delete

[2021-12-07 16:09] rgrunber commented on #2243
@jdneo , will this also fix https://github.com/eclipse/eclipse.jdt.ls/issues/1827#issuecomment-916576183 ? The issue there was, that if a Gradle project build failed, the result wasn't reported to the language server. client assumed the standard server was successful, and shut off the syntax server, eliminating the only remaining form of completion support.

[2021-12-07 18:10] rgrunber commented on #2001
[`java.configuration.runtimes`](https://github.com/redhat-developer/vscode-java/blob/master/package.json#L712) has machine scope, so it cannot be configured per-workspace. What if we were to introduce some setting : `java.project.runtime` that takes on the values of the [`name`](https://github.com/redhat-developer/vscode-java/blob/master/package.json#L672-L688) property from `java.onfiguration.run

[2021-12-07 19:57] rgrunber commented on #684
I'm not sure if something has changed since trying out this PR, but the behaviour is a bit different for me now. This is without the PR attached.

- When I load spring-petclinic (no existing workspace for it), I see only the snippets immediately. There's a brief period where I only see dictionary/spelling suggestions but I suspect as soon as the extension starts the snippets take over
- After a ce

[2021-12-08 01:15] jdneo commented on #684
@rgrunber The PR #2240 should solve the issue you mentioned here.

If I remember correctly, we only have `Started` as the end of initialization previously. `ServiceReady` is been added later. Previously the client side snippet will be deactivated when `Started` notification is received.

Previously, we just let the snippet provider return an empty array to make it deactivated. So all the completio

[2021-12-08 03:05] jdneo commented on #2243
@rgrunber The current change won't. Because at the server side, the exceptions happen during initialize request will be caught: https://github.com/eclipse/eclipse.jdt.ls/blob/0b3651f030e2e68e43019268f35880a07aa7a8c5/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/handlers/InitHandler.java#L243-L252

The initialization will always be successful thus followed with a `ServiceReady` notif

[2021-12-08 18:07] sclorng commented on #2141
I got a connection disposed.
I clean workspace and restart, extension open projects in workspace (refresh and build status done) and right after the LS log shows

[code]

And right after 8ee82c93 :

LSJ logs
[code]

around the same time
[code]

Developer tools logs
[code]

[2021-12-10 02:07] jialigit commented on #2055
I also encounter this, and i really want to debug the lib sources.   desperate. Does someone know how to kick it out?

[2021-12-10 03:03] testforstephen commented on #2055
@jialigit Are you using any build tools? For maven, Java extension will download its sources on demand, it may have some latency while the library sources are available.

You can also use mvn cli to download the sources and javadoc manually.

[code]

[2021-12-10 05:16] #2109 closed

[2021-12-10 10:04] jialigit commented on #2055
Oh, can not thank you more.  yes, I am using vs code. After downloaded the decompiler extension, it works.

And I am trying to find if I can use vs code for work only, and for now find it not quickly as I thought. So I am curious what is the best practice workflow using vs code. I really do not want a IDE block my system too much. Every time I see the process bar signaling something is in the way

[2021-12-10 10:13] fbricon commented on #2055
vscode does support autosave.

![Screenshot 2021-12-10 at 11 09 13](https://user-images.githubusercontent.com/148698/145557274-b2bbc9dc-7b26-4ed9-bcff-389191b8d8b8.png)

For Java files, If you're using afterDelay, I recommend increasing the files.autoSaveDelay to 2000ms, to limit CPU usage

[2021-12-10 14:49] rgrunber commented on #2109
LGTM https://download.jboss.org/jbosstools/jdt.ls/staging/java-1.2.0-476/

[2021-12-13 08:20] go-fish-wxy commented on #1248
Hi, I am just facing same issue, kindof no idea how to make vs code recognize the project folder and all sub folders and files as a multi-module maven project,
e.g. pom file in sub module report error "could not find dependency"
What steps shall I take to make project workable in vs code until I can debug the source file

[2021-12-13 15:28] TheBMPatil opened #2247 "Error: The Language Support for Java server crashed 5 times in the last 3 minutes. The server will not be restarted."
Issue Type: <b>Performance Issue</b>

First time when i installed the Language Support for JAVA (TM) by Red Hat Extention its was not working but when i re-installed it then it was strted working perfectlly fine. But after some days later i reopened my java project then it is crassing(Extention) again and again so i tried to uninstall and re-intall the Extention but it does not helped. Then i upda

[2021-12-13 16:12] snjeza commented on #2247
@bmpatil96k could you, please,  attach the following files:
-  c:\Users\bhagv\AppData\Roaming\Code\User\workspaceStorage\568b39bbf08391fe48cf48fa37781d81\redhat.java\ss_ws\.metadata\.log
- c:\Users\bhagv\AppData\Roaming\Code\User\workspaceStorage\568b39bbf08391fe48cf48fa37781d81\redhat.java\jdt_ws\.metadata\.log
- c:\Users\bhagv\AppData\Roaming\Code\User\workspaceStorage\568b39bbf08391fe48cf48fa37

[2021-12-14 22:40] snjeza commented on #2228
This issue has been fixed within https://github.com/eclipse/eclipse.jdt.ls/pull/1964
@jdneo Could you try https://github.com/snjeza/vscode-test/raw/master/java-1.2.5.vsix?

[2021-12-15 02:21] jdneo commented on #2228
Thank you @snjeza, Tried the 1.2.5 vsix and it fixed the problem!

[2021-12-15 02:23] jdneo commented on #2228
Close as fixed in eclipse/eclipse.jdt.ls#1964

[2021-12-15 02:23] #2228 closed

[2021-12-15 03:38] #1422 closed

[2021-12-15 07:30] RaduBogdan98 opened #2249 "Spring Application wrong starting behavior"
When configuring the launch.json for a Spring gradle based application I sometimes cannot run the application with command-line arguments.

Example configuration:
{
"type": "java",
"name": "DEBUG config",
"request": "launch",
"mainClass": "MyMainClass",
"projectName": "serverProject",
"vmArgs": "-DsomeVmArgument=true",
"args": "--commandLineArgument"
}

When creating a configuration I sometimes ne

[2021-12-15 07:57] palunel commented on #1905
I support this request.  There is no obvious way to refactor a method signature in Code.

[2021-12-15 10:50] fbricon commented on #2249
Sorry but vscode-java is not responsible for running Java apps. https://github.com/microsoft/vscode-java-debug/issues/1100 is the proper place for discussing this issue.

[2021-12-15 10:50] #2249 closed

[2021-12-15 15:59] snjeza commented on #2160
The issue has been fixed in vscode-java >= 1.1.0

[2021-12-15 15:59] #2160 closed

[2021-12-16 09:33] v-yuyul opened #2250 "Get a different snippet code if just replace not delete the previous one"
Get a different snippet code if just replace not delete the previous one

##### Environment
- Operating System: Win/Mac/Linux
- JDK version: 11.0.12
- Visual Studio Code version: 1.63.1
- Java extension version: 1.2.0-486

##### Steps To Reproduce
1. Create an empty java file
2. Type `cl` and then select snippet for `class`
3. Select all code lines(don't delete, just do replace) and type 'cl' agai

[2021-12-18 05:43] itomcat666 opened #2253 "Language Support for Java(TM) by Red Hat from version 1.1.0(+) don`t work on JDK8 lambda"
##### Environment
- Operating System: win 10
- JDK version: jdk 11
- Visual Studio Code version: 1.63.2
- Language Support for Java(TM) by Red Hat version: 1.2.0

##### Steps To Reproduce
1. when you coding use lambda ,it can`t give you suggest on  Language Support for Java(TM) by Red Hat version 1.2.0

![avatar](https://raw.githubusercontent.com/itomcat666/mydoc/main/222.png)

2. when I use the e

[2021-12-18 17:23] snjeza commented on #2253
@itomcat666 could you attach a project example?

[2021-12-19 09:17] itomcat666 commented on #2253
![avatar](https://raw.githubusercontent.com/itomcat666/mydoc/main/3333.png)

this is the demo project:
[https://raw.githubusercontent.com/itomcat666/mydoc/main/demo.rar](https://raw.githubusercontent.com/itomcat666/mydoc/main/demo.rar)

my gradle version: 6.9.1
springboot version:2.5.7
jdk version:11
Language Support for Java(TM) by Red Hat version:1.2.0
@snjeza
hope help you !

[2021-12-19 16:38] brunovieira97 opened #2254 "Version 1.2.0 breaks all functionality"
I've been using the extension for some time now. A couple of days ago, I've updated it to 1.2.0 and since then, when opening a study project it would report errors for everything.

Some of the errors include not finding `Object`'s default no args constructor, failing to import basic core classes from Java (i.e. `java.util`, `java.date`), and so on.

I've already removed my JDK 17 installation, rep

[2021-12-19 18:13] snjeza commented on #2254
@brunovieira97 could you try [Clean the workspace directory](https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#clean-the-workspace-directory)

[2021-12-19 18:39] snjeza commented on #2253
@itomcat666 I can't reproduce the issue.

![vscode2](https://user-images.githubusercontent.com/388609/146686789-de6d44f3-654b-4c4e-9c57-8e6c0370c4c2.gif)

Could you, please, attach your logs?

- enable the "java.trace.server": "verbose" setting,
- restart vscode
- attach the logs (Command palette : Java: Open all log files)

See [Enable logging](https://github.com/redhat-developer/vscode-java/wiki

[2021-12-19 19:47] brunovieira97 commented on #2254
Tried that before submitting the issue. Did not help. Even uninstalling the extension, or VS Code entirely had no effect at all.

[2021-12-19 20:19] snjeza commented on #2254
@brunovieira97 could you run
[code]

[2021-12-19 20:43] brunovieira97 commented on #2254
Here it goes.

[code]

`$JAVA_HOME` is not set as `brew` installation doesn't require that or sets such variable.
Instead, I've put java directly on my path via .zshrc like this:

[code]

[2021-12-19 21:08] snjeza commented on #2254
Could you try the following:

[code]

[2021-12-19 21:16] brunovieira97 commented on #2254
Still the same behavior. As I detailed previously, I have even uninstalled and installed other versions of the JDK and it had no impact.

The problem is clearly related to v1.2.0 of the extension. If I rollback to 1.1.0, as I said, no problems are reported for the source files.

Anyway, here's the output for the commands you recommended, after I exported `$JAVA_HOME` on my .zshrc file:
[code]

[2021-12-19 21:38] snjeza commented on #2254
I can't reproduce it. Could you try the latest build - https://download.jboss.org/jbosstools/jdt.ls/staging/java-1.3.0-490/java-1.3.0-490.vsix

[2021-12-19 21:44] brunovieira97 commented on #2254
Still facing the same problem with the 1.3.0 .vsix.

Did you try reproducing it with the same JDK, extension version and project?
I didn't test on my Windows machine, only on the Mac. Will try there as well and report if it happens.

Perhaps there are other specific logs or some way for me to demonstrate this issue on a Zoom call for any contributor? In the meantime, I'll record a video to show th

[2021-12-19 22:15] brunovieira97 commented on #2254
Could not reproduce the issue on my Windows laptop.

I'm using Settings Sync, and installed the same JDK distribution and version, as well as same version of all VS Code extensions and the editor itself.

Could it be related to the platform then?

[2021-12-19 23:08] snjeza commented on #2254
Yes, it could. I have tested on Linux and Windows.
cc @fbricon @rgrunber @testforstephen @jdneo

[2021-12-20 02:54] mattwelke opened #2255 "Cannot add Java 18+ runtime to java.configuration.runtimes without mislabeling it as JavaSE-17 or below."
##### Environment
- Operating System:
[code]
- JDK version:
[code]
- Visual Studio Code version:
[code]
- Java extension version: `v1.2.0`

##### Steps To Reproduce
1. Install an early access build of Java 18. For example, https://jdk.java.net/loom/. Ensure JAVA_HOME and PATH are set correctly to use it. For example, I use SDKMAN (see https://stackoverflow.com/questions/70415814/how-do-i-set-up-a-

[2021-12-20 03:03] mattwelke commented on #2254
Can't reproduce on Linux. I was able to use Java 17 and Java 18 today using v1.2.0 of the extension.

However, I've had the issue you're describing here before. It was something to do with misconfigured JDKs. If I were you, I'd read over https://code.visualstudio.com/docs/java/java-project#_configure-runtime-for-projects and make sure the JDK you intend to use is included in that array of objects

[2021-12-20 03:31] testforstephen commented on #2254
The default JDK path via `brew install java` is NOT a complete JDK home directory. It only has symbolic links to the `bin` folder, and other folders such as `lib` are not included.

![image](https://user-images.githubusercontent.com/14052197/146707407-7e29aa38-a378-4746-ba16-c4e216cf9ab7.png)

The actual JDK home is placed at the subfolder `libexec`.
![image](https://user-images.githubusercontent.

[2021-12-20 03:32] testforstephen commented on #2254
@Eskibear This is a new corner case that `jdk-utils` needs to cover better.

[2021-12-20 15:07] Eskibear commented on #2254
Homebrew creates a lot of symbolic links, I find we can only rely on `<some-path>/bin/java`, which is finally linked to the real installation location.

I've covered this case in latest jdk-utils. If you have a NodeJS runtime, you can run below command to test if your installed JDK is detected.
[code]

Below is my smoke test.
[code]

[2021-12-20 15:41] itomcat666 commented on #2253
this is logs:
[https://raw.githubusercontent.com/itomcat666/mydoc/a051a13ff854fbaf1e99dbe4670e18d229b58d4a/client.log.2021-12-20.9](https://raw.githubusercontent.com/itomcat666/mydoc/a051a13ff854fbaf1e99dbe4670e18d229b58d4a/client.log.2021-12-20.9)
this is the project:
[https://raw.githubusercontent.com/itomcat666/mydoc/main/testjava.zip](https://raw.githubusercontent.com/itomcat666/mydoc/main/tes

[2021-12-20 16:25] TylerLeonhardt opened #2256 "Understand where vscode-java uses a `kind` property in QuickPick"
👋 hi Java folks. We got an issue on vscode related to a new API we have added:
https://github.com/microsoft/vscode/issues/139333

In short, we added an API that lets you define separators/categories in your QuickPicks:
https://code.visualstudio.com/updates/v1_63#_quickpickitem-separators

We use the `kind` property to determine if an item is a separator or a regular item. From the issue I linked,

[2021-12-21 00:14] Teague-S commented on #743
So helpful and simple, thanks, man.

[2021-12-21 02:44] fyeeme opened #2257 "how to custom format wrapper style"
##### Environment
- Operating System: macos 12.1
- JDK version: 17
- Visual Studio Code version: 1Version: 1.64.0-insider
- Java extension version: 1.2.0

 How to stop it format code like this.
now the wrapping config only have`length` config. Except  use `@formatter:off`, is there planing to add some more config for wrapping like **intellij idea**.
![image](https://user-images.githubusercontent.c

[2021-12-21 02:49] snjeza commented on #2257
@fyeeme you may want to take a look at https://github.com/redhat-developer/vscode-java/issues/1126#issuecomment-548085982

[2021-12-21 03:09] fyeeme commented on #2257
@snjeza  yes ,it works well ,many thanks. and I'll close this issue.

[2021-12-21 03:09] #2257 closed

[2021-12-21 05:35] Eskibear commented on #2254
Homebrew covered on both Apple Silicon and Linux in jdk-utils@0.4.2, see https://github.com/Eskibear/node-jdk-utils/pull/5#issuecomment-998485013

[2021-12-21 06:14] Eskibear commented on #2256
Thank you for the mitigation.

When applying refactoring like moving types, sometimes we expect user interaction e.g. (specify destination), thus we provide some choices in quickpick.

https://github.com/redhat-developer/vscode-java/blob/9f32875a67352487f5c414bb7fef04c9b00af89d/src/refactorAction.ts#L477-L489

And we take different actions according to value of property `kind`:

https://github.com