[2020-04-14 15:28] fbricon opened #1391 "extracted element can not be renamed"
Extracting a String to a field or a method, the generated element can not be renamed:
![Failed rename](https://user-images.githubusercontent.com/148698/79242994-54f77b80-7e75-11ea-84ff-a309546f3cd0.gif)

This is in vscode-java 0.59.1. This used to work since #333

[2020-04-14 15:49] tapz commented on #1390
Yes. Android. What makes Android so different? It's my Java class after all, not any Android class.

[2020-04-14 16:11] spiritelf opened #1392 "import spring-boot project，can‘t start"
[provide a description of the issue]

##### Environment
- Operating System:win8
- JDK version: jdk1.8.0_22
- Visual Studio Code version:1.44.0
- Java extension version:0.9.0

##### Steps To Reproduce
1.
![image](https://user-images.githubusercontent.com/8556186/79247698-6d838800-7ead-11ea-8a9e-cd27771ffa96.png)

2.
![image](https://user-images.githubusercontent.com/8556186/79247726-75432c80-7ead-1

[2020-04-14 16:20] fbricon commented on #1391
Apparently the regression started in 0.58.0. I suspect https://github.com/eclipse/eclipse.jdt.ls/pull/1375/ might be the culprit

[2020-04-14 16:31] fbricon commented on #1390
Android uses special Gradle plugins to compute the project classpath, that are not supported in Buildship, the underlying Gradle Integration plugin we delegate Gradle support to.

[2020-04-14 16:41] fbricon commented on #1392
Closing, as stated in the issue template you read when creating this ticket:

[2020-04-14 16:41] #1392 closed

[2020-04-15 08:34] #964 closed

[2020-04-15 15:10] spiritelf commented on #1392
i use spring-boot dashboard ，the same error

[2020-04-15 15:23] Eskibear commented on #1392
@spiritelf sprint-boot dashboard depends on the java debugger extension to run.
Go ahead to create a new issue in https://github.com/microsoft/vscode-java-debug/issues

[2020-04-15 17:20] #1366 closed

[2020-04-15 21:57] #1358 closed

[2020-04-16 08:29] #1391 closed

[2020-04-16 08:35] fbricon commented on #1366
There:
<img width="553" alt="Screen Shot 2020-04-16 at 10 33 01 AM" src="https://user-images.githubusercontent.com/148698/79433788-d82be500-7fcd-11ea-88ef-50c8d6522fe8.png">

[The link opens a wiki page](https://github.com/redhat-developer/vscode-java/wiki/JDK-Requirements#upcoming-java-11-requirement)

[2020-04-16 10:15] fbricon opened #1396 "Semantic highlighting sometimes looks bad"
When "java.semanticHighlighting.enabled": true, even without any particular token settings, this causes bad highlighting of existing code using static imports:
When enabled:
<img width="756" alt="Screen Shot 2020-04-16 at 12 11 57 PM" src="https://user-images.githubusercontent.com/148698/79444669-c5201180-7fdb-11ea-8b02-5762a8880597.png">

When disabled:
<img width="749" alt="Screen Shot 2020-04-1

[2020-04-16 15:50] arilau opened #1397 "Java runtime configuration is not possible offline"
##### Environment
- Operating System: OS X, Linux, Windows (tested all)
- JDK version: jdk1.8.0_25
- Visual Studio Code version: 1.44.1
- Java extension version: 0.60.0

##### Steps To Reproduce
1. Disconnect computer from internet
2. Run command palette command "Java: Configure Java Runtime". Indicators just keep on spinning, java paths don't get listed ever.

##### Current Result

JDK configurat

[2020-04-16 16:48] snjeza commented on #1397
The "Java: Configure Java Runtime" command is a part of https://github.com/Microsoft/vscode-java-pack.
Please open an issue in https://github.com/microsoft/vscode-java-pack/issues

[2020-04-16 17:59] #1397 closed

[2020-04-16 21:32] ragurney commented on #718
I'm also experiencing this issue. Might make me switch over to IntelliJ after all :/

[2020-04-17 00:25] vicngtor opened #1398 "Cannot disable "organize imports""

[2020-04-17 00:28] #1398 closed

[2020-04-17 06:50] vojtechhabarta commented on #654
I just want to share what I found when opening [typescript-generator](https://github.com/vojtechhabarta/typescript-generator) in VS Code.

This repo is basically Maven project with sub-modules but it also contains some Gradle sample modules. When I disable `java.import.gradle.enabled` configuration setting Maven modules work well. It seems that Maven and Gradle support somehow conflicts here. It i

[2020-04-17 07:13] vojtechhabarta commented on #177
I have the same problem ("The import ... cannot be resolved").
Generated sources come from `maven-jaxb2-plugin` which is run in `generate-sources` phase.

[2020-04-17 13:30] rafaelrenanpacheco commented on #1396
Isn't this a specific color theme bug? I'm using this [beautiful theme](https://marketplace.visualstudio.com/items?itemName=rafaelrenanpacheco.darcula-theme) and the semantic highlight for fields inside methods are working as expected:

![image](https://user-images.githubusercontent.com/12160864/79574121-14c31380-8096-11ea-8313-59ac045fa3fa.png)

Before semantic token it was not possible to set th

[2020-04-18 03:41] ronakg opened #1399 "Comment formatting not consistent with Eclipse with same xml profile"
I'm using an Eclipse format XML profile to indent/format my java code in VS Code. For comments, the same profile is generating different results.

##### Environment
- Operating System: macOS Catalina 10.15.4
- JDK version: OpenJDK Runtime Environment (AdoptOpenJDK)(build 1.8.0_252-b09)
- Visual Studio Code version: 1.44.2
- Java extension version: 0.60.0 (April 16, 2020)

##### Steps To Reproduce

[2020-04-19 13:33] anthonyvdotbe opened #1400 "Avoid reporting wrong & distracting errors"
In the event of a seemingly innocent syntax error, it regularly happens that other, incorrect errors are reported across the file, which makes it a lot harder to find the culprit. Note that the sample below serves just as a reproducer, but in reality, files are often several hundreds of lines of code, so finding the syntax error that actually matters can be a real challenge.

##### Environment
- O

[2020-04-20 02:23] EminemRap commented on #1389
The issue of updating to version 1.44.2 persists.（Operating System: Windows 10 Version 18363)

[2020-04-20 02:24] EminemRap commented on #1389
Java extension version:0.60.0

[2020-04-20 05:25] Eskibear commented on #728
@nkibbey It has been fixed in upstream, and has been adopted in vscode-insiders. I just tried in latest vscode-insiders, and it worked. So it's expected to be shipped in the next stable release of vscode.

[2020-04-20 05:34] euseanwoon2016 opened #1401 "Debug will fail to run if user folder contains whitespace."
Debug will fail to run if user folder contains whitespace.

##### Environment
- Operating System: Windows 10
- JDK version: 14.0.1
- Visual Studio Code version: 1.44.2
- Java extension version: 0.60.0

##### Steps To Reproduce
1. Log into an account where the user folder has whitespace.
2. Attempt to debug a .java file.

Sample project is a simple hello world project.
There is no issue related to

[2020-04-20 08:32] fbricon commented on #1401
Closing, as stated in the issue template you read when creating this ticket:

[2020-04-20 08:32] #1401 closed

[2020-04-20 12:55] vaclavbenes commented on #1285
Hi , I use latest version of gradle tasks and Language support for Java, but it seems still usue with
[code]

[2020-04-21 03:20] rectcircle opened #1402 "Pom include lifecycle-mapping, An error occurred: Java Model Exception: Java Model Status"
An error will be reported when the Mavne project contains:

[code]

error log output

[code]

##### Environment
- Operating System: OSX 10.15.4
- JDK version: 1.8
- Visual Studio Code version: 1.44.1
- Java extension version: 0.60

##### Steps To Reproduce

[code]

##### Current Result

use vscode open project, No error message. But will fail to build. Only view the error message through the Outpu

[2020-04-21 09:30] hanct commented on #1357
Hi, anyone can at least response to this?

[2020-04-21 12:01] hanct opened #1404 "The value of the local variable XXXX is not used throws error instead of warning"
Vscode: v1.44.2
extension: 0.60.0

Why is this message "The value of the local variable XXXX is not used" considered an error instead of warning?

[2020-04-21 12:03] fbricon commented on #1404
Probably because your project is configured to report such problems as errors. Can you share you .settings/ folder?

[2020-04-21 12:15] hanct commented on #1404
Hi,
Thanks for the response.  Do u mean the settings in the workspace file?
[code]

[2020-04-21 12:37] fbricon commented on #1404
No. You should have a `.settings/` folder at the root of your project, containing Eclipse preference files (as Eclipse is used under the hood to provide Java support). It should be hidden by default, you can make it visible in vscode by adding this to your settings.json
[code]

[2020-04-21 12:57] hanct commented on #1404
Hi,

Yes. I can see the .settings folder.  Inside contain a file called org.eclipse.buildship.core.prefs, whose content as shown below

[code]

[2020-04-21 13:50] hanct commented on #806
Hi,
Just curious, does this URL helps https://github.com/microsoft/vscode-java-debug/issues/750 ?
Quoted from this URL

"In VS Code 1.42 we will introduce a new hook resolveDebugConfigurationWithSubstitutedVariables in the extension API that receives the debug configuration with all variables resolved."

[2020-04-21 14:18] anthonyvdotbe opened #1405 "New File -> (module|package)-info.java should be handled properly"
As the title says. The steps below are for module, but package-info.java has the same issue

##### Environment
- Operating System: Windows 10
- JDK version: 14
- Visual Studio Code version: 1.44.2
- Java extension version: 0.60.0

##### Steps To Reproduce
1. New File -> module-info.java

##### Current Result
![image](https://user-images.githubusercontent.com/15714253/79876542-76171980-83eb-11ea-83

[2020-04-22 05:05] SnapperGee opened #1406 "Package containing dot character in Java Gradle project not being parsed correctly"
Issue Type: <b>Bug</b>

In the src folder of a Java Gradle project, there's the package structure:

[code]
The `ClStringArgs.java` and `ClStringArgsTest.java` file contains the package declaration:

[code]

Which is resulting in the package delcaration being highlighted as an error by VScode in both the test and production source file:

[code]

It's also highlighting any reference to the class `Cl

[2020-04-22 05:45] pojntfx commented on #177
This issue is also currently blocking VSCode adoption for me.

[2020-04-22 08:19] fbricon commented on #1406
Please attach a sample project reproducing this issue

[2020-04-22 08:39] brunoborges opened #1407 "Extension Doesn't work if Flight Recorder is Enabled"
With JFR enabled, the extension does not work at all.

##### Environment
- Operating System: Mac OS
- JDK version: OpenJDK 14
- Visual Studio Code version: 1.44.2
- Java extension version: 0.60.0

##### Steps To Reproduce
1. Enable JFR in User settings with the following setting:

[code]

2. Restart extension

3. Try to work on any Java project

##### Current Result
Nothing works.

##### Expected

[2020-04-22 09:11] fbricon commented on #1407
Indeed, it doesn't work. Thread dump when `"java.server.launchMode":"Standard"` (to simplify start with only 1 server process):

[code]

We need to check if this is also an issue in upstream Eclipse. If it's Equinox related, we'll definitely need an upstream fix

[2020-04-22 09:19] flash-me commented on #667
I just discovered when working with a workspace containing multiple maven projects, that for the single maven projects the plugin does not create a `.settings` folder containing the "org.eclipse.*" files.

Workaround:
Open the maven project as a folder in a separate window, then the "org.eclipse.*" files will be created. After that you can open your workspace again.

cheers
flash :zap:

[2020-04-22 13:00] lucasbasquerotto commented on #1380
I also have problems with the slow startup (may take several minutes, sometimes I even close and reopen vscode to see if it helps in any way). It's a medium sized gradle project.

Java: 11.0.6
System: Ubuntu 18.04
VSCode: 1.44.2

Btw, that is some huge title...

[2020-04-22 13:27] fbricon commented on #1380
You might want to try increasing the heap (Xmx value) in java.jdt.ls.vmargs, see if makes any difference, disabling other Java related extensions, in case some of them misbehave.

[2020-04-22 16:01] manishbhalshankar commented on #1232
@snjeza  Thanks a lot for helping me in resolving the compilation errors in my project.

Here is a reference for others who might have similar problem and this solution might help them as well:

1. Maven project file `pom.xml` should be properly setup as per the latest maven conventions.
2. Need to understand the process of maven build. What all tasks maven performs related to resources and src.
3

[2020-04-22 18:25] biom4st3r opened #1408 "Bytecode viewer"
Would it be possible to have a View Bytecode option?

[2020-04-22 21:19] alblue commented on #1407
So the commands seem to work as expected for launching the JVM and it isn't hung.

The only thing I can find is when starting the JVM it prints out text message on startup, whereas without it the text remains silent. Could this be a parsing issue with whatever is calling or talking to it over SIGPIPE, or is there another mechanism by which it punts messages back and forth?

[code]

If I don't star

[2020-04-22 21:45] goncazevedo opened #1409 "Intellicode and problem detector does not work"
I am working on a java project, and 2 weeks ago, everything worked just fine. Suddenly the java extension pack is not able to detect syntax errors (like missing ";") and recognize any variable or suggest any methods. The only thing that keeps working is the color code.

i've already cleaned the java language server and didn't found any errors on the logs.

[logs.zip](https://github.com/redhat-deve

[2020-04-22 22:18] SnapperGee commented on #1406
Since posting this issue I re-cloned the repo where the problem was occurring and that seemed to fix the issue. I even attempted making a new project and then manually re-creating the folder package structure with the dot notation in the name of one of the directories and it still appeared to be working. So whatever the issue was got fixed or was some odd thing in my environment. Either way, I'm g

[2020-04-22 22:32] fbricon commented on #1406
It's actually a known limitation of the Eclipse compiler, but I'm trying to get more info about it

[2020-04-22 23:06] SnapperGee commented on #1406
I was just about to say, the issue popped up again so I'm reopening it and including files. Here's what I did to recreate the issue. Essentially just made a default Gradle Java Library project, but since Gradle automatically creates nested directories when you use a dot character in the src package creation when it creates it, I manually go in and change the package structure:

[code]

And here's

[2020-04-23 12:08] lucasbasquerotto commented on #1380
@fbricon I defined `Xmx` as `2G` and it started considerably faster (I think less than 1min). I have to try more times (to see if it will be fast everytime), but maybe this solves the problem for me.

[2020-04-23 20:22] #1409 closed

[2020-04-24 08:38] wolf99 opened #1410 "Java 11 minimum requirement needs clarification"
This morning I have seen a notification from this extension in VSCode that "Java 11 will soon be the minimum requirement to run", linked to https://github.com/redhat-developer/vscode-java/wiki/JDK-Requirements#jdk11.requirement

I understand that this is due to upstream changes where it looks like the decision is already made and handled.

From a developers POV, great newer JDK, newer feature supp

[2020-04-24 10:05] fbricon commented on #1410
You'll still be able to compile your projects against Java 8. Java 11 will just be required to RUN the vscode extension

[2020-04-24 10:56] bundery commented on #659
This issue is still seen in the latest vscode editor.

[2020-04-24 11:10] fbricon commented on #659
@snjeza I believe this is what I saw in https://github.com/eclipse/eclipse.jdt.ls/pull/1415#issuecomment-617941928. My guess is the Compilation Unit is not reconciled properly at that point.

[2020-04-24 13:16] fbricon commented on #1408
Given the limited resources we have, that's pretty unlikely.
I suggest you see if https://marketplace.visualstudio.com/items?itemName=dgileadi.java-decompiler could help providing such a feature

[2020-04-24 18:58] JMS55 commented on #1410
On fedora, if I wanted to run my project with 1.8, would this be the appropriate way to do so? I'm unsure as I am still getting the warning about requiring java 11.

[code]

[2020-04-24 19:17] snjeza commented on #1410
You should set the following properties:
[code]

[2020-04-24 20:09] fbricon commented on #1410
Your project should define the target Java version it should be compiled against, to ensure consistency across builds and platforms. When that is done, the default runtime doesn't matter, as the proper runtime from 'java.configuration.runtimes' is automatically used.

[2020-04-24 22:02] wolf99 commented on #1410
Thanks for clarifying @fbricon
Perhaps similar could be added to the requirements document to avoid confusion for others 🙂

[2020-04-24 23:58] fbricon commented on #1410
I updated the wiki after my initial comment

[2020-04-25 00:02] #1410 closed

[2020-04-25 03:02] hanct commented on #1357
Hi,
In case anyone might not be aware,
Quoted from a post in vscode,

"In VS Code 1.42 we will introduce a new hook resolveDebugConfigurationWithSubstitutedVariables in the extension API that receives the debug configuration with all variables resolved."

Not sure if this hook will help to support variable expansion

[2020-04-25 15:59] #1408 closed

[2020-04-25 18:52] snjeza commented on #659
@bundery could you try the following settings:

[code]

[2020-04-26 04:22] Eskibear commented on #1396
The bug is caused by caclulating semantic tokens of wrong AST nodes. And it should be fixed by https://github.com/eclipse/eclipse.jdt.ls/pull/1416/commits/53f8c96bbc80aa3e1d3834389010575c039f3666 and https://github.com/eclipse/eclipse.jdt.ls/pull/1418 .

Below are steps to stably reproduce it.
* Open an empty folder.
* Create 2 .java files (A.java, B.java) directly under the folder.
* Open A.java

[2020-04-26 19:32] cesarrew opened #1411 "Get and Set method generation through intellicode generates javadoc when shouldn't"
Get and Set method generation through intellicode generates javadoc as well, even with the property "java.codeGeneration.generateComments" defined as "false".

##### Environment
- Operating System: Ubuntu 19.10
- JDK version: openjdk 11.0.7 2020-04-14
- Visual Studio Code version: 1.44.2
- Java extension version: 0.60.0

1. Create a POJO Java Class
2. Define an attribute
3. Using intellicode, gene

[2020-04-27 00:44] unusPanda opened #1412 "bug of create a multi-module project"
[I created a multi-module project, but the sub-module reports an error as follows
DemoApplication.java is not on the classpath of project demo, only syntax errors are reportedJava(32)]

##### Environment
- Operating System: windows 10
- JDK version: jdk-11.0.6
- Visual Studio Code version: 1.44.2
- Java extension version:0.60.0
- springboot version:
##### Steps To Reproduce
1. [I created a multi-m

[2020-04-27 01:32] testforstephen commented on #1412
This screenshot simply shows that your project is not being properly imported. But we need more information for further investigation. Could you share us a sample project to reproduce it? Also provide the log would help a lot. The log file can be fetched via **F1 -> Java: Open Java language server log file**

[2020-04-27 10:02] #1385 closed

[2020-04-27 17:44] fbricon commented on #826
This is partially fixed with the new semantic highlighting support in vscode-java 0.61.0. Requires `"java.semanticHighlighting.enabled": true` in settings.json

[2020-04-27 17:44] #826 closed

[2020-04-27 17:48] fbricon commented on #299
This is partially fixed with the new semantic highlighting support in vscode-java 0.61.0. Requires `"java.semanticHighlighting.enabled": true` in settings.json. Without semantic highlighting, the Textmate grammar is still broken.

[2020-04-27 17:48] #299 closed

[2020-04-27 17:48] fbricon commented on #338
This is partially fixed with the new semantic highlighting support in vscode-java 0.61.0. Requires `"java.semanticHighlighting.enabled": true` in settings.json. Without semantic highlighting, the Textmate grammar is still broken.

[2020-04-27 17:48] #338 closed

[2020-04-27 17:49] fbricon commented on #351
This is partially fixed with the new semantic highlighting support in vscode-java 0.61.0. Requires `"java.semanticHighlighting.enabled": true` in settings.json. Without semantic highlighting, the Textmate grammar is still broken.

[2020-04-27 17:49] #351 closed

[2020-04-27 17:50] fbricon commented on #707
This is partially fixed with the new semantic highlighting support in vscode-java 0.61.0. Requires `"java.semanticHighlighting.enabled": true` in settings.json. Without semantic highlighting, the Textmate grammar is still broken.

[2020-04-27 17:50] #707 closed

[2020-04-27 17:51] fbricon commented on #1277
This is partially fixed with the new semantic highlighting support in vscode-java 0.61.0. Requires `"java.semanticHighlighting.enabled": true` in settings.json. Without semantic highlighting, the Textmate grammar is still broken.

[2020-04-27 17:51] #1277 closed

[2020-04-27 17:53] fbricon commented on #1396
Fixed in 0.61.0

[2020-04-27 17:53] #1396 closed

[2020-04-27 20:39] plasmaster09 opened #1413 "[Question] How to turn off info popups?"
The information popups (like when I hover over Object, it shows info on what Object is) end up covering up things like warnings and obscuring my actual code. How do I turn them off without disabling other features?

[2020-04-27 21:23] fbricon commented on #974
Fixed upstream some time ago.

[2020-04-27 21:23] #974 closed

[2020-04-27 21:32] fbricon commented on #728
Works in stable vscode 1.44.0

[2020-04-27 21:32] #728 closed

[2020-04-27 21:38] Yanpas commented on #728
@fbricon Vscode 1.44.2, the following snippet doesn't work:
[code]

Maybe it's https://github.com/microsoft/vscode/blob/master/extensions/java/syntaxes/java.tmLanguage.json problem

[2020-04-27 21:43] fbricon commented on #1100
@michalorestes  @Costamilam can you still reproduce this issue with the latest vscode and the Dark+ (default dark) theme?

[2020-04-27 21:49] fbricon commented on #728
@Yanpas sorry I did update my previous comment. Your issue is fixed in upcoming 0.61.0, with semantic highlighting turned on:

<img width="399" alt="Screen Shot 2020-04-27 at 11 48 29 PM" src="https://user-images.githubusercontent.com/148698/80424251-9fe7a900-88e1-11ea-86ff-09e49da54859.png">

[2020-04-27 21:52] fbricon commented on #1413
In your settings.json:
[code]

[2020-04-27 21:52] #1413 closed

[2020-04-28 04:15] knm1993 opened #1414 "Alt+Shift+U = command not found"
Briefing :
command 'java.projectConfiguration.update' not found

##### Environment
- Operating System: Windows 7 64-bit
- JDK version: Java jdk-14.0.1
- Visual Studio Code version: 1.44.2 System version
- Java extension version: jre1.8.0_251

##### Steps To Reproduce
1. Create a Springboot project with Maven setup
2. Go to the pom.xml to change the maven target version
3. Press Alt+Shift+U
4. bott

[2020-04-28 10:32] fbricon commented on #1414
For some reason, the java server files can not be copied to "C:\Users\01705441\AppData\Roaming\Code\User\globalStorage\redhat.java\0.60.0\config_win\org.eclipse.osgi\"  It's not caused by the windows file path limit, as we're well below 260 characters. Possibly caused by write access to that directory?
Anyways, if the server fails to install and start, then the vscode-java extension can not regist

[2020-04-28 12:24] #1405 closed

[2020-04-28 12:24] fbricon commented on #1405
New module-info.java:
![module-info](https://user-images.githubusercontent.com/148698/80476464-b6761a80-894a-11ea-8f70-39617b5c5485.gif)

New package-info.java:
![package-info](https://user-images.githubusercontent.com/148698/80476469-b83fde00-894a-11ea-8e16-0e20e40888e2.gif)

[2020-04-28 13:27] #1386 closed

[2020-04-28 16:21] Costamilam commented on #1100
@fbricon solved for me, thanks

[2020-04-29 01:55] knm1993 commented on #1414
Thanks for the advice.
I think I am under a company policy PC, which strictly limited to my own personal user's folder.
I will try to give a try on permission setting to see if it's related.

[2020-04-29 02:02] KaihangXing opened #1416 "Provide goToDefinition API"
#### [This is not an issue but a requirement]

I want to get the symbol's defination but not the Document defination through ExtensionAPI in another vscode plugin. Such as a method's class, package and parameters.

I can't find suitable method in current ExtensionAPI.

Could anyone help me?  Thanks a lot~

[2020-04-29 02:03] a01fe opened #1417 "vscode-java reports "cannot be resolved" errors in Gradle plugin project with mix of Groovy and Java"
In Gradle plugins implemented with a mix of Java and Groovy, `vscode-java` reports "cannot be resolved" errors in `.java` files that reference classes defined in `.groovy` files. Gradle can compile and build the plugin successfully.

##### Environment
- Operating System: macOS 10.15.4
- JDK version:
[code]
- Visual Studio Code version:
[code]
- Java extension version: 0.60.0

##### Steps To Reprod

[2020-04-29 03:17] knm1993 commented on #1414
I have tried to look into the folders but I saw all of the security permission are checked as allowed already.
The vs-code is also under "run with administrator" mode.
Trying to reinstall the extension does not resolve the problem.

However I quite believe that there are something limited the extension to register the command as there are some other people who successfully do it.

May there be any

[2020-04-29 14:02] plasmaster09 opened #1420 "Cannot disable info popups without also disabling warning popups"
Using "editor.hover.enabled": false in settings, I can now disable the annoying "here's all the info about this term you're using so you already know about" popups. However, that also disables the warnings I'd actually WANT to see.
How do I disable one without disabling the other?

[2020-04-29 15:45] fbricon commented on #1420
This is currently not possible, but I think it should be pretty easy for us to add a new preference to control that behavior.

[2020-04-30 06:38] Eskibear opened #1421 "semantic highlighting doesn't take effect immediately after pasting code"
When you cut and paste code, semantic highlighting may sometimes take no effect.

I did take a quick look, when I inspect token types, it's correct. **So I suspect this might be a vscode issue.**  Below is a screenshot (the theme selectors are too long, so I manually removed them).
![image](https://user-images.githubusercontent.com/2351748/80679217-07bf0f00-8aef-11ea-8e2d-ef6733330091.png)

#### S

[2020-04-30 06:55] Eskibear commented on #1421
I can also reproduce it in latest vscode-insiders
[code]

[2020-04-30 08:28] pl07 opened #1422 "Import packages show the wrong result"
##### Environment
- Operating System: Win, Mac, Linux
- Visual Studio Code version: 1.44.2
- Java extension version: 0.61.0

##### Steps To Reproduce
1. New a java file and input `class`, from the completion item list, select the one of the type "Snippet"
2. Before the note, input `import java.util.A`
![image](https://user-images.githubusercontent.com/46642771/80688895-1a414480-8aff-11ea-88fb-7802

[2020-04-30 09:03] fbricon commented on #1422
That's a strange one, but I can reproduce it too.

[2020-04-30 09:11] fbricon commented on #1422
Looks like it only happens when there are no other imports

[2020-04-30 09:29] EricZhangzf opened #1423 "Highlighting is incorrect after imports are automatically inserted"
##### Environment
- Operating System: WIN & MAC
- JDK version: 14 & 11.0.6
- Visual Studio Code version: 1.44.2
- Java extension version: 0.61.0

##### Steps To Reproduce
1.  Create a empty folder and new a .java file in this folder
2.  Type class and type main to generate class and main method
3. Type` File f = new File("Demo.txt");` in main method
4. F1 -> Organize Import will generate `import j

[2020-04-30 09:42] ZhengJun003 opened #1424 "Semantic highlighting doesn't work after comment or uncomment some codes"
Semantic highlighting does not compute after comment or uncomment some codes, but when you enter white space in java file or edited some codes, it will compute and working well.

##### Environment
- Operating System: Win10/Mac 10.15.2/Ubuntu 16.04
- JDK version: 1.8.0_181/11.0.6/14
- Visual Studio Code version: 1.44.2
- Java extension version: 0.61.0

##### Current Result
Comment:
![image](https:/

[2020-04-30 10:05] fbricon commented on #1423
Same thing happens if new imports are inserted when selecting a completion proposal that updates imports, eg, typing `Fil` then selecting `File - java.io`

[2020-04-30 10:11] fbricon commented on #1416
Sorry, this is currently not possible at the moment

[2020-04-30 10:20] fbricon commented on #1417
Unfortunately, it's a known limitation of the JDT compiler. It only knows about Java classes, not from other languages.
Getting a working groovy support would require loading the Groovy Eclipse plugin and its patched JDT compiler instead of JDT, in the Java Language server. It might or might not be doable, but this is definitely a task that will require some contributions from the community.
cc @m

[2020-04-30 10:23] fbricon commented on #1417
I realized this has already been discussed with @martinlippert in #205

[2020-04-30 10:29] martinlippert commented on #1417
Yepp, discussed back then and I don't think anything has really changed since then. However, feel free to get in contact with the people working on groovy-eclipse (https://github.com/groovy/groovy-eclipse) to further discuss this with them (I think @eric-milles is the one).

[2020-04-30 11:26] KaihangXing commented on #1416
I just commit a PR for this enhancement https://github.com/redhat-developer/vscode-java/pull/1425

[2020-04-30 13:39] jakegt1 opened #1426 "Use default JVM when importing gradle project"
So, i have a gradle project and have set the following configuration:

[code]

However, my problems section is complaining about missing the javax classes which were removed after java 8, indicating that it's not using jdk 8.

##### Environment
- Operating System: Linux
- JDK version: 11/8
- Visual Studio Code version: 1.44.2
- Java extension version: 0.60.0

##### Steps To Reproduce
1. Set java.h

[2020-04-30 14:09] fbricon commented on #1426
Did you add

targetCompatibility = '1.8'

at the root of your build.gradle (not in the [compileJava block](https://github.com/eclipse/buildship/issues/978))?

[2020-04-30 16:42] eric-milles commented on #1417
Joint compilation for Groovy and Java for LSP has been [discussed](https://github.com/groovy/groovy-eclipse/issues/811).  Also, there may be Groovy LSP implementations already, but I am unsure about their support for joint compilation (inter-dependency) of Groovy and Java sources.

[2020-04-30 18:32] a01fe commented on #1417
Thanks for your comments! After reading through the linked issues it appears that separate Groovy and Java language servers would be the cleanest way to go. The downside is that crossed Groovy/Java references likely wouldn't work. Is this because language servers would need to know the others contributions to classpath and the there's no established protocol for them to share this?

[2020-04-30 23:06] jakegt1 commented on #1426
I tried this but (imo) this is not a good solution. I don't need currently to use JDK 11 for development (plus I think it's a poor idea to just assume java.home as the default if I set it manually in java.configuration.runtime.)

I set it in a subproject (not the root project) and it didn't work. Setting the comparability mode for every single project I work on is unfeasible (especially if I try t

[2020-04-30 23:23] jakegt1 commented on #1426
Other then that, it seems awkward to do that in the root of build.gradle when the gradle docs tell you to do that differently.

[2020-05-01 03:50] 395053994 opened #1427 "When writing Java code, why is the response speed of vscode java code prompt not as fast and efficient as that of Eclipse? Always wait for 1 second before appearing. . ."
Issue Type: <b>Bug</b>

When writing Java code, why is the response speed of vscode java code prompt not as fast and efficient as that of Eclipse? Always wait for 1 second before appearing. . .

Extension version: 0.61.0
VS Code version: Code 1.44.2 (ff915844119ce9485abfe8aa9076ec76b5300ddd, 2020-04-16T16:36:23.138Z)
OS version: Windows_NT x64 10.0.19041

<details>
<summary>System Info</summary>

[2020-05-01 07:51] karansood commented on #1061
One specific setting that it seems to ignore is `org.eclipse.jdt.core.formatter.continuation_indentation`

[2020-05-01 11:09] fbricon commented on #1427
@395053994 couple things you can try:
- disable all  other Java related extensions, see if one of them interferes with performance
- completion performance depends on the size of your codebase, for a large number of classes, you might want to increase the heap size given to the Java Language Server (Xmx value in `java.jdt.ls.vmargs`

[2020-05-01 13:25] fbricon commented on #1416
@KaihangXing this will be part of the next release, mid-May 2020

[2020-05-01 13:32] fbricon commented on #1426
- you should definitely, define sourceCompatibility/targetCompatibility in your build.gradle, as a best practice, to ensure build reproducibility, across platforms. The fact that the compileJava block is not respected is a different, upstream issue
- when setting JavaSE-8 as the default, it should definitely be used by default in your project, instead of Java 11. If not, then it's a bug. @snjeza d

[2020-05-01 14:49] jakegt1 commented on #1426
I'm not saying it isn't best practice (as long as the downstream is fixed anyway), but it isn't feasible to do this for every single project in a big team.

I will start doing it in the future , but I see nothing wrong with if you set the default runtime, it should just use that one.

[2020-05-01 16:22] fbricon opened #1428 "Autoclose multiline strings (JEP 368)"
Typing `"""` should automatically insert a new line, indent the cursor position to below the opening quotes, and finally autoclose with a triple quote
eg:
[code]
autocloses/completes to (displaying spaces):
[code]

See https://openjdk.java.net/jeps/368 for more details.

@aeschli any pointers on the best way to achieve that?

[2020-05-01 16:37] fbricon opened #1429 "Escape text when pasting into a string literal"
Similar to Eclipse IDE
<img width="477" alt="Screen Shot 2020-05-01 at 6 32 36 PM" src="https://user-images.githubusercontent.com/148698/80822052-2bab4f00-8bda-11ea-8088-c1fca968465e.png">

when pasting say `<a href="https://github.com/">GitHub</a>` into double quotes, it should be escaped to : `<a href=\"https://github.com/\">GitHub</a>`

![May-01-2020 18-35-25](https://user-images.githubusercont

[2020-05-01 20:16] martinlippert commented on #1417
@a01fe I think it depends on the structure of your project. If you have one-way references only (always from Java to Groovy code or vice versa), you should be able to set this up with separate language servers. But having real cross-references in both directions, you would need a compiler that can compile both, I think.

[2020-05-01 23:38] tommai78101 commented on #1428
While you're at it, can I request that you enclose the center region of text in a C-style indentation?

[code]
will turn into:

[code]
Where the center region's indentation is based on the user-configured indentation size (1, 2, 4, or custom sized indents).

[2020-05-02 15:55] alblue commented on #1407
See also https://bugs.java.com/bugdatabase/view_bug.do?bug_id=JDK-8244190

[2020-05-02 16:36] Ivaylo2017 commented on #743
I had this problem too and it had occurred after i changed my _JAVA_OPTIONS env variable on Windows. I noticed that some plugins import their own setting in VS Code Settings -> settings.json
To fix the error - You have to update them with -Xmx to be larger than the system -Xms value.
I made them identical in both locations and the error is gone. Hope this helps!

[2020-05-02 18:18] rdehuyss opened #1430 "gradle - import to class in testFixtures cannot be resolved."
I have a project where I depend on some testFixtures from another project. The import to a class within the testFixtures source set cannot be resolved.

[code]

##### Environment
- Operating System: Ubuntu 19.10
- JDK version: 11
- Visual Studio Code version: 1.44.2
- Java extension version: 0.61.0

[2020-05-02 18:57] jakegt1 commented on #1426
@fbricon @snjeza just to say thanks for the real quick turnaround on this, understand that it's pretty frustrating to support people on aging JDKs.

[2020-05-02 19:06] fbricon commented on #1430
Please provide a set of sample projects reproducing the issue

[2020-05-03 09:47] msgeissler commented on #659
I have also never been able to get this settings to work. This includes two completely separate installations and maven projects.

The workaround / tip provided by @snjeza does work.

[2020-05-03 10:41] rdehuyss commented on #1430
[vscode-gradle-bug.zip](https://github.com/redhat-developer/vscode-java/files/4570105/vscode-gradle-bug.zip)

[2020-05-04 03:52] knm1993 commented on #1414
Found an workaround based on VS-Code.

The above issue is proved to be access right/ limited user environment related.

The workaround is simple, move all your extensions and user data out of the %APPDATA%, and move into a workspace where your account can be accessed.

Quick(Lazy) Guide:
1. Open "Cmd prompt"
2. Input "code --extension-dir <dir> --user-data-dir <dir>"
3. The vs code will open as a

[2020-05-04 03:52] #1414 closed

[2020-05-04 11:26] alexdima commented on #1423
FYI, every other request for semantic tokens fails currently because the java extension returns the semantic tokens as a `number[]` and not as a `Uint32Array`. This heals itself after another edit, then fails again, and so on...

I have pushed https://github.com/microsoft/vscode/commit/468706e8e2e5fd5ccf51ffe58a551e41bd021442 on VSCode's side to now accept also a `number[]` in the implementation,

[2020-05-04 11:26] alexdima commented on #1424
FYI, every other request for semantic tokens fails currently because the java extension returns the semantic tokens as a `number[]` and not as a `Uint32Array`. This heals itself after another edit, then fails again, and so on...

I have pushed https://github.com/microsoft/vscode/commit/468706e8e2e5fd5ccf51ffe58a551e41bd021442 on VSCode's side to now accept also a `number[]` in the implementation,

[2020-05-04 11:56] n8s16 opened #1431 "Setting a different jdk version in settings.json (workspace)"
##### Environment
- Operating System: Windows 10
- JDK version: Multiple JDK (Java Home is Java1.8)
- Visual Studio Code version: 1.44.2
- Java extension version: 0.61.0

##### Steps To Reproduce
- I created a simple java hello world project.
- I setup my _java.home_ in settings.json (workspace) to
[code]
   because I want to use Java11.

- Java version in my environmental variables is set to `C:\

[2020-05-04 15:15] fbricon commented on #1423
@Eskibear can you look into this issue on the server side please?

[2020-05-04 15:16] VSamokhin commented on #177
It didn't work for me with some protobuf-generated sources either. Probably because the directory where I put them in, say "target/generated-sources", contains another one called "annotations" which is already listed in *.classpath* file as a source directory.
But since I've
– changed the output directory to like below:
[code]
– then right click on *pom.xml* -> "Update project configuration"
– exe

[2020-05-04 15:19] fbricon commented on #1431
Sorry but running code is out of scope of vcode-java. As you probably saw when opening this ticket:

PLEASE OPEN YOUR TICKET IN https://github.com/microsoft/vscode-java-debug/issues

[2020-05-04 15:19] #1431 closed

[2020-05-04 21:05] ricmzn opened #1432 "Overriden class in test package causes "type is already defined" error"
##### Environment
- Operating System: Windows 10 version 1909 (x64)
- JDK version: AdoptOpenJDK 11.0.5 (x64)
- Visual Studio Code version: 1.44.2
- Java extension version: 0.61.0

##### Steps To Reproduce
Example project:  [duplicate-class-in-test-v2.zip](https://github.com/redhat-developer/vscode-java/files/4577534/duplicate-class-in-test-v2.zip)

1. Open the example project in VS Code
2. Open `s

[2020-05-04 23:18] maxandersen commented on #1210
no longer needed, everyone should use https://github.com/maxandersen/jbang instead for java scripts ;)

[2020-05-04 23:18] #1210 closed

[2020-05-05 02:00] chidiadi01 opened #1433 "System cannot be resolved, VsCode"
System cannot be resolved Java(570425394)

##### Environment
- Windows 10:
- JDK version 8:
- Visual Studio Code version 1.42.1:
- Java Extension Pack 0.9.0:

##### Steps To Reproduce
1. Create a public class
2.  Inside it, type system.out.println("test");

[Please attach a sample project reproducing the error]
[Please attach logs](https://github.com/redhat-developer/vscode-java/wiki/Troubleshooti

[2020-05-05 08:36] fbricon commented on #1433
[Please attach logs](https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#enable-logging)

[2020-05-05 09:57] XLCYun commented on #1427
Same problem here. It's impossible to use now. I have to choose to use text intellisense instead of this.
- Disabled all extensions, and only open this extension does not solved this problem.
- Setting `java.jdt.ls.vmargs` does not solved this problem.

Please fix it, tell me what I can help.
I use Remote Package to write code on my server , I don't know if it is related.
And use JAVA OpenSDK 11.

[2020-05-05 10:02] fbricon commented on #1427
@XLCYun do you know when you started to see a performance degradation? You can install older releases from https://download.jboss.org/jbosstools/static/jdt.ls/stable/

[2020-05-05 12:15] fbricon commented on #1432
This is a limitation of the ECJ compiler. Even though this is a deviation from the regular CLI Maven build behavior, this won't be fixed, as there is practically no legitimate reason to redefine a class in the test directory. If you want to mock classes for testing purposes, you can either create a new class that extends Hello, or use an actual mocking framework.

[2020-05-05 12:15] #1432 closed

[2020-05-05 12:21] barisbt commented on #546
Disabling Java Linter extension solved my problem, too.

[2020-05-05 15:10] fbricon commented on #1430
I can reproduce the issue in Eclipse Buildship, so this is an upstream issue. I suggest you open a ticket in https://github.com/eclipse/buildship/issues

[2020-05-05 15:15] #1416 closed

[2020-05-05 15:50] fbricon opened #1434 "Semantic highlighting doesn't like java.* packages"
Given
[code]
The `java.util.List` has a weird rendering.

<img width="828" alt="Screen Shot 2020-05-05 at 5 50 12 PM" src="https://user-images.githubusercontent.com/148698/81086528-e730f380-8ef8-11ea-8446-8be6d9afba89.png">

[2020-05-05 15:54] fbricon commented on #1434
@Eskibear can you please look into this one?

[2020-05-05 20:28] badsyntax commented on #279
@fbricon can you describe your understanding of the differences between "workspace" level and "project" level?

either way, i would agree with this theory, and reckon the cause of the issue is the java LS process `cwd` does not match the project dir.

i'd love to know if this is possible to fix in buildship, but I don't think you can configure a "custom cwd" via the gradle tooling api. i've writte

[2020-05-06 02:33] #1424 closed

[2020-05-06 02:45] Eskibear commented on #1434
#### Root cause
[code]
Binding of SimpleName(java) is null, thus the visitor returned early without any token. See [SemanticTokensVisitor.java#L120-L123](https://github.com/eclipse/eclipse.jdt.ls/blob/82b9b2165ab489420010920ae46311e3426c5967/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/semantictokens/SemanticTokensVisitor.java#L120-L123)

A posible solution is to highlight the whol

[2020-05-06 03:10] Eskibear commented on #1423
Here are two issues.
1. "java" is not highlighted in `java.*` packages, dup with #1434

2. after pasting code/applying code actions, color of semantic highlighting is not correctly rendered. related to #1421 #1424 . Root cause was just as @alexdima mentioned. The response from language server was deserialized as `number[]` on client side, but vscode's API was requiring a `Uint32Array`. A possible

[2020-05-06 03:48] testforstephen commented on #1431
The debugger will use the corresponding JDK with your project file. Could you share the `.classpath` file of your project?

[2020-05-06 09:33] #1434 closed

[2020-05-06 09:47] #1423 closed

[2020-05-06 10:11] XLCYun commented on #1427
Thank you. It works when I downgrade to v56. It's much more faster right now.
The vscode intellisense tells me it needs to be at lease v57 for it to work, if I just ignore it, everything  seem fine. However I updated to v57, and it's alright.
I think I have(I am not pretty sure) try v60, but it did not work out. .

@395053994 Maybe you could try downgrade to v60 or older to try if the situation im

[2020-05-06 10:26] XLCYun commented on #1427
I just tried to downgrade one version by one version, and version above v59.0 is unbearable slow.
the most currently working version is v59.0, even v59.1 is not working.

Hope this help.

[2020-05-06 10:28] fbricon commented on #1427
Thanks that'll be helpful to narrow the regression down

[2020-05-06 10:31] fbricon commented on #1427
Strange, there should be literally no difference between 0.59 and 0.59.1

[2020-05-06 11:04] XLCYun commented on #1427
Weird,  give me more time, I will try use for longer time for these versions to check if the performances do differ.

[2020-05-06 16:43] hanct opened #1436 "No Property Completion in properties file?"
Hi,

does vscode-java extension support property completion? Cos i am currently developing a gradle-based Spring boot application. With the usage of @ConfigurationProperties annotation from Spring Boot libraries, i was expecting some completion intellisense in the properties editor.  But I could not see this.

[2020-05-06 16:49] fbricon commented on #1436
No it doesn't, this is out of scope of vscode-java. But The Spring Boot Tools provides just that: https://marketplace.visualstudio.com/items?itemName=Pivotal.vscode-spring-boot#code-completions

[2020-05-06 16:49] #1436 closed

[2020-05-06 17:09] fbricon commented on #1412
make sure the parent project has pom packaging and lists modul1

[2020-05-06 17:16] fbricon commented on #1411
The language server has different ways of creating methods, typically this setting is respected only when calling the Generate Getters/Setters source action. This is a discrepancy we definitely need to fix.

[2020-05-06 21:42] fbricon commented on #1411
https://github.com/eclipse/eclipse.jdt.ls/pull/1437 should fix it

[2020-05-07 05:25] hanct commented on #634
I second this. Typically, i am using gradle to build the source codes, which will output to build folder. Now I see both folders, can easily get confuse.

[2020-05-07 07:34] #1411 closed

[2020-05-07 10:31] per-steinar commented on #1427
I have also been experiencing the same issue for the last 2-3 weeks.
I have tried all versions of the plugin back to 0.58.0 and the problem appears in every version.
I have also tried to roll back VS Code (Ubuntu 18.04 and VS Code installed as snap) to 1.43.2 and Java Language Support 0.58.0 and 0.59.0, and the issue still occurs.

The issue only seems to disappear for a short while when the syste

[2020-05-07 12:54] per-steinar commented on #1427
I have tested some more, and it looks like the CPU usage of the language server peaks at 200 % CPU when the performance drops
`cat /proc/10198/cmdline
/usr/lib/jvm/java-11-openjdk-amd64/bin/java--add-modules=ALL-SYSTEM--add-opensjava.base/java.util=ALL-UNNAMED--add-opensjava.base/java.lang=ALL-UNNAMED-Declipse.application=org.eclipse.jdt.ls.core.id1-Dosgi.bundles.defaultStartLevel=4-Declipse.produ

[2020-05-07 13:03] fbricon commented on #1427
can you try with the default java.jdt.ls.vmargs settings (`-XX:+UseParallelGC -XX:GCTimeRatio=4 -XX:AdaptiveSizePolicyWeight=90 -Dsun.zip.disableMemoryMapping=true -Xmx1G -Xms100m`)

[2020-05-07 13:04] fbricon commented on #1427
would be interesting to take a Thread dump when CPU peaks at 200% (`jstack` is your friend)

[2020-05-07 13:17] per-steinar commented on #1427
Ok, that's possible. Where would you like me to send it?

[2020-05-07 13:31] fbricon commented on #1427
you can attach it here as a zip file, or send it to <my github handle> at redhat.com, if you want to keep is private

[2020-05-07 13:48] per-steinar commented on #1427
I have sent it by email.

[2020-05-07 14:42] fbricon commented on #1427
@per-steinar thanks.
From what I can see com.microsoft.java.test.plugin is pretty busy computing stuff. Can you check how vscode-java behaves if you disable the vscode-java-test extension?

[2020-05-08 04:40] lyh8577 opened #1437 "Link in javadoc causes an error"
1.  Code comments:  if {@link xxx} has error, the project cannot be started.
2. If dependency:  org.apache.tika:tika-parsers,  import org.xml.sax.SAXException will cause an error.

##### Environment
- Operating System: Windows 10
- JDK version: Amazon Corretto jdk11.0.6_10
- Visual Studio Code version: 1.45.0
- Java extension version: 0.61.0

##### Steps To Reproduce
1. [step 1]
2. [step 2]

[demo

[2020-05-08 09:28] fbricon commented on #1437
So those are actually 2 bugs from 2 different compilers.

1 - `The "package org.xml.sax" is accessible from more than one module`: this is error is raised by the Eclipse ECJ compiler (https://bugs.eclipse.org/bugs/show_bug.cgi?id=536928), used within vscode-java. The fact it works with javac (and all tools using javac for compiling), is a bug! See https://bugs.openjdk.java.net/browse/JDK-8215739.

[2020-05-08 16:37] anthonyvdotbe commented on #1400
As another example: there's a missing comma after the first method parameter.

In VS Code this also results in a confusing error on the enum:
![image](https://user-images.githubusercontent.com/15714253/81427014-6113e780-915a-11ea-9cc6-caccffb9ac54.png)

In IntelliJ IDEA there's a single error on the second method parameter:
![image](https://user-images.githubusercontent.com/15714253/81427274-de3f5

[2020-05-08 16:56] anthonyvdotbe opened #1438 "Organize Imports should be smarter about single-letter types"
When there's an unresolved single-letter type usage in the code, doing Organize Imports should not blindly import a type it finds

##### Environment
- Operating System: Windows 10
- JDK version: 14
- Visual Studio Code version: 1.45.0
- Java extension version: 0.61.0

##### Steps To Reproduce
1. do Organize Imports on the code below, while there's a single type T available for import (in my case i

[2020-05-09 04:03] dhruvkapur91 commented on #800
Any updates, even opening the sample test project from junit5 for gradle does not work. It does work like a charm in Intellij

[2020-05-09 04:09] rcl4444 opened #1439 "change symbal error"
##### Environment
- Operating System:
Windows_NT x64 10.0.17763
- JDK version:
java version "1.8.0_202"
Java(TM) SE Runtime Environment (build 1.8.0_202-b08)
Java HotSpot(TM) 64-Bit Server VM (build 25.202-b08, mixed mode)
- Visual Studio Code version:
1.45.0 (system setup)
- Java extension version:
Language Support for Java(TM) by Red Hat 0.61.0
##### Steps To Reproduce
1. [step 1]
select class r

[2020-05-09 04:18] rcl4444 commented on #1439
When I operate in the class definition file, the above error occurs in the calling interface

[2020-05-09 07:40] fbricon commented on #1439
Can you provide a sample project reproducing the error?

[2020-05-09 14:22] snjeza commented on #800
@dhruvkapur91 Could you attach a sample project reproducing this issue?

[2020-05-10 12:01] rcl4444 commented on #1439
@fbricon
[sample](https://github.com/rcl4444/mytest/tree/master)
![image](https://user-images.githubusercontent.com/19640490/81498692-efbe6b00-92f8-11ea-992b-d4e8fe099fa4.png)
![image](https://user-images.githubusercontent.com/19640490/81498695-f947d300-92f8-11ea-8613-c238d146a9e7.png)

[2020-05-11 09:24] per-steinar commented on #1427
@fbricon I have vscode-java-test extension and the performance issues seem to go away. However, i have re-enablet it, and the performance issues has not occurred again. However, I have upgaded to VS Code 1.45.0, perhaps it contain some mind of fix.

[2020-05-11 13:19] lcbm commented on #1092
@Katona's solution worked for me (thank you) :partying_face:

Here's the following for Archlinux (via package manager) :point_down:

1. Install `jdk`: `$ pacman -S jdk-openjdk`
2. Add path to VS Code's settings (`settings.json`):

[code]

[2020-05-11 15:44] coryroloff commented on #1220
I'm having the same issue.

[2020-05-11 22:57] mahyarmirrashed opened #1441 "Constants break standard highlighting when passed into a function in the following format."
##### Environment
- Operating System: Windows 10
- JDK version: openjdk 11.0.6 2020-01-14, OpenJDK Runtime Environment AdoptOpenJDK (build 11.0.6+10), OpenJDK 64-Bit Server VM AdoptOpenJDK (build 11.0.6+10, mixed mode)
- Visual Studio Code version: 1.450 (user setup)
- Java extension version: 0.61.0

##### Steps To Reproduce
1. Format a function like the above and pass constants as arguments. The

[2020-05-11 23:15] snjeza commented on #1422
@fbricon @pl07  Can you reproduce the issue when starting the server with the following property:

[code]

See https://github.com/eclipse/eclipse.jdt.ls/issues/591
See #512 (comment)

[2020-05-12 03:05] pl07 commented on #1422
@snjeza Cannot reproduce when starting server with  `-Djava.lsp.joinOnCompletion=true`

[2020-05-12 03:47] 395053994 commented on #1427
vscode java code hint is still slow and need to wait 0.5 seconds or 1 second,
There is still no Eclipse, IDEA IDE responsive and agile, which is very frustrating. The same is the Eclipse JDT engine, why is Eclipse so responsive and agile? You have not found the cause of the problem!

------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"Per-Steinar Karlsen"<notifications@github.com&gt;;

[2020-05-12 03:48] 395053994 commented on #1427
vscode java code hint is still slow and need to wait 0.5 seconds or 1 second,
There is still no Eclipse, IDEA IDE responsive and agile, which is very frustrating. The same is the Eclipse JDT engine, why is Eclipse so responsive and agile? You have not found the cause of the problem!

------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"Fred Bricon"<notifications@github.com&gt;;
发送时间:&nb

[2020-05-12 03:48] 395053994 commented on #1427
vscode java code hint is still slow and need to wait 0.5 seconds or 1 second,
There is still no Eclipse, IDEA IDE responsive and agile, which is very frustrating. The same is the Eclipse JDT engine, why is Eclipse so responsive and agile? You have not found the cause of the problem!

------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"Per-Steinar Karlsen"<notifications@github.com&gt;;

[2020-05-12 03:48] 395053994 commented on #1427
vscode java code hint is still slow and need to wait 0.5 seconds or 1 second,
There is still no Eclipse, IDEA IDE responsive and agile, which is very frustrating. The same is the Eclipse JDT engine, why is Eclipse so responsive and agile? You have not found the cause of the problem!

------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"Per-Steinar Karlsen"<notifications@github.com&gt;;

[2020-05-12 03:56] 395053994 commented on #1427
vscode java code hint is still slow and need to wait 0.5 seconds or 1 second,
There is still no Eclipse, IDEA IDE responsive and agile, which is very frustrating. The same is the Eclipse JDT engine, why is Eclipse so responsive and agile? You have not found the cause of the problem!

------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"XLCYun"<notifications@github.com&gt;;
发送时间:&nbsp;20

[2020-05-12 05:46] jdneo commented on #314
@fbricon Does that mean the JDT.LS needs a 'clean build' when the files in the output folder is out-of-sync with the Eclipse compiler?

[2020-05-12 07:55] Eskibear commented on #1421
fixed by #1435

[2020-05-12 07:55] #1421 closed

[2020-05-12 08:14] fbricon commented on #1441
I can reproduce if semantic highlighting is disabled. When enabled, it looks fine. Please try setting
`"java.semanticHighlighting.enabled": true`

You need to also make sure you have `"editor.semanticHighlighting.enabled": true`

[2020-05-12 13:17] gabrielbcn opened #1442 "inner "record"s not properly formatted"
[provide a description of the issue]

The keyword record, equivalent to simple classes to hold immutable data (JEP359 https://openjdk.java.net/jeps/359) is not properly recognised when used inside a method (inner record): the keyword and the type get split by a new line (see attached picture). Look should be like the class below.

It does work correctly if not inner.

##### Environment
- Operating

[2020-05-12 14:11] H749119662 opened #1443 "encoded problem？"
My English is poor. I tried to translate it as faithfully as possible.
On my computer,running the code below,return chinese is null.
`import java.io.BufferedReader;
import java.io.IOException;
import java.io.InputStream;
import java.io.InputStreamReader;

public class testA {
    public static void main(String[] args) throws IOException {
        InputStream a = System.in;
        InputStreamReade

[2020-05-12 14:17] H749119662 commented on #1443
![A](https://user-images.githubusercontent.com/48521235/81702842-634dad00-949e-11ea-8870-e93c922bb09f.jpg)

[2020-05-12 14:18] H749119662 commented on #1443
Windows PowerShell
Copyright (C) Microsoft Corporation. All rights reserved.

Try the new cross-platform PowerShell https://aka.ms/pscore6

PS D:\File\Java\SXT\02>  & 'c:\Users\User\.vscode\extensions\vscjava.vscode-java-debug-0.25.1\scripts\launcher.bat' 'D:\Software\Java\jdk-14.0.1\bin\java.exe' '-Dfile.encoding=UTF-8' '@C:\Users\User\AppData\Local\Temp\cp_2dq6usd00k9gcoqw4k2itw4jk.argfile' 'tes

[2020-05-12 15:12] fbricon opened #1444 "Multiline inner "record" not properly highlighted"
2nd part of #1442: Inner Java 14's record, when the record keyword is on a separate line, is not properly colored, even with semantic highlighting turned on.

[code]
is displayed as:
<img width="549" alt="Screen Shot 2020-05-12 at 5 12 08 PM" src="https://user-images.githubusercontent.com/148698/81711248-bc541b80-9473-11ea-8fca-3447dd34cd3a.png">

[2020-05-12 15:13] fbricon commented on #1442
There are 2 issues to fix here:
- formatting of inner record is broken
- highlighting of multine record is broken (even with semantic highlighting turned on). I opened #1444

[2020-05-12 15:15] fbricon commented on #1444
@Eskibear is this something you can help with?

[2020-05-12 15:25] fbricon commented on #1443
There's an encoding issue on your machine, as it works for me, but I'm sorry, this is out of scope of vscode-java. As you might have seen when opening this ticket:

     PLEASE OPEN YOUR TICKET IN https://github.com/microsoft/vscode-java-debug/issues

The vscode-java-debug team is based in Shanghai, so I'm fairly confident they can help you better

[2020-05-12 15:25] #1443 closed

[2020-05-12 15:38] miteshgoplani commented on #63
Duplicate of #

[2020-05-12 15:45] miteshgoplani commented on #63
Doesn't work for Kali Linux v2019.4
Any Suggestions?

[code]

![image](https://user-images.githubusercontent.com/29533998/81715240-fc040e80-9445-11ea-8720-2bff0c7b286e.png)

[2020-05-12 16:01] Eskibear commented on #1444
I find that the issue also exists for multi-line inner class.
[code]
In the main function you'll see both `class` and `Bar` are not highlighted. Turn semantic highlighting on, it will highlight `Bar` (types and variables have been supported), but the `class` is still not highlighted (semantic highlighting for keywords hasn't been implemented).

Semantic highlighting should be the right way to go,

[2020-05-12 18:30] mahyarmirrashed commented on #1441
So I tried going to my settings.json file and adding the settings as suggested but they do not change, unfortunately. I did some more exploring on my own and it works somewhat weirdly.

For example, changing the third and fourth lines to "UNKNOWN_PARAMETER, UNKNOWN_PARAMETER" as one line will correctly color the first parameter but have incorrect coloring on the second. It seems this only occurs w

[2020-05-12 18:35] mahyarmirrashed commented on #1441
Yes, that seems to have fixed it! Thanks, I think for some reason, this parameter was not already flagged. Thanks for your help and patience!

[2020-05-12 18:35] #1441 closed

[2020-05-12 18:36] enriched commented on #909
A thought on how to implement this. We could reuse the JDT extension bundle from [salesforce/bazel-eclipse](https://github.com/salesforce/bazel-eclipse/blob/1.1.0/plugin-core/plugin.xml). Not sure on the best route for repackaging this for VSCode and making sure that the project is credited though.

[2020-05-13 00:13] fbricon opened #1445 "Completion adds more duplicate snippets as you type"
With latest vscode insiders and vscode-java 0.61.0, completion adds more duplicate snippets as you type. eg. with the `main` snippet:

![May-13-2020 01-59-08](https://user-images.githubusercontent.com/148698/81757302-ba637a00-94be-11ea-894c-bcf30233e268.gif)

I checked the server response, and the snippets are nowhere to be found. So it looks like this is coming from the vscode extension itself. M

[2020-05-13 01:33] jdneo commented on #1445
Sure, will take a look.

[2020-05-13 06:08] 1470391328 commented on #1427
I have the similair problem, the auto_completion works terrible

[2020-05-13 08:26] Eskibear commented on #1444
As for keywords like "class" and "record", it's would be good and cheap to leverage syntax highlighting (as long as they got  https://github.com/atom/language-java/issues/186 fixed).

[2020-05-13 08:50] testforstephen opened #1446 "Reload window will recreate .project for the previously deleted sub module"
See the screencast:
![deleteProject](https://user-images.githubusercontent.com/14052197/81791318-2be00e80-9539-11ea-935d-24e841cfaaaa.gif)

Reproduce steps:
1. Open a multi module maven folder.
2. Wait for the language server to be ready. And then delete one module folder from File Explorer.
3. You would see the delete project is still in the Java Dependency View.
4. And reload the window, the lan

[2020-05-13 08:59] fbricon commented on #1427
Guys, please check the completion performance when there are no other Java related extensions installed (not just disabled). Depending on your platform they are located in :

- Windows %USERPROFILE%\.vscode\extensions
- Mac $HOME/.vscode/extensions
- Linux $HOME/.vscode/extensions

You might need to execute the "clean the Java language server workspace directory"

[2020-05-13 09:37] fbricon commented on #823
Renaming a folder in the explorer view now triggers package refactoring. The 1st time, you'll be prompted to always apply the changes or always preview them:

<img width="952" alt="Screen Shot 2020-05-13 at 11 33 52 AM" src="https://user-images.githubusercontent.com/148698/81796518-d4787900-950d-11ea-82e5-8af82a39fe94.png">

The behavior is controlled by a new preference:

* `java.refactor.renameF

[2020-05-13 09:37] #823 closed

[2020-05-13 12:49] #1426 closed

[2020-05-13 13:41] apupier opened #1447 ""IllegalArgumentException: Path must include project and resource name" for some folders"
Java extension is not working when opening some folders (it works for soem others).
For instance when opening the folder examples of https://github.com/apache/camel-k/tree/master/examples

there is this error in output:

[code]

##### Environment
- Operating System: Fedora 31
- JDK version: Java 8
- Visual Studio Code version: 1.45.0
- Java extension version: 0.61.0

##### Steps To Reproduce
1. cl

[2020-05-13 14:47] apupier commented on #1447
found out that it was because there was already some .project file. (whcih i already deleted withotu keeping them of course sigh)

it would be nice to have an improved errro message in case there is a .project exisitng but the project cannot be loaded.

[2020-05-13 16:45] lordofthejars opened #1448 "Convert a lambda expression to method reference?"
##### Steps To Reproduce

It will be nice to have a refactor option and underlying in yellow, when a lambda expression can be rewritten using method reference.

##### Current Result

Not supported

##### Expected Result

Have an option to refactor automatically, and mark as a warning to advice the developer that this could be refactored.

[2020-05-13 17:28] rdehuyss commented on #1430
Done, see https://github.com/eclipse/buildship/issues/991

[2020-05-13 23:19] Stejnar commented on #328
@ylilarry Can you please elaborate on how you accomplished this?

[2020-05-14 00:10] AdityaGovardhan opened #1449 "The "path" argument must be of type string. Received type object"
Installed Oracle JDK, created JAVA_HOME variable.
[code]

Installed Language Support for Java(TM) by Red Hat (Extension)

Restarted VS Code but it leads to the following error display
![image](https://user-images.githubusercontent.com/29920883/81877153-3ef2de80-9539-11ea-920b-0fe3868383d9.png)

##### Environment
- Operating System: Ubuntu 20.04
- JDK version: jdk1.8.0_251
- Visual Studio Code vers

[2020-05-14 00:27] fbricon commented on #1449
Can you paste the content of your user settings.json?

[2020-05-14 01:43] AdityaGovardhan commented on #1449
Hi @fbricon
I was able to figure out the issue, turns out that I was defining the JAVA_HOME variable in my ~/.bashrc but not exporting it. This lead to vs-code process being unaware of the JAVA_HOME variable. Rookie mistake, sorry. https://stackoverflow.com/questions/1158091/defining-a-variable-with-or-without-export

Thanks for your comment, closing the issue.

[2020-05-14 01:43] #1449 closed

[2020-05-14 03:08] jdneo commented on #1445
@fbricon The upstream bug has been fixed: https://github.com/microsoft/vscode/issues/97659

I've verified in the newest insider and the completion works fine.

---

Version: 1.46.0-insider (user setup)
Commit: e1d8f5155c0db5ffdc130c9aa0f14efac02dfdfb
Date: 2020-05-13T18:20:10.752Z
Electron: 7.2.4
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.18363

[2020-05-14 10:49] mgautam98 commented on #63
I have tried all sorts of combination and I am still getting thins error
- /usr/lib/jvm/java-11-openjdk-amd64/bin/java
- /usr/lib/jvm/java-11-openjdk-amd64/bin
- /usr/lib/jvm/java-11-openjdk-amd64

![image](https://user-images.githubusercontent.com/29784549/81925643-68c20900-95fe-11ea-9e9a-8bd484e6dab9.png)

[2020-05-14 10:55] mannok opened #1451 "Java Language Server is not working even I Clean the Java language server workspace"
I am currently using the plugin for my companies project, it is a large project and we use a private package repository. This plugin has never worked successfully in the project even I have cleaned up the Java Language Server Workspace.

##### Environment
- Operating System: Windows 10
- JDK version: jdk1.8.0_151 (by setting it on settings.json with "java.home": "C:\\Program Files\\Java\\jdk1.8.0_

[2020-05-14 11:29] mgautam98 commented on #63
@miteshgoplani See if you installed both jdk and jre I had the same problem I only installed jre. After installing jdk add this to settings.json
[code]

[2020-05-14 11:59] fbricon commented on #1451
Looks like it's failing to download dependencies.Are you behind a proxy?, do you use a user or global maven settings.xml?

[2020-05-14 12:02] fbricon commented on #63
Yes make sure you use a JDK, not a JRE, and don't set the path to bin/ or bin/java.

[2020-05-14 12:43] mannok commented on #1451
@fbricon Yes, I am behind a proxy, but I can fetch all my dependencies when I run `mvn install -f "c:\projects\xxx.yyy.zzz\pom.xml"`. Isn't Java Language Server runs in the same way?

I do not have any settings.xml in %USERPROFILE%\.m2, so global maven settings.xml should be used (C:\apache-maven-3.3.9\conf\settings.xml as I have installed it at this path)

[2020-05-14 13:01] fbricon opened #1452 "Copy stable releases to https://download.jboss.org/jbosstools/vscode/stable/vscode-java"
Upon publishing to the Marketplace, releases are copied to https://download.jboss.org/jbosstools/static/jdt.ls/stable/

As @apupier pointed out, to make it more consistent with the other vscode extensions at Red Hat, we should move the binaries to https://download.jboss.org/jbosstools/vscode/stable/vscode-java instead.

That means:
- [ ] updating the [Jenkinsfile](https://github.com/redhat-develop

[2020-05-14 13:07] fbricon commented on #1452
https://github.com/redhat-developer/vscode-java/blob/e0490ac2da0e3ffa0ec9926211ef0269d1ae454d/Jenkinsfile#L75-L76

@nickboldt : does it mean  https://download.jboss.org/jbosstools/vscode/stable/ is not Akamai-mirrored ?

[2020-05-14 14:01] fbricon commented on #1451
The language server embeds its own Maven runtime, so ignores the global maven settings.xml set in your local copy of apache-maven-3.3.9. I **strongly** suggest you move your proxy settings in your %USERPROFILE%.m2/settings.xml, so those settings will survive any future Maven update, and can be automatically picked up by both Eclipse (if you ever want to use it) and vscode-java.

Alternatively, you

[2020-05-14 15:59] mannok commented on #1451
@fbricon WOOOOOOOOOO!!!   THANK YOU SOOOOOOOO MUCHHHHHHH BRO!!!!!!!!     You save my life!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

[2020-05-14 15:59] #1451 closed

[2020-05-14 17:40] #1446 closed

[2020-05-14 19:57] dupinder commented on #112
I was missing a extenstion https://marketplace.visualstudio.com/items?itemName=GabrielBB.vscode-lombok installed and everything worked fine

[2020-05-15 09:45] apupier opened #1453 "Allow support of standalone java files in subfolders"
I have a use case a bit particular for VS Code java related VS Code Camel K.
Apache Camel K is using standalone java files.
VS Code Camel K is downloading the required dependencies and providing them through the java.referencedLibraries setting of VS Code Java.
it works great for standalone Java files which are at the root of the workspace.
The Apache Camel K examples folders ([here](https://githu

[2020-05-15 09:46] apupier commented on #1453
@jdneo any ideas on it? (@fbricon suggested me to ping you ;-))

[2020-05-15 12:00] jdneo commented on #1453
@apupier Sorry, but I didn't see any java file in the examples folder contains the package statement. Could you provide the specific file name that I should open?

[2020-05-15 13:12] apupier commented on #1453
none of these files should have a package statement inside it. SO that's normal that you don't find one. The problem is that VS COe Java is reporting an error about this missing package statement.

Some of java files:
- at the "root" examples folder https://github.com/apache/camel-k/blob/master/examples/Sample.java
- in subfolder of "examples" folder https://github.com/apache/camel-k/blob/master/e

[2020-05-15 14:51] nickboldt commented on #1452
if your bits re not under the `/static/` then you're not getting Akamai edge mirroring.

[2020-05-15 15:00] fbricon commented on #1452
mmm that means all other vscode stable releases should be moved to /static/ then

[2020-05-16 05:07] zgqq opened #1455 "Support postfix completion like Intellij IDEA."
It is a very useful feature.

[2020-05-16 05:36] jdneo commented on #1453
I see. After I added the `camel-core-2.8.1.jar`, I can see the error: `The declared package "" does not match the expected package "xxxx"`.

@testforstephen Does the invisible project importer support standalone java files in subfolders?

[2020-05-16 08:40] testforstephen commented on #1453
@jdneo Yes, it does. What you need is to manually mark each subfolder as a source root. You can achieve that through File Explorer context menu "**Add Folder to Java Source Path**"/"**Remove Folder from Java Source Path**".

[2020-05-17 16:09] DanielHabenicht commented on #618
Can you make this the default? And only switch to another mode if the user takes an action which would need the other mode?

[2020-05-18 01:07] ppazos commented on #634
The annoying thing for me about this bin folder is the file search shows results from the bin, so if I look at the file name only, several times I open and start modifying the file under bin and not the real file. This takes extra time of debugging to know WTF is going on the open the right file from the project source.

[2020-05-18 01:27] testforstephen commented on #618
Fair enough, that's exactly what we thought.
@jdneo is working on this, he can share more details.

[2020-05-18 01:58] jdneo commented on #618
@DanielHabenicht

We are trying to make the extension ask the user whether he wants to import the project or not at the initialization. The language server will do the real import only when the user confirms.

Well, what I was thinking previously was that, only ask the user this question when the project files like `.project` and `.classpath` have not been generated. If they already exist (means t

[2020-05-18 03:37] kiaoraPanda commented on #1412
Java Model Exception: Java Model Status [modul1/src/main/java/com/example/modul1 [in demo] is not on its project's build path]
	at org.eclipse.jdt.internal.core.JavaElement.newJavaModelException(JavaElement.java:583)
	at org.eclipse.jdt.internal.core.Openable.generateInfos(Openable.java:256)
	at org.eclipse.jdt.internal.core.JavaElement.openWhenClosed(JavaElement.java:596)
	at org.eclipse.jdt.inte

[2020-05-18 03:42] kiaoraPanda commented on #1412
pom of parent project add this 	<modules>
        <module>modul1</module>
	</modules>

[2020-05-18 04:58] DanielHabenicht commented on #618
That isn't what I was trying to say - sry for being unclear.
I am not the standard java user with vscode, as I am currently using it just for reviewing java code. Thus I never really execute it, but the '.project` and `.classpath` files are generated nonetheless.
If the files are already there then starting the standard server won't affect the files so it would be ok, like you already planned on d

[2020-05-18 08:48] Jonpez2 commented on #909
Interesting.  I spent Friday noodling with the intellij plugin, slicing out the intellij-ide-info.txt generation piece into something I could reuse.  I ended up with something _super_ hacky, which for example lifts the test code into the generator to allow injection of bits of the parsing code using intellij's dependency injection framework.  From there I then generated a json snippet that can be

[2020-05-18 09:33] fbricon commented on #1455
Depends on https://github.com/eclipse/eclipse.jdt.ls/issues/863

[2020-05-19 01:05] 395053994 commented on #1427
After continuous analysis, the reason why the code prompt is slow should be
The following extension: Caused by the Visual Studio IntelliCode extension, because I disabled it, while using other AI extensions the code prompts quickly

------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"Fred Bricon"<notifications@github.com&gt;;
发送时间:&nbsp;2020年5月13日(星期三) 下午4:59
收件人:&nbsp;"redhat-develope

[2020-05-19 01:09] 395053994 commented on #1427
After continuous analysis, the reason why the code prompt is slow should be
The following extension: Caused by the Visual Studio IntelliCode extension, because I disabled it, while using other AI extensions the code prompts quickly

In addition, pressing the content assist key also needs to wait for one second before the code prompt appears.

------------------ 原始邮件 ------------------
发件人:&nbsp;"F

[2020-05-19 17:07] fbricon commented on #227
Can not reproduce. Closing.

[2020-05-19 17:07] #227 closed

[2020-05-19 17:28] fbricon commented on #355
@testforstephen is this still an issue?

[2020-05-20 08:36] ganesa-vijayakumar opened #1458 "Compilation issues for the missing imports are not highlighting for the copy paste java code"
[The compilation issues for the missing imports are not highlighting for the copy-paste java code.]

##### Environment
- Operating System: Windows 10
- JDK version: Java 1.8.0_231
- Visual Studio Code version: 1.45.1
- Java extension version: 0.91

##### Steps To Reproduce
1. Copy-paste a simple java program without imports (For Example I copy-pasted the code `Calendar cal = Calendar.getInstance()

[2020-05-20 09:07] fbricon commented on #1437
Upstream https://bugs.eclipse.org/bugs/show_bug.cgi?id=562960 was fixed. We should be able to pick up the JDT 2020-06 M3 bits at the end of the month, once it's released

[2020-05-20 13:06] fbricon commented on #1458
Looks like https://github.com/redhat-developer/vscode-java/pull/1329 introduced a regression: standalone Java files (not from an open folder) no longer report diagnostics (syntax or compilation), when the standard server is started.
Only with "java.server.launchMode": "LightWeight" do you get diagnostics (or briefly before when Hybrid mode switches to Standard)

[2020-05-20 13:07] fbricon commented on #1458
@ganesa-vijayakumar if you open a folder containing Java files, you should get the proper diagnostics

[2020-05-20 17:42] enriched commented on #909
Love it, I see your hacky plugin and raise you this hacky bash script that I'm using as a workaround

https://gist.github.com/enriched/b0a685e124a2abff3ac92bf3a5e63630

[2020-05-21 05:25] ganesa-vijayakumar commented on #1458
Sure, thanks @fbricon.

[2020-05-21 06:36] Jonpez2 commented on #909
Oh, you made a project and classpath.  Maybe that's a better idea.  OK when I get time I'm going to put my hacktasticness up on github and maybe try to dehack a little bit, and try to see if our bazel-intellij friends like the idea.

[2020-05-21 06:47] EricZhangzf opened #1459 "Generate "java.imports.gradle.wrapper.checksums": have an issue"
##### Environment
- Operating System: Mac & Win
- JDK version: 14.0.1
- Visual Studio Code version: 1.45.1
- Java extension version: 0.62.0

##### Steps To Reproduce
1. Input `java.imports.` in settings table
2. Click  Edit in settings.json

##### Current Result
Generate code in settings.json format have an issue.

[code]

##### Expect Result
`"java.imports.gradle.wrapper.checksums": null,`

[2020-05-21 07:33] #1459 closed

[2020-05-22 07:41] wangshunwei219 opened #1460 "Can it filter folders when refreshing workspace"
[provide a description of the issue]

##### Environment
- Operating System:windows 10
- JDK version: 8
- Visual Studio Code version:1.45.1
- Java extension version:0.62.0

##### Steps To Reproduce
1. to start vscode
2. it opens the recent folder
3. it will scan the whole workspace with some unneccesary folders , e.g. 'node_modules'

[2020-05-22 09:41] per-steinar commented on #1427
I have some days been running without the intelliCode-extention, but the issue still occurs. You may contact me by email  if you want me to do any tests.

[2020-05-22 10:01] elihusmails opened #1461 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `java`
- Extension Version: `0.62.0`
- OS Version: `Windows_NT x64 10.0.18362`
- VSCode version: `1.45.1`

[code]

[2020-05-22 10:04] kgoedert commented on #1427
I have this issue too. My version o vscode and  the java extension are both up to date. I disabled the intellicode extension and it made no difference. But I noted something yesterday. It was happening only on test classes by some reason. In classes without @Test or any other test annotations, everything was normal.

[2020-05-22 11:11] ganezdragon opened #1462 "Auto import static constant not working"
When using constants defined in another java final class, the auto import doesn't automatically import the required constant. Instead the user has to manually import the package containing the constants.

##### Environment
- Operating System: macOs mojave 10.14.6
- JDK version: openJDK 11
- Visual Studio Code version:  1.45.1
- Java extension version:  0.62.0

##### Steps To Reproduce
1. Constants

[2020-05-22 11:20] 395053994 commented on #1427
Since we have all found the problem, we should pay attention to solving it in the next iteration. Found that many times they iterate are some unimportant questions, I do not know why? For example: the console text output has a blank space, and these problems cannot be copied. I have lost faith in vscode.

------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"Per-Steinar Karlsen"<notifica

[2020-05-22 11:24] 395053994 commented on #1427
It is not difficult to mention a lot of bugs that are obvious. But bugs that do affect coding have never been fixed, and it is really difficult for commercial products to improve.

------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"kgoedert"<notifications@github.com&gt;;
发送时间:&nbsp;2020年5月22日(星期五) 晚上6:04
收件人:&nbsp;"redhat-developer/vscode-java"<vscode-java@noreply.github.com&gt;;
抄送:&

[2020-05-22 11:25] 395053994 commented on #1427
It is not difficult to mention a lot of bugs that are obvious. But bugs that do affect coding have never been fixed, and it is really difficult for commercial products to improve.

------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"Per-Steinar Karlsen"<notifications@github.com&gt;;
发送时间:&nbsp;2020年5月22日(星期五) 下午5:41
收件人:&nbsp;"redhat-developer/vscode-java"<vscode-java@noreply.github.co

[2020-05-22 11:28] 395053994 commented on #1427
Since we have all found the problem, we should pay attention to solving it in the next iteration. Found that many times they iterate are some unimportant questions, I do not know why? For example: the console text output has a blank space, and these problems cannot be copied. I have lost faith in vscode.

------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"kgoedert"<notifications@githu

[2020-05-22 14:37] thomas0306 commented on #1462
Hi I am having the same issue since yesterday, below is the error in Log(Extension Host):
`[2020-05-22 16:31:16.167] [exthost] [error] [redhat.java] provider FAILED
[2020-05-22 16:31:16.168] [exthost] [error] Error: The request (id: 19, method: 'textDocument/hover') has been cancelled
	at /Users/leekwa/.vscode/extensions/redhat.java-0.62.0/dist/extension.js:1:73520
	at /Users/leekwa/.vscode/extens

[2020-05-22 14:49] brimworks commented on #634
@fbricon this appears to still be an issue, can this be reopened?

[2020-05-22 16:38] snjeza commented on #1427
@per-steinar @395053994 @kgoedert Could you attach a sample project reproducing this issue?

[2020-05-22 16:39] snjeza commented on #1460
@wangshunwei219 Could you attach your settings.json?

[2020-05-22 17:30] snjeza commented on #1462
@ganezdragon Could you try to define the following property:

[code]

[2020-05-22 17:46] kgoedert commented on #1427
This is the sample project I was working on, and noticed the problem.
https://github.com/kgoedert/hello-quarkus/tree/practice-3

Does this help, or you need me to attach something more specific?

[2020-05-22 18:17] snjeza commented on #1427
@kgoedert Could you send your settings.json?

[2020-05-22 18:50] kgoedert commented on #1427
{
  "gitlens.advanced.messages": {
    "suppressShowKeyBindingsNotice": true
  },
  "gitlens.historyExplorer.enabled": true,
  "editor.minimap.enabled": false,
  "workbench.startupEditor": "newUntitledFile",
  "window.zoomLevel": 0,
  "latex-workshop.view.pdf.viewer": "tab",
  "python.testing.unittestEnabled": true,
  "editor.codeActionsOnSave": {
    "source.organizeImports": false
  },
  "gitlen

[2020-05-22 19:09] snjeza commented on #1427
@kgoedert I can't reproduce the issue when using your settings. It is reproducible with the following settings:
[code]
Could you try to disable all other extensions and only keep "Language Support For Java"?

[2020-05-23 02:27] 395053994 commented on #1427
Because the project is a commercial project, it cannot be disclosed due to confidentiality restrictions. For example: you can create a 30-module Maven project to test and see how, my current project is like this. The version before idea IDE 2019 will also be very slow and stupid. After the 2019 version is thoroughly optimized, the speed is amazing. You can experience it.

------------------&nbsp;原

[2020-05-23 02:28] 395053994 commented on #1427
Because the project is a commercial project, it cannot be disclosed due to confidentiality restrictions. For example: you can create a 30-module Maven project to test and see how, my current project is like this. The version before idea IDE 2019 will also be very slow and stupid. After the 2019 version is thoroughly optimized, the speed is amazing. You can experience it.

------------------&nbsp;原

[2020-05-23 02:29] 395053994 commented on #1427
Because the project is a commercial project, it cannot be disclosed due to confidentiality restrictions. For example: you can create a 30-module Maven project to test and see how, my current project is like this. The version before idea IDE 2019 will also be very slow and stupid. After the 2019 version is thoroughly optimized, the speed is amazing. You can experience it.

------------------&nbsp;原

[2020-05-23 02:36] 395053994 commented on #1427
Because the project is a commercial project, it cannot be disclosed due to confidentiality restrictions. For example: you can create a 30-module Maven project to test and see how, my current project is like this. The version before idea IDE 2019 will also be very slow and stupid. After the 2019 version is thoroughly optimized, the speed is amazing. You can experience it.

------------------ 原始邮件 -

[2020-05-23 02:37] 395053994 commented on #1427
Because the project is a commercial project, it cannot be disclosed due to confidentiality restrictions. For example: you can create a 30-module Maven project to test and see how, my current project is like this. The version before idea IDE 2019 will also be very slow and stupid. After the 2019 version is thoroughly optimized, the speed is amazing. You can experience it.

------------------ 原始邮件 -

[2020-05-23 02:37] 395053994 commented on #1427
Because the project is a commercial project, it cannot be disclosed due to confidentiality restrictions. For example: you can create a 30-module Maven project to test and see how, my current project is like this. The version before idea IDE 2019 will also be very slow and stupid. After the 2019 version is thoroughly optimized, the speed is amazing. You can experience it.

------------------ 原始邮件 -

[2020-05-23 14:03] XLCYun commented on #1427
Hi, it's been 17 days since my last comment, I am using the newest version now, and enable whole `Java Extension Pack`. And it seems this problem occurs and only occurs when I am writing my large unit test code. It's usual for me to write multiple unit test cases in a file over 500+ lines, and sometimes even more, and when it's too large, it got slow.
And in `java build status` output, it required

[2020-05-23 15:42] Mike-the-one opened #1463 "Gradle build failed"
I have a gradle project, with sub gradle projects.

The root gradle project I have the following

[code]

and in sub gradle projects, I have the following:

[code]

It worked before build 0.61 (including 0.61).  After I upgrade to 0.62, it stopped working.

Error is

[code]

After I rollback to 0.61, deleted .gradle folder and VScode user workspacgestorage, then the build worked.

##### Environmen

[2020-05-23 18:13] snjeza commented on #1463
@Mike-the-one do you use a gradle wrapper? If so, which version of the gradle wrapper you use?
See https://github.com/redhat-developer/vscode-java/wiki/Gradle-Support#suspicious-gradle-wrapper-detection-

[2020-05-24 17:09] Mike-the-one commented on #1463
@snjeza I use this:

Yes I remember I saw that message and I clicked trust, but still error

[2020-05-24 17:16] Mike-the-one commented on #1463
Searched in settings here is what I have:

![image](https://user-images.githubusercontent.com/37592183/82760309-aeca5a00-9dc0-11ea-8864-37e582d2e69d.png)

and json file:

![image](https://user-images.githubusercontent.com/37592183/82760329-c7d30b00-9dc0-11ea-9b0a-3bb58c6c9cce.png)

[2020-05-24 17:21] snjeza commented on #1463
@Mike-the-one could you send your settings.json, <your_project>/gradle/wrapper/gradle-wrapper.jar and <your_project>/gradle/wrapper/gradle-wrapper.properties?
You may want to take a look at https://github.com/eclipse/eclipse.jdt.ls/issues/1431#issuecomment-630896572?

[2020-05-24 17:51] Mike-the-one commented on #1463
@snjeza  here you go

[settings.json.zip](https://github.com/redhat-developer/vscode-java/files/4674098/settings.json.zip)
[wrapper.zip](https://github.com/redhat-developer/vscode-java/files/4674100/wrapper.zip)

This is another project also has the problem. This project was OK yesterday when I downgraded java plugin to 0.61, but it has the same problem today (still 0.61)

[2020-05-24 18:36] pecko commented on #1463
@Mike-the-one do you have something like the following in your build.gradle:

[code]

[2020-05-24 18:43] Mike-the-one commented on #1463
@pecko No, I don't

[2020-05-24 18:54] snjeza commented on #1463
@Mike-the-one your gradle-wrapper.jar has the following sha256:
3dc39ad650d40f6c029bd8ff605c6d95865d657dbfdeacd, 5.5b079db0ddfffedf9f
It is official sha256 for the versions: 5.3, 5.4, 5.5 and 5.6.
Could you try the following settings:
[code]

[2020-05-24 19:22] Mike-the-one commented on #1463
@snjeza I tried that, I don't get consistent result.

0.61:
For a root project with more than 7 projects, one of the project won't build, same error as the pasted previously.
For a root project with less sub projects, it works

0.62:
Non worked,

then I tried to add jar in the build.wrapper file like this: (`jarFile` part)

[code]

0.61 worked for all
0.62 didn't

[2020-05-24 19:33] Mike-the-one commented on #1463
This is the error with 0.62:

[code]

[2020-05-24 19:38] Mike-the-one commented on #1463
this is my .workspace file:

[code]

[2020-05-24 20:09] snjeza commented on #1463
@Mike-the-one could you try the following:

- remove
[code]
- set the following:
[code]

[2020-05-24 20:46] Mike-the-one commented on #1463
@snjeza

It didn't work with 0.62.
It worked with 0.61.

[2020-05-24 21:07] snjeza commented on #1463
@Mike-the-one could you try the following:
- comment or remove

[code]
and
[code]
- run
[code]

[2020-05-24 23:41] Mike-the-one commented on #1463
@snjeza  same error

[2020-05-25 00:39] Mike-the-one commented on #1463
hmm, not sure what happened, the error is back.  I am using 0.61,

[code]

My workspace setting has this:

[code]

and in my root build.gradle:

[code]

[2020-05-25 08:25] liudonghua123 commented on #1460
I have also this problem, in my project there is another front-end sub project, and the node_modules is very big, is there configurations to exclude them like `Exclude some libraries` in https://code.visualstudio.com/docs/java/java-project does.

[2020-05-25 10:13] kgoedert commented on #1427
I disable the other extensions and it helped a lot. Haven't used it much to see it the problem persists. Now, I just have to find which one of the extensions if being the problem

[2020-05-25 10:42] snjeza commented on #1463
@Mike-the-one Could you please remove the following:

[code]
See https://github.com/eclipse/buildship/issues/462

[2020-05-25 11:28] Mike-the-one commented on #1463
It did not work with 0.62, but worked with 0.61, this is the message:

[code]

[2020-05-25 11:32] Mike-the-one commented on #1463
My setup was working for at least half year if not more, and I have not touched my build script for ages.  The problem started 2-3 days ago, so something changed in VS code, or the 0.62 of JLS, since 0.62 was released 3 days ago.

[2020-05-25 12:13] snjeza commented on #1463
@Mike-the-one 0.62 adds https://github.com/redhat-developer/vscode-java/wiki/Gradle-Support#suspicious-gradle-wrapper-detection-
Could you provide a project sample reproducing the issue?  (build.gradle, settings.gradle, gradlew, gradlew.bat, gradle/*).

[2020-05-25 12:21] Mike-the-one commented on #1463
@snjeza thanks. I will try to create one asap.

Also for the sha256, it checks the sha256 of jar file specified in the wrapper?

[code]
The sha256 of that file is
`3dc39ad650d40f6c029bd8ff605c6d95865d657dbfdeacdb079db0ddfffedf9f`

and it is not in my User/settings.json, l will add that and try again.

[2020-05-25 12:29] snjeza commented on #1463
@Mike-the-one please remove the following:

[code]
buildship (and Java LS) doesn't support this settings.

3dc39ad650d40f6c029bd8ff605c6d95865d657dbfdeacdb079db0ddfffedf9f
and it is not in my User/settings.json, l will add that and try again.

This sha256 is official gradle sha256 - https://services.gradle.org/distributions/gradle-5.6.4-wrapper.jar.sha256. You shouldn't add it.

[2020-05-25 14:41] liudonghua123 commented on #1460
![image](https://user-images.githubusercontent.com/2276718/82822737-d9a7d180-9ed8-11ea-935b-29870d8c0f66.png)

[2020-05-25 15:29] Mike-the-one commented on #1463
yes, remove that doesn't help.  As soon as I install 0.62 I have issues

[2020-05-25 15:46] sixlettervariables opened #1465 "Failed integrity check for Gradle wrapper yet wrapper is valid"
I'm receiving a warning regarding the integrity of the Gradle Wrapper in our repos, stating that `e55e7e47a79e04c26363805b31e2f40b7a9cc89ea12113be7de750a3b2cede85` is not recognized. Reading https://gradle.org/release-checksums/ I find that is a valid sha256 for 4.9.

##### Environment
- Operating System: Windows 10
- JDK version: 8
- Visual Studio Code version: 1.46.0-insiders
- Java extension ve

[2020-05-25 15:55] fbricon commented on #1465
got a link to the repo?

[2020-05-25 16:46] snjeza commented on #1465
I can't reproduce the issue.
@sixlettervariables Could you enable Java LS tracing and attach the logs from the output view (Java Language server)?
See https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#turn-on-message-tracing-between-vs-code-and-the-java-language-server

[2020-05-25 17:37] a-st commented on #1362
We recently added a frontend component to one of our submodules and I can confirm this behaviour.

[2020-05-25 17:43] snjeza commented on #1362
@jsaulou @a-st could you try to set the following property:

[code]

[2020-05-25 17:49] fbricon commented on #1362
@snjeza I think the problem is invoking IResource.refresh on projects containing large subdirectories. I'm not aware of ways to exclude directories from resource.refresh in Eclipse API

[2020-05-25 18:07] a-st commented on #1362
@snjeza Thanks a lot, I've added the settings to my settings.json and restarted vscode. Acutally it takes quite long to finish this step

![image](https://user-images.githubusercontent.com/63122/82835087-4a43f380-9ec3-11ea-9a9f-2be6bb40d8f4.png)

[2020-05-25 19:18] sixlettervariables commented on #1465
@fbricon https://github.com/MegaMek/megamek

@snjeza I'll work on that tonight, thanks for the link.

[2020-05-26 01:33] jzdayz opened #1466 "java debug console code completion"
[provide a description of the issue]

##### Environment
- Operating System: Mac os 10.15.4
- JDK version: 1.8
- Visual Studio Code version:  April 2020 (version 1.45)
- Java extension version: 0.9.1

##### Steps To Reproduce

please visit https://github.com/microsoft/vscode/issues/98468

[Please attach a sample project reproducing the error]
[Please attach logs](https://github.com/redhat-developer

[2020-05-26 01:43] testforstephen commented on #1466
The code completion on debug console is provided by the debugger. Could you open an issue there? https://github.com/microsoft/vscode-java-debug/issues

[2020-05-26 01:43] #1466 closed

[2020-05-26 01:50] jzdayz commented on #1466
ok, i will do that

[2020-05-26 07:19] jsaulou commented on #1362
Thanks @snjeza for the tip but I had already tried that. I think I tried all combinations of exclusions like `java.import.exclusions`, `files.watcherExclude`, `files.exclude`. This is definitely better but still quite slow compared to a "standard" project (I think `files.watcherExclude`, `files.exclude` make the biggest difference). I'm pretty sure all files are refreshed in a way.

Also, I make u

[2020-05-26 07:48] Jonpez2 commented on #909
Well now.  I just found this thing, and I made it work with an hour's
noodling, and now I have the javas with the bazels with the vscodes.  All I
had to do was to fix the distribution I was getting natively for my
code-server setup, which didn't have the platform-specific stuff.  But this
is way less overhead for a bazel setup, and I bet the 'real' vscode install
works fine...

https://github.com/

[2020-05-26 12:28] ganezdragon commented on #1462
@snjeza so I should do this for all the java projects I have? That doesn't seem right.

[2020-05-26 14:07] snjeza commented on #1462
@ganezdragon you can add this property to the user's settings.json.

[2020-05-26 15:10] ganezdragon commented on #1462
@snjeza okay.. but this will need change for each project. Can't vs code's language server look up automatically just like how intelij does?

[2020-05-26 15:12] fbricon commented on #1462
That behavior is derived from upstream Eclipse. We need to add the enhancement there 1st

[2020-05-26 15:16] ganezdragon commented on #1462
@fbricon  that is interesting. Do you know its repo? I can try to raise a issue there.

[2020-05-26 15:19] fbricon commented on #1462
@ganezdragon https://bugs.eclipse.org/bugs/enter_bug.cgi?product=JDT

[2020-05-26 15:27] ganezdragon commented on #1462
Thank you.

[2020-05-26 15:27] #1462 closed

[2020-05-26 19:13] snjeza commented on #1362
@a-st @jsaulou You can try to add the following code:

[code]
to your build.gradle file.

buildship doesn't support Eclipse resource filters. See https://github.com/eclipse/buildship/issues/271
You can add them to your .project file using the following command:
[code]

[2020-05-27 00:26] sixlettervariables commented on #1465
Sorry for the delay. After changing the log settings per @snjeza I restarted VSCode...which updated it, and now I don't have any issues.

New version:
[code]

[2020-05-27 00:26] #1465 closed

[2020-05-27 01:44] jdneo commented on #1453
@apupier will this help to solve your problem?

[2020-05-27 03:34] HaoboGu opened #1468 "ERROR: transport error 202: bind failed: Address already in use when starting an debugging extension"
Hello, I am an extension developer, I am writing my own java extension, which depends on this vscode-java extension. When I started to debug my extension, I always receive the error information:

Here is the log I found:

![image](https://user-images.githubusercontent.com/8640918/82974752-4e7c2800-a00d-11ea-8e30-e5f3a4ec343a.png)

I think the language server started in the parent vscode window sho

[2020-05-27 03:50] testforstephen commented on #1468
In extension host mode, the java extension will auto enable debug mode. https://github.com/redhat-developer/vscode-java/blob/master/src/javaServerStarter.ts#L46-L48

The reason is probably that debug port is already occupied by other process.

[2020-05-27 06:46] HaoboGu commented on #1468
The error disappeared after I killed the process.

Thank you!

[2020-05-27 06:46] #1468 closed

[2020-05-27 09:04] jsaulou commented on #1362
Thank you so much @snjeza!

I've tried it and it makes a world of difference. It now only takes ~30s to update/sync the Gradle configuration.

[2020-05-27 09:39] a-st commented on #1362
I manually added the **regexFilterMatcher** to **.project**, which also solved the perfomance issues. Thank you very much @snjeza and @fbricon!

[code]

[2020-05-27 14:39] jahan01 opened #1469 "Support envfile in launch.json"
Hello,

I searched for similar feature request opened previously but couldnt find any.

I would like have support for specifying envfile in `launch.json` and the debugger session is started with those variables set. Basically I'm requesting for something that is already set in vscode-python extension ([see here](https://code.visualstudio.com/docs/python/debugging#_envfile))

I current use `env` an

[2020-05-27 14:59] JasonWThompson opened #1470 "Allow devs to override default snippets"
When I create a new java file, I'm able to immediately select if I want to create a class, interface, or enum. However, there does not seem to be a way to configure what said generated type looks like. Specifically for the team I work on, there's an expectation that a certain file header comment appears at the top and specific boiler plate javadoc appears before each type.

Because this isn't poss

[2020-05-27 15:00] fbricon commented on #1469
Sorry this is out-of-scope of vscode-java. Everything problems/questions related to running/debugging your application should be opened in https://github.com/Microsoft/vscode-java-debug/issues

[2020-05-27 15:00] #1469 closed

[2020-05-27 15:17] JasonWThompson opened #1471 "Add Java specific variables to Java Snippets"
I would like to add Java specific variables to my Java snippets. In Eclipse, when I go to preferences->Java->Editor->Templates, I can add templates that contain variables that provides hints as to insert into the template. Examples include getting the enclosing type/method/package, the return type, a local variable near where the template is being generated, etc... It even has a variable that lets

[2020-05-27 15:28] JasonWThompson opened #1472 "Organize import on save should not add fulfilled packages"
If I have static favorites configured that have classes with the same name (as is the case with things like Hamcrest and Mocikto), then when I save the IDE adds in a bunch of imports making my types ambiguous.

##### Environment
- Operating System: Windows 10
- JDK version: Adapt OpenJDK 11
- Visual Studio Code version: 1.45.1
- Java extension version: 0.62.0

##### Steps To Reproduce
1. Edit user

[2020-05-27 15:35] fbricon commented on #1472
can you provide a standalone project reproducing this issue?

[2020-05-27 15:37] JasonWThompson commented on #1472
I'll try mocking up something soon and posting it here.

[2020-05-27 20:32] xenoterracide commented on #632
need, this plugin is useless without it, imho.

[2020-05-27 22:16] fbricon commented on #1427
Regardless of the slowness induced by 3rd party plugins, @Eskibear is working on restoring snappy completion in vscode-java (see https://github.com/microsoft/vscode/issues/96779 and https://github.com/microsoft/language-server-protocol/issues/1003).

[2020-05-28 06:55] testforstephen commented on #1458
Looks like I cannot reproduce it both in Hybrid and Standard mode.

For the standalone single file, i see there is a warning in PROBLEM view. And it turns off the missing import errors by default, you can toggle all compilation errors by the quick fix.
![image](https://user-images.githubusercontent.com/14052197/83108579-988b0980-a0f2-11ea-9d09-79fe7ea8d360.png)

Could someone share a screencast ab

[2020-05-28 08:46] HaoboGu opened #1474 "[Feature request] Add getCompletionItems to extensionAPI"
Hello,

I am an extension developer, I am writing a code auto-completion extension for Java.

vscode-java is a great extension which provides amazing completion results. But those result cannot be used by other extensions.

Can you please add getCompletionItems API so that other extensions can use it for providing better completion service?

Or, is there any way to contribute this feature?

Thanks

[2020-05-28 09:43] fbricon commented on #1474
Can you explain your use case in more details?

[2020-05-28 10:09] HaoboGu commented on #1474
I am writing an auto-complete extension. The extension would generate some completionItems, I want to re-rank my list by combining with the result given by your extension. Besides, I also want to enrich the documentation of my list using the doc/detail field of the result from your extension.

[2020-05-28 10:11] fbricon commented on #1474
Would your autocompletion be triggered inside java files? My concern is potential conflicts between several java completion invocations

[2020-05-28 11:14] HaoboGu commented on #1474
Yes

I will remove the duplicate results from my list. And VSCode would do the merging of results from multiple extensions, I think it's not a risk.

[2020-05-28 11:14] pascalpoizat opened #1475 "Syntax error with Java 14 records"
I get a syntax error when using Java 14 records, while all is OK when I build & run the project in the CLI using gradle.

##### Environment
- Operating System: macOS Mojave 10.14.6
- JDK version: 14.0.1 2020-04-14
- Visual Studio Code version: 1.45.1
- Java extension version: Java extension pack 0.9.1, language support for Java 0.62.0

##### Steps To Reproduce
1. git clone https://github.com/pasca

[2020-05-28 12:15] fbricon commented on #1474
I don't understand, why do you want to have the same completion triggered twice for Java files, only to filter out the second set of results?

[2020-05-28 12:22] fbricon commented on #1474
my point is Java completion requests are pretty expensive. Doing it twice will certainly result in a much degraded UX

[2020-05-28 12:46] HaoboGu commented on #1474
It's not only to do filtering, the result also helps to enhance and rerank my list, which is different from the list from your extension.

For example, if there are two results from my extension with leading `re`:
[code]
And, if I found in your list, `reader` exists but `return` not, I would give `reader.Close()` a higher rank.

The results from my extension will have no effect on vscode-java's re

[2020-05-28 14:25] snjeza commented on #1475
@pascalpoizat could you try the following patch:

[code]
and run the following command:
[code]
See https://github.com/redhat-developer/vscode-java/issues/671#issuecomment-477379761

[2020-05-28 14:37] Slay3r commented on #1362
I have a similar issue.
I have a root project.
One sub-project which is using  'java' and 'application' in the build.gradle file (Spring Boot Server).
11 sub-projects which are 'java-library's.
Every sub-project have its own build.gradle file.

The Spring Boot Server is referencing to the 11 sub-project(libraries).

Every time I open vscode the extension starts to synchronize with gradle like in a

[2020-05-28 14:42] fbricon commented on #1475
Instructions to enable Preview features are available in the wiki: https://github.com/redhat-developer/vscode-java/wiki/Enabling-Java-preview-features

[2020-05-28 16:16] xenoterracide commented on #632
and honestly, all I need is for it to get the classpath appropriately, I couldn't care less about it parsing the kotlin file right now...

[2020-05-28 18:07] pascalpoizat commented on #1475
Thanks you @snjeza. I tried it. Same issue.

[2020-05-28 18:17] pascalpoizat commented on #1475
Thank you @fbricon. I added this:

[code]

(I already had this, I thought it was enough:

[code]
)

I also updated the ```build.gradle``` file as required (@snjeza also had some of the changes).
It works (still) perfectly in the shell (I had to add:

[code]

still).

But same error in the IDE (as first I have no error, then after some time I have the error).
I will try removing the thing I have in

[2020-05-28 18:18] pascalpoizat commented on #1475
Note : I have no JAVA_HOME nor JDK_HOME set up. From the doc I though 'java.home' is sufficient but I will try to add these also.

[2020-05-28 20:16] snjeza commented on #1475
@pascalpoizat have you executed './gradlew eclipseJdt'?

![jdk14](https://user-images.githubusercontent.com/388609/83188998-d6a71e00-a130-11ea-9740-61b0f60b6151.png)

[2020-05-28 20:22] pascalpoizat commented on #1475
Shame on me :-(
Sorry, no (I used my usual workflow, in the shell, ./gradlew build or run, only).
I did now run ```./gradlew eclipseJdt``` in the shell, then opened VSCode and ... it no more error :-)
Thanks a lot for your help (and patience) !
I will try tomorrow with a bigger project where I originally had the issue.

[2020-05-29 07:03] jsaulou commented on #1362
Hi @Slay3r,

If this can help, for me, the issue was not specifically a `node_modules` folder but rather a large number of files in some projects. If you have projects with large number of files, try what @snjeza said in the his previous [comment](https://github.com/redhat-developer/vscode-java/issues/1362#issuecomment-634222338).

[2020-05-29 08:42] Slay3r commented on #1362
Hi @jsaulou,
thanks for answering.

After adding the eclipse plugin and the command provided by @snjeza I could improve the Language Server startup time.

I am building emf plugins and in the emf edit package were folders with a lot of icons.
I excluded those folders.

Its now from 3 minutes down to 1 minute.
I think its still too long because my project is not that big but it's a step in the righ

[2020-05-29 16:50] EnzoKG opened #1477 "Can someone tell me how to import hibernate package in VScode?"

[2020-05-30 07:34] pascalpoizat commented on #1475
@snjeza @fbricon thank you for your help. It works on my bigger project.
Here is the "minimal" ```build.gradle``` I could come up with.
Plus the mandatory run of ```./gradlew eclipseJdt``` of course.

[code]

[2020-05-30 07:34] #1475 closed

[2020-06-02 06:31] kusnier opened #1479 "Setting the JDK on remote is not possible"
As described under https://github.com/redhat-developer/vscode-java/wiki/JDK-Requirements#java.configuration.runtimes the runtime for the remote can not be set up over this way.

This option is ignored on the remote machine. Vscode is showing the following message:

![image](https://user-images.githubusercontent.com/726429/83487443-53c4f100-a4ab-11ea-8e22-cdee6d2674ff.png)

[2020-06-02 06:47] jdneo opened #1480 "Export public API in LightWeight mode"
### Background
We recently introduced [`LightWeight` mode](https://github.com/redhat-developer/vscode-java/pull/1329) in VS Code Java. The `LightWeight` mode is used for those who just want to do some 'easy' work in VS Code, for example: reading the code...

But the users might find that if they take a certain action (i.e. starting a debug session) in `LightWeight` mode, nothing happens...

### Ro

[2020-06-02 07:05] jdneo commented on #1480
This is the proposed change at client side: https://github.com/jdneo/vscode-java/commit/2052f438bb393991cf4fb5fc94c945c5bad9633d

We can first do the migration for all the extension in VS Code Java Extension Pack, and notify others, like SonarLint, SpingSTS before we check in the change.

[2020-06-02 07:33] akaroml commented on #1480
Thanks for the writeup @jdneo.

The goal here is to allow users to have the chance to switch to Full mode to use other features that depend on the full language server (e.g. debugging). Allowing other extensions to also work in Lightweight mode in non-goal at the moment.

Let's start with the use case of debugging. In lightweight mode, when users press F5, the debugger needs to check whether the L

[2020-06-02 07:37] jsaulou commented on #1463
I also have an issue with the latest version and multi-project build.

It seems the extension is treating each subproject like a root project. Doing so, it doesn't use the Gradle wrapper for subprojects, and tries to use the default `gradle` command which is in the path (this is a very old version on my computer). Also, this breaks links between subprojects.

I think my issue is related to the one

[2020-06-02 07:46] fbricon commented on #1463
@jsaulou please provide a set of sample projects reproducing this issue. We'll hold off our planned release until this issue is fixed (cc @akaroml)

[2020-06-02 07:58] jsaulou commented on #1463
Ok I'll try to make one today.
Thanks for the quick feedback.

[2020-06-02 08:04] polyg7ot commented on #800
+1

To "gradle run" the App works fine, but VSCode reports the error "The import org.junit cannot be resovled".

[Repo](https://github.com/polyg7ot/lc-java-polyg7ot) is here.

[2020-06-02 08:08] fbricon commented on #800
@polyg7ot Only groovy based build.gradle files are supported

[2020-06-02 08:19] jdneo commented on #1480
@akaroml

Ok if it's to make it possible to switch between different mode without restart, then we should contain all the available APIs in the resolved promise and deal with the different modes inside their implementation. (Make sense to me.)

Another thing I'm thinking about: since the modes can be changed without restart, the static field `status` in the API might become useless since it could

[2020-06-02 09:53] jsaulou commented on #1463
I created a very simple multi-project build ([vscode-java-bug-gradle.zip](https://github.com/redhat-developer/vscode-java/files/4716298/vscode-java-bug-gradle.zip)).

We can see the extension doesn't seem to be treating this as a multi-project build and is not using the Gradle wrapper for the subprojects.

In the problems panel, I get:

[code]

Gradle 2.1 is the version I have on my path and is no

[2020-06-02 11:35] fbricon commented on #1479
The setting uses scope:"machine"

<img width="630" alt="Screen Shot 2020-06-02 at 1 33 42 PM" src="https://user-images.githubusercontent.com/148698/83515541-d662a600-a4d5-11ea-86bb-e67da08dfd08.png">

So I don't know why it doesn't work. @jdneo @testforstephen @Eskibear any idea?

[2020-06-02 12:28] kusnier commented on #1479
I have it. This has to be configured on the remote machine. Then is works.

![image](https://user-images.githubusercontent.com/726429/83520056-58a29880-a4dd-11ea-9705-4cbe1a7c5327.png)

[2020-06-02 12:28] #1479 closed

[2020-06-02 16:41] snjeza commented on #1463
I can reproduce the issue by setting GRADLE_HOME=<gradle_2.1>. It happens with VS Code 0.61.0 and 0.62.0.

@jsaulou could you try the following:

[code]
You can also try to add the property to your VS Code settings.json:
[code]

[2020-06-03 06:49] testforstephen commented on #1477
Generally you need add it to your build file such as pom.xml or build.gradle. You may have a look at this site https://hibernate.org/orm/documentation/getting-started/

[2020-06-03 07:12] testforstephen commented on #1471
At first, vscode provides a limited variable list you can use in your snippets, it seems you cannot custom the variables in the snippet. https://code.visualstudio.com/docs/editor/userdefinedsnippets

To support more variables, one way i come up with is to have the code completion handler to load your defined snippets, then replace these variables in the language server and append them to the code

[2020-06-03 07:39] jsaulou commented on #1463
It's strange, it works fine for me with version 0.61.0. I think I need to run the `Clean the Java language server workspace` command after switching back to 0.61.0 for it to work properly.

Setting the `GRADLE_HOME` is not really a solution, the Gradle wrapper is the one setting the version.
The problem is that the root project does use the wrapper but the subprojects do not and use the default Gr

[2020-06-03 07:41] testforstephen commented on #1461
Could you describe your issue with more details?

[2020-06-03 08:15] andxu opened #1481 "Wrong java configuration breaks the env"
##### Environment
<details>
Extension version: 0.62.0
VS Code version: Code 1.45.1 (5763d909d5f12fe19f215cbfdd29a91c0fa9208a, 2020-05-14T08:27:35.169Z)
OS version: Windows_NT x64 10.0.19041

</details>

##### Steps To Reproduce
1. Provide a wrong path in java.configuration.runtimes, eg:
[code]

##### Current Result
![image](https://user-images.githubusercontent.com/17075863/83612193-aa6a2200-a5b4-

[2020-06-03 10:03] gablex commented on #1062
I have same issue on Fedora 32. I have set all paths as required but still issues

[2020-06-03 10:12] fbricon commented on #1062
@gablex dis you install vscode via flatpack? Many reports indicates flatpack vscode can't access Java home, because of the sandbox nature of flatpack

[2020-06-03 12:53] #1472 closed

[2020-06-03 13:29] snjeza commented on #1463
The problem is that the root project does use the wrapper but the subprojects do not and use the default Gradle in PATH.

@jsaulou you should unset GRADLE_HOME.

[2020-06-03 14:50] snjeza commented on #1463
@jsaulou @Mike-the-one could you check https://github.com/snjeza/vscode-test/raw/master/java-0.62.1.vsix

[2020-06-04 04:45] andywarren86 commented on #1362
I also recently noticed a large increase in the time required to synchronise the project. I too have a project with a nested `node_modules` folder. While ignoring `node_modules` as per above comments helped, it was still taking a while. I reverted the plugin back to v62 and sync speed dropped back to only a few seconds.

What changed in v63 that could have caused this?

[2020-06-04 07:12] Mike-the-one commented on #1463
Thanks @snjeza

It worked.

I was on 0.61.

1. Installed 0.62.1, worked.
2. Switched back to 0.62, failed.
3. cleaned workspacestorage folder and .gradle folder, still failed.
4. switched to 0.62.1, failed
5.  cleaned workspacestorage folder and .gradle folder, worked,

Thanks

[2020-06-04 07:56] Slay3r commented on #1362
Like @andywarren86 I switched back to version 0.61.0.
The startup time is a lot better.

[2020-06-04 09:03] jsaulou commented on #1463
Thanks @snjeza.

First of all, sorry for the mix up with `GRADLE_HOME`, I didn't read that right, thought you expected to set `GRADLE_HOME`, my bad.

I tried 0.62.1 and now it builds correctly.

---

I still have an issue though regarding the time it takes compared to 0.61.0. This seems to be what is discussed in bug #1362 now even though I don't think it's related to large folders.

The extension

[2020-06-04 10:31] gablex commented on #1062
No, I used below commands  after adding repo as stated in [https://code.visualstudio.com/docs/setup/linux]

sudo dnf check-update
sudo dnf install code

[2020-06-04 10:32] gablex commented on #1062
I have tried creating a direct path name on VC but says that my path doesn't point to JDK Installation

[2020-06-04 10:34] gablex commented on #1062
/usr/local/java/jdk-14.0.1+7 InvalidThis path is not pointing to a JDK. | JAVA_HOME | Environment Variable
-- | -- | --

[2020-06-04 13:05] snjeza commented on #1463
@jsaulou could you check https://github.com/snjeza/vscode-test/raw/master/java-0.62.2.vsix

[2020-06-04 13:33] snjeza commented on #1362
@Slay3r @andywarren86 could you check https://github.com/snjeza/vscode-test/raw/master/java-0.62.2.vsix

[2020-06-04 14:36] jsaulou commented on #1463
Just tested it and unfortunately I still have all projects being updated/refreshed.

I just noticed they are actually updated twice, not sure if it was the case in version 0.62.0.
This might have to do with using `includeBuild`, not sure.

[2020-06-04 15:58] snjeza commented on #1463
@jsaulou please check https://github.com/snjeza/vscode-test/raw/master/java-0.62.3.vsix

[2020-06-04 16:14] jsaulou commented on #1463
This worked for me.
Subprojects are not updated and the time seems to be comparable to version 0.61.0.

Thanks a lot @snjeza.

[2020-06-04 16:20] snjeza commented on #1362
@Slay3r @andywarren86 Please see https://github.com/redhat-developer/vscode-java/issues/1463#issuecomment-638957729

[2020-06-04 19:56] polyg7ot commented on #800
Thanks. But somehow it used to work before. At that time, I did not pay much attention.
What could be the reason by any chance please?

[2020-06-04 22:37] CWX-iggy commented on #1092
On archlinux and manjaro, `/usr/lib/jvm/default` is symlinked to the default JDK version. However, the extension doesn't seem to recognize/follow the symlink, and you have to explicitly point it to a specific version `/usr/lib/jvm/java-14-openjdk`.

[2020-06-05 04:37] Slay3r commented on #1463
@snjeza I tested the 0.62.3.
I can confirm it's a lot better than 0.62.0.
It's comparable to 0.61.0.

Thank you for your efforts.

[2020-06-05 06:02] a-st commented on #1463
@snjeza I don't know what's the difference between your version (https://github.com/snjeza/vscode-test/raw/master/java-0.62.3.vsix) and the latest version I've tried from here https://download.jboss.org/jbosstools/jdt.ls/staging/ (which currently is java-0.62.0-2166.vsix), but both seem comparable

[2020-06-05 07:09] badsyntax opened #1482 "Updating class references (generated classes from proto files)"
Hi. I'm using Protocol Buffers in my Java application. I'm using Gradle, and the [protobuf-gradle-plugin](https://github.com/google/protobuf-gradle-plugin) to generate Java classes from the `.proto` files. The generated proto Java files are added to my sourceSet in `build.gradle`.

<details><summary>build.gradle</summary>

[code]

</details>

Whenever I make a change to the proto files, and re-gen

[2020-06-05 08:43] apupier commented on #1453
(sorry, llate answer, I was on PTO)

Unfortunately, it is not working. I have this error message:

`Cannot add the folder '/examples_2d1f0b05/_/kafka' to the source path because it's parent folder is already in the source path of the project 'examples_2d1f0b05'.`

![Screenshot from 2020-06-05 10-41-52](https://user-images.githubusercontent.com/1105127/83856001-3006e280-a719-11ea-8f44-9b831f23a83c.

[2020-06-05 08:51] testforstephen commented on #1482
"Update project configuration" is exactly used to update classpath. Its performance issue is covered at another issue https://github.com/redhat-developer/vscode-java/issues/1362.

[2020-06-05 08:55] testforstephen commented on #1453
A workaround is to remove the parent folder from source path first, then add the sub folder to source path, finally add the parent folder to source path again.

[2020-06-05 09:07] badsyntax commented on #1482
I don't know the internals of how this extension works, but it seems that "Update project configuration" does more than just update classpath (eg I don't know what "project configuration" means):

But ignoring the performance and focusing in the UX, running this command is not an ideal step. I need to either focus on the `build.gradle` file before running it, or right click the `build.gradle` file

[2020-06-05 09:09] apupier commented on #1453
ok so this is a workaround which is mostly working.
I have the error removed when I open the file but if i open the file of another subfolder, the error is shown in Problems view.

![declarepackeError-afterworkaround](https://user-images.githubusercontent.com/1105127/83858502-e7e9bf00-a71c-11ea-812d-f3ea64e22584.gif)

another question: how to avoid the manual workaround?

[2020-06-05 10:18] testforstephen commented on #1482
The extension will auto watch on those files under the folder which is marked as `src` kind in .classpath.

When i tried your sample project at first time, actually the .classpath file didn't contain the sourceSets you pasted above. Only when i run `./gradlew generateProto` and "Update project configuratoin", then the sourceSets entry above is added to .classpath. So looks like the .classpath cann

[2020-06-05 10:39] badsyntax commented on #1482
Thanks for testing this. You're totally right, it does indeed watch those files and update references. This is great. Apologies for not spotting this behaviour. I remember it didn't always do this, perhaps this is a recent change in the extension? Either way, this is exactly what I was looking for haha 🤦

About the `.classpath` not containing references to paths that don't exist, do you happen to

[2020-06-05 11:03] testforstephen commented on #1453
Because standalone folders are not well structured, it's hard for extension to know which folder should be taken as source root. If you have multiple source folders, you must manually mark them as source folder one by one.

[2020-06-05 14:44] snjeza commented on #1463
0.62.3 includes https://github.com/eclipse/eclipse.jdt.ls/pull/1467

[2020-06-05 16:04] devyhia commented on #1362
I have the same issue with v62; Reverting back to v61 sped up things a lot.

[2020-06-05 17:56] snjeza commented on #1362
@devyhia could you check https://github.com/snjeza/vscode-test/raw/master/java-0.62.4.vsix

[2020-06-05 22:43] fbricon opened #1483 "Syntax Mode (aka Lightweight mode) ignores java.trace.server setting"
In Syntax Mode (aka Lightweight mode)  java.trace.server always behaves as if it was in verbose mode, ignores other settings.

[2020-06-06 04:03] SanjayGautam commented on #205
was this feature implemented any time later ?

[2020-06-06 08:46] testforstephen commented on #1483
Do you mean the output channel for syntax server always print verbose log? Cannot reproduce it.
![syntaxmode](https://user-images.githubusercontent.com/14052197/83940164-295d9580-a815-11ea-86fa-f49c8abb6c6a.gif)

[2020-06-06 19:29] brunnooliver7 commented on #670
I was having the same issue. After a lot of uninstalling e installing things, sets and configures, I think I found the problem, as it folows:

I properly setted the JAVA_HOME path in Environment Variable, and it was solved. The problem is that I was setting the JAVA_HOME in the the "user variables" and not in the "system variables". After I fixed that, the VS Code recognized the JAVA_HOME path.

!

[2020-06-08 09:39] idlesysman opened #1485 "dead code tips error"
[provide a description of the issue]

##### Environment
- Operating System:win10
- JDK version:jdk 11
- Visual Studio Code version:1.45.1
- Java extension version:Language Support for Java(TM) by Red Hat redhat.java 0.62.0

##### Steps To Reproduce
1. [step 1]
[code]
2. [step 2]
will tips "Dead code Java(536871061)"

[Please attach a sample project reproducing the error]
[Please attach logs](https

[2020-06-08 11:34] melhindi opened #1486 "Setting java.import.gradle.home in multi-project structure via vscode variable"
I have a gradle multi-project structure in which the gradle wrapper is only placed in the root project.
Since I want all sub-projects to use the same wrapper (and not e.g. my local installation) I set the java.import.gradle.home in my workspace settings.
Ideally, I want to set this variable as: `java.import.gradle.home=${workspaceFolder}/.gradle/...`
However, in the generated `.settings/org.eclips

[2020-06-08 14:56] snjeza commented on #1486
Related issue - https://github.com/eclipse/eclipse.jdt.ls/pull/1467

@melhindi could you check https://github.com/snjeza/vscode-test/raw/master/java-0.62.4.vsix
You don't need to set java.import.gradle.home

[2020-06-08 16:00] melhindi commented on #1486
Hi @snjeza thanks for the hint to the pull request
Since it is not urgent I'll probably wait until the pull request has been merged.
However, I still think it might be meaningful requirement to support vscode variable expansion. Not sure if other use cases exist though.

[2020-06-08 16:29] fbricon commented on #1485
Where is the dead code warning?
Can't reproduce with this snippet. Please provide a fully functional sample of code.

[2020-06-08 20:56] #1463 closed

[2020-06-08 21:52] snjeza commented on #1362
Fixed with https://github.com/eclipse/eclipse.jdt.ls/commit/200d352d1215dd2fe925e4a81c3b64d55d9ac617

[2020-06-09 02:26] idlesysman commented on #1485
[code]

[2020-06-09 02:33] idlesysman commented on #1485
![screenshot](https://github.com/idlesysman/java/blob/master/resources/0.png?raw=true)

[2020-06-09 07:53] aeschli opened #1488 "Semantic highlighting improvements"
Have the following code:
[code]
Use the `Developer: Inspect Editor Tokens and Scopes` tool to look at the semantic tokens

The following improvements to semantic highlighting would great to be consistent with TypeScript:

- parameters: should get token type `parameter`
- enum: `Color` should be `enum` and `RED` could be `enumMember`
- Annotations: `SuppressWarnings` could be new type `annotation`

[2020-06-09 08:32] aeschli opened #1489 "The "path" argument must be of type string. Received type object."
Version: 1.46.0-insider
Commit: 9f89da69154ac6c99dfa7c82986e2df95b7bbe0b
Date: 2020-06-08T22:13:15.761Z
Electron: 7.3.1
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Linux x64 5.3.0-55-generic

Starting up the Java extension I get the following error:
[code]

Same as #1449, but different stack trace.

Checking my env, JAVA_HOME is *not* set

[2020-06-09 08:42] fbricon commented on #1489
@aeschli can you try debugging the vscode-java extension to see what's happening?

[2020-06-09 08:49] jdneo commented on #1485
@idlesysman You can simply add a `sysout` before your for loop to see if the code reached or not.

[code]

and you will see there is no output in the console.

[2020-06-09 08:58] fbricon commented on #1488
@aeschli I think we can do most of those for now, but looks like we'll need an LSP4J update for enumMember and annotation.

@Eskibear since you've worked on Semantic Highlighting before, do you want to take this one?

[2020-06-09 09:54] Eskibear commented on #1488
Sure, I'll take it.

Currently it's provided through  [DocumentSemanticTokensProvider](https://github.com/microsoft/vscode/blob/1428d44d172bf6fffddd198c71235df86b6ff0fa/src/vs/vscode.d.ts#L3290) instead of LSP, I think if it's not related with LSP4J. Am I missing anything?

[2020-06-09 19:37] tcsecchen opened #1490 "[JAVA] can't find reference when java build status finished"
[provide a description of the issue]

##### Environment
- Operating System: Win10
- JDK version: jdk 1.8.0_181
- Visual Studio Code version: latest
- Java extension version: 0.6.2

##### Steps To Reproduce
1. when i start vscode , i can find the reference by F12
2. But when the java build status shows complete, i presh F12 but it tell me can't find reference
the problem:
![图片](https://user-images.

[2020-06-10 00:26] erjdriver opened #1491 "Extension not finding jar files"
When I open my java workspace in vscode - some packages are not found.

`import org.apache.http.StatusLine;` - `org.apache.http` is high-lighted in squiggly red lines with "cannot be resolved" message.

I assume the jar file is not being found.

I went into the extension settings and set the referencedlibraries under User.

[code]

Not sure whether this is the correct way.

The above was under Use

[2020-06-11 08:53] devyhia commented on #1064
I have the same problem. Intellisense is usually very fast; However, whenever I enable the debugger and java test runner the inntellisense slows down dramatically. For some reason, "Java Test Runner" plugin and the debugger plugin slow down the performance. Not sure how to go around debugging this.

[2020-06-12 01:10] testforstephen commented on #1064
@devyhia When you observe performance issue, could you share the logs?

Below is the command to get the log.
**F1** -> **Java: Open Java language server log file**

[2020-06-12 07:36] lptr opened #1492 "Gradle 6.4 wrapper incorrectly marked as potentially malicious"
I'm running VSCode on my macOS Catalina, using an SSH remote to open a Java project on a Windows 10 machine. Upon opening the project (see https://github.com/gradle/native-platform/tree/b8f27b864ff82621cb80e127579c1a75b682be91) I got the following warning pop-up:

![image](https://user-images.githubusercontent.com/495366/84476997-3b18c000-ac8f-11ea-8c73-adb6b5d849b3.png)

The repo at this time use

[2020-06-12 15:43] snjeza commented on #1492
I can't reproduce the issue.
Is there the ~/.tooling/gradle/checksums/gradle-6.4-wrapper.jar.sha256 file on your ssh server?

[2020-06-12 15:52] lptr commented on #1492
Yes:

[code]

[2020-06-12 15:54] lptr commented on #1492
Where do these files come from? Is it possible that they were updated after I got the error?

[2020-06-12 16:38] snjeza commented on #1492
Yes. You probably face a connection limit. Could you reproduce the error when starting VS Code again?

[2020-06-12 19:23] jdharvey-ibm commented on #1299
Based on guidance from the eclipse issue I mentioned above, I added this to my vscode settings file, which resolved the issue for me. I haven't really followed the rest of the discussion in that eclipse bug, but it does appear to have been fixed on 6/2.

[code]

[2020-06-14 05:00] akaroml commented on #1299
@testforstephen `maxCompiledUnitsAtOnce` do we understand how this affects the behavior of JDT?

[2020-06-14 09:23] fbricon commented on #1437
This is now fixed with the latest JDT bits embedded in vscode-java

[2020-06-14 09:23] #1437 closed

[2020-06-14 09:33] testforstephen commented on #1299
`maxCompiledUnitsAtOnce` is a vmArgs used to control the max number of files that the JDT builder can handle in one batch compilation. Defaults to 2000. `0` means compiling all files in one batch. FYI: // @akaroml

Have a look at the upstream discussion at https://bugs.eclipse.org/bugs/show_bug.cgi?id=561287, this issue only happens if a class references a class that is compiled in a later batch a

[2020-06-15 12:38] badsyntax commented on #1482
hi @testforstephen have you had a chance to look into this? Am wondering why the extension doesn't add paths from the sourceSets (that don't exist) into the `.classpath`? This would help with the UX of this extension.

[2020-06-15 14:12] nduchuyvp123 opened #1493 "The java.home variable defined in Visual Studio Code settings points to a missing or inaccessible folder (C:\Users\username\AppData\Local\Programs\AdoptOpenJDK) (WSL)"
When I open VSCode in WSL, it show this notification. Nothing happen when I open VSCode in Windows. I have define JAVA_HOME and JDK_HOME in system varibles. Then define the path of jdk-11/bin in the system path. The problem is VSCode in WSL use the same 'setting.json' as VSCode in Windows.

##### Environment
- Operating System: Windows 10 Education Version 2004 OS Build 19640.1
- Local JDK version

[2020-06-15 14:40] jdharvey-ibm commented on #1299
Just re-ran with the following extension versions, and *without* the `maxCompiledUnitsAtOnce` vmarg, and I still see the same compile failures... Numerous (7000+) "... refers to missing type" or "... cannot be resolved" errors until I open each file individually.

[code]

[code]

jvm
[code]
also tried with the following jvm and got similar results
[code]

[2020-06-15 19:17] HamoodHabibi83 opened #1494 "Highlight unused access modifiers"
selam! is there a way to highlight when a modifier is not used within it's scope? For example

Main.java

goodbye and thanks

[2020-06-16 06:04] testforstephen opened #1495 "The gradle wrapper validator won't work in the machine without internet access"
To reproduce it with the latest CI build:
1. Turn off your wifi and keep it without internet access.
2. Clean up `~/tooling/gradle`, local gradle user home `~/.gradle`, and leave all gradle vscode settings to the default value.
3. Open a sample gradle wrapper project below in VS Code.
[springbootgradledemo.zip](https://github.com/redhat-developer/vscode-java/files/4784624/springbootgradledemo.zip)

[2020-06-16 07:21] fbricon commented on #1495
@testforstephen did you try with `"java.import.gradle.offline.enabled": true`?

[2020-06-16 08:45] testforstephen commented on #1495
YES, enable/disable offline has the same failure.

https://github.com/eclipse/eclipse.jdt.ls/blob/8d33bd04b8ce58fae5fc6dbf69362ea8ed52d9ab/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/managers/GradleProjectImporter.java#L127-L177

When importing project, the wrapper validator will check and send a security warn about suspicious wrapper to client. Meanwhile, the GradleProjectImporte

[2020-06-16 08:49] fbricon commented on #1495
Buildship itself is trying and failing to read the available gradle versions online

[2020-06-16 08:57] testforstephen commented on #1495
YES, but seems it's not a blocking failure.

[2020-06-16 09:20] fbricon commented on #1495
Related: https://github.com/eclipse/buildship/pull/998

[2020-06-16 09:29] fbricon commented on #1480
@jdneo can we close this or do you still need to add more stuff?

[2020-06-16 09:31] agilob commented on #1062
On ArchLinux with sdkman:

this path is incorrect and says it's invalid directory for JDK
` "java.home": "/home/agilob/.sdkman/candidates/java/14.0.1-open",`

but this symlink works - and it points to the directory above:
`"java.home": "/home/agilob/.sdkman/candidates/java/current",`

[2020-06-16 09:50] fbricon commented on #1062
try `"java.home": "/home/agilob/.sdkman/candidates/java/14.0.1.hs-adpt"` there's no 14.0.1-open in your candidates directory.

[2020-06-16 10:52] jdneo commented on #1480
How about close this issue and pin it in the issue list?

[2020-06-16 11:06] jdneo commented on #1480
@henryju Just FYI, we proposed these new APIs in the Syntax mode. I guess the `sonarlint-vscode` may need to have some update to adopt the new APIs.

[2020-06-16 11:27] henryju commented on #1480
Thanks for the notification @jdneo. I will create a task on our side. I guess SonarLint should simply not run on Java files when the LS is in lightweight mode right? I'm a bit worried about the user experience. I'm anticipating users complaining that SonarLint is not reporting any diagnostics. Should we plan to advertise LightWeight mode, or will you take care on your side to make it clear that Ja

[2020-06-16 12:28] testforstephen commented on #1299
@jdharvey-ibm thank you for the verification. Sorry, i just checked 0.62.0 is still using an old jdt bits. The next release 0.63.0 should have the upstream fix.

[2020-06-16 12:33] jdneo commented on #1480
@henryju Yes, since currently the LightWeight mode does not have the capability to provide the complete classpath information, I think the sonarlint should not run in lightweight mode.

For the UX, I think sonarlint could provide some hint to the users, telling that sonarlint is not working because Java Language Server is in lightweight mode.

Meanwhile, we also provide a command `java.server.mode

[2020-06-16 12:37] testforstephen commented on #1482
We're leveraging [buildship](https://github.com/eclipse/buildship) to support gradle project, don't get time to look into the upstream buildship tool yet.

[2020-06-16 15:10] snjeza commented on #1495
@fbricon @testforstephen See https://github.com/redhat-developer/vscode-java/issues/901#issuecomment-557141777

[2020-06-17 05:26] rajinder-yadav commented on #1062
Getting same error on Linux openSUSE,

[code]

JAVA_HOME set correctly:

[code]

![jdk](https://user-images.githubusercontent.com/439226/84858469-3bbba880-b039-11ea-9a49-97401790be91.png)

[2020-06-17 07:22] Eskibear commented on #1062
Let me help to form a guide from most of above cases.

### Root cause
Because of the confusing name of packages, some Linux users actually installed a JRE (Java Runtime Environment) instead of a JDK (Java Development Kit).
As `./bin/javac` doesn't exists under path of Java home folder, the extension recognizes it as a JRE instead of a JDK (which is required), thus prints this error message.

### F

[2020-06-17 08:26] gablex commented on #1062
I am still stranded using java in visual code. I managed to solve missing JDK issue , however, when running my code I get below error:-
`[Running] cd "/home/admin/Dev/Java/demo/src/main/java/com/martin/test/demo/" && javac DemoApplication.java && java DemoApplication
/bin/sh: javac: command not found
`
My OS is Fedora 32.
Below is my javac test
`$JAVA_HOME/bin/javac -version
javac 14.0.1
`

[2020-06-17 09:10] testforstephen commented on #1495
Here are the download jobs during initializing gradle projects:
- Download PublishedGradleVersions (This is mentioned by https://github.com/eclipse/buildship/pull/998 and https://github.com/redhat-developer/vscode-java/issues/901#issuecomment-557141777)
Since only GradleProjectImporter is using the result from PublishedGradleVersions, its failure should not affect the importer.

- Download checksu

[2020-06-17 10:08] Eskibear commented on #1062
@gablex I've never seen messages like "[running] cd ... ", and this extension doesn't call `javac` directly to compile your project. I guess you are talking about other extensions.

Just FYI, I use [Language suport for Java](https://github.com/redhat-developer/vscode-java) for editing, and [Debugger for Java](https://github.com/microsoft/vscode-java-debug/) to run/debug.

[2020-06-17 13:59] gablex commented on #1062
@Eskibear I agree.  I have uninstalled all java plugins and installed java plugin pack only and now works

`sh-5.0$ /home/admin/Downloads/Programs/jdk11/bin/java -Dfile.encoding=UTF-8 @/tmp/cp_8wzwvixrylq96snesdedrppha.argfile org.acme.martin.QuickStart
Hello, World.`
Thank all.

[2020-06-17 20:20] fbricon commented on #1480
Releasing on June 18th, 2020

[2020-06-17 20:20] #1480 closed

[2020-06-17 21:09] fbricon commented on #1495
https://github.com/eclipse/eclipse.jdt.ls/issues/1486 should help

[2020-06-18 07:37] Toro98M commented on #618
my problem is the opposite I want to change .classpath but it was not generated or I can't find it anywhere.

[2020-06-18 07:44] jdneo commented on #618
@Toro98M Did you hide them through the setting `java.configuration.checkProjectSettingsExclusions`?

[2020-06-18 18:37] Toro98M commented on #618
I have this enabled. I tried with both true and false
![hide](https://user-images.githubusercontent.com/45641707/85059160-ccdd6d00-b168-11ea-96ba-ab83499f3dd0.PNG)

[2020-06-19 02:00] jdneo commented on #618
I see. It's a standalone project. If you want to see the `.classpath` file, please follow the steps:

1. In dependency viewer, right click your project and choose `reveal in explorer`
![image](https://user-images.githubusercontent.com/6193897/85088782-7e38dd00-b213-11ea-9266-47e75425f04d.png)
2. In the opened file explorer, go into the selected folder, them you will see the `.classpath` file
![ima

[2020-06-19 02:21] testforstephen commented on #618
@Toro98M For standalone java files, we don't suggest you changing .classpath directly, but using `java.project.referencedLibraries` user setting to add extra libraries dependencies. See more details about this setting https://github.com/redhat-developer/vscode-java/pull/1196#issuecomment-568192224

[2020-06-19 08:50] unknown722437 opened #1497 "There is no formatter for 'java' files installed"
Hi,

I have imported an Eclipse format XML file to vscode follow your instruction in here
https://github.com/redhat-developer/vscode-java/wiki/Formatter-settings
But it didn't work. Before that, it used to work great.
Just reinstall the vscode with java extension pack and start to meet this problem
I really want to stay with vscode to work with Java and don't want to come back to IntelliJ or Eclip

[2020-06-19 09:57] apupier commented on #1353
@fbricon any news on automated publishing?

[2020-06-19 13:17] astrelsky commented on #1497
I'm not sure if this is only an option on the insiders version of vscode or if it is available in the release version. Try the following:

[code]

[2020-06-19 13:23] astrelsky opened #1498 "Unprocessed markdown in settings"
I've removed most of the template as it isn't relevant. I'm not certain if this is due to a setting on my end or if this was an oversight when writing the descriptions for the plugin settings.

![Capture](https://user-images.githubusercontent.com/46897303/85136813-32d00000-b20e-11ea-84d3-91f930fe45bb.PNG)

##### Environment
- Operating System: Microsoft Windows [Version 10.0.19041.329]
- JDK versi

[2020-06-19 14:46] #1498 closed

[2020-06-19 14:48] astrelsky commented on #1498
@fbricon Thank you!

[2020-06-19 14:48] fbricon commented on #1498
Fixed in 6129734 by using markdownDescription instead of description:
<img width="453" alt="Screen Shot 2020-06-19 at 4 47 59 PM" src="https://user-images.githubusercontent.com/148698/85145293-a98bee00-b24c-11ea-8dce-72f5ec017ebc.png">

[2020-06-19 14:58] fbricon commented on #1353
@apupier sorry no, I just need to bump the priority of that task in my todo list :-)

[2020-06-20 04:34] hanct commented on #1357
Any intention/plan to cater for the relative path of java.home?

[2020-06-20 04:56] hanct commented on #1486
I second support @melhindi .  Variable expenasion should be supported, but not just for java.import.gradle.home, but also other configuration such as java.home.  Alternatively, the extension can check if the path is relative, and if so, prepend the absolute workspace folder path.

The advantage is that this can help to facilitate the reuse of setting (that support relative path) across multiple de

[2020-06-20 07:11] unknown722437 commented on #1497
I have tried your solution, it still not work for me :(

[2020-06-20 07:33] testforstephen commented on #1497
Apparently you turned off the formatter by "java.format.enabled": false, that's why you see the message "There is no formatter for 'java' files installed". Please enable that setting.

[2020-06-20 07:59] testforstephen commented on #1493
"java.home" is a path related with your local machine, it cannot be shared between windows and ubuntu, please set different java.home for different machine.

Also, "C:\\Users\\Huy\\AppData\\Local\\Programs\\AdoptOpenJDK" is not a complete JDK path, a valid sample is ike  C:\\Users\\Huy\\AppData\\Local\\Programs\\AdoptOpenJDK\\**jdk-11-openjdk**.

[2020-06-20 08:04] testforstephen commented on #1490
Did you observe this exception in other project? or just this project?

[2020-06-20 08:07] testforstephen commented on #1494
Please provide a complete Java snippet to describe what's your expectation.

[2020-06-20 08:09] testforstephen commented on #1491
What kind of Java project are you using? Maven? Gradle? or Standalone Java files?

[2020-06-20 08:11] tcsecchen commented on #1490
一些项目是正常的，有一些就不正常
刚开始打开F12可以找到引用，但是当它自动build完成以后，就会提示找不到符号

[2020-06-20 08:12] tcsecchen commented on #1490
一些项目是正常的，有一些就不正常
刚开始打开F12可以找到引用，但是当它自动build完成以后，就会提示找不到符号

[2020-06-20 08:22] testforstephen commented on #1490
Could you mind sharing the project you observe the exception?

[2020-06-20 08:23] subhashvaishnav opened #1499 "Code action to surround with try catch or add throws to calling method"
Code action to handle methods call having throws syntax or atleast warning if try catch not surrounded or throws not applied to calling method.

[provide a description of the issue]

##### Environment
- Operating System:
- JDK version:
- Visual Studio Code version:
- Java extension version:

##### Steps To Reproduce
1. [step 1]
2. [step 2]

[Please attach a sample project reproducing the error]
[P

[2020-06-20 08:24] subhashvaishnav commented on #1499
Jdk 8 vs code 46

[2020-06-20 08:28] tcsecchen commented on #1490
https://github.com/alibaba/fastjson
1.git clone https://github.com/alibaba/fastjson
2.use vscode to open the "fastjson" folder
3.before the build finish, use F12 can find Reference
4.after the build finish, use F12 can't find Reference

[2020-06-20 08:28] subhashvaishnav opened #1500 "Scroll terminal window console logs using arrow keyboard keys when focus change from command to terminal log."
[provide a description of the issue]

##### Environment
- Operating System: windows
- JDK version: 8
- Visual Studio Code version: 1.46
- Java extension version:

##### Steps To Reproduce
1. Run code
2. Try to moniter terminal consol logs

[Please attach a sample project reproducing the error]
[Please attach logs](https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#enable-logging)

[2020-06-20 09:01] testforstephen commented on #1490
I played the sample project, i didn't observe any exception for Go to References feature. See the screenshot below, it runs after the build finished.

![image](https://user-images.githubusercontent.com/14052197/85197946-1a97d800-b317-11ea-9cb9-e47b128b1517.png)

If you keep getting the failure, maybe you can try to **F1 -> Java: Clean the Java language server workspace**.

[2020-06-20 09:05] tcsecchen commented on #1490
ok! thanks!

[2020-06-20 09:05] #1490 closed

[2020-06-20 12:24] erjdriver commented on #1491
It's a plain java project.

I've got 'Run on Save' and 'RedHat Support for Java' extensions loaded - parts of it.

Also Visual Studio Intellicode - which I think is part of the RedHat package.

I think the squiggly lines in the editor is coming from the VS Intellicode - but looking at the extension settings - there doesn't seem to be a way to tell it where the libs are.

The referencedLibraries se

[2020-06-20 13:37] testforstephen commented on #1491
`referencedLibraries` setting is only applicable to a very restricted scenario, and it only works when you opened standalone Java files. If your workspace contains any explicit projects such as Eclipse, Maven, Gradle, this setting won't work.

Could you share a screenshot about your workspace structure?

[2020-06-21 00:28] erjdriver commented on #1491
It's as follows:

workspace (folder containing all the jar files)
   project1 (containing the java files)
      bin (containing the class files)
   project2
      bin

I'm not using gradle, maven etc...but in Language Support for Java extension settings - there's some settings specific to them.
![Screen-shot 2020-06-20 at 8 26 24 PM](https://user-images.githubusercontent.com/1229041/85214057-5d1bd

[2020-06-21 02:46] testforstephen commented on #1491
It doesn't matter.

Are there any explicit .project/.classpath files in your current workspace directory?

[2020-06-21 14:18] erjdriver commented on #1491
Neither in the workspace folder root/parent folder

But in the projects sub-folders - there are...I added the libs to the sub-folder `.classpath` file and everything worked!

Thanks!

Should these files be in the workspace root/parent folder or in the project sub-folders?

[2020-06-21 22:54] #1491 closed

[2020-06-22 03:07] unknown722437 commented on #1497
Thank @testforstephen @astrelsky
After edit `"java.format.enabled": true`
and put
[code]
It works again perfectly, I think the defaultFormatter should be configured to redhat.java right after the plugin was installed will be better

Thanks again for your support.

[2020-06-22 03:07] #1497 closed

[2020-06-22 05:12] Eskibear commented on #1493
@testforstephen above path is valid (on Windows only), which is the default AdoptOpenJDK installation folder in vscode java installer. The problem is, `java.home` should not be shared accross machines (E.g. Windows & WSL).
If I remember correctly, we proposed to change [scope of setting](https://github.com/redhat-developer/vscode-java/blob/26c90466c6ebe25048ec5d740671aabd0c6d7270/package.json#L63-

[2020-06-22 05:18] Eskibear commented on #1493
See:
- spec of `machine-overridable`: https://code.visualstudio.com/api/references/contribution-points
- original discussion: https://github.com/microsoft/vscode/issues/73985#issuecomment-522013185

[2020-06-22 06:24] nduchuyvp123 commented on #1493
Thanks for your attention.Windows and WSL use the same 'setting.json', so I remove 'java.home' in setting.json that I remove 'java.home' in both

[2020-06-22 07:36] testforstephen commented on #1493
@Eskibear Agree, we need change it to machine scope. Regarding the remote scenario becomes popular, global `java.home` setting is a big pain.

@nduchuyvp123 You can use the workspace user setting `.vscode/settings.json` to define a different `java.home`.

[2020-06-22 13:57] nduchuyvp123 commented on #1493
I removed line <br> "java.home": "C:\\Users\\Huy\\AppData\\Local\\Programs\\AdoptOpenJDK", </br> in my 'setting.json' so the notice is not appear again. After I remove it, I can complie java file normally. I don't know what "java.home" actually is.

[2020-06-23 02:20] agusfahrurroji commented on #1390
@fbricon How do you solve this problem?

[2020-06-23 03:15] #1474 closed

[2020-06-23 03:43] ravirao1208 commented on #112
Even I'm facing this issue after uninstalling [Lombok](https://marketplace.visualstudio.com/items?itemName=GabrielBB.vscode-lombok) but before and after installing Lombok, the java server was working fine, which means it was not a dependent extension.
On uninstalling Lombok extension I'm was facing this issue and on reinstalling this extension, the issue seems to be gone.

[2020-06-23 18:25] mpsq commented on #1148
I am facing the same issue. Is there anything we can to do help? I am happy to fix this with some high level directions or give extra information if required :).

[2020-06-23 21:59] DPUkyle commented on #1495
This is especially problematic as some organizations (like mine) publish a [custom, internal-only distribution of Gradle](https://docs.gradle.org/current/userguide/organizing_gradle_projects.html#sec:custom_gradle_distribution) only for use behind their firewall. Buildship and JLS need to be able to support this use-case.

[2020-06-23 22:20] snjeza commented on #1495
@DPUkyle See https://github.com/redhat-developer/vscode-java/wiki/Gradle-Support#suspicious-gradle-wrapper-detection-

[2020-06-23 22:35] DPUkyle commented on #1495
Thank you - very useful!

[2020-06-24 12:55] wangchengxin commented on #1470
I also want to make this suggestion, it is particularly inconvenient to use other "header" plugins, I hope developers add this feature

[2020-06-25 02:37] MuhammadIrfanKhan9484 commented on #781
HI i'm facing issue

Could not create parent directory for lock file C:\Program Files\Android\Android Studio1\plugins\gradle\lib\wrapper\dists\gradle-6.1.1-all\cfmwm155h49vnt3hynmlrsdst\gradle-6.1.1-all.zip.lck

[2020-06-25 20:40] tarsomatos-cronapp commented on #862
+1

[2020-06-25 20:52] tarsomatos commented on #862
+1

[2020-06-26 08:44] myasas commented on #618
This was the best option for me.

[2020-06-26 12:44] freelancer1845 commented on #1362
I have a very similar problem (also taking to time away to refresh resource folders (node_modules)). The difference is that I'm using maven.

I tried to add the filter to .project.

[code]

My setup is the following:
[code]

I organize everything using a vscode workspace.

When I add the *filter* the Language Server crashes. This is not the full log file but the part where the NPE is thrown.

My E

[2020-06-27 01:36] snjeza commented on #1362
@freelancer1845 could you attach your .project file with filteredResources?

[2020-06-27 05:23] freelancer1845 commented on #1362
[code]
From the NPE I guess the filter needs to go into a <project> tag somehow.

[2020-06-27 06:31] tommai78101 commented on #112
Commenting so I can try this once I get access to my work laptop tomorrow.

[2020-06-27 09:36] Rohitkanna1999 commented on #781
![IMG_20200627_133740](https://user-images.githubusercontent.com/66553982/85919309-b4b3cf00-b887-11ea-80c8-b6bbf7ec8af2.jpg)

[2020-06-27 10:25] ayushbhatt2000 commented on #891
Hi! I wanted to contribute to this issue, can you tell me how to do so?

[2020-06-27 14:59] snjeza commented on #1362
@freelancer1845 could you try the following:
[code]

[2020-06-28 05:52] testforstephen commented on #1500
The rendering of the terminal logs are controlled by VS Code, could you please open an issue to the upstream VS Code repo? https://github.com/microsoft/vscode/issues

[2020-06-28 05:52] #1500 closed

[2020-06-28 05:54] testforstephen commented on #1499
Could you please provide a sample snippet to describe your requirement?

[2020-06-28 05:58] testforstephen commented on #1483
[[langId].trace.server](https://code.visualstudio.com/api/language-extensions/language-server-extension-guide#logging-support-for-language-server) setting is provided by vscode.

Since i cannot reproduce it, i will close this issue first. If you can reproduce it, feel free to reopen it.

[2020-06-28 05:58] #1483 closed

[2020-06-28 22:19] LinsaFTW commented on #1494
Hi, i think he means to show if an access modifier is being really used. I was looking to ask for this feature aswell as IntelliJ IDEA has it and it was really useful.

[2020-06-29 07:07] #1493 closed

[2020-06-29 12:45] Eskibear commented on #1422
I cannot reproduce with IntelliCode either enabled or disabled.
[code]

[2020-06-30 09:18] jdneo commented on #1445
@fbricon I think we can close this issue now.

[2020-06-30 09:19] jdneo opened #1506 "Decouple the status bar item from each language client to a centralized one"
This is a refactoring work item. I'll take it.

[2020-06-30 09:27] fbricon commented on #1445
Yup, everything works now

[2020-06-30 09:27] #1445 closed

[2020-07-01 06:40] akaroml commented on #1499
Are you talking about this feature?
![image](https://user-images.githubusercontent.com/16755094/86211231-9d872100-bba8-11ea-9977-0b9687048385.png)

If so, you can already use it by clicking on the lightbulb at the beginning of the line. And you'll get generated try catch blocks:
![image](https://user-images.githubusercontent.com/16755094/86211315-c5768480-bba8-11ea-8222-3d32222b3594.png)

Or a `th

[2020-07-01 06:59] akaroml commented on #862
Could you take a look @jdneo ?

[2020-07-01 09:22] akaroml commented on #1390
Android development is not supported at the moment. It will require a significant amount of work at Buildship as mentioned by @fbricon

Currently, there is no ideal solution for that but you can try the Lightweight mode by setting`java.server.launchMode` to `LightWeight`. You will be able to use a subset of features like **Go to Definition** of the types inside your local source and JDK. But there

[2020-07-01 14:54] fbricon commented on #1492
Should be fixed with https://github.com/eclipse/eclipse.jdt.ls/issues/1486

[2020-07-01 14:54] #1492 closed

[2020-07-01 15:08] fbricon commented on #1485
The dead code warning is legit. Basically, you always enter in the if block (whether both arrays are null -which is impossible- or one of them is non-null, which is always true), which then has 2 branches ending the loop, so you never reach the inner loop.
You should fix the logic in your if 1st if block.

[2020-07-01 15:08] #1485 closed

[2020-07-01 15:19] fbricon commented on #1495
@testforstephen with https://github.com/eclipse/eclipse.jdt.ls/issues/1486 merged, the gradle validator no longer complains about the malicious wrapper, when offline. Can you check if it's good enough to close this?

[2020-07-01 17:48] fbricon commented on #652
Closing as this was fixed in vscode-lombok a while ago.

[2020-07-01 17:48] #652 closed

[2020-07-02 09:04] testforstephen commented on #1495
I see, the offline checksum will mitigate the gradle wrapper validator for bad network scenario. But it doesn't completely solve the offline problem. In fact, gradle wrapper doesn't really work in OFFLINE, because buildship still needs download the gradle distribution specified by the gradle-wrapper.properties from internet. In OFFLINE mode, only the local gradle home `java.import.gradle.home` wor

[2020-07-02 13:18] tommai78101 commented on #112
Update: I tried installing vscode-lombok, but I found out we never use Lombok at all, so there's no point in installing it.

However, I did notice there's this error log here mentioning about a BundleContext no longer being valid for the redhat-vscode-java plugin:

[code]

And a few more entries about very similar things:

[code]

[2020-07-02 17:39] freelancer1845 commented on #1362
@snjeza

I tried your suggestion and the project loads but the filter is not applied.
The log contains these entries

[code]

So I guess the filter loading fails

[2020-07-02 18:26] snjeza commented on #1362
@freelancer1845 could you attache a project example?

[2020-07-04 11:05] rwankar commented on #851
I was observing the same when initiating code completion hints Ctrl+Space (on Mac). Disabling the Java Test Runner seems to have fixed the issue.

[2020-07-05 02:36] LinsaFTW commented on #1494
An example would be:

class Test {
public Test() {
doTest();
}

doTest() {
System.out.println("test");
}
}

Mark "doTest()" because it's protected but it's only being used in a private matter. (Only by the constructor) so the auto-correction would be to make it private/protected depending on the case.

[2020-07-06 07:06] apupier opened #1510 "Several jobs stuck on Jenkins CI"
https://dev-platform-jenkins.rhev-ci-vms.eng.rdu2.redhat.com/job/vscode-java_release/2248/console

7 jobs were stucked. Launched between the 3 July 5:00PM abn 3rd July 5:14PM

some othe rjobs finished during this period

[code]

[2020-07-06 07:41] fbricon commented on #1506
Fixed with #1509

[2020-07-06 07:41] #1506 closed

[2020-07-06 14:37] RDIL opened #1511 "Auto completion support for gradle multi-project builds"
Right now, if you are working on a subproject in VSCode with gradle, autocompletion in the Java source for the specific dependencies that are for that sub project only, not the root project.  This would be extremely helpful.

[2020-07-07 16:45] fbricon commented on #1132
Can you still reproduce this issue with the latest release of vscode-java?

[2020-07-07 16:50] CodingLegend27 commented on #558
I have the same problem when i want to create a simple java project without build tools.

[2020-07-07 17:05] fbricon commented on #70
That was done a long time ago. Closing

[2020-07-07 17:05] #70 closed

[2020-07-07 17:10] fbricon commented on #1511
Can you provide a set of sample projects and step by step instructions to reproduce this problem?

[2020-07-07 17:20] fbricon opened #1512 "Syntax errors are not reported in Syntax (aka Lightweight) mode"
Using vscode-java 0.64.0, a maven project opened in lightweight mode, no syntax errors are reported at all

<img width="1046" alt="Screen Shot 2020-07-07 at 7 16 16 PM" src="https://user-images.githubusercontent.com/148698/86818572-d6326900-c086-11ea-9ac1-af9d3f956b5a.png">

[2020-07-07 17:28] fbricon commented on #1512
Server trace:

[code]

[2020-07-07 18:00] RDIL commented on #1511
Sure @fbricon.

So basically, projects such as https://github.com/RDIL/Cherry have Gradle subprojects (in my case, they are named Willow and Oak), and when I edit a source file in one of them, not only do I get classpath warnings, but also, autocompletion does not work for the dependencies that are defined on the subproject, and not on the root project.

If you clone it, you should be able to see

[2020-07-07 18:01] fbricon commented on #1511
Does it work if you import the projects in Eclipse?

[2020-07-07 20:05] RDIL commented on #1511
I use IntelliJ since it’s better

[2020-07-08 01:22] testforstephen commented on #1512
Cannot reproduce it.
![image](https://user-images.githubusercontent.com/14052197/86862446-c86afb00-c0fb-11ea-83cc-751c8667ad2c.png)

@fbricon Can you try to debug JLS since you have the environment?

[2020-07-08 05:00] testforstephen commented on #558
@CodingLegend27 If you're using the command **"Java: Create Java Project" -> "No build tool"** to create a simple Java project, then you doesn't need an explicit .classpath file. You can add extra libraries via user setting `java.project.referencedLibraries`.

[2020-07-08 08:41] dupinder commented on #112
But it is working fine after installing **vs-lambok**, I don't know why, but yes it is _working fine_. Please help to understand why **lambok** is resolving the error ?

[2020-07-08 09:05] slide222 commented on #1460
I have the same problem. Any solution to exclude the node_modules or any other folder from refreshing workspace in "Task - Java Build Status" ?!

[2020-07-08 16:24] #1353 closed

[2020-07-08 17:10] 0dinD opened #1514 "Incorrect semantic highlighting for complex constructor invocations"
The simple name of an invoked constructor should get the semantic token `function`, but this is not always the case.

##### Steps To Reproduce
Have the following code:
[code]

##### Current Result
example2: `Foo.Bar` has the token type `function`
example3: `Foo` and `Bar` has the token type `type`
example4: `@Foo Bar` has the token type `function`

##### Expected Result
example2: `Foo` has the tok

[2020-07-08 17:17] snjeza commented on #1460
@slide222  could you try add the following filter to your .project file:

[code]

[2020-07-08 17:19] snjeza commented on #1362
@freelancer1845 you may want to take a look at https://github.com/redhat-developer/vscode-java/issues/1460#issuecomment-655649041

[2020-07-08 22:41] tommai78101 commented on #112
No, it didn't actually work for me, even with "vscode-lombok" extension installed.

[2020-07-09 09:38] slide222 commented on #1460
@snjeza Thank you very much. It works like a charm 👍

[2020-07-09 10:48] adelphes commented on #10
For those interested in Java support for Android, the latest version of the [Android Extension](https://marketplace.visualstudio.com/items?itemName=adelphes.android-dev-ext) now includes Java Intellisense based upon the Android SDK.
Java language support is not as fully featured as the vscode-java extension, but I'd be happy to add more features as developers require - or you can [help out with th

[2020-07-09 12:45] freelancer1845 commented on #1362
Works for me :)

Still interested in a project example? Couldn't find the time yet

Thanks a lot!

Maybe this should be configurable like the "import-filters"

[2020-07-09 12:58] snjeza commented on #1362
@freelancer1845 It is not important anymore.

[2020-07-09 17:28] bangroot opened #1515 "Endless Importing Maven project(s) loop"
I'm not 100% positive this is an issue with the VSCode plugin, but starting in the last 24 hours, when I open my workspace, I'm stuck in a loop that looks like `68769839 Importing Maven project(s): Importing Maven project(s) - project service-funding-source [436/1000]`.

My biggest hope right now is to see if there is a way to get more diagnostics out of the JDT LS. I'm under crunch time and I can

[2020-07-09 17:32] bangroot commented on #1515
I've added `-Dlog.level=ALL` to my `java.jdt.ls.vmargs` but nothing changed in the LS logs.

[2020-07-09 19:01] bangroot commented on #1515
Nevermind - for posterity I had an circular dependency between projects (not maven modules, just the projects depended on each other)

[2020-07-09 19:01] #1515 closed

[2020-07-09 21:56] quoctruong opened #1516 "Prompt to switch to standard mode when debugging in Lightweight mode"
[provide a description of the issue]

##### Environment
- Operating System: Windows
- JDK version:
- Visual Studio Code version: 1.46.1
- Java extension version: 0.9.1

##### Steps To Reproduce
I was trying to start a remote attach debug session but I got a warning that `Failed to start Debug Server`. Turns out I need to switch to Standard Mode to Lightweight Mode. I think the error message here i

[2020-07-09 22:07] fbricon commented on #1516
Sorry, but debugging is out-of-scope of vscode-java, you need to open a ticket in https://github.com/microsoft/vscode-java-debug/issues. I'm pretty sure the vscode-java-debug team is already aware of this issue, since they were the ones introducing the lightweight mode switch here.
Poke @jdneo, @Eskibear, @testforstephen

[2020-07-09 22:07] #1516 closed

[2020-07-09 23:16] jdneo commented on #1516
It will be available in next release for vscode java debugger: https://github.com/microsoft/vscode-java-debug/pull/838

[2020-07-10 08:13] Eskibear commented on #1488
As far as I know about Java, a method/function should belong to a certain class. As for anonymous lambda function, if a name is assigned, I think the name is of type `variable`. E.g. token "func" in `Function func = (x) -> x+1;`
Thus, all methods/functions should be of type `member`? Any exception?

[2020-07-10 12:54] aeschli commented on #1488
Just FYI, in TypeScript we give all variables that are callable the function type.

Example is a callback:

```function process(a: number, callback: (resilt: number) => void)```

Just mentioning, not sure this applies to Java too.

[2020-07-10 21:35] maleko48 opened #1517 "REFACTOR SETTING NOT WORKING -- Java>Refactor: Rename From File Explorer"
#### Environment #####
- Operating System: Windows 10 Home x64 v1909 / Build: 18363.900
- JDK version: 1.8.0_161
- Visual Studio Code version: 1.47.0
- Java extension version:  WORKS in 0.62.0 - 0.63.0  //  BROKEN in v0.64.0 - 0.64.1

##### Steps To Reproduce #####
1.)  Set Java>Refactor: Rename From File Explorer setting to: "AutoApply"

2.)  Create new java file: test.java via VSCode File Explor

[2020-07-12 05:05] xiuluo211314 commented on #597
![image](https://user-images.githubusercontent.com/17724127/87239297-2c652a80-c440-11ea-86f1-0538d130217a.png)
open keybinding.json file, and add code like @fbricon  said， back to the editor , you can get it!

[2020-07-12 10:13] slide222 commented on #796
![image](https://user-images.githubusercontent.com/47318227/87243675-31be7700-c438-11ea-89da-b27efefe819a.png)
![image](https://user-images.githubusercontent.com/47318227/87243738-b6a99080-c438-11ea-86bb-e0f2c60aa543.png)

@fbricon I don't have the convert to import static in the Code Action menu and the shortcut is not working either. The only way to add static imports for me is by using "java.co

[2020-07-12 10:13] lorenzznerol opened #1518 "vscode: in "while ((inputLine = in.readLine()) != null)"-loop. x = x + a without warning. Versus: x += a "value of the local variable is not used""
vscode: in "while ((inputLine = in.readLine()) != null)"-loop. x = x + a without warning. Versus: x += a "value of the local variable is not used"

This is a full copy of

One of the answers was that it is probably a vscode issue. It could also be an issue of AdoptOpenJDK or a genuine Java compiler issue, but that is less likely.

##### Environment
- Operating System: Windows_NT ia32 10.0.18363
-

[2020-07-12 10:26] lorenzznerol opened #1519 "small spelling mistake in general issue form :)"
The last point of the general issue form

##### Additional Informations

should be called

##### Additional Information

Plural of information is information, see https://jakubmarian.com/information-is-vs-informations-are-is-information-plural-or-singular-in-english/

[2020-07-13 01:10] testforstephen commented on #1519
Would you mind opening a pull request for this? thanks.

[2020-07-13 01:47] testforstephen commented on #1517
@maleko48 Nice catch!

[2020-07-13 13:43] timgott commented on #937
I have the same issue, and I can reproduce it the way @Mihai-MCW described.

A simpler way to reproduce it for me:
1. Create the following class:

[code]

2. Now try to type `.` after `this` and before `//comment`. If the suggestions show up instantly, remove it and try again. Sometimes (for me after only a few tries) the suggestion box appears only after a few seconds. Type `var` before the sugge

[2020-07-13 13:58] snjeza commented on #937
@timgott could you try to set the following:

[code]
or
[code]

[2020-07-13 14:04] timgott commented on #937
With the first option, the suggestion box always occurs instantly and never lags, so the issue doesn't appear anymore.

The second option doesn't seem to change anything.

[2020-07-13 19:40] CodingLegend27 commented on #558
I had some issues with debugging the java project.
So i thought first that it was an error due to the missing .classpath file.
But in the end i figured out that it was the vs code extension 'Java Language Support' by George Fraser, which always said that 'java.awt.*' cannot be imported.

TLDR: I uninstalled this extension and everything worked well again.
So no error due to missing .classpath file

[2020-07-14 02:29] fjvela commented on #112
Same problem here, new PC installation. I tried to install "vscode-lombok" but it doesn't work for me.

`Version: 1.47.0 (user setup)
Commit: d5e9aa0227e057a60c82568bf31c04730dc15dcd
Date: 2020-07-09T08:02:06.629Z (4 days ago)
Electron: 7.3.2
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.18363`

[vscode_java_error.txt](https://github.com/redhat-developer/v

[2020-07-14 03:49] tommai78101 commented on #112
Has the Java RE version requirements been increased to require at least OpenJDK 12.0 or up?

I'm starting to think Java 8 is no longer compatible with the latest VS Code.

[2020-07-14 05:26] dupinder commented on #112
I am using OpenJDK 11 BTW.

Now I just uninstall the lombok extension and created one java file and boom again

`
!SESSION 2020-07-08 14:19:37.520 -----------------------------------------------
eclipse.buildId=unknown
java.version=11.0.2
java.vendor=Oracle Corporation
BootLoader constants: OS=win32, ARCH=x86_64, WS=win32, NL=en_US
Command-line arguments:  -data c:\Users\DupinderDhiman\AppData\Roa

[2020-07-14 16:40] fjvela commented on #112
I fixed the problem (openjdk 8):
- Uninstall visual code folowing these steps: https://superuser.com/a/1380253
- Install visual code (system), then I installed java plugins:
- vscjava.vscode-java-debug
- vscjava.vscode-java-pack
- gabrielbb.vscode-lombok

[2020-07-14 18:45] Sammers21 opened #1523 "Language server stuck"
##### Environment
- Operating System: mac os 10.15.5
- JDK version: How can I check it?
- Visual Studio Code version: 1.47.1
- Java extension version: v0.9.1

##### Steps To Reproduce
1. git clone sample project
2. run the language server

Sample project : https://github.com/artipie/artipie
[Logs](https://gist.githubusercontent.com/Sammers21/cd5ba0bbf38e593bd363bd279f4dc9be/raw/15f09e88eb0c38ae0dc

[2020-07-14 21:09] lorenzznerol commented on #1519
Well I tried it and now I mind it a little bit :).  I do
`git push origin ISSUE_TEMPLATE_smallSpellingMistake` gives me

I followed the steps of https://www.wikihow.com/Create-a-Pull-Request-on-Github and https://yangsu.github.io/pull-request-tutorial/.

Either I have missed a detail, or I simply do not have the rights to push to my branch ISSUE_TEMPLATE_smallSpellingMistake?

[2020-07-14 21:27] tommai78101 commented on #112
Got any instructions for Ubuntu (Linux)?

[2020-07-15 01:37] testforstephen commented on #1519
Here is the guide line about how to contribute a pull request to an open source repo in github.
https://github.com/firstcontributions/first-contributions#fork-this-repository

Basically, you need fork the repo first and push your changes to your forked repo, then send a PR to the upstream repo.

[2020-07-15 13:58] abduljeleelng commented on #626
Hy !, Sorry I'm also having a similar problem after I modify the package name.
Any help Please.

[2020-07-15 15:49] pradhyu commented on #1447
Thanks man deleting the .project dir made things work for me.

[2020-07-15 19:00] fjvela commented on #112
Easy: https://stackoverflow.com/a/53204679

[2020-07-15 21:48] noel-yap commented on #641
Is there a way I can get notification for when this fix is released?

[2020-07-16 01:42] fwcd commented on #641
@noel-yap You can subscribe to this issue and choose to only get notified once it closes.

[2020-07-16 02:34] Eskibear commented on #1195
https://github.com/atom/language-java/issues/216 looks more about the identifiers in new statements, not the `new` keyword itself. So I just created https://github.com/atom/language-java/issues/228 dedicated for this one

[2020-07-16 03:21] testforstephen commented on #112
Just clarify the requirement about vscode-lombok extension.
- If your project doesn't use any lombok annotation feature, you don't need install vscode-lombok extension.
- When you installed vscode-lombok extension before, and uninstalled it recently, you must clean up the user setting `java.jdt.ls.vmargs`, too.
   - When you installed vscode-lombok, it will modify your user setting and append a pa

[2020-07-16 07:42] testforstephen opened #1526 "Auto completion for method override returns null"
Sample project - [MapReduceDemo.zip](https://github.com/microsoft/vscode-java-pack/files/4924938/MapReduceDemo.zip)

![VSC](https://user-images.githubusercontent.com/46309554/87541825-82520080-c6d4-11ea-9260-d6f7a2f00d40.gif)

thanks!

_Originally posted by @xuerui911 in https://github.com/microsoft/vscode-java-pack/issues/452#issuecomment-658722953_

[2020-07-16 08:02] testforstephen commented on #1526
Can reproduce with the sample code. Looks like the Java extension is not sufficiently good fault tolerance.

The original sample code contains two compilation errors: Missing package declaration and the import Display.Text not visible to current class. Typing `map`, the triggered completion list contains an overridden method `map()`, but clicking it failed to apply the text edit.

Fix these compil

[2020-07-16 08:48] #1517 closed

[2020-07-16 09:46] jnesspro opened #1528 "Detect Gradle project not only by finding build.gradle but settings.gradle too"
If I open miltiproject folder with such structure:

settings.gradle
gradlew.sh
server
|_ build.gradle
client
|_ build.gradle

It will be detected as project only if I include empty build.project file.
Also, vscode will try handle this subprojects as separated projects.

settings.gradle defines subprojects. I think our java plugin should read it

[2020-07-16 09:59] fbricon commented on #1528
can you please attach a sample project?

[2020-07-16 11:08] FieteO commented on #743
I also had this error caused by lombok in combination with the [Remote - SSH Extension](https://marketplace.visualstudio.com/items?itemName=ms-vscode-remote.remote-ssh).
The `java.jdt.ls.vmargs` setting in settings.json was set to the path of lombok on my local machine. (`- javaagent:\"C:\\Users\\<user>\\.vscode\\extensions\\gabrielbb.vscode-lombok-1.0.1\\lombok.jar\"`)

However it needs the path

[2020-07-16 11:13] jblievremont commented on #1480
Hello @jdneo, I [started](https://github.com/SonarSource/sonarlint-vscode/pull/104) the work on `sonarlint-vscode` to properly handle `LightWeight` mode. So far so good, we are able to gracefully disable analysis of Java code and notify the user in our extension's output console.

As far as I can see, changes to `java.server.launchMode` require a restart, or at least a reload of the current window

[2020-07-16 11:54] jdneo commented on #1480
@jblievremont Yes, so far VS Code Java supports switch from `LightWeight` mode to `Standard` mode without a restart. User can achieve this by for example, click the 🚀 button in the status bar(when the user is in LightWeight).

[2020-07-16 14:08] tommai78101 commented on #112
@testforstephen Where can I find the "jvmArgs" on both Windows and Ubuntu, so I can remove them or restore them to the default "jvmArgs" in the user settings? Thank you so much for the clarifications.

[2020-07-16 15:58] shane99a opened #1529 "Java build is failing when trying to import from enum file"
##### Environment
- Operating System: Windows 10
- JDK version: Java 8
- Visual Studio Code version: 1.47.1
- Java extension version: 0.9.1

##### Steps To Reproduce
If you have two enum files with the same package structure, vscode can't figure out which one you are trying to import
Say for example, your source code has an enum (`MyEnum`), and your test code has the same enum but with an addition

[2020-07-16 16:40] jblievremont commented on #1480
Thank you @jdneo, I can indeed see the server switching to `Hybrid` and then `Standard`.

[2020-07-17 08:58] testforstephen commented on #743
@FieteO Your concern is fair enough, i also created an issue at the vscode-lombok extension side https://github.com/GabrielBB/vscode-lombok/issues/43.

[2020-07-17 10:14] lorenzznerol commented on #1519
Thank you, it was not clear to me that I need to fork at first. The big project is done now. :)))))

[2020-07-17 18:17] sairaghavak opened #1531 "Classes compile outside vscode in CLI/IntelliJ Idea, but in vs-code problem section displays a lot of errors"
Java Code is compiling neatly, outside the Vs-Code IDE i.e., from command line and other IDE's like Intellij. I am so used to VSCode that I can't continue using Intellij, but when I import my project into VS-Code there are weird issues. Some of them are shown here with screenshots

##### Environment
- Operating System: Windows 10
- JDK version: 1.8 - J9 VM
- Visual Studio Code version: 1.47.2
- Ja

[2020-07-17 18:37] fbricon commented on #1531
Can you please share your project or at least the build.gradle file?

[2020-07-17 22:21] rnorm opened #1532 "Prevent tab key appending asterisk for import autocompletion"
I want to `import org.springframework.boot.SpringApplication;`. When I type `import org.spring` and then press tab key, the autocompleted code is `import org.springframework.*;`. I want to have the autocompleted code as `import org.springframework` so that I can type `.bo` for further completion. Or is there another way to autocomplete this import statement?

##### Environment
- Operating System:

[2020-07-17 22:29] fbricon commented on #1532
That's the default behavior of Eclipse JDT. I think our best option, if it's possible to override that behavior, is to return `org.springframework.${0:*;}` so that you could keep typing, after the 1st tab, to get type imports.
@snjeza WDYT? is this easy to do?

[2020-07-17 23:05] noel-yap opened #1533 "VSCode not seeing generated files."
I'm working on a gRPC project and have the following in my `build.gradle` file:

[code]

I'm also able to find the generated files under the `build` directory but VSCode is reporting "The import … cannot be resolved."

This started happening after I had changed the package of the generated files.

The Gradle build works fine. I've tried killing the Gradle daemon and Gradle server. That hasn't had

[2020-07-17 23:38] noel-yap commented on #1533
Found the issue. I had added `bin` to `files.exclude`.

[2020-07-17 23:38] #1533 closed

[2020-07-18 05:57] sairaghavak commented on #1531
@fabricon: Couldn't share the project.

However, I could give little more details

- It's a multi-module gradle project. **junit_tests** one of the sub-project inside the main or root project
- And this one depends on some other modules/sub-projects.

If you could be specific on the part of build.gradle, like which build.gradle as there are too many in my project.
Root project or sub-project? If y

[2020-07-18 12:01] 0dinD commented on #1488
What is the reasoning behind using `member` instead of `function`? In Java, variables are not directly callable, as opposed to JavaScript or TypeScript. Functions are usually referred to as "methods" in Java, and are **always** members of a class, interface or an enum. The example Eskibear gave (`Function func = (x) -> x+1;`) is called a "Functional Interface", which is just syntactic sugar for in

[2020-07-19 12:15] 0dinD commented on #1488
If the purpose of using `member` instead of `function` was to give theme authors a way to style *all* members in a certain way, I think it would be better to rely on token supertypes ([see this documentation](https://code.visualstudio.com/api/language-extensions/semantic-highlight-guide#semantic-token-classification)) rather than making the token types less specific. This way, theme authors can ch

[2020-07-20 07:09] #1495 closed

[2020-07-20 10:53] alexeypetrushin commented on #112
Same problem `Given URI does not belong to any Java project` first time trying VSCode Java Extension, latest version just installed it today.

About the fix with uninstalling VSCode - is there other option?

[2020-07-20 12:24] alexeypetrushin commented on #851
Absolutely unusable, Java CPU 300% all the time, you kill it in process inspector - it starts again after couple of seconds.
Latest versions of VSCode and Java Extensions.

[2020-07-20 12:30] fbricon commented on #851
@alexeypetrushin try disabling all other Java extensions. If it still happens, try taking a thread dump of the jdt.ls process (search for org.eclipse.equinox.launcher with jps)

[2020-07-20 12:42] rwankar commented on #851
@alexeypetrushin disabling the Java Test Runner extension solved it for me.

[2020-07-20 12:46] alexeypetrushin commented on #851
Thanks, I disabled test runner and some other extensions and CPU went back to normal.

[2020-07-20 13:10] fbricon commented on #851
@akaroml @jdneo @testforstephen @Eskibear I guess this one is on you guys ;-)

[2020-07-20 14:02] fbricon commented on #1335
fixed with #1334

[2020-07-20 14:02] #1335 closed

[2020-07-20 16:35] #1532 closed

[2020-07-20 16:36] fbricon commented on #1532
See new behavior:

![importcompletion](https://user-images.githubusercontent.com/388609/87959012-8d30da80-cab2-11ea-87bc-18f3b7092db8.gif)

[2020-07-20 17:01] rnorm commented on #1532
Thanks for the quick response!

[2020-07-20 18:29] qzmarco opened #1536 "[doubt] Java 8, Java 11 and Gradle"
Hi guys!

I have a question. I still need to use Java 8 and older Gradle versions on the company's code. I have noticed that, the Gradle Tasks on my vscode is using the Java configured at java.home (in my case, is the Java 11), but I need that Gradle Tasks uses the Java 8, that is configured at java.configuration.runtimes.

How can I change this? Is it possible? Is this a bug? I'm concerned about

[2020-07-20 19:22] snjeza commented on #1536
@qzmarco could you try to add

[code]
to your build.gradle.

[2020-07-20 20:56] qzmarco commented on #1536
@snjeza I already have this line in my build grade. The thing is: Gradle Tasks is using the Java 11 JVM instead of Java 8 JVM and it causes a crash on the build process.

[2020-07-20 21:02] snjeza commented on #1536
@qzmarco could try the following VS Code settings:

[code]

[2020-07-20 21:03] snjeza commented on #1536
@qzmarco could you attach your build.gradle and settings.json?

[2020-07-20 23:41] fbricon commented on #1536
I think we need to expose "java.import.gradle.java.home" - location to the JVM used to run the Gradle daemon (machine scoped, for security reason)

[2020-07-21 10:10] #1514 closed

[2020-07-21 13:12] 0dinD opened #1538 "No semantic tokens are available in class files"
When viewing a class file, such as one from an external library, no semantic tokens are available.

##### Steps To Reproduce
1. Reference a class from a library in your Java project. (It could be from the Java standard library)
2. Use CTRL + click on the class name to navigate to said class declaration.

##### Current Result
The opened class file does not have any semantic tokens, even with semant

[2020-07-21 13:49] tommai78101 commented on #112
It seems there was an update of some sort to the Java JDT Core.

[code]

From my previous log that I posted earlier, I noticed these JDT versions are different, yet they continue to throw `BundleContext not valid` error:

Previous:
[code]
Current:
[code]
Where should I start looking into this BundleContext not being valid due to the version differences?

[2020-07-21 15:10] fbricon commented on #112
try the "Java: clean the Java Language server workspace" command

[2020-07-21 20:12] snjeza commented on #1536
@qzmarco you can try to set
[code]
to gradle.properties. It should work if you use gradle >= 4.7

[2020-07-21 20:15] tommai78101 commented on #112
@fbricon That solved my issue with the Language Support for Java server crashing each time I restarted VS Code. Thanks for this.

[2020-07-21 21:20] Jojoooo1 commented on #851
Same for me.

[2020-07-21 22:18] #1536 closed

[2020-07-21 22:21] fbricon commented on #1536
vscode-java now exposes the `java.import.gradle.java.home` setting,  to set the location to the JVM used to run the Gradle daemon (for gradle >= 4.7)

[2020-07-21 22:37] #1538 closed

[2020-07-21 22:42] fbricon commented on #1488
fixed with https://github.com/eclipse/eclipse.jdt.ls/pull/1501

[2020-07-21 22:42] #1488 closed

[2020-07-22 16:42] shanewaz-abbas opened #1543 "URGENT- "Java 11 or more recent is required to run. Please download and install a recent JDK""
I don't understand why today I'm getting this error. Managed to temporarily solve this by downgrading `Language Support for Java(TM) by Red Hat` to 0.64.1.

![image](https://user-images.githubusercontent.com/61433809/88202517-617f3300-cc1f-11ea-9d19-4f5af414d73d.png)

![image](https://user-images.githubusercontent.com/61433809/88202138-d30ab180-cc1e-11ea-8ee4-d961842b2ff7.png)

##### Environment
-

[2020-07-22 16:48] fbricon commented on #1543
As the message states, JDK 11 is now required to run the vscode-java extension. See https://github.com/redhat-developer/vscode-java/wiki/JDK-Requirements for more details.
Warnings about this change have been displayed since mid-April (https://github.com/redhat-developer/vscode-java/blob/master/CHANGELOG.md#0600-april-16th-2020)

[2020-07-22 16:48] #1543 closed

[2020-07-22 16:50] fbricon commented on #1543
@akaroml @jdneo @testforstephen @Eskibear can you make sure the Java extension pack JDK requirements align with vscode-java?

[2020-07-22 16:56] shanewaz-abbas commented on #1543
So I can still run my project without making changes, I just have to use jdk 11? Or did I misunderstand?

[2020-07-22 16:59] fbricon commented on #1543
Wiki page says it all:

[2020-07-22 17:01] fbricon commented on #1543
Even without setting `java.configuration.runtimes`, if you only have JDK 11 (or more recent) configured to run vscode-java, provided your project define compilation source/target, nothing will change

[2020-07-22 17:12] qzmarco commented on #1536
Guys, this change has broken my workspace. Gradle isn't building older versions. I have configured the java.import.gradle.java.home to my JDK 8 path but it's not working. Also, the vscode-gradle extension is using the java.home JDK, and it is calling the JDK 11 instead JDK 8.

[2020-07-22 17:17] fbricon commented on #1536
@qzmarco which version of Gradle are you using? You might want to try the "Java : Clean the Java Language server workspace" command.
The vscode-gradle maintainers should provide a fallback mechanism if java.home doesn't work, please report an issue in their  issue tracker.

[2020-07-22 17:20] seanGammage commented on #1543
@shanewaz-abbas What are the steps you took to downgrade to 0.64.1? My company and most are reliant on Java 8, not 11 so this change is messing a lot of programmers up.

[2020-07-22 17:24] fbricon commented on #1543
@seanGammage you can still compile your projects with Java 8. JDK11 is only required to run vscode-java. See https://github.com/redhat-developer/vscode-java/wiki/JDK-Requirements for more details

[2020-07-22 17:27] shanewaz-abbas commented on #1543
Hey @seanGammage  it seems like you can point to jdk 11 and it wouldn't impact running the project, though I haven't tried it as I am busy at the moment, and the downgrade was sufficient for me. To downgrade, you just have to go the java extension page and install another version and then reload.

![image](https://user-images.githubusercontent.com/61433809/88208308-66e07b80-cc27-11ea-8b61-92cf44ad

[2020-07-22 17:30] qzmarco commented on #1536
I am using several Gradle versions, since 3.5.1 to 5.4. Now, I am have updated one project to Gradle 4.10.2 and the vscode can't recoginize it has a Spring-Boot-Application.

I don't know why, but something is trying to use a Gradle 6.3 version, that I don't use in my workspace.

[Error - 2:26:06 PM] Jul 22, 2020, 2:26:06 PM An internal error occurred during: "Update project api-gateway-service".

[2020-07-22 17:35] fbricon commented on #1536
can you try killing all the Gradle Daemons and try again?

[2020-07-22 17:39] qzmarco commented on #1536
@fbricon yeah, I have deleted all my daemons right now, but it hasn't worked

[2020-07-22 17:42] fbricon commented on #1536
can you share your java settings from vscode?

[2020-07-22 17:45] qzmarco commented on #1536
{
    "java.home": "/home/marco/.sdkman/candidates/java/11.0.8.hs-adpt",
    "java.import.gradle.java.home": "/home/marco/.sdkman/candidates/java/8.0.262.hs-adpt",
    "java.configuration.runtimes": [{
            "name": "JavaSE-1.8",
            "path": "/home/marco/.sdkman/candidates/java/8.0.262.hs-adpt",
            "default": true
        },
        {
            "name": "JavaSE-11",

[2020-07-22 17:46] fbricon commented on #1536
do you have other gradle related settings there?

[2020-07-22 17:47] snjeza commented on #1536
Related issue - https://github.com/gradle/gradle/issues/8285

[2020-07-22 17:48] qzmarco commented on #1536
@fbricon no, my settings.json, from WSL2, is this one.

[2020-07-22 17:51] seanGammage commented on #1543
Awesome, thank you! @fbricon and @shanewaz-abbas

[2020-07-22 17:53] snjeza commented on #1536
@qzmarco could you attach a project example or your build.gradle?

[2020-07-22 17:55] qzmarco commented on #1536
[code]

[2020-07-22 19:02] snjeza commented on #1536
I can't reproduce the issue.
I have tested the attached project:
[testgradle.zip](https://github.com/redhat-developer/vscode-java/files/4961963/testgradle.zip)

[2020-07-22 19:19] qzmarco commented on #1536
@snjeza could you please attach what was your settings.json? Are you using Gradle Wrapper at versino 4.10.2? And are you using JDK 8?

[2020-07-22 20:11] snjeza commented on #1536
settings.json
[code]
I have tested gradle 6.3 and gradle 4.10.2.
[code]
[code]
The gradle daemon uses JDK8.
[code]

[2020-07-22 20:16] qzmarco commented on #1536
@snjeza thank you very much. I'll verify what is happening here and let you know guys, asap

[2020-07-22 20:37] snjeza commented on #1536
@qzmarco I suppose you have an error in your build.gradle file. Maybe, it is reproducible only with JDK 11. The tooling API run with JDK11.

[2020-07-23 06:41] lackovic commented on #634
Just installed the plugin using Visual Studio Code `1.47.2`: the `./bin/` folder is still created upon project build.

Why was this issue closed? What was the resolution?

[2020-07-23 07:52] thiscantbeserious commented on #1543
I noticed the new version tries to detect the language version used by the project (JRE-1.5) - how do I manage these? Any config? All these projects are not Maven/Gradle but are old Eclipse projects using IVY, so I can't just go ahead and modify them mindlessly. What I found out that there were some old Eclipse extension-settings stored with source-level set to 1.5 - I adjusted them to 1.8 (like t

[2020-07-23 08:18] jdneo commented on #1543
@thiscantbeserious Basically, the setting `java.configuration.runtimes` won't change the language level of your project (except for the standalone files). This setting is used to let the language server where different versions of the JDK are installed. The language server will pick up the matchest one according to your project's configuration.

Would you mind to share the content of `.settings/or

[2020-07-23 08:31] thiscantbeserious commented on #1543
That's the file(s) that previously had source-level set to 1.5 - I've adjusted these for the other projects and it happened to work fine judging from the code-completion for example with lambdas. From my quick test the new version didn't happen to catch it up in the status-bar ... I can't update to the new version right now since I need to finish a task but I'll try it later and will report back i

[2020-07-23 11:47] paulkastel commented on #618
What a stupid thing! As a full-stack developer I try to use one editor and when I switch between spring-boot project and flutter project it keeps adding this trash files to my android solution, because I have java extension installed. I don't won't that.
Seems like switching to light-weight mode in VS Code helps, but it is not solution!

[2020-07-23 13:51] tommai78101 opened #1544 "Visual Studio Code Outline should indicate public, protected, private, and package-private methods when viewing a Java document."
This is a feature request.

I don't know if this requires upstream support from Visual Studio Code itself. Currently, when viewing the Outline in Visual Studio Code, there are no indications suggesting the methods is public, protected, private, or package-private. In other words, it is difficult to differentiate the method accessors by type just by viewing the Outline. You can see the Visual Studi

[2020-07-23 15:58] qzmarco commented on #1536
@snjeza I have updated my older Gradle versions to 4.10.2 and executed again each wrapper, to generate new wrapper files and its configs. Now everthing is doing fine. Thank you guys very much.

[2020-07-23 19:34] lorenzznerol commented on #1543
if you have a 32bit system https://stackoverflow.com/questions/62436626/oracle-jdk-14-32bit-x86-for-windows-10-needed-or-workaround-for-this-for-visu

[2020-07-24 03:21] marlonpatrick commented on #1290
I had the same problem when not using the properties:

[code]
As I'm experimenting with Java 14 the way to configure the java version in maven has changed to:

[code]
Thus, from the point of view of maven, it is no longer necessary to use maven.compiler.target/source, however, for VS Code it is still necessary to specify these properties so that it correctly interprets the version of Java used in

[2020-07-24 07:19] thiscantbeserious commented on #1543
@all:

I can confirm the last version works fine with our legacy project requiring JDK8. That's how I've set it up:

[code]

Notice the default flag - that was the JDK I was previously using an require in most projects. JAVA_HOME still points to C:\\Java\\openjdk8u181-b13.

[2020-07-24 07:25] herna commented on #1263
Any updates on this? It'd be nice a property to specify the active profile.

[2020-07-24 07:27] thiscantbeserious commented on #1531
It seems like the underlying Eclipse JDT Language Server, which is currently ignoring the exclusions completely (it also does for our legacy Eclipse Projects on JDK8. So basically it's still trying to parse the folders ... even tought it was properly set by the VSCode Extension.

See:

https://github.com/eclipse/eclipse.jdt.ls/issues/1508

[2020-07-24 08:43] vikashvk commented on #1390
Add working files to the project's source path

[2020-07-24 12:18] 0dinD opened #1545 "Incorrect semantic tokens for some wildcard import statements"
In some wildcard import statements, only semantic tokens of type `namespace` are present, even when the import statement is targeting a type. This is a regression caused by eclipse/eclipse.jdt.ls#1501, where I made the (incorrect) assumption that all wildcard imports target a package.

##### Environment
- Java extension version: `0.65.0`

##### Steps To Reproduce
Have the following code:
[code]

#

[2020-07-26 10:33] ppatierno opened #1546 "Java extention doesn't recognize my Java OpenJDK 11 in the JAVA_HOME env var"
As for the current updates I have installed Java OpenJDK 11.
I have set the `JAVA_HOME` env var to `/usr/lib/jvm/java-11-openjdk-11.0.7.10-1.fc31.x86_64` but when VS Code starts the following error shows up.

The JAVA_HOME environment variable (/usr/lib/jvm/java-11-openjdk-11.0.7.10-1.fc31.x86_64/) does not point to a JDK.

Actually, that path contains the `bin` folder and as stated [here](https:/

[2020-07-26 14:11] fcastresana commented on #690
Hi! i had the same problem. try downloading this AdoptOpenJDK\jdk-11.0.8.10-hotspot\ then configure your system variables like this tutorial https://javatutorial.net/set-java-home-windows-10
other important thing check if you have two java versions installed and uninstall the one you dont need.

[2020-07-26 15:11] snjeza commented on #1546
@ppatierno could you try the following:

[code]

[2020-07-26 15:45] ppatierno commented on #1546
Yeah, I needed the `devel` package. That was the problem. Anyway, I don't think we need the `src` one.
Why are you suggesting to install it as well?

[2020-07-26 16:00] snjeza commented on #1546
See https://github.com/eclipse/eclipse.jdt.ls/issues/1006

[2020-07-26 16:27] ppatierno commented on #1546
ok thanks!

[2020-07-26 16:27] #1546 closed

[2020-07-26 17:11] saumilsdk commented on #587
@jdneo Thanks that vs code command helped.

[2020-07-26 19:36] cranticumar opened #1547 "Intellisense stops working as soon as service is ready"
Intellisense works until Java service is ready. As soon as it is ready Java intellisense stops working

4a87939d Importing root project [Done]
2ed1fa8d Updating Maven Dependencies [Done]
91ca09f2 Repository registry initialization [Done]
fcd77619 Updating indexes [Done]
4fc658f9 Importing root project [Done]
3d229b26 Register Watchers [Done]

Once all above steps are done, it stops working

#####

[2020-07-26 20:24] snjeza commented on #1547
@cranticumar  Could you, please, provide a project example and the [server logs](https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#turn-on-message-tracing-between-vs-code-and-the-java-language-server)?