[2022-08-29 22:39] snjeza commented on #2623
@tarekahf Could you try to install https://github.com/snjeza/vscode-test/raw/master/java-1.10.0.vsix

[2022-08-29 23:33] tarekahf commented on #2623
But why? it's working for me now.

[2022-08-30 00:07] snjeza commented on #2623
"-Xlog:jni+resolve=off" will be added automatically. See https://github.com/redhat-developer/vscode-java/pull/2646

[2022-08-30 00:15] tarekahf commented on #2623
You mean if I download this

https://github.com/snjeza/vscode-test/raw/master/java-1.10.0.vsix

Then the settings

"-Xlog:jni+resolve=off"

will be added automatically?

Will this happen for existing project, new project, or both? Will it apply For maven based project, no-build tool project, or both?

[2022-08-30 01:48] snjeza commented on #2623
Right!

It should be added always.

[2022-08-30 02:05] #2577 closed

[2022-08-30 04:07] tarekahf commented on #2623
Please bear with me as I cannot afford to mess up with my vs code setup.

So, you are saying that this download:

https://github.com/snjeza/vscode-test/raw/master/java-1.10.0.vsix

Is an updated version for vscode and will fix the problem of Java Build Status spinning forever.

But what will happen to my current stable vs code setup? will it override my current vs code installation?

[2022-08-30 09:27] gayanper opened #2649 "Support for predefined workingsets for search operations"
Add support to switch workingset such as "Main Source", "Test Source" for search operations such as
- Call Hierarchy
- Type Hierarchy
- Reference Search
- Implementation Search
etc.

A simple implementation would be to introduce a server setting which will define the default workingset, by default this will be empty or include all main and test sources.

Then from the UI we could provide a picker

[2022-08-30 09:27] gayanper commented on #2649
@jdneo @rgrunber WDYT about this ?

[2022-08-30 14:45] fbricon opened #2650 "Provide Java 19 preview support in pre-release build"
JDT provides a feature patch for Java 19: https://marketplace.eclipse.org/content/java-19-support-eclipse-2022-09-425
We could use it to provide unsupported/preview Java 19 support from the pre-release channel once the August release is out.

Wonder how will vscode-java-debug behave though (and I'm not talking about Virtual Thread debugging, which is yet another topic). cc @testforstephen @jdneo

[2022-08-30 15:02] snjeza commented on #2623
@tarekahf you can wait for the stable VS Code 1.10.0 release - https://github.com/redhat-developer/vscode-java/pull/2648

[2022-08-30 21:33] yorkish commented on #2545
I can confirm that the issue is """resolved""" when I backtrack to version 1.7.0 of the extension.
Running RockyLinux 8.5 + VsCode 1.70.2

[2022-08-30 21:48] anazar2001 commented on #2545
Yes, it works with 1.7. But it needs to be fixed in the latest version too.
When can it be done? It is clearly a regression.

On Tue, 30 Aug 2022, 22:33 yorkish, ***@***.***> wrote:

[2022-08-30 22:35] snjeza commented on #2545
A related issue - https://github.com/redhat-developer/vscode-java/issues/2647

[2022-08-31 01:47] jdneo commented on #2649
I think the request makes sense. I would prefer including all main and test sources as the default preference.

[2022-08-31 14:06] VitaliyKulikov commented on #1039
i have following error:
[code]

[2022-09-01 02:09] xxc-zsz opened #2652 "How to turn off the automatic creation of class body when creating a new java file"
VS Code supports applying templates when you create a Java source file. When you create a `.java` file in the File Explorer, the language server will automatically generate the class body, and fill the package info for you: [video](https://code.visualstudio.com/docs/java/java-editing/create-new-file.mp4)

I found this is the [April 2020 update](https://devblogs.microsoft.com/java/java-on-visual-st

[2022-09-01 05:03] jdneo commented on #2652
Could you share the reason why you want to turn off it?

[2022-09-01 09:49] nunovieira commented on #2413
Not sure if it's the same problem, but I see a similar error:
[code]

other errors I see:
[code]

[2022-09-01 10:35] Ranger-118 opened #2653 "Java test case cannot run with Gradle"
Create a gradle project with JUnit5, run the test case, the debugger for java keeps running and below error prompted:
`[Warn  - 6:27:28 PM] Sep 1, 2022, 6:27:28 PM Cannot collect dependency scope information for launch configuration 1662028048169
The input type of the launch configuration does not exist
org.eclipse.core.runtime.CoreException: The input type of the launch configuration does not exi

[2022-09-01 11:16] fbricon commented on #2653
As stated in the issue template:

[2022-09-01 12:28] testforstephen commented on #2653
Duplicates with https://github.com/microsoft/vscode-java-test/issues/1481#issuecomment-1234002644. @jdneo is working on a hotfix.

[2022-09-01 13:55] ENate opened #2654 "Load Java Maven Project automatically after creation"
[provide a description of the issue]

##### Environment
- Operating System: Linux Debian on Codespaces
- JDK version: 17+
- Visual Studio Code version: 1.70.2
- Java extension version: 0.25.1

##### Steps To Reproduce
1. [step 1] Create a Java Multi-Module (with parent POM) or microservices spring boot application (containing many miro-Java Maven projects).
2. [step 2] Refresh the Java projects ex

[2022-09-01 14:32] fbricon commented on #2654
The Java Projects tab is provided by the Project Manager extension. [Please open a ticket there](https://github.com/microsoft/vscode-java-dependency/issues).

[2022-09-01 14:32] #2654 closed

[2022-09-01 15:39] knutae opened #2655 "Java language server fails in JrtFileSystem.walkModuleImage() with 1.10.0"
Java language server fails when opening a project with the following error/stacktrace:

[Error - 5:16:03 PM] Sep 1, 2022, 5:16:03 PM Initialization failed
Cannot invoke "org.eclipse.jdt.internal.compiler.util.JrtFileSystem.walkModuleImage(org.eclipse.jdt.internal.compiler.util.JRTUtil$JrtFileVisitor, int)" because the return value of "org.eclipse.jdt.internal.compiler.util.JRTUtil.getJrtSystem(jav

[2022-09-01 16:07] nagata123 opened #2656 "JUnit test stuck at "Resolving launch configuration..""
When I run the test from test explorer, it freezes.

##### Environment
- Operating System: Ubuntu 22.04 LTS in WSL2
- JDK version:  17.0.3
- Visual Studio Code version: 1.70.2
- Java extension version: 1.10.0

##### Steps To Reproduce
1. run JUnit in Test Explorer

[Please attach a sample project reproducing the error]

- Test source

[code]

- gradle settings

[code]

- output Language Support fo

[2022-09-01 19:00] sjacks-tbird commented on #2656
I also had this issue-- it possibly stems from a mix of Junit 4 and Junit 5 tests in your code base. I removed all my Junit 4 tests and things started working.

[2022-09-02 01:11] jdneo commented on #2656
Please check: https://github.com/microsoft/vscode-java-test/issues/1481#issuecomment-1234002644

[2022-09-02 01:11] #2656 closed

[2022-09-02 02:40] psyzhou opened #2657 "how to automatically generate the class body when createing then first java file without creating a java project"
In vscode in windows, create the first java file in an empty folder directly, it will not automatically generate class body.

[2022-09-02 02:56] psyzhou opened #2659 "how to automatically generate class body when I first creating the first java file as an addition to the previous issue"
[provide a description of the issue]

##### Environment
- Operating System: windows 11
- JDK version: JDK11
- Visual Studio Code version: 1.71.0
- Java extension version: 0.25.1

##### Steps To Reproduce
1. [step 1] Open an empty folder via vscode
2. [step 2] create the first java file

##### Current Result
an empty file

##### Expected Result
I want to generate a file with class body like below
!

[2022-09-02 07:37] fbricon commented on #2657
that's expected because the Java extension starts only after the creation of the java file. However, you can type 'class' and access a snippet that'll fill the class body

[2022-09-02 11:50] deestan commented on #2655
Reproduced on same environment, but versions Ubuntu 20.04, Visual Studio Code 1.71.0.

[2022-09-02 12:10] hmlnarik opened #2660 "Cannot open large project (keycloak)"
Type: <b>Bug</b>

Thank you for the great work on the Java support for VS Code.

Sadly large projects seem to struggle with "Connection to server got closed. Server will not be restarted." issue.

Steps to reproduce:
1. Checkout https://github.com/keycloak/keycloak
2. Open this project in VS Code

Related information:
Perhaps the following exception is related:
[code]

The CPU utilization remains

[2022-09-03 01:25] kkilictepe commented on #1765
Same here. Intellisense performance is terrible.  Any update?

[2022-09-03 03:02] pocketdr commented on #1324
Maybe stupid, I would like to add something about this.
`"vmArgs": "-Djava.library.path=lib/natives"`
It's not works for me.
Instead of it, I use
`"vmArgs": "-Djava.library.path=lib/natives/"`

[2022-09-04 08:10] lupino3 commented on #2528
Thanks for the workaround @CsCherrYY, I had the same issue on GitHub Codespaces and your workaround worked perfectly.

[2022-09-04 12:45] RamiSJ12 opened #2662 "couldn't start client java language server visual studio"
unable to run any java project
![Screenshot (148)](https://user-images.githubusercontent.com/89670401/188314043-089131fe-48a9-4c8e-a599-1e8d75ece285.png)

[2022-09-04 16:27] doggy8088 commented on #663
I think embed [google-java-format](https://github.com/google/google-java-format/) into language server will be the best option. Just like the IntelliJ IDEA's [google-java-format plugin](https://plugins.jetbrains.com/plugin/8527-google-java-format) did.

[2022-09-06 08:32] #2650 closed

[2022-09-07 06:08] gayanper commented on #2443
@rgrunber @jdneo Could you help me to reach someone in vscode team to review this change https://github.com/microsoft/vscode/pull/159377. This change actually adds support for * in the search query. It passes the raw query into LS and then compare the results by trying to fix the score  if the other side doesn't have a *.

[2022-09-07 06:27] jdneo commented on #2659
The root cause is that the class body generation is only available after the extension is ready (project import is finished). Before that, it won't pre-fill those contain.

// You can check the right corner in the status bar, once there is a 👍 icon appears, that's the sign of ready status.

[2022-09-07 07:30] zjx20 commented on #2561
Same issue in v1.10.0 extension.

[code]

[2022-09-07 13:01] #2621 closed

[2022-09-07 13:01] #2063 closed

[2022-09-07 15:44] rgrunber commented on #1693
This is supported to some extent in [JDT Core](https://github.com/eclipse-jdt/eclipse.jdt.core/blob/c63470c710d7d6a6199aa0f0c44dd8765356cdf6/org.eclipse.jdt.core/model/org/eclipse/jdt/core/JavaCore.java#L1699) :

[code]

and

[code]

![jdt-nullable](https://user-images.githubusercontent.com/1417342/188920932-95d5e753-6545-408d-ab8b-441cfadaa0c7.png)

Not sure how to get it working for `javax.annoa

[2022-09-08 05:48] Eskibear opened #2666 "start-up slow when opening a single .java file in empty workspace"
#### Use case
Open VS Code without opening any folder. Drag a .java file into the window. Java extension is expected to work immediately, but it takes several seconds.

Let's see if we have chance to improve it.

I find some clues:
- a) **2~3s** after java extension starts to activate, JDTLS starts to write server logs. (client side code and launching JVM)
- b) it's another **5s** before `JavaLang

[2022-09-08 08:40] jdneo commented on #2662
Is there any logs: https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#enable-logging?

[2022-09-08 20:09] rgrunber commented on #1693
Ok, I got this working with `javax.annotation.*` or basically any set of annotations. It didn't work before because I had a typo. It's not `javax.annotation.NonNull`. That doesn't exist. It's `javax.annotation.Nonnull`.

So basically here was my setup :

**.vscode/settings.json**
[code]

**.vscode/settings.prefs**
[code]

That's it. Now that we have this working, I think it's just a matter of prog

[2022-09-09 09:43] qzi commented on #2647
The same issue about auto import

Nagigate to [root]/18/src/test/java/RunCukesTest.java

`// import io.cucumber.junit.CucumberOptions.SnippetType;
`
 can not auto import ...

[18.zip](https://github.com/redhat-developer/vscode-java/files/9534286/18.zip)

[2022-09-09 10:19] fbricon commented on #2647
@qzi automatic import (on file save) won't work if there are ambiguous imports. In your file, if you organize imports manually, you'll be presented with a choice to disambiguate imports:
<img width="1275" alt="Screenshot 2022-09-09 at 12 16 46" src="https://user-images.githubusercontent.com/148698/189328499-0c861509-0113-467b-b0fb-cd2db96cebbe.png">

[2022-09-09 10:23] fbricon commented on #2647
@rgrunber @testforstephen we could improve import on file save and show the disambiguation UI if the current editor matches the file being saved.
Nothing we can do with multiple ambiguous imports on multiple files and "Save All".

[2022-09-09 11:50] qzi commented on #2647
I think the better approach is to show the ambiguous import in the menu of quick fix

<img width="673" alt="image" src="https://user-images.githubusercontent.com/486928/189343496-dc7b3acf-4d64-40f8-a4a5-da445dff5c14.png">

[2022-09-09 21:03] 51lv3r258 commented on #1039
Create the fle `.settings/org.eclipse.buildship.core.prefs`
and add:

[code]

[2022-09-09 22:19] VitaliyKulikov commented on #1039
by the way: such a trick is working well for me in the case of MapStruct. so, without any plugins
[code]

[2022-09-10 16:33] 2k16daniel commented on #2628
This issue still persist on 1.10.0.
Does this already fixed on preview build?

[2022-09-11 08:00] jdneo commented on #2628
Not yet. The error is thrown when we are detecting lombok from the project's classpath. Though it will log some exceptions now but should not affect the coding work.

[2022-09-11 14:43] dudeNumber4 opened #2669 "Formatter File not respected"
I have a format xml specified in Java > Format > Settings: Url.  When I run the command "Open Java Formatter Settings" my file is opened.  No settings in the file are respected, however.  Consider just this setting:
<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<profiles version="12">
    <profile kind="CodeFormatterProfile" name="BradsProfile" version="12">
        <setting id="org.eclip

[2022-09-11 18:58] gitsupi opened #2670 ".var postfix for creating new varaible instance"
we need this featuere just ilike in intellij to create an instance affter finding intendent

![image](https://user-images.githubusercontent.com/65791341/189544484-2e43f793-4736-4745-960b-d9170fd5bd63.png)

[2022-09-12 02:49] jdneo commented on #2669
@CsCherrYY Could you please take a look?

[2022-09-12 02:50] jdneo commented on #2670
Duplicated with https://github.com/redhat-developer/vscode-java/issues/1455

[2022-09-12 02:51] #2670 closed

[2022-09-12 17:00] kubajaslan commented on #1358
Just go to keyboard shortcuts in the file -> preferences - > keyboard shortcuts and look for "generate constructor" and then bind your combination of keys.

[2022-09-12 17:41] rrmcguinness commented on #1357
Has this issue ever been considered? It would help with other build tools that manage the toolchain, like Bazel.

[2022-09-12 20:24] snjeza commented on #2660
@hmlnarik You may want to take a look at https://github.com/redhat-developer/vscode-java/issues/2537#issuecomment-1172952703

This exception is an upstream kubernetes-client issue - See https://github.com/fabric8io/kubernetes-client/blob/v5.12.2/crd-generator/api/src/main/java/io/fabric8/crd/generator/AbstractJsonSchema.java#L618
You can ignore it.

[2022-09-13 02:27] olyop commented on #121
Same problem here at least 5 seconds for me. Java extensions I use are:

vscjava.vscode-java-debug
vscjava.vscode-gradle
vscjava.vscode-java-dependency
redhat.java
pivotal.vscode-spring-boot

[2022-09-13 05:34] Kein opened #2671 ""Language support for Java" fails to process Maven project"
[provide a description of the issue]

##### Environment
- Operating System: Win10x64
- JDK version: OpenJDK 18
- Visual Studio Code version: 1.67
- Java extension version: 1.11.*

##### Steps To Reproduce
1. Install Microsoft's `Project Manager` extension with `Maven` support
2. CTL+P -> New Java Project -> Maven from archetype -> `maven-archetype-quickstart` -. 1.4 -> Select folder, proceed.
3. A

[2022-09-13 07:38] CsCherrYY commented on #1693
@rgrunber I've tested it locally and it works very well 👍. I'm also following the PR in JDT side to enable it by default but it seems not so easily in JDT. But never mind, we can have a patch in our side if it can't be a part of JDT :)

Some considerations:

- Is it better to make `javax.annotation.*` to primary ones or just keep current primary ones (`org.eclipse.jdt.annotation.*`) and make them

[2022-09-13 10:25] hasen6 opened #2672 "Code completion shortcut not working in if statement nested in for loop"
##### Environment
- Operating System: MacOS 12.511
- JDK version: 1.8.0_341
- Visual Studio Code version: 1.71.0
- Java extension version: 1.10.0

##### Steps To Reproduce
![Capture d’écran 2022-09-13 à 12 22 24 PM](https://user-images.githubusercontent.com/15882674/189878080-b2b22fef-0935-4de7-adaf-7c607968dc06.png)
finds the code completion shortcut no problem.
![Capture d’écran 2022-09-13 à

[2022-09-13 10:55] Eskibear commented on #2672
At least not due to this,

![image](https://user-images.githubusercontent.com/2351748/189883460-15ada293-a8ef-4f69-918f-faf2ef0d35f1.png)

[2022-09-13 14:01] rgrunber commented on #1693
In my example above, I chose to use them as primary but maybe setting them as secondary (if it works) is probably the change that gets this working with minimal disruption for those who might choose to use the `org.eclipse.jdt.annotations.*`. So the only setting we would need to touch are :

[code]

If that works, we could just set that as the default on our end without the need for any setting th

[2022-09-13 16:01] Frank-D opened #2673 "Add buildship auto sync preference"
hello everyone,
**TLDR**: anyone knows how to control the `.settings/org.eclipse.buildship.core.prefs` > `auto.sync` flag in VSC, without touching that file specifically?
(...to make it 'true', as it was false by default for me and at the origin of my problem explained below..)
*************************

I'm working on a *gradle / java / spring-boot* project using vsc (with '*extension pack for ja

[2022-09-13 18:46] Frank-D commented on #2673
hi @snjeza and thanks for supporting me/us on this one!

Just to make sure, will your solution also solve projects where the internal java setting files are still stored inside the internal vscode workspaceStorage location? (e.g. setting `java.import.generatesMetadataFilesAtProjectRoot=false`, e.g. default value)

I've another project where I had the exact same problem as I originally described in

[2022-09-13 19:45] snjeza commented on #2673
@Frank-D you can check https://github.com/snjeza/vscode-test/raw/master/java-1.10.1.vsix
You have to add
[code]
to settings.json

[2022-09-13 22:38] Frank-D commented on #2673
**Tested, working perfectly well.**

No need to play with the internal `org.eclipse.buildship.core.prefs` file anymore, since the new workspace settings.json `"java.import.gradle.auto.sync": true` introduced by the above fix will do it just fine.

It is working for all the scenarios that I've mentioned above, tested.
(e.g., working with internal metadata files at project root OR in workspaceStorag

[2022-09-13 23:18] snjeza commented on #2673
It hasn't been reviewed and merged yet.

[2022-09-14 06:43] CsCherrYY commented on #1693
As for the choice about making it primary/secondary, there is a potential issue about quick fix when we just change secondary settings, if I'm a fan of `javax.annotations.*`, the quick fix will introduce `org.eclipse.jdt.annotation.*`

https://user-images.githubusercontent.com/45906942/190077068-248263fb-f7a2-47bd-ae78-b47daa015f2e.mp4

So I'm afraid the better choice is to set it as primary one,

[2022-09-14 08:29] hasen6 commented on #2672
Well how would you describe the situation I posted? Looks like a nested foreach loop to me.

[2022-09-14 09:33] rubensa commented on #2150
I tried setting:
[code]

Then opening the generated **.classpath** and adding the **ignore_optional_problems** attribute like:
[code]

**Clean Language Server Workspace** and the problems are gone.

It would be great to be able to enable this for any "**target/generated-sources**" folder without the need to set **java.import.generatesMetadataFilesAtProjectRoot** and manually editing **.classpath**

[2022-09-14 09:38] rubensa commented on #2150
**NOTE**:  It's curious that for **test-annotations** the **ignore_optional_problems** attribute is automatically set:
[code]

[2022-09-14 09:57] rubensa commented on #660
Should be great to have an option to do this in the **JAVA PROJECTS** view by a right click in an specific source folder (or in the **Configure Classpath** page).

(related to: #2150)

[2022-09-14 14:48] rgrunber commented on #2150
Interesting! I didn't know about [`ignore_optional_problems`](https://github.com/eclipse-jdt/eclipse.jdt.core/blob/85f9f37c76220812f3e506ad800de0f31b11af88/org.eclipse.jdt.core/model/org/eclipse/jdt/core/IClasspathAttribute.java#L95-L106). Definitely works for me.

Only disadvantage is according to `IClassPathEntry`, it represents a package fragment root (eg. `src/main/java`) so I don't think we c

[2022-09-14 14:53] Frank-D commented on #2673
@snjeza, I've currently having VS Code `1.71.0` installed, with multiple workspaces configured for different projects, so I wasn't really planning on messing up with those existing vsc configs/settings and re-install an earlier version of the entire editor, especially that you're asking vs code `0.10.0`, this confuses me since I can't even find such an old version(!), the earliest I could find was

[2022-09-14 14:58] rgrunber commented on #1693
I see, so in this case, I think it should be fine to make `javax.annotation.*` the primary and I think we could keep the option enabled by default. Does this avoid us having to create a setting for it ?

[2022-09-14 18:35] orens opened #2675 "problem reported for jre version"
We have written the needed data into your clipboard because it was too large to send. Please paste.
Issue Type: <b>Bug</b>

"The compiler compliance specified is 1.6 but a JRE 1.8 is used"

I am using vscode for python and JS. Not sure why I'd get an error for JRE version.
BTW I absolutely LOVED the extension bisect experience. Fantastic tool.

Extension version: 1.10.0
VS Code version: Code 1.68.

[2022-09-15 00:38] mohnishkodnani opened #2676 "Deadlock when using JDK17 with maven java project"
[provide a description of the issue]
Open a java project in visual studio code causes a deadlock where the java project import gets stuck.

##### Environment
- Operating System: MAC OS Monterey, M1 chip.
- JDK version: 17.0.3
- Visual Studio Code version: 1.71.0
- Java extension version: v1.10.2022082204

##### Steps To Reproduce
1. Open up a java project in Visual Studio Code, it was too big, so

[2022-09-15 09:08] CsCherrYY commented on #1693
IMO no. Let me draft a PR later.

[2022-09-15 12:46] mbolis commented on #1905
I need this badly, too.

As use case, I need to change the order of parameters in a method with many call sites.

[2022-09-15 16:57] khaver-syed commented on #419
How do you run this please?

[2022-09-15 17:59] mohnishkodnani commented on #2676
@snjeza It does seem to help a bit but i will test out more.. i do notice that whenever i call clean java server workspace, to try and get a clean compilation, the old processes are not cleaned up.

For example. now i have 4 processes since the morning.
[code]

[2022-09-15 18:07] mohnishkodnani commented on #2676
It did seem to help initially, but after calling cleanup workspace and reload a bunch of times, its still stuck, but no deadlock in the jstack, just seems to hang now on these steps
[code]

[2022-09-15 18:35] snjeza commented on #2673
I'm sorry. I thought 1.10.0

[2022-09-15 18:38] snjeza commented on #2673
Could you check your <project_root>/.vscode/settings.json ?

[2022-09-15 18:41] snjeza commented on #2673
This notification will be shown if you set
[code]
probably in  <project_root>/.vscode/settings.json

[2022-09-15 18:45] snjeza commented on #2676
@mohnishkodnani Could you provide the jstack?

Could you show your log - [Enable logging](https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#enable-logging)

[2022-09-16 12:48] #2673 closed

[2022-09-16 13:14] Frank-D commented on #2673
hey @snjeza, re

I've tried both "interactive" (with the vsc notification where I was answering Yes to the question if I wanted to sync the java classpath/configuration after updating my build.gradle file..) and "automatic", but in any case, same result, my java projects dependencies were not getting updated with that "java.configuration.updateBuildConfiguration" setting alone..

Here'e my .vscode

[2022-09-16 13:18] Frank-D commented on #2673
Now, I see that your PR was updated and merged, with a few comments regarding merging the temporary-introduced "java.import.gradle.auto.sync" setting into "java.configuration.updateBuildConfiguration" (which I think is a good idea, as long as we're not introducing any bad side effects..), so was this the final change that you made and which got merged?

[2022-09-16 13:33] snjeza commented on #2673
@Frank-D Yes, it was.
I have tested it and works fine. If you set

[code]
jdtls will add `auto.sync=true` to your .settings/org.eclipse.buildship.core.prefs
You can try https://github.com/snjeza/vscode-test/raw/master/java-1.10.3.vsix

[2022-09-16 13:44] Frank-D commented on #2673
Now, I see that your PR was updated and merged, with a few comments regarding merging the temporary-introduced "java.import.gradle.auto.sync" setting into "java.configuration.updateBuildConfiguration" (which I think is a good idea, as long as we're not introducing any bad side effects..), so was this the final change that you made and which got merged?

Looking at the merged PR changes, I see 2 th

[2022-09-16 13:46] Frank-D commented on #2673
OK, I'll give it a shot thanks for that, but feel free to read my previous comment (sry it's long..), as I have a few doubts on the solution in some areas.. thanks

[2022-09-16 14:20] snjeza commented on #2673
It works in the following way:
[code]

javals set `auto.sync=true`, buildship synchronizes the projects,  the `updateProject(...` call is skipped

[code]

javals set `auto.sync=false`, you control sync using the notification.

[code]

nobody synchronizes the projects. You can do it using the `Reload Projects` command.

[2022-09-16 14:53] snjeza commented on #2672
@hasen6 Could you proved a project example reproducing the error?

[2022-09-16 15:20] snjeza commented on #2669
I can't reproduce the issue.
@dudeNumber4 could you provide your settings.json?

[2022-09-16 18:58] Frank-D opened #2678 "Lombok-related compile error: gradle compiles fine, but vsc java compiler/lang server complains about missing getters"
Hi,

I'm trying to use lombok in vsc, in my gradle java project, but the vsc java compiler (or the java language server) doesn't see the lombok generated code.

When I execute the gradle task `compileJava`, everything works and compile just fine.
The problem is really with the VS Code java class editor always showing me a compile error, and preventing me from accessing any methods generated by lom

[2022-09-16 19:18] Frank-D commented on #2678
Odd, if I replace
[code]
with
[code]
(with a window reload, following the vsc notification about it after saving that settings.json file..)

then it starts working as expected, all my editor's lombok-related compile errors are gone, and I'm able to access all those lombok-generated methods in my code.

I would have thought that it was precisely the purpose of making that `"java.jdt.ls.lombokSuppor

[2022-09-16 19:50] rgrunber commented on #2672
@hasen6 The exact project would be ideal. If not, would it be possible to activate the command palette (eg. `ctrl`+`shift`+`p`) and launch the `Java: Open All Log Files` command **after** you have reproduced the problem. I would post the `.log` file or at least any errors you see in there.

Snippet completions are one of the last collected so maybe something failed before and they never got collec

[2022-09-16 20:07] rgrunber commented on #2657
Closing as a duplicate of https://github.com/redhat-developer/vscode-java/issues/2659. It's slightly older but that one has a bit more context (screenshot in original issue).

[2022-09-16 20:07] #2657 closed

[2022-09-17 02:48] testforstephen commented on #2655
This duplicates with https://github.com/microsoft/vscode-java-debug/issues/1212#issuecomment-1248951918. It's a regression in upstream jdt.core https://github.com/eclipse-jdt/eclipse.jdt.core/issues/405.

**Root Cause:**
Your JDK installation misses `release` file, that leads Java extension to throw NPE when reading the `release` file.
![image](https://user-images.githubusercontent.com/14052197/19

[2022-09-17 08:45] hasen6 commented on #2672
@rgrunber

I can't share the project unfortunately since it's a large multiple file game engine. I've actually since changed that method and the error no longer reproduces anywhere in the new version of that method. However I have a backup of how the code was previously and the error reproduces just as before inside that code, it seems the circumstances have to be quite specific for the error to o

[2022-09-17 08:52] hasen6 commented on #2672
This is weird too, it's successful if there's an error above it:

Fails:

![Capture d’écran 2022-09-17 à 10 50 32 AM](https://user-images.githubusercontent.com/15882674/190848831-b88824a2-8c63-458c-be69-b0018a9e94fc.png)

Succeeds

![Capture d’écran 2022-09-17 à 10 50 43 AM](https://user-images.githubusercontent.com/15882674/190848840-96fc8a33-9fe0-4380-b17c-848b6ce53b74.png)

[2022-09-17 16:49] FileOfName opened #2679 "Add support for .class files"
Currently, you can't open .class files in vscode. To be clear I don't mean the "Go To Definition" action I mean plain .class files. If you try and open one then it'll give you a warning. I've found two extensions that sound like they solved the problem but don't:
1. [Java Decompiler](https://marketplace.visualstudio.com/items?itemName=dgileadi.java-decompiler) on "Go To Definition" decompiles the

[2022-09-19 10:53] knutae commented on #2655
I can confirm that adding a `release` file fixes the issue. Thanks!

Short story: we use a custom script on top of bazel for installing the JDK, so this is probably not a common error.

Long story: Our build uses bazel, and we set up the eclipse project to use the same java version as bazel via a script. There is some magic here that I don't quite understand, but we include all target files from t

[2022-09-19 12:08] testforstephen commented on #2655
@knutae thank you for sharing the use case.

[2022-09-19 12:59] dudeNumber4 commented on #2669
[settings.json.txt](https://github.com/redhat-developer/vscode-java/files/9599061/settings.json.txt)

[2022-09-19 13:13] ityreh commented on #1639
I ran into the same problem. As a workaround the solution of @csirvents works for me.

[2022-09-19 14:21] rgrunber commented on #2679
Seems like exactly what https://github.com/redhat-developer/vscode-java/issues/304 was suggesting. Looks like https://github.com/dgileadi/vscode-java-decompiler/issues/3 mentions some of the issues you're seeing. Seems to me like this is something one of the decompiler extensions should be supporting.

@fbricon , has our view changed on this ?

[2022-09-19 14:27] rgrunber commented on #2675
Can you confirm that `Language Support for Java(TM) by Red Hat` was installed under the Extensions tab ? Did you have a project open that contained `.java`, `pom.xml`, or `.gradle` files ?

[2022-09-19 20:04] Enfield-Li opened #2681 "Feature request: adding intellisense for variable initialized by lombok var keyword"
Issue: intellisense does not pick up variables initialized by `lombok var` keyword:
[code]
It also works for the `var` introduced in Java 10, but not for lombok's.

Hope you guys can add this support, thanks!

[2022-09-19 20:55] #2681 closed

[2022-09-19 21:49] rgrunber commented on #2672
I think the moment you're able to reproduce, check the `.log` file as I described above. If there's a stacktrace, then maybe we can address it without a code snippet, or even work backwards to figure out what kind of snippets trigger this.

Another possibility is that something in here is just failing : https://github.com/eclipse/eclipse.jdt.ls/blob/dbd035c6aa036b6ee7dd7ea503de548f33fe641c/org.ecl

[2022-09-20 00:12] tschaffter opened #2682 "IntelliSense provided by this extension no longer work when the workspace includes `build.gradle`"
My team is developing in an [Nx](https://nx.dev/) monorepo with VS Code where apps and libraries are listed in the folder `apps/` and `libs`. Some of our apps and libs are in Java. We installed the `Extension Pack for Java`, which include this extension (`Language Support for Java(TM) by Red Hat`). Java projects are built with either Maven or Gradle. In this context, this VS Code extension works g

[2022-09-20 08:54] jdneo commented on #2682
Why not put the `build.gradle` under `apps` and meanwhile, add `settings.gradle` under `apps` to declare all your sub-modules?

[2022-09-20 12:41] hasen6 commented on #2672
I opened vscode in terminal with `code --log trace` and after typing `sout` and seeing the error, as far as I can see there was nothing written to the `main.log`, it's really just not seeing it as any kind of error. But I do have a minimal project where I can recreate the error every single time. Let me know where I can send that to.

[2022-09-20 13:41] rgrunber commented on #2672
Not sure if the `main.log` would show these errors. They would only be logged to the language server's logs (The `.log` file from `Java : Open All Log Files` command). The `Language Server For Java` tab within the Output View might also have any errors.

Are you able to attach the file to a comment (drag & drop into reply box) ?

[2022-09-20 14:00] snjeza commented on #2682
@tschaffter You can try the following:
[code]
or
[code]

[2022-09-20 16:53] tschaffter commented on #2682
I'm relatively new to Gradle so not sure how this would work. Related to that I saw that there is a property `buildFile` that can be specified in `settings.json` to specify the location of `build.gradle`. However, [specifying the location of a build file seems deprecated](https://docs.gradle.org/7.3-rc-2/userguide/upgrading_version_7.html#configuring_custom_build_layout).

@snjeza I'm not sure how

[2022-09-20 17:24] snjeza commented on #2682
You have installed a gradle wrapper partially and Java LS crashes. You have the valid gradle wrapper in the libs/shared-java/challenge-util project. You should just copy it.

[2022-09-20 17:24] hasen6 commented on #2672
Ok I thought you were referring to the main.log when you said .log file. Anyway you can check the project yourself, it will be simpler.

Ok I'll try, I thought it was only images that could be dropped but it looks like it's added. The project will show up with a lot of red underlined errors because everything is missing but I noticed it doesn't matter, you should be able to still run shortcut snip

[2022-09-20 17:46] tschaffter commented on #2682
Thanks @snjeza. I indeed forgot to commit the folder `gradle` in the commit I referenced earlier. However, I usually included this folder in my setup. To clarify, Java LS breaks with the following files in my workspace folder:

[code]

[2022-09-20 19:16] rgrunber commented on #2672
Thanks for the project. I'm able to reproduce with a much simpler example now :

**Test.java**
[code]

The problem happens at https://github.com/eclipse/eclipse.jdt.ls/blob/dbd035c6aa036b6ee7dd7ea503de548f33fe641c/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/contentassist/SnippetCompletionProposal.java#L231 . The `tokenLocation` is not recognized as a `TL_STATEMENT_START` (which is

[2022-09-20 19:23] snjeza commented on #2682
@tschaffter You can skip the gradle importer usin
[code]

[2022-09-20 20:34] rgrunber commented on #711
Nice discovery here! Yes, according to https://github.com/eclipse-jdt/eclipse.jdt.ui/blob/cb1093315376859558a838c6934880f87921d816/org.eclipse.jdt.ui/ui/org/eclipse/jdt/internal/ui/preferences/ImportOrganizeConfigurationBlock.java#L96 , static imports are prepended by a `#`. I think this is definitely something we should mention in the settings description.

[2022-09-20 21:23] DatGuyJonathan opened #2686 "Customize tooling_jre with env var"
I have a use case where I need `tooling_jre` to be customizable: https://github.com/redhat-developer/vscode-java/blob/master/src/requirements.ts#L36.

I can't use the embedded ones because I need to use a custom one that has the right certs to work with an internal service. I also can't use `java.jdt.ls.java.home` because the location of the JRE will depend on which machine it's running on. Also,

[2022-09-21 09:09] fbricon commented on #2672
@rgrunber indeed the bug can be reproduced in upstream Eclipse. Is there a bug report to point to?

[2022-09-21 12:33] hasen6 commented on #2672
I'm glad you were able to find it, it's certainly an elusive bug, if you change almost anything to my example project's function, the bug no longer occurs, it was quite a miracle I even came across it in the first place. I've been working on projects in java every day since I reported the bug and literally never came across it again even once. I guess it has to be fixed nonetheless though.

[2022-09-21 13:29] fbricon commented on #2355
Closing as there's a dedicated extension for JBang now: https://github.com/jbangdev/jbang-vscode

[2022-09-21 17:50] rgrunber commented on #1709
I'm not sure if all formatter options are included, and since it can be tricky to create a custom formatter file, you can always use a formatter option key-value pair and place it directly in the `java.settings.url` (normally used for compiler options). I've documented this at https://github.com/eclipse/eclipse.jdt.ls/wiki/Language-Server-Settings-&-Capabilities#java-formatter-options . All format

[2022-09-21 17:50] #1709 closed

[2022-09-22 00:07] rgrunber commented on #2672
I think I see what's happening, and it makes this bug look not entirely wrong.

[code]

is parsed (recovered) as

`sout((Test)input).removed = true;`

In other words, `sout : Test -> Test`, so it could be interpreted as completion being triggered within a statement, and not at the start. I could still file this upstream and see if anything could be done.

[2022-09-22 02:45] jdneo opened #2687 "Create a new Java file won't generate package statement"
[provide a description of the issue]

Using the pre-release version `v1.11.2022092104`, when creating a new Java file, the package statement is not auto generated.

![package_missing](https://user-images.githubusercontent.com/6193897/191646815-6252cdc4-e190-4350-a371-af92d9df8749.gif)

[2022-09-22 03:32] jdneo commented on #2687
It's here, the variable name is not updated

https://github.com/redhat-developer/vscode-java/blob/d6a2fd53b97f8518ece92cbae4d4b580c1aafe69/src/fileEventHandler.ts#L93

[2022-09-22 06:50] #2687 closed

[2022-09-22 14:26] lucidfrontier45 opened #2689 "Class files compiled by this extention run faster than manually compiled with javac command."
I was about to benchmark this program.

[code]

I found the class file compiled by VSCode Java extention runs about 4 times faster than one I compiled manually by the `javac` command.

##### Environment
- Operating System: Windows 11 /Debian 11
- JDK version: java 17.0.3.1
- Visual Studio Code version: 1.71.2
- Java extension version: v1.11.0

##### Steps To Reproduce
1. clone git@github.com:lucid

[2022-09-22 14:54] fbricon commented on #2689
That's a nice problem to have. If anything this is something caused by the Eclipse ECJ compiler, can you reproduce the same result in Eclipse IDE?

[2022-09-22 15:51] #2689 closed

[2022-09-22 16:13] #711 closed

[2022-09-22 16:51] pnulty commented on #2412
Just a comment on this issue as a new user: hiding short parameter hints makes sense, but the real problem that I had (and that the creator of this issue had) is that to a new user it might be completely unclear as to what these annotations are. Although they are used in several IDEs, if you haven't come across them before they are confusing. If it's possible to have some kind of hovertext or righ

[2022-09-22 18:26] rgrunber commented on #2412
I just tried this modification and it works :

[code]

We could also do it properly on the JDT-LS side with the inlay hints proposed API. and it'll work. Supported by https://microsoft.github.io/language-server-protocol/specifications/lsp/3.17/specification/#inlayHint . @jdneo , do you really see a sizeable amount of users confused by inlay hints currently ?

[2022-09-23 01:55] jdneo opened #2691 "Leverage tooltip to provide more information for inlay hints"
See: https://github.com/redhat-developer/vscode-java/issues/2412#issuecomment-1255294533 & https://github.com/redhat-developer/vscode-java/issues/2412#issuecomment-1255294533

[2022-09-23 01:55] jdneo commented on #2412
I didn't see many feedbacks about inlay hint recently. Let's track it as a feature request first: https://github.com/redhat-developer/vscode-java/issues/2691

[2022-09-23 02:18] #2628 closed

[2022-09-23 03:02] jdneo commented on #2682
settings.json is used to persist VS Code's settings. AFAIK, we haven't expose any setting to specify the build.gradle location.

[2022-09-23 09:47] gayanper commented on #1626
Anything stopping this enhancement? I see most of cleanup implementation doesn’t have ui component dependencies. Could we move those in jdt ui like we have done for type hierarchy?

or are we looking at handling this in a different way for vscode ? Like having individual cleanup as code actions?

@testforstephen @jdneo @rgrunber

[2022-09-23 11:30] tivrfoa commented on #2689
Interesting!

On my laptop: `Linux Lenovo-IdeaPad-S145-15API 5.15.0-46-generic #49~20.04.1-Ubuntu SMP Thu Aug 4 19:15:44 UTC 2022 x86_64 x86_64 x86_64 GNU/Linux`

Using ecj-4.5.2.jar:

[code]
Using `Zulu17.28+13-CA (build 17+35-LTS)`

[code]

Bytecode `ecj-4.5.2.jar` x `Zulu17.28+13-CA (build 17+35-LTS)`:

<table>
<tr>
<th>ecj-4.5.2.jar</th>
<th>Zulu17.28+13-CA (build 17+35-LTS)</th>
</tr>
<tr>
<t

[2022-09-23 12:05] fbricon commented on #2689
I'm extremely suspicious about microbenchmarks in general, it's not that trivial to do it right. But given that, in this case, the same JVM runs both versions, there must be something really interesting happening behind the scene.
Some JVM experts would know better. @forax or @adinn maybe?

[2022-09-23 13:35] appleseedexm commented on #1381
I've used the workaround to override the m2e build path which worked for quite a while.
But now depending on other features / plugins this still seems to be an issue, i.e. installing [CodeTogether](https://marketplace.visualstudio.com/items?itemName=genuitecllc.codetogether) lead to newly created `target` folders, making vscode-java loop forever again.

Guess the only option is to disable autobuil

[2022-09-23 17:43] #2292 closed

[2022-09-24 02:51] lucidfrontier45 commented on #2689
The benchmark program I posted was taken from https://stackoverflow.com/questions/67211077/java-vs-rust-performance .

Since this program is mostly composed by primitive variables without any complex memory allocation, I expected it to be as fast as C or Rust. In fact, the class file compiled with ecj runs as fast as C and Rust. I'm not sure why javac cannot do this.

There is an explanation (thou

[2022-09-24 06:01] forax commented on #2689
Hi, this is how Java usually works,
it interprets the code and if something is run multiple times, the VM asks the JIT to generate the corresponding assembly code and jump on it.

For Hotspot (the default OpenJDK VM), that optimization occurs either when a method is called several times (in the thousand) or a loop is called several times. The later optimization is called on stack replacement optim

[2022-09-24 19:41] matthewelmer commented on #457
I have a burning hatred for the default TODO wavy underlines, especially since there's no setting to remove the eyesore. @snjeza 's suggestion to create .settings/org.eclipse.jdt.core.prefs and put org.eclipse.jdt.core.compiler=<what you want underlined, which should be nothing if you are gifted with the sense of sight> inside of it worked, cause I just set it to nothing.

My question is: how do I

[2022-09-24 20:04] snjeza commented on #457
@matthewelmer could you provide a project example reproducing the issue?

[2022-09-24 20:14] FileOfName commented on #2679
In my opinion, a built-in class decompiler _is_ part of the Java editing experience and either this extension or any other java decompiler extension should support it. For now, I need to use IntelliJ idea for java class files, which is not ideal because I would want to have all functionality in one ide.

[2022-09-24 20:42] matthewelmer commented on #457
@snjeza oops, right. My post was unrelated to the issue.

[2022-09-25 03:13] tthornton3-chwy opened #2692 "Project cannot be synced when gradle init script path contains white spaces"
Good evening vscode-java team! Hope all is well.
When I set generatesMetadataFilesAtProjectRoot to true and refresh the project, `org.eclipse.buildship.core.prefs` gets updated  to include `arguments=--init-script /Users/[...me]/Library/Application Support/Code - Insiders/User/globalStorage/redhat.java[...]`, etc. These scripts seem to be injecting some plugins and doing some setup stuff, which is

[2022-09-25 09:16] aleSaleKa commented on #937
I am able to reproduce this with a Visual studio code for windows with Angular project while typing inside HTML file.
I'm not sure if windows version uses same mechanics as java one for linuxes, but i will share my experience.
It might be an additional problem to already defined one by OP though.

example:

<div class="myclass" *ngIf="obj.isVisible(myParam)">

The overwrite happens when the auto-c

[2022-09-25 10:17] JustJinxed opened #2693 "Disable/Modify inlay hints in Red Hat's vscode-java"
Sorry to tag onto this, but I feel it's related-- my inlay in dark+ sets a background color (which makes it look selected), is there a semanticTokenColorCustomizations rule I can use to remove the background color?

[2022-09-25 12:10] clankill3r commented on #894
It seems like org.eclipse.jdt.core.prefs magically works again so I close this issue for now.

[2022-09-25 12:10] #894 closed

[2022-09-26 07:40] olgapshen opened #2698 "Java projects aren't imported to IDE after update"
### Discussed in https://github.com/redhat-developer/vscode-java/discussions/2697

<div type='discussions-op-text'>

<sup>Originally posted by **olgapshen** September 26, 2022</sup>
I try to submit follow issuem and it don't gives me "Submit new issue" button available...

##### Environment
- Operating System: openSUSE Leap 15.3
- JDK version: openjdk version "11.0.13" 2021-10-19
- Visual Studio C

[2022-09-26 08:15] jdneo commented on #2693
The style of the inlay hints is controlled by the client(VS Code). The extension can only provide text of the hints.

If you want to specify the background color of those hints, please file issues at VS Code repo: https://github.com/microsoft/vscode/issues.

I'm closing this issue since it's out of the extension's scope. But feel free to ask questions here if you have any.

Thanks.

[2022-09-26 08:15] #2693 closed

[2022-09-26 08:20] jdneo commented on #2698
![image](https://user-images.githubusercontent.com/6193897/192227776-bef7eb36-99e7-43fd-ab6a-afc5b8b1f973.png)

Could you check if there is a error message when you opened your project in VSCode? - Click the bell icon at the bottom right corner

[2022-09-26 08:23] jdneo commented on #2692
I think it's not because of the `generatesMetadataFilesAtProjectRoot` property, but caused by using URI related APIs when we deal with the path with spaces.

Anyway, @CsCherrYY is now working on it.

[2022-09-26 09:49] olgapshen commented on #2698
No... No such message while oppening the IDE or during the usage.

[2022-09-26 10:15] testforstephen commented on #2698
@olgapshen I believe your issue duplicates with https://github.com/redhat-developer/vscode-java/issues/2655#issuecomment-1249983464 and https://github.com/microsoft/vscode-java-debug/issues/1212. The JDK on OpenSUSE doesn't contain the `release` file, that breaks the Java extension.

[2022-09-26 10:20] olgapshen commented on #2698
Hi! Several new things.

First of all, I upgraded Gradle to 7.5.1 and successfully built the project with VSCode Gradle plugin.
The screenshot below.

Second I messed little button in bottom of the screen: "Lightweight mode", I pressed, and IDE tried to build the Java project, but with new errors.

I updated the logs in the repo:

* [Client log](https://github.com/olgapshen/VSCodeIssue/blob/main/c

[2022-09-26 10:25] olgapshen commented on #2698
Sorry, but no, as I see I have `release` versionm sinse it doesn't have `-devel` suffix.
And I just updated the package:

![изображение](https://user-images.githubusercontent.com/13800244/192254033-a4bd2968-f839-4d15-ab12-5fc8cb911b22.png)

[2022-09-26 14:31] snjeza commented on #2692
A related commit: https://github.com/eclipse/eclipse.jdt.ls/commit/3d1a42c80abb12357a1152a097ec63b14ea5068c#diff-4be4f273e609fde1220c2d89f532f1fe207f280c100126555c3747fcf44d18d8L604

[2022-09-26 16:10] datho7561 commented on #1249
It looks like the relevant API is still just a proposal (https://github.com/microsoft/vscode/blob/main/src/vscode-dts/vscode.proposed.documentPaste.d.ts), but I'll see if I can get a prototype working. (Also, maybe I'm looking in the wrong place)

[2022-09-26 16:22] rgrunber commented on #2692
So is this a duplicate of https://github.com/eclipse/eclipse.jdt.ls/issues/2222 (error looks different) but whitespace in the path was exactly the issue in that one. If so, let's just mark this as a duplicate of that and close, because it will be in the next release.

@tthornton3-chwy , if you try a vscode-java pre-release version, does it solve the issue ?

[2022-09-26 16:29] tthornton3-chwy commented on #2692
@rgrunber unfortunately no, I am currently on the pre-release version (`v1.11.2022092604`), did a refresh project, etc and still see this same error when saving the build.gradle file (with `java.configuration.updateBuildConfiguration`  set to `automatic`). I also tried building latest eclipse.jdt.ls above from source, and manually replacing it in the project, and still getting that error. Is there

[2022-09-26 17:37] snjeza commented on #2692
@rgrunber The issue can't be reproduced in VS Code 1.10.0 but can in the master and pre-release version.
It is introduced by https://github.com/eclipse/eclipse.jdt.ls/commit/3d1a42c80abb12357a1152a097ec63b14ea5068c#diff-4be4f273e609fde1220c2d89f532f1fe207f280c100126555c3747fcf44d18d8L604

[2022-09-26 17:48] JustJinxed commented on #2693
oh! I made a false presumption it was extension related, due to it turning the option on - thank you jdneo, I was indeed confused. I found the TypeScript section for inlays in vscode and understand this better now.

[2022-09-26 18:45] hmlnarik commented on #2660
@snjeza Thank you for the hint.

The workflow I use sadly does not allow me to easily exclude other than non-java files, so including only a few selected modules is not possible for me.

Interestingly enough, the Netbeans Java Language Server opens the whole project in a few minutes without any tweaks in settings, with working symbol lookup, debugging etc. I'd love to use the recommended extension

[2022-09-26 20:02] snjeza commented on #2660
@hmlnarik You can try the following:
- set
[code]
to your settings.json
[code]

[2022-09-27 01:18] testforstephen commented on #2698
[code]

Looking at the logs you shared, it's exactly same as  https://github.com/redhat-developer/vscode-java/issues/2655#issuecomment-1249983464 and https://github.com/microsoft/vscode-java-debug/issues/1212.

A quick workaround is to manually create a `release` file in your jdk home.
[code]

[2022-09-27 01:56] jdneo commented on #2693
@JustJinxed You are welcome 😀

[2022-09-27 02:40] CsCherrYY commented on #2692
It's a buildship bug, see: https://github.com/eclipse/buildship/issues/1207. @rgrunber Maybe we have to temporary copy the init scripts to system temp folder in case of the path containing spaces?

[2022-09-27 04:03] rgrunber commented on #2692
That might be a possible workaround (since often, the tempdir path doesn't contain spaces). I tried intentionally placing a space on the path to the init script on Linux and it seemed to work for me. Might this be Windows / MacOS specific ?

[2022-09-27 05:58] olgapshen commented on #2698
Thank you very much!!! It really was a problem! You are the best!

[2022-09-27 05:58] #2698 closed

[2022-09-27 06:33] CsCherrYY commented on #2692
maybe, you can just follow the steps I just pasted in the buildship issue to see if we can reproduce it in Linux systems. It might help Gradle guys find the root cause of this problem, note: directly editing global settings works well, editing project specific settings in eclipse might encounter this issue.

Yes, I can confirm that in the last release version (1.10.0), the extension have errors me

[2022-09-27 06:45] jdneo commented on #2692
Copy to the temp folder might have another problem, it will generate a lot of init scripts in the temp folder. At least on Windows, the `File.deleteOnExit()` is not working for some reason that I don't know why.

[2022-09-27 06:54] Sukritish1299 opened #2699 "Writing Apex Code in VS Code shows too many irrelevant warnings"
I am writing Apex Code in VS Code and it shows way too much warnings.
Most of the warnings consist of Variable does not exist, invalid type, DML requires SObject and does not exist.
But I double checked none of these warnings are relevant to my code.

[2022-09-27 06:57] fbricon commented on #2699
please provide a sample project reproducing the problem.

[2022-09-27 06:59] meiliangdeng opened #2700 "[bug] synchronize xxx project failed due to an error connecting to the Gradle build"
xxx.java does not resolve to a ICompilationUnit is reported in Language Support for java when opening the gradle project(such as [opentelemetry-java](https://github.com/open-telemetry/opentelemetry-java)), the followed is output log in the "Language Support for java" panel：
[code]
##### Environment
- Operating System: macOS 12.4(Monterey)
- JDK version: java.jdt.ls.java.home=jdk-17.0.3.1.jdk
- Vis

[2022-09-27 07:25] CsCherrYY commented on #2692
Well, I just sort out the story.

### 1.10.0
[#2222](https://github.com/eclipse/eclipse.jdt.ls/issues/2222) shows some errors caused by spaces in URIs. These errors will not affect the import & synchorize process since we have a fallback mechanism, see: https://github.com/eclipse/eclipse.jdt.ls/blob/1058840b2e442486ddd7e7d117db9e2db7533a32/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/intern

[2022-09-27 08:11] Eskibear opened #2701 "TypeError: Cannot set properties of undefined (setting 'text')"
I see below error message in console when spring-petclinic is opened. Not sure about how to reproduce it. But some potential NPE must be there.

[code]

Location should be:

https://github.com/redhat-developer/vscode-java/blob/d6a2fd53b97f8518ece92cbae4d4b580c1aafe69/src/languageStatusItemFactory.ts#L146

@CsCherrYY Can you take a look?

BTW if possible, can we replace `item: any` to leverage the

[2022-09-27 09:48] fbricon opened #2702 "vscode-java doesn't build on Mac with Node 14"
Using the same node 14.19.1 as Jenkins, the project fails to build on my Mac.
[code]

It builds when I start using Node 16

[2022-09-27 14:24] #2700 closed

[2022-09-27 15:00] rantoniuk commented on #1263
Why does VSCode ignore the built-in [`maven.executable.options": "-Pprofile"` setting](https://stackoverflow.com/questions/54550365/how-to-set-the-maven-profiles-in-visual-studio-code) ?

[2022-09-27 15:07] snjeza commented on #2692
@jdneo  See https://github.com/redhat-developer/vscode-java/pull/880

[2022-09-27 15:29] snjeza commented on #1263
Also [this is just for reference](https://code.visualstudio.com/docs/java/java-build).

@rantoniuk You may want to take a look at https://github.com/Microsoft/vscode-maven/issues/117#issuecomment-546752800

[2022-09-27 18:43] rgrunber commented on #2692
FWIW, I'm able to reproduce. It's just that the failures are hidden in the logs :

(script path was `gradle/in it/init.gradle`)
[code]
I've merged the suggested workaround, but can someone test @snjeza's proposal for fixing things on Windows, regarding the init scripts not being removed ?

[2022-09-28 01:54] jdneo commented on #2692
I'll do it.

[2022-09-28 02:49] meiliangdeng commented on #2700
still have exception when the java extension plugin upgrading to v1.11.2022092704，following log：
[code]

[2022-09-28 02:49] meiliangdeng commented on #2700
@CsCherrYY

[2022-09-28 02:54] meiliangdeng commented on #2692
hi, i reported the #2700 issue which has been closed,but it still have exception when upgrading to v1.11.2022092704，following log：
[code]

[2022-09-28 03:04] jdneo commented on #2692
I guess the fix is not contained in `v1.11.2022092704` yet.

[2022-09-28 03:06] CsCherrYY commented on #2700
@meiliangdeng they are actually different issues. This issue has been addressed by https://github.com/eclipse/eclipse.jdt.ls/pull/2246, but it's merged at the end of yesterday (GMT +8) seems that not be included in your pre-release (1.11.2022092704), redhat.java will pre-release per day if there are any changes, so please wait for a new version later today (maybe 2022092804)

[2022-09-28 06:23] jdneo commented on #2692
Ok I've tested it and have some new findings.

@snjeza's proposal can make the JVM be terminated normally and thus the temp files will be deleted after the LS exists. But the removal of those temp files causes new problems.

After reloading the window and projects are imported, if manually trigger a reload project request, the server will get a `GradleBuild` which is cached by Buildship:

https://

[2022-09-28 08:55] jdneo commented on #2700
@meiliangdeng `v1.11.2022092804 ` is available now you can have a try

[2022-09-28 09:21] #1693 closed

[2022-09-28 14:42] zhouxinghong opened #2705 "There is no way to automatically prefer the current class member using the [this] object:"
There is no way to automatically prefer the current class member using the [this] object:
##### Environment
Operating System: Windows 10
JDK version: 17.0.6
-Visual Studio Code version: 1.77.3
Java extension version: v0.25.10
Java(TM) by Red Hat：v1.17

[2022-09-28 14:51] fbricon commented on #2705
It works for me:

![Screenshot 2022-09-28 at 16 49 58](https://user-images.githubusercontent.com/148698/192811329-3f26f254-5eb8-4e49-957c-b65d38107abb.png)

Can you share a screenshot of what you see and a sample project to reproduce this issue?

[2022-09-28 16:07] zhouxinghong commented on #2705
Please take a look at the code completion effect in IDEA!
[Video_2022-09-28_235827.zip](https://github.com/redhat-developer/vscode-java/files/9666872/Video_2022-09-28_235827.zip)

[2022-09-28 16:17] fbricon commented on #2705
yeah so that's the regular behavior you should see in vscode-java. Can you please share your logs? (run `Java: Open all Log Files` command)

[2022-09-28 16:33] mohnishkodnani commented on #2676
[code]

[2022-09-28 16:36] mohnishkodnani commented on #2676
jstack of one of the jdt processes on the system.
[code]

[2022-09-28 16:37] mohnishkodnani commented on #2676
Version of java language server : v1.10.2022082204

[2022-09-28 16:44] mohnishkodnani commented on #2676
[code]

[2022-09-28 18:18] mohnishkodnani commented on #2676
@snjeza let me know if there is more information i can provide, this happened in the morning and i took the logs as best as I could.

[2022-09-28 19:55] chrisawad commented on #1698
I'm having this exact same issue now. Projects are detected as Maven projects, but the Java Language Server does not honor "java.import.exclusions" in the workspace .vscode/settings.json file and complains about an excluded folder due to permission issue and does not continue scanning.

Firstly, the Java Language Server should probably just skip over folders that it can't access instead of just fa

[2022-09-28 19:58] rgrunber commented on #2702
According to https://github.com/fsevents/fsevents/issues/321, it's because we're using an old version of `fsevents`.

[code]

So the issue is https://github.com/gulpjs/glob-watcher/issues/55 , https://github.com/gulpjs/gulp/issues/2654 . Are you able to use `--no-optional` to fix it on Node 14 ?

[2022-09-28 20:59] snjeza commented on #2676
[code]

@mohnishkodnani
VS Code hasn't created these processes.
Is there a system service on your Mac?

[2022-09-28 22:59] zhouxinghong commented on #2705
I have double-checked the logs and found no error messages or hints! Everything seems to be fine.

[2022-09-28 23:01] mohnishkodnani commented on #2676
@snjeza this is vscode created..
1. I close visual studio.
2. Run `ps -ef | rg jdt`
4. Run `killall java`
5. Run `ps -ef | rg jdt`
6. Confirm no more java processes.
7. Start visual studio
8. As soon as  the importing java projects window comes up these java processes come up. I am not sure why you say they are not visual studio created.
I use nix package manager on my mac to install JDK, hence yo

[2022-09-28 23:08] mohnishkodnani commented on #2676
Looks like a lock between worker that updates maven dependencies and the worker that initializes the workspace.
[code]

[2022-09-28 23:49] snjeza commented on #2676
Their parent process is 1. It is the system process.

Could you try https://github.com/snjeza/vscode-test/raw/master/java-1.10.4.vsix ?

It is ok.
ss_ws should disappear when your project is imported.
Both processes should disappear when you close VS Code.

[2022-09-29 01:12] zhouxinghong commented on #2705
Please take a look at the code completion effect in vscode!
[Video_2022-09-29_09.zip](https://github.com/redhat-developer/vscode-java/files/9669925/Video_2022-09-29_09.zip)

[2022-09-29 10:27] mossaiby commented on #937
@aleSaleKa I have a similar experience which is very annoying...

[2022-09-29 14:44] tthornton3-chwy commented on #2692
Thank you all again for looking into this, I appreciate the time and effort here. Sorry about the can of worms haha.

I can confirm what @jdneo said above about the latest release-- the paths used now in the `org.eclipse.buildship.core.prefs` file are now good/temp-looking ones with no spaces, so that's awesome! But as per what was said, the build still fails because `the specified initialization

[2022-09-29 15:28] #793 closed

[2022-09-30 02:01] jdneo commented on #2692
@tthornton3-chwy Try running the command `Java: Clean Java Language Server Workspace` should fix your problem

[2022-09-30 02:03] jdneo commented on #2700
@meiliangdeng Please file another issue for this problem.

[2022-09-30 05:54] meiliangdeng opened #2709 "[bug]"
hi, based on the v1.11.2022092804 version, my local open-telemetry project can be indexed normally whitch related issue is #2700.
but I'm getting another similar exception that doesn't index java files( does not resolve to a ICompilationUnit) in another project, It's bound to happen. the followed is output log in the "Language Support for java" panel:
[code]
i mentioned a similar  synchronize exce

[2022-09-30 16:10] snjeza commented on #2709
@meiliangdeng could you try to set
[code]

[2022-09-30 19:29] #2676 closed

[2022-09-30 20:59] tthornton3-chwy commented on #2692
You're right, cleared things out on the latest version, and now we're good! Thanks for the help and quick support on this. I'm happy to close this out as the issue has been resolved, or keep it open to capture the thread about what ya'll are thinking for next steps on this, whatever you want!

[2022-10-01 02:17] jdneo commented on #2692
Thank you @tthornton3-chwy. I'm closing this one since the issue has been resolved :)

[2022-10-01 02:17] #2692 closed

[2022-10-01 07:34] anazar2001 commented on #2545
Any updates on this? Even downgrade of java extension to 1.7.0 stopped working. Cleaned workspace many times

[2022-10-01 13:34] Nightenom opened #2710 "Class parsing error (codeLens crash)"
Following code crashes code helper functions.

##### Environment
- Operating System: win 10 21h2 19044.2006
- JDK version: `OpenJDK 64-Bit Server VM Temurin-17.0.4.1+1 (build 17.0.4.1+1, mixed mode, sharing)`
- Visual Studio Code version: 1.71.2
- Java extension version: latest (v 1.11)

##### Steps To Reproduce
1. use code from [this gist](https://gist.github.com/Nightenom/e406e6c4816919a12dd6254

[2022-10-01 14:32] snjeza commented on #2710
@Nightenom I can't reproduce the issue when using your gist.
Could you provide a project example reproducing the error.

[2022-10-01 15:22] meiliangdeng commented on #2709
thanks, before file this issue, I have set java.import.gradle.java.home to jdk 11.

iust tested it and found that if it is set to gradle-7.5.1 in the project's local ${project_root}/gradle/wrapper/gradle-wrapper.properties file, it is normal, but if gradle is set to gradle-7.1  in the gradle-wrapper.properties, the above error will be happen.

i have resolve the exception when wrapper.properties s

[2022-10-02 01:23] ArithAuth opened #2711 "weird behavior of the Quick Fix; "Surround with try/catch""
[weird behavior of auto generate when generating try-catch]

##### Environment
- Operating System: macOS 12.6(Monterey)
- JDK version: java(TM) SE Runtime Environment (build 18.0.2.1+1-1)
- Visual Studio Code version: 1.71.2 (Universal)
- Java extension version: v1.11.0

##### Steps To Reproduce
<pre>
<-- insert
try {

} catch (Exception e) {
    // TODO: handle exception
}
</pre>
<pre>
throw new

[2022-10-03 08:12] yotov opened #2712 "The type javax.annotation.Nonnull cannot be resolved"
In one of my projects, I'm getting an error after upgrading to the latest version:

[code]

I saw the changelog and found that the issue relates to _enhancement - Enable annotation-based null analysis. See [#1693](https://github.com/redhat-developer/vscode-java/issues/1693)._

Removing "javax.annotation.Nonnull" from "java.compile.nullAnalysis.nonnull" config fixes the problem for me.

##### Envir

[2022-10-03 10:55] Treeston opened #2713 "@Nonnull fields are assumed to be non-null in the constructor"
Class fields annotated with `@Nonnull` are currently assumed to never be null in the class constructor.
`@Nonnull` only provides guarantees after construction has finished, and checking these fields in the constructor is often useful to avoid boilerplate variables.

A toy example illustrating the issue:

[code]

##### Environment
- Operating System: Windows 10 Enterprise
- JDK version: openjdk 11.

[2022-10-03 11:12] olgapshen opened #2714 "File /usr/lib64/jvm/java-11-openjdk-11/lib/ct.sym does not exist"
I have error in "Problems" tab while building the project.

The error in the log:

##### Environment
- Operating System: openSUSE Leap 15.3
- JDK version: openjdk version "11.0.13" 2021-10-19
- Visual Studio Code version: 1.71.2
- Java extension version: v1.10.0

##### Steps To Reproduce
1. Open project
2. Wait the IDE will build Java project

[Sample project](https://github.com/olgapshen/vscode_o

[2022-10-03 12:21] anazar2001 opened #2715 "Resource bundle is not found"
Type: Bug

Starting from Java extension 1.10.0 I started getting these errors in my VsCode workspace. The bundle in question has always been in the project

VS Code version: Code 1.71.2 (74b1f979648cc44d385a2286793c226e611f59e7, 2022-09-14T21:07:15.900Z)
OS version: Darwin arm64 21.1.0
Modes:
Sandboxed: No

[2022-10-03 12:21] anazar2001 commented on #2715
[ResourceBundle - log.txt](https://github.com/redhat-developer/vscode-java/files/9697398/ResourceBundle.-.log.txt)

[2022-10-03 12:22] anazar2001 commented on #2715
<img width="1728" alt="Java Extension - Resource Bundle error" src="https://user-images.githubusercontent.com/13858727/193575435-634783af-7ce3-497a-8bdf-2faa4a184c9e.png">

[2022-10-03 13:16] olgapshen commented on #2714
Mean a while I commented the lines, but I hope, the problem will be solved:

[code]

[2022-10-03 15:01] hmlnarik commented on #2660
Thank you for the hint.

After following the suggestion, I am afraid I cannot report success. The IDE keeps reporting `Building n%` and `Building [Done]` messages after over 2 hours of indexing. When I tried "Go to symbol in Workspace", it returns results only in roughly 50% of cases.

If there is anything else I could try, please let me know.

[2022-10-03 16:20] rgrunber commented on #2714
Thanks for the detailed info. I'm able to load your project without issues, so I took a closer look at the JVMs I'm using :

[code]

Can you confirm that your `/usr/lib64/jvm/java-11-openjdk-11/` exists and isn't some broken link ? I would think `ct.sym` should be part of the development package (the JDK) as opposed to just the base runtime packages (needs to include the development version of the

[2022-10-03 19:43] rgrunber commented on #2712
Do you have a sample project available to share that was causing this issue. Looks like the annotations are used in some library/class files but aren't on the classpath ?

CC @CsCherrYY

[2022-10-03 20:08] rgrunber commented on #2713
This could probably be supported upstream, but the annotations are heavily discouraged there. We provided basic support based on the interest in this (https://github.com/redhat-developer/vscode-java/issues/1693 had a good amount of upvotes), but based on the comments in https://github.com/eclipse-jdt/eclipse.jdt.core/pull/379, it's unlikely any effort to improve this would reach any consensus.

[2022-10-03 20:29] Treeston commented on #2713
Thanks a lot for the referenced discussion. While the finer particulars of the annotation system at play elude me, mentions of non-obvious dangers make me cautious.

I wish there were a well-supported static annotation framework in Java...

[2022-10-03 22:41] Marinell0 commented on #2712
I have the same problem now on my project, but a different error:

Annotation type 'org.springframework.lang.NonNull' cannot be found on the build path, which is implicitly needed for null analysis (Java 536871894)

Sometimes it shows up at the first line, sometimes at a lambda.

[2022-10-04 07:15] olgapshen commented on #2714
Hi!
So I had the folder, it wasn't broken link, and yes, it was missing `ct.sym`.
As you predicted, missing file came with `java-11-openjdk-devel` package.
Now I have:

[code]

The project successfully built.
Thank you very much!

[2022-10-04 07:15] #2714 closed

[2022-10-04 08:27] Treer commented on #2572
I have Cylance complaining about it too. Like Skenvy mentioned, it only complains when I've started *running* vscode, and then it pings every few seconds.
I assume this is poor virus checking rather than redhat_java, but I'll add it to the documentation (Cylance doesn't give much info)
![image](https://user-images.githubusercontent.com/6390507/193769794-ca955d4c-11b1-436d-894d-1907b90f48e0.png)
![

[2022-10-04 12:37] mazeneko opened #2716 "`Null type safety` warnings occur in method references that take primitive values as arguments"
When such code is written, a warning occurs.
But I expected no warning here.

Is this behavior reasonable?

[code]

![image](https://user-images.githubusercontent.com/46620955/193819371-e258f841-2196-41be-9dc3-6101dfba10a5.png)

##### Environment
- Operating System: Windows10
- JDK version: JDK17
- Visual Studio Code version: 1.71.2
- Java extension version: 1.11.0

[2022-10-04 13:35] ziroc opened #2717 "Java Formatter is broken somehow in my workspace"
So I played around trying to use a custom formatter for Java. At some point my workspace broke and now I cannot format any Java code.
I tried to remove every setting related to formatting. I used "clean the Java language server workspace"
I deleted workspace caches in %userprofile%\AppData\Roaming\Code

Nothing works. Now I get the window "There is no formatter for Java installed" whenever I try t

[2022-10-04 16:35] Nightenom commented on #2710
Sorry for not providing project info: running on latest gradle, application is using JPMS. Minimal repro case: [test.zip (can upload to repo if needed)](https://github.com/redhat-developer/vscode-java/files/9708915/test.zip) - it downloads few libraries, if I tried to strip dependencies in build.gradle the problem has gone for some reason..

Note that full stacktrace is on top of logs (in supplied

[2022-10-04 19:13] rgrunber commented on #2679
We could potentially do what the `document/definition` request does at [`JDTUtils.searchDecompiledSources`](https://github.com/eclipse/eclipse.jdt.ls/blob/ed4a7cffc08834c47fdc9e3d032c82b924122697/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/handlers/NavigateToDefinitionHandler.java#L186A) -> .. -> [`DisassemblerContentProvider.getContent(..)`](https://github.com/eclipse/eclipse.jdt

[2022-10-04 20:04] olgapshen opened #2718 "Java intellisense doesn't filter Java API"
Java intellisense doesn't filter Java API basing on `Gradle` `targetCompatibility` option.
I configure follow configuration in `build.gradle`, but I still get newer Java API as `Stream.takeWhile()` in intellisense advices.
In the same time, when I run tests with the `Java Tests Extension`, I get build errors. The logs provided.

[code]

##### Environment
- Operating System: openSUSE Leap 15.3
- JD

[2022-10-04 20:43] rgrunber commented on #2712
If anyone is able to point to a sample project (or upload one) that causes this problem, it would be very helpful.

[2022-10-05 03:28] chowethan commented on #2712
This is also occurring on a project I'm a part of. It's preventing the project from building within the IDE. Unfortunately, I'm not able to share any source code.

Is there a way to turn off/disable null analysis in configuration for the time being?

[2022-10-05 03:58] nam178 commented on #2712
I'm having the same problem.
I'm not using `javax.annotation.Nonnull` anywhere in the code other than lombok's `NonNull`
Downgraded Java extension  to `1.10.0` + multiple `mvn clean install` fixed it

[2022-10-05 05:26] rajivranjank opened #2719 "Extension issueredhat.java"
- Issue Type: `Bug`
- Extension Name: `java`
- Extension Version: `1.11.0`
- OS Version: `Windows_NT x64 6.3.9600`
- VS Code version: `1.71.2`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2022-10-05 07:17] #2719 closed

[2022-10-05 08:23] oovaa opened #2720 "the errors and warnings are not underlined"
[provide a description of the issue]

##### Environment
- Operating System: linux (kubuntu 22.04)
- JDK version:openjdk 18.0.2-ea 2022-07-19
- Visual Studio Code version: 1.71.2
- Java extension version: Extension Pack for Java v0.25.3

##### Steps To Reproduce
1. open .java file in vscode
2. make a syntax error or warning

[Please attach a sample project reproducing the error]
[Please attach logs

[2022-10-05 10:04] stefanrybacki opened #2721 "org.eclipse.jdt.core.prefs overridden with default? values even if specified differently"
In a gradle project we have:

[code]

and we have

[code]

so running `./gradlew eclipseJdt` for instance generated a correct `org.eclipse.jdt.core.prefs` file in `.settings`.
However, when clean and rebuilding from within vscode the `org.eclipse.jdt.core.prefs` file will be overridden not honoring the settings we set above, specifically `org.eclipse.jdt.core.compiler.annotation.nullanalysis=disab

[2022-10-05 14:19] rgrunber commented on #2712
You should be able to disable this feature with the following settings (on the individual workspace, or globally).

**.vscode/settings.json**
[code]

[2022-10-05 18:14] snjeza commented on #2721
I can't reproduce the issue.
@stefanrybacki could you attach your settings.json, build.gradle and your log. See [Enable logging](https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#enable-logging)

[2022-10-05 23:08] snjeza commented on #2712
A related issue - https://github.com/redhat-developer/vscode-java/issues/2721

[2022-10-06 08:54] lucksjb commented on #761
+1

[2022-10-06 15:51] snjeza commented on #2721
@stefanrybacki you may want to take a look at https://github.com/redhat-developer/vscode-java/issues/2712#issuecomment-1268502179

[2022-10-06 16:13] DatGuyJonathan opened #2723 "Are shared indexes on the roadmap?"
Large projects can take a really long time to index locally which leads to an unproductive dev flow. Intellij's solution to that seems to be shared indexes. Would that be useful for vscode-java extension as well? Or are there other plans to improve indexing?

[2022-10-06 19:49] rgrunber commented on #2712
@yotov thank-you. Am able to reproduce.

Looking at the classpath of the project, I see both `com.google.code.findbugs:jsr305:jar:3.0.2:runtime` & `org.springframework:spring-core:jar:5.3.22:compile`. So basically we have 2 annotation providers on the classpath. It looks like the defaults prefer the `jsr305` provides (eg. javax.annotation..) over the spring framework provider (eg. org.springframew

[2022-10-06 19:58] yotov commented on #2712
@rgrunber yes, reordering the classes fixes the problem and I'm able to compile the project from IDE

[2022-10-07 02:48] snjeza commented on #2712
We can't because the scope is set in upstream project (spring-core). m2e adds the classpath test attribute for the maven runtime and test scope.
The PR (https://github.com/eclipse/eclipse.jdt.ls/pull/2264) skips all test classpath entries. It enables null analysis only if there is an annotation type in a classpath entry without the test attribute.
For instance, the vscode-nullable project
This PR

[2022-10-07 03:08] chowethan commented on #2712
@snjeza Mentioned the wrong person, but combined with @yotov's settings options, this worked to fully disable null analysis in my case

[2022-10-07 09:37] akosyakov opened #2724 "warmup mode"
It is originally raise in Gitpod: https://github.com/gitpod-io/gitpod/issues/12448
For very big projects it takes a while to import and reindex the project on the startup of container. Gitpod has a concept of prebuild, i.e. CI for dev containers. We would like to warm up Java LS or VS Code extension that on real container start it is loaded immediately.

[2022-10-07 10:11] OLibutzki commented on #2724
Seems to be related to #2723 - created 18 hours ago, right?

[2022-10-07 13:05] akosyakov commented on #2724
IntelliJ has both shared indexes and warm up [1], i.e. warm up itself can be speeded up with shared indexes.

[2022-10-07 15:14] starkos opened #2725 "Unable to turn off org.eclipse.jdt.core.compiler.annotation.nullanalysis"
As v1.11.0, all of our projects are getting an autogenerated `org.eclipse.jdt.core.prefs`. There are lots of new settings applied, but one in particular is killing us dead:

[code]

With flag enabled, we get hundreds of issues like these, which all have to do with missing annotations on external code and Java core libraries:

<img width="1031" alt="Screen Shot 2022-10-07 at 10 42 41" src="https://

[2022-10-07 21:50] snebjorn opened #2726 "Language Support for Java isn't working in GitHub Codespaces"
For some reason Language Support for Java isn't working in my GitHub Codespace. The extension seems to like being run there.
It was working a week or so ago but for some reason it just stopped and I cannot get it to function again.

Cleaning the project doesn't function
![image](https://user-images.githubusercontent.com/1266245/194650621-94d46bdc-d93a-4499-b9f5-a668232b390d.png)
![image](https://u

[2022-10-08 02:19] jdneo commented on #2718
Have you tried right click on `build.gradle` and click `Reload Projects`?

[2022-10-08 02:22] jdneo commented on #2723
There is actually a discussion on upstream side, see: https://github.com/eclipse-jdt/eclipse.jdt.core/issues/110

[2022-10-08 02:24] jdneo commented on #2720
Is the extension activated? You can check that if there is a 👍 icon at the bottom right corner of the status bar.

[2022-10-08 02:24] jdneo commented on #2717
@CsCherrYY

[2022-10-08 02:45] jdneo commented on #2726
I see there is an error in console:

[code]

[2022-10-08 06:51] CsCherrYY commented on #2717
two possible reasons:

1. `java.format.enabled` is set to false
2. The java extension is not activated yet or failed to activate. You can check (hover on) the language status in the status bar when you open a java file:

![image](https://user-images.githubusercontent.com/45906942/194694113-a7bf7a88-8507-4f9f-a155-c8de4e99978e.png)

[2022-10-08 11:12] snebjorn commented on #2726
thank you that put me on the right path - I think 😸

However these does seem like an issue with this extension
[code]
Seems like it tries to execute a command on my local VSCode, which doesn't have the extension installed, instead of executing it inside the GitHub Codespaces remote container

[2022-10-08 13:55] FileOfName commented on #2679
Eclipse and IntelliJ idea have it. Why should this extension not have it?

[2022-10-08 16:54] snjeza commented on #2725
@starkos You may want to take a look at https://github.com/redhat-developer/vscode-java/issues/2712#issuecomment-1268502179

[2022-10-08 16:54] snjeza commented on #2724
@akosyakov What OS are you using? Could you try VS Code pre-release?

[2022-10-09 02:05] mitonize commented on #1544
These issues are also relevant.
microsoft/language-server-protocol#98
microsoft/vscode#23927

[2022-10-09 02:13] jdneo commented on #2726
I think it's the permission issue that cause the java extension cannot be activated successfully, then the command not found exception is observed.

[2022-10-09 06:23] #2720 closed

[2022-10-09 10:26] snebjorn commented on #2726
Hmm how do I do that?
I ran `sudo chown -R vscode: /home/vscode` and `sudo chmod u+rwx /home/vscode` but to no avail

[code]

[2022-10-09 19:50] ozkanpakdil commented on #961
+1

[2022-10-10 01:32] MiG98789 opened #2727 "Doing null check on @Nullable functions via ternary operator still gets highlighted with "Potential null pointer access" problem"
Chaining a function after a `@Nullable`-annotated function causes the `@Nullable`-annotated function to get highlighted with "Potential null pointer access" problem, even if a null check was done via ternary operator.

Original issue: [https://github.com/microsoft/vscode/issues/163128](url)

##### Environment
- Operating System: Windows_NT x64 10.0.19044
- JDK version: JDK 17
- Visual Studio Code

[2022-10-10 02:41] CsCherrYY commented on #2727
looks like a JDT null analysis issue. If you replace the method invocation with a temporary variable, there should be no such tips.
[code]

[2022-10-10 02:43] CsCherrYY commented on #2725
If you want to disable the null analysis entirely, just set `java.compile.nullAnalysis.nonnull` and `java.compile.nullAnalysis.nullable` to empty array in your VS Code settings.

[2022-10-10 07:03] xxc-zsz opened #2728 "How to input/output Greek characters"
When using vscode to write a Java program, the input and output of Greek characters are garbled.

##### Environment

Version: 1.72.0 (system setup)
Commit: 64bbfbf67ada9953918d72e1df2f4d8e537d340e
Date: 2022-10-04T23:20:39.912Z
Electron: 19.0.17
Chromium: 102.0.5005.167
Node.js: 16.14.2
V8: 10.2.154.15-electron.0
OS: Windows_NT x64 10.0.17763
Sandboxed: No
Java extension version: Extension Pack fo

[2022-10-10 07:42] olgapshen commented on #2718
Yes... no reaction...

[2022-10-10 08:39] cosmolin opened #2730 "Can not format when exists mokito statement."
Formatter cannot work with mokito, why?

##### Environment
- Operating System: Windows 11
- JDK version: openjdk 11.0.2, installed via scoop
- Visual Studio Code version: 1.72.0
- Java extension version: v1.11.0

##### Steps To Reproduce
Formatter work in other code, until I write
[code]

[2022-10-10 09:16] jdneo commented on #2718
Hmm, I cannot reproduce the problem on my side, but I'm on a Windows machine

![Untitled](https://user-images.githubusercontent.com/6193897/194833910-9917e0bf-2360-4daf-908b-434e99d97c27.png)

[2022-10-10 09:55] ziroc commented on #2717
Yes, I suspect the Java extension is not properly activated, but I cannot find exactly the problem. It seems to recognize maven projects, java files, method outlines inside files, etc.

![image](https://user-images.githubusercontent.com/37216225/194840560-60eac32e-20fb-477f-8786-eafa48455b36.png)

[2022-10-10 10:01] olgapshen commented on #2718
Sorry, but we, as the Humankind, expect VScode will work on Linux as well as on Windows.
Please don't disappoint us.

[2022-10-10 11:48] stefanrybacki commented on #2721
@snjeza thanks for looking into this. Unfortunately I cannot share the gradle and settings file as is, due to company policies. Let me check if I can create a reproducible project without critical information. I will also check if the linked component fixes my compile issues, however it might only the transitive compile problem I get due vscode overriding the jdt file.

[2022-10-10 13:29] Treeston commented on #2727
The IDE doesn't (and can't easily) realize that `getSomethingNullable()` will return the same value on both invocations.

[2022-10-10 13:35] Treeston opened #2731 "Recognize contractual non-nullness of standard library functions"
The nullness analyzer does not recognize that certain standard library functions will, contractually, never return `null`. A common example would be `Integer::toString`.

These methods will generate unchecked cast warnings if assigned to a `@Nonnull` field.

As I understand, the plugin relies on Eclipse JDT for nullness analysis. I have come across [LastNPE](https://www.lastnpe.org/), which publis

[2022-10-10 14:43] snjeza commented on #2721
@stefanrybacki  Could you try to add

[code]
to your settings.json?

[2022-10-10 18:42] snjeza commented on #2718
@olgapshen  could you try to add the JDK8 runtime

[code]
"java.configuration.runtimes": [
        ...
         {
             "name": "JavaSE-1.8",
             "path": "<jdk8_home>",
         },
    ],
    ...
[code]

[2022-10-11 01:50] CsCherrYY commented on #2717
I can see some diagnostics with Java type in your screenshot, and they should be reported by java extension. Can you use other features, such as go to definition and trigger auto completion (ctrl+space)? Or a sample project would be very helpful.

[2022-10-11 02:17] CsCherrYY commented on #2716
looks like related to https://github.com/redhat-developer/vscode-java/issues/2731

[2022-10-11 02:20] jdneo commented on #2730
Could you provide the expected format style and the actual style now?

[2022-10-11 02:22] jdneo commented on #2728
The input/output in terminal could related with your OS settings. Please check this document for help: https://github.com/microsoft/vscode-java-debug/blob/main/Troubleshooting_encoding.md

_// cc @testforstephen_

[2022-10-11 02:39] jdneo commented on #2726
I tested to create a codespaces for the spring-petclinic project and it works. Have no idea why your project has the permission issue. Let's wait to see the response from upstream: https://github.com/devcontainers/images/issues/155

[2022-10-11 03:59] stefanrybacki commented on #2721
@snjeza I can confirm that applying those settings and also changes the value of `org.eclipse.jdt.core.compiler.annotation.nullanalysis` to disabled in the jdt file.
So do those settings override the settings specified in the gradle file?

[2022-10-11 06:42] olgapshen commented on #2718
Yes! I installed JavaSE-1.8 in addition to JavaSE-11 and now th IDE gives me just Java 1.8 API!
Thank you very much!!!

![изображение](https://user-images.githubusercontent.com/13800244/195014972-1f01bdb2-9733-4dc8-8e14-9e6651c0a1cb.png)

[code]

![изображение](https://user-images.githubusercontent.com/13800244/195014681-7bd1512b-9ac6-4de7-99d2-c29ad2558e57.png)

[2022-10-11 06:42] #2718 closed

[2022-10-11 13:32] ziroc commented on #2717
Ctrl+click works on most things, not everything. Auto completion also works.
But I cannot use formatters still.!ENTRY org.eclipse.jdt.ls.core 4 0 2022-10-04 17:05:47.731
!MESSAGE Offset > length: 1039 > 757
!STACK 0
org.eclipse.jface.text.BadLocationException: Offset > length: 1039 > 757
	at org.eclipse.jface.text.ListLineTracker.getLineNumberOfOffset(ListLineTracker.java:141)
	at org.eclipse.jfac

[2022-10-11 13:45] Campano opened #2732 "Property LineLength.fileExtensions not recognized"
Using following rule, [available since CheckStyle 8.24](https://checkstyle.org/config_sizes.html#LineLength) triggers the following error:

[code]

[code]

##### Environment
- Operating System: MacOS 12.3
- JDK version: 11
- Visual Studio Code version: 1.72.0
- Java extension version: 1.4.1

[2022-10-11 19:46] DatGuyJonathan opened #2733 "Error "exporting a package from system module is not allowed with --release""
I started seeing this error in my workspace after upgrading to extension v1.11.0:

![Screen Shot 2022-10-11 at 11 59 42 AM](https://user-images.githubusercontent.com/7286437/195183662-5b26cf98-df6a-4e71-a4c2-e1d9840ee410.png)

I can build & run my app though, so I wonder if this error is a false positive. If I downgrade to v1.10.0, that error doesn't show up. Does anyone know what in [1.11.0](http

[2022-10-11 22:29] hasen6 commented on #2672
@rgrunber It's pretty rare to come across but I just came across it again in another situation so I guess it wasn't fixed.

[2022-10-11 23:29] u84six opened #2734 "Latest vscode extension causes massive spike in CPU usage even when idle"
[provide a description of the issue]

##### Environment
- Operating System: Windows 10
- JDK version:  11.0.12
- Visual Studio Code version: 1.72.1
- Java extension version: latest as of (Oct 11/22)

##### Steps To Reproduce
1. After the extension was updated, my fans on my laptop went into high gear.
2. Opened performance monitor and noticed that java updater was pinning the CPU
3. I then opened

[2022-10-12 02:01] #2712 closed

[2022-10-12 02:01] #2721 closed

[2022-10-12 02:01] #2725 closed

[2022-10-12 02:29] sombriks opened #2735 "add a way to ignore jvm from other systems imported from cloud"
currently when i use vscode on different machines i login in order to sync my configs acress all my machines.

an error always pops up due to different architecture and different paths for jvms across those computers

##### Environment

- Operating System: linux, mac, windows
- JDK version: any
- Visual Studio Code version: 1.72.1
- Java extension version: v1.12.2022101104

##### Steps To Reproduc

[2022-10-12 02:29] rgrunber commented on #1429
Duplicate of https://github.com/redhat-developer/vscode-java/issues/1249 .

[2022-10-12 02:29] #1429 closed

[2022-10-12 02:35] #547 closed

[2022-10-12 04:24] rgrunber commented on #770
This has been the case for some time now.

[2022-10-12 04:24] #770 closed

[2022-10-12 06:59] zhouyi-u opened #2736 "Error when executeCommand 'vscode.java.resolveClasspath'"
[Error when executeCommand 'vscode.java.resolveClasspath']
Content-Length: 177

{"jsonrpc":"2.0","method":"window/logMessage","params":{"type":3,"message":"2022年10月12日 下午2:45:58 \u003e\u003e workspace/executeCommand vscode.java.resolveClasspath"}}Content-Length: 2007

{"jsonrpc":"2.0","method":"window/logMessage","params":{"type":1,"message":"2022年10月12日 下午2:45:58 Problems occurred when invoking c

[2022-10-12 07:22] jdneo commented on #2736
Are you manually send this request? This command needs to input arguments, see: https://github.com/microsoft/java-debug/blob/f5ab6904f55853e4baf5c459eb38125b42338da7/com.microsoft.java.debug.plugin/src/main/java/com/microsoft/java/debug/plugin/internal/ResolveClasspathsHandler.java#L71

@testforstephen

[2022-10-12 07:37] zhouyi-u commented on #2736
OK.
{
	"jsonrpc": "2.0",
	"id": 3,
	"method": "workspace/executeCommand",
	"params": {
		"command": "vscode.java.resolveClasspath",
		"arguments": ["com.test.App", "maven_demo"]
	}
}

{"jsonrpc":"2.0","id":3,"result":[[],["/home/pc/Desktop/maven_demo/target/classes"]]}

[2022-10-12 08:20] jdneo commented on #2735
How do you sync your settings? All the path related settings are marked as `machine-overridable` which should not be synced across machines according to my understanding.

[2022-10-12 08:22] dsyer opened #2737 "Gradle: custom resource not added to classpath in tests"
I'm aware of #177 (mostly Maven and mostly generated java code), but my problem seems simpler, even if it ends up being related. There's a reproducer here: https://github.com/scratches/gradle-custom-resource. It builds fine on the command line but the test fails in VSCode because the custom resource is not on the classpath.

[2022-10-12 09:37] #2737 closed

[2022-10-12 13:38] u84six commented on #2734
I had no project. It was simply an upgrade of the extension that caused this. Disabling the extension fixed the issue. But what I did notice was that the java updater was running in the background for some reason. I don't have any auto-update enabled or anything, so I don't know why this was running. I killed the java update service and the problem persisted, so kept trying to figure out what chan

[2022-10-12 14:11] sombriks commented on #2735
Hello @jdneo , i just did login with accounts and it brought to me my shortcuts, icons, themes and plugins.

![configs-vscode](https://user-images.githubusercontent.com/556695/195366005-215f6f45-8c59-4652-8df1-265067237714.jpg)

[2022-10-12 16:42] snjeza commented on #2734
@u84six Could you try to add
[code]
to your settings.json?

[2022-10-12 19:59] jvansant commented on #2712
It took adding this to my user and workspace settings.json

[2022-10-12 23:56] snjeza commented on #2734
I can't reproduce the issue?
@u84six Could you show your Extension view?
![ext](https://user-images.githubusercontent.com/388609/195468727-c85ba4e7-b0eb-485e-b84c-54d73e07c5a4.png)

[2022-10-13 01:34] CsCherrYY commented on #2712
@jvansant The fix https://github.com/eclipse/eclipse.jdt.ls/pull/2264 is available in the newest verison `1.12.2022101204`, you can try to switch to this version to see if it works.

[2022-10-13 01:50] sombriks commented on #2735
Just opened latest vscode version here on linux and the mac jvm is gone, which is good!

Also opened the not latest version of vscode here on mac and the issue still was here...

<img width="1680" alt="Captura de Tela 2022-10-12 às 22 35 26" src="https://user-images.githubusercontent.com/556695/195478590-0ac0a9d7-fde6-4eee-816a-9e6d35869a17.png">

However i updated it, removed invalid jvms and lo

[2022-10-13 01:55] jdneo commented on #2735
Thanks for the updat.

[2022-10-13 01:55] #2735 closed

[2022-10-13 12:07] SunnyRaj84348 opened #2738 "Making any changes to eclipse formatter xml is not reflecting to actual format of java file"
##### Environment
- Operating System: Arch Linux x86_64
- JDK version: openjdk 18.0.2 2022-07-19
- Visual Studio Code version: 1.72.1
- Java extension version: v1.11.0

##### Steps To Reproduce
1. Make sure "java.format.settings.url" is pointing to correct eclipse formatter xml
2. Make any changes to the eclipse formatter xml
3. Reload/Restart vscode and format the file
4. File will get formatted

[2022-10-13 14:14] tthornton3-chwy commented on #2738
Thanks @SunnyRaj84348 , I was about to report the same.

The reason (seems to be) because the `formatter.xml `contents essentially gets put into the `org.eclipse.jdt.core.prefs` file on first rebuild. And updates to `formatter.xml` do not put the changes back into said file.
You can remove all of the `org.eclipse.jdt.core.formatter.` lines within `org.eclipse.jdt.core.prefs` and it'll work as expe

[2022-10-13 18:04] u84six commented on #2734
I'm not sure how a screenshot of my extension view is going to help, but here it is:

    On Wednesday, October 12, 2022 at 07:56:28 PM EDT, Snjeza ***@***.***> wrote:

I can't reproduce the issue?
@u84six Could you show your Extension view?

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this because you were mentioned.Message ID: ***@***.***>

[2022-10-13 18:47] snjeza commented on #2734
I suppose VS Code hasn't finished updating Java LS.

In this case, VS Code doesn't start Java LS, but will try to update it.

[2022-10-13 20:46] u84six commented on #2734
I didn't know that Java runtime was embedded in vscode extension. So that explains the fans kicking in like crazy. I'm surprised that there's no indicator of that happening. The extension itself didn't show anything about an update that seemed to go on for a long time. I mean, my fans were at full force for a couple hours until I killed the process and disabled the extension.
    On Thursday, Octo

[2022-10-13 21:07] snjeza commented on #2734
@u84six You can add
[code]
to your setting.json.
It will disable background updates.

[2022-10-14 02:23] cosmolin commented on #2730
I don't mean the plugin format my code in wrong style. My problem is: before I insert mokito statement, the whole file can be format, and after I insert mokito statement, the formatter do nothing when I format it by alt+shift+f or command palette, even though I manually change other code beside the mokito statement to ugly style. It seems like that the formater thinks it has wrong grammer in code

[2022-10-14 05:43] zhouxinghong opened #2739 "Signature help is not working correctly for parameterized type"
Type: <b>Bug</b>

For ResponseEntity<String> type using keyboard method can not see the suggestion details

Extension version: 1.11.0
VS Code version: Code 1.72.2
OS version: Windows_NT x64 10.0.19044
Modes:
Sandboxed: No

[2022-10-14 05:45] zhouxinghong opened #2740 "Unable to view suggestion details"
Type: <b>Bug</b>

For ResponseEntity<String> type using keyboard method can not see the suggestion details

Extension version: 1.11.0
VS Code version: Code 1.72.1
OS version: Windows_NT x64 10.0.19044
Modes:
Sandboxed: No

[2022-10-14 08:10] jdneo commented on #2739
Could you provide repro steps?
![image](https://user-images.githubusercontent.com/6193897/195796378-f214e799-c976-4606-9d08-d8042fcef92c.png)

[2022-10-14 08:46] zhouxinghong commented on #2739
![2022-10-14_164301](https://user-images.githubusercontent.com/54253524/195803966-8fe205e3-0731-477d-936e-bddf4aa200c3.png)

[2022-10-14 19:42] u84six commented on #2734
I think I have no choice other than disabling the Java extension. It's just taking too long. I don't know what it's doing, but it just continues to cause network activity (probably doing some type of update but I don't even know if it's working behind company firewall) which pins the CPU. It's practically melting my keyboard. I can't keep my hands on my keyboard for too long because it gets so hot

[2022-10-14 20:03] rgrunber commented on #2734
For the "OpenJDK Platform binary" processes in your task manager, is it possible to look at their properties/details or even the ["command line"](https://www.thewindowsclub.com/wp-content/uploads/2017/10/Display-Command-Line-in-Task-Manager.png) tab and tell us what arguments are being passed to this Java process ? It may give us a better idea of whether these are processes started by vscode-java

[2022-10-14 20:08] u84six commented on #2734
I will get you this info soon. For now, I need to disable it so I can get some work done. But I do know that the "OpenJDK Platform binary" process doesn't start unless I enable the extension. If I disable the Java Redhat extension, the process ends and is removed from the task manager.
    On Friday, October 14, 2022 at 04:03:22 PM EDT, Roland Grunberg ***@***.***> wrote:

For the "OpenJDK Platfor

[2022-10-14 20:29] snjeza commented on #2734
It depends on your Internet connection. It lasts less than 1 minute on my machine (4-5mb/sec).

[2022-10-14 20:53] vincenzocaselli opened #2741 "How to disable automatic update of ".project" files and ".settings" folders at project opening"
I have a folder/workspace/project (originally created with **Eclipse** and maintained with **Git**) containing a large number of sub-projects.

Now I am trying to switch to **VsCode**, but every time I open this workspace every **.project** file and every **.settings** folder are automatically updated.

Since they are under git maintenance these automatic updates are quite frustrating.
Is there so

[2022-10-15 13:58] zhouxinghong opened #2742 "Only the number of method reloads can be displayed, but not the suggestion details."
Extension version: 1.11.0
VS Code version: Code 1.72.2
OS version: Windows_NT x64 10.0.19044

![2022-10-14_164301](https://user-images.githubusercontent.com/54253524/195803966-8fe205e3-0731-477d-936e-bddf4aa200c3.png)
Only the number of method reloads can be displayed, but not the suggestion details.

[2022-10-17 01:44] jdneo commented on #2742
Duplicated with #2739

[2022-10-17 01:44] #2742 closed

[2022-10-17 01:48] jdneo commented on #2739
_Please do not file duplicated issues. You can either file new issues if you think it's a different problem (and close the old one), or just append you comments._

I still cannot get your idea, are you talking about the method document is not shown for the `signature help`? If that is the case, you can turn on `java.signatureHelp.description.enabled`

[2022-10-17 04:39] zhouxinghong commented on #2739
Only the number of method reloads can be displayed, but not the suggestion details.
只能顯示方法重載的個數，但是不能顯示方法描述文檔信息說明。。。

[2022-10-17 04:42] jdneo commented on #2739
Have you tried turn on `java.signatureHelp.description.enabled`?

[2022-10-17 04:42] zhouxinghong commented on #2739
toggleSuggestionDetails

[2022-10-17 04:45] zhouxinghong commented on #2739
"java.signatureHelp.description.enabled":true,

[2022-10-17 05:27] jdneo commented on #2739
Maybe you can provide a gif for the problem.

[2022-10-17 07:41] nickzhums commented on #2739
@zhouxinghong suggest you provide a video or an animation on how to re-produce the problem, thanks

[2022-10-17 09:37] testforstephen opened #2743 "The annotation attribute cannot be resolved when nullable annotation analysis is enabled"
_Originally posted by @ChrisVesters in https://github.com/microsoft/vscode-java-debug/issues/1230_

[2022-10-17 09:40] testforstephen commented on #2743
This should be a bug on the upstream jdt core. When disable the nullable analysis on VS Code settings, the sample project above works well.
[code]

[2022-10-17 10:01] testforstephen commented on #2743
Opened an issue on upstream https://github.com/eclipse-jdt/eclipse.jdt.core/issues/476

[2022-10-18 00:51] zhouxinghong commented on #2739
See example.
[Video_2022-10-18_082302.zip](https://github.com/redhat-developer/vscode-java/files/9805429/Video_2022-10-18_082302.zip)

[2022-10-18 00:54] zhouxinghong commented on #2739
Anyway! There are more errors that I don't want to mention, you don't seem to be using VSCode For Java internally at all and it is impractical to rely entirely on the community to help you develop the product.

[2022-10-18 02:08] jdneo commented on #2739
Ok, so we are talking about signature help. Sometimes the description part is missing even the `java.signatureHelp.description.enabled` is turned on.

To be specific, when the method has generic type:
![image](https://user-images.githubusercontent.com/6193897/196318635-ff8acc16-7eba-45e5-b5fa-58124ce3db4a.png)

Removing the generic type, it's working
![image](https://user-images.githubusercontent.

[2022-10-18 17:57] #1732 closed

[2022-10-18 17:57] #2061 closed

[2022-10-18 17:57] #1619 closed

[2022-10-19 17:29] aadolfo8 opened #2745 "Could no find or load class main"
[provide a description of the issue]

##### Environment
- Operating System: Windows
- JDK version: 19
- Visual Studio Code version: 1.72
- Java extension version: 0.25.3

##### Steps To Reproduce
1. https://github.com/aadolfo8/Spring_Bootcamp/tree/main/Tema%202.%20Spring%20Beans/Scaneo_de_Clases

[Please attach a sample project reproducing the error]
[Please attach logs](https://github.com/redhat-

[2022-10-19 19:23] snjeza commented on #2745
I can't reproduce the issue.

![deb](https://user-images.githubusercontent.com/388609/196784635-307a3688-8942-4f9f-8004-eb74a2daf100.png)

@aadolfo8 could you attach your settings.json?

[2022-10-20 07:46] aadolfo8 commented on #2745
I think this is my settings.json

{
    "workbench.colorTheme": "Monokai Dimmed",
    "files.exclude": {
        "**/.classpath": true,
        "**/.project": true,
        "**/.settings": true,
        "**/.factorypath": true
    }
}

[2022-10-20 08:58] aadolfo8 commented on #2745
@snjeza

[2022-10-20 13:14] snjeza commented on #2745
@aadolfo8 could you try to move the project out of OneDrive, for instance, to C:\Users\34638\ ?

[2022-10-20 13:19] aadolfo8 commented on #2745
OMG!! thx you bro the problem its over <3

[2022-10-20 13:26] snjeza commented on #2745
I don't know.

[2022-10-20 16:14] dudeNumber4 commented on #2669
I swear in the past I didn't see errors in "Language Support for Java," but now I do.  [This](https://github.com/redhat-developer/vscode-java/wiki/Formatter-settings) says that setting `java.format.settings.url` can point to url or a local file.  Neither of these forms work (both cause an error in language support):
* D:/temp/JavaFormat.xml
* D:\\temp\\JavaFormat.xml
How should this setting be for

[2022-10-20 16:38] snjeza commented on #2669
@dudeNumber4 could you try

[code]

 Backslashes must be escaped on Windows

[2022-10-21 06:10] CsCherrYY opened #2748 "Organize imports enhancement"
Currently "Organize imports" will do three things:

- Add missing imports
- Remove all unused imports
- Sort existing imports

And there are serveral requests about feature "Organize imports":

Organize import without sorting:
- https://github.com/redhat-developer/vscode-java/issues/1575#issue-677597353
- https://github.com/redhat-developer/vscode-java/issues/1575#issuecomment-879667855

Organize

[2022-10-21 18:08] Prikalel commented on #397
For people with the same issue: ctrl+shift+P & `Clean java language server workspace`. 😉

[2022-10-21 19:13] Nicolamunozi commented on #495
This solve my problem. In my case, I'm using Vscode for developing in Java. For previous configurations (when I was studing Python) VSCode did create a .history folder containing versions of the code. Deleting that folder I could solve the problem.

Thanks!

[2022-10-22 21:09] 3ter commented on #2561
I'm getting the following after running `Java: Clean Java Language Server Workspace` as @DotIN13 proposed:
`[Error - 11:07:30 PM] Connection to server got closed. Server will not be restarted.`

For me the code decorations (probably those https://github.com/microsoft/vscode-java-test/issues/470) for running tests vanish. I'm not sure if this is related.

[2022-10-23 08:00] Nightenom commented on #2710
@snjeza any update?

[2022-10-23 08:36] AntonioB-ThoughKnee commented on #1341
This problem may be because java process extension may be killed by another extension, my problem was seeing java extension doing its thing starting the projects normally and seconds later just stopped and getting stuck in an infinite loop trying to run.
My solution was disbaling ALL extensions except java debugger and java redhat extension, restarting vs code and then I saw the java finally worki

[2022-10-23 10:59] ViacheslavP opened #2750 "Double Package/Class declaration when generating tests"
##### Environment
- Operating System: **Ubuntu 22.04**
- JDK version: **openjdk 18.0.2-ea 2022-07-19**
- Visual Studio Code version: **1.73.0-insiders**
- Java extension version: **v1.12.2022102204**

##### Steps To Reproduce
1. Click `Go to Test`
2. Select `Generate`
3. Select all
4. Observe the duplication

Works in any environment
[logs](https://github.com/redhat-developer/vscode-java/files/984

[2022-10-23 14:02] Redex68 opened #2751 "Nested switch collapsing broken"
Type: <b>Bug</b>

If there is a nested switch inside of another switch, collapsing the code doesn't work properly when we try to collapse a case from the encapsulating switch.

E.g.
Collapsing case 1 here doesn't properly collapse the code:
[code]

It collapses up untill the first occurance of a "case" keyword, regardles of which switch the case belongs to, instead of collapsing at the first occur

[2022-10-23 20:51] snjeza commented on #2710
This is an upstream issue. I can reproduce it in Eclipse.

[2022-10-23 21:08] snjeza commented on #2710
A workaround:
Replace

[code]
with
[code]

[2022-10-24 01:34] jdneo commented on #2750
I tried to use the petclinic project to reproduce this issue, select `Go to Test` from `PetClinicApplication.java` and generate tests for it, but could not reproduce the issue.

Could you share a sample project for this bug?

[2022-10-24 01:38] jdneo commented on #2751
Yes I can reproduce it

![switch](https://user-images.githubusercontent.com/6193897/197430992-a1e0d39f-3681-45ed-9b98-0c93c391ffad.gif)

[2022-10-24 01:39] #2745 closed

[2022-10-24 01:40] jdneo commented on #2741
AFAIK, there is no switch for that so far. 😥

[2022-10-24 01:43] #1455 closed

[2022-10-24 03:43] hafizhmakmur commented on #2625
I have a similar issue. For me one way to resolve that is to change the `java` file in the "default" path into something else. Then if you "Run & Debug" again, it'll automatically change the JRE used into the intended path. But you should rename it back to the normal filename when you are reloading vscode because the extension would not work otherwise. In my case, the default is in `~/.vscode-serv

[2022-10-24 07:14] swapniltri opened #2752 "VS Code indicates an error on correct usage of Java TreeMap"
Type: <b>Bug</b>

I'm writing my code in Java, and whenever I use a Data Structure "TreeMap" of java, then Visual Studio code always indicates an error on the correct syntax of TreeMap. And the code never compiles.

Syntax I use: "TreeMap<Integer,Integer> tm=new TreeMap<>()"

Screenshot of the error:

![image](https://user-images.githubusercontent.com/65762022/197468317-a3fd429d-471f-4ed2-b7e6-799

[2022-10-24 07:28] fbricon commented on #2752
Looks like you didn't import `java.util.TreeMap`

[2022-10-24 07:45] jdneo commented on #396
See https://github.com/eclipse/eclipse.jdt.ls/pull/2197, it's partially supported now. (Code navigation & editing)

[2022-10-24 07:45] #396 closed

[2022-10-24 15:26] dudeNumber4 commented on #2669
I was mistaken; the settings file was being consumed correctly, I removed my comment.

[2022-10-24 19:19] snjeza commented on #2724
I have tested the https://github.com/snjeza/spring-boot/tree/gitpod-vscode project.
Java LS downloads the project dependencies and builds the project when starting it for the first time. It takes 5+ minutes on my computer.
Java LS has its workspace at /workspace/.vscode-remote/data/User/workspaceStorage/<workspace_hash>/redhat.java/jdt_ws.
You can look at the Java LS server log with
[code]
or
View

[2022-10-24 20:15] DrewCCannedy commented on #1765
Same issue, would love an update.

[2022-10-24 20:26] snjeza commented on #1765
@DrewCCannedy @kkilictepe @dbarvitsky @deekshithanand @xster Could you provide a project example reproducing the issue?

[2022-10-24 21:25] #2133 closed

[2022-10-24 21:28] rgrunber commented on #2133
Instead of using the AST parsing facility, @JessicaJHee  went with using the scanner's `ITerminalSymbols.TokenNameimport` to detect the import range, which we do use for other things. This should work as expected now.

[2022-10-25 08:02] kkilictepe commented on #1765
@snjeza I cant share as I am working on a commercial project.Anything else (logs etc?)  that I can provide but the project codes itself?
 My project is huge, with a lot of internal dependencies.

[2022-10-25 08:04] jdneo commented on #2643
@xxc-zsz Did you still observe the problem with the latest pre-release? There are several fixes regarding perf done recently.

You can click this button to turn on the pre-release channel
![image](https://user-images.githubusercontent.com/6193897/197718224-e987ad4a-41f9-4c97-a5e8-642dd0d4eaba.png)

[2022-10-25 09:34] ViacheslavP commented on #2750
Well, it occurs in the petclinic project too. Strangely, the bug may or may not occur in this project.

[Screencast from 10-25-2022 12:24:45 PM.webm](https://user-images.githubusercontent.com/20426184/197737171-c1d32a96-bdd3-4473-90df-6e622c216d61.webm)

[2022-10-25 09:50] pangoleaf commented on #1264
I've just come across the same issue as with the post by @Eskibear above.

I think, if possible, at a basic level all double quotes inside triple quotes blocks should be treated as automatically escaped as that's how the compiler sees it.

[2022-10-25 10:45] akosyakov commented on #2724
@snjeza it is a bit another use case, Gitpod allow to configure prebuild of projects ahead of time: https://www.gitpod.io/docs/configure/projects/prebuilds It runs a **headless** workspace without VS Code to download dependencies, index and so on. We would like to run Java LS as part of it that when a user start a new real workspace it looks like a restarted workspace in your example.

[2022-10-25 12:59] bertin0 commented on #667
This also happens to me on a java 8 gradle project. Neither cleaning the workspace nor running the eclipse gradle plugin did not fix the issue for me. Also, running with `java.import.gradle.home` set to openjdk 19 instead of 8 solves the issue> (partially, as the project is not actually buildable with jdk 19, but at least completion and error highlighting works properly)

i also noticed that error

[2022-10-25 15:34] jithurjacob commented on #2572
Trend Micro Apex One is reporting this as a high-risk application due to malicious behavior.

[2022-10-25 18:22] #2739 closed

[2022-10-25 18:56] snjeza commented on #2724
@akosyakov could you provide an example?
I have tried to add (https://github.com/snjeza/spring-boot/blob/gitpod-vscode/.gitpod.yml)
[code]

but VS Code starts before `./gradlew build -x test` is finished.

[2022-10-25 22:22] heolo1 opened #2754 "Linter was using wrong version"
Type: <b>Bug</b>

I set my Java runtimes to Java 17, 18, and 19. I set all the names and paths properly, but some reason, this extension still is using Java 11 only to lint, even after a restart. I set my JAVA_HOME variable to a Java-18 installation, but the linter still refuses to change to Java-11. The status bar in the bottom right says JavaSE11, even though the path it shows is my java18 insta

[2022-10-25 22:26] heolo1 commented on #2754
Update:
Before, whenever I tried to set the correct runtime on the Configure Java Runtime page, I could set the three versions that I specified above, but when I clicked out of the selection box, it defaulted back to only displaying the text "11". I'm not sure why this happened, as I don't even have Java 11 installed on this computer.
Now, the Configure Java Runtime page doesn't even show up, with

[2022-10-25 23:56] snjeza commented on #2754
@heolo1 What project are you using?

[2022-10-26 02:32] jdneo commented on #2750
I still cannot reproduce it on my side. But looking into the code, it might be related with the execution order of the [test file generation](https://github.com/microsoft/vscode-java-test/blob/92b74614f27cdbc3d3dbe2edfe190716f7277ac1/src/commands/generationCommands.ts#L13) and the [new file hander](https://github.com/redhat-developer/vscode-java/blob/81482a22f966580a66bdce9745116379e0ebd194/src/fi

[2022-10-26 03:29] jdneo commented on #2732
Where did you observe this message? Is this from the output channel of the Checkstyle extension?

[2022-10-26 05:09] swapniltri commented on #2752
I did import the util package, but there was some issue with the cache, it is working fine now.

[2022-10-26 08:22] #2752 closed

[2022-10-26 12:22] crab-97 opened #2755 "weird x: and s: in my code."
I am getting weird x: in my println line and s: in my print line.
They get automatically written in my code when i run my code.
My code is running fine. And i also am not able to select them or paste anywhere else.
Please help this is my first time learning java.

##### Environment
- Operating System: Windows 10 pro
- JDK version: 19.0.1
- Visual Studio Code version: 1.72.2 (user setup)

[2022-10-26 12:23] maxtarquini opened #2756 "Language support wont start"
Type: <b>Bug</b>

Java language support wonnt start. No logs available and no build status available. The icon on the navbar continue cycling but nothig happen

Extension version: 1.11.0
VS Code version: Code 1.72.2 (d045a5eda657f4d7b676dedbfa7aab8207f8a075, 2022-10-12T22:16:26.920Z)
OS version: Linux x64 5.19.16-200.fc36.x86_64
Modes:
Sandboxed: No

<details>
<summary>System Info</summary>

|Item

[2022-10-26 13:37] snjeza commented on #2756
@maxtarquini could you attach a project example reproducing the error?

[2022-10-26 14:45] fbricon opened #2758 "weird intellisense behavior"
### Discussed in https://github.com/redhat-developer/vscode-java/discussions/2749

<div type='discussions-op-text'>

<sup>Originally posted by **rafaeltuelho** October 21, 2022</sup>
I noticed a weird behavior when trying IntelliSense on a `java.util.Optional`. Look at this gif recording.
![java-vscode-optional-intellisense](https://user-images.githubusercontent.com/39063/197224002-bf274121-d36b-4

[2022-10-26 14:46] fbricon commented on #2758
This is most likely a manifestation of https://github.com/eclipse-jdt/eclipse.jdt.core/issues/495

[2022-10-26 14:56] rgrunber commented on #2758
Added https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#turn-off-lombok-support since determining this was happening in JDT-LS as well was tricky.

[2022-10-26 15:36] snjeza commented on #2738
@SunnyRaj84348 @tthornton3-chwy Could you try VS Code  **pre-release**?

[2022-10-26 19:03] maxtarquini commented on #2756
@snjeza every maven project. everything where working until 2 days ago. Anyway, this is a simple maven project u did for some students.
[esempi.zip](https://github.com/redhat-developer/vscode-java/files/9873006/esempi.zip)

[2022-10-26 20:46] maxtarquini commented on #2756
![immagine](https://user-images.githubusercontent.com/44928818/198133885-9a9ce858-d2eb-49cb-976c-2009f79ecc59.png)
Some more informations. running tasks: configure vscode prompt for input but nothing else happen. Disabling java language support by red hat the problem is fixed but vscode is not usefull anymore :(

[2022-10-26 21:30] snjeza commented on #2756
@maxtarquini Could you try the following:
- close VS Code
[code]
- start VS Code and reinstall Language Support for Java(TM) by Red Hat

[2022-10-26 21:42] maxtarquini commented on #2756
@snjeza did it and nothing change. I did many many tests:
removed vscode, .vscode and .config/Code folders and intalled an older version (1.71) for vs code. **Nothing changed**
removed  .vscode and .config/Code folder, installed java extensions pack and downgraded to older version. **Nothing changed**
vscode update to last version using older version for language pack. **Nothing changed**

May be

[2022-10-26 21:44] maxtarquini commented on #2756
@snjeza some more info. If i ask for build status i got this:

Error: there is no registered task type 'Java'. Did you miss installing an extension that provides a corresponding task provider?
Error: there is no registered task type 'Java'. Did you miss installing an extension that provides a corresponding task provider?

The problem seems to appear when language support try to build the workspace

[2022-10-26 21:45] maxtarquini commented on #2756
@snjeza i'm available for a remote session if you desire.

[2022-10-26 21:46] snjeza commented on #2756
@maxtarquini could you run
[code]

[2022-10-26 21:47] maxtarquini commented on #2756
@snjeza
╰─$ ls ~/.vscode/extensions
redhat.java-1.11.0-linux-x64                               vscjava.vscode-java-dependency-0.20.0
visualstudioexptteam.intellicode-api-usage-examples-0.2.6  vscjava.vscode-java-pack-0.25.3
visualstudioexptteam.vscodeintellicode-1.2.29              vscjava.vscode-java-test-0.37.1
vscjava.vscode-java-debug-0.45.0                           vscjava.vscode-maven-0.39.

[2022-10-26 21:56] maxtarquini commented on #2756
@snjeza if is use ctrl+shiftp+p task: rerun last task result is still the same

_Error: there is no registered task type 'Java'. Did you miss installing an extension that provides a corresponding task provider?_

When i manually use task: run build task vscode shows the messages in the picture
![immagine](https://user-images.githubusercontent.com/44928818/198146027-72533137-0bb7-46d9-92b9-474b5202

[2022-10-26 21:57] snjeza commented on #2756
@maxtarquini could you try
- close VS Code

[code]
- start VS Code

[2022-10-26 21:58] maxtarquini commented on #2756
@snjeza nothing changed :(

[2022-10-26 22:11] maxtarquini commented on #2756
@snjeza i created another user, logged in, executed vscode and created java project.
Everything works well. May be there is something that may affect vscode within user folder?

[2022-10-26 22:58] snjeza commented on #2756
@maxtarquini you can try to remove ~/.config/Code and ~/.vscode and restart VS Code

[2022-10-27 06:34] maxtarquini commented on #2756
@snjeza as you can read in the previous comment i did it  tens of times and nothing change. I'm now moving my productivity to a new user (vscode works as exepected). Will leave old user active for further investigations. My idea is to start cleaning user folder step by step until i find where the problem is.

[2022-10-27 07:03] m0wlheld commented on #2485
Sample project available at https://github.com/m0wlheld/vscode_issue_2485 . It simply has the same-named class in both - src/main/java and src/test/java . A usual approach to overwrite "main" classes for test purposes.

While I do face this issue on one machine running VSCode 1.72.2, I cannot observe it on another machine running VSCode 1.72.2, too. Instead the output of Language Support for Java

[2022-10-27 07:38] jdneo commented on #2485
The project can be opened on my side. But the `SampleClass` in the test folder won't be compiled to the target folder, thus tests failed.

While running test from command line via `mvn` works.

[2022-10-27 07:44] m0wlheld commented on #2485
Cofirm. The test SampleClass is marked invalid on opening the project, but as soon as you open it in the editor, it gets compiled. Yet, running tests in VSCode fail, while using `mvn test` does work.

![grafik](https://user-images.githubusercontent.com/23745709/198221423-8dff2bbb-20bc-44d4-9130-ef01f8eec5a5.png)

[2022-10-27 08:25] loralei28 opened #2760 "b) and c) have different recommendations"
#### To Reproduce
Steps to reproduce the behavior:

1. Open a java project in VS Code, such as: https://github.com/spring-projects/spring-petclinic
2. Follow the steps on the documentation:https://github.com/microsoft/vscode-java-pack/wiki/Test-Plan#recommedation-comes-only-from-previous-two-invocations

#### Expected behavior

a) b) and c) should have the same recommendations.

#### Actual Behavi

[2022-10-27 08:44] jdneo commented on #2760
Same as https://github.com/eclipse/eclipse.jdt.ls/issues/2286

From the screenshot, you can see the semantic highlighting of `a` in second picture becomes white, means the recovered AST could not provide needed information of `a`, so postfix templates become unavailable.

[2022-10-27 08:47] jdneo commented on #2760
Even worse in Eclipse 😢

![postfix](https://user-images.githubusercontent.com/6193897/198237938-f70134e5-ffe5-459a-980c-ef3359deb9ec.gif)

[2022-10-27 10:06] maxtarquini commented on #2756
Hello @snjeza as a good noews i found the reason why the extension was blocked. It depends by a environment file. I need to understand which env variable is creating the problem but seems that i definitively fixed.
I can consider this issue closed.

[2022-10-27 10:06] #2756 closed

[2022-10-27 11:50] maxandersen opened #2761 "honor JAVA_HOME"
could vscode-java honor JAVA_HOME (ignoring what is in path) when starting ?

usecase is that when installing vscode-java jbang can provide a jdk setup but vscode-java seems to ignore it.

[2022-10-27 11:57] ewot commented on #2104
This is now implemented in the Netbeans language server plugin: https://marketplace.visualstudio.com/items?itemName=ASF.apache-netbeans-java

That plugins has other issues however, so I hope we will get this soon.

[2022-10-27 13:34] tarockx commented on #937
Can confirm I have the same issue: in angular html files VS Code often deletes the character that is directly after the autocompleted text (usually it's the double quote that closes an attribute value, since that's where you usually autocomplete). Quite annoying

[2022-10-27 13:41] rgrunber commented on #2760
There are many upstream issues of this kind. The majority are about the fact that statement recovery sometimes operates in a way that breaks postfix completion.

https://bugs.eclipse.org/bugs/show_bug.cgi?id=563863
https://bugs.eclipse.org/bugs/show_bug.cgi?id=564445
https://bugs.eclipse.org/bugs/show_bug.cgi?id=558435

[2022-10-27 14:39] rgrunber commented on #2711
I'm able to reproduce as well. In fact, this is basically the same as https://bugs.eclipse.org/bugs/show_bug.cgi?id=36365 (which was fixed long ago), but if one applies the refactoring from the bottom-up it's still reproducible.

[2022-10-27 14:46] snjeza commented on #1765
@d3milord
If you set `java.autobuild.enabled=true` , Java LS will build your workspace only when you save a file.
Could you show your settings.json?

[2022-10-27 15:34] jcolladosp opened #2763 "Configuring java project stuck in 69%"
This happens when I open a new cloned Java project
It gets stuck in Opening java Project...

##### Environment
- Operating System: Ubuntu 20.04
- JDK version: 17
- Visual Studio Code version:
- Java extension version: 1.12

##### Steps To Reproduce
1. Open a Java project

Complete log en verbose mode: https://pastebin.com/JqA4iTWs

##### Current Result

![image](https://user-images.githubuserconte

[2022-10-27 15:59] snjeza commented on #2763
@jcolladosp Could you show Java Stack trace?

[code]

[2022-10-27 21:13] heolo1 commented on #2754
Sorry for the late reply. I am not using a project manager or anything of the sort. I am just using a folder with a couple of Java files in it.

[2022-10-27 23:58] snjeza commented on #2754
@heolo1 Could you show your settings.json?

[2022-10-28 04:36] CsCherrYY opened #2764 "source level preferences are ignored when the project compliance is different from configured JDK"
[provide a description of the issue]
source level preferences are ignored when the project compliance is different from configured JDK, even if the configured JDK is compatibile with the project compliance.
##### Environment
- Operating System: Windows 11
- JDK version: 17
- Visual Studio Code version:
- Java extension version: 1.12.0

##### Steps To Reproduce
1. set JDK 17 to default `java.config

[2022-10-28 06:50] CsCherrYY opened #2765 "TypeError: Cannot read properties of null (reading '0')"
when opening spring-petclinic project with lombok dependency in the classpath, we can get this error in the console output:
[code]

looks like the null check is needed in function `lombokPath2Version()`.

[2022-10-28 07:02] #2764 closed

[2022-10-28 07:30] jcolladosp commented on #2763
@snjeza
I think the problem is when I have 2 java projects open

[code]
[code]

[2022-10-28 07:43] CsCherrYY commented on #2764
AFAIK we now put the following options into project settings.
[code]

So this bug will affects those projects has different source level between that defined in build script (usually defined in build.gradle via `sourceCompatibility` or pom.xml via `configuration.source`) and `java.configuration.runtimes`.

e.g., the project specifies sourceCompatibility = 11 but the default `java.configuration.run

[2022-10-28 08:13] d3milord commented on #1765
`
{
    "java.jdt.ls.vmargs": "-XX:+UseParallelGC -XX:GCTimeRatio=4 -XX:AdaptiveSizePolicyWeight=90 -Dsun.zip.disableMemoryMapping=true -Xmx1G -Xms100m -javaagent:\"c:\\Users\\davidepecorari\\.vscode\\extensions\\gabrielbb.vscode-lombok-1.0.1\\server\\lombok.jar\"",
    "files.exclude": {
        "**/.classpath": true,
        "**/.project": true,
        "**/.settings": true,
        "**/.factory

[2022-10-28 08:15] d3milord commented on #1765
[code]

[2022-10-28 09:52] Help3rL opened #2766 "Java .devenviorement xhtml bug while trying to edit project"
Java ignores all xhtml file updates.

##### Environment
- Operating System: mcr.microsoft.com/devcontainers/java:8-buster
- JDK version: Java 8 202-346
- Visual Studio Code version: 1.72.2
- Java extension version: 0.25.3

##### Steps To Reproduce
1. Open code in docker container with [Dev contianers](https://marketplace.visualstudio.com/items?itemName=ms-vscode-remote.remote-containers)
2. Run de

[2022-10-28 13:17] tthornton3-chwy commented on #2738
@snjeza I believe that did it, thank you!! @SunnyRaj84348 resolved on your end too? It's worth mentioning to start fresh, I cleaned out all of the `org.eclipse.jdt.core.formatter.` lines myself from the within `org.eclipse.jdt.core.pref`, cleaned the workspace, and from then on out whatever was in my `formatter.xml` was what got used. I don't know if those lines would've cleared themselves out, no

[2022-10-28 13:43] rgrunber commented on #2764
Good catch here. I think the only long term solution is some kind of helper method we can start to use instead of manually calling `getOptions(true)`, putting the new project-specific options in that map, and then setting the project options. I'm just thinking that this kind of bug is likely to be introduced in the future because the behaviour here is not obvious.

[2022-10-28 13:46] anazar2001 opened #2767 "Resource bundle is not found with Java extension > 1.9.0"
All works fine with 1.9.0 on the same projects.
<img width="1728" alt="Screenshot 2022-10-28 at 14 37 34" src="https://user-images.githubusercontent.com/13858727/198619996-60fc128c-e54c-44a3-a588-8f9a0ac5f42a.png">

Please find screenshot attached.

[provide a description of the issue]

##### Environment
- Operating System: MacOS 12.0.1
- JDK version: OpenJDK 64-Bit Server VM (Zulu 8.60.0.21-CA-ma

[2022-10-28 22:46] m1ckr1sk commented on #1886
Same issue as @retbleed.  Error is "Unsupported operation: Please use pom.xml to manage the source directories of maven projects."

[2022-10-30 01:44] snjeza commented on #2763
@jcolladosp Could you try https://github.com/snjeza/vscode-test/raw/master/java-1.12.1.vsix

[2022-10-31 05:42] CsCherrYY commented on #2616
we can reproduce this via: https://github.com/spring-guides/gs-testing-web

[2022-10-31 09:54] anazar2001 commented on #2767
Could someone take a look please. There is clearly some regression here.

[2022-11-01 01:07] ArithAuth commented on #2711
Thank you.
That the fact is interesting. If new Exception() is inside a scope, using Quick Fix above the existing try-catch does not make this behavior.
Well, should I post this to eclipse bug report?

[2022-11-01 01:44] mozhuanzuojing opened #2770 "`Compiler level` and `gradle` project settings are inconsistent"
I'm using a gradle project, and the gradle compiled source code level is JDK19,
[code]
but the actual compilation level is JDK1.8.
After my check, I found that JDK1.8 is derived from ` "java.settings.url": "file:///C:/Users/Administrator/AppData/Roaming/Code/User/org.eclipse.jdt.core.prefs",`
![image](https://user-images.githubusercontent.com/63572041/199139922-026f718e-a326-4136-8f9e-278254892844

[2022-11-01 01:47] CsCherrYY commented on #2770
looks like a bug related to https://github.com/redhat-developer/vscode-java/issues/2764, and this issue has been fixed in the pre-release version. Would you mind switching to pre-release verison (v1.13.2022102804 for now), and clean workspace?

[2022-11-01 03:24] dvargas135 opened #2771 ""Cannot be resolved" after adding maven dependency in module_info.java"
After a couple attempts to declare the dependency in the module_info.java it just throws the error "cannot be resolved to a module". I added the dependency using the tool "Maven: Add a dependency...", my pom.xml got updated but when I declared it on the module_info.java it didn't seem to do anything.

If I delete the module_info.java file, the import works just fine.

##### Environment
- Operating

[2022-11-01 06:40] plause opened #2772 "Recommendation actions not working"
`vscode-java` will recommend the Dependency Analytics plugin when pom.xml file is opened. There are three actions users can choose:

* **Install**, ok, install it;
* **Never**, no, thanks and don't bother me again;
* **Later**, busy coding, next time.

##### Environment
- Operating System: Linux
- JDK version: 17
- Visual Studio Code version: 1.72.2
- Java extension version: v1.12.0

##### Steps T

[2022-11-01 08:19] jdneo commented on #2770
Could you try the suggestion that @CsCherrYY provided and let us know if this fixes your problem?

[2022-11-01 08:22] jdneo commented on #2766
Sorry maybe a stupid question, are we talking about JSP related things here?

[2022-11-01 12:05] mozhuanzuojing commented on #2770
sorry, replay late. i test it . it's ok. everything is normal now !

[2022-11-01 12:06] mozhuanzuojing commented on #2770
Used the preview version and now it works. thanks!

[2022-11-01 12:08] mozhuanzuojing commented on #2770
![image](https://user-images.githubusercontent.com/63572041/199229091-6f679cde-ea67-4bdb-9428-814fea80d840.png)

[2022-11-01 12:14] mozhuanzuojing commented on #2770
![image](https://user-images.githubusercontent.com/63572041/199230158-af401a7a-1525-41ba-890a-85cc9a98d5e4.png)

[2022-11-01 21:34] #2763 closed

[2022-11-02 01:46] #2528 closed

[2022-11-02 01:48] testforstephen opened #2774 "The quickfix "Create class 'X'" generates duplicated code snippets"
Reproduce steps:
1. Hover on an unresolved type, and click quickfix "Create class 'X'".
![image](https://user-images.githubusercontent.com/14052197/199374927-0ede353e-97a5-4877-a9b1-cd01d1b078ae.png)

2. It generates duplicated code snippets.
![image](https://user-images.githubusercontent.com/14052197/199375033-528e665d-4e6b-4e10-8d10-19ee827723c0.png)

[2022-11-02 08:29] CsCherrYY opened #2776 "Support interactive formatter settings wizard"
Currently we use `Java: Open Java Formatter Settings` to open the formatter settings profile (xml file), once the profile exists, the command will open that file in xml scheme, and it's not such friendly for users to change the configurations, since they don't know the exact meaning of each setting id.

`vscode-java-pack` extension now supports `Java: Open Java Formatter Settings with Preview`, wh

[2022-11-02 14:14] timvahlbrock commented on #177
Problem also occurs when using javaCC, even when m2e execution hint is added to pom.xml.

[code]

[2022-11-02 14:48] rgrunber commented on #2776
I think moving these into vscode-java would be a step in the right direction as we could also use a similar approach for the Java compiler options https://github.com/eclipse/eclipse.jdt.ls/wiki/Language-Server-Settings-&-Capabilities#java-compiler-options .

[2022-11-03 00:58] jdneo commented on #2771
Close but feel free to leave comments if you have more questions.

[2022-11-03 00:58] #2771 closed

[2022-11-03 03:05] davidivkovic commented on #177
Still completely broken

[2022-11-03 05:24] Help3rL commented on #2766
Sorry for late reply,
@jdneo yeah thats corect, and keeps ignoring xhtml changes untill java recompile, on most pc's but one.

[2022-11-03 05:35] ArithAuth commented on #2711
I will wait for it to be fixed. I appreciate it.

[2022-11-03 06:01] jdneo commented on #2766
JSP is not supported now, let's track this request by https://github.com/redhat-developer/vscode-java/issues/138

[2022-11-03 06:01] #2766 closed

[2022-11-03 07:52] schophil opened #2778 "Unable to configure classpath/java runtime"
Since upgrading VSCode the "Configure Java Runtime" and "Configure Classpath" windows are empty.

<img width="1731" alt="Screenshot 2022-11-03 at 08 51 02" src="https://user-images.githubusercontent.com/11485058/199670154-698dde16-5a8e-4e3f-bccf-09b6eef3b6bd.png">

##### Environment
- Operating System: MacOS (Darwin x64 21.6.0)
- JDK version: 17.0.5 (Eclipse Adoptium)
- Visual Studio Code version:

[2022-11-03 08:07] schophil commented on #2778
Found the following errors in the console:

ccess to script at 'vscode-resource:/Users/XXXXX/.vscode/extensions/vscjava.vscode-java-pack-0.25.4/out/assets/java-runtime/index.js' from origin 'vscode-webview://0gk03bfobvbvmvhfgrnsogul6f42sbago1moo74ormb2u3kul8k3' has been blocked by CORS policy: Cross origin requests are only supported for protocol schemes: http, https, vscode-webview, chrome-untrus

[2022-11-03 09:50] sify21 commented on #1615
here's the kotlin script version of the workaroud:
[code]

[2022-11-03 11:22] MarcSerret51 commented on #2778
I'm getting the same error on console.

[2022-11-03 13:31] lucidfrontier45 opened #2779 "On Nonnull Annotation Setting"
I found annotation based nonnull analysis was added from version 1.11.0.  The README says there are two configurations `java.compile.nullAnalysis.nonnull` and `java.compile.nullAnalysis.nullable` in `.vscode/settings.json` .

When I read https://github.com/redhat-developer/vscode-java/issues/1693 I also found we can set `org.eclipse.jdt.core.compiler.annotation.nonnull` and etc in the setting file

[2022-11-03 14:16] rgrunber commented on #2778
I think this is an issue in https://github.com/microsoft/vscode-java-pack/ . Specifically https://github.com/microsoft/vscode-java-pack/blob/main/src/java-runtime/index.ts#L164 .

https://github.com/microsoft/vscode/issues/102959#issuecomment-663340395

CC @Eskibear as I see he has dealt a lot with vscode-java-pack.

[2022-11-03 14:27] rgrunber commented on #2779
I think this would clash. The situation probably gets even more complicated because we introduced a new setting for the upcoming 1.13.0 release, `java.compile.analysis.mode` to make it easier for users to define how null analysis should activate.

_`java.compile.nullAnalysis.mode`: Specify how to enable the annotation-based null analysis. Supported values are `disabled` (disable the null analysis)

[2022-11-03 14:28] Eskibear commented on #2778
The issue occurs on VS Code 1.73, and it works well on 1.72.2 and previous versions.

In fact, all webviews implemented in vscode-java-pack are broken. Investigating now. Tracked in https://github.com/microsoft/vscode-java-pack/issues/1102

[2022-11-03 16:02] Eskibear commented on #2778
The fix has been shipped with vscode-java-pack v0.25.6.

Root cause is, in vscode1.73, corresponding Uri changes from `vscode-resource:/path-to-script` to something like `https://file+.vscode-resource.vscode-cdn.net/path-to-script`. And we were constructing the Uris by our own based on wrong assumption, as commented in https://github.com/redhat-developer/vscode-java/issues/2778#issuecomment-130218

[2022-11-03 16:14] rgrunber commented on #2778
Closing for now as this should be fixed when vscode-java-pack is updated by users. Feel free to re-open if the problem still exists after trying to update to v0.25.6.

[2022-11-03 16:14] #2778 closed

[2022-11-04 01:45] CsCherrYY commented on #2779
The recommended way from my side is to use VS Code settings `java.compile.nullAnalysis.nonnull`, `java.compile.nullAnalysis.nullable` and incoming `java.compile.nullAnalysis.mode`.

If you're using a pre-release, null analysis related VS Code settings will **override** what you have set in `java.settings.url`. @lucidfrontier45 Does it work in your case?

@rgrunber the currently mechanism is design

[2022-11-04 02:22] lucidfrontier45 commented on #2779
@rgrunber  @CsCherrYY Thank you for the reply.

I currently leave `java.compile.nullAnalysis.nonnull` and `java.compile.nullAnalysis.nullable` to the default and append settings to the file of `java.settings.url` as follows

[code]

As you recommend to only use VSCode settings, what should I do if I also want to set `org.eclipse.jdt.core.compiler.annotation.nonnullbydefault` ?

[2022-11-04 03:20] CsCherrYY commented on #2779
@lucidfrontier45 thanks for the swift reply. Currently, we don't cover `org.eclipse.jdt.core.compiler.annotation.nonnullbydefault` since it's not such popular comparing to `nonnull` and `nullable`(and it's a little difficult to provide a default nonnullbydefault type list). So what you specify in `java.settings.url` will be still effective.

we will override the following settings according to VS

[2022-11-04 07:44] lucidfrontier45 commented on #2779
@CsCherrYY I understand.

Let me confirm it. If I want to use `org.eclipse.jdt.annotation.NonNullByDefault` I have to keep using the following settings

[code]
and also set

- `java.compile.nullAnalysis.nonnull` to `org.eclipse.jdt.annotation.Nonnull`
- `java.compile.nullAnalysis.nullable` to `org.eclipse.jdt.annotation.Nullable`
- `java.compile.nullAnalysis.mode` to `automatic` (after 1.13.0).

A

[2022-11-04 08:17] CsCherrYY commented on #2779
@lucidfrontier45 basically it's right. Besides, you can just put
[code]
it's enough for `java.settings.url`. the extension will automatically set other configurations for you according to VS Code settings `java.compile.nullAnalysis.*`.

As for the `NonNullByDefault`, thanks a lot for your information, we will investigate and find a way to properly support the null analysis completely.

[2022-11-04 13:03] a-st commented on #495
@snjeza I manage to provide a sample project (like @n614cd) which showcases the issue. Please have a look at https://github.com/a-st/vscode-java-issue-495

After opening the project, vscode shows following problems
![image](https://user-images.githubusercontent.com/63122/199979030-3d530e55-3d30-460a-8be7-ade11bb08f05.png)

[2022-11-04 17:30] KarimGhallab opened #2781 "Inconsistant results when performing a textDocument/references request with multiple anonymous classes"
##### Environment
- Operating System: Windows 10 x64
- JDK version: 17.0.3
- Visual Studio Code version: 1.73
- Java extension version: 1.12

##### Description
Hello, I have noticed that since the last version of the extension (v 1.12), finding the references of a symbol now includes the declaration of the symbol. This new feature was asked in this [issue](https://github.com/eclipse/eclipse.jdt.ls

[2022-11-04 22:28] snjeza commented on #495
@a-st This is an upstream buildship issue - https://github.com/eclipse/buildship/issues/1131
You can try the following patch:
[code]

[2022-11-05 19:35] Marian-Tataru commented on #1072
Since the file settings.json is read-only puroposes  , to remove the package java.awt.* from the java.completion.filteredTypes  you have to do the following : 1) press ctrl + shift + P   2) write : open user settings  3)  ctrl +f and search for java.completion.filteredTypes  . Then you can edit  json and exclude java.awt.* .

[2022-11-05 23:37] ENate commented on #2727
Maybe this setting in your vscode might help:

[code]

[2022-11-06 07:51] samadibrahim opened #2783 "Java Language Server requires a JDK 17+ to launch itself."
Type: <b>Bug</b>

I keep getting error "Java 17 or more recent is required to run the Java extension. Please download and install a recent JDK. You can still compile your projects with older JDKs by configuring ['java.configuration.runtimes'](https://github.com/redhat-developer/vscode-java/wiki/JDK-Requirements#java.configuration.runtimes)"

even though i have installed the JDK 17 & configured "ja

[2022-11-06 16:29] Frank-D opened #2784 "Depending on a gradle testFixtures module generates java build problems"
Hi, I have a multi-modules gradle/java project in which I'm trying to centralize some test fixtures (aka helper classes) in some kind of library module, so that those java test fixtures classes can then be shared in multiple dependant modules (I'm referring precisely to this [gradle test fixtures feature](https://docs.gradle.org/current/userguide/java_testing.html#sec:java_test_fixtures)).

The pr

[2022-11-07 03:10] v-yuyul opened #2785 "Language server shows an error after project imported but no errors in problems window"
##### Environment
- Operating System: Windows
- JDK version: 11
- Visual Studio Code version: 1.72.2
- Java extension version: 1.10.0

##### Steps To Reproduce
1. git clone  https://github.com/gephi/gephi.git
2. Open the project via VSCode > After the project is imported completed, language server shows errors but there is no error in problems window
3. Reload window > language server shows succes

[2022-11-07 05:26] jdneo commented on #2783
What if you remove the setting `java.jdt.ls.java.home`? The extension has an embedded jdk for Windows x64 platform.

[2022-11-07 05:27] jdneo commented on #2785
Could you share the server log when you see the error status?

[2022-11-07 08:58] jdneo commented on #2785
[code]

[2022-11-07 14:26] #2783 closed

[2022-11-07 16:07] JLP04 opened #2786 "Support making the output folder being the same as the source folder for unmanaged folder projects"
According to the documentation, the setting `java.project.outputPath` should be "A relative path to the **workspace** where stores the compiled output. Only effective in the WORKSPACE scope. The setting will NOT affect Maven or Gradle project.", but when I set it, it is instead giving me a path relative to the workspaceStorage folder for the project.

##### Environment
- Operating System: macOS Ve

[2022-11-07 16:15] lucianthorr opened #2787 "Not unboxing generic methods from dependencies"
I believe the Intellisense is not properly unboxing generic methods when the is defined in a dependency (.class file).

##### Environment
- Operating System: MacOS
- JDK version: Oracle version 19
- Visual Studio Code version: 1.73.0
- Java extension version: v0.25.2022110400

##### More Information

I am not a very experienced Java developer and I've inherited a fairly large project so please for

[2022-11-07 17:29] snjeza commented on #2784
It is an upstream buildship issue. I can reproduce it in Eclipse. See https://github.com/eclipse/buildship/issues/991

@Frank-D You can try the following patch:

[code]

[2022-11-08 02:03] mujiannan commented on #1263
It hasn't been fixed yet.
**Idea** is better for enterprise project.

[2022-11-08 10:15] ViacheslavP commented on #2750
Ok, I have investigated it. Turns out I have an installation of Metals plugin and the issue is caused by interference between plugins. I do close this. Thanks for all and sorry for opening it in a first place.

[2022-11-08 10:15] #2750 closed

[2022-11-08 10:29] parthasaradhie commented on #1954
Im also facing the same issue. If the java file is small Intellisense/autocomplete  is working good but if it is more than 500-800 lines then its taking a lot of time.

[2022-11-08 16:48] edurbs commented on #761
+1

[2022-11-08 19:40] RobMaskell commented on #2294
Yup same issue, organise imports removes static imports from files and won;t add them back again

[2022-11-09 12:47] JLP04 commented on #2786
Just using `Test` works for me. But what I was trying to do with `../Test` was have it output the .class files in the project directory instead of a folder inside of that called `Test`.

[2022-11-09 17:29] anazar2001 commented on #2767
Unfortunately this project is within Mastercard. Tried a small one with few classes but can't reproduce the issue((

[2022-11-09 18:47] snjeza commented on #1039
Test project - https://github.com/snjeza/autovalued-gradle

@fbricon in chat:

updates to the classpath (eg. bumping the AP version) don’t trigger an update to .factorypath
manually triggering the eclipse task, the new version is added to .factorypath, but the old one is not removed

[2022-11-09 20:01] #2144 closed

[2022-11-09 20:04] rgrunber commented on #2144
This can now be accomplished by setting :

[code]

Default is currently `[]` as it's difficult to have something everyone would agree with. Going forward, we should add more of these cleanups though.

[2022-11-09 21:37] snjeza commented on #1039
@fbricon I have fixed the issue. See https://github.com/snjeza/autovalued-gradle/commit/f09e3d5221533f4d38acadfa16c38d54bb17476e
[code]

[2022-11-09 21:40] Hamzy-Ab commented on #785
Worked like magic. Thanks man.

[2022-11-10 01:20] jdneo commented on #2786
Could you share a screenshot about how your project folder structure looks like in VS Code?

[2022-11-10 09:56] fbricon commented on #1039
Nope?

https://user-images.githubusercontent.com/148698/201059810-1e7e849a-392d-403f-9265-0c575bb550c8.mp4

[2022-11-10 11:34] JLP04 commented on #2786
My project folder structure is the same as the test project I attached to this issue. It's all the .java files in the top folder of the project. But, if I try to set `java.project.outputPath` to something like `./`, it doesn't work. The language server doesn't initialize properly and then it starts getting really confused.

[2022-11-10 15:38] yorkish commented on #2545
What changed between 1.7.0 and 1.8.0 that caused this regression ?

[2022-11-10 17:58] snjeza commented on #1039
@fbricon you have faced https://github.com/redhat-developer/vscode-java/issues/2528
Could you try to set
[code]
or test VS Code master.

![anon](https://user-images.githubusercontent.com/388609/201171364-1badb623-b7f9-4a7c-8797-03edb116d1d3.gif)

[2022-11-10 18:16] NatoBoram commented on #2144
Generally, these actions are there:

[code]

[2022-11-10 18:25] datho7561 commented on #2144
I looked into implementing it this way, but this setting and functionality is exclusive to VS Code, and the core of the plugin (the language server) is used in many different editors besides VS Code, such as neovim. We wanted to be able to provide the different clean up actions in a way that all these editors can use. Thanks for mentioning this, though!

[2022-11-10 18:48] stefanrybacki opened #2791 "Inline variable gone from suggestions"
It seems the option to inline a variable is gone from the available suggestions. It used to be available I am sure but cannot find it anymore when displaying suggestions.

##### Environment
- Operating System: Linux
- JDK version: 11
- Visual Studio Code version: 1.73.0
- Java extension version: 1,12,0

##### Steps To Reproduce
1. In a java function write:
[code]
2. go to `x` in the second line an

[2022-11-11 02:01] jdneo commented on #2786
That's another limitation that the output path cannot be the same as the source folder. You can set it to sth like `bin`.

[2022-11-11 02:09] jdneo commented on #2791
Could you share a sample project? It seems working on my side.

![image](https://user-images.githubusercontent.com/6193897/201246911-61a056dc-6edc-42c1-9800-845f3b6e9492.png)

[2022-11-11 02:51] jdneo commented on #1039
Just FYI, I'm working on the Gradle AP support as well.

Instead of requiring users declare `com.diffplug.eclipse.apt` plugin. I'm trying to get the compilation args from Gradle and use `AptConfig` to setup the AP - which is a more native and out-of-box way.

`com.diffplug.eclipse.apt` plugin will always generate those metadata files at project root (it hard codes those files' path)

[2022-11-11 03:42] Sgopi4129 opened #2792 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `java`
- Extension Version: `1.13.2022110504`
- OS Version: `Windows_NT x64 10.0.22621`
- VS Code version: `1.69.1`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2022-11-11 07:41] jdneo opened #2794 "reload Gradle project does not pick the right dependency version"
[provide a description of the issue]

##### Environment
Version: 1.73.1 (user setup)
Commit: 6261075646f055b99068d3688932416f2346dd3b
Date: 2022-11-09T04:27:29.066Z
Electron: 19.0.17
Chromium: 102.0.5005.167
Node.js: 16.14.2
V8: 10.2.154.15-electron.0
OS: Windows_NT x64 10.0.19045
Sandboxed: No

##### Steps To Reproduce

https://user-images.githubusercontent.com/6193897/201290683-d4d6cb49-2c66-486

[2022-11-11 07:43] jdneo commented on #2794
False alarm. I should update the version with `implementation` scope

[2022-11-11 07:43] #2794 closed

[2022-11-11 09:43] stefanrybacki commented on #2791
@jdneo that is interessting, this is what I get
![image](https://user-images.githubusercontent.com/29799350/201312756-84386fa7-7968-4a38-9afe-f407601b96c7.png)

Could it be some kind of setting then?

[2022-11-12 00:12] #2792 closed

[2022-11-12 01:06] #2420 closed

[2022-11-12 01:11] RLashofRegas commented on #797
Another example of this issue is the flink training repo: https://github.com/apache/flink-training/
After cloning the repo all of the `gradlew` commands work as do the build and test tasks within the Gradle for Java extension. However, if I either try to run tests through test explorer or try to build from the "Java Projects" pane I get errors importing `org.apache.flink.training.exercises.testing

[2022-11-12 02:02] snjeza commented on #797
@RLashofRegas You can try the following patch:

[code]

[2022-11-12 03:00] jdneo commented on #2791
Yes, it's really strange. I don't think there is any setting that will affect this.

How is your code looks like? What if you declare the type explicitly instead of using `var`?

[2022-11-12 06:40] zs19940317 commented on #2561
the same error as above, is there a solution?

[2022-11-12 07:43] stefanrybacki commented on #2791
Code looks like the example given:
![image](https://user-images.githubusercontent.com/29799350/201463324-ddb17233-da59-4751-baa7-a170e3e3e772.png)

I just tested with `int` instead of `var`, same suggestions. No inline local variable suggestion though. Really weird.

[2022-11-13 09:11] kouritron commented on #667
its happening to me as well. I am trying to run the flink hello world here: https://flink.apache.org/q/quickstart.sh

vscode + recommended java extension pack, can not open this project and do anything more than notepad w/ it.
- [x] Tried installing openjdk-17. play w/ versions. nothing.
- [x] Clear language workspace directory. nope.
- [x] Try 10 diff versions of redhat.java. still nope.

After s

[2022-11-13 18:11] snjeza commented on #667
@kouritron You can try to remove
[code]
from pom.xml

[2022-11-14 02:30] CsCherrYY commented on #2791
can you find other inline suggestions here? e.g., hover on `test`, can you find `Inline Method` suggestion?
![image](https://user-images.githubusercontent.com/45906942/201562813-8bdff417-8011-4882-b45c-ba6cb9ae7e28.png)

[2022-11-14 09:00] martinlippert opened #2797 "java compiler level not set correctly after opening new project"
I am observation a problem with setting the correct Java compilation level when opening a project for the first time.

Here are the details:
I clone the repo and open VSCode from this folder:
https://github.com/vmware-tanzu/application-accelerator-samples/tree/main/tanzu-java-web-app

The corresponding project get s imported correctly. The project explorer shows a JavaSE-11 JRE for the project, wh

[2022-11-14 09:09] fbricon commented on #2797
Can you reproduce the issue in Eclipse?

[2022-11-14 09:10] CsCherrYY commented on #2797
There was a bug about forgetting the compiler level in https://github.com/redhat-developer/vscode-java/issues/2764, and it has been fixed in the newest pre-release version.

@martinlippert could you try if it works in the pre-release version? Just switch to the pre-release version and clean workspace then.

[2022-11-14 10:18] kaneyon opened #2798 ".xml formatter file is ignored"
.xml formatter file is ignored when formatting files through vscode. (meybe default value used)
The project folder is opened in docker container.
eclipse-java-google-style.xml is created as bellow.
1. copy and paset from https://raw.githubusercontent.com/google/styleguide/gh-pages/eclipse-java-google-style.xml
2. change comment.line_length and lineSplit

##### Environment
- Operating System: Windo

[2022-11-14 11:18] stefanrybacki commented on #2791
@CsCherrYY thanks for the suggestion,

in fact I can see inline suggestions for constants
![image](https://user-images.githubusercontent.com/29799350/201646963-163d3803-8c73-461c-bd3a-c4b098e1ba54.png)

as well as methods:
![image](https://user-images.githubusercontent.com/29799350/201647048-cdc37227-7449-4791-8020-840637fa2477.png)

[2022-11-14 11:50] martinlippert commented on #2797
@CsCherrYY I tried the pre-release and it seems to fix this issue indeed. Awesome! Many many thanks for the quick feedback on this!!! So closing this as a duplicate of https://github.com/redhat-developer/vscode-java/issues/2764

[2022-11-14 11:50] #2797 closed

[2022-11-14 12:38] magicsong opened #2799 "java build failed :The import javax.annotation.processing.Generated cannot be resolved"
[provide a description of the issue]
my project(target version JDK8) using querydsl which use code-generation, it is OK using jdk8 to build and run. however vscode-java using higher jdk to build project(which will also regenerate the code), the generate code has wrong import "javax.annotation.proccessing.Generated" instead of "javax.annotation.Generated"(right one). As a result, java test cannot r

[2022-11-14 15:57] RLashofRegas commented on #797
@snjeza Thanks for the quick response. That worked, thanks!

[2022-11-14 19:46] EvanGertis commented on #2379
This is still a problem for me.

[2022-11-14 21:24] snjeza commented on #2799
@magicsong you can try to add
[code]
to apt-maven-plugin. For example,
[code]

See http://querydsl.com/static/querydsl/latest/reference/html/ch03s03.html

[2022-11-14 22:30] ryanrhee commented on #634
still happening.

[2022-11-15 02:35] magicsong commented on #2799
@snjeza yeah, it works! thanks !

[2022-11-15 02:35] #2799 closed

[2022-11-15 08:58] jochenr opened #2800 "Corporate Proxy Authentication for Java / Maven Projects"
We have issues with Java/Maven based projects in VS Code due to proxy authentication in our company (using "negotiate" with fallback to BASIC).

Although we configured

[code]
in out (user) settings.json

Additionally I put our certificates to cacerts file.
Also we have the proxy configured in our Maven settings.xml (the projects build perfectly fine on commandline with maven)

The "OUTPUT" for "L

[2022-11-15 16:51] gustavosimon commented on #1232
I'm facing the same issue with some projects. My pom.xml get a lot of "Missing artifact ...", but building the project with "mvn clean install" it works as expected.

[2022-11-15 16:52] snjeza commented on #2800
@jochenr could you try to set
[code]
Added `-Djdk.http.auth.tunneling.disabledSchemes=`

[2022-11-15 23:29] EarthCitizen opened #2801 ""bin" Directories Created in Every Gradle Module Folder"
This extension creates a bunch of unwanted "bin" directories in all of the Gradle submodule directories.

##### Environment
- Operating System: macOS
- JDK version: 11
- Visual Studio Code version: 1.72.2
- Java extension version: v0.21.1

##### Steps To Reproduce
1. Open Gradle project with multiple modules
2. Observe creation of unwanted "bin" directories

##### Current Result

Creates a bunch o

[2022-11-16 00:25] jdneo commented on #2801
See https://github.com/eclipse/buildship/issues/1131

[2022-11-16 00:52] EarthCitizen commented on #2801
Looks like that leads back to this:

https://github.com/redhat-developer/vscode-java/issues/1615

I guess the wait then is for this project to add a configuration option to change the directory? The workaround there means that I would have to use the eclipse plugin in Gradle despite not needing it?

[2022-11-16 03:06] jdneo commented on #2801
The main problem is that the compiled output from JDT might be different from the build tools like Maven/Gradle.

Whether adding an option to change the output location would solve the problem is not clear to me.

As for now, you can setup the eclipse plugin in your build.gradle as a workaround

[2022-11-16 07:59] jochenr commented on #2800
Hello @snjeza ,

thank you very much for the hint/idea.
It helped "a little bit".
An error now happens later during importing/opening the project:

[code]

Now it seems to be a problem with Maven, although the proxy is configured in settings.xml
On commandline (and in eclipse) maven with the same settings.xml is working.
(After importing it into eclipse I had to delete the .classpath, .project and

[2022-11-16 16:39] snjeza commented on #2800
@jochenr could you try to replace `${env:MAVEN_HOME}` with the absolute pathname in
[code]

[2022-11-16 20:38] levno-710 opened #2804 "Java Runtime incorrect, when using gradle toolchains"
I am using the following build.gradle file:
[code]

It uses the Java 1.17 toolchain, however in the Configure Java Runtime Tab, it shows Java Version 12:
![Capture](https://user-images.githubusercontent.com/62939318/202287733-c799b1a6-8926-4cd7-9eab-d5b69419d10e.PNG)

When I try to use newer Java features, it shows the following Error:
`The Java feature 'Text Blocks' is only available with source

[2022-11-17 01:28] jdneo commented on #2804
Looks like an issue related with https://github.com/eclipse/buildship/issues/1039

[2022-11-17 03:44] kaneyon commented on #2798
I tried open folder in my local env, and I reproduced.
I found that Formatter preview is not reflect.
Is this correct?
![image](https://user-images.githubusercontent.com/58522411/202349753-207a6e27-e34e-4f05-9110-18f46bfd8614.png)

[2022-11-17 08:19] jdneo commented on #2801
Close as dup with #1615.

You can vote for #1615 to help us prioritize.

[2022-11-17 08:19] #2801 closed

[2022-11-17 08:31] a-st commented on #1615
This buildship output folder issue is really annoying. It would be great to have a setting to be able to impact Maven/Gradle projects.

[2022-11-17 08:50] ahuigo commented on #2379
@EvanGertis
Have you tried this? https://github.com/redhat-developer/vscode-java/issues/2379#issuecomment-1078723541

[2022-11-17 09:26] pan3793 commented on #1615
@jdneo https://github.com/redhat-developer/vscode-java/issues/2801#issuecomment-1318256946

If anyone encounter this issue, please comment / give 👍 / link related issue to this one, to help the team escalate the priority of this issue.

[2022-11-17 10:12] hannah23280 opened #2805 "Better support of lombok"
vscode - v1.72.2
vscode-java - v1.12.0
Hi,
   I know that vscode-java support lombok, however, I do wish it can make the support even better.

   Currently, 2 things requesting for enhancement

[code]
[code]
   1) **Jump to the field of the lombok-annotated class corresponding to the getter and setter method**
    If we are to right click on the getC() method, and select "Go to Implementation", it

[2022-11-17 20:31] snjeza commented on #2800
@jochenr You can try to set a proxy on your Windows (Settings>Proxy), remove all proxy settings in VS Code, add `-Djdk.http.auth.tunneling.disabledSchemes=` and run VS Code.
VS Code should use the native OS settings by default.

[2022-11-17 21:01] billtsol commented on #1311
Go to settings.json and add this:
"java.addExports": [
    "javax.swing",
    "java.awt"
  ],

restart the vscode !!

[2022-11-17 21:09] tarekahf opened #2806 "Error occurred in initializing language server when opening Multi Module Maven Project in vscode"
Type: <b>Bug</b>

I checked out a Maven Project with multiple modules (main POM.xml and nested project with POM.xml files) and was able to open the project and compile it correctly using Eclipse.

However, if I check out the same project in another folder and open the project in vscode I will get an error while building the project while it is still loading.  I even tried opening the same project

[2022-11-17 22:24] snjeza commented on #2806
@tarekahf Could you try the `Pre-Release` version of Java LS For Java?

[2022-11-17 22:43] tarekahf commented on #2806
@snjeza could you please guide me on how to install the `Pre-Release` version of Language Support for Java(TM) by Red Hat?

[2022-11-17 22:51] tarekahf commented on #2806
@snjeza don't worry... I figured out!

[2022-11-17 22:59] tarekahf commented on #2806
@snjeza I tried the `Pre-Release` by installing it using the related `.vsix` and it didn't solve the problem. I made sure to update the entire Java Extension Pack from the Extensions View, still not working. I am getting exactly the same behavior and error I mentioned above, and I see two log files when I click on the thumbs-down icon on the status bar, they are the same files I attached to this t

[2022-11-17 23:21] Eskibear commented on #2021
_from @martinlippert_

[2022-11-17 23:25] snjeza commented on #2806
![prerel](https://user-images.githubusercontent.com/388609/202581269-c016699c-ab62-4bdf-bed9-a34769961a2b.gif)

[2022-11-17 23:28] snjeza commented on #2806
@tarekahf You can also try to set

[code]
and clean the workspace using `Java: Clean the Java Language Server Workspace`.

[2022-11-17 23:28] Eskibear commented on #2021
IMO ideally we need a “imported project manager”, let users explicit choose which projects to import and how to import them. It’s very useful when I open a giant repo containing hundreds of projects and I only want to import a few projects I’m interested in.

E.g. https://github.com/Azure/azure-sdk-for-java/tree/main/sdk
I'm working on only some of the SDKs but all are in a mono repo.

[2022-11-17 23:30] tarekahf commented on #2806
Thanks a lot @snjeza I did switch to the pre-release version but this didn't solve my problem.

I am now trying to open a previous Maven Based Project that I am sure was working. I will then see if the problem is due to vs code update or due to the project itself!

[2022-11-17 23:34] snjeza commented on #2806
@tarekahf Could you try to find the following files in your project tree:
.project
.classpath
.settings
- exit VS Code
- remove all the mentioned files in all your directories
- restart VS Code

[2022-11-17 23:43] tarekahf commented on #2806
Now, I tried to open another project that I am 100% sure was working before (small maven project with single POM.xml), and I see the following in the Language Server Output:

[code]

And, the build status keeps on spinning forever (small maven project with single POM.xml).

I will follow the instructions you mentioned above to clean the project directory and get back to you.

[2022-11-18 00:00] snjeza commented on #2806
@tarekahf Could you attach this project?

[2022-11-18 00:09] tarekahf commented on #2806
I can't, it needs VPN.

[2022-11-18 00:27] tarekahf commented on #2806
@snjeza

I duplicated of the folder used to run maven build from Eclipse where it was successful. I deleted the files you mentioned and opened the new project folder in vs code. I still see the build icon spinning forever, and I see the following in the Language Server Output:

[code]

And I see the following in the Terminal, the Build Output:
[code]

It's stuck for 5 minutes no progress.

[2022-11-18 01:12] snjeza commented on #2806
@tarekahf can try to set
[code]
in settings.json

- clean the workspace using Java: Clean the Java Language Server Workspace
- exit VS Code
- remove - .project .classpath .settings in all your directories
- restart VS Code

[2022-11-18 02:40] xxc-zsz opened #2807 "When there are multiple scripts in the folder, they will all be compiled"
If I have multiple scripts in my folder and I only want to run one of them, hitting runjava will compile them all. At this point, if there are errors in other scripts, there will be errors, even if the current script I want to run does not have errors.

I have two errors in DemoTwo.java. When I run DemoOne.java, a pop-up window will appear. Click proceed to compile and run demoone normally.

![ima

[2022-11-18 08:29] jdneo commented on #2807
This can be fixed with https://github.com/microsoft/java-debug/pull/459.

@testforstephen FYI

[2022-11-18 11:49] testforstephen commented on #2807
Yes, this use case will be covered by the debugger PR.

[2022-11-18 11:50] fbricon commented on #2807
@jdneo can you move this issue to https://github.com/microsoft/java-debug/issues ?

[2022-11-18 18:05] tarekahf commented on #2806
@snjeza

This is a detailed update...

First, I restarted my laptop to avoid any issues related to memory and conflicts with other tasks. This step made things better for sure. Also, I made sure to connect to WiFi.

I opened this project `https://github.com/javalite/jar-explorer` using vs code and it opened correctly and compiled properly without any issues. I didn't use this config with `jar-expl

[2022-11-18 18:37] snjeza commented on #2806
@tarekahf Could you show all your VS Code extensions?

Could you attach your settings.json?

[code]

[2022-11-18 23:13] Frank-D commented on #2784
Thanks @snjeza for your response and sharing the patch..

I ended up using another alternative approach, which is described [here](https://vkuzel.com/shared-test-sources-in-gradle-multi-module-project), and it works really well.

Obviously, I would have preferred to leverage the gradle 'java-test-fixtures' plugin and have it working in vscode, but that previous linked alternative solution is accep

[2022-11-19 00:13] tarekahf commented on #2806
@snjeza
Please find below list of extensions:

<details><summary>Extensions (37)</summary>

Extension|Author (truncated)|Version
---|---|---
vscode-tomcat|ada|0.12.1
Bookmarks|ale|13.3.1
atlascode|atl|2.10.12
vscode-log-viewer|ber|0.12.2
vscode-eslint|dba|2.2.6
xml|Dot|2.5.1
vscode-html-css|ecm|1.13.1
packsharp|els|2.3.2
open-lnk|Enk|0.0.1
dotnet-test-explorer|for|0.7.8
vscode-nuget-package-manage

[2022-11-19 13:44] mbaluda opened #2808 "issue"
[provide a description of the issue]

##### Environment
- Operating System:
- JDK version:
- Visual Studio Code version:
- Java extension version:

##### Steps To Reproduce
1. [step 1]
2. [step 2]

[Please attach a sample project reproducing the error]
[Please attach logs](https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#enable-logging)

##### Current Result

##### Expected Res

[2022-11-19 13:45] #2808 closed, assigned to nobody

[2022-11-20 03:03] jdneo commented on #2807
@fbricon Sorry I can't. Only issues between repositories owned by the same user or organization account can be transferred.

[2022-11-20 12:34] justas2481 commented on #191
I wonder does this problem still persists? I'm planning to take Java as another programming language to add it as another skill, but since I'm blind, my consideration is whether I'll have any problems to load projects which are used / written by other co-workers in IntelliJ which is lacking in case of accessibility behind by far incomparison to VSCode which does amazing job there.
VSCode has reall

[2022-11-20 21:47] gardner commented on #634
This is still an issue. Why was this closed?

[2022-11-21 02:17] jdneo commented on #2807
Close since it has been fixed by https://github.com/microsoft/java-debug/pull/459.

[2022-11-21 02:17] #2807 closed

[2022-11-21 06:56] xxc-zsz opened #2809 "It doesn't seem possible to build war packages for normal javaweb projects at the moment"
As the title says, it doesn't seem possible to generate war packages for normal Javaweb projects in vscode at the moment.

There are methods in both eclipse and ide to generate war packages for common javaweb projects.

Vacode should also have such a way, otherwise the project has to be converted into a maven project before the war package can be built.

[2022-11-21 15:05] jochenr commented on #2800
Hi @snjeza,
for the java part I'm fine now.
Thank you very much for your help.

Overall I'm almost satisfied.
This morning I did a clean new install of VS Code.
Installation and usage of the Red Hat Java and Camel extensions work quite well.
The only thing I had to use the custom proxy configuration for
[code]
was the installation of the Kubernetes Extension (that gets automatically installed by t

[2022-11-21 15:05] #2800 closed

[2022-11-21 17:03] jackieli-tes commented on #177
I found a workaround using this sample repo: https://github.com/jackielii/grpc-java-example. Using coc.nvim, in CocLocalConfig or global one, set:

[code]

This will disable `initializationOptions.settings.java.autobuild.enabled` in workspace initialisation. You can manually build it if it wasn't built before. More details in the [README.md of this project](https://github.com/jackielii/grpc-java-e

[2022-11-21 19:25] gardner commented on #1615
I onboard people at work. This issue confuses people and ultimately causes people to uninstall the extension.

[2022-11-21 19:35] datho7561 opened #2810 "When viewing hover Javadoc, `{@link ...` that points to a binary class doesn't display as a link"
If you hover over a Java element that has Javadoc (eg. class, method, static/non-static member) that has a `{@link org.example.ClassName}` in it, the `{@link` is rendered as a link and is clickable if the class is a source file, but not if it is a binary file. For example, if you put `{@link java.lang.String}` in a Javadoc, then the hover documentation doesn't display a clickable link.

##### Envi

[2022-11-21 19:53] rgrunber commented on #2810
The `jdt://` scheme is meant to be resolved by JDT-LS. We register a client-side provider at https://github.com/redhat-developer/vscode-java/blob/ccb75b154c03928d60a2ef423ddfd960fb3b43d9/src/providerDispatcher.ts#L29-L30 , which ends up calling `java/classFileContents` on the server side to resolve the content.

[2022-11-21 21:56] snjeza commented on #2805
@hannah23280 you can try https://github.com/snjeza/vscode-test/raw/master/java-1.13.2.vsix

[2022-11-22 09:05] jkone27 commented on #1232
same issue but i cannot figure out why, i can safely build with maven, but see reg squiggles all over the place in java files, even though suggestions seem correct - is it reading java version from my pom.xml?

<img width="996" alt="image" src="https://user-images.githubusercontent.com/10419217/203272050-36525739-01dd-4830-9ba9-82fb21cd235e.png">

[2022-11-22 11:37] gustavosimon commented on #1232
Have someone working on this issue?

[2022-11-22 11:54] jkone27 opened #2812 "List.of seem broken while using jdk 17"
i am using vscode with redhat extension and azul sdk 17
<img width="744" alt="Screenshot 2022-11-22 at 12 52 16" src="https://user-images.githubusercontent.com/10419217/203307572-445d540d-35cb-45ba-b303-a9749d94ebbb.png">

[code]

[code]

maven runs file, wheras vscode tells me

[code]
is not defined as well as
[code]
is reported as object (but that could be related to the first issue...

running

[2022-11-22 12:33] jkone27 commented on #2812
i am using lombok but that was supported/working in the past ..

here the vscode ext logs..
[code]

[2022-11-22 14:02] jkone27 commented on #2812
<img width="675" alt="image" src="https://user-images.githubusercontent.com/10419217/203333245-c110da85-079b-43de-be27-a2bf83e17b45.png">
this also seems way to clean..

[2022-11-22 14:03] jkone27 commented on #1232
linked issue --> https://github.com/redhat-developer/vscode-java/issues/2812.

[2022-11-22 16:25] rgrunber commented on #2053
Closing as a duplicate of https://github.com/eclipse/eclipse.jdt.ls/issues/1841 . We can track the progress there.

[2022-11-22 16:25] #2053 closed

[2022-11-22 17:42] snjeza commented on #2812
@jkone27 Could you show your pom.xml and your settings.json?

[2022-11-23 04:53] tarekahf commented on #1655
I'm facing the same problem. Any update on this?

[2022-11-23 04:56] tarekahf commented on #1460
I'm facing the same issue. Any update on this?

[2022-11-23 09:44] Uda4nik commented on #2784
Downgrading gradle wrapper from 7.5.1 to 7.4.2 resolved a simular problem for me.

[2022-11-23 09:58] HerrDerb commented on #2784
@Uda4nik Thank you, I can confirm this! Downgrading the wrapper from 7.5.1 to 7.4.2 removes the issue. this means that there most possibly is a change in gradle which might not be adapted in the vsc java plugin correctly.

[2022-11-23 10:40] chr7 commented on #634
Still not fixed, please reopen!

[2022-11-23 13:30] HerrDerb commented on #2784
Here a very basic project, that reproduces the issue that only occures with gradle 7.5.1, but not with gradle 7.4.2
https://github.com/HerrDerb/gradleTestFixtureIssue

[2022-11-23 15:52] zymotik commented on #2805
It would be great to support the SuperBuilder annotation 👍

https://github.com/microsoft/vscode-lombok/issues/62

[2022-11-23 16:15] snjeza commented on #2805
@zymotik Could you, please, provide a project example reproducing the error?

[2022-11-23 16:19] zymotik commented on #2805
I will ask my highly esteemed colleague @AndreySyagrovskiy 👍

Thank you for your speedy reply @snjeza

[2022-11-23 21:58] datho7561 commented on #2810
We might not be able to fix this. It looks like VS Code used to be support opening URIs with any scheme at one point, and a few extensions relied on this, but it was patched out:
https://github.com/microsoft/vscode/issues/151720

Then a feature request was opened to provide the old functionality as a feature, but it didn't receive enough votes and was auto closed:
https://github.com/microsoft/vsco

[2022-11-24 07:27] tarekahf commented on #1315
Thank you so much!

Why this was so difficult to find? I spent about a couple of days until I found the solution to my problem.

Is the result of the `attach source` command saved in some config file? Will it persist and how?

[2022-11-24 12:38] jkone27 commented on #2812
not sure pom is useful for you as all our packages are private... so here is a "fac-simile"

[code]

[2022-11-24 12:38] jkone27 commented on #2812
settings.json
[code]

[2022-11-24 12:51] jkone27 commented on #2812
ca you test with this sdk only installed?
[code]

[2022-11-24 12:53] jkone27 commented on #2812
this should be there since java 1.2 ?  List.of ?  so the ide not reckognizing it seems like a bug..
https://docs.oracle.com/javase/9/docs/api/java/util/List.html.

[2022-11-24 12:54] jkone27 commented on #2812
i see this in my log files
[code]
does it mean default vscode java doesnt have List.of ?
[code]

[2022-11-24 15:35] jkone27 commented on #2812
[code]

[2022-11-24 17:59] snjeza commented on #2812
@jkone27 .classpath is a file in your project root. You should set
[code]
to settings.json

[2022-11-24 18:54] MiG98789 commented on #2727
@Treeston I see what you mean. I think the comparison I made between the if-else condition and ternary operator weren't equivalent. Rather than assigning `getSomethingNullable()` into a variable beforehand (i.e. what @CsCherrYY suggested), this if-else code should've been used instead:
[code]

Closing this issue now as resolved. Thanks for the help!

[2022-11-24 18:54] #2727 closed

[2022-11-25 02:56] #1660 closed

[2022-11-25 02:56] #1039 closed

[2022-11-25 10:20] RicoAfoat commented on #743
I've tried all the methods upon but failed to find a solution. There's a magic solution for remote users. Just quit vscode and use other tools to connect to remote machine and delete the whole vscode server configuration folder. Then use vscode to connect again. Re-download extensions needed (java developer pack). Everything will work smoothly. At least on my computer.

[2022-11-25 16:28] pragyesh7753 commented on #2178
Same problem to me -- The Language Support for Java server crashed 5 times in the last 3 minutes. The server will not be restarted.
![image](https://user-images.githubusercontent.com/116973800/204025429-a9856925-1e75-4f7e-941f-596d659c9822.png)

[2022-11-25 16:36] pragyesh7753 opened #2815 "The Language Support for Java server crashed 5 times in the last 3 minutes. The server will not be restarted."
Type: <b>Bug</b>

Whenever I open VS Code it is giving me this message --->  The Language Support for Java server crashed 5 times in the last 3 minutes. The server will not be restarted.
![image](https://user-images.githubusercontent.com/116973800/204026664-5fccf566-e47c-44f9-a04c-77ee8fe7c5d5.png)

Extension version: 1.12.0
VS Code version: Code 1.73.1 (6261075646f055b99068d3688932416f2346dd3b, 2

[2022-11-25 16:59] dudeNumber4 commented on #2669
For future reference, setting java.format.settings.url on windows must use forward slashes and cannot contain spaces.  If spaces or backslashes (yes, even escaped backslashes) are present, language support output will show _Illegal character in opaque part at index N_ [path_to_settings_file]

[2022-11-25 17:20] jkone27 commented on #2812
mm before that i didnt have any .classpath file in my project root, but here is the result of the compilation after setting that  flag in settings.json...

.classpath
[code]

[2022-11-25 17:50] snjeza commented on #2812
@jkone27
m2e selects Java 1.8. Does it work from the command line?
Could you try to set

<properties>
...
	 <java.version>17</java.version>
        <maven.compiler.source>${java.version}</maven.compiler.source>
        <maven.compiler.target>${java.version}</maven.compiler.target>
...
</properties>

[2022-11-25 18:58] #2805 closed

[2022-11-25 22:20] jkone27 commented on #2812
if i run just ``mvn install``  from command line it does build fine and runs the unit tests fine (it always did) only the ide/editor is reporting the problems from vscode only. In my pom.xml is laready specified java version,
[code]
i added the 2 lines you specified but didnt help at all even after mvn clean and reload project, and even after delete workspace and close and reopen vsocde.

still sa

[2022-11-25 23:37] snjeza commented on #2812
m2ee reads pom.xml - https://github.com/eclipse-m2e/m2e-core/blob/master/org.eclipse.m2e.jdt/src/org/eclipse/m2e/jdt/internal/AbstractJavaProjectConfigurator.java#L603

Could you remove or comment the following line:

[code]

[2022-11-26 00:38] mozhuanzuojing commented on #2669
can add prefix file://

[2022-11-26 22:38] jkone27 commented on #2812
didnt help...

[2022-11-26 22:52] snjeza commented on #2812
@jkone27 Do you have a parent project?

[2022-11-28 02:57] simahao opened #2816 "Loading all the time when hovering class or method"
[provide a description of the issue]

##### Environment
- Operating System: win10
- JDK version: 11
- Visual Studio Code version: 1.73.1
- Java extension version: 1.12.0

##### Steps To Reproduce
1. open hadoop project
2. hover class or method with mouse

[Please attach a sample project reproducing the error]
[Please attach logs](https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting

[2022-11-28 12:22] aditya-shrivastavv commented on #1141
I think i Solved it, I was Facing this Problem too.
On Clicking create data project nothing happend for 2 sec and then a error poped up saying - 'java.project.create' not found.
Solution - (At least worked for me😅)
YOU HAVE TO ADD JAVA TO PATH.

Here are the steps to do that -

Find Java Folder in you C drive and then inside JDK folder, copy the path of bin folder (it will look like this - C:\Prog

[2022-11-28 12:24] aditya-shrivastavv commented on #1141
Solved Follow on -
[https://github.com/microsoft/vscode-java-dependency/issues/179](url)

[2022-11-28 12:25] aditya-shrivastavv commented on #1141
Issue Solved - Follow On --->
[https://github.com/microsoft/vscode-java-dependency/issues/179#issuecomment-1328975852](url)

[2022-11-28 12:26] aditya-shrivastavv commented on #1141
Issue Solved - Follow On --->
https://github.com/microsoft/vscode-java-dependency/issues/179#issuecomment-1328975852

[2022-11-28 13:13] snjeza commented on #2812
@jkone27 Could you try to add
[code]
to your project's pom.xml.

[2022-11-28 14:57] zymotik commented on #2805
Sorry for the delay, example code to demonstrate the annotation issue in Visual Studio Code. See the readme of the code repository: https://github.com/zymotik/redhat-developer-vscode-java-issue-2805

[2022-11-28 15:27] tarekahf commented on #2806
After monitoring this issue over several days, I can say the following:

- It doesn't matter if `"java.import.generatesMetadataFilesAtProjectRoot": true` is present.
- Still using the `pre-release` of `Language Support for Java (TM) by Red Hat` and not planning to switch back.
- The issue may have been due to limited resources or weak connectivity.
- If I use `Clean Java Language Server Workspace`

[2022-11-28 21:49] rgrunber commented on #2815
When this happens, could you go into the command palette and run : "Java: Open All Log Files". There should be a few log files opened. Do any of them show errors from around the time this occurs ?

[2022-11-29 10:05] zymotik opened #2819 "Lombok @SuperBuilder annotation not supported by extension"
##### Environment
- Operating System: `Microsoft Windows 11 Home 10.0.22621 N/A Build 22621` `Ubuntu 20.04.4 LTS`
- JDK version: openjdk version "17.0.4" 2022-07-19 LTS
- Visual Studio Code version: 1.73.1
- Java extension version: v1.13.2022112903 (pre-release)

##### Steps To Reproduce
1. Clone repo https://github.com/zymotik/redhat-developer-vscode-java-issue-2805
2. Open in Visual Studio Code

[2022-11-29 14:55] jkone27 commented on #2812
<img width="906" alt="Screenshot 2022-11-29 at 15 54 48" src="https://user-images.githubusercontent.com/10419217/204562584-d76c833d-9f0c-47c6-a0fd-3c09a9d89310.png">

still no luck..

[2022-11-29 16:40] snjeza commented on #2812
@jkone27 Could you show parent's pom.xml?

[2022-11-29 16:53] fbricon commented on #2812
@jkone27 actually show your project's effective pom (`mvn help:effective-pom`) or if you have the [Maven extension ](https://marketplace.visualstudio.com/items?itemName=vscjava.vscode-maven) installed, Right click on the project in the Maven view, and select "Show Effective POM"

[2022-11-29 20:54] snjeza commented on #2812
Is there .vscode/setting.json (Workspace Settings)?

[2022-11-29 22:32] neonSonOfXenon commented on #2738
I had the same problem as @SunnyRaj84348. I have a custom formatter.xml file that I edit using Eclipse and then copy into my vs code project folder, but the formatting wasn't updating.

Updating to vscode-java pre-release did not fix it for me, but @tthornton3-chwy's solution of clearing out `org.eclipse.jdt.core.formatter.*` lines from `.settings/org.eclipse.jdt.core.pref` did, and my formatter s

[2022-11-30 01:54] quinnInChina commented on #743
i have tried everything above-mentioned, but also exist this issue.
![image](https://user-images.githubusercontent.com/2950260/204687879-827923f0-1de2-4fec-a498-b11d86129fad.png)
the java log shows this:

Any idea?

[2022-11-30 02:54] jdneo commented on #2819
@testforstephen Is this related with the type mismatch issues you are looking in jdt core recently?

[2022-11-30 03:42] snjeza commented on #743
@quinnInChina Could you try to remove the `Language Server for Java using the Java compiler API` extension. It isn't compatible with `Language Support for Java by Red Hat`

[2022-11-30 04:37] jdneo commented on #2816
Have you tried to increase the memory allocation size of the JVM? You can do this by updating the VS Code setting `java.jdt.ls.vmargs`, change the Xmx to sth like `-Xmx2G`

[2022-11-30 05:34] quinnInChina commented on #743
oh great! thank you, its ok now

[2022-11-30 05:56] simahao commented on #2816
Yes, I have increased memory size like -Xmx5G, but it doesn't work.

[2022-11-30 09:06] jdneo commented on #2816
It's working on my side
![image](https://user-images.githubusercontent.com/6193897/204753300-d9195c04-e336-4946-8c2b-784e1b72fcb2.png)

Is it working if you only enable the extensions contained in the `Extension Pack for Java`?

[2022-11-30 18:32] snjeza commented on #2819
This is an upstream lombok issue. lombok uses C and B as its internal generics.
See https://github.com/projectlombok/lombok/blob/731bb185077918af8bc1e6a9e6bb538b2d3fbbd8/src/core/lombok/eclipse/handlers/HandleSuperBuilder.java#L254
There is a bug in https://github.com/projectlombok/lombok/blob/731bb185077918af8bc1e6a9e6bb538b2d3fbbd8/src/core/lombok/eclipse/handlers/HandleSuperBuilder.java#L1112
Y

[2022-11-30 20:57] #2810 closed