[2019-12-27 03:03] testforstephen commented on #1218
Could you try to add "java.debug.settings.console": "internalConsole" to your user setting?

[2019-12-27 03:04] testforstephen commented on #1218
This issue is related with https://github.com/microsoft/vscode-java-debug/issues, please move the issue there.

[2019-12-27 03:04] #1218 closed

[2019-12-27 03:06] testforstephen commented on #1215
Could you try the command below?

**F1** -> **Java: Clean the Java language server workspace**

[2019-12-27 03:24] astrelsky commented on #1216
I don't think so. Its more to add to the list of Source Actions you implemented. (Organize imports, generate getters/setters, generate constructors, etc). It would be handy to be able to write our own without having to create an entire vscode extension.

[2019-12-27 03:31] testforstephen commented on #1216
Is there anything blocking you do that? Or what change is required for vscode-java to achieve that?

[2019-12-28 13:39] Fubuchi commented on #1217
I update to the latest version and the NPE gone but some methods of com.aspose.words.Document still do not have intellisense like save or getMailMerge

[2019-12-28 15:58] snjeza commented on #1217
@Fubuchi You can try https://raw.githubusercontent.com/snjeza/vscode-test/master/java-0.56.0.vsix
You will still see the exception, but intellisense and hover will work.

[2019-12-28 16:07] Fubuchi commented on #1217
@snjeza confirmed, intellisense and hover works now.

[2019-12-28 17:28] astrelsky commented on #1216
I've setup a repo for a simple example of what I'm suggesting to be able to do. Hopefully this provides some better insight.

https://github.com/astrelsky/vscode-java-source-action-example

[2019-12-29 11:24] Katona commented on #1092
Hi @tarun0,

I had a similar issue on Ubuntu 19.10. Installing `openjdk-11-jdk` explicitly fixed it. The directory `/usr/lib/jvm/java-11-openjdk-amd64/` contained a jre before installing the jdk.

Gabor

[2019-12-29 21:12] hiroga-cc commented on #868
I want to specify my JDK version and had the same issue with macOS.

## works

[code]

## not works

[code]

## Environment
* OS: macOS Catalina
* VSCode: 1.41.1

[2019-12-29 23:44] Alejandro2134 opened #1220 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `java`
- Extension Version: `0.55.1`
- OS Version: `Linux x64 5.0.0-37-generic`
- VSCode version: `1.41.1`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`/home/alejo/redhat.java-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/microsoft/vscode/wiki/Explain-extension-causes-high-cpu-load

[2019-12-30 02:47] testforstephen commented on #1216
This may be an interesting idea, but it's not possible for now. Worth a look in future.

Java is a language that needs to be compiled, and apparently we cannot ensure the contributed Java snippets are correctly written. Besides, the language features needs parse AST and generate workspace edit, i don't believe it's easy to write in one Java file.

If you'are interested, please take a look about ho

[2019-12-30 06:48] tan31989 commented on #659
This issue is still seen in the latest vscode editor.

[2019-12-31 08:53] #1217 closed

[2020-01-01 12:02] dsyer commented on #495
Here's another data point. I had this "Build failed..." issue in a workspace that was running [Theia](https://github.com/eclipse-theia/theia) with (by mistake) both `@theia/java` and this extension (`vscode-java`) installed as a plugin. One of them tripped over the other the whole time, and in the end everything would work, but only after the annoying error message. Removing `@theia/java` and `@th

[2020-01-02 07:18] jdneo opened #1221 "[Feature Request] Provide a command to generate JavaDocs for all the DocumentSymbols in a Java file"
This is a feedback from a customer's interview. The experience is somehow similar to [this one](https://marketplace.visualstudio.com/items?itemName=madhavd1.javadoc-tools)

[2020-01-03 09:07] Harvtronix commented on #924
I believe I'm encountering this issue in my local environment. Even if I manually set the gradle distribution version in the prefs file, it gets reset for at least one of the projects in my workspace as soon as I clear the language server. Seems to be getting set to a version much newer than I have installed locally, and also much newer than the wrapper governing the rest of the workspace projects

[2020-01-03 11:04] jrieken opened #1222 "Fill in package for newly created file"
When creating a new file, e.g `Foo.java` inside the `com.mycomp.app`-folder then the extension should use the new `vscode.workspace.on[Will|Did]CreateFile`-api to fill in some default content, esp the `package`-declaration `package com.mycomp.app` etc.

##### Environment
- Java extension pack 0.8.1

##### Steps To Reproduce
1. Use the vscode file explorer to create a new file

##### Current Result

[2020-01-03 11:20] jrieken opened #1223 "No diagnostics, but org.eclipse.jface.text.BadLocationException"
No compile errors showing in the editor...

##### Environment
- Java dev container: https://github.com/microsoft/vscode-dev-containers/blob/6c963f93705796aef2166502a2030866987e5a4f/containers/java-12/.devcontainer/Dockerfile
- Visual Studio Code version: 1.42.0-insider
- Java extension pack: 0.8.1

##### Steps To Reproduce
1. Open Java-file, write semantic errors, like a non existing reference

##

[2020-01-03 11:55] jrieken opened #1224 "Snippet-suggestions aren't without hassle..."
👋 vscode dev here. Playing with the vscode-java extension path (0.8.1) inside the [Java8 dev container](https://github.com/microsoft/vscode-dev-containers/blob/6c963f93705796aef2166502a2030866987e5a4f/containers/java-8/.devcontainer/Dockerfile#L12). I notice that Java IntelliSense uses snippet suggestions when completion methods. That's nice but suffers from VS Code disabling quick suggestions whi

[2020-01-03 13:59] jrieken opened #1225 "Don't show notifications right after startup"
👋 vscode dev playing with the java extension here. I noticed some notification spam after first startup. One is about missing maven-exec which seems somewhat reasonable, the other is about configuring excludes for Java project files. I think that's quite annoying esp. in contrast to the maven notification and my suggestion would be to move that into the "Java Getting Started" page.

<img width="12

[2020-01-03 14:28] jrieken opened #1226 "Format On Save not working in presence of semantic error"
##### Environment
- Operating System:
- JDK version: using Java8-dev-container, https://github.com/microsoft/vscode-dev-containers/blob/6c963f93705796aef2166502a2030866987e5a4f/containers/java-8/.devcontainer/Dockerfile
- Visual Studio Code version: insider
- Java extension pack: 0.8.1

##### Steps To Reproduce
1. enable format on save
1. add a semantic error, like calling a constructor without ar

[2020-01-03 14:50] jrieken commented on #1226
hm, this might actually be caused by a missing semicolon which makes this a syntax error... 🤔

[2020-01-03 15:43] jrieken opened #1227 "Align settings categories names"
See attached screen capture. It upper-case every except for "Java configuration". I would drop "configuration" because that pretty obvious from the context you are in. Iff not make it "*C*onfiguration" to be aligned with other setting categories

<img width="243" alt="Screenshot 2020-01-03 at 16 41 24" src="https://user-images.githubusercontent.com/1794099/71732580-ee130100-2e47-11ea-9ae1-b8c805ab

[2020-01-05 06:38] sangqt commented on #1092
I fixed it by installing openjdk-11-jdk-devel package.

[2020-01-06 06:06] UbaidurRehman1 opened #1228 "The java.home variable defined in Visual Studio Code settings points to a missing or inaccessible folder (C:\Program Files\Java\jdk-11)"
I have done all troubleshooting procedures to define java.home variable.
I have created java.home in both user settings and workspace settings in VS code. Then I have define JAVA_HOME and JDK_HOME in system varibles. Then define the path of jdk-11/bin in the system path.

##### Environment
- Windows 10 Education Version 2004 OS Build 19037.1
- JDK version: openjdk 11 2018-09-25
- Visual Studio Cod

[2020-01-06 07:42] danielshoun commented on #1228
I also started getting this error despite having no problems just a couple days ago.

[2020-01-07 07:13] 15050050972 commented on #1137
Sorry for your long waiting
[code]
I execute same code in vscode of linux, the result is correctly. But in windows, it's incorrectly.
I write the code in other editor, and run the code by  windows terminal `cmd`, it's still incorrectly.
So it's clearly it is not a issue in your project, it's some problem like file character encoding( even I already set it to `UTF-8`).

You can close the issue, tha

[2020-01-07 08:06] 15050050972 commented on #1137
I found the reason
[code]

I need use `-encoding` option to specify the encoding of java file, otherwise javac will get default encoding from OS, my OS is windows, and I'm in China. So my default encoding is `GBK`

[2020-01-07 08:06] #1137 closed

[2020-01-07 10:33] fbricon commented on #1228
I honestly don't know how remote wsl works, I'm on a mac. I don't know if it's a problem caused by the remote wsl not having access to your local jdk. That's a question for @akaroml's team

[2020-01-07 11:25] UbaidurRehman1 commented on #1228
Yup, this is the real problem: **Remote WSL 2 has no access to local JDK**

[2020-01-07 15:10] astrelsky commented on #1216
Ideally the handling of language features would be done in a base class in vscode-java. However, I was under the impression that they were being done through eclipse.jdt.ls instead of via the vscode api.

I have come to the conclusion that it is simply impossible to contribute a Java extension. At least by following the wiki. I'll be opening a separate issue regarding that.

[2020-01-07 15:10] #1216 closed

[2020-01-07 15:24] astrelsky opened #1229 "Outdated "Contribute a Java Extension" Wiki"
The "Contribute a Java Extension" Wiki is outdated and impossible to follow

##### Environment
- Operating System:
- JDK version: 13.0.1
- Visual Studio Code version: 1.42.0-insider
- Java extension version: 0.55.2

##### Steps To Reproduce - Please attempt to reproduce!
1. Forget all prior knowledge of how to create a vscode-java extension.
2. Create a fresh Eclipse IDE for Java Developers instal

[2020-01-07 15:28] fbricon commented on #1228
@UbaidurRehman1 then you might want to install a JDK directly from WSL2. See if this provides any help: https://stackoverflow.com/questions/36478741/installing-oracle-jdk-on-windows-subsystem-for-linux

[2020-01-07 20:15] m-hogue commented on #1100
Doubt it matters, but also see this when using wsl in Windows:

![image](https://user-images.githubusercontent.com/7054178/71926066-7bb06280-3160-11ea-9ac4-b25aa78a37fe.png)

[2020-01-07 22:37] m-hogue commented on #1100
EDIT: This was actually due to the theme i had set in VSCode. I was using Dark (Visual Studio). I switched it to Dark+ (default dark) and the syntax is highlighted as expected.

[2020-01-08 06:10] UbaidurRehman1 commented on #1228
Alright, I have found **the solution,**
Actually the mistake was on my end, I mistakenly thought that the path should be in Windows.
But the path of **JDK should be in WSL distro.**

Solution:
- Install JDK in WSL
- Export the path of JDK in WSL (write **export JDK_HOME=/path/to/jdk/**) in ~/.bashrc file and source it
-  Now restart VS Code

VS Code will automatically detect the JDK.

[2020-01-08 06:10] #1228 closed

[2020-01-08 11:38] angelozerr opened #1230 "Terminal shows duplicate task name for progress"
Terminal which show progress of each job duplicate the task name. See the below screenshot:

![image](https://user-images.githubusercontent.com/1932211/71975289-cc34c800-3213-11ea-902b-41379ab6d840.png)

[2020-01-08 13:29] sukanzubair opened #1231 "// Failed to get sources. Instead, stub sources have been generated by the disassembler."
[provide a description of the issue]

##### Environment
- Operating System: Win10
- JDK version: 13
- Visual Studio Code version:1.1.11
- Java extension version: 0.55.1

##### Steps To Reproduce
1. open a muti root project
2. navigate(go to implemetation ) of class that is in the referenced project

[attach a sample project reproducing the error]
[attach logs](https://github.com/redhat-developer/v

[2020-01-08 15:30] sukanzubair commented on #447
This is still not working

[2020-01-08 23:58] lfarkas commented on #1188
is there any solution to this? or what is "the right way" to solve the original problem?

[2020-01-09 01:01] snjeza commented on #1188
@lfarkas you can try to call the 'Java: Clean the Java language server workspace' command.

[2020-01-09 03:13] akaroml commented on #1213
I was surprised too and sorry about that. As a follow-up, we'll:
1.  Add integration tests by installing Java Extension Pack instead of just vscode-java
2.  Make the test plan public so all parties can comment

@jdneo will be on this.

[2020-01-09 03:22] jdneo commented on #1213
Tracking issue: https://github.com/microsoft/vscode-java-pack/issues/289

[2020-01-09 06:35] #1231 closed

[2020-01-09 06:36] sukanzubair commented on #1231
Package name is case sensitive and if not exact in the POM file the dependency struggles to resolve

[2020-01-09 11:32] Ettery opened #1232 "Working Maven project reports multiple errors in VSCode and will not build"
I have a simple working Java Maven project.  This project builds (assuming you have Java and Maven setup) - with:

    mvn clean install

And the jar file runs as expected.

However, when I open it in VSCode (I have the Java Extension pack installed) - I see 105 "Problems" reported in the pom.xml:

* 4x "Failed to read artifact descriptor for ..."
* The rest "Missing artifact ..."

This appears to

[2020-01-09 12:00] fbricon commented on #1232
works for me. Have you tried to execute the "Clean the Java language server workspace" command?

[2020-01-09 12:54] lfarkas commented on #1188
thanks it's working!

[2020-01-09 14:53] Ettery commented on #1232
I have.  It clears and says "No problems", but as soon as I open a Java file it generates the 105 problems in pom.xml again.

What JDK are you using, and could that be a problem?

Thanks.

[2020-01-11 05:38] testforstephen commented on #1229
Fair enough. A copyable template is indeed valuable, i will take a look.

Currently if you're working on contributing a java extension based on vscode-java, you may take a look at the similar extensions: [vscode-java-dependency](https://github.com/microsoft/vscode-java-dependency), [vscode-maven](https://github.com/microsoft/vscode-maven), [vscode-java-test](https://github.com/microsoft/vscode-jav

[2020-01-11 08:20] angelozerr commented on #1229
It should be fine if we could have this list in the readme

[2020-01-11 11:12] cameronbraid opened #1233 "Lombok issues when running vscode remote to ssh linux server"
##### Environment
- Operating System:

VSCode running on OSX Catalina 10.15.2 (19C57)
VSCode ssh to Ubuntu 19.10

- JDK version:

1.8.0_161

- Visual Studio Code version:

1.41.1

- Java extension version:

v0.55.1

##### Steps To Reproduce
1. Open VSCode
2. Connect to remote linux via SSH
3. Open java project

The same java project has no lombok issues when using VSCode locally, or when building

[2020-01-13 03:43] juliosilvacwb commented on #697
You save me

[2020-01-14 19:03] spottedmahn opened #1235 "Contains emphasized items after fixing compile errors"
After fixing some compiler errors, VS code is complaining at the folder level that there's still a problem:

![image](https://user-images.githubusercontent.com/14079228/72372791-08b16980-36d5-11ea-8cb3-4108815ef75d.png)

On hover I see this:

![image](https://user-images.githubusercontent.com/14079228/72372798-0d761d80-36d5-11ea-983e-fd676e5f0033.png)

##### Environment
- JDK version: openjdk vers

[2020-01-14 21:55] snjeza commented on #1235
@spottedmahn could you attach a project example?

[2020-01-15 04:05] xendren commented on #1072
I am having the same problem with javax.swing.* components.  I have checked my settings file, and there aren't any "java.completion.filteredTypes" entries in my settings files.  I do not see the default value of "java.awt.*" as indicated in the last post.

[2020-01-15 05:08] ymyh commented on #1072
You should type "java.completion" first, then you will see it.

[2020-01-15 06:03] xendren commented on #1072
Interesting.  So the setting will not show unless you add it first?  That's odd behavior.  Once I add it, it defaults only the "java.awt.*" and "com.sun.*" classes.  Neither of those entries should be filtering the javax.swing.* class methods.  If I import "javax.swing.JTextField", for instance, create a new instance and type "myField.setName", the method does not show in code completion box.  It

[2020-01-15 06:19] ymyh commented on #1072
well... I don't know this time.

[2020-01-15 06:28] Nukepayload2 opened #1236 "The system become extremely slow when loading a huge Java workspace"
I have a huge Java workspace that contains 40+ Java projects. Some projects are migrated from Eclipse, some are from IntelliJ. Every project has 200+ Java files in average. This workspace is using Git. When I open this workspace, the system become extremely slow. Even mouse is freezing in every seconds. The task manager lists 100+ "rg.exe" are created by vscode. When the project is loaded (after 2

[2020-01-15 07:46] ahmednrana commented on #1197
This is very much needed and would be very helpful

[2020-01-15 09:00] Eskibear commented on #1236
@Nukepayload2 Are you opening a single folder containing 40+ Java projects,  or a workspace containing 40+ root folder (e.g. via **Add Folder to Workspace...**)?

For the latter, I guess it might be related to https://github.com/redhat-developer/vscode-java/pull/1201/files#diff-45327f86d4438556066de133327f4ca2R863

For each workspace folder, it searches the whole workspace for *.java files. And be

[2020-01-15 10:14] appleseedexm opened #1237 "Empty formatter settings disable rules"
I have the google style eclipse settings activated in my user settings.
By accident, I've saved an empty string in my formatter settings of my workspace which lead to
[code]
in my workspace settings.json. I did this in the UI so I didn't at first.
Apparently this overwrites the user settings.json file, formatting was done by the default formatting rules and not the ones specified in my user settin

[2020-01-15 17:58] #1230 closed

[2020-01-16 06:07] bkh751 opened #1238 "must override a superclass methodJava(67109487)"
[provide a description of the issue]

##### Environment
- Operating System:
- JDK version:1.8
- Visual Studio Code version:
- Java extension version:

##### Steps To Reproduce
1. [step 1]

create interface

public interface CustomerService {
    public void someProcess(int customerLevel);

}

2. [step 2]

implmentation

public class CustomerServiceLogic implements CustomerService {

    @Override

[2020-01-16 06:41] akaroml commented on #1222
@testforstephen will adopt this.

[2020-01-16 07:17] akaroml commented on #1223
@testforstephen please take a look.

[2020-01-16 07:45] akaroml commented on #1227
Agreed. @Eskibear could you help quickly send a PR?

[2020-01-16 08:02] Nukepayload2 commented on #1236
@Eskibear I'm opening a workspace that containing 40+ root folders. What should I do now? Wait for fix or edit a configuration file?

[2020-01-16 09:11] fbricon commented on #1238
Are you inside a project? Maven/Gradle/Eclipse?
If not did you create files without opening a directory in VS Code?
Could you share the server [logs](https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#enable-logging) after enabling verbose tracing?

[2020-01-16 10:03] euphooria opened #1239 "Auto-completion doesn't work between round bracket of auto completed function call."
[provide a description of the issue]
No auto-completion between round bracket of function call.
##### Environment
- Operating System: Ubuntu16.04
- JDK version: openjdk 1.8.0_232
- Visual Studio Code version: 1.41.1
- Java extension version: 0.55.0

##### Steps To Reproduce
1. call function using autocompletion.
2. try to input vairable between round bracket of called function.

[attach a sample p

[2020-01-16 10:26] fbricon commented on #1239
When inserting the method body, vscode is in "snippet mode", it allows you to jump from one placeholder to the next by pressing tab. In that mode, completion is disabled. To exit snippet mode, just press esc, then try to complete again

[2020-01-16 10:54] carlitador opened #1240 "Java project: Import all jar in folder"
I would like to import all jar files into my vscode project classpath.
If I do this it works, but only for one library of course:

In my case I have almost 100 .jar files to import. If I put them in lib and put try this:
 `<classpathentry kind="lib" path="lib"/>`

Or this:

` <classpathentry kind="lib" path="lib/*.jar"/>`

Or this

`<classpathentry kind="lib" path="lib/*"/>`

Do not work

I also t

[2020-01-16 11:53] euphooria commented on #1239
Thanks for your answer.
But any solution to keep completion enalbed while in "snippet mode"? Or how can I close "snippet mode"? Because I think it is better to keep completion then snippet if both of them cannot keep enabled at same time.

[2020-01-16 15:46] UnrealKazu opened #1241 "Empty responses sent by Java Language Server on almost all actions like autocomplete, definition inspection caused by Apache Flink archetype"
All code completion, suggestions, definition inspections, etc. are not working because the Java Language Server is returning an empty response on all requests. Important to note is that I'm using VS Code Remote with WSL.

I'm not sure if the problem lies in the extension or the LS. If it becomes obvious that the problem is in the server, I will create a ticket in that repository.

##### Environmen

[2020-01-17 01:32] akosyakov opened #1242 "insufficient error logging for diagnostic"
We are running this extension in Gitpod and users start reporting crashes with https://github.com/gitpod-io/gitpod/issues/1073 While trying to investigate we could not find any traces of the extension logging errors during the incident. It only helped to ask a user to enable verbose tracing.

Would it be possible to use [Window.logMessage](https://microsoft.github.io/language-server-protocol/speci

[2020-01-17 02:44] nqminhuit opened #1243 "[Question] Can I change default javadoc value of the class?"
Every time I generate a new class in java, the default javadoc is just a repeated of the class name:
[code]
Can I change this value, e.g. author name
[code]
or completely remove it?

Thank you for your time!

[2020-01-17 04:09] #1239 closed

[2020-01-17 04:20] Eskibear commented on #1236
I tried limiting the search scope to current workspace root, and did a simple test with a workspace containing 6 projects, and it turned out to be a big performance boost.

### Before
`workspace.findFiles("*.java", undefined, 1);`
`workspace.findFiles("{src, test}/**/*.java", undefined, 1);`
[code]

### After limiting search scope with a RelativePattern
`workspace.findFiles(new RelativePattern(roo

[2020-01-17 06:48] akaroml opened #1246 "Improve error message when moving types"
When moving a class, an error message appears when the target already exists:
![image](https://user-images.githubusercontent.com/16755094/72590189-20d4f300-3938-11ea-8817-87cf74da4a34.png)

Users have to expand to see the real error, and reading the exception is painful.

In this case, a clearer error message could be provided. @testforstephen could you help improve that?

[2020-01-17 06:59] #1227 closed

[2020-01-17 07:12] Rasul-Esmaeilbeigi commented on #1206
I have the same issue, tried almost every option, but could not resolve it. Unfortunately, I could not share the actual project or reproduce the issue on a smaller instance.

Environment
Operating System: Ubuntu 18.04
Openjdk: "11.0.5"
Visual Studio Code version: 1.41.1
Java version: 8

Note quite relevant, but as a feature, it would be great to improve the option "Add Folder To Java Source Path"

[2020-01-17 09:49] akosyakov commented on #1242
Root cause of the crash was that lombok extension was uninstalled from the disk, but user settings `java.jdt.ls.vmargs` still points to `-noverify -Xmx1G -XX:+UseG1GC -XX:+UseStringDeduplication -javaagent:\"/tmp/vscode-extensions/GabrielBB.vscode-lombok@0.9.9/extension//server/lombok.jar\"`. Not sure whether the java extension could check whether javagent file actually exist on the disk before ap

[2020-01-17 09:53] fbricon commented on #1242
vscode-java doesn't append the lombok javaagent to vmargs. It's done by the GabrielBB.vscode-lombok automatically.
But sure, we might be able to validate javaagents paths before launching the server and display an error is the agent is missing.

[2020-01-17 10:09] akosyakov commented on #1242
@fbricon Is there a way to improve error logging or showing errors to a user? It was a bit of hassle to get the error.

[2020-01-17 10:15] fbricon commented on #1242
not sure why it doesn't work, but the error logs are supposed to open when the server fails to start. cc @akaroml

[2020-01-17 10:18] akosyakov commented on #1242
ok, will check maybe issue in Theia implementation of output API

[2020-01-17 16:44] anthonyvdotbe opened #1247 "Allow opening Javadoc in browser"
I often want to view the Javadoc in the browser for easier reading, or to read package/module documentation (which afaik isn't easily viewable somehow inside VS Code).

##### Environment
- Operating System: Windows 10
- JDK version: 13.0.1
- Visual Studio Code version: 1.41.1
- Java extension version: 0.55.1

##### Steps To Reproduce
option 1:
1. hover over an element

option 2:
1. trigger autocom

[2020-01-17 17:34] bverkron commented on #618
This is becoming a huge problem for me as well. Going to have to disable / uninstall the plugin until this is resolved. Shame.

[2020-01-18 00:52] hashdelta opened #1248 "Multi-module Maven project does not work"
I created a multi-module Maven project and tried to open the root folder in Visual Studio Code. When I try to work with any of the sub-modules, I do not get any linting, formatting, refactoring, etc... I tried `Add Folder to Java Source Path` but that does not work either. I have no issues working with this project in other IDE's, including Eclipse.

##### Environment
- Operating System: Windows 1

[2020-01-18 01:07] snjeza commented on #1248
I can't reproduce the issue.
Can you attach server logs? See https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#turn-on-message-tracing-between-vs-code-and-the-java-language-server

[2020-01-18 01:38] hashdelta commented on #1248
Attached the server log.
[vscode-server.log](https://github.com/redhat-developer/vscode-java/files/4079835/vscode-server.log)

[2020-01-18 01:45] hashdelta commented on #1248
@snjeza It looks like clearing the workspaceStorage fixed my issue. Does this deserve a close?

[2020-01-18 17:22] snjeza commented on #1248
@hashdelta yes, you can close the issue.

[2020-01-18 22:01] maxandersen opened #1249 "paste a multi-line string should create a java string"
try paste this into a string, i.e. between two quotes "":

[code]

in eclipse it becomes a valid java string in vscode it generates non-compilable code.

Would be great if vscode could help here :)

[2020-01-19 06:28] Eskibear commented on #1240
https://github.com/microsoft/vscode-java-dependency/releases/tag/0.8.0

See if it's what you want.

[2020-01-19 06:30] jdneo commented on #1240
@carlitador Is your project an `Eclipse project`?

[2020-01-19 06:57] akaroml commented on #1225
This specific issue is tracked by #618
We received a lot of complaints about the Java LS generating files in the repository. The notification is a workaround we provided to ease the pain a bit.
We'll revisit this in the first half of 2020.

[2020-01-19 06:59] akaroml commented on #1226
@testforstephen let's see if the formatting could work when there are syntax errors.

[2020-01-19 16:32] anothernode commented on #177
In my Gradle based project I was able to fix the problem that VS Code complains about a missing generated class by explicitly adding the directory of the generated classes to the source sets in the Gradle config:

[code]

[2020-01-20 08:04] carlitador commented on #1240
I think it is.
I created a Java project inside vscode and I have some settings files mentioning eclipse inside. So I suppose it is the case.
Thank you

[2020-01-20 08:23] jdneo commented on #1240
@carlitador

If you triggered `Create Project` in VS Code, it will generate an `Eclipse` project for you. But the `"java.project.referencedLibraries"` won't work in Eclipse project.

I think you can just create an **empty** folder and put your java files inside that folder. By default, the Language Server will [add all `jar`s inside the `lib` folder into the project's classpath](https://code.visua

[2020-01-20 08:35] carlitador commented on #1240
I just tried that. I don't have errors when importing (not red lines under "import lib") but I don't have access to any attributes or methods of the objects coming from these lib...
Any idea?
Thank you

[2020-01-20 08:43] jdneo commented on #1240
Could you please share the `settings.json`? Also, is there anything suspicious in the Language Server's output channel?

[2020-01-20 09:26] carlitador commented on #1240
Here is the settings.json:
`{
    "java.dependency.syncWithFolderExplorer": true
}`

The language server's output channel asks:
"Do you want to exclude the vscode java project settings file (.classpath, .project, .settings, .factorypath)"
And also says:
"Classpath is incomplete. Only syntax errors will be reported"

[2020-01-20 15:40] jessefarinacci opened #1251 "please support @SuppressWarnings({"foo", "bar"})"
Other Java IDEs support the ability to suppress specific warnings in source code via the `@SuppressWarnings` annotation. Please extend the vscode-java project with the same ability, it is quite useful and a de facto standard.

##### Environment
- Operating System: *
- JDK version: *
- Visual Studio Code version: *
- Java extension version: *

##### Current Result

Warnings are shown even when the

[2020-01-20 18:30] #1236 closed

[2020-01-21 03:15] jdneo commented on #1240
@carlitador

Since you get the notification: `"Do you want to exclude the vscode java project settings file (.classpath, .project, .settings, .factorypath)"`, I guess you are still in an Eclipse project.

Please make sure the empty folder is just created manually by yourself, which means, it's literally new and  empty. Then you can copy your files/libs into it.

If the project is created from the

[2020-01-21 09:06] carlitador commented on #1240
I am sure I started from a new empty folder manually. I've just a java script inside, the libraries, thats all.

[2020-01-21 09:54] jdneo commented on #1240
Hmm, the folder structure looks fine to me. Not sure what's wrong happening 🤔

@testforstephen Do you have any idea?

[2020-01-22 14:49] rubensa commented on #1187
I ended with this configuration in my **build.gradle** so **gradle** build on "**build/gradle**" and eclipse on "**build/eclipse**":
[code]

[2020-01-22 16:38] dlandis commented on #618
Hi,

What is the complete list of workspace settings I need in order to totally prevent the generation/updating of any of those project files for a particular workspace?

For example, is this sufficient ?
[code]

**My use-case:** For one particular project I use Eclipse for Java and and VSCode for other languages. When I open the workspace in VSCode I don't want it to start overwriting all my `.cl

[2020-01-23 14:41] carlitador commented on #1240
Hi jdneo,
Seemed to be a problem with my JDK on Linux Mint. Just installed JDK 13 and it works fines now.
Sorry for that
Cheers

[2020-01-23 14:41] #1240 closed

[2020-01-24 04:15] prasada7 commented on #1062
I had the same problem on my Mint. The problem was fixed after I reinstalled openjdk-11.
I used the following command. Should work for Ubuntu as well.
`sudo apt install openjdk-11-*`

[2020-01-24 15:21] #1208 closed

[2020-01-24 16:43] GabrielBB opened #1253 "Lombok support documentation is not being specific"
The [Lombok Support documentation](https://github.com/redhat-developer/vscode-java/wiki/Lombok-support) says this:

I would like to know which "Old versions of Java" need that argument

[2020-01-24 20:58] rustyx opened #1254 "Quick fix to create a local variable"
This is a request to implement quick fix / refactoring shortcuts for

* Create local variable
* Create field
* Create parameter

Like it is done in Eclipse:

![eclipse quick fixes java](https://rustyx.org/temp/eclipse-java-create-local-variable.gif)

##### Steps To Reproduce

1. Write `int x = 1; y = x;`
2. Place the cursor at `y`, press `Ctrl`-`.`

##### Current Result

* Change modifiers to fina

[2020-01-25 23:42] NikolasKomonen commented on #1209
Found the issue.

This is the test data:
[code]

It seems that (vscode-implemented) Markdown rendering is picky when it comes to indentation/newlines
[code]
The above works because there are 2 '\n' before the table, but the following doesn't work:
[code]

because it has '\n' > 2.

-----
Separately, in Eclipse and on Git, the Markdown is rendered properly (even when you have the extra newlines befo

[2020-01-26 03:14] ccarv commented on #1248
@snjeza Revisiting this,. What is the proper way to initialize a new maven sub module in VSCode? I am manually creating the POM and folder hierarchy, and VSCode does not recognize it unless I clear the workspaceStorage directory, which is a non-solution.

[2020-01-26 15:54] snjeza commented on #1248
Related to https://github.com/eclipse/eclipse.jdt.ls/pull/901
@ccarv could you try https://github.com/snjeza/vscode-test/blob/master/java-0.56.1.vsix?raw=true

[2020-01-27 01:04] LinsaFTW opened #1256 "False error on For Each"
[provide a description of the issue]

##### Environment
- Operating System: Windows 10
- JDK version: Java 8 8u241
- Visual Studio Code version: 1.41.1
- Java extension version: 0.55.1

##### Steps To Reproduce
1. Create the code mentioned above.
2. Enjoy

https://prnt.sc/qt9757
https://prnt.sc/qt98fq

##### Current Result
It shows this as an error.
https://prnt.sc/qt9757
https://prnt.sc/qt98fq

#

[2020-01-27 01:08] #1256 closed

[2020-01-27 01:09] LinsaFTW commented on #1256
I close this because i just figured out i forgot to add a } im really sorry.

[2020-01-28 08:17] #824 closed

[2020-01-28 15:20] sunix commented on #455
@fbricon any idea if this is fixed ?

[2020-01-28 15:41] fbricon commented on #455
@sunix we haven't changed anything. @snjeza was able to successfully use truststore through the jdt.ls.vmargs, so until we find a way to reproduce the issue or someone comes up with a contribution that demonstrably fixes it, then I'm afraid we can't be super helpful.

[2020-01-28 15:44] sunix commented on #455
OK :) I can reproduce it ... running VSCode-java in Che.

[2020-01-28 16:13] snjeza commented on #455
@sunix could you, please, describe how to reproduce the issue.

[2020-01-28 16:29] sunix commented on #455
@snjeza not visible for non redhatter yet https://docs.google.com/document/d/1PHcEn3zZHqprRN-ATr11OBlRyTAwiv4knXVYRbKqGUA/edit?usp=sharing
This a doc where I am documenting how to setup Che and Maven with private repositories and self signed certificate. I will see if I can make it public but basically:
- Installed and configured Nexus in openshift 4.2 through the operator.
- Populate the repo wit

[2020-01-28 19:32] hitoshisatow commented on #531
This also seems like the last piece for me as well to make VS Code viable for development. I am unable to run Java Junit classes that reference a Kotlin class as it is not able to find the class.

[2020-01-28 22:03] spottedmahn commented on #1235
I can't unfortunately.  Doesn't the log help identify the problem?  If not, maybe more info can be logged so it can get tracked down?

[2020-01-29 08:33] tsmaeder commented on #455
@fbricon this is relevant for air-gapped scenarios in the imminent CRW 2.1 release. Is there a possibility to get a fix for this soon?

[2020-01-29 08:53] fbricon commented on #455
@tsmaeder now that @snjeza has more info to investigate, if she can find a fix, we'll apply it ASAP

[2020-01-29 19:14] jmbockhorst opened #1257 "Completion result limit causes items to not be found"
Because of the new completion result limit of 50, items that are not in the initial list are not found when the list is narrowed down. If the limit is removed, it works as intended. At first I thought this was due to intellicode and reported here: https://github.com/MicrosoftDocs/intellicode/issues/164

##### Environment
- Operating System: Windows_NT x64 10.0.19546
- JDK version: 1.8.0_202
- Visu

[2020-01-29 19:29] fbricon commented on #1257
Can you provide a sample project reproducing the error? So we compare with similar classpaths.
Are you certain disabling intellicode doesn't change anything?

[2020-01-29 19:33] fbricon commented on #1257
Ok that's an issue we discussed already with @akaroml and his team. We need to introduce an extension point for 3rd party ranking strategies (intellicode) to be called from the full search result list.

[2020-01-29 19:34] jmbockhorst commented on #1257
Disabling intellicode does fix it, which is why I initial made the issue there.

[2020-01-30 01:38] nqminhuit commented on #1243
Hello,

Could anyone provide me a hint on this issue?

Many thanks

[2020-01-31 09:42] snjeza commented on #455
m2e uses the okhttp client that verifies verifies a hostname as described at https://www.ietf.org/rfc/rfc2818.txt.

@sunix could you try the following:

[code]

instead of

[code]

[2020-01-31 17:34] NikolasKomonen commented on #1243
If I understand correctly, you want to add 'author' into your javadoc?

Yes you can, it is optional and will not be an issue if you remove it.

[2020-02-01 11:28] JoeyRxy opened #1258 "Java Suggestion Details doesn't work right sometimes."
##### Environment
- Operating System: Win10 x64
- JDK version: JDK13 or 11
- Visual Studio Code version: 1.41.1
- Java extension version: 0.55.1

##### Steps To Reproduce
I don't know whether other methods' suggestion detail is wrong, I found this bug just now in `LinkedList`.
1. [step 1]  make a instance `list`  of `LinkedList`
2. [step 2] type `list.add`. While you typing, suggestions pop up (or

[2020-02-01 11:31] JoeyRxy commented on #1258
The Screenshots :
![the screen shot 1](https://github.com/JoeyRxy/projects/blob/master/GraphTheory/Snipaste_2020-02-01_19-02-13.png)

![2](https://github.com/JoeyRxy/projects/blob/master/GraphTheory/Snipaste_2020-02-01_19-01-21.png)

![3](https://github.com/JoeyRxy/projects/blob/master/GraphTheory/Snipaste_2020-02-01_19-00-37.png)

[2020-02-01 14:01] #571 closed

[2020-02-01 20:13] NikolasKomonen commented on #1254
Looks like its already there. I see the confusion though because you have to specifically click the variable and then the lightbulb will give the correct quickfixes

![variable](https://user-images.githubusercontent.com/32624665/73598348-44d23000-4505-11ea-9a0b-0566266ab260.gif)

[2020-02-01 20:43] rustyx commented on #1254
OK thanks. I have *never* seen these appear for me.

For me these appear only after saving the document, and even then after a delay of about a second or sometimes never at all. I don't save files that I know won't compile, hence I have never seen these.
In Eclipse the quick fix is available as soon as I type a valid statement, without having to save anything.

Also if the mouse pointer is nearby,

[2020-02-02 04:55] nqminhuit commented on #1243
No, I mean the default javadoc when generating new class, we don't want to have the class name in javadoc by default instead we need the author by default, not to have every time delete the class name in javadoc and re-enter the author.

[2020-02-03 14:00] Afshinzkh opened #1259 "Code Navigation doesn't work with gradle project"
When using a gradle project the code navigation does not work at all.
Not with cmd + click and not with F12.
It says 'no Definition found for 'name of class'

This works with a maven project and j11 but not gradle and j8.

I have a multi module gradle project and it has a big build.gradle file.

##### Environment
- Operating System: Mac 10.14.6
- JDK version: openjdk version "1.8.0_242"
- Visual S

[2020-02-03 14:53] Afshinzkh commented on #1259
It actually doesn't matter what java version I have. even with 11 with a gradle project it doesn't work

[2020-02-04 02:27] snjeza commented on #1259
@Afshinzkh Could you, please,  attach a project example?

[2020-02-04 07:39] #435 closed

[2020-02-04 09:32] Afshinzkh commented on #1259
https://github.com/jabedhasan21/java-hello-world-with-gradle

This is a simple project I just found on internet. I have installed the whole java extention pack and none of them work. ( dependencies, debugger and the redhat)
Also just the redhat alone doesn't work.

[2020-02-04 16:28] fbricon commented on #1226
Works as intended. The method in which there's a missing semicolon won't be formatted, but the rest of the file will be (provided there are no other syntax errors.
![Feb-04-2020 17-27-23](https://user-images.githubusercontent.com/148698/73764667-b44d5700-4773-11ea-85e7-be57a2254148.gif)

[2020-02-04 16:28] #1226 closed

[2020-02-04 20:30] spottedmahn opened #1261 "Format Switch Statement"
##### Environment
- Operating System: WSL 1 on Win 10
- JDK version: 11.0.5 2019-10-15
- Visual Studio Code version: 1.41.1
- Java extension version: 0.55.1

##### Steps To Reproduce
1. Add a `switch` statement format the document

[sample project](https://github.com/spottedmahn/experiments-2020/blob/format-switch-issue/java-tests-issue/src/main/java/miked/javatestsissue/Library.java)

##### Curre

[2020-02-04 22:04] #1224 closed

[2020-02-05 06:18] RushOT commented on #542
Thanx that helps)

[2020-02-05 10:58] sunix commented on #455
thanks @snjeza I am currently testing it.

[2020-02-05 11:41] nistvan86 commented on #641
What is the current status on this? There's some work merged here https://github.com/microsoft/vscode/pull/85830
but I see an open ticket for a language server protocol extension https://github.com/microsoft/language-server-protocol/issues/873

[2020-02-05 16:12] sunix commented on #455
@snjeza
[code]

[code]

[2020-02-05 18:34] snjeza commented on #455
@sunix I have used
[code]

[2020-02-05 19:11] snjeza commented on #1261
@spottedmahn You can try to set the following property:

[code]

to <your_project>/.settings/org.eclipse.jdt.core.prefs or your formatter file.
See https://github.com/redhat-developer/vscode-java/wiki/Formatter-settings

[2020-02-05 19:16] spottedmahn commented on #1261
thanks for the reply!

No luck though 🤷‍♂️.  I also closed and reopened VSCode just incase.

![image](https://user-images.githubusercontent.com/14079228/73874700-f92fc700-4821-11ea-8b1f-09632ec6c7f3.png)

[2020-02-05 19:29] snjeza commented on #455
@sunix you can try the following command and openssl 1.0.2:

[code]

[2020-02-05 19:32] snjeza commented on #1261
@spottedmahn could you use
[code]
instead of
[code]

[2020-02-05 19:37] spottedmahn commented on #1261
Oh, I should pay closer attention to the details 😜

GTG 🎉, thanks! 🤝

![image](https://user-images.githubusercontent.com/14079228/73876379-e4a0fe00-4824-11ea-9873-57ecf51ec907.png)

![image](https://user-images.githubusercontent.com/14079228/73876420-eff42980-4824-11ea-815e-773b667e0780.png)

[2020-02-05 20:06] fbricon commented on #1261
@snjeza can you please make it the default setting in jdt.ls. Current formatting of switch cases makes no sense at all.

[2020-02-05 20:09] spottedmahn commented on #1261
Glad I don't stand alone! 😀

[2020-02-05 20:55] fbricon commented on #1261
There's a rationale for not indenting cases: https://stackoverflow.com/questions/4509039/why-the-strange-indentation-on-switch-statements

But I still find it hurts my eyes. Also Oracle's doc on switch shows indentation: https://docs.oracle.com/javase/tutorial/java/nutsandbolts/switch.html.

The google formatter does the same:
https://google.github.io/styleguide/javaguide.html#s4.8.4-switch

Intel

[2020-02-05 20:58] ZinoKader commented on #623
I'm having the same issue, only for switch blocks. The cases are at the same indentation level as the switch block.

[2020-02-05 21:01] fbricon commented on #623
@ZinoKader see #1261

[2020-02-06 07:22] Harvtronix commented on #1257
I am hitting this 50 entry limit issue as well.

To reproduce:
- In a Java file, type `java.nio.file.Files.` and expect to see `readAllBytes`, `readAllLines`, etc..., but list ends at `probeContentType`.
- Typing `java.nio.file.Files.read` only shows 3 entries, none of which are readAll*.
- If I then click off and back on the line (to make the autocomplete window disappear) and then type "a" at th

[2020-02-06 08:42] omokolataiwo commented on #1072
You also need to increase the value of Java>Completion:Max Results. It is defaulted to 50 for performance reasons.

[2020-02-06 08:48] #1261 closed

[2020-02-06 11:39] sunix commented on #455
thanks, I have tried with the last command and Che but it fails ... i need to try again with VSCode to be able to tell you if this is a problem in our side or your side.

[2020-02-06 13:19] pyramid-johng opened #1263 "Maven and Java "auto build" and Maven profiles"
When you have a POM with multiple profiles, there seems to be no way to tell M2E what profile to build with.  It will only build the profile that has "active by default" attached to it.  if there is no such profile, the build output is incomplete.

Also, when running MVN build in the terminal on a different profile, the "auto build" may kick in and modify the "target" folder simultaneously with th

[2020-02-06 14:42] spottedmahn commented on #1261
After reviewing [the PR](https://github.com/eclipse/eclipse.jdt.ls/pull/1343) it makes more sense.  It's **not** that someone said "default it this way".  It's that **it was missed**.

Thanks for fixing the default!

[2020-02-06 15:16] fbricon commented on #1261
someone said "default it this way" -> that someone is Eclipse JDT. Our fix overrides JDT's default

[2020-02-06 23:44] snjeza commented on #1263
@pyramid-johng you can try to add the following property:

[code]
to <your_project>/.settings/org.eclipse.m2e.core.prefs

[2020-02-07 14:03] snjeza commented on #455
Maven CLI doesn't verify a hostname. I think, it is a security hole in Maven CLI.
@fbricon we could add a property to the aether-connector-okhttp project to skip hostname verification.

[2020-02-07 14:06] sunix commented on #455
I think we just need to document it well in a doc or a FAQ rather than adding a property to skip it.

[2020-02-07 19:35] snjeza commented on #455
That has to be done in the aether-connector-okhttp project. The preference would be added to java.jdt.ls.vmargs. @fbricon What do you think?

[2020-02-08 04:45] JoeyRxy commented on #1258
Hi? Does anyone notice this bug? I think we should attach importance to this bug of a primary function.

[2020-02-09 11:52] anthonyvdotbe opened #1264 "Text block breaks syntax highlighting as soon as 3 quotes appear inside the text block"
As soon as a text block contains 3 double quotes, the rest of the file is colored as if it were part of the text block (but there's no compilation errors & things like autocompletion etc. work, it's just syntax highlighting that breaks).

##### Environment
- Operating System: Windows 10
- JDK version: 13.0.1
- Visual Studio Code version: 1.42.0
- Java extension version: 0.55.1

##### Steps To Repr

[2020-02-11 02:31] dragondove commented on #1257
![limit items](https://user-images.githubusercontent.com/24190403/74207204-8909c100-4cb9-11ea-8099-8132e72329a5.png)
A simple way to reproduce is to input new FileInputStream().

[2020-02-11 12:43] anthonyvdotbe commented on #1258
Another example:
![image](https://user-images.githubusercontent.com/15714253/74237679-65a03f80-4cd4-11ea-9236-313088ed7b9b.png)

[2020-02-11 12:57] anthonyvdotbe opened #1265 ""No suggestions" for autocompletion inside a lambda"
Sometimes autocompletion is unable to provide suggestions inside a lambda

##### Environment
- Operating System: Windows 10
- JDK version: JDK 13
- Visual Studio Code version: VS Code 1.42.0
- Java extension version: 0.55.1

##### Steps To Reproduce
Copy-paste the code below in a Java file & try autocompletion. Note that autocompletion does work on the line outside the lambda.

[code]

##### Curre

[2020-02-11 16:09] Yiotis98 commented on #1257
![screenshot](https://user-images.githubusercontent.com/57769091/74254702-7ca55880-4cf9-11ea-83f3-2a05b141dd7c.png)

It happens also at my javafx application.

[2020-02-11 19:19] snjeza commented on #1265
You have to add:

[code]

[2020-02-11 20:02] anthonyvdotbe opened #1266 "No error for missing import"
As a follow-up to #1265: sometimes there's no error reported for a missing import

##### Environment
- Operating System: Windows 10
- JDK version: JDK 13
- Visual Studio Code version: VS Code 1.42.0
- Java extension version: 0.55.1

##### Steps To Reproduce
Copy-paste the code below in a Java file. Note that there's no error reported for the missing import of `java.util.List`

[code]

##### Curren

[2020-02-11 20:11] anthonyvdotbe commented on #1265
Thanks for pointing out the missing import, I filed a separate issue for the fact that there's no error given for it.

However, I believe autocompletion should still work in this case, and be much more robust in general, even if the code contains syntax errors. For example in NetBeans (which I"ve been using for years and is far more robust in this regard), the example correctly marks the missing i

[2020-02-11 20:28] snjeza commented on #1266
I can't reproduce the issue.

![1266](https://user-images.githubusercontent.com/388609/74276013-378f1f80-4d15-11ea-8ca1-a43a12761131.gif)

Could you attach a project example?

[2020-02-11 20:33] snjeza commented on #1265
We are using Eclipse JDT that behaves the same way.

[2020-02-11 20:38] snjeza commented on #1265
@anthonyvdotbe you can enter a new bug at https://bugs.eclipse.org/bugs/enter_bug.cgi?product=JDT

[2020-02-11 23:24] atg22896 opened #1267 "Failed to configure project - Cannot nest output folder"
I am unable to open a gradle project in VS Code without the below error message occurring. It prevents the java imports from processing properly, as it says they cannot be found.

`[Error - 6:14:53 PM] Feb 11, 2020 6:14:53 PM Failed to configure project extension-project-starter
Cannot nest output folder 'extension-project-starter/bin/main' inside output folder 'extension-project-starter/bin'
Java

[2020-02-12 00:17] snjeza commented on #1267
@atg22896 Could you attach a project example?

[2020-02-12 01:20] atg22896 commented on #1267
@snjeza It's a work project, so I can't exactly share it.

[2020-02-12 01:26] atg22896 commented on #1267
But I can open the project in IntelliJ with no issue. It imports everything just fine.

[2020-02-12 02:29] snjeza commented on #1267
@atg22896 you could check https://github.com/eclipse/buildship/issues/811

[2020-02-12 04:06] liudonghua123 commented on #641
I also like this feature

[2020-02-12 04:42] ditordccaa commented on #690
I had the same problem. What I did additionally is setting the environment variable too.
export JAVA_HOME=C:/Program Files/Java/jdk1.8.0_131
and it worked.
Cheers,

[2020-02-12 05:08] atg22896 opened #1268 "Unverified Breakpoint"
Should I be able to place a breakpoint on any line of code?

<img width="1680" alt="Screen Shot 2020-02-12 at 12 06 17 AM" src="https://user-images.githubusercontent.com/33287665/74304668-b42cf880-4d2b-11ea-984a-1d6402928884.png">

As the image shows, the breakpoints on lines 46 and 47 are grey and unverified, and do not stop the code, while the lines which are red are working as expected.

[2020-02-12 05:16] atg22896 commented on #1267
@snjeza This does actually seem to be a nested folder issue. Under src -> main -> resources -> templates there is another project structure, with another (src -> main / test) folder structure. A whole other gradle project nested. When I delete the (templates) folder, clean everything up, and restart VS Code, it all works fine.

My settings.json is as follows:
`{
    "files.exclude": {
        "**/

[2020-02-12 06:20] testforstephen commented on #1268
`Unverified` means not supported. Currently only support breaking on method implementation, not support method declaration and annotation.

The progress about function breakpoint is tracked with issue https://github.com/microsoft/vscode-java-debug/issues/258

[2020-02-12 06:20] #1268 closed

[2020-02-12 10:49] carlitador opened #1269 "Build JAR: package x does not exist"
Hi,

I have a java project including a lot of external JAR libs. (I use a symbolic link to put them in the lib folder to save some space...)
![image](https://user-images.githubusercontent.com/31945985/74327909-4d402b80-4d8d-11ea-90f1-602b9fe7b0e0.png)
Everything seems to work fine if I try to run the code inside vscode using the "run" command above my main class.
However, If I try to use the comma

[2020-02-12 12:08] anthonyvdotbe commented on #1266
Most likely it's because I was using a stand-alone file, and so had an "[incomplete classpath](https://github.com/redhat-developer/vscode-java/wiki/%22Classpath-is-incomplete%22-warning)", isn't it? If so, you can close this issue.

[2020-02-12 17:16] #1266 closed

[2020-02-12 17:28] snjeza commented on #1267
You have already used the java.import.exclusions property.

[2020-02-12 17:50] atg22896 commented on #1267
If that is all that is needed, why does it seem to ignore the exclusions and continue to fail because it tries to read this second project?

[2020-02-12 18:06] snjeza commented on #1267
You could try to call _Java: Clean the Java language workspace_.

[2020-02-12 18:11] atg22896 commented on #1267
I've tried that a thousand times. I still get the same error listed in my first post. Even with the exclusion property listed, it still tries to read into the nested folder and then fails. Explicitly deleting the templates folder and cleaning allows everything to run fine.

[2020-02-12 18:34] anthonyvdotbe opened #1270 "Improve support for "standalone file" use cases"
When working with standalone files, the ["Classpath is incomplete"](https://github.com/redhat-developer/vscode-java/wiki/%22Classpath-is-incomplete%22-warning) warning shows up and only syntax errors are reported.

There are several use cases for standalone files, such as:
* working with a Java file to be run in the terminal directly, without any project involved (and without even needing to compi

[2020-02-12 18:36] snjeza commented on #1267
You could try the following settings:
[code]

[2020-02-12 19:08] atg22896 commented on #1267
Neither of those worked. I also tried:
[code]
And that is properly not importing anything, so I get the messages that the Java files aren't on the classpath as one would expect. But even:
[code]
and
[code]
do nothing. I have no problem emailing you the project, I just do not want to post it publicly for all.

I have attached a demo project though. This has a nested project structure and I am attem

[2020-02-12 19:54] snjeza commented on #1267
Could you try the following build.gradle:
[code]

[2020-02-12 20:11] atg22896 commented on #1267
That fixed the errors that were shown. Doing the same thing for my other project doesn't work though, I still get the "Cannot nest output folder () inside output folder ()".

Do you want me to email you the project?

[2020-02-12 20:15] snjeza commented on #1267
Do it, please. My email is snjezana.peco@redhat.com

[2020-02-13 00:16] snjeza commented on #1267
@atg22896 could you try the following:

- close VS Code
- remove or comment the wrapper task
[code]
- upgrade the gradle wrapper
[code]
- add the following to your build.gradle
[code]
- start VS Code

[2020-02-13 02:46] testforstephen commented on #1266
@anthonyvdotbe When you open an external Java (aka stand-alone) file in VS Code, we only show syntax errors. The quickfix for missing import won't be enabled. If you want to import all missing types quickly, you can use the global **Organize imports** command (**Shift + Alt + O**) for that.

[2020-02-13 07:18] anthonyvdotbe commented on #1266
@testforstephen Thanks for the tip. While I know about the command, because there are no visual clues that doing **Organize imports** might help, I simply don't think of doing it. I filed #1270 as a follow-up issue to improve support for standalone files.

[2020-02-13 09:57] testforstephen commented on #1270
@anthonyvdotbe thanks for sharing your thoughts on the "standalone file" support. We're revisiting the UX for this part, too.

At first, let me clarify the current support on the "standalone file". The extension provides two kinds of support for the "standalone file".
- Syntax mode - only report syntax error, but still support auto complete and run/debug features

When you open an arbitrary Java f

[2020-02-13 17:54] anthonyvdotbe commented on #1270
@testforstephen thanks for pointing out the existence of Project mode, that's really useful

Yes, a switch for enabling semantic errors would be great.

[2020-02-13 19:34] danielschmitz opened #1271 "Preserve my line breaks between attributes"
How do i preserve my lineBreaks and format identation ate same time?

I have

[code]

and after format got this

[code]

Its sooo uglyyy

how disable this?

btw, //@formatter:off its not a good option to me

##### Environment
- Operating System: Windows
- JDK version: 1.8
- Visual Studio Code version: 1.42.0
- Java extension version:

##### Steps To Reproduce
1. CTRL+ALT+F

##### Current Result

[

[2020-02-13 21:25] snjeza commented on #1271
@danielschmitz you can set the following property:

[code]

See https://github.com/redhat-developer/vscode-java/wiki/Formatter-settings and https://stackoverflow.com/questions/47420149/eclipse-formatting-new-lines-at-each-method-property

[2020-02-13 22:05] danielschmitz commented on #1271
Works, thanks!

[2020-02-13 22:05] #1271 closed

[2020-02-14 10:29] carlitador commented on #1269
Any help...?

[2020-02-14 14:04] tommai78101 opened #1272 "[Feature Request] When renaming code, have option to update relevant references in all places"
#### Description

In large code bases, or code used in many different places, sometimes, we would have to rename the variable names, the package name, change some import packages, and modify the references in all places where those references are used.

It would be nice to have a way to automatically update the references when you want to refactor the code to make naming changes.

Currently, the w

[2020-02-14 22:54] didibus commented on #339
Can someone explain under the hood what vscode-java is doing, so we can reproduce it in other lsp clients? Is this changing the javaagent or bootclasspath args to the jvm like for Lombok? Or is this modifying the .classpath or .settings JDT project ?

[2020-02-14 23:35] snjeza commented on #339
You just need to configure your project properly. Java LS, not vscode-java, will do what is necessary.

[2020-02-15 01:03] msoucy commented on #1132
I and many of my students are seeing the same issue - it's definitely intermittent, but goes away if autoformat is disabled.

[2020-02-15 13:52] fbricon commented on #1272
This is provided by the "rename" feature (F2)

[2020-02-16 07:50] didibus commented on #339
What if I don't use Gradle and don't use Maven?

[2020-02-16 18:30] snjeza commented on #339
@didibus See https://github.com/eclipse/eclipse.jdt.ls/issues/128#issuecomment-282556107 and https://github.com/eclipse/buildship/issues/329

[2020-02-16 19:47] didibus commented on #339
I see, so it seems all the Eclipse JDT server needs is a `.factoryPath` to be configured? Any documentation on that file config?

[2020-02-16 21:12] snjeza commented on #339
https://help.eclipse.org/2019-12/index.jsp?topic=%2Forg.eclipse.jdt.doc.isv%2Fguide%2Fjdt_apt_getting_started.htm

[2020-02-17 00:30] tommai78101 commented on #1272
@fbricon Please give me a chance to verify this on Monday, tomorrow. Thanks.

[2020-02-17 01:33] akaroml commented on #542
The root cause is apt creates wrong symbol link and making the sources missing. And this bug can be closed.

[2020-02-17 01:48] akaroml commented on #1269
It seems like you are building JAR file from the command line. The tool you are using `build-jar`, is not part of this extension and does not necessarily work the same way.

I suggest that you use some build tools like Maven to help manage the source and dependencies. Please take a look at this tutorial to get started:
https://www.baeldung.com/java-create-jar

[2020-02-17 02:47] akaroml commented on #1257
@eskibear is working on a fix to resolve this issue.
To mitigate, you can try either of the following:
1. Disable IntelliCode extension for now.
or
2. Set `java.completion.maxResults` to `0` to not limit the search result count. (could be running slow though).

[2020-02-17 03:07] akaroml commented on #1264
@Vigilans did you merge the syntax highlighting PRs from Atom to VS Code?

And please let us know if this bug is fixed by any of your PRs.

[2020-02-17 03:17] akaroml commented on #1254
@jdneo this could also be a candidate for inferring the proper selection range to provide code actions.

Here, users may look for potential fixes for the problems in the SAME LINE. Now users have to put the cursor right next to the variable name for the fix to appear.

[2020-02-17 03:18] akaroml commented on #1253
@jdneo could you take a look?

[2020-02-17 03:35] akaroml commented on #1249
Since the `Paste` event is now available to extension, we can definitely provide some help here. @jdneo please also help track this in the area of adopting editor events.

[2020-02-17 03:39] akaroml commented on #1247
I agree that a separate window is more efficient to read the docs.

The doc is generated by JDT and rendered by VS Code. For this to happen, we have the following options:
1. VS Code to provide the mechanism to render docs in a separate editor view (like the markdown preview)
2. Java LS to start a webserver and provide a link in the returned result, for users to open in browser...

I dont' see a s

[2020-02-17 03:42] akaroml commented on #1206
@testforstephen  please also take a look.

[2020-02-17 03:49] akaroml commented on #1242
There are different log channels:
1. `Java: Open all log files` command to see the client and server logs, especially for the launching stage
2. Output channel `Langauge Support for Java` to see the logs, for the running stage
3. `Java: Show Build Job Status` command, to see the progress of backend jobs

I understand this is a bit too many choices but first, let's see if any of them could help you

[2020-02-17 03:50] akaroml commented on #1241
@testforstephen could you take a look?

[2020-02-17 03:52] jdneo commented on #1251
The `@SuppressWarnings()` should work. Could you please try annotate with `@SuppressWarnings("deprecation")` instead of `@SuppressWarnings("deprecated")`?

[2020-02-17 03:54] akaroml commented on #1197
As @fbricon mentioned, this is not something that could be easily implemented. We are looking at helping the community to improve the decompiler support.

[2020-02-17 03:55] jdneo opened #1273 "[Feature Request] Provide quickfix for @supressWarnings()"
Some users may [have the requirement to add this annotation](https://github.com/redhat-developer/vscode-java/issues/1251) when there are warnings. We can provide quick fix for them just like the Eclipse has.

[2020-02-17 03:57] akaroml commented on #1273
I request two features:
1. Suppress a warning using a quick fix at the source code level
2. Suppress a category of warnings using a quickfix at the project level

[2020-02-17 07:10] akosyakov commented on #1242
@akaroml the issue is not about that there is no way to get information, the root cause was already found by enable verbose tracing and looking at the output view. But that a user failed to do it on himself. He gets a notification that a language server crashed and that's it. He could resolve it only after failing an issue and getting my help.

[2020-02-17 07:55] akaroml commented on #1242
Thanks @akosyakov, and I could definitely echo that. We had several tries like the Troubleshooting Guide and the item 1 & 3 mentioned above. There will be continued effort to improve this. Ideas and PRs are always appreciated.

[2020-02-17 08:56] carlitador commented on #1269
I am just using the "build jar" command straight away from vscode. The command seems to be:
`rm -rf /mnt/data/work/CDYYY-Dev/star-utils/japyCCM/build-jar && mkdir /mnt/data/work/CDYYY-Dev/star-utils/japyCCM/build-jar && javac -d /mnt/data/work/CDYYY-Dev/star-utils/japyCCM/build-jar /mnt/data/work/CDYYY-Dev/star-utils/japyCCM/src/* && jar cvf /mnt/data/work/CDYYY-Dev/star-utils/japyCCM/build-jar/Ru

[2020-02-17 08:59] testforstephen commented on #1241
@UnrealKazu Could you share the whole log file? You can open the log file via command `Java: Open Java language server log file`.

[2020-02-17 09:34] testforstephen opened #1274 "Support lazy loading invisible project"
Use Case:
1.	Open folder A in VS Code.
2.	Open an external java file B.java.                 ---> the extension will be activated. but because no trigger files from folder A are opened, no invisible project is created.
3.	Open a file C.java under the directory A.     -->  C.java will be linked to the default project. And the user get the warning "classpath is incomplete".

Currently the extension

[2020-02-17 09:35] fbricon commented on #1258
I can reproduce the issue with OpenJDK 13.0.1, both for `List.add` and `Map.of().compute`.

I can see `completionItem/resolve` doesn't return the javadoc for the `List.add` methods, but it works for `List.addAll` This is really, really weird.

[code]

[2020-02-17 09:42] fbricon commented on #1265
Apparently, you don't get the error on the missing List import, because you've opened a standalone java file. See https://github.com/redhat-developer/vscode-java/wiki/%22Classpath-is-incomplete%22-warning

You can try to open the folder containing the Java file instead, and vscode-java will try to make better assumptions and report compilation errors too.

[2020-02-17 09:52] fbricon commented on #1274
+1000. I've been wanting to do that for a long time

[2020-02-17 09:52] akaroml commented on #1269
I'm a bit confused. As far as I know, the "build jar" command does not exist in this extension. Could you please share the screenshots of the following:
1. the actual command you are using
2. a list of java extensions that you are using

[2020-02-17 09:55] fbricon commented on #1265
Sorry I've been catching up on emails, so I'm a bit late to the party. Now I see you got https://github.com/redhat-developer/vscode-java/issues/1266

[2020-02-17 10:13] testforstephen opened #1275 "Enable syntax mode when opening a sub folder of a maven/gradle project"
Use Case 1:
1. Open a `src/` folder of an existing maven/gradle project.
2. The extension will manage the folder with an invisible project. Because the extension didn't handle the maven/gradle dependency, it may show lots of compilation errors.

Use Case 2:
1. Open a special package folder of an existing maven/gradle project, for example, `spring-petclinic/src/main/java/org/springframework/samples

[2020-02-17 10:44] carlitador commented on #1269
I am typing ctrl + shit +p and selection the build JAR command as following:
![buildjar](https://user-images.githubusercontent.com/31945985/74646583-70e2e780-517a-11ea-821e-700e57248569.png)

When I click on it, a console appears in vscode and the following command is executed automatically:
![image](https://user-images.githubusercontent.com/31945985/74646564-688aac80-517a-11ea-8119-0c09445f5db9.p

[2020-02-17 11:59] carlitador commented on #1269
I tried many options:
- Starting with the "create java project" tool directly from vscode.. This way doesnt even recognize the external libraries I put in the "lib" folder while I am coding...
- And I dont really understand how to setup a Maven project simply...

Can it be as simple as using a folder with .java files and external .jar libs... Please?

[2020-02-17 13:24] jessefarinacci commented on #1251
My apologies, I had `deprecated` and not `deprecation` as is documented. Changing it to `deprecation` does indeed silence the warnings. Thanks for your help, closing.

[2020-02-17 13:24] #1251 closed

[2020-02-17 13:46] spottedmahn opened #1276 "Intellisense / autocomplete list incomplete"
The autocomplete listing on the Elasticsearch `RestHighLevelClient` is incomplete.

##### Environment
- Operating System: Win 10 v1909
- JDK version: openjdk version "11.0.5" 2019-10-15
- Visual Studio Code version: 1.42.1 (user setup)
- Java extension version: version: 0.55.1

##### Steps To Reproduce
1. Start a project w/ the [Elasticsearch RestHighLevelClient](https://www.elastic.co/guide/en/el

[2020-02-17 14:20] UnrealKazu commented on #1241
@testforstephen No problem, I've create a [pastebin](https://pastebin.com/HP5EUR3b) with a log of my session today re-creating the bug. As you can see, halfway through the log an exception is logged.

[2020-02-17 15:15] fbricon commented on #1276
The completion list is limited to 50 items by default, for performance purposes. You can either continue typing `client.s`, to fetch the next matching results or increase the `java.completion.maxResults` preference value. See https://github.com/eclipse/eclipse.jdt.ls/pull/1298 for more details.

[2020-02-17 15:16] 0y0y opened #1277 "Custom color for arguments used in method body"
It's not possible to identify arguments used in the method body. So we can't use the same color for better code readability.

##### Environment
- Operating System: windows10
- JDK version: Oracle 10.0.2
- Visual Studio Code version: 1.42.1
- Java extension version: 0.55.1

##### Current Result
![image](https://user-images.githubusercontent.com/18117142/74665813-ad293e80-51a0-11ea-89f9-5a3f27339cec

[2020-02-17 15:19] fbricon commented on #1277
The textmate grammar is defined in [vscode itself](https://github.com/microsoft/vscode/blob/master/extensions/java/syntaxes/java.tmLanguage.json), but the source of the grammar is actually atom, so the problem should be reported there: https://github.com/atom/language-java/issues

[2020-02-17 15:27] spottedmahn commented on #1276
Fair enough.

What about an **indicator** that the list is **incomplete**?  As a newbie to Java w/ VS Code it is not obvious, at least not to me!

And on that "incomplete list indictator", what about a "load all option"?

---

And thanks for the super quick reply! ⚡🤝

[2020-02-17 15:34] fbricon commented on #1276
Not sure that is possible with vscode. We'll look into it.

[2020-02-17 15:56] 0y0y commented on #1277
Ok thanks.

https://github.com/atom/language-java/issues/222

[2020-02-17 15:59] tommai78101 commented on #1272
@fbricon

I can confirm it is not supported.

![image](https://user-images.githubusercontent.com/6444116/74669037-61f93680-5174-11ea-8448-6fe61849775b.png)

I wondered if I'm doing it wrong?

[2020-02-17 16:07] fbricon commented on #1272
That's strange, it works for me. Could you [turn on verbose logging](https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#turn-on-message-tracing-between-vs-code-and-the-java-language-server) and attach the output view log here (from a clean vscode start)?

[2020-02-17 16:14] tommai78101 commented on #1272
@fbricon

I saw this in the logs. I wondered if it's related.

[code]

[2020-02-17 16:18] fbricon commented on #1272
Doesn't seem related. We're interested in the `document/prepareRename` call, which shows no exception. Can you please try with verbose logging?

[2020-02-17 16:29] tommai78101 commented on #1272
@fbricon I restarted VS Code for a second time, and it now sort of worked. Once renamed, only the contents of the Java file is updated, but the file name can't be renamed, unless the updated file content is saved first.

1. File is saved beforehand.
2. Attempt to rename the reference by pressing F2.
3. Content of the file and the file name are updated.
4. I must save this file, otherwise the next

[2020-02-17 16:30] #1272 closed

[2020-02-17 17:54] DaveRainbowin opened #1278 "I would not like to build a project?"
The error console keeps saying "Project 'Cryptos_7756ffc6' is missing required source folder: '_/Code/Java'" and "The project cannot be built until build path errors are resolved".
I would not like to make a project. How do I get rid of the error?

##### Environment
- Operating System: Windows 10
- JDK version: 11
- Visual Studio Code version: 1.42.1
- Java extension version: 0.55.1
##### Steps To

[2020-02-17 19:01] Mihai-MCW commented on #937
I can almost always reproduce the issue when I do the following:
- create a random variable:
`int whatever = 0;`
- write the print statement
`System.out.println();`
- write something random in the paranthesis
`System.out.println(random);`
- make sure to have no spaces, then go at the beginning of the random word you wrote and put in the variable you created using "this"
`System.out.println(this.ra

[2020-02-17 19:05] fbricon commented on #937
You can set `"java.completion.overwrite": false` in your settings

[2020-02-17 19:18] spottedmahn opened #1279 "Trigger to re-generate .classpath file?"
I was having trouble building my project on different branches due to:

I tracked my problem down to `.classpath` file differences [using this clue](https://github.com/redhat-developer/vscode-java/issues/504#issuecomment-380925326).

##### Environment
- Operating System: Win10 v1909 WSL 1 Ubuntu 18.04
- JDK version: openjdk version "11.0.5" 2019-10-15
- Visual Studio Code version: 1.42.1 (user set

[2020-02-17 19:25] spottedmahn commented on #1279
Maybe that's the `Clean the Java language server workspace` command?

![image](https://user-images.githubusercontent.com/14079228/74681373-3cc6f100-5191-11ea-8d1f-fea6e491083b.png)

![image](https://user-images.githubusercontent.com/14079228/74681392-49e3e000-5191-11ea-9005-57c8b87ab930.png)

[2020-02-17 19:29] xels034 commented on #1209
Thanks for the finding, so is this something I should report to the vscode repository? Any chance they would look into that?

Sadly I would need that for a library that I'm using where I'm not in control how they structure their javadocs.

[2020-02-18 01:48] TheMageKing opened #1280 "Imports break on git checkout"
Issue Type: <b>Bug</b>

1. Have a java codebase that is heavy on git branches and 3rd party libraries.  (The repo in question is at github.com/frc999/frc-2020)
2. Switch branches (this always happens if you switch branches in another window: sometimes if you switch within VS code)
3. A random assortments of imports will "not be found", causing errors to show up wherever they are used.
4. To clear

[2020-02-18 02:22] testforstephen commented on #1206
@jaggerwang, i cannot reproduce the issue with your sample project https://github.com/jaggerwang/spring-cloud-in-practice. The springboot dependency can be resolved.
![image](https://user-images.githubusercontent.com/14052197/74698230-10b27b00-5238-11ea-8236-d77e4374c88a.png)

Could you update the Java Language Support extension to the latest version 0.56.0, and try again?

[2020-02-18 02:38] jaggerwang commented on #1206
@testforstephen It's the same.

<img width="1392" alt="截屏2020-02-1810 37 47" src="https://user-images.githubusercontent.com/1255011/74699092-b8c94380-523a-11ea-8da3-fcf888c6a745.png">

<img width="1392" alt="截屏2020-02-1810 36 30" src="https://user-images.githubusercontent.com/1255011/74699045-97685780-523a-11ea-9adf-a26c8ca46a34.png">

[2020-02-18 03:02] testforstephen commented on #1241
@UnrealKazu thanks for providing the log. Here is my finding:

The Java Home is not correctly configured in the WSL. From the extension log in pastebin, the Java Home read by the extension is /usr/lib/jvm/java-8-openjdk-amd64 (1.8.0_242), not the JDK 11 you mentioned.

There is one exception `java.nio.file.ProviderNotFoundException: Provider "jrt" not found`. Jrt is introduced by Java 9 and above.

[2020-02-18 03:05] testforstephen commented on #1241
To diagnose the Java Runtime issue, please run VS Command via `F1 -> Java: Configure Java Runtime`.
![image](https://user-images.githubusercontent.com/14052197/74700453-84578680-523e-11ea-99cd-45b579a66c98.png)

[2020-02-18 03:08] testforstephen commented on #1206
Could you share the whole log file?
`F1 -> Java: Open Java language server log file`

[2020-02-18 03:35] akaroml commented on #1280
@testforstephen may have some insights regarding this. AFAIK, switching branches introduces lots of file change events and the LS might have problems with handling those events.

[2020-02-18 03:37] akaroml commented on #1279
This command is always the lifesaver. And this one also helps sometimes `Java: Update project configuration`.

[2020-02-18 03:39] akaroml commented on #1278
@testforstephen can introduce you to the syntax mode.

[2020-02-18 03:50] akaroml commented on #1269
Sorry about the experience. The `Build JAR` is provided by the `JAR Builder` extension. At the same time, the `lib` folder is picked up by `Language Server for Java` extension. I think the root cause is that they don't talk to each other.

To make this work, the `JAR Builder` extension will need to include the `lib` folder in the classpaths when building. And I think the issue should be tracked in

[2020-02-18 03:55] akaroml commented on #1276
If `isIncomplete` is set to `true`, then vscode will request for another completion list whenever users type something new. When set to `false`, then vscode will consider the list complete and will be able to do filtering as users type more without requesting the LS for more completion suggestions.

In short,
`isIncomplete == true` => LS does the filtering (by handling more requests)
`isIncomplete

[2020-02-18 03:55] akaroml commented on #1277
@Vigilans did you happen to fix this at Atom side? If so, please help integrate that to vscode repo.

[2020-02-18 06:33] jeetunayak1 opened #1281 "Adding Dependency on another project"
I really love this extension and vscode is my favorite. Recently I wanted to move my java development to vscode.
I have a workspace which has two projects in java which I want to configure to run in vscode. One is dynamic webproject and other is normal java project. I have done a maven setup to include the java project as dependency into dynamic project. This setup works well in eclipse, however v

[2020-02-18 07:59] testforstephen opened #1282 "Refresh the invisible project's classpath on-demand"
When the invisible project is initialized, the importer only adds the source directories of those opened files to the project classpath, which causes some potential source paths to be missed. But scanning the directory statically to get all would be time-consuming for some deep directories. A natural approach is to update the source path on-demand. Every time you open a new Java file, automaticall

[2020-02-18 08:38] l0ca1 opened #1283 "How to search in java dependencies ?"
Like this feature of idea：
![image](https://user-images.githubusercontent.com/23295562/74718163-a0721c80-526c-11ea-974e-c1919363a1c6.png)

##### Environment
- Operating System: mac
- Visual Studio Code version: 1.42.1
- Java extension version:Java Dependency Viewer 0.8.0

[2020-02-18 08:38] jaggerwang commented on #1206
The recent logs is as following:

[code]

[2020-02-18 08:50] fbricon commented on #1283
Dependency sources search is currently not supported. It's an interesting feature though, but would require indexing all sources of all dependencies, that might be tricky, slow, and memory hungry ;-)

Right now, you can do a type search though: `Cmd+T` (`Ctrl+T` on Win/Linux), type the class name you're looking for, it'll search for all matching types in the workspace. Camel case typing works, lik

[2020-02-18 11:10] UnrealKazu commented on #1241
@testforstephen Thanks for looking into the issue. My apologies, I've switched from JDK 11 to JDK 8 after creating this issue due to an (unrelated) dependency problem that required JDK 8.

However, after I've re-installed JDK 11 and set `JDK_HOME` back to the proper path, all the extension's features started working. I do not know why this was not working when I created the issue, because I did ha

[2020-02-18 13:11] UnrealKazu commented on #1241
Unfortunately the issue has reappeared. I've created a new Maven project and started fleshing out the skeleton classes when I suddenly noticed that the autocomplete etc. was no longer working. A restart of vscode did not solve the issue, neither did a clean operation on the LS workspace. So my original issue has returned.

For completeness sake, I've added a fresh log of both [the LS](https://past

[2020-02-18 16:34] fbricon commented on #1241
After creating a project from the com.alibaba.blink:flink-quickstart-java:1.5.1 archetype, I managed to reproduce the problem. Whoever created that archetype misunderstands how Maven support works in Eclipse and added some configuration that actually breaks Java support in both Eclipse and vscode-java.

Please remove this snippet from the pom.xml:
[code]

[2020-02-18 16:45] UnrealKazu commented on #1241
@fbricon Removing the snippet works, indeed! The same solution works for the Apache archetype (as Alibaba forked it from Apache). I'll open an issue in their repository to discuss whether this is something they want to solve (or mention in the docs).

Thanks for your time!

[2020-02-18 16:45] #1241 closed

[2020-02-18 17:16] #1258 closed

[2020-02-18 17:24] snjeza commented on #1259
@Afshinzkh could you try the following:

- close VS Code
- run
[code]

[2020-02-18 20:47] spottedmahn opened #1284 "Undesirable autoformatting of code"
The following code gets "mangled" when I autoformat the code.

##### Environment
- Operating System: Win10 v1909 WSL 1 Ubuntu 18.04
- JDK version: openjdk version "11.0.5" 2019-10-15
- Visual Studio Code version: 1.42.1 (user setup)
- Java extension version: 0.55.1

##### Steps To Reproduce
1. Add the following code to a class
[code]
2. ALT + SHIFT + F

##### Current Result
![image](https://user-i

[2020-02-18 21:09] snjeza commented on #1284
@spottedmahn you may want to take a look at https://github.com/redhat-developer/vscode-java/issues/1126#issuecomment-548085982

[2020-02-18 21:15] spottedmahn commented on #1284
really appreciate the quick response ⚡!

---

![image](https://user-images.githubusercontent.com/14079228/74778519-bd592080-5269-11ea-8f5c-40b2f90711f9.png)

after:

![image](https://user-images.githubusercontent.com/14079228/74778484-b0d4c800-5269-11ea-8c4a-757ac25f0009.png)

🤔, I think I like it.  Lost the "red" formatting though 🤔, i.e. `CompletableFuture`, `com`, etc.

[2020-02-18 21:19] spottedmahn commented on #1284
Wonder if we can get it to not put the **first** method on a new line 🤔.  Isn't that the generally accepted format?

i.e.

![image](https://user-images.githubusercontent.com/14079228/74778854-6e5fbb00-526a-11ea-9272-5e78f5378b66.png)

[2020-02-18 21:25] snjeza commented on #1284
You can configure your own formatter. See https://stackoverflow.com/questions/4172937/how-to-indent-the-fluent-interface-pattern-correctly-with-eclipse?rq=1

[2020-02-19 01:24] akaroml opened #1285 "Gradle project fails to build while fetching non-existing snapshot distro"
Source: microsoft/vscode-docs#3409 from @n8s16

[code]

Not familiar with Gradle part. @fbricon @snjeza do you have any idea what this is about?

[2020-02-19 01:40] snjeza commented on #1285
@akaroml See https://github.com/eclipse/eclipse.jdt.ls/pull/1355 and https://github.com/eclipse/che/issues/16051

[2020-02-19 01:53] akaroml commented on #1285
Thank you @snjeza. Good to know that the issue is fixed in the coming release.

[2020-02-19 10:09] bonaluo opened #1286 "Gradle error"
Issue Type: <b>Bug</b>

The Project is from https://github.com/spring-guides/gs-gateway.git.
The folder is gs-gateway/initial.
I've already Deleted gradle related files.

The problem is:
Could not fetch model of type 'BuildEnvironment' using Gradle distribution 'https://services.gradle.org/distributions-snapshots/gradle-6.0-20191016123526+0000-bin.zip'.
The specified Gradle distribution 'https://s

[2020-02-19 10:10] fbricon commented on #1285
I'll release the fix today

[2020-02-19 10:11] fbricon commented on #1286
Closing as duplicate of #1285

[2020-02-19 10:11] #1286 closed

[2020-02-19 10:16] fbricon commented on #1285
Until then you can manually [install](https://code.visualstudio.com/docs/editor/extension-gallery#_install-from-a-vsix) the latest CI build (0.57.0) from [http://download.jboss.org/jbosstools/jdt.ls/staging/](http://download.jboss.org/jbosstools/jdt.ls/staging/?C=M;O=D).

Better manually delete .project, .settings/, ~/.toolings/ and clean the workspace directory

[2020-02-19 12:08] aminpaks opened #1287 "Extension totally stopped working"
Everything was fine but I decided to disable the extension globally and enable it only for some specific workspaces. After doing that it seems it stopped working. At the same time I was trying different extensions I'm not sure if it's conflicting with another extensions.

**Maybe this issue is directly related to VSCode?**

##### Environment
- Operating System: macOS
- JDK version: openjdk version

[2020-02-19 12:15] aminpaks commented on #1287
Yeah it seems the issue is VSCode.
I see this in the extension output:

[code]

The startup should be true 😞

[2020-02-19 12:15] #1287 closed

[2020-02-19 16:07] anthonyvdotbe commented on #1247
In NetBeans, option 2 is used. Using the same method as above, I get:

![image](https://user-images.githubusercontent.com/15714253/74848301-d3cdad80-5337-11ea-856b-5c481fb7d224.png)

where clicking the red-circled icon opens the method's documentation in the browser.

For JDK classes, as in this example, it uses the official Javadoc, e.g. in this case https://docs.oracle.com/en/java/javase/13/docs

[2020-02-19 18:39] hkuadithya opened #1288 "Default JDK not updated after changing java.home"
Issue Type: <b>Bug</b>

VSCode Java extension seems to raise error while using `var` data type (type inference for local variables was introduced way back with Java 10). Running the project also seems to fail while using `var` datatype.

There's absolutely no problem with my Java environment. Compiling and running the same Java file using `javac` and `java` succeeds in command line. This works fin

[2020-02-19 18:42] fbricon commented on #1288
are you using a Maven or Gradle project? or simple Java files in a folder?

[2020-02-19 18:43] hkuadithya commented on #1288
@fbricon It's just a simple standalone Java file with a main method. Not using Gradle/Maven.

[2020-02-19 18:44] fbricon commented on #1288
did you simply open the java file or its parent folder?

[2020-02-19 18:59] hkuadithya commented on #1288
`File > Open Folder` (empty folder)
Created a new Java file from the Explorer in the left panel.  `New File > Functional.java`.
`Debug > Run Without debugging` -- Works fine. However, when I add `var`, errors are raised.

Examples for errors:
[code]

This works fine:
[code]

[2020-02-19 19:01] fbricon commented on #1288
Please turn on [verbose logging](https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#turn-on-message-tracing-between-vs-code-and-the-java-language-server) and attach the logs from the output view, after restarting vscode

[2020-02-19 19:02] fbricon commented on #1288
It works for me on Mac. @snjeza can you double check on windows?

[2020-02-19 19:05] hkuadithya commented on #1288
@fbricon Sure, I'm currently at work. Will provide more details (verbose logging) when I get back home in about 6-7 hours (PST timezone).

Since it works on Mac, I suspect it's specific to the OS. (Win 10 Professional, 64 bit).

[2020-02-19 20:04] snjeza commented on #1288
I can't reproduce the issue on Windows and Linux.
@hkuadithya Could you attach your Functional.java?

[2020-02-19 23:41] aminpaks opened #1289 "Extension breaks loading the default project"
I followed the instructions on VSCode website but there are some errors that breaks the extension completely.

##### Environment
- Operating System: macOS
- JDK version: 13.0.2
- Visual Studio Code version: 1.42.1
- Java extension version: 0.57.0

##### Steps To Reproduce
1. clone this repo
2. open it in vscode
3. observe the output panel for the extension

[sample project](https://github.com/spri

[2020-02-20 00:32] snjeza commented on #1289
I can't reproduce the issue.
@aminpaks try to call _Java: Clean the Java language server workspace_
You should also set the following property:
[code]
or
[code]

[2020-02-20 01:05] #1285 closed

[2020-02-20 02:25] aminpaks commented on #1289
@snjeza where should I add these settings?
Also it seems you want to exclude one of the projects, would you explain why is that necessary?

[2020-02-20 04:17] jdoe1024 commented on #1147
@snjeza Why did you decide to filter out all the AWT classes from completion by default in your original PR?

[2020-02-20 07:56] testforstephen opened #1290 "The java builder should use the correct compiler compliance to build the project"
##### Environment
- Operating System: MacOS and Windows 10
- JDK version: any
- Visual Studio Code version: 1.41.x or 1.42.0-insider
- Java extension version: 0.57.0

##### Steps To Reproduce
1. Have java.home to point to JDK 13, and launch the language server.
2. Have Java 8 installed in the machine.
3. Configure multiple JDKs in the user setting.
[code]
4. Open an eclipse Java 8 project [26.envi

[2020-02-20 08:56] bonaluo opened #1291 "Javadoc braces"
Issue Type: <b>Performance Issue</b>

The javadoc is from org.springframework.util.AntPathMatcher

![image](https://user-images.githubusercontent.com/27731323/74916981-c0871480-5401-11ea-97ef-bdce468a55e6.png)

Extension version: 0.57.0
VS Code version: Code 1.42.1 (c47d83b293181d9be64f27ff093689e8e7aed054, 2020-02-11T14:45:59.656Z)
OS version: Windows_NT x64 10.0.18362
Remote OS version: Linux x6

[2020-02-20 09:25] fbricon commented on #1291
looks like a markdown rendering issue, not performance related

[2020-02-20 17:10] hkuadithya commented on #1288
#### Functional.java
[code]

![image](https://user-images.githubusercontent.com/20955088/74959562-a7f60a80-53bf-11ea-9d49-376f5818232f.png)

#### Verbose Logging trace
[code]

[2020-02-20 17:15] fbricon commented on #1288
Can you paste the full log, starting when vscode-java starts?

[2020-02-20 17:16] hkuadithya commented on #1288
@fbricon

This is the only trace I got when VSCode and Language server start.
[code]

[2020-02-20 17:26] fbricon commented on #1288
Can you attach the content of c:\Users\hkuad\AppData\Roaming\Code\User\workspaceStorage\c96b088e4efde1a7a0114c8383b5b363\redhat.java\jdt_ws\.metadata\.plugins\org.eclipse.jdt.launching (a couple xml files)

[2020-02-20 18:02] aminpaks commented on #1289
Updated the stack error and logs.

[2020-02-20 18:04] aminpaks commented on #1289
Could be related to the JDK version?

[2020-02-20 18:13] snjeza commented on #1289
File>Preferences>Settings

https://github.com/spring-guides/gs-spring-boot includes two projects with the same name.

Your project requires JDK 1.8

[2020-02-20 18:18] aminpaks commented on #1289
Added the settings, the issue still persists.

Do you think I should install v1.8 and try that?
I tried with other projects but they work with the same settings and JDK version!

[2020-02-20 18:23] aminpaks commented on #1289
Just tried with [this project](https://github.com/springframeworkguru/springbootwebapp) and worked too 😞

[2020-02-20 18:38] snjeza commented on #1147
See https://github.com/redhat-developer/vscode-java/issues/710#issuecomment-442335518

[2020-02-20 19:03] snjeza commented on #1289
I have tried JDK 1.8 and JDK 13. It works fine. You can try to clone the project to a new directory.

[2020-02-20 22:32] snjeza commented on #1290
That causes Java LS to use the workspace Compiler Compliance level 13.
Your project inherits it and reports the warning.
You should configure your project by adding 26.environmentVariables/.settings/org.eclipse.jdt.core.prefs with following contents:

[code]

[2020-02-20 23:20] snjeza commented on #1288
@hkuadithya You can also try to call Java: Clean the Java language server workspace

[2020-02-20 23:27] Palidino opened #1293 "Maven and Java Build Status Colliding"
I'm not entirely sure when this started happening or if reporting this issue on the wrong Java extension, but I believe it has been at least a week or two, maybe longer.  I use versions-maven-plugin from org.codehaus.mojo to automatically change my versions whenever I package my project. Up until recently, this has never been an issue.

The issue I'm experiencing is that I frequently (not always)

[2020-02-21 00:20] fbricon commented on #1293
Please attach your pom.xml

[2020-02-21 00:21] Palidino commented on #1293
[pom.txt](https://github.com/redhat-developer/vscode-java/files/4233660/pom.txt)

[2020-02-21 02:14] testforstephen commented on #1290
@snjeza Most of users don't have knowledge about the `.settings`. If project compiler compliance setting is undefined, how about auto assign a compiler compliance compatible with the project JRE_CONTAINER during eclipse project importer?

[2020-02-21 02:35] snjeza commented on #1290
@testforstephen I agree. @fbricon What do you think?

[2020-02-21 06:49] jdoe1024 commented on #1147
@snjeza I see thanks. Out of the [50 name collisions](https://gist.github.com/jdoe1024/945cda9e72312147adb12cac0c7d5c2d#file-jdk11-collisions) there is in JDK11, only 2 concern `java.awt` classes, the most problematic being `java.awt.List`. Blacklisting the whole package by default is definitely overkill then. Could you change the default setting value for `java.completion.filteredTypes` to the on

[2020-02-21 09:59] fbricon commented on #1147
only filtering java.awt.List would be even more confusing IMHO (why all AWT classes are proposed except this one?). Besides, even though there's only a couple collisions, listing AWT classes is just noise for a vast majority of Java users

[2020-02-21 11:30] bonaluo opened #1294 "Can not rebuild workspace"
Issue Type: <b>Bug</b>

I add a new module by maven,but it can not work normally.

First i delete a workspaceStorage like 'workspaceStorage\e8bffd47746a02505ba3ae0752dc0d66\'.
Second i reload window.
Then it can work correctly

Extension version: 0.57.0
VS Code version: Code 1.42.1 (c47d83b293181d9be64f27ff093689e8e7aed054, 2020-02-11T14:45:59.656Z)
OS version: Windows_NT x64 10.0.18362

<details>

[2020-02-21 16:22] spottedmahn commented on #1284
![image](https://user-images.githubusercontent.com/14079228/75051676-51123300-549c-11ea-8e00-54d80459c348.png)

is: `<setting id="org.eclipse.jdt.core.formatter.alignment_for_selector_in_method_invocation" value="81"/>`

Which produces:

![image](https://user-images.githubusercontent.com/14079228/75051596-2c1dc000-549c-11ea-92b8-06be245c6f61.png)

not 100% but pretty close

thanks @snjeza!

[2020-02-21 16:22] #1284 closed

[2020-02-21 17:23] spottedmahn opened #1295 "Formatter Settings File Ignoring disabling_tag/enabling_tag"
When I specify a formatter settings file, the disable/enable formatting tags are **ignored**.

##### Environment
- Operating System: Win10 v1909 WSL 1 Ubuntu 18.04
- JDK version: openjdk version "11.0.5" 2019-10-15
- Visual Studio Code version: 1.42.1 (user setup)
- Java extension version: 0.55.1

##### Steps To Reproduce
1. Change workspace settings to:
[code]
2. Wrap some code w/ `// @formatter:

[2020-02-21 21:42] snjeza commented on #1295
@spottedmahn could you try the following:

[code]
instead of
[code]

[2020-02-22 03:11] hkuadithya commented on #1288
@fbricon @snjeza
Yes, `Java: Clean the Java language server workspace` worked.
I suppose it's some language server caching issue. I also recently updated my JDK from JDK9 to JDK13. Not sure if that caused this problem.

Let me know if you guys need anything else for the RCA of this issue.

[2020-02-22 07:01] aminpaks commented on #1289
Tired a fresh clone in a new directory, didn't help. I have no clue why is this happening. I always get the same error.

[2020-02-22 08:37] aminpaks commented on #1289
The problem was Gradle, I had an old version and it's not compatible with Java 13.
Installed the latest (at the time 6.2) and cleaned the project and it's working now 😄

[2020-02-22 08:37] #1289 closed

[2020-02-22 15:11] fbricon commented on #1288
@snjeza the default JDK should have been updated to JDK 13, so something's still not right here. Please investigate.

[2020-02-22 15:13] fbricon commented on #1288
To make sure I'm not jumping the guns, @hkuadithya how did you change the JDK version exactly? via java.home?

[2020-02-22 17:24] hkuadithya commented on #1288
@fbricon
Maybe this will help you reproduce the issue:-
1. Before updating JDK: I created a new folder and added new file `Functional.java`

2. I was able to build and run without any issues. Since it was JDK9, my code didn't have any `var`data type

3. I uninstalled old Java, updated my JDK to 13, updated the path in environment variables and restarted the system

4. Opened VSCode, and added `var

[2020-02-22 18:18] snjeza commented on #1288
I can't reproduce the issue.
See https://www.screencast.com/t/Wivjt8ccVES

[2020-02-24 06:44] testforstephen opened #1296 "The extension displays a wrong task name when open a multi root workspace"
The multiple root structure:
- a maven project such as spring-petclinic
- a nodejs project

When opening multi root workspace in VS Code, the extension will show **"Importing Maven projects"** on **node_modules** folder.
![image](https://user-images.githubusercontent.com/14052197/75132716-ff271280-5712-11ea-8e88-534c46c9e3b0.png)

The actual task for the **node_modules** is the maven scan task. Th

[2020-02-24 06:48] hkuadithya commented on #1288
@fbricon @snjeza
Looks like this is an isolated case/issue which occurs under some weird set of circumstances.
I couldn't find any other issues resembling this under [Open Issues](https://github.com/redhat-developer/vscode-java/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+var). You folks could focus more time and resources on this if similar issues are opened in future.

I will close this issue fo

[2020-02-24 06:48] #1288 closed

[2020-02-24 08:15] dongw00 commented on #931
@snjeza Thanks. :)

[2020-02-24 14:23] spottedmahn commented on #1295
As a debugging step? Or a final solution?

[2020-02-24 14:24] spottedmahn commented on #1295
![image](https://user-images.githubusercontent.com/14079228/75160101-7941a200-56e7-11ea-97bc-363454416248.png)

[Source](https://stackoverflow.com/a/5115143/185123)

[2020-02-24 14:30] spottedmahn commented on #1295
Also, pointing it at a profile that doesn't override the values, i.e. they are missing, produces the same "bug"

`enabling_tag` and `disabling_tag` not listed:

![image](https://user-images.githubusercontent.com/14079228/75160421-f1a86300-56e7-11ea-8267-eb47c9c455d0.png)

![image](https://user-images.githubusercontent.com/14079228/75160443-fa009e00-56e7-11ea-9c85-e12aea90d704.png)

[2020-02-24 16:35] kfstorm commented on #543
Any update on this issue?

[2020-02-24 19:23] snjeza commented on #543
@kfstorm You can try the following settings:

[code]

[2020-02-24 20:54] spottedmahn opened #1297 "Autocomplete out of order | Elastic BulkResponse"
Why is `fromXContent()` at the bottom of the list and not sorted correctly?

![image](https://user-images.githubusercontent.com/14079228/75189989-66e25b00-571d-11ea-9b70-af2cc311442d.png)

##### Environment
- Operating System: Win 10 v1909
- JDK version: openjdk version "11.0.5" 2019-10-15
- Visual Studio Code version: 1.42.1 (user setup)
- Java extension version: version: 0.55.1

##### Steps To R

[2020-02-24 21:41] spottedmahn commented on #1297
[verbose logging - BulkResponse.log](https://github.com/redhat-developer/vscode-java/files/4247000/verbose.logging.-.bulkresponse.log)

[2020-02-25 01:31] kfstorm commented on #543
@snjeza Thanks. I just found that only `java.format.settings.url` is not enough, I have to set `"java.format.settings.profile": "GoogleStyle"` too.

[2020-02-25 09:04] anthonyvdotbe opened #1298 "Allow renaming lambda parameters"
When trying to rename a lambda parameter, a tooltip says `Renaming this element is not supported.`

##### Environment
- Operating System: Windows 10
- JDK version: 13
- Visual Studio Code version: 1.42.1
- Java extension version: 0.57.0

##### Steps To Reproduce
1. create a file Test.java as below
2. place the cursor at the lambda parameter `i`
3. press F2 to attempt renaming it

[code]

##### Cur

[2020-02-25 15:33] Aragami1408 opened #1299 "... cannot be resolved as a type"
Hi! I don't know why it gives me this kind of error like image below although I compiled and it has no error returned. And I'm making sure that I write my code correctly
![image](https://user-images.githubusercontent.com/25903678/75261899-506ff880-581e-11ea-86bd-76344814f879.png)

##### Environment
- Operating System: Windows 10 Pro
- JDK version: 1.8.0_201
- Visual Studio Code version: 1.22.2
- J

[2020-02-25 15:58] fbricon commented on #1299
Please start by updating to the latest version of vscode-java

[2020-02-25 17:15] fbricon commented on #1281
There's no deployment assembly in vscode. This concept exists only in Eclipse WTP. How exactly are you you trying to run your war project from vscode?

[2020-02-26 01:36] ivenxu commented on #1223
The same happens to me. This is the most inconvenient one for me.

[2020-02-26 08:02] tsmaeder opened #1301 "VS Code Java Cannot Run from Read-Only Location"
When running VS Code Java, some files are created in `server\config_win\org.eclipse.core.runtime` (this is on Windows, but likely not Windows-specific).
The problem with this is that you cannot run VS Code Java from a location where you don't have write access. This prevents VS Code Java from running as a built-int extension in Theia, for example.
To me it seems that the files in question are crea

[2020-02-27 04:45] IComplainInComments commented on #1299
I'm having the same issue as well, and I'm using the latest version. My program compiles fine, even though VSCode is saying otherwise.

For me its happening on any of my Classes being used as Objects or A Class being inherited by another.

[2020-02-27 04:50] IComplainInComments commented on #1299
Looks like my issue was resolved by disabling the Java Linter extension.

[2020-02-27 05:14] jdharvey-ibm commented on #1299
I am seeing a very similar problem. VSCode will go through it's usual process for building our Java code, but then upon completion, thousands of errors appear in the Problems viewer, all for things that say either:

or

or

etc...

Interestingly, as soon as I open one of the affected source files, the errors for that file disappear until the next time I do a full rebuild, clean the Java language s

[2020-02-27 08:51] fbricon opened #1302 "Provide a way to install Java.next Beta support"
We now know how to build jdt.ls with Java 14 support (See eclipse/eclipse.jdt.ls#1363 and #1300), what we need next is a way to enable/disable that support dynamically.

The idea is to provide a command that will install Java 14 support. That command will basically download a patched version of jdt.ls onto the user's machine, if necessary, unzip it, and launch it.
A "disable" command will simply r

[2020-02-27 11:16] ghuser opened #1303 ""Starting java language server" processing stops before 100% on workspaces with a non-existing project directory (causing Classpath is incomplete)"
The **following workspace opens ok** and "starting java language server" process finishes at `100%`

[code]

**However the one below one stops at `30%`** because the first **project path in the workspace does not exist**. This causes also the following error when clicking on the code of `Main.java`: "Classpath is incomplete: Only syntax errors will be reported":

[code]

##### Environment
- Operat

[2020-02-27 12:11] ppanthony opened #1304 "Initialising Workspace runs out of heap space"
[Initialising Workspace slow / running out of heap space]

Any ideas on what could be causing this? Or any way to provide VS code with more RAM?

##### Environment
- Operating System: OS X 10.14.5
- JDK version: java version "1.8.0_241"
- Visual Studio Code version: Version: 1.42.1
- Java extension version: 0.57.0

##### Steps To Reproduce
None available. Sorry.

[code]

[2020-02-27 12:19] chriscamplejohn opened #1305 "Ignoring settings for Java version"
I have JAVA_HOME set to /Library/Java/JavaVirtualMachines/adoptopenjdk-8.jdk/Contents/Home
I also have "java.home": "/Library/Java/JavaVirtualMachines/adoptopenjdk-8.jdk/Contents/Home" in my user configuration file.

##### Environment
- Operating System: macOS Catalina 10.15.1
- JDK version: Multiple (AdoptOpenJDK 11, AdoptOpenJDK 8, Java SE 8)
- Visual Studio Code version: 1.42.1
- Java extension

[2020-02-27 13:41] #1304 closed

[2020-02-27 13:42] ppanthony commented on #1304
cause was workspace specific. some sort of lock possibly. rechecking out the project and reinstall vscode resolved

[2020-02-27 14:39] spottedmahn opened #1306 "Classpath is incomplete, org.osgi.framework.BundleException"
Brand new project created via Gradle but I'm getting:

![image](https://user-images.githubusercontent.com/14079228/75454811-097c2300-5944-11ea-9230-3ca2473e0531.png)

##### Environment
- Operating System: Win 10 v1909
- JDK version: openjdk version "11.0.5" 2019-10-15
- Visual Studio Code version: 1.42.1 (user setup)
- Java extension version: version: 0.57.0

##### Steps To Reproduce
1. not sure,

[2020-02-27 14:59] spottedmahn commented on #1306
Java extension version: 0.57.0 not 0.55.1 as above.  can't currently update my issue...

https://twitter.com/spottedmahn/status/1233039702913175552?s=20

I'll come back and clean this after the GitHub issues are fixed...

[2020-02-27 15:02] spottedmahn commented on #1306
[Cleaned the workspace storage](https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#clean-the-workspace-directory) and it started working

![image](https://user-images.githubusercontent.com/14079228/75456111-1d298880-5948-11ea-9eb6-ea1724b9e7bb.png)

[2020-02-27 15:59] dbnicacio commented on #1232
Same problem here, fully functional project on eclipse, tons os errors in VS Code.

[2020-02-27 16:21] Eskibear commented on #1232
the sample project works for me. macOSX, OpenJDK 11.0.6. Can you try
extract the zip file to another new place, and open it in vscode see if it
works?

Another casual guess is, are you opening the same project in both Eclipse
and VS Code?

On Thu, Feb 27, 2020 at 11:59 PM Daniel Nicácio <notifications@github.com>
wrote:

--
- Yan Zhang

[2020-02-27 23:37] IComplainInComments commented on #1299
This is exactly what was happening for me. Mine randomly got fixed after deleting the Java Linter, but it was happening even BEFORE I HAD IT INSTALLED. I honestly cannot think of why its behaving as such.

[2020-02-28 06:37] jeetunayak1 commented on #1281
I currently have added the dependency in maven, pom.xml. I haven't run the project yet, but i would like to run it on websphere liberty. However since there is a dependency, I am geting error in my dynamic web project since it cant find classes from other project. Eclipse allows to add the project directly into web project hence any changes in the java project is reflected directly into web projec

[2020-02-28 10:09] fbricon commented on #1305
Sorry, this is out of scope of vscode-java. Can you please open a bug in https://github.com/microsoft/vscode-java-debug/issues?

[2020-02-28 10:09] #1305 closed

[2020-02-28 14:37] jdharvey-ibm commented on #1299
I don't have that extension installed to try and remove it 😭 haha. I did try completely uninstalling VSCode and reinstalling it, removing all extensions and workspace files in the process, but I'm getting the exact same results still.

[2020-02-29 07:51] bonaluo opened #1308 "A debug display error"
Issue Type: <b>Bug</b>

I set a breakpoint on a line，and maybe i initiate multiple requests.I have already click continue but the yellow colored frame still exist(I've restart programme).

![image](https://user-images.githubusercontent.com/27731323/75603578-bc967900-5b0a-11ea-946c-001a9cf71b67.png)

The only way to resolve this is [Reload Window]

Extension version: 0.57.0
VS Code version: Code 1.

[2020-02-29 16:59] gdoenlen opened #1309 "Warnings and Errors from compiler plugins?"
Is there anything specific that needs to be done to get errors from compiler plugins (i.e. errorprone) in the gui?  It looks like @fbricon did some work around non-standard compilerIds in https://github.com/eclipse/eclipse.jdt.ls/issues/196 but, with java 11 error prone docs point you to use the compiler plugin instead of the compilerId.

[2020-02-29 17:50] fbricon commented on #1309
Errorprone errors are never reported because eclipse jdt is the compiler used by eclipse.jdt.ls, errorprone is always ignored. Nothing we can do about it unless there's a way for jdt to behave exactly the same way, after doing some configuration, which I doubt is possible

[2020-02-29 17:58] gdoenlen commented on #1309
Ok makes sense. Is there anyway to pass arguments like -Werror to the
eclipse compiler?

On Sat, Feb 29, 2020, 12:50 PM Fred Bricon <notifications@github.com> wrote:

[2020-02-29 18:21] hanct commented on #1169
Has this been solved? I also trying to set Gradle User home in VSCode , so that VSCode 's JAVA DEPENDENCIES section would display the correct paths (based on the value set in the Gradle User home) for the libraries listed under "Project and External Dependencies".

[2020-02-29 18:51] hanct opened #1310 "Add GRADLE_USER_HOME preference"
How to set GRADLE_USER_HOME in VSCode, so that the libs' path displayed under the Project and External Dependencies node of the JAVA DEPENDENCIES section is showing the path value set in the GRADE_USER_HOME.

I learnt about java.import.gradle.arguments  and java.import.gradle.jvmArguments settings which i can set in the workspace settings. But how to use them to achieve what i want?

##### Environ

[2020-03-01 15:28] #1309 closed

[2020-03-01 17:16] MuhammadimYusoff opened #1311 "VSCode error javax.swing does not exist"
##### Environment
- Operating System: MacOS Catalina
- JDK version: JAVA 8 Update 241
- Visual Studio Code version: Version: 1.42.1
- Java extension version: 0.8.1

##### Steps To Reproduce
I import as follows:-

import java.util.ArrayList;
import java.io.*;
import java.util.StringTokenizer;

##### Current Result
1) The IDE an Error on the 'import javax.swing.*' as 'package is not exist'
2) Error

[2020-03-01 18:05] snjeza commented on #1311
@MuhammadimYusoff  you may want to take a look at https://github.com/redhat-developer/vscode-java/issues/1147#issuecomment-554529618

[2020-03-01 18:47] MuhammadimYusoff commented on #1072
I cant understand this because I have issues with the 'javax.swing.*' and GUI related Libraries.
Can someone explain this step-by-step on how to do this?
Maybe some screenshot?

[2020-03-01 18:52] MuhammadimYusoff commented on #710
Guys I am having problem with 'javax.swing.*' and related GUI library in VSCode, other thread explain I need to exclude it from my settings.json but nothing related to 'java.completion.filteredTypes' is placed  as I have clean uninstall VSCode (The previous extensions and settings, this is a fresh install).

is there any related thread that mention about GUI related libraries fixes?

[2020-03-01 19:24] MuhammadimYusoff commented on #1311
I have tried it but also failed, the 'import javax.swing.*' line still have error.

I have saved the settings.json, quit VSCode and open up VSCode again but the error still there.

BTW is 'javax.swing.*' and 'java.awt.*' both of them GUI related libraries?
Other threads says about conflicting libraries but I am not sure about this one.

[2020-03-01 20:33] snjeza commented on #1311
Could you attach a project example?

[2020-03-02 04:26] MuhammadimYusoff commented on #1311
https://pastebin.com/Nr6gkfda

I have place it on above link for you.
I also have place the comment at first line.

[2020-03-02 05:37] MuhammadimYusoff commented on #1311
@snjeza  I think my system does not automatically set PATH for JVM, as per se the problem persist.

but as I am looking at my terminal nothing mentioned about JVM is not setup or related to it, but as I setup the PATH, the error still there, but at runtime the code running fine after I clean up the JAVA cache and all.

[2020-03-02 09:40] dgh1000 opened #1312 "Attempting to run debugger produces command line with illegal @ symbol"
##### Environment
- Operating System: MacOS 10.14.6
- JDK version: 1.8.0_151
- Visual Studio Code version: 1.42.1
- Java extension version: Java Extension Pack 0.8.1

The issue is that upon launching a debugger, VS Code runs this command line:

~/Sync/projects/music/music-03:cd /Users/Mike/Sync/projects/music/music-03 ; /Library
/Java/JavaVirtualMachines/jdk1.8.0_151.jdk/Contents/Home/bin/java
-ag

[2020-03-02 09:55] testforstephen commented on #1312
this is related with debugger for java extension, could you open an issue at https://github.com/microsoft/vscode-java-debug/issues

[2020-03-02 09:55] #1312 closed

[2020-03-02 09:57] dgh1000 commented on #1312
Actually I discovered the same issue is present when you click the "run" button that appears above the main function so it's not just the debugger. I think maybe it's the test runner too. Where should I file it?

[2020-03-02 09:59] testforstephen commented on #1312
The "run" button is added by the debugger. Opening an issue at java debugger is enough, i'll take a look at there.

[2020-03-02 16:23] lmcbout opened #1313 "Warnings are hidden by an error when editing a file"
Warning in problem view is hidden by error on a different line. It looks like the language server does not report all errors/warnings when editing a java file.

##### Environment
- Operating System: Ubuntu 18.04
- JDK version: openjdk version "11.0.6" 2020-01-14
- Visual Studio Code version: 1.42.1
- Java extension version: 0.57.0
Same error was reported on Theia with a different java (redhat-vers

[2020-03-02 17:51] snjeza commented on #1313
The issue can be reproduced in Eclipse.

[2020-03-02 22:50] snjeza commented on #1313
Related issue #621

[2020-03-03 03:53] viettd commented on #450
That's not working perfectly. I still get warnings when running the style check later - perhaps VS still use a default java style.
This is a working solution that I'm following: https://stackoverflow.com/a/59718005/1148069

[2020-03-03 08:18] fbricon commented on #1308
Sorry, but running/debugging java code is out of scope of vscode-java. Can you please open a ticket in https://github.com/microsoft/vscode-java-debug/issues?

[2020-03-03 08:18] #1308 closed

[2020-03-03 12:00] kusnier commented on #711
Hi, I have configured my vscode with working ordering of static imports.

[code]

All unknown imports will be added first. Then java, javax, org, and com.
After that, I see all my import from my company.

As of last I want to have static imports. The most important imports are again from my company so I will have them as last. (You have to use # for the ordering of the static imports.)

[2020-03-03 12:07] marcusramberg commented on #177
We also face this problem with maven due to
```<artifactId>openapi-generator-maven-plugin</artifactId>``` - Would be really good to see a generic solution here

[2020-03-03 15:46] #1298 closed

[2020-03-03 16:40] hanct commented on #1310
I am still stuck at this issue. I tries using java.import.gradle.arguments, but its not working. Is this a bug?

[2020-03-03 17:40] snjeza commented on #1301
See https://github.com/redhat-developer/vscode-java/pull/1307#issuecomment-594066710

[2020-03-04 01:12] enf0rc3 commented on #998
+1

[2020-03-04 11:04] anarkia7115 commented on #909
I'm using existing resource to do basic navigation in vscode for simple bazel-java project with external jar dependencies. **It is just a workaround.** Hope it can help someone.

Main idea is from [vscode java doc](https://code.visualstudio.com/docs/java/java-project)

Here's what I do:
1. Install vscode extension `redhat.java`
2. Create empty dir `lib`
3. Run `bazel build` to download external ja

[2020-03-04 12:39] n-peugnet opened #1315 "Support for m2e source attachement on specific maven dependency"
Support for m2e source attachement on specific maven dependency as it is possible in Eclipse.

##### Environment
- Operating System: Linux x64 5.3.0-40-generic
- JDK version: openjdk version "1.8.0_242"
- Visual Studio Code version: 1.42.1
- Java extension version: 0.57.0

##### Steps To Reproduce
1. add a maven dependency that doesn't have source attached. (for exemple a `system` one whose `syste

[2020-03-04 16:30] fbricon commented on #1270
Thanks to @testforstephen , we now have an improved syntax mode for non-project Java files:
- Deleted the notification message box about "classpath is incomplete. Only syntax errors will be reported".
- Added a general non-project warning diagnostic, see screenshot below.
- Provided a quickfix to enable/disable semantic errors. (More quick fixes could be enabled in the future, such as Add to sourc

[2020-03-04 16:30] #1270 closed

[2020-03-04 16:34] fbricon commented on #1315
Have you tried to right click on a decompiled class:
<img width="821" alt="screen shot 2018-11-13 at 7 05 33 pm" src="https://user-images.githubusercontent.com/148698/48451159-1f79ca80-e777-11e8-8a9c-44a75a9b05b4.png">

 See https://github.com/redhat-developer/vscode-java/issues/233#issuecomment-438486647

[2020-03-04 17:18] n-peugnet commented on #1315
It's working perfectly with a source zip ! Thank you.
And sorry that I made a duplicate of a previous issue.

[2020-03-04 17:18] #1315 closed

[2020-03-04 17:31] n-peugnet commented on #1315
I just thought about it but wouldn't it be a good idea to add an information in the generated comment about this option ? Maybe like a link pointing to a wiki page describing what you can do to solve this problem ?

[2020-03-04 17:37] fbricon commented on #1315
The underlying Java Language Server that generates the disassembled code doesn't know if clients like vscode-java, vim, emacs... implemented such command, so that'd be real tricky

[2020-03-04 20:05] power-5000 commented on #419
@azdanov Could you go into a bit more detail about the process you found? I am running on a Windows system what exactly is the brew program and is is that the required method to install the formatter?

[2020-03-04 22:07] fbricon commented on #1301
#1314 fixed the dev mode issue

[2020-03-04 22:07] #1301 closed

[2020-03-05 05:41] bitray opened #1316 "Some methods can not be found in auto completion list"
[provide a description of the issue]

##### Environment
- Operating System:10.14.6 (18G3020)
- JDK version:1.8.0_161
- Visual Studio Code version: 1.42.1
- Java extension version:0.57.0

##### Steps To Reproduce
1. [step 1] enter Arrays.sort
2. [step 2] The issue is there

[attach a sample project reproducing the error]
[attach logs](https://github.com/redhat-developer/vscode-java/wiki/Troubleshoo

[2020-03-05 08:56] fbricon commented on #1316
Closing as duplicate of #1257

[2020-03-05 08:56] #1316 closed

[2020-03-05 09:18] fbricon commented on #1257
@akaroml: trying the latest vscode-java build, with Intellicode 1.2.5 (released today), I see some completions are now back, but there are still issues (see #1316):
- typing Arrays -> java.util.Arrays is not proposed
- with java.util.Arrays imported, typing Arrays.sort doesn't propose the sort methods

Disabling Intellicode once again fixes it.

[2020-03-05 12:03] Eskibear commented on #1257
IntelliCode 1.2.5 was released on 2/6/2020, 4:25:18 AM. The fixes will be in 1.2.6.

[2020-03-05 13:14] fbricon commented on #1257
my bad. I saw 2/5/2020, 9:25:18 PM on the marketplace and thought we were still in February ;-)

So when will 1.2.6 be released then?

[2020-03-05 14:37] Eskibear commented on #1257
I just asked the team about it, and I’ll let you know as soon as they reply.

[2020-03-05 15:43] spottedmahn opened #1317 "Project failed to load: "org.eclipse.buildship.core.internal.util.gradle.PublishedGradleVersions$LookupStrategy" may not be fully initialized"
I opened up my project I've been working on for weeks and it didn't "load".  Load being the Java Build Status never finished and the status bar icon just keeps spinning.

##### Environment
- Operating System: Win 10, WSL 1
- JDK version: openjdk 11.0.5 2019-10-15
- Visual Studio Code version: 1.42.1
- Java extension version: 0.58.0

##### Steps To Reproduce
1. no clue, it just happens sometimes on

[2020-03-05 16:43] RushOT commented on #579
Is it possible to change this snippet to remoe javadoc with the class name?

[2020-03-05 21:42] MisterZet opened #1318 "Starting JLS stuck at refreshing project..."
[provide a description of the issue]

##### Environment
- Operating System: Windows 10
- JDK version: RED_HAT java-1.8.0-openjdk-1.8.0.242-3
- Visual Studio Code version: 1.43 Insider
- Java extension version: 0.58.0

Not sure how to reproduce it. IT only happens on my gradle project, it works fine under plain file.
Basically JLS hangs on this
5be94702 Importing root project: 79% Refreshing '/Supe

[2020-03-05 21:53] MisterZet commented on #1318
Nevermind... Issue is that it refreshes the project slowly. After my last update it came to 80% which means 1% per 11 minutes? The project is 5k lines, is that too big?

[2020-03-06 08:53] MisterZet commented on #1318
I’m confused, what would the setting be for my project? Do I need it also read dependencies? I’m confused

[2020-03-06 09:00] MisterZet commented on #1318
Is thete way for it to debug what files it’s refreshing? So I can see where it takes so long? Also is it possible to do it multithreaded?

[2020-03-06 14:41] snjeza commented on #1318
You can import only some parts of your project.

[2020-03-06 18:04] spottedmahn commented on #1306
re: closing

Don't we want to get to the bottom of these things so we don't have to clean the workspace?

Isn't creating a new project a pretty basic task?

[2020-03-06 20:08] snjeza commented on #1310
@hanct you can try the following settings:

[code]
You also can try to set the GRADLE_USER_HOME environment variable.

[2020-03-06 21:05] snjeza commented on #1306
Could you always reproduce the issue?
If so, could you, please, attach your project?

[2020-03-06 22:06] snjeza opened #1319 "java.import.gradle.arguments and java.import.gradle.jvmArguments aren't properly defined"
See
- https://github.com/eclipse/eclipse.jdt.ls/blob/master/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/preferences/Preferences.java#L591
- https://github.com/eclipse/eclipse.jdt.ls/blob/master/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/preferences/Preferences.java#L593
- https://github.com/redhat-developer/vscode-java/blob/master/package.json#L154
https://github

[2020-03-07 01:38] hanct commented on #1310
Hi,
Thanks for the reply. But I assume u mean set the environment variable in my OS, which I try avoid doing that. The purpose of query is to avoid configuring environment variables in OS as much as possible, and to do that in vscode where-ever possible.

Also, is there any sample on how to use the java.import.gradle.arguments and java.import.gradle.jvmArguments, as i couldn't find an official sam

[2020-03-07 01:49] snjeza commented on #1310
I will add a new preference - java.import.gradle.userHome

See #1319

[2020-03-07 02:08] hanct commented on #1310
Thanks snjeza! by the way, for your info, another user also face similar issue at https://github.com/redhat-developer/vscode-java/issues/1169

[2020-03-07 02:33] snjeza commented on #1310
You are right.

[2020-03-07 02:34] snjeza commented on #1169
Related to #1310 and #1319

[2020-03-07 08:58] MisterZet commented on #1318
Isn't there way to debug what files it's refreshing atm?

[2020-03-07 17:16] MisterZet commented on #1318
So for testing purposes, I've took https://github.com/spring-projects/spring-framework and imported into vscode. It took much less. Like 5 minutes to import it (download dependencies, etc.) without adding any exclusions... So what might be wrong with my project then?

[2020-03-08 04:25] Eskibear commented on #1257
@fbricon IntelliCode 1.2.6 has been released with the fix.

[2020-03-08 22:47] jmbockhorst commented on #1257
Verified that the update fixes this.

[2020-03-08 22:47] #1257 closed

[2020-03-09 13:25] agigleux commented on #851
I have the same problem using the v0.58.0 on Windows 10 or Ubuntu 18 LTS: my CPU is staying at 100% for **hours** when I open a huge Java project.

I can reproduce the problem with [Nuxeo code](https://github.com/nuxeo/nuxeo) using the commit 7de66e44f8755ef644b0b2331a7cacb5f19a0c52.
When I open it, my CPU is directly jumping to 100% while the RAM is staying at around 8GB. On Ubuntu, I waited more

[2020-03-09 15:47] Zireael07 commented on #1092
Same issue on Manjaro Juhraya KDE.

openjdk 13.0.1 2019-10-15
OpenJDK Runtime Environment (build 13.0.1+9)
OpenJDK 64-Bit Server VM (build 13.0.1+9, mixed mode)

[2020-03-10 10:49] jakegt1 opened #1321 "Plugin automatically uses Gradle 1.12 if no wrapper is provided"
This is a really weird bug where gradle will always use 1.12 if available, even if the `java.import.gradle.version` is set. My default gradle (as in gradle on my $PATH) is 5.3.1, but whatever i do i get the the `Support for builds using Gradle versions older than 2.6 was removed in tooling API version 5.0. You are currently using Gradle version 1.12. You should upgrade your Gradle build to use Gra

[2020-03-10 14:38] snjeza commented on #1321
Could you send your settings.json and server log?
You can try to set the following preference:
[code]

[2020-03-10 15:07] jakegt1 commented on #1321
`java.import.gradle.home` fixed it (just set it to my 5.3.1 install.)

do wonder why it was defaulting to gradle1 otherwise tho... How do i get the logs again?

[2020-03-10 15:19] snjeza commented on #1321
https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#enable-logging

[2020-03-10 15:41] jakegt1 commented on #1321
!ENTRY org.eclipse.jdt.ls.core 1 0 2020-03-10 15:28:11.141
!MESSAGE Invalid gradle version5.4.1

seems like the relevant line

[2020-03-10 15:44] jakegt1 commented on #1321
Problem with the downstream it looks like. Unsure what changed, might be proxy issues (i am using a proxy).

[2020-03-10 15:49] snjeza commented on #1321
See https://github.com/redhat-developer/vscode-java/wiki/Using-a-Proxy

You can try the following:

[code]

[2020-03-10 16:35] xorye opened #1322 "Cannot decrypt model file Illegal key size error"
When opening a Quarkus Gradle project (see sample project), in the "Language Support for Java" output, I get this error:
[code]

##### Environment
- Operating System: macOS Catalina 10.15.2
- JDK version: 1.8.0_121
- Visual Studio Code version: 1.43
- Java extension version: 0.58.0

##### Steps To Reproduce
1. Unzip the sample project .zip file
2. Open VS Code, open File -> Open...
3. Select the `

[2020-03-10 16:48] snjeza commented on #1322
@xorye you can try to disable the  [Visual Studio IntelliCode](https://marketplace.visualstudio.com/items?itemName=VisualStudioExptTeam.vscodeintellicode extension.

[2020-03-10 17:14] jakegt1 commented on #1321
Have tried that, also doesn't work.

[2020-03-10 17:15] jakegt1 commented on #1321
Will note this is a regression for me - i have added those values in 'Using a Proxy'.

[2020-03-10 21:16] snjeza commented on #1322
related issue - #779

[2020-03-10 22:21] VilimKrajinovic opened #1324 "java.lang.UnsatisfiedLinkError with native libraries"
I'm trying to move to VSCode from IntelliJ, and im running into some problems with starting my application (it works normally in IntelliJ and in Eclipse).

When i start my application in VSCode i get greeted with this exception:

[code]

Here its visible that i tried including the native libraries with the `-Djava.library.path=lib/natives` argument, but that doesnt work in vscode (works in intelli

[2020-03-10 23:13] snjeza commented on #1324
@VilimKrajinovic could you try the following:

[code]
instead of

[code]

[2020-03-10 23:22] VilimKrajinovic commented on #1324
Yes! That fixes it! Thank you so much!

I googled for hours trying to fix this issue (although didnt google well enough i guess :D )! I didn't assume args was faulty because i saw it in the output with the rest of the arguments, so i assumed it was passed in correctly!

[2020-03-10 23:32] snjeza commented on #1324
Drago mi je :)  Pozdrav iz Beograda.

[2020-03-10 23:32] #1324 closed

[2020-03-11 14:24] #919 closed

[2020-03-11 19:49] stodge commented on #851
vscode isn't busy with the workspace, according to the status bar at the bottom, but it's been using a ton of CPU for an hour:

Version: 1.43.0
Commit: 78a4c91400152c0f27ba4d363eb56d2835f9903a
Date: 2020-03-09T19:44:52.965Z
Electron: 7.1.11
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Linux x64 5.0.0-40-generic

openjdk version "1.8.0_232"
OpenJDK Runtime Environment (build

[2020-03-11 22:18] jdharvey-ibm commented on #1299
@fbricon Any update on this issue? It is **100% blocking** my ability to use VSCode Java for our projects at work since nothing will compile properly. I can provide whatever details you need about my environment to help debug this issue.

[2020-03-11 22:24] snjeza commented on #1299
@jdharvey-ibm could you send your project and server log - https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#enable-logging

[2020-03-12 11:27] jakegt1 commented on #1321
Weirdly, this is doing the same thing also on my linux machine, but defaults to gradle 6 (which i have no where on the machine.)

However, it seems that gradle wrapper actually works with a proxy now anyway, so can just use that to avoid any issues.

[2020-03-12 13:43] karngyan opened #1326 "Multiple Java server crash on codercom/code-server"
Currently, I have [v0.47.0](https://github.com/redhat-developer/vscode-java/releases/tag/v0.47.0) running on [code-server](https://github.com/cdr/code-server). I tried to upgrade it to  [v0.55.1](https://github.com/redhat-developer/vscode-java/releases/tag/v0.55.1)

It crashes multiple times with the following logs:
[code]
[Complete log file](https://gist.github.com/karngyan/76b6ceca292bb18da029a9

[2020-03-12 15:00] fbricon commented on #1326
There in your logs: 'java.io.FileNotFoundException: /home/crio-user/.vscode-builtin-extensions/redhat.java-0.55.1/server/config_linux/1584001160258.log (Permission denied)

[2020-03-12 15:01] fbricon commented on #1326
It's a change introduced by https://github.com/redhat-developer/vscode-java/issues/1301

[2020-03-12 15:02] fbricon commented on #1326
Can you make ExtensionContext#globalStoragePath writable?

[2020-03-12 17:22] anthonyvdotbe opened #1327 "Incorrect errors "The type X is not accessible""
When opening the attached project, errors are reported on the `Main.java` file, even though something like `mvn clean build` is successful.

##### Environment
- Operating System: Windows 10
- JDK version: 13.0.1
- Visual Studio Code version: 1.43.0
- Java extension version: 0.58.0

##### Steps To Reproduce
1. unzip [foo.zip](https://github.com/redhat-developer/vscode-java/files/4325560/foo.zip)
2.

[2020-03-12 17:41] fbricon commented on #1327
Looks like an issue with the Eclipse JDT compiler. The problem is that both javax.json-api and javax.json contribute identical packages ( javax.json) and JDT seems incapable of picking one. If you remove either one of the 2 dependencies, it will compile without errors

[2020-03-12 17:49] fbricon commented on #1327
also both jars are self registered as the same java.json module. I'd say the fact javac (via Maven CLI) manages to compile without error looks like a fluke. But I'm not a compiler expert so I may be wrong. @brychcy wdyt?

[2020-03-12 19:16] brychcy commented on #1327
I agree:

/Users/till/.m2/repository/javax/json/javax.json-api/1.1.4/javax.json-api-1.1.4.jar has a module-info.class which says "module java.json"

/Users/till/.m2/repository/org/glassfish/javax.json/1.1.4/javax.json-1.1.4.jar has no module-info.class, so it is an automatic module and its manifest says "Automatic-Module-Name: java.json"

Interesting enough, I don't get an error in the problems vi

[2020-03-12 19:16] brychcy commented on #1327
strange enough, mvn -X shows the org/glassfish variation here:
[DEBUG]   (f) compilePath = [/Users/till/Documents/workspaces/all-test/foo/target/classes, /Users/till/.m2/repository/javax/json/javax.json-api/1.1.4/javax.json-api-1.1.4.jar, /Users/till/.m2/repository/org/glassfish/javax.json/1.1.4/javax.json-1.1.4.jar]

but then it isn't even mentioned in the compiler args

[DEBUG] Classpath:
[DEBUG

[2020-03-12 19:20] brychcy commented on #1327
But it sounds like javac really ignores duplicate modules unless they are in the same directory:

https://stackoverflow.com/questions/46573572/java-9-possible-to-have-2-modules-with-same-name-on-module-path

[2020-03-12 19:21] brychcy commented on #1327
So please open a jdt.core bug for the error in the editor.

[2020-03-12 21:51] jdharvey-ibm commented on #1299
[java-language-server.log](https://github.com/redhat-developer/vscode-java/files/4326725/java-language-server.log)

Here's my java language server log. I enabled Java tracing as well, but I can't attach that info for two reasons: 1) it's enormous because our codebase has many millions of lines of code in it; and 2) it is littered with confidential information. If there are specific things you want

[2020-03-12 22:41] snjeza commented on #1299
Could you send your .project and .classpath files?

[2020-03-12 22:50] snjeza commented on #1299
Could you also set the following property:

[code]

and send your server log?

[2020-03-14 05:44] abstratt opened #1328 "Share the ability to launch a Java/Eclipse-based LSP server"
This LSP implementation addresses many issues that are common to LSP servers implemented on Java and Eclipse. For instance, finding a JRE/JDK to run with, launching the Eclipse-based server etc.

It would be great if this was extracted into its own package or somehow exposed so other Eclipse/Java-based LSP servers (for other languages) could reuse it.

[2020-03-14 23:17] niem94 commented on #667
I got this problem with an Apache Felix OSGI Project.

[2020-03-15 14:48] AnhNguyen92 commented on #328
add  [maven-compiler-plugin source and target elements to 1.8](https://maven.apache.org/plugins/maven-compiler-plugin/examples/set-compiler-source-and-target.html) to pom file sovle this problem

[2020-03-16 11:10] #1310 closed

[2020-03-16 12:14] Eskibear opened #1331 "Corner case in parsing major version of JDK"
The [logic](https://github.com/redhat-developer/vscode-java/blob/abb5d6f1d8eba7385f979b7d6d4b1b83731711b6/src/requirements.ts#L94-L114) is to parse the string after "version", but for someone with AdoptOpenJDK 11.0.x, output of `java -version` was just as below:
[code]
There's no "version" between "openjdk" and "11.0.6", and the major version would be recognized as 0.

Originally reported by  http

[2020-03-16 13:35] abique opened #1332 "vmArgs in launch.json does not accept an array of strings"
When configuring a java debugger target, in launch.json, it seems that vmArgs does not accept an array of strings.

##### Environment
- Operating System: Linux
- JDK version: 13
- Visual Studio Code version: latest as of 2020-03-16
- Java extension version: I've installed the java pack.

##### Backtrace:
[code]

[2020-03-16 13:38] l0ca1 opened #1333 "ModelService: Cannot add model because it already exists!"
##### Environment
- Operating System:mac
- JDK version:8u191
- Visual Studio Code version:1.43.0
- Java extension version:letast

##### Steps To Reproduce
1. Use the Call Hierarchy
![image](https://user-images.githubusercontent.com/23295562/76762967-3c8c3680-67cd-11ea-8862-9992ddb7f78c.png)

2. Double click to view
![image](https://user-images.githubusercontent.com/23295562/76763025-4dd54300-67cd-

[2020-03-16 14:22] fbricon commented on #1332
Running/debugging Java applications is out of scope of vscode-java. Please open an issue in  https://github.com/microsoft/vscode-java-debug/issues

[2020-03-16 14:22] #1332 closed

[2020-03-16 14:32] abique commented on #1332
Sorry and thank you!

[2020-03-16 14:37] abique commented on #1332
Follow up here: https://github.com/microsoft/vscode-java-debug/issues/778

[2020-03-16 14:45] fbricon commented on #1333
The Java Dependencies view is provided by a [3rd party extension,](https://marketplace.visualstudio.com/items?itemName=vscjava.vscode-java-dependency), so I'm not sure this is a vscode-java issue. Can you please provide the [server logs](https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#turn-on-message-tracing-between-vs-code-and-the-java-language-server) to see who's misbehavin

[2020-03-17 13:56] #1319 closed

[2020-03-17 19:23] jdharvey-ibm commented on #1299
The language server log was attached in my previous comment. I cannot provide the classpath or project files directly because of the reasons I mentioned above, but I can answer questions related to it if you have specific questions.

[2020-03-17 20:30] snjeza commented on #1299
you have used the following settings:
[code]
Could you change it to the following:

[code]

Could you also try to call  Java: Clean the Java language server workspace? - https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#clean-the-workspace-directory

[2020-03-18 16:17] hanct commented on #1310
Hi, just curious, when will 0.59 (which include this change) can be released for updates as visual studio code etrensions?

[2020-03-18 16:19] fbricon commented on #1310
next release planned for the end of the month. Until then you can use the CI builds

[2020-03-18 23:27] ob commented on #1169
Is this issue resolved? I have a custom init script that we pass to `./gradlew` with the `-I` option:

[code]

I tried adding the following to `.vscode/settings.json`:
[code]
but it doesn't seem to have any effect.

[2020-03-18 23:47] snjeza commented on #1169
See https://github.com/redhat-developer/vscode-java/issues/1310#issuecomment-600726259

[2020-03-19 22:06] fbricon commented on #1164
Sorry I missed this one. But it should work, if t[he maven-compiler-plugin is configured correctly](https://bugs.eclipse.org/bugs/show_bug.cgi?id=545462#c0):

[code]

[2020-03-19 22:07] fbricon commented on #1164
See also  https://github.com/redhat-developer/vscode-java/issues/671#issuecomment-477379761 for non-Maven cases

[2020-03-20 02:27] Eskibear commented on #1331
According to https://github.com/AdoptOpenJDK/openjdk-build/issues/1610#issuecomment-601239870 , it should always have "version" there. It's not clear what was happening on the user's machine. I don't think further actions need to be taken now, let's keep an eye on it.

[2020-03-20 03:04] jdneo opened #1335 "Support refactoring document"
This task contains the following work items:

- [x] Determine the document structure @jdneo #1334
- [x] Filling the content
- [x] Implement the API @jdneo

_See: https://github.com/microsoft/vscode/issues/86788_

[2020-03-20 03:39] #1274 closed

[2020-03-20 07:27] vojtechhabarta commented on #654
After updating VS Code to 1.43 (and all extensions to latest versions) "Classpath is incomplete" notification is gone but there is a problem "XXX.java is a non-project file, only syntax errors are reported". So the problem is still the same in this project.

[2020-03-20 07:40] alefab opened #1336 "Java server fail to start"
`AppData\Roaming\Code\User\workspaceStorage\7c9b780ce95f9dc181c7176c0cf928b1\redhat.java\client.log.2020-03-20`

[code]

`AppData\Roaming\Code\User\workspaceStorage\7c9b780ce95f9dc181c7176c0cf928b1\redhat.java\jdt_ws\.metadata\.log`

[code]

##### Environment
Version: 1.43.1 (user setup)
Commit: fe22a9645b44368865c0ba92e2fb881ff1afce94
Date: 2020-03-18T07:01:20.184Z
Electron: 7.1.11
Chrome: 78.0.3

[2020-03-20 11:23] zzFluke commented on #477
@ThomasHickman we use [Apache Ivy](https://ant.apache.org/ivy/) dependency manager along with Apache Ant build tool, do you know whether the workaround you described will pick up ivy.xml as well? I bet - no, do you think it's worth to include Ivy support in this ticket as well, since it's common to see both tools used together.

[2020-03-20 15:21] jdharvey-ibm commented on #1299
I promise that I had and continue to have my java.trace.server setting set to verbose. If it is not outputting expected information, then that is likely a separate issue that needs investigation. Here's a copy/paste from my vscode settings file:
[code]

Clearing the language server has no effect other than triggering a rebuild which always looks like it's *about* to succeed, but then it bombs out

[2020-03-20 20:55] ob opened #1337 "Variables in settings not being expanded"
If you add [configuration variables](https://code.visualstudio.com/docs/editor/variables-reference) to your settings, they don't seem to get expanded. In my case, I was trying to set:

[code]

Briefly mentioned at the end of #868.

[2020-03-21 19:37] ahofmeister commented on #956
@fbricon Thanks! I honestly invest 4-5 hours into this and even uninstalled Java and Maven multiple times. I uninstalled the extension and the errors are gone! :)

[2020-03-21 20:21] manastalukdar opened #1338 "Support for JDK 14 for Gradle projects"
Please add support for JDK 14

##### Environment
- Operating System: Windows 10 x64
- JDK version: 14
- Visual Studio Code version: 1.44.0-insider
- Java extension version: 0.58.0

Repro project: https://github.com/manastalukdar/dummy-java (gradle based)

------------------

**Update:** https://twitter.com/VSCodeJava/status/1241478764091133952

[2020-03-21 21:01] snjeza commented on #1338
@manastalukdar You may want to take a look at https://github.com/redhat-developer/vscode-java/issues/1302 and https://github.com/eclipse/eclipse.jdt.ls/issues/1360

[2020-03-22 00:05] gabrielbcn commented on #1338
Please...

Right now...

 /Library/Java/JavaVirtualMachines/openjdk-14.jdk/Contents/Home/bin/java --enable-preview -Dfile.encoding=UTF-8 -cp "/Users/gabriel/Library/Application Support/Code/User/workspaceStorage/2cfe7776ea6b5be44832e599c44a91d4/redhat.java/jdt_ws/EvolveN_64cb39b9/bin" ConnectN
Error: LinkageError occurred while loading main class ConnectN
        **java.lang.UnsupportedClassVersio

[2020-03-22 02:28] snjeza commented on #1338
@manastalukdar you can try to add the following property:

[code]
to <your_project>/.settings/org.eclipse.jdt.core.prefs

[2020-03-22 04:23] varrix commented on #1062
Not sure why this coninues to be an issue for me. I enjoy using VSC for quick edits where VI* isn't the only option available. Although with my $JAVA_HOME set, exported automatically, and picked up on automatically by other IDEs such as IntelliJ, Eclipse, AND NetBeans... VSC even shows the path it found, but instead decides to mention that in my settings "$JAVA_HOME" is an invalid path..? wuh wuh?

[2020-03-22 09:34] anthonyvdotbe commented on #663
@gorkem will you please label this as an enhancement rather than a question?

[2020-03-22 23:11] ThomasHickman commented on #477
@zzFluke I don't know whether this will pick up ivy.xml as well: I don't have that much experience with Java build systems (I just came across this workaround by googling and trial and error). I guess that this would be useful as well though, so I'll change the ticket title.

[2020-03-23 03:50] testforstephen commented on #1337
This seems to be a common need for many extensions. It’s better to let VS Code platform to expose the resolveVariable API for extensions to adopt. I already pushed comments to the upstream issue microsoft/vscode#2809, and see how it's going.

[2020-03-23 10:18] fbricon commented on #1338
The [server fix](https://github.com/eclipse/eclipse.jdt.ls/pull/1391) applies the Java 14 patch on JDT 4.15 (See https://marketplace.eclipse.org/content/java-14-support-eclipse-2020-03-415)

Known Issues:

Try statement inside switch expressions yielding values are known to have stack map verification errors. More details at https://bugs.eclipse.org/545567

The compiler does not yet support patter

[2020-03-23 13:12] fbricon commented on #1338
@manastalukdar sorry but seems like Java 14 support for Gradle is not there yet. Your example uses compileTestJava, which is ignored by Buildship, because Eclipse cannot use different compiler settings for main and test code, nothing we can do about it.
So I tried with compileJava instead, but I found that [sourceCompatibility/targetCompatibility in compileJava block are ignored in buildship](http

[2020-03-23 13:15] GuillaumeDesforges commented on #1263
We are missing a setting in this extension to pass parameters to Maven for the build before the run.

[2020-03-23 14:19] mfgabriel92 commented on #654
For me, the "XXX.java is a non-project file" message disappeared when I closed the project and opened it again, because when creating one with the extension, it would pop-up a new VScode window, and I was closing it and keeping the previous one open.

[2020-03-23 14:43] fbricon commented on #1337
Closing as duplicate of #806

[2020-03-23 14:43] #1337 closed

[2020-03-23 18:26] blakematis commented on #237
Did this get released I do not see a resolution just many duplicate issues with the same information?

[2020-03-24 08:49] testforstephen commented on #1222
From the API documentation, the file events could be from file explorer, or `workspace.applyEdit`-api.

If the new file is created from file explorer, it makes sense to pre-populate some contents based on the context.

But if the new file is from `workspace.applyEdit` operation, and populating some contents by the client watcher is probably not a good choice. Generally the applyEdit operation is f

[2020-03-24 09:47] jrieken commented on #1222
No, you cannot know what triggered the event. Still, when using `onDid`-events then the first round of edits have already happened. E.g a refactoring has already finished and your listener can check the newly created files before sending off another edit, e.g only add the package-statement when the file is empty

[2020-03-24 09:59] testforstephen commented on #1222
this is the ideal situation, but the actual sequence won't support that.

See the sequence i observed:
-> Apply quick fix to add the missing type
-> onDidCreateFiles event
-> didOpen
-> didChange

So at the onDidCreateFiles event, actually the language server didn't receive the previous edit change yet, so cannot tell the file is empty.

[2020-03-24 10:06] jrieken commented on #1222
You can "change" the sequence by opening the document while handling the event. The onDid-event doesn't wait for you and it can use these files just as hint as way of "this file has been created, keep this in mind and fill in default when I know more and when it makes sense"

[2020-03-24 12:32] donat commented on #1338
Exactly. We'll fix this shorly. Check https://github.com/eclipse/buildship/issues/979 for the details.

[2020-03-24 20:25] #1073 closed

[2020-03-25 01:29] ivenxu commented on #1031
@fbricon any progress on this one? Are you sure it's i classifier related?

[2020-03-25 05:11] manishbhalshankar commented on #1232
Facing the same issue with a huge project. I have checked by creating different workspaces for eclipse and vscode. Maven build (mvn clean compile) succeeds, eclipse also compiles the project successfully but vscode shows more than 40K errors like:
1. The import cannot be resolved.
2. ClassName cannot be resolved to a type
and many more.

If I open the file, compilation errors in that perticular fi

[2020-03-25 07:59] fo-fo opened #1341 "Extension keeps building code, never finishing"
I'm trying to use the vscode-java extension in VSCode, but it keeps on building the same source code (it seems) again and again, hogging 100% CPU.

I see lines like this in the `Task - Java Build Status` Terminal: `1e7bf092 Building: 72% Compiling foo/src/test/java/fi/bar/xyzzy/controller [720/1000]`. After it completes, it starts again.

I set the "Trace" setting in Settings to "messages", and sa

[2020-03-25 10:02] testforstephen commented on #1222
ok, thanks. I managed to exclude non-empty new files via `workspace.openTextDocument(uri)` api during `workspace.onDidCreateFiles` handler.

Now regarding to the rename events, it's a little complicated.
- If it's file name rename operation, then it's workable to update the main class name in the `workspace.onDidRenameFiles` listener.
- But if it's a file move operation (e.g. move class from packa

[2020-03-25 10:27] jrieken commented on #1222
For us, rename and move are the same. So, I don't know how you would differentiate between them?

Not sure what you mean? Are you concerned that you could have caused the move and that there is nothing that needs to be done? Is there a "move to new folder" refactoring or how does this happen?

[2020-03-25 11:55] testforstephen commented on #1222
I understand rename in VS Code is generic, it's just because our Java implementation uses different logic to handle them. Currently i will check whether the oldUri and newUri is in the same directory to tell it's a rename or move.

yes, the Java extension provides a "move" refactoring in the editor context. And when the menu is clicked, it will prompt a quick pick to tell user to select the destin

[2020-03-25 16:23] 773780238 opened #1342 "Is the latest version supporting JDK 14?"
[provide a description of the issue]
I downloaded JDK 14 today, but the VSCODE cannot compile and run my code correctly. However, the code can be compiled and run perfectly using  Powershell command line. It says that Language Support for Java by Red Hat in VSCODE is not supporting JAVA 14 now, then when can we expect it supporting.
##### Environment
- Operating System: Windows 10
- JDK version: 1

[2020-03-25 16:38] fbricon commented on #1342
We should release a Java 14 compatible version next week. In the meantime, you can install the latest CI build from [http://download.jboss.org/jbosstools/jdt.ls/staging/](http://download.jboss.org/jbosstools/jdt.ls/staging/?C=M;O=D). Download the most recent `java-<version>.vsix` file and install it by following the instructions [here](https://code.visualstudio.com/docs/editor/extension-gallery#_i

[2020-03-25 16:38] #1342 closed

[2020-03-25 22:50] sanghas26 commented on #579
@RushOT i'm wondering the same. you can create your own custom snippet and have it override this. but i need to see how to get the correct package

[2020-03-26 02:23] spottedmahn commented on #228
is there a way to trigger it to update the Javadoc comment for added/removed params?

[2020-03-26 08:55] jrieken commented on #1222
Understood - we could add a `reason` or `source` property that tells you what caused the workspace edit, in the spirit of `TextDocumentSaveReason` or `TextEditorSelectionChangeKind`. That could tell you if an edit was caused by a user gesture or not.

[2020-03-26 08:58] jrieken commented on #1222
I have created https://github.com/microsoft/vscode/issues/93470 for this

[2020-03-26 09:21] testforstephen commented on #1222
Cool. that's exactly what i want.

[2020-03-26 12:32] Meir017 opened #1343 "syntax highlighting detects regex as comment"
typing `//*` causes the rest of the line to be recognized as a comment event it's inside a literal string

![image](https://user-images.githubusercontent.com/9786571/77647121-8663e200-6f6e-11ea-82ff-1ec654ab4296.png)

the compiler works fine, it's only the highlighting that isn't right

Version: 1.41.1 (system setup)
Commit: 26076a4de974ead31f97692a0d32f90d735645c0
Date: 2019-12-18T14:58:56.166Z
E

[2020-03-26 21:56] sfariaNG opened #1344 "Maven projects not detected when gradle found"
I tried to search the existing issues and could not find this particular issue discussed anywhere. If I open VS Code with a simple Maven project (single pom.xml, no sub-modules) and there are Gradle projects existing within the target folder then the maven project is not detected and its dependencies and source folders are not added to the Java source paths list.

To fix the issue I must run a `mv

[2020-03-26 22:21] snjeza commented on #1344
@sfariaNG you can try the following settings:

[code]
or
[code]

[2020-03-26 22:41] sfariaNG commented on #1344
It looks like setting those exclusions does the trick and intellisense is maintained as long as my .classpath is setup correctly. I still think this is a bug that should be addressed as it doesn't make sense to behave differently in the two scenarios, but this workaround is sufficient in the meantime. Not sure how you all want to handle this ticket.

[2020-03-27 03:54] hanct commented on #1310
Thanks. Would prefer to wait for visual studio code extensions, which hopefully can be released anytime this week or early next week.

[2020-03-27 06:49] notaphplover commented on #510
Maybe it's a bit late, but after reading the [docs](https://docs.flatpak.org/en/latest/sandbox-permissions.html#filesystem-access):

Since `/usr` is mounted at `/var/run/host`, it worked for me to config my jdk path as follows:

__settings.json__
[code]

[2020-03-27 10:15] anthonyvdotbe opened #1345 "equals() generation is broken with a field named other"
If a class contains a field named `other`, the generated `equals()` method will be broken

##### Environment
- Operating System: Windows 10
- JDK version: 13.0.1
- Visual Studio Code version: 1.43.2
- Java extension version: 0.58.0

##### Steps To Reproduce
1. do `Source Action...` -> `Generate hashCode() and equals()...` in the class below

[code]

##### Current Result
[code]

##### Expected Resu

[2020-03-27 10:22] anthonyvdotbe opened #1346 "Source actions should generate code at cursor location"
If I'm generating code, I want the code to be generated at my current cursor's location

##### Environment
- Operating System: Windows 10
- JDK version: 13.0.1
- Visual Studio Code version: 1.43.2
- Java extension version: 0.58.0

##### Steps To Reproduce
1. Given the class below, when I generate the getter/setter for the field `other`, I want them to be inserted where my cursor is, between the fi

[2020-03-27 12:32] fbricon commented on #1345
Indeed, this occurs when "java.codeGeneration.hashCodeEquals.useJava7Objects": true, this is a bug in upstream Eclipse JDT

[2020-03-27 13:29] fbricon commented on #1345
I opened https://bugs.eclipse.org/bugs/show_bug.cgi?id=561517

[2020-03-27 17:32] vb-software opened #1348 "VSCode Condense Folder Causing Issue with Java Path"
Issue Type: <b>Bug</b>

The condense folder feature of VSCode causes issues when using the Java context menu to add the folder to java path.  Instead of adding the folder I click on, it takes the entire path to the destination folder that is condensed.  In the meantime I had to turn the condense feature off.

Extension version: 0.58.0
VS Code version: Code 1.43.2 (0ba0ca52957102ca3527cf479571617f0

[2020-03-27 19:26] StormFalcon32 opened #1349 "Says 'Resource leak never closed', but it is closed"
[provide a description of the issue]

##### Environment
- Operating System: Windows 10
- JDK version: 1.8.0_191
- Visual Studio Code version: 1.43.2
- Java extension version: 0.58.0

##### Steps To Reproduce
1. Open the code in vscode
2. There is a problem saying "Resource leak: 'in' is never closed" and "Resource leak: 'out' is never closed", despite the fact that I have "in.close()" and "out.clo

[2020-03-30 00:50] jimnz111 commented on #158
I have been having issue of it never ending. Looked at the .log file and it was due to a git branch that had unmappable characters. I removed the branch locally and it now builds.

[2020-03-30 02:11] testforstephen commented on #1348
this is a VS Code bug https://github.com/microsoft/vscode/issues/93709

[2020-03-30 02:58] hanct opened #1350 "vscode-java does not use gradlew.bat?"
vscode-java: v0.59.0-2071 (non stable release)
vscode IDE: v1.43.2

Hi,

I rename the gradlew.bat to some other file name , say gradlew1.bat.  I then run the java application via vscode (not command line), it is able to run successfully, but i am expecting error, since i aim to run the application via the wrapper (gradlew.bat).

Note that my workspace setting has this "java.import.gradle.wrapper.e

[2020-03-30 04:43] hanct commented on #1350
Ignore this question. I realize i need to reload my configuration to take effect.

[2020-03-30 04:43] #1350 closed

[2020-03-30 07:29] testforstephen commented on #1346
fair enough.

[2020-03-30 07:37] testforstephen commented on #1341
@fo-fo if you change the java trace setting to "verbose", you will see the full logs about "workspace/didChangeWatchedFiles" notification.

[2020-03-30 15:51] fbricon commented on #1349
This can be reproduced in Eclipse IDE. I opened https://bugs.eclipse.org/bugs/show_bug.cgi?id=561589

[2020-03-30 19:51] fo-fo commented on #1341
@testforstephen Thanks, I was able to narrow down the cause. It seems that RAML code generation is the culprit, as didChangeWatchedFiles refers to the generated files and I can see the generated files' time stamps changing every few minutes. So, it seems like the build changes the files, which then triggers didChangeWatchedFiles and a rebuild, which again changes the files, and so on.

I'm not sur

[2020-03-30 20:27] #1275 closed

[2020-03-31 07:37] hanct commented on #1070
I second support this. I am not able to set relative path, not even using ${workspaceFolder}.
E.g    "java.home": "${workspaceFolder}/jdk1.8.0_77"   is not working.

[2020-03-31 07:55] testforstephen commented on #1341
The built-in builder won't support ant, and it's an incremental builder, which is supposed to not regenerate the files. Do you have other building jobs running in the background?

[2020-03-31 08:05] hannah23280 opened #1352 "Support Building/Running/Debuging of Java application via Gradle Tasks"
Hi,

I would like know if it is possible for the vscode-java extension to support run/debug/build/clean java application via gradle tasks.

Currently, when we run java application in vscode,  it seems that gradle is not involved. This is evidenced from the fact that the compiled java class goes into the bin folder. If it goes via gradle, it would have been in the build folder.

Currently to debug

[2020-03-31 08:06] hanct commented on #1352
Do note that VSCode has a feature called auto attach. But that is applicable only to node.js. There seems to be no similar kind of "auto-attach" , when running java application via gradle.

[2020-03-31 09:40] jankeromnes opened #1353 "Trouble publishing to Open VSX"
Hello! 👋 We would love to have the `redhat.java` extension available in https://open-vsx.org

So we've recently [added it](https://github.com/open-vsx/publish-extensions/blob/9eedf9c5563aeddc1c48808595a5dc8491820fe5/extensions.json#L288-L292) to an [auto-publishing script](https://github.com/open-vsx/publish-extensions), but it turns out that our script is not packaging the `redhat.java` extension

[2020-03-31 13:04] ibbignerd commented on #138
Is JSP support in the development roadmap? Seems like the last bit of support needed before one can fully switch over to VS Code for java development.

[2020-03-31 14:13] fbricon commented on #138
Still no. My previous comment still applies

[2020-03-31 14:29] brownoxford commented on #618
The issues with android projects have been mentioned before, but some more details are:

I use vscode with the java extensions for some of my java projects, and I also use it for an ionic/capacitor mobile app which is built via CLI (fastlane). I do not edit any of the java files manually in this project, but did accidentally open one java file in vscode. As soon as I did that, vscode has started t

[2020-03-31 16:22] fbricon commented on #1222
Fixed:
![newfile](https://user-images.githubusercontent.com/14052197/77510070-e4c68d00-6ea8-11ea-8a47-6064506d96d9.gif)

When the project uses JDK 14, the proposals look different to accomodate for the different `record` content:

![image](https://user-images.githubusercontent.com/14052197/77926887-3de35600-72d9-11ea-8507-040a0034c032.png)

[2020-03-31 16:22] #1222 closed

[2020-03-31 17:02] fbricon commented on #1338
Example of build.gradle file supporting Java 14 preview features. Requires Gradle 6.3 and needs to manually invoke `./gradlew eclipse`, so the generated eclipse JDT config files can be used by  vscode-java:

[code]

[2020-03-31 17:02] #1338 closed

[2020-04-01 07:15] manastalukdar commented on #1338
Does not work. Following exception from `Language Support for Java`:

[code]

[2020-04-01 09:29] fbricon commented on #1338
@manastalukdar this is another issue. Please open a different ticket for that, with exact steps to reproduce (adding a sample project would help a lot).

[2020-04-01 15:16] fbricon commented on #544
Closing stale issue. Embedded Gradle is now 6.3

[2020-04-01 15:16] #544 closed

[2020-04-01 15:29] fbricon commented on #1353
Currently, most releases of vscode-java can not be rebuilt from source after a certain time, because the server is rebuilt by the CI, instead of being downloaded from a known place. Yes, we know we need to improve that.
In the meantime, would it make things easier if you downloaded the released builds directly from our github releases page?

[2020-04-01 15:54] Tazaf opened #1354 "[Question] What does actually happen when a project (with a pom.xml) is built?"
I have some difficulties understanding what really happens when the Java Language Server starts upon opening my project on VS Code and when I save a modified `.java` file afterward.

My question concerns specifically the building of the project, and I'm asking it because I've witnessed behavior that I couldn't quite explain.

My project is a Maven project and thus, has a `pom.xml` file. In this fi

[2020-04-01 16:01] jankeromnes commented on #1353
Thanks for this information. Then I think it would make sense if the vscode-java CI, after rebuilding the Language Server and packaging a `redhat.java` extension, also calls `npx ovsx publish <extension>.vsix`.

If that's not possible, we could also publish the `.vsix` from your GitHub Releases to https://open-vsx.org. I'm happy to do that manually this week, but it's not really a sustainable appr

[2020-04-01 16:32] rafaelrenanpacheco opened #1355 "Option to lint on save"
##### Environment
- Operating System: Linux x64 5.4.28-1-MANJARO
- JDK version: OpenJDK 11.0.6
- Visual Studio Code version: 1.43.2
- Java extension version: 0.59.0

##### Feature request
When typing some code the extension will automatically lint the code when I stop typing, but before I save the file. This causes some distraction because I get some warning even tho I didn't finish writing my cod

[2020-04-02 00:46] hasanmumin opened #1356 "ignore missingSerialVersion"
##### Environment
- Operating System: macOS 10.15.4
- JDK version: 1.8
- Visual Studio Code version: 1.43.2
- Java extension version: 0.58.0

##### Steps To Reproduce
Hi, I am trying to ignore missingSerialVersion warning,
I created .settings/org.eclipse.jdt.core.prefs at project root folder with this settings:

[code]
but looks like does not works, can you explain why ?

##### Current Result
Stil

[2020-04-02 04:15] snjeza commented on #1356
I can't reproduce the issue. Could you provide a sample project?

[2020-04-02 11:00] akosyakov commented on #1353
@fbricon Please consider to claim namespace ownership in Open VSX Registry: https://github.com/eclipse/openvsx/wiki/Namespace-Access#how-to-claim-a-namespace and publish with how @jankeromnes suggested in https://github.com/redhat-developer/vscode-java/issues/1353#issuecomment-607337884

It will totally resolves this issue and make sure that no one else can publish under `redhat` namespace (publis

[2020-04-02 11:13] fbricon commented on #1353
@jankeromnes @akosyakov trying but: https://github.com/eclipse/openvsx/issues/60

[2020-04-02 11:37] hanct opened #1357 "Relative Path for java.home?"
Hi,
From the description of java.home, it stated "absolute path....".   Is there any possibility to support relative path? A good use case is that when we configure as relative path, we can check in our setting file to source control to share with rest of other co-developer, who would have the jdk in the same relative path (but not necessarily same absolute path)

[2020-04-02 12:09] fbricon commented on #1353
Ok I pushed it manually for now: https://open-vsx.org/extension/redhat/java
I also claimed the redhat namespace: https://github.com/eclipse/open-vsx.org/issues/6

Now I need to configure the Jenkins jobs on the RH side to do the publishing automatically

[2020-04-02 17:06] rafaelrenanpacheco opened #1358 "Add "Generate constructor" option in "Show Fixes" options for fields"
##### Environment
- Operating System: Linux x64 5.4.28-1-MANJARO
- JDK version: OpenJDK 11.0.6
- Visual Studio Code version: 1.43.2
- Java extension version: 0.59.0

##### Steps To Reproduce
In IntelliJ is possible to generate a constructor from fields very easily. This enhances productivity because in Spring Boot projects there''s a lot of dependency injection through constructor. So usually we d

[2020-04-02 17:26] fbricon commented on #1358
You can [bind source actions to a shortcut](https://code.visualstudio.com/docs/getstarted/keybindings#_custom-keybindings-for-refactorings), for instance:
[code]
Make sure the key doesn't conflict with an existing keybinding.  It's an editor-wide shortcut, nothing specific to vscode-java here.

[2020-04-02 17:35] rafaelrenanpacheco commented on #1358
Hello @fbricon!

Your suggestion for the Source Action shortcut would indeed solve this issue. But wouldn't be better if this feature was available for default for every user? For example, I'm trying to migrate from IntelliJ to VS Code, and it's very natural (at least in my case) to look for all available "quick fix" options directly on the field, and not anywhere on the code through the `Source A

[2020-04-02 18:32] fbricon commented on #1358
vscode-java is not the IDE. Source Actions are a common feature across vscode, I suggest you take it up there: https://github.com/microsoft/vscode/issues

[2020-04-02 18:45] fbricon commented on #1358
@snjeza please see how we can add the constructor quick fix to unused fields, like in IJ

[2020-04-02 23:03] rafaelrenanpacheco commented on #964
That would be a nice feature, it is the default behavior in IntelliJ.

[2020-04-03 03:01] alantango commented on #1232
I face the same issue, however, it happens only within my company, not at home.
@manishbhalshankar you mentioned "huge project"....is that at your work? I'm not sure if that's a factor here. In my case, we have an internal Maven repository server, instead of the public repo (https://repo.maven.apache.org/maven2).

[2020-04-03 03:22] rafaelrenanpacheco commented on #1038
Lombok imports are ok for me as well when using organize imports on maven projects. I saw that wrong import once when I opened a .java file without any project related (open a new workspace and open a random .java file), then organize imports imported the wrong lib. But I didn't care because I was not in a maven project, and was just testing some themes.

[2020-04-03 03:40] rafaelrenanpacheco opened #1361 "Unable to suggest field name in the presence of annotation and compilation errors"
##### Environment
- Operating System: Linux x64 5.4.28-1-MANJARO
- JDK version: OpenJDK 11.0.6
- Visual Studio Code version: 1.43.2
- Java extension version: 0.59.0

Hello!

This issue was first reported in the wrong repo (https://github.com/MicrosoftDocs/intellicode/issues/182), but disabling IntelliCode didn't affect the issue, so it was suggested the issue could be in vscode-java. Here it is:

[2020-04-03 07:25] jsaulou opened #1362 "Very slow update/refresh with Gradle multi project including non Java project with large number of files"
Hi,

I'm using a multi project build with a Spring Boot backend and an Angular frontend.
The Gradle build is used to create a jar for the frontend that serves as a dependency for the Spring Boot project.
Each project has its own `build.gradle` file. No issues there.

The problem is that the Java Language Server spends a large of amount of time (~15 minutes) updating and refreshing the root project

[2020-04-03 09:11] starrykai commented on #1356
I have the same problem，the project created by Intellij Idea. when I  use the vscode open it,I can see warning messages about missingSerialVersion

[2020-04-03 09:18] codingchili opened #1363 "Failure to start 0.59 in theia 1.0.0/dev - onDidCreateFiles is not a function in workspace"
Failure to load vscode-java plugin from https://github.com/redhat-developer/vscode-java after installation, see logs.

##### Environment
- Operating System: Ubuntu/Linux 18.04
- JDK version: 1.8.0.u242
- Visual Studio Code version: Theia 1.0.0 and Theia dev@5e45d2b8a
- Java extension version: 0.59.0 https://github.com/redhat-developer/vscode-java

##### Steps To Reproduce
1. Install the java exten

[2020-04-03 11:09] #1363 closed

[2020-04-03 11:42] fbricon commented on #1363
https://open-vsx.org/extension/redhat/java has been updated with 0.59.1

[2020-04-03 13:07] rafaelrenanpacheco commented on #1343
Syntax highlight is not done by vscode-java. It is a combination of token identification and the color theme you are using. In you case looks like the token identification is wrong, and you could open an issue upstream (https://github.com/atom/language-java). After upstream fix the issue, vscode team will pull those fixes and the problem will be gone on a new release.

On the other hand, I'm using

[2020-04-03 13:22] fbricon commented on #1343
Can't reproduce with 1.43.2 either. I tested all themes I have (a lot), nothing unusual. So either this was fixed upstream or a 3rd party extension is messing up with the syntax. In any case, there's nothing we can do here.

[2020-04-03 13:22] #1343 closed

[2020-04-03 15:18] uy-rrodriguez commented on #400
Dear all,
This issue is linked to some issues with the LiveReload feature of SpringBoot not reloading when templates or assets are modified. Now that this fix has been applied, is LiveReload supposed to work for resources out-of-the-box?

It's not working in my case. I'm using Java 14, pom.xml includes only the dependencies spring-boot-starter-web, spring-boot-starter-oauth2-client, spring-boot-st

[2020-04-03 16:24] uy-rrodriguez commented on #400
My bad. Between try and retry, my last configuration (when I decided to comment here) was missing two things:

1. **Activate the plugin**. I somehow deactivated it. The plugin fro Chrome has a little dot in the middle that, when it's white, it means the reloading is deactivated, when it's black is listening for changes.
2. **Add resources to classpath during build time with:**
[code]

[2020-04-04 01:59] alantango opened #1365 "Add the java.configuration.maven.globalSettings property"
I'm very close to make the switch to VSCode from Eclipse, this is the last hurdle, but one I can't walk around. Please help.

**The Problem:** A working Maven project that builds fine with command line mvn will have many errors in pom once loaded in VS code. POM errors result in classes / types in dependency libraries not resolved in the editor.

**Note:** This seems to happen only within a corpor

[2020-04-04 15:04] snjeza commented on #1365
@alantango How did you create your SSL certificate on https://internal.myfirm.com/repository/maven/?
See https://github.com/redhat-developer/vscode-java/issues/455#issuecomment-580660715

[2020-04-04 18:23] alantango commented on #1365
@snjeza Thanks. I don't know how it was generated but it's an enterprise internal cert (the name I used above is masked for obvious reasons). You think it has something to do with the cert?

[2020-04-04 20:05] snjeza commented on #1365
Does the issue happen in Eclipse?
Do you use a proxy?

[2020-04-04 21:24] alantango commented on #1365
@snjeza It works fine with Eclipse, no proxy used in Eclipse, the repo server is within the corp network. Eclipse's Maven setting points to the exact same setttings.xml files as installed on my machine.

[2020-04-04 21:35] snjeza commented on #1365
@alantango Could you send your VS Code settings.json and Maven settings.xml path?

[2020-04-04 21:48] alantango commented on #1365
@snjeza Here:
C:\Users\user-name\AppData\Roaming\Code\User\settings.json
C:\Users\user-name\.m2\setttings.xml

Here is the entire settings.json:
[code]

[2020-04-04 22:14] snjeza commented on #1365
@alantango could you try to add the following VS Code settings:

[code]
or
[code]

[2020-04-04 22:30] alantango commented on #1365
@snjeza Tried both and problem remains the same.

Btw I also tried a popular suggestion of command "Java: clean the Java Language server workspace" -> Restart and clean, with or without above changes, no effect.

[2020-04-04 22:37] snjeza commented on #1365
Could you show the next Eclipse Preferences:
General>Network Connections
Maven>User Settings

[2020-04-04 23:05] snjeza commented on #1365
@alantango which version of Eclipse are you using?

[2020-04-04 23:41] alantango commented on #1365
Eclipse Version: Oxygen.3a Release (4.7.3a)
Build id: 20180405-1200

![eclipse-settings](https://user-images.githubusercontent.com/56481094/78463561-224ac780-76ac-11ea-9305-3910917a12a3.png)

[2020-04-05 00:23] snjeza commented on #1365
Could you show the  General>Network Connections Eclipse Preferences?

[2020-04-05 00:44] snjeza commented on #1365
VS Code doesn't use a global maven settings.
Could you try append your global settings to your user settings?

[2020-04-05 01:41] alantango commented on #1365
@snjeza Oh that's interesting...didn't know that. Anyways just tried, problem remains. I made sure mvn command standalone still works.

[2020-04-05 03:51] rafaelrenanpacheco commented on #998
There's an open issue requesting them to make their formatter a standalone API, but I don't think it will ever be done: https://youtrack.jetbrains.com/issue/IDEA-185010?p=IDEABKL-7685

Which is sad, because IMO they have the best formatter, and it would be a big onboard feature for those trying to leave IJ to use VS Code.

[2020-04-05 10:15] manishbhalshankar commented on #1232
Hi Alantango,
Yes, it is my work project and we use both, internal as well as central repo. This used to work properly till vscode version 1.38-1.40 (not sure on the exact versin no.)

[2020-04-05 12:50] alantango commented on #1232
@manishbhalshankar I raised a separate thread #1365 here yesterday too:

https://github.com/redhat-developer/vscode-java/issues/1365

[2020-04-05 16:22] snjeza commented on #1365
@alantango could you try the following in Eclipse:
- append your global settings to your user settings
- remove the global settings preference

Could you also check Eclipse IDE 2020‑03?

[2020-04-05 17:36] alantango commented on #1365
@snjeza Current Eclipse works with merged global setting files. But vscode still won't work. Don't plan to change to Eclipse 2020-03.

[2020-04-05 17:41] snjeza commented on #1365
@alantango Could you send your VS Code log when using merged global settings in VS Code?

[2020-04-05 20:37] alantango commented on #1365
See attached. Same errors seen in my original post's attached log.
[vscode-jdt2.log](https://github.com/redhat-developer/vscode-java/files/4434818/vscode-jdt2.log)

[2020-04-05 20:49] snjeza commented on #1365
@alantango could you send the output of the following command:
[code]
You have three 't' in settings.xml

[2020-04-05 21:59] alantango commented on #1365
@snjeza Ahh that was it. I corrected and file name and it worked, then I removed the setting altogether and it worked as well. Looking at the thread history, that wrong file name '_setttings.xml_' was added BEFORE I merged the global settings file. It can either be empty or put in with a correct file name.

Thank you very much!

So the key is what you said earlier: **VS Code doesn't use global mav

[2020-04-05 22:01] alantango commented on #1232
@manishbhalshankar I believe the solution that resolved #1365 would work for you too. Suggest you give it a try.

[2020-04-05 22:18] snjeza commented on #1365
@fbricon should we add the java.configuration.maven.globalSettings property?

[2020-04-06 13:11] fbricon opened #1366 "Display a warning about the impending requirement of Java 11 to run the extension"
Eclipse Platform has decided to require Java 11 as the minimum requirement for its September 2020 release. See https://www.eclipse.org/lists/eclipse-pmc/msg03821.html.

Because vscode-java depends on the Eclipse JDT.LS server, that same requirement will apply to future vscode-java releases. But the timeline should be more aggressive: Indeed, vscode-java usually consumes JDT.LS builds that depend o

[2020-04-06 14:52] manishbhalshankar commented on #1232
@alantango  no that solution did not work for me. I have not downgraded Language support for Java ™ by Red Hat to version 0.55.1. No compilation errors are now reported. There was some change done in v0.56.0 which is causing issues with legacy maven projects with multiple modules and submodules.

[2020-04-06 15:13] angelozerr opened #1367 "workspace/notify notification creates no vscode command as expected"
I'm trying to send an notification on JDT LS extension side by sending a notification `workspace/notify` with:

https://github.com/eclipse/eclipse.jdt.ls/blob/cf6358ba4c166fa7d4c45aba5b7b22ea08516524/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/lsp/ExecuteCommandProposedClient.java#L26

On TypeScript client side, I'm trying to consume the expected notification but it doesn't work a

[2020-04-06 17:16] alantango commented on #1232
@manishbhalshankar ok....I'm using v0.59.1 which I believe it's the latest.

[2020-04-06 18:20] manishbhalshankar commented on #1232
Yes, thats the latest version. I am facing issues with all versions after v0.55.1

[2020-04-07 04:45] nspeedzy opened #1371 ""Language Support For Java" Extension is slowing down my CPU"
I had just installed the "Language support for Java" Extension on vscode but I find out that it takes too long to load whenever I open a `.java` file. It also slows my computer down when other tasks are running.

##### Environment
- Operating System: Windows
- JDK version: 14
- Visual Studio Code version: 1.43.2
- Java extension version: 0.59.1

##### Steps To Reproduce
1. Restarted vscode
2. Unin

[2020-04-07 10:40] venkatnr-github commented on #800
I have a similar issue. The gradle build is successful, but I see lot of package cannot be resolved errors.

Here is my IDE version details:
Version: 1.43.2
Commit: 0ba0ca52957102ca3527cf479571617f0de6ed50
Date: 2020-03-24T07:34:57.037Z
Electron: 7.1.11
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Darwin x64 19.3.0
Mac OS Catalina

I tried to clean the server logs, but it di

[2020-04-07 13:35] #1367 closed

[2020-04-07 17:01] fbricon commented on #1371
Please define "long"

[2020-04-07 19:31] manishbhalshankar commented on #800
@venkatnr-github
Can you try downgrading Language support for Java ™ by Red Hat to version 0.55.1. I had a similar issue with maven project and this downgrade fixed it. It is disucssed here: #1232

I think it is due to eclipse.jdt.ls upgrade. Language support for java 0.55.1 uses Java Language Server 0.49.1.201912231651 where as later version is using Java Language Server 0.54.0.202004031121.

[2020-04-08 02:35] nspeedzy commented on #1371
It is like taking almost half an hour to load fully and during the duration of the load, It is slowing down my computer

[2020-04-08 02:40] testforstephen commented on #1223
In the latest 0.59.1, we pushed a fix about BadLocationException, see https://github.com/eclipse/eclipse.jdt.ls/issues/1374. @jrieken @ivenxu Could you check again whether this issue still  reproduce? thanks.

[2020-04-08 05:19] fo-fo commented on #1341
@testforstephen Nope, no other build jobs running. And as soon as I turn off auto build I can see from the RAML file timestamps that the files are no longer being regenerated. Moreover, if I disable `springmvc-raml-plugin` in Maven's `pom.xml` the issue disappears. If I disable the Ant jobs but leave `springmvc-raml-plugin` enabled, the issue persists, so it seems like the Ant jobs are not the cau

[2020-04-08 05:21] testforstephen commented on #1371
What do you mean "slowing down my computer"? High CPU usage?

Could you disable all other extensions and only keep "Language Support For Java" Extension, then try again?

[2020-04-08 05:45] testforstephen commented on #1341
OK. By default, Intellij IDEA doesn't compile classes automatically, that's probably the reason why you didn't get the issue there.

[2020-04-08 11:51] nspeedzy commented on #1371
Ok

[2020-04-08 12:30] nspeedzy commented on #1371
Ok

[2020-04-08 12:34] nspeedzy commented on #1371
It is saying: "100% Starting Java language server". I have a log file to show that:

[link to log](https://github.com/nspeedzy/projects/blob/master/javalangext.log)

[2020-04-08 13:18] nkibbey commented on #728
Found that some array syntax still breaks some highlighting

using
vscode 1.43.2
java extension 0.59.1
java 8

![poorHighlighting](https://user-images.githubusercontent.com/16986162/78788319-a38aae80-7979-11ea-8b4c-e646f6359d57.PNG)

[2020-04-08 13:57] testforstephen commented on #1371
@nspeedzy thank you for sharing the video. I think I probably understand your issue. it's hanging at copying resource. Your project is a polyglot project, and you just create a Java file in a frontend project. The Java extension will initialize the whole folder as an invisible project, and the java builder tool will take the folders with the same level as the java file to be resources of your java

[2020-04-08 14:27] nspeedzy commented on #1371
Thanks a lot! I hope you fix this error of the extension. I will close this issue for now. But if i have anymore problems, I will reach out!

[2020-04-08 14:40] HanKruiger commented on #557
This issue persists when the fix is triggered in a different file from where the fix is applied.

For example when in a class `Foo` I try to call a non-existing method on an object of class `Bar`, and trigger the fix to implement the new method in `Bar`, the new method uses tabs for indentation, whereas my setting prescribes spaces. (With the same settings, it _does_ correctly indent with spaces f

[2020-04-08 14:54] testforstephen commented on #1371
Move the java file to a separate folder, and use vscode to open the new folder directly. besides, in your frontend project, try **F1** -> **Java: Clean the Java language server workspace** to clean the java cache.

[2020-04-08 16:01] nspeedzy commented on #1371
Thanks a lot! I am going to close this issue for now. If i have anymore questions, I will reach out.

[2020-04-08 16:20] #1371 closed

[2020-04-08 18:03] manishbhalshankar commented on #1232
Can anyone suggest on how we can proceed further in getting this issue resolved?

[2020-04-08 18:14] snjeza commented on #1232
@manishbhalshankar could you provide your VS Code settings.json, maven settings.xml, project's pom.xml?

[2020-04-09 02:06] testforstephen commented on #1348
this issue has been fixed in vscode 1.44.

[2020-04-09 02:06] #1348 closed

[2020-04-09 06:03] venkatnr-github commented on #800
Hi manishbhalshankar ,
I downgraded to 0.55.1, but I still have these errors for gradle build.

[2020-04-09 06:24] anthonyvdotbe opened #1373 "Support delegated compilation"
Given `java.home` is set to a JDK 15 ea build, and I have a project with `maven.compiler.release` set to 15, then the derived `.classpath` file will specify `JavaSE-14`, because that's the latest supported version.
However, what I would like to happen in this case, is that compilation (and the reporting of any compilation errors that goes with it), is delegated. This delegation could be to the bui

[2020-04-10 02:12] testforstephen commented on #618
@brownoxford You may be interested in the lightweight mode we recently provided. You can enable it via user setting `"java.server.launchMode": "LightWeight"` in _.vscode/settings.json_. See https://github.com/redhat-developer/vscode-java/pull/1329.

Lightweight mode is optimized for reading scenario. It won't generate these metadata files in your workspace. And it will only provide syntax features

[2020-04-10 10:21] ICHx opened #1376 "Press up-key does not recall last input"
- VSCode Version: 1.43.2
- OS Version: Manjaro rolling
[code]

Steps to Reproduce:

1. Press UP in integrated terminal after pressing run/debug
![Screenshot_20200410_181241](https://user-images.githubusercontent.com/11556527/78983484-e190f980-7b56-11ea-88ca-18d0de4c754d.jpeg)
2. bind '"\e[A": history-search-backward'
3. Working as expected.
![Screenshot_20200410_181515](https://user-images.githubu

[2020-04-10 13:44] 395053994 opened #1377 "Warnings can be detected, but warnings cannot be disabled"
Issue Type: <b>Bug</b>
Warnings can be detected, but warnings cannot be disabled
Warnings can be detected, but warnings cannot be disabled
version 1.44 x64
system win10 x64
![sssss](https://user-images.githubusercontent.com/27546390/78995135-4ad33580-7b74-11ea-978c-a3798cb6e8f9.png)
![dddddd](https://user-images.githubusercontent.com/27546390/78995151-4f97e980-7b74-11ea-8faf-75842d1cfa16.png)
![ff

[2020-04-10 20:35] #1336 closed

[2020-04-10 20:38] jvesouza opened #1378 "Access java doc inside vscode"
[provide a description of the issue]
One feature I didn't find was how to quickly access the documentation for a class or method. In eclipse I can place the cursor on the method / class name and press the f2 key. If the source of the class is available and if there is documentation present in the source, it is displayed.
Am I doing something wrong?
##### Environment
- Operating System: linux
- JDK

[2020-04-10 20:52] snjeza commented on #1378
@jvesouza you may want to take a look at https://code.visualstudio.com/docs/editor/editingevolved#_go-to-definition

[2020-04-10 21:09] jvesouza commented on #1378
@snjeza  Thanks for the tip, but unless I'm doing something wrong the go to type definition command opens the class where the method is declared. It is possible to access the documentation but it is not presented in a formatted way as it is in the eclipse. In eclipse, when I press f2, only the documentation is displayed.

[2020-04-10 21:34] snjeza commented on #1378
@jvesouza You can try Ctrl+K Ctrl+I (Show Hover)

[2020-04-10 21:49] jvesouza commented on #1378
@snjeza Thank you very much for this excellent tip. I started using VSCode recently and I didn't know about this feature. Another point is that as I am blind I use a screen reader in Linux to work with VSCode. Sometimes I run into accessibility problems.
I think that this issue can be closed.
Thanks again.

[2020-04-11 04:30] AlliterativeAlice opened #1379 "[Feature Request] Provide more code action options on save"
In the Eclipse Java configuration, under Java -> Editor -> Save Actions, there's an "Additional Actions" option which allows one to configure a wide range of additional code formatting options to be applied on save (e.g. "Use modifier for `final` where possible"). Since these options aren't part of the Eclipse formatter XML settings, there's no way to have them performed on save in Visual Studio C

[2020-04-11 05:29] manishbhalshankar commented on #1232
It is a huge multle module project. I am attaching the pom.xml of the module in which I am getting compilation errors.
[pom-settings.zip](https://github.com/redhat-developer/vscode-java/files/4464103/pom-settings.zip)

[2020-04-11 05:37] manishbhalshankar commented on #1232
It is a huge multi-module project. I am attaching the pom.xml of the module in which I am getting compilation errors.
[pom-settings.zip](https://github.com/redhat-developer/vscode-java/files/4464110/pom-settings.zip)

[2020-04-11 14:47] Rjae commented on #893
@fbricon Your workaround seems to be the only post about this issue. Thank you!

[2020-04-11 15:05] snjeza commented on #1232
@manishbhalshankar could you try to remove the following property:

[code]
Could you also attach server logs - https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#turn-on-message-tracing-between-vs-code-and-the-java-language-server

[2020-04-11 15:06] 395053994 opened #1380 "The loading project is too slow, can you speed it up Since the eclipse JDT language service is used, can you quickly follow up on the function? The current Java language extension cannot be used to start Java projects normally, because many eclipse JDT language services have functions in Red Hat for eclipse JDT language service Does not exist, because Red Hat for eclipse JDT language service needs a lot of improvement and perfection of necessary function extensions"
The loading project is too slow, can you speed it up
Since the eclipse JDT language service is used, can you quickly follow up on the function? The current Java language extension cannot be used to start Java projects normally, because many eclipse JDT language services have functions in Red Hat for eclipse JDT language service Does not exist, because Red Hat for eclipse JDT language service needs

[2020-04-11 18:16] manishbhalshankar commented on #1232
@snjeza
Removing "java.configuration.runtimes" didnot help. Could you please suggest how I can write the Languate supprot for Java output log to a file as the complete log in not available at the end of the process in output view.

Also, is it possible to share the logs only with you instead of sharing it here?

[2020-04-11 18:22] snjeza commented on #1232
Java: Open all log files

My email address is snjezana.peco@redhat.com

[2020-04-11 20:09] manishbhalshankar commented on #1232
@snjeza
I have emailed you the logs. Please suggest further.

[2020-04-11 21:19] akcorp2003 commented on #366
Closing issue as I don't need it open anymore.

[2020-04-11 21:19] #366 closed

[2020-04-11 21:47] snjeza commented on #1232
@manishbhalshankar could you try to disable other Java related extensions?

[2020-04-12 06:17] anthonyvdotbe commented on #1377
@395053994 You can use [@SuppressWarnings](https://docs.oracle.com/en/java/javase/14/docs/api/java.base/java/lang/SuppressWarnings.html) for disabling warnings. For this particular case, try annotating the method with `@SuppressWarnings("unchecked")`

[2020-04-12 07:12] anthonyvdotbe opened #1381 "Extension should not touch Maven's target folder"
The fact that the extension uses Maven's target folder is problematic. It causes independent Maven builds to fail in mysterious ways. Or even worse: the build might succeed, but the build artifacts may differ from the ones that are expected (e.g. ecj-compiled classes may end up in build artifacts, even though the Maven build itself uses javac).

##### Environment
- Operating System: Windows 10
- J

[2020-04-12 08:46] DanJBower commented on #618
This helped me a lot :smile:

No idea why these files are generated by default. Caused issues in my project.

[2020-04-12 09:42] liyiheng commented on #1092
Same issue on Arch Linux
[code]

[2020-04-12 10:50] 395053994 commented on #1377
Why is it different to suppress warnings through menu selection? Why can't it operate like Eclipse? This way you said is too unintelligent. The experience is too bad, it just needs a small improvement to complete this operation is not complicated

[2020-04-12 12:47] 395053994 opened #1382 "The problem in the console has not been fixed, and this error has not been fixed for a long time. . .It's really frustrating!"
The problem in the console has not been fixed, and this error has not been fixed for a long time. . .
It's really frustrating!

[provide a description of the issue]

##### Environment
- Operating System: win10
- JDK version: 1.8
- Visual Studio Code version: 1.44
- Java extension version:
![fffffffffffffffffffffffffffffffffff](https://user-images.githubusercontent.com/27546390/79069143-72560980-7c

[2020-04-12 12:53] anthonyvdotbe opened #1383 "Organize Imports should never result in all imports being deleted"
Sometimes, in case of a syntax error such as a missing semi-colon, when doing `Organize Imports`, all imports are deleted (see also #430 e.g.). This is rarely (if ever) a good choice. If, for whatever reason, `Organize Imports` is unable to determine the correct set of imports, it should just do nothing at all.

##### Environment
- Operating System: Windows 10
- JDK version: JDK 14
- Visual Studio

[2020-04-12 15:21] fbricon commented on #1382
This indicates a problem with your SQL query, when running your application (the table in your database may not have been created properly during the test). Moreover, vscode-java is not responsible for running applications and tests, you're probably using [vscode-java-debug](https://github.com/microsoft/vscode-java-debug/issues).
Sorry but this issue has nothing to do with vscode-java.

[2020-04-12 15:21] #1382 closed

[2020-04-12 15:26] fbricon commented on #1383
Agreed, this is a jdt.ls bug, since the problem can not be reproduced in Eclipse.

[2020-04-12 15:40] fbricon commented on #1383
Looks like this is a combination of malformed code and maybe specific statements, as I can't reproduce this issue in other cases, with a simple missing  semicolon or parenthesis.

[2020-04-12 17:10] anthonyvdotbe opened #1384 "Module descriptor syntax coloring should be improved"
The module name has a strange coloring, with everything till the first dot green, and the rest white.
Comments inside the declaration are not colored.

##### Environment
- Operating System: Windows 10
- JDK version: 14
- Visual Studio Code version: 1.44.0
- Java extension version: 0.59.1

##### Steps To Reproduce
1. create a module-info.java file with the following contents:

[code]

##### Current

[2020-04-12 17:42] manishbhalshankar commented on #1232
@snjeza
I tried the following combinations but still the same issue:

1. Disabled spring boot extension pack and from Java extension pack, kept only Maven for java and Language support for Java enabled.
2. Kept only Language support for Java enabled and disabled all other java related extensions.

In both the cases, I performed the Clean Java LS workspace.

[2020-04-12 18:35] snjeza commented on #1232
@manishbhalshankar could you send your log files when only Java LS is enabled?
Could you also send your .classpath and .settings/* files?

[2020-04-12 19:12] manishbhalshankar commented on #1232
@snjeza
I have emailed you the requested files.

[2020-04-12 23:27] TylerHsia commented on #495
For me, the problem was caused by other files in the open folder that could not compile.

[2020-04-13 01:42] johnrengelman commented on #1203
`build.gradle` can also be renamed to something else within the `settings.gradle` file (eg. ` ratpack.gradle` instead of `build.gradle`)

[2020-04-13 04:12] donotlb opened #1385 "fixed path & settings sync"
i found that the following config is added to settings after installing Java Extension Pack

`"java.jdt.ls.vmargs": "... -javaagent:\"C:\\Users\\<user-name>\\.vscode\\extensions\\gabrielbb.vscode-lombok-1.0.1\\server\\lombok.jar\"",`

the problem is: the fixed path is wrong when i sync settings to another computer with a different username

[2020-04-13 08:07] anthonyvdotbe opened #1386 "Organize Imports should resolve static imports as well"
When doing `Organize Imports`, static imports should be resolved as well by using the setting `java.completion.favoriteStaticMembers`.
The editor already "knows" what I want, because when I press `Ctrl+.` on one of the unresolved static imports, it proposes to `Add static import for ...` So I'd like for `Organize Imports` to go over any remaining syntax errors in the file, and see if it could be r

[2020-04-13 08:27] anthonyvdotbe opened #1387 "Organize Imports should not propose module-encapsulated classes"
If I do `Organize Imports`, it should not propose classes which are in a module package that isn't exported.

##### Environment
- Operating System: Windows 10
- JDK version: 14
- Visual Studio Code version: 1.44.0
- Java extension version: 0.59.1

##### Steps To Reproduce
1. create a file `App.java` as below
2. do `Organize Imports`

[code]

##### Current Result
2 classes are proposed: `sun.net.ww

[2020-04-13 08:30] anthonyvdotbe opened #1388 "Organize Imports should automatically add required modules in module-info"
When I do `Organize Imports`, I'd like for the `module-info.java` file to be updated automatically as well.

##### Environment
- Operating System: Windows 10
- JDK version: 14
- Visual Studio Code version: 1.44.0
- Java extension version: 0.59.1

##### Steps To Reproduce
1. create a file `App.java` as below inside a modular project
2. do `Organize Imports`

[code]

##### Current Result
After impor

[2020-04-13 12:10] jvesouza commented on #1378
I am closing this issue once it has been clarified.

[2020-04-13 12:10] #1378 closed

[2020-04-13 14:03] notrue commented on #1134
@BrandonKi `vmArgs` must be used to pass `java.library.path`

[2020-04-13 14:32] snjeza commented on #1386
The issue can be reproduced in Eclipse. See https://bugs.eclipse.org/bugs/show_bug.cgi?id=283287

[2020-04-13 15:22] fbricon commented on #1386
@snjeza do you think it would be possible for jdt.ls to be able to easily compute autimports based on `java.completion.favoriteStaticMembers`, until this is fixed upstream?

[2020-04-13 16:51] snjeza commented on #1386
@fbricon Yes, I do. I will check.

[2020-04-13 18:33] hasanmumin commented on #1356
You have to copy the same file to all modules.

[2020-04-13 18:33] #1356 closed

[2020-04-14 01:59] starrykai commented on #1356
I solved the problem in this way

[2020-04-14 02:00] EminemRap opened #1389 "Java project cannot complete compilation"
[provide a description of the issue]

##### Environment
- Operating System:
- JDK version:1.8.0_212
- Visual Studio Code version:1.44.0
- Java extension version:0.59.1

##### Steps To Reproduce
After updating VS Code to the latest version (1.44.0), my Java project didn't start properly and got stuck in "Compiling workspace..." after running the startup class.

[Please attach a sample project repro

[2020-04-14 14:31] tapz opened #1390 "not on the classpath of project app, only syntax errors are reported"
MyCall is not on the classpath of project app, only syntax errors are reported

##### Environment
- Operating System: macOS Catalina 10.15.4 (19E287)
- JDK version: 1.8.0_40
- Visual Studio Code version: 1.44.0
- Java extension version: Java Extension Pack 0.90.0, Language Support for Java 0.59.1

##### Steps To Reproduce
1. Open Java file in vscode

##### Current Result

Error

##### Expected Res

[2020-04-14 14:46] fbricon commented on #1390
Can you provide more details? like your project setup? maybe share your project?

[2020-04-14 15:05] tapz commented on #1390
I can't share my project. It's a React Native project. Just a normal Java project, which compiles just fine.

[2020-04-14 15:11] fbricon commented on #1390
So I'm assuming it's an Android project then? If so, then sorry but it's not supported by [vscode-java ](https://github.com/redhat-developer/vscode-java/issues/10#issuecomment-268834749)