[2017-04-20 13:37] gorkem commented on #188
Do you still want to see those directories. Asking if it makes sense to use the global `files.exclude` setting or not?

[2017-04-20 15:12] llgcode commented on #188
Yes in some case I want to view these directories. But it's a good option to not browse folders that are excluded `files.exclude`.

[2017-04-20 20:03] hcorion opened #189 "Annoying Unable to get documentation under 500ms"
I decided to update my language support for java today, and now in output, it spams
`[Error - 12:49:14 PM] Apr 20, 2017 9:20:26 AM Unable to get documentation under 500ms`
This is really annoying, and shouldn't be elevated to error, at most it should be warning.

Maybe the rest of the world is on Fiber Optic, and I'm stuck with a measly 40 Mbps download.

##### Environment
- Operating System: Arch

[2017-04-21 01:50] fbricon commented on #189
What can of project have you opened? Maven, Gradle, Eclipse? Or standalone file?
Could you paste the content of your .classpath?

I can see how it's annoying, I'll release a 0.2.1 fix tomorrow.

[2017-04-21 02:36] hcorion commented on #189
@fbricon just a standalone file.

[2017-04-21 02:40] fbricon commented on #189
Are you using OpenJDK?

[2017-04-21 02:40] hcorion commented on #189
Yes

[2017-04-21 02:42] fbricon commented on #189
Have you installed OpenJDK sources? If not, can you try it, that should fix the issue

[2017-04-21 02:46] hcorion commented on #189
Just install openjdk 8 sources and restarted Vscode, issue still persists.

[2017-04-21 02:56] #189 closed

[2017-04-21 03:17] fbricon commented on #189
@hcorion please try [installing](https://code.visualstudio.com/docs/editor/extension-gallery#_install-from-a-vsix) http://download.jboss.org/jbosstools/jdt.ls/staging/java-0.2.1-148.vsix

[2017-04-21 04:06] hcorion commented on #189
Yes, appears to fix the issue, thanks!

[2017-04-21 18:04] jsinglet opened #190 "Question: Getting Eclipse Workspaces to Open"
Hi,

I have a very complex eclipse workspace-based project with a number of interrelated projects. What are my prospects for getting something like this to be editable with this extension? Is that on the roadmap? Is it currently possible?

Best,
JLS

[2017-04-21 18:48] fbricon commented on #190
It depends ;-)

Basic Java projects are supported. No JavaEE/WTP/PDE support though, this is not on the roadmap.
You have greater chances of seeing your projects being opened successfully if they're based on Maven or Gradle.

[2017-04-21 18:52] fbricon commented on #190
To try it, simply open the root directory containing your projects. Eclipse project discovery is limited to 3 directories down the root, so it works best for projects in a flat layout.

[2017-04-21 20:09] jsinglet commented on #190
Works! There are a few crashy looking things in the logs, but it mostly seems to work! Thanks for the info. Is there a built in way to run the projects with the eclipse run configurations?

[2017-04-23 20:57] raghav-kranthi opened #191 "Can we import IntelliJ java projects into VS Code???"
I am trying to import one of my IntelliJ java projects into my VS Code, every time it is displaying same error
"**classpath is incomplete. only syntax errors will be reported visual studio code**"
I have opened complete project which contains .iml file, not a single java file.
It is not a gradle, maven, ant build project plain old java project developed in IntelliJ
I am using Mac Sierra with JDK 1

[2017-04-23 22:02] gorkem commented on #191
We have not yet implemented importing IntelliJ projects. I think the workaround is to import/convert the IntelliJ project to one of the supported formats and continue form there.

[2017-04-24 00:23] raghav-kranthi commented on #191
Thanks for the quick response, I will try creating a new project and copying the content.

[2017-04-24 00:23] #191 closed

[2017-04-24 16:03] newxpp commented on #45
can't run java!
C:\Program Files (x86)\Java\jdk1.8.0_101

[2017-04-24 16:07] fbricon commented on #45
@newxpp can you please [enable logging](https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#enable-logging) so we can understand why the client fails to start?

[2017-04-24 22:00] fbricon commented on #189
The 0.2.1 extension has been published to the VS Code Marketplace

[2017-04-25 00:18] gorkem opened #192 "Adjust heap space for server if it fails to start due to OOM"
My server fails to initialize a workspace due to OOM. In this case VS Code restarts the server, we should add logic to the extension so that the heap space is adjusted.

[code]

[2017-04-25 00:45] fbricon commented on #192
Heap space can be set from user/workspace setting. Would you override its value somehow? Would need to warn users?

[2017-04-25 01:13] gorkem commented on #192
If user explicitly sets the value user is taking the responsibility so we do not need to override that. I do not think we need to warn for about changing it.

[2017-04-25 13:22] fbricon commented on #190
No. We have plans on [providing a debugger](https://github.com/redhat-developer/vscode-java/issues/9) (no ETA just yet), that will involve running code from vscode tasks, at some point. We haven't discussed whether we'll support running Eclipse Launch configurations.

[2017-04-25 13:23] fbricon commented on #190
@jsinglet opening bugs for the crashy things you see might be helpful, [attaching logs](https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#enable-logging) and all ;-)

[2017-04-26 13:37] fbricon opened #193 "Reduce confusion about "Classpath is incomplete" warning"
The "Classpath is incomplete" warning is a causing [some](https://www.reddit.com/r/vscode/comments/5fdpb8/classpath_is_incomplete/) [confusion](http://stackoverflow.com/questions/40831703/visual-studio-code-java-classpath-is-incomplete-only-syntax-errors-will-be-re). I believe providing a way to get more informations about it, directly from the warning, would alleviate the problem.

A link opening

[2017-04-26 15:04] fbricon commented on #193
With the proposed patch:
![apr-26-2017 11-02-55](https://cloud.githubusercontent.com/assets/148698/25441360/fbfe19fa-2a6f-11e7-8cd6-016807aa1fb0.gif)

[2017-04-27 18:43] #193 closed

[2017-04-28 19:49] joewood commented on #176
Hi @fbricon sorry for the delay. Yes that test works as expected. Strange that it doesn't work through the extension.

[2017-05-01 16:09] fbricon opened #195 "Use '-XX:+UseG1GC -XX:+UseStringDeduplication' in default java.jdt.ls.vmargs"
[Eclipse distros](https://bugs.eclipse.org/bugs/show_bug.cgi?id=490341) use `-XX:+UseG1GC  -XX:+UseStringDeduplication` by default to enable string deduplication and decrease memory footprint. I believe we should enable the same settings by default in `java.jdt.ls.vmargs`.

@gorkem wdyt?

[2017-05-01 18:31] #195 closed

[2017-05-03 19:44] fbricon commented on #195
so I loaded the vert.x code base, opened 1 file (DatagramPacket.java), loaded codelenses.
After running GC with `jcmd <pid> GC.run` , without string dedup, `top` shows me the java process takes ~720MB of memory (+/- 10MB).

With string dedup enabled, same steps, memory after GC takes ~320MB give or take

[2017-05-03 19:46] fbricon commented on #192
You should see if you still run into OOME after String deduplication is enabled (see #195)

[2017-05-03 20:15] dineiar commented on #100
Looking forward to this.

[2017-05-03 20:30] dineiar commented on #100
For now, I put this code under java.json (File > Preferences > User Snippets > Java):
[code]
Write "getset" and VSCode offers the snippet, then use Tab to navigate on the placeholders.

[2017-05-03 20:58] fbricon commented on #159
Turns out when putting Gradle files into a new gradle language id, syntax coloring is lost, as Gradle files are already associated with the Groovy language. So we definitely need a better way to match files

[2017-05-03 21:01] fbricon commented on #193
The final message looks like
<img width="1006" alt="screen shot 2017-05-03 at 4 59 45 pm" src="https://cloud.githubusercontent.com/assets/148698/25681391/2667ec7c-3022-11e7-9976-78ecbcdc4870.png">

[2017-05-04 15:14] fbricon opened #198 "New releases should be automatically git-tagged"
The Jenkins build should automatically tag the releases, once the vsix is published to the VSCode Marketplace

[2017-05-04 15:16] fbricon commented on #190
Closing as the question has been answered. Please open new, specific tickets for bugs you encounter.

[2017-05-04 15:16] #190 closed

[2017-05-04 16:06] fbricon opened #199 "Unused method/constructor parameters show no warning"
Unused method/constructor parameters show no warning

##### Steps To Reproduce
1. Create a method with a parameter
2. the parameter should be unused

##### Current Result
No warning is displayed
<img width="504" alt="screen shot 2017-05-04 at 10 23 13 am" src="https://cloud.githubusercontent.com/assets/148698/25713236/0983ede0-30c2-11e7-8db0-61a8dc822b53.png">

##### Expected Result
A warning shou

[2017-05-04 16:10] fbricon commented on #199
This is actually the same behaviour in Eclipse, so not a bug

[2017-05-04 16:12] fbricon commented on #199
We probably don't want to generate a warning actually, in case a method is being overridden, it's ok for the params not to be used.

[2017-05-05 02:07] wzdnzd opened #200 "The import javax.servlet cannot be resolved"
[provide a description of the issue]

##### Environment
- Operating System: win10
- JDK version: 1.8.0_131
- Visual Studio Code version: 1.12.1
- Java extension version: 0.3.0

![image](https://cloud.githubusercontent.com/assets/8565764/25731644/9eacf9f8-317a-11e7-81ff-bbc71bec6c69.png)

[2017-05-05 08:31] ferhtgoldaraz commented on #108
This happens to me too. I have `java.home` set to java 8, but I need `$JAVA_HOME`set to the java 7 jdk.

[code]

This is macOS sierra.

[code]
Is there some knwon workaround?

[2017-05-05 08:40] limey-git commented on #45
_**TL;DR**_ — _[Download the junixsocket-parent-2.0.4 source](http://bit.ly/junixsocket204src)_, then build with maven.
----
I'm running a 32bit Ubuntu 12.04 guest on a VirtualBox VM. JDK 1.8.0_131-b11.

After _[downloading the VS Code version 1.12.0 yesterday](http://bit.ly/vscode32Bit)_, I got that same "_Library 'libjunixsocket-native-2.0.4.so' not found!_" error others reported.

My Ubuntu 12.

[2017-05-05 12:28] fbricon commented on #108
@ferhtgoldaraz what exactly is your issue? The `java.home` preference takes precedence over the `JAVA_HOME` environment variable, so you can have one set to 1.8 and the other to 1.7.

You can check which version is actually used to run the Java Language Server by opening the vscode-java [logs](https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#get-the-vscode-java-logs).

[2017-05-05 12:31] fbricon commented on #200
Can you please provide more details, is this a standalone java file, a Maven, Gradle or plain eclipse project? Can you provide a sample project reproducing the issue?

[2017-05-05 12:58] wzdnzd commented on #200
Caused by: org.eclipse.core.internal.resources.ResourceException: Invalid project description.
	at org.eclipse.core.internal.resources.Project.checkDescription(Project.java:169)
	at org.eclipse.core.internal.resources.Project.assertCreateRequirements(Project.java:53)
	at org.eclipse.core.internal.resources.Project.create(Project.java:263)
	at org.eclipse.core.internal.resources.Project.create(Proj

[2017-05-05 12:58] #200 closed

[2017-05-05 13:37] egamma opened #201 "32Bit Linux VS Code Distributed With libjunixsocket-native-2.0.4.so Built For 64Bit amd64"
_From @limey-git on May 5, 2017 12:53_

- VSCode Version: 1.12.0
- OS Version: Ubuntu 12.04 LTS [_**arch=i386**_]

Steps to Reproduce:

1. _[Download and install latest 32 Bit version of vscode for Debian Linux](http://bit.ly/vscode32Bit)_.
2. Launch vscode and install the '_[Language Support for Java(TM) by Red Hat](http://bit.ly/redhatjavaextn)_'  extension.
3. Restart vscode.

On restart, error

[2017-05-05 13:42] #126 closed

[2017-05-05 13:47] fbricon commented on #159
@jrieken @egamma any advice on how to better handle that one (as opposed to ef178d2)?

[2017-05-05 13:52] fbricon commented on #45
Discussion about 32bits junixsocket moved to #201

[2017-05-05 13:54] fbricon commented on #201
We should probably get rid of junixsocket by either switching to stdio or plain socket, as I don't want us to maintain a 32b build of that jar.

[2017-05-05 14:22] egamma commented on #159
@fbricon agreed, you should not introduce a new language Id for gradle otherwise you loose the coloring which is defined for the groovy language Id.

There is also a resourceFilename context , e.g.,`"when": "resourceFilename == 'package.json'"`, but I assume you want to contribute the command to `*.groovy`, but wildcards are not supported for the resourceFilename context.

Another option is to opt

[2017-05-05 14:25] jrieken commented on #159
Yeah, hard to get this right without making `when`-clauses support some sort of glob pattern matching

[2017-05-05 14:27] fbricon commented on #159
@jrieken is there an issue already to get `when` clauses support glob pattern matching? Or I can open one :-)

[2017-05-05 14:29] jrieken commented on #159
Go ahead - I was just searching for it but couldn't find anything... Should be pretty straight forward to implement

[2017-05-05 15:40] dineiar commented on #176
I have the same problem. I'm using proxy through cntlm and have the following proxy settings:
**settings.json**
[code]
**~/.m2/settings.xml**
[code]
**Bash shell `export -p`**
[code]

Everything works (also confirmed that maven can download packages), except the Language Support for Java extension:
[code]

[2017-05-05 15:51] ferhtgoldaraz commented on #108
My issue is that there is a notice that says "Couldn't start client language support for Java". this happens sometimes, some other times it seems to work, though not very reliably (it ends up breaking sooner rather than later).

Since I need java, but It's not my main language, I'd like to get rid of eclipse. Relying on this plugin would help. If there's some way I can get more info about what's w

[2017-05-05 20:55] intoCL opened #202 "Gradle support configuration procedure"
We're trying to get gradle support working from the extension, but there are no obvious directions as to how to configure the extension correctly in order to accomplish this. Either that or we're blind.

We've looked at the [Marketplace writeup](https://marketplace.visualstudio.com/items?itemName=redhat.java) and watched this [video](https://www.youtube.com/watch?v=MHYGkbAzdms), and in both cases

[2017-05-06 01:55] gorkem commented on #202
Do you have a [file icon set](https://code.visualstudio.com/blogs/2016/09/08/icon-themes#_file-icon-themes) enabled? The status of the Java extension is only displayed on status bar when a Java file is opened did you have a Java file open?

[2017-05-06 13:51] FutureProg opened #203 "Unrecognized VM option 'UseStringDeduplication'"
I'm simply starting up a java project (that can be located here: [https://github.com/FutureProg/InteractionDesigner](https://github.com/FutureProg/InteractionDesigner) and the extension closes with a message saying it can't start "client Language Support for Java". I looked at the console and this is all I've found.

##### Environment
- Operating System: OSX El Capitan
- JDK version: 8.1.0
- Visua

[2017-05-06 14:12] fbricon commented on #203
Damn, I basically did bet noone would experience that. This is a JVM flag that was introduced in JFK 1.8.0_20, 3 years ago. So you have 2 options. Either update your jdk to the latest version, or open vscode preferences and remove -XXUseStringDeduplication and -XXG1GC from java.jdt.ls.vmargs

[2017-05-06 14:29] FutureProg commented on #203
Haha alright, thanks, I just updated and it's all good

[2017-05-06 14:51] FutureProg commented on #120
Bumping this again to see if a solution has been found. Sure it compiles fine but the errors in the IDE are a little annoying.

[2017-05-06 14:52] #203 closed

[2017-05-06 18:46] fbricon commented on #202
@intoCL it should work OOTB normally. The Java Language Server starts as soon as a pm.xml or gradle file is found at the root of the folder, or the 1st time a java file is opened. Once started, the thumb up is displayed. The status is not displayed when the currently opened file is a non-java, non-build file.

Can you please look at the [logs](https://github.com/redhat-developer/vscode-java/wiki/T

[2017-05-08 01:16] intoCL commented on #202
Hi Gorkem and Fred,

I managed to get the icons sorted as per Gorkem's suggestion. The Language Server also appears to be working as I can jump to definitions and such.

After discovering and watching your very helpful `[Devoxx demo](https://www.youtube.com/watch?v=l96vUqfB3R4)`, I was able to convert your maven example to gradle by putting this in tasks.json
`{
    "version": "0.1.0",
    "comman

[2017-05-08 02:56] intoCL commented on #202
Hi guys.

I'm sorted.

I made the following changes based on what I read about tasks [here](https://code.visualstudio.com/docs/editor/tasks#_command-and-tasks), and keyboard bindings [here](https://code.visualstudio.com/docs/editor/tasks#_binding-keyboard-shortcuts-to-tasks).

For anyone else who wants to set their environment up similarly, I modified the respective files as follows:

**tasks.json

[2017-05-08 03:26] #202 closed

[2017-05-08 06:30] rubin55 opened #204 "Add support for looking up Classes and Methods on classpath"
Currently vscode-java allows completion and introspection of Classes and Methods on-the-fly while editing your code. Afaik, currently the only way for someone to find the source of a class or method is to have the Class imported.

 It would be amazingly helpful if you could find Classes, Interfaces (and their implementations) and methods that are available to you (i.e. configured on the classpath,

[2017-05-08 06:33] intoCL opened #205 "Mixed Java/Groovy project support"
OK. So after getting our gradle project configured and executing build tasks, we set about trying to eliminate what we initially thought were tons of build errors due to unresolved symbols.

We hacked our way through the weeds trying to figure out where the classpaths were configured in order to try and see if maybe some paths were missing. What was curious was that some helper classes which you w

[2017-05-08 13:02] fbricon commented on #205
Unfortunately we don't support groovy at the moment. This is a very difficult subject. We can't just ship support for all other JVM languages, that'd be well beyond the scope of this project.

Ideally, we'd need to find a way for multiple language servers to interact with each other, but that's a whole new paradigm that needs to be invented.

cc @martinlippert

[2017-05-08 13:17] fbricon commented on #204
You can already find classes and interfaces available in the classpath:
![autocomplete](https://cloud.githubusercontent.com/assets/148698/25805571/326a8674-33ce-11e7-950c-4b42289b8a09.gif).

Search for interface implementors is something we'll implement, eventually, see https://github.com/eclipse/eclipse.jdt.ls/issues/99.

Method autocompletion requires the type to be imported in the 1st place. If

[2017-05-08 15:22] martinlippert commented on #205
I think there is a Groovy extension for VSCode somewhere on their marketplace, but I don't know the details. Ideally it would be great if you could just install both extensions and go from there, but having references from Groovy code to Java and vice versa causes an interesting problem. Who should compile first? I am not even sure of the Groovy extension compiles the Groovy code or does just synt

[2017-05-08 16:22] rubin55 commented on #204
I was thinking more like "pop up dialog by some key combination" type, get class or class.method by matching, press enter, open .java or .class file. To do that in the file you're working on atm directly is a little hackish (ie you introduce errors in the current file, you might not want to use said clase in the current file at all but are looking for general usage details/impl details for the cla

[2017-05-08 16:26] rubin55 commented on #56
When! This is a great feature to have, especially since you can have quite a list of imports when you get going :-).

[2017-05-08 16:46] intoCL commented on #205
Thanks guys.

@fbricon Completely understand. Was just taking a flyer. Sadly, we may have to use IntelliJ and VS Code for the rest of the stuff, which is a pity cos, having being spoilt with proper Visual Studio historically, our impression of IntelliJ based on our use of it previously was quite negative. We were hoping to get integrated support for everything in one place. I wonder if IKVM.net/Mo

[2017-05-08 16:51] martinlippert commented on #205
There is still the groovy-eclipse implementation around (we don't work on it ourselves anymore, but someone else took that over), which uses a compiler that cam compile Java and Groovy at the same time. In case you need a close interop between Java and Groovy, this might be worth exploring. It is a plugin for Eclipse only (so not related to language servers, VSCode, or anything like that), but sin

[2017-05-08 16:58] intoCL commented on #205
Thanks for the suggestion. Yeah, we were wanting Java/Groovy compilation in VSCode in the ideal situation. I'm pretty sure IntelliJ supports it but we will discover that later. We're even less than impressed with Eclipse than IntelliJ to be honest (extremely slow) so we converted a lot of our projects to IntelliJ for evaluation purposes. I don't mean to sound like a snob, but our experience has be

[2017-05-08 18:10] fbricon commented on #204
So as I understand it, that'd be something similar to the `Ctrl+T` (or `Cmd`+T on Mac) to open workspace symbols (=types),  only it would be extended to all available classes.

I'm not too fond of the idea of introducing additional windows/wizards if we could avoid it.

So ideally, we could perform a workspace wide search for all types with our own custom prefix in the command palette (say `$` ins

[2017-05-08 18:17] fbricon opened #206 "Class outline doesn't work for .class files not in the workspace"
1. Have a java file with a reference to java.util.HashMap
2. Ctrl+click on java.util.HashMap to open it
3. Try `Ctrl+Shift+o` (`Cmd+Shift+o` on Mac) to search for symbols
=> no attributes or methods are found

This only works for classes physically present in the workspace.

This relates to method search for classpath references mentioned in #204

[2017-05-08 18:23] fbricon commented on #206
@snjeza do you want to look at that one? It's something around https://github.com/eclipse/eclipse.jdt.ls/blob/master/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/handlers/DocumentSymbolHandler.java#L65

[2017-05-08 18:37] snjeza commented on #206
@fbricon I will try it.

[2017-05-08 18:39] fbricon commented on #206
Thanks. My guess is the server receives a `jdt://` like URI and ignores it

[2017-05-08 18:50] squishybanana04 opened #207 "Easier class path support."
I do all of my compiling using the built in `javac` compiler which lets you use `javac someJavaFile.java -cp .:somefolder/*.jar:ajarfile.jar:anotherFolder:*.class`. I was wondering if there was a way to use that syntax (`.:files:stuff`) as a format for the classpath with this plugin.

[2017-05-08 18:51] egamma commented on #204
@fbricon

In the context of Java I consider this as fair play to implement the LSP protocol `workspace/symbol` to mean all symbols available on the class path. When selecting a symbol that is located outside of the workspace then vscode-java can open a virtual document.

[2017-05-08 18:58] fbricon commented on #207
No this extension won't help here, as
1 - classes are already compiled automatically by the java language server language
2 - we strongly encourage users to rely on a build tool for compiling java (Maven or Gradle, pick your poison)

[2017-05-08 19:26] squishybanana04 commented on #207
At the moment I have a fake gradle script that I use just to get the intellisense. I don't ever use the script to compile and I just thought that was a waste of time.

Thanks anyways!

[2017-05-08 20:32] fbricon commented on #204
@egamma ok so I gave it a try and unfortunately it just doesn't scale. Including JDK and other classpath dependencies to the workspace symbol search, for the [spring-amqp](https://github.com/spring-projects/spring-amqp) project as an example, the search engine returns 67862 hits, that are transformed into SymbolInformations. So everything is super slow until the UI just freezes and we never even s

[2017-05-09 09:35] egamma commented on #204
@fbricon  I did not expect that this works without some more tuning. I remember all the effort that was put into Eclipse to make this fast.

How many of the hits are types? The Intellisense widget can handle hits of this magnitude, we have tests with about 20k hits. One difference is that the Intellisense widget is using a newer tuned list widget, whereas quick pick is still using the tree. So thi

[2017-05-09 09:53] aeschli commented on #204
I thought the Java Language server already implement the workspace symbols request.
See [WorkspaceSymbolHandler].(https://github.com/eclipse/eclipse.jdt.ls/blob/47a4d8b19df53f7da8865b4e643033cf4d76fb7b/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/handlers/WorkspaceSymbolHandler.java)

This should run pretty performant as it limits itself to types (no fields or methods) which is hig

[2017-05-09 10:29] rubin55 commented on #204
That sounds great, even if only classes/types and not methods, it would definitely be a major plus with a more experimental development flow (getting to know the framework/library you're using, reading the code representation of a class, etc).

[2017-05-09 13:33] fbricon commented on #204
@egamma  @aeschli when forcing a non empty query, things get better, but still feel too sluggish. When sending `A` for instance, the server return 4204 types in 5 seconds. From there, the result list is displayed very fast.
So the server side search is way too slow, compared to Eclipse's same type search. It seems the search itself is fairly fast, but we spend a huuuge amount of time converting th

[2017-05-09 13:44] aeschli commented on #204
@fbricon Something must go wrong in [WorkspaceSymbolHandler](https://github.com/eclipse/eclipse.jdt.ls/blob/47a4d8b19df53f7da8865b4e643033cf4d76fb7b/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/handlers/WorkspaceSymbolHandler.java), causing to resolve the TypeNameMatch's underlying JavaElement.
My wild guess its that it is in `DocumentSymbolHandler.mapKind(match.getType()))` and th

[2017-05-09 13:57] fbricon commented on #204
Thanks for the pointer @aeschli. I'll try that as soon as I can

[2017-05-10 07:46] jrieken commented on #204
FYI and unsure if you already do that, but resolving workspace symbols can happen in two steps: First (when `provide` is called) you can leave out the location information and feed that in when `resolve` is being called (when a references is actually being selected). We have done that because  providers often have to pay an extra price to compute the the line/column information (instead of offsets

[2017-05-10 14:24] fbricon commented on #204
@jrieken For now location for types is not computed, always set to 0,0. so that's not an issue.

The performance issue is indeed caused by computing the types, as @aeschli hinted, but we also loaded each type's buffer at some point which was unnecessary. I'm down to ~1 sec to load the types starting with letter A now, but I need to figure out why I'm seeing duplicates and some results cause an err

[2017-05-11 19:05] intoCL commented on #205
We realised [this](https://github.com/Microsoft/vscode/tree/255a8cec275dc6e1e71915251b5ff4adcfc4ba97/extensions/groovy) was at best syntax highlighting and did not give cross-compilation and debugging features. So we have migrated our Java/Groovy stuff to IntelliJ. Closing this issue now.

[2017-05-11 19:05] #205 closed

[2017-05-11 22:23] fbricon commented on #206
Fixed with https://github.com/eclipse/eclipse.jdt.ls/commit/40484c15ac025be2fe054b2ba148b6fe4e847859

[2017-05-11 22:23] #206 closed

[2017-05-11 22:54] #207 closed

[2017-05-12 14:58] fbricon opened #209 "Add command to open Java Language Server logs"
Instead of having to [open the dev tools to find out where the server logs are](https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#get-the-java-language-servers-workspace-logs), it'd be more convenient to provide a command similar to `TypeScript : Open TS Server log file`. That'd be `Java : Open Java Language Server log file`

[2017-05-12 21:00] snjeza commented on #209
@fbricon works fine for me.

[2017-05-12 22:13] #209 closed

[2017-05-13 06:29] vviskari opened #211 "Gradle import fails behind corporate proxy with auth"
I'm ​behind a corporate proxy that requires authentication.

When opening a Gradle project, the plugin fails to download Gradle binaries. I get code completion only for JDK classes and a notification that "classpath is incomplete". The error in logs is about connection timeout.

JRE system properties are set in vscode settings as per instructions here: https://github.com/redhat-developer/vscode-ja

[2017-05-13 14:08] fbricon commented on #211
@vviskari Can I assume it works from CLI? Do you know what kind of proxy it is? Does it works from Eclipse with Buildship installed?

My proxy tests didn't involve authentication, but I checked my local proxy was hit as expected. So I'm assuming the authentication part is at fault.

@snjeza do you have something set up to check proxy auth? My guess is we need to call the Eclipse's proxy API from j

[2017-05-13 16:21] vviskari commented on #211
@fbricon yes CLI works fine. I will test eclipse with buildship from the office. That is, if I'm allowed to download anything (very strict policy).

[2017-05-15 16:22] thiagolocatelli opened #212 "Unable to locate secure storage module"
When I open any maven project folder, I get a "Unable to locate secure storage module" exception (stacktrace below)

##### Environment
- Operating System: MacOs El Capitan 10.11.6 (15G1421)
- JDK version: Java(TM) SE Runtime Environment (build 1.8.0_111-b14)
- Visual Studio Code version: Version 1.12.1 (1.12.1)
- Java extension version: 0.3.0

##### Steps To Reproduce
1. Open VS Code
2. Open Proje

[2017-05-15 17:27] fbricon commented on #187
@jrieken so as an alternative, I tried using [filterText](https://github.com/Microsoft/language-server-protocol/blob/master/versions/protocol-2-x.md#completion-request):

[code]

So our completionItems now look like
[code]

But vscode still seems to filter using the label
![may-15-2017 13-24-42](https://cloud.githubusercontent.com/assets/148698/26070249/ef46c688-3971-11e7-8694-0a59fc6d7cea.gif)

S

[2017-05-15 20:08] #204 closed

[2017-05-15 20:10] fbricon commented on #204
Ctrl+T now lists all classes from the workspace
Once you found your class and opened it, Ctrl+Shift+o will list all methods and attributes from said class (if source is available)

[2017-05-15 21:36] snjeza commented on #212
Related to https://github.com/redhat-developer/vscode-java/issues/211

[2017-05-15 22:22] thiagolocatelli commented on #212
I am not seeing why this issue is related to #211.

[2017-05-16 08:03] jrieken commented on #187
Yeah, we always try with the label first and use the filter text only when not matching the label. Mostly because when using the filter text we cannot render the blue highlights. But it could be considered a bug

[2017-05-16 08:45] rubin55 commented on #204
Just updated to 0.4.0 and tested this, works great!

Much appreciated. I'm still awed by how quick you implemented this. Thanks again!

[2017-05-16 11:24] aeschli opened #213 "CancellationException in output log"
Language support for Java ™ for Visual Studio Code, v0.4.0

- java version "1.8.0_131"
- created a sample maven app
- doing code assist in AppTest.java
[code]
- shows the folloing exception in the Java output.
No harm seems done, all works fine, but confuses a bit.

[code]

[2017-05-16 12:26] igor-kudryashov commented on #45
I just installed VSCode v. 1.12.2 and "Language Support for Java(TM) by Red Hat" plugin v. 0.4.0. I have the same error "Couldn't start client Language Support for Java". I set up java.home parameter in VSCode. This does not solve the problem.  I set up JAVA_HOME Windows variable to same folder.  This does not solve the problem, too. I deleted java.home setting from VSCode. And here's a miracle! E

[2017-05-16 12:37] fbricon commented on #45
@igor-kudryashov  can you please [enable logging](https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#enable-logging) so we can understand what's happening?

[2017-05-16 13:16] snjeza commented on #211
I can't enter a proxy password in Eclipse Oxygen M6. I think that the issue is related to https://bugs.eclipse.org/bugs/show_bug.cgi?id=513809 that has been fixed in Oxygen M7.
It is possible to configure a proxy that requires authentication in Oxygen M7 without using the Eclipse UI:

- create the <ECLIPSE_HOME>/configuration/.settings/org.eclipse.core.net.prefs file with the following contents:

[2017-05-16 13:18] snjeza commented on #212
@thiagolocatelli both of the issues are caused by https://bugs.eclipse.org/bugs/show_bug.cgi?id=513809.
If you don't use a proxy that requires authentication, you will get an exception in the log, but vscode-java will work properly.
The issue has been fixed in Oxygen M7.

[2017-05-16 13:19] fbricon commented on #211
@snjeza go ahead

[2017-05-16 14:27] aeschli opened #214 "Error on hover: lllegal argument, contents must be defined"
v0.4.0
- in VSCode, create a sample project and add the file
[code]
- move the mouse over `boolean`
- the dev tools console shows
[code]

The problem seems to be that the hover object sent across the line doesn't contain a 'contents' field.

[2017-05-16 14:30] fbricon commented on #214
You created the project before or after opening vscode?

[2017-05-16 14:30] aeschli commented on #214
I created it while it was open, but in the meantime also started VSCode again on the project.

[2017-05-16 14:32] aeschli commented on #214
I think it's a bug on the Java language server side. If a location doesn't have any hover to show, send 'null' as result, not a hover without contents.

[2017-05-16 14:34] fbricon commented on #214
Ok I can reproduce the issue.

I think we send a non null Hover because lsp4j would crap out otherwise, but I need to check

[2017-05-16 14:51] fbricon commented on #214
@aeschli it's actually VS Code that doesn't like null results:

[code]

[2017-05-16 14:54] aeschli commented on #214
Yes, it can be discussed where the bug is. From how I understand the spec, 'contents' is a required field for hover.
That sais, I created https://github.com/Microsoft/vscode-languageserver-node/issues/207 to be tolerant in the language client.

[2017-05-16 15:07] aeschli commented on #214
https://github.com/redhat-developer/vscode-java/issues/214#issuecomment-301807260
I guess you didn't pass in a result at all. The code there checks for undefined. I think it should be at least 'null'.

[2017-05-16 15:11] fbricon commented on #214
Yes it was when I sent a null Hover result instead of an Hover result with null content (your initial report)

[2017-05-16 15:27] igor-kudryashov commented on #45
@fbricon I'm sorry, I can not repeat this error. I guess I did something wrong before.

[2017-05-16 19:57] vviskari commented on #211
Cant test Oxygen M7. I'm not allowed to download much anything in the corporate network. I have access to only Neon.

I copied the proxy settings from eclipse to the settings file in .vscode\extensions\redhat.java-0.4.0\server\config_win\.setting
Now I get the same error as in #212 :

[2017-05-17 06:07] aeschli opened #215 "CompletionItem.documentation should be plain text"
v0.4.0
- in VSCode, create a sample project and do code assist on
[code]
This shows code assist proposals. Looking at the issue descriptions, they are not correctly rendered.
![image](https://cloud.githubusercontent.com/assets/6461412/26140618/0effc08a-3ad8-11e7-9e02-753b89ffd703.png)

Unfortunately, CompletionItem.documentation (and details) only support plain text.
On our side, the request to su

[2017-05-17 06:18] aeschli opened #216 "Snippets on top again, covering real proposals"
_From @aeschli on May 16, 2017 15:21_

Playing around with the Java language server, I see that code assist shows snippets again on the top, covering all real proposals:

![image](https://cloud.githubusercontent.com/assets/6461412/26113805/dfd3893a-3a5b-11e7-82c9-b16a94357ecd.png)

I need to scroll down to learn about the object before the dot.
![image](https://cloud.githubusercontent.com/assets/6

[2017-05-17 06:18] aeschli commented on #216
_From @jrieken on May 16, 2017 15:48_

Settings? Java-Specific?

[2017-05-17 06:18] aeschli commented on #216
_From @jrieken on May 16, 2017 16:3_

That's the sorting the extension wanted, all semantic suggestions have `zzzzzzadf` as sort text, the suggestions don't. By default we sort snippets inline and only demote when they are equal to other suggestions.

![screen shot 2017-05-16 at 18 00 25](https://cloud.githubusercontent.com/assets/1794099/26115871/9180a01e-3a61-11e7-861b-b2f7ea1d9cc0.png)

[2017-05-17 06:18] aeschli commented on #216
@jrieken Thanks Joh for digging. Sorry, I didn't expect the Java extension to set the sort text.
Moving to the Java extension. Any reason to set the sort text?

[2017-05-17 11:15] gorkem commented on #216
Sort text is set to mimic a relevancy to the context where completion request is invoked. I am not sure if we can have an alternate way to manage the relevancy on Completions.

[2017-05-17 14:47] fbricon commented on #216
Changing sort text to use numerical values instead of zzzz*:
<img width="798" alt="screen shot 2017-05-17 at 10 45 03 am" src="https://cloud.githubusercontent.com/assets/148698/26160041/236b8a8e-3aee-11e7-8524-df8ef8a0958f.png">

[2017-05-17 17:55] #216 closed

[2017-05-17 19:06] jtsiros commented on #203
I experienced this also running version "1.8.0_05".

[2017-05-17 19:08] fbricon commented on #203
@jtsiros you should definitely update your Java version

[2017-05-18 12:28] fbricon opened #217 "Code snippets use deprecated, internal syntax"
copied from https://github.com/Microsoft/vscode/issues/26834

in vscode 1.13, with snippets like
[code]
when selecting that template during completion, all parameters are gone now.

from @jrieken

    The snippet above uses the internal syntax that we never documented and never made official.
    We have deprecated that in Nov 16 and are now removing support. I did create an adoption for
    item

[2017-05-18 14:21] fbricon commented on #217
While PR#218 fixes this particular issue, using autocompletion right in the middle of an inserted snippet is broken, see https://github.com/Microsoft/vscode/issues/26869

[2017-05-18 15:17] #217 closed

[2017-05-19 13:55] EldarKersebaum commented on #107
@fbricon The link explains pretty well what to do. The problem is that I feel left alone with how to do it.
I am only writing small snippets and tests, thus I have all my files in the current directory. I don't need a full bloated pom.xml
After looking around with pom.xml I only found examples for classpath = "src\"

Wouldn't it make sense to assume curr_directory is the classpath for standalone f

[2017-05-19 14:07] fbricon commented on #107
@EldarKersebaum you should be able to get content-assist and navigate between classes in the same folder with ctrl+click, provided these files have been opened once in vscode. This is a current technical limitation. But if you click on `Don't show again`, that should be enough for a small number of classes.

Please open a separate feature request if you think we could improve that

[2017-05-19 17:19] fbricon commented on #213
Doing my best to try to reproduce the issue, but no dice so far. Even putting a breakpoint on the server then hitting escape on the vscode side doesn't generate the CancellationException.

@aeschli do you see the problem consistently?

[2017-05-19 17:42] #213 closed

[2017-05-19 17:44] fbricon commented on #213
Even though I can't reproduce the issue, I made sure no exception is propagated when calling monitor.isCancelled() in https://github.com/eclipse/eclipse.jdt.ls/commit/79e64210cc9008e67d395af6d8f02422562992f6

[2017-05-19 21:25] #214 closed

[2017-05-22 07:21] aeschli commented on #213
@fbricon Trying again, I also can't reproduce it anymore today.
From how I remember it, the CancellationException can occur with every method that takes a progress monitor. When you use a method that takes an IProgressMonitor you need to handle it.

[2017-05-22 12:18] handmade-it opened #219 ""Access restriction" java warning not solveable"
Hi,

I am freshly using your extension with vs code for a new java project. The project itself had been generated via maven command line tool. The extension itself works, but i cannot get rid of this (and similar) warnings:

[Java] Access restriction: The type 'Endpoint' is not API (restriction on required library '/usr/lib/jvm/java-8-openjdk-amd64/jre/lib/rt.jar')

I tried to set java.home to a c

[2017-05-22 16:43] squishybanana04 opened #220 "Format on save"
I've been playing around with the "Format Document" command and I was wondering if it would be possible to configure it to format the document whenever I save.

[2017-05-22 18:12] snjeza commented on #211
See https://github.com/eclipse/eclipse.jdt.ls/pull/233

[2017-05-22 18:12] snjeza commented on #212
See See https://github.com/eclipse/eclipse.jdt.ls/pull/233

[2017-05-22 18:21] snjeza commented on #220
You can try https://marketplace.visualstudio.com/items?itemName=emeraldwalk.RunOnSave

[2017-05-22 18:32] fbricon commented on #220
Actually there's no need for a 3rd party extension.

Just add `"editor.formatOnSave": true` to VS Code preferences

[2017-05-22 18:32] #220 closed

[2017-05-22 20:51] aeschli opened #221 "Incomplete classpath when opening eclipse.jdt.ls in VSCode"
VSCode 1.12
vscode-java 0.4.0

- git clone https://github.com/eclipse/eclipse.jdt.ls.git
- run `./mvnw clean verify`
- open VSCode on the folder
- error `Classpath is incomplete. Only syntax errors will be reported`

Output shows:
[code]

Is it a supported scenario? Would be great to selfhost.

[2017-05-22 20:52] fbricon commented on #219
mmm I can't reproduce the warning on Mac. @snjeza can you check on linux?

As for the changing java.home, I've noticed some weird behavior too, on Mac. It seems jdt.ls initializes a JVM environment which not necessarily matches the JDK version used to run the server, but uses some Java version automatically found by Eclipse on the platform. I think we can consider that a bug in itself (Java enviro

[2017-05-22 20:57] handmade-it commented on #219
Hi, thanks for the reply. I agree with your consideration.
BTW: The error even occured at a time when i definitly had just on jdk installed at all. The java.home problem was a followup after it started trying to use a different jdk

I will test i with a blank java project (without any maven, just to sort out that this might be the problem)

[2017-05-22 20:58] fbricon commented on #221
Dogfooding is @gorkem's wet dream :-)

It's not supported at the moment because jdt.ls needs PDE plugins to build itself. Probably also needs m2e-tycho support.

Regardless, `Resource '/jdt.ls-java-project/src/pom.xml' does not exist` looks weird (I'm assuming you cloned the repo under jdt.ls-java-project). We need to investigate why it's looking for a pom.xml under src/

[2017-05-22 21:00] fbricon commented on #221
I should create a `wet-dream` label

[2017-05-22 21:03] handmade-it commented on #219
Hi, one more feedback. I cloned my project and removed everything relevant to maven (pom.xml, .settings-folder, .classpath and .project file) and the strange warning went away. Can it be, that the maven files somehow interfere with your extensions settings?

The maven project I use had been created with this command:

mvn archetype:generate -DgroupId=com.mycompany.app -DartifactId=my-app -Darchety

[2017-05-22 21:07] fbricon commented on #219
I don't know what caused the warning. We need to be able to reproduce the issue. See if you see anything relevant in the [server log](https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#get-the-java-language-servers-workspace-logs).

[2017-05-22 21:09] handmade-it commented on #219
Oh man... i'm going to hit myself. I found the problem.

The maven command above created a .settings folder with a file org.eclipse.jdt.core.prefs

This file contains a setting named: org.eclipse.jdt.core.compiler.problem.forbiddenReference that was set to "warning" and caused... well, the warning. So your language server somehow fetched this setting and used it. Maybe this should get documented a

[2017-05-22 21:44] fbricon commented on #219
I see now :-)

The `.settings\org.eclipse.jdt.core.prefs` file is actually created by vscode-java. `org.eclipse.jdt.core.compiler.problem.forbiddenReference` is actually a very important setting to keep.

Basically, your issue is the Maven project uses the default maven-compiler settings where  [`the default source setting is 1.5 and the default target setting is 1.5, independently of the JDK you

[2017-05-22 21:45] #219 closed

[2017-05-22 21:46] handmade-it commented on #219
Great! Thanks for the quick support!!

[2017-05-23 02:29] fbricon commented on #187
Initial tests with filterText and latest insiders build look good. Will provide a proper PR on jdt.ls soon.

[2017-05-23 12:12] #199 closed

[2017-05-23 20:12] #187 closed

[2017-05-23 20:19] fbricon opened #222 "Can't navigate from disassembled source of a class file"
##### Steps To Reproduce
1. Open sun.security.ssl.SSLContextImpl (Ctrl+T)
2. ctrl+click on sun.security.ssl.Debug (or any other FQCN)

##### Current Result
nothing happens

##### Expected Result
Should navigate to target class

##### Additional Informations
I believe the navigation handler on the server side should reconstruct the same disassembled source buffer used for display, in order to compu

[2017-05-24 16:41] fbricon commented on #215
This is what I get when converting Html Javadoc to Eclipse Html JavaDoc to plain text.

<img width="788" alt="screen shot 2017-05-24 at 12 32 50 pm" src="https://cloud.githubusercontent.com/assets/148698/26414434/2c7d0528-407d-11e7-8762-d5cf0341fdd6.png">

Cheap to implement and while it's not absolutely perfect, it might be sufficient.

@gorkem @aeschli WDYT?

[2017-05-24 16:49] fbricon commented on #215
basically, rendering nested lists from html to plaintext using that method sucks

[2017-05-25 14:19] Too-Naive opened #223 "No definition found for 'java'"
![](https://cloud.githubusercontent.com/assets/16496671/26453648/146bf4f6-4197-11e7-92da-66656178396c.png)

##### Environment
- Operating System: Windows 8.1 Pro
- JDK version:1.8.0_131-1-redhat
- Visual Studio Code version:1.10.2
- Java extension version: not found

##### Steps To Reproduce
1. Reopen Vscode
2. Restart computer then reopen vscode
3. Reinstall vscode

[2017-05-25 14:24] Too-Naive commented on #223
I can fix these problem in copy these folder to another path, but I really don't know what happen in vscode reference

[2017-05-25 15:00] Too-Naive commented on #223
Reproduce video: https://www.youtube.com/watch?v=yv3T1v4k0BA

[2017-05-25 15:26] Too-Naive commented on #223
Fix:
* Delete %USERPROFILE%\.vscode\extensions\redhat.java-0.4.0

[2017-05-25 15:28] Too-Naive commented on #223
@fbricon
But I mean is, When I revent file, The vs code find definition not work too.
[project file](https://github.com/Too-Naive/1052-hw-final)

[2017-05-25 15:32] Too-Naive commented on #223
No, until I delete extensions file

[2017-05-25 15:40] fbricon commented on #223
Ok, that doesn't seem normal. Recovery should be simpler than that.
We'll investigate, but in the mean time, just don't delete .project/.classpath files

[2017-05-25 15:46] Too-Naive commented on #223
I know, I just want to fix
![](https://cloud.githubusercontent.com/assets/16496671/26457909/51080d2a-41a4-11e7-830a-53b2307b54f8.png)

[2017-05-25 17:05] #211 closed

[2017-05-25 17:05] #212 closed

[2017-05-25 19:27] fbricon commented on #212
@thiagolocatelli please download and [install](https://code.visualstudio.com/docs/editor/extension-gallery#_install-from-a-vsix) the latest *.vsix from http://download.jboss.org/jbosstools/jdt.ls/staging/ and let us know if it fixes your issue

[2017-05-25 19:28] fbricon commented on #211
@vviskari please download and [install](https://code.visualstudio.com/docs/editor/extension-gallery#_install-from-a-vsix) the latest *.vsix from http://download.jboss.org/jbosstools/jdt.ls/staging/ and let us know if it fixes your issue

[2017-05-25 19:38] dineiar commented on #176
I have noticed the proxy error occurs randomly and when I save the opened file. When I press Ctrl+S it shows me the error and underlines almost all code in red, saying it can't resolve names to classes.

If I go after a dot and start typing again, it reestablish the communication and it's all right again. Until the next save.

Is there any chance the code is ignoring proxy settings on "after save"

[2017-05-25 19:43] fbricon commented on #176
@dineiar we [just fixed](https://github.com/eclipse/eclipse.jdt.ls/pull/233#event-1097646596) - hopefully- an issue with proxy settings being ignored server side.

Guys, please download and [install](https://code.visualstudio.com/docs/editor/extension-gallery#_install-from-a-vsix) the latest *.vsix from http://download.jboss.org/jbosstools/jdt.ls/staging/ and let us know if it fixes your issue

[2017-05-25 19:44] dineiar commented on #176
Also, I'm seeing errors like this (just noticed the stack trace is different):

[code]

[2017-05-25 19:52] fbricon opened #224 "No javadoc when hovering over packages from binaries missing package-info.class"
When hovering over say `import org.springframework.core.SpringVersion;` in a Maven project, the javadoc is displayed for SpringVersion, because sources have been downloaded automatically, however, there's no javadoc over `core`.  Hovering over same code opened in Eclipse yields the expected results.

##### Steps To Reproduce
1. Open a Maven project with
[code]
2. add `import org.springframework.co

[2017-05-25 20:05] dineiar commented on #176
@fbricon Just installed and it stopped popping up the Output window every 3 seconds, so thank you!

It still presenting that strange behaviour on save that I [mentioned](https://github.com/redhat-developer/vscode-java/issues/176#issuecomment-304103374) before, and showing lot of Graddle errors on output like
[code]

But they don't bother much as the're not popping on the screen.

[2017-05-25 20:08] fbricon commented on #176
@dineiar does it work with Eclipse+Gradle integration (aka Buildship)?

[2017-05-25 20:34] snjeza commented on #176
@dineiar You may want to take a look at https://github.com/eclipse/eclipse.jdt.ls/pull/233#issue-230419247

[2017-05-25 20:44] snjeza commented on #176
@dineier the following part is related to gradle:

There is also a problem when setting a proxy for gradle. It isn't related to o.e.jdt.ls or Eclipse/buildship.
When gradle downloads a gradle distribution, it requires setting the proxy properties as the following:

systemProp.http.proxyHost=<user>:<password>@<proxy_ip>
systemProp.http.proxyPort=<port>
systemProp.https.proxyHost=<user>:<password>@<

[2017-05-25 21:12] dineiar commented on #176
@fbricon I'm not using Gradle, so I don't know. I'm using VS Code and Maven. (Did I misunderstood you question?)
@snjeza Hmmm that seems related.

I didn't fully understood the VS Code - Eclipse - Maven - Graddle relationship... Is the Java Plugin that creates the `.settings` folder and files `org.eclipse.core.resources.prefs` and `org.eclipse.m2e.core.prefs`? Maybe I should set the proxy on `org.

[2017-05-25 21:22] fbricon commented on #176
@dineiar your [comment](https://github.com/redhat-developer/vscode-java/issues/176#issuecomment-304109591) mentions gradle, so I assumed that's what you were using

files in .settings are generated by different plugins run by the server. For Maven project you need to set your proxy settings in  settings.xml

[2017-05-26 03:46] dineiar commented on #176
@fbricon I'm sorry I didn't let that clear in that comment.

The proxy settings are setted in Maven's settings.xml, as mentioned in my [previous comment](https://github.com/redhat-developer/vscode-java/issues/176#issuecomment-299499412). What I still don't understand is why the extension keeps trying to synchronize Graddle, as I'm not using it in my projects...

[2017-05-26 04:00] fbricon commented on #176
It's not normal. This should be fixed

[2017-05-26 04:02] dineiar commented on #176
Should I open another issue for this?

At least for me, the javadoc proxy problem seems to be solved by the latest .vsix.

[2017-05-26 04:03] fbricon commented on #176
Yes please

[2017-05-26 13:57] fbricon opened #226 "Javadoc missing from overridden methods"
Hovering on overridden method doesn't show inherited Javadoc, if javadoc is not set in current file.

##### Steps To Reproduce
1. Open a Java file like :
[code]

2. hover over all 3 `start()` methods

##### Current Result
Only super.start() shows the Thread.start() javadoc

##### Expected Result
All hovers should display the original, inherited Thread.start() javadoc

[2017-05-26 19:04] fbricon opened #227 "CompletionItem.documentation is null for methods with generics"
When autocompleting on methods with generic parameters, no documentation is returned

##### Steps To Reproduce
1. Create a Map variable
2. autocomplete on the `compute` methods

##### Current Result
No documentation is displayed:

![may-26-2017 15-00-25](https://cloud.githubusercontent.com/assets/148698/26508972/b328d77a-4224-11e7-9455-0129081f92d9.gif)

##### Expected Result
Javadoc from methods

[2017-05-26 21:46] fbricon commented on #226
With upstream fix:

![may-26-2017 17-45-43](https://cloud.githubusercontent.com/assets/148698/26513749/349d739a-423b-11e7-812b-70cb8278d9fa.gif)

[2017-05-28 05:08] fbricon opened #228 "Completing /** should generate Javadoc with params"
typing `/**`+`Enter` on top of methods/constructors should generate Javadoc with parameters like in Eclipse or typescript support in VS Code:
![may-28-2017 01-05-06](https://cloud.githubusercontent.com/assets/148698/26526248/1e57952c-4342-11e7-86c2-07aeb02937b4.gif)

[2017-05-29 14:29] fbricon commented on #176
This should be fixed along the proxy issues now. Closing.

[2017-05-29 14:29] #176 closed

[2017-05-29 14:48] dineiar opened #229 "Gradle error message on Maven project with Less.js node module"
I have a web project managed by Maven (I'm not using Gradle at all), and I'm using npm to install some dependencies (which result in a node_modules folder).

I've noticed that the error messages (see Raw Output below) point to `/<project_path>/project-web/node_modules/less/build.gradle` file, which is downloaded automatically by npm on [Less](http://lesscss.org/) instalation. IMHO, it should be ig

[2017-05-29 16:51] #175 closed

[2017-05-29 19:13] #226 closed

[2017-05-29 21:23] fbricon commented on #215
removing for current sprint as we're [waiting for CQ approval](https://github.com/eclipse/eclipse.jdt.ls/pull/238#discussion_r118979830) for forking a Jsoup class, on the server side.

[2017-05-30 14:08] fbricon commented on #169
@Xiot does your android project contain one or more pom.xml files?

[2017-05-30 14:16] fbricon commented on #177
@minkyn ping. See previous comment

[2017-05-31 17:46] #222 closed

[2017-06-01 01:06] manuelsfd commented on #108
where is the location of settings.json for edit java.home in linux. Please

[2017-06-01 02:20] fbricon commented on #108
@manuelsfd see https://code.visualstudio.com/docs/getstarted/settings#_creating-user-and-workspace-settings

[2017-06-01 02:28] hpolloni commented on #221
@fbricon are you talking about the "jdt.ls-java-project" bit?

AFAIK, that's the default project name used in Eclipse JDT LS.

src/org/eclipse/jdt/ls/core/internal/managers/ProjectsManager.java:     public static final String DEFAULT_PROJECT_NAME= "jdt.ls-java-project";

[2017-06-01 02:30] fbricon commented on #221
@hpolloni yes, I was confused initially. I should have known better since I implemented it :-)

[2017-06-01 02:35] hpolloni commented on #221
Don't mean to hijack the thread. I was just browsing that class yesterday (trying to add custom classpaths). That's why I remembered

[2017-06-01 19:34] aeschli opened #230 "npm run watch fails with unresolved dependencies"
Ubuntu 14.04

- Follow the instructions in https://github.com/redhat-developer/vscode-java/blob/master/CONTRIBUTING.md#building-eclipse--jdt-language-server
`npm run build-server` works but `npm run watch-server` fails with

Cannot resolve dependencies of product languageServer.product:
[ERROR]   eclipse-plugin artifact with ID "org.eclipse.jdt.launching.macosx" and version matching "0.0.0" was no

[2017-06-02 06:17] vviskari commented on #211
Updated the plugin to version 0.5.0 and it works perfectly now. Thanks!

[2017-06-02 15:18] simonl65 commented on #45
I eventually got this working in Windows with the following in vscode:

"java.home": **'**"C:\\Program Files\\Java\\jdk1.8.0_131"**'**

NOTES:
1. Double back-slashes
2. Single quotes around the double-quotes (because the path has spaces).

HTH

[2017-06-02 19:55] manuelsfd commented on #108
thanks for the answer @fbricon, But I still have the issue.

this is my java.home

"java.home": "/usr/lib/jvm/java-8-oracle"

my environment is

JAVA_HOME="/usr/lib/jvm/java-8-oracle"

i use ubuntu 17.04 and this is my issue

[Error - 14:19:55] Starting client failed
13

[2017-06-02 19:56] fbricon commented on #108
@manuelsfd can you provide more [logs](https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#get-the-vscode-java-logs)?

[2017-06-02 22:35] manuelsfd commented on #108
@fbricon I'm not sure this is the .log but it was the one I found, thanks for your time, I'm new to the linux world

[!ENTRY org.eclipse.jdt.ls.core 1 0 2017-06-02 14:19:53.670
!MESSAGE class org.eclipse.jdt.ls.core.internal.JavaLanguageServerPlugin is stopping:

!ENTRY org.eclipse.jdt.ls.core 1 0 2017-06-02 14:19:53.770
!MESSAGE Thread[Framework Event Dispatcher: org.eclipse.osgi.internal.framewo

[2017-06-02 22:37] manuelsfd commented on #108
This .log found it on this route.

./.config/Code/User/workspaceStorage/b1e96030e2756963de66f71f1c0c2686/redhat.java/jdt_ws/.metadata/.log

[2017-06-02 22:44] fbricon commented on #108
Can you try deleting ./.config/Code/User/workspaceStorage/b1e96030e2756963de66f71f1c0c2686 and restart?

[2017-06-02 23:06] manuelsfd commented on #108
this is my new log.

[log.pdf](https://github.com/redhat-developer/vscode-java/files/1049136/log.pdf)

[2017-06-02 23:21] fbricon commented on #108
@manuelsfd seems like you've hit #201. Long story short, vscode-java doesn't run on Linux 32b.

[2017-06-02 23:57] manuelsfd commented on #108
jajaja @fbricon ok, thanks for your time.

[2017-06-03 22:09] Aarilight opened #231 "Updating <project name> configuration loop; caused by Minecraft Forge gradle files"
Minecraft Forge gradle files work in IntelliJ IDEA but not VSCode.

##### Environment
- Operating System: Windows 10
- JDK version: 1.8.0_131-1-redhat
- Visual Studio Code version: 1.12.2
- Java extension version: 0.5.0

##### Steps To Reproduce
1. Clone my minecraft mod (https://github.com/Aarilight/souls) [Souls]
2. Open folder with VSCode

The log is this, and then a loop of the last six lines:

[2017-06-04 15:38] ItachiSan opened #232 "Gradle should respect system setup"
The background Gradle daemon run for supporting Gradle projects doesn't respect system settings.

##### Environment
- Operating System: ArchLinux, Windows
- JDK version: 8.0.121-b13
- Visual Studio Code version: 1.12.2
- Java extension version: 0.5.0

##### Steps To Reproduce
1. Open VSCode
2. Open a Gradle-based Java project

##### Current Result
You can find a running Gradle instance in such a w

[2017-06-04 16:54] fbricon commented on #232
Does your project contain a Gradle wrapper?

[2017-06-05 07:46] ItachiSan commented on #232
Nope, I supposed that was it at first, but I removed it.
[code]

[2017-06-05 08:15] ItachiSan commented on #232
I've got the *phantom* Gradle also on Windows (output from `gwmi Win32_Process -Filter "Name = 'java.exe'" | clip` in **PowerShell**):
[code]

[2017-06-05 16:26] fbricon commented on #232
so what happens is, if no wrapper is found, then we let BuildShip use whichever default version of Gradle it has defined.

I reckon we could do
1. use gradle wrapper if it exists, else
2. use gradle runtime if found on the system, else
3. use default buildship gradle runtime

For .2, is it enough to check for the GRADLE_HOME env var?

[2017-06-05 17:07] Xiot commented on #169
@fbricon Nope. Don't have any pom.xml

[2017-06-05 17:08] fbricon commented on #231
I don't see any configuration loop. The workspace/didChangeConfiguration event would be sent by vscode itself, not vscode-java, so it might be caused by a third-party plugin.

However, what I see is many compilation errors, that disappear eventually, when opening various files. Something's quite fishy there. But ultimately, everything look good
<img width="1423" alt="screen shot 2017-06-05 at 1 08

[2017-06-05 17:23] fbricon commented on #231
I can see compilation errors all over the place when reopening. That's really bad.

[2017-06-06 05:19] Aarilight commented on #231
I disabled all my extensions except for this one and it still seems to do it.
When I first loaded the project, I clicked `always` on this prompt
![](https://puu.sh/wcfss/0c96d0b46f.png), which sets the `.vscode/settings.json` to:
[code]
If I change this to `interactive` it stops looping, but every time I open the project it shows the same prompt again, and it doesn't download the dependencies eith

[2017-06-07 17:49] ItachiSan commented on #232
For n. 2 I suppose the best would be to check
1. if `GRADLE_HOME` exists, then if `GRADLE_HOME\bin\gradle` exists
2. if `gradle` exists in `PATH` and that the setup is good (*exempli gratia* `gradle --version`)
If you've better suggestions, go ahead 😄

[2017-06-08 06:29] Aarilight commented on #231
I'm not sure why I had ignored it, but I had ignored the .classpath and .project files that were autogenerated by IDEA. Seems like that's what causes the loop. I don't really understand the files, maybe they're incorrect?

[2017-06-08 22:51] fbricon opened #233 "Add ability to attach missing sources"
If a class file has no known source, a disassembled source is displayed instead.
There should be a way to easily attach missing sources to the jar containing the file in question.

Originally suggested by @jtsiros on https://marketplace.visualstudio.com/items?itemName=redhat.java#review-details

[2017-06-08 23:39] fbricon opened #234 "`package` autocompletion should return only 1 package"
After creating a new java file in a source directory, autocompletion after the package keyword should return the current package, inferred from the file location. Instead, a complete, useless list of packages is returned.
![package-autocompletion](https://user-images.githubusercontent.com/148698/26955065-1842e94a-4c82-11e7-885a-74e7e3aaa506.gif)

[2017-06-09 02:40] zhangqunshi opened #235 ""Classpath is incomplete" warning -- why not directly add current path into classpath?"
[provide a description of the issue]

##### Environment
- Operating System: windows7
- JDK version: 1.8
- Visual Studio Code version: 1.13.0
- Java extension version:

##### Steps To Reproduce
1. Open a single java file

##### Current Result
"Classpath is incomplete" warning

##### Expected Result
"Classpath is incomplete" warning don't show, directly add current directory into classpath.
Also i d

[2017-06-09 13:07] fbricon commented on #235
You know you can choose to ignore the warning right (`Don't show again`)?
If you opened a folder containing multiple java files, each file, once opened is added to the same classpath.

[2017-06-09 18:06] squishybanana04 opened #236 "Problem formatting enum"
I have an enum that looks like this:

[code]

After formatting it looks like this:

[code]

[2017-06-09 18:33] fbricon opened #237 "Contribute Classpath Dependencies view"
Similar to npm dependencies:

![](https://code.visualstudio.com/images/1_13_views.png)

we could display project dependencies in a custom view, see https://code.visualstudio.com/updates/v1_13#_custom-views

[2017-06-09 18:48] fbricon commented on #236
I reckon that's awful.

We need to add support for formatter on/off tags, like https://stackoverflow.com/questions/1820908/how-to-turn-off-the-eclipse-code-formatter-for-certain-sections-of-java-code

[2017-06-10 17:16] pftbest opened #238 "Core Exception [code 269] File not found: /USERS/..."
File name should start with `/Users/` instead of `/USERS/`.

##### Environment
- Operating System: macOS case sensitive
- JDK version: 1.8 112
- Visual Studio Code version: 1.13
- Java extension version: 0.5.0

[code]

[2017-06-10 17:49] fbricon commented on #238
Can you provide steps to reproduce?

[2017-06-10 17:54] pftbest commented on #238
Steps:
1) Install case sensitive operating system
2) open java file
3) start typing

But seriously, the issue is obvious, `/USERS` needs to be replaced with `/Users`

[2017-06-10 18:02] fbricon commented on #238
@snjeza  can you please look into it?

[2017-06-10 19:06] snjeza commented on #238
I can't reproduce the issue.
@pftbest Could you, please, attach your project settings (.project, .classpatch and .settings)?

[2017-06-10 19:08] pftbest commented on #238
Hm, I don't have a project. I just open stand alone java file.
Maybe there are some project files lying around in android sources, I'm not sure.

[2017-06-10 19:23] pftbest commented on #238
I'm sorry, now I can't reproduce it either. strange

[2017-06-10 19:34] snjeza commented on #238
You can check the ANDROID_HOME and ANDROID_SDK_HOME environment variables using:
[code]

[2017-06-10 19:44] pftbest commented on #238
@snjeza
I don't have this variables set.

The issue has completely gone, I can't reproduce it any more.
All is working as intended. You may close this issue.

[2017-06-10 21:40] pftbest commented on #238
got it again

[code]

[2017-06-11 06:12] typekpb commented on #56
well, as I'm used to from the eclipse world, I'd prefer to have: "Organize imports" functionality => add missing + remove unused (as those are already reported as warnings in "Problems" section).

To go one step further I'd love to see this functionality on the whole package as well (all files within would have imports organized).

[2017-06-12 02:52] dancancro commented on #108
Today I started getting problems too.

JAVA_HOME is set in my .bashrc file to
"/Library/Java/JavaVirtualMachines/jdk1.8.0_05.jdk/Contents/Home"

As of this afternoon, when I open the java project in VSCode that I've been working on every day, I get: "Couldn't start client Language Support for Java"

Adding this to my user settings or workspace settings and reloading the project doesn't help
  "jav

[2017-06-12 15:00] fbricon commented on #238
Can you enable [verbose logging](https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#enable-logging) on vscode? I want to check if vscode is sending these bad urls

[2017-06-12 16:34] fbricon commented on #234
Created upstream issue https://bugs.eclipse.org/518140

[2017-06-12 19:46] fbricon commented on #234
completion improvement with https://github.com/eclipse/eclipse.jdt.ls/issues/260

![jun-12-2017 15-30-38](https://user-images.githubusercontent.com/148698/27051982-2779b5f4-4f86-11e7-91dc-64b4f790f6b8.gif)

[2017-06-12 20:53] #234 closed

[2017-06-13 15:08] joewood commented on #120
Seeing this too for jdk.nashorn. No idea why it's restricted. Really need a setting on the plugin to suppress these errors.

[2017-06-13 15:53] fbricon opened #239 "Eclipse project files modifications are ignored"
When modifying jdt settings in `.settings/org.eclipse.jdt.core.prefs`, the modifications are ignored by the server.

Eclipse project setting files need to be added to the file watcher, so they can be refreshed server-side

[2017-06-13 15:54] #239 closed

[2017-06-13 16:19] fbricon commented on #120
As a workaround, to get rid of theses warnings, you can add `org.eclipse.jdt.core.compiler.problem.forbiddenReference=ignore` to your `<project>/.settings/org.eclipse.jdt.core.prefs`. You'll need to install the [latest CI build](http://download.jboss.org/jbosstools/jdt.ls/staging/) for this modification to reach the java language server (#239).

@joewood see @gorkem's [explanation](https://github.

[2017-06-14 23:30] dancancro commented on #108
Strange. I just installed a VSCode update. At first Java Language Support worked. Then I closed that project, opened another one, and reopened the first one, and the old problem was back.

[2017-06-14 23:33] fbricon commented on #108
Can you please attach your logs? https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting

[2017-06-15 01:13] squishybanana04 commented on #236
At the moment I added blank comments after each comma.

[2017-06-15 15:08] fadeevab opened #240 "Selection occurrences are not highlighted at the vertical scroll bar"
##### Environment
- Operating System: Ubuntu 14.04
- JDK version: /usr/lib/jvm/java-8-openjdk-amd64
- Visual Studio Code version: VS Code 1.13.1
- Java extension version:

##### Steps To Reproduce
1. Open VS Code.
2. Open Java file.
3. Selected occurrences are highlighted in the editor and are highlighted the right vertical scroll bar.
4. Open ANY other file.
5. Return to ANY Java file.
6. Selecte

[2017-06-15 17:59] fbricon commented on #240
@aeschli is JLS supposed to provide highlights for the scroll bar too?

[2017-06-15 19:33] fbricon commented on #85
gorkem/java-language-server#72 is fixed

[2017-06-15 19:33] #85 closed

[2017-06-15 20:11] fbricon commented on #240
Ah, actually I was thinking about the minimap. For me highlighted java code is also highlighted in scroll bar. Even after opening non-java files. But I'm on a Mac, so maybe it's a problem on Linux?

[2017-06-15 20:30] fadeevab commented on #240
Right, I mean just small grey dashes in the scroll bar.
Anyway, disabling the package make the deal for me. Enabling: and the issue comes back.

[2017-06-15 22:38] jtsiros opened #241 "OperationCanceledException"
I've been consistently experiencing an output dialog message that indicates a problem with codeComplete - OperationCanceledException:

##### Environment
- Operating System: MacOS 10.12.5
- JDK version: 1.8.0_131-b11
- Visual Studio Code version: 1.13.1
- Java extension version: 0.5.0

##### Steps To Reproduce
1. Open Maven project with several packages and classes
2. Write code and see output show

[2017-06-16 05:57] fbricon commented on #241
Looks like a duplicate of #213  which should be fixed in 0.6.0.  Please update your version of vscode-java

[2017-06-16 06:40] aeschli commented on #240
The minimap doesn't show any selections or highlights. The overview rule (under the scrollbar does).
![image](https://user-images.githubusercontent.com/6461412/27214937-52b935b4-526f-11e7-81f0-91fd90da2710.png)

Can you attach the file where you see the problem?

[2017-06-16 06:52] fadeevab commented on #240
@aeschli, I nothing said about minimap, only about scroll bar, here is some confusion. I should have attached the image, my fault. I will attach demo in an hour. Thank you!

[2017-06-16 08:09] fadeevab commented on #240
@aeschli, @fbricon, I added demo images into description. Thank you for your attention!

[2017-06-16 13:37] fbricon commented on #240
Ok I managed to reproduce something similar on macOS.
![jun-16-2017 09-29-06](https://user-images.githubusercontent.com/148698/27228650-7da37a4e-5276-11e7-902d-33f841029caa.gif)

[code]

1st highlight:
[code]

2nd highlight:
[code]

So this looks like a server side issue.

[2017-06-16 13:51] fadeevab commented on #240
Seems like you reproduced yet another bug, because in my case all highlights in the editor are OK, but on the scrollbar are NOT ok. Still, it looks like in some way related.

[2017-06-16 13:55] fbricon commented on #240
@fadeevab please attach the code of your java class and the relevant [message logs](https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#turn-on-message-tracing-between-vs-code-and-the-java-language-server)

[2017-06-16 14:06] fadeevab commented on #240
Code:

[code]
Double click to "toString" at the 8th line.
[code]

[2017-06-16 14:10] fbricon commented on #240
this is the `textDocument/codeAction` event. You're looking for `textDocument/documentHighlight`

[2017-06-16 14:23] fadeevab commented on #240
Fixed, but it's just the same

[2017-06-16 14:27] fbricon commented on #240
in your case it may be caused by your file named foo.java and your class named Bar. The server might be confused by that discrepancy (I'm not sure)

[2017-06-16 14:32] fbricon commented on #240
In my case, the highlighting bug can be reproduced in Eclipse. That's comforting. Or not.

[2017-06-16 14:34] fadeevab commented on #240
[code]
1. Reload.
2. Open foo.java.
3. Logs from the beginning:

[code]

[2017-06-16 15:05] fbricon commented on #240
I think this is caused by the class not being compilable. You're calling `this` in a static method. The class being standalone, [compilation errors are not reported](https://github.com/redhat-developer/vscode-java/wiki/%22Classpath-is-incomplete%22-warning).

If you remove the static keyword from the main method, highlighting works (at least for me)

[2017-06-16 15:08] fadeevab commented on #240
Now double click at "toString" works, but double click at "this" doesn't. Please, check.

[2017-06-16 15:22] fbricon commented on #240
@fadeevab indeed, `this` is not highlighted, this is the same behaviour in Eclipse. It might be done on purpose (no idea), I asked the question on https://bugs.eclipse.org/bugs/show_bug.cgi?id=518397

[2017-06-16 15:34] fadeevab commented on #240
@fbricon, Ok, but still unclear for me this ideology: why to not just highlight the same occurrences which are highlighted inside the editor regardless to the ability to compile the Java file by the server?

Hm, I got the confusion: there are 2 types of highlighting - single click and double click.
At single click server finds the symbols and highlightings.
At double click editor highlights everyt

[2017-06-16 15:39] fadeevab commented on #240
No matter double click or custom selection: I am used to just custom selection and this custom selection is highlighted.

[2017-06-16 16:07] fbricon opened #242 "Improve standalone files error reporting"
Currently, only syntax errors are reported for standalone java files, because the classpath is incomplete, all sort of type/import related errors would clutter the UI was red squiggles.

However, some other kind of errors could be reported, like unused variables, or using `this` in a static context. There's room for improvement there. So instead of only reporting Syntax errors, a better alternativ

[2017-06-18 03:02] markckimball opened #243 "Lombok @Data formatting error"
Hi guys, it's possible I'm missing something. I searched for the problem, but couldn't find anything that seemed to be directly related.

When I go to format a file that has lombok.Data imported and use the @Data annotation (after following the wiki entry for Lombok support), an error gets sent to the output and the file doesn't get formatted. Otherwise Lombok does seem to work.

##### Environment

[2017-06-18 19:26] fbricon commented on #243
I managed to reproduce the error. The underlying exception is

[code]

[2017-06-18 19:26] fbricon commented on #243
@markckimball can you reproduce the issue in Eclipse proper?

[2017-06-18 20:15] fbricon commented on #243
So there's known bug between lombok and Eclipse's formatter, see  https://github.com/rzwitserloot/lombok/issues/879

[2017-06-18 21:20] fbricon commented on #236
So you can manually enable the on/off formatter tags by adding `org.eclipse.jdt.core.formatter.use_on_off_tags=true` to your project's `.settings/org.eclipse.jdt.core.prefs`.

Then you need to add `//@formatter:off` at the beginning of the region you don't want to be formatted, and add `//@formatter:on` at the end, to turn it back on.

eg.

[code]

[2017-06-19 07:59] fadeevab commented on #240
@fbricon , I'm not sure I'm clear in my thoughts, so I want to clarify: I assume that the "custom selection" isn't highlighted on the scroll bar while it should be highlighted (I mean the case when you select a word or a part of word and it's highlighted across the document). The "single click" is highlighted correctly the same way Eclipse had and it's ok.

I found out that the custom selection is

[2017-06-19 19:40] fbricon commented on #241
Please reopen if you can reproduce with 0.6.0

[2017-06-19 19:40] #241 closed

[2017-06-20 14:39] #236 closed

[2017-06-20 17:01] fbricon commented on #236
@squishybanana04 you can test formatter tags with the latest vscode-java vsix build from http://download.jboss.org/jbosstools/jdt.ls/staging/

[2017-06-22 06:52] devinscodev opened #244 ""Invalid project description" thrown when opening Eclipse projects"
I have used Eclipse Neon's Java project wizard to create a simple "Hello, World!" Java project (attached below). I then close Eclipse and open the project's root directory ```Test``` in VSCode. The first time I do this, everything works fine. But on all subsequent attempts to open ```Test``` in VSCode, the Java Language Server throws a  ```ResourceException``` with the message "Invalid project des

[2017-06-22 12:31] fbricon commented on #244
I can't reproduce the issue. I opened the project 4 times in vscode without any errors.

Can you try to [delete the vscode workspace](https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#clean-the-workspace-directory) and try again?

[2017-06-22 12:35] fbricon commented on #244
@snjeza do you have a windows box available to try to reproduce? Seems all good on macOS

[2017-06-22 13:11] fbricon commented on #244
@snjeza also `Project.checkDescription` throws a ResourceException wrapping a MultiStatus. But it seems the underlying statuses/exceptions don't surface to the logger, so we're missing important info. We can prolly do better in `JavaLanguageServerPlugin.log`. Do you mind checking that too?

[2017-06-22 13:34] devinscodev commented on #244
I have this issue on all three Windows machines I have attempted it on. One of them is Windows 7 Enterprise, the other two are Windows 10 Pro. Deleting the workspace solves the issue on the first VSCode restart after the deletion, but all subsequent restarts fail again just like before. I have temporarily gotten around the issue by triggering a script to delete the relevant workspace each time VSC

[2017-06-22 19:23] snjeza commented on #244
The issue can be reproduced on Windows 7. Trying to fix it.

[2017-06-25 18:36] eddard1 opened #246 "Unable to install the extension"
Whenever I try to install the extension, an error message pops up: "end of central directory record signature not found"

##### Environment
- Operating System: Ubuntu 16.04 64-bit
- JDK version: 1.8.0_131
- Visual Studio Code version:1.13.1
- Java extension version: 0.6.0
![screenshot from 2017-06-26 00-05-23](https://user-images.githubusercontent.com/29197200/27518688-3b793c78-5a03-11e7-9bd5-8933

[2017-06-25 19:01] amiramw opened #247 "npm run build-server error: Connection refused: connect"
Trying to follow https://github.com/redhat-developer/vscode-java/blob/master/CONTRIBUTING.md and getting an error on build-server

##### Environment
- Operating System: Windows 10
- JDK version: 1.8.0_45
- Visual Studio Code version: 1.13.1
- Java extension version: dev

##### Steps To Reproduce
1. Following https://github.com/redhat-developer/vscode-java/blob/master/CONTRIBUTING.md
2. npm run bui

[2017-06-25 21:09] fbricon commented on #247
are you behind a firewall?

[2017-06-25 21:11] fbricon commented on #246
are you behind a proxy? This sounds like a duplicate of https://github.com/Microsoft/vscode/issues/2384

[2017-06-25 21:13] fbricon commented on #246
can you install other extensions or is the problem limited to vscode-java?

[2017-06-25 21:30] amiramw commented on #247
Thanks. It was proxy.

[2017-06-25 21:30] #247 closed

[2017-06-26 16:32] #244 closed

[2017-06-27 05:45] eddard1 commented on #246
The problem is limited to 2 extensions-- this one and Angular v4
Typescript snippets by johnpapa.

On 26/06/2017, Fred Bricon <notifications@github.com> wrote:

[2017-06-27 05:51] eddard1 commented on #246
And no proxy connection, only wi-fi and personal hotspot connection from my phone.

[2017-06-27 07:47] rubin55 opened #248 "Error computing hover: **/package-summary.html not found in JavaDoc jar"
In some cases (see attached, example with Apache Commons CLI 1.4) it seems that a javadoc.jar does not contain a package-summary.html which the code seems to assume must exist. This causes spurious backtraces in the console.

##### Environment
- Operating System: Windows 10
- JDK version: 1.8.131
- Visual Studio Code version: 1.13.1
- Java extension version: 0.6.0

##### Steps To Reproduce
1. Open

[2017-06-27 22:48] NaccOll opened #249 "Autocompletion needs an horizontal scrollbar"
Recently, I try to write java by VSCode. The extension is helpful for me to modify When the code needs minor repairs. I thank you for the great job you’re doing with this extension.
But, I have a terrible experience when I try to import module. As follows:
[![https://gyazo.com/9f0b536a9f71d72a4939ffbb4834340d](https://i.gyazo.com/9f0b536a9f71d72a4939ffbb4834340d.png)](https://gyazo.com/9f0b536a9f7

[2017-06-28 13:31] fbricon commented on #249
We can't add an horizontal scrollbar, it has to come from vscode proper.

In the mean time, if you already know the type you want to import you can do:

[code]
It'll add the fully qualified class name

[2017-06-28 14:15] kirilloid commented on #154
The problem still exists—"file not found" errors in console for renamed/removed files—and is still fixable the same way, workspaceStorage: `del /s /q %APPDATA%\Code\User\workspaceStorage\`

Operating System: Win 10 Enterprise 14393.1358
JDK version: jdk1.8.0_121
Visual Studio Code version: 1.13.1
Java extension version: 0.6.0

[2017-06-28 22:14] #242 closed

[2017-06-29 17:50] bkbonner opened #251 "Is there a way to show type hierarchy or navigate to implementations of an interface?"
I'm trying to find a way to navigate to implementations of an method defined in an interface.   When I command click, it only takes me to the declaration of the method.

##### Environment
- Operating System:  OSX
- JDK version:  1.8
- Visual Studio Code version:  1.13.1
- Java extension version:   0.6.0

##### Steps To Reproduce
1. command click on a method in a piece of java code.   The method is

[2017-06-29 18:21] fbricon commented on #251
Closest thing we have right now is the find all references (Click on references link or Shift+F12).

There's an enhancement request for the Java Language Server to provide Interface implementors, see https://github.com/eclipse/eclipse.jdt.ls/issues/99.

But I reckon ctrl+click on a method to jump to implementors would be a nice feature to have

[2017-06-29 18:38] bkbonner commented on #251
Thanks for including the link to that request @fbricon.

[2017-06-29 21:14] zenlambda commented on #229
Any idea when we might see a fix in the plugin. There is a fix upstream right?

Is there a workaround for projects with node_modules?

[2017-06-29 21:30] fbricon commented on #229
There's no fix yet.

@snjeza can you look at implementing a `java.import.exclusions` preference like:
[code]

import mechanism should ignore directories matching the glob patterns.

We could have  "**/node_modules" as default value in vscode-java.

[2017-06-30 19:40] fbricon commented on #246
So this is not vscode-java specific. The extension installation mechanism is out of our hands, you should raise a bug to https://github.com/Microsoft/vscode.

In the mean time, you can install the vscode-java extension by downloading the latest java-*.vsix file from http://download.jboss.org/jbosstools/jdt.ls/staging/ and follow the instructions [here](https://code.visualstudio.com/docs/editor/ext

[2017-06-30 19:40] #246 closed

[2017-06-30 20:52] #248 closed

[2017-07-01 11:23] zenlambda commented on #229
A way to exclude `node_modules` would be great! Thanks for looking into this!

[2017-07-03 11:50] ofir-popowski commented on #112
Is there any update regarding this issue ? I am experiencing exactly the same thing.

[2017-07-04 15:47] #186 closed

[2017-07-04 21:32] CarlosAzocar opened #253 "Duplicate import on "Organize imports" action"
Duplicate import on "Organize imports" action

##### Environment
- Operating System: Windows 10 x64
- JDK version: 1.8.0_131
- Visual Studio Code version: 1.13.1
- Java extension version: 0.7.0

![step1](https://user-images.githubusercontent.com/18235355/27843139-a796fb70-60de-11e7-8207-26cb36334058.png)
![step2](https://user-images.githubusercontent.com/18235355/27843140-a79d7d74-60de-11e7-9d84-b

[2017-07-04 21:48] fbricon commented on #253
Can you provide a sample project to reproduce the problem?

cc @aeschli

[2017-07-04 22:12] CarlosAzocar commented on #253
Project: https://github.com/CarlosAzocar/VinexJPA
Line: 7
File: RepositoryBase.java

[2017-07-05 00:47] fbricon commented on #253
Thanks, I can reproduce the issue in vscode-java, but not in Eclipse.

@aeschli do you mind taking this one?

[2017-07-05 01:19] aeschli commented on #253
@fbricon Yes, please assign to me... (I don't have the rights to assign)

[2017-07-05 14:54] fbricon commented on #112
@ofir-popowski can you attach the [vscode-java and server logs](https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#enable-logging)?

[2017-07-06 09:45] ofir-popowski commented on #112
@fbricon
[log.txt](https://github.com/redhat-developer/vscode-java/files/1127411/log.txt)

[code]

[2017-07-07 00:53] logandonovan11 opened #254 "The java.home variable defined in VS Code settings points to a missing folder"
Getting the above error which prevents the client Language Support for Java from starting.

##### Environment
- Operating System: Windows 10
- JDK version: jdk1.8.0_131
- Visual Studio Code version: 1.13.1
- Java extension version: 0.7.0

##### Steps To Reproduce
Downloaded extension and supplied the java.home value in the VSCode workspace settings:
"java.home": "C:/ProgramFiles/Java/jdk1.8.0_131"

[2017-07-07 08:15] magnusart commented on #2
This is very annoying. We have a specialized eclipse formatting settings but when using visual code  I muck that up and there is no documented way to change it. Is there any workaround?

[2017-07-07 13:58] fbricon commented on #254
are you sure it shouldn't be "C:/Program Files/Java/jdk1.8.0_131"?

[2017-07-07 20:12] fbricon commented on #112
looks to me like the server receives a kill signal, but it's not coming from vscode. Something is stopping the Java process but I have no idea what. Do you have some kind of antivirus running?

@gorkem @snjeza ideas?

[2017-07-07 20:15] ofir-popowski commented on #112
I have no antivirus at all (except windows defender thing), and system path properly configured to JDK. I also have several other IDEs that use java and I don't have any other issues.

Let me know if there's anything I can do to help figure this out.

[2017-07-07 20:30] fbricon commented on #112
@ofir-popowski no, other IDEs should not interfere.

Do you think you could try to debug vscode-java yourself? (since we can't reproduce, it's hard to guess what's happening). If you're up to the task, you could follow the [instructions to launch vscode-java from vscode](https://github.com/redhat-developer/vscode-java/blob/master/CONTRIBUTING.md#sideloading), and put a breakpoint in https://github

[2017-07-08 10:04] ofir-popowski commented on #112
@fbricon Ok I cloned the repo, opened it with vscode, launched in debug and it stopped. It launched and I opened a java project.

When it stopped, err was null, I stepped over several times. It got to `<node_internals>\net.js#L1455` and it got to the breakpoint again, but the new vscode project window had this log:

[log2.txt](https://github.com/redhat-developer/vscode-java/files/1132885/log2.txt)

[2017-07-08 14:38] logandonovan11 commented on #254
That was the issue. Silly of me to miss that, thanks for your help.

[2017-07-08 14:38] #254 closed

[2017-07-10 08:18] yaohaizh commented on #71
@fbricon @gorkem Could you guys help assign this one to me?  I would like to work on this one.

[2017-07-10 20:54] fbricon opened #256 "No highlight support in module-info.java"
When module-info.java is opened, syntax highlighting is broken:
<img width="236" alt="screen shot 2017-07-10 at 4 52 21 pm" src="https://user-images.githubusercontent.com/148698/28039402-2fe7cfee-6590-11e7-943d-1b6bf2e882ee.png">

Syntax highlighting is actually provided by the java textmate bundle (packaged in VSCode). There's an feature request to add module-info.java support already: https://gi

[2017-07-10 21:31] #229 closed

[2017-07-12 09:38] Personinblack commented on #132
I can confirm this. Yesterday, I copied my sample project for an application plugin and changed some package/class names and modified gradle files. After I deleted the ".classpath", ".project" files and "bin", ".settings" and ".gradle" folders they were not auto generated and I wasn't able to use intellisense or other thing on my java files in that project (I was getting "Can't read root project l

[2017-07-12 20:07] fbricon commented on #215
With new plain text renderer:
<img width="737" alt="screen shot 2017-07-12 at 4 06 36 pm" src="https://user-images.githubusercontent.com/148698/28137707-2b840bb0-671c-11e7-9c0d-4d88cc4985d5.png">

[2017-07-14 13:54] jcgarciam commented on #132
It looks like is not only related to gradle, i can confirmed this problem is also happening for regular maven projects:

Visual Studio Code: Version 1.14.1

- Just create a simple maven project
- Make sure vscode-java kicks in and is recognizing the java project.
- Close the folder and editor
- Delete  the .project, .classpath, ./settings
- Reopen code

The following output is shown:

[2017-07-17 07:47] Labouh opened #259 "java.lang.IllegalArgumentException: URI has an authority component"
When using the extension on any simple maven java project I got exception on exception in output console and a "Classpath is incomplete. Only syntax errors will be reported" in code UI
So it seems to be an issue on the settings on PC (I try to set proxy but without success)
Any idea how to solve this issue!,
Thanks by advance for any help
Regards
##### Environment
- Operating System: Windows 10
-

[2017-07-17 08:11] Labouh commented on #259
It seems that it does not like UNC names (miss a /?)
I copy my project on the C: drive it the error disappear

So sound like an issue when using network drive and UNC names (?)

Regards

[2017-07-18 14:23] bmingles commented on #9
Curious if any work has been done on the debugging feature?

[2017-07-18 18:01] davidbruce commented on #188
When can we expect the enhancement from #255 to be released?

[2017-07-18 20:08] fbricon commented on #188
Next release will be end of July. In the meantime you can try the latest java-*.vsix from http://download.jboss.org/jbosstools/jdt.ls/staging/

[2017-07-21 13:13] davidbruce commented on #188
It looks like the latest build on staging doesn't have that PR.  Thank you though, I'll be patient for the release.  :)

[2017-07-21 14:05] fbricon commented on #188
@davidbruce right, looks like our vscode build is broken and the staging area hasn't been updated in a while.

cc @snjeza, @gorkem

[2017-07-21 19:28] snjeza commented on #188
I can't reproduce the issue locally. Where is our vscode build?

[2017-07-24 14:43] fbricon commented on #100
so with @yaohaizh's PR, the setters and getters will be available as code completion proposal, not as a global command initially (we can work on that latter)

![jul-24-2017 10-31-52](https://user-images.githubusercontent.com/148698/28528850-ef7b39c8-705c-11e7-85c0-4b9bdb51b269.gif)

[2017-07-24 15:03] #215 closed

[2017-07-24 22:11] gorkem commented on #100
@yaohaizh this is looking great. Can we enable this as a code lens too?

[2017-07-24 23:25] fbricon commented on #188
@davidbruce http://download.jboss.org/jbosstools/jdt.ls/staging/ now contains the latest vsix builds

[2017-07-25 12:53] ajitid opened #261 "Provide Rename Symbol option"
##### Environment
- Operating System: Win 10
- JDK version: 1.8
- Visual Studio Code version: 1.14.2
- Java extension version: 0.7.0

![screenshot 233](https://user-images.githubusercontent.com/26769888/28572613-5f5d62e4-7165-11e7-950a-52d6e483d0c3.png)

This Java extension is able to identify variables and methods. I think support for Rename Symbol option (invoked by F2 in VS Code)  should be add

[2017-07-25 13:21] fbricon commented on #261
Duplicate of #71

[2017-07-25 13:21] #261 closed

[2017-07-25 18:17] ajitid opened #262 "Question: How to suppress extension's output/log?"
That Output panel keeps popping up every few minutes.

[2017-07-25 18:23] fbricon commented on #262
what's the output?

by default you should have `"java.trace.server": "off"` in the preferences (that's the default value)

[2017-07-25 18:34] ajitid commented on #262
[code]

[2017-07-25 18:35] ajitid commented on #262
Can't I disable its access to internet for docs?

[2017-07-25 18:39] fbricon commented on #262
No, this is the default jdt behavior. If you connect to internet through a proxy, you should be able to add proxy settings to the server's [vm args](https://github.com/redhat-developer/vscode-java/wiki/Using-a-Proxy).

More importantly your output shows m2e failed to start. Most likely the server's workspace state is borked. I suggest you [delete it](https://github.com/redhat-developer/vscode-java

[2017-07-26 06:59] #262 closed

[2017-07-26 14:00] #100 closed

[2017-07-26 14:04] fbricon opened #263 "Generate getters and setters from code action"
See https://github.com/redhat-developer/vscode-java/issues/100#issuecomment-317569809

For attributes without a getter or setter, a code action should be available to generate them (Generate Accessors)

[2017-07-26 23:14] #132 closed

[2017-07-26 23:53] bilymed opened #264 "Restart doesn't make change if I edit template pages in my Spring-boot application"
[provide a description of the issue]

##### Environment
- Operating System:
- JDK version:
- Visual Studio Code version:
- Java extension version:

##### Steps To Reproduce
1. [step 1]
2. [step 2]

[attach a sample project reproducing the error]
[attach logs](https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#enable-logging)

##### Current Result

##### Expected Result

##### Add

[2017-07-27 20:47] #259 closed

[2017-07-27 20:53] fbricon commented on #264
Can you provide more details on how to reproduce this issue? Environment info, steps to reproduce (ideally with a sample project to test), expected results?

[2017-07-27 20:58] fbricon commented on #251
@bkbonner you can test implementor code lenses with the latest CI build: download the most recent `java-<version>.vsix` file and install it by following the instructions [here](https://code.visualstudio.com/docs/editor/extension-gallery#_install-from-a-vsix).

You need to set `java.implementationsCodeLens.enabled` to `true` in vscode settings.

[2017-07-27 20:58] #251 closed

[2017-07-28 18:19] bilymed commented on #264
Thank you for your reply,
the project works just fine if I edit/save my java classes (Automatic Restart) but if I edit jsp/html pages nothing works so I have to restart the server again and again..
please find bellow the project link
https://github.com/bilymed/spring-boot-vs

[2017-07-28 18:31] fbricon commented on #264
See https://docs.spring.io/spring-boot/docs/current/maven-plugin/usage.html

[code]

[2017-07-28 18:31] #264 closed

[2017-07-31 03:25] yaohaizh commented on #263
Currently, the design of code action/assist only for one compilation unit while the action for getter/setter involves multiple compilation units. In order to support this, we need introduce the refactoring functionalities. What's the plan regarding the refactoring?

[2017-07-31 14:28] fbricon commented on #263
I thought adding getters/setters would only affect the current compilation unit. Since that would add new code (therefore unused code at that point), that shouldn't affect other CUs.
What do you mean by introducing refactoring functionalities? Rename is one part, of course, what else do you need at that point?

[2017-07-31 15:36] yaohaizh commented on #263
I originally thought generate getter/setter that reference from A to B CU case. If only for the same CU, it's doable.

[2017-07-31 21:35] fbricon opened #266 "Implementor codelens shows <<MISSING COMMAND>> when typing"
Have a class like

[code]

when a character is typed below the interface declaration, the implementor codelens shows `<<MISSING COMMAND>>`

![jul-31-2017 17-34-18](https://user-images.githubusercontent.com/148698/28799416-88ff782a-7616-11e7-9682-ec11a4cd289d.gif)

[2017-07-31 21:58] fbricon commented on #266
For some reason, in CodeLensHandle.resolve, `IJavaElement element = JDTUtils.findElementAtSelection(unit,  ((Double)position.get("line")).intValue(), ((Double)position.get("character")).intValue())` returns null. Which can be traced back to JDTUtils:
[code]

[2017-08-01 04:08] lixiaoqiang opened #267 "root pom.xml parent node support"
[ my root pom.xml has a parent node like this:

    <parent>
        <groupId>com.****.parent</groupId>
        <artifactId>****-parent-base</artifactId>
        <version>2.0.0</version>
    </parent>

it has an error on parent node

"[Java] Project build error: Non-resolvable parent POM for com.tujia.suppliers:suppliers:1.0.0: Failure to find com.****.parent:****-parent-base:pom:2.0.0 in https://

[2017-08-01 04:39] fbricon commented on #267
does it build from CLI?
Is the parent pom available in Maven Central or a remote repository?

[2017-08-01 07:22] lixiaoqiang commented on #267
I didn't try build it, just open it.
The project is ok in intellj-IDEA. It's our work project.

[2017-08-01 16:33] fbricon commented on #267
I'm not sure how Intellij works but, even if the parent pom exists in your local repository, CLI Maven (and vscode-java) will try to check it's accessible from a remote repository and fail to build if it can't be found remotely.
So, if the build works from CLI, then it's a problem in vscode-java. If Maven can't even build from CLI, then we can't expect vscode-java to perform better (even if Intell

[2017-08-01 16:34] fbricon commented on #267
Also, are you running behind a corporate proxy?

[2017-08-01 17:54] mburbidg opened #268 "Problems not cleared after source change"
The Problems panel does not update when source changes to fix a syntax error. Upon restarting VSCode the Problems panel is cleared of any previously existing errors.

##### Environment
- Operating System: MacOS
- JDK version: 1.8
- Visual Studio Code version:1.14.2
- Java extension version:0.8.0

##### Steps To Reproduce
1. Introduce a syntax error. Error shown in Problems panel.
2. Fix syntax err

[2017-08-01 18:10] mburbidg commented on #268
It appears to be an edge case having to do with renaming a directory, which must correspond to a package name.

[2017-08-01 18:10] #268 closed

[2017-08-01 23:51] martinserafim93 opened #269 "Code completion Java doesn't work."
Code completion doesn't work after update this extension.

##### Environment
- Operating System: Manjaro Linux 17.0.1
- JDK version: 1.8.0_144
- Visual Studio Code version: 1.14.2
- Java extension version: v0.8.0

[attach logs(java and vscode log)](https://pastebin.com/wxM8UYp0)

[2017-08-02 15:10] MatthewMcConnell opened #270 "How to automatically implement an interface into a class without typing out all methods?"
I couldn't find a way to do this without copying each method, I know it can be done automatically but I'm not sure if this extension can do this.

Any help is much appreciated :)

[2017-08-02 15:16] fbricon commented on #270
We're not there yet. We need a Code Action to implement missing methods.

The least bad alternative right now is to use content assist to override each method. The method body will be generated.

[2017-08-02 18:23] fbricon commented on #266
Fixed with https://github.com/eclipse/eclipse.jdt.ls/commit/063e8e1539b2fc2314ae2b9a809387ab2ce00b2e

[2017-08-02 18:23] #266 closed

[2017-08-02 18:49] fbricon commented on #270
@yaohaizh is this something you or someone from your team could address? It's a important usability feature.
cc @akaroml

[2017-08-02 23:33] martinserafim93 commented on #269
I try this ::

close VS code
delete %APPDATA%\Code\User\workspaceStorage\.
restart

[2017-08-02 23:33] #269 closed

[2017-08-03 01:28] yaohaizh commented on #270
@fbricon No problem, I talked about this issue with @aeschli before and would like to add this code action.

[2017-08-03 14:32] fbricon commented on #9
Current work on the debugger can be found under :
- https://github.com/vscjavaci/vscode-java : for the vscode extension
- https://github.com/vscjavaci/eclipse.jdt.ls : for the jdt.ls+debugger server

As I go over the code and test stuff out, I'll post/update remarks here:

With the current state of the WIP, I was able to:
- start a Main class in debug
- add breakpoints, that are respected by the d

[2017-08-03 23:51] cwainner commented on #45
I recently started having this problem as well on Ubuntu. This is the Java error that I get from the error log:

[code]

I double check my jdk installation and that seems to be correct. I've also tried the JAVA_HOME fix, but looking at the above error I think it might be something different. I should also note that I did recently update my jdk to 1.8.0_131, so maybe that might have borked somethin

[2017-08-04 02:23] fbricon commented on #45
That kind of NoClassDefFoundError is typical of OSGi bundle failing to load. Possibly, your workspace got borked. I suggest [cleaning it up](https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#clean-the-workspace-directory) and trying again

[2017-08-04 15:50] cwainner commented on #45
@fbricon That did the trick. Thank you!

[2017-08-04 19:57] fbricon commented on #270
@yaohaizh PR works really well

![aug-04-2017 13-30-14](https://user-images.githubusercontent.com/148698/28984747-776b43a4-792d-11e7-81ad-49ba23b357bd.gif)

we should be able to merge it once you fix the couple issues I mentioned in my review.

[2017-08-05 08:50] MatthewMcConnell commented on #262
@fbricon Can you help me find the find %APPDATA%\Code[ - Variant]\User\workspaceStorage\ area, I'm not sure where to find it to clear/delete it, I searched in my file explorer and settings in vs code but I couldn't find it.

[2017-08-05 09:18] ajitid commented on #262
@MatthewMcConnell ` %APPDATA%\Code\User\workspaceStorage\ ` try to copy and paste this directly in Explorer's location bar

[2017-08-06 08:57] MatthewMcConnell commented on #262
@ajitid I tried it in the explorer bar and it didn't work, I also tried to cut it down to the Code folder and it wasn't found either :/

[2017-08-07 06:40] obrejla opened #271 "Wrongly parsed "throws" part of the method signature"
Hi,

the keyword `throws` in method signature has a wrong token when there is a `try¨resource` statement in the previous method declaration.

##### Environment
- Operating System: MacOS
- JDK version: 1.8
- Visual Studio Code version: 1.14.2
- Java extension version: 0.8.0

##### Steps To Reproduce
1. create `.java` file
2. puth this content in it:
[code]
3. put the caret on `throws` keyword
4. sh

[2017-08-07 10:49] gylidian opened #272 "Failed to start jdb, java.io.IOException"
What happened!!!!!!!

[2017-08-07 12:35] MatthewMcConnell opened #273 "Code Lens References Keep Turning On and Off?"
##### Environment
- Operating System: Windows 10
- JDK version: 1.8
- Visual Studio Code version: 1.14.2

Been having problems with the code lens as when I am typing more code I am seeing the references pop away and back again, making the code move as a whole up and down which is quite annoying to see when typing.

Recently I got this error in the output:

[Error - 13:21:58] 07-Aug-2017 13:19:39 P

[2017-08-07 20:27] fbricon commented on #273
Yeah code lenses are recomputed every time the document changes, it's not ideal.

You can disable codeLenses in the preferences either via
 `"editor.codeLens": false` //disables all code lenses at the editor level
or
`"java.referencesCodeLens.enabled": false` //only disables java reference code lenses
`"java.implementationsCodeLens.enabled": false` //only disable java implementation code lenses

A

[2017-08-07 20:30] fbricon commented on #272
You must be new at this, so let me point you to an invaluable resource :  http://goo.gl/tnBgH5

[2017-08-07 20:30] #272 closed

[2017-08-07 20:38] fbricon commented on #271
The Java TextMate bundle is not handled by the vscode-java extension. It is handled by the [VS Code](https://github.com/Microsoft/vscode) team, but ultimately, this bug most likely is caused by the original https://github.com/textmate/java.tmbundle project.

[2017-08-08 09:27] lukejpreston commented on #243
is there any progress on this?

I think my issue is the same.

When I add this to my settings

`"java.jdt.ls.vmargs": "-javaagent:/usr/local/lib/lombok.jar -Xbootclasspath/a:/usr/local/lib/lombok.jar"`

I consistently get the error

[code]

[2017-08-08 17:59] garrettmaring commented on #161
I am having this problem and it is not related to the Java linter. External dependencies can be selected and I'll be taken to the source file, but when I launch the packages 'do not exist'. I'm also using the java debugger extension and have tried both with and without the gradle extension.

launch.json
[code]
tasks.json
[code]

[2017-08-08 18:24] #201 closed

[2017-08-08 19:47] clankill3r opened #274 "[Java] The declared package "com.github.****" does not match the expected package """
I try to make a library for the first time in VSCode (I have done this before in IntelliJ and Eclipse).
My workspace looks like this:
<img width="238" alt="screen shot 2017-08-08 at 21 40 19" src="https://user-images.githubusercontent.com/738650/29091262-a19970ee-7c82-11e7-8729-5f43ca1d8256.png">

In LemmingsWalker.java I have: `package com.github.lemmingswalker;`.
Which gives me the following err

[2017-08-08 19:48] fbricon commented on #274
Do you have a sample project reproducing the error?

[2017-08-08 20:21] clankill3r commented on #274
I figured out what it is (still seems like a bug).
I wanted to make a sample project so made a copy of the directory. While opening this in VSCode the error was gone.

If I rename the original directory the error is gone as well. If I rename it back to what it was the error comes back again. So I assume there is a bug in the cache validation?

[2017-08-08 20:24] fbricon commented on #274
Yeah kinda, probably.
If you could provide a sample project, that'd help us figure out exactly what the issue is.

[2017-08-08 21:00] fbricon commented on #270
New code action is available in the latest CI build. You can get the most recent `java-<version>.vsix` file from http://download.jboss.org/jbosstools/jdt.ls/staging/  and install it by following the instructions [here](https://code.visualstudio.com/docs/editor/extension-gallery#_install-from-a-vsix).

[2017-08-08 21:00] #270 closed

[2017-08-08 21:06] clankill3r commented on #274
Well here it is:
www.doekewartena.nl/temp/Remake2.zip

But it won't help. I only have the bug when the path is `/Volumes/DATA/lemmings_walker/Remake2`. If I rename `Remake2` or if I move the folder the problem is solved.

[2017-08-08 21:11] fbricon commented on #270
Be aware though, for the moment, the implemented methods use tab indentation by default. If you use spaces for indentation instead and enabled automatic format on save (`"editor.formatOnSave": true`), then tabs will be replaced by spaces when the file is saved.

Alternatively, you can add the following to your project's `.settings/org.eclipse.jdt.core.prefs`:
[code]

[2017-08-08 21:18] fbricon commented on #274
Ok so it seems whenever you create a new java file, it's linked to the default package initially. Once you add the package declaration to that java file, the linked resource behind the scene should be updated to the proper package.

[2017-08-08 21:23] fbricon commented on #274
@snjeza: can you see if we could link the parent folder to the default project instead of creating a linked resource to the file. That'd make all files in the folder/package automatically available to the classpath, instead of having to open each one of them manually (i.e the current fake compilation unit hack)

[2017-08-08 21:57] snjeza commented on #274
@fbricon I will try

[2017-08-09 05:39] rianadon opened #275 "Opening Gradle project with extension removes settings in buildship prefs"
I am currently using Gradle (with a wrapper, version 4.0) to build a project, and with VS Code the extension works great. All the functionality built into it is amazing. However, when I try to open the project with Eclipse, Eclipse cannot load the project because the extension modifies the `.settings/org.eclipse.buildship.core.prefs` file, removing the `connection.gradle.distribution=GRADLE_DISTRI

[2017-08-10 17:36] nihiluis opened #276 "JavaFX not imported"
I'm using gradle. Gradle build works fine. JavaFX classes are not recognized though. My java.home is correctly set and the same as in IntelliJ IDEA. Do I have to add some external JFX library somehow?

##### Environment
- Operating System: arch linux
- JDK version: Oracle
- Visual Studio Code version: newest
- Java extension version: newest

[code]

[2017-08-10 17:47] fbricon commented on #276
Have you tried with Eclipse/Buildship?

[2017-08-10 17:55] fbricon commented on #276
Do you have a sample project to reproduce this issue?

[2017-08-11 07:51] MatthewMcConnell commented on #262
I found the file now. For some reason when I was searching for it, it didn't show, almost like it was hidden. so what I did was right clicked my settings.json file in vscode and clicked on take me to location and from there I could work out the path. Leaving this here in case anybody else has the same problems finding the workspace storage location.

[2017-08-11 19:32] gorkem commented on #103
This is not upstream anymore

[2017-08-11 19:58] fbricon commented on #9
@akaroml I still can't see variables with the latest code from vscjavaci master branches

[2017-08-12 16:28] nihiluis commented on #276
I didn't try Eclipse/Buildship. This is my project: https://github.com/nihiluis/jfx-test-boilerplate

[2017-08-14 08:02] ansyral opened #277 "provide command to build the workspace manually"
right now workspace is built automatically, and for single file case, the default project won't be built until the file is edited and saved in vscode, could we provide a command to trigger the build manually?

[2017-08-14 14:04] akaroml commented on #9
@fbricon Sorry for feeding inaccurate info during the sync meeting. The pull request for working with variables was actually rejected by me for design issues and we are reworking it.
It's good that you provide this check list for MVP. We'll run through it and share more info later.

[2017-08-15 15:58] feRpump commented on #45
I'm facing the same issue, Starting client failed, and i tried to fix like @simonl65 did, but with no luck on that. Any help here?

SO: Windows 10 64bits,
my jdk is here -> C:\Program Files\Java\jdk1.8.0_131,
when run "javac" on cmd it works fine.

[2017-08-15 16:56] gorkem commented on #45
@feRpump Can you retrieve the server logs? Also can you check your .settings for any java related values?

[2017-08-15 17:16] feRpump commented on #45
Here we go. The error in log says:
`[Extension Host] rejected promise not handled within 1 second
t.logExtensionHostMessage @ /C:/Program Files (x86)/Microsoft VS Code/resources/app/out/vs/workbench/workbench.main.js:29
/C:/Program Files (x86)/Microsoft VS Code/resources/app/out/vs/workbench/workbench.main.js:29 The java.home variable defined in VS Code settings points to a missing folder
e.onUnex

[2017-08-15 17:23] gorkem commented on #45
It looks like it does not like the java.home settings `The java.home variable defined in VS Code settings points to a missing folder`. Can you check what happens if you remove the `java.home` from settings

[2017-08-15 17:30] feRpump commented on #45
Well, looks like the error is gone now... I tried this before but with no luck. So, can I compile standalone java files ? Like using javac ? If is, how can I do so?

[2017-08-16 03:12] missedone commented on #158
i'm encountering this on Mac 10.12.6.
vscode: 1.15.0
vscode-java: 0.8.0

----
[code]

[2017-08-16 09:46] ansyral commented on #9
hi, @fbricon  about this one:

do you mean that we should expose compile classpath? i tested a simple Maven project, and it could debug well, could you give me more hints how it doesn't work? Thanks~

[2017-08-16 13:20] aboe026 opened #278 "Output steals focus from Terminal"
When there is an error with the extension, the bottom panel (that has Problems, Output, Debug Console, and Terminal tabs) automatically switches focus to the Output tab. This is extremely annoying because I only really use the Terminal tab on the bottom, so I end up having to wait for all the errors to print out before I can go back to the Terminal tab without switching focus back to the Output ta

[2017-08-17 14:32] bawachhe commented on #278
This happens for me as well, whenever I start up VSCode, and also in two more situations, which makes it even more annoying than @aboe026 described.
1. Whenever I remove a line or more from any file I'm looking at, which is very interruptive, as it actually sometimes covers the lines I was typing on.
2. When I'm using Terminal to adjust git history or update from upstream, in the process of rebasi

[2017-08-18 09:53] chilloutman commented on #45
The Extension Host logs this for me:

[code]

One thing that caught my eye is that the `Application Support` path is not quoted. Maybe it's only like that in the log output though.

If I run that command manually, I get the same exit code `13` and no log output.

[2017-08-18 10:50] zzyykk123456 commented on #45
In windows 10,I edit the file setting.json  in C:\Users\adminstrator\AppData\Roaming\Code\User,and it did work.The content from
{
    "workbench.colorTheme": "Monokai Dimmed",
    "window.zoomLevel": 0,
    "window.menuBarVisibility": "default",
    "workbench.activityBar.visible": true,
    "workbench.sideBar.location": "left"
}
to
{
    "workbench.colorTheme": "Monokai Dimmed",
    "window.zoomL

[2017-08-18 13:36] chilloutman commented on #45
If you're not getting error code 13-visible in the VS Code Console-your problem is a different one.

[2017-08-20 15:55] gorkem commented on #277
I am reluctant to expose the jdt's internal build to end user, because jdt builds do not really produce artifacts that users can use. What exactly is the use case that you want to support here since this build has little value for end-user?

[2017-08-20 15:59] gorkem commented on #275
@snjeza Can you please check this one?

[2017-08-20 16:00] gorkem commented on #274
@snjeza can we close this one?

[2017-08-20 16:02] #235 closed

[2017-08-20 17:56] ctwise opened #279 "Accessing files in build directory"
[provide a description of the issue]

##### Environment
- Operating System: macOS Sierra
- JDK version: JDK 8
- Visual Studio Code version: 1.15
- Java extension version: 0.8.0

##### Steps To Reproduce
I track a build number using a text file in the build project directory, e.g., 'build.num'

First, the file can't be found using this code:

    def buildNumber = new File("build.num").text.toInteg

[2017-08-20 22:55] snjeza commented on #274
@gorkem I don't have a permission to do it.

[2017-08-20 23:00] snjeza commented on #275
@rianadon Could you please attach a sample project?
What version of Eclipse/buildship are you using?

[2017-08-21 00:51] gorkem commented on #274
@snjeza oops. Fixed you should be able to do it now.

[2017-08-21 09:15] aeschli opened #280 "Error on startup: 'overlaps the location of another project'..."
0.8.0, Linux 14.04

- Opening up VSCode on a folder containing the devoxx sample (https://github.com/fbricon/devoxx.git) gives me the following error:

- the underlying problem is that the hidden Eclipe workspace can only have a single project od a given name
- looks like I already opened a devoxx project some time (that's possible, but should not be of my concern)
- it would be good if the other

[2017-08-21 15:48] aeschli commented on #278
This is a duplicate of https://github.com/Microsoft/vscode/issues/32872

[2017-08-21 15:48] #278 closed

[2017-08-21 16:20] aeschli opened #281 "Support multi root workspaces"
In VSCode we are working on supporting multi root workspaces. The Java extension should also support this.
- Users can now work with files from more than root folder at the same time. We call these folders  'workspace folders'.
- Workspace folders can be added and removed
- Each workspace folder can have its own settings, overriding the global settings.
-New extensions API to get workspace folders

[2017-08-21 16:35] fbricon commented on #273
Until the next version of vscode is released, you can try the [latest insiders build](https://code.visualstudio.com/insiders).

[2017-08-21 16:40] fbricon commented on #263
@yaohaizh when the private field is used in the class, the code action to generate accessors is not available

[2017-08-21 19:29] fbricon commented on #274
When you open a standalone java file in a random directory (i.e, that doesn't belong to a project), if the class has a `foo.bar` package, that package name will be used by default. Now if you rename the package name and save, then the same error shows up (`The declared package "foo.bar.toto" does not match the expected package "foo.bar"`)

[2017-08-22 07:30] rianadon commented on #275
Thanks for getting to this!

I'm using Eclipse Neon version 4.6.0, and its buildship is version 1.0.15.v20160425-1638 if that sounds correct.

[Here](https://github.com/rianadon/eclipse-sample-project)'s a sample project. It was created from the Eclipse new Gradle project wizard (more in the readme).

[2017-08-22 16:25] fbricon commented on #9
@ansyral if you add junit to your project with the `test` scope, then when executing a main class, it should not be available at runtime. Try running this:

[code]
If you run that in Eclipse, it'll work as expected, because m2e [adjusts the available classpath of the launch configuration](https://github.com/eclipse/m2e-core/blob/11922879173b8516103e935c574be289bc1cbe9c/org.eclipse.m2e.jdt/src/org/

[2017-08-23 07:29] ansyral commented on #277
@gorkem This is mainly for single file debug. if user opens a single file in vscode, if he/she never edits/saves the file, the default project which has a link to the single file won't be built and the classpath might be missing the .class file. Besides, it would be nice to build the workspace before launching a debugger in case of compile errors

[2017-08-23 08:29] yaohaizh opened #282 "Support 3rd-party bundles"
Current LS hasn't provide a way to support 3rd party extension/bundles.

We have some features can be built as extension bundles to vscode-java
Debugger: https://github.com/redhat-developer/vscode-java/issues/9
Selfhost PDE: https://github.com/eclipse/eclipse.jdt.ls/pull/305

[2017-08-23 18:27] gbbarroso opened #284 "Can't resolve imports on an Eclipse project"
Just tried the extension on an existing eclipse project, no imports could be resolved, not even the java.lang ones:

![image](https://user-images.githubusercontent.com/11339504/29631784-22053386-8817-11e7-8536-ac978e3064d6.png)

On output console:

Unable to acquire the state change lock for the module: osgi.identity; type="osgi.bundle"; version:Version="1.8.1.20170728-1531"; osgi.identity="org.ec

[2017-08-23 21:52] abarisain opened #285 "Preventing .classpath overwrite"
Hello,

While I'm fully aware that Android projects are unsupported, manually crafting .classpath files provide quite satisfying results - with the caveat that they don't support env vars, so you have to hardcode the path to your Android SDK.
For example, with a classpath that looks like:
[code]
I'm able, after indexing, to get completion for my project's classes, but also Android's.
Libraries nee

[2017-08-24 14:29] fbricon commented on #279
Please provide a standalone project reproducing this issue.
Can you try the same steps in Eclipse with Buildship installed?

[2017-08-24 14:41] ctwise commented on #279
I don't use Eclipse and have no idea what 'Buildship' is.

The issue is that the Gradle build file is apparently being run from some
other directory then the one in which the file is located. So relative file
paths aren't being resolved. Just add this line to a working build.gradle:

def buildNumber = new File("build.num").text.toInteger() + 1

And make sure you have a file named 'build.num' in th

[2017-08-24 14:49] fbricon commented on #285
It seems Buildship always overwrites .classpath files on Gradle project import. @donat is there any way (API) to prevent that?

[2017-08-24 15:02] fbricon commented on #177
That seems like a duplicate of #285. @minkyn are you using gradle?

[2017-08-24 15:56] fbricon commented on #280
I'm not sure how you could have overlapping projects, given that we basically create a new workspace per folder opened. Unless there's a bug in the workspace creation which would generate the same workspace name/hash from different locations

[2017-08-24 15:59] fbricon commented on #285
@abarisain have you tried getting gradle to generate a customized eclipse .classpath? See https://docs.gradle.org/4.1/dsl/org.gradle.plugins.ide.eclipse.model.EclipseClasspath.html

[2017-08-24 16:02] fbricon opened #286 "Provide a way to force the import type"
The goal is to allow users to select/override the import mechanism. Eg. people with customized .classpath in their gradle project could force the eclipse import over gradle (see #285). Or if the directory contains both build.gradle and pom.xml, users could force a maven import over gradle.

[2017-08-24 17:48] affanshahid opened #287 "Indentation configuration"
Is there any way to customize the indentation/format rules? The following screenshots should describe what I want to happen

##### Pre Format
<img width="1023" alt="screen shot 2017-08-24 at 10 43 08 pm" src="https://user-images.githubusercontent.com/17955210/29680387-cfe8c34e-891d-11e7-9050-b6448d36fab0.png">

##### Post Format
<img width="1023" alt="screen shot 2017-08-24 at 10 43 47 pm" src="ht

[2017-08-24 18:52] fbricon commented on #287
vscode-java doesn't expose formatting options of the underlying Eclipse JDT formatter [yet](#2).

You currently have 2 options:
- disable java formatting, by setting `java.format.enabled` to false in VS Code's preferences
- define the formatting preferences in your project's [`settings/org.eclipse.jdt.core.prefs`](https://gist.github.com/fbricon/30c5971f7e492c8a74ca2b2d7a7bb966).

The 2nd solution

[2017-08-24 19:38] fbricon commented on #276
So, Java FX is [not guaranteed to be present in all JDK distributions](https://github.com/redhat-developer/vscode-java/issues/120#issuecomment-271395007), that means your project might not build/work against other JDKs.

For now, your best bet is to tell vscode-java/eclipse.jdt.ls to ignore the error, if you're confident it won't be an issue. In order to do that, you can add a `.settings/org.eclip

[2017-08-24 19:38] fbricon commented on #276
Closing as duplicate of #120.

[2017-08-24 19:38] #276 closed

[2017-08-25 05:44] ycycn commented on #158
[Error - 下午1:43:53] 2017-8-25 13:43:47 Missing resource filter type: 'org.eclipse.ui.ide.multiFilter'.
null
java.lang.Error
	at org.eclipse.core.internal.resources.Filter.match(Filter.java:64)
	at org.eclipse.core.internal.resources.Filter.filterExcludes(Filter.java:159)
	at org.eclipse.core.internal.resources.Filter.filter(Filter.java:112)
	at org.eclipse.core.internal.resources.Resource.filterCh

[2017-08-25 05:46] ycycn commented on #158
[Error - 下午1:46:19] 2017-8-25 13:45:26 Missing resource filter type: 'org.eclipse.ui.ide.multiFilter'.
null
java.lang.Error
	at org.eclipse.core.internal.resources.Filter.match(Filter.java:64)
	at org.eclipse.core.internal.resources.Filter.filterExcludes(Filter.java:159)
	at org.eclipse.core.internal.resources.Filter.filter(Filter.java:112)
	at org.eclipse.core.internal.resources.Resource.filterCh

[2017-08-25 10:37] nihiluis commented on #276
I got the JDK defined as Oracle in both IntelliJ IDEA and VSCode. I think Oracle distributes JFX. I'll check again eventually.

These warnings don't appear for me. IIRC errors appear, because JFX classes cannot be found. I don't know if both issues are related.

[2017-08-25 18:47] fbricon commented on #279
So I managed to reproduce the issue with Eclipse, this is definitely an upstream issue in the [Buildship project](https://github.com/eclipse/buildship/). My wild guess is this is caused by the gradle process running at the workspace level, not the project level. Unless @donat can provide guidance about how to fix it, if it's possible, we won't be able to change that behaviour.

[2017-08-25 18:50] fbricon commented on #284
It looks like the problem is cause by the Maven plugin failing to start, caused by a corrupt workspace. Can you try cleaning the [workspace directory](https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#clean-the-workspace-directory)?

[2017-08-25 19:29] snjeza commented on #275
@rianadon
Buildship 2.1 removes this property. You will face the same issue if you open this project with Oxygen/buildship 2.1 and, after that, with Neon/buildship 1.0
Can you upgrade to buildship 2.1?

[2017-08-25 19:31] snjeza commented on #274
@fbricon
The issue hasn't been caused by this PR. See https://github.com/eclipse/eclipse.jdt.ls/blob/master/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/JDTUtils.java#L195
I am not sure how to fix this issue except to recreate a link for such a file whenever resolving a compilation unit.

[2017-08-25 20:02] snjeza opened #288 "<<MISSING COMMAND>> when calling code actions for unused private field"
##### Steps To Reproduce

- create a Java class
[code]
- call the "Remove 's', keep assigments with side effects" code action
- you will see "MISSING COMMAND" for the "x" method

The issue is similar to https://github.com/redhat-developer/vscode-java/issues/266

[2017-08-25 20:08] affanshahid commented on #287
Thanks for the work around! Any plans on integrating this type of customization?

[2017-08-25 23:12] #288 closed

[2017-08-25 23:14] fbricon commented on #253
@yaohaizh can you follow up on this one please?

[2017-08-26 01:01] yaohaizh commented on #253
@fbricon  Sure. Please assign this to me.

[2017-08-26 17:23] rianadon commented on #275
I installed Eclipse Oxygen with Buildship 2.1 and it worked (and also removed the property). Thanks for the solution!

I'm not sure whether backwards compatibility should be expected out of buildship, but since this isn't an issue with the extension I'll close this.

[2017-08-26 17:23] #275 closed

[2017-08-28 02:43] weiguowilliam opened #289 "Autocompletion after import"
I'm learning <Algorithms 4 edtion> now. I import the algs4.jar provided by this book into my code. Nothing in algs4.jar can be autocompleted. But auto-completion for others are right, such as java.util.* can be auto-completed correctly. The program can be run perfectly. The only problem is auto-completion.

I have searched a lot but haven't found the reason. Someone just let me to use IntelliJ. Bu

[2017-08-28 04:43] fbricon commented on #289
The best way to let vscode-java know that algs4j must be added to the classpath is to use [Maven](https://maven.apache.org/) or [Gradle](https://gradle.org/) as a build tool.
I whipped up a simple Maven project that adds the algs4j dependency.
From a terminal, just:
* `git clone https://github.com/fbricon/algs4j-demo`
* `cd algs4j-demo`
* `code .`
And if you run `./mvnw clean verify` from the term

[2017-08-28 20:45] fbricon commented on #277
Can you provide a PR for the VS Code side as well, so we can test how it behaves?

[2017-08-28 22:44] dr3s commented on #280
I also have seen this opening multiple projects with the same name.  in my case it was a fork of an original project.

[2017-08-29 14:49] fbricon commented on #71
Initial support for renaming as landed. Because the language server protocol doesn't support renaming files, only renaming symbols is available now.

Renaming a class, will change the class name but won't rename the file, you'll have to fix the class/filename discrepancy manually.

Kudos to @yaohaizh for the contribution

[2017-08-29 14:49] #71 closed

[2017-08-29 15:03] fbricon commented on #287
It's in our backlog: #2

[2017-08-29 15:06] fbricon commented on #287
Will keep the discussion open in #2. Closing this one as duplicate (kinda)

[2017-08-29 15:06] #287 closed

[2017-08-29 15:08] fbricon commented on #289
Closing as there's no changes required in vscode-java

[2017-08-29 15:08] #289 closed

[2017-08-29 15:10] fbricon commented on #286
Turns out forcing an Eclipse import over Gradle is useless, since the Gradfle builder still changes the classpath anyway.
So we'll stick with the build-descriptor-is-the-truth mantra for now

[2017-08-29 15:10] #286 closed

[2017-08-29 15:14] fbricon commented on #280
@dr3s were the fork and the original project living under the same directory?

[2017-08-29 16:20] abarisain commented on #285
Hello, thanks for the fast answer!

I've tried to use a Gradle plugin that generates a classpath by reading the Android project, but it fails on some of my projects.

I did not think of using the plugin you've linked. I'll give it a shot, thanks!

[2017-08-29 16:21] fbricon commented on #285
Please comment your findings here, that might help other people

[2017-08-29 18:11] dr3s commented on #280
same parent yes but they of course had different names for the directory
with each git repo

On Tue, Aug 29, 2017, 11:14 AM Fred Bricon <notifications@github.com> wrote:

[2017-08-29 18:13] fbricon commented on #280
so you opened a folder containing 2 versions of the same project?

[2017-08-29 18:17] dr3s commented on #280
no I opened two folders each containing a git repo with a different name
but a maven/eclipse project with the same name.  the two code windows were
opened at different times.  the only thing they shared is a parent
directory not in a code window and the project name.  I prob did open an
ancestor directory like my home directory at some point though.

On Tue, Aug 29, 2017, 2:13 PM Fred Bricon <noti

[2017-08-29 18:20] fbricon commented on #280
does the ancestor folder have a .vscode/ directory?

[2017-08-29 19:59] lukemgriffith commented on #238
Encountered this issue too, enabled verbose logging, VSCode params looks fine.

[code]

[2017-08-29 20:22] dr3s commented on #280
yup, it's about 5 directories up.

[2017-08-29 20:40] fbricon commented on #238
@lukemgriffith are you on case-sensitive Mac too?

[2017-08-29 20:57] lukemgriffith commented on #238
Indeed macOS Sierra, 10.12.6

[2017-08-30 00:24] fbricon commented on #238
So I installed a case sensitive macOS on a Mac, but can't reproduce the issue.

I actually vaguely remember seeing a similar error in the past, on my cas insensitive Mac, ages ago.

@lukemgriffith's logs show vscode sends proper URIs to the server so, something, somehow returns an upper cased `/Users` directory when trying to detect a Compilation Unit matching the incoming URI.

@lukemgriffith @pf

[2017-08-30 12:01] abarisain commented on #285
For now, I can't seem to get this to work. The eclipse plugin throws a null pointer when defining a "file" section, and does not recognize any of the configurations.  I also tried a gradle android plugin, which throws an NPE

Note that I'm running the beta Android tools, which work really differently than the old ones. I'm not surprised that it breaks.

I'll try removing write permissions on .clas

[2017-08-30 20:41] pftbest commented on #238
@fbricon No, this issue happens randomly, I don't know how to reliably reproduce it, sorry.

[2017-08-31 15:12] fbricon opened #290 "Code action for getters/setters not available if the private field is accessed internally"
Following up on #263, when a private field is used in the class, the code action to generate accessors is not available.

[code]

[2017-08-31 15:13] fbricon commented on #263
Closing this issue since the code will be shipped, following up on #290

[2017-08-31 15:13] #263 closed

[2017-08-31 16:05] fbricon commented on #290
I'm guessing this is caused by the fact code actions are only proposed on errors/warnings

[2017-09-04 14:59] weiguowilliam commented on #289
Thank you for your kindness. That's really helpful.

On Tue, Aug 29, 2017 at 11:08 AM, Fred Bricon <notifications@github.com>
wrote:

[2017-09-05 07:38] donat commented on #285
@fbricon Sorry for the late response, I was away for a few weeks.

Buildship always overrides the classpath when a project is refreshed. However, the content of the classpath file can be customized in the `eclipse.classpath.file.whenMerged { ... }` block. Here are a [few examples](https://discuss.gradle.org/t/buildship-1-0-18-is-now-available).

[2017-09-05 07:45] abarisain commented on #285
I tried adding a eclipse.classpath.file section again, and this time the NPE is gone. I'm not sure what happened back then.

Anyway, I'll override everything I need in the classpath in the gradle file.

While I still think that it would be handy to force vscode-java to use the .classpath I provide and ignore Gradle - my Gradle CLI builds don't overwrite anything and make their own classpath (Andro

[2017-09-06 08:39] gantispam opened #291 "Force Reload (JavaDoc+Completion+...)"
Hi,
How can I force (re)download of JavaDoc, autocompletion instructions etc...
I don't have all autocompletion and I don't have any JavaDoc.
I thinks my first download is corrupt.
I try to uninstal Extension, uninstall VSC but without success (existing download seen to be backup).

##### Environment
- Operating System:W10
- JDK version:1.8
- Visual Studio Code version:1.15.1
- Java extension vers

[2017-09-07 20:42] gorkem opened #293 "Disable code lenses by default"
Code lenses are more of a distraction at the moment and we should have them off by default.

[2017-09-07 20:44] gorkem commented on #291
Are you using maven or gradle?

[2017-09-07 21:04] fbricon commented on #293
Someone's angry

[2017-09-08 09:17] NaccOll opened #294 "Types are missing from symbols outline"
It's useful for me to get the view of symbol tree by [Code Outline](https://github.com/patrys/vscode-code-outline)  in vscode. However, it depends on the symbol parse of various languages.  vscode-java  is helpful for me in most way, but It is slightly flawed about symbol.

As follows:

[![https://gyazo.com/d4dd1ce105c26416759a0cba5520bc9e](https://i.gyazo.com/d4dd1ce105c26416759a0cba5520bc9e.png)

[2017-09-08 15:09] fbricon commented on #294
The Java Language Server returns symbols according to the [LSP spec](https://github.com/Microsoft/language-server-protocol/blob/master/protocol.md#textDocument_documentSymbol), which does not define a tree-like structure for results.

I'm not sure we can do anything more about it. Do you have an example of tree-like structured symbols returned by other extensions?

[2017-09-08 15:18] fbricon commented on #294
Ok, I tried with an html page, I can see now how the tree structure is achieved.

The server needs to return classes/interfaces themselves as symbols, so they can be referenced as parent nodes.

[2017-09-08 15:35] gorkem commented on #294
@tsmaeder I think this affects Che too.

[2017-09-08 15:42] fbricon commented on #294
Turns out this is a very easy fix, I'll make the PR

[2017-09-08 15:46] NaccOll commented on #294
@fbricon Code Outline will generate the tree view of symbols. However, it need the infomation of class as the parent of element. If it is difficult to complete, then this is a unreasonable request. But, I can get the class by pressing `ctrl+t`. I think that it is hidden in the symbol of file.

[2017-09-08 19:49] #294 closed

[2017-09-08 20:55] josh-tepper opened #295 "Feature: Go to definition in diff editor"
See: https://github.com/Microsoft/vscode/issues/34034

It is the case in some other vscode language extensions that one can go to definitions directly from the right hand pane of the diff editor (ie, from the pane that represents the current version of the file). This is great utility when looking at diffs, reviewing changes, etc.

This is currently the case for TS/JS and used to be the case for G

[2017-09-09 07:08] gantispam commented on #291
For my first/init download i'm used Maven.
(So, I tried on another PC with Gradle project and it's work fine...).

[2017-09-11 04:14] NaccOll commented on #294
@fbricon Sorry to bring you inconvenience, but I have to mention that there is no change to happen after I reinstall vscode-java.

[2017-09-11 04:55] fbricon commented on #294
@NaccOll the new version of vscode-java with that fix will be released on the 15/09/2017.

There should be a CI build with the fix, under http://download.jboss.org/jbosstools/jdt.ls/staging/ but for some reason, it has not been deployed. We'll investigate why.

[2017-09-11 14:08] fbricon commented on #294
@NaccOll Our build issue is fixed. Download the most recent `java-<version>.vsix` file from http://download.jboss.org/jbosstools/jdt.ls/staging/ and install it by following the instructions [here](https://code.visualstudio.com/docs/editor/extension-gallery#_install-from-a-vsix).

[2017-09-11 16:41] fbricon commented on #295
Seems to work for me:

![sep-11-2017 12-39-35](https://user-images.githubusercontent.com/148698/30286133-7d3ba95c-96ee-11e7-9fcf-ee521a872567.gif)

[2017-09-11 19:14] #293 closed

[2017-09-11 19:39] fbricon commented on #293
To anyone missing reference code lenses, they can be enabled from vscode's preferences:

[code]

[2017-09-12 00:46] NaccOll commented on #294
@fbricon Awesome! Perfect to meet my needs. Thank you for your help.

[2017-09-12 21:21] josh-tepper commented on #295
This seems to affect files in the git index (ie, staged files), but not changes that are just in the working tree. Do you observe the issue with files in the index?

It seems like it's probably a vscode issue because it also affects the go plugin.

[2017-09-13 01:15] fbricon commented on #295
Yup, I can reproduce the issue for staged files.
My guess is vscode sends an exotic URI to the server which doesn't recognize the file as a compilation unit.

[2017-09-13 01:22] fbricon commented on #295
there you go:

[code]

As expected, the server doesn't understand the `git://` scheme. Since this is a vscode specific (AFAIK)  use case, I don't feel comfortable managing that sort of thing on the server side. @aeschli any advice?

[2017-09-13 13:24] llgcode commented on #188
I've configured "java.import.exclusions": [ "**/data" ]. "data" folder contains project that I don't want to be loaded but when java extension load it generates a bin folder on projects that are in data folder.

[2017-09-14 10:04] rvolgers commented on #107
Just leaving a note here for people who are trying to make this work...

The key is to not think of this as Java support for VS Code. It's an adapter to make Eclipse's Java support work with VS Code.

If you try to make it do anything but the things it explicitly support (reading eclipse project files and some other things) you are in for a world of hurt. Instead, just install Eclipse temporarily,

[2017-09-14 20:39] idchlife commented on #166
Same error. Pops up only when I'm like writing invalid code in the .java file.
The problem for me not that error appears (since well if it's not sure that file is like being just written from the scratch) but that output pops up, it's kinda annoying.

[2017-09-14 20:51] fbricon commented on #166
@idchlife can you paste your logs? Need to check if it's the exact same trace. Are you using the latest version?

[2017-09-14 21:28] idchlife commented on #166
@fbricon actually I had some kind of same error, but now I'm having only one and it differs:

[code]

[2017-09-15 13:05] fbricon commented on #282
Done

[2017-09-15 13:05] #282 closed

[2017-09-16 01:15] Yuudaari commented on #231
I'm not sure if I wasn't patient enough back when I posted this issue, but I just tried working on this project in vscode again--after around 5-10 minutes of the project being open I don't get the loop anymore, and all the types load in.

[2017-09-16 06:38] TheFanatr commented on #10
Any updates?

[2017-09-16 14:10] ColinTree opened #297 "how to make add classpath directly?"
i got a dir of well structured source code, and it keep noticing no classpath founded.

so i m thinking of, what should i do to make the whole thing like a readable project for vscode..
such as adding a .classpath file?
i tried but fail (it does not work at all..):
![image](https://user-images.githubusercontent.com/22613139/30512881-7d110008-9b2b-11e7-82ed-7a2419b5097f.png)

what should i do?

[2017-09-16 14:57] gorkem commented on #297
vscode-java depends on Java build tools (namely maven and gradle) to recognize the classpath. I do not recommend .classpath as a way to manage the classpath. Does your project have maven or gradle already? What do you mean by well structured code?

[2017-09-16 15:00] gorkem commented on #291
Actually you need to force gradle to update its caches.  Gradle caches are located at`~/.gradle/caches` folder, cleaning them should do the trick.

[2017-09-16 15:08] ColinTree commented on #297
the files are like this, matches most the file needed in the sources, and the rest can be includes from lib.
(well, it is the code here: https://github.com/ColinTree/appinventor-sources/tree/master/appinventor/components/src/)

![image](https://user-images.githubusercontent.com/22613139/30513288-8049ba5a-9b33-11e7-9c1c-1a15dacc3b57.png)

[2017-09-18 19:41] snjeza commented on #297
@ColinTree  you can try to add the following .classpath and .project:

 .project

[code]
.classpath

[code]

to https://github.com/ColinTree/appinventor-sources/tree/master/appinventor/components

[2017-09-19 02:29] ansyral commented on #277
@fbricon  added #298

[2017-09-19 07:22] andxu opened #299 "Syntax highlighting is not work on special named classes"
$ is a valid character in java package name and class name, but the langue server seems not to be able to handle them.

##### Environment
- Operating System: "Win10 Enterprise 64 Bit"
- JDK version:  "1.8.0_131"
- Visual Studio Code version: 1.16.1
- Java extension version: 0.10.0

##### Steps To Reproduce
1. Open java project on https://github.com/vscjavaci/java-debug-ci/tree/master/testcase/15.s

[2017-09-19 13:24] yaohaizh opened #300 "Code action for exception"
[provide a description of the issue]

##### Environment
- Operating System:
- JDK version:
- Visual Studio Code version:
- Java extension version:

Current there is no code action for exception ( Surround with try/catch or change method signature)

[2017-09-19 15:55] snjeza commented on #299
Typescript uses the TextMate grammar files - https://github.com/Microsoft/TypeScript-TmLanguage. I suppose we also need to use it.

[2017-09-19 16:01] fbricon commented on #299
VS Code embeds the Java Textmate grammar files : https://github.com/Microsoft/vscode/tree/master/extensions/java/syntaxes

So it's an upstream issue. More importantly, the textmate  grammar needs to be fixed upstream: https://github.com/textmate/java.tmbundle

[2017-09-19 20:48] fbricon opened #301 "Autocompletion fails if Class name contains $"
When a class name contains a `$` sign, autocompletion on its type trims the class name at the `$`
[code]

[2017-09-19 20:50] fbricon commented on #300
@yaohaizh can we add that issue to the `End September 2017` milestone?

[2017-09-20 07:03] yaohaizh commented on #300
@fbricon  PR is here: https://github.com/eclipse/eclipse.jdt.ls/pull/357

But the changes is more than 1000 loc though most are from the JDT UI and test cases.

[2017-09-21 03:18] jdneo opened #302 "Error logs show in the output filew"
##### Environment
- Operating System: MacOS Sierra 10.12.6
- JDK version: 1.8.0_131
- Visual Studio Code version: 1.16.1
- Java extension version: 0.10.1

##### Steps To Reproduce
1. When open a project base folder, there are some error logs show in the output console.

Output Exception:
[code]

Log:
[log.txt](https://github.com/redhat-developer/vscode-java/files/1319873/log.txt)

[2017-09-21 12:44] roben opened #303 "Suggestion: Add "introduce method" refactoring"
It would be great to eventually implement all the great refactoring tools Netbeans provides. One of the more important features is the "introduce method" refactoring: http://wiki.netbeans.org/Refactoring#Replace_block_of_code_with_a_method

[2017-09-21 12:45] roben commented on #303
VS Code just added this for typescript, which maybe provides some reusability: https://code.visualstudio.com/updates/v1_16#_javascript-and-typescript-refactorings

[2017-09-21 14:37] zalcorshark opened #304 ".class files"
Does this extension open .class files?

I am getting the following error when I try to open a .class file: "The file will not be displayed in the editor because it is either binary, very large or uses an unsupported text encoding."

The file opens perfectly in Intellij Community.

##### Environment
- Operating System: Windows 10
- JDK version: jdk 1.8.0_144
- Visual Studio Code version: 1.16.1
- J

[2017-09-21 15:00] fbricon commented on #304
No, this extension doesn't help to decompile class files

[2017-09-21 15:05] #304 closed

[2017-09-21 15:06] vsmawoex opened #305 "The Language Support for Java server crashed 5 times in the last 3 minutes. The server will not be restarted."
[Error - 23:03:57] 2017-9-21 23:03:56 Problems occurred when invoking code from plug-in: "org.eclipse.core.resources".
null
java.lang.NullPointerException
	at org.eclipse.jdt.ls.core.internal.JavaLanguageServerPlugin.getProjectsManager(JavaLanguageServerPlugin.java:314)
	at org.eclipse.jdt.ls.core.internal.handlers.WorkspaceDiagnosticsHandler.visit(WorkspaceDiagnosticsHandler.java:84)
	at org.ecli

[2017-09-21 17:34] #302 closed

[2017-09-22 01:21] yaohaizh commented on #303
@fbricon This is exactly I planned to do after the code action after exception. Would like to implement this.

[2017-09-26 00:15] BlueFlakes commented on #305
@fbricon <Question>
Is it possible to disable all messages from being printed in output window ?

[2017-09-26 14:43] BlueFlakes opened #306 "How to disable printing informations about errors in output window?"
##### Environment
- Operating System: ubuntu 17.04
- JDK version: 1.8
- Visual Studio Code version: 1.16.1
- Java extension version: 0.10

[2017-09-26 15:35] #301 closed

[2017-09-27 00:13] fbricon opened #307 "Consume signed server bits from eclipse.org"
Currently the vscode-java build fetches the server sources and rebuilds it from scratch.
When releasing, the actual signed bits from http://download.eclipse.org/jdtls/snapshots/?d should be used

[2017-09-27 08:03] Pajn opened #308 "OperationCanceledException"
This might be a duplicate of #241 but as that is closed for an older version I'm opening this again.

I receive OperationCanceledException using this plugin in vscode. This is quite annoying as vscode detects that as an error and opens the output panel to show that error.

##### Environment
- Operating System: OSX 10.13
- JDK version: 1.8.0_131
- Visual Studio Code version: 1.16.1
- Java extension

[2017-09-27 10:13] akaroml commented on #9
We just released the Java Debug Extension for Visual Studio Code. This extension adds debugging support to the language server. You can find the new extension here:
https://marketplace.visualstudio.com/items?itemName=vscjava.vscode-java-debug

@fbricon @gorkem please see if we can close this issue.

[2017-09-27 10:27] testforstephen commented on #305
This issue can be reproduced when opening multiple different VSCode windows with java projects. The first one can be activated normally. The second window cannot activate Language server.

See the LS console output:
<pre>
ERROR: transport error 202: bind failed: Address already in use
ERROR: JDWP Transport dt_socket failed to initialize, TRANSPORT_INIT(510)
JDWP exit error AGENT_ERROR_TRANSPORT_IN

[2017-09-27 14:16] fbricon commented on #9
Closing as the debugger is available from https://marketplace.visualstudio.com/items?itemName=vscjava.vscode-java-debug

[2017-09-27 14:16] #9 closed

[2017-09-27 20:32] #291 closed

[2017-09-28 01:02] fbricon opened #309 "Markdown in README.md breaks down in VS Code marketplace"
`Visual Studio Marketplace has moved its markdown parser to markdown-it which is based on the CommonMark specification. This impacts formatting of your extension markdown content and we notice for your extension the header and badges are misplaced. Request you to please update your extension content and publish on the Marketplace.
`

[2017-09-28 01:06] #309 closed

[2017-09-28 07:09] rvong commented on #77
Uninstall, reinstall, fixed this for me...

[2017-09-28 08:43] yaohaizh commented on #290
Yes, if there is no problem. There is no code action for this one. On the other hand, if want to trigger code action in this case, user might select the private field to trigger code action. But in this case, we need forward work for refactoring which I'll be following in the coming sprint.

[2017-09-28 13:46] fbricon commented on #300
PR merged, thanks for the great feature @yaohaizh!

[2017-09-28 13:46] #300 closed

[2017-09-29 00:40] lucasortigoso opened #310 "Get variable declared in VMArgs"
I couldn't get variable value declared inside java.jdt.ls.vmargs

##### Environment
- Operating System: MacOS Sierra 10.12.6
- JDK version: 1.8.0_121
- Visual Studio Code version: 1.16.1
- Java extension version:  1.8.0.121

##### Steps To Reproduce
1. In settings.json: "java.jdt.ls.vmargs": "-DJDBC=test"
2. Get the value of environment variable JDBC:
System.getProperty("JDBC");

##### Current Res

[2017-09-29 01:37] fbricon commented on #310
Are you expecting that system property to be used by your code? Can you be more specific on how you do step 2?

[2017-09-29 04:45] lucasortigoso commented on #310
Exactly! My database connection string must be an environment variable. Can you help me?
` public static void main(String[] args)  {
		System.out.println(System.getProperty("JDBC"));
    }`

Should it work?

[2017-09-29 12:36] BlueFlakes commented on #306
Guys my problem is that many times when I write a few words, still line isn't completed I get auto pop up errors in output window. It distracts me a lot
![frustratingshit](https://user-images.githubusercontent.com/27349374/31016078-8d8a88ee-a523-11e7-97ab-725573f96bbe.png)

[2017-09-29 12:46] fbricon commented on #310
vscode-java is not responsible for running your Java code. `jdt.ls.vmargs` are used to configure the Java server responsible for providing Java support to VS Code, so you should not expect adding args there will have an effect on running your code.

Now if you're using this [Java Debugger](https://marketplace.visualstudio.com/items?itemName=vscjava.vscode-java-debug) to launch your app, you can se

[2017-09-29 12:46] #310 closed

[2017-09-29 15:20] xuaveneg commented on #306
In my case (with maven), the plugin analyses all generated .class files created during the build in the target folder, making it print a lot of errors and taking the focus of my task and of my problems window, which is quite troublesome ...

[2017-09-29 16:58] fbricon commented on #306
can you provide a sample project reproducing those errors? better fix the root cause of the issue than hide it

[2017-09-29 19:06] 2xlbu4u opened #311 "How do I control a maven build on launch?"
I have a pom.xml at my root folder.  When vscode launches the java extension, it immediately begins a maven build.
How do I add command line switches (-llr) to the maven build or disable the build on launch altogether?

##### Environment
- Operating System: Windows 7 Enterprise
- JDK version: 1.8.0_144-b01
- Visual Studio Code version: 1.16.1
- Java extension version: 0.10.0

[2017-09-29 21:41] BlueFlakes commented on #306
Easiest way which I know about is to make new file and just write something
then it looks like this:
![screenshot from 2017-09-29 23-36-32](https://user-images.githubusercontent.com/27349374/31037105-9980a524-a56f-11e7-9d59-8bd57940d114.png)
![screenshot from 2017-09-29 23-36-45](https://user-images.githubusercontent.com/27349374/31037107-9c90aba6-a56f-11e7-954e-e34a4379de60.png)
![screenshot from

[2017-09-29 21:53] BlueFlakes commented on #306
I was just thinking about easy solution because I thought that it's a feature, so I didn't record any other ways to call out this situation.

[2017-09-30 03:23] fbricon commented on #311
The Java extension mostly execute the resources:resources goal when building the project + all other stuff that has been configured to run as part of an Eclipse environment via some m2e lifecycle mappings.
Can you provide a sample project showing which maven plugins are executed when vscode launches?

[2017-09-30 03:33] fbricon commented on #311
Sorry I misunderstood the question. AFAIK, you can't set the -llr flag in this build

[2017-09-30 05:06] fbricon commented on #306
Ok, so this occurs for standalone java files with no package. Currently, one way to fix it would be to add a package declaration at the top of the file. We should definitely fix that before releasing 0.11.0.

@snjeza see this stacktrace
[code]
In [JDTUtils](https://github.com/eclipse/eclipse.jdt.ls/blob/5fb9d1e17b179ee9ca2afefab7b0c2aa702ffcb2/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/in

[2017-09-30 05:25] fbricon commented on #306
@snjeza  I also seems those IOOBEs (also happening on hover) are caused by compilation units with a 0-length buffer. Might be caused by class not being saved after creating the java class file

[2017-10-02 08:39] xuaveneg commented on #306
In my case, during the execution of my build task (using maven), The errors showing in the output console are
[code]

(Sorry, for confidentiality reasons, I can't show screenshots or filenames here, but I have this error for most of the generated .class files in the target folder)

[2017-10-02 14:10] fbricon commented on #306
@xuaveneg ok so that's another issue. Running a clean build from CLI, causes a discrepency between the jdt.ls server state and the file system. We need to handle that better. Can you please open a separate issue for that?
As a workaround, I suggest you avoid "clean" Maven builds, when running your task (if it doesn't cause any problems)

[2017-10-02 16:01] snjeza opened #312 "IllegalArgumentException in JDTUtils.getPackageName"
See https://github.com/redhat-developer/vscode-java/issues/306#issuecomment-333283963

[2017-10-02 19:53] KeplerIO opened #313 "An internal error occurred during: "Initialize Workspace""
Installed Language Support for Java by Red Hat. After installing JDK and setting path in Environment Variables and setting the java.home option in VS Code to point to the right place, I open a file "main.java" in VS Code to test. Intellisense isn't working for imports then I check Output window.

##### Environment
- Operating System: Windows 10
- JDK version: 1.8.0_144
- Visual Studio Code version

[2017-10-02 19:57] fbricon commented on #313
Wow I've seen my fair share of Eclipse errors, but never this one O_o
What does your java.home variable look like?

[2017-10-02 20:00] devKepler commented on #313
@fbricon
"java.home": "C:\\Program Files\\Java\\jdk1.8.0_144\\"

[2017-10-02 20:02] fbricon commented on #313
Can you try to delete your [workspace directory](https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#clean-the-workspace-directory) and try again?

[2017-10-02 20:03] devKepler commented on #313
@fbricon Sure, stand by

[2017-10-02 20:05] devKepler commented on #313
@fbricon Sill receiving the same errors in output window

[2017-10-02 20:06] fbricon commented on #313
@snjeza any idea?

[2017-10-02 20:07] devKepler commented on #313
@fbricon Verified this is not a JDK configuration issue as I can compile and run my "main.java from the command-line.

[2017-10-02 20:22] #312 closed

[2017-10-02 21:14] fbricon opened #314 "External clean build gets jdt.ls out-of-sync"
As reported by @xuaveneg in #306, during the execution of a build task (using maven), The errors showing in the output console are:
[code]

Running a clean build from CLI, causes a discrepancy between the jdt.ls server state and the file system. We need to handle that better.

[2017-10-02 21:16] fbricon commented on #306
Hopefully this should be fixed by https://github.com/eclipse/eclipse.jdt.ls/commit/d70d4bf59d911df19e940a8a67540ad845454f04

[2017-10-02 21:16] #306 closed

[2017-10-04 13:25] varunkumar opened #315 "Add support for package view"
Add support for package view similar to the one we have in Eclipse Project Explorer. Please let me know if this exists already via some configuration.

I would be happy to contribute if this is not already available.

[2017-10-04 13:45] fbricon commented on #315
This is not available yet. It would require changes to https://github.com/eclipse/eclipse.jdt.ls/
@tsmaeder I guess that might be interesting for che too, no?

[2017-10-04 13:51] varunkumar commented on #315
I am a newbie to this plugin. Wondering why would it need changes to language server. We already have the listing of files and information about source location with us right?

[2017-10-04 13:56] fbricon commented on #315
The vscode extension should try to avoid embedding any logic of Java smartness, so as to make it reusable by other clients.
You can certainly achieve to build a pure vscode package view of your projects by inspecting the location or content of each file, but the server has all that information already (and we know it's accurate), it just needs to expose it.

[2017-10-05 14:37] snjeza commented on #313
@devKepler did you create a new or open an existing directory?

[2017-10-05 20:18] fbricon opened #316 "Support new region markers"
See https://code.visualstudio.com/updates/v1_17#_folding-regions

Java should probably support one (or all?) of those patterns:
*  `//#region` and `//#endregion`
* `//region` and `//endregion`
* Netbeans format : `// <editor-fold desc="Description">` and `// </editor-fold>`

[2017-10-05 20:22] fbricon opened #317 "Improve Java snippets with variable transformations"
See https://code.visualstudio.com/updates/v1_17#_snippet-transforms
[code]

[2017-10-05 20:29] fbricon opened #318 "Autocompletion should return javadoc in Markdown"
See https://code.visualstudio.com/updates/v1_17#_javascript-and-typescript-intellisense-now-supports-markdown

We basically need to revert #215. On the server side, the type of documentation should depend on whether the client supports it. Need to check the protocol.

[2017-10-05 22:37] fbricon commented on #316
With #319 :
![oct-05-2017 18-29-19](https://user-images.githubusercontent.com/148698/31255677-006e3eb4-a9fc-11e7-8c53-c8313311cc52.gif)

adds partial NetBeans support (NetBeans xml specific attributes are ignored)
![oct-05-2017 18-32-44](https://user-images.githubusercontent.com/148698/31255678-007350fc-a9fc-11e7-94c5-4e0faff4a887.gif)

[2017-10-06 04:45] fbricon commented on #318
@aeschli  https://github.com/Microsoft/language-server-protocol/blob/master/protocol.md#completion-request doesn't specify the documentation format, shouldn't that be an attribute of TextDocumentClientCapabilities.completion.completionItem (next to snippetSupport)? Else we're gonna need to add a new server preference to let clients tell the server whether it should return plain text or markdown.

[2017-10-06 07:03] aeschli commented on #318
That's a new API in VSCode that we still need to adopt in the language server protocol. For now, documentation format is still text.

[2017-10-06 13:30] fbricon commented on #318
I like my javadoc to look good. @gorkem wdyt about starting the server with a -Dcompletion.documentation.markdown=true flag, so that we can leverage that vscode feature until it makes it to the protocol?

[2017-10-06 17:56] #316 closed

[2017-10-06 18:19] #317 closed

[2017-10-06 18:20] fbricon commented on #317
There you go:

![](https://user-images.githubusercontent.com/148698/31282475-a6822124-aa80-11e7-9ef2-73ff0a0f87c1.gif)

[2017-10-08 04:35] uudashr opened #321 "Missing Java 9 support for Gradle projects"
A lot of errors shows on "problems" tab
<img width="761" alt="screen shot 2017-10-08 at 11 29 20 am" src="https://user-images.githubusercontent.com/166053/31313927-fd4ea0a8-ac1b-11e7-997f-6cfd7c9fc0dd.png">

##### Environment
- Operating System: Mac OS X Sierra
- JDK version: build 9+181
- Visual Studio Code version: 1.17.0
- Java extension version: 0.11.0

##### Steps To Reproduce
1. Clone from h

[2017-10-08 19:12] vojtechhabarta opened #322 "Extension causes `bad class file` and `ClassNotFoundException` in Maven build"
I have a Maven project with submodules. When I open it in VS Code with this extension installed everything seems to work perfectly (code completion, javadoc, go to definition...). But when I run `mvn clean install` externally extension starts throwing tens of `BadLocationException`s (displayed in Output tab).

Moreover maven build fails! I can see some `bad class file` errors from `maven-compiler-

[2017-10-08 19:58] MatthewMcConnell opened #323 "Running a Test File because packages do not exist [QUESTION]"
Quick question, I am trying to run a test file but fails because it says the org hamcrest and junit packages don't exist. Is the red hat extension supposed to get these for me automatically or do I have to do something. First time I've done this so clear step by step instructions would be useful.

[2017-10-09 07:24] floschnell commented on #281
VS Code will display a warning "Classpath is incomplete. Only syntax errors will be reported" when opening Java files within a multi root workspace environment.
This probably is due to the fact that the "pom.xml" is not at the root anymore, but within the directory of that project.

[2017-10-09 22:09] fbricon commented on #321
At the moment we have experimental Java 9 support for Maven based projects in our CI builds (try the latest *.vsix from http://download.jboss.org/jbosstools/jdt.ls/staging/).
However, Java 9 support for Gradle projects is not available yet. We depend on the upstream [Buildship](https://github.com/eclipse/buildship) project to release Java 9 support for Gradle in Eclipse.

@oehme @donat, if there's

[2017-10-11 12:18] luyiming opened #324 "package declaration linting message goes wrong"
![image](https://user-images.githubusercontent.com/15070842/31439819-3b435cc2-aec0-11e7-92ea-8c87848d03c3.png)

It seems to only work when the top folder name is `src`?

![image](https://user-images.githubusercontent.com/15070842/31439884-6d371cfa-aec0-11e7-91c5-f286db3fd23e.png)

I'm new to Java so I can't tell if it is a bug or it has something to do with the language?

##### Environment
- Opera

[2017-10-11 12:44] yaohaizh commented on #324
In the first, try declear package

[code]

[2017-10-11 12:51] fbricon commented on #324
I believe this is a duplicate of #274. We seem to have a fix (https://github.com/eclipse/eclipse.jdt.ls/pull/356), but it only works on Linux and Windows, for some reason.

[2017-10-11 16:30] gorkem commented on #281
@aeschli What are the changes on the LSP implementation related to this? Is there a specific LSP client we need to use on the extension?

[2017-10-11 17:37] ColinTree opened #325 "class with a number in its class name seems to make a bug when referenced"
class with a number in its class name seems to make a bug when referenced

##### Environment
- Operating System: Windows 10
- JDK version: 1.7.0_79
- Visual Studio Code version: 1.17.1
- Java extension version: 0.11.0

##### Steps To Reproduce
1. create a class named with number like "My3DView", close the file.
2. create a class in another file and reference it.
3. set up .classpath
4. the error n

[2017-10-11 19:07] aeschli commented on #281
These are new proposed protocol additions:
- [workspaceFolders](https://github.com/Microsoft/vscode-languageserver-node/blob/master/protocol/src/protocol.workspaceFolders.proposed.md)
- [resource configuration](
https://github.com/Microsoft/vscode-languageserver-node/blob/master/protocol/src/protocol.configuration.proposed.md)

The latest vscode-languageclient already supports these requests.

[2017-10-11 23:54] luyiming commented on #324
@yaohaizh I've tried declaring `package A.B;`,  doesn't work.

[2017-10-12 00:09] luyiming commented on #324
@fbricon Does the latest version contain that fix? Because I can still reproduce the bug.

## Steps to reproduce:
1. create a folder named `A`
![image](https://user-images.githubusercontent.com/15070842/31472818-77201d62-af23-11e7-8356-e29c8d86d78c.png)

2. right click this folder and select `Open with code`.
![image](https://user-images.githubusercontent.com/15070842/31472851-aad02dbe-af23-11e7-8

[2017-10-12 01:47] fbricon commented on #325
You don't seem to be using Maven or Gradle to build your project. What/How did you configure your classpath?
Do you have a sample project to reproduce this issue?

[2017-10-12 09:20] IzakMarais opened #327 "Output window steals focus from terminal during mvn install"
When I run mvn clean install from the integrated terminal the focus jumps to the output window halfway during the install. It always happens when maven is busy with the step

[code]

The errors in the output window look like:

[code]

##### Environment
- Operating System: Windows 8.1
- JDK version: 1.8.0_144
- Visual Studio Code version: 1.17.1
- Java extension version: 0.11.0

[2017-10-12 12:12] clankill3r opened #328 "[Java] Lambda expressions are allowed only at source level 1.8 or above"
I try to use lambda's but I get the following error:

In my user settings I have set:

How can I set the source level?

##### Environment
- Operating System: OSX
- JDK version: jdk1.8.0_144
- Visual Studio Code version: 1.17.1
- Java extension version: 0.1.0

[2017-10-12 19:23] fbricon commented on #328
Do you use Maven to build your app, or something else?

When using Maven, you need set the [maven-compiler-plugin source and target elements to 1.8](https://maven.apache.org/plugins/maven-compiler-plugin/examples/set-compiler-source-and-target.html)

[2017-10-12 19:33] fbricon commented on #323
If you simply opened a single java test class, the classpath will be incomplete.

The best way to configure the classpath would be to create a Maven or Gradle project, referencing junit (and hamcrest if you depend on it directly). You should be able to find tutorials on how to setup either [Maven](https://examples.javacodegeeks.com/enterprise-java/maven/junit-maven-example/) or [Gradle](http://mak

[2017-10-12 19:38] fbricon commented on #327
Duplicate of #314. The output focus issue should be dealt with #326

[2017-10-12 19:38] #327 closed

[2017-10-12 19:39] fbricon commented on #324
@snjeza can you check eclipse/eclipse.jdt.ls#356 fixes this, at least one Windows/Linux?

[2017-10-12 19:42] fbricon commented on #322
Maven clean build wreaking havoc is reported in #314.
The Maven build itself failing? That's a new one. Not sure we can fix that part.

[2017-10-12 19:44] fbricon commented on #322
I suggest you run `mvn install` (without the `clean` part), if it doesn't cause any issues

[2017-10-12 22:27] snjeza commented on #324
It does. I have rebased the PR.

[2017-10-12 22:38] fbricon commented on #303
https://github.com/eclipse/eclipse.jdt.ls/pull/381 looking promising :
![extract-method](https://user-images.githubusercontent.com/148698/31522579-8ffe67f4-af7c-11e7-9f0c-e57adbb01a16.gif)

[2017-10-13 08:19] Dasky14 commented on #154
I'm going to say that I still have this same issue, solved by the manual deletion of workspaceStorage.
Looks like it just doesn't make a simple check whether the file exists or not, and errors out when it tries to load it.

Operating System: Win 10 Pro 15063.674
JDK version: 1.8.0_144
VScode: 1.17.1
Java extension version: 0.11.0

[2017-10-13 08:26] vojtechhabarta commented on #322
Thanks for the response.
I think I tried `mvn install` first and since it didn't work I used `mvn clean install` which I hoped should fix it but it was the same.

[2017-10-13 09:00] donat commented on #321
@fbricon It's not yet publicly documented, but we are planning to fix Buildship to work on Java 9 in the 2.2 release. You can follow the progress here: https://github.com/eclipse/buildship/milestone/9

[2017-10-13 15:48] nik9000 opened #330 "Problem resolving code actions "org.eclipse.core.runtime.CoreException: End Of File""
[provide a description of the issue]

##### Environment
- Operating System: Fedora 26
- JDK version: openjdk version "1.8.0_144"
- Visual Studio Code version: 1.17.0
- Java extension version: 0.1.0

##### Steps To Reproduce
I can't share the project and am not totally sure what I did. I believe I was fixing up some invalid imports. I'd recently moved a few files around inside of VS code.

I'm happ

[2017-10-13 16:20] snjeza commented on #330
A duplicate of https://github.com/eclipse/eclipse.jdt.ls/issues/369

[2017-10-13 16:20] #330 closed

[2017-10-13 16:22] nik9000 commented on #330
Thanks for pointing me in the right direction!

[2017-10-13 20:51] fbricon commented on #318
@aeschli so if the server returns markdown in the documentation field, it's still rendered as plain text (using insiders 1.18). How is this supposed to work?

<img width="714" alt="screen shot 2017-10-13 at 4 50 07 pm" src="https://user-images.githubusercontent.com/148698/31565933-9b67af96-b036-11e7-9903-1a51a13fbdbe.png">

[code]

[2017-10-15 16:57] jgeorgeson opened #331 "Better support for Maven Archetype projects"
With `java.configuration.updateBuildConfiguration` set to automatic, the `src/main/resources/archetype-resources/pom.xml` is built, creating a `src/main/resources/archetype-resources/target` folder that is then included into the packaged archetype jar. It's nice to have the Eclipse project files (.settings folder, .classpath, and .project) created inside the archetype-resources so that projects ge

[2017-10-16 07:01] aeschli commented on #318
@fbricon We first will have to add new API. Either a new property `documentationFormat: plainText | markdown` or new property type: `documentation: string | MarkdownString`.
There will also be a client capability. Not that, ideally, your server can support either format, based on the client capability.

[2017-10-16 12:52] gorkem opened #332 "Dependencies view"
Implement a view that displays the dependencies for the project of the selected file/folder.

[2017-10-16 13:47] fbricon commented on #332
Duplicate of #237

[2017-10-16 13:47] #332 closed

[2017-10-16 16:04] snjeza commented on #324
A duplicate of #274

[2017-10-16 16:04] #324 closed

[2017-10-16 16:25] Carrein commented on #328
These 'errors' are quite common in Java projects in VS.

[code]

They don't affect the files, as they compile fine. I was informed such errors occur when the project hierarchy is not properly setup. Is there a way to silence them? I am writing simple class files using an open folder as a mock 'directory' with javac, java to run them.

[2017-10-16 20:23] fbricon commented on #307
I can't seem to be able to generate a proper JenkinsFile. reverting the changes for now.

[2017-10-16 20:25] fbricon commented on #303
The feature has been added in 0.12.0, but we still need to improve it by chaining the refactoring with a rename action on the new method name. Currently, you have to manually trigger the rename action.

[2017-10-16 20:25] #303 closed

[2017-10-17 01:32] yaohaizh opened #333 "Add rename after the "Extract to method" refactor"
This is a follow issue from https://github.com/eclipse/eclipse.jdt.ls/pull/381

For rename triggered on refactor, the typescript/vscode-python will use refactor provider to add additional commands in the client side. For Java client side, we need to see how to intervene the actions here.

[2017-10-17 13:56] #274 closed

[2017-10-18 04:01] czardoz opened #335 "[Question] Usage with custom builds of the JDT Language Server"
Is there a way to specify a custom version of the JDT language server? The configuration does not seem to contain any such information.

[2017-10-18 06:28] czardoz commented on #335
For the next soul who lands up here, the instructions to set up a development environment are available: https://github.com/redhat-developer/vscode-java/blob/master/CONTRIBUTING.md

[2017-10-18 06:28] #335 closed

[2017-10-18 10:04] snovo opened #336 "faster plugin startup"
this extension is great but it takes far too much time to be ready as it seems to be rebuilding the workspace everytime a new project/folder is loaded.
opening a medium size project takes up to 15min to rebuild the workspace...

wondering if it wouldn't be possible to reuse the workspace from the last session and provide an option to rebuild the workspace if necessary...

##### Environment
- Opera

[2017-10-18 14:01] pvllzr opened #337 "Out of memory"
After installing the extension, open visual studio code, after about a minute it will crash with

[code]

##### Environment
- Operating System: Arch Linux 64bit
- JDK version: 1.8
- Visual Studio Code version: 1.17.2
- Java extension version: 0.12.0

[2017-10-18 14:13] fbricon commented on #337
@aeschli @dbaeumer @egamma how do we track down memory leaks in VSCode? (I'm a Java guy, way out of my league here)

[2017-10-18 14:22] fbricon commented on #337
@pavellazar have you used vscode-java successfully before? Can you try to reproduce with vscode 1.16 (See download links on top of https://code.visualstudio.com/updates/v1_16), and/or [install](https://code.visualstudio.com/docs/editor/extension-gallery#_install-from-a-vsix) vscode-java [0.11.0](http://download.jboss.org/jbosstools/jdt.ls/staging/java-0.11.0-456.vsix).

[2017-10-18 14:47] pavellazar commented on #337
@fbricon I don't get the error without the java extension, I just installed vscode-java 0.11. The issue doesn't seem to happen in this version.

[2017-10-18 14:54] pavellazar commented on #337
It is still happening on vscode-java 0.11.0, will try with vscode1_16

[2017-10-18 15:02] fbricon commented on #337
Does it happen when you open a single Java file, or a folder containing a project? If that's the case, how big is your Java project? can you share it?

[2017-10-18 15:06] egamma commented on #337
Since 1.16 you can attach to the extension host process and to profile it this includes memory profiling.

* Start VS Code from the command line the with `--inspect-extensions=<port>`-flag, for example `code --inspect-extensions=9333`.
* In VS Code, from the 'Command Palette (F1)', select 'Developer: Toggle Developer Tools', hit Enter.
* Select the Console tab and find a message that starts with "

[2017-10-18 15:06] pavellazar commented on #337
It is a large java project, I cannot share since it's a company product. I don't think it's happening on just a java file or even a small java project

[2017-10-18 15:12] fbricon commented on #337
Ok so since it's a large project, maybe we're sending very large JSON payloads to the client which might cause the issue. How many projects (Maven or Gradle?) are involved? how many java files?

@pavellazar it'd be great if you could follow @egamma's instructions to figure out what's happening.

[2017-10-18 15:26] pavellazar commented on #337
![out-of-memory](https://user-images.githubusercontent.com/15040014/31727166-ebe01e72-b3f6-11e7-98bf-5aa9851fd8de.png)

Here is the Developer Tools console output at the same moment
[code]

Chrome crashed when I tried to get the memory snapshot

[2017-10-18 15:36] fbricon commented on #337
So it looks like it fails while handling a connection error, but I really have no idea what to do on the client side, really hoping our fellow VS Code experts can chime in here.

Do you see anything suspicious in the [server log](https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#get-the-java-language-servers-workspace-logs)?

[2017-10-18 16:10] aeschli commented on #337
@jrieken See https://github.com/redhat-developer/vscode-java/issues/337#issuecomment-337629472. Maybe a recursive JSON structure?

[2017-10-21 03:59] Munodi opened #338 "Syntax highlighting is not working with comment"
Normally a comment would be grey-greened out but I've discovered an instance where it is not.

##### Environment
- Operating System: Windows 10 64 bit
- JDK version: 9
- Visual Studio Code version: 1.17.1
- Java extension version: 0.12.0

##### Steps To Reproduce
1. Create a class and add the code below to it.
2. See that the comment is not highlighted correctly like it is in GitHub.

[code]

####

[2017-10-21 07:23] mcgaw opened #339 "Enable annotation processing"
Hi, I'm trying to use https://github.com/immutables/immutables which is an annotation based source code generator.

In the docs (https://immutables.github.io/apt.html), it's mentioned that the m2e-apt Eclipse plugin needs to be configured when building in Eclipse, so presumably this is why in vscode it doesn't work?

I was previously having problems with Rocker templates, and with hindsight this m

[2017-10-21 10:23] Xarkam commented on #284
Have same problem and after reseting workspace
![image](https://user-images.githubusercontent.com/331816/31850821-f64d7d4a-b659-11e7-875d-0bb6c6a1c3da.png)
Repository if you want test: https://github.com/Elfen59/bot-discord

Java --version:
![image](https://user-images.githubusercontent.com/331816/31850835-2b7bfaf0-b65a-11e7-80e3-bf3c09c913bc.png)

VSCode version: 1.17.2
Extension version: 0.12.0

[2017-10-22 01:00] fbricon commented on #339
I've done some tests for https://github.com/eclipse/eclipse.jdt.ls/issues/128, but while file generation seems to work, there's an issue with the client detecting changes in the generated files and sending those changes to apply back to the server, so we end up with garbage content. We need to figure out a proper way to cope with generated content, i.e we need to determine whether or not changes f

[2017-10-22 01:12] fbricon commented on #338
Syntax highlighting is provided by the [Textmate bundle embedded in vscode](https://github.com/Microsoft/vscode/blob/master/extensions/java/syntaxes/java.tmLanguage.json). Usually that kind of syntax highlighting problem is caused by a bug in the [upstream Textmate bundle](https://github.com/textmate/java.tmbundle), but here, the issue can not be reproduced in Textmate, so this looks like a bug in

[2017-10-22 01:19] fbricon commented on #336
vscode-java already reuses the same workspace than the last time the folder was opened.

From what I see in your screenshot, there doesn't seem to be many Maven modules, unless there's a deeper module hierarchy. So 15min to rebuild seems really excessive.
Exactly how many Maven modules do you have, how many java files? Any chance you could share your pom.xmls, so that we can see if some rogue Mave

[2017-10-22 09:44] mcgaw commented on #339
Thanks for the feedback. It's a bit hard for me to comment, since I don't know enough about the vscode-java/jdt.ls architecture, but is there any reason the Java language server must be responsible for building your project? Presumably that's not part of the language server protocol? It surprised me initially when I realised that the vscode-java plugin was building my project.

[2017-10-22 18:11] snjeza commented on #338
I have converted the latest Textmate - https://github.com/textmate/java.tmbundle and it works fine.

[java.tmLanguage.json ](https://gist.github.com/snjeza/42960be25e6c2671f11de8822015f2b0)

[2017-10-22 18:12] snjeza commented on #338
![syntax](https://user-images.githubusercontent.com/388609/31864856-45bb17be-b765-11e7-9dbc-4590df7907d2.png)

[2017-10-22 18:38] fbricon commented on #338
@snjeza Please open a PR to vscode-java and link it here

[2017-10-22 19:39] snjeza commented on #338
![syntax1](https://user-images.githubusercontent.com/388609/31865592-763e06e2-b771-11e7-982a-08536813f02d.png)

[2017-10-23 07:47] jrieken commented on #337
Unlikely, you should get a stack overflow in those cases... @pavellazar Can you reproduce that with a smaller project which allows for a mem-snapshot?

[2017-10-23 07:53] powerumc opened #340 "CLIENT_PORT not works."
[provide a description of the issue]

##### Environment
- Operating System: MacOS Sierra
- JDK version: 1.8.0
- Visual Studio Code version:
- Java extension version:

##### Steps To Reproduce
1. I launch on command line on mac.
[code]

The output is
[code]

2. I did check it out, /workspace/test/javatest/.metadata/.log
[code]

3. But can't connect 8080 port.
[code]

What's the problem to connect l

[2017-10-23 12:37] fbricon commented on #340
This is a server related question. Closing and following up on https://github.com/eclipse/eclipse.jdt.ls/issues/403

[2017-10-23 12:37] #340 closed

[2017-10-23 13:03] powerumc commented on #340
[code]

[2017-10-23 13:18] pavellazar commented on #337
@jrieken all the other java project I have don't have this issue. If I will encounter the issue I will update this ticket with more information.

[2017-10-23 14:08] jrieken commented on #337
Great. Another options, if that's an option, would be to share that project with us.

[2017-10-23 14:32] fbricon commented on #339
The server builds the project so that it can detect workspace-wide compilation errors for instance.

If you open a generated class in vscode in one pane, while modifying a source triggering modifications to that 1st file in a second pane, you should see some interesting stuff :-)

[2017-10-23 18:02] fbricon commented on #340
@snjeza can you please double check that one?

[2017-10-24 13:27] snovo commented on #336
My development machine is actually a VM and I do have a bunch of VSCode extensions active alongside with vscode-java.
I did disable all extensions but vscode-java and unfortunately, the outcome is pretty much the same. I also tried it out on my host machine and it's faster, but I noticed something weird while testing it. It seems that cleaning up the workspace before opening VSCode makes it faster

[2017-10-24 13:44] fbricon commented on #336
@snovo so CLI build takes 2 mins max in your VM?

[2017-10-24 13:45] fbricon commented on #336
@snovo what do you measure exactly to determine the build is finished in vscode?

[2017-10-24 14:07] fbricon commented on #336
Windows always had terrible terrible I/O perf, I see that hasn't changed with Win 10 apparently :-(

Running mvn clean test-compile would be a more accurate comparison with what vscode-java actually does. It takes 40sec to compile all files from guava on my MacBook Pro from CLI.

Looking at the Language Support for Java output logs, between the 1st line to the last one after server reaches 100% st

[2017-10-24 15:52] snovo commented on #336
Hi fbricon,

As a measurement, I was looking for the status progress (percentage) of the extension and calculating the difference between the time it reaches 100% and when the percentage first shows up in the UI.

Btw, I just tried out "mvn clean test-compile" with guava and it took 1:47 min. Executing "mvn test-compile" took 40seconds afterwards.
Quite slower than on your's MacBook... My machine

[2017-10-24 16:29] fbricon commented on #336
I think the problem comes from our systematic re-import of the projects, when the workspace is reopened. If the projects already exist in the underlying workspace, we might just refresh them and stop there. Hopefully that might help.

[2017-10-24 17:12] fbricon commented on #336
So even when skipping the maven import when the project already exist, it still take a minute to start. The server seems to execute a full build, which is what's taking a very long time to run.
Guess I'll need to dig more

[2017-10-26 07:31] yaohaizh commented on #333
@aeschli Do you have any hint for the protocol layer to support this? I found that the typescript/javascript/python will use refactorProvider to intervene with the refactor process and send another command for rename after the refactor is done. But C# doesn't support this yet.

[2017-10-26 07:44] aeschli commented on #333
Thos is done through code actions, right? The result of a code action is a command, which is in Java the "java.apply.workspaceEdit" command. I could expand that command to add instructions to invoke the rename command at a given position after the edits are applied.
I guess the tricky part will be to track the right position as the edits can change everything.

[2017-10-26 08:40] yaohaizh commented on #333
yes, that should how typescript implement this: https://github.com/Microsoft/vscode/blob/master/extensions/typescript/src/features/refactorProvider.ts

[2017-10-26 10:32] snovo commented on #336
let me know if you need more info

[2017-10-26 11:59] mikegleasonjr commented on #232
How do you guys specify `GRADLE_HOME` to VS Code on OS X?

I have a valid installation in `/usr/local/gradle/` (4.2.1) but VS Code uses an old version (3.5) in `~/.gradle/...`

I need to specify a recent version because of a syntax error in my `build.gradle` file with 3.5.

Thanks!

[2017-10-26 13:39] fbricon commented on #336
@snovo still banging my head on it

[2017-10-27 00:51] littleaj opened #342 "Intellisense cannot resolve dependencies for files under a custom source directory"
I have a gradle project with a custom source directory _/project/src/**integrationTest**_. Dependencies for these sources are defined using a custom configuration (I followed [this tutorial](https://www.petrikainulainen.net/programming/gradle/getting-started-with-gradle-integration-testing/)). However, the types in the dependencies cannot be resolved by Intellisense.

It still finds the default cl

[2017-10-27 03:06] fbricon commented on #342
@littleaj can you please setup a test project reproducing the issue? It'll be faster to investigate

[2017-10-27 09:25] littleaj commented on #342
This recreates the issue: https://github.com/littleaj/vsc_sense_recreate

Also, I found an interesting case: when _testCompile_ and _integrationTestCompile_ both depended on 'junit', intellisense could resolve the dependency in both source directories, _src/test/main_ and _src/integrationTest/main_.

[2017-10-27 14:45] rubin55 commented on #232
I ran into the same issue. Having gradle available on the path and/or setting GRADLE_HOME does not make vscode use anything other than gradle-3.5 that comes with buildship (I think).

Note that as a workaround, having a gradle wrapper in your project *does* make vscode use the gradle version of choice (that the wrapper is).

[2017-10-27 14:58] fbricon commented on #232
This is supposed to work https://github.com/eclipse/eclipse.jdt.ls/blob/a617c5a630d01ae35b01bdaa29fa7725bc1a45d9/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/managers/GradleProjectImporter.java#L89 :-)

Anyone having the issue on Windows/Linux or is this just a Mac problem?

[2017-10-27 15:09] fbricon commented on #232
@mikegleasonjr @rubin55 see https://apple.stackexchange.com/questions/106355/setting-the-system-wide-path-environment-variable-in-mavericks

if code is opened from CLI, I expect it'd inherit the environment variables available in the terminal.

[2017-10-27 16:03] gorkem opened #343 "Show implementations code lens for .class"
We should show the implementations code lens on interfaces for .class files.

[2017-10-27 19:13] snjeza commented on #342
This is the Eclipse Buildship issue. It can also be reproduced in Eclipse.

[2017-10-27 19:36] fbricon commented on #256
This is fixed in VSCode 1.17.2:
<img width="374" alt="screen shot 2017-10-27 at 3 35 31 pm" src="https://user-images.githubusercontent.com/148698/32121910-83f3385c-bb2c-11e7-9179-803d80257ca4.png">

[2017-10-27 19:36] #256 closed

[2017-10-27 19:41] fbricon commented on #271
@snjeza can you check if the latest updates of the textmate bundle fix this one?

[2017-10-27 19:55] rubin55 commented on #232
I've checked on  Windows; if i start a terminal within vscode and do set | findstr GRADLE_HOME, i see it set correctly. Regardless, vscode ignores it as I can tell from the .log file where I see BuildShip trying to parse my incompatible with 3.x build.gradle using Gradle 3.5 instead of the 4.2 I have on my path and referenced in GRADLE_HOME.

[2017-10-27 19:56] rubin55 commented on #232
I've checked on  Windows; if i start a terminal within vscode and do set | findstr GRADLE_HOME, i see it set correctly. Regardless, vscode ignores it as I can tell from the .log file where I see BuildShip trying to parse my incompatible with 3.x build.gradle using Gradle 3.5 instead of the 4.2 I have on my path and referenced in GRADLE_HOME.

[2017-10-27 20:35] snjeza commented on #271
It works properly with https://github.com/Microsoft/vscode/issues/36708

I have also tested the VS Code master and https://github.com/atom/language-java/blob/master/grammars/java.cson

[2017-10-28 12:09] rubin55 opened #344 "When having VS Code open on a project that has a generated code srcDir, and running gradle commands from the command-line in that same folder, lock contention issues cause corrupted artifacts"
### Expected Behavior
I'm using VS Code 1.17.2 + vscode-java 0.12.0, gradle 4.2.1 to build a Java 8 SpringBoot application om macOS 10.12.6. The build uses an xjc ant task to generate .java files from a few .xsd documents in the resources directory. I've verified that in my case, 11 ObjectFactory.java files are generated, and consequently, 11 ObjectFactory.class files are compiled correctly. I wou

[2017-10-28 12:17] rubin55 opened #345 ".classpath file does not contain additional srcDir entry when it does not exist on the fs (yet)"
When you have additional java source code directories, you can specify this as a sourceSet like so:

[code]

When you're dealing with generated code, that code is often generated within the build directory. However, that directory might not exist yet (maybe you just checked out without building or maybe you ran a `gradle clean`)

When the folder does not exist yet, it does not end up in the .class

[2017-10-28 15:15] rubin55 commented on #345
I noticed also, that when the generated source folder does not exist yet, it will not be added to the .classpath file as a src folder at all. When I do a gradle generate (resulting in that folder being created, with the generated .java files in it), doing F1 -> Java: Update project configuration does *not* update the .classpath file either. *However*, doing a bogus edit on the build.gradle and cli

[2017-10-28 15:23] fbricon commented on #345
@rubin55 can you please setup a test project reproducing the issue?

[2017-10-28 15:24] rubin55 commented on #345
Hey @fbricon, sure, let me get to it!

[2017-10-28 15:28] fbricon commented on #344
Have you checked if this is reproducible with Eclipse+Buildship?

[2017-10-28 15:46] rubin55 commented on #344
On it.

[2017-10-28 16:28] rubin55 commented on #344
I just ran this on Windows 10 x64, otherwise identical VSCode/Java/Gradle versions. First build had missing objects, so it's not an isolated macOS specific issue.

[2017-10-29 10:39] ocavue commented on #287
@fbricon The 2nd solution does not works for me.

Below is my code. I can't get 4 blank line before methods. Now I have only 1 blank line, as same as the default setting.

![screen shot 2017-10-29 at 6 19 40 pm](https://user-images.githubusercontent.com/24715727/32142612-cd9748ee-bc68-11e7-817e-c63aca391d35.png)

I don't know if I did something wrong or this is just a bug.

[2017-10-29 18:03] snjeza commented on #232
@rubin55 See https://github.com/eclipse/eclipse.jdt.ls/issues/408#issuecomment-340281382

[2017-10-29 19:38] rubin55 commented on #232
I am aware of the workaround (I personally opted for using the wrapper). Still I think code should check PATH first, as in:

1. has wrapper? use wrapper
2. has GRADLE_HOME? use that
3. has gradle on path? use that
4. fallback on version in buildship

In that order.

[2017-10-29 22:48] xufangda opened #346 "Can someone tell me how to import a jar package in VScode?"
I'm sorry to ask this silly question.

But I've been searching everywhere to learn how to import a jar package in vscode.

Suppose the jar file is in C:/java/lib/package.jar directory, how can I import it in vscode??

##### Environment
- Operating System: Windows 10
- JDK version: 1.8.0_131
- Visual Studio Code version: 1.17.2
- Java extension version:0.12.0

[2017-10-30 13:18] snjeza commented on #232
@rubin55
Buildship requires a gradle distribution. I'm not sure if we can implement #3.
#1, #2 and #4 should work after applying https://github.com/eclipse/eclipse.jdt.ls/pull/411

[2017-10-30 13:59] fbricon commented on #287
@ocavue the solution works for actual projects. What you have is a folder with a java project and a .classpath file. So what defines what an actual project is? At the root of your folder you need to have either:
-  a Maven `pom.xml`,
- or a Gradle `build.gradle`,
- or both Eclipse's `.project` and `.classpath` files.

I strongly suggest you go with making either a [Maven](https://maven.apache.org/

[2017-10-30 14:26] fbricon commented on #232
@rubin55 we could indeed the $PATH environment variable to find the gradle executable, but I'm assuming you'd find it only when $PATH has been set when starting a terminal. So if you don't find $GRADLE_HOME, you won't find gradle in $PATH either.

What eclipse/eclipse.jdt.ls#411 does is check if the server has been started with a -DGRADLE_HOME parameter, so you need to add it to the `java.jdt.ls.v

[2017-10-30 18:50] aeschli opened #348 "Cannot use AltGr+u with U.S. International keyboard"
_From @GeorgeHernandez on October 26, 2017 19:9_

- VSCode Version: Code 1.17.2 (b813d12980308015bcd2b3a2f6efa5c810c33ba5, 2017-10-16T13:59:46.104Z)
- OS Version: Windows_NT x64 10.0.15063
- Extensions:

Extension|Author (truncated)|Version
---|---|---
yaml|ada|0.0.9
Bookmarks|ale|0.17.0
alignment|ann|0.3.0
vscode-markdownlint|Dav|0.11.0
vscode-eslint|dba|1.4.0
githistory|don|0.2.3
ftp-sync|luk|0.

[2017-10-30 18:50] aeschli commented on #348
_From @dbaeumer on October 26, 2017 19:39_

@alexandrudima do you have an idea why this could happen even if no extension defines the short cut.

@GeorgeHernandez can you check the contribution for each of your extensions to see whether they do define such a short cut. And can you selectively disable ( can be done in the extension viewlet) the extensions to see if we can find the extension that ca

[2017-10-30 18:50] aeschli commented on #348
_From @GeorgeHernandez on October 27, 2017 17:38_

TLDNR: I've isolated it to the "Language Support for Java(TM by Red Hat" extension, but cannot be sure about the "Debugger for Java" extension.

Given [all, debug, java] where:
- all: Enabled status of all extensions except for the Debug and Java extensions.
- debug: Enabled status of the "Debugger for Java" extension.
- java: Enabled status of th

[2017-10-30 18:50] aeschli commented on #348
_From @alexandrudima on October 30, 2017 10:8_

This is indeed caused by `redhat.java`. From their `package.json`:

[code]

---

@GeorgeHernandez  I wonder why `ctrl+alt+u` did not show up when you searched for `alt+u`. Did you use the keybindings UI for searching or did you open the `keybindings.json`. Both should have shown in this case the `ctrl+alt+u` binding when searching for `alt+u`.

[2017-10-30 18:50] aeschli commented on #348
_From @dbaeumer on October 30, 2017 10:8_

@aeschli do you have an idea.

@GeorgeHernandez please file the issue against the vscode java extension GitHub repository.

[2017-10-30 20:32] gorkem commented on #346
Are you using the .jar as a library?

[2017-10-30 22:54] #336 closed

[2017-10-31 04:17] fbricon commented on #336
You can download the most recent `java-<version>.vsix` file containing the fix and install it by following the instructions [here](https://code.visualstudio.com/docs/editor/extension-gallery#_install-from-a-vsix).

[2017-10-31 06:35] ocavue commented on #287
@fbricon Sorry for posting a stupid question. I know little about java and your detailed answer is really helpful. Thanks.

[2017-10-31 15:17] GeorgeHernandez commented on #348
@alexandrudima

I've searched both the keybinding UI and `keybindings.json`:

- A search for `alt+u` turned up nothing useful but several instances of `alt+up`.
- A search for `ctrl+alt+u` turned up nothing useful but 1 instance of `ctrl+alt+up`.

However, Red Hat's `package.json` does indeed have `"key": "ctrl+alt+u",`. I temporarily changed it to `"key": "ctrl+alt+b",`, enabled the Red Hat exten

[2017-10-31 16:32] fbricon commented on #348
I was not aware of the `Ctrl+Alt`/ `Altgr` equivalence. Good to know :-)

PR #349 changes the offending shortcut to `Shift+Alt+u`

[2017-10-31 16:35] GeorgeHernandez commented on #348
Part 1: The workarounds (of either using `'+u` instead of `AltGr+u` or modifying the `package.json` file) are tolerable, now that I understand why `AltGr+u` did not work. However, an uninformed user might find the the dysfunctional `AltGr+u` issue intolerable.

BTW: I see that the Bookmarks extension also has a shortcut with an AltGr trigger: `ctrl+alt+l`, so it's not just Red Hat.

Part 2: I had

[2017-10-31 16:37] #348 closed

[2017-10-31 16:40] GeorgeHernandez commented on #348
@fricon I see that you've changed it from `ctrl+alt+u` to `shift+alt+u`. What a nice community! Thanks!

[2017-10-31 20:12] fbricon opened #351 "Syntax highlighting broken on import containing upper cased letters"
Try creating a java file with a package declaration containing upper cased letters, such as :
`package org.gradle.apiImpl`

Capital letters have a different colour:
<img width="263" alt="screen shot 2017-10-31 at 4 10 54 pm" src="https://user-images.githubusercontent.com/148698/32246734-5379eb80-be56-11e7-9a3e-f997d5d0f875.png">

[2017-10-31 20:14] fbricon commented on #351
Looks like a textmate bundle issue though, the same thing looks good in textmate itself. Maybe caused by a stale bundle in upstream vscode, Although I tested with the lates Insiders build supposedly embedding a newer bundle.

@snjeza can you check please?

[2017-10-31 20:58] snjeza commented on #351
It works properly with Microsoft/vscode#36708

[2017-10-31 22:51] fbricon commented on #277
The new `Force Java compilation` (id: `java.workspace.compile`) command is bound to the `Shift+Alt+b` shortcut

[2017-10-31 22:51] #277 closed

[2017-10-31 22:52] fbricon commented on #277
Thanks @ansyral!

[2017-11-01 02:58] fly1n opened #352 "Autocompletion overwrites following characters"
Autocompletion overwrites following characters

##### Environment
- Operating System: Windows 10 Pro (64 bits)
- JDK version: JDK8_144, JDK8_151, , JDK8_152, OpenJdk8_144
- Visual Studio Code version: 1.17.2
- Java extension version: 0.12.0

##### Steps To Reproduce
1. [step 1] Type "\<Integer\>"
2. [step 2] Put cursor before "\<Integer\>", Type "Array", waiting for autocompletion to show "ArrayLi