[2022-04-27 03:21] zhouxinghong commented on #2434
The server log is all normal, you can create a new gradle multi-module project and try it out. . .
[code]
Another request, could you please do me a favor and ask the VSCode UI team to fix the following UI issue, which I've submitted since 2021 and no one wants to fix it, it's really frustrating. . . Please help to see if it can be resolved in the next milestone. thank you very much!
https://github

[2022-04-27 05:14] Osolemio44 commented on #2435
i have used the Maven panel on VScode this time, and i still have the same problem.

[2022-04-27 05:29] Osolemio44 commented on #2435
It is a very old project and I am not allowed to modify it. Therefore I can't include the toolchain plugin. Is there any other way? All my colleagues use Eclipse to launch the project with a specific version of the jdk configuring from the IDE itself. Is that not possible to do from VSCode? I don't want to have to use Eclipse again as I am very satisfied with VSCode.

[2022-04-27 06:02] CsCherrYY commented on #2434
@zhouxinghong It looks like the format request isn't sent when you save a document. you can check `editor.formatOnSave` to see if it has been set to `true`.

BTW, can you format a document manually? try: ctrl+shift+p -> Format Document

[2022-04-27 07:26] cenggel opened #2437 "Mac OS X after 1.4.0 quick fix "Create local variable" not work"
[provide a description of the issue]

##### Environment
- Operating System: Darwin x64 20.6.0
- JDK version: java version "16.0.1" 2021-04-20
- Visual Studio Code version: Version: 1.66.2 (Universal)
- Java extension version: 1.5.0

after 1.4.0 quick fix  Create local variable not work ,after select "Create local variable" happened  nothing.  1.3.0  worked well.

##### extension log

{
  message:

[2022-04-27 08:50] zhouxinghong commented on #2434
editor.formatOnSave is true, manual formatting is executed normally, but no response is triggered when Ctrl+S is triggered. The same operation works fine for formatting in maven multi-module projects. . .

[2022-04-27 08:58] Osolemio44 commented on #2435
I have been doing tests and from what I see is that both the Maven and Java plugins use the JAVA_HOME variable.
If I set JAVA_HOME with jdk 8, the Java plugin doesn't work because it needs java 11.
If I set JAVA_HOME to jdk 11, my project doesn't compile because it needs Java 8.
And even if it worked, you can't be changing the JAVA_HOME every time you change projects.
From what I see, setting the

[2022-04-27 11:58] mathieufortin01 commented on #1912
TIL theres `Java:Force Java Compilation` which fixes the compilation issues sometimes appearing after some maven commands. Today is a good day.

[2022-04-27 16:36] snjeza commented on #2437
@cenggel could you try lombok 1.18.24? You may want to take a look at https://github.com/redhat-developer/vscode-java/issues/2417#issuecomment-1101910372

[2022-04-27 19:14] sbreakey commented on #220
Does anyone know what the rules it uses to format are? We (may) use checkstyle in future, and I assume the formatting rules could clash?

[2022-04-28 01:08] cenggel commented on #2437
@snjeza thanks . after replace to  lombok 1.18.24 "Create local variable"  works .

[2022-04-28 01:08] #2437 closed

[2022-04-28 01:59] CsCherrYY commented on #2434
@zhouxinghong I still can't reproduce in with the Gradle multiple module sample project https://docs.gradle.org/current/samples/sample_java_modules_multi_project.html. IMO the formatter is not related to the build tool, so I'd like you to check the workspace settings and situations. e.g., is there anything wrong in your project reported by vscode-java? Or a sample project would be best.

for the U

[2022-04-28 03:07] zhouxinghong commented on #2434
thanks for your help!

Gradle for java
[code]
Gradle for java (Language Server)
[code]
![2022-04-28_110612](https://user-images.githubusercontent.com/54253524/165668651-a8a5c30a-657d-4bb5-b54f-24fadf926c74.png)

[2022-04-28 03:12] luangong commented on #1595
I had the same problem, and I’m also using Homebrew-installed OpenJDKs. After some trial and error, finally I found the solution: just point OpenJDK to `/usr/local/opt/openjdk@11/libexec/openjdk.jdk/Contents/Home` instead of `/usr/local/opt/openjdk@11`. So the Java runtime configuration looks like this:

[code]

Note: It’s recommended to point OpenJDK to `/usr/local/opt/openjdk@11` instead of `/us

[2022-04-28 07:28] Artur- opened #2438 ""Create local variable" fails"
##### Environment
- Operating System: macOs 12.3.1 Monterrey
- JDK version: 11
- Visual Studio Code version: 1.66.2
- Java extension version: 1.5.0

##### Steps To Reproduce
1. git clone https://github.com/vaadin/flow.git
2. cd flow
3. code flow-server
4. Open Feature.java
5. Add `foo="";` to the end of the constructor
6. Press cmd+. -> enter to define a local variable

##### Current Result
No cod

[2022-04-28 07:49] Eskibear opened #2439 "Discussion: completion experience for "import java.util.*""
I've seen user complaints about missing "import java.util.*" candidate. But actually we do have this feature implemtend.

Current behavior is, when you directly select a package, it auto appends ".*" behind.
![image](https://user-images.githubusercontent.com/2351748/165702938-356177b0-a1ae-4584-8c87-d37e2c0e1963.png)
select this item "java.util",  it in fact completes "java.util.*":
![image](https

[2022-04-28 13:36] rgrunber commented on #2436
Reproduced as well.

[2022-04-28 18:35] rgrunber commented on #2430
This location serves as a kind of cache for workspace data. When a project is imported, some of the metadata is stored there. Things such as library indexes, some settings, and log files. Without it, project import would take about the same amount of time as the initial import, which is generally a bit slower.

However the location can be used for storage by any extension. If you look in https://c

[2022-04-28 18:42] snjeza commented on #2438
@Artur- I can't reproduce the issue.
Could you set
[code]
![flow](https://user-images.githubusercontent.com/388609/165823911-baab78f9-31eb-4917-8425-c363977a1335.gif)

[2022-04-28 18:44] rgrunber commented on #2429
Is there any way to catch these on validating the setting ? Or is `pattern` not enough to handle every case ?

[2022-04-28 18:50] rgrunber commented on #2217
Closing as more info is needed to diagnose this. Feel free to provide some more info, and then we can definitely have a look.

[2022-04-28 18:50] #2217 closed

[2022-04-28 18:50] #2180 closed, assigned to nobody

[2022-04-28 18:58] rgrunber commented on #2171
Closing this as the issue has been addressed. `java.completion.overwrite` has been removed and we now use `editor.suggest.insertMode`. We also leave it up to the client to toggle between insert/replace edits.

[2022-04-28 18:58] #2171 closed

[2022-04-28 19:31] rgrunber commented on #2168
Closing this as this seems to be working. If the above isn't working for you, feel free to add some more info and maybe we could investigate what's going wrong.

`java.project.referencedLibraries` may also help with more advanced configurations.

[2022-04-28 19:31] #2168 closed

[2022-04-28 19:37] rgrunber commented on #2115
In https://github.com/redhat-developer/vscode-java/issues/2001, we allowed projects to set their own `java.configuration.runtimes` . This allows having different runtimes for a particular Java version across projects. Not exactly what is requested here, but a step in that direction.

[2022-04-28 20:52] rgrunber commented on #2421
So I tried this with something like `"java.jdt.ls.java.home": "/usr/lib/jvm/java-1.8.0-openjdk"`. The extension fails and notifies accordingly that Java 11 is required. The above comments about it working with Java 8 were just if I tried launching JDT-LS purely from commandline (and removed the various `--add-opens`, which require Java 9 at a minimum.

Only possible thing I can think of now is `jd

[2022-04-28 22:31] maxandersen commented on #2421
just fyi, this is failing for me on vscode proper with quarkus qute extensioh installed. no vscodium involved.

the java 8 I'm using is:
[code]

installed using `sdk use java 8.0.322-zulu`

[2022-04-29 03:38] testforstephen commented on #2429
It definitly helps if the client side could provide some validation logic to guard these settings. Also it's better to provide some samples of these settings in the description section.

Currently these url settings accept a file path or a url, that's too flexible and error-prone to configure manually. To be honest, I didn't really know how to properly configure these settings at first.

[2022-04-29 14:32] rgrunber commented on #2419
`EXCEPTION_ACCESS_VIOLATION` is what stands out. A quick search shows it could be a bug in the JVM itself. Maybe even specific to Windows ? https://ugetfix.com/ask/how-to-fix-exception-access-violation-error-on-windows-10/ .

What happens if you try a different JVM ?

[2022-04-29 14:49] rgrunber commented on #2439
(GH formatting kept confusing me because every time you wrote `.*` it was formated as broken italics, without the * :laughing: )

If we add a separate `.*` item, it should be added as a completion item under `java.util.` and **not** under `java.util`. This way, if a user applies the package itself, they'll see it gets completed to include `.*`, and if they type the extra dot, it should be the firs

[2022-04-29 16:46] michaelmior commented on #2416
@snjeza I tried the workaround and had the same problem as @HaraldKorneliussen. Cleaning the workspace directory did not solve the issue for me.

[2022-04-29 23:51] rgrunber commented on #2389
A refactoring ( `Refactor...` menu items or default keybinding `<Ctrl>+<Shift>+R`)  request should be pretty much the same as a regular code action request except the accepted actions are restricted specifically to refactorings :

[code]

Would you be able to go into your command palette after freshly importing the project and activating `Java: Open Java Extension Log File` ? If you could post the

[2022-04-30 18:58] noordawod commented on #634
Seriously... Reopen?!

[2022-04-30 23:29] mozhuanzuojing commented on #2419
@rgrunber I just switched to adoptium Openjdk17, and I guess it will be a while to test.

[2022-05-02 09:05] dgkm commented on #1447
The error message is not clear for this problem and it took us almost few months before we could find this issue on github.

[2022-05-02 16:25] snjeza commented on #1447
Related issue - https://github.com/redhat-developer/vscode-java/issues/2436

[2022-05-03 14:18] orboan commented on #2116
Any updates on this?
Is it possible to work with multiple module-info.java files in one Java project, in VSCode?

[2022-05-03 16:06] SeFeX commented on #1595
This work

[2022-05-03 17:21] Artur- commented on #2438
Setting `"java.jdt.ls.vmargs": "-Xmx3G",` resolves it

[2022-05-03 19:11] #2438 closed

[2022-05-04 05:31] Artur- commented on #2438
Could it be made "large enough" by default?

[2022-05-04 05:38] Artur- commented on #2438
Ok, I did some more digging. Apparently it is not about `Xmx` at all. It seems like I had a global settings file that declared
[code]

So apparently disabling the lombok extension or even uninstalling it does not update `java.jdt.ls.vmargs`

[2022-05-04 07:57] bvedant commented on #796
@fbricon thanks for the update! any chance we could have this feature in _Show Code Actions_ dropdown like it is in IntelliJ, perhaps a toggle to move the feature function to there for those who want it?

[2022-05-05 02:38] Eskibear commented on #2439
(sorry about the broken italics, updated)

I don't like it either. Just bring up the topic to see how everyone else thinks.
The complaints might be from IDEA users because in IDEA they have a explict `.*` item on the list. That makes sense in IDEA because it completes package name section by section.

[2022-05-05 03:16] baincd commented on #2425
I was experiencing this frustrating behavior as well.  I believe it was actually this issue in the spring-boot-tools extension: https://github.com/spring-projects/sts4/issues/750.  That issue was resolved two weeks ago in spring-boot-tools 1.33.0, and I haven't experienced this issue since :crossed_fingers:.

[2022-05-05 03:21] jdneo commented on #2425
Thank you @baincd.

@starklord, could you confirm that the problem is resolved after updating the STS extensions to the latest?

[2022-05-05 07:04] jdneo commented on #2412
I'll try to support the exclusion list for the inlay hint in this month

[2022-05-05 09:15] v-yuyul opened #2441 "Signature help doesn't work properly during code completion in some cases"
##### Environment
- Operating System: Win
- JDK version: 11
- Visual Studio Code version: 1.66.2
- Java extension version: 1.6.0

##### Steps To Reproduce and Current Result
Enable "java.signatureHelp.enabled" > Type `System.out.print` > Select `print(Object obj)`  and press Enter > Show help info of `print(char[] s)`
![image](https://user-images.githubusercontent.com/31497677/166893688-8d9e287d-2

[2022-05-05 09:19] testforstephen commented on #2441
@jdneo for a look.

[2022-05-05 09:31] jdneo commented on #2441
This was discussed in https://github.com/redhat-developer/vscode-java/pull/2426

Currently since we do not record the selected completion item, so the server side is lack of the information to provide a correct signature help when it comes to overload methods.

BTW, this problem can also be observed in 1.5.0, it's not a regression

[2022-05-05 11:36] raulvaldoleiros opened #2443 "Search classes by partial name"
The goal is to search a class by partial name through find symbol.

##### Steps To Reproduce
1. Create a class named UserInfo
2. Find by symbol and type "Info", actual on the command input will be "#Info"

##### Current Result
Doesn't return the UserInfo class

##### Expected Result
UserInfo class available for selection

[2022-05-05 14:23] fbricon commented on #2443
You should be able to do *Info or UInfo

[2022-05-05 15:15] rgrunber commented on #2441
Noticed this as well when reviewing the above issue. At least we now have this issue to track progress.

[2022-05-05 16:19] snjeza commented on #2443
You can try to add the following JDT property:

[code]
See https://github.com/redhat-developer/vscode-java/wiki/Formatter-settings

[2022-05-05 20:48] raulvaldoleiros commented on #2443
Thanks for the suggestion, but it also didn't worked.
I created a file with the content
`org.eclipse.jdt.core.codeComplete.subwordMatch=enabled
org.eclipse.jdt.core/org.eclipse.jdt.core.codeComplete.subwordMatch=enabled
`
And set the java.settings.url property pointing to that file.

[2022-05-05 21:09] snjeza commented on #2443
@raulvaldoleiros could you attach your log - [Enable Logging](https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#enable-logging)

[2022-05-06 08:50] raulvaldoleiros commented on #2443
@snjeza thanks for the help, the files you requested:
[Archive.zip](https://github.com/redhat-developer/vscode-java/files/8638764/Archive.zip)

[2022-05-06 21:36] Dr-Irv commented on #868
For what it's worth, my colleague was having the same problem, and the issue was that the SonarLint extension was causing this problem.  We uninstalled that extension.  Then we had to clone his repo into a new directory, and everything was fine.  His existing workspace/folder with a complex Java project was a mess, most likely due to SonarLint.

[2022-05-07 01:59] Eskibear commented on #868
FYI that a JRE is embedded into this extension for most platforms since v1.2.0. So you can only focus on the JDK/JRE for your projects, and you probably won't see this error again.

See https://github.com/redhat-developer/vscode-java/wiki/JDK-Requirements#setting-the-jdk

[2022-05-07 02:00] Eskibear commented on #868
and setting `java.home` is deprecated in favor of `java.jdt.ls.java.home` (if you are using a universal version or you do want to launch language server with a specific runtime)

[2022-05-07 05:38] tarekahf commented on #754
I need to make some improvements to a JavaBean that is used within a Java Web Application. I cannot have a local copy of the Web Application due to complexity issues. I can open the JavaBean project locally, but I cannot test it unless it is deployed. I am facing a catch-22 situation. I need to find a way to test the improvements locally before deploying the compiled JavaBean. I am thinking to bui

[2022-05-07 13:43] eliassal opened #2445 "Java 11 or more recent is required to run dispalys every time I start VSC"
Since a couple of weekes I started getting an alert as indicated in the title. I downloaded last jdk, pointed VSC config to the new one but still getting the alert (snapshot hereunder).
Here is what I have in my settings.json

`"java.jdt.ls.java.home":"C:\\Program Files\\AdoptOpenJDK\\jdk-11.0.9.101-hotspot\\bin\\java.exe",`

Really don't understand why this alert is popping again and again , can

[2022-05-07 16:09] snjeza commented on #2445
@eliassal You can try

[code]

[2022-05-07 17:13] eliassal commented on #2445
snjeza, your suggestion did not help, always getting the alert

[2022-05-07 18:50] snjeza commented on #2445
Is there C:\Program Files\AdoptOpenJDK\jdk-11.0.9.101-hotspot?

[2022-05-07 19:51] eliassal commented on #2445
Yes of course
![jdk](https://user-images.githubusercontent.com/8447864/167269694-8d688dbe-259a-48eb-9f24-920a2f4ebf75.jpg)

[2022-05-07 21:00] snjeza commented on #2445
could you try to remove the java.jdt.ls.java.home property?

[2022-05-08 07:19] eliassal commented on #2445
Did not help neither. While I was doing this manipulation, I found at the end of the settings.json the following tag which is empty

[code]

I inserted

but also it did not help, then I removed it

[2022-05-08 16:07] snjeza commented on #2445
Could you send your settings.json?
You can also try to reinstall VS Code Java.

[2022-05-09 04:11] Eskibear commented on #754
AFIAK it should work. /cc @jdneo

[2022-05-09 04:59] jdneo commented on #2445
The pop-up is raised by the Sonarlint extension, Suggest: set `sonarlint.ls.javaHome` to point to your JDK11

[2022-05-09 07:40] tarekahf commented on #754
I tried creating a simple dynamic web application and it worked in vscode, but, when I tried adding a Java Bean, it is not working. Check this post for details:
https://stackoverflow.com/q/72159637/4180447

[2022-05-09 07:59] eliassal commented on #2445
Thanks jdneo, I entered the path to the jdk in the settings.json but it did not work, then I entered the path in the settings directly as you can notice in the snapshot , saved and restarted VSC the alert disappeared  but I noticed a new section was created in the settings.json (2nd snapshot)

![sonalrlintDirect](https://user-images.githubusercontent.com/8447864/167365898-884c039c-d5ca-4511-aa4b-e

[2022-05-10 01:24] jdneo commented on #2445
@eliassal The newly added section should be created by the sonarlint extension as well. (At least they are not generated by the Java extension)

If you have any concern about the behavior, maybe you can try to reach to the sonarlint team/repo.

[2022-05-10 09:36] fbricon commented on #2443
I opened https://github.com/microsoft/vscode/issues/149144 upstream

[2022-05-11 08:11] wduminy commented on #112
I had a very similar error on macOS.  It might have started happening after I upgraded VS Code.

What worked for me was to delete this directory:
[code]

[2022-05-11 14:38] rgrunber commented on #2445
Is this safe to close as not-a-bug given that it happens with the Sonarlint extension ? Another thing that might improve the situation is the Sonarlint extension can take advantage of the embedded JRE provided here (for the more popular platforms). See, for example https://github.com/redhat-developer/vscode-microprofile/commit/b6dd413dc4ad628c66790c8f4dbf164ec0cd08c1 .

They already use the Java e

[2022-05-11 20:46] rgrunber commented on #510
As was mentioned a few comments above :

[code]
So the JDKs need to be moved to another location or that location needs to be exposed when the VSCode flatpak is running. The only location that might work without any moving is
`"java.jdt.ls.java.home": "~/.var/app/com.visualstudio.code/data/vscode/extensions/redhat.java-1.6.0/jre/17.0.1-linux-x86_64/"`

On supported platforms, we ship a JDK (17), t

[2022-05-12 00:12] jdneo commented on #2445
Yes, they already considered to adopt the platform specific extensions: https://jira.sonarsource.com/projects/SLVSCODE/issues/SLVSCODE-217?filter=allopenissues

[2022-05-12 00:43] MrYZhou opened #2448 "about vscode extension ,underline error"
VS Code Version: 1.67.0
OS Version: windows_Nt x64 10.0.19043
Language Support for Java(TM) by Red Hat v1.6.0

this problem is that when i want to close the springboot banner by " .bannerMode(Banner.Mode.OFF) " .
ConfigurableApplicationContext context = new SpringApplicationBuilder() .sources(LarryApplication.class) .bannerMode(Banner.Mode.OFF).run(args);

you can jump to the Banner interface ,but

[2022-05-12 01:09] rhystedstone commented on #2122
Also ignores this formatter: [eclipse-formatter.xml](https://gist.githubusercontent.com/rhystedstone/ebf64ad3abab6a382ad0c7f9da42093b/raw/8df63eaa2cc7cc3e2d575eacae62077625948c74/eclipse-formatter.xml)

[2022-05-12 01:27] snjeza commented on #2122
@rhystedstone could you show your settings.json (the java.format.settings.url and java.settings.url preferences)?

[2022-05-12 01:28] snjeza commented on #2122
Related issue: https://github.com/redhat-developer/vscode-java/issues/2429

[2022-05-12 13:28] #2445 closed

[2022-05-12 13:41] #2285 closed

[2022-05-12 14:50] rgrunber commented on #2285
Ok, so we're publishing pre-releases now.

![vscode_java_prerelease](https://user-images.githubusercontent.com/1417342/168101321-79fa464a-fc5b-4570-ad78-76dade723eb3.png)

One thing worth noting, this could exacerbate issues surrounding excessive storage for heavy pre-release users. I'm assuming each new snapshot is getting its own folder :

[code]

[code]

[2022-05-12 18:48] rhystedstone commented on #2122
@snjeza My `java.format.settings.url` points to: `file:///C:/Users/Rhys/Development/language/java/eclipse-formatter.xml`, which is a copy of the one I mentioned earlier.
My `java.settings.url` was originally blank, but I found a workaround for the formatter, which involves getting eclispe to generate the prefs file. So, it's currently set to that file, located at `file:///C:/Users/Rhys/Development

[2022-05-13 02:04] CsCherrYY commented on #2285
@rgrunber Great! As for the storage issues:

- `.vscode/extensions` might not be a problem since VS Code will automatically delete the old folder when auto-updating.
- But the `globalStorage` will not be deleted automatically. IMO we need to discuss some mechanism to clean the old folders (~22MB for each in your sample)

[2022-05-13 02:07] Eskibear commented on #2285
This problem exists for all extensions with pre-release. I suggest that we talk to vscode team first, it would be good if they can do the cleanup things.

[2022-05-13 02:40] snjeza commented on #2122
@rhystedstone Could you try https://github.com/snjeza/vscode-test/raw/master/java-1.6.1.vsix? It includes https://github.com/redhat-developer/vscode-java/pull/2451 and https://github.com/eclipse/eclipse.jdt.ls/pull/2089
You should see an error message if your java.format.settings.url or java.settings.url are not valid.

[2022-05-13 14:34] rgrunber commented on #2448
When you hover over the `Banner` (which has the error), what does it show as the error ? What about in the problems view ? Also, do you have this sample project available somewhere so I can try to reproduce it ?

[2022-05-13 14:47] MrYZhou commented on #2448
thanks,i had dealt it

[2022-05-13 14:47] #2448 closed

[2022-05-13 15:00] rgrunber commented on #2285
We could always add the logic to https://github.com/redhat-developer/vscode-java/blob/72633ab76ea979fc43a7205adf5e2005a5af5388/src/extension.ts#L999 but having it done automatically would be nicer.

One reason for the globalStorage size, is that libraries (eg. jars) that are embedded in other jars (eg. org.eclipse.m2e.maven.indexer embeds a bunch of lucene jars), and need to be added to the classp

[2022-05-13 15:27] rgrunber commented on #157
Closing this issue for now as there have been a lot of updates/improvements to JDK detection. For example we've moved away from find-java-home to jdk-utils ( https://github.com/redhat-developer/vscode-java/pull/2246 ). If this issue persists today, feel free to re-open and we can have a closer look.

[2022-05-13 15:27] #157 closed

[2022-05-13 15:52] rhystedstone commented on #2122
I can confirm that this version does notify me of an invalid URL. However, my current settings do not display the notification until I ammend them to a known invalid path.

[2022-05-13 16:06] rhystedstone commented on #2122
I just tried to use the xml settings file again, but it didn't work.
My steps:
1. Remove the `java.settings.url` setting and reload VSCode
2. Double-check the `java.settings.formatter.url` setting points to the correct formatter (It did)
3. Attempted to format a document which I purposefully changed to something which should be corrected with the formatter (See below)
4. The document formatted, bu

[2022-05-13 16:18] rhystedstone commented on #2122
I just got it working by removing the `java.format.settings.profile` key.
I don't know if there was an invalid character, but without that setting, it works with the xml.

It may be a good idea to also add a warning for an invalid value as it fails too silently.

[2022-05-13 16:21] rhystedstone commented on #2122
This issue can be closed as the original issue is 8 months old, so the formatter has had several different settings.
It's possible that the old formatter file I used was invalid somehow, or an option I implemented was invalid.

[2022-05-13 17:51] snjeza commented on #2122
I don't know if there was an invalid character, but without that setting, it works with the xml.

You should see
[code]
in your log

[2022-05-13 19:00] tommai78101 commented on #2443
@fbricon That issue is closed as a duplicate. Not sure what has become of the current status for this issue right now.

[2022-05-14 00:44] B-M33K commented on #1311
in vscode:
go to settings, search for java , scroll down to "Java › Completion: Favorite Static Members"
click in "edit in settings.json" and delete this peace of code(or comment it in case it doesn't work)
  //"java.addExports": [
        //"javax.swing",
        //"java.awt"
    //],

[2022-05-14 10:16] B-M33K commented on #1147
check this:
https://stackoverflow.com/questions/67823988/exception-in-thread-main-java-lang-unsatisfiedlinkerror-cant-load-library

[2022-05-14 23:19] mozhuanzuojing commented on #2443
For two years, I thought I didn't have this function. When I promoted vscode-Java, it was also a suspected object, which was mistaken for not powerful enough. To sum up, this bug is a big obstacle.

[2022-05-16 00:58] jimtng commented on #588
@fbricon thanks, that solved my problem

[2022-05-16 02:46] CsCherrYY commented on #2285
In this way, will the updating to the M2E 2.0 eliminate all of them or just most of them?

[2022-05-16 05:29] ElapsedSoul opened #2453 "report a error in problem for pom dependency, but the package exists"
[provide a description of the issue]

##### Environment
- Operating System: MacOS
- JDK version: openJDK17
- Visual Studio Code version: 1.67.1 (Universal)
提交: da15b6fd3ef856477bf6f4fb29ba1b7af717770d
- Java extension version: v0.22.4

##### Steps To Reproduce
add "    <dependency>
      <groupId>org.apache.iceberg</groupId>
      <artifactId>iceberg-spark-runtime-3.2_2.12</artifactId>
      <vers

[2022-05-16 12:45] raulvaldoleiros opened #2454 "Add option to force update maven snapshots"
It would be nice if an option to force maven snapshots update., it's available in eclipse and I really miss it.

[2022-05-16 12:46] raulvaldoleiros opened #2455 "Add option to force maven sources download"
It would be nice if an option to force maven sources download is available, for big repositories I don't want to restart the vscode just to force it.

Thanks

[2022-05-16 15:58] snjeza commented on #2454
@raulvaldoleiros you can try to add the following VS Code settings:

[code]

[2022-05-16 16:08] raulvaldoleiros commented on #2454
@snjeza thanks for the quick reply.
I read the documentation about this property, but I'm with one doubt. This property means that every time I open my vscode it will force update all dependencies?

[2022-05-16 16:45] snjeza commented on #2454
It will force update when you call the Update Project action or you change your pom.xml.

[2022-05-16 17:13] rgrunber commented on #2285
It should eliminate some of the ones coming from the maven.indexer bundle. Here are the current contents I see for jars :

[code]

They're grouped by plugin that embeds the jars.

77 (3.0MB) - com.microsoft.java.debug.plugin (extension to JDT-LS)
75 - com.redhat.microprofile.jdt.quarkus (extension to JDT-LS
60 (5.7MB) - org.eclipse.m2e.maven.runtime
59 (5.7MB) - org.eclipse.m2e.maven.indexer
54 (2

[2022-05-16 17:48] rgrunber commented on #2455
This should be the case already since https://github.com/redhat-developer/vscode-java/issues/1664 . It's working for me and I'm not using `java.maven.downloadSources` (this just ensures all sources get downloaded at import). Do you have a sample project for which it isn't working  that can be shared ?

Note, in the past I ran into some issues where if a particular artifact took too long to downloa

[2022-05-16 17:53] snjeza commented on #2453
I can't reproduce the issue.
Do you use a proxy?

[2022-05-16 20:28] rgrunber commented on #2435
With the latest vscode-java on windows 64 bit, we provide our own JDK 17, and it gets used as long as you don't set `java.jdt.ls.java.home`. Looking at your settings, you aren't setting this so it should be used and there should be no issue setting `JAVA_HOME`. Did you get the vscode-java extension from the VS Code Marketplace or from somewhere else ?

I did test with a Maven project and it all se

[2022-05-16 21:08] rgrunber commented on #2158
I tried reproducing as you listed above, but am not able to. When you install the vscode-java extension as a visx, it shouldn't attempt to bind to any ports. If you try to provide a port to bind through `java.jdt.ls.vmargs` it is going to fail because hybrid-mode is the default so it'll launch both syntax+standard servers passing the vmargs to both processes (attempting to bind to same port) :rofl

[2022-05-17 05:23] ElapsedSoul commented on #2453
yes, and I had configured the proxy in vscode setting.

[2022-05-17 05:39] ericsia opened #2456 "Disable block comment formatting still result comment get formated"
So in my profile I already set this
![image](https://user-images.githubusercontent.com/24624808/168732008-dd080650-92ea-4ae3-9fda-1db16b9a9e8f.png)

However when I format the comment suppose I want the line to be like this
[code]
but what happens is, it will become like this:
[code]

[2022-05-17 05:58] CsCherrYY commented on #2456
In your case, you should disable the Javadoc formatting, not the block comment formatting.

Currently, the formatter settings view doesn't provide such configuration, but you can edit the raw config file. You can click **Open Text Editor** button on the top-right corner of this view, find `org.eclipse.jdt.core.formatter.comment.format_javadoc_comments` and set it to `false`.

[2022-05-17 06:07] ydmykr opened #2457 "Is there any way for the terminal used by vscode to recognize the input Greek letters"
This is a problem I saw on stack overflow.
OP have the following code:

`public static void main(String[] args) throws Exception {
    System.setProperty("file.encoding","UTF-8");
    System.out.println("File encoding is " + System.getProperty("file.encoding"));

    Scanner console = new Scanner(new InputStreamReader(System.in, StandardCharsets.UTF_8));
    PrintStream sysout = new PrintStream(Sy

[2022-05-17 07:55] ericsia commented on #2456
@CsCherrYY thanks for your reply, however I need line comment formatting, but I don't want it to format block comment.
Because I use blockcomment primarily for documentation of the purpose of a submodule.

[2022-05-17 10:04] raulvaldoleiros commented on #2454
Thanks.
I would suggest an action to force the update project.
Actually my use case is, in our company the maven repository are private and only accessible through VPN, sometimes I forgot to connect the VPN and in this scenario only in this scenario I want to force the update.
The property you mentioned is doable but not very user friendly 😜

[2022-05-17 10:09] raulvaldoleiros commented on #2455
@rgrunber thanks for the reply.
Actually my use case is, in our company the maven repository are private and only accessible through VPN, sometimes I forgot to connect the VPN and it fails downloading the sources.
In this scenario I want to force the download of the sources, without restarting and clearing the language server 😜
When my VPN is on, everything works fine.

Maybe it is already possibl

[2022-05-17 14:56] snjeza commented on #2453
You may want to take a look at https://github.com/redhat-developer/vscode-java/wiki/Using-a-Proxy
You can also try to add
[code]

[2022-05-17 23:48] rgrunber commented on #2455
I haven't tried it yet, but I wonder if it's as simple as reducing the cache eviction time in [`MavenSourceDownloader`](https://github.com/eclipse/eclipse.jdt.ls/blob/96c309450f80b1c0d6a6df9a481d5f1d9811c220/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/managers/MavenSourceDownloader.java#L47)

[2022-05-18 01:30] ydmykr opened #2458 "<feature request> Can vscode-java provide a function to identify classes with the same attributs"
This is a request coming from stack overflow. OP said the project he used is creating API's from wsdl, so they need to use xjc to generate the classes from the wsdl.  In this process, xjc generate classes with sames attributes and different names.

He wants a extension or maybe a new function to solove it.

He didn't provide a simplest example. Here is the [link](https://stackoverflow.com/question

[2022-05-18 13:01] tonymcneil commented on #1014
For anybody else at the time of writing I've noticed that "java.home" has a comment in the default settings saying:
`// This setting is deprecated, please use 'java.jdt.ls.java.home' instead.`

So I set it as follows in settings.json and it seemed to work:
[code]

I'm using VSCode version:
[code]

[2022-05-18 18:40] dropofwill commented on #1264
Line-terminator seems to cause the same issue, e.g.:

[code]

[2022-05-19 11:00] jdneo commented on #2457
CMD is not the only option as the integrated terminal, actually you can configure it by clicking the + icon.

![image](https://user-images.githubusercontent.com/6193897/169278483-459f9403-c020-4ab0-9745-8864d703c570.png)

[2022-05-20 02:32] sombriks opened #2460 "different values for java.jdt.ls.java.home based on os version"
[provide a description of the issue]

different values for java.jdt.ls.java.home based on os version

##### Environment
- Operating System: fedora 35 x86_64 and mac m1
- JDK version: 11
- Visual Studio Code version: latest (1.67.2)
- Java extension version: latest (1.6.0)

##### Steps To Reproduce
1. opening a java project on fedora is fine
2. opening the same java project on mac m1 complains abou

[2022-05-20 06:25] fourcels opened #2462 "new file snippet generate twice class keyword"
new file snippet generate twice class keyword

##### Environment
- Operating System: macOS 12
- JDK version: 18
- Visual Studio Code version: 1.67.2
- Java extension version: 1.6.0

##### Steps To Reproduce

https://user-images.githubusercontent.com/1042568/169465345-73705cda-2d5a-4d94-8306-b28021d44b3d.mov

[Please attach a sample project reproducing the error]
[Please attach logs](https://github

[2022-05-20 08:39] fbricon commented on #2462
Something's fishy happening around https://github.com/redhat-developer/vscode-java/blob/master/src/fileEventHandler.ts#L111. @jdneo I could be wrong but I don't think this is related to the recent insert/overwrite mode changes.

[2022-05-20 09:24] jdneo commented on #2462
No, it's not related with the insert/overwrite capability. That's released in 1.6.0, but this bug can be reproduced in 1.5.0 on my machine.

It looks like VS Code has some problem when the choice text has space. I can do more experiments and file ticket upstream if necessary.

[2022-05-20 10:31] jdneo commented on #2462
Bug created: https://github.com/microsoft/vscode/issues/150016

[2022-05-20 12:09] angelozerr opened #2463 "Hyperlink support in terminal to open Java type, method, field"
Some command d(ex : mvn quarkus:dev) are launched with the terminal. The terminal could display some stacktrace:

![image](https://user-images.githubusercontent.com/1932211/169524610-87b93b08-684f-4e2a-b7f0-b07acde52514.png)

It should be nice if we could open the Java type, method, field with hyperlink.

It seems that it is doable with `vscode.window.registerTerminalLinkProvider`.

See :
 * vscod

[2022-05-20 12:38] gayanper opened #2464 "Add completion support for multiline comment blocks"
When typing following in a java file

[code]
and pressing enter, I would expect it to be completed as follows.

[code]
which happens in Eclipse.

##### Environment
- Operating System: Any
- JDK version: Any
- Visual Studio Code version: 1.67.2
- Java extension version: 1.6.0

[2022-05-20 13:03] gayanper opened #2465 "javadoc formatting error for some html formattings"
Class.getName() javadoc is not property formatted

##### Environment
- Operating System: Windows
- JDK version: 11
- Visual Studio Code version: 1.67.2
- Java extension version: 1.6.0

##### Steps To Reproduce
2. Hover over Class.getName symbol to read javadoc

##### Current Result
![image](https://user-images.githubusercontent.com/7471994/169533560-d2e0d6ff-e179-463b-8922-c9cbc1ade692.png)

#####

[2022-05-20 15:25] jvleles opened #2466 "Does anyone know how can I remove this ?"
I want to remove this label:
![image](https://user-images.githubusercontent.com/105935324/169560962-aa2e03a0-65b8-4487-99d3-cfdbe9adee4e.png)

[2022-05-20 22:58] mdmiles commented on #2462
I am experiencing the same behavior. If I go to create a class, interface, enum, etc., it ends in the following signatures:
public class class SomeClass {
public class interface SomeInterface {
It apparently is not replacing the default "class" keyword; it is just appending the chosen one to what is already there.

[2022-05-21 00:44] fbricon commented on #2466
In your settings.json:

Defaults to `literals`.

[2022-05-21 03:00] wxw-matt commented on #177
It is a great clue. However, the `srcDirs 'build/generated/sources/annotationProcessor/java/main'` does not work for me.
I just changed a bit to fix it. The following configuration works for me.
Note:

[code]

[2022-05-21 03:43] jdneo commented on #2462
Ok it's originally tracked by https://github.com/microsoft/vscode/issues/148976, and already fixed in the latest VS Code Insider.

I think we can close this ticket and just wait for the next stable release of VS Code.

[2022-05-21 12:01] martinkunc opened #2467 "ctor code snippet in nested class generates invalid constructor"
ctor code snippet used in nested class is generating constructor for encapsulating public class.

##### Environment
- Operating System: Win 11
- JDK version: openjdk 11.0.12 2021-07-20
- Visual Studio Code version: 1.67.2
- Java extension version: v1.6.0

[code]

![invalid-ctor](https://user-images.githubusercontent.com/5441732/169650643-3c89051a-f243-49ac-b398-726da3f4be4d.png)

[2022-05-21 14:35] #2466 closed

[2022-05-21 15:45] Eskibear commented on #2466
Or to set vscode's setting `editor.inlayHints.enabled` to "offUnlessPressed" in case you want to see it in some case.

See https://code.visualstudio.com/updates/v1_67#_toggle-inlay-hints if you are interested in that.

[2022-05-22 13:42] testforstephen commented on #2463
Java Debugger has provided the source jump capability for Java stack trace printed in terminal, but it's only enabled on terminals created by Java Debugger extension. We could consider to relax the restriction and enable it on all terminals.

https://github.com/microsoft/vscode-java-debug/blob/af96069e4cd63190ac1f4413d7a88eab7e0035d0/src/terminalLinkProvider.ts#L18

[2022-05-23 02:42] Eskibear commented on #1264
_(originally reported by @jflorez-planittesting)_

**Environment:**

- VS Code Version: 1.67.0
- Java Extension Pack Version: 0.22.4
- JDK Type & Version: openjdk version "17.0.2" 2022-01-18
- OS Type & Version: macos 12.3.1 (21E258)

**Step to Reproduce:**
create a text block with a json inside it, add a http URL to a JSON value
<img width="471" alt="image" src="https://user-images.githubusercont

[2022-05-23 03:47] #2362 closed

[2022-05-24 01:03] sa-kaw commented on #660
+1

[2022-05-24 01:28] jdneo commented on #2412
Thanks @gruvw

That could be another improvement for the logic here: https://github.com/eclipse/eclipse.jdt.ls/blob/2130d70af2c39cbf7c6da825f89580456361608a/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/handlers/InlayHintVisitor.java#L274

[2022-05-24 01:41] jdneo commented on #1757
This is supported in https://github.com/eclipse/eclipse.jdt.ls/pull/2057. The issue can be closed.

[2022-05-24 01:59] testforstephen commented on #2406
This has been fixed in IntelliCode, closing it.

[2022-05-24 01:59] #2406 closed

[2022-05-24 02:14] testforstephen commented on #1757
This has been supported in [vscode-java@1.6.0](https://github.com/redhat-developer/vscode-java/blob/master/CHANGELOG.md#160-may-5th-2022), closing it.

[2022-05-24 02:14] #1757 closed

[2022-05-24 04:51] jdneo commented on #2414
@rgrunber Will you add that required API at upstream?

[2022-05-24 16:32] rgrunber commented on #2464
It does partially work for both `/*` and `/**`, but for the former it fails because we don't auto-close. I'm not sure where the code is that handles this, but seems it would be on the client side as I'm not seeing any help from the language server to get this working.

![comment-bug](https://user-images.githubusercontent.com/1417342/170086574-222ce8d8-5c23-4278-bee0-d1b5ec7e5262.gif)

[2022-05-24 17:28] snjeza commented on #2464
@rgrunber you may want to take a look at https://github.com/redhat-developer/vscode-java/blob/master/language-configuration.json#L49

[2022-05-24 18:55] rgrunber commented on #2464
Oops, should have been more specific. @snjeza, yes, I'm aware of just adding to the language-configuration.json (and we can probably do that for this) to get the auto-close behaviour. What I'm not sure about is the behaviour of generating `*` on every `enter` key pressed. Do you know where that logic happens ?

[2022-05-24 19:07] snjeza commented on #2464
It happens on every enter key pressed. We could try to use /* not *.
[code]

[2022-05-24 20:52] rgrunber commented on #2464
@snjeza has pointed me to https://github.com/redhat-developer/vscode-java/blob/master/src/extension.ts#L671 . That's the one :)

[2022-05-25 08:22] #1594 closed

[2022-05-25 12:42] razertory commented on #2277
I've install the decompiler and it works  https://marketplace.visualstudio.com/items?itemName=dgileadi.java-decompiler ?

[2022-05-25 13:04] GustavoASC commented on #2277
After configuring settings.json like @joaotesch suggested, I needed to clean the workspace cache with the command:

`Java: Clean Java Language Server Workspace`

[2022-05-26 01:55] rgrunber commented on #2443
In https://github.com/eclipse/eclipse.jdt.ls/issues/2084 , I've implemented wildcard, and qualfied searching. The problem is VS Code won't display any of the returned results :\ Even something like `java.util.arr` doesn't show despite plenty of valid candidates.

I can merge it so that it's at least supported for any other clients but VS Code needs to relax the constraints on what's returned.

[2022-05-26 08:36] chaoren5 commented on #200
jdk verion is different from jre version, just put path first in system enviroment

[2022-05-26 11:10] 1hakusai1 opened #2470 "Some classes are recognized but don't appear in the completion"
##### Environment
- Operating System: Windows 10 Pro 19044.1706 , WSL 2 (Host), AlmaLinux release 8.5 (Container)
- JDK version: java-11-openjdk.x86_64
- Visual Studio Code version: 1.67.2
- Java extension version: v1.6.0

##### Steps To Reproduce
1. Run a container for the development environment. (I have no idea whether this problem occurs only in container or not.)
2. Attach VSCode to the conta

[2022-05-26 19:41] snjeza opened #2471 "VS Code doesn't call shutdown when exiting the standard client"
##### Environment
- Operating System: any
- JDK version: any
- Visual Studio Code version: 1.67.2, code-insiders
- Java extension version: 1.6.0

##### Steps To Reproduce
- open a java project with VS Code
- stop it
- check the standard server log

##### Current Result
shutdown is not called

##### Expected Result
shutdown should be called

[2022-05-26 20:04] rgrunber commented on #2471
How did this regress ?

[2022-05-26 21:13] rgrunber commented on #2471
We've been using 7.1.0-next.5 for some time now (https://github.com/redhat-developer/vscode-java/commit/83eff2123238105925be569af1bb5b9e0d34f276). I almost couldn't believe this regressed in 0.82.0, so I justed tested a 1.6.0 vsix and it shuts everything down as expected immediately. If this change fixes things, I'm fine with merging, but am just curious at the cause of this.

[2022-05-26 21:46] snjeza commented on #2471
Could you attach your standard server log?

[2022-05-26 22:22] BoykoAlex commented on #2405
Circled back to this issue. Here is the Java LS log:
[code]

[2022-05-26 22:29] snjeza commented on #2471
VS Code 1.6.0
- shutdown is not called; Java LS doesn't save the workspace

![shutdown](https://user-images.githubusercontent.com/388609/170589927-abf1ff6f-666c-47ff-9ed8-05458c6693eb.gif)

With the PR:
- shutdown is called; Java LS saves the workspace

![Uploading shutdownpatched.gif…]()

[2022-05-26 22:31] snjeza commented on #2471
With the PR:
- shutdown is called; Java LS saves the workspace

![shutdownpatched](https://user-images.githubusercontent.com/388609/170590267-6b3670d0-e78a-4f8e-8271-f471c8dc541a.gif)

[2022-05-26 22:41] snjeza commented on #2471
I have tested VS Code Java 1.3.0, 1.4.0, 1.5.0 and 1.6.0, VS Code 1.67.2, VS Code Insiders, VS Code 1.65.0, VS Code 1.63.0 All these versions have this issue.
It is possible that the problem has been introduced by the newer VS Code.

[2022-05-26 23:00] rgrunber commented on #2471
I'm able to reproduce. It's an issue. I'm not yet sure why, but if I have the MicroProfile extension installed as well, which also happens to start up, then on shutdown, the Java extension also shuts down with it. However, on its own, the Java extension remains up :\

[2022-05-27 00:43] snjeza commented on #2471
Yes, I can. It works with version 1.62.3+Java 1.40.

[2022-05-27 01:05] #2471 closed

[2022-05-27 02:06] jdneo opened #2473 "Expose 'Update Project' to more places"
Quoting user's feedback:

Add a command to rebuild the project the current active file is part of.  Currently, I have to open the pom file and run "Java: Update Project".  **It would be nice to be able to run that command without having to go open the pom file first**.

a command that brings up a list of projects within the workspace, and **allows me to select which project to update would be nice

[2022-05-27 02:12] Eskibear commented on #2405
@BoykoAlex  The callstack looks similar to a known issue due to broken workspace state. https://github.com/microsoft/vscode-java-pack/issues/954#issuecomment-1119330452

**Workaround**
Can you try clone spring-petclinic into another location and open it. Due to a brand new location, the workspace state should be totally clean then.

/cc @testforstephen @rgrunber Alex now has a concrete case about

[2022-05-27 03:44] testforstephen opened #2474 "Support vscode-languageclient@8.0.1"
Starting from LanguageClient@8.0.1, the `BaseLanguageClient.start()` has been changed to return a promise instead of Dispose, and `onReady()` is removed, they're breaking changes to vscode-java.

https://github.com/microsoft/vscode-languageserver-node/blob/release/client/8.0.1/client/src/common/client.ts#L933

We need to make changes to the client code in vscode-java to support the new behavior.

[2022-05-27 03:45] testforstephen commented on #2471
@snjeza Nice catch! thanks. This might mitigate the issue https://github.com/microsoft/vscode-java-pack/issues/954 as well.

Starting from LanguageClient@8.0.1, the `BaseLanguageClient.start()` has been changed to return a promise instead of Dispose, and `onReady()` is removed, they're breaking changes to vscode-java.

https://github.com/microsoft/vscode-languageserver-node/blob/release/client/8.0

[2022-05-27 05:13] jdneo commented on #2470
Have you tried to remove `com.sun.*` in the setting `java.completion.filteredTypes`?

[2022-05-27 06:58] #2412 closed

[2022-05-27 07:57] testforstephen commented on #2405
The workspace state is saved to a *.snap file, which is large and might not be collected by logs.

[2022-05-27 11:30] raulvaldoleiros commented on #2455
I didn't tried with Clean java language server workspace, but it will trigger a full build in my workspace and I'm trying to avoid it 😛

[2022-05-27 11:38] raulvaldoleiros opened #2475 "Find by symbol don't open maven reference classes"
Try to find a class (find symbols) that is referenced by maven dependencies. The class is found by the symbol search
![image](https://user-images.githubusercontent.com/10415832/170691818-29f608bd-ac47-491b-812e-e1dfa13f2d8f.png)

When I type enter to open the class It doesn't open.
If I go to a class that uses that class and do command+click it will open the class and from now on the search by sym

[2022-05-27 13:33] gustavosdelgado opened #2476 "Quick Fix not working when creating local variable"
Whenever I try to use the _Quick Fix: create local variable_ feature, the extension doesn't respond and I get this error on my Language Support for Java Output Log:

[code]

##### Environment
- Operating System: Remote access to Debian 9 on a Windows 10 host
- JDK version: 11.0.13+8
- Visual Studio Code version: 1.67.2
- Java extension version: 1.6.0

##### Steps To Reproduce
1. Just try to use Qu

[2022-05-27 14:46] BoykoAlex commented on #2405
Yes, having the project in a different folder fixed the issue. I'd be happy to attach `.snap` file but could not find it niether in `$HOME/.vscode` folder nor in the **spring-petclinic** project root folder :-\

[2022-05-27 15:53] rgrunber commented on #2474
Just for reference, we're likely going to need to wait on Theia to support things like TypeHierarchyItem. Currently if we run the extension there, it will fail in the vscode-langaugeclient initialization code. See https://github.com/redhat-developer/vscode-java/pull/2377 .

We can just update that PR when ready.

[2022-05-27 15:58] rgrunber commented on #2471
Just one thing. We aren't running vscode-languageclient 8.0.1. We're still on 7.1.0-next.5. So how does that change affect us now. Did the VS Code platform change something about the extension API after 1.62.3 ?

On a side note, relying on parent process watcher to kill the LS might be the cause of many corrupted workspaces (especially in bigger projects) so fixing things like this could yield a l

[2022-05-27 16:19] rgrunber commented on #2412
It looks like the feature by default is empty, so going forward we may want to collect a list of values to exclude by default. Maybe even just use the `DefaultMethodFilters.txt` from above.

[2022-05-27 16:49] rgrunber commented on #2405
As @testforstephen mentioned in https://github.com/redhat-developer/vscode-java/issues/2471#issuecomment-1139250689, this might be related to the shutdown bug. I filed a bug in vscode-pde where it seemed to corrupt my workspace and prevent a successful startup.

If you're able to reproduce, it would be interesting if you could watch the contents of the server logs on shutdown before the problem ha

[2022-05-27 18:16] snjeza commented on #2476
@gustavosdelgado Could you try to update your lombok version. See https://github.com/redhat-developer/vscode-java/issues/2411#issuecomment-1107710887

[2022-05-27 19:10] gustavosdelgado commented on #2476
@snjeza I'm really thankful for your response, but as I'm in an enterprise environment, I'm not allowed to use external unofficial JARs. I hope you understand me.

is there any other solutions that you by chance are aware of?

[2022-05-27 19:34] snjeza commented on #2476
@gustavosdelgado you can try to update your lombok to https://projectlombok.org/downloads/lombok.jar

[2022-05-27 20:51] rgrunber commented on #2454
What you suggest could potentially be done, although it might end up doing very little for other project types.

The way it currently works is at the command : https://github.com/redhat-developer/vscode-java/blob/01d07b9aaa4ae3375a2927042708a62c856bc384/src/standardLanguageClient.ts#L311

This sends a command to the language server at
https://github.com/redhat-developer/vscode-java/blob/01d07b9aaa

[2022-05-27 20:56] #2462 closed

[2022-05-28 00:18] rgrunber commented on #2315
Do you have the sample project that was causing these errors ?

The redhat.java errors I've seen before and shouldn't cause the extension host to crash, though maybe we can catch the cancellation nicely. See https://github.com/redhat-developer/vscode-java/issues/1976 for more on that.

[2022-05-28 00:26] rgrunber commented on #2313
@Eskibear , we can't yet recover from failed launch of embedded JRE due to https://github.com/microsoft/vscode-languageserver-node/issues/688 right ? If that ever gets resolved, do you see us automatically attempting to use `java.jdt.ls.java.home` ? If not we can close this since at least there is a workaround. Otherwise, we can keep it open.

[2022-05-28 00:37] rgrunber commented on #2388
I think it might be interesting to have some kind of convention that automatically ignores unused variables. If there were enough of a demand for this, it could be done. Prefixing the variable with an underscore (eg. `_i`) seems to be common to make it clear it isn't used.

If you don't want to be informed of any unused varaibles, you can also set `java.settings.url` to some file, and make sure it

[2022-05-28 00:56] rgrunber commented on #2458
Such a detection mechanism could be done. It would be pretty specific, but the situation might be a good way to inform the user that pulling the member(s) up to some inherited class is possible. I would say it should be done in upstream JDT and then we could probably implement it in JDT-LS

[2022-05-28 01:13] rgrunber commented on #2328
The logs would seem to show this is for the standard language server, so the fact that no errors are shown would imply they have resolved. Does completion in the file work ? If you search for workspace symbols (`<ctrl>+<shift>+t`), are you able to locate any of the types like `Projectile` ?

Is the project publicly available somewhere to test ?

[2022-05-28 01:17] rgrunber commented on #2460
I would track https://github.com/microsoft/vscode/issues/5595 as this seems to be what you want. If I'm wrong feel free to re-open.

[2022-05-28 01:17] #2460 closed

[2022-05-28 01:28] rgrunber commented on #2321
The thumbs down beside the Java status bar item (bottom right) would imply the project import failed.

When the project is in that state select `Java: Open All Log Files` from the comand palette. Do you see any errors ? Are you able to post the contents ?

[2022-05-28 01:33] rgrunber commented on #2385
What happens if you remove `/media/user/progs/apps/linux64/vscode/data/user-data/User/workspaceStorage/cde71673b983c4eb779005d3a8ee6a2e/` and try the same thing again (ie. loading the project, maybe cleaning the workspace, etc.) ? Does the problem still occur ?

[2022-05-28 01:47] #2429 closed

[2022-05-28 01:48] snjeza commented on #2385
Related issue - https://github.com/redhat-developer/vscode-java/issues/2471

[2022-05-28 01:56] rgrunber commented on #2348
It might be possible to create a setting for this at https://github.com/redhat-developer/vscode-java/blob/01d07b9aaa4ae3375a2927042708a62c856bc384/src/javaServerStarter.ts#L30 .

[2022-05-28 02:11] rgrunber commented on #1792
We can definitely customize these https://github.com/eclipse/eclipse.jdt.ls/blob/c7b80fcefa0b2182f6fe546ba9c0641570c96211/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/preferences/CodeTemplatePreferences.java#L176

[2022-05-28 06:15] Nightenom commented on #2385
Obviously I can achieve cleaning by removing that directory, although the issue remains even on fresh new setup.

Seems true, will wait for update

[2022-05-28 08:45] 1hakusai1 commented on #2470
Thanks!! It works for me.

[2022-05-28 15:04] Phanotak opened #2477 "Extension issue"
Receiving error message
"The Language Support for Java server crashed 5 times in the last 3 minutes. The server will not be restarted."
when opening vscode via terminal.

- Issue Type: `Bug`
- Extension Name: `java`
- Extension Version: `1.6.0`
- OS Version: `Linux x64 5.13.0-44-generic`
- VS Code version: `1.67.2`

:warning: We have written the needed data into your clipboard. Please paste! :warn

[2022-05-28 15:11] #2477 closed

[2022-05-28 18:10] snjeza commented on #2385
@Nightenom Could you, please, test with https://github.com/snjeza/vscode-test/raw/master/java-1.6.7.vsix

[2022-05-29 11:38] rhystedstone commented on #2328
I am unable to reproduce this issue as the example given above is heavily outdated.
However, this issue still occurs consistently.

I'll reply once it occurs again and try my best to provide the example in full.

[2022-05-29 13:01] rhystedstone opened #2478 "Class-type suggestions do not overwrite existing class-types."
When creating a new Java class, if you select a suggestion for class type, such as "interface", the original "class" class-type will not be overwritten - instead, the new class-type will be appended.

##### Environment
- Operating System: Windows 11 Pro (10.0.22000)
- JDK version: OpenJDK Temurin-17.0.1+12)
- Visual Studio Code version: v1.67.2
- Java extension version: v1.6.1

##### Steps To Repr

[2022-05-29 14:42] testforstephen commented on #2471
The stop method change doesn't change any LSP feature behavior, I don't think VS Code platform has updated its extension API for this. The language client is owned by each extension, and its start() and stop() is called by extension itself. If vscode-java stays at 7.1.0-next.5, we don't need to deal with start() breaking now.

I remember we had an idea to call SaveManager manually when we shutdown

[2022-05-30 01:02] jdneo commented on #2478
Should be the same as https://github.com/redhat-developer/vscode-java/issues/2462.

This is a VS Code bug and will be fixed in next stable release. Or you can use Insider VS Code for now as a workaround.

[2022-05-30 01:17] testforstephen commented on #2470
@1hakusai1 thank you for verification. I'm closing it.

[2022-05-30 01:17] #2470 closed

[2022-05-30 01:56] Eskibear opened #2479 "To get the effective value for '[java]', provide the URI of a resource or 'null' for any resource."
A warning in `Log (Extension Host)`

I assume that, adding `null` as a second parameter would fix the warning and maintain the same behavior.

https://github.com/redhat-developer/vscode-java/blob/01d07b9aaa4ae3375a2927042708a62c856bc384/src/settings.ts#L119

[2022-05-30 02:11] Eskibear opened #2480 "TypeError: s.logFailedRequest is not a function"
Below error randomly occurs.

[code]

Related code:

https://github.com/redhat-developer/vscode-java/blob/01d07b9aaa4ae3375a2927042708a62c856bc384/src/extension.ts#L310

`LanguageClient` has no method `logFailedRequest`, not sure why it's called here... and because client is declared as `any` type, it passes TS compilation. BTW, we should avoid using `any` type unless we have to, then such error w

[2022-05-30 02:13] Eskibear opened #2481 "TypeError: Cannot read properties of undefined (reading 'sendRequest')"
Below error randomly occurs:

[code]

There are lots of places that `client.sendRequest` is called. NPE somewhere I guess.

[2022-05-30 05:57] kmumahesh commented on #640
[https://user-images.githubusercontent.com/65785/43784301-72c87018-9a6c-11e8-8ddb-1a9349638761.gif](url)

I'm facing the same issue as shown in the gif here. I'm not able to record my VSCode window for some reason, hence reusing this.

I'm on VSCode 1.67.2 on Windows 10. "Rename Symbol" of a class does not rename the file name.
Language Support for Java(TM) by Red Hat - v1.6.0
Extension Pack for J

[2022-05-30 11:05] slezhnin opened #2483 "Add formatter options to format parameters with new lines"
I'd like my code to be formatted with new lines for annotation, constructor or method call or declaration with multiple parameters.

For instance:

[code]

Current formatter makes a one-liner like this:

[code]

So the formatter should insert new line after the opening brace and comma and before the closing brace.

##### Environment

- Operating System: MacOs Monterey 12.3
- JDK version: openjdk v

[2022-05-30 17:27] BoykoAlex commented on #2405
[jdt-log.zip](https://github.com/redhat-developer/vscode-java/files/8799970/jdt-log.zip)

[2022-05-30 18:30] #2464 closed

[2022-05-30 21:46] rgrunber commented on #2405
I think the above logs just match your post from a few days ago.

`!MESSAGE The workspace exited with unsaved changes in the previous session; refreshing workspace to recover changes.`

I think we need to try petclinic or some project and find a way to reproduce the corruption. My best guess is performing some kind of build/rebuild operation and issuing a SIGKILL to the JDT-LS process. If we can r

[2022-05-31 00:10] gamodg opened #2485 "VSCode fails to load Java Project if a config class with same name exists in test directory"
My project structure is like this
src
  main
    java
     config
       MongoConfig
  test
    java
     config
       MongoConfig -- Disable transactions in test profile

##### Environment
- Operating System: Windows 10
- JDK version: 11
- Visual Studio Code version:  1.67.2
- Java extension version: v1.6.0

##### Steps To Reproduce
1. Create a Spring Project
2. Add a Spring configuration with n

[2022-05-31 00:23] rhystedstone commented on #2478
Thanks - I didn't think of it being a snippet, so I didn't search that.

[2022-05-31 00:23] #2478 closed

[2022-05-31 10:03] ionutiova opened #2487 "Call Hierarchy is not working"
![Capture](https://user-images.githubusercontent.com/16560420/171148749-e3217574-8f07-40ac-9a42-2cc9fe1788cd.PNG)
Issue Type: <b>Bug</b>

Call Hierarchy is not working for java, all the callers are about "new Class" constructor, instead of the method needed.

Extension version: 1.6.0
VS Code version: Code 1.67.2 (c3511e6c69bb39013c4a4b7b9566ec1ca73fc4d5, 2022-05-17T18:15:52.058Z)
OS version: Windo

[2022-05-31 13:17] testforstephen opened #2488 "ParentProcessWatcher is not working properly on macOS"
OS: macOS Catalina
vscode-java: 1.6.0

Open a Java project in VS Code, wait for the projects to be imported, and then click `x` button to close VS Code Window. Java extension is supposed to detect parent process exit and shutdown itself. Actually the log shows the ParentProcessWatcher didn't work.

[code]

[2022-05-31 14:15] rgrunber commented on #649
We've had call & type hierarchy support for some time now so I'll close this issue. Method inheritance hierarchy would be a great addition, which is also very convenient.

[2022-05-31 14:15] #649 closed

[2022-05-31 15:03] rgrunber commented on #2483
You could try what's referenced in https://github.com/eclipse/eclipse.jdt.ls/issues/1717#issuecomment-895620241 . There are many different formatting options supported.

I found that I needed to set it to `org.eclipse.jdt.core.formatter.alignment_for_arguments_in_annotation=49` (instead of 48) to force the setting. Otherwise it's optional.

You could also create your own formatter as described in

[2022-06-01 14:16] testforstephen commented on #2488
An alternative approach is to use JDK ProcessHandle API. It supports getting a ProcessHandle from a pid, and listening at its exit event via `ProcessHandle.onExit()`.

[2022-06-01 20:51] Red-S2 opened #2491 "Call Hirachy searches wrong variable"
If multipe variables are declared in one line, Peek>Call Hierachry will look for first Variable decalred in that line

##### Environment
- Operating System: fedora 36
- JDK version: 17
- Visual Studio Code version: latest
- Java extension version: 1.7.0

##### Steps To Reproduce
1. declare mutiple variables in one line
2.  right click the second one
3. Peek>Call Hierarchy

Test yourself:

      pu

[2022-06-02 05:22] Eskibear commented on #1062
See https://github.com/redhat-developer/vscode-java/wiki/JDK-Requirements#setting-the-jdk

We have already embedd JRE per platform since v1.2.0. No need to configure java home for language server now. Shall we close this one?

[2022-06-02 05:23] Eskibear commented on #2278
fixed since v1.3.0, shall we close this one?

[2022-06-02 05:55] Eskibear commented on #2313
For the moment, language client doesn't report exit code of server. So we cannot accurately take followup actions based on exit code. AFAIK, technically if we want to restart server with a different executable, maybe [ClientOption.ErrorHandler](https://github.com/redhat-developer/vscode-java/blob/6ec891f313d2ee30f754c80914e9a7e618b942d9/src/extension.ts#L40-L81) can do the trick.

No. `java.jdt.ls

[2022-06-02 06:29] gablex commented on #1062
Yes, this should be closed

[2022-06-02 20:12] rgrunber commented on #2491
I'm not able to reproduce this with the sample code. Those are local variables and they shouldn't trigger call hierarchy. In fact it looks like they just try to compute the call hierarchy for the method declaration containing them (main).

Is there something I'm missing here ?

[2022-06-03 09:59] Nightenom commented on #2385
Seems to be fixed at 1.7.0 which contains previously mentioned fix

[2022-06-03 09:59] #2385 closed

[2022-06-04 20:58] youssifessam2323 commented on #1739
I am having the same issue as the IntelliSense, and the build process is very slow

[2022-06-05 09:05] testforstephen opened #2492 "Add filters to "References" feature"
Feature request from user:

"For references (searching, peeking, code lens), it would be great if there were a way to enable/disable including import statements (seeing references in import statements are rarely useful), and enable/disable Test classes (seeing Test class references is only useful sometimes)."

[2022-06-05 09:48] testforstephen commented on #2492
Duplicates with https://github.com/redhat-developer/vscode-java/issues/2018

[2022-06-05 09:48] #2492 closed

[2022-06-06 06:06] Eskibear opened #2493 "language status item keeps refreshing"
Open a new Maven project, language status item keeps refreshing while it's downloading dependencies. So it's almost impossible to click "show build status" insider the hovering box at the stage.

https://user-images.githubusercontent.com/2351748/172104348-8cbe87e1-3ae8-49a0-8823-6c7bb1bc6c15.mp4

[2022-06-06 06:06] Eskibear commented on #2493
@CsCherrYY  fyi

[2022-06-06 08:37] CsCherrYY commented on #2493
The reason here is there are multiple duplicate requests to change the status of the language server. one way to resolve this issue is to add a guard to set the status. e.g., if the current status is busy, we will not try to set the busy status again.

[2022-06-07 02:56] liudonghua123 opened #2496 "vscode create maven project result in Interactive mode, no response!"
[provide a description of the issue]

##### Environment
- Operating System: Microsoft Windows [Version 10.0.22000.708]
- JDK version: java version "17" 2021-09-14 LTS
- Visual Studio Code version: 1.67.2
- Java extension version: Maven for Java v0.35.2

##### Steps To Reproduce
1. Press Ctrl+Shift+P, and select Create Java Project, Maven, archetype-quickstart-jdk8, filling the project info
2. Wait

[2022-06-07 03:39] snjeza commented on #2496
@liudonghua123  it's an issue with the vscode-maven extension. You can create a new issue at https://github.com/microsoft/vscode-maven/issues.

[2022-06-07 04:22] liudonghua123 commented on #2496
@snjeza Thanks! 😄 I close this issue now.

[2022-06-07 13:56] #2496 closed

[2022-06-08 01:18] jdneo opened #2497 "Constructor parameters are not added when completing on anonymous class creation"
[provide a description of the issue]

##### Environment
Version: 1.67.2 (user setup)
Commit: c3511e6c69bb39013c4a4b7b9566ec1ca73fc4d5
Date: 2022-05-17T18:15:52.058Z
Electron: 17.4.1
Chromium: 98.0.4758.141
Node.js: 16.13.0
V8: 9.8.177.13-electron.0
OS: Windows_NT x64 10.0.22000
- Java extension version: 1.7.0

##### Current Result

https://user-images.githubusercontent.com/6193897/172510567-f44741

[2022-06-08 14:23] digulla commented on #1912
There is a workaround if you can change your POM:

    <properties>
        <target.dir>target</target.dir>
    </properties>

    <build>
        <directory>${basedir}/${target.dir}</directory>
        <outputDirectory>${basedir}/${target.dir}/classes</outputDirectory>
        <testOutputDirectory>${basedir}/${target.dir}/test-classes</testOutputDirectory>
    </build>

    <profiles>

        <p

[2022-06-08 16:04] datho7561 opened #2498 "Inlay hints in lambdas"
Parameter inlay hints don't appear to work within a lambda function.

##### Environment
- Operating System: RHEL 8
- JDK version: Temurin 11
- Visual Studio Code version: 1.67.2
- Java extension version: v1.7.0

##### Steps To Reproduce
For the following code snippet, I expect an inlay hint for the `message` parameter to the `consume` method, to be consistent with the other inlay hints.

I have `"

[2022-06-08 19:17] clembo590 opened #2499 "impossible to launch test from vscode"
##### Environment
- Operating System: macos 12.0.1
- JDK version: 11
- Visual Studio Code version: 1.67.2
- Java extension version: java extension pack v0.23.0

##### Steps To Reproduce
I have created a public repo so that the issue is easily reproducible:

step1:  clone this repo:
[code]
step2: run `mvn clean install`

step 3: "import the project in vscode"
open `RoleTypeTest.java` and try to exe

[2022-06-09 06:51] jdneo commented on #2498
What's the parameter's name of `MessageConsumer#consume()`? Is it named `message` as well?

[2022-06-09 07:03] jdneo commented on #2499
That's because the class `RoleTypeTest` is put under `src/main/java`, which is not the place to put tests.

![image](https://user-images.githubusercontent.com/6193897/172784883-0eb89008-fc18-4b9e-970d-3265f5edb292.png)

To provide more information, [Maven has default paths to put source code and test code](https://maven.apache.org/guides/introduction/introduction-to-the-standard-directory-layout.h

[2022-06-09 11:45] nsltharaka opened #2500 "javaDoc is not showing on hover (or ctrl+space)"
Issue Type: <b>Bug</b>

Not sure this is a problem in LSJR or intellicode. this is the exact problem I have.
https://github.com/MicrosoftDocs/intellicode/issues/263

Extension version: 1.8.2022060204
VS Code version: Code 1.67.2 (c3511e6c69bb39013c4a4b7b9566ec1ca73fc4d5, 2022-05-17T18:23:40.286Z)
OS version: Linux x64 5.4.0-117-generic
Restricted Mode: No

<details>
<summary>System Info</summary>

[2022-06-09 11:54] #2500 closed

[2022-06-09 12:50] datho7561 commented on #2498
Oops. My bad. Yes, the parameter is named `message` as well. I didn't realize that would mean the hint doesn't get displayed, but that makes sense. When I rename the lambda parameter to something other than `message`, the hint appears.

[2022-06-09 12:50] #2498 closed

[2022-06-09 15:41] coltongoates commented on #2104
I'm also anxiously awaiting this feature. How is feature work prioritized? Can we vote somewhere?

[2022-06-09 16:30] nsltharaka commented on #2500
The problem was with my java installation. I installed JDK from apt.
solved this by downloading JDK binaries from [https://jdk.java.net/](OpenJDK) and setting env variables to the downloaded JDK bin.

[2022-06-09 20:34] tristan957 commented on #2481
I am seeing the same issue. Pulled these logs:

[code]

[2022-06-10 06:01] Eskibear opened #2501 "TypeError: Cannot read properties of undefined (reading 'stop')"
version: v1.8.2022060904-win32-x64

[code]

content of the corresponding location:
[code]

it's webpack-ed, probably somewhere related to `onDidServerModeChange`, client is undefined.

[2022-06-10 06:59] Eskibear commented on #2501
Looks like it's below line. Not sure if it's because I'm in Extension Development Host mode. Shall we add null check here for the client?

https://github.com/redhat-developer/vscode-java/blob/4d954f70dd46aafd219245bf8e38c361492dfbfc/src/extension.ts#L430

[2022-06-10 10:32] boteomap2 opened #2502 "toString Generator shows fields in wrong order"
##### Environment
- Operating System: Windows 10
- JDK version: 17
- Visual Studio Code version: 1.68.0
- Java extension version: 0.23.0

toString Generator shows fields in the wrong order leading to code generated in the wrong order too.
![image](https://user-images.githubusercontent.com/87257421/173046424-9a47fdf7-4454-4f4c-9a70-c8ff4ba9f4bd.png)

Expected result: fields show in correct order li

[2022-06-10 12:49] jdneo opened #2503 "TypeError: Cannot read properties of undefined (reading 'stop')"
[provide a description of the issue]

##### Environment
Version: 1.68.0 (user setup)
Commit: 4af164ea3a06f701fe3e89a2bcbb421d2026b68f
Date: 2022-06-08T11:44:16.822Z
Electron: 17.4.7
Chromium: 98.0.4758.141
Node.js: 16.13.0
V8: 9.8.177.13-electron.0
OS: Windows_NT x64 10.0.22000
- Java extension version: 1.7.0

Sometimes, after Java extension activated, I'll see `TypeError: Cannot read properties o

[2022-06-10 12:51] jdneo commented on #2502
@CsCherrYY Looks like another ux related with code action. Guess you might be interested with this. :)

[2022-06-10 14:07] #2488 closed

[2022-06-10 17:45] tigerinus opened #2504 "failed to run samples/webflux-websocket under Spring GraphQL project"
See https://github.com/spring-projects/spring-graphql/issues/408 - Thought it's a Spring GraphQL problem, but turns out to be a VSCode Java problem. Running the sample project in command prompt works fine.

##### Environment
- Operating System: Debian (WSL)
- JDK version: JDK17
- Visual Studio Code version:

[code]
- Java extension version: v0.23.0

##### Steps To Reproduce
Steps:

[code]

Wait fo

[2022-06-13 01:52] ydmykr opened #2505 "Is there a way to create Multi-Module Maven in vscode"
I read an [article](https://www.codejava.net/ides/intellij/create-multi-module-maven-project-intellij) about the multi-module Maven project on IDE.

I tried it on vscode but I faied when I want to creat a maven project in a maven project.

And I get the following error report.

`[INFO] BUILD FAILURE
[INFO] ------------------------------------------------------------------------

[INFO] Total time:

[2022-06-13 02:26] snjeza commented on #2505
@ydmykr The create maven project feature is a part of the vscode-maven extension. You can create a new issue at https://github.com/microsoft/vscode-maven/issues.

[2022-06-13 02:29] #2505 closed

[2022-06-13 07:10] #2503 closed

[2022-06-13 13:53] dgerhardt opened #2507 "Use of SERVER_PORT for the JDT LS is unexpected and inconvenient in a Devcontainer environment"
When the `SERVER_PORT` is set for the container environment (e.g. through a `docker-compose.yml`), the extension uses it to bind the JDT language server. Since `SERVER_PORT` is commonly used (e.g. Spring applications), this can cause conflicts (the application cannot start because the port is already bound). Furthermore, changing the port causes issues with the extension.

##### Environment
- Oper

[2022-06-14 02:55] jdneo commented on #2507
Makes sense to me.

Maybe we can change the line here: https://github.com/redhat-developer/vscode-java/blob/9b6046eecc65fd47507f309a3ccc9add45c6d3be/src/standardLanguageClient.ts#L82

to

`const port = process.env['JDTLS_SERVER_PORT'] || process.env['SERVER_PORT'];` ?

I'm thinking any possibility of introducing breaking by doing this, seems safe so far.

[2022-06-14 03:10] jdneo commented on #2504
Yes I can observe the same error when running `SampleApplication` in `webflux-websocket`.

@CsCherrYY Let's add this project into the test projects and see what's the gap.

[2022-06-14 07:24] dgerhardt commented on #2507
Would `process.env['JDTLS_SERVER_PORT'] ?? process.env['SERVER_PORT']` work here? This way `JDTLS_SERVER_PORT=` could be used to ignore `SERVER_PORT` and revert to the default behavior.

It might also be worth to consider deprecating `SERVER_PORT` in favor of a new `JDTLS_SERVER_PORT` variable and warn the user that `SERVER_PORT` from the environment is used. In general, I would expect extensions

[2022-06-14 07:24] jdneo commented on #2501
dup with https://github.com/redhat-developer/vscode-java/issues/2503. It should be fixed in https://github.com/redhat-developer/vscode-java/pull/2506

[2022-06-14 07:37] Eskibear commented on #2501
That makes sense. I'm closing it.

[2022-06-14 11:52] jdneo commented on #503
Closed as fixed.

[2022-06-14 11:52] #503 closed

[2022-06-14 11:55] #2279 closed

[2022-06-14 20:03] #2433 closed

[2022-06-15 01:02] jdneo commented on #2485
Could you share a sample project for this issue?

[2022-06-15 01:06] jdneo commented on #2475
I think it's because the first time when you try to open the class, the source jar is not downloaded yet.

When you go to the definition via `command+click`, a source downloading job is kicked off. After the source is available, you can view it via symbol search.

You can enable source downloading jobs during import process via the setting `java.maven.downloadSources`.

[2022-06-15 05:32] Eskibear opened #2509 "rewrite extension.ts with async/await instead of then/catch"
Now we have a more complicated `extension.ts` than before. I find there're lots of nested then/catch blocks with various callbacks, making the execution order a little bit hard to follow. Maybe we can use async/await style for better readability and clearer flow. What do you think?

[2022-06-15 07:03] jdneo opened #2510 "Expose the build command to more places"
Below are some feedbacks from user surveys:

- there no build and run feature in a click like netbeans.
- Add a command to rebuild the project the current active file is part of.
- "I really like *editing* in VS Code but find it not as powerful as tools like Eclipse for build and debug. "
- The burden I got is there was not shortcut for compile java code, it would be awesome if we had it."
- For a

[2022-06-15 07:06] jdneo commented on #2473
Expose update project action to more places (for example, can be invoked in Java Project explorer, Maven explorer, Gradle explorer)
Allow users to select projects to update, and not limit the trigger files to pom and gradle files. (as long as the language server can find the belonging project with the uri string).

[2022-06-15 09:24] raulvaldoleiros commented on #2475
@jdneo Thanks for the reply.
I applied the settings and tried (without restarting vscode) with other class and it worked. Then I restarted vscode and it started download all the sources in my dependencies (took forever) 😟

My impression is that setting works as workaround but not as a definitive solution, vscode should download the specific java source when I try to open based on find by symbol in

[2022-06-15 12:20] jdneo commented on #2475
BTW, just one more question. When you say `When I type enter to open the class It doesn't open.`, does that mean nothing happens, or it opens a file which in the header says `Failed to get sources. Instead, stub sources have been generated by the disassembler....`?

[2022-06-15 14:02] rgrunber commented on #2473
As discussed, for the  labeling of the action, maybe `Update Project Configuration` makes more sense. `Update Configuration` (if you feel "Project" is implied by the context ?

The goal is to make it clear that this isn't an action you need to perform unless a configuration change to build files has been made.

[2022-06-15 14:04] naris opened #2511 ".classpath keeps changing to Java 1.8, not what is in pom.xml (11)"
I have a project that was generated by JHipster that has always used Java 11, which is specified in the POM.
[code]

However, every time .classpath is generated it specifies Java 1.8:
[code]

Then I have manually change it to java 11:
[code]

This is similar to this issue [.classpath file is not updated with new JDK version #1748](https://github.com/redhat-developer/vscode-java/issues/1748) where

[2022-06-15 14:18] fbricon commented on #2511
please attach a sample project

[2022-06-15 16:27] rgrunber commented on #895
@testforstephen can this be closed ? Doesn't `Update Project" handle this now ? For a Maven project, this seems to be working with `"java.configuration.updateBuildConfiguration": "automatic"` (though I believe the default is `interactive`). For an invisible project adding a jar to the library folder(s) also works.

[2022-06-15 16:31] rgrunber commented on #1850
This has come up again as a request so perhaps we should prioritize it in the future. Not only for the Java home location, but even for things like the vmargs settings (eg. lombok configuration).

Note that with the embedded JRE, `java.home` is deprecated and the new property is `java.jdt.ls.java.home`.

[2022-06-15 16:42] sofiaponteb commented on #1140
I tried this on windows and it worked when I replaced the path  "\path\to\vscode-java.prefs"  with "\\path\\to\\vscode-java.prefs"

[2022-06-15 16:59] rgrunber commented on #2313
Not this exact issue, but we're looking at the reverse of this (`java.jdt.ls.java.home` doesn't meet the requirements, so fall back to the embedded JRE) on https://github.com/redhat-developer/vscode-java/pull/2512 .

[2022-06-16 01:12] jdneo commented on #2473
Yes, the current `Update Project` seems not clearly infers the meaning of the command. `Update Project Configuration` can be a candidate. (Only one concern: I'm not quite sure if users can connect the `project configuration` with the `build files`, will they think it's some other kind of configurations?)

----

By the way, I have some new findings:

### Auto Update

M2E does have the auto update f

[2022-06-16 07:35] raulvaldoleiros commented on #2475
Maybe this was the real fix: https://github.com/eclipse/eclipse.jdt.ls/issues/2087

What do you think?

[2022-06-16 08:05] jdneo commented on #2475
That fix should be contained in the latest redhat.java extension. Are you still encountering this issue with the latest version?

[2022-06-16 21:24] rgrunber commented on #2414
JDT Core : https://github.com/eclipse-jdt/eclipse.jdt.core/compare/master...rgrunber:param-names-api
JDT UI : https://github.com/eclipse-jdt/eclipse.jdt.ui/compare/master...rgrunber:param-names-records

The JDT Core change is all that's needed to expose the necessary API. We can probably write the same code as in JDT UI.

![param-names-hints-records-fix](https://user-images.githubusercontent.com/1

[2022-06-17 02:22] darchangels13 commented on #634
OH look, it's _still_ a thing.

[2022-06-17 07:12] clembo590 commented on #2499
Hello. Thank you for your answer. No the issue is not solved.
If yo look at my original code and run `mvn clean install` you will see that the test is executed correctly.
The question (which actually is more an issue) is: how to launch it from vscode...
This Test can also be executed from eclipse and IntelliJ without making any change to the code.
I would like to be able to execute the test from v

[2022-06-17 15:51] jkaye2012 commented on #1655
Is this configuration used at all? I just searched for uses in the repository and I don't see any references to it. This behavior is pretty important for projects that use local maven repositories (for example, we end up with over 8000 errors from third-party code).

I'd like to create a pull request to fix this issue - could any maintainer point me to a good starting point please?

[2022-06-17 15:54] BlueMoose2 opened #2515 "Add support for Exclusion Lists for Java Linter"
[provide a description of the issue]
Currently the Java Linter for this extension is scanning all of my project's autogenerated code which is causing 1000+ problems to be reported. From a very thorough investigation both VSCode and this extension do not have any exclusion options for what directories/files are scanned by the Java Linter and reported in the Problems tab.

##### Environment
- Operat

[2022-06-17 22:23] Dr-Irv opened #2516 "Java formatter setting ignored - even with google's format"
I am trying to get a custom formatter working by using the setting `java.format.settings.url`.  I am now convinced that there is a problem, even if I use google's formatter that is shown here:  https://github.com/redhat-developer/vscode-java/wiki/Formatter-settings

##### Environment
- Operating System:   Windows 10
- JDK version:  Not relevant
- Visual Studio Code version:   1.68.1
- Java extensi

[2022-06-17 22:55] snjeza commented on #2516
@Dr-Irv Could you try the following

[code]
remove
[code]

or set
[code]

[2022-06-17 23:48] Dr-Irv commented on #2516
Thank.  I missed the typo.  And figured out that my formatter wasn't working because the XML (which was pretty old) didn't have `kind="CodeFormatterProfile"` in the `<profile>` tag.

[2022-06-17 23:48] #2516 closed

[2022-06-18 00:11] snjeza commented on #2516
@Dr-Irv You can find
[code]
in your server log.

[2022-06-18 01:04] karlvr commented on #2511
I am observing the same behaviour... downgrading from 1.7.0 to 1.6.0 resolves the issue after a clean java workspace.

[2022-06-18 01:23] snjeza commented on #2511
@karlvr I can't reproduce the issue. Could you attach a project sample?

[2022-06-20 03:09] jdneo commented on #2499
You can use the following steps as a workaround.

1. Enable the setting `java.import.generatesMetadataFilesAtProjectRoot` in **WORKSPACE** scope.
2. Click `Restart Now`
3. Open the file named `.classpath` which you can find it at the project root. (If you cannot see it in the VS Code's file explorer, you can use system file explorer to find it.)
4. Find the `classpathentry` whose path is `"src/mai

[2022-06-20 03:29] Kmess commented on #937
Keeps happening to me, VERY frequently, super frustrating and borderline wanting to switch IDEs

[2022-06-20 17:11] snjeza commented on #743
@scotshall Could you try to remove
[code]
and reinstall VS Code Java?

[2022-06-20 18:33] scotshall commented on #743
@snjeza , This item was resolved for me over 4 years ago.  The recent comments are from other users experiencing similar, but different issues from mine.

[2022-06-20 21:08] Yanksi commented on #743
the problem gets fixed by itself when I switched to the pre-release version of the extension. Thanks for your help anyway!!

[2022-06-21 13:19] kaja-mohideen opened #2518 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `java`
- Extension Version: `1.7.0`
- OS Version: `Windows_NT x64 10.0.19042`
- VS Code version: `1.68.1`

[code]

[2022-06-22 02:55] jdneo commented on #2518
Dup with https://github.com/redhat-developer/vscode-java/issues/2268

Please let us know of it's not duplicated.

[2022-06-22 02:55] #2518 closed

[2022-06-22 03:05] jdneo commented on #2510
Some investigation about the naming.

#### Eclipse
In Eclipse, the action that generate the jar artifact is called `export`.
![export](https://user-images.githubusercontent.com/6193897/174934046-4c25bc1f-8411-404f-8647-1576cc713d7e.PNG)

And the build action will generate all the compiled classes in the output path:

https://user-images.githubusercontent.com/6193897/174934131-dc11b2d3-308c-4e7d-a4

[2022-06-22 07:51] jdneo commented on #2473
The last remaining thing is about the naming.

Below is how it is called in other IDEs

| | Maven | Gradle |
|---|---|---|
| Eclipse | **Update** Project | **Refresh** Gradle Project |
| IntelliJ | **Reload** Project | **Reload** Gradle Project |

They all have one thing in common: A 'sync' icon is used for the command:

##### Eclipse Gradle
![image](https://user-images.githubusercontent.com/61938

[2022-06-22 08:30] raulvaldoleiros commented on #2475
Sorry for the late reply.
What I did to test was, remove the java.maven.downloadSources from settings, deleted the jar and sources from local maven repository and start vscode.
I was able to open the file in a decompiled version but the source was downloaded (i saw it in local maven repo). I close the file and opened again and the decompiled version appeared. I restarted vscode and after that I wa

[2022-06-22 13:03] kkalass commented on #2511
I had a very similar issue with JavaSE-11 being changed to JavaSE-12 automatically by vscode in my maven java projects. In my case it was caused by maven-enforcer-plugin.
When I changed the version underneath plugin/executions/execution/configuration/rules/requireJavaVersion in
[code]
from `<version>11.0.4</version>` to  `<version>[11.0,12.0)</version>`, then it stopped changing the java version.

[2022-06-22 13:24] jonahgraham opened #2520 "Wiki entry for Java 17 requirement has a typo"
https://github.com/redhat-developer/vscode-java/wiki/JDK-Requirements#about-the-java-17-requirement has a typo - because wiki's don't have PR ability (AFAIK) I file an issue so a maintainer can make the fix:

Should read September **2022**

[2022-06-22 13:47] fbricon commented on #2520
@jonahgraham thanks for noticing. fixed.

[2022-06-22 13:47] #2520 closed

[2022-06-22 18:53] rgrunber commented on #2473
@fbricon , thoughts ? Does VS Code itself have a preferred terminology ?

[2022-06-23 00:21] Eskibear opened #2524 "Show Type Hierarchy breaks in vscode-insiders"
[code]

Root cause is renaming of ref-viewlet's publisher. On our side, we can ask both old/new extension ids for compatibility, by PR https://github.com/redhat-developer/vscode-java/pull/2517 . VS Code team will also take action to keep some backward compatibility. More details in see https://github.com/microsoft/vscode/pull/152213#issuecomment-1161912486

[2022-06-23 01:44] jdneo commented on #2499
My observation is that, something wrong happened for the project `mdr-backend-spring-1-test`. The language features like GTD, hover, are all unavailable. This might be a reason why tests cannot be found.

Language features work fine in `mdr-java-utils-test`, so that we can see the test execution button in `ParallelExecutionExceptionTest`.

[2022-06-23 01:59] jdneo commented on #2524
I saw the upstream name has been changed back to `vscode.xxx`. Is `ms-vscode.xxx` already released?

[2022-06-23 02:09] CsCherrYY opened #2525 "Language status item shows mismatch Java Runtime"
1. Given project https://github.com/mybatis/mybatis-3.git
2. open in VS Code and import the project
3. can find an error shows in `src\test\java\org\apache\ibatis\submitted\record_type\Item.java`
4. see the language status item, find the language level is 16, but the runtime path points to JDK 1.8.

![image](https://user-images.githubusercontent.com/45906942/175191465-334f0db4-9551-4426-b265-f407d

[2022-06-23 02:26] CsCherrYY commented on #2524
The extension name is always `ms-vscode.xxx` since it's available as an API, and we also use the `ms-vscode.xxx` to fetch the extension API.

Currently we should track https://github.com/microsoft/vscode/issues/152834, the milestone is June so that there might be a solution before the new release of VS Code stable?

[2022-06-23 07:28] #2524 closed

[2022-06-23 08:29] raulvaldoleiros commented on #2443
Anything that can be done here? 😢

[2022-06-23 13:41] ai-chen2050 commented on #1188
<img width="1346" alt="image" src="https://user-images.githubusercontent.com/27693952/175311446-9a85d369-2c11-4502-846f-38c2b9ef0650.png">

There are two issues:
- one is tip says: Missing Gradle project configuration file: .settings/org.eclipse.buildship.core.prefs, cos I touch a file org.eclipse.buildship.core.prefs, and added the "org.eclipse.jdt.core.compiler.problem.forbiddenReference=ignore"

[2022-06-23 13:43] ai-chen2050 commented on #45
<img width="1346" alt="image" src="https://user-images.githubusercontent.com/27693952/175311446-9a85d369-2c11-4502-846f-38c2b9ef0650.png">

There are two issues:
- one is tip says: Missing Gradle project configuration file: .settings/org.eclipse.buildship.core.prefs, cos I touch a file org.eclipse.buildship.core.prefs, and added the "org.eclipse.jdt.core.compiler.problem.forbiddenReference=ignore"

[2022-06-23 16:48] ai-chen2050 commented on #219
some info as follow:

!ENTRY org.eclipse.jdt.ls.core 4 0 2022-06-24 00:40:59.039
!MESSAGE Error occured while building workspace. Details:
 message: Access restriction: The method 'OperatingSystemMXBean.getProcessCpuLoad()' is not API (restriction on required library '/Library/Java/JavaVirtualMachines/jdk1.8.0_202.jdk/Contents/Home/jre/lib/rt.jar'); code: 16777523; resource: /Users/blake.chen/work

[2022-06-24 04:02] ai-chen2050 opened #2528 "Missing Gradle project configuration file: .settings/org.eclipse.buildship.core.prefs"
[provide a description of the issue]
![image](https://user-images.githubusercontent.com/27693952/175459553-6fafc7bd-8461-474a-917f-638f459bbc77.png)

##### Environment
env:
- Visual Studio Code version: latest
- Java extension version:  1.7
- apple m1 pro
- latest java pack
- use Oracle JDK 1.8 to run the program, and use OpenJDK 17 to jdt, as the java server.

##### Steps To Reproduce

1、use Orac

[2022-06-24 04:03] ai-chen2050 commented on #2528
Help! It's been bothering me two days. @fbricon

[2022-06-24 04:11] gbraad commented on #2528
Please, do not just at-reply users to get attention. I have no idea what about this.

[2022-06-24 04:24] ai-chen2050 commented on #2528
Oh, sorry, It's github's Recommended. My fault. Have a good date.

[2022-06-24 05:45] GoKlaus commented on #961
+1

[2022-06-24 09:12] giatmanos opened #2529 "Cross-compilation options feature missing"
I have been working on creating an "Unmanaged Folder" project, i.e. without the use of Gradle/Maven and everything works fine except that I cannot find any option to enable java cross-compiling which is necessary for this particular project I work on.

To be more specific, I would like to be able to mimic the Gradle sourceCompatibility and targetCompatibility configuration variables which in essen

[2022-06-24 15:20] gbraad commented on #2528
Recommended? This must be very wrong as it also includes people who aren't members of the organization.

[2022-06-24 15:41] zhouxinghong opened #2530 "cannot automatically format java code"
ctrl+s cannot automatically format java code

Triggering ctrl+s after entering code cannot automatically format code
"editor.formatOnSave": true,

[provide a description of the issue]

##### Environment
- Operating System: Windows 10 19044
- JDK version: 11
- Visual Studio Code version: 1.68.1
- Java extension version:

Version | 1.8.2022062304 |  
-- | -- | --
Released on | 9/13/2016, 4:41:27 AM

[2022-06-24 16:58] snjeza commented on #1188
@ai-chen2050 could you try the following patch:

[code]

[2022-06-24 17:05] ai-chen2050 commented on #1188
is need compiled by myself? And install offline, right ?

[2022-06-24 17:37] LightGuard commented on #2528
Really can't help. Using the com.sun.* packages have never been recommended. They're internal classes subject to change anytime.

[2022-06-24 18:08] mmcintyre123 commented on #2481
Any updates on this?

[2022-06-24 18:11] snjeza commented on #1188
[code]

[2022-06-25 00:48] zhouxinghong commented on #2530
In version 0.8, triggering ctrl+s to automatically format is normal. This problem has not been fixed since version 1.5. . .

[2022-06-25 03:01] ai-chen2050 commented on #2528
Apologize again. Happy weekend！ 😄

[2022-06-25 03:06] ai-chen2050 commented on #2528
Thx! okay, I got it. An open-source project that I study recently dependency the com.sun.* packages, I will remind the project side.
Have a nice weekend.

[2022-06-25 09:52] gbraad commented on #2528
Issue can be closed

[2022-06-25 14:41] Nightenom opened #2531 "No quick actions available for certain method types"
Given a short (static/nonstatic, probably visibility independent) method with just return statement and ctor call there are no quick actions available. Log is empty - no stacktraces nor errors. High reproducibility (will try to provide 100% repro case if this is not enough)
![image](https://user-images.githubusercontent.com/17338378/175778341-8c1e7608-2438-472f-80b2-a616143c4eb4.png)

##### Curren

[2022-06-25 14:59] Nightenom commented on #2531
Also another thing which seems heavily related, might be even the same bug.

**Working states:**
Targeting method:
![image](https://user-images.githubusercontent.com/17338378/175779042-afb78892-4979-4628-a77b-77a5353c1bb1.png)
Targeting whole statement using text selection:
![image](https://user-images.githubusercontent.com/17338378/175779047-edc3e9ad-f6be-4c1d-83a0-fbf9a88d3e38.png)
Targeting the

[2022-06-27 01:24] jdneo commented on #2529
Not quite sure but seems that you can set a global setting first according to this guide: https://github.com/redhat-developer/vscode-java/wiki/Settings-Global-Preferences

And then specify the following settings:
- `org.eclipse.jdt.core.compiler.source`
- `org.eclipse.jdt.core.compiler.codegen.targetPlatform`

[2022-06-27 01:34] jdneo commented on #2530
I cannot repro within VS Code@1.68.1+vscode-java@1.7.0

![format](https://user-images.githubusercontent.com/6193897/175844302-c8dcb6b3-0d95-4e50-8af8-093bfd86d262.gif)

[2022-06-27 01:39] jdneo commented on #2531
@CsCherrYY You can test it with `File f = new File(new String());`, and try to peek code actions when the cursor is in `new` or in `String`

[2022-06-27 05:34] CsCherrYY commented on #2528
@ai-chen2050 I can reproduce this. IIUC The problems "xxx is not API" will not stop you from debugging, but you just encountered another error about `missing prefs file`, which might block you. Here is a workaround:

1. Set `java.import.generatesMetadataFilesAtProjectRoot` to `true` (better in workspace scope)
2. Press F1 to open the command palette, type `Java: Clean Java Language Server Workspac

[2022-06-27 07:50] dashorst commented on #660
Since VS Code no longer generates the .classpath files inside the workspace, it is quite difficult to modify them directly. Having a UI to add this boolean attribute, or a menu item to open the .classpath file for the project would be absolutely helpful. At this time I can't recommend using VS Code for our project as the number of warnings in generated dwarfs the actual warnings in our code base,

[2022-06-27 20:24] daplf commented on #531
Hey, just in case anyone might have missed it, I built a prototype companion extension that attempts to solve this issue: https://github.com/fwcd/vscode-java-kotlin
We haven't released it yet, but if you really need this you can build it yourself for now.

[2022-06-29 02:37] jdneo commented on #2473
This issue has been addressed from different aspects, which are

- Support project selection: https://github.com/redhat-developer/vscode-java/pull/2513
- Change the order of the options: https://github.com/eclipse/eclipse.jdt.ls/pull/2135
- Rename 'Update Project' to 'Reload Project': https://github.com/redhat-developer/vscode-java/pull/2527

The next steps are exposing it from other explorers, li

[2022-06-29 02:37] #2473 closed

[2022-06-30 09:11] yuyully opened #2534 "Pressing enter to complete 'ArrayList' gets a wrong code completion"
##### Environment
- Operating System: windows
- JDK version: 17.0.3.1
- Visual Studio Code version: 1.68.1
- Java extension version: 1.8.0

##### Steps To Reproduce
1. Press Enter to complete the code
[code]
![image](https://user-images.githubusercontent.com/31497677/176638520-4ddca92f-b28c-49a0-b017-f0e3197df9a3.png)

##### Current Result
![image](https://user-images.githubusercontent.com/3149767

[2022-06-30 09:39] v-yuyul opened #2535 "Expect no warnings about 'could not find xxx file' when execute Open All Log Files"
##### Environment
- Operating System: Windows
- JDK version: 17
- Visual Studio Code version: 1.68.1
- Java extension version: 1.8.0

##### Steps To Reproduce
F1 > Open all log files

##### Current Result
![image](https://user-images.githubusercontent.com/31497677/176642752-f90e465a-7ce7-4f68-82a7-b6a850db5aed.png)

##### Expected Result
When there is no this log file, please don't show a warning,

[2022-07-02 06:02] tsaarni opened #2537 "Tips for performance when opening big projects like Keycloak?"
I'm working with [Keycloak](https://github.com/keycloak/keycloak), which is a big code base.

Opening the project is quite frustrating: it takes 5+ minutes for the things to settle down.  It seems that just closing and reopening vscode with the project open will take very long as well, at least if there are _any_ changed files (like after small git pull).

I wonder if too much of the code base is

[2022-07-02 17:11] z0xyz commented on #1543
That was the culprit for me. The weird part thing is that, even when i host file system access to VScode, the application still couldn't access the root directory. I had to reinstall it using the prepackaged deb

[2022-07-02 19:58] snjeza commented on #2537
@tsaarni the keycloak project includes 240 maven projects. You can try to include only required projects.
For instance, you can add the following property:
[code]
and [Clean the workspace directory](https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#clean-the-workspace-directory)
It will include only the projects from the core, common and boms directories.

[2022-07-04 08:59] CsCherrYY commented on #2528
I can also reproduce it via:

1. clone https://github.com/spring-projects/spring-petclinic
2. open it in eclipse, by default, eclipse will import it as a Maven project and generate metadata files
3. open this project in VS Code, there is a notification shows to choose build tool, choose "Gradle"
4. The same error appears.

[2022-07-05 00:10] rajinder-yadav opened #2539 "Feature request: add interface methods when coding a class"
Would be nice to have code auto-generated from the interface being implement in a class or an anonymous class.

Give the following interface:

[code]

If I were to code a class that implemented this interface, would be nice to have the interface method auto include.

So when I type the opening brace:

[code]
I get interface code added:

[code]

Likewise for an anonymous class, I type:

[code]

I g

[2022-07-05 00:50] snjeza commented on #2539
@rajinder-yadav You can check the "Add unimplemented methods" quickfix.

![qfix](https://user-images.githubusercontent.com/388609/177229458-0657d1da-b53f-4437-b82b-9eb300533c5f.gif)

[2022-07-05 03:18] rajinder-yadav commented on #2539
Hi @snjeza, there must be a quirk. I created a test project and was not seeing this option in the "fix" it. However after your reply I decided to delete and recreate the project and now the correct fix is showing up.

Closing this off, thanks!

[2022-07-05 03:18] #2539 closed

[2022-07-05 13:17] meiliangdeng opened #2540 "Connection to server got closed. Server will not be restarted."
##### Exception
the v1.8.0  of **Language support for Java ™ for Visual Studio Code** used by vscode, when opening the gradle project(**gradle version: 7.5-rc-3**), **Language Support for java(Syntax Server)**  output the following exception :

`
WARNING: Using incubator modules: jdk.incubator.vector, jdk.incubator.foreign
[Error - 8:39:04 PM] Connection to server got closed. Server will not be re

[2022-07-05 15:43] #2534 closed, assigned to snjeza

[2022-07-05 21:48] rajinder-yadav opened #2541 "New java created project not detected as java project until a file is opened"
Newly created java project not detected as java project.

Create a new java project.

Steps:
press ctrl + shift + p
Type "java: create"
Selected, create a new java project.

Once project is created, notice IDE has not detected it is a java project.
open the main java file, now IDE detects it is a java project.

Issue with this, before opening any java file, if I right-click in explorer on "src" fo

[2022-07-05 21:52] rajinder-yadav commented on #2541
The same happens if you cd in the root of the java project and then open vscode from the terminal.
vscode opens and doesn't know project is java.
note make sure no files are opened in edit window, if so close all open files, close vscode and redo steps.

[2022-07-06 02:12] meiliangdeng commented on #2540
have the same problem in the gradle 7.x version

[2022-07-06 04:51] hanct commented on #1039
@fvclaus Thank you so much for this.  I try it in vscode, it works beautifully!    Except that my path is different from yours.

           genSrcDir = file('build/generated/sources/annotationProcessor/java/main')
            genTestSrcDir = file('build/generated/sources/annotationProcessor/java/test')

I hope in future, someone would do something about this, without us having to do this workaroun

[2022-07-06 05:55] np7sky opened #2543 "can not set different jdk versions for different folder projects in the same workspace"
[In vscode, how to set different jdk versions for different folder projects in the same workspace][see this issue](https://github.com/microsoft/vscode/issues/154086)

##### Environment
- Operating System: macOS 12.4 (21F79)
- JDK version: 8 or 17
- Visual Studio Code version: 1.68.1 (Universal)
- Java extension version:   Extension Pack for Java v0.24.0

##### Steps To Reproduce
1. [step 1]  Add t

[2022-07-06 08:43] Eskibear commented on #2543
That's because the setting `java.configuration.runtimes` in JDTLS is globally effective. Though [its scope](https://github.com/redhat-developer/vscode-java/blob/86c572da0751dc4527cd1f052f4a1cb5d45d4e68/package.json#L674-L727) is machine-**overridable**, it won't take effect if you set different values for different workspace folders.

`java.configuration.runtimes` defines mappings of language leve

[2022-07-06 09:04] #2541 closed

[2022-07-06 09:51] anazar2001 opened #2545 "More than one Java maven project is not displayed/resolved correctly in Java Projects view of multi root workspace in VS Code"
[client.log](https://github.com/redhat-developer/vscode-java/files/9053696/client.log)
[client_log2.log](https://github.com/redhat-developer/vscode-java/files/9053737/client_log2.log)

Hi,

A couple of days ago noticed that when I add new java project It does not get resolved (classpath, JRE, etc) in Java Projects view. Hence Tests not working and in general it is not a java project for VS Code. I

[2022-07-06 10:00] fbricon commented on #2545
Looks like a regression in 1.8.0. Can you reinstall 1.7.0 and check if it still works?

[2022-07-06 10:13] anazar2001 commented on #2545
It is a proprietory project in Mastercard. Can't share it(( Where can I get 1.7.0?

[2022-07-06 10:25] fbricon commented on #2545
<img width="627" alt="Screenshot 2022-07-06 at 12 24 06" src="https://user-images.githubusercontent.com/148698/177529604-d18db729-1fd2-40e9-8613-baf091f17961.png">
<img width="868" alt="Screenshot 2022-07-06 at 12 24 20" src="https://user-images.githubusercontent.com/148698/177529610-c48f955e-a6fb-4cb1-94cf-e4526fc81242.png">

[2022-07-06 10:36] anazar2001 commented on #2545
Thank

Thank you but I am using VS Code on my Macbook and interface looks slightly different - can't see where I can choose a different version. Any idea?

[2022-07-06 10:58] fbricon commented on #2545
I'm also on mac

https://user-images.githubusercontent.com/148698/177535341-e3f66b3d-2c7c-42be-8959-6c63f8508372.mp4

[2022-07-06 11:16] anazar2001 commented on #2545
My VS Code looks different. Please take a look
<img width="1728" alt="Screenshot 2022-07-06 at 12 14 00" src="https://user-images.githubusercontent.com/13858727/177538146-ea599c17-7e37-4d9c-bc76-7600a2489e3d.png">

[2022-07-06 11:48] fbricon commented on #2545
Ah right, for some reason Mac M1s get a different build. You can still install 1.7.0 manually from https://github.com/redhat-developer/vscode-java/releases/download/v1.7.0/redhat.java@darwin-arm64-1.7.0.vsix

[2022-07-06 12:05] anazar2001 commented on #2545
How can I install it? I downloaded it. Trying to open it. Mac asks for app, I select VS Code but it tries to open it as a text and asks for what editor to use.

[2022-07-06 12:05] anazar2001 commented on #2545
How can I install it? I downloaded it. Trying to open it. Mac asks for app, I select VS Code but it tries to open it as a text and asks for what editor to use.

[2022-07-06 16:29] fbricon commented on #2545
Need to investigate, possible regression with m2e. Having minimal test projects to reproduce would certainly help

[2022-07-06 17:40] rgrunber commented on #2480
The method existed in older versions of the client. See https://github.com/microsoft/vscode-languageserver-node/commit/e5d7ad881b1a51b486e3f0e4aa0fbc25dad2be58 . Interestingly, this was introduced in https://github.com/redhat-developer/vscode-java/commit/78c82941606c1392f56b76491dc8aba87cd47faa , but even then, we were using a version of the language client that would have contained the new API, s

[2022-07-06 19:02] jkamke opened #2547 "lombok recognition fails after 1.8.0 release"
Running in a devcontainer java build fails to properly compile lombok annotation support. Rolling back to 1.7.0 release resolves the issue.

##### Environment
- Operating System: Ubuntu 20.04.4 LTS (Focal Fossa)
- JDK version: 1.8
- Visual Studio Code version: 1.68.1 (Universal)
- Java extension version: 1.8.0 and 1.9.2022070604

##### Steps To Reproduce
1. install `vscjava.vscode-java-pack` and `

[2022-07-06 19:16] #2535 closed

[2022-07-07 03:08] jdneo opened #2548 "Categorize the extension settings"
So far, the vscode-java extension has 82 settings (configurable under User section). And all of them are grouped in one section `Java`, which is not very user-friendly.

A good example is GitLens extension, which has several sub sections for its settings:
![image](https://user-images.githubusercontent.com/6193897/177682000-a57a9132-3f92-4fb0-99fb-1a5a5e2df698.png)

it's achieved by defining the gr

[2022-07-07 04:54] jdneo commented on #2547
@XiaoYuhao is investigating this issue.

[2022-07-07 06:34] XiaoYuhao commented on #2547
@jkamke Which lombok version do you use in your project?

[2022-07-07 08:38] laDanz commented on #1660
@snjeza 's patch is fixing it: https://github.com/redhat-developer/vscode-java/issues/1660#issuecomment-818274055

[2022-07-08 07:02] testforstephen opened #2549 "Java extension is broken with some old lombok.jar (e.g. 1.14.4)"
Issue Type: **Bug**

Just open a java file, the "Java Building" never stop (actually never start),
When click the "Show Build Status" , open a terminal shows nothing.
Developer tool console got error, says:
ERR [Extension Host] Error: Unexpected SIGPIPE
at process. (/Applications/Visual Studio Code.app/Contents/Resources/app/out/bootstrap.js:1:407)
at process.emit (node:events:390:28)

 ![图片](http

[2022-07-08 07:04] jcolladosp commented on #2547
Hi, @XiaoYuhao ,
the path to lombok seems OK, the lombok.jar exists in that path.
I attach here the snippet of the log in case you want to check something:

`{
  message: 'Starting Java server with: /usr/lib/jvm/jdk-17/bin/java --add-modules=ALL-SYSTEM --add-opens java.base/java.util=ALL-UNNAMED --add-opens java.base/java.lang=ALL-UNNAMED --add-opens java.base/sun.nio.fs=ALL-UNNAMED -Declipse.appl

[2022-07-08 07:13] terrason commented on #2549
Thank you for help.
There is an old lombok dependency in my "pom.xml"
[code]
Setting `java.jdt.ls.lombokSupport.enabled: true` resolved this.
Better to consider adding warnings for lower versions of Lombok

[2022-07-08 07:18] testforstephen commented on #2549
Here are some ideas to better handle such kind of cases:
- Embed a latest lombok.jar in Java extension, and use it as the default lombok support. This can avoid the restart problem. And the language status provides a button to allow user to choose between the embedded lombok and project's lombok. The user experience could reference to the typescript's language status.

![image](https://user-images

[2022-07-09 18:14] prakritidev commented on #761
I can take this up if nobody is working on this. As this is very old requested feature.

[2022-07-10 02:50] davidpcaldwell opened #2551 "Gradle-based projects under Java 17. try to launch Gradle with VM option removed in Java 17"
Running with Java 17 (now required?) with Gradle-based project errors because Gradle launcher command contains VM option `-XX:MaxPermSize` removed in Java 17.

##### Environment
- Operating System: macOS
- JDK version: Corretto 17.0.3.6.1
- Visual Studio Code version: 1.69
- Java extension version: 1.8.0

##### Steps To Reproduce
1. Open Gradle-based project
2. See Java project fail to be created

[2022-07-10 17:22] snjeza commented on #2551
@davidpcaldwell You can set your gradle daemon JVM with

[code]
and/or your gradle daemon VM args

[code]

[2022-07-10 20:03] davidpcaldwell commented on #2551
@snjeza thanks for the workarounds. I can't really tell what the LS is doing with Gradle, though -- maybe it's using it to parse my `build.gradle` in order to determine the project structure, is my guess.

Anyway since I don't know what it's doing I don't know what appropriate values for `java.import.gradle.java.home` and (especially) `java.import.gradle.jvmArguments` might be. Can you point me in

[2022-07-10 21:11] snjeza commented on #2551
@davidpcaldwell You can try the following property:
[code]

[2022-07-11 01:10] Danniel13 commented on #854
Any answer about this?

I use Vstudio Code and in a project to maven i can't use the variable "var" and i need this!

I have my poom.xml:
  <maven.compiler.source>11</maven.compiler.source>
    <maven.compiler.target>11</maven.compiler.target>

Mistake tag:
var cannot be resolved to a typeJava(16777218)

[2022-07-11 02:29] zhangbobo131415 commented on #2366
![image](https://user-images.githubusercontent.com/26828921/178177524-82488114-84dd-435b-82e6-be1cb292ae3b.png)
os： win10
jdk: 11
vscode 1.69
java extention: 1.8

[2022-07-11 02:31] snjeza commented on #854
@Danniel13 Could you attach a sample project reproducing the error?

[2022-07-11 09:08] fbricon opened #2552 "No Java runtime version displayed for non-invisible project created under the jdt.ls workspace"
**Some context**
I'm trying to get [JBang](https://www.jbang.dev/) scripts work OOTB in VS Code. Since the classpath dependencies are coded right in the Java file, I use a similar mechanism to invisible projects to create a Java project under the jdt.ls workspace, that is then augmented with informations gathered from the JBang directives in the original file. This is based on[jbang-eclipse](https

[2022-07-11 11:32] Danniel13 commented on #854
Hi, thank you for your answer I changed the value version to 10 on the maven compiler, and it worked normally, no problem. It's very strange..

[2022-07-12 00:54] hyddel opened #2553 "stream error while trying to build vscode-java@1.7.0"
Getting Cannot call write after a stream was destroyed error while trying to use vscode-java@1.7.0 which I built locally

##### Environment
- Operating System: macOS Catalina
- JDK version: java version "1.8.0_281" and Java(TM) SE Runtime Environment (build 1.8.0_281-b09)
- Visual Studio Code version: 1.69
- Java extension version: 1.7.0

##### Steps To Reproduce
I have built vscode-java@1.7.0 loc

[2022-07-12 04:58] jdneo commented on #2553
Do you have JDK 17 installed on your machine and set it as `JAVA_HOME` env variable?

[2022-07-12 05:05] jdneo commented on #2386
Verified that this should have been fixed in 1.8.0

[2022-07-12 05:05] #2386 closed

[2022-07-12 05:09] jdneo commented on #1985
Closing as it's inactive for a long time.

If you still have questions, please file issues at: https://github.com/microsoft/vscode-azurefunctions/issues

[2022-07-12 05:09] #1985 closed

[2022-07-12 06:37] JoseLion commented on #2300
I believe this is because the default value of `importOrder` is actually `["java", "javax", "org", "com"]` to go along with Eclipse's default order:
https://github.com/redhat-developer/vscode-java/blob/9c91aa22053202630ee46a10f24173362c4f91f7/package.json#L521-L531

You can easily ensure Checkstyle also follows this order by adding the `groups` property to the `ImportOrder` rule:
[code]

I hope th

[2022-07-12 07:01] appleseedexm commented on #1660
There also seems a specific setup where mapstruct doesnt build *Impl of abstract classes extending other classes. We have in our project one specific abstract class which doesnt get an *Impl class, but in IntelliJ it does. As soon as I remove the "extends from", the *Impl is created. I've not come around to investigate this and create a sample project, but I'll update here as soon as I have a bett

[2022-07-12 09:31] BrightTreeMan commented on #1615
it's been one year

[2022-07-12 09:31] BrightTreeMan commented on #1615
can someone help me out?

[2022-07-12 09:42] v-yuyul opened #2556 "Java extension crashed if open lombok project after deleting .m2 folder"
##### Environment
- Operating System: Win
- JDK version: 17
- Visual Studio Code version: 1.69.0
- Java extension version: 1.8.0

##### Steps To Reproduce
1. git clone https://github.com/ityouknow/spring-boot-examples.git
2. Open the project via VSCode > Reload to enable lombok support following the prompt > Close VSCode after the project is imported
3. Delete the .m2 folder under C:\Users\xxx
4.

[2022-07-12 14:26] hardyoyo commented on #2300
I believe you have restated part of the problem (yes, the default order is as described), and then suggested that the project change its checkstyle configuration to match that default. If I'm correct that is your suggestion, it's a no-go, the DSpace project has been using that checkstyle configuration for years, and they're going to be very reluctant to change it just so VSCode doesn't erroneously

[2022-07-12 21:18] mikedoy commented on #233
When I attach source, where is this information stored? I'm not seeing it in my settings.json.

[2022-07-12 22:43] hyddel commented on #2553
I am using Java 8

[2022-07-13 01:49] jdneo commented on #2553
It requires JDK 17 to launch the Language Server now. Could you try the step 5 of https://github.com/redhat-developer/vscode-java/blob/v1.7.0/CONTRIBUTING.md#a-client-side-setup. Or Download JDK 17 by yourself?

[2022-07-13 07:16] Zelakolase opened #2558 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `java`
- Extension Version: `1.8.0`
- OS Version: `Linux x64 5.18.9_1`
- VS Code version: `1.69.0`

[code]

[2022-07-13 08:00] #2280 closed

[2022-07-13 08:54] Eskibear opened #2559 "wrong JRE embedded in pre-release package"
For universal platform, should pre-pack no JRE. Probably because you didn't clear the staging folder.

![image](https://user-images.githubusercontent.com/2351748/178693043-dffd2205-0757-4cf9-a274-b4c9c4ae07ce.png)

@CsCherrYY

[2022-07-13 09:00] CsCherrYY commented on #2559
the root cause is that we didn't clean jre folder for generic pre-release versions: https://github.com/redhat-developer/vscode-java/blob/6c000d33fc51ba3041c6452b4879b532a43f1dae/Jenkinsfile#L95-L96

I'll add a PR to fix it.

[2022-07-13 09:32] #2529 closed

[2022-07-13 12:16] IsabelNotHere opened #2561 "couldn't start client language support for java(syntax server)"
[provide a description of the issue]

##### Environment
- Operating System: macOS  monterey 12.4
- JDK version: openjdk 17.0.2
- Visual Studio Code version: 1.69.1
- Java extension version: 1.8.0

##### Steps To Reproduce
1. [step 1] open a springboot gradle project
2. [step 2] the problem appears

[Please attach a sample project reproducing the error]
[Please attach logs](https://github.com/redha

[2022-07-13 15:12] rgrunber commented on #2559
Not saying we need to do this now, but down the road, we could potentially simplify basic flag inclusions like `--pre-release` by storing the flag (or empty value) in variable. That way one can always pass that to the package/publish call :

https://github.com/redhat-developer/vscode-xml/blob/faaac4e08384d7324bd0f0fbd61d2de055642f33/Jenkinsfile#L88
https://github.com/redhat-developer/vscode-xml/bl

[2022-07-13 15:46] getaceres commented on #935
I've tried adding the workaround found in the first post but I still can't get VSCode to recognize the classes generated by the swagger generation plugin.
My sources are generated at target/generated-sources/swagger/src so I've added this configuration to my POM:

[code]

Still, the classes generated by swagger are not visible in VSCode and marked as errors and I don't see the source folder added

[2022-07-13 18:32] jkamke commented on #2547
there seems to be a fight going on between `vscjava.vscode-lombok` and  `vscjava.vscode-java-pack` because as of version `1.8` there is a new setting `java.jdt.ls.lombokSupport.enabled`.
With the plugin installed you must have `java.jdt.ls.lombokSupport.enabled=false`
Without the plugin it is working so long as the lombok version is (at least?) `lombok-1.18.12.jar` (which is the same version which

[2022-07-13 20:05] tim-hilt commented on #634
Not fixed for me! Can’t use it like this unfortunately

[2022-07-13 23:15] Qichar commented on #2553
@jdneo

You wrote that it requires JDK 17 to launch the Language Server now.  However, with only Java 11 install on my local machine, I was able to host Theia running version 1.7.0 of the plugin (downloaded from the releases section).  In fact, it seemed 1.7.0 requires 11 and 1.8.0 requires Java 17.  (it complains about this in Theia if the version isn't high enough).

However, now for whatever re

[2022-07-14 00:11] jdneo commented on #2558
Dup with https://github.com/redhat-developer/vscode-java/issues/2268

[2022-07-14 00:11] #2558 closed

[2022-07-14 00:15] jdneo commented on #2553
@Qichar You need download the vsix with the platform name as its postfix. Like: [redhat.java@linux-x64-1.8.0.vsix](https://github.com/redhat-developer/vscode-java/releases/download/v1.8.0/redhat.java@linux-x64-1.8.0.vsix) which self-contained a jre17 in the vsix file.

[2022-07-14 01:04] Qichar commented on #2553
@jdneo Thanks for your response!  I tried redhat.java@linux-arm64-1.7.0.vsix but I'm still getting ERR_STREAM_DESTROYED as indicated by the original poster.  I am using an Apple m1 pro (Macbook pro); which platform version of 1.7.0 releases should I download?

[2022-07-14 01:16] Zelakolase commented on #2558
Hello there,
I'd like to inform you that it is not a duplicate. The problem was that I updated linux kernel without updating electron. That resulted in this issue.

[2022-07-14 01:16] Zelakolase commented on #2558
However, I fixed it by updating electron.

[2022-07-14 01:51] XiaoYuhao commented on #2547
@jkamke Yeah, after 1.8.0 release, `redhat.java` uses the lombok version from your project's classpath as `-javaagent:` parameter to start JDT LS. However, the `vscjava.vscode-lombok` uses the fixed lombok version `(extensions/vscjava.vscode-lombok-1.0.1/server/lombok.jar)` as `-javaagent:` to start JDT LS. It causes conflict.

In order to avoid this conflict, `redhat.java` will remove the `-javaa

[2022-07-14 02:11] testforstephen commented on #2547
@jkamke Correct. From our testing, it seems the lombok version 1.18.4 and higher can be loaded to redhat.java extension well. Anyway, we're also considering embedding a latest lombok-1.18.24.jar in redhat.java extension itself. Finally, `vscode-lombok` extension will remove the same lombok.jar but provide some auxiliary lombok feature there instead.

[2022-07-14 06:27] jcolladosp commented on #2547
@jkamke if I understood you correctly, `vscjava.vscode-lombok` is now useless since lombok is now included in `redhat.java`?

[2022-07-14 07:18] ydmykr opened #2564 "Open class files in VSCode and add a debug breakpoint anywhere"
I'm trying to add a breakpoint in a class library. I must first open the target library class file (decompiled), and add a breakpoint later.

![image](https://user-images.githubusercontent.com/100815370/178924629-eb0dd836-69aa-4d1e-b3a2-18cbe950b14a.png)

But it looks like I can view the class library only while debugging the java application. How can I goto specific library class file in vscode?

[2022-07-14 12:15] jkone27 opened #2565 "can you support .editorconfig for linting ?"
it seems to me linting/formatting only works with .xml file, but can you support maybe .editorconfig as well being the standard out there for all languages, and making it simpler also?

e.g. my colleagues exported an xml from a java project, to .editorconfig, but now when i apply the formatting i see it all changing the files ( i would expect it to stay the same), or to be able to "detect" the .ed

[2022-07-14 13:20] #2559 closed, assigned to CsCherrYY

[2022-07-14 15:55] skazantsev opened #2566 "Project configuration is not updated after modifying the build file in v1.8.0"
Hey,

Looks like there's regression in [project update](https://github.com/redhat-developer/vscode-java/blob/v1.8.0/src/standardLanguageClient.ts#L649) introduced in [Support project update selection](https://github.com/redhat-developer/vscode-java/pull/2513).

#### Steps to reproduce
1. Open a maven project. I used https://github.com/jenkins-docs/simple-java-maven-app.
2. Modify & save `pom.xml`,

[2022-07-14 17:41] gayanper commented on #2342
Today in vscode there is no way to view the symbols including the parents symbols.

Even though this is not a UI only solution, not having the possibility in the UI to switch between document symbols vs all symbols of the document hierarchy and language server protocol not having support to pass in such mode put all LSP implementation to just send the document symbols.

Therefore what if we could

[2022-07-15 02:05] ydmykr commented on #2564
@[testforstephen](https://github.com/testforstephen) Does it work for symbols outside the project? I'm trying to set a breakpoint on spring framework, which is a library imported from maven.

[2022-07-15 02:19] testforstephen commented on #2564
yes, it searches for all classes including source files and library classes.

[2022-07-15 05:51] CaledoniaProject commented on #2564
@testforstephen It works for class names, not class methods, is that expected?

![screen 2022-07-15 at 13 50 18](https://user-images.githubusercontent.com/1357701/179159546-43b4991e-f02a-400b-bcec-e7f2f97f5356.jpg)

[2022-07-15 06:07] samax-dx opened #2568 "Java Intellisense/autocomplete not working in .ipynb"
Intellisense won't work **at all** when using java kernel in Jupyter notebook file. Tried - BeakerX, iJava, and Ganymede; no luck.

##### Environment
- Operating System: Windows 10 Pro x64
- JDK version: 17.0.1
- Visual Studio Code version: 1.69.1
- Java extension version: v1.8.0

##### Steps To Reproduce
1. Open .ipynb file
2. Choose Java kernel
3. Try writing any Java code

##### Logs
[vscode-lo

[2022-07-15 06:08] testforstephen commented on #2564
Yes, it only searchs the classes by default, that's by design.

We have a setting `java.symbols.includeSourceMethodDeclarations` to control whether to include methods from source files during symbol search. This is off by default. However, it does not include the methods in the library due to performance considerations.

Usually, I use `Ctrl + T` to search the target class first, then using `Ctrl

[2022-07-15 07:11] fbricon commented on #2568
Indeed, Jupyter notebooks are not supported at all. Noone ever asked for it. I never used jupyter notebooks, much less java-based ones. But my guess is providing support will most likely require non-trivial investment. Do you feel like contributing it?

[2022-07-15 07:23] CaledoniaProject commented on #2564
Any chances to create a new setting for that?

[2022-07-15 07:31] testforstephen commented on #2564
No plan yet. It's very slow to search methods from all libraries.

[2022-07-15 09:18] Ronzeloo commented on #1355
Yes it can be quite distracting when you're still typing the code and the extension already starts to report errors. An option to increase the error reporting delay from 1000ms to a higher value would be highly appreciated.

[2022-07-15 14:25] clembo590 opened #2569 "Maven projects do not have access to dependencies from the test scope"
##### Environment
- Operating System: macos 12.0.1
- JDK version: 1.8
- Visual Studio Code version: 1.69.1
- Java extension version: java extension pack v0.24.0

##### Steps To Reproduce
I have created a public repo so that the issue is easily reproducible:

step1:  clone this repo:
[code]
step2: run `mvn clean install`
-->no issue

step 3: "import the project in vscode"
I get the error
`The proje

[2022-07-15 14:32] clembo590 commented on #2219
Hello.... Anyone working on this ?

[2022-07-15 14:49] samax-dx commented on #2568
I never developed vscode extensions and I suspect this is an advanced task in the field. Sadly so, can't contribute right now.

[2022-07-15 14:50] rgrunber commented on #2342
I'm fine with making this a mostly UI-specific change to vscode-java. After all, the only thing we should do on the language server side is augment the `DocumentSymbolParams` to have an optional boolean `includeInheritted`. Either that or just create a separate method in the protocol for our need.

Is it possible to override the document symbols quick-pick menu ?

Also, the closest thing I could f

[2022-07-15 16:03] tianfudhe opened #2571 "Code Completion Hint Box miss some of the object methods"
Issue Type: <b>Bug</b>

I add dependency `hutool-all` in maven, i.e.,
[code]
and write
[code]
when I type `obj.` the candidate method `getJSONObject` does not pop up in HintBox, even though `obj.getJSONObject` is valid.

Extension version: 1.8.0
VS Code version: Code 1.69.1 (b06ae3b2d2dbfe28bca3134cc6be65935cdfea6a, 2022-07-12T08:21:24.514Z)
OS version: Windows_NT x64 10.0.22000
Restricted Mode: N

[2022-07-15 17:25] JoseLion commented on #2300
Oh, I see! So if I understand correctly, you're asking for VSCode to take the import order values from Checkstyle's configuration instead.

It would be nice if VSCode could identify the `checkstyle.xml` file of the opened project, parse the XML and find the `ImportOrder.groups` value so it can use those values instead.

However, I also think this could be harder than it sounds. What if there're mu

[2022-07-15 17:27] jkamke commented on #2547
@jcolladosp I would say that I don't have a use for `vscjava.vscode-lombok` now that `redhat.java` can pick it up off the classpath. Additionally, since loading the second plugin requires a language server restart it is less convenient for my use case.

[2022-07-15 17:43] dbarvitsky commented on #1977
I am seeing the same behavior without self-referencing modules. Perhaps a different issue, please feel free to split into a different issue.

Some of the projects have Maven plugins that run in the `generate-sources` phase and produce source code in `./target/generated-sources`. VScode behavior in this case is "refresh workspace", followed by "try building again", which in turn results in `generat

[2022-07-15 19:37] BenHunt-io commented on #120
I also had this issue for the `com.sun.management` package.

The gradle fix described by @fwcd worked. I made an example here:
https://github.com/BenHunt-io/access-restriction-vscode

[2022-07-15 21:00] Heretiq opened #2572 "Avast Anvivirus detected a threat"
Issue Type: <b>Bug</b>

Avast Anvivirus detected a threat in an executable file inside the LAnguage Support for Java extension: jcmd.exe infected with win32:induc-w

Extension version: 1.8.0
VS Code version: Code 1.69.0 (92d25e35d9bf1a6b16f7d0758f25d48ace11e5b9, 2022-07-07T05:28:36.503Z)
OS version: Windows_NT x64 10.0.19044
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Valu

[2022-07-17 17:52] gayanper commented on #2342
You mean add a optional boolean parameter in both jdtls and vscode-java ends right ? This is ok if we can override the default quick-pick. But if not it might be better to have out own method with own quick-pick for this ?

I this the categorisation is done using the symbol type probably in UI. But i can check that.

[2022-07-18 01:31] #2566 closed

[2022-07-18 02:10] jdneo commented on #2571
I cannot reproduce it on my machine

![image](https://user-images.githubusercontent.com/6193897/179435849-31fe22f4-2d94-45c9-81e3-98c7c3ed7509.png)

[2022-07-18 02:16] jdneo commented on #2569
I can reproduce it. @snjeza is this related with the m2e migration?

[2022-07-18 10:05] kid1412621 commented on #1615
Really need this feature since our repo got bin/ for scripts.

[2022-07-18 13:07] mohitsuman opened #2574 "Update Changelog and Release with 1.9.0 release"
With the release of [1.9.0](https://marketplace.visualstudio.com/items?itemName=redhat.java), let's update the changelog and release section (with the supported vsix files)

[2022-07-18 17:10] snjeza commented on #2569
I can reproduce the issue in the m2e 1.x . You can try the following patch:

[code]

See https://bugs.eclipse.org/bugs/show_bug.cgi?id=537578

[2022-07-18 17:26] rgrunber commented on #2342
I think we would need access to the following API :

- For registering quick access provider : https://github.com/microsoft/vscode/blob/5acd9508c913b1d0ce3243f056c3cb039bac6938/src/vs/workbench/contrib/search/browser/search.contribution.ts#L814-L820
- For implementation https://github.com/microsoft/vscode/blob/5acd9508c913b1d0ce3243f056c3cb039bac6938/src/vs/workbench/contrib/search/browser/symbols

[2022-07-18 19:31] gayanper commented on #2564
I think with new parallel index search in jdt.core searching for methods should be fast. I have a eclipse implementation as a plugin just for this which is faster for larger workspaces as well. So may be having setting might be good to use as a circuit breaker for really slow workspaces.

[2022-07-18 20:51] rgrunber commented on #2342
This might be a preference, but I have always found `ctr + o` + type immediately in the search filter + `<Enter>` to be  faster/preferrable to using the outline view and clicking on the symbol. With that said, you're right, that the outline view should also be changed, so maybe we can start with that for now.

Also, I think those developing language servers that have a notation of "includes" direc

[2022-07-18 23:51] rgrunber commented on #2572
Can you confirm the `jcmd.exe` on your system is the same one from https://download.eclipse.org/justj/jres/17/downloads/20220515_1316/org.eclipse.justj.openjdk.hotspot.jre.full.stripped-17.0.3-win32-x86_64.tar.gz ? It's under `bin/jcmd.exe` of the archive.

[2022-07-19 05:35] testforstephen opened #2576 "Language server reports OOM for Java heap space while switching local git branch"
Use VS Code to develop eclipse.jdt.ls itself, and switch local branch to a remote PR branch, language server reports OOM exception.

[code]

[2022-07-19 11:42] gayanper commented on #2342
Now sure if you misunderstood me in my previous comment. I think for vscode outline also we cannot distinguish if the documentSymbol call is from outline or quick access popup right ?  The outline will ask the symbol information hierarchically and we can use that as a hint. I was suggesting to present this in the reference view which is added from vscode-java. But did you had something else in min

[2022-07-19 15:29] atcericandrews opened #2577 "Extension never activates, throwing error "Header must provide a Content-Length property""
As per the title, the extension never activates; the java language server status never switches to the thumbs-up. The extension runtime status shows 37 copies of the same uncaught error: `Header must provide a Content-Length property.` The developer tools logs show the same error, slightly more verbosely:

[code]

##### Environment
- Operating System: Windows 10 Enterprise (10.0.19044)
- JDK versi

[2022-07-19 17:58] Qichar commented on #2553
@jdneo

Thank you for the reply.  I tried downloading the platform specific version of 1.7.0 for Darwin Arm64 (which I think matches my Macbook Pro m1 processor).  No good, same error.  I tried upgrading the version of java on my machine (JDK) to java 17, and confirmed that it was runing the correct version.  Still no good.  Error is still as follows when I try to open a .jAVA file in Theia with t

[2022-07-19 21:27] #2549 closed

[2022-07-19 21:27] #2556 closed

[2022-07-20 00:48] davidpcaldwell commented on #2551
@snjeza I can report that adding the setting you suggested to my user-level settings allowed my project to be imported successfully. So that's a workaround for now for people in this situation.

I'm not closing the bug as I assume users should not be required to do this, but I am able to proceed. Thank you!

[2022-07-20 02:17] testforstephen commented on #2572
vscode-java-pack extension will use jcmd to check whether the language server process is alive. Since jcmd is a built-in command tool from JDK distribution, we might need to report it back to OpenJDK team.

// cc: @Eskibear

[2022-07-20 05:41] #1282 closed

[2022-07-20 06:38] testforstephen opened #2581 "Project import (setting classpath containers) is stuck at 33%"
Recently when I open spring-petclinic in VS Code, I have observed multiple times that the project import (setting up the classpath container) is stuck at 33%. And usually reload the window and it works again.

![image](https://user-images.githubusercontent.com/14052197/179913465-5e10c90a-bfdb-4eac-9574-83c4cbeeb766.png)

[2022-07-20 07:48] xxc-zsz opened #2582 "How do I map the Run Configuration from IntelliJ to VSCode?"
I want to have the same run configuration I have on `Intellij` the same as I do for `VS Code`. But I am not sure how to go about doing that. I tried the `launch.json` on VSCode but I am not sure what fields I have to put to make it work.

Anyone with experience with this?

**Here is what I am referencing:**
[![enter image description here][1]][1]

  [1]: https://i.stack.imgur.com/6Kvyg.png

Essent

[2022-07-20 09:30] testforstephen commented on #2582
1) If .vscode/launch.json doesn't exist in your workspace, you could click the link "**create a launch.json file**" and Java Debugger will create a initial launch.json file with some base configuration for your Java application.
![image](https://user-images.githubusercontent.com/14052197/179945627-62a81dcf-6de9-4ff1-b086-12352b02dcff.png)

2) Type a `""` in launch.json, VS Code will provide a list

[2022-07-20 10:32] Skenvy commented on #2572
Running it at the moment does not trigger the antivirus. When it first triggered, I was not actively running anything, merely had vscode open in the background, and after about half an hour the warning appeared that it'd been quarantined.

[2022-07-20 18:19] snjeza commented on #2581
I can't reproduce the issue.
@testforstephen could you, please, provide your settings.json and your extensions?

[2022-07-20 20:38] PSpringchill opened #2583 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `java`
- Extension Version: `1.8.0`
- OS Version: `Windows_NT x64 10.0.21996`
- VS Code version: `1.69.2`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2022-07-20 22:40] rgrunber commented on #2583
Can you describe roughly what the issue is and a step by step of how to reproduce ?

[2022-07-21 03:30] Eskibear opened #2584 "common code snippets not on top of the completion list"
We do have corresponding snippets for keywords like `if`, `for`, `while`, `switch` etc., that I don't need to type parentheses. But they are not on top of the list, that I have to press an extra arrow-down key. It's not smooth, and usually I will pick the first candidate and type the parentheses by my own.

Looks

![image](https://user-images.githubusercontent.com/2351748/180123184-d303e7c7-4857-4

[2022-07-21 09:09] v-yuyul opened #2585 "Keep consistent style in notification when prompted to restart/reload VSCode"
##### Environment
- Operating System: Mac intel
- JDK version: 17.0.2
- Visual Studio Code version: 1.69.2
- Java extension version: 1.9.0

##### Steps To Reproduce
1. [step 1] Change `java.jdt.ls.java.home` in settings > Notification dialog shows as screenshot 1
2. [step 2] Install a new extension, like debugger for java > Notification dialog shows as screenshot 2

##### Current Result
Screenshot

[2022-07-21 09:20] jdneo commented on #2585
We can consider make those wordings consistent in next iteration.

[2022-07-21 14:01] rgrunber commented on #2414
The API to do this on JDT Core has been available since https://download.eclipse.org/eclipse/updates/4.25-I-builds/I20220719-1800/ . I've also merged a change to fix the issue on Eclipse, so we should be able to go ahead and fix it in vscode-java now.

See https://github.com/eclipse-jdt/eclipse.jdt.ui/pull/149/files for an example.

[2022-07-21 15:22] notblank00 commented on #483
this error is still in place on the latest version on Ubuntu 22.04, although it might be a Maven issue

[2022-07-22 00:06] snjeza commented on #483
@notblank00 Could you, please, create a new issue and provide steps to reproduce the issue?

[2022-07-22 00:16] notblank00 commented on #483
I fixed it, it was my bad. I used the old `java.home` property instead of the new `java.jdt.ls.java.home`.

[2022-07-22 00:52] xxc-zsz commented on #2582
I'm really sorry. I understand that, but I dont know what fields are compatible/I should put. The screenshot is those fields, but when I put "gradle" as key and value "dee_api_gw", it does nothing. So im not sure what to put.

[2022-07-22 06:03] Eskibear commented on #2582
I think @xxc-zsz wants to run Gradle task `:test` for project `dee_api_gw`, and wants to save the action. AFAIK [Tasks](https://code.visualstudio.com/docs/editor/tasks) is for that. You probably want to install [Gradle extension](https://marketplace.visualstudio.com/items?itemName=vscjava.vscode-gradle) for richer features. /cc @CsCherrYY

[2022-07-22 09:53] jcolladosp opened #2589 "Clean Java Language Server Workspace command not found in 1.9.0"
##### Environment
- Operating System: Ubuntu 20.40
- JDK version: 17.0.3
- Visual Studio Code version: 1.69.2
- Java extension version: 1.9.0

##### Steps To Reproduce
1. Go to the command palette and run `Java: Clean Java Language Server Workspace`

[Please attach a sample project reproducing the error]
[Please attach logs](https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#enab

[2022-07-22 11:29] fbricon commented on #2589
This can happen if the extension has not yet been activated. Current activation events are configured in https://github.com/redhat-developer/vscode-java/blob/03d6bb42d02c95331957e1a75f1b8bc51bcd261a/package.json#L41-L51

So, as a workaround, you can just open a java file (or open a folder containing Maven or Gradle files) to trigger activation, then you can call the clean workspace command.

[2022-07-22 11:36] jcolladosp commented on #2589
@fbricon Hi, I just tried that and still not working

[2022-07-22 14:32] fvclaus commented on #2294
@rgrunber has this really been fixed? My 1.8.0 vscode-java still removes all imports if a file as a syntax error.

[2022-07-22 18:40] rgrunber commented on #2294
You're right. I'm still able to reproduce. I haven't investigated, but I would guess some kind of reference check is done against the static import, and if a syntax error happens in such a way as to make the AST unrecoverable, the reference is not discovered, and the import gets flagged for removal.

[2022-07-23 01:59] jdneo commented on #2589
Is the extension activated successfully on your machine?

[2022-07-23 10:26] mohitsuman commented on #2574
I think the Readme tag also shows the pre-release version, so that's the version vscode stores.

[2022-07-23 15:00] mohitsuman commented on #2224
@rgrunber can we look at this issue and update the default branch.

[2022-07-23 15:10] mohitsuman opened #2592 "Remove stale travis ci information from readme"
Currently the readme badge for build points to old CI build. We now use GitHub Actions workflow, so we need to update the readme badges accordingly.

[2022-07-23 15:19] mohitsuman commented on #2141
@KREATIV-LSH @sclorng can you please try out the latest release of the extension and let us know if this issue still happens or we can close this.

[2022-07-23 15:23] mohitsuman opened #2593 "Add windows OS to CI workflow for pr-verify"
Currently we perform PR test on macOS and ubuntu. We need to add Win to the workflow to cover all the 3 OS env.

[2022-07-23 16:47] bearArthurAog commented on #1381
For me adding this settings in settings.json helped

  "java.autobuild.enabled": false,
  "java.project.resourceFilters": [".git", "*\target"],

[2022-07-24 12:16] anazar2001 commented on #2545
Hi Fred,

Any idea when this issue will be fixed? Can see that 1.9 still has the bug.
So could not update to it. Now I am 2 versions behind(((

Thanks,
Andrei.

On Wed, 6 Jul 2022, 17:29 Fred Bricon, ***@***.***> wrote:

[2022-07-24 16:35] jcolladosp commented on #2589
Hi @jdneo, the extension is not activated, but I cant find any log with errors in order to provide you with something useful

[2022-07-24 22:39] KREATIV-LSH commented on #2141
I switched to Linux and never tested it again, unfortunately I don't have the Windows install I used back then so I can't test it.

[2022-07-25 02:01] Eskibear commented on #2589
View -> Output -> Expand the dropdown menu-> scroll down and select `Log (Extension Host)`, you'll see how extensions are activated. Search `redhat.java` for related logs.

[2022-07-25 07:52] CsCherrYY opened #2595 "Reloading project for Gradle projects doesn't show errors when failed"
##### Steps To Reproduce
1. git clone sample project: https://github.com/microsoft/vscode-gradle
2. Open in VSCode, set `java.configuration.updateBuildConfiguration` to `disabled`
3. make an error in `./gradle-server/build.gradle`. e.g., set `java` closure in line 8 to `jaa`.
4. manually reload the java project, there is no error found in the PROBLEMS panel
5. execute command: `Java: Import Java P

[2022-07-25 11:05] gayanper opened #2596 "Support for updating hierarchical project structure from the parent pom project in project explorer"
Today when updating the project, the UI only provide option for java projects. To update a project hierarchy the user needs to update each individual java project. Adding the support in UI to trigger this update from the parent pom project will be really nice feature to have in vscode similar to Eclipse.

##### Environment
- Operating System: All
- JDK version: Any
- Visual Studio Code version: 1.

[2022-07-25 19:36] devin-lo commented on #2577
same issue on:

VS code versions 1.68.1 and 1.67.0
RedHat Java extension 1.7.0, 1.8.0, 1.90
(multiple combinations of the above were tried, all had same issue)

JDK version 11.0.12 (oracle)

[2022-07-26 02:28] jdneo commented on #2596
You can trigger the command `Java: Reload Project`

[2022-07-26 08:20] #2592 closed

[2022-07-26 08:26] mohitsuman commented on #2574
We have the release info updated on the release note, hence closing this. For version mismatch for release and pre-release, on vscode marketplace, will open a separate one.

[2022-07-26 08:26] #2574 closed, assigned to nobody

[2022-07-26 11:09] gayanper commented on #2596
I did, But it only works if the selected project is a java project, or a maven project with non-pom packaging type. What i expect is if we have a project with pom type which has several jar type sub modules. Invoking reload project command or have a Update project menu option to update the pom type and its sub modules.

[2022-07-26 16:52] elizalde1981 commented on #2292
Same issue here.
The logs in Developer Tools:

<html>
<body>
<div aria-expanded="true" tabindex="-1" style="box-sizing: border-box; min-width: 0px; min-height: 0px; outline-width: 0px; flex: 0 0 auto; color: rgb(232, 234, 237); font-family: consolas, &quot;lucida console&quot;, &quot;courier new&quot;, monospace; font-size: 12px; font-style: normal; font-variant-ligatures: normal; font-variant-cap

[2022-07-26 18:55] elizalde1981 commented on #2577
Seems to be similar to #2292

[2022-07-27 01:22] jdneo commented on #2596
I see.

By the way, you can also set `java.configuration.updateBuildConfiguration` to `automatic`, so that you don't need to always manually trigger the reload project command.

[2022-07-27 01:55] victorlee0505 commented on #2577
same issue here, out of the blue it just stopped working.

[2022-07-27 06:28] jdneo opened #2597 "Clear out-of-date files in global storage"
The extension will store some caches in global storage with each version. Each version will occupy around 15~20MB, which the total size will be quite large when users switched to the pre-release channel.

![image](https://user-images.githubusercontent.com/6193897/181176687-f95eb09d-83a4-4464-aa42-9059ccb65938.png)

We can consider detect the out-of-date version and remove it.

[2022-07-27 06:56] CsCherrYY commented on #2597
I remember @rgrunber mentioned this before: https://github.com/redhat-developer/vscode-java/issues/2285#issuecomment-1126151673 We have already updated to M2E 2.0, so is there any difference on size of the recent versions?

Besides, we can have such logic to clean previous global storage folders.

[2022-07-27 07:23] jdneo commented on #2597
Yes the size is smaller. For example, the size if the folder `1.3.0` is ~24MB, while the size of `1.10.2022072204` takes ~16MB

[2022-07-27 13:27] rgrunber commented on #2597
As per discussions, maybe there is some feature to have VS Code clear such cached folders at the platform level ? Or maybe there is something we can take advantage of in VS Code API that can mark those folders for deletion on certain staleness criteria ?

[2022-07-28 02:07] jdneo commented on #2414
Thank you @rgrunber, I'll follow up the fix at the JDT.LS side.

[2022-07-28 02:54] jdneo commented on #2597
I filed an issue at VS Code to ask what's their perspective on this: https://github.com/microsoft/vscode/issues/156519

[2022-07-28 06:37] CsCherrYY opened #2598 "Support formatting & organize import for multiple files"
Currently we can only do formatting or organize import for the current file, is it possible to do these actions for multiple files? e.g., when the user selects a folder in the file explorer, we can offer an option like "format files" in the menu.

Eclipse supports such feature:
![image](https://user-images.githubusercontent.com/45906942/181437405-ed97c37c-7c63-4536-881a-3159da6234c4.png)

[2022-07-29 01:38] jdneo commented on #2598
Related: https://github.com/redhat-developer/vscode-java/issues/1107

[2022-07-29 03:22] rr13k opened #2599 "Migrating from idea, the compile time JDK version cannot be specified correctly"
hi，I'm a rookie in Java. When I try to migrate the historical project from idea to vscode, I send java.configuration Runtimes didn't take effect. The project was always started with Java 17, and there were some configuration problems that I couldn't handle
I need help, thanks

##### Environment
- Operating System: apple M1 pro
- JDK version: 1.8
- Visual Studio Code version: 1.69.2
- Java extensio

[2022-07-29 03:25] rr13k commented on #2599
I think these errors are caused by Java JDK, but I configured java.home correctly. Who can help me

[2022-07-29 05:53] testforstephen opened #2600 "Skip the security check for "java.home" and "java.jdt.ls.java.home" in a trusted workspace"
When running vscode-java in a trusted workspace, it will still pop up a security check when the workspace's settings.json has configured "java.home". I think we can skip the check if it's in a trusted workspace.

![image](https://user-images.githubusercontent.com/14052197/181691181-e899836d-389e-4d6e-b636-9ffdb4767042.png)

Also, we have adopted the trusted workspace feature for the "java.jdt.ls.v

[2022-07-29 08:29] jdneo commented on #2589
By saying nothing happens, does that mean VS Code does not restart? Or it does a restart but the issue still occur?

[2022-07-29 08:34] jcolladosp commented on #2589
No restart and no clean workspace. Also I don't get any error message.

[2022-07-29 10:36] benzman81 opened #2602 "Problems (red) on Java files/packages mostly after cleaning workspace"
I have a problem where Java files and packages  in vscode stay red showing a problem. This happens mostly after cleaning workspace.
I use workspaces with many different maven projects in each and it occures in all of them.

The problems shown in the problems view are The `import foo.bar cannot be resolved` and `MyJavaClass cannot be resolved to a type`. I can only fix this, if I open every single

[2022-07-29 18:29] clembo590 commented on #2569
@snjeza thank you for the suggestion and for the great work you guys are doing.
But does it feel OK to you that I would modify the code of my project in order for vscode to be able to work ?
To me this is not ok... Unfortunately I work for a big company where code is reviewed and we do not add code that should not be there.
Any plan on fixing this issue ? (I must say that I have been working in ja

[2022-07-29 18:31] clembo590 commented on #2499
Hi. Some time have passed sorry about that... what about this suggestion:
@jdneo I think the solution would be to do like in intellij or eclipse: right click on a file and then RUN AS TEST
or automatically detect that it s a file that contains test and put a little arrow without having me to play with the classpath.

[2022-07-30 19:09] nobody-famous opened #2603 "OpenJDK 17 --enable-preview breaks error reporting"
I wanted to use the new switch syntax that's still a preview in 17. I changed my maven pom.xml to have

`
        <plugin>
          <artifactId>maven-compiler-plugin</artifactId>
          <version>3.8.0</version>
          <configuration>
            <compilerArgs>--enable-preview</compilerArgs>
          </configuration>
        </plugin>
`
In the Syntax Server output window it has,

[Error - 1

[2022-07-30 22:55] fbricon commented on #2603
Due to a limitation in the underlying ECJ compiler, preview fearures are only supported with the latest Java release, i.e Java 18 as of today. See https://github.com/redhat-developer/vscode-java/wiki/Enabling-Java-preview-features

One suggestion is to use a custom Maven profile that would set. the Java version to 18 when running inside vscode-java or Eclipse. For instance:

[code]

[2022-07-30 23:07] nobody-famous commented on #2603
Is there no way for it to detect that and pop up an error message instead of failing silently?

[2022-07-31 15:23] doggy8088 opened #2604 "Feature suggestion: Add Javadoc for 'ClassName'"
Add Javadoc for 'Class'

##### Environment
- Operating System: Windows 10
- JDK version: 17.0.2
- Visual Studio Code version: 1.69.2
- Java extension version: v1.9.0

##### Steps To Reproduce
1. Add a class
2. cursor move to class name
3. Hit `Ctrl+.` (Show Code Actions)
4. I can't find a command called `Add Javadoc for 'ClassName'`

##### Current Result

There is already a `Add Javadoc for 'Metho

[2022-07-31 18:34] doggy8088 opened #2605 "Bug report: The `new` snippets use the wrong format of ${0}"
Code snippets in VSCode should treat `$0` as a ending position. Some of the snippets such as `new` use `$0` as a replacement which is wrong.

https://github.com/redhat-developer/vscode-java/blob/3ad9749dd8edd63ee4f2e887ec7142a3874e3659/snippets/java.json#L100-L106

Also, some snippets (see below) use `{0:TODO}` as a replacement which is not handy for coding.

https://github.com/redhat-developer/vs

[2022-08-01 01:37] jdneo commented on #2589
@testforstephen Do you have any idea on this?

[2022-08-01 02:29] testforstephen commented on #2589
The logs shows that redhat.java extension fails to startup. Looks like the extension got some unexpected exception before the clean workspace command is registered. To improve the user experience, I think we need to register troubleshooting commands such as open_logs and clean_workspace as early as possible.

@jcolladosp Could you show the logs of the following places?

- **Help -> Toggle Develope

[2022-08-01 02:30] #2600 closed

[2022-08-01 05:41] jdneo commented on #2499
Yes, some changes need to be done here to make the test inference become smarter.

Currently the extension relies on the content in .classpath, but for sure we have improvement room for that.

[2022-08-01 18:35] snjeza commented on #2589
@jcolladosp could you try the following:

- exit VS Code
- run
[code]
- start VS Code

[2022-08-01 19:45] snjeza commented on #2569
@clembo590 you can try the following:

- create the usersettings.xml file
[code]
- add the following property to your settings.json
[code]
- reload your project

[2022-08-01 20:13] fopnet commented on #1381
Vscode must to have a configuration to the automatic build ignore list of folder or files

[2022-08-02 01:47] #2414 closed

[2022-08-02 02:42] xxc-zsz opened #2609 "How to turn off linting for Java?"
I want to turn off linting for Java, I tried to find this setting, but I didn't find it. Can someone tell me how to turn off linting for Java in vscode?

![image](https://user-images.githubusercontent.com/108051416/182280349-bdcb65f9-300f-4908-905a-bbb468be0d9d.png)

[2022-08-02 03:10] keybong opened #2610 "code snipping dose'n work when using Remote-Contianer"
sadasfsd

[2022-08-02 03:37] #2610 closed

[2022-08-02 06:20] jdneo commented on #2602
Are you using lombok in your project?

[2022-08-02 06:57] jcolladosp commented on #2589
Hi @snjeza,
that worked!
Thank you very much!

[2022-08-02 06:57] #2589 closed

[2022-08-02 07:18] jdneo opened #2611 "Register diagnostic related commands at beginning"
As the thing happens in https://github.com/redhat-developer/vscode-java/issues/2589.

The extension failed to start before the diagnostic related commands registration. So, nothing happens when the user clicks `Clean and Restart`.

We need to consider registering those diagnostic related commands (clean cache, open logs, ...) at the beginning of the extension activation.

[2022-08-02 08:17] benzman81 commented on #2602
No, we dont. This issue also occurs on laptops of my colleagues.

[2022-08-02 20:25] rgrunber commented on #2552
Hold on. I'm not convinced the problem is on the JDT-LS side just yet. There might be some thing we need to fix with https://github.com/eclipse/eclipse.jdt.ls/pull/2178 (CC @jdneo ) but here's what I'm seeing :

I have latest vscode-java (from sources) and your vscode-jbang pre-release installed, and can confirm the Java version (from the status provider, among other things fails to show up). For

[2022-08-03 00:52] snjeza commented on #2609
@xxc-zsz you can use the following settings
[code]
See [Settings Global Preferences](https://github.com/redhat-developer/vscode-java/wiki/Settings-Global-Preferences)

[2022-08-03 03:16] jdneo commented on #2552
Yes, JBang importer generates the `_` folder, and then links the JBang script file to that folder. From the .project file of the JBang project:

[code]

Looks like the `ProjectUtils.getProjectRealFolder()` cannot handle such case correctly. - when a file instead of a folder is linked to the project.

I can think of two solutions to this problem:
1. Delegate the project real path calculation to the

[2022-08-03 04:30] #2585 closed

[2022-08-03 04:33] jdneo commented on #2602
Not sure if it's related with this one: https://github.com/microsoft/vscode-java-pack/issues/1042

@CsCherrYY do you have any insight?

[2022-08-03 08:10] fbricon commented on #2552
FYI I might also add a mode where the folder, instead of the file, is linked.

[2022-08-03 14:55] datho7561 opened #2613 "CodeAction that modifies code in an unopened file doesn't work with two spaces indentation"
When I apply a CodeAction that modifies code in a file that isn't currently opened in VS Code, such as "create missing field `asdf` in Foo", and the file being modified is formatted to use two spaces as indentation, then the newly added content is not formatted correctly.

In order for this to happen, I don't specify any indentation settings in `settings.json`, and I don't add a `.settings/org.ecl

[2022-08-04 03:16] AaaCabbage commented on #1417
I have the same problem. So, Has there been any updates?

[2022-08-05 02:05] AYiXi commented on #121
spring boot package makes java very slow, I tested

[2022-08-06 04:59] dhruv1233 commented on #1341
i also face the same problem

[2022-08-06 09:55] yschimke commented on #634
This makes this unusable, is there some fix/workaround I'm missing?

[2022-08-06 15:28] snjeza commented on #1341
@dhruv1233 could you, please, provide a project example reproducing the error?

[2022-08-06 15:36] dudanisu opened #2615 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `java`
- Extension Version: `1.9.0`
- OS Version: `Windows_NT x64 10.0.19044`
- VS Code version: `1.70.0`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2022-08-06 23:26] #2141 closed

[2022-08-07 09:52] #2615 closed

[2022-08-08 08:41] CsCherrYY opened #2616 "Duplicate root element for projects in subfolder"
given two Gradle projects:

- https://docs.gradle.org/current/samples/zips/sample_building_java_applications_multi_project-groovy-dsl.zip
- https://docs.gradle.org/current/samples/zips/sample_building_java_applications-groovy-dsl.zip

extract them to one folder, e,g.,

- testFolder/sample_building_java_applications_multi_project-groovy-dsl
- testFolder/sample_building_java_applications-groovy-dsl

[2022-08-08 22:21] Foxhunter981 commented on #2577
Also happening to me. Its very annoying. I have to switch to Eclipse for now
![image](https://user-images.githubusercontent.com/74263544/183524553-f6299781-0a37-4143-8a41-45366c4f501e.png)

[2022-08-09 05:10] muchida6 commented on #2577
In my case, adding `-Xlog:jni+resolve=off` to `java.jdt.ls.vmargs` solved this problem.

languageclient has receiving rpc response with error messages as follows.
[code]

PanwHooks seems to be related to Palo Alto Networks products, which this product seems to  injecting DLLs into the JVM.

[2022-08-09 06:10] sudheerkkumar commented on #2577
@muchida6
I am also facing the same issue. Getting same warning with Javac -version command in cmd as well.
Can you bit more specific where to add the vmargs. I tried to add in vscode settings.json. But no luck.

[2022-08-09 07:48] MarcSerret51 commented on #2577
I'm getting the same error. The workaround given by @muchida6 worked for me.
@sudheerkkumar To add this config line you have to go to Setting and type `java.jdt.ls.vmargs` and click `Edit in settings.json`.
![image](https://user-images.githubusercontent.com/32881340/183594240-ea3de086-d393-4999-accc-00b899588593.png)

[2022-08-09 08:20] sudheerkkumar commented on #2577
Thanks @MarcSerret51 . It is working now.

[2022-08-09 09:47] fbricon commented on #2577
@muchida6 thanks for finding that out. Where did you see the "Re-registering of platform native method: java.lang.PanwHooks.NativeMethodEntry" response? in some logs or while debugging vscode?

[2022-08-09 12:40] Foxhunter981 commented on #2577
I would also like to know where this response was found. I didn't see it locally but that could just mean I missed an important debug step

[2022-08-09 15:29] victorlee0505 commented on #2577
@muchida6 Great Thanks!! btw, now junit test stuck at resolving launch config from debugger for java extension, but I can live with that :-D

[2022-08-09 20:46] jgriffin1 opened #2618 "Error debugging java"
Issue Type: <b>Bug</b>

I'm not sure if this issue is caused by VSCode itself or an extension.
Starting this week, I have been unable to debug java code, get intelliscense to show me errors, etc.
I saw there was an update to the regular java extensions around last Friday, so I reverted those extensions back a version. After this didn't work, I uninstalled vscode and reinstalled the previous versio

[2022-08-09 20:54] jgriffin1 commented on #2618
!SESSION 2022-08-09 15:25:09.792 -----------------------------------------------
eclipse.buildId=unknown
java.version=17.0.3
java.vendor=Eclipse Adoptium
BootLoader constants: OS=win32, ARCH=x86_64, WS=win32, NL=en_US
Command-line arguments:  -data c:\Users\[user-name]\AppData\Roaming\Code\User\workspaceStorage\972c5308ecf8c76b0a988af9fdae1e3c\redhat.java\jdt_ws

!ENTRY org.eclipse.core.resources

[2022-08-09 20:56] jgriffin1 commented on #2618
(...I accidently hit the button to close the issue with a comment rather than the actual comment button. I'm going to reopen this. I promise I'm not actually as dumb as I am making myself seem....)

[2022-08-09 22:28] gkephart-apptricity commented on #2139
Better than only on save would be some key combo to execute the sorting.

[2022-08-09 23:20] muchida6 commented on #2577
@fbricon @Foxhunter981 I was just trying to debug.
![image](https://user-images.githubusercontent.com/64448195/183777963-35a82bb2-9619-4a67-b253-0cb4bacc6de8.png)

[2022-08-09 23:45] muchida6 commented on #2577
@victorlee0505 Running the junit test by `vscode-java-test` worked for me, though `vscode-java-test` has `vmArgs` in `java.test.config` (https://github.com/Microsoft/vscode-java-test/wiki/Run-with-Configuration),
so adding `-Xlog:jni+resolve=off` might work better. I hope this helps.

[2022-08-10 08:04] charlesAOC commented on #274
This was a problem for me too. I navigated to the configure class path tab through the "java projects" tab at the bottom left of the screen. From there, i removed all other paths apart from the default. this solved my problem. The "java.project.sourcePaths": [""]" solution does this.

[2022-08-10 08:06] maxandersen opened #2619 "unclear name/description for download sources"
the name and description for "download sources" is a bit confusing.

![2022-08-10_10-02-56](https://user-images.githubusercontent.com/54129/183848388-42d2b751-62f9-46c1-82c0-6ac6452ce475.png)

1) does turning this setting on enable or disable download of sources?
2) what does "Eclipse:" refer to ? no other setting has this.

I would assume something like the following is more clear (based on how i

[2022-08-10 08:10] maxandersen opened #2620 "support linked editing"
when enabling linked editing in vscode I would expect that when editing declarations that references would be renamed.

i.e.

[code]

if editing "test" in second line nothing should change, but if linked editing enable editing "test" in first line to i.e. "mystring" the "test.upper()" should change to "mystring.upper()"

[2022-08-10 08:21] maxandersen opened #2621 "make guess method arguments default enabled"
having method arguments guessing on results in much less typing. any reason to not have it default on?

[2022-08-10 08:31] fbricon commented on #2619
checked == enabled

This setting is used for Eclipse projects specifically, as in no Maven nor Gradle, pure .project, .classpath eclipse projects. It basically brings the same download capabilities to Eclipse projects that Maven or Gradle have. Not turned on by default because it uses hard coded paths for source files in .classpath

[2022-08-10 08:38] fbricon commented on #2620
linked editing is currently not supported, but you can use F2 to rename 'test' and it'll work as you expect

[2022-08-10 09:35] TimoTr97 opened #2622 "implementation and definition missing"
Type: <b>Bug</b>

Cant go to definition nor implementaison

Extension version: 1.7.0
VS Code version: Code 1.70.0 (da76f93349a72022ca4670c1b84860304616aaa2, 2022-08-04T04:38:16.462Z)
OS version: Windows_NT x64 10.0.19044
Modes:

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|AMD Ryzen 7 PRO 5850U with Radeon Graphics      (16 x 1896)|
|GPU Status|2d_canvas: enabled<br>canva

[2022-08-10 13:33] victorlee0505 commented on #2577
i added these 2 enties in setting.json to make test runner and springboot dashboard works!

    "java.debug.settings.vmArgs": "-Xlog:jni+resolve=off",
    "spring-boot.ls.java.vmargs": ["-Xlog:jni+resolve=off"],

[2022-08-10 17:06] jgriffin1 commented on #1739
I'm having this issue, or at least a similar issue. Building is stuck constantly spinning and the "Java build Status" terminal stays blank.

[2022-08-10 20:55] tarekahf opened #2623 "When opening Java Project, the Java Build Status is spinning forever."
[provide a description of the issue]

##### Environment
- Operating System: Windows 10
- JDK version:  JavaSE-1.8 (for the project) and JavaSE-11 for vs code
- Visual Studio Code version: 1.70.0
- Java extension version: Extension Pack for Java v0.25.0

##### Steps To Reproduce
1. Open Java Project
2. The Java Build Status indicator on the status bar is spinning forever.
3. The status bar Java Bui

[2022-08-10 23:57] Enfield-Li commented on #1881
`Language support for Java` + `Extension pack for Java` maks intellisense super slow. By disabling `Extension pack for Java`, the speed is much faster, but we can't enjoy those nice features.

[2022-08-11 04:51] testforstephen commented on #2623
@tarekahf Your issue is duplicated with https://github.com/redhat-developer/vscode-java/issues/2577#issuecomment-1208922149, pls take a look at the workaround there.

[2022-08-11 05:11] jundiaufa11 commented on #2577
@muchida6 thank's dude it's working on me :)

[2022-08-11 05:13] jundiaufa11 commented on #2623
@tarekahf i have a problem like you, try this https://github.com/redhat-developer/vscode-java/issues/2577#issuecomment-1208922149 working on me

[2022-08-11 13:31] tarekahf commented on #2623
Thanks all for the reply... Was that magic or what? It worked. I'll wait for tomorrow to confirm. Then you can close. I'll check it using another WiFi connection...

[2022-08-11 13:56] tarekahf commented on #2623
Just a quick question about the message I saw about lightweight mode for Java projects. Is there a heavyweight mode and what's the difference? Can you please share a link for details?

[2022-08-11 15:21] dbarvitsky commented on #1765
The "Publish Diagnostics" takes the longest for me. I frequently see `java` processes (2 of them because of the hybrid mode) in the background hugging the CPU (200-300% spikes), notably after the change to a Java file is made. It slows down the intellisence, and one has to wait for good 10-30 seconds for the auto-completion hints to appear. I attempted the following:

- setting user-level `"teleme

[2022-08-11 18:52] nunojun opened #2625 "java.configuration.runtimes not working"
[provide a description of the issue]

##### Environment
- Operating System: MacOS Big Sur
- JDK version: openjdk8, openjdk11, openjdk17, temurin8, temurin 11, temurin 17
- Visual Studio Code version: 1.70.1
- Java extension version: 0.25.0

##### Steps To Reproduce
1. Open a Java project - Spring Boot and java.version on Maven is 11
2. Wait until Java Build Status is finished
3. Hover mouse over o

[2022-08-11 19:36] jgriffin1 commented on #2618
This was the solution to my issue:
https://github.com/redhat-developer/vscode-java/issues/2577
needed to add
`-Xlog:jni+resolve=off`
 to the end of vscode's "java.jdt.ls.vmargs" setting.

Gosh this was so many hours of my life wasted. Good luck to any hapless soul who happens upon this string in the future.

[2022-08-11 19:36] #2618 closed

[2022-08-11 19:39] jgriffin1 commented on #2577
@muchida6
I spent so many hours trying to figure this out. Your solution was the answer. Thank you so much!

[2022-08-12 08:28] jdneo commented on #2625
Do you mean that in `pom.xml`, `java.version` is set to `11`, but the status bar shows that a JDK 8 is picked?

Have you tried to click `reload project` from the `pom.xml` right-click context menu?

[2022-08-12 08:29] jdneo commented on #2622
Please provide more details about the issue. Like a sample project and repro steps.

[2022-08-12 08:37] jdneo commented on #2621
I guess one reason is that sometimes the behavior is unexpected.

for example:

[code]

In order to make the argument guessing works, user needs to select the item that have the `long[]` type as the argument, otherwise, the guessing result will be `null`.

If the argument guessing is turned off, a place holder `array` will be filled, which at least providing some context information to users.

[2022-08-12 08:56] maxandersen commented on #2621
Hmm..shouldn't  guessing result null be used to then do the fallback result?

[2022-08-12 09:37] foxpluto commented on #1865
Hi,
reproducing the problem with Gradle is quite easy, every time I add or remove a dependency from the `build.gradle` file the error:
[code]
appears.

To let the message to disappear with `Java: Clean Java Language Server Workspace` and a restart of VSC, the error goes away.

Thanks,
S.

[2022-08-12 15:17] nunojun commented on #2625
I've done everything I can do - change the version, reboot, etc, but I cannot configure JDK version I want.
The behavior is,
1. It goes to JDK 8 (openJDK or Temurin)
2. If I delete all JDK 8, it goes to /Library/Internet Plug-ins/Java/AppletPlugin.plugin/Contents/Home, which is also JRE 8.

Please let me know if there's anything I can try more.
Thank you.

[2022-08-13 08:33] xiaodanguoguo opened #2626 "[vscode] Language Support for Java crash frequently"
[provide a description of the issue]
I use the theia platform which already uses the 'Language Support for Java' to realize the feature of LSP.  I use single container (K8s Pod) to open a new theia server for every user, however, not only It is very slow, but the edit box also disrupted usually, especially several user online concurrently.

##### Environment
- Operating System:Linux version 5.13.1

[2022-08-15 02:01] CsCherrYY commented on #1865
@foxpluto Is your project a Gradle project or not? And what's the value of your `java.import.gradle.enabled`?

[2022-08-15 16:20] datho7561 opened #2627 "Sorting server tasks uses compare function that always returns zero"
https://github.com/redhat-developer/vscode-java/blob/master/src/serverTasks.ts#L37

Unless I'm missing something, this compare function seems to always return zero. This doesn't seem like the correct behaviour.

[2022-08-15 23:19] tarekahf commented on #2623
For me the problem was resolved but I will wait until this one is also solved. I have another project that uses maven so I'm going to test it out.

[2022-08-16 03:46] nunojun commented on #2625
`maven.compiler.source` and `maven.compiler.target` are set to 11.
`reload project` from `pom.xml` does not help.
@jdneo

[2022-08-16 04:12] jdneo commented on #2625
Might be the same as https://github.com/redhat-developer/vscode-java/issues/2525, which is an upstream issue caused by m2e: https://github.com/eclipse-m2e/m2e-core/issues/842.

Is your project contains multiple profiles which specifies different JDKs?

[2022-08-16 05:07] jdneo opened #2628 "The input type of the launch configuration does not exist"
When opening a Gradle project, an error can be observed from the server log

[code]

[2022-08-16 06:50] meeowwwww commented on #1560
Go to Setting

Search : multiCursor

change to : ctrlCmd

[2022-08-16 07:04] foxpluto commented on #1865
@CsCherrYY yes, all my projects are Gradle projects and the value of `java.import.gradle.enabled` is `enabled`.

Did this means something to you?

Regards,
S.

[2022-08-16 09:36] future2r commented on #2054
Maybe integrating an option into the "Maven Favorites" is an alternative solution. VS Code could disable "autobuild" before starting Maven and enable it again after the build has finished.

[2022-08-16 13:33] gayanper opened #2630 "[feature] Improve Move symbol by using Custom QuickPick which will not load all symbols."
Today the Move symbol refactor operation load all types in the project. If the project is large, it takes a lot of time to load the items and its overwhelming to select from.

A suggestion is to use https://code.visualstudio.com/api/references/vscode-api#QuickPick%3CT%3E so that we can start loading the types which are in the same package to start with, and then when user start typing we can use t

[2022-08-16 13:33] gayanper commented on #2630
@jdneo WDYT ?

[2022-08-16 14:02] nunojun commented on #2625
No, not really.
I have been using a few "workspace"s w/ maven and Java.
Some are based on JDK 8 and pom.xml was generated by Spring Initializr.
Some others are based on JDK 11 and it's created by JHipster.
Each workspace has only one pom.xml and no multiple JDKs are required.

What I remember clearly is,
Once I turned on VS Code about 2 weeks ago, it required `java.jdt.ls.java.home` as my local JD

[2022-08-16 17:50] mwisnicki opened #2631 "Bundle common XML schemas"
Please bundle most common XML Schemas that are needed for features supported by this plugin such as maven-4.0.0.xsd and make them available to vscode-xml.

Currently they are downloaded from internet at runtime which is bound to fail in corporate environments because vscode-xml ignores proxy settings (redhat-developer/vscode-xml#134) and also random internet locations might not be even allowed by

[2022-08-17 01:50] CsCherrYY commented on #2625
The m2e issue https://github.com/eclipse-m2e/m2e-core/issues/842 is related to a different source level defined in the test scope.  The current m2e might ignore this configuration and use that in compile scope only. @nunojun is your project has different source level in compile scope and test scope?

Besides, IIUC `java.jdt.ls.java.home` is not required for most cases since the extension has its e

[2022-08-17 01:59] jdneo commented on #2630
Do you mean use the API [createQuickPick](https://github.com/microsoft/vscode/blob/main/src/vscode-dts/vscode.d.ts#L9725), which will have the full lifecycle control of the quick pick widget?

[2022-08-17 04:13] gayanper commented on #2630
Yes

[2022-08-17 04:50] jdneo commented on #2630
The idea looks good to me 👍.

Feel free to make contributions if you would like to :)

[2022-08-17 05:52] krukah opened #2632 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `java`
- Extension Version: `1.10.2022081204`
- OS Version: `Darwin arm64 21.4.0`
- VS Code version: `1.70.1`

:warning: We have written the needed data into your clipboard. Please paste! :warning:```json
{
	"messages": [],
	"activationTimes": {
		"codeLoadingTime": 170,
		"activateCallTime": 18,
		"activateResolvedTime": 15767,
		"activationReason": {
			"sta

[2022-08-17 07:49] jdneo commented on #2632
The extension id `pivotal.vscode-spring-boot` indicates that this might be an issue related with https://github.com/spring-projects/sts4?

I'm closing this issue since from the logs it seems out of this repo's scope. But if I'm wrong, please leave comments and let us know.

Thanks.

[2022-08-17 07:49] #2632 closed

[2022-08-17 08:01] jdneo commented on #2628
Root cause is that we are not providing test type name or container information from [JavaApplicationLaunchConfiguration](https://github.com/eclipse/eclipse.jdt.ls/blob/master/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/managers/JavaApplicationLaunchConfiguration.java). So when delegating the classpath resolving to upstream, the error throws here: https://github.com/eclipse-jdt/ec

[2022-08-17 11:16] nunojun commented on #2625
@CsCherrYY Thank you.
I do not use a different source level for the test scope. In other words, I use `maven.compiler.source` and `maven.compiler.target` only.

When I create a simple java code w/ a main method using JDK11 apis, it works as below.
![Screen Shot 2022-08-17 at 4 58 01 AM](https://user-images.githubusercontent.com/14337976/185104891-f3ee8726-c2e1-4d9c-b348-dfc09e22365b.png)

If I ope

[2022-08-17 11:46] itayasaf1990xd commented on #2207
I just wonder why almost 1 year later and this issue did not fix yet.

[2022-08-17 12:40] gb-42 opened #2634 "Windows 10 FileNotFound if %APPDATA% points to Network Share"
FileNotFound when %APPDATA% points to Network Share

##### Environment
- Windows 10
- JDK 17
- Visual Studio Code version: 1.70.1
- Java extension version: v1.9.0

##### Steps To Reproduce
1. Set $env:APPDATA to point to network share, i.e.
\\dem3788.company.net\CENXXXVOL001\Profiles\UserName\AppData\Code\User\workspaceStorage\993565304d52f777ea974b4a582d4774\redhat.java\jdt_ws\.metadata\.plugins\

[2022-08-17 12:51] alx1024 commented on #2207
yeah, for now on my machine it can be solved like this: ignore any settings in the settings UI. And just add this in your settings.json file:
`"editor.codeActionsOnSave": {
        "source.organizeImports": true,
        "source.addMissingImports": true,
    },`

[2022-08-17 14:55] #2631 closed

[2022-08-17 15:00] rgrunber commented on #2627
That definitely looks like a typo.

[2022-08-17 15:03] rgrunber commented on #2620
Closing as a duplicate of https://github.com/eclipse/eclipse.jdt.ls/issues/1919 .

[2022-08-17 15:03] #2620 closed

[2022-08-17 18:56] snjeza commented on #2577
@jmihalichuber could you, please, attach your logs - [Enable Logging](https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#enable-logging)

[2022-08-17 19:03] snjeza commented on #2625
Please attach pom.xml.

[2022-08-17 19:20] rgrunber commented on #2605
Not sure why this didn't close. Closing ..

[2022-08-17 19:20] #2605 closed

[2022-08-17 19:37] rgrunber commented on #2621
This has been the default in Eclipse JDT since 4.18 (2020-12).
https://bugs.eclipse.org/bugs/show_bug.cgi?id=433121

FWIW, I set `"java.completion.guessMethodArguments": true` because I also enabled `"java.inlayHints.parameterNames.enabled": "all"` & `"java.signatureHelp.enabled": true`. So even though I get `null` as a suggestion, I also get the `array` hint from inlay hints and the signature hel

[2022-08-17 19:56] rgrunber commented on #2619
Looking under the VS Code settings I see :

"Enable ..."
"Enable/disable ..."
"Enable(s) or disable(s) ..."
"Control(s) ..."

In some cases, skipping the above phrases and just saying what happens could also be very clear. I think its a matter of getting some upstream guidance on what terminology is preferred.

[2022-08-18 00:45] nunojun commented on #2625
@snjeza I attached pom.xml and this is the way to reproduce it.
1. Create a Jhipster project using Jhipster v6.10.5. (The simplest options were chosen.)
2. Once the project is created, it's open on the terminal like `code .` and then the `JavaSE-11` always goes to /Library/Internet Plug-ins/Java/AppletPlugin.plugin/Contents/Home
3. `JavaSE-11` is set correctly on a different workspace created from

[2022-08-18 01:46] jdneo commented on #2621
@rgrunber

Will we consider turning on signature help and method argument guessing in VS Code as well?

[2022-08-18 20:14] otavio-silva opened #2635 "Java extensions crashing upon open *.java file"
[provide a description of the issue]
The Language Support for Java server crashed 5 times in the last 3 minutes. The server will not be restarted.

##### Environment
- Operating System: Windows 11 Pro 21H2
- JDK version:  openjdk 18.0.2 2022-07-19
- Visual Studio Code version: 1.70.2
- Java extension version: v1.9.0

##### Steps To Reproduce
1. [step 1] Open Visual Studio Code
2. [step 2] Open any

[2022-08-19 04:41] matter-it-does opened #2637 "Space in path of java.settings.url causes URISyntaxException"
[code]

##### Environment
- Operating System: macOS
- JDK version:
- Visual Studio Code version:  Version: 1.70.2
- Java extension version: v1.9.0

##### Steps To Reproduce

In settings, set java.settings.url to a path with space in it.

##### Current Result

The exception above

##### Expected Result
no exception

[2022-08-19 05:24] jdneo commented on #2637
It not a space problem, the root cause is that we do not deal with the url string properly, when the path is windows fs format.

`c:/` is an invalid protocol format as a URL.

[2022-08-19 05:47] jdneo commented on #2637
@matter-it-does

The error is thrown from [here](https://github.com/eclipse/eclipse.jdt.ls/blob/7195e7cccebc7f993c890728ca39d4c43ca14aa4/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/managers/StandardProjectsManager.java#L543) due to `/Users/t/OneDrive - company/code/java_global.prefs` cannot be parsed to a URI.

Then it will be dealt as a file path. In your case, are the settings i

[2022-08-21 06:02] maxandersen commented on #2619
Imo Just remove the prefix. They are either redundant (Enables) or ambigious (Enables/disables)

[2022-08-22 02:11] mdgozza commented on #177
Not to add clutter to this issue, but I also cannot come up with a workaround for my gradle project. I have one generated source code folder and I would like to add it as a one off, but I don't want to mess up any of the other auto class path generation. Lots of talk about Maven but not much about gradle :/

This is an existing intellij project that I really want to run in vs code because I love v

[2022-08-22 04:41] matter-it-does commented on #2637
@jdneo

Oh I just noticed, they take effect, but the exception is a bit confusing and cluttering

[2022-08-22 07:29] testforstephen opened #2638 "Support intellisense for static members when using static import"
When using "import static" syntax to explicitly import static members, it should provide intellisense for static members.

![image](https://user-images.githubusercontent.com/14052197/185863874-19c620f0-88fc-40eb-8d42-80379ad7444a.png)

[2022-08-22 15:19] rohansatapathy opened #2639 "Generate toString() source action should support inclusion of methods"
It would be helpful to add an option to generate a toString with getters instead of attribute names because it would allow the toString to work automatically in subclasses where the getters might be overridden. Currently, the dialog only allows you to select which attributes to include in the toString. It seems like it would be relatively simple to add a checkbox (or maybe a separate dialog box) t

[2022-08-22 15:27] shivamfet commented on #2577
Hi Joe @jmihalichuber Did you find any solution i am also stuck, i tried the workaround it is not working.?

Does installing another version will help ?

[2022-08-22 15:40] shivamfet commented on #2292
Same issue. Workaround is not working for me.

[2022-08-22 18:36] brunoborges opened #2640 "Constructor in Records with varargs not found"
##### Environment
- JDK version: 17

##### Steps To Reproduce
1. Create a Record with last argument being `varargs`
2. Attempt to instantiate the record using varargs, from another class.

##### Current Result

<img width="1254" alt="image" src="https://user-images.githubusercontent.com/129743/185994032-56cf93b0-303a-4b6b-9472-86b6fd0c1ebc.png">

##### Expected Result

Constructor should be found.

[2022-08-22 19:41] snjeza commented on #2625
@nunojun Could you try to change the enforce configuration rule:

[code]
to
[code]

[2022-08-22 19:53] rgrunber commented on #2639
I think this is possible with just adjusting how we use the `GenerateToStringOperation` and its underlying API. From Eclipse IDE, I see :

![Screenshot from 2022-08-22 15-51-31](https://user-images.githubusercontent.com/1417342/186006963-e6fc6e9e-ef77-40ff-9009-19cc4a77719b.png)

We don't need to support all of these, but clearly generation from methods is supported.

[2022-08-22 20:26] nunojun commented on #2625
Thank you, @snjeza . It works after I change the `requireJavaVersion` accordingly.
One question is, according to the version range, the original `requireJavaVersion` looks good.
https://maven.apache.org/enforcer/enforcer-rules/versionRanges.html
Could we regard this as a bug of vscode-java?
Please advise.

[2022-08-22 20:32] snjeza commented on #2640
This is an upstream issue. It can be reproduced in Eclipse.

[2022-08-22 20:38] snjeza commented on #2625
I think this is an upstream issue in [m2e](https://github.com/eclipse-m2e/m2e-core)

[2022-08-22 21:47] rgrunber commented on #2637
Would @snjeza 's PR from https://github.com/redhat-developer/vscode-java/pull/2451 help with this ?

[2022-08-22 22:12] rajeevkrasdauk opened #2641 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `java`
- Extension Version: `1.10.2022081904`
- OS Version: `Windows_NT x64 10.0.19044`
- VS Code version: `1.70.2`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2022-08-22 22:13] #2641 closed

[2022-08-23 02:08] jdneo commented on #2637
Seems not. https://github.com/redhat-developer/vscode-java/pull/2451 is to check invalid url value. While in this case, user's url is a valid value.

The exception is thrown because the server will first try to parse a windows file path string to a URL. After failure, the server fallbacks to treat it as a file path. So it's still working finally.

[2022-08-23 04:45] shivamfet commented on #2623
I am also facing the same issue. Mine is maven project.

[2022-08-23 08:31] xxc-zsz opened #2642 "Change order of "Generate toString""
Is there a way to change order of "Generate toString"?

![image](https://user-images.githubusercontent.com/108051416/186111232-5e101fb7-b723-41ba-a274-1c03440832da.png)

For example, here, I want the order of generation to be the same as the order of fields above, or there is a way for me to adjust the order of generation myself.

[2022-08-23 08:33] xxc-zsz opened #2643 "VSCode reloads Java projects on each startup which takes a very long time"
I am in the process of switching from Eclipse to VSCode for Java Development - so far, I have been able to setup a workspace folder with all my Java projects in it and all works fine.

However, every time I restart VSCode, all projects are rebuilding (showing me "Opening Java Projects: check details") which takes a very long time (about 5 minutes) - in comparision, when I am re-opening my Eclipse

[2022-08-23 09:14] jdneo commented on #2642
It's duplicated with https://github.com/redhat-developer/vscode-java/issues/2502.

[2022-08-23 09:14] #2642 closed

[2022-08-23 18:23] snjeza commented on #2623
@shivamfet could you provide a project example?

[2022-08-23 19:10] shivamfet commented on #2623
Hi @snjeza

Following is the snapshot of project outline, it is a maven project. Hope it helps

![image](https://user-images.githubusercontent.com/37039508/186242942-9a5e9a88-ce31-4f37-ba05-383702bc36a6.png)

This is the remote-settings.json file

`{
        "java.jdt.ls.java.home": "/usr/java/jdk-17.0.2",
        "java.jdt.ls.vmargs": "-Xlog:jni+resolve=off",
        "java.dependency.syncWithFold

[2022-08-23 19:12] rgrunber commented on #2640
@snjeza , is there a known bug for this we can reference (even old one in bugs.eclipse.org) ? If none, we should probably filea new one.

[2022-08-23 19:13] shivamfet commented on #2623
Hi @snjeza

Developer Tools log says:

`mainThreadExtensionService.ts:79 [[object Object]]Header must provide a Content-Length property.
$onExtensionRuntimeError @ mainThreadExtensionService.ts:79
mainThreadExtensionService.ts:80 Error: Header must provide a Content-Length property.
	at p.onData (/home/skakkar/.vscode-server/extensions/redhat.java-1.9.0/dist/extension.js:2:1052283)
	at Socket.<ano

[2022-08-23 19:17] rgrunber commented on #2621
For signatureHelp, if there are no remaining issues with it, maybe we can ? It was discussed at https://github.com/redhat-developer/vscode-java/issues/2063 .

[2022-08-23 19:54] snjeza commented on #2623
@shivamfet What OS are you using?

[2022-08-23 20:00] snjeza commented on #2643
@xxc-zsz What OS are you using? Do you use maven, gradle?

[2022-08-23 22:42] snjeza commented on #2640
@rgrunber I can't find it.

[2022-08-24 00:50] rgrunber commented on #2604
We already support adding Javadoc for methods and classes. Given the example with `Lib1` from above, is the request to have `Add Javadoc for Lib1` as an option when the code action is activated from the `Hello` method ?

Also note that one can also configure missing javadocs to be an error or warning. Relative to the root of your project :

**.vscode/settings.json**
[code]

**settings.prefs**
[cod

[2022-08-24 01:46] jdneo commented on #2621
How about:

- We keep it disabled in the August release
- Enable it after the August release

Then we have a long-time window to collect feedbacks from the pre-release channel and take actions if anything unexpected happens.

[2022-08-24 02:36] shivamfet commented on #2623
Hi @snjeza

It is MAC OS Monterey version 12.1

[2022-08-24 03:28] THWU commented on #2643
Hi @snjeza
I had a similar problem, but my situation was that the build stalled.
This issue affects other features of VSCode (such as Source Control)
If I disable "Language Support for Java(TM)" extension, source control works fine.
This problem had begun in the last few days

Maven project
VSCode: v1.70.2
Language Support for Java(TM): v1.9.0

[2022-08-24 04:56] THWU commented on #2643
I found https://github.com/redhat-developer/vscode-java/issues/2577#issuecomment-1208922149 can solve my problem.
Sorry, i miss this issue.

[2022-08-24 15:26] jrieken opened #2645 "[Adoption Required] Use `vscode.extensions.getExtension('vscode.references-view')`"
VS Code Team here 👋

In June we have renamed the references viewlet extension. Its NEW name identifier is `vscode.references-view` (old was `ms-vscode.references-view`, different publisher). This extension still uses the old form when calling the `getExtension` API. With the September milestone and release this will NOT work anymore and the new identifier must be used, until then both variants wil

[2022-08-24 15:48] Eskibear commented on #2645
We already uses the new identifier (if exists), and fallback to the old one (for backward compatibility if users are using older version of vscode).

See corresponding PR https://github.com/redhat-developer/vscode-java/pull/2517

[2022-08-24 15:52] jrieken commented on #2645
Ok, that's what I thought. Closing this as you seem all set and ready for the change on our end

[2022-08-24 16:02] #2645 closed

[2022-08-25 16:16] shivamfet commented on #2623
Hi @snjeza
Sorry to bug you again. Any pointers or workaround if you can suggest it will be really helpful.

Regards
Shivam

[2022-08-25 18:38] qzi opened #2647 "Auto import is not working when multiple subfolder/root project in one workspace"
[provide a description of the issue]

##### Environment
- Operating System: MacOS
- JDK version: 17
- Visual Studio Code version: Version: 1.70.2
- Java extension version: v1.9.0

##### Steps To Reproduce
Step 1: delete a necessary import in a java file
Step 2: the extension can not import automatically

[Please attach a sample project reproducing the error]
[Please attach logs](https://github.com

[2022-08-25 19:18] rgrunber commented on #2640
Just noticed that the code runs just fine for me, if the above is the only error :neutral_face: . @brunoborges , can you confirm that ? I've included it in the report upstream.

[2022-08-25 20:24] brunoborges commented on #2640
Yeah, code works.

[2022-08-25 23:47] snjeza commented on #2623
@shivamfet I'm working on it.

[2022-08-26 02:03] CsCherrYY commented on #2502
we now get the candidate list via `ITypeBinding.getDeclaredFields()`: https://github.com/eclipse/eclipse.jdt.ls/blob/726ece1d1fd26480028c217f1d27193f4cd05760/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/handlers/JdtDomModels.java#L60

The return array seems to not be in particular order. Maybe `IType.getFields()` returns the correct definition order.

[2022-08-26 03:00] theAnkitt commented on #495
I had the same issue but when i deleted the java file containing error in that same folder where current java file is, then warning disappeared. you can also try to delete the file or correct the code in the folder your are working in they error should disappear.

[2022-08-26 06:08] jdneo commented on #2647
Can you share more details about `auto import the dependency necessarily`, adding the required import statement automatically?

[2022-08-26 13:21] qzi commented on #2647
[expressive_scenarios.zip](https://github.com/redhat-developer/vscode-java/files/9433440/expressive_scenarios.zip)
attached the workspace already and also you can navigate to
/Users/leon/Technical Agile/TacLearning/sample-code-cucumber4java/expressive_scenarios/02/src/test/java/tic_tac_toe/BoardSteps.java
and comment any function like Pending Exception

[2022-08-26 16:53] rgrunber commented on #2292
What happens if you try `-Xlog:disable` ? This should disable all logging.

You can still keep the other vmargs (just to be consistent with the default) :

`XX:+UseParallelGC -XX:GCTimeRatio=4 -XX:AdaptiveSizePolicyWeight=90 -Dsun.zip.disableMemoryMapping=true -Xmx1G -Xms100m -Xlog:disable`.

[2022-08-26 17:57] shivamfet commented on #2292
Thank you so much @rgrunber .

This has fixed the issue for me:

 "java.jdt.ls.vmargs": "-XX:+UseParallelGC -XX:GCTimeRatio=4 -XX:AdaptiveSizePolicyWeight=90 -Dsun.zip.disableMemoryMapping=true -Xmx1G -Xms100m -Xlog:disable"

[2022-08-26 18:49] rgrunber commented on #2292
@testforstephen , @fbricon , we may want to consider doing having `-Xlog:disable` (see https://github.com/redhat-developer/vscode-java/pull/2646#pullrequestreview-1087232354) . There's no way to know which logging facility under the JVM maye decide to interrupt the communication.

[2022-08-26 19:03] snjeza commented on #2623
A related issue - https://github.com/redhat-developer/vscode-java/pull/2646

[2022-08-26 19:05] snjeza commented on #2623
@shivamfet Could you check https://github.com/snjeza/vscode-test/raw/master/java-1.10.0.vsix ? It includes https://github.com/redhat-developer/vscode-java/pull/2646/

[2022-08-26 19:37] snjeza commented on #2647
@qzi  I can't reproduce the issue.
Could you show your settings.json?

[2022-08-26 20:57] qzi commented on #2647
`  "redhat.telemetry.enabled": true,
`
only this setting relate to redhat only in my user setting.

I think you can add a new function in a new dependency imported by maven, then you can reproduce the issue without any auto import performed in a java file if the project is under multiple root workspace

[2022-08-26 22:03] snjeza commented on #2647
@qzi could you try to add
[code]

[2022-08-27 06:13] qzi commented on #2647
"java.saveActions.organizeImports": true,
  "autoimport.showNotifications": true,

  These ones are already added before I raised this issue

[2022-08-27 17:52] snjeza commented on #2647
@qzi could you try the following project
[expressive_scenarios.zip](https://github.com/redhat-developer/vscode-java/files/9438447/expressive_scenarios.zip)
I have renamed the artifactId property in all your projects.

[2022-08-27 18:17] qzi commented on #2647
Oh, I got your point, thanks for your support. I am more confident to use vs code to program java now.

By the way, even the artifactId is the same, but in IntelliJ idea, it still works well to import automatically, so can we adjust our condition strategy in this plugin to keep it more robust

[2022-08-29 02:29] testforstephen commented on #2292
Since `-Xlog` is used to control the logs printed by the JVM's own built-in components and has no effect on the Java Language Server's log handler, it looks fine to disable it.

[2022-08-29 18:01] tarekahf commented on #2623
I have opened an old project which is maven-based using vscode. I am 100% sure it was working fine several months ago. No, it is not working. I see the build status indicator spinning forever on the status bar. I didn't find any reference to `java.jdt.ls.vmargs` in vscode settings.

See attached the required debug files:
[.log](https://github.com/redhat-developer/vscode-java/files/9446917/default.

[2022-08-29 19:53] snjeza commented on #2623
@tarekahf What version of VS Code are you using?

[2022-08-29 20:07] tarekahf commented on #2623
I got the following from vs code help/about: