[2020-07-27 05:00] testforstephen commented on #1547
See https://github.com/redhat-developer/vscode-java/issues/1390#issuecomment-652302766, android project is not supported at the moment. But you could change the user setting `java.server.launchMode` to `LightWeight` mode to keep partial features available such as `Go to definition`, `Outline`, `Intellisense`, `Hover for Javadoc`.

The Intellisense feature you observed at the first seconds is provi

[2020-07-27 06:42] ronakg opened #1548 "java.lang.OutOfMemoryError with 0.65.0"
With the latest extension version, I'm getting `java.lang.OutOfMemoryError` for the same workspace that used to work fine before. And the same projects are building perfectly fine outside VSCode with the same vmargs arguments. Due to this, I'm getting thousands of `import` and `can't resolve symbol` errors.

##### Environment
- Operating System: macOS 10.15.6
- JDK version: (AdoptOpenJDK)(build 1.

[2020-07-27 07:11] ronakg commented on #1548
Complete log file -
[lsp.log](https://github.com/redhat-developer/vscode-java/files/4980484/lsp.log)

Are the `vmargs` not getting applied to the maven build?

[2020-07-27 08:08] testforstephen commented on #1548
Could you try the following jvmArgs?
[code]

Also, the lsp.log shows the Java runtimes you configured are not valid. Could you check whether these directories exist?
[code]

[2020-07-27 17:24] ronakg commented on #1548
@testforstephen

The wrong jdk paths were from when I was trying openj9 version hoping that it's lower memory footprint might help, but that caused other issues. I've fixed that and used vmargs suggested by you but that didn't help. Here's a run from your suggested vmargs -

[code]

[2020-07-27 18:39] snjeza commented on #1548
@ronakg could you try to exclude the sts extensions?

[2020-07-27 18:40] ronakg commented on #1548
@snjeza what do you mean by sts extensions?

[2020-07-27 21:30] snjeza commented on #1548
based on your log:
[code]

[2020-07-27 21:35] ronakg commented on #1548
@snjeza Thanks for clarifying. I'll try this tonight and update this post with my findings. However, that should not affect how the language server builds the projects, right?

[2020-07-27 21:54] snjeza commented on #1548
@ronakg Right. It will affect only the sts extension.

[2020-07-27 23:28] ronakg commented on #1548
@snjeza I disabled all Spring related extensions and tried again, it didn't help. Still got the same timeout error during job building.

[2020-07-28 01:00] snjeza commented on #1548
@ronakg could you try to disable Semantic Highlighting using:

[code]

[2020-07-28 01:04] ronakg commented on #1548
Isn't that irrelevant for the issue here? I think semantic highlighting comes into picture only after the workspace is built completely.

In my case the build itself is failing due to timeouts or Java heap space running out.

[2020-07-28 01:45] snjeza commented on #1548
@ronakg I'm not sure.

[2020-07-28 03:45] ronakg commented on #1548
@snjeza I disabled semantic highlighting as you suggested and that didn't help. Still got the same timeout error -

[code]

[2020-07-28 05:11] ronakg commented on #1548
I tried looking into the language server code and looks like the build timeout is supposed to be an hour. But in this case, the timeout occurs within a few minutes of build starts.

https://github.com/eclipse/eclipse.jdt.ls/blob/8d33bd04b8ce58fae5fc6dbf69362ea8ed52d9ab/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/handlers/JDTLanguageServer.java#L269

This is the place in jdt langua

[2020-07-28 09:01] mgerhardy commented on #1259
Do you mean the code navigation for external dependencies? I suffer from that bug, too - e.g. can't jump to the spring boot code behind a class. But the internal code navigation works fine for me. Tried several different gradle versions back to 4.10.

[2020-07-28 10:15] YaduAhuja opened #1549 "language server too slow & inefficient"
whenever we try to reference a class or we try to create an object of a class the Intellisense stucks for 5-7 seconds.

Intellisense is inefficient as it does not includes mini templates
for e.g. when we type List and use Intellisense, it only types List and the angular brackets of generics doesn't type
like in eclipse whenever we type list the intellisense autocompletes as
List<E>
where the curso

[2020-07-28 11:36] testforstephen commented on #1549
Could you share a bit more about your scenario? For example, what kind of project are you working on? How big your project is? Java files number in your project? Also your current Java extension version.

We're looking into the performance too, just want to ensure your scenario is covered.

[2020-07-28 11:43] YaduAhuja commented on #1549
It happens even in single file also.
Here is the code of that file:

public class test{
      public static void main(string[] args){
            List<Integer> list = new Arraylist<>();
            list.add(65);
            list.add(89);
            System.out.println(list);
}

}

Jdk version - 11 ( Oracle Open JDK )
Extension is the latest one

PC Details:
Processor : I3 4005u
Ram : 4 GB
SSD is p

[2020-07-28 11:59] testforstephen commented on #1549
Interesting. I didn't observe such performance issue in single file.

Could you enable the user setting "java.trace.server": "verbose", and click command "Java: Open all log files" to find the client.log file and share to us?

[2020-07-28 15:01] snjeza commented on #1548
@ronakg I think so. Could you set
[code]
and attach your server log.

[2020-07-28 17:36] YaduAhuja commented on #1549
Here are the log files
[redhat.java.zip](https://github.com/redhat-developer/vscode-java/files/4990103/redhat.java.zip)

[2020-07-28 17:42] fbricon commented on #1549
Try disabling all Java extensions other than vscode-java

[2020-07-28 18:09] YaduAhuja commented on #1549
I tried disabling all extensions.
It made quite fast (now wait time is from 0.5 sec to 1.5 sec ) but it is still much slower than eclipse intellisense.

Is there any option for activation delay or intellisense delay like there is in eclipse in VSCode.

Please also include snippets for basic things like methods, classes etc.

[2020-07-28 20:38] ronakg commented on #1548
Here's ther server log with verbose enabled. This is from a workspace where it works fine with extenstion version `0.64.1` and OpenJDK 8. I just changed the `java.home` to point to OpenJDK 11 and updated the extension back to `0.65.0` for this test.

[code]

Nothing happens after this point. I've waited for more than an hour, but no activity. The java language server icon in the status bar keeps s

[2020-07-28 21:51] snjeza commented on #1548
@ronakg could you run the "Java: Open all log files" command to open the client.log file and and attach it?
How many files, classes and projects are there in your workspace?
Could you test https://raw.githubusercontent.com/snjeza/vscode-test/master/java-0.66.0.vsix?

[2020-07-28 22:13] ronakg commented on #1548
I'll try the new version later tonight. There are a total of 8 projects in my workspace containing approx 2629 Java files.

[2020-07-29 01:32] ronakg commented on #1548
@snjeza here are the lsp and client logs with the test version of the extension. I didn't see timeout or outofmemoryerror but the build isn't completing with this version either.

[client.log](https://github.com/redhat-developer/vscode-java/files/4991968/client.log)
[lsp.log](https://github.com/redhat-developer/vscode-java/files/4991969/lsp.log)

[2020-07-29 01:32] snjeza commented on #1548
@ronakg Could you try to reproduce the issue with an open source project as https://github.com/google/guava or https://github.com/spring-projects/spring-boot

[2020-07-29 01:37] ronakg commented on #1548
I'm not sure if the issue would reproduce on these projects but I can give it a try this weekend. The maven project that's causing the issue is really huge, the pom file is 2000 lines long and the project has about 1800 Java classes.

[2020-07-29 02:50] snjeza commented on #1548
@ronakg could you try the following jvm args:

[code]
"-DwatchParentProcess=false" is only for testing purpose. Java LS server will not be stopped when closing VS Code.

You could also try to disable the Java Test Runner extension or all Java extensions other than vscode-java.

[2020-07-29 03:04] testforstephen commented on #1549
Have a look at the client.log files, i suppose these log files above are tested with all Java extensions enabled.

**Facts from the logs:**
- most of `completion` requests are responded within 1s, not 5-7s you declared. However it is an obvious laggy.
- when you're editing the Java file, the triggered LSP requests all are from language server itself (such as `completion`, `completion/resolve`, `pr

[2020-07-29 06:52] sheiy opened #1550 "Is there have some way to search class in classpath?"
for example input text Thread and go to Thread.java
like idea double shift
![image](https://user-images.githubusercontent.com/12210038/88766737-221a8e80-d1ab-11ea-8827-556aa10ea8aa.png)

[2020-07-29 07:05] testforstephen commented on #1550
Windows: Ctrl + T
MacOS: ⌘T

[2020-07-29 07:05] #1550 closed

[2020-07-29 07:22] stemry83 commented on #161
I had the same issue. Turned out it was because I was using the extension Code Runner and ran with the default command:
`"java": "cd $dir && javac $fileName && java $fileNameWithoutExt",`

The solution for me is to install the Maven for Java, then run with it.

I have the following setting in Setting (JSON):
  "maven.terminal.favorites": [
    {
      "alias": "compile and run Main",
      "comman

[2020-07-29 07:30] testforstephen opened #1551 "Cannot run 1.8 maven project with system scope dependency"
To run the latest vscode-java extension, i installed JDK to java.home, and configured JDK 1.8 as the build JRE for 1.8 project. But it cannot build my 1.8 project any more because my maven project uses tools.jar as system scope dependency.

user settings:
[code]

pom.xml: (Since tools.jar is not required for JDK 9 and higher, i use a profile to filter whether to enable tools.jar dependency.)
[code

[2020-07-29 09:32] akaroml commented on #1544
The Outline view visualizes Document Symbols, which do not have accessor info today. For this to happen, vscode needs to change its protocols.

Instead, you could use the `JAVA DEPENDENCIES` view provided by Java Dependency Viewer extension.

[2020-07-29 09:59] tobiasdiez opened #1552 "Automatically add module information to launch config"
When using a gradle project which is modularized, the launch configuration needs to include proper `add-modules` arguments for each dependency in order for the compilation to work. These should be automatically added by `vscode-java`.

##### Environment
- Operating System: Win 10
- JDK version: 14
- Visual Studio Code version: 1.47
- Java extension version: 0.27.1 (debugger)

##### Steps To Reprod

[2020-07-29 10:31] YaduAhuja commented on #1549
These Log files were with Dependency extension, Debugger Extension, Maven Extension disabled. That is why Java test runner and Java dependency viewer did not triggered in the logs.

**Workarounds I did**:

- Turned off the codeLens.
- Turned off other Extensions.

Now it is pretty fast than earlier.

Extensions affected the most in the intellisense. when I disabled them time to generate suggestion

[2020-07-29 14:02] tommai78101 commented on #1544
Ok, so it really is an issue that requires upstream support. I'll post there and ask for document symbols protocols support, otherwise it really would be nice to have this. Do you know of any prior issues on Visual Studio Code that is related to this, so I can make sure not to report any duplicates?

[2020-07-29 14:50] moxue361 opened #1553 "import jar failed"
Operating System:windows 10
- JDK version:8.0
-java extension version:0.64.0
shows ''Successfully added 'jjjj\lib' to the project jjjj_1396602e's source path'',but the result of running is that the package does not exist
The result can be seen in the figure below
![1](https://user-images.githubusercontent.com/64472550/88814825-2ebfd680-d1ed-11ea-92f6-24feefe42772.png)

[2020-07-30 02:10] testforstephen commented on #1553
You're using javac to compile the Java file, this is out of scope of the Java extension.

[2020-07-30 02:10] #1553 closed

[2020-07-30 10:22] sheiy commented on #1550
@testforstephen thanks

[2020-07-30 16:46] tube42 commented on #1543
I understand @fbricon considers this fixed and closed and forgotten...

... but how is this working for Android developers which are struck on JDK 8? Android SDK is super fragile and does not behave well in multi-JDK setups.

[2020-07-30 17:36] joshvanderberg commented on #1549
After support for JDK 8 was dropped, we were forced to update to JDK 11 and take the latest version of the vscode Java support plugins, and we are experiencing very inconsistent typeahead/code completion performance.  Sometimes fast, sometimes a dozen or more second to suggest a complete variable name or to show a list of methods on a variable.  This was not our experience in previous versions, an

[2020-07-30 21:13] snjeza commented on #1549
@joshvanderberg could you try to set:

[code]

[2020-07-30 21:54] Palidino commented on #937
Going to try your first option @snjeza as I still very frequently have this issue a year later. The language server lagging behind a second or two definitely makes sense considering I'm on a MacBook air.

[2020-07-30 22:27] snjeza commented on #937
@Palidino could you show your user and workspace settings.json?

[2020-07-31 01:25] Palidino commented on #937
user: https://paste.ee/p/sTcLP
workspace: https://paste.ee/p/Q1C2B
folder/project: https://paste.ee/p/dFjmG

I've already tried all the variations of vmarms suggested in this issue.

Going back to the language server just not keeping up, if I remove a few letters off of something, then type 1 letter and wait for autocomplete and select it, it fills in correctly. If I start typing everything I dele

[2020-07-31 02:11] snjeza commented on #937
@Palidino Do you have the Visual Studio IntelliCode extension installed?
If so, try to add:
[code]

[2020-07-31 04:47] Palidino commented on #937
@snjeza I do have it installed but that setting didn't help, I'm still losing multiple characters if I'm typing too fast and then select an autocompletion option.

[2020-07-31 07:30] ronakg commented on #1548
Hi @snjeza,

Here are the logs from the additional `vmargs` you suggested. Do you need something other than the client and server logs? This is with extension version `0.65.0`. With extension version `0.64.1` and JDK 8, this same project finishes building in VSCode in about 15 minutes. Building the project from the terminal with maven takes about 9 minutes outside of VSCode.

[client.log](https://

[2020-07-31 12:42] JLP04 opened #1555 "How can I set the Java runtime version to JDK 8 for a specific project?"
[provide a description of the issue]

##### Environment
- Operating System: macOS Catalina 10.15.6
- JDK version: 14.0.2 but I want to run my program with 1.8.0_221
- Visual Studio Code version: 1.47.3
- Java extension version: 0.65.0

##### Steps To Reproduce
1. [step 1]
2. [step 2]

[Please attach a sample project reproducing the error]
[Please attach logs](https://github.com/redhat-developer/vs

[2020-07-31 16:37] snjeza commented on #1548
@ronakg There are more files /Users/rogandhi/Library/Application Support/Code/User/workspaceStorage/ea71b431dfce827f47fe5e178caa7951/redhat.java/client.log.*
Could you try https://raw.githubusercontent.com/snjeza/vscode-test/master/java-0.66.1.vsix and the settings:
[code]
Could you also remove your workspace:
[code]

[2020-07-31 17:32] gdoenlen opened #1556 "Switch expression yield not highlighted correctly"
The `yield` keyword in a switch expression is not hightlighted properly. I would expect it to be the same as the other control flow keywords like `return`, or `if`.

##### Environment
- Operating System: W10
- JDK version: 14
- Visual Studio Code version:
- Java extension version:

![image](https://user-images.githubusercontent.com/17297466/89061121-b0317900-d353-11ea-9019-60916f6733f1.png)

[2020-07-31 19:19] stodge opened #1558 "Search and replace input text fields are unusable with multi-line text"
##### Environment
- Operating System:

Fedora 30 (I think)
Linux 5.7.9-100.fc31.x86_64 #1 SMP Fri Jul 17 17:18:38 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux

- JDK version:

[code]

- Visual Studio Code version:

[code]

- Java extension version: v0.65.0

##### Steps To Reproduce

1. Press `CTRL+SHIFT+H` to initiate a global replace
2. Paste multiple lines of text into the Search box (e.g. 10+ lines)

[2020-07-31 19:19] ronakg commented on #1548
Here are the logs generated from the extension version you just shared -

Steps:

1. Delete all `workspaceStorage`
2. Delete existing vscode workspace and `.vscode` folders
3. Made sure no java processes were running
4. Started VSCode from CLI `code .` from the maven project folder

This is the entire `redhat.java` folder from the `workspaceStorage`.
[redhat.java.zip](https://github.com/redhat-dev

[2020-07-31 19:45] snjeza commented on #1548
@ronakg could you, please, try to set the following VS Code property:
[code]
and repeat the test.

[2020-07-31 20:08] snjeza commented on #1548
@ronakg could you also run the test without '-DwatchParentProcess=false' and with "java.server.launchMode": "Standard"?
Please, remove workspace before each test so I can see correct logs (redhat.java.zip)

[2020-07-31 20:44] ronakg commented on #1548
Sure, here's the data captured with '-DwatchParentProcess=false' removed and "java.server.launchMode": "Standard"? added.

[redhat.java.zip](https://github.com/redhat-developer/vscode-java/files/5008980/redhat.java.zip)

[2020-07-31 21:11] ronakg commented on #1548
And here's the data when everything works fine with version `0.64.1` and JDK 8.

[redhat.java.zip](https://github.com/redhat-developer/vscode-java/files/5009054/redhat.java.zip)

[2020-07-31 21:40] joshvanderberg commented on #1549
Even disabling semanticHighlighting it's still slow, but inconsistent.  Sometimes fast, sometimes takes ten seconds or more.

[2020-07-31 21:49] snjeza commented on #1548
@ronakg could you try to test with the following JVM args:

[code]

[2020-07-31 22:00] snjeza commented on #1549
@joshvanderberg could you try the following:
[code]
or disable the Visual Studio IntelliCode extension.

[2020-07-31 22:02] joshvanderberg commented on #1549
But the code completion is what's slow, disabling it seems, beside the point?  Am I missing something?

[2020-07-31 22:12] ronakg commented on #1548
I can give it a try but it should work with 6g of memory. Building the same project directly using maven works fine even with 5g of memory.

Are you suggesting that building projects with JDK 11 require more memory?

[2020-07-31 22:52] snjeza commented on #1549
It will disable the  Visual Studio IntelliCode completion and enable the Java LS completion.

[2020-07-31 22:54] snjeza commented on #1548
Yes, JDK 11 is slower and requires more memory.

[2020-08-01 01:26] ronakg commented on #1548
@snjeza increasing the max memory to 10g fixed the issue. So looks like I need more memory whenever I'm working on this particular project.

[2020-08-01 01:40] snjeza commented on #1548
@ronakg you can also test the following JVM args:

[code]

[2020-08-01 02:33] ronakg commented on #1548
I get these errors -

[code]

[2020-08-01 02:55] snjeza commented on #1548
@ronakg You can try
[code]

[2020-08-03 01:39] testforstephen commented on #1555
I guess you're not using any build tool. For the standalone Java files, the extension will use the language level from the default JDK runtime you configured in user setting.

If you use maven or gradle, their build file such as pom.xml/build.gradle provides options to specify the complier version.

[2020-08-03 01:48] testforstephen commented on #1558
@stodge This feature is provided by VS Code, not by Java extension. Could you open an issue at https://github.com/microsoft/vscode/issues?

[2020-08-03 01:48] #1558 closed

[2020-08-03 06:04] fpure commented on #1543
@fbricon Emmmmmm, that sounds nice, but my project imported `javax.xml.ws` and `sun.misc`, should I to adjust my pom.xml and source code for them?

[2020-08-03 07:37] ronakg commented on #1548
Here - [redhat.java.zip](https://github.com/redhat-developer/vscode-java/files/5014470/redhat.java.zip)

[2020-08-03 09:38] softboy99 opened #1560 "Ctrl + Click is not working VS Code Editor(Java file)"
#### Environment
- Operating System: win 10 x64
- JDK version: 1.8
- Visual Studio Code version: 1.47.3
- Java extension version: 0.9.1

[2020-08-03 12:27] snjeza commented on #1548
@ronakg you can try

[code]

[2020-08-03 13:55] JLP04 commented on #1555
So if I don't use a build tool I have to change the runtime in settings?

[2020-08-03 17:52] sairaghavak commented on #1531
As mentioned earlier, there are 2 problems
1. Compile time errors
A sample usecase where, it's showing the compile time errors

[code]

![image](https://user-images.githubusercontent.com/16429828/89211321-44fbd700-d5df-11ea-860e-af036b2b7104.png)

2. VScode couldn't build project i.e., error "failed to build project "
![image](https://user-images.githubusercontent.com/16429828/89211535-9efc9c80-d5

[2020-08-03 18:57] ronakg commented on #1548
Workspace initialization timed out after an hour - [redhat.java.zip](https://github.com/redhat-developer/vscode-java/files/5017832/redhat.java.zip)

[2020-08-03 19:32] snjeza commented on #1548
@ronakg Please, use the JVM args from https://github.com/redhat-developer/vscode-java/issues/1548#issuecomment-667401413
I can't reproduce the issue and can't help much.

[2020-08-03 20:28] ronakg commented on #1548
No worries. Thanks for looking into it @snjeza. I'll keep it open for some time, hoping that some future performance improvement might fix the issue.

[2020-08-03 23:25] snjeza commented on #1531
@sairaghavak 'The field SrkDemo.SrkInnerStatic.ID is not visible' is correct. The field is private.

[2020-08-04 06:36] sairaghavak commented on #1531
@snjeza  Not sure if you are saying that it's obvious.
But at least for me, it's compiling in IntelliJ and I tried to compile it from command line as well and it compiles good.

![image](https://user-images.githubusercontent.com/16429828/89260546-1d8e2400-d64a-11ea-8c6b-5dc7a132c862.png)

![image](https://user-images.githubusercontent.com/16429828/89260593-33034e00-d64a-11ea-8c9f-55907dac5dc7.png)

[2020-08-04 06:47] Eskibear commented on #1560
It requires JDK 11 now. See https://github.com/redhat-developer/vscode-java/issues/1543#issuecomment-663382692

[2020-08-04 13:20] stodge commented on #1558
Ah, of course. My mistake! Thanks.

[2020-08-04 17:58] snjeza commented on #1531
@sairaghavak This issue is an upstream eclipse issue. Could you create a bug at https://bugs.eclipse.org/bugs/enter_bug.cgi?product=JDT?

[2020-08-05 01:31] testforstephen commented on #1555
yes, you can only change the global user setting for that.

[2020-08-05 01:36] mkilburn60 opened #1561 "The import javax.smartcardio cannot be resolved"
This problem happens with eclipse but there is a workaround - manually import the java.smartcardio lib via the menu. But the VS plugin has no menu. Is there a way to do the same as the following https://stackoverflow.com/questions/58917664/eclipse-doesnt-recognize-smartcardio-library

[2020-08-05 01:38] JLP04 commented on #1555
Thanks

[2020-08-05 02:20] testforstephen commented on #1561
@mkilburn60 Could you explain your user scenario a bit more? For example, what kind of project you're working on? Can it be added via maven/gradle dependency?

[2020-08-05 19:02] mikekilburn commented on #1561
javax.smartcardio is part of JDK. Other packages from the JDK resolve ok. How does one add a standard JDK package dependency via maven? I'll look into that. Meanwhile, what is the equivalent of  https://stackoverflow.com/questions/58917664/eclipse-doesnt-recognize-smartcardio-library in the VS extension?

[2020-08-06 02:10] gorkem commented on #1561
Do you have a module-info.java file that adds `requires java.smartcardio;`?

@snjeza should the module-info be enough for language server to resolve the module?

[2020-08-06 02:42] testforstephen commented on #1561
@mikekilburn The equivalent is the generated **.classpath** file in your workspace, we don't prevent you modifying it directly, but we don't recommend it.

It's better to let the build tool to manage the classpath or buildpath. Different project type may have different fix. For example, what @gorkem mentioned is appropriate for modular project.

If you could provide more details on your project se

[2020-08-06 03:12] testforstephen commented on #1552
@tobiasdiez The run/debug feature is provided by Debugger for Java extension, could you open this issue at https://github.com/microsoft/vscode-java-debug/issues?

[2020-08-06 03:12] #1552 closed

[2020-08-06 08:04] Luro02 opened #1562 "Unable to import Java projects in vscode, because of `Could not initialize class org.codehaus.groovy.classgen.Verifier`"
##### Problem
I am no longer able to import java projects, because everytime I open a project I get the error that is mentioned below.

##### Environment
- Operating System: Linux 5.7.12-arch1-1
- Installed Java Packages:
[code]
- Visual Studio Code version: 1.47.3
- Java extension version: v0.65.0

##### Steps To Reproduce
1. `$ git clone https://github.com/Runemoro/TooManyCrashes && cd TooManyCr

[2020-08-06 09:12] ewen-r opened #1563 "After switching to standard mode, language server exits"
[provide a description of the issue]

##### Environment
- Operating System:
Linux Mint
4.15.0-112-generic GNU/Linux

- JDK version:
java --version
openjdk 11.0.8 2020-07-14
OpenJDK Runtime Environment (build 11.0.8+10-post-Ubuntu-0ubuntu118.04.1)
OpenJDK 64-Bit Server VM (build 11.0.8+10-post-Ubuntu-0ubuntu118.04.1, mixed mode, sharing)

- Visual Studio Code version:
Version: 1.47.3
Commit: 91899d

[2020-08-06 12:25] gajduk-mansystems commented on #1543
If you are like me and don't like to upgrade java version just to keep using the extension this is a simple trick you can do.
Go to extensions, settings then install version 6.41 which still works fine with java8

![image](https://user-images.githubusercontent.com/33317975/89531403-7697bc80-d7f0-11ea-8cba-e96a38f44972.png)

[2020-08-06 15:54] snjeza commented on #1561
I have checked and it works. You can also set the following classpath entry:
[code]

[2020-08-06 20:44] mkilburn60 commented on #1561
@snjeza That worked. You rock man thanks!

[2020-08-07 01:20] testforstephen commented on #1563
Could you share the language server log file? See the command below to get the log.

**F1 -> Open Java language server log file**

[2020-08-07 07:26] ewen-r commented on #1563
[log.log](https://github.com/redhat-developer/vscode-java/files/5039902/log.log)
Here you go..
thanks

[2020-08-07 10:09] 0dinD opened #1564 "Missing newline in snippet for new Java files"
The snippet provided when you create a new Java file in the explorer view is missing a newline character at the end of the file.
This is not consistent with the behavior in other Java editors, such as Eclipse or IntelliJ IDEA.

##### Environment
- Java extension version: `0.65.0`

##### Steps To Reproduce
1. Create a new Java file, to trigger the template.
2. The template ends with `}`, instead of

[2020-08-07 13:36] emmanuel-galindo opened #1566 "Error connecting to server"
Hi,
I've installed the extension for first time, and when it starts it shows an error "The Language Support for Java server crashed".
It opens the server logs indicating:
java.lang.IllegalAccessError: tried to access method org.eclipse.jdt.ls.core.internal.highlighting.SemanticHighlightings$AutoboxHighlighting.()V from class org.eclipse.jdt.ls.core.internal.highlighting.SemanticHighlightings

I've

[2020-08-07 14:57] phudson opened #1567 "Problems with (I think) the language server and maven cross-project dependencies"
This is possibly a PEBCAK or user-ignorance issue.

I work with several Maven projects.
I have project A and project B open in separate VSCOde workspaces
Project B builds a JAR that is a maven dependency in project A.

If in project B I make some change (say, add a method to a class) and "mvn install", then the VSCOde doesn't pick up the change in project A.  The new method isn't visible.

Java: r

[2020-08-07 20:01] lorenzznerol commented on #1543
As to the previous post.

You should not do this if you have no other restrictions. In the usual case: upgrade, and then you can still go back to using an older java version by changing the settings according to https://github.com/redhat-developer/vscode-java/wiki/JDK-Requirements#jdk11.requirement:

--> This means you can upgrade the extension and use the Java runtime of your choice. (I have - wr

[2020-08-07 23:02] paulo-mu-axur opened #1568 "Incorrect runtime name displayed in status bar when runtime path is invalid"
When you set an invalid `path` value for the JavaSE-1.8 runtime in the `java.configuration.runtimes` property, the extension assumes it must use the value of the `java.home` property (a fallback behaviour I guess), but the runtime displayed name does not get updated in the VS Code status bar. Check it out:

1. Given the following settings.json file:

[code]

(notice the `path` value from JavaSE-1.

[2020-08-09 05:42] 2020-abhilash commented on #828
This is still an issue with the latest version of vscode, extensions and everything. Not sure how to resolve this. I have tried all the solutions mentioned above.

[2020-08-09 19:04] shrey150 commented on #634
This just happened to me as well on Visual Studio Code `1.47.3` when deleting `.classpath`, running extension version `0.65.0`. I've also encountered @ppazos 's issue regarding file search pulling from the `./bin/` folder. Could this be reopened and looked into?

[2020-08-09 19:14] shrey150 commented on #120
Any update on this issue? I'm still running into @fwcd 's problem: it's very annoying to manually add access rules to the `pom.xml` of Java 8 projects. Is there any plan to allow some form of configuration so that JavaFX in Oracle's JDK 8 plays nicely with this extension?

[2020-08-09 19:49] sairaghavak commented on #1531
@snjeza : Created a bug there: https://bugs.eclipse.org/bugs/show_bug.cgi?id=565925

How about the second part in this issue.

![image](https://user-images.githubusercontent.com/16429828/89740513-e3d47780-daa6-11ea-9729-4de22021244d.png)

Ant tweak suggestions for this to resolve in vscode or it's a vscode Gradle plugin issue?

[2020-08-09 20:52] snjeza commented on #1531
@sairaghavak could you attach your build.gradle from the junit_tests project?

[2020-08-09 22:10] GiorgosXou commented on #1543
# Simple Instructional Solution
*<sub>(for Windows-10 x64)</sub>*

* **Download & Install [jdk-11.x.x-x64 MSI](https://developers.redhat.com/products/openjdk/download)**
* **Open** *"Visual Studio Code"*
* **Type** ```CTRL+,```
* **Search for** *"java.configuration.runtime"*
* **Click on** *"Edit in settings.json"* **(below java>configuration:runtime)**
* **In** settings.json **write & save :**
[c

[2020-08-10 15:16] alishah730 commented on #690
this is my java home in mac and still getting same issue
`"java.home": "/Library/Java/JavaVirtualMachines/jdk1.8.0_231.jdk/Contents/Home"`

[2020-08-10 16:59] #1545 closed

[2020-08-11 01:53] JoseLion commented on #1034
I'm having the same issue, however it only happens when it needs to infer the type on some generics. I'm attaching an example which should be easy to reproduce. Hope this helps 🙂

![vscode-issue](https://user-images.githubusercontent.com/3087228/89848156-76c6ed80-db4b-11ea-9c5b-512d8dfb1955.gif)

[2020-08-11 09:38] fbricon commented on #703
Netbeans has this turned on by default too, although I haven't figured out if there's a preference to control it.
Eclipse supports this too, but needs to be enabled explicitly via:
Preferences -> Java -> Editor -> Typing -> Automatically insert at correct position -> [x] Semicolons.

@snjeza can you investigate what it'd take to make it happen in vscode too? Automatic insertion of textedits while

[2020-08-11 10:01] #1564 closed

[2020-08-11 13:23] jnorkus commented on #1543
I have installed Java 11 on my Mac, set it as default and I'm still getting this error. Instead of focusing on productivity I have this headache today.

[2020-08-11 13:25] gajduk commented on #1543
@jnorkus  Save yourself the time and revert to a previous version e.g. 0.64.1

[2020-08-11 14:10] gajduk commented on #1543
@lorenzznerol with all due respect but in my opinion, I should not have been required to upgrade java to keep using the extension in the first place, it should have been optional.

[2020-08-11 14:57] fbricon commented on #1543
@jnorkus what system are you using? On Linux, flatpacked vscode doesn't have access to the local JDK for instance.
It's also possible the JAVA_HOME environment variable wasn't picked up by vscode. You might want to try setting the "java.home" setting directly in vscode's user settings.

@gajduk I hope you're not using Eclipse, because you'll be in for a surprise [next month](https://github.com/red

[2020-08-11 15:04] lorenzznerol commented on #1543
@gajduk I was just quoting the recommendation at https://github.com/redhat-developer/vscode-java/wiki/JDK-Requirements#about-the-java-11-requirement. There were 5000 views on the thread "Java 11 or more recent is required to run. Please download and install a recent JDK" in the first week after the version change, since no one was prepared - it was announced on github since April, but who reads it

[2020-08-11 15:07] jnorkus commented on #1543
It's MacOS Mojave. I actually found a fix. Turns out the extension does not care about my `JAVA_HOME` and instead just points to the `/Library/Java/Home` symlink.

[2020-08-11 15:17] fbricon commented on #1543
At the risk of repeating myself, the announcement was done on vscode java startup since the April release :
<img width="553" alt="Screen Shot 2020-04-16 at 10 33 01 AM" src="https://user-images.githubusercontent.com/148698/79433788-d82be500-7fcd-11ea-88ef-50c8d6522fe8.png">

[The link opened the wiki page](https://github.com/redhat-developer/vscode-java/wiki/JDK-Requirements#upcoming-java-11-requi

[2020-08-11 15:24] gajduk commented on #1543
@fbricon I will not be surprised next month because unlike this extension, eclipse does not update when there is a breaking change like that. My current installation will continue working just fine until I manually decide to download a new version. This is how it should be. I tried to explain this, but I guess there is no point since you have already made up your mind. Good luck to you!

[2020-08-11 17:46] rzgry opened #1571 "(Extension API) Detecting if language server will launch in Standard Mode during extension activation"
For MicroProfile tools for vscode (https://github.com/redhat-developer/vscode-microprofile) we require that the java language server is started in standard mode, and we want to display a warning / prompt users to switch to standard if they are in lightweight. We want to do this when MicroProfile tools activates before it launches its own language server that depends on vscode-java.

I am wondering

[2020-08-11 17:58] #1561 closed

[2020-08-11 18:39] snjeza commented on #1562
@Luro02 you can try to set
[code]
or update your gradle wrapper to gradle>= 6.3

[2020-08-11 19:55] snjeza commented on #1034
@JoseLion could you attach a project example?

[2020-08-11 20:03] clankill3r opened #1572 "Surround with try/catch reformats document"
This behaviour is more then a year old, but it often bugs me so hard that I thought it's time for a report.
It just happened again on a really large file where I noticed it way too late.

Ok, when using try/catch the whole document gets reformatted:

before:
<img width="434" alt="Screen Shot 2020-08-11 at 22 00 03" src="https://user-images.githubusercontent.com/738650/89943343-53b93e00-dc1e-11ea-8

[2020-08-11 20:25] clankill3r opened #1573 "[feature request] allow `var` to be fully specified with using 'Show Fixes'"
When I have this for example:

<img width="492" alt="Screen Shot 2020-08-11 at 22 19 30" src="https://user-images.githubusercontent.com/738650/89945021-012d5100-dc21-11ea-9efc-2eb2c3a5bceb.png">

Then the VSCode extension knows what it is:
<img width="694" alt="Screen Shot 2020-08-11 at 22 19 39" src="https://user-images.githubusercontent.com/738650/89945057-0d191300-dc21-11ea-8bbf-2defe3e7e085.pn

[2020-08-11 21:42] fbricon commented on #1572
Can you check if it is the same behavior in Eclipse? If yes, then that would need to be fixed in upstream JDT

[2020-08-11 21:47] ronakg commented on #1543
Well, that choice of keeping auto-updates on or off for extensions is with the user. If you had kept auto-updates on for your VSCode extensions then you should be ready to handle new versions of the extensions.

This isn't specific to the java extension btw.

[2020-08-11 21:48] fbricon commented on #1573
JDT already has such quickfix, we need to port it to JDT.LS. @testforstephen, @jdneo, @Eskibear anyone of you interested in taking this one?

[2020-08-11 22:14] snjeza commented on #1573
See https://github.com/eclipse/eclipse.jdt.ls/issues/696 and https://github.com/eclipse/eclipse.jdt.ls/issues/697

![var](https://user-images.githubusercontent.com/388609/89954022-8a984f80-dc30-11ea-9440-58e105c96c4c.gif)

[2020-08-11 23:18] ronakg commented on #1572
I can confirm this. It doesn't happen on Eclipse. Tried with Version: 2020-06 (4.16.0) Build id: 20200615-1200.

[2020-08-12 02:04] jdneo commented on #1571
Let's say if the user set the launch mode to Hybrid, and for that moment, lightweight server is ready and standard server is still activating. you will get a notification that `serverMode` is in `hybrid`:

https://github.com/redhat-developer/vscode-java/blob/master/src/extension.ts#L274-L276

Once the standard server is ready, another notification is emitted that `serverMode` changes to `standard`

[2020-08-12 02:19] Eskibear commented on #1573
@clankill3r As shown above, you trigger "Show fixes" on the content with the squiggle line,  `t` in your case.

The problem is, "Move..." and "Change to final where possible" are showing everywhere, tracked in https://github.com/redhat-developer/vscode-java/issues/1074 .

[2020-08-12 02:31] rzgry commented on #1571
Yes i am doing something like that right now. The problem I am seeing that if someone is using `Hybrid` the first time someone opens a project / before a project has been imported they are asked by vscode-java if they want to import the project. If someone clicks `Yes` to import the project and to start the standard language server, vscode-java seems to return `lightweight` initially, so an extra

[2020-08-12 02:52] jdneo commented on #1571
I see. Take a look at the implementation. It won't emit Hybrid in this case:

https://github.com/redhat-developer/vscode-java/blob/master/src/extension.ts#L315

That seems an issue that we need to fix.

BTW, I have another question about this: suppose that the `Hybrid` is emitted after user clicks `yes`. How will MicroProfile responses to it, given that currently it's a one time check? The event m

[2020-08-12 02:53] Eskibear commented on #1074
Below is current behavior in v0.65.0:
[code]

To remove the noise as much as possible, I suggest not to show the Move action when cursor is in the body (both class body and method body). By showing "Move..." only on the signature, I assume it would look like below:
[code]

[2020-08-12 03:08] rzgry commented on #1571
So you are saying for a new java project vscode-java starts in `Lightweight` then will switch to `Hybrid` after they click `Yes` to import the project and then to `Standard` once the standard java ls has started?

You are right that might not fix the problem because the event might be emitted after the message pops up. Do you have any thoughts on a better way to implement this sort of check in vsc

[2020-08-12 03:17] jdneo commented on #1571
Hmm... I can show some examples in our extension. we leverage some UI entries to present this information to our user. For examples:

Project Manager for Java:
![image](https://user-images.githubusercontent.com/6193897/89971069-d4168800-dc8c-11ea-8838-92b310c29ad5.png)

Same for Java Test Runner:
![image](https://user-images.githubusercontent.com/6193897/89971114-f0b2c000-dc8c-11ea-9bc3-3f20bb217d

[2020-08-12 03:34] rzgry commented on #1571
Yes the problem for vscode-microprofile is that we need to detect the mode and display a warning when the extension is activated since we need the standard java language server for our language server to work.

For example: I think Debugger for Java has the same sort of problem, it is just less noticeable since it is not doing the check when the extension is activated. If I try to use debugger for

[2020-08-12 03:47] jdneo commented on #1571
Then we go back to the origin problem - I can raise a PR to make sure the `Hybrid` is emitted after the `yes` is clicked.

So let's focus on: suppose `hybrid` is emitted after the `yes` is clicked, how MicroProfile can response to properly. Is it possible to avoid one time check but checking when needed for MicroProfile?

[2020-08-12 04:01] rzgry commented on #1571
I am not sure if it is possible to avoid the one time check. Because vscode-microprofile starts up its own language server immediately after activation. This language server communicates with the java language server so vscode-java is required in standard mode right after activation of vscode-microprofile.

See: connectToLS in the activate function: https://github.com/redhat-developer/vscode-micro

[2020-08-12 04:04] rzgry commented on #1571
Maybe I could do something like only check the Java language server mode after a user has opened a file or something. Will have to do some testing.

[2020-08-12 05:24] jdneo commented on #1571
Great, and please let us know if you have any other request about the API.

[2020-08-12 07:25] clankill3r commented on #1573
I had no idea this was in, but it would be nice if you can pop up that
context on 'var', since that is the actual thing changing.

Op wo 12 aug. 2020 om 04:19 schreef Yan Zhang <notifications@github.com>:

[2020-08-12 07:52] RitamChakraborty commented on #1092
I solved it by Downloading [AdoptJDK](https://adoptopenjdk.net/releases.html) and specifying the path of the downloading JDK in `java.home` in settings.

    "java.home": "/home/ritam/Tools/jdk-14.0.2+12"

[2020-08-12 07:57] fbricon commented on #1074
+1

[2020-08-12 08:23] testforstephen commented on #935
Tried multiple maven projects using generate-source plugins, some of them are recognized well by vscode-java, some not.

**generate-source is not recognized:**
antlr3-maven-plugin sample: https://github.com/antlr/stringtemplate4

**generate-source is automatically added to .classpath:**
antlr4-maven-plugin sample: https://github.com/teverett/antlr4example
jaxb2-maven-plugin sample: https://github.

[2020-08-12 09:57] fbricon commented on #935
jdt.ls doesn't have a mechanism for discovery and installation of remote m2e connectors. And we cannot maintain support for all m2e connectors for every Maven plugin there is. So yes there's a gap.

I think m2e needs a better, more generic solution for discovering generated source folders

[2020-08-12 10:59] brunoborges opened #1575 "Better Organize Import"
Documentation mentions the following feature:

[code]

How do I disable automatic organize import on save?
How do I disable the re-sorting of import statements?

[2020-08-12 11:01] brunoborges commented on #1575
Just found this in the source code.

`java.saveActions.organizeImports`

[2020-08-12 13:14] fbricon commented on #1034
Try disabling the intellicode extension, see if it works better.

[2020-08-12 17:42] snjeza commented on #1573
context on 'var', since that is the actual thing changing.

That has been done intentionally. See https://bugs.eclipse.org/bugs/show_bug.cgi?id=531039#c9

[2020-08-12 23:52] Palidino opened #1577 "Frequent crashes since moving to JDK 11"
I'm not really certain whether here or java debug is appropriate, as the crash results in both the redhat features and running/debugging to completely break.

Since moving to Oracle JDK 11, I'm finding frequent crash logs. I usually know to check for new crash logs because my running configurations bar disappears, autocompletion stops showing, no error checking, etc.

##### Environment
- Operating

[2020-08-13 07:25] testforstephen commented on #935
I see. The current m2e leverages lifecycle-mapping-metadata to recognize the customized generate-sources goal from the maven plugin. Here is a [wiki](https://www.eclipse.org/m2e/documentation/m2e-execution-not-covered.html#metadata-source-lookup-order) about how m2e lookup the lifecycle mapping from different places.

Both antlr4-maven-plugin and jaxb2-maven-plugin provide m2e lifecycle-mapping-me

[2020-08-13 08:15] testforstephen commented on #177
Tried multiple maven projects using generate-sources plugins, some of them are recognized well by vscode-java, some not.

**generate-sources is not recognized:**
antlr3-maven-plugin sample: https://github.com/antlr/stringtemplate4

**generate-sources is automatically added to .classpath:**
antlr4-maven-plugin sample: https://github.com/teverett/antlr4example
jaxb2-maven-plugin sample: https://gith

[2020-08-13 09:33] veedata commented on #690
Hey, i was facing the same issue, i tried all the solutions above but they did not work and still gave an error.
It seems to be a problem with the Red Hat extension. It required Java 11 minimum. To bypass this i went to a version of the extension where this wasn't the case
What fixed it for me was downgrading to v0.62.0 (maybe it works in a more recent )

This is not a fix in itself, so, i hope so

[2020-08-13 09:41] fbricon commented on #690
Since vscode-java 0.65.0, "java.home" needs to point to a JDK 11 installation, so the Java Language Server can run.

You can still use a JDK 1.8 (actually anything from 1.5 to 14) to compile your projects, if you configure the "java.configuration.runtimes" preference, as documented in https://github.com/redhat-developer/vscode-java/wiki/JDK-Requirements.

[2020-08-13 12:20] fbricon commented on #1575
java.saveActions.organizeImports is disabled by default. Organize imports on save can also be triggered via the generic

Organize imports always sorts imports (and removes unused ones). It's currently not possible to only remove unused imports. However, this feature exists in JDT so we could expose it in jdt.ls/vscode-java. We could also expose a preference to sort imports like
![](https://i.stack

[2020-08-13 12:42] fbricon commented on #1577
can you provide your vscode settings? Have you tried with Java 11.0.7, or 14?

[2020-08-13 12:52] fbricon opened #1579 "Duplicate snippets displayed in lightweight mode"
When running in in lightweight mode, duplicate syserr and sysout snippets are displayed for completion. The https://github.com/redhat-developer/vscode-java/blob/master/snippets/server.json is still used instead of being discarded.

[2020-08-13 12:59] fbricon commented on #1579
@jdneo can you please look into this one?

[2020-08-13 20:57] lightrow commented on #1543
`java.configuration.runtimes` doesn't work for gradle. Our project uses 4.5.1 and language support init fails with message from gradle, that it "cannot determine Java version from '11.0.8'" even after i've added the 1.8 runtime as default one.

`java.import.gradle.java.home` is ignored as well

[2020-08-13 22:48] snjeza commented on #1543
@lightrow JDK 11 requires gradle >=5.0. See https://docs.gradle.org/5.0/release-notes.html#java-11-runtime-support

[2020-08-14 02:23] jdneo commented on #1579
Sure, raised a PR: https://github.com/redhat-developer/vscode-java/pull/1580

[2020-08-14 05:53] jdneo commented on #1568
What's your project's language level?

The JDK path is not necessarily equal with the language level, you can use JDK 11 writing code with Java 8's grammar.

So it depends on your project configuration. Could you please check this for your project?

[2020-08-14 06:37] pan3793 commented on #634
I found the folder `bin` is defined at  `.classpath`.`<classpathentry ...>`, `.classpath` is generated by this plugin automatically. Actually, I don't think `bin` is a good name for plugin temp folder, lots of projects use `bin` to store `script` files, so we can't roughly exclude `bin` in `.gitignore`. I wonder if there is possible to change the default folder name to widely used or some words st

[2020-08-14 11:05] rsrini7 commented on #948
If java compiler property not provided, maven takes java version as by default 1.5. Adding below properties fixes the issue. No issue from plugin side.

<properties>
    <maven.compiler.source>1.8</maven.compiler.source>
    <maven.compiler.target>1.8</maven.compiler.target>
  </properties>

[2020-08-14 15:00] lucastheisen commented on #1365
@snjeza , one more voice here, but:

yes.  A colleague and I spent about 3 hours digging around in all the wrong places to finally discover this comment chain.  It would be best to support globalSettings as its a very highly used maven idiom.  But if you dont, it would be nice to put that somewhere in the documentation.

[2020-08-14 15:02] yoshiya8 commented on #1365
Yeah this bit me real bad! Please make a `java.configuration.maven.globalSettings` property available.

[2020-08-14 22:06] iaxat commented on #690
I have found the solution for this issue that worked for me, I installed the Java.deb file and then the issue got removed.

[https://gofile.io/d/lNjQkz](url)

[2020-08-16 21:34] clankill3r commented on #1572
I just noticed, when you type `var` and use the "Change type of '...' to
'...'" then this reformats happens as well.

It is also really aggressive with comments, for example:

Op wo 12 aug. 2020 om 01:18 schreef Ronak Gandhi <notifications@github.com>:

[2020-08-17 12:57] Marti2203 commented on #121
Hi, I am currently having the same issue. There are 4 files in the folder and 1 jar and the intellisense is quite slow.

[2020-08-17 13:09] fbricon commented on #121
@Marti2203 can you try disabling all other Java extensions, see if performance improves?

[2020-08-17 13:35] Marti2203 commented on #121
Yes, the performance got a lot better - all 12 cores are now at 50% for a small period of time and not at 100%. I had the java extension pack only, this is quite strange.

[2020-08-17 18:20] epomatti opened #1582 "Not loading existing servers on startup with WSL"
##### Environment
- Operating System: WSL2 with Ubuntu 20.04
- JDK version: openjdk 11.0.8 2020-07-14
- Visual Studio Code version: 1.48.0
- Java extension version: openjdk 11.0.8 2020-07-14

I installed a WildFly server and it is running OK. However, when I close VS Code and open it again the server is gone:

![image](https://user-images.githubusercontent.com/6530769/90429821-c56d0e00-e09c-11ea-9

[2020-08-18 06:08] JoseLion commented on #1034
@fbricon disabling the intellicode extension didn't worked.
@snjeza currently all my projects are private, but I'll try to set up a playground project to attach it 🙂

[2020-08-18 07:54] aweris commented on #634
Same here. We're using the `bin` folder for something else in the project. It would be great to override option for the name

[2020-08-18 13:52] lstocchi commented on #1582
@epomatti can you open this issue into https://github.com/redhat-developer/rsp-server? This is the wrong repo. Thank you :)

[2020-08-18 14:00] epomatti commented on #1582
https://github.com/redhat-developer/rsp-server/issues/594

[2020-08-18 14:00] #1582 closed

[2020-08-19 02:08] sbj42 opened #1583 "Importing mixed (maven,gradle,eclipse) projects"
When VSCode scans a folder for projects, if that folder contains both a maven and a non-maven project, VSCode will only import the maven project.

##### Environment
- Operating System: Windows 10
- JDK version: 11.0.7+10
- Visual Studio Code version: 1.48.0
- Java extension version: 0.65.0

##### Steps To Reproduce
1. Unzip the attached zipfile and open the `mixed` folder in VSCode.
2. Click on a

[2020-08-19 06:44] HushTheBlock commented on #550
Thank you. This resolves my problem!

[2020-08-19 17:21] fbricon commented on #1571
@rzgry you can try https://download.jboss.org/jbosstools/jdt.ls/staging/java-0.66.0-2398.vsix, which contains the fix from #1581

[2020-08-20 14:44] #1579 closed

[2020-08-20 14:52] fbricon commented on #1566
That's some weird error. Can you share your settings?

Have you tried without the shared settings?

[2020-08-20 15:45] hrsto opened #1585 "Project with _tests_ breaks when used with a plugin combo of `war` and `liberty` with gradle."
A plain gradle webapp project with `war` plugin that has _tests_ will completely break in vscode the moment the plugin `id "io.openliberty.tools.gradle.Liberty" version "3.1-SNAPSHOT"` is introduced into the build. Autocompletion dies, errors appear on every class there is in the `main` and `test` trees. If the plugin is removed, it goes back to normal. Alternatively, If the `src/test` folder is r

[2020-08-20 17:33] emmanuel-galindo commented on #1566
Hi,
for sure, what settings were you looking for?

About shared settings...
I've just tried cleaning up completely vscode (both user prefs from ~/.config/Code and extensions ~/.vscode), reinstalled from microsoft apt source and installed only the Lang Support for Java by Red Hat (0.65.0) and error persist the same.

Thanks!!

[2020-08-20 18:36] Alexhaoge commented on #461
[https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#clean-the-workspace-directory](https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#clean-the-workspace-directory)

If the dependency is already configured in Maven, maybe *cleaning the workspace and restarting Java extension* is enough to solve this. At least it works for me.

If the dependency is not in Maven o

[2020-08-20 21:30] ronakg commented on #1572
Any updates on this issue? I noticed that this happens for any source action in VSCode. Today I tried to automatically add getter setter for a particular field and it reformatted the whole class.

However, the source action and formatting are happening in 2 separate stages. I was able to undo the formatting and keep the source action result.

[2020-08-21 05:17] RonaldinhoL commented on #1062
i have the same problem on  windows10 19042.423, i hava try adopt jdk 11 and oracle jdk 11, all the same problem.

[2020-08-21 06:48] RonaldinhoL opened #1587 "IntelliSense not working for aosp"
when i open the big workspace android open source project, IntelliSense not working.

i have try set "java.jdt.ls.vmargs": "-Xmx16G",  eigther java.server.launchMode lightweight/Hybrid/standard not working,
the outline windows always says  " loading symbol for ..."
how to get it worked? is there any setting to fit the huge workspace?

##### Environment
- Operating System: windows 10.0.19042.450
-

[2020-08-21 10:19] Lennerados opened #1588 "Couldn't start client Language Support for Java (Syntax Server)"
I have just freshly installed VS Code 1.48.1 and installed the extension "Language support for Java by Red Hat" (https://marketplace.visualstudio.com/items?itemName=redhat.java). But if I now open a Java directory, it shows two error messages: `Couldn't start client Language Support for Java (Syntax Server)` and `Couldn't start client Language Support for Java`.
Next to that the cpu usage also jum

[2020-08-21 15:31] sebascomeau opened #1589 "Global "java.jdt.ls.vmargs" Setting Ignored"
I'm working behind a corporate proxy. I need to set proxy settings in various places to make everything works but in my case when running my app with the proxy setting in "java.jdt.ls.vmargs" it doesn't work. It's working though if I put the same value into the launch.json file under the "vmArgs" key but in "java.jdt.ls.vmargs" the setting it's ignored. My app need to download at runtime a embedmo

[2020-08-23 19:20] pcantrell opened #1590 "“Failed to configure project” when resources nested inside source folder"
The VS Code Java plugin cannot import a project from a `build.gradle` file that places a test resources directory inside a test source directory. Gradle itself, however, supports this.

##### Environment
- Operating System: macOS 10.15.6
- JDK version: OpenJDK 14.0.2
- Visual Studio Code version: 1.48.1
- Java extension version: 0.65.0

##### Steps To Reproduce

Populate `build.gradle` with the fo

[2020-08-24 01:17] testforstephen commented on #1590
Could you share the logs?

**F1 -> Java: Open Java language server log file**

[2020-08-24 01:25] testforstephen commented on #1589
"java.jdt.ls.vmargs" setting is used to specify extra VM arguments to launch Java language server itself. The debugger won't consume such setting. When your business logic has download service, exactly you should leverage vmArgs in launch.json for that.

[2020-08-24 01:43] pcantrell commented on #1590
Ah! I was sure there must be a stack trace somewhere, but couldn't find it. (Seems like it would be helpful if a click on the error message opened the log.) Here's the relevant section:

[code]

So it looks like the problem is that the eclipse build system is more strict than gradle.

[2020-08-24 02:07] testforstephen commented on #1587
See https://github.com/redhat-developer/vscode-java/issues/1390#issuecomment-652302766, Android project is not fully supported. But you should still get partial completion support if you launched the extension at LightWeight mode.

[2020-08-24 03:22] testforstephen commented on #1590
You need manually exclude the nested folder. Could you try below?

[code]

[2020-08-24 03:46] pcantrell commented on #1590
Thanks for the suggestion! I did find another workaround for my project; the point of this issue is just the discrepancy between gradle and VS Code behavior.

[2020-08-24 04:05] testforstephen commented on #1590
Could you share your workaround here in case some others may reference it for the similar issue?

[2020-08-24 05:41] JoeyRxy commented on #1058
@czfadmin  you sure you make `java.completion.overwrite` to False? Cause there's a similar setting `editor.suggest.insertMode` which won't work for java extension, hope u not confusing them.

[2020-08-24 05:52] pcantrell commented on #1590
Sure! It turns out things work fine if the test source dir _is_ a resource dir (instead of _containing_ a resource dir):

[code]

I had the luxury of moving files around, so this was an acceptable workaround.

[2020-08-24 10:02] jakegt1 opened #1592 "VSCode java uses a proxy when not configured to / VSCode java does not respect nonProxyHosts"
[code]

##### Environment
- Operating System: Linux (centos based)
- JDK version: 11
- Visual Studio Code version: 1.48.1
- Java extension version: 0.65.0

##### Steps To Reproduce
1. VSCode java/jdt.ls uses a proxy to make requests even if you don't configure it to

##### Current Result
VSCode java/jdt.ls only uses a proxy when configured to

##### Expected Result
VSCode java/jdt.ls doesn't use a

[2020-08-24 10:14] fbricon commented on #1592
Have you tried https://github.com/redhat-developer/vscode-java/wiki/Using-a-Proxy?

[2020-08-24 11:01] sebascomeau commented on #1589
I followed the extension documentation.
https://github.com/redhat-developer/vscode-java/wiki/Using-a-Proxy

The same issue was raised in 2019 and this was fixed.
https://github.com/redhat-developer/vscode-java/issues/1175

[2020-08-24 11:26] sebascomeau commented on #1589
I need those proxy settings because the embed mongo db executable need to be downloaded at runtime whe running the app locally.

Url that need to be downloaded with proxy:
https://downloads.mongodb.org/win32/mongodb-win32-x86_64-3.5.5.zip

[code]

[2020-08-24 11:51] sebascomeau commented on #1589
@xxbeanxx explained to me the different of vmArgs in launch.json and settings.json. The one in settings.json is for the language server, in my case Maven. The one in launch.json if for the application.

Thanks for the clarification.

[2020-08-24 12:07] dsyer commented on #632
FWIW .kts build files seem to work OK in Eclipse now. Is it time to take another look at this maybe?

[2020-08-24 12:11] fbricon commented on #632
@akaroml @testforstephen @Eskibear @jdneo is this something you guys can look at?

[2020-08-24 12:35] testforstephen commented on #1589
Nice to know you figure it out. i will close the issue. If you need more information, feel free to reopen it.

[2020-08-24 12:35] #1589 closed

[2020-08-26 02:31] RobbiNespu commented on #1062
![javahome](https://user-images.githubusercontent.com/3077875/91248376-1230a300-e787-11ea-87c2-861d762855cf.PNG)
As quick solution, just edit your vscode setting.json and pointing directly to java_home (eg: add ` "java.home": "C:\\java\\jdk\\java-11-openjdk-11.0.8-2",` ). Please refer attached picture, saved it and vscode will ask to restart. After restart, should be no more same issue. I hope thi

[2020-08-26 13:01] zhangbaogithub opened #1593 "autocompletion inherided interface method insert wrong code"
[provide a description of the issue]
autocompletion insert wrong code

##### Environment
- Operating System: Windows_NT x64 10.0.18362
- JDK version: 14.0.2
- Visual Studio Code version: 1.48.1
- Java extension version: 0.65.0

##### Steps To Reproduce
1. [step 1] Passing anonymous interface in function parameters
2. [step 2] Overwrite interface's abstract method

![](https://user-images.githubuse

[2020-08-26 13:36] jakegt1 commented on #1592
@fbricon
Yep. Many times. In fact, this was working for a while - I had something like..

    "java.jdt.ls.vmargs": "-Dhttp.proxyHost=(proxy) -Dhttp.proxyPort=80 -Dhttps.proxyHost=proxy -Dhttps.proxyPort=80 -Dhttp.nonProxyHosts=(my repository host) -Dhttps.nonProxyHosts=(my repository host)"

And sometimes this seems to work, and sometimes it doesn't. The logs usually will say that it has found th

[2020-08-26 13:44] jakegt1 commented on #1592
I've just noticed this must have been when had set JDT proxy it must have managed to download gradle 5 (i think i had the forced version/disable wrapper enabled at the time.) Still same thing applies anyway. Is there anything else that can be setting the proxy?

[2020-08-26 13:52] jakegt1 opened #1594 "Gradle using Java 8 - Any gradle build script error returns as a StreamCorruptedException with no useful content instead of the actual gradle exception"
When using Gradle with java.configuration.runtimes set to a JavaSE-1.8 JVM, any problems in a build.gradle script will come up with a java.io.StreamCorruptedException instead of the actual exception.

This can be very painful to debug, because it might happen that when executing gradle manually via command line, you might find that the build itself will go through with one of the default targets,

[2020-08-26 14:07] fbricon commented on #1594
which version of gradle are you using? can you attach a sample project?

[2020-08-26 14:14] snjeza commented on #1593
I can't reproduce the issue.
@zhangbaogithub could you attach a sample project?

[2020-08-26 14:18] snjeza commented on #1594
@jakegt1 See https://github.com/redhat-developer/vscode-java/issues/1543#issuecomment-673747392

[2020-08-26 14:28] fbricon commented on #1594
See https://github.com/redhat-developer/vscode-java/wiki/JDK-Requirements#my-gradle-version-does-not-support-java-11

[2020-08-26 14:31] fbricon commented on #1594
The JavaSE-8 runtime is used for compiling your Java code, but, by default the Gradle Daemon uses the jdt.ls JVM to run (so 11+). `java.import.gradle.java.home` allows you to run the daemon with a different JVM, but it requires Gradle 4.7 minimum.

[2020-08-26 15:03] bryanmylee opened #1595 "Project does not build due to build path being incomplete"
None of my Java projects are being built properly by the language server.

All my projects are failing, even previously working projects

Fundamentally, I'm getting JRE errors such as `The type java.lang.Object cannot be resolved. It is indirectly referenced from required .class files`.

I'm unable to open standalone Java files, vanilla Java projects and packages, or Maven projects properly.

I've

[2020-08-26 15:06] bryanmylee commented on #1595
Seems to be related to #483, but the logs produced are different:
[code]

[2020-08-26 15:31] fbricon commented on #1595
@snjeza see this exception from the log:

[code]

@bryanmylee can you please share your vscode settings.json?

[2020-08-26 16:22] zhangbaogithub commented on #1593
@snjeza yes, here is reproduce the issue steps:

1. git clone https://github.com/square/okhttp.git
2. git checkout parent-3.14.9
3. open file(PostExample.java)
4. add following code
[code]

[2020-08-26 17:14] snjeza commented on #1595
@bryanmylee Could you try the following:

- stop VS Code
- run
[code]
- start VS Code

[2020-08-27 03:25] x7night opened #1596 "refactor error in java"
- VSCode Version:1.48
- OS Version:win 10

Steps to Reproduce:

1.create a class like:
`public Visitor{}`
2.use the lombok annotation `@Data`
[code]
3.refactor the class name to VisitorRecord. it will be

`VisitRecord class VisitRecord{}`

i think it should be:
[code]
but it isn't

Does this issue occur when all extensions are disabled?: Yes/No
occur when the lombok is disabled

[2020-08-27 07:05] bryanmylee commented on #1595
@fbricon
[code]

[2020-08-27 07:07] bryanmylee commented on #1595
@snjeza I've done so and I am still getting the same results. I've tried wiping and reinstalling VSCode, including its support files, if that helps.

For some additional context, the language of `coc-java` for `coc.nvim` works with my `nvim` install.

[2020-08-27 09:20] jakegt1 commented on #1594
I am using Gradle 5.1.
There is no need for a sample project, it reproduces with a build.gradle with any syntax error.

My settings:

[code]
To note, if there is no syntax error things work as expected - i can debug, i get import suggestions etc. It's just that if i do have a syntax error,

My `java.home` property is JDK 11, whereas the JDK chosen in `java.configuration.runtimes` is JDK 8 by defau

[2020-08-27 10:08] fbricon commented on #1594
Ok I see now. Invalid build.gradle errors don't bubble up as diagnostics. Buildship reports it properly, so we must be something wrong:

<img width="721" alt="Screen Shot 2020-08-27 at 12 07 25 PM" src="https://user-images.githubusercontent.com/148698/91427268-f1874c80-e85d-11ea-8352-8fd13867d1bd.png">

[2020-08-27 11:21] testforstephen commented on #632
We'll have a chat with our linkedIn partners first and then see whether to raise the priority.

[2020-08-27 13:18] ericsia opened #1597 "Since July update cause java highlight break"
I love to use VSC Java plugin but I had so much pain working with java now.
Now the highlight is glitchy, it don't highlight properly when Semantic Highlight is turn on.
Comment don't get highlighted :( I feel sad
Also I would appreciate it if it is easier to use junit assertEqual, when I try to open a single .java file, it cannot import org.junit

##### Environment
- Operating System: Windows 10

[2020-08-27 13:20] fbricon commented on #1597
Are you saying semantic highlighting is fine when **not** debugging?

[2020-08-27 13:31] ericsia commented on #1597
after I close and open it sometime it appears fine

[2020-08-27 14:11] 0dinD commented on #1597
Does the highlighting also "fix" itself after you type a character?

Not sure if it's related, but I've seen something very similar happen when applying large changes to the document, such as undo/redo or using git reset --hard. I unfortunately could not find a way to consistently reproduce the issue, but the semantic highlighting broke in the same way as in your screenshot.

@ericsia if you could

[2020-08-27 18:41] #1571 closed

[2020-08-27 22:25] snjeza commented on #1595
@bryanmylee could you add the following property to your settings.json:

[code]
and send your logs

[2020-08-27 22:46] cnmoise opened #1598 "No option to disable Configure Java Runtime window from appearing when opening .java file"
When opening a Java project for the first time, it is typical for a pop-up page to appear informing the user if they haven't added configured their local java environment. However when developing on a remote system the notification will pop up every. single. time. And there is no way to permanently dismiss it using a GUI.

Suggestion: add a checkbox similar to the VSCode welcome page that disables

[2020-08-27 22:58] fbricon commented on #1598
Can you attach a screenshot of the pop-up, I want to make sure there's no confusion

[2020-08-27 23:03] cnmoise commented on #1598
Sure thing, here is what I see every time I open a .java file in a new window https://i.imgur.com/Imiz79x.png

[2020-08-28 01:42] basecell commented on #1543
According to my experience, I should still configure the java.configuration.runtimes option, so that the debugger can start debugging with the correct jdk.

[2020-08-28 08:30] fbricon commented on #1598
So that page is provided by the Microsoft's Java Extension Pack, not vscode-java. Please open a ticket in https://github.com/Microsoft/vscode-java-pack

[2020-08-28 08:30] #1598 closed

[2020-08-28 08:43] clankill3r commented on #894
I can no longer get this to work.
I'm not using maven or gradlle but I just use 'vscode' (I have no idea how to call it), with the lib folder, and where I can add libs using the + button under the `Java Projects` in the EXPLORER.

This is what my structure looks like:

![Screen Shot 2020-08-28 at 10 40 04](https://user-images.githubusercontent.com/738650/91540319-e9411700-e91a-11ea-84e2-5df08b2c56

[2020-08-28 08:45] clankill3r commented on #1597
I also notice that this happens a lot since July, I'm on a mac OSX 10.12.6.
Often typing and deleting something fixes it, but it stays annoying.

[2020-08-28 09:38] lackovic commented on #419
There is a new _Google Java Format_ extension released a couple of months ago available in [Visual Studio Marketplace](https://marketplace.visualstudio.com/items?itemName=mngrm3a.vscode-google-java-formatter&ssr=false#overview) whose source code is [hosted on GitLab](https://gitlab.com/mngrm3a/vscode-google-java-format).

To make it work you need to:

1. download the [latest version of google-java

[2020-08-28 10:59] 0dinD commented on #1597
@clankill3r can you provide some more info about what you're doing when the issue occurs? It would make the debugging process a lot easier if we had a way to reproduce the issue. And by "since July", do you mean the 0.65.0 update or do you not know which version you were using?

Personally I've seen this issue occur earlier than 0.65.0, but I couldn't find a way to consistently reproduce it. It se

[2020-08-29 06:36] bryanmylee commented on #1595
Added the `java.home` property to my `brew` install of `openjdk`, but still facing the same issues.

[client.log](https://github.com/redhat-developer/vscode-java/files/5144857/client.log)

[2020-08-30 17:13] safield opened #1600 "Switching between open editor tabs using keyboard shortcut is slow."
- Operating System: Linux Mint 20 (Ubuntu 20.04 base)
- JDK version: Open JDK 11
- Visual Studio Code version: 1.48.2
- Java extension version: 0.65.0

Switching between editor tabs is slow.

When I disable all extensions, then open multiple java files (easier to observe with 3 or more), I can **press and hold** the cycle editor tab left/right hotkey, and the editor tab will cycle smoothly, as fas

[2020-08-31 08:31] fbricon commented on #1600
Can you record that slow behavior? I tested on my mac and saw no such problem. While cycling, no request is sent to the Language Server, so everything is happening on the vscode side. I can't think of a piece of code in vscode-java that could explain the issue TBH.

[2020-08-31 08:51] fbricon commented on #1600
No problem either on my Ubuntu 20.04 box

[2020-08-31 09:04] fbricon commented on #1600
I tried Ctrl+Tab, (cycles through recently used tabs) and Ctrl+page up/down (open next/previous tab)

[2020-08-31 10:53] maxandersen opened #1601 "make .jsh useful"
would be great to be able to open .jsh files with syntax highlighting enabled and have content assist from the associated project work on it.

pretty please.

[2020-08-31 14:28] fbricon commented on #1601
That'll require upstream JDT to support jshell scripts. cc @akurtakov @rgrunber @scela

[2020-08-31 16:47] bhgsbatista commented on #1232
I have the same issue, I get the following error in the language server, it seems it's not correctly reading and applying password authentication from the maven settings file:

[code]

Here is my maven settings file (located in `C:\Users\<me>\.m2\settings.xml`):

[code]

The project compiles successfully with `mvn compile` or `mvn package`.

[2020-09-01 18:32] ericsia commented on #1597
most accurately I didn't know since when do I turn it on. During last 2 update if I didn't rmb wrongly, I saw VS Code prompt me a msg to enable semantic highlight. So I go and turn it on. There is where I notice the highlights broken.
It is the best to try trace back from older build

[2020-09-01 18:36] ericsia commented on #1597
During I start typing code from scratch I think. When I added comment, add more code then it might occurs

[2020-09-01 18:52] ericsia opened #1604 "tiny AutoComplete request"
Hi great developers out there, first I want to say thank you for you guys to make this possible happening.
I enjoyed using vscode so much and love using it with java. ❤
I think it can be agreed that everyone use:
System.out.print();
and
System.out.println();

very often especially in debugging. Can you guys kindly include that in the suggestion completion box please?
I love to see that in next upd

[2020-09-01 21:41] 0dinD commented on #1597
Ok, that strengthens my belief that this issue was not introduced via any of my changes in 0.65.0, and has been present since the initial implementation.

Again, if someone could provide a way to consistently reproduce this issue (via steps), that would make the debugging process a lot less time-consuming. (Meaning a fix can be released sooner.)

@ericsia how often do you estimate that this issue

[2020-09-01 23:07] fbricon commented on #1604
you can type `sysout` for System.out.println() and `syserr` for System.err.println(). See also `systrace` to print the current method name.

To get Junit completion for a single file, you just need to create a lib folder containing the junit jar(s) like that:

![auto-add-jar](https://user-images.githubusercontent.com/148698/91914499-86ec6b80-ecb8-11ea-9f8c-3c9e1ac672a4.gif)

[2020-09-02 02:26] Ghack9 commented on #1489
Can You Please Add Whole Code Where to Write 'JAVA_HOME'

[2020-09-02 02:31] ericsia commented on #1597
The color highlight when get messed like that doesn't go back to normal (when stop debug) until I reopen vscode again. I am also trying hard to find how to reproduce it but right now I'm not writing any code atm.
Now when I freshly open the java code everything look normal. But maybe tomorrow or 2 days later I will need to code again I will pay extra attention

[2020-09-02 03:11] jdneo commented on #1563
Looks like something wrong when initialize the workspace:

[code]

[2020-09-02 03:29] ericsia commented on #1604
@fbricon  Omg!!! Thank you so much, I didn't know it was there the whole time.
I never download a single junit.jar before, am I doing it correctly?
I downloaded from here: https://search.maven.org/search?q=g:junit
I think vscode still need implementation to work with junit though, because right now when I do simple test:

assertEquals(2, 2); // assertEquals(Expected, Result);
assertEquals(2, 1);

[2020-09-02 05:57] testforstephen commented on #1604
@ericsia The unit test support is provided by https://github.com/microsoft/vscode-java-test/issues, could you move the unit test discussion there?

[2020-09-02 11:10] HandsomeXi opened #1605 "Can't go to definition"
[Can't go to definition]

##### Environment
- Operating System:ubuntu 16.0.4
- JDK version:openjdk 11
- Visual Studio Code version:1.48.2
- Java extension version:0.67.0

##### Steps To Reproduce
1. download aosp
2. add folder './frameworks/base/services/core/java/com/android/server/policy' to workspace.(to use PhoneWindowManager.java)
3. add folder './frameworks/base/core/java/android/content' to

[2020-09-02 13:00] fbricon commented on #120
So I tried @tomsontom's solution of automatically relaxing the access rules when javafx is detected in the JDK, by copying a bunch of e(fx)clipse classes to JDT.LS.
It works for Oracle JDK 1.8  and Liberica 8.0.265.FX. Other JDK 8 distros that don't ship Java FX obviously can't compile the project.

So, what next? Anything else I'd need to do to ensure JavaFX support is acceptable? (I have zero in

[2020-09-02 13:09] ericsia commented on #1604
everything is ok now. I followed this video https://www.youtube.com/watch?v=60yrTfVdFwo
Although I wish vscode came with that setting

[2020-09-02 13:09] #1604 closed

[2020-09-02 13:18] fbricon commented on #1604
which value would that setting have? The Junit jar location is user specific

[2020-09-02 13:21] fbricon commented on #1605
What is AOSP?
Also, from the readme:
<img width="494" alt="Screen Shot 2020-09-02 at 3 20 12 PM" src="https://user-images.githubusercontent.com/148698/91988764-f5204500-ed2f-11ea-8617-4ac1a0fdaf6c.png">

[2020-09-02 13:28] tomsontom commented on #120
Well the question is could efxclipse restructure its codebase and deliver an extension one can optionally install into jdt.ls

[2020-09-02 13:39] ericsia commented on #1604
1. Maybe include junit.jar https://search.maven.org/remotecontent?filepath=junit/junit/4.13/junit-4.13.jar
2. then add this to setting.json:
"java.project.referencedLibraries": [
        "lib/**/*.jar",
          "C:\\extensionpath\\junit.jar"
    ],

  This configuration basically allowed any opened folder to import:
  import org.junit.Test;
  import org.junit.Assert.assertEquals;
 ![weird](https

[2020-09-02 14:00] fbricon commented on #1604
I'd rather prefer we don't ship any Junit version. It evolves constantly, Junit 4 is fairly different from Junit 5, in the end, better leave that choice to the users.
The `Generate JUnit Testfile` command is not coming from vscode-java, I don't know where it's coming from. But you can probably open an enhancement request in the extension contributing it.

[2020-09-02 14:03] HandsomeXi commented on #1605
aosp means Android Open-Source Project and it's not a gradle project。None of this matters，i just want go to definition between two different folder

[2020-09-02 15:34] fbricon commented on #120
Anyone willing to test my changes can [manually install this vsix file in vscode](https://code.visualstudio.com/docs/editor/extension-gallery#_install-from-a-vsix): https://dl.bintray.com/fbricon/vscode-extensions/vscode-java/:redhat.java-0.66.999.vsix

@tomsontom if you can provide an eclipse plugin containing just those files: https://github.com/eclipse/eclipse.jdt.ls/pull/1536, then I can remov

[2020-09-02 16:31] jihu opened #1606 "Organize imports with compilation syntax error causes incorrect deletion of imports"
If one triggers Organize Imports with compilation errors in the code, this can result in incorrect deletion of imports. At least for syntax errors.

##### Environment
- Operating System: Windows 10
- JDK version: 1.8.0
- Visual Studio Code version: 1.48.2
- Java extension version: 0.10.0

##### Steps To Reproduce
1. Add this code: https://www.cs.utexas.edu/~scottm/cs307/javacode/codeSamples/Simple

[2020-09-02 16:36] fbricon commented on #1606
Closing as duplicate of https://github.com/redhat-developer/vscode-java/issues/1383

[2020-09-02 16:36] #1606 closed

[2020-09-02 16:40] jihu commented on #1606
ok. Well, yeah, I didn't find that when searching for similar bugs already registered. But least this provides a different example of when this is triggered (as the error in the other ticket is caused by a missing semicolon, and this one by a missing bracket, and you wrote in the other ticket that it is difficult to reproduce with other types of errors than the example). Also, in my case not all i

[2020-09-02 16:43] fbricon commented on #1606
In your case, this can be reproduced in Eclipse. I assume the AST must be pretty sensible to certain errors, causing those removed imports

[2020-09-02 16:48] jihu commented on #1606
Interesting. I had no idea this part was so tightly coupled with Eclipse. Do you happen to know what project is responsible for that? Then I can file a bug report there (unless one already exists).

[2020-09-02 17:53] fbricon commented on #1606
I skimmed through the [JDT bugs](https://bugs.eclipse.org/bugs/buglist.cgi?bug_status=UNCONFIRMED&bug_status=NEW&bug_status=ASSIGNED&bug_status=REOPENED&classification=Eclipse%20Project&f0=OP&f1=OP&f2=product&f3=component&f4=alias&f5=short_desc&f6=status_whiteboard&f7=content&f8=CP&f9=CP&j1=OR&list_id=19905300&o2=substring&o3=substring&o4=substring&o5=substring&o6=substring&o7=matches&product=JDT&

[2020-09-02 21:56] #1600 closed

[2020-09-02 23:51] shrey150 commented on #120
@fbricon your custom `vscode-java` plugin fixed the issue for me, thanks! (I'm running on Oracle JDK 8u191).

[2020-09-03 12:20] Strum355 opened #1607 ""Could not set the project description for '<xyz>' because the project description file (.project) is out of sync with the file system" since v0.66.0"
Ever since the latest update (0.66.0), I've consistently been getting the title error message in exceptions in the extension output panel (`Could not set the project description for '<xyz>' because the project description file (.project) is out of sync with the file system.`) and is very difficult to solve consistently.

##### Environment
- Operating System: Arch Linux
- JDK version: 14
- Visual S

[2020-09-04 11:29] jakegt1 commented on #1592
Closing issue as i can't seem to bloody reproduce this now. Doesn't make any sense.

[2020-09-04 14:24] #1593 closed

[2020-09-04 15:41] rgrunber commented on #1601
This seems pretty similar to https://help.eclipse.org/2020-06/index.jsp?topic=%2Forg.eclipse.jdt.doc.user%2Ftasks%2Ftask-create_scrapbook_page.htm . Although that makes use of JavaSnippet{Editor,ViewerConfiguration,CompletionProcessor} which are definitely part of UI, so not the way to go.

However, this also seems similar to what is done in JDT-LS when a java file created in an empty folder/proje

[2020-09-04 19:16] 0dinD commented on #1597
While I have not come up with a reliable way to reproduce this issue, it did occur again during development, so I thought I'd share another screenshot. For me it occurred quite randomly when typing code, possibly as an effect of pasting ~10 lines of code, but I'm not sure yet whether the two were related. The bug doesn't happen very often, but it's still annoying the few times where it does.

![se

[2020-09-05 12:39] 0dinD commented on #1597
This issue has proven hard to debug, but I believe I've found a possible explanation, even if I don't know the exact cause or how to fix it. It seems to occur in some rare cases, when changes are made to the document ***during*** a request for semantic tokens.

The most reliable I've been able to reproduce it is to make multiple small changes to the document in rapid succession, but the timing req

[2020-09-05 23:25] TrevorBrown-dev opened #1608 "Intellisense For Java Not Working"
I opened VSCode today and found that intellisense for java has stopped working. I reinstalled the extension pack, reloaded VSCode, restarted my PC, none of it worked, any suggestions?

[2020-09-07 07:29] Cloudmersive commented on #1543
Btw this is horrible

[2020-09-07 16:57] anixon604 opened #1609 "APIs for querying source tree for inheritance or implementation of interface X."
Hi, I'm developing an extension and looking to include the feature of:
- scan all .java files in the project folder and return back the filenames of all internal classes that either implement interface X OR descent from a class implementing interface X.

Are there APIs or functionalities included in vscode-java that could accomplish this task? Any help would be appreciated. Thanks

##### Environme

[2020-09-07 19:20] snjeza commented on #1609
@anixon604 you can review https://github.com/eclipse/eclipse.jdt.ls/blob/master/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/handlers/ImplementationsHandler.java and/or https://github.com/eclipse/eclipse.jdt.core/blob/master/org.eclipse.jdt.core/model/org/eclipse/jdt/core/ITypeHierarchy.java

[2020-09-08 08:12] tomsontom commented on #120
@fbricon I guess the problem is that efxclipse dropped from the release train hence adopting would not be so simple for you and given the JDK-8 will be used less and less I guess it is not worth the effort

[2020-09-08 17:56] WillBeebe commented on #1092
I haven't been able to get this working on a mac yet. AdoptJDK as a pkg file or downloading the tar.gz both don't work. I set the path in VSCode settings and it says it isn't valid.

[code]

I don't have two java homes, these are two settings I've tried and neither work.

<img width="1062" alt="Screen Shot 2020-09-08 at 11 55 08 AM" src="https://user-images.githubusercontent.com/651833/92511192-3a

[2020-09-08 17:57] WillBeebe commented on #1092
I've also tried `asdf` to install a JDK (which would be preferred) and get the same error as above.

[2020-09-08 17:58] fbricon commented on #1092
are you using flatpak vscode?

[2020-09-08 17:59] WillBeebe commented on #1092
I am not. I'm using VSCode Insiders

[code]

[2020-09-08 18:05] WillBeebe commented on #1092
I also tried downloading the JDK from here with no luck.

https://jdk.java.net/14/

[2020-09-08 18:18] WillBeebe commented on #1092
WOOOOOOOOOOOO!

Found the answer here.

https://github.com/redhat-developer/vscode-java/issues/108

For OSX, use:

[code]

[2020-09-08 23:33] snjeza commented on #1383
I can reproduce the issue using VS Code 0.59.1, but it is fixed in the 0.66.0 version.

[2020-09-08 23:33] #1383 closed

[2020-09-09 12:35] badsyntax commented on #1609
@snjeza is this exposed through the language server or extension apis?

[2020-09-09 22:22] snjeza commented on #1609
@badsyntax It is the Eclipse JDT API - https://www.eclipse.org/jdt/core/ that is a part of the Java LS - https://github.com/eclipse/eclipse.jdt.ls/blob/master/org.eclipse.jdt.ls.core/META-INF/MANIFEST.MF#L15

[2020-09-10 03:10] JoeyRxy commented on #1597
yeah, I've encountered this problem since the beginning of semantic color rendering tech.
it's a severe problem I think.

[2020-09-11 02:02] JoeyRxy commented on #1396
Hi, I think this problem didn't solved, I've encountered this situation in `0.66.0` version!

![img](https://github.com/JoeyRxy/tmp/blob/master/vscode%20issue%20report.png)

![img](https://github.com/JoeyRxy/tmp/blob/master/vscode%20color%20rendering%20report.png)

[2020-09-11 02:52] Eskibear commented on #1396
@JoeyRxy Can you figure out a way to stably reproduce it? That would be a great help for us to understand the cause and provide a fix.

[2020-09-11 06:25] ronakg commented on #1572
Wondering if this is being looked into.

[2020-09-11 11:47] ThiagoAnd commented on #743
Thanks !! I had the same problem here . Installed lombok and after that deleted it but the settings for it remain, just deleted it.

[2020-09-11 12:46] JoeyRxy commented on #1396
I think this problem occurs randomly. When you open a java file in a project (maven project most time in my situation), sometimes this problem occurs after you edit something.

in the pictures above, I just input an `Enter`, then it was broken, until reopening the file or do more editing. I think that's because those action trigger the refreshing or re-rendering action.

[issue-in-vscode](https://

[2020-09-11 13:30] 0dinD commented on #1396
@Eskibear I'm pretty sure this is related to #1597, and I don't think it's caused by any of my changes since I've seen it happen occasionally before, in version 0.64 or earlier. I've tried to reproduce it, but it was hard to find any consistent way to do it. See [my comment](https://github.com/redhat-developer/vscode-java/issues/1597#issuecomment-687605420) for what I've been able to find out so f

[2020-09-11 13:59] Eskibear commented on #1597
@0dinD good findings. I also observe the same behavior, but it prevents me from digging deep as I cannot stably reproduce it. The root cause might be either of the below:
a) JDT.LS calculates semantic tokens based on an out-of-date state (corresponding CompilationUnit) of current document, and vscode highlights the file using wrong tokens.
b) JDT.LS does provide the correct result, but vscode some

[2020-09-11 14:23] 0dinD commented on #1597
@Eskibear thanks for the tip, I'll try to figure out more details when I can. One thing that makes me think it's more of a VS Code-issue is that the `Developer: Inspect Editor Tokens and Scopes` command is reporting the correct positions for the tokens, while in reality, the text color has been offset by a few characters.

[2020-09-11 16:56] fbricon commented on #1608
Which version of Java are you using? have you checked the [logs](https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting)?

[2020-09-11 16:59] fbricon commented on #1596
`public Visitor{}` is not valid Java. Should be `public class|interface|enum|record Visitor{}`

[2020-09-11 17:37] #1583 closed

[2020-09-11 17:49] ganezdragon commented on #718
Why is this closed? Still not able run gradle projects with circular dependencies.

[2020-09-11 17:56] fbricon commented on #718
We merely take upstream Eclipse projects and integrate them together so they can work in a headless scenario. We definitely rely on other people's work for Core functionalities.
It **might** be possible in the future for Eclipse Buildship to support some sort of circular project dependencies, when referencing test folders from one project to another, but we can't do anything here in vscode-java un

[2020-09-11 17:58] coopstah13 commented on #718
what we're asking for here, is for you to support the option as outlined here: https://github.com/eclipse/buildship/issues/460#issuecomment-297953710

[2020-09-11 20:01] snjeza commented on #718
@coopstah13 you can try to add
[code]
to <your_project>/.settings/org.eclipse.jdt.core.prefs

[2020-09-12 06:03] yuan8ba opened #1612 "java11 can't debug"
[provide a description of the issue]

##### Environment
- Operating System: window 10
- JDK version:java 11
- Visual Studio Code version: 1.49.0
- Java extension version:

##### Steps To Reproduce
1. Create a Spring Boot project maven
2. mvn clear package
3. F5
4.Error: the main class could not be found or could not be loaded

[Please attach a sample project reproducing the error]
[Please attach l

[2020-09-12 15:47] juhijha170 commented on #781
I am getting this same error please help with the solutions

Could not create parent directory for lock file C:\Program Files\Android\Android Studio\gradle\gradle-4.10.1\wrapper\dists\gradle-6.1.1-all\cfmwm155h49vnt3hynmlrsdst\gradle-6.1.1-all.zip.lck

[2020-09-13 14:34] ganezdragon commented on #718
@snjeza nope didn't work for me!

[2020-09-13 19:14] snjeza commented on #718
@ganezdragon Could you provide a project example?

[2020-09-14 10:33] Firestormable commented on #1595
I am also getting this issue.
I've tried everything above, as well as reverting to older versions of the extension and running `mvn clean eclipse:clean eclipse:eclipse` to try force recreation of project settings with no success. Also tried various JDKs, including openJDK and Adopt.

[2020-09-14 13:27] #1573 closed

[2020-09-14 14:11] saumilsdk commented on #828
hey @2020-abhilash you might have installed lombok plugin. if so remove it and it's settings from user settings of VS code.

[2020-09-14 20:20] atg22896 commented on #1543
I'm having the same issue. I have Java 11 set to be used as the JDK for the extension, and tried setting JDK 1.8 as default runtime. This java extension refuses to load a gradle project that uses 2.9, with :
`Could not create an instance of Tooling API implementation using the specified Gradle distribution 'https://services.gradle.org/distributions/gradle-2.9-bin.zip'.
Could not create service of

[2020-09-14 22:29] snjeza commented on #1543
@atg22896  Java LS uses JDK11 which requires gradle >=5.0. See https://docs.gradle.org/5.0/release-notes.html#java-11-runtime-support

[2020-09-15 04:51] jdneo commented on #1612
@yuan8ba Are the class files compiled in the `target` folder?

[2020-09-15 05:14] LiuYinglovecode commented on #1543
They want to force you to use java 11, don't use it, I just switch to IDEA.

[2020-09-15 05:45] gajduk commented on #1543
I agree with LiyYing, its time to find an alternative, or spend a lot of time moving your project to java 11.

On Tuesday, September 15, 2020, 7:14 AM, LiuYing <notifications@github.com> wrote:

They want to force you to use java 11, don't use it, I just switch to IDEA.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-09-15 06:03] jdneo commented on #1543
@gajduk

There is no need to move your projects to JDK 11. JDK 11 is **only** required to launch the java language server. Your projects can still use JDK 8 to build and run. (https://github.com/redhat-developer/vscode-java/issues/1543#issuecomment-663382692)

[2020-09-15 06:11] basecell opened #1614 "`java.configuration.runtimes` option configuration error will not prompt an error"
I configured `java.home` as the installation directory of jdk11, and I deliberately set a non-existent path for `JavaSE-1.8` in the `java.configuration.runtimes` option. Then when vscode opens Java8's project, **the Java plug-in does not prompt for configuration errors, but used the jdk11 configured by java.home to compile and debug my project!**  This is a hidden trouble, If users misconfigure th

[2020-09-15 06:39] jdneo commented on #1614
Thanks for reporting, it's dup with https://github.com/redhat-developer/vscode-java/issues/1481.

I believe @testforstephen is already working on this issue.

[2020-09-15 07:12] jdneo commented on #1379
I believe we can give `Change modifiers to final where possible` a specified code action kind to make this happen (currently it's a general kind).

BTW, IMO this code action should be grouped as one of the source actions. (Considering it's operating the whole document and this pattern is similar with other source actions like `organize import`).

@fbricon @akaroml @testforstephen @Eskibear what do

[2020-09-15 07:59] pan3793 opened #1615 "Feature Request: Please provide a property in configuration to change defaultOutputDir `bin`"
## Feature Request

Please provide a property in configuration to change defaultOutputDir `bin`

## Detail

I'm not a eclipse user, as I know, `bin` is wildly used as a dir which store shell script, but vscode java plugin use it as default output dir, and cant not change it in configuration, the only way is use gradle eclipse plugin to generate `.classpath` with modified config by groovy script in

[2020-09-15 12:46] atg22896 commented on #1543
@jdneo Not if you are using a Gradle version lower than 5.0. My work uses Gradle 2.9, and JDK 8. As @snjeza said above to me, those two are incompatible with the latest version of the language server. So I have to rollback the extension, or use another piece of software.

[2020-09-15 13:10] harshadsindhav opened #1616 "Support for web monaco editor"
Hi,

Good job team!!

Just want to know if there is any way we can use this extension with browser mode of monaco editor for java language ?

Thank you very much.

[2020-09-15 15:37] #1470 closed

[2020-09-15 20:48] fbricon commented on #1344
Fixed with https://github.com/eclipse/eclipse.jdt.ls/pull/1532

[2020-09-15 20:48] #1344 closed

[2020-09-15 20:53] fbricon commented on #1470
* `java.templates.fileHeader`: Specifies the file header comment for new Java file. Supports configuring multi-line comments with an array of strings, and using ${variable} to reference the [predefined variables](https://github.com/redhat-developer/vscode-java/wiki/Predefined-Variables-for-Java-Template-Snippets).

* `java.templates.typeComment`: Specifies the type comment for new Java type. Suppo

[2020-09-15 20:56] fbricon commented on #1470
For instance, you can define a copyright header like:
[code]

and a new type Javadoc like:
[code]

[2020-09-16 08:08] jdneo opened #1617 "Change the code action kind 'Change modifiers to final where possible' to Source Action"
Currently the code action `Change modifiers to final where possible` is grouped as a refactor.

This makes this code action shows almost everywhere in the bulb icon. And considering it's operating the whole document, it's more like a source action instead of a refactor.(considering `organize import`)

[2020-09-16 08:15] gombosg commented on #1549
Necrobumb, but disabling IntelliCode sped up Java code completion by at least 3x.

[2020-09-16 09:33] av1m commented on #1092
I fix the problem with
`"java.home": "/usr/lib/jvm/java"`

And when you look on `/usr/lib/jvm/` you have something similar :
[code]

[2020-09-16 11:20] testforstephen opened #1618 "Filename extension is .class when saving Untitled file to Java"
Reproduce steps:
- new Untitled file
- hit Cmd+S
- pick Java from the dropdown

![image](https://user-images.githubusercontent.com/14052197/91684930-6a9ee080-eb8b-11ea-9a08-4bafb45519b3.png)

And disabled the Java extension, the default filename extension switched back to `.java`.

[2020-09-16 11:48] Rupert-117 opened #1619 "vscode-java cannot compile project with maven package that excludes com.sun.java tools"
When adding a certain maven package to a POM that require exclusions of `com.sun.java` tools package to function properly the vscode-java compiler reports a barrage of problems, including:

- The project was not built since its build path is incomplete. Cannot find the class file for java.lang.String. Fix the build path then try building this project
- The type java.lang.String cannot be resolved.

[2020-09-16 14:51] #1618 closed

[2020-09-17 05:52] Eskibear opened #1621 "potential failure of activation when JDK <11 is also installed"
### Context
It simply finds the first available JDK in below order:
* java.home
* JDK_HOME
* JAVA_HOME
* fallback to call [node-find-java-home](https://github.com/jsdevel/node-find-java-home#algorithm)

### Steps
Now since it requires JDK 11+, a broken case is:
* both JDK 8 and JDK 11 installed
* `java.home` not set (for most new users)
* JAVA_HOME points to JDK 8

It will pick JDK 8, and request

[2020-09-17 08:35] magicsong opened #1622 "jdk version of project could not be correctly identified"
[provide a description of the issue]

##### Environment
- Operating System: macos
- JDK version: 11
- Visual Studio Code version:newest
- Java extension version: 0.67.0

##### Steps To Reproduce
this is my pom
 <plugin>
                <groupId>org.apache.maven.plugins</groupId>
                <artifactId>maven-compiler-plugin</artifactId>
                <version>3.6.0</version>

[2020-09-17 08:38] #1622 closed

[2020-09-17 13:01] overtomanu opened #1623 "Unable to format java code/snippets in untitled document which is not yet saved"
[Unable to format java code/snippets in untitled document]

##### Environment
- Operating System: Windows 10
- JDK version: 11
- Visual Studio Code version:1.49.0
- Java extension version: 0.67.0

##### Steps To Reproduce
1.  Create new file in vs code ctrl+N
2.  paste some java method
3. Invoke command palette (Ctrl+Shift+p) and then type change language mode ->java
4. Right click and format docu

[2020-09-17 13:18] fbricon commented on #1623
This is expected.
In the early days of vscode-java, I tried to get Java support for unsaved new files, but it led to extremely complicated hacks on the backend side, with unreliable results, so I decided to abandon this option.

Workaround is just : save the file.

Not planning on fixing this, sorry.

[2020-09-17 13:18] #1623 closed

[2020-09-17 14:55] jakegt1 commented on #1592
OK, i'm reopening this. I don't get it at all.

If i set the properties, it doesn't work. It still tries to route through the proxy to my host that does not require a proxy. If i don't set the proxies at all, it STILL tries to route through the proxy.

The overarching problem is that it is setting the proxy variables in java even though i did not ask it to.

[2020-09-17 16:47] ericsia commented on #1597
here I produced it again, after copy paste. I am copy paste from a document to another java file
![800](https://user-images.githubusercontent.com/24624808/93501733-6d9a1f00-f948-11ea-9a41-b1db7fce1a95.png)

[2020-09-17 19:06] 0dinD commented on #1597
@ericsia does the highlighted problem appear at the same time as the highlighting breaks? And does it also go away when the highlighting problems "fix" themselves? If the two are related, that's an interesting find.

I spent some more time debugging the semantic highlighting issue today, and come to the following conclusions:
- The issue is definitely caused by eclipse.jdt.ls, not VS Code.
  - I h

[2020-09-17 22:06] ericsia commented on #1597
Yes. When I notice the color started to change, often it tells me some syntax error. But I can still compile it. The color won't fix automatically for me, I have to close vs code and reopen to appear normal again.

[2020-09-18 01:22] x7night commented on #1596
sorry, i typed the wrong code when edit issue, but it actually is `public class Visitor{}` and it will be failed to refactor the code.

[2020-09-18 02:36] safield opened #1624 "Inexplicable color highlight being affected by Java extension."
- Operating System: Ubuntu 20.04
- JDK version: openjdk 11
- Visual Studio Code version: 1.49.0
- Java extension version: 0.67

I am working on a color theme, and I am observing some inexplicable editor background highlighting going on. This highlighting only occurs when the Java Extension is enabled and I am in a Java source file. After disabling the Java Extension, the color highlighting goes aw

[2020-09-18 03:05] testforstephen commented on #1624
This looks like a default behavior from VS Code.

If you try it in a js file, it has same behavior. The position declaring the symbol has blue background, and the reference position has grey background.
![image](https://user-images.githubusercontent.com/14052197/93550754-b2e93b80-f99e-11ea-84d0-5386999cbee0.png)

[2020-09-18 08:01] ghokun commented on #1379
Eclipse also provides a feature called Clean up. It is like save actions but does not work on save. You have to call it explicitly. Unlike save actions, clean up profile can be exported to an xml file. This exported xml file can be used like the formatter one.
![Screenshot_2020-09-18_11-00-04](https://user-images.githubusercontent.com/3802058/93572181-23dc2380-f99e-11ea-8281-c40b78ac0764.png)

[2020-09-18 08:27] jdneo commented on #1379
Hi @ghokun, would you mind to create a new issue for this request? The on save code action is a big topic and track all the actions in one issue is not that convenient. I think this one is mainly for the `add final` action

[2020-09-18 08:47] ghokun opened #1626 "Feature Request: Support Eclipse "Source Clean Up" actions"
Eclipse provides a feature called Clean up (Right click a source folder: Source -> Clean Up). Clean up profile can be defined from
Preferences -> Java -> Code Style -> Clean Up. Clean up profiles can be exported to an xml file.

![Screenshot_2020-09-18_11-00-04](https://user-images.githubusercontent.com/3802058/93572181-23dc2380-f99e-11ea-8281-c40b78ac0764.png)

Like format settings, clean up sett

[2020-09-18 18:51] shua commented on #718
following @snjeza's suggestion, but since I have a multi-project set up with many subdirectories that vscode decided should all get their own `.settings` folder, I had to update it for every `.settings` folder in the repo before vscode allowed builds to pass.

[2020-09-18 19:40] shua commented on #634
adding the following lines to our `build.gradle` worked for me (we have "build" set as our default output dir):
[code]

[2020-09-19 13:29] sunbos opened #1627 "jdk15 is not support"
[provide a description of the issue]
jdk15 is not support
错误: 加载主类 App 时出现 LinkageError
        java.lang.UnsupportedClassVersionError: App (class file version 58.65535) was compiled with preview features that are unsupported. This version of
the Java Runtime only recognizes preview features for class file version 59.65535

##### Environment
- Operating System:Window10
- JDK version:15
- Visual St

[2020-09-19 15:31] fbricon commented on #1627
Please note that Java 15 support has not been released yet. You can manually install the latest CI build with Java 15 support from https://download.jboss.org/jbosstools/jdt.ls/staging/?C=M;O=D, give it a try and report back any issues

[2020-09-19 18:38] felubra commented on #1092
On Fedora 32, I finally got it working by installing `java-11-openjdk` `java-11-openjdk-devel` and setting this configuration in vscode:

[code]

[2020-09-20 16:12] safield opened #1628 "Autocomplete does not complete full enum type."
Java Extension v0.67
VSCode v1.49.1

I have an enum type defined.

[code]

When typing this enum's name _MyClass.MyEnum_, it is not being completed.

Observe the following example of half typed code...

[code]
In this example, I would expect MyClass.MyEnum to be proposed as one of the autocomplete options. This is not the case though. _MyClass_ is not even proposed at all.

[2020-09-20 16:22] safield opened #1629 "Inconsistent color scheme scopes exported for enum types"
Java Extension v0.67
VSCode v1.49.1

I have a enum defined _MyClass.MyEnum_.

Observe the following code examples...

[code]
The first instance of the symbol _MyEnum_ on line 1 is exported as scope _storage.type.java_.
The second instance of symbol _MyEnum_ on line 1 is exported as scope _variable.other.object.property.java_.

The expected behaviour would be that both instances would have the same

[2020-09-20 16:44] av1m commented on #1092
It seems that the problem is solved once the `devel` package is installed (Which makes sense ..)

[2020-09-20 19:13] #1092 closed

[2020-09-21 00:12] lucaszanella opened #1630 "Intellisense will not work in devcontainer for openjdk-11-jdk"
[provide a description of the issue]

##### Environment
- Operating System: Debian 10
- JDK version: 11
- Visual Studio Code version: 1.49.0
- Java extension version: ?

I installed `openjdk-11-jdk` on docker using devcontainer and out of the box the intellisense does not work. Then I tried setting

    "java.home": "/usr/lib/jvm/java-11-openjdk-amd64/"

in settings.json and it also did not work.

[2020-09-21 02:14] testforstephen commented on #1628
In your sample code, you missed `enum` keyword. It should be `public enum MyEnum`.

For the first case, typing `MyClass.MyEnum` has autocomplete in my side.

For the second case, there is room to optimize. The right part of the equal requires an enum, if you typed MyE, there is autocomplete candidate, but MyC doesn't.

[2020-09-21 02:16] safield commented on #1628
Updated the sample code to be correct. There is only one case I am referring to, and that is in the if to the right of the ==.

[2020-09-21 02:26] testforstephen commented on #1630
Other than IntelliSense, do other features work?

Also, could you share the logs?
**F1 -> Java: Open Java language server log file**

[2020-09-21 13:11] 0dinD commented on #1629
Yes, the TextMate scopes for Java can be very inconsistent sometimes. They are [provided by VS Code itself](https://github.com/Microsoft/vscode/blob/master/extensions/java/syntaxes/java.tmLanguage.json), which in turn pulls the grammars [from here](https://github.com/atom/language-java).

I would recommend using semantic highlighting if you want more consistent syntax highlighting. It's enabled by

[2020-09-21 17:08] safield commented on #1629
Hi. Thanks for the informative reply! Semantic highlighting was disabled on my java extension. I might have just toggled it myself in the past during some other long forgotten troubleshooting.

Enabling it provided the proper expected coloring.

[2020-09-21 19:24] 0dinD commented on #1597
Finally, after another debugging session, I think I've found the real issue, and a fix for it. The strange offset for semantic tokens seems to be introduced [on this line](https://github.com/eclipse/eclipse.jdt.ls/blob/7dfce880770901998302b5dc26581f7c5b2812de/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/semantictokens/SemanticTokensVisitor.java#L88), when the encoding algorithm nee

[2020-09-21 20:15] Strum355 commented on #1148
FYI https://github.com/georgewfraser/java-language-server supports this. Unfortunately, it doesn't have quite the power of vscode-java, so it would be great to get this working with vscode-java

[2020-09-22 02:16] lucaszanella commented on #1630
Apparently it does not work for Android, right? I assumed it worked for Android gradle projects

[2020-09-22 02:25] testforstephen commented on #1630
See https://github.com/redhat-developer/vscode-java/issues/1390#issuecomment-652302766, android project is not supported at the moment. It will require a significant amount of work at Buildship.

Currently, there is no ideal solution for that but you can try the Lightweight mode by setting`java.server.launchMode` to `LightWeight`. You will be able to use a subset of features like **Go to Definitio

[2020-09-22 08:08] ewen-r commented on #1563
May not be purely related to switching modes but I also see this trace error in the output.
Filenames and paths redacted..

[Error - 3:19:01 AM] Sep 22, 2020, 3:19:01 AM Problem getting outline for XXXXXXXXXXXXXXXXXXX.java
_/XXXXXXXXXXXXXXXXXXX [in workroot_9591bc80] is not on its project's build path
Java Model Exception: Java Model Status [_/XXXXXXXXXXXXXXXXXXX/snmp [in workroot_9591bc80] is not

[2020-09-22 10:57] 0dinD commented on #1597
After playing around a little more with my changes in eclipse/eclipse.jdt.ls#1552, I realized that there were two separate problems that can cause the tokens to become offset while editing.

1. The document used by `SemanticTokensVisitor` to calculate the semantic token positions can become out-of-sync with its corresponding compilation unit, causing the token position calculations to become offse

[2020-09-22 12:45] 0dinD opened #1633 "Problem messages can get offset by frequent changes to the document"
When editing a Java file with problems in it, the underlines (reported problem positions) can sometimes become offset. Usually, this fixes itself after a second or so of delay, but in some rare cases the problem underline gets stuck in the wrong position until further changes are made to the document.

##### Environment
- Visual Studio Code version: 1.49.1
- Java extension version: 0.67.0

##### S

[2020-09-22 12:57] 0dinD commented on #1597
@ericsia the strange offset to warning underlines looks like it could be somewhat related, but I decided to create a new issue (#1633) for it since I do not have as much insight into the code behind that feature and how to fix it.

[2020-09-22 14:22] ericsia commented on #1597
omg you are amazing, you are the first one to discovered the fix. Owh that makes more sense now

[2020-09-22 15:15] shua commented on #634
While I haven't found a way to change how vscode creates the initial config, I have found a hacky way to reconfigure the buildship plugin output paths. *Assuming* you are also using `build/` as your build output path (if you're using `target/` then edit the following accordingly):
[code]

[2020-09-22 15:21] shua commented on #718
Trawling through https://docs.gradle.org/current/userguide/eclipse_plugin.html , I've found the magic to automate the change above in my `build.gradle`:
[code]
may require `gradle eclipseJdt` to be run

[2020-09-23 01:03] tails618 commented on #1489
@aeschli sorry to bring back an old thread, but I have a question. Is the `JAVA_HOME` variable a PATH variable? If so, what is the directory?

[2020-09-23 01:53] testforstephen commented on #1489
@Ghack9 @tails618 A simple way is to configure it in the VS Code User Settings. You could open User Settings via shortcut below, then search `java.home` and set your JDK installation directory to the `java.home` setting.
- macOS: `⌘` + `,`
- Windows: `Ctrl` + `,`

[2020-09-23 10:23] #1379 closed

[2020-09-23 10:23] #1617 closed

[2020-09-23 11:20] jdneo commented on #1379
For anyone who want to add final modifiers where possible on save, please add the following settings into your settings.json

[code]

[2020-09-23 11:38] jdneo commented on #1617
### The New Entry
Below is the new place to find the code action: `Change modifiers to final where possible`:
<img width="296" alt="Screen Shot 2020-09-23 at 7 33 40 PM" src="https://user-images.githubusercontent.com/6193897/94007241-bf70f800-fdd3-11ea-9b34-4409c32bfa76.png">

<img width="319" alt="Screen Shot 2020-09-23 at 7 33 56 PM" src="https://user-images.githubusercontent.com/6193897/9400725

[2020-09-23 23:18] shrey150 commented on #120
Since RedHat is pushing out new updates without adding JavaFX support, I made a quick extension for Java 8 users that automatically adds the `<accessrule>` necessary to suppress API warnings whenever `.classpath` is updated in the project configuration. It's available here if anyone would like to use it:

https://marketplace.visualstudio.com/items?itemName=shrey150.javafx-support

[2020-09-24 05:57] RenanZX commented on #366
I did it, but it's not working

[2020-09-24 14:38] 0dinD commented on #1633
If anyone wants a more detailed showcase on how to reproduce the issue, [see my comment here](https://github.com/eclipse/eclipse.jdt.ls/pull/1552#issuecomment-698345369). Those instructions apply to this issue as well.

[2020-09-25 07:22] overtomanu commented on #1623
ok but i am able to format XML in unsaved files. Maybe things changed after early days. I understand that formatting single java file without its dependent java class files might not be perfect, but some basic formatting with indentation would have been nice. like how this website does
https://www.tutorialspoint.com/online_java_formatter.htm

[2020-09-25 08:14] thanhle-phd commented on #690
Better using java.home settings by workspace. Given vscode for mobile app dev using react-native with 32-bit JDK but some Java apps using 64-bit JDK, workspace settings should help.

[2020-09-25 09:09] #1597 closed

[2020-09-25 09:45] cyruscchan commented on #1627
Okay, but when it release JDK 15 supported in vs code since I want to use stable version

[2020-09-25 09:46] fbricon commented on #1627
Wednesday next week, give or take.

[2020-09-26 07:11] jccazeaux opened #1634 "Use local project as maven dependency"
Hi,
I have two Java Maven projects. Project One uses project Two as maven dependency. I would like to use local project Two as dependency instead of using packaged jar.
This is a interesting feature in eclipse where the ide detects that a maven dependency (groupid, artifactid and version) match a local project's pom definition. In this case project one would not include project two as jar but as l

[2020-09-26 08:03] fbricon commented on #1634
This should be possible already. If not, please provide a set of sample projects reproducing your setup

[2020-09-26 11:19] jccazeaux commented on #1634
Maybe I missed something. I'll try again and come back

[2020-09-27 14:35] Saba-d-coder commented on #1132
I have the same issue.. I just copy pasted a java code and when i save it few of my code lines got deleted.... I tried using various formatters for java but nothing works fine in VS code. Can anyone suggest the best formatter?

[2020-09-27 14:41] Itachi-Shinobi commented on #1132
I am facing same issue.. I tried to copy paste a java code in VS Code and on saving it, few of my code lines got deleted or sometimes the code gets indented incorrectly. I have tried various java formatter but nothing seem to help. Can anyone let me know the best formatter ?

[2020-09-28 07:50] #1481 closed

[2020-09-28 07:50] #1568 closed

[2020-09-28 07:50] #1614 closed

[2020-09-28 07:54] fbricon commented on #1568
The way this was addressed is an error message is shown if your settings point to an invalid JDK.

The status bar still shows the actual JDK used to fulfill the JavaSE-level requirement, as this is legit.

[2020-09-28 09:10] fbricon commented on #1331
Closed with #1635

[2020-09-28 09:10] #1331 closed

[2020-09-28 13:22] quiles909 commented on #785
I had the same issue here like everyone else, and opening VS Code as an Admin, the message about not starting java Language is no more. Not sure how else to run VS Code Java not as Admin and prevent the message from showing or how to fix it?

[2020-09-28 13:45] quiles909 commented on #785
That worked, thanks!

[2020-09-28 14:51] LokeshKarki commented on #495
So this issue was popping up in my recently installed vs code wih jdk 14 with a basic Hello World program too.
**I changed the directory and it is now working**, but with this written on it.

`cd 'e:\try'; & 'c:\Users\lkshk\.vscode\extensions\vscjava.vscode-java-debug-0.28.0\scripts\launcher.bat' 'C:\Program Files\Java\jdk-14.0.1\bin\java.exe' '-agentlib:jdwp=transport=dt_socket,server=n,suspend=y

[2020-09-29 14:16] fbricon opened #1637 "Embed latest Java textmate grammar"
With Java 15 support coming, new keywords sealed/non-sealed/permits need a textmate grammar update. This has been mostly done upstream in https://github.com/atom/language-java/blob/master/grammars/java.cson (although [non-sealed was skipped](https://github.com/atom/language-java/issues/236))
Since vscode hasn't been updated yet, nor Theia nor Che-Theia, it seems safer for vscode-java to embed the

[2020-09-29 15:39] #1637 closed

[2020-09-29 17:07] fbricon commented on #120
Fixed with https://github.com/eclipse/eclipse.jdt.ls/pull/1536. Will be released tomorrow.

[2020-09-29 17:07] #120 closed

[2020-09-29 17:11] fbricon commented on #480
Closing as duplicate of #120

[2020-09-29 17:11] #480 closed

[2020-09-29 18:17] #1627 closed

[2020-09-29 18:19] shrey150 commented on #120
Thank you for fixing this!

[2020-09-29 20:45] gayanper opened #1639 "generated-sources/java is not picked up as a source path"
When importing a maven multi module which has modules which contains generated-sources/java the generated-sources/java folder is not added into the source paths. Only the generated-sources/annotations is added.

[2020-09-29 21:05] snjeza commented on #1639
@gayanper could you attach a project example?

[2020-09-30 02:51] testforstephen commented on #1639
Could you share which maven plugin is generating the `generated-sources/java` folder?

Usually you need to configure the lifecycle-mapping-metadata for the source generation maven plugins you used in your project's pom.xml additionally.

https://github.com/redhat-developer/vscode-java/issues/177#issuecomment-673333479 shared several workarounds to handle the extra classpath from generated source.

[2020-09-30 05:17] gayanper commented on #1639
Unfortunately i cannot share the project since its a proprietary codebase.

[2020-09-30 05:19] gayanper commented on #1639
The plugin is a proprietary plugin. The generation and source compilation happens without issues in maven build. The source folders are not detected in vscode. This was a problem in eclipse as well. For eclipse i wrote a m2e extension to handle the source folders.

[2020-09-30 07:28] gayanper commented on #1639
Is there a way i can add my eclipse plugins into vscode java ls plugins folder and make it detect my source folders.

[2020-09-30 08:38] gayanper commented on #1639
Got my plugin to work with hacking the config.ini adding my plugins into bundles. May be it would be nice if can add support for non ui plugins when we need to extend ls with private plugins which cannot be bundled by default

[2020-09-30 10:26] fbricon commented on #1639
you can create a small vscode extension hosting your plugins (provided it doesn't have any Eclipse UI dependencies): https://github.com/redhat-developer/vscode-java/wiki/Contribute-a-Java-Extension#modify-packagejson

[2020-09-30 12:51] fbricon commented on #1627
See https://github.com/redhat-developer/vscode-java/wiki/Enabling-Java-preview-features to learn how to enable preview features

[2020-09-30 18:30] 0dinD commented on #1633
Here's another example, which occurred when applying a fix from the integrated merge conflict resolver in VS Code. The errors were caused by the conflict markers, but when the document was changed with the conflict resolver, the errors became offset to the wrong location, and also didn't go away until the document was changed again. I'm guessing the cause is that the conflict resolver is making mu

[2020-10-01 11:57] CarlPer opened #1640 "Java code formatter rules is ignored"
This rule is ignored when formatting:
`<setting id="org.eclipse.jdt.core.formatter.insert_new_line_in_empty_anonymous_type_declaration" value="do not insert"/>`

##### Environment
- Operating System: Windows 10 Enterprise v.1909
- JDK version: Amazon Corretto jdk1.8.0_252
- Visual Studio Code version: 1.49.2
- Java extension version: 0.68.0

##### Steps To Reproduce
1. Format : List<String> fromJs

[2020-10-01 13:31] gayanper opened #1641 "Add support for doing advance Java Search similar to Eclipse"
Add support to perform search operation similar to the Java search features in Eclipse. This can be done through some custom APIs on Java LS. This will benefit other IDEs like Eclipse Che as well.

[2020-10-01 13:39] fbricon commented on #1641
define advanced search. What do you want to see exactly?

[2020-10-01 14:05] gayanper commented on #1641
Things like:
- Search for fields with a certain type
- Search for Methods that returns a given type
- Search for read or write access of a field

https://help.eclipse.org/2020-09/index.jsp?topic=%2Forg.eclipse.jdt.doc.user%2Fconcepts%2Fconcept-java-search.htm

[2020-10-01 14:33] mhtun commented on #1588
I'm running into the same issue. Running vscodium, windows 10
![image](https://user-images.githubusercontent.com/17982172/94822993-a9ec7580-0446-11eb-978e-39bbc49a0737.png)

[2020-10-01 16:11] mkhaled7 commented on #366
Were you able to fix it?

[2020-10-01 16:44] RenanZX commented on #366
No, i needed to create a new project in vscode, and copy paste my files from the project that i created before.

[2020-10-01 17:46] mkhaled7 commented on #366
I tried the same but got the same errors.

[2020-10-01 18:34] mkhaled7 commented on #366
Thank you so much for such quick response! You are very kind.

[2020-10-01 18:43] gayanper opened #1642 "Add Copy qualified name commend for Types, Fields and Methods"
Add Copy qualified name commend for Types, Fields and Methods. This will enable to easily copy the qualified name of a symbol.

[2020-10-01 19:39] RenanZX commented on #366
You're welcome.

[2020-10-02 00:48] djkong7 commented on #785
I am having the same issue.

Brand new install of Windows 10.

JAVA_HOME: "C:\Program Files\AdoptOpenJDK\jdk-11.0.8.10-hotspot"

1. Open the command palette (F1)
2. select Developer: Toggle Developer Tools

[[object Object]]Internal error.

and

Error: Internal error.
	at c:\Users\djkong7\.vscode\extensions\redhat.java-0.68.0\dist\extension.js:1:76464
	at c:\Users\djkong7\.vscode\extensions\redhat

[2020-10-02 00:52] snjeza commented on #785
@djkong7 Could you attach your settings.json?

[2020-10-02 01:05] djkong7 commented on #785
Yeah. Here you go.

{
    "editor.suggestSelection": "first",
    "vsintellicode.modify.editor.suggestSelection": "automaticallyOverrodeDefaultValue",
    "terminal.integrated.shell.windows": "C:\\Program Files\\PowerShell\\7\\pwsh.exe",
    "java.trace.server": "verbose",
    "java.configuration.checkProjectSettingsExclusions": false
}

[2020-10-02 01:15] snjeza commented on #785
@djkong7 Could you try to add:

[code]

backslashes must be escaped (duplicated)

[2020-10-02 01:21] djkong7 commented on #785
@snjeza Looks like I'm still having the same issue. New settings.json:
[code]
same errors as before. Here is a screenshot of my Java Runtime Configuration.
![image](https://user-images.githubusercontent.com/23426956/94878620-8e23a800-0423-11eb-9b54-5fd0b14a7303.png)

[2020-10-02 01:46] snjeza commented on #785
Could you try to [Clean the workspace directory](https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#clean-the-workspace-directory) ?

[2020-10-02 01:50] djkong7 commented on #785
Same issue and same error messages after following the steps:

Open the command palette (F1)
select Java: Clean the Java language server workspace
click Restart and delete

[2020-10-02 03:01] snjeza commented on #785
@djkong7 could you attach your logs:
%APPDATA%\Code\User\workspaceStorage\<your_workspace>\redhat.java - whole this directory

[2020-10-02 03:32] djkong7 commented on #785
@snjeza So %APPDATA%\Code\User\workspaceStorage<your_workspace>\redhat.java is around 7.5GB. I backed up that folder and restarted VSCode to get a new folder that should hopefully have the same error logs in it, just much smaller.
[redhat.java.zip](https://github.com/redhat-developer/vscode-java/files/5315854/redhat.java.zip)

[2020-10-02 17:09] snjeza commented on #785
@djkong7 could you try to move your project to C:\<some_directory> and try to open it?

[2020-10-02 17:47] LHenrique42 opened #1643 "Invalid runtime for JavaSE-11: The path points to a missing or inaccessible folder"
My VSCode is no longer recognizing the paths of the java runtime. I was using them normally and now it doesn't work on the same projects anymore. The paths to the runtimes are correct.

##### Environment
- Operating System: Linux Mint 20 Cinnamon
- JDK version: Openjdk version "11.0.8" 2020-07-14
- Visual Studio Code version: v1.49.2
- Java extension version: v0.68.0

##### Steps To Reproduce
1. O

[2020-10-02 18:16] LHenrique42 commented on #1643
I changed the settings and it seems to have worked.

[code]

[2020-10-02 18:16] #1643 closed

[2020-10-02 18:20] djkong7 commented on #785
@snjeza That seemed to work! Is running projects that reside in \\wsl$ something that is officially not supported?

[2020-10-02 18:24] djkong7 commented on #1588
Based on conversations in https://github.com/redhat-developer/vscode-java/issues/785, I had this same error when opening a project that was in WSL 2 (\\\\wsl$). Moving the project to some directory in windows (C:\\) solved my issue.

[2020-10-02 18:31] snjeza commented on #785
@djkong7 you can try [Remote development in WSL](https://code.visualstudio.com/docs/remote/wsl-tutorial)

[2020-10-02 19:39] djkong7 commented on #785
@snjeza Ahh, gotcha. I guess it gets confusing when to use that or not since you can now browse WSL files natively in windows explorer. Thank you for your help!

[2020-10-02 22:17] jc65536 opened #1644 "StringIndexOutOfBoundsException while computing hover and folding range"
I've been using Language Support for Java on VS Code for a while now, and the extension kept failing recently. I've seen many issues that are caused by IntelliCode, so I've disabled that extension. I've also cleaned the Java Language Serve workspace and reloaded VS Code. However, I get the following error:

##### Environment
- Operating System: Windows 10
- JDK version: 14.0.2
- Visual Studio Code

[2020-10-02 23:36] snjeza commented on #1644
@jc65536 could you attach a project example?

[2020-10-03 04:25] jc65536 commented on #1644
[I'm experiencing issues especially on this project of mine](https://github.com/jc65536/phbot)

[2020-10-03 16:15] snjeza commented on #1644
This is an Eclipse upstream issue. See https://bugs.eclipse.org/bugs/show_bug.cgi?id=567319

[2020-10-04 11:25] matjazmav opened #1645 "Run/debug multiple single file programs with the same name"
I have a folder structure where each example lives inside a folder with a single java file that is always named `Solution.java`. Problem is that because classes are cached I have to manually clean cache before executing 2nd, 3rd, ... example, is there a way to configure VS Code to support such case, without changing folder structure and file names?

**Launch configuration:**
[code]

**Folder struc

[2020-10-04 17:12] fbricon commented on #1645
use packages, example1 and example2.
alternatively, open example1 folder, then add example2 to the workspace

[2020-10-04 17:14] fbricon commented on #1645
Closing as running/debugging code is outside the scope of vscode-java.
Please open a ticket in https://github.com/microsoft/vscode-java-debug/issues

[2020-10-04 17:14] #1645 closed

[2020-10-04 18:09] cforce commented on #1220
[redhat.java-unresponsive.cpuprofile.txt](https://github.com/redhat-developer/vscode-java/files/5323967/redhat.java-unresponsive.cpuprofile.txt)

[2020-10-05 03:00] jc65536 commented on #1644
Is there anything I can do now to solve this issue? or should I wait for a new release of this extension?

[2020-10-05 05:43] Slay3r commented on #1607
This is annoying and happens quite often.

[2020-10-05 08:48] jccazeaux commented on #1634
Ok it works as you said. Don't know what i was doing wrong. Thank you

[2020-10-05 08:48] #1634 closed

[2020-10-05 17:44] snjeza commented on #1644
@jc65536 you can check https://github.com/snjeza/vscode-test/raw/master/java-0.69.0.vsix

[2020-10-06 03:24] Dameonn commented on #1311
I have the same problem. However, JOptionPane still works though.

[2020-10-06 08:18] NoxFly commented on #1062
Got the same error on Linux Debian 10.5 (buster).
I realized that if I was launching VSC by the application itself, it was doing this error, while if I launch VSC through the terminal, all's good. Maybe user's settings.

[2020-10-07 06:29] Slay3r commented on #1644
I installed the Plugin manually in vscode.
Looks like im still experiencing the same issue.

[log.log](https://github.com/redhat-developer/vscode-java/files/5338613/log.log)

@jc65536 Do you also have the same Issue as before?

[2020-10-07 07:08] fbricon commented on #1644
@Slay3r the stacktrace from your log is about a different issue (https://github.com/redhat-developer/vscode-java/issues/1607)

[2020-10-07 11:02] #1644 closed

[2020-10-08 18:46] snjeza commented on #1607
@Slay3r @Strum355 could you try to reproduce the issue with https://github.com/snjeza/vscode-test/raw/master/java-0.69.0.vsix?

[2020-10-09 05:48] Slay3r commented on #1607
Hi @snjeza ,
okay here my steps with Java Language Server logs:

1. installed 0.69.0.vsix
2. started project in vscode and got the same error ([1.log](https://github.com/redhat-developer/vscode-java/files/5352723/1.log))
3. Closed vscode and deleted all .project files
4. Reopen vscode and it starts without the error ([2.log](https://github.com/redhat-developer/vscode-java/files/5352724/2.log))
5.

[2020-10-09 14:38] snjeza commented on #1607
@Slay3r could you provide the following:
- your settings.json
- your VS Code extension's list
- a project example

Could you reproduce the issue if disable all extensions except Java LS?

[2020-10-09 16:27] YongJieYongJie commented on #458
Here's how I managed to solve the problem:
1. Make sure everything else works:
    - I.e., even though the errors show up in the PROBLEMS list, once you navigate to the specific file, the errors for that file disappears.
    - You will likely need to install the **Lombok Annotations Support for VSCode** extension for this.
1. Run **Java: Clean the Java language server workspace** from Command Pale

[2020-10-09 18:40] hichemkanon opened #1647 "problem with visual studio code !! "This path is not pointing to a JDK.""
hello guys, i have problem in my visual studio code that always show this message"This path is not pointing to a JDK." after trying many way to set it but always this message
any suggestion or solution ?

i have windows 7 pro 64bit
java and jdk all is ok when trying " java -version or javac -version !
please help

image of issue : https://ibb.co/nf1s23M

[2020-10-09 18:51] hichemkanon commented on #1647
sorry, gys SOLVED for me just now
i created another path to JDK
 JAVA_PATH in user variables user as here in this screenshot ; https://ibb.co/6mPXtvf

maybe this help someone,

[2020-10-09 19:29] rgrunber commented on #1647
The path for JAVA_HOME appears to terminate on semicolon in addition to using two backslashes for path separation. The path is annotated as invalid, so perhaps that was the issue ?

Closing as it seems to be resolved.

[2020-10-09 19:29] #1647 closed

[2020-10-09 19:41] Slay3r commented on #1607
@snjeza

I think I found the problem by stripping down and preparing a project for you.
I don't know if this is allowed or not.

I disabled all extension except for the "Language Support for Java(TM)" extension

The Problem:
I declared in the settings.gradle file my Root Project Name with:

But the Project is in a Folder called "demoproject".

If I have this configuration the problem is occurring

[2020-10-09 20:12] snjeza commented on #1607
This is a buildship upstream issue. It can be reproduced in Eclipse.
Related issue - https://github.com/eclipse/buildship/issues/478
cc @donat

[2020-10-10 22:25] gdoenlen commented on #1556
This is now working correctly.

![image](https://user-images.githubusercontent.com/17297466/95666271-88c30d80-0b47-11eb-9c87-6bacc6b9df1d.png)

[2020-10-10 22:25] #1556 closed

[2020-10-11 03:42] hanct opened #1648 "Use the path of Java Development Kit specified in environment variables for terminals"
Hi,
   Currently, vscode-java extension get the path to the development kit in the following order

               1) java.home setting in VS Code settings (workspace then user settings)
               2) JDK_HOME environment variable
              3) JAVA_HOME environment variable
              4) Current system path

Both 2) to 4) are something we configure via our OS's environment variable. The

[2020-10-11 05:17] liatbor opened #1649 "Spelling error: Update project configuration"
Hi,
I'm working on a Java maven project. When opening the context menu on the pom.xml, I get the option 'Update project configuration'. Both 'project' and 'configuration' should start with a capital letter so the command should be: 'Update Project Configuration'
![Screen Shot 2020-10-11 at 8 14 38](https://user-images.githubusercontent.com/1785337/95670915-06b00480-0b9a-11eb-9677-c5dd340c1265.png)

[2020-10-12 02:58] GKilm opened #1650 "with update to java11，I get some errors on building java project"
with update to java11，I get some errors on building java project.

when I try to change to Java8,it's ok again.
when update to java 11, I also wrote the java runtimes configuration to `settings.json` file.
[code]

##### Environment
- Operating System: win 10
- JDK version: 11
- Visual Studio Code version:1.50
- Java extension version:0.68.0
- System Maven version:3.6.3
- System Java vesion:1.8

##

[2020-10-12 03:15] testforstephen commented on #1650
Could you please explain what specific error you got?

[2020-10-12 03:19] testforstephen commented on #1640
@CsCherrYY Could you please take a look at this formatting issue?

[2020-10-12 03:29] GKilm commented on #1650
happy with your enthusiasm

[2020-10-12 04:38] shaochris opened #1651 "Add Support for building each single project within the same workspace"
Some smaller projects can share the same configuration, but current build command doesn't allow to build single project. It's much convenient to have this feature so that we don't need to create an exactly same configuration for every project we are doing at the same time.

[2020-10-12 13:36] GKilm commented on #1650
I resolve this issues by reading the .log opened with the command `java: open java language server log file`.

It shows me some errors about lombok. There are the following examples.

!STACK 0
java.lang.NoClassDefFoundError: Could not initialize class lombok.launch.PatchFixesHider$Transform

!STACK 0
java.lang.NoClassDefFoundError: javax/annotation/processing/AbstractProcessor

I think the version

[2020-10-12 14:31] hasen6 opened #1652 "Quickfix suddenly not working properly with local classes"
When referencing a local class in code a quick fix could normally find the local file and add it as an import, but now it can never seem to find anything so just suggests creating a new class/variable etc.

##### Environment
- Operating System: Macos 10.13.6
- JDK version: 8, 261
- Visual Studio Code version: 1.50.0
- Java extension version: 0.68.0

##### Steps To Reproduce
1. Add a local class re

[2020-10-12 17:00] namnguyen191 commented on #346
Hi,

How would you import the contents of the jar to modify them? I was able to import the jar as a dependency but the source codes aren't showing.

[2020-10-12 17:41] snjeza commented on #1594
I can't reproduce the issue.
@fbricon @jakegt1 Could you attach a project example?

![gradle](https://user-images.githubusercontent.com/388609/95775187-3c500d00-0cc2-11eb-8b83-682ebe036773.png)

[2020-10-12 18:26] ecmel commented on #1120
I have the same issue with latest micronaut and vscode.

[2020-10-12 22:09] ecmel commented on #693
Annotation processing for Micronaut maven projects is not working.

[2020-10-13 01:54] jdneo commented on #346
Do you mean you want to modify the source code of the imported jar?

[2020-10-13 02:33] testforstephen commented on #1652
Could you share some sample code for us to reproduce the issue?

[2020-10-13 05:33] hasen6 commented on #1652
Strange the problem seemed to go away after restarting vscode. It was literally showing like this before the restart:

![屏幕快照-2020-10-13-下午1 26 57](https://user-images.githubusercontent.com/15882674/95819409-8552a080-0d58-11eb-8c9c-5098056bbbde.jpg)

Then after the restart it was back to normal:

![屏幕快照 2020-10-13 下午1 26 57](https://user-images.githubusercontent.com/15882674/95819430-900d3580-0d58

[2020-10-13 06:20] testforstephen commented on #1652
Not much clue we can get from your description. Please provide the logs if you reproduce the issue.

**F1 -> Java: Open Java language server log file**

[2020-10-13 06:22] graemerocher commented on #1120
I can't reproduce this personally, seems to work fine. Which version of Micronaut? For me this combination works:

Micronaut 2.1.0
VSCode 1.50.0
VSCode Java 0.68.0

[2020-10-13 07:37] hasen6 commented on #1652
If you look at the screenshots you can see that the local option was missing. Did you not see the screenshots?

[2020-10-13 12:22] Slay3r commented on #1607
@snjeza, @donat
is a fixed version already planned or when can a new version be expected?

[2020-10-13 13:20] ifelsegrandmaster commented on #1311
Do I need to add javax.swing jars to classpath?

[2020-10-13 14:23] snjeza commented on #1607
@fbricon we can remove the .project files or remove the filteredResources property from them  when importing a new gradle project. What do you think?

@Slay3r  you can try to add:

[code]
to your settings.json.

[2020-10-13 15:55] fbricon commented on #1651
Not sure I grok what you're asking for. Can you provide sample files/projects to illustrate your use case?

[2020-10-13 16:20] shaochris commented on #1651
For example, I added two exactly unrelated project to the same workspace because they are both using the same configuration and extensions, or just using them as reference. But every time I try to build one of the projects, it will compile everything in the workspace or mess up the paths. I wish I can build each project in the workspace individually. Does it make sense?

[2020-10-13 16:25] n-peugnet commented on #1615
This would also be useful for projects that do not use any build manager. Currently no `.classpath` files are generated by vscode-java and built files seems to be saved in a tmp folder.

I would like to use vscode as my "build system" for one project as it is very easy to import `.jar` files in the classPath using the `java.project.referencedLibraries` property. But I also need to easily access th

[2020-10-14 06:45] pshettyk commented on #956
@fbricon Thanks.  Solved the issue.

[2020-10-14 08:10] taoistwar opened #1653 "Source actions generate getters should suport boolean with isXxx format"
eg. Class Frog has property alive, should generate a getter is either Alive or getAlive，If had writen isAlive, should not generate getAlive.

[code]

[2020-10-14 08:33] taoistwar commented on #1653
the property type is Boolean，generate is getXxx. it should be isXxx.
![GIF 2020-10-14 16-29-36](https://user-images.githubusercontent.com/674212/95963968-e5217800-0e3a-11eb-8d93-705e7b158b97.gif)

[2020-10-14 08:43] fbricon commented on #1653
This is Eclipse's behavior. You can find some valid explanations in https://stackoverflow.com/questions/19023548/eclipse-generating-getters-setters.

I think it makes sense to expect an isAlive method to never return null, which can definitely happen with a Boolean.

[2020-10-14 08:43] fbricon commented on #1653
use a boolean instead

[2020-10-14 08:45] #1653 closed

[2020-10-14 09:19] ecmel commented on #1120
Micronaut 2.1.0
VSCode 1.50.0
VSCode Java 0.68.0

I am on Windows 10 WSL 2 Ubuntu 20.04

[2020-10-14 12:12] Lennerados commented on #1588
Thanks for the answer, djkong7, that fixed it for me as well. I think this issue can be close then.

[2020-10-14 12:12] #1588 closed

[2020-10-14 12:50] EuniceB commented on #458
I tried @YongJieYongJie 's solution but the problems appeared again as soon as I compiled the project using maven.

[2020-10-14 13:36] #1650 closed

[2020-10-14 14:04] GabrielBB commented on #1650
@fbricon @testforstephen Guys, if you want just remove my extension from your docs, I no longer have the time to maintain this.

[2020-10-15 02:28] GKilm commented on #1650
I'm so sorry that I didn't make myself clear.I mean that the `lombok` jar used in the `lombok Annotations Support for VS Code` extension is incompatible.
The java version is 1.8 in my `pom.xml`. It's normal when type `mvn package` in the terminal, but failed when build in the `VSCode`.I download `lombok-1.16.18.jar` to replace the jar in the extension, it work well. So I think `lombok` in the exte

[2020-10-15 11:56] girstenbrei opened #1655 "java.project.resourceFilters seems to be ignored when initializing workspace"
`java.project.resourceFilters` seems to be ignored when opening a workspace.
I have the vague feeling that I'm doing something wrong rather than this being a bug with the extension, but I tried a few things now, nothing works.

The only other idea I have is the following:
[vscode-java.log](https://github.com/redhat-developer/vscode-java/files/5384530/vscode-java.log) The log seems to show, line 72

[2020-10-15 13:41] ShimonBenYair opened #1656 "Can't get document symbols"
Hi

I am writing a vscode extension and I want to get the symbols of a JAVA file.

##### Environment
- Operating System: windows 10
- Visual Studio Code version: 1.50.0

##### Steps To Reproduce
If I run this sample code :

const pathToJavaFile = path.join(
  __dirname,
  "AdminServiceHandler.java"
);
const vscodeCDSExtension = extensions.getExtension("redhat.java");
const javaDocParams : Document

[2020-10-15 13:50] fbricon commented on #1656
See https://github.com/redhat-developer/vscode-java/blob/f29528f3f353aba2546bb697640583728ca93e87/test/standard-mode-suite/publicApi.test.ts#L52

[2020-10-15 13:53] ShimonBenYair commented on #1656
great, thanks a lot

[2020-10-15 13:53] #1656 closed

[2020-10-15 14:44] snjeza commented on #1655
@girstenbrei We can't add any filters if a project doesn't exist.

You can try to add
[code]
to your .project file - https://gitlab.com/Girstenbrei/cpachecker/-/blob/2a6f9bfe77a33fc9a5b6963d6f0da5bde3bcedda/.project

[2020-10-15 18:04] lakshits11 opened #1657 "Writing Java in VS CODE shows way too much warnings!"
Java Code in vs code shows way too much warnings. I mean these are really unnecessary warnings ! Even IDEs like IntelliJ don't show these unnecessary warnings. I want to disable such warnings, but not all the warnings. Is there a way to do so, or can you please do something about it ?

##### **Environment**
- Operating System: Windows 10 Pro
- JDK version:
java 14.0.2 2020-07-14
Java(TM) SE Runtim

[2020-10-15 18:20] snjeza commented on #1657
@lakshits11 You can try to add
[code]
to your <project>/.settings/org.eclipse.jdt.core.prefs

[2020-10-15 18:27] lakshits11 commented on #1657
May I know where these files are located? I can't get an idea of the location of these files. Also in general how to disable some specific warnings ?
Thank you in advanced.

[2020-10-15 18:44] lakshits11 commented on #1657
I did that but still it is showing me squiggle line under there !

[2020-10-15 18:56] snjeza commented on #1657
The .settings/org.eclipse.jdt.core.prefs file have to be placed to your project directory as follows:

``
your_project
  - .project
  - .classpath
... your other files...
  - .settings
    - org.eclipse.jdt.core.prefs
[code]

[2020-10-16 02:50] ShimonBenYair opened #1658 "Imports are not included in the document symbols returned from "getDocumentSymbols" API"
Hi

I am writing a vscode extension and I want to get the symbols of a JAVA file.

**Environment**
Operating System: windows 10
Visual Studio Code version: 1.50.0

**Steps To Reproduce**
If I run this sample code :

`const vscodeCDSExtension = extensions.getExtension("redhat.java");
const javaDocParams : DocumentSymbolParams = {
  textDocument: {
    uri: Uri.file(filePath).toString()
  }
};

if (

[2020-10-16 03:12] ShimonBenYair opened #1659 "Range of methods in the document symbols returned from "getDocumentSymbols" API are not ok"
Hi

I am writing a vscode extension and I want to get the symbols of a JAVA file.
Range of methods in the document symbols returned from "getDocumentSymbols" API seems to be wrong.
They are also not containing empty lines.
I need to insert code to a file exactly in the position that the last method in the class ends, do I have an option for that ?
because right now the range values seems to be wro

[2020-10-16 04:38] testforstephen commented on #1659
https://microsoft.github.io/language-server-protocol/specifications/specification-current/#range The range returned by LSP is zero based. The display line number in the VS Code editor is one based. You need translate it to the correct value.

[2020-10-16 04:38] #1659 closed

[2020-10-16 04:42] testforstephen commented on #1658
If you look [documentSymbol](https://microsoft.github.io/language-server-protocol/specifications/specification-current/#textDocument_documentSymbol) request at the LSP protocol, usually what it asks is the members such as fields, classes, methods. Could you please explain a bit more about your user scenario why "imports" is needed?

[2020-10-16 05:05] lakshits11 commented on #1657
Yes, see the image ..
![aa](https://user-images.githubusercontent.com/54276661/96215256-1f099000-0f9b-11eb-88a7-e4bf04466002.PNG)

[2020-10-16 05:24] yousetme opened #1660 "annotation processor of mapstruct can not generate Impl class in vscode."
Mapstruct has supported IDEA and eclipse to generate copier class automatically，but VSCODE doesn't work.
https://mapstruct.org/documentation/ide-support/

##### Steps To Reproduce
1.define java class
@Mapper(componentModel = "spring")
public interface AccountingFlowDtoCopier extends ObjectCopier<AccountingFlow, AccountingFlowDto> {
}

2.`gradle build` works and generate AccountingFlowDtoCopierImpl

[2020-10-16 05:30] ShimonBenYair commented on #1658
I am writing a vscode extension that gives the user an option  to generate some methods (according to his selections) and  then to add the generated code to a JAVA file.
Sometimes those new generated methods require new imports in the JAVA file.
So i need to know which imports already exist in the file in order to add the missing ones

[2020-10-16 05:34] ShimonBenYair commented on #1659
[CatalogServiceHandler.zip](https://github.com/redhat-developer/vscode-java/files/5389383/CatalogServiceHandler.zip)

No, sometimes the gap/delta is more than one
for example , in the attached file, it is a gap of 3 lines and not one

[2020-10-16 05:35] ShimonBenYair commented on #1659
I don't have the option to reopen again this issue, please assist

[2020-10-16 05:53] testforstephen commented on #1659
In your sample, which symbol returns the wrong range?

[2020-10-16 05:56] ShimonBenYair commented on #1659
@testforstephen

the class ("CatalogServiceHandler") has wrong range and also its methods has wrong ranges

[2020-10-16 06:03] fbricon commented on #1660
Please attach a sample project reproducing the issue

[2020-10-16 06:07] testforstephen commented on #1659
It includes the annotation to the range either.

Below is the file you provided, the class starts with line 15 and ends with line 38. And protocol returns result [14, 37], that's correct because of zero based.
![image](https://user-images.githubusercontent.com/14052197/96219045-913c9d80-0fb8-11eb-8e8e-769899580d9b.png)

[2020-10-16 06:17] girstenbrei commented on #1655
@snjeza I had a look at that file before and as far as I can see, the extension auto-generates this entry. Starting without setting `java.project.resourceFilters`, the file contains the following (without me adding anything):

[code]

This matches the expected behavior (= default of ["node_modules",".git"]) but still results in initializing with files within the .git-folder. Even when I insert you

[2020-10-16 14:31] snjeza commented on #1657
@lakshits11 Could you, please, send a project example?

[2020-10-16 14:38] lakshits11 commented on #1657
You mean the zip file of my project ? If I am wrong, please help me to understand.

[2020-10-16 14:55] snjeza commented on #1657
Right.

[2020-10-16 14:58] lakshits11 commented on #1657
[assignmentSix.zip](https://github.com/redhat-developer/vscode-java/files/5392447/assignmentSix.zip)

[2020-10-16 18:03] 0dinD commented on #1657
@snjeza I have an idea for why the Eclipse preference doesn't seem to be working. It seems that the language server won't recognize any Eclipse preferences under `.settings` in "invisible projects" or whatever they're called. For me, it works in any normal maven/gradle/eclipse project, but not in a simple "invisible project" like this one. Is there a reason behind this or should it be considered a

[2020-10-16 18:12] snjeza commented on #1657
@0dinD You are right. We should link the .settings directory to an "invisible project" too.

[2020-10-16 18:24] 0dinD opened #1661 "Method references are given the CompletionItemKind.Module type by the completion provider"
When code-completing for a method reference, the suggestions do not have the correct icon since they are reported to be of type `CompletionItemKind.Module`. This makes no sense to me, they should be of type `CompletionItemKind.Method` since they are methods, not modules.

##### Environment
- Java extension version: `0.69.0`

##### Steps To Reproduce
1. Have code where you can complete for a method

[2020-10-17 05:08] lakshits11 commented on #1657
@0dinD After adding `@SuppressWarnings("serial")`  it had gone but when I removed this and tried the other workaround, nothing happened , the warning line again came. Isn't there a way without changing the source code ?

[2020-10-17 14:35] 0dinD commented on #1657
@lakshits11 Yes, you should be able to ignore the warning without adding the `@SuppressWarnings` annotation. This used to work by just adding the related preference to `.settings/org.eclipse.jdt.core.prefs`, but as we've unfortunately found out this is currently broken for the so-called "invisible projects". This feature with the invisible projects was added a while ago to reduce the amount of unn

[2020-10-18 05:50] lakshits11 commented on #1657
@0dinD I am sorry to say but it didn't worked 😥 . I am attaching a screenshot for reference.

![Screenshot (41)](https://user-images.githubusercontent.com/54276661/96359724-ad187e80-1133-11eb-93e8-f8e50d120372.png)

[2020-10-18 06:59] shoffmeister opened #1662 "maven invoked with wrong Java version - regression"
VS Code recently started requiring JDK11+ to run the Java *extension*. Alas, this seems to have uncovered an implementation defect in the extension.

maven is always invoked with the *java.home* defined for the VS Code extension; maven ist not invoked with the JDK version that has been chosen in the *java.configuration.runtimes*. This is a very subtle difference, which makes a difference where bre

[2020-10-18 07:08] shoffmeister commented on #1662
Background on JAXB - Oracle changed the catalog resolver implementation. Catalog definitions that worked in JDK 8 no longer work in, e.g. JDK 14. This then makes it quite important that the "right" JDK is present for the JAXB _plugin_ inside maven to pick up the right implementation of the catalog resolver.

In light of the documentation, https://devblogs.microsoft.com/java/about-upgrading-to-java

[2020-10-18 07:18] shoffmeister commented on #1662
FWIW, I am a bit irritated by the configuration name "java.configuration.runtimes" - wouldn't this rather be "java.configuration.developmentkits" (yes, I know, this would be hard to change now)

[2020-10-18 08:11] ShimonBenYair opened #1663 "Formatting JAVA document programmatically not working"
I am trying to format a JAVA file programmatically by:

`let success = await commands.executeCommand('vscode.executeFormatDocumentProvider', docUri, {"java.format.enabled": true});`

and it is not formatting the file
is it the correct API ?
Whats wrong with it ?

[2020-10-18 09:07] fbricon commented on #1662
Sorry but those Maven features are not provided by vscode-java. Please open a ticket in https://github.com/microsoft/vscode-maven/issues

[2020-10-18 09:07] #1662 closed

[2020-10-18 09:28] maxandersen opened #1664 "support download of sources for classes in jar with maven coordinates"
when editing java code in projects with no maven/gradle and use 3rd party dependencies it would
be awesome if vscode java would be able to identify jars maven metadata and try fetch the right source
as all the info is there to go locate it.

[2020-10-18 09:34] fbricon commented on #1664
yeah I had that working, only had tests to write, but never pushed my branch to github. Now my laptop is dead, I need to figure out a way to access the SSD to access it. Or rewrite everything from scratch

[2020-10-18 12:00] maxandersen commented on #1664
You can do it! :)

[2020-10-18 12:34] 0dinD commented on #1657
@lakshits11 The screenshot tells me that the Java Language Server is now running in standard mode, so it's strange to me that the warning still shows up. However, I just came to realize I forgot one small step in my instructions when I retraced my steps using the project you attached.

Can you try running the command **Java: Clean the Java language server workspace** from the command palette (pres

[2020-10-18 17:56] lakshits11 commented on #1657
@0dinD After I did what you told me to do , the curvy warning lines were _gone_, **BUT ...wait wait wait**,   now when I run my App.java file using java test runner extension which comes in java extension pack, it was not able to recognize my MonthException and YearException java files and Build was failed in which error in the LOG file  was  MonthException and YearExceptioin cannot be ressolved t

[2020-10-18 19:06] snjeza commented on #1657
@lakshits11 could you attach your current project?

[2020-10-19 05:41] lakshits11 commented on #1657
[assignmentSix.zip](https://github.com/redhat-developer/vscode-java/files/5399301/assignmentSix.zip)

[2020-10-19 08:32] #1661 closed

[2020-10-19 13:39] snjeza commented on #1657
@lakshits11 I can't reproduce the issue.
You can try to run the Java: Clean the Java language server workspace  command.

[2020-10-19 14:36] fbricon commented on #1660
I tested with a Maven project and it worked fine. Since you're using gradle, you might want to follow the instructions in http://dplatz.de/blog/2018/gradle-apt.html so that annotation processing configuration files can be generated by gradle

[2020-10-19 18:34] n-peugnet commented on #1555
Would it be possible to make the `java.configuration.runtimes` setting overridable on a per workspace basis ? It would indeed be useful for a "no build tool" setup.
Right now I don't really understand how it can be useful to register multiple runtimes in the User settings if only the default one can be used.

[2020-10-19 22:55] #1448 closed

[2020-10-20 07:15] yousetme commented on #1660
It's my demo project. bin/ dir is generated by VSCODE and build/ dir is generated by "gradle build". bin/ dir does't generate DemoCopierImpl.class but build dir does.
https://github.com/yousetme/mapstruct-gradle-demo

[2020-10-20 07:16] yousetme commented on #1660
I have try  in VSCODE，but it does't work, perhaps it works with Eclipse.

[2020-10-20 08:47] fbricon commented on #1448
New "Convert to lambda expression"/"Convert to Method reference" code actions:

![1448](https://user-images.githubusercontent.com/388609/96165565-13778400-0f1d-11eb-9071-6e8a6fd72395.gif)

[2020-10-20 08:50] fbricon commented on #1555
@n-peugnet what sorts of projects are you using with vscode-java?

[2020-10-20 09:15] fbricon commented on #1660
your example doesn't even build from CLI:
[code]

[2020-10-20 10:05] yousetme commented on #1660
https://github.com/yousetme/mapstruct-gradle-demo
So sorry to waste your time,  it's my negligence to import some no use code. I have clear it, have a try please. thanks.

[2020-10-21 01:36] testforstephen commented on #1663
Java extension doesn't provide such API, where did you find the API?

[2020-10-21 07:50] yousetme commented on #1660
this problem is resolved, gradle demo `https://github.com/yousetme/mapstruct-gradle-demo` is work in VSCODE with `http://dplatz.de/blog/2018/gradle-apt.html `.
our project is not work in VSCODE, i think it's gradle version or it's dependence version problem.
Thanks!
![image](https://user-images.githubusercontent.com/7489701/96688654-0098ff80-13b4-11eb-90ac-62ad9461edf7.png)

[2020-10-21 11:19] n-peugnet commented on #1555
@fbricon I would say any kind of project. For bigger projects and especially if I need to work with other people I usually setup Maven to have a common build system. But for smaller/school project I would love to be able to just make a folder and set all the build configuration in my `.vscode/settings.json`. This also applies to https://github.com/redhat-developer/vscode-java/issues/1615 and to th

[2020-10-21 11:55] n-peugnet commented on #1555
And to clarify my current use case, I am currently doing school projects using Hadoop. The latest stable version 3.2.1 does not support Java11 so I have to use an older version (1.8). I am using vscode to code and compile some MapReduce jobs but these have to be compiled with 1.8 for yarn to be able to run them. I use Java11 in almost every other projects so I would like not to have to switch the

[2020-10-21 15:48] clembo590 opened #1665 "search for enum reference without source"
Vscode does not find references on Enum when it does not have the source.

##### Environment
- Operating System: mac os 10.14.6 (18G103)
- JDK version: jdk-11.0.4.jdk
- Visual Studio Code version: Version: 1.50.1
- Java extension version: v0.69.0

##### Steps To Reproduce
0.  clone my repo [https://github.com/clembou590/vscodeissue](https://github.com/clembou590/vscodeissue)
1. then in terminal go

[2020-10-22 04:24] taooceros opened #1666 "Auto Complete for new keyword"
Is it possible for us to give auto complete after typing new and space, just like what omnisharp and visual studio done in c#?

Currently we still need to type one or more letter of the type that we want to initialize, and the result appears a little bit slow.

[2020-10-22 08:34] jdneo opened #1667 "Change the scope of 'java.home' to machine-overridable?"
Currently the setting `java.home`'s scope is `window`. This may have some problems when it comes to remote scenario.

Here is an example:

![WeChat Screenshot_20201022155632](https://user-images.githubusercontent.com/6193897/96845701-8fc11880-1483-11eb-9497-add75f076bc6.png)

My user(local) setting point the `java.home` to my local installation path, once my vscode linked to the remote container,

[2020-10-22 13:35] Bno93 commented on #1543
Currently running to the same issue as @atg22896 but with gradle 4.0.2. Set all settings necessary to make vscode-java find JDK11. Also used vscode-java gradle properties below to configure JDK8 for Gradle but with no success.

[code]

Is there really no solution to this?
For our projects we are depending on a Framework which requires gradle 4.0.2 and jdk8.

this are my settings:
[code]

[2020-10-22 14:37] fbricon commented on #1664
@maxandersen lucky you ;-) eclipse/eclipse.jdt.ls#1580

[2020-10-22 18:49] pawelzwronek commented on #1587
I use this workaround
```"java.project.referencedLibraries": ["C:\\Users\\<YOUR USERNAME>\\AppData\\Local\\Android\\android-sdk-windows\\platforms\\android-27\\*.jar"],```
in VSCode settings

[2020-10-22 21:06] dfdumaresq commented on #112
I'm seeing this too,
[Error - 2:04:39 PM] Oct. 22, 2020, 2:04:39 p.m. Error in calling delegate command handler
Given URI does not belong to any Java project.
org.eclipse.core.runtime.CoreException: Given URI does not belong to any Java project.
	at org.eclipse.jdt.ls.core.internal.commands.ProjectCommand.getJavaProjectFromUri(ProjectCommand.java:257)
	at org.eclipse.jdt.ls.core.internal.commands.

[2020-10-23 09:24] CsCherrYY commented on #1640
Hi, @CarlPer , it seems a formatter version bug. The formatter version of template in `vscode-java` is `13`. And the current version of eclipse is `21`. There are some differences between the two versions so your settings may be ignored. We are trying to add a formatter version updater into the language server, and it will make effect at the next jdt version.
Now you can simply replace this settin

[2020-10-23 14:23] ksh-r opened #1669 "JavaFX Project runs in a temp directory, which doesn't allow importing fonts in stylesheets"
I am running a JavaFX application. Does VSC before running, build a temporary environment/directory and then runs the code from that.
I have a stylesheet which uses '@fontface'. The font's .ttf file is present inside the project directory itself. When I run the main java file, it gives a warning 'Could not load @fontface.
The following command is executed when I click on Run Project (I have a proj

[2020-10-23 15:11] fbricon commented on #1669
Sorry but vscode-java is not responsible for running the code. Please open a ticket in https://github.com/microsoft/vscode-java-debug/issues

[2020-10-23 15:11] #1669 closed

[2020-10-23 15:24] Z3roCoder opened #1670 "Import Java Project into Workspace: Default to configured Java Version"
[provide a description of the issue]

Whenever I import a Java-Project into my Workspace in VSCode via the prompt "Java Projects discovered. Would you like to import the project into the workspace?" and I click "Yes", it imports the Project but configures it for Java 1.8

But my Settings are set to Java-14

##### Environment
- Operating System: Windows 10
- JDK version: JDK-14
- Visual Studio Code

[2020-10-23 15:27] fbricon commented on #1670
Most likely your pom targets Java 1.8 for compilation. Check your maven.compiler.* properties and maven-compiler-plugin configuration.
Maven configuration always wins over the default vscode settings.

[2020-10-23 16:09] Z3roCoder commented on #1670
Hm... Could this be the problem?

pom.xml
[code]

[2020-10-23 18:04] fbricon commented on #1670
That's it. Vscode-java does exactly what Maven tells it to do

[2020-10-23 18:04] #1670 closed

[2020-10-23 18:14] Z3roCoder commented on #1670
Thank you!

[2020-10-24 04:32] JoseLion commented on #1034
@snjeza sorry it's been some time. I created a small repo with an example [here](https://github.com/JoseLion/webflux-playground) 🙂

Specifically, there's a few blocks of code to run some tests in the file bellow:
https://github.com/JoseLion/webflux-playground/blob/main/src/test/java/com/github/joselion/webfluxplayground/modules/account/AccountTest.java

BTW, since Java 15 is officially released, I

[2020-10-24 04:54] bonaluo opened #1671 "can not resolve gradle project"
I use vscode create a gradle project.

my settings.json is:
[code]

my JDK_HOME environment is :

[code]

build.gradle is:
[code]
error message is:
[code]

how to solve this problem

[provide a description of the issue]

##### Environment
- Operating System:
- JDK version:
- Visual Studio Code version:
- Java extension version:

##### Steps To Reproduce
1. [step 1]
2. [step 2]

[Please attach a sa

[2020-10-24 07:23] bhaskor-sarmah commented on #785
Thanks buddy, this solved my issue also.

[2020-10-24 09:17] bagrupe opened #1672 "Improve first-time / new user experience"
I am teaching classes and recently switched from eclipse to vscode-java as the editor/IDE of choice in those classes. However, due to the recent JDK chaos (multiple OpenJDK distros, quick releases, LTS, non-LTS) and a few vscode quirks it has gotten fairly complicated to cleanly set up all my students’ vscodes.

Here are some questions and suggestions on how to improve the first-time experience:

[2020-10-24 12:18] KanbeKotoriDaisuki opened #1673 "Strange dump files occur frequently when I open a Java file"
I am using VSCode Remote on WSL. The JDK version I am using is OpenJDK11 with Eclipse OpenJ9 VM.

Often when I open a Java file, some dump files will appear in the folder the Java file is in, together with the following VSCode Language Support for Java output.

[code]

Whenever these dump files appear, the run & debug button will disappear from above the main function of the Java file.

##### Envi

[2020-10-26 02:58] testforstephen commented on #1672
@bagrupe Really great feedback. thanks.

- Regarding the JDK setup issue, we also provide a [coding-pack-for-Java](https://code.visualstudio.com/docs/java/java-tutorial#_coding-pack-for-java) installer to simplify the Java env setup. The installer will install the right JDK and Java extensions on demand. You could have a try on it.
- VS Code just provides [a fixed group of events](https://code.vis

[2020-10-26 06:53] bagrupe commented on #1672
@testforstephen Thanks for the comment, this is my follow-up:

- I wanted to lock the JDK to Azul Zulu Community 11 but some students had OpenJDK 14/15 installed due to a previous course, so the coding-pack installer correctly assumed a fitting JDK is available and set java.home to it - I haven't found detailed documentation/source of the installer, is it available on github? That way I could even

[2020-10-26 07:22] testforstephen commented on #1672
- @Eskibear is the author of the installer, he could provide more details about the installer.
- A magic file is a workable idea. So far, the Java extension will auto load if your root contains `pom.xml`, `build.gradle` or `.classpath`. For your case, you could add a fake empty `.classpath` file in your root to make the extension to be activated on startup. But you need be cautious about this. You

[2020-10-26 09:05] bagrupe commented on #1672
- Okay, thanks, I hope he'll read this issue now that he is pinged
- Should I also open a separate issue for the new magic file? How should it be named if so?
- I'll open an issue for the corner case
- Okay, thanks, is it planned to let it check/do that automatically in the future?

[2020-10-26 09:19] bagrupe opened #1674 "vscode-java/jdt.ls doesn't pick up settings changes if language server isn't running"
This issue is a spinoff of #1672 which contains some more background information.

I encountered the following problem:

If you:

1. start vscode without starting the Java language server (e.g. folder without a pom.xml but with subfolders containing Java projects)
2. directly edit the java.* settings (e.g. java.home or java.configuration.runtimes) in settings.json
3. save the settings
4. open a Ja

[2020-10-26 10:23] testforstephen commented on #1672
- For the magic file, i assume you already could leverage .classpath as a magic file for your case. We won't invent a new magic file unless there are more use cases for it.
- About auto detect new projects, worth a new issue to track it.

[2020-10-26 15:30] lovexbma commented on #1062
try `cd your path` in the terminal, if it fails, maybe the character format is wrong. then you could write the full path by keyboard, not Copy and Paste.

[2020-10-26 21:03] michalszynkiewicz opened #1675 "Quarkus: generated sources are not accessible"
From John Boudreaux's report on Quarkus Zulip.

[code]

This can be used as a test project: https://github.com/michalszynkiewicz/simple-quarkus-grpc

Please note that sources generated from `src/main/proto` are put into `target/generated-sources/grpc` and the ones from `src/test/prot` into `target/generated-test-sources/grpc`.

We plan to add other generated sources in the future (other subdirecto

[2020-10-27 08:07] Eskibear commented on #249
VS Code Insiders now supports to resize completion widget.
See https://github.com/microsoft/vscode/issues/29126#issuecomment-716415112

[2020-10-27 09:25] fbricon commented on #249
Closing since vscode upstream fixed it, will be available in the October release (prolly around the 1st week of November)
![readable-completions](https://user-images.githubusercontent.com/148698/97281781-33247b80-183e-11eb-8f12-f50aaf33d3e9.gif)

For the impatients, you can download vscode-insiders from https://code.visualstudio.com/insiders/

[2020-10-27 09:25] #249 closed

[2020-10-27 09:42] caodingpeng commented on #10
you can follow this guide:
https://github.com/greensopinion/gradle-android-eclipse

[2020-10-27 09:48] csaltos opened #1677 "Improve support for Gradle projects"
When using Maven based projects everything is OK and with a lot of support but with Gradle some feature are missing like source code autocomplete and even importing classes from other packages. On top of that VS Code shows a lot of warnings and error that are not present at Gradle when called from the command line.

##### Environment
- Operating System: macOS Catalina 10.15.7
- JDK version: OpenJD

[2020-10-27 10:08] fbricon commented on #1677
Works for me.
<img width="1440" alt="Screen Shot 2020-10-27 at 11 06 12 AM" src="https://user-images.githubusercontent.com/148698/97287120-7b469c80-1844-11eb-92cc-8a1a9b4a9f6c.png">

Please share your settings.json and the Java server logs (F1 > Java: Open Java Language server log file)

[2020-10-27 17:46] dansiviter commented on #177
#566 is potentially a duplicate, however it has an interesting workaround for it, which worked for me, using:
[code]
See [here](https://github.com/redhat-developer/vscode-java/issues/566#issuecomment-429093210).

[2020-10-28 01:39] 0dinD opened #1678 "Changing java.semanticHighlighting.enabled does not consistently update semantic tokens"
Most java settings take immediate effect without requiring a reload, which is a great user experience. However, the `java.semanticHighlighting.enabled` setting does not always update the semantic tokens in the editor when changed. This is very confusing, especially when you aren't even notified that a reload is required to see the change.

##### Environment
- Java extension version: `0.69.0`

####

[2020-10-28 01:47] Eskibear commented on #1672
The original goal of the Coding Pack is to help install the minimum requirements for vscode Java. It will detect JDKs installed and point `java.home` to the latest one if its major version is > 11. Otherwise it will download and install AdoptOpenJDK 11.
Actually `java.home` doesn't matter much to your projects, it's used to launch Java Language Server. As you mentioned, I myself agree that ultimat

[2020-10-28 08:20] csaltos commented on #1677
Great, thanks !! ... it was an error on my end, good to know Gradle is working !!

[2020-10-28 09:31] bagrupe opened #1681 "Auto-Import (maven) projects on copying a folder into a workspace"
When starting VSCode with a new workspace, it will auto-import existing (maven) projects into the underlying jdt.ls workspace (which is intuitive) when "Import on First time startup" is set to "automatic" (or "interactive" which will ask you before it does).

Once that process is finished it will not ask you to auto-import projects which are *copied* into the workspace (common problem in classes/c

[2020-10-28 09:43] bagrupe opened #1682 "Package/Download private JDK for jdt.ls"
In a discussion within #1672 I suggested to package or download a 'private' JDK for jdt.ls.

This would have several benefits

- No need to explicitly let the user download a JDK distribution (many of which are zips without Installer and integration into the OS, which results in the need to manually set java.home) --> as a workaround the java-coding-pack works but not all users will realize that w

[2020-10-28 10:29] #1677 closed

[2020-10-28 11:08] fbricon commented on #1675
I would expect the following to at least work, but it doesn't:
[code]

@snjeza can you please look into this?

[2020-10-28 14:18] 0dinD commented on #1682
I agree that this would provide many benefits to the user experience, and it would put an end to the debate surrounding the JDK11 requirement. But if this is done, I am strongly opposed to packaging the JDK with the extension itself, for a number of reasons. Mainly, it would bloat the installation size by a large amount, especially since we would have to include a JDK for each OS, seeing as you ca

[2020-10-28 16:49] thorstenhirsch opened #1684 "feature request: select java runtime in vs code settings"
The current state of Java runtime support seems to be:

- this extension needs Java 11
- you can specify available runtimes in java.configuration.runtimes
- however you can't specify/force which of these versions to use in a project; instead there's some auto detection that looks into eclipse/maven/gradle config

As we see in #1543 a lot of people are not happy with this situation. Me neither. Ple

[2020-10-28 18:13] PunkIslamist commented on #1672
Just to chime in regarding the _out of project_ error. I had the same error in a project as simple as it gets:

![image](https://user-images.githubusercontent.com/26367652/97478497-555aee00-1951-11eb-90f8-91dfce00c6df.png)

I am just starting with Java so I want to keep it as simple as possible at the moment. I started the project with an "incorrect" folder structure, moved the files around a bit

[2020-10-29 05:54] indexlongrun commented on #1672
Hi @Eskibear I wanted to give a widows user perspective.
I'm an experienced Java developer and I really like VS Code but installing the java plugin has proven very challenging.

I have the coding pack installed but I still get this message:
![image](https://user-images.githubusercontent.com/11502172/97530678-51fc4c80-19bb-11eb-8358-dcba48947e74.png)
So nothing is automatic here.
When I follow the

[2020-10-29 09:32] vizhnu commented on #1543
@jnorkus did you solve this? I'm facing the same issue. Completely wasted my day on this. 😤

[2020-10-29 09:49] jnorkus commented on #1543
@vizhnu I did. You have to make sure the `/Library/Java/Home` symlink points to the correct JDK 11 Home. In my case it's `/Library/Java/JavaVirtualMachines/adoptopenjdk-11.jdk/Contents/Home`

[2020-10-29 14:03] mojo2012 opened #1685 "Preview features enabled at an invalid source release level 14, preview can be enabled only at source level 15"
[provide a description of the issue]

##### Environment
- Operating System: 10.15.7 (19H2)
- JDK version: openjdk version "14.0.2" 2020-07-14
- Visual Studio Code version: 1.50.1
- Java extension version: v0.69.0

##### Steps To Reproduce
1. Checkout https://github.com/mojo2012/java15_preview_features_demo.
2. set java 14 as your default
3. run `mvn clean install` -> it works
4. open in vscode
5.

[2020-10-29 15:12] Eskibear commented on #1621
ultimately it would be perfect to provide new APIs in upstream, tracked in  https://github.com/jsdevel/node-find-java-home/issues/28

[2020-10-29 15:15] Eskibear commented on #1672
@indexlongrun  Thank you for the feedback!

Did the coding pack install a JDK 11 for you? I guess that before installing the coding pack, you already have a JDK 8 installed on your machine, and JAVA_HOME is pointing to it. Let me know if I'm right.

True, the JDK detection should be improved. It's tracked in https://github.com/redhat-developer/vscode-java/issues/1621 . To work it around for the mo

[2020-10-29 16:07] rgrunber commented on #1667
So If I understand correctly, it should still be possible for someone testing vscode to configure the setting at the ["workspace" level](https://github.com/microsoft/vscode/issues/73985), just no longer at the "user" level.

@fbricon does that seem more reasonable ?

[2020-10-29 21:26] indexlongrun commented on #1672
@Eskibear, thank you for your attention and response

No

Yes, you are correct.

Adding my two cents:
The process in question is to install a JDK 11 or higher to enable the Java extension. This means that the user most likely dose not yet have any Java projects running in vs code.
At this point the user is more concerned with installing the Java extension than compiling future projects with old JD

[2020-10-29 22:32] snjeza commented on #1675
This issue is an m2e upstream issue. See https://bugs.eclipse.org/bugs/show_bug.cgi?id=568385

[2020-10-29 23:35] snjeza commented on #1675
@michaelkleinhenz @fbricon could you test https://raw.githubusercontent.com/snjeza/vscode-test/master/java-0.70.0.vsix and the following patch against https://github.com/michalszynkiewicz/simple-quarkus-grpc

[code]

@fbricon **onIncremental** causes an infinite project rebuild.
I'm preparing a patch for m2e.

[2020-10-30 01:04] Eskibear opened #1686 "Improve messages when no JDK 11+ found to launch language server"
from https://github.com/redhat-developer/vscode-java/issues/1672#issuecomment-718377347

It's reported that the message is confusing to highlight `java.configuration.runtimes` instead of `java.home`.

I would suggest updating the message and focusing on the java.home setting since it is something that the user must currently update to use the extension.

[2020-10-30 01:24] jdneo commented on #1667
@rgrunber, yes, users can still set the setting in the "workspace" level. If we want to avoid the `java.home` setting taken by the remote side, we can use:

- `machine`: This can totally solve the problem, but by doing this we break those users who set the setting in workspace level
- `machine-overridable`: Only help those users who set the setting in the `user` level and avoid making breakings.

[2020-10-30 08:09] testforstephen commented on #1621
A good finding, looks like this is not a rare case.

[2020-10-30 08:38] testforstephen commented on #1681
This depends on file watcher. If the watcher detected a new pom.xml being added, prompt whether to import is reasonable.

[2020-10-30 08:48] bagrupe opened #1687 "Invisible / "no build tools" projects in workspace not recognized"
Additionally to #1672 I found the following problem:

Let's assume my students add new Java project with the Java Projects + wizard in an existing workspace.

If you're in a workspace with the following structure:

workspace_root
workspace_root/project1 --> Maven project

As soon as you add a second "No build tools" Java project like this:

workspace_root/project2 --> "No build tools" Java project

[2020-10-30 09:03] bagrupe commented on #1684
I just opened #1687 which is somewhat related to this problem - as soon as you have an "invisible" project you won't have any option to edit the underlying project settings and auto-detection may or may not work depending on the situation. Maybe it should be possible to change an invisible project to a standard eclipse project and add a UI for the most basic settings (e.g. Java runtime used)?

[2020-10-30 09:14] wjx0912 commented on #495
same problem, does it fixed?

[2020-10-30 19:26] elliotaplant commented on #1270
Thank you for adding the option to "Only report syntax errors for any non-project file in current session"

Is there a way to completely hide the warning that says "xxx.java is a non-project file, only syntax errors are reported"? Now that I am aware that only syntax errors will be reported, the error is no longer actionable.

[2020-10-31 03:03] #1365 closed

[2020-10-31 06:37] gerrywp commented on #580
https://github.com/redhat-developer/vscode-java/issues/580#issuecomment-486483938
完美的解决了，我使用vscode开发java应用程序时lombok找不到log的问题

[2020-10-31 07:36] Eskibear commented on #1687
During reproducing the issue, I find a similar case:
When workspace_root contains an App.java file, then it's already a no-build-tools project. Now I create a quickstart maven project `project1`, later it warns me package name for `project1/src/main/java/App.java` is wrong. Because current workspace is still recognized as a no-build-tools project,  and`project1/src/main/java` is recongnized as par

[2020-10-31 11:00] jbhateja opened #1688 "Disable automatic addition of --enable-preview flag"
[provide a description of the issue]

Hi,

Usage of --enable-preview flag during compilation of stand along java file inhabits backward compatibility of generated class file.

It will be more useful if adding this option is left to the user instead of tool automatically adding it.

Thanks

##### Environment
- Operating System: any
- JDK version: 14
- Visual Studio Code version:
- Java extension ve

[2020-11-01 14:39] ssy341 commented on #1148
@slowhog I also get this error ,cuz vscode use eclipse way,so just add config into .classpath file, follow my configuration：
[code]

the important code is:
[code]
through this way can be solve the class is not accessible

[2020-11-01 23:45] Eskibear commented on #1667
Switching it from `window` to `machine-overridable`, the only effect is, it will disallow user level settings to be synced in remote machines.

Below is my 2 cents about `machine` vs `machine-overridable`.
Now we have to settings `java.configuration.runtimes` (run project) and `java.home` (launch LS). For me as a user, I don't care `java.home` unless LS fails to start. I don't even have to know th

[2020-11-02 04:39] testforstephen commented on #1685
This is a fair concern, but due to the limitation of the upstream jdt, this is not supported. The reason is vscode-java@0.69.0 is using the latest Eclipse Compiler for Java (ECJ), which is a Java 15 compiler, to compile your project.  It doesn't allow to enable preview when compiling 14 project. See more discussion at the upstream issue https://bugs.eclipse.org/bugs/show_bug.cgi?id=549258.

You ha

[2020-11-02 04:41] #1685 closed

[2020-11-02 04:46] testforstephen commented on #1673
Could you share the logs?

Java logs:
**F1- > Java: Open Java language server log file**

Output window:
![image](https://user-images.githubusercontent.com/14052197/97663047-83f0da00-1ab3-11eb-986d-58b053287621.png)

[2020-11-02 06:04] testforstephen commented on #1667
From the discussion, at least we reached an agreement that it should be limited to the machine, right?

The controversy is over whether it's `machine` or `machine-overridable`.

I prefer to set it to `machine-overridable`. Since `java.home` will be used to launch LS and project if no runtimes are specified. `machine-overriable` can avoid feature break in case some users still use it at workspace l

[2020-11-02 08:06] wjx0912 opened #1689 "disable auto build not work"
![2](https://user-images.githubusercontent.com/5556482/97843944-1c41c580-1d25-11eb-825b-257103a365ae.png)

hi, i have set   "java.autobuild.enabled": false,   in my settings.json,

but it also auto build after vscode startup(it  waste some times),
i note a very old issue https://github.com/redhat-developer/vscode-java/issues/406      but it not work.

can someone help, thanks.

[2020-11-02 11:41] testforstephen commented on #1689
`"java.autobuild.enabled"` is just used to control whether to auto compile your project.

What's displayed in the `Java Build Status` terminal is the status of importing Java projects. If you didn't import the projects, you won't get the full feature list.

[2020-11-02 18:27] snjeza commented on #1675
Related PR - https://github.com/eclipse-m2e/m2e-core/pull/25

[2020-11-03 00:43] wjx0912 commented on #1689
@testforstephen
thanks.

[2020-11-03 00:43] #1689 closed

[2020-11-03 03:09] testforstephen commented on #1687
The `"no build tools"` project is actual not a real project since you didn't see any build file there to define its structure. It was introduced to allow beginners to quickly work with Java files in VS Code without having to know about build tools like maven or gradle.

Within a workspace root, it's either managed by the explicit build tool, or without the build tool. For mixed case, it will just

[2020-11-03 03:59] dragozir commented on #1531
I'm having a similar issue, except vscode can't seem to find my protobuf libraries, despite working fine from both Intellij (with intellisense), and CLI (gradle build and run configurations).

[2020-11-03 04:32] snjeza commented on #1531
@dragozir Could you, please, attach your project or your build.gradle file?

[2020-11-03 07:09] #1667 closed

[2020-11-03 08:02] #1678 closed

[2020-11-03 09:15] fbricon commented on #1688
If you're referring to standalone java files, the generated .class is not exposed to users, so how do you run it?

[2020-11-03 12:17] W4RH4WK commented on #1132
@fbricon I can confirm it is still happening as of today.

[2020-11-03 13:26] Sayyiditow commented on #641
Hi any update on this?

[2020-11-03 13:39] fbricon commented on #1132
@snjeza could it be the format command is issued before the save command reconciled the CU, thus formatting stale content?

[2020-11-03 17:17] benjamindally commented on #1092
I know this is closed, but I thought it was worth asking anyhow. If we installed VS Code via Snapcraft, wouldn't we also not be able to use the absolute path of `/usr/lib/jvm........` ? Snap doesn't have access to "that side of the house" so to speak. I don't think apps installed via snap can reach there. I know that DBeaver can't.

[2020-11-03 23:27] dragozir commented on #1531
[code]
Just a sample

[2020-11-04 00:13] snjeza commented on #1531
@dragozir Could you try replace
[code]
with
[code]
or remove this line.
You should install the java-14-openjdk-src package.

[2020-11-04 00:32] dragozir commented on #1531
Installing openjdk-14-source with apt correctly provides the symlink from src.zip -> lib/src.zip, so thank you for steering me in the right direction there. .class now shows up for all java built-ins. Still having the issue with external libraries, however this seems related to intellisense as gradle is able to build and run fine.

[2020-11-04 02:07] jdneo commented on #1282
How about provide a page to specify some project settings like:
- Specify the source directories
- Specify the output path
- ...

[2020-11-04 17:23] jjoker0110 commented on #1543
I'm still dealing with this issue as well. I'm on a restricted machine so I can't change my environment variables but I have a java.configuration.rutimes array with both Java 11 and the JDK that I need for my project and when I open "Configure Java Runtime" I only see that one. So then I add a java.home to my project settings and Java 11 disappears and the plugin breaks with the "Java 11 or more r

[2020-11-04 17:27] jjoker0110 commented on #1684
I'm still dealing with this issue as well. I'm on a restricted machine so I can't change my environment variables but I have a java.configuration.rutimes array with both Java 11 and the JDK that I need for my project and when I open "Configure Java Runtime" I only see that one. So then I add a java.home to my project settings and Java 11 disappears and the plugin breaks with the "Java 11 or more r

[2020-11-04 18:14] jjoker0110 commented on #1684
Just found a working solution: https://devblogs.microsoft.com/java/about-upgrading-to-java-11-for-vs-code-for-java

Basically the java.home needs to point to java 11 and then in your java.configuration.runtimes array need to ONLY have the runtime you want your project to be in. This is annoying because you can't put the java.configuration.runtimes array in your projects settings.json, only in your

[2020-11-04 18:17] jjoker0110 commented on #1543
Just found a working solution: https://devblogs.microsoft.com/java/about-upgrading-to-java-11-for-vs-code-for-java

Basically the java.home needs to point to java 11 and then in your java.configuration.runtimes array need to ONLY have the runtime you want your project to be in. This is annoying because you can't put the java.configuration.runtimes array in your projects settings.json, only in your

[2020-11-05 08:58] KanbeKotoriDaisuki commented on #1673
This is the log VSCode printed during a recent fail.
[code]

[2020-11-05 13:36] fdq09eca opened #1692 "using another .java main function"
I have the following file structure
[code]

`App.java`
[code]
`MainProgram`
[code]

i try this in the command line at `src/`directory
`java MainProgram.java`

it is the result
[code]

How to print out `Hello world!` ? Thank you.

[2020-11-05 14:03] fbricon commented on #1692
If you're trying to run your code from a terminal, you need to compile all the classes in the terminal too, using the `javac` compiler:

That will generate the .class files in the same directory, you can then execute:

When in vscode, the compilation happens behind the scene, the class files are hidden from you. You need to install the [Java Debugger](https://marketplace.visualstudio.com/items?ite

[2020-11-05 14:03] #1692 closed

[2020-11-05 14:05] fbricon commented on #1692
With recent JDKs, calling `java MainProgram.java` works fine to compile and execute single files in one command. It just doesn't also compile dependent files as well (that I know of)

[2020-11-05 14:31] fdq09eca commented on #1692
true, `java App.java ` works fine. extra question: any hotkey for the java run or debug?

[2020-11-05 17:21] benjamindally commented on #1092
Is this for Linux? I don't see a `devel` package

[2020-11-05 17:59] av1m commented on #1092
Hey @benjamindally, look at this link for installation https://docs.fedoraproject.org/en-US/quick-docs/installing-java/#_installing_openjdk_for_development

Don't hesitate if I can help you

[2020-11-06 01:00] testforstephen commented on #1692
`F5` -> debug
`Ctrl + F5` -> run

It will run the Java file in the current active editor.

[2020-11-06 04:41] testforstephen commented on #1528
Here is a sample to reproduce the issue.
[TestGradle.zip](https://github.com/microsoft/vscode-java-debug/files/5496156/TestGradle.zip)

For example, a multi-project build could be like this. When opening the root folder, jdt.ls should detect the root folder as a gradle project.
[code]

[2020-11-07 22:07] sdegutis opened #1693 "Support @Nullable annotations?"
It'd be cool if the VS Code Java extensions could recognize that a method is annotated with javax.annotation.Nullable and then warn if it notices potential null-exception usages. I have no idea if this is possible in this plugin or where the appropriate place to request it as a feature would be. But your plugins are generally awesome so I wanted to suggest it as a further improvement. Thanks for t

[2020-11-10 00:13] ryanpagefico opened #1696 "java.home not being honored in a remote development environment"
When attempting to use this extension in a remote development environment with SSH, the java.home property seems to be ignored and the "Install JDK 11" message pops up. I have jdk11 installed on my virtual machine and the path is correct.

##### Environment
- Operating System: centos 7
- JDK version: openjdk11
- Visual Studio Code version: 1.50
- Java extension version: 0.70.0

##### Steps To Repr

[2020-11-10 00:18] #1696 closed

[2020-11-10 00:19] ryanpagefico commented on #1696
For those like me unaware, there is a specific settings.json for remote development environments.

[2020-11-10 07:30] bphariharan1301 commented on #690
are you sure that it's working??
Since, i tried and its not working..

[2020-11-10 08:11] ak0ska commented on #1295
Is there any solution for this issue? I have the same problem, being unable to exclude code blocks from formatting.

[2020-11-11 10:36] chiragai commented on #1660
I have the same problem but I am using maven for the build.
This are the dependency which I am using
`<dependency>
      <groupId>org.mapstruct</groupId>
      <artifactId>mapstruct</artifactId>
      <version>${mapstruct.version}</version>
    </dependency>
    <dependency>
      <groupId>org.mapstruct</groupId>
      <artifactId>mapstruct-processor</artifactId>
      <version>${mapstruct.version

[2020-11-12 04:37] CsCherrYY commented on #1295
Could you find the setting `org.eclipse.jdt.core.formatter.use_on_off_tags` in the profile? This setting should be set to `true` to enable the disabling_tag and the enabling_tag.

[2020-11-12 07:42] ak0ska commented on #1295
I had a look and it was set to `false`. After changing the configuration and restarting the editor the tags work as expected. Thank you for your help! 😄

[2020-11-12 20:45] snjeza commented on #1132
I can't reproduce the issue.
@W4RH4WK @msoucy @Itachi-Shinobi @kumom Could you attach your settings.json (File>Preferences>Settings) and server logs (https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#turn-on-message-tracing-between-vs-code-and-the-java-language-server)?

[2020-11-12 21:11] W4RH4WK commented on #1132
@snjeza Took me some time to reproduce it in some way. It appears to happen when a file is checked / compiled. For what it's worth, this is what I did:

[code]

I removed the line `import BlackJack.model.Player.Action;` and immediately hit format document. This was the result:

[code]

Here is the [trace.txt](https://github.com/redhat-developer/vscode-java/files/5533318/trace.txt).

Global setting

[2020-11-12 21:18] snjeza commented on #1132
@W4RH4WK Could you attach your project?

[2020-11-12 21:22] W4RH4WK commented on #1132
@snjeza https://github.com/tobias-dv-lnu/blackjack_java I've only made minor modifications, nothing that should be related to the bug. `Player.Action` is an inner enum I've just added:

[code]

[2020-11-12 21:50] snjeza commented on #1132
I still can't reproduce the issue.

Game.Observer doesn't exist.

Could you try to call the "Java: Clean the Java language server workspace" command, select "Restart and delete" and try to reproduce the issue?

[2020-11-12 23:28] W4RH4WK commented on #1132
It is not easily reproducible even on my system. The provided example behaved differently upon multiple undo + format document actions. Also it took me about 20 minutes to encounter it. I seem to remember that closing and reopening the document resolves the issue. Hence, I suspect restarting the language service would also resolve the issue, yet I was unable to get there. If I find the time to giv

[2020-11-13 03:59] tigerinus commented on #1406
I encountered the same issue. I had to mv the ./x.y.z folder to ./x/y/z to work around the problem.

[2020-11-13 05:15] SnapperGee commented on #1406
That's the issue though. It's a valid Java feature and offers greater flexibility when it comes to structuring a package or module with a structure and naming convention such as `./x.y/z`. Restructuring the project so it's `./x/y/z` can affect how it's implemented and is a work around for a bug that should be fixed.

Thanks for the reply though! I appreciate it! :D

[2020-11-13 08:52] fbricon opened #1697 "method snippets need to be type aware"
When in the body of an interface, the `public_method` snippet inserts:

[code]

instead of
[code]

There might be a way to return an interface-friendly snippet, depending on the context. Same issue with the `private_method` snippet.

Actually, a bunch of snippets irrelevant to the interface body context are proposed: `try_catch`, `try_resources`, `switch`, `ctor`, `protected_method`. We shouldn't

[2020-11-13 10:14] bitcoder commented on #546
Disabling Java Linter extension solved my problem, too.

[2020-11-13 11:23] schmalzi-compax commented on #878
This is an annoying bug, would be great to have it fixed in further releases.

[2020-11-13 15:33] hanct commented on #1008
Is this setting enabled by default? Cos the guide does not state the default

[2020-11-13 16:23] dsyer commented on #1008
The default is `true` (so both Gradle and Maven try to build the project if both are available).

[2020-11-13 16:28] hanct opened #1698 "Is my configuration of java.import.exclusions correct?"
vscode-java:0.68
OS: windows 10

Hi all,

I have a workspace folder which contains 2 subfolders called Frontend and Backend.
I have set the "java.import.exclusions":["workspace/Frontend"], but everytime i reload my vscode IDE, it keep importing the project inside the Frontend folder, why is that so?

I even try "java.import.exclusions":["\*\*workspace/Frontend/\*\*"],  but still no avail.  Am i se

[2020-11-13 17:00] snjeza commented on #1698
@hanct could you try
[code]

[2020-11-13 17:08] hanct commented on #1698
Thanks for the suggestion. I try it, but still no avail, it stilll try to import the stuff inside the Frontend folder.

2a73934a Importing Gradle project(s): 47% D:\Projects\Source_Codes\SmartKlik_CSV_Aggregator\workspace\Frontend\CSV_Aggregator\node_modules\@angular-devkit\build-angular [465/1000]

My target is to avoid importing anything except for the projects inside the Backend folder.

[2020-11-13 17:17] snjeza commented on #1698
@hanct could you try to call **Java: Clean the Java language server workspace** and click **Restart and delete**?

[2020-11-14 02:16] hanct commented on #1698
Hi, I try it now, and saw that it is currently in the midst of initializing workspace, and i saw that it is also intializing the folder in Frontend too. Is this initializing of workspace, anything to do with java.import.exclusions?
![image](https://user-images.githubusercontent.com/4410920/99136738-b2e57f00-2661-11eb-9a7c-7792c86092c4.png)

After initializing ended, my Java dependencies look like

[2020-11-14 02:59] hanct commented on #1084
what does it mean by "include a parent directory"?  How does the ordering works? Wonder if there is any guide that explains this in details.

[2020-11-14 03:03] snjeza commented on #1698
@hanct you can try the following settings:

[code]
and call **Java: Clean the Java language server workspace**, click **Restart and delete**

[2020-11-14 03:18] snjeza commented on #1084
if you want to include only the **/quarkus/bom/*, you have to set the following:
[code]
**!** means _include_ instead of _exclude_.

[2020-11-14 05:55] hanct commented on #1698
Hi,
Tried, still no avail after cleaning the workspace, restart and delete.
![image](https://user-images.githubusercontent.com/4410920/99140821-12eb1e00-2680-11eb-8f71-2158e0472e38.png)

The initializing of the workspace still include the CSV_Aggregator in the frontend folder. Finally I still got this
![image](https://user-images.githubusercontent.com/4410920/99140830-239b9400-2680-11eb-8a1e-d9b57

[2020-11-14 12:53] plachta11b commented on #1543
@jjoker0110 thanks. That helps to solve my problem.

I have got path bellow by running `echo $JAVA_HOME` in the **openjdk:11** container.

Setting **java.home** in my **devcontainer.json** was probably enough to make it run.

[code]

I installed gradle too. I do not know if I had to.
[code]

[2020-11-14 16:27] snjeza commented on #1698
@hanct check your workspace settings.json

![workspace](https://user-images.githubusercontent.com/388609/99151906-9f0c3e00-269e-11eb-9b34-af4a540b0743.png)