[2021-04-16 18:51] rgrunber commented on #1862
I would maybe even go a step further and support path mappings with terms like {{path}}, {{fileName}} {{fileDir}}, {{fileNameNoExtension}} etc. and have the list of candidates checked that way.

[2021-04-16 19:07] ENTPRESTIGIOUS commented on #1879
Ahh okay, thought you guys forgot. Well thanks!

[2021-04-16 19:08] #1879 closed

[2021-04-16 19:48] snjeza commented on #548
@zmunro  could you send your setting.json and [server log](https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#enable-logging)

[2021-04-16 23:54] snjeza commented on #1834
@rothfels could you attach your settings. json or the java.format.settings.url property?

[2021-04-17 01:18] rothfels commented on #1834
`"java.format.settings.url": "file:developers/code-style.xml",`

^ we modified it to workaround https://github.com/redhat-developer/vscode-java/issues/1827

[2021-04-17 02:18] rothfels commented on #1834
Removing `java.format.settings.url` fixes the problem, so pretty clear the regression is from #1827

[2021-04-17 06:51] jonathanvila commented on #1883
Well, I can do exactly the same process with any other variable or method :
right button, alt+enter will show the menu, and in my case super+r, but
none work in the lambda placeholder...
Does it work for you?

El vie., 16 abr. 2021 11:01, Fred Bricon ***@***.***>
escribió:

[2021-04-17 14:03] snjeza commented on #1834
@rothfels Could you try
[code]

[2021-04-17 17:57] rothfels commented on #1834
@snjeza yes, that also fixes the problem. Thank you.

[2021-04-17 18:22] l3alr0g commented on #962
Same issue here, this is very annoying when implementing many interface methods.

[2021-04-17 21:46] tylertian123 commented on #962
Upon some more experimentation and a closer look at the Javadoc tool's documentation, I noticed that this actually isn't an issue with the `{@inheritDoc}` tag. According to [the docs](https://docs.oracle.com/javase/6/docs/technotes/tools/solaris/javadoc.html#@inheritDoc), an `{@inheritDoc}` in the main description should only copy over the main description itself. Putting more `{@inheritDoc}` tags

[2021-04-17 21:49] tylertian123 commented on #962
Strangely, this seems to work for `@return` tags, but not `@param` tags or `@throws` tags...

[2021-04-17 22:02] maxandersen opened #1890 "vscode sometimes does not detect .java files and thus no code action or content assist available"
I see that eventually my jbang setup projects vscode stops "seeing" the main .java file.

it is in file explorer, but not in java projects - it just sees the src directory not the content inside it.

sometimes minutes later it will show up. others it just never showsup .

##### Environment
- Operating System: osx
- JDK version: 11
- Visual Studio Code version: both vscode and vscodium
- Java exten

[2021-04-17 22:44] l3alr0g commented on #962
Thank you ! It does indeed work, I just tested it 😄

[2021-04-18 05:09] tylertian123 commented on #962
This seems to be an issue in the Eclipse JDT language server instead, since that's what provides the hovers.

[2021-04-18 17:18] Summer-Shen commented on #1890
Ain't sure if this is the same thing, but recently my VS Code isn't "detecting" some of my Java files either. I use the Leetcode extension, and in recent days I'm not getting coding assistance I used to have (i.e. no highlighting for some variables) when I try to write Java code into the leetcode Java files. My `.leetcode` directory doesn't have a `.vscode` dir in it, but things worked fine before

[2021-04-18 18:49] snjeza commented on #1890
I have tried to reproduce the issue on Windows and Linux, nut haven't succeeded.

[2021-04-19 04:15] tigerinus commented on #1875
I am seeing the same issue here. @jonathanvila - is this still happening to you?

My environment:

Version: 1.55.2 (system setup)
Commit: 3c4e3df9e89829dce27b7b5c24508306b151f30d
Date: 2021-04-13T09:35:57.887Z (5 days ago)
Electron: 11.3.0
Chrome: 87.0.4280.141
Node.js: 12.18.3
V8: 8.7.220.31-electron.0
OS: Windows_NT x64 10.0.19042

[2021-04-19 08:25] testforstephen commented on #1886
Opening a package folder 'Chapter10' as root doesn't work, you must open a parent directory containing the packages.

For example, you could create another root folder such as 'Exercise', and put 'Chapter10' folder under it, then open 'Exercise' in VS Code.

[code]

[2021-04-19 17:39] snjeza commented on #1865
@Yanpas could you try the following:

- close VS Code
- remove the .project, .classpath and .settings files/directories
- start VS Code

[2021-04-19 23:20] rgrunber opened #1892 "Intermitent test failures in "should register all java commands""
On the build job, this only fails on Mac but I have been able to reproduce the failures locally as well on Linux.

[code]

[2021-04-20 03:46] ganzah commented on #1854
Hi! Any update on this one? Version 0.77 was released, but I'm still having problems using java 16.

[2021-04-20 05:49] rsrini7 commented on #1802
Is it possible to use environment variable to locate the jar ?
Tedious to sync between multiple users or operating systems.
export LOMBOK_JAR_LOCATION=/home/rsrini/lombok/lombok.jar
set LOMBOK_JAR_LOCATION=c:\lombok\lombok.jar

"java.jdt.ls.vmargs" : "<other-vm-args> -javaagent:\"${env:LOMBOK_JAR_LOCATION}\""

[2021-04-20 08:25] #1825 closed

[2021-04-20 08:29] fbricon commented on #1510
Closing as stale

[2021-04-20 08:29] #1510 closed

[2021-04-20 09:30] fbricon commented on #1854
We had to pull it from 0.77.0, but Java 16 support will be released in a couple days at most, in 0.78.0. In the meantime, you can test the latest CI build in https://download.jboss.org/jbosstools/jdt.ls/staging/?C=M;O=D

Fixed with #1891

[2021-04-20 09:30] #1854 closed

[2021-04-20 09:51] fbricon commented on #1855
The next best way to compile against JavaFX, if you're not using Maven or Gradle, is to compile against a JDK including the Java FX libraries. Easy to install with [SDKMan](https://sdkman.io/):

[code]
Install any of the liberica or zulu distros suffixed with fx. eg. `sdk i java 11.0.10.fx-librca`

Now, if you want to stick to a custom JavaFX installation, you can do it that way:
- Open your vscod

[2021-04-20 17:27] fbricon commented on #1518
It's the same thing in Eclipse IDE. It could be a bug of the ECJ compiler, or a "feature". Maybe @stephan-herrmann or @rgrunber might be able to tell.

[2021-04-20 18:07] stephan-herrmann commented on #1518
`strAll += inputLine` is a "compound assignment expression". Because this is a built-in structure of Java, ecj knows about the specifics of this construct, in particular it tracks that the implicit read doesn't create a data flow from `strAll` to another variable or argument.

`strAll = strAll + inputLine`, however is just one out of a myriad of forms, where the human reader will readily see that

[2021-04-20 18:42] fbricon commented on #1518
@stephan-herrmann thanks for the detailed analysis, as always :-)

[2021-04-20 19:36] rgrunber commented on #1892
`vscode.commands.getCommands(true).then((commands) => {...})` sometimes returns N command and occasionally starts returning N+2 (the extra 2 commands from above). This is starting to look like some kind of timing issue.

I'm still not sure why those 2 commands are taking longer to return when there are others defined in the jdt.ls.core extension point (plugin.xml) that make their way into commands

[2021-04-20 19:38] Nacandcheese commented on #1886
That is rather odd, I have been running from a Programming 2 folder this entire time and it still refuses to work.
![image](https://user-images.githubusercontent.com/56834638/115453995-e8c8f980-a1e5-11eb-8418-3a3a7bd596be.png)
![image](https://user-images.githubusercontent.com/56834638/115453935-ce8f1b80-a1e5-11eb-993f-6a9ef78b44b0.png)
Even adding another folder wouldn't work. I can't get the cus

[2021-04-21 05:47] jdneo commented on #1254
This seems already fixed by today (0.77.0)

https://user-images.githubusercontent.com/6193897/115502805-124a5980-a2a8-11eb-83c9-89906828b05e.mp4

[2021-04-21 05:51] testforstephen commented on #1254
@jdneo thanks for verification.

[2021-04-21 05:51] #1254 closed

[2021-04-21 11:06] jonathanvila commented on #1875
@tigerinus yes, today it has started to happen with 1.55.2

[2021-04-21 13:02] Pedroteixeirabisognin commented on #743
Press CTRL + SHIFT + P, and type Java: Clean Java Language Server Workspace.
It works for me.

[2021-04-21 14:26] lorenzznerol commented on #1518
@stephan-herrmann just making sure you got it right: `strAll = strAll + inputLine;` works, `strAll += inputLine;` does not. From your answer here I read the opposite. I might be wrong.

[2021-04-21 16:19] stephan-herrmann commented on #1518
@lorenzznerol  Define "works" :)

Are you saying you don't want to see a warning?

If so, please tell me which part of the observable behavior changes when you replace `strAll += inputLine;` by `;` and then remove the variable `strAll` as the warning implicitly suggests?

[2021-04-21 16:46] lorenzznerol commented on #1518
@stephan-herrmann Yes it was about not to get the warning that is shown when using `strAll += inputLine;`. And I am afraid I cannot test it now when not using `strAll` at all, but I guess it will throw the same warning. Good idea to check that, though I think I had done that before raising the issue.

I do not have a Java environment installed now and will not do it only to test this here. It is n

[2021-04-21 17:38] datho7561 commented on #1875
@fbricon @rgrunber From the stack trace, it looks like lsp4mp is being passed a project without a filepath location. We can add a null check to prevent the project being added to the list of projects to listen to changes on. I wasn't able to reproduce the bug. I am running vscode-java 0.77.0

[2021-04-21 19:42] stephan-herrmann commented on #1518
@lorenzznerol  That's where we disagree. The warning (where it is given) is good, as also confirmed by the accepted answer on StackOverflow. That same answer only expressed a surprise that the warning is given _only_ in one case, not the other. The reason behind that is what I explained in my first comment here.

[2021-04-21 20:13] lorenzznerol commented on #1518
@stephan-herrmann got it. The warning is good, what a convincing idea, I withdraw my recent remarks. Strangely, I must have forgotten this core idea. It was just too long ago, I should have read it again.

[2021-04-21 20:15] stephan-herrmann commented on #1518
Thanks for confirming :)

[2021-04-22 04:04] PPPPzzz commented on #1390
I have the same problem when using 'package package_name' , my solution is that clost it and open it again....

[2021-04-22 18:21] Stwissel commented on #1271
I have that issue unresolved. My -workspace file
[code]

eclipse-java-google-style.xml is present, but the "don't merge lines" directive is ignored and lines clobbered together. What do I miss?

[2021-04-22 19:29] Stwissel commented on #1271
Awesome, that worked. Thx a lot!

[2021-04-23 09:31] jonathanvila opened #1895 "After checking out a PR , intellisense almost doesn't work"
Hitting ctrl+space on classes, annotations, it says "No suggestions" just after checking out a PR

##### Environment
- Operating System: Fefora 33
- JDK version: 11.0.9
- Visual Studio Code version: 1.55.2
- Java extension version: 0.77.0

##### Steps To Reproduce
1. Checkout project from PR
2. Press ctrl+enter in several classes
![image](https://user-images.githubusercontent.com/1836434/115851503

[2021-04-23 16:52] neel-suthar commented on #454
Yup!! Having the same issue. So anybody working on it ??

[2021-04-23 17:16] fbricon commented on #454
It was fixed upstream today: https://bugs.eclipse.org/bugs/show_bug.cgi?id=532366#c16

It might take a few weeks before we can consume those bits.

[2021-04-23 21:51] Rafi-99 opened #1896 "Java 16 Support"
Is there any Java 16 Support? I am having problems with trying to get my code to compile.

![Screenshot 2021-04-23](https://user-images.githubusercontent.com/58924129/115932922-8d9c3e80-a453-11eb-9e2e-a7455742f616.png)

![image](https://user-images.githubusercontent.com/58924129/115933147-e66bd700-a453-11eb-8399-7bff2e3a33fe.png)

[2021-04-24 10:50] wduminy commented on #1865
@snjeza  I also get this error .

My use-case is a little different.  What I have is a a `pom.xml` with multiple modules.
The error message is `Missing Gradle project configuration file: .settings/org.eclipse.buildship.core.prefs`

Same stack-trace as [reported above](https://github.com/redhat-developer/vscode-java/issues/1865#issue-851456888).

Looking closer at this line
[code]
The path `junder/

[2021-04-24 11:03] vitor-cardoso-tdx commented on #594
Any new on this one? I was deciding move out from vscode just because I cannot use it fully integrated with maven / maven-tiles.

[2021-04-24 13:16] wduminy commented on #1865
After I created a new directory for my pom module and copied the `scr` directory and the `pom` file from the old directory and  the problem went away.  I did originally copy the entire folder from a _gradle_ project.

[2021-04-25 01:33] zhouxinghong opened #1897 "Hello! Vscode does not support hot replacement when modifying the code in the debugging state. It does not work as well as Eclipse and Interllij IDEA. It needs to be restarted manually every time, which is very frustrating! Hope to solve this problem first. Thank you!"
Issue Type: <b>Bug</b>

Hello! Vscode does not support hot replacement when modifying the code in the debugging state. It does not work as well as Eclipse and Interllij IDEA. It needs to be restarted manually every time, which is very frustrating! Hope to solve this problem first. Thank you!
![热替换不支持](https://user-images.githubusercontent.com/54253524/115977305-4c1da780-a5a9-11eb-962e-8ccd85ebd920

[2021-04-25 02:32] zhouxinghong opened #1898 "Hello! Vscode does not support hot replacement when modifying the code in the debugging state. It does not work as well as Eclipse and Interllij IDEA. It needs to be restarted manually every time, which is very frustrating! Hope to solve this problem first. Thank you!"
Issue Type: <b>Bug</b>

Hello! Vscode does not support hot replacement when modifying the code in the debugging state. It does not work as well as Eclipse and Interllij IDEA. It needs to be restarted manually every time, which is very frustrating! Hope to solve this problem first. Thank you!
![热替换不支持](https://user-images.githubusercontent.com/54253524/115977305-4c1da780-a5a9-11eb-962e-8ccd85ebd920

[2021-04-25 02:37] zhouxinghong opened #1899 "Hello! In the process of writing Java generic types, vscode cannot automatically display generic tags like Eclipse, such as: "Map<T>, List<T>...". In some cases, for example, contact a brand new In the case of a generic type, then in the code suggestion list, I am not sure whether it is a generic type or a normal data type, and what generic type parameters it needs to pass, and other information, I don’t know. . . . Hope this problem can be solved first. Introduce Eclipse's Java generic code completion mechanism into vscode. Thank you!"
Deprecated. . .

[2021-04-25 03:10] testforstephen commented on #1898
Hot Code Replace on "Delete method" is not supported, this is by design. This is the same behavior as Eclipse.

If you want more discussion about HCR, please open an issue at https://github.com/microsoft/vscode-java-debug/issues

[2021-04-25 03:10] #1898 closed

[2021-04-25 03:11] testforstephen commented on #1897
duplicated with https://github.com/redhat-developer/vscode-java/issues/1898

[2021-04-25 03:11] #1897 closed

[2021-04-25 03:17] zhouxinghong commented on #1898
The hot replacement function of vscode has never been successful at any time, but Eclipse supports it in most cases.
Will this problem not be improved in the future?

[2021-04-25 03:21] testforstephen commented on #1898
That's not true. VS Code Java debugger is using the same method as Eclipse for hot reloading.

Again, please open an issue at https://github.com/microsoft/vscode-java-debug/issues, and reproduce same code snippet you want to hot reload.

[2021-04-25 03:56] zihengCat opened #1900 "Extension in Visual Studio marketplace version 0.77.0 does not support JavaSE-16"
Visual Studio Marketplace version `0.77.0` does not support `JavaSE-16`.

![Screen Shot 2021-04-25 at 11 54 02](https://user-images.githubusercontent.com/19472493/115980169-08349d80-a5bd-11eb-8fa7-5ec34c07f06a.png)

##### Environment
- Operating System: `Mac OS X 10.11.6 (15G31)`
- JDK version: `AdoptOpenJDK-16.0.1+9`
- Visual Studio Code version: `1.55.2`
- Java extension version: `0.77.0`

[2021-04-25 04:35] mrigankdembla opened #1901 "'java.apply.workspaceEdit' failed. error while auto importing"
Whenever we are trying to do Alt+Enter for importing the package of any Java Class, we are seeing this error everytime "Running the contributed command: 'java.apply.workspaceEdit' failed." and it doesn't work

[2021-04-25 13:54] erfanara commented on #1855
Thank you so much 👍👍 now it works even with default packages of my distro

[2021-04-25 13:54] #1855 closed

[2021-04-26 04:37] Sheshya opened #1902 "Can anyone tell me how to use Eigen library in VS Code for C++ project?"
[provide a description of the issue]

##### Environment
- Operating System:
- JDK version:
- Visual Studio Code version:
- Java extension version:

##### Steps To Reproduce
1. [step 1]
2. [step 2]

[Please attach a sample project reproducing the error]
[Please attach logs](https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#enable-logging)

##### Current Result

##### Expected Res

[2021-04-26 13:12] YaduAhuja opened #1903 "Auto Import in Snippets"
Does anybody know how to auto-import classes when we are using snippets in vs code?
I want the functionality as of the templates in eclipse where we can specify which classes to import when snippets are triggered.

[2021-04-26 18:01] lilbigboy123 opened #1904 ""Cannot create linked resource. Local location does not exist""
The extension fails to work or display any syntax highlighting following this error in the logs:
`
{
  message: '[Error - 1:54:11 PM] Apr 26, 2021, 1:54:11 PM Failed to create linked resource from PATH' +
    "Cannot create linked resource.  Local location 'PATH' does not exist.\n" +
    "org.eclipse.core.internal.resources.ResourceException(/jdt.ls-java-project/src/Arrays.java)[269]: java.lang.Ex

[2021-04-26 18:37] snjeza commented on #1904
@lilbigboy123 Could you attach a project example?

[2021-04-27 05:24] jdneo commented on #1902
Suggest to ask the question in either `StackOverflow` or [VS Code Cpp extension repo](https://github.com/microsoft/vscode-cpptools). It's recommended to ask VS Code Java related questions in this repo.

[2021-04-27 06:36] TomerFi commented on #1896
https://github.com/redhat-developer/vscode-java/issues/1879#issuecomment-821414335

[2021-04-27 06:36] TomerFi commented on #1900
https://github.com/redhat-developer/vscode-java/issues/1879#issuecomment-821414335

[2021-04-27 06:59] #1896 closed

[2021-04-27 09:13] itaygoz opened #1905 "Refactor method signature"
##### Environment
- Operating System: WIN10
- JDK version: 11
- Visual Studio Code version: 1.55.2
- Java extension version: 0.77.0

There is no option to refactor method signature as in Eclipse.
I would like to have this feature here.

Thanks, Itay

[2021-04-27 15:06] kdaham commented on #1900
Any ETA on when 0.78 will be released?

[2021-04-28 02:42] biom4st3r opened #1907 "User defined annotation warning"
Could a user defined list of Annotation and Warnings be added to the config?  I'd like to be warned when i'm using a method/field annoation with, say, `org.jetbrains.annotations.ApiStatus.Internal`

[2021-04-29 03:40] testforstephen opened #1910 "Static css resources are not compiled by Java builder"
When opening https://github.com/spring-projects/spring-petclinic in VS Code, everything is fine except that static css resources are not compiled. The reason for this is that this project uses a 3rd party maven plugin wro4j-maven-plugin to generate css from less files, but the plugin does not seem to be executed by Java builder of VS Code Java extension.

[code]

[2021-04-29 03:42] testforstephen commented on #1910
A workaround is to configure an inline m2e lifecycle mapping for wro4j-maven-plugin.

[code]

[code]

[2021-04-29 07:51] testforstephen commented on #1910
This issue is similar as https://github.com/redhat-developer/vscode-java/issues/935 and https://github.com/redhat-developer/vscode-java/issues/177, where some custom source generation maven goals are not executed by m2e builder.

Since it is not trivial to improve m2e to automatically recognize these 3rd party maven plugins, one idea in my mind is that we provide quick fixes in the pom.xml if ther

[2021-04-29 10:17] jonathanvila opened #1912 "Suddenly all my imports are not recognised"
[provide a description of the issue]
![image](https://user-images.githubusercontent.com/1836434/116534167-7beae900-a8e2-11eb-9645-f3010e6968f7.png)

##### Environment
- Operating System: Fedora 33
- JDK version: 11.0.9
- Visual Studio Code version: 1.55.2
- Java extension version: 0.77.0

##### Steps To Reproduce
1. Suddenly all my imports are red

[Please attach a sample project reproducing the e

[2021-04-29 10:25] fbricon commented on #1912
Did you execute a maven clean build from a terminal?

[2021-04-29 10:50] jonathanvila opened #1913 "After adding "." in a builder, the previous expression goes red and no member is shown in intellisense"
[provide a description of the issue]

##### Environment
- Operating System: fedora 33
- JDK version: 11.0.9
- Visual Studio Code version: 1.55.2
- Java extension version: 0.77

![image](https://user-images.githubusercontent.com/1836434/116539590-4c8baa80-a8e9-11eb-8c65-1e836a9c1734.png)

![image](https://user-images.githubusercontent.com/1836434/116539518-367dea00-a8e9-11eb-9eaa-9e7639831c5b.png)

[2021-04-29 12:39] fbricon commented on #1912
Can you try the `Java:Force Java Compilation`  > `Full` command?

[2021-04-29 13:02] jonathanvila commented on #1912
I do that during all day. I edit on vscode and usually do ./mvnw quarkus:dev  , but sometimes I do a mvn clean

[2021-04-29 13:03] fbricon commented on #1912
doing a clean build deletes the classes jdt.ls relies on, so it freaks out. `Java:Force Java Compilation ` usually fixes it

[2021-04-29 13:22] jonathanvila commented on #1912
:+1:  I will try next time it happens.

[2021-04-29 14:52] snjeza commented on #1913
@jonathanvila could you try the following settings:

[code]

[2021-04-29 15:49] snjeza commented on #1913
I can't reproduce the issue.

![tackle](https://user-images.githubusercontent.com/388609/116580001-401c4780-a913-11eb-9aac-bfb797d0ea14.gif)

[2021-04-29 18:29] rubensa opened #1915 "After upgrade from v0.77.0 to v0.78.0 can't debug tests"
After upgrade from v0.77.0 to v0.78.0 can't debug tests, only execute them

##### Environment
- Operating System: Linux
- JDK version: 11
- Visual Studio Code version: 1.55.2
- Java extension version: 0.78.0

##### Steps To Reproduce
1. Open a maven project with JUnit tests
2. Try run the test in debug mode

##### Current Result
An error message appears and the test can't be run

##### Expected Re

[2021-04-29 19:39] jackHedaya commented on #274
I have been encountering this issue recently as well. My solution was to add

[code]

to `.vscode/settings.json`.

[2021-04-29 19:50] victor-k-lee commented on #1915
Got the same issue, thank you for the workaround.

[2021-04-29 21:01] ruhrieGD commented on #1915
Similar issue here. Can't debug anything though. Additionally, the "java.format.settings.url" setting is no longer being respected on 0.78.0. Downgrading fixed it. I suspect these are related.

[2021-04-29 22:00] rothfels commented on #1915
Yep, same issue for our team. No issues on v0.77.0.

[2021-04-29 23:30] fbricon commented on #1915
This is a downstream issue, vscode-java-debug needs to be recompiled. See https://github.com/microsoft/vscode-java-debug/issues/995

[2021-04-30 03:08] snjeza commented on #1915
@ruhrieGD Could you show your  "java.format.settings.url" property?

[2021-04-30 03:09] snjeza commented on #1915
You may want to take a look at https://github.com/microsoft/vscode-java-debug/issues/995#issuecomment-829762880

[2021-04-30 08:09] testforstephen commented on #1915
Hi, I just released a hotfix release 0.33.1 for "Debugger for Java" extension. It will work with both vscode-java@0.77.0 and 0.78.0. Please have a try. thanks.

[2021-04-30 08:09] #1915 closed

[2021-04-30 08:25] zihengCat commented on #1900
Version 0.78.0 released, JavaSE-16 has been supported.
![Screen Shot 2021-04-30 at 16 23 25](https://user-images.githubusercontent.com/19472493/116668856-753a9f80-a9d0-11eb-92cf-f6f80f8b624c.png)

[2021-04-30 08:26] #1900 closed

[2021-04-30 16:28] gline9 opened #1917 "Formatter doesn't load format config after update"
After updating to the latest version of the plugin, the format configuration configured no longer is used when formatting files through vscode.

##### Environment
- Operating System: Windows
- JDK version: 11
- Visual Studio Code version: 1.55.2
- Java extension version: 0.79.0

##### Steps To Reproduce
1. Place eclipse xml file on the file system tested with version 18 format
2. Configure url to

[2021-04-30 16:34] fbricon commented on #1917
Can you please share a sample project reproducing this issue?

[2021-04-30 16:59] snjeza commented on #1917
@gline9 could you attach an eclipse xml file example?

[2021-04-30 18:01] gline9 commented on #1917
I've created a minimal reproduction (left the xml file as is besides changing some names) [here](https://github.com/gline9/vscode-java-format-reproduction).

To reproduce format the provided java file, notice that the curly brace for the class is joined back to a single line instead of multiple lines as is configured in the xml file.

It also looks like the issue persists with relative paths inste

[2021-04-30 19:44] sergiobuffon opened #1918 "jjj"
Issue Type: <b>Performance Issue</b>

hhhggg

Extension version: 0.34.0
VS Code version: Code 1.27.2 (f46c4c469d6e6d8c46f268d1553c5dc4b475840f, 2018-09-12T07:04:11.329Z)
OS version: Darwin x64 17.7.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-4570R CPU @ 2.70GHz (4 x 2700)|
|GPU Status|2d_canvas: enabled<br>checker_imaging: disabled_off<br>flash_3d

[2021-04-30 19:44] #1918 closed

[2021-04-30 23:59] xtianus79 commented on #1379
I don't get it. Is there other code clean up and save actions that are on save. This post is almost over a year old.

[2021-05-01 00:00] xtianus79 commented on #1626
@jdneo  and @testforstephen is there any update on this a year later?

[2021-05-01 06:48] qqbuby commented on #1390
I have the same problem:

1. open a folder with vs code, and create a pom.xml to support multiple modules.
2. create a maven project with Spring Initializer, e.g. demo1
3. now, the new project demo1 will not be recognized for 'xxxx.java is not on the classpath of project xxx, only syntax errors are reported'

- - -

btw, i can clean .classpath file (e.g. `git clean -dfx`) and reopen the folder wit

[2021-05-01 11:17] andremeiras commented on #1390
I had the same problem here, but I guess that I managed to solve this, just moving the '.vscode' folder into the project folder. Into that have a JSON file pointing to the project path. When I oppened that I've tried to change the path, but had no success. When I moved the entire folder, and after restart VS Code, the error disapeer. Then, I ran a HelloWorld.java test, and it worked for me.

[2021-05-01 11:36] Sushmita-kan commented on #107
try this --> https://www.geeksforgeeks.org/how-to-set-classpath-in-java/
This has helped me with the same warning.

Let me know if this works for you.

[2021-05-01 12:41] marcanpilami commented on #1917
Same here - please note I had to revert to 0.77 (as 0.78 and 0.79 both fail) so the regression is likely in 0.78.

[2021-05-01 14:04] ericsia commented on #1597
it is getting worst after vscode since 2 updates before. Whenever I save the code, it auto-format and everything get messed up.

[2021-05-01 15:10] x3rAx commented on #1917
Thanks @marcanpilami, you saved my day. With version 0.77 it works again!

[2021-05-01 15:46] snjeza commented on #1917
@gline9 @marcanpilami @x3rAx could you check https://github.com/snjeza/vscode-test/raw/master/java-0.79.1.vsix

[2021-05-01 16:06] ericbaobao opened #1919 "java.format.settings.url broke again"
After vscode update, in windows my vscode do not follow the profile anymore
in the **settings.json**, I used to set it like this:
"java.format.settings.url": "C:\\Users\\PCNAME\\AppData\\Local\\Programs\\Microsoft VS Code\\TheXmlFile.xml",
"java.format.settings.profile": "test",

I moved to this location with shorter path and tried this, it didn't work as well
    "java.format.settings.url": "file

[2021-05-01 16:21] zhouxinghong opened #1920 "After updating to 0.79, the custom formatting configuration cannot be used, and only the default formatting behavior can always be used. This is too frustrating. Why can't I directly set the java formatting behavior in VSCode?"
Issue Type: <b>Bug</b>
After updating to 0.79, the custom formatting configuration cannot be used, and only the default formatting behavior can always be used. This is too frustrating. Why can't I directly set the java formatting behavior in VSCode?

Extension version: 0.79.0
VS Code version: Code - Insiders 1.56.0-insider (4e185d8986339717e593be19bc75288905ffbb51, 2021-05-01T00:27:57.510Z)
OS ver

[2021-05-01 16:34] snjeza commented on #1919
@ericbaobao See https://github.com/redhat-developer/vscode-java/issues/1917#issuecomment-830652380

[2021-05-01 16:34] snjeza commented on #1919
A duplicate of #1917

[2021-05-01 16:34] #1919 closed

[2021-05-01 16:35] snjeza commented on #1920
@zhouxinghong  See #1917

[2021-05-01 16:36] snjeza commented on #1920
A duplicate of #1917

[2021-05-01 16:36] #1920 closed

[2021-05-01 19:00] zhouxinghong commented on #1917
java-0.79.1.vsix
It can be formatted correctly, but the following exception is still received when the java project is started. I don't know what caused it? 0.77 will not have this problem

[2021-05-01 19:52] snjeza commented on #1917
@zhouxinghong could you show your java.format.settings.url property?

[2021-05-01 20:31] x3rAx commented on #1917
This version is working and I don't have any output for "Language Support for Java" and "Language Support for Java (Syntax Server)" so I guess this is good 😅

[2021-05-01 22:13] 0dinD commented on #1597
@ericsia is this about #1597 or #1633 (or both)? Could you provide me with some details about which formatter and settings you're using? It would be really helpful if you've found a way to reliably reproduce the issue.

For the record, the issue with the semantic tokens doesn't seem to be entirely fixed, because I've still seen it happen on very rare occasions. Usually it happens when doing multip

[2021-05-01 22:23] ericsia commented on #1597
my bad, it is the bug after plugin update #1917

[2021-05-02 02:05] zhouxinghong commented on #1917
"java.format.settings.url": "D:\\tool\\Microsoft\\java-intellij-idea-style-lambda-5.xml",
or
 "java.format.settings.url": "D:/tool/Microsoft/java-intellij-idea-style-lambda-5.xml",
 Never take effect Log

[2021-05-02 04:26] OzelotVanilla commented on #1917
I think I have encountered the same problem. I have also changed the file in `.vscode\extensions\redhat.java-0.79.0\formatters\` (move my settings into this file, then comment out my original setting in `settings.json` and change format profile name to "Eclipse"), but it still format file in default java style. I have uninstalled ESlint, and I think it is not this confliction caused this bug.

[2021-05-02 10:36] Nightenom commented on #1917
same problem for me, worked fine till recent updates
[code]

[2021-05-02 13:35] snjeza commented on #1917
or
"java.format.settings.url": "D:/tool/Microsoft/java.xml",

@zhouxinghong could you try
[code]
or
[code]

[2021-05-02 13:42] snjeza commented on #1917
@Nightenom could you try

[code]
instead of
[code]

[2021-05-02 13:43] snjeza commented on #1917
@OzelotVanilla @Nightenom Can you, please, try https://github.com/snjeza/vscode-test/raw/master/java-0.79.1.vsix

[2021-05-02 13:54] OzelotVanilla commented on #1917
@snjeza Thank you. Hope the information I gave can help you solve this bug.

[2021-05-02 14:04] snjeza commented on #1917
@OzelotVanilla Yes, it helps. Thanks.

[2021-05-02 14:05] Nightenom commented on #1917
The path changes are not valid because uri can have only one colon, the file:// prefix doesn't work for the same reason. The vsix you supplied works nice using the old setting, didn't try the other paths.

[2021-05-02 15:07] snjeza commented on #1917
@Nightenom Could you try

[code]

[2021-05-02 15:55] Nightenom commented on #1917
Using live version (not the one you posted here that does work normally) - doesn't work as it's not valid URI, `file:///P:/data/final_format.xml` which is valid URI doesn't crash but doesn't work either

[2021-05-02 16:03] snjeza commented on #1917
@Nightenom Please try https://github.com/snjeza/vscode-test/raw/master/java-0.79.1.vsix

[2021-05-02 16:23] Nightenom commented on #1917
I've tried it already and already told you twice it works :)

[2021-05-02 17:59] snjeza commented on #1917
@Nightenom ok. Thank you!

[2021-05-02 18:33] 0dinD opened #1921 "A 'keyword' semantic token will sometimes appear when typing an expression"
Sometimes, when typing an expression, a `keyword` semantic token will appear, causing strange colorization.

##### Environment
- Java extension version: 0.79.0

##### Steps To Reproduce
1. Have the following code:
[code]
2. Observe that `ring.` (in the if-statement) will receive the `keyword` semantic token.

##### Current Result
`ring.` receives the `keyword` semantic token.

##### Expected Resul

[2021-05-03 09:16] apupier commented on #1874
maybe can try to call "compile" command: https://github.com/redhat-developer/vscode-java/blob/9f32875a67352487f5c414bb7fef04c9b00af89d/src/standardLanguageClient.ts#L319

[2021-05-03 10:13] future2r commented on #1917
I have a related problem. After starting VS Code, the formatter file (just "java.format.settings.url": "formatter.xml" in my case) is not found and my source files are formatted with default settings. But, when I open the file "formatter.xml", press Ctrl+S once, then everything works fine.

[2021-05-03 10:26] snjeza commented on #1917
@future2r Could you try https://github.com/snjeza/vscode-test/raw/master/java-0.79.1.vsix

[2021-05-03 12:38] gline9 commented on #1917
@snjeza https://github.com/snjeza/vscode-test/raw/master/java-0.79.1.vsix fixed the problem for me.

[2021-05-03 13:24] MeatZun commented on #1660
I have the same problem. When can you fix it?

[2021-05-03 14:11] Gaoyanei opened #1922 "Auto completion doesn't work correctly after switch case statement with lambda expression"
The auto completion can't auto complete classes‘ names for lines in and after the lambda expression.

##### Environment
- Operating System: Windows 10
- JDK version:  OpenJDK 15.0.1
- Visual Studio Code version: 1.55.2
- Java extension version: 0.79.0

My code:
[code]

##### Current Result

![image](https://user-images.githubusercontent.com/83591686/116883490-3f0f5100-ac58-11eb-8c08-09b516c4c199.p

[2021-05-03 19:50] MattMcL1221 commented on #778
What is build.gradle? I'm having the same issue and can't find a way to fix the bug as my package definitely is declared despite it saying otherwise

[2021-05-03 20:05] snjeza commented on #778
@MattMcL1221 Could you attach a project example?

[2021-05-03 20:10] #1917 closed

[2021-05-03 20:10] MattMcL1221 commented on #778
@snjeza Sorry to bother! I managed to fix it by editing whatever was in the settings.json file and then closing and reopening the VS Code app 4 times. Not sure why this happens though I feel like the program should still run fine even when trying to declare a package

[2021-05-04 02:38] sandipchitale commented on #1544
Also support static indicator icon.

[2021-05-04 03:04] sandipchitale opened #1924 "Go to Symbol in Workspace... command QuickPick should require prefix and camel case abbrivations to match types"
This is really a request for environment:

Eclipse JDT's Open Type dialog supports using *,? and camel case abbrivations to match the type names. For example:

O*Au*Conf*tion

will find all Oauth2 related auto configuration classes.

Basically what this enhancement is asking for is something equivalent of what is documented [here](https://help.eclipse.org/2021-03/index.jsp?topic=%2Forg.eclipse.jdt

[2021-05-04 08:01] jonathanklingberg commented on #1794
Sorry but this issue wasn't resolved by adding the file:// prefix to the file URI.
I had to downgrade to v0.69.0 in order to get the formatting back to a working state.

Environment
Operating System: MacOS 11.2.3
JDK version: adoptOpenJDK openjdk64-11.0.11
Visual Studio Code version: 1.55.2
Java extension version: 0.79.1
Steps To Reproduce
- Connected to this documentation; https://github.com/redh

[2021-05-04 09:24] rockneverdies55 commented on #1732
Did anyone figure out a solution for this ?

[2021-05-04 13:29] abrahammurciano opened #1925 "Java formatter switches to default settings every few days unless custom settings file is modified."
Every couple of days (this started a long time ago), the formatter stops using my custom `eclipse-formatter.xml` and goes back to use the default settings. In order to make it use mine again, I'm forced to modify the file. (I just bump the version number in the `<profiles>` tag.).

This happened when I used a URL and when I store the file locally. Currently I have the XML file in my workspace root

[2021-05-04 13:57] snjeza commented on #1925
@abrahammurciano You may want to take a look at https://github.com/redhat-developer/vscode-java/issues/1917#issuecomment-830652380

[2021-05-04 13:58] snjeza commented on #1794
@jonathanklingberg Please check https://github.com/redhat-developer/vscode-java/issues/1917#issuecomment-830652380

[2021-05-04 14:00] #1925 closed

[2021-05-04 17:07] lszomoru opened #1926 "Support Workspace Trust"
Hello :wave: I'm from the VS Code team.

Recently, we have been exploring a security feature we refer to as _Workspace Trust_. This feature is intended to centralize and unify a security conscious decision required by a variety of VS Code features. With workspace trust, the user will be able to declare whether or not they trust the folder that is opened in VS Code before these features are execute

[2021-05-04 20:22] rgrunber opened #1928 "Syntax server no longer exits once JDT server is initialized"
Using vscode-java 0.79.0 or newer, and running `watch -n1 -d 'jps -l | grep -v jps'` in some terminal, I noticed that the syntax server no longer exits once the language server has completed its startup.

##### Environment
Linux (Fedora 33)
VS Code 1.55.2

This seems to have started happening with https://github.com/redhat-developer/vscode-java/pull/1894 ( 9f32875a67352487f5c414bb7fef04c9b00af89d

[2021-05-05 02:20] ptim commented on #138
Since it hasn't been mentioned in this thread, the unmaintained extension [Java Server Pages (JSP) - Visual Studio Marketplace](https://marketplace.visualstudio.com/items?itemName=pthorsson.vscode-jsp&ssr=false#qna) is providing basic syntax highlighting, and (some?) auto complete. HTML tags don't auto complete, but it's better than nothing!

[2021-05-05 08:16] imba-tjd commented on #688
It's too crowded to have all the overloads in ctrl+space compltion list.
I didn't use other Java IDE before. Do they have the same behavior?

I think it's better to move the overloads intellisense to ctrl+shift+space (i.e. *Trigger Parameter Hints*)

[2021-05-05 08:48] fbricon commented on #688
Yes:
- Intellij IDEA
<img width="542" alt="Screenshot 2021-05-05 at 10 43 32" src="https://user-images.githubusercontent.com/148698/117116695-f4442500-ad8e-11eb-8c21-8ba9e5bc486a.png">

- Eclipse IDE
<img width="369" alt="Screenshot 2021-05-05 at 10 46 11" src="https://user-images.githubusercontent.com/148698/117116869-2b1a3b00-ad8f-11eb-9162-d231d9f2da0f.png">

- Netbeans IDE
![](https://i1.wp.co

[2021-05-05 13:18] rgrunber commented on #1928
Looks to be an upstream issue https://github.com/microsoft/vscode-languageserver-node/issues/723 .

[2021-05-05 14:36] #1921 closed

[2021-05-05 15:02] alpha037 commented on #107
So, I've found a solution (probably?) for this. Might be a silly one but it works for me.

Go ahead and delete the **workspaceStorage data** for your project every time you encounter this error.

How to do that?
1. Hit `Ctrl/Cmd + Shift + P` .
2. Type in `Java: Configure Classpath` .
3. Head over to the path specified in the `Output` section.
4. Keep navigating out of the directories until you're

[2021-05-05 15:03] rgrunber commented on #1791
I have a small draft of such a feature I can post soon. It works as follows. For every error/warning message that can actually be ignored, a code action is generated called "Ignore ${message}" . If performed, it will create/append a file under `.settings/org.eclipse.jdt.core.prefs` of the project with an entry to ignore that particular error/warning. A few things still to address :

- If an elemen

[2021-05-06 01:06] baladreams opened #1929 "Force Java Compilation returns error"
##### Environment
- Operating System: MacOS
- JDK version: OpenJDK 11.0.7
- Visual Studio Code version: 1.55
- Java extension version: 0.79.1

##### Steps To Reproduce
1. Import a Java project (for example https://github.com/jitpack/gradle-simple )
2. Preform Java: Force Java Compilation (Incremental or Full)

##### Current Result
Error window showing operation failed
![image](https://user-images.

[2021-05-06 01:48] Blaiski commented on #1005
I'm keenly waiting for this feature

[2021-05-06 06:56] CarlPer commented on #1929
I have the same issue, and I can not have autobuild set to true since it fails my maven builds

[2021-05-06 07:22] vasouv opened #1930 "Java Language Server crashed when opening Spring Boot project"
When I open a Spring Boot project in VS Code, the Language Server seems to start but instead it generates a bunch of .dmp, .trc and javacore files. Please see screenshot below.

I have set JAVA_HOME in environment variables but not in VS Code settings (knowing it will look for the env variable).

This crash happened with JDK 15 and 14 as well, when it was released. If I recall correctly, when I se

[2021-05-06 07:26] fbricon commented on #1929
I can reproduce the issue too. Independent of the build system (Gradle, Maven).

My gut feeling tells me this is caused by a change in either the LSP4J dependency on the server side, or, most likely, caused by the new vscode-languageclient 7.0.0 dependency in vscode-java

[2021-05-06 08:09] fbricon commented on #1930
Can you try with an hotspot-based JDK 16?

[2021-05-06 08:41] vasouv commented on #1930
It worked with Hotspot! It didn't occur to me to try with other than OpenJ9 because the JDK11 that worked, was OpenJ9.

Many thanks Fred!

[2021-05-06 08:41] #1930 closed

[2021-05-06 09:46] testforstephen commented on #1929
yes, looks like a breaking change in language client 7.0.0.

It adopts the [Parameter Structures](https://www.jsonrpc.org/specification#parameter_structures) concept of jsonrpc, which requires the parameter of requests and notifications MUST be an array or an object.

If you're sending a request with a primitive type parameter such as boolean, then language client will automatically convert it as

[2021-05-06 10:19] fbricon commented on #1929
@testforstephen should we open a ticket with lsp4j? Could this be an issue in other places

[2021-05-06 12:42] rubensa commented on #1929
Same error here.  This is the relevant part from Remote Extension Host log:
[code]

[2021-05-06 14:29] StrangeNoises opened #1931 ""Problem" The method methodName(ParamType) in the type ClassName is not applicable for the arguments () in lightweight syntax only mode"
I'm running in lightweight/syntax only mode. At least, I'm trying to but the error is making me wonder.

If I write a class which extends a class that's not known to vscode-java (remember, I'm trying to run in standalone mode!) and I write another method in that class *of the same name but different parameters* (so not overriding the superclass method) as a method in the superclass, and elsewhere

[2021-05-06 16:46] #1929 closed

[2021-05-06 18:27] Nacandcheese opened #1932 "URGENT - JavaFX import issues"
I have had dozens of issues as of recent, one being a classpath issue, and I thankfully got around it for the first time. It is still an ongoing issue, though, and will occasionally pop up. For now, though, I have a different issue popping up. Every time I try to import JavaFX, it states it is an invalid import, and all my code that is written specifically FOR JavaFX highlights.

Same as here:
# h

[2021-05-07 01:41] akuhelmi commented on #743
This worked. Thank you.

[2021-05-07 02:43] testforstephen commented on #1929
@fbricon, I opened an issue to ask lsp4j jsonrpc to destructure the wrapped byPosition array parameter. See https://github.com/eclipse/lsp4j/issues/553.

[2021-05-07 03:08] rgrunber commented on #1932
What JDK version are you using for the project ? Does it actually contain the javafx libraries ?

For my Linux distro, Java 1.8.0 came with an optional package that includes javafx and it worked for me. However if I set my JDK for 11 and beyond, there was no such package, and it seems like javafx is expected to be downloaded like any other library from https://gluonhq.com/products/javafx/ .

[2021-05-07 03:13] Nacandcheese commented on #1932
I sent a link to another issue I posted just a couple of weeks ago that should have the JDK and everything. Test.zip should also contain my own JDK for this, as this was a school project I am working on. I will check the link you have sent, however, and see if that does fix anything.

[2021-05-07 03:49] qqbuby commented on #1248
I have the same problem. What can I do to solve it is to reopen the root folder again after create a new sub module.

Btw, I think the vscode should refresh the project automatically.

[2021-05-07 04:02] Nacandcheese commented on #1932
Alright, I went through the installation, and set up everything. Everything works really well, and in the process, my other issue seems to have died down a bit. Thanks so much for helping, @rgrunber !

[2021-05-07 04:02] #1932 closed

[2021-05-07 06:43] wgumenyuk opened #1935 "Autocomplete doesn't work"
Unfortunately the autocomplete doesn't work after updating to JDK version 16. Setting `java.trace.server` to `verbose` reveals the following error:

[code]

I'm using Gradle 7.0 to build my projects. Has anyone encountered this issue before? Returning to an older version of the JDK didn't help sadly.

##### Environment
- Operating System: Windows 10 Home
- JDK version: 16.0.1
- Visual Studio Code

[2021-05-07 08:34] jdneo commented on #1935
This exception is raised by [test runner extension](https://github.com/microsoft/vscode-java-test) where it tries to find the test methods in the current java source file. From my understanding, it will not impact on the auto-completion feature.

The exception is caused because the following invocation returns null.

[code]

indicating that the uri of the current java source file does not exist in

[2021-05-07 09:11] fbricon commented on #1932
@Nacandcheese you need to import the JavaFX classes in your code

[code]

[2021-05-07 10:18] wgumenyuk commented on #1935
Thanks for your quick reply! Here's the sample project you requested: [issue-1935.zip](https://github.com/redhat-developer/vscode-java/files/6440808/issue-1935.zip).

[2021-05-07 11:47] lszomoru opened #1936 "Support virtual workspaces"
👋 Hi there, Martin here, from the VS Code team.

Recently we've announced the [Remote Repository feature](https://code.visualstudio.com/updates/v1_56#_remote-repositories-remotehub) that lets you browse and edit files and folders directly on GitHub.

`Open Remote Repository...` opens VSCode on a folder or workspace located on a virtual file system. We call this a **virtual workspace**. We observed

[2021-05-08 04:58] jdneo commented on #1935
I can repro this issue with JDK 16. (JDK11 works well)

An error message can be seen:

[code]

[2021-05-08 13:08] wgumenyuk commented on #1935
I'll just switch to JDK 11 for now. I guess it is a compatibility problem with this extension and JDK 16?

[2021-05-09 22:39] Rafi-99 opened #1938 "Cannot find the class file for javax.annotation.Nullable"
In previous versions of this extension, I NEVER had this error. I don't know why I am getting this error since I have no problems in IntelliJ. It doesn't make sense since my javax.annotation.Nullable import isn't giving me any problems. I have tried reloading the IDE as well as cleaning the Java Language Server Workspace.

Environment
- Operating System: Windows 10 Home
- JDK version: 16.0.1
- Vis

[2021-05-09 23:47] snjeza commented on #1938
@Rafi-99 Could you, please, attach a sample project reproducing the issue?

[2021-05-10 01:08] Rafi-99 commented on #1938
I can't attach my personal project. I tried making a couple of test projects. However, I was unable to reproduce the issue. I got different errors instead. Maybe you could guide me in how I could go about fixing the build path to see if that solves anything?

[2021-05-10 03:19] Rafi-99 commented on #1938
My .classpath file

[code]

My .project file

[code]

[2021-05-10 08:02] fbricon commented on #1938
can you attach your build.gradle file?

[2021-05-10 08:48] fbricon commented on #1935
@jdneo starting jdt.ls with Java 16.0.1 works for me, I get completion without any errors, either with a Maven or a Gradle 7 project

Please attach a sample project reproducing the issue

[2021-05-10 08:51] jdneo commented on #1935
I'm using the project the user provided here: https://github.com/redhat-developer/vscode-java/issues/1935#issuecomment-834242367

BTW, when I play with it, it's not stable repro. Sometimes it works as well on my machine. What I did is each time remove the workspace storage and reimport it again.

[2021-05-10 09:46] Rafi-99 commented on #1938
@fbricon Here you go!

[code]

[2021-05-10 10:09] fbricon commented on #1938
I created a project with the same gradle file, java 16.0.1, was able to use javax.annotation.Nullable

[2021-05-10 10:59] carlgmz opened #1939 "java.settings.url preference not working"
I want to disable globally the warning `org.eclipse.jdt.core.compiler.problem.staticAccessReceiver`. For that, I have set the preference in Eclipse, exported the preference file from Eclipse, and set the property `java.settings.url` to the exported file (I tried both a file:// URL and the absolute path). In both cases, the extension shows the disabled warning in the problems view.

##### Environme

[2021-05-10 14:31] rgrunber commented on #1939
One case I'm aware of that has issues is modifying `java.settings.url` through some external tool (eg. some other editor) while VSCode is running. It came down to having trouble responding to changes in external files (hence why project-level files work).

Not sure if this that situation, but I've seen such behaviour.

[2021-05-10 15:54] snjeza commented on #1939
@carlgmz could you try
[settings.prefs.txt](https://github.com/redhat-developer/vscode-java/files/6453360/settings.prefs.txt)

[2021-05-10 19:19] Rafi-99 commented on #1938
Alright. However, what do you think is causing my error regarding the build path since I don't get any errors when I open my project on a different IDE like IntelliJ?

[2021-05-11 06:55] carlgmz commented on #1939
Thank you, @snjeza, that worked.

I see the format is plain preferences, instead of the format produced by the Eclipse preference exportation (I was using Eclipse 2021-03). I think the [Setting global preferences](https://github.com/redhat-developer/vscode-java/wiki/Settings-Global-Preferences) guide should be updated.

Thank you!

[2021-05-11 08:02] rubensa commented on #1929
@fbricon  When can we expect this to be fixed?  Is a new version of vscode-java needed or should we check for an update of anything else?

[2021-05-11 14:32] snjeza commented on #1939
@carlgmz There is a bug. I'm preparing a fix.

[2021-05-11 16:41] rubensa commented on #1929
@snjeza Just downloaded `java-0.79.2-208.vsix` and is working as expected.

Now that I know a new **vscode-java** version needs to be published, I'll wait to tell my colleges to update (we all had to revert to version 0.77.0 to find a currently released full working version)

Thanks!

[2021-05-11 17:53] rgrunber commented on #1936
Doing a quick test on VSCode Insiders (with `"capabilities": { "virtualWorkspaces": true }`, it seems we'll need to support the `vscode-vfs` scheme for URIs on the Java language server, in addition to making sure we use proper URI API (and no file based assumptions).

[2021-05-11 20:34] rgrunber commented on #1901
Do you have a sample project on which this can be reproduced ? Are you able to see any failures in the logs ?

[2021-05-12 05:13] benzekrimohammed commented on #743
Thanks , it worked for me

[2021-05-12 09:23] clemenswasser opened #1941 "Code Workspace Classpath is corrupted after restart"
1. When I open a code-workspace with a clean Java Language Server Workspace everything works.
2. Once I restart VSCode and open any file, I get the following warning *SomeJavaClass*`.java is not on the classpath of project `*workspacename+some_random_hash*`, only syntax errors are reported`
3. When I execute `Java: Clean Java Language Server Workspace` we are back at 1.

##### Environment
- Operat

[2021-05-12 13:13] rgrunber commented on #1926
@fbricon let me know what you think. This would be very useful for Maven or Gradle projects, but after we learn more about the API, perhaps we can run invisible projects untrusted.

[2021-05-12 13:16] fbricon commented on #1926
I guess we could prolly only enable the syntax server for untrusted workspaces. I honestly haven't played with it so not sure about how to deal with it yet

[2021-05-12 15:28] rgrunber commented on #1941
I thought this might be similar to https://github.com/eclipse/eclipse.jdt.ls/issues/1764, but I'm not able to reproduce this issue. @snjeza let me know if you have any luck here.

[2021-05-12 15:30] clemenswasser commented on #1941
I remember also experiencing the issue you linked.

[2021-05-12 16:14] snjeza commented on #1941
@clemenswasser could you try https://github.com/snjeza/vscode-test/raw/master/java-0.79.3.vsix

[2021-05-12 16:58] clemenswasser commented on #1941
I have now reinstalled VSCode (including deleting configuration and cache) and am still able to reproduce this.
@snjeza Does this build that you posted contain a fix? Or why should I test it?

I have to add something:
I was previously using the `Java Extension Pack` and can still reproduce it using only `Language Support for Java(TM) by Red Hat` (`redhat.java`) and `Project Manager for Java` (vscj

[2021-05-12 17:04] snjeza commented on #1941
@clemenswasser Yes, it includes https://github.com/eclipse/eclipse.jdt.ls/pull/1766

[2021-05-12 17:06] snjeza commented on #1941
I can reproduce the issue with VS Code 0.79.1, but can't with https://github.com/snjeza/vscode-test/raw/master/java-0.79.3.vsix

[2021-05-12 17:13] clemenswasser commented on #1941
I have done some further investigations:
With the `redhat.java` extension standalone I cannot reproduce this.
Once I add any of the following extensions it does reproduce:
- `vscjava.vscode-java-test` (+ `vscjava.vscode-java-debug` this is a dependency of the Test Runner extension)
- `vscjava.vscode-maven`
- `vscjava.vscode-java-dependency`

It is really weird. I can only reproduce it when other e

[2021-05-12 18:21] snjeza commented on #1941
@clemenswasser Did you try https://github.com/snjeza/vscode-test/raw/master/java-0.79.3.vsix

[2021-05-12 18:44] clemenswasser commented on #1941
Sorry for not trying this directly. This solves the issue for me. Thank you very much 🥳
When will version 0.79.3 be released?

[2021-05-12 20:35] cforce commented on #1220
Java 8 (any most current version)
~10 Sprint Boot multi module maven projects
seems like they just fire ad-hoc (without clear relation) taking all the cpu away to 100% percent . Only killing the java process gives me back control, afterwards the process is started again, starting  to take on again until i kill it again up to 3 times, than it keeps "silent"

[2021-05-13 02:54] snjeza commented on #1941
@clemenswasser Could you try https://github.com/snjeza/vscode-test/raw/master/java-0.79.4.vsix ?

[2021-05-13 04:51] YaduAhuja commented on #1903
Thanks For Help

[2021-05-13 04:51] #1903 closed

[2021-05-13 08:57] CsCherrYY opened #1944 "Changes on the profile have no effect if there are backslashes (\\) in the format.settings.url"
If the `java.format.settings.url` has double backslashes `\\` in the path, the changes on the file will be ignored. For the formatter settings profile, changes on the profile will have no effect. if there is only forward slash or no slash at all, it works.

##### Environment
- Operating System: Windows10-21H1-19043.985
- JDK version: JDK 11.0.8
- Visual Studio Code version: 1.57.0-insider
- Java e

[2021-05-13 14:32] clemenswasser commented on #1941
This does also solve the issue for me.

[2021-05-13 16:57] zhouxinghong opened #1945 "..."
We have written the needed data into your clipboard because it was too large to send. Please paste.

[2021-05-13 22:50] jameyg42 commented on #1588
@peschue i initially had the same problem, but then i realized i only had a JRE installed in WSL.  Installing a full JDK and restarting corrected my issues (`sudo apt install openjdk-11-jdk-headless`).

[2021-05-13 23:02] Deno123 opened #1946 "Library "Attach Source" has to be done everytime"
Everytime I open a project I have to attach the src.zip of the JavaFX Libraries again. I can't seem to find an option to attach this src.zip to the libraries permanently.

On this topic I would like to know if it is possible to attach a source to more then 1 .jar file at a time.
I always have to attach the src.zip to javafx.base.jar, javafx.graphics.jar, and so on separately. Is there no way to se

[2021-05-13 23:40] snjeza commented on #1946
@Deno123 Could you attach a sample project reproducing the issue?

[2021-05-14 02:13] Deno123 commented on #1946
@snjeza
It happens for every JavaFX Project I create.
I attached a zip with one of my JavaFX project folders and the workspaceStorage folder of this project.
I hope this contains everything you need.
[JavaFXProject.zip](https://github.com/redhat-developer/vscode-java/files/6476076/JavaFXProject.zip)

[2021-05-14 04:19] 3langn commented on #270
In Android Studio, ctrl + O
![image](https://user-images.githubusercontent.com/76799726/118220604-48918800-b4a6-11eb-8d6d-5fcaa964e604.png)

[2021-05-14 04:30] Eskibear commented on #270
In VS Code, **Source actions**.

https://user-images.githubusercontent.com/2351748/118221400-1ab14100-b4b0-11eb-8343-4f91af501eb7.mp4

[2021-05-14 06:31] abdeali004 commented on #1390
In VS Code just right-click on the src folder and select the **" Add folder to Java source path"** option. If it didn't' worked, then try to remove it first by selecting **"remove the folder from Java source path"** and then adding it again.

**Restart** once when done. Hope it works for you.

[2021-05-14 06:34] abdeali004 commented on #1886
In VS Code just right-click on the _src_ (the folder which contains .java files) folder and select the **" Add folder to Java source path"** option. If it didn't' worked, then try to remove it first by selecting **"remove the folder from Java source path"** and then adding it again.

**Restart** once when done. Hope it works for you.

[2021-05-14 06:36] abdeali004 commented on #107
In VS Code just right-click on the _src_ (the folder which contains .java files) folder and select the **" Add folder to Java source path"** option. If it didn't' worked, then try to remove it first by selecting **"remove the folder from Java source path"** and then adding it again.

**Restart** once when done. Hope it works for you.

[2021-05-14 09:24] jdneo commented on #1941
This should be fixed by https://github.com/eclipse/eclipse.jdt.ls/pull/1767 I guess. @snjeza @rgrunber

[2021-05-14 13:55] rgrunber commented on #1941
Yes, the change appears to resolve the issue. Cleaning the language server workspace, or reloading the window continue to work as well with the snippet provided.

This  will be fixed i 0.79.2, which we expect to have out early next week. Feel free to re-open the issue though if the problem does persist.

[2021-05-14 13:55] #1941 closed

[2021-05-14 14:34] rgrunber commented on #1946
I'm only able to reproduce this behaviour if I trigger a "Java : Clean Language Server Workspace". The sourcepath entry for the corresponding library only gets persisted in the workspace's .classpath, so if that gets cleaned out, then that would produce what you're seeing. Are you cleaning out the workspace on every re-start/re-opening of the project ? If not then this is a bug, but I'm not able t

[2021-05-14 15:26] rgrunber commented on #1936
Some additional info : https://wiki.eclipse.org/EFS#Overview

It may not be as bad as we think assuming we just need to provide an implementation.

[2021-05-14 15:26] jakegt1 opened #1947 "Add option to ignore all proxies"
I cannot get environment variable set proxies to not apply to vscode java in any way. I do not want to set a proxy, so it would be nice to have an option to force it to ignore all system proxies.

##### Environment
- Operating System: CentOS 7
- JDK version: 11
- Visual Studio Code version: 1.56.2
- Java extension version: 0.79.1

##### Steps To Reproduce
1. Set http_proxy in bashrc
2. Vscode java

[2021-05-14 15:27] Deno123 commented on #1946
@rgrunber as far as I know I’m not cleaning out the workspace on every re-start/re-opening.
I have done a complete reinstall of vs code a few days ago (problem was present even before this) so if that is not a default setting I’m not doing it.

Do you have maybe a suggestion what I could try?
If it is a bug where is the path to the source file normally saved?

[2021-05-14 19:30] rgrunber commented on #1945
I'm able to reproduce and it seems like its enforced by the default formatter. Specifically, [`FORMATTER_LINE_SPLITS`](https://github.com/eclipse/eclipse.jdt.core/blob/master/org.eclipse.jdt.core/formatter/org/eclipse/jdt/core/formatter/DefaultCodeFormatterConstants.java#L5041), at 120 characters, and 80 for comments. There's a few ways to get around this for now :

1) Disable the formatter, which

[2021-05-15 03:02] #1939 closed

[2021-05-15 03:13] zhouxinghong commented on #1945
Thank you for your help, you are great, great, great!
1. The setting "java.format.enabled": false will disable all Java formatting, which is not what I want. I just don't want to force line breaks. You can choose line breaks to keep the format consistent with the interllij idea. Therefore it is not feasible.
3. Create your own custom format.
Create a file: never-wrap.xml
I am currently using this

[2021-05-16 16:31] #1945 closed

[2021-05-17 01:04] mattwelke opened #1948 "Problems Java(0) and Java(16777540) reported with new CLI Micronaut application"
I'm getting problems reported on the PROBLEMS tab in VS Code for a brand new application created using Micronaut Launch (https://micronaut.io/launch).

The problems are:

- The project was not built since its build path is incomplete. Cannot find the class file for io.micronaut.websocket.annotation.WebSocketComponent. Fix the build path then try building this project
- The type io.micronaut.websoc

[2021-05-17 08:39] aeschli commented on #1936
IMO it would great to get single-file functionality thinks like outline, folding and document symbols.

[2021-05-17 14:40] rgrunber commented on #1946
You could try monitoring the content of your workspaceStorage folder corresponding to the project (ie. myFirstJavaFXProject_7f257e5a)  . Specifically, the `.classpath` file. When you attach a source to a class (which corresponds to a particular jar) I would confirm that the `<classpathentry>` (in the .classpath) for the corresponding jar has a "sourcepath" attribute created that points to the sour

[2021-05-17 15:49] snjeza commented on #1946
@Deno123 Could you try to use the following .vscode/settings.json:

[code]

[2021-05-17 15:59] rgrunber commented on #1862
Actually, it looks like we support something very similar. See https://github.com/redhat-developer/vscode-java/issues/1946#issuecomment-842434515 .

We can map individual libraries to their sources with `java.project.referencedLibraries`

[2021-05-17 16:17] snjeza commented on #1946
@rgrunber No, I'm not. It is reproducible after clearing workspace.

[2021-05-17 17:35] snjeza commented on #1948
https://github.com/mattwelke/vs-code-java-micronaut-error-report

@mattwelke Could you try the following patch:

[code]

[2021-05-17 22:09] mattwelke commented on #1948
@snjeza Yup that did the trick.

![image](https://user-images.githubusercontent.com/7719209/118562628-0c2a8a00-b73b-11eb-8c36-1a064b733a50.png)

I'm new to Java and to Micronaut though, so I'm not sure exactly why that helps. Can you explain?

[2021-05-18 01:30] snjeza commented on #1948
re
[code]
See https://robintegg.com/2019/01/20/why-does-spring-initializr-set-the-parent-pom-relativepath-to-empty.html

Eclipse JDT requires the micronaut-websocket artifact at compile time because some micronaut class requires it indirectly.

[2021-05-18 11:37] vagusX opened #1951 "File contents would be strange when renaming java file name (with lombok)"
File contents would be strange when renaming java file name (with lombok)

##### Environment
- Operating System: MacOS
- JDK version: jdk8
- Visual Studio Code version: 1.56.2
- Java extension version: v0.79.1

##### Steps To Reproduce
1. Renaming on `src/main/java/com/example/foo/DataExample.java`
2. Accept additional edits from vscode-java/jdt.ls
3. You will see: the `@Data public` will be repla

[2021-05-18 14:20] mattwelke commented on #1948
My understanding of the way Maven resolves dependencies is that it will grab a transient dependency automatically, doing its best to resolve dependency conflicts. Is the problem here that Maven isn't used directly by VS Code, and instead it uses other tooling (you mention Eclipse JDT), and so I need to get it set up so that Eclipse JDT has access to the dependency at compile time?

[2021-05-18 15:30] Deno123 commented on #1946
@rgrunber I tried this and when I attach the source it actually appends the sourcepath at the corresponding .jar, like this:
`<classpathentry kind="lib" path="C:/Users/User/Documents/javafx-sdk-16/lib/javafx.base.jar" sourcepath="c:/Users/User/Documents/javafx-sdk-16/lib/src.zip"/>`.
But after closing and reopening the `.classpath` file is completely reset.
Any change I do or VSCode does to the `.

[2021-05-18 15:37] snjeza commented on #1948
Java LS (VS Code) uses [m2e](https://github.com/eclipse-m2e/m2e-core)

[2021-05-18 15:43] snjeza commented on #1946
@Deno123 you can try to set the java.project.referencedLibraries property in the user's setting.json

[2021-05-18 15:55] Deno123 commented on #1946
@snjeza Thank you works perfectly!

[2021-05-18 17:59] ivorobioff commented on #1531
I have similar issue in tests as well. It shows:
[code]

However, it compiles fine from command line and IntelliJ.

Here's a piece of code:

[code]

Here's a bit of info about my vscode

[code]

[2021-05-18 20:53] mattwelke commented on #1948
Thanks for the link. I know that I have a lot of reading up on things to do, since I still need to understand how VS Code works with Maven. But what would help me know where to look right now is to know what the issue in this case was. Did the Micronaut app created lack a Maven dependency it needs? Or is it that I didn't set up VS Code and m2e enough for this particular kind of app? Basically I wa

[2021-05-19 07:40] vagusX commented on #1951
This is the response `WorkspaceEdit` payload from jdt.ls server in vscode-java extension

![image](https://user-images.githubusercontent.com/6828924/118773045-fb9f1e80-b8b6-11eb-8eff-0943857bb4d0.png)

[code]

[2021-05-20 03:29] zhouxinghong opened #1952 "Does VS Code report an error when opening the spring5.x project Java language engine? ? ? The project framework is the combined development model of spring5.x + redis+maven. . ."
Deprecated. . .

[2021-05-20 11:18] hongguifeng opened #1954 "Code Intellisense/autocomplete very slow on big java file."
I have a java file that over 10000 lines, everytime code Intellisense/autocomplete about this class, it would take a long time (over 10 seconds ) to show the suggestion.

eclipse is fast in the same situation.

I try to I tried delete most of the code in that file, and code Intellisense/autocomplete is much faster.

Is there any way to speed up the parsing of large files?

##### Environment
- Oper

[2021-05-20 11:26] fbricon commented on #1954
can you try disabling all other Java related extensions? See if it helps?

[2021-05-20 11:36] hongguifeng commented on #1954
I have tried to disable other extensions,  including "Visual Studio IntelliCode"，and it doesn't help.

[2021-05-20 13:50] snjeza commented on #1952
@zhouxinghong Could you attach your settings.json?

[2021-05-20 16:28] wheezil commented on #1381
+1

We hit this all the time on Windows, and after blaming our anti-virus, backup software and everything else we could think of, we finally stopped using VS.code for java and everything was better.  This plugin in VS.code seems to interfere with maven builds on the command-line, leading to all sorts of weird errors, especially where there are code-generation steps involved.  It often manifests as

[2021-05-20 17:22] DeegC commented on #1381
I have the same problem as wheezil on Linux.  It seems worse in projects with code generation.  On vanilla projects vscode is ok but in workspaces with code generation it is near unusable.

[2021-05-20 18:04] snjeza commented on #1947
@jakegt1 could you try to add
[code]

[2021-05-20 20:16] zguesmi commented on #1884
@testforstephen I am sorry I missed your request. My IntelliCode extension version is `v1.2.8`.

[2021-05-20 20:20] zguesmi commented on #1884
@testforstephen I am sorry I missed your request. My IntelliCode extension version is `v1.2.8`.
When I enable vsintellicode for java and I open any java project, the issue appears. When I hit `ctrl+space` for completion I see the following exception in Java Language Server logs:
[code]

[2021-05-20 22:05] snjeza commented on #1884
@zguesmi Could you try to upgrade the IntelliCode version to 1.2.14?

[2021-05-21 00:48] zhouxinghong commented on #1952
Since the content of the setting is very large, sending it completely is not an ideal approach. You can describe in detail the key Java configuration that may cause the problem, and I will filter it out and provide it to you.

[2021-05-21 00:50] snjeza commented on #1952
java.format.settings.url

[2021-05-21 02:07] testforstephen commented on #1381
@wheezil and @DeegC thank you for reaching out. Would you mind sharing more about the specific problems you have with code generation in VS Code? Is that your 3rd party maven code generation plugin is not well recognized by VS Code Java extension?

[2021-05-21 03:05] zhouxinghong commented on #1952
"java.format.settings.url": "file:///D:/tool/eclipse/eclipse-style.xml",

[2021-05-21 03:06] zhouxinghong commented on #1952
This is the current setting

[2021-05-21 03:21] snjeza commented on #1952
Could you send a new log?
The error
[code]
can happen if you set

"java.format.settings.url": "D:/tool/eclipse/eclipse-style.xml",

or something similar that.

[2021-05-21 03:41] zhouxinghong commented on #1952
!SESSION 2021-05-21 11:38:24.190 -----------------------------------------------
eclipse.buildId=unknown
java.version=11.0.10
java.vendor=Oracle Corporation
BootLoader constants: OS=win32, ARCH=x86_64, WS=win32, NL=zh_CN
Command-line arguments:  -data c:\Users\HNG\AppData\Roaming\Code - Insiders\User\workspaceStorage\21afc6d45024e6e4989754ad5eb61355\redhat.java\jdt_ws

!ENTRY org.eclipse.jdt.ls.co

[2021-05-21 03:43] zhouxinghong commented on #1952
The exception was reported during the startup of vscode Java

[2021-05-21 03:48] zhouxinghong commented on #1952
Wait a moment

[2021-05-21 03:54] zhouxinghong commented on #1952
"java.format.settings.url": "D:/tool/eclipse/eclipse-style.xml",
**********************************************************************************
!ENTRY org.eclipse.jdt.ls.core 1 0 2021-05-21 11:52:39.942
!MESSAGE Initializing Java Language Server 1.1.2.202105191833

!ENTRY org.eclipse.jdt.ls.core 4 0 2021-05-21 11:52:40.492
!MESSAGE unknown protocol: d
!STACK 0
java.net.MalformedURLException: u

[2021-05-21 03:55] zhouxinghong commented on #1952
The above is the exception reproduced after setting "java.format.settings.url": "D:/tool/eclipse/eclipse-style.xml"

[2021-05-21 04:09] snjeza commented on #1952
You should use
[code]

[2021-05-21 04:10] #1944 closed

[2021-05-21 04:53] zhouxinghong commented on #1952
"java.format.settings.url": "file:///D:/tool/eclipse/eclipse-style.xml",and "java.format.settings.url": "D:/tool/eclipse/eclipse-style.xml",
The error is the same.
The default is this setting "java.format.settings.url": "file:///D:/tool/eclipse/eclipse-style.xml",

[2021-05-21 04:54] zhouxinghong commented on #1952
Found the cause of the problem?

[2021-05-21 12:36] wheezil commented on #1381
Hi @testforstephen.  The issue doesn't really manifest in VS.code itself. It is more like VS code is continuously building and/or/analyzing the java code, and that activity (at least on Windows) seems to occur simultaneously with a "mvn install" performed on the command-line, and interferes with the maven build.  I suspect that our code-generation causes updated files to be seen by VS code, and it

[2021-05-21 13:24] jakegt1 commented on #1947
I have tried this, it does not work. Same error.

[code]

I have found a solution i think works though, but i'd like you to reproduce it if poss:

I created `org.eclipse.core.net.prefs` and copied this into `$HOME/.vscode/data/User/workspaceStorage/$UUID/redhat.java/jdt_ws/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.net.prefs`. After reloading the window, things resolved

[2021-05-21 13:25] jakegt1 commented on #1947
@snjeza hope that makes sense.

[2021-05-21 13:46] snjeza commented on #1952
@zhouxinghong could you set
[code]
[Clean the workspace directory](https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#clean-the-workspace-directory)
and send a new log after cleaning of the workspace.

[2021-05-21 14:23] zhouxinghong commented on #1952
SESSION 2021-05-21 22:20:23.927 -----------------------------------------------
eclipse.buildId=unknown
java.version=11.0.10
java.vendor=Oracle Corporation
BootLoader constants: OS=win32, ARCH=x86_64, WS=win32, NL=zh_CN
Command-line arguments:  -data c:\Users\HNG\AppData\Roaming\Code - Insiders\User\workspaceStorage\21afc6d45024e6e4989754ad5eb61355\redhat.java\jdt_ws

!ENTRY org.eclipse.jdt.ls.cor

[2021-05-21 14:39] snjeza commented on #1952
Could you send your client logs -  c:\Users\HNG\AppData\Roaming\Code - Insiders\User\workspaceStorage\21afc6d45024e6e4989754ad5eb61355\redhat.java\client* or the  c:\Users\HNG\AppData\Roaming\Code - Insiders\User\workspaceStorage\21afc6d45024e6e4989754ad5eb61355\redhat.java directory?

[2021-05-21 17:12] zhouxinghong commented on #1952
[redhat.java.zip](https://github.com/redhat-developer/vscode-java/files/6524095/redhat.java.zip)

[2021-05-21 18:38] pecko commented on #1952
I can't see your "java.format.settings.url" in attached files.

[2021-05-21 18:40] snjeza commented on #1952
I can't see "java.format.settings.url" in the attached files

[2021-05-21 18:55] snjeza commented on #1951
@vagusX Could you check https://github.com/snjeza/vscode-test/raw/master/java-0.80.1.vsix ?

[2021-05-21 20:50] zguesmi commented on #1884
It seems to work correctly when I upgrade to version `1.2.14`.

[2021-05-22 00:50] zhouxinghong commented on #1952
Currently the most detailed record information:
[.log](https://github.com/redhat-developer/vscode-java/files/6525554/default.log)

[2021-05-22 01:54] snjeza commented on #1952
@zhouxinghong you have set

[code]
See line 173 in your log
[code]
Run File>Preferences>Settings and check your User and Workspace preferences:
![pref](https://user-images.githubusercontent.com/388609/119211271-72077080-bab1-11eb-8750-81d5950815f9.gif)

[2021-05-22 02:14] zhouxinghong commented on #1952
The 173-line original code configuration is: "java.format.settings.url": "file:///D:/tool/eclipse/eclipse-style.xml"

[2021-05-22 02:17] zhouxinghong commented on #1952
Do you mean that you need to set "java.format.settings.url": "file:///D:/tool/eclipse/eclipse-style.xml" in Workspace? Can't be set in User?

[2021-05-22 02:23] zhouxinghong commented on #1952
The following are the current settings:
User: file:///D:/tool/eclipse/eclipse-style.xml
Workspace: D:/tool/eclipse/eclipse-style.xml

[2021-05-22 06:42] TP-mimanchi commented on #956
thanks a lot

[2021-05-22 07:53] zhouxinghong commented on #1952
Thank you for your help, you are really great!

[2021-05-22 08:02] zhouxinghong commented on #1952
This is mainly a problem left over before version 0.79.2.
You are really great! Thanks a lot!

[2021-05-23 03:44] DeegC commented on #1381
I don't have too much to add; wheezil covered most of it.  I use Java Immutables.  If I run `mvn install` (or test, etc) while vscode is open then the build never works.  The errors can be different but it's usually the compiler complaining about a missing generated file.  I have to turn off autobuild in vscode and run clean to get it maven to finish without errors.

The reverse is also a problem;

[2021-05-23 15:10] fbricon commented on #1381
As a possible workaround, add the following bits to your project('s parent) pom.xml:
[code]

this allows the build output directory to be overridden to `target-ide` when running in m2e (vscode-java, Eclipse IDE, vim...), while maintaining the default `target` during CLI builds. Don't forget to add target-ide to your .gitignore

[2021-05-23 15:26] wheezil commented on #1381
@fbricon  thanks, that is promising.  I have to admit I do not know what this is doing:
    <activation>
         <property><name>m2e.version</name></property>
    </activation>
Do the IDEs automatically inject this property or do I need to configure them to define the property?
Do you know if this also works with Netbeans?  We have related but different problems there.
john

[2021-05-23 15:45] fbricon commented on #1381
It'll only work for IDEs based on [Eclipse m2e](https://www.eclipse.org/m2e/). m2e [injects the m2e.version property](https://github.com/eclipse-m2e/m2e-core/blob/4e7ba8113e8cff1d84a05918addd8c27a108d591/org.eclipse.m2e.core/src/org/eclipse/m2e/core/internal/embedder/MavenImpl.java#L249) to the Maven reactor during incremental builds. So it's possible to activate certain profiles by checking for t

[2021-05-24 01:41] lispercat opened #1955 "How do I implement embedded Java language in XML document (in a vscode extension)?"
I've read docs on https://code.visualstudio.com/api/language-extensions/embedded-languages but still wondering if it's possible to reuse vscode-java language server to provide intellisense/autocomplete features for Java/BeanShell code imbedded in XML like:

[code]

I guess I don't need to reimplement my own language server from scratch (though BeanShell is not strictly Java, but some reduced versi

[2021-05-24 09:04] testforstephen commented on #1381
@wheezil @DeegC Thank you for sharing the specific details about this issue. Yes, the property `m2e.version` is automatically injected by VS Code Java tooling when importing your project into VS Code, no need to configure it by yourself. Could you have a try on @fbricon's suggestion? thanks.

[2021-05-24 11:58] wheezil commented on #1381
@testforstephen thanks for the update.  I'm not the VS.code user in our development group, but I will relay the information.  Since it involves a change to the pom.xml files and not just user settings.xml it might take some negotiation to make the change.

[2021-05-24 21:01] wheezil commented on #1381
Good news!  The workaround by @fbricon seems to work for us.

[2021-05-25 02:29] liudonghua123 commented on #204
I also looking for search java classes which the classes are in some jars.

[2021-05-25 06:48] maxandersen opened #1956 "extract method does not seem to like var nor method references"
[code]

gets refactored into this:

[code]

notice how `gson` is of type `var` where it should be `gson` and neither `aliasItems` nor `templateItems` are present in the method declaration despite them being referenced.

[2021-05-25 07:16] fbricon commented on #1956
looks like your example is missing some steps. The ghContents line magically appeared in step 2

[2021-05-25 07:19] maxandersen commented on #1956
for the var its easy to reproduce btw:

[code]

extract method creates you:

[code]

[2021-05-25 07:22] fbricon commented on #1956
ok. Not reproducible in Eclipse (which adds in intermediary step to list the variables and their type). So definitely.an issue in jdt.ls.

[2021-05-25 15:15] vagusX commented on #1951
@snjeza it works as expected 👍

[2021-05-25 22:55] AnasAar06 commented on #743
It works also for me, Thanks .

[2021-05-25 23:34] snjeza commented on #1956
#1780 fixes the following issue:

[code]
extract method creates you:
[code]

This is an upstream issue.
Reproducible case:
[code]
try to extract
[code]
Result (with the PR):
[code]
The issue is also reproducible on Eclipse.

[2021-05-26 02:36] tennisplayer opened #1957 "n"
[provide a description of the issue]

##### Environment
- Operating System:
- JDK version:
- Visual Studio Code version:
- Java extension version:

##### Steps To Reproduce
1. [step 1]
2. [step 2]

[Please attach a sample project reproducing the error]
[Please attach logs](https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#enable-logging)

##### Current Result

##### Expected Res

[2021-05-26 07:23] arshapplied opened #1958 "Java compile error , with correct package name."
I want to use the the Java debugger, with the code-runner extension from vs code extensions, which uses a different way to come up with package path , for java. When I use that extension, by setting up a class path, and at the same time try to debug the file, the debugger gives me a compile error , stating that the package name is wrong. I can debug the code, normally if I remove the package name,

[2021-05-26 08:12] testforstephen opened #1959 "Explicitly report OutOfMemory error to user"
When opening some large Java projects (e.g. https://github.com/Azure/azure-sdk-for-java) in VS Code, the language server may fail silently due to OutOfMemory error. The setting `"java.jdt.ls.vmargs"` of Java extension specifies a default `"-Xmx1G"` memory during starting language server, that's not enough for some large project. We need some way to explicitly tell user to increase the memory args

[2021-05-26 14:52] snjeza commented on #878
See https://github.com/eclipse/eclipse.jdt.ls/pull/1779

[2021-05-26 14:52] #878 closed

[2021-05-26 14:53] snjeza commented on #1951
See https://github.com/eclipse/eclipse.jdt.ls/pull/1779

[2021-05-26 14:53] #1951 closed

[2021-05-27 09:46] ianldgs commented on #1341
This causes problems if you try to run maven commands.
Some files will be locked or modified by the autobuild process and then maven will fail.
Ideally, the autobuild should only run if a file is changed, is that possible?

[2021-05-27 12:03] maxandersen commented on #1956
did you open/find a upstream eclipse bug?

[2021-05-27 17:24] rgrunber commented on #1956
https://bugs.eclipse.org/bugs/show_bug.cgi?id=535638

They resolved it a while back, which makes our changes a bit easier to do. We inherited the helper methods (from shared components), but just didn't have the one-line changes to use them (since the refactorings themselves are in ui components)

[2021-05-27 23:01] #1956 closed

[2021-05-28 14:13] snjeza opened #1962 "Update target platform to 2021-06 M3"
It fixes https://github.com/redhat-developer/vscode-java/issues/1956#issuecomment-848338404
Related Eclipse bug -  https://bugs.eclipse.org/bugs/show_bug.cgi?id=570886

[2021-05-28 14:51] snjeza commented on #1962
Moved to https://github.com/eclipse/eclipse.jdt.ls/issues/1783

[2021-05-28 14:51] #1962 closed

[2021-05-30 17:03] gruvw commented on #457
I still have this issue, is there a way to fix it?

[2021-05-30 19:18] snjeza commented on #457
@gruvw could you try to add

[code]
to <your_project>/.settings/org.eclipse.jdt.core.prefs

[2021-05-31 06:24] manojbaishya commented on #1247
There is an extension now, [Docs View](https://marketplace.visualstudio.com/items?itemName=bierner.docs-view), that displays in a separate panel.

![image](https://user-images.githubusercontent.com/28330014/120148937-9c220680-c206-11eb-9527-b0faabe74461.png)

[2021-05-31 08:21] gruvw commented on #457
I tried that but it did not work. I am using VSCode.

[2021-05-31 08:55] Kurt-Shiwz opened #1963 "go define wrong file when use lombok"
mac:11.4
vscode:1.56.2
plugin:Language support for Java ™ for Visual Studio Code v0.79.2
language server jdk:java 16.0.1
maven java runtime: jdk1.8.0

`A.java` source use lombok, and make jar. In my project i use `a.getXX()`.
When i go define, vscode open  `A.class`, but it look not a class file, it like `A.java`, and i cant see the real `A.class` file.
Open same project  by IDEA, it can go to the

[2021-05-31 10:52] hongguifeng commented on #1954
Example :
https://github.com/openjdk/jdk/blob/master/src/java.base/share/classes/java/lang/Character.java

![Animation](https://user-images.githubusercontent.com/14037164/120182693-4b7bcf00-c241-11eb-993a-aaba6fb0d732.gif)

[2021-06-01 01:31] testforstephen commented on #1958
Java debugger already provides the feature to run and debug a Java application. Is there any reason you have to use code runner together to debug an application?

[2021-06-01 01:43] testforstephen commented on #1955
The link you pasted above actually provides a sample [Language Server for Embedded Language with Language Services](https://github.com/microsoft/vscode-extension-samples/tree/main/lsp-embedded-language-service).

[2021-06-01 01:59] pbassut commented on #1842
I'm experiencing the same issue on a fresh ubuntu install.
Now using JDK 16

[2021-06-01 03:27] testforstephen commented on #1954
Does this mean you can reproduce it in a small file? How large is your project?

[2021-06-01 04:41] mannixsuo opened #1964 "will this plugin support user specific maven repository?"
I set `D:\maven\repo` as my local maven repository in maven `settings.xml` , and downloaded source file in that directory.
vscode configurations also set
[code]

But couldn't find source code when  `ctrl+left click`  on class name.
I saw this plugin use ~/.m2/repository as my local repository on the left `JAVA PROJECTS` pannel of vscode。

![image](https://user-images.githubusercontent.com/25730605

[2021-06-01 05:59] arshapplied commented on #1958
Code runner gives me the option to run multiple languages in the same terminal , and use cmd+r to run any application. Its just convenient, when you are working with multiple languages. It would be nice if I could use the debug , and the code runner at the same time.

[2021-06-01 08:08] angelozerr commented on #1955
[Language Server for Embedded Language with Language Services](https://github.com/microsoft/vscode-extension-samples/tree/main/lsp-embedded-language-service) is only for HTML Language Service (which was written in TypeScript) not for XML.

Th ething that I find it's shame with this sample is that it requires to start a new LSP client to manage your embedded language. It means that when an HTML fil

[2021-06-01 09:41] sunix opened #1965 "Define in the user preferences a list of file hashes to be trusted when jar files are added to the classpath of jdt.ls"
[provide a description of the issue]

##### Environment
- Operating System:
- JDK version:
- Visual Studio Code version: Che-theia
- Java extension version:

##### Steps To Reproduce
When we add a jar file in the classpath like
[code]
a Security Warning is popping up and this is an issue in Che the option is not persisted in the user preferences (but in the global state which is gone when starting

[2021-06-01 11:27] testforstephen commented on #1958
Then you should set the correct classpath for Java debugger as well. You can do that within your workspace settings.json. e.g. `"java.project.sourcePaths": ["src"]`

[2021-06-01 11:32] hongguifeng commented on #1954
@testforstephen
It should be, but I can't do it. ☹️
The point that is eclipse is fast in some situation, so I think there may be some settings that can make vscode faster ...

[2021-06-01 13:49] lispercat commented on #1955
Thanks so much Angelo for your response!
Since I know very little about LS, I think I'll need a plan to do some
small steps to finish the project.
As you suggested, I'll start by looking at vscode-xml, to see how it works
and how they can provide support for embedded languages.
Probably I also need to understand how JDT works, I think looking at
vscode-java should give me some clues on how you int

[2021-06-01 14:26] rgrunber commented on #1965
Just a few workaround to consider before we look at providing some kind of trusted resource store :

1. Can you provide javaagent argument to `java.jdt.ls.vmargs` under user settings (**not** workspace settings) ?

As you've discovered in https://github.com/redhat-developer/vscode-java/blob/master/src/settings.ts#L141-L158 , when the workspace settings contain javaagent in `java.jdt.ls.vmargs`, we

[2021-06-01 15:10] sunix commented on #1965
hi @rgrunber.
About user preferences: the user could provide it but we can't pre-configure it in Che. In Che we can only preconfigure workspace settings. The problem with user settings is that it would affect all the workspaces that may not use this jar (and the jar may not even be available).

About global storage, we could hack it, but I doubt my PR would be accepted ;)

[2021-06-01 15:46] rgrunber commented on #1965
I see a problem with this though (unless I'm missing some piece of info). If you can only configure workspace settings, then we have to allow "trustedHashes" as a workspace setting. But then any workspace could just provide a settings file that self-approves its own content. The purpose of user settings is to prevent this.

Even if you look in https://github.com/redhat-developer/vscode-xml/blob/ma

[2021-06-01 17:00] snjeza commented on #1964
@mannixsuo could you try the following:

- create D:\maven\settings.xml
[code]
- add the VS Code property
[code]

[2021-06-01 17:44] xetum opened #1966 "when programming a swing application, it offers to import from javax.swing but not from java.awt"
Sure it's a misconfigured option but when editing a swing application, extension doesn't detect automatically lacking imports from p.e. `java.awt`. Hovewer symbols from `javax.swing` are detected. Code sample:

    public class A {
        public void a() {
            JButton c; // import 'JButton' (javax.swing)
            Button d;  // doesn't offer import 'Button' (java.awt)
        }
    }

[2021-06-01 19:24] ok-nick commented on #1355
This is also extremely useful for lower-end computers since it lags like hell as you type.

[2021-06-01 19:45] ksushant881 commented on #1232
Same issue, my maven project is getting built but VS code is showing 1k errors.

[2021-06-01 20:32] sunix commented on #1965
I don't think the workspace scope is about self approving or not. it's would just apply the settings for a workspace which is a collection of `folders`. So basically, user settings apply in all workspaces, but workspace settings is only about the current workspace. I don't see the problem with that. We provide preconfigured workspaces that the user can view, edit and customize.
User settings are l

[2021-06-01 22:32] lispercat opened #1967 "npm run watch-server fails on Windows"
[provide a description of the issue]

##### Environment
- Operating System: Windows
- JDK version: 11
- Visual Studio Code version: 1.56.2
- Java extension version: v0.79.2

##### Steps To Reproduce
1. git clone https://github.com/redhat-developer/vscode-java.git
2. cd vscode-java
3. npm run watch-server

I get result:

[code]

Running a full path command like
cmd /c c:/dev/temp/vscode-java/node_m

[2021-06-02 02:25] rgrunber commented on #1965
The case we're trying to guard against is a user importing a folder (eg. git cloned) they don't fully trust, that contains a `.vscode/settings.json` file and sets properties such as `java.home`, or `java.jdt.ls.vmargs`. If not guarded, they could execute arbitrary code. This is why we explicitly ask the user to allow such usage.

Is such a case possible in Che if a user requests to create their wo

[2021-06-02 07:04] sunix commented on #1965
if this is the only use case, could we just show this popup if the jar file is located in the project folders ?

[2021-06-02 07:14] sunix commented on #1965
In Che we load everything from a devfile.yaml file that is located in the root project anyway. The difference is that all these are running in isolated pod in the cloud.
We also have preconfigured devfiles. There are certified "devfiles" in CodeReady Workspaces and other "community" devfiles from the Che community. It is up to the user to trust them or not. It would be like running container from

[2021-06-02 09:27] fbricon commented on #1966
By default, vscode-java [hides](https://github.com/redhat-developer/vscode-java/issues/710) "java.awt.*" from completion/auto import. You can edit the `java.completion.filteredTypes` preference in your settings to remove the `java.awt.*` exclusion, like:
[code]

[2021-06-02 09:58] xetum commented on #1966
Checked, but can I know why? including j`ava.awt` package is quite usual...

[2021-06-02 12:02] ksushant881 commented on #1232
Issue resolved update
Just download lombok annotations support extension in VS Code

[2021-06-02 13:53] rgrunber commented on #1965
I think a good compromise would be what you suggested, to confirm that the path provided by javaagent corresponds to a file outside of the workspace.

[2021-06-02 15:56] arshapplied commented on #1958
Would that mean that I will not have to declare the package , before debugging the file ?

[2021-06-02 16:33] sunix commented on #1965
Thanks Roland, that would work for us

[2021-06-03 02:12] testforstephen commented on #1958
This setting accepts relative path, doesn't support variable path.

This is a request to VS Code. https://github.com/microsoft/vscode/issues/100522

Looks like you have solved the problem, i will close the issue.

[2021-06-03 02:12] #1958 closed

[2021-06-03 03:27] vagusX commented on #1951
Just wondering when it would ship out so I could use the stable version vsix

[2021-06-03 07:41] DaniGTA commented on #1963
Did you have this extension ? https://marketplace.visualstudio.com/items?itemName=GabrielBB.vscode-lombok

[2021-06-03 08:07] DisorderCloud opened #1969 "OpenJDK 16 in java.home not recognized"
I installed openjdk 16.0.1 via homebrew, and set corresponding path in `java.home`, but under "Java Tooling Runtime" tab of "Configure Java Runtime" page, nothing is not listed. FYI, I also have another two jdk 8 installed, and both 3 are written to `java.configuration.runtimes`, but "Installed JDKs" tab only shows those two jdk 8 installation.

##### Environment
- Operating System: macOS Big Sur

[2021-06-03 14:36] masbaehr commented on #618
I'm getting mad trying to show all files in vscode in my java project (.settings, .classpath ecc) :/ how can i enable them?

[2021-06-03 15:04] fbricon commented on #618
@masbaehr change your settings.json:
[code]

[2021-06-03 15:27] #1928 closed

[2021-06-03 15:30] rgrunber commented on #1928
As soon as the upstream issue is resolved (scheduled for 3.16.1?) we can remove this option. This should work around the issue until then.

We're basically calling exit() as part of shutdown() if the client sets this property. I've tested this in lightweight and hybrid modes, and it seems to behave correctly.

[2021-06-03 16:51] fbricon commented on #1931
@snjeza @rgrunber this should be an easy fix, update the list of excluded errors in https://github.com/eclipse/eclipse.jdt.ls/blob/ef61f5fa01ea4ff32aa48d7e0e12677f07738f92/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/handlers/BaseDiagnosticsHandler.java#L81-L94

[2021-06-03 16:58] fbricon commented on #1924
Go to symbol already supports camel case search OAuConf shoud just work. * and ? symbols are not necessary (and not supported)

[2021-06-03 21:12] #1931 closed

[2021-06-04 06:43] zguesmi commented on #1884
@testforstephen should we close this?

[2021-06-04 14:08] rgrunber commented on #1969
The "Configure Java Runtime" view is coming from https://github.com/microsoft/vscode-java-pack , so my guess is this should be moved there. @testforstephen have you seen this issue before in that extension ?

[2021-06-04 19:35] ad798 commented on #1660
Hello everyone! I am happy to say I found a way to solve this. I got it working with Spring Boot + Lombok + Mapstruct with Maven Wrapper. The key is to put the mapstuct and mapstruct-processor as dependencies. Here is how the result _pom.xml_ looks like.

	<properties>
		<java.version>11</java.version>
		<org.mapstruct.version>1.4.2.Final</org.mapstruct.version>
	</properties>
	<dependencies>

		<

[2021-06-04 20:09] pumano commented on #1660
@ad798 It's good, but how to solve this via gradle...

[2021-06-05 03:53] jbytes1027 commented on #1355
I would also love this option!

[2021-06-05 10:03] Artur- opened #1970 "Java support never starts"
Since yesterday when running  VS Code, I only see a spinner in the lower right corner ![image](https://user-images.githubusercontent.com/260340/120887490-df5fe900-c5fb-11eb-9eb4-90121ebf8187.png). Clicking on it shows an empty "2. Java build status" terminal.

No Java code is compiled, no tests can be run, nothing works and there is no indication anywhere what I can do to either figure out what th

[2021-06-05 10:06] Artur- commented on #1970
Alright, it seems that running "clean java language server workspace" actually fixed the problem. Maybe that could be on top of the troubleshooting page instead of at the bottom?

Feel free to close this issue unless you have ideas on how to fix this from not happening. I doubt I can provide additional information as the problematic workspace state is now deleted.

[2021-06-05 12:10] testforstephen commented on #1884
yes, since it's fixed, we could close it.

[2021-06-05 12:10] #1884 closed

[2021-06-05 23:54] Rafi-99 commented on #1938
I'm closing this. The issue finally resolved itself!

[2021-06-05 23:54] #1938 closed

[2021-06-06 06:07] Kurt-Shiwz commented on #1963
yes

[2021-06-06 10:54] Artur- opened #1971 "Code is compiled with preview features for no reason, causing the project not to run"
Seemingly after running "Clean the Java language server workspace" my project no longer works properly.

Any time VS code compiles a Java file in my project, the version is set to `60.65535` which apparently indicates it has enabled preview features for some reason. I am using Java 16 and not using any preview features in the code.

Because this happens, running the project using Maven with the sa

[2021-06-06 11:04] Artur- commented on #1971
Adding
[code]

to `.settings/org.eclipse.jdt.core.prefs` apparently works around the problem

[2021-06-07 00:48] mannixsuo commented on #1964
I had already set, but it doesn't work.
![image](https://user-images.githubusercontent.com/25730605/120945726-b57a0400-c76c-11eb-85e4-f11072e8b891.png)
[code]

[code]

[2021-06-07 06:25] borko-rajkovic opened #1972 "How to set limit-modules in vmargs?"
When I set `--limit-modules=java.base` in `java.jdt.ls.vmargs` I get error message:

`Language Support for Java crashed 5 times in the last 3 minutes`

##### Environment
- Operating System: Ubuntu 20.04
- JDK version: OpenJDK 11
- Visual Studio Code version: 1.56.2
- Java extension version: 0.79.2
- Java Debugger extension version: 0.34.0

##### Steps To Reproduce
1. In settings.json add new entry

[2021-06-07 13:59] fbricon commented on #1972
vmargs are options set to run the Java Language Server providing Java support in vscode-java. You definitely don't want to prevent it from using the java.base module.

What you're facing is caused by the high-scale-lib library (an unnamed module in the JPMS sense) reimplementing java.util classes. Having several modules contributing the same package is forbidden by JPMS. Your best bet is to exclud

[2021-06-07 13:59] #1972 closed

[2021-06-07 15:37] snjeza commented on #1964
@mannixsuo Could you show your log? - [Turn on message tracing between VS Code and the Java Language Server](https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#turn-on-message-tracing-between-vs-code-and-the-java-language-server)

[2021-06-07 15:49] rgrunber commented on #1970
To me it looks like something went wrong in org.eclipse.core.resources bundle activator (ResourcesPlugin) with a ClassNotFoundException. Not sure why. With that failing, no core.resources classes would be found on the classpath, so when the language server starts up, ProjectsManager's fails in some static initializer that uses core.resource classes. That causes other classes to fail with NoClassDe

[2021-06-07 16:21] dbnex14 opened #1973 "MAVEN clean lifecycle command errors out"
[provide a description of the issue]
Maven clean lifecycle command fails with error below

##### Environment
- Operating System: Windows 10
- JDK version: 11
- Visual Studio Code version: 1.56.2
- Java extension version: Not sure where to find this information

##### Steps To Reproduce

1. In VSC, I created a Springboot project.
2. When I open the project in VSC, there is tab named MAVEN
3. In the

[2021-06-07 17:34] bibhas2 opened #1974 "Extension stopped working on some (but not all) Java files"
This is a project I have been working on for a long time without any problem. But starting this morning the extension is having problems with one of the Java files. The following functions have stopped working:

- All compile errors are disabled. There's no feedback if there are any compile errors.
- Command clicking method names do nothing. But command clicking class names do navigation.
- Can no

[2021-06-07 17:48] rgrunber commented on #1971
We only force `org.eclipse.jdt.core.compiler.problem.enablePreviewFeatures` to `enabled` if Java 16 is used and the project is also unmanaged (eg. not Maven, Gradle, etc.). However, since your project is clearly Maven, I don't think this should be happening.

Are you able to share the full project ? The project without sources ? Just the poms ?

[2021-06-08 04:37] testforstephen commented on #1973
Could you please move the issue to https://github.com/microsoft/vscode-maven/issues, which is the owner of Maven explorer. It's better to share a sample project there to help reproduce the issue.

[2021-06-08 09:30] Eskibear commented on #1973
See https://github.com/microsoft/vscode-maven/issues/606#issuecomment-819170892

[2021-06-08 12:49] jakegt1 commented on #1947
Any update on this? The above fix isn't something I can really do every time as it will be reset if the workspace is cleaned up.

[2021-06-08 19:05] rgrunber commented on #1946
Closing as this seems to be addressed. The `sources` mapping of `java.project.referencedLibraries` can set the source lookups.

[2021-06-08 19:05] #1946 closed

[2021-06-09 02:06] mannixsuo commented on #1964
After clean my workspace directory `%APPDATA%\Code[ - Variant]\User\workspaceStorage\` and restart vscode it works !
So i think it's some cache problem.
Thanks for your answer.

below is my tests:

logs when I clean workspace directory and restart vscode, this time repo is correct to `C:\Users\Administrator\.m2\repository`

[code]
logs when I change `settings.xml` and set `<localRepository>D:\Work

[2021-06-09 08:00] consal commented on #1774
Not for me, I still have the same, all my log is filled with these messages

[2021-06-09 08:05] consal opened #1976 "'textDocument/hover' has been cancelled"
Error Log
[code]
Environment
Operating System: macOS
JDK version: Adapt JDK-11.0.9
Visual Studio Code version: v1.56.2
Java Extension Pack: v0.12.1
Java extension version: v0.79.2
Maven: v3.6.3
Steps To Reproduce
Import any Java project, CPU skyrockets and the log is filled with these messages.

a68b3cba Importing Maven project(s) [Done]
e251d48a Repository registry initialization [Done]
04da89a9

[2021-06-09 11:02] LeoK987 commented on #1390
Can't add to source path: Unsupported operation. Please use build.gradle file to manage the source directories of gradle project.

[2021-06-09 11:55] bibhas2 commented on #1974
This was my bad. The Java file where the extension wasn't working was not within the Maven project. Since the extension partially works in such files I was confused.

[2021-06-09 11:55] #1974 closed

[2021-06-09 18:42] angelozerr commented on #1955
Roland if you create your own compilation unit it means that you cannot
reuse the lsp editing completion validation etc and you must re implement
those features, right?

Le mer. 9 juin 2021 à 20:24, Lispercat ***@***.***> a écrit :

[2021-06-09 19:07] rgrunber commented on #1955
I don't think so. Most of the completion/validation calls are based on the same ICompilationUnit interface so we should be able to reuse everything.

[2021-06-09 21:27] rgrunber commented on #1976
I can reproduce this going back a long time. As you've seen, there are quite a few errors reported with a similar stacktrace.

The error in the client log :
[code]

In the logs showing client/server interaction :

[code]

Looks like this is happening from https://github.com/eclipse/lsp4j/blob/master/org.eclipse.lsp4j.jsonrpc/src/main/java/org/eclipse/lsp4j/jsonrpc/RemoteEndpoint.java#L286 but I'm

[2021-06-10 11:16] angelozerr commented on #1955
Great!

[2021-06-10 13:21] lispercat commented on #1955
that aren't based on a file, but I believe this could easily be done.

Do we need to propose a pull request to the JDT project for a non-file
based compilation unit?
Since yes, we would have to send a text that we extract from the embedded
region, so based on that text they would need to create a compilation unit.
Or maybe we can create a temp file with the embedded content and send it to
JDT as a

[2021-06-10 14:43] rgrunber commented on #1976
The following phrase from https://microsoft.github.io/language-server-protocol/specifications/specification-current/#cancelRequest may be relevant :

`If the request returns an error response on cancellation it is advised to set the error code to ErrorCodes.RequestCancelled`

To me this seems like the action to take if there is an error relating to cancellation. However that implies that cancellat

[2021-06-10 17:29] lispercat commented on #1955
What I don't understand (after debugging some vscode-java + JDT) is that it
looks like the language server protocol doesn't provide support for
embedded documents (
https://microsoft.github.io/language-server-protocol/specifications/specification-current/
)
They assume that the whole content of the document specified by uri in the
RPC call will be parsed by the language server as a single compilat

[2021-06-11 13:33] rgrunber commented on #1955
Yup, that's exactly what I had in mind. The XML language server would be responsible for recognizing that there's embedded content and what other language server should handle it. It would then need to ensure all actions pertaining to that all line offsets get translated correctly to/from the embedded document.

I don't believe we need to make a PR into JDT for this. We could probably just have it

[2021-06-11 13:40] lispercat commented on #1955
I wonder if we can propose a change to the language server API.
If we could supply range along with the url in the request, it could
automatically support embedded languages.
Now it looks like to compensate we'll need to artificially create a lot of
temp files in the background, but yes, then we could use JDT as is.

On Fri, Jun 11, 2021 at 9:33 AM Roland Grunberg ***@***.***>
wrote:

[2021-06-11 17:28] boriswaguia opened #1977 "Self referencing maven modules should not trigger an infinite loop in vscode"
Vscode enters an infinite loop while trying to compile a falsy module setup. It should instead break the build should break with an error stating that a module is self-referencing itself the same way the maven cli report it.

##### Environment
- Operating System: OSX  BIg Sur
- JDK version: OpenJDK 11.0.8 2020-07-14
- Visual Studio Code version: [Version: 1.56.2 Commit: 054a9295330880ed74ceaedda23

[2021-06-11 22:11] tivrfoa commented on #1232
Downgrading Language Support for Java(TM) by Red Hat to **0.55.1** worked for me ...
I previously had 0.79.2 installed.

The same problem happens in Eclipse. Maybe they use the same tool.

Now I 'm downloading NetBeans to check if it works there.

[2021-06-12 00:24] pbassut commented on #1232
Downgrading the extension to 0.55.1 did not work for me.
Still a bunch of compilation errors show up.

[2021-06-12 09:52] shadycuz opened #1978 "No errors but no code completion either"
I can not find any errors, things seem to work, but I do not get any code completion / intellisense help.

##### Environment
- Operating System: WSL Ubuntu
- JDK version: 1.8 for code and 1.11 for plugin
- Visual Studio Code version: 1.57.0
- Java extension version: v0.79.2

##### Steps To Reproduce
1. Follow all the get starting guides
2. Follow all the debugging guides.
3. Try different things f

[2021-06-12 19:20] akhiljns opened #1979 "openjdk 15 is not getting recognized"
[provide a description of the issue]

##### Environment
- Operating System: windows
- JDK version: 15.0.1
- Visual Studio Code version: 1.57.0
- Java extension version: 0.79.2

##### Steps To Reproduce
1. add to vs code settings.json

 "java.configuration.runtimes": [
 {
            "name": "JavaSE-15",
            "path": "C:\\Program Files\\Java\\jdk-15.0.1",
            "default": true
 }
]

##

[2021-06-12 21:53] snjeza commented on #1979
@akhiljns could you try
[code]
backslashes on Windows must be escaped.

[2021-06-12 23:00] akhiljns commented on #1979
@snjeza

I have tried this already, it's mentioned in the description of the issue, it makes no difference in recognition.

[2021-06-12 23:20] snjeza commented on #1979
Could you show your project?

[2021-06-13 12:04] shadycuz commented on #1978
I'm using groovy.... so I created a java file and wow everthing seems to be working. Seems like this plugin should see that someone is using groovy and add the association to .groovy. I know the syntax is not perfectly the same, but I was just looking for some autocompletion for variable names and stuff like that. I set this in my settings:

[code]

and I still could not get the plugin to turn on

[2021-06-13 12:04] #1978 closed

[2021-06-14 06:55] aviv-amdocs opened #1980 "leaves zombie processes"
Issue Type: <b>Bug</b>

Using the extension and exiting/reloading vscode leaves zombie (defunct) `java` processes on the host.
I'm using "Remote: SSH" to work (remote is Linux, local is Windows).

Extension version: 0.79.2
VS Code version: Code 1.57.0 (b4c1bd0a9b03c749ea011b06c6d2676c8091a70c, 2021-06-09T17:18:42.354Z)
OS version: Windows_NT x64 10.0.18363
Restricted Mode: No
Remote OS version: Li

[2021-06-14 09:15] aviv-amdocs commented on #1980
A bit more info: I have a `watch` over `pgrep java | grep defunct | wc -l` running, and here's some stuff I've noticed:
- activating "clean java language server workspace" task increases zombie count by 1.
- Switching from "lightweight" mode to "standard" increases zombie count by 1.
- closing a vscode window (in standard mode): plus 2 zombies.

[2021-06-14 09:54] Artur- commented on #1971
It is a private project. I tried to reproduce it in another project but was unable to. I suspected either text blocks or using Lombok to be causing it but neither seems to do it in another project.

Is there an easy way for me to see/debug why it enables preview features?

[2021-06-14 16:43] rgrunber commented on #1980
Part of this is a known issue which should be fixed by https://github.com/redhat-developer/vscode-java/issues/1928. When we adopted languageclient v7, shutdown requests sent to the syntax server were not being handled correctly, so in our next release, we have a workaround.

The zombie process behaviour could be an issue with remote connections given that  it seems to happen for any language serve

[2021-06-14 16:52] fbricon commented on #1978
vscode-java only supports java files. We have no plans on providing groovy support at the moment (that would require lots of engineering efforts)

[2021-06-14 17:37] #1947 closed

[2021-06-14 18:06] rgrunber commented on #1971
Yes, it should be in https://github.com/eclipse/eclipse.jdt.ls/blob/master/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/JVMConfigurator.java#L344 . I believe it's the only place we enable preview features.

[2021-06-15 08:29] molly-w opened #1981 "openjdk17 can't be detected in vscode"
I download [openjdk17.zip](http://jdk.java.net/17/) and want to set it as java language server in vscode.

##### Environment
- Operating System: win10
- JDK version: openjdk17
- Visual Studio Code version: 1.57.0
- Java extension version: **Language Support for Java(TM) by Red Hat** v0.79.2

##### Steps To Reproduce
1. Extract `openjdk17.zip` and add `\..\openjdk17\bin` to PATH
2. Configure Java R

[2021-06-15 08:30] #1981 closed

[2021-06-15 09:10] bpasero opened #1982 "Consider to adopt new `createStatusBarItem` API for `id` and `name` properties"
👋  Hi there, Ben here, from the VS Code team.

We just released VSCode 1.57 that landed a new stable API for status bar items to provide `id` and `name` properties: https://code.visualstudio.com/updates/v1_57#_status-bar-item-id-and-name-properties

I noticed that your extension is a consumer of the `createStatusBarItem` API.

Here is an example how using the new API will improve the user experien

[2021-06-15 09:16] testforstephen commented on #1979
The compiler level is controlled by your project's build file, not by setting `"java.configuration.runtimes"`, which is only used to map a correct runtime to your project compiler level.

Here is how to change your project JDK level.

In pom.xml of a Maven project:
[code]

In build.gradle of a Gradle project:
[code]

[2021-06-15 11:26] cbiale commented on #339
I want to use the annotation processor without build tools.

I have tried to add references to the processor in the project launch.json file but it doesn't work.

In which file should I modify to add the processor to javac?

Thanks!

[2021-06-15 12:56] snjeza commented on #1980
I can't reproduce the issue on Windows (local) and Fedora (remote).
What Linux are you using?

[2021-06-15 13:02] aviv-amdocs commented on #1980
It's Ubuntu:
[code]

but it's running as a Docker container under Windows (Docker-Desktop-with-Hyper-V)
[code]

(Connecting over SSH).

[2021-06-15 13:37] snjeza commented on #1980
Could you attach your Dockerfile?

[2021-06-15 13:45] aviv-amdocs commented on #1980
Sure (slightly redacted):
[code]

`/etc/environment` and `/ca-certs/` are just some local-site related proxies and self-signed certs.

[2021-06-16 14:58] smlisk0630 commented on #1929
I reverted back to version 0.77 but am still receiving the `Running the contributed command: 'java.execute.workspaceCommand' failed.` error.

[2021-06-16 17:11] snjeza commented on #1980
@aviv-amdocs  I can reproduce the issue using your docker image.
It isn't a VS Code issue.
You have to start sshd properly.
You can try to start sshd using the following:

1. add entrypoint.sh:
[code]
2. remove the line:
[code]
3. add
[code]
after
[code]

[2021-06-17 05:46] aviv-amdocs commented on #1980
Thanks @snjeza, I'll explore this avenue.

[2021-06-18 05:22] liuzqt opened #1984 "vscode java doesn't work in gradle multi-projects layouts"
vscode can not properly recognize sub directories in a multi-project gradle build layout. No classpath generated at root dir

##### Environment
- Operating System: macOS 10.15.6
- JDK version: 11
- Visual Studio Code version: Version: 1.57.0
- Java extension version: v0.79.2

##### Steps To Reproduce
1. `gradle init` to create a multi-project layout starter
2. open the root dir with vscode

The er

[2021-06-18 06:47] testforstephen commented on #1926
Close it with the PR https://github.com/redhat-developer/vscode-java/pull/1975, Java extension will provide limited language support (syntax features) for untrusted workspaces.

[2021-06-18 06:47] #1926 closed

[2021-06-18 07:54] sashwinee opened #1985 "Unable to run azure function through Visual studio code"
Please refer below link for more details of the issue.
I have posted all required information here:

https://stackoverflow.com/questions/67998376/azure-functions-java-project-visual-studio-code-error-for-dependencies

I have tried it with both jdk 8 and jdk 11 but no luck.

expected results:
to be able to run Azure function through VS mentioned here -
https://docs.microsoft.com/en-us/azure/azure-f

[2021-06-18 08:31] gabipetrovay opened #1986 "Eclipse formatter option parentheses_positions_in_method_invocation not considered regardless its value"
Java code formatter in VSCode is not yet supporting the `org.eclipse.jdt.core.formatter.parentheses_positions_in_method_invocation` option. And identical issue was raised here: https://github.com/revelc/formatter-maven-plugin/issues/343.

Can it be that VSCode uses an older version of the Eclipse formatter plugin?

##### Environment
- Operating System: MacOS
- JDK version: 15
- Java extension vers

[2021-06-18 08:36] fbricon commented on #1986
can you check against the latest CI build from https://download.jboss.org/jbosstools/jdt.ls/staging/?C=M;O=D?

[2021-06-18 09:53] testforstephen commented on #1969
"Configure Java Runtime" page uses the same logic as vscode-java extension to find the Java home. Did you see any popups about invalid Java home?

Typically, the Java home in macOS ends with `*/Contents/Home`.  In your case, it looks like the java.home you configured is some symbolic link. Could you try `"java.home": "/opt/homebrew/Cellar/openjdk/16.0.1/libexec/openjdk.jdk/Contents/Home"` or `/usr

[2021-06-18 15:03] snjeza commented on #1984
@liuzqt could you attach a sample project reproducing the error?

[2021-06-18 16:05] rgrunber commented on #1982
Thanks for filing. In lightweight mode our extension should probably be named something like "Java Server Mode" (since it allows switching to standard mode) and in Standard mode it should probably be "Java Runtime Configuration".

[2021-06-18 16:15] JasonWThompson opened #1987 "Add additional variables for java.template snippets"
Like most teams, I have a required set of content that belongs in the header of my Java documents. One of the required items is a creation date. The format of the creation date is _shortmonth day, year_. So something like Jan 24, 2025. There doesn't seem to be a way using the predefined variables to add this to my template. Using `${date}` gets me `1/24/2025`. Using `${month} ${day}, ${year}` gets

[2021-06-18 18:12] liuzqt commented on #1984
@snjeza  yes, https://github.com/liuzqt/gradle_multi this is a starter template generated by `gradle init`, I can exactly reproduce this issue using this sample project.

my gradle version: 7.1

And BTW, I have an interesting observation: by deleting the whole `buildSrc` and remove the plugin provided by `buildSrc`, everything works fine. But I'm not clear why this can work. Might have something t

[2021-06-18 23:38] rgrunber commented on #1987
Something like this should probably work.

[code]

[2021-06-19 15:55] flozano commented on #1984
This issue seems similar to another one I'm seeing with eclipse buildship, so most likely it's an issue happening in latest gradle version: https://github.com/eclipse/buildship/issues/1091

[2021-06-19 17:43] Rastra17 commented on #107
I cannot find the pom.xml file, can u please tell me where it is? My jdk is currently 16.0.1 version.

[2021-06-19 18:49] donkey55 opened #1988 "Type mismatch: cannot convert from Map<Boolean,List<Integer>> to Map<Boolean,List<Integer>>"
When I try to run the following code, Vscode tell me this error: Type mismatch: cannot convert from Map<Boolean,List<Integer>> to Map<Boolean,List<Integer>>Java(16777233)
Environment:
* Operating System: Windows 10
* JDK version: JDK 16
* Visual Studio Code version: 1.57.1
* Java extension version: 0.79.2

Code :
[code]

[2021-06-21 01:58] testforstephen commented on #1988
The snippet works for me. Could you share the sample project you used?

![image](https://user-images.githubusercontent.com/14052197/122697041-11698000-d277-11eb-917c-5a41d6a9fc38.png)

[2021-06-21 04:51] liuzqt commented on #1984
is this a gradle issue or a vscode-java issue?

[2021-06-21 06:03] aviv-amdocs commented on #1980
Yeah, looks like adding a `sh` parent to `sudo ssh` does reap zombies.

Still, the plugin should do a better job at cleaning up its children.

[2021-06-21 06:13] donkey55 commented on #1988
Thanks!
This is my problem.
I forget to import the java.util.Map

[2021-06-21 07:13] flozano commented on #1984
I opened the issue in buildship repository, which is the plugin that allows eclipse to use gradle, and that is also used by vscode-java from what I see in the stack-trace you originally reported.

[2021-06-21 07:26] #1988 closed

[2021-06-21 07:49] flozano commented on #1984
it seems to be a gradle issue that is fixed already in nightly build, if I use latest gradle nightly with your example project it works well

[2021-06-21 13:08] testforstephen opened #1989 "The tool didn't generate the correct classpath for a maven project with multiple compile executions"
Here is a minimum sample maven project [**parentproject.zip**](https://github.com/redhat-developer/vscode-java/files/6685281/parentproject.zip) to reproduce the issue.
[code]

The submodule `app` is a normal Java 9+ module, the generate .classpath is correct.

The submodule `core` is a common SDK library that's expected to be compatible with both Java 9 modular and Java 8. So its pom.xml defines t

[2021-06-21 18:28] snjeza commented on #1980
You can reproduce the issue using a simple ssh connect/disconnect and your docker image. VS Code also use a such client. sshd creates these children and it should clean them. VS Code can do nothing.

[2021-06-21 21:09] liuzqt commented on #1984
@flozano  thanks!  For now, I'm using gradle@7.0.2 and it's working fine. I'll wait for 7.2 formal release and upgrade to it.

[2021-06-21 21:09] #1984 closed

[2021-06-22 00:44] #1964 closed

[2021-06-22 01:40] whitesweet opened #1990 "java build status doesn't work"
- Issue Type: `Bug`
- Extension Name: `java`
- Extension Version: `0.79.2`
- OS Version: `Windows_NT x64 10.0.19041`
- VS Code version: `1.57.1`

I import a maven project. but i cannot open java build status terminal.

and I get a bug can be reported in running extesions view .

[code]
![无标题](https://user-images.githubusercontent.com/15253628/122850921-a1bfc780-d340-11eb-9341-931f0563bc78.png)

[2021-06-22 02:40] testforstephen commented on #1989
The upstream issue: https://github.com/eclipse-m2e/m2e-core/issues/246

[2021-06-22 13:25] Kurt-Shiwz opened #1991 "format error"
mac: 11.4
vscode: 1.57.1
language support for java by Red Hat:v0.79.2

[code]

![image](https://user-images.githubusercontent.com/7554917/122931813-ceef9280-d39f-11eb-91ec-f8ed353d1463.png)
![image](https://user-images.githubusercontent.com/7554917/122932416-4c1b0780-d3a0-11eb-9253-3e5a99c741ac.png)

[2021-06-23 01:52] DAflamingFOX commented on #1147
Thank you very much; was about to bash my head in if I had to manually import all java.awt stuff

[2021-06-23 05:19] maxandersen opened #1992 "quickfix not available where cursor lands by default on annotations"
when you have code like:

[code]

and Inject is not imported vscode highlights just the class names, not  the full @Inject.

This is all fine if your cursor is on the right part but for @Inject when navigating to that line your cursor will be on the @ part and here the quickfix does not work even though @ is part of the expression.

##### Expected Result

quick fix of annotations like @Inject shou

[2021-06-23 05:27] maxandersen opened #1993 "prevent import to put above first comments"
if you have:

[code]

at top of your  file vscode on import action puts the import above these lines.

[code]
should do it on the first empty line to avoid breaking those users writing jbang or single source java code files.

[2021-06-23 07:59] testforstephen opened #1994 "3rd party Java bundles are not loaded when clicking trust workspace button to switch server mode"
Reproduce steps:
- Install java-0.80.0 nightly build from https://download.jboss.org/jbosstools/jdt.ls/staging/ and Java debugger extension.
- If it exists, remove the 0.80.0 global cache from VS Code global storage cache. In macOS, it's `/Users/username/Library/Application Support/Code/User/globalStorage/redhat.java/0.80.0`.
- Open a new Java project which has not been opened in VS Code before, i

[2021-06-23 11:32] svor opened #1996 "Maven cannot build the project"
Java LS cannot build the project. In pom.xml I see an error:

[code]
but it could be built from the terminal via `mvn clean install -Dcom.redhat.xpaas.repo.jbossorg`. After building from the terminal Java LS pick ups all dependencies and works good.

The project is located here: https://github.com/svor/jboss-eap-quickstarts
My VS Code settings.json:
[code]
<details>
 <summary>My settings.xml</summ

[2021-06-23 11:34] svor commented on #1996
@snjeza maybe you have some idea what could be wrong here

[2021-06-23 16:45] rgrunber commented on #1993
The behaviour seems the same in Eclipse JDT as well so maybe we can fix this upstream. The import declarations are placed below the package declaration, and when there's no package declaration, they seem to go at the very top of the file.

This also means you should be able to work around the issue by having a basic package declaration below the comments.

[2021-06-23 18:59] snjeza commented on #1996
The issue can be reproduced from maven command line.
@svor could you try the following patch

[code]

[2021-06-24 18:06] 0dinD commented on #454
Looks like the fix has finally made it into eclipse.jdt.ls with the recent updates to the target platform! I can no longer reproduce the bug after trying eclipse/eclipse.jdt.ls@5483c3a, so I think this issue can be closed now.

[2021-06-24 20:13] #454 closed

[2021-06-24 21:32] 0dinD opened #1999 "Semantic highlighting is not available in lightweight mode"
When the extension is in lightweight mode, semantic highlighting is unavailable. This means that the user is left with the half-broken highlighting from the default Java TextMate grammar.

##### Environment
- Java extension version: `0.79.2`

##### Steps To Reproduce
1. Set `java.server.launchMode` to `LightWeight`.
2. Open a Java file and observe the lack of semantic highlighting.

##### Current

[2021-06-25 06:24] william-mason opened #2001 "java.configuration.runtimes in settings.json are ignored"
[provide a description of the issue]

##### Environment
- Operating System: Ubuntu linux 20.10
- JDK version: several -- 1.8, 16
- Visual Studio Code version: 1.52.1
- Java extension version: v0.78.0

##### Steps To Reproduce
1. Open VS Code
2. Open settings preferences
3. Enter/search for: java.configuration.runtimes
4. Enter name and path for different JDK-s
5. Nominate a default

There is no pr

[2021-06-25 11:40] achaphiv commented on #510
I have my dotfiles shared across multiple computers & operating systems.

So I went with a more machine-specific approach:

[code]

[2021-06-25 12:13] svor commented on #1996
@snjeza Seems it works if replace
`<url>${maven.repository.url}</url>`
with
`<url>https://repository.jboss.org/nexus/content/groups/public/</url>`

but why it doesn't work if use it from properties: https://github.com/svor/jboss-eap-quickstarts/blob/main/kitchensink-jsp/pom.xml#L46. Does it mean that jdt.ls cannot recognize maven property from pom.xml?

[2021-06-25 16:40] svor commented on #1996
@snjeza thank you for the explanation! Could you please share the link of the upstream issue.

[2021-06-25 20:45] snjeza commented on #1996
I can't find it. You can enter a new issue at https://issues.apache.org/jira/projects/MNG/issues

[2021-06-26 02:03] Xandor19 opened #2005 "eclipse-formatter.xml not found and how to modiffy snippets"
[provide a description of the issue]
When I run the Java: Open Java Formatter Settings I get the message "eclipse-formatter.xml does not exists", however, when formatting at a .java file it works just fine
On the other hand, i would like to know if there's a way of customizing some of the built-in snippets of the extension

##### Environment
- Operating System: Ubuntu 20.04 LTS
- JDK version: open

[2021-06-26 02:50] snjeza commented on #2005
@Xandor19 Could you show your setting.json?

[2021-06-26 11:21] alinnert commented on #1709
Has the default length been changed? I wish it was 80 characters but it seems it's 121 for me. Maybe the semicolon doesn't count. Then it would make sense. I'd also appreciate a setting for this.

[2021-06-27 13:43] alinnert commented on #1709
Okay, I found out that this is already possible. There are two commands (I don't know where exactly they are coming from, but I have the "Java Extension Pack" from Microsoft installed):

- Java: Open Java Formatter Settings
- Java: Open Java Formatter Settings with Preview

I've used the "with Preview" one which provides a settings GUI. When first using it you get asked to create a file called `ec

[2021-06-27 15:18] BlueStaggo opened #2006 "Improve semantic highlighting"
I would like it if these two things were changed (based off Dark+):
1. Constructors should be the colour of classes (sea green). *Currently: Colour of methods (light yellow).*
2. Primitive types (and `var`) should be the colour of keywords (dark blue). *Currently: Colour of classes (sea green).*
3. The `new` keyword should be the colour of keywords (dark blue). *Currently: Colour of control keywor

[2021-06-28 01:52] #1994 closed

[2021-06-28 03:02] Eskibear commented on #2006
Thank you for your feedback. Here to clarify two sources of highlighting:
**semantic** highlighting provided by [JDT language server](https://github.com/eclipse/eclipse.jdt.ls), semantic tokens like variables, types, names are highlighted based on AST.
**syntax** highlighting is the fallback, provided by https://github.com/atom/language-java/blob/master/grammars/java.cson , keywords, punctuations

[2021-06-28 04:49] Pankaj-Talesara commented on #1355
I would also love this option. Please make it happen

[2021-06-28 18:56] rgrunber commented on #2001
There's a few issues I see here :

- It looks like you're using the "Configure Java Runtime" from https://github.com/microsoft/vscode-java-pack and there may be some limitations on how it can be configured. With that said, I think you need to have some project imported before being able to configure the runtime. Build systems tend to allow configuring the source/compiler targets for Java, so usual

[2021-06-29 02:46] testforstephen commented on #2001
- When you open a workspace without a project, we leave the "Project JDKs" empty, which is by design. The "Configure Java Runtime" guide is just used to make the JDKs used by your project and the Java tooling itself more transparent.
- The tool doesn't change your Java version, as the Java version of your project is provided by your build system. It simply allows you to change the mapping between

[2021-06-29 15:20] BlueStaggo commented on #2006
I already knew about `editor.tokenColorCustomizations`, but I didn't manage to change `var` and constructors. Are those impossible to change? You can leave this closed if you feel like it.

[2021-06-29 16:56] Eskibear commented on #2006
For `var`, semantics and syntax hightlighting have different result. In syntax highlighting it's a "local type". In semantic highlighting it's a "class". Personally I regard it more as a "keyword", and we can discuss on it.

![image](https://user-images.githubusercontent.com/2351748/123836923-d46b5080-d93c-11eb-9818-cab1c981bc7c.png)

For constructors, both semantics and syntax highlight them as `

[2021-06-29 17:33] #2006 closed

[2021-06-29 21:14] Xandor19 commented on #2005
![Captura de pantalla de 2021-06-29 17-13-46](https://user-images.githubusercontent.com/77125505/123868264-7408ee80-d8fd-11eb-81f5-51beb550e4ff.png)

Here it is, sorry for the delay

[2021-06-29 22:01] snjeza commented on #2005
@Xandor19 you should set the java.format.settings.url property.

[2021-06-30 12:11] trinhpham-da commented on #1140
"no quickfix avaiable" also on
- Windows 10 21H1
- VSCode 1.57.1
- redhat.java v0.79.2

[2021-06-30 20:30] snjeza commented on #1989
The upstream issue has been fixed.

[2021-06-30 21:33] fensefernando commented on #1062
@gablex Try to install java-11-openjdk-devel. Thats work for me.

[2021-06-30 23:36] Xandor19 commented on #2005
How would that be?
And about the snippets question?

[2021-07-01 00:30] snjeza commented on #2005
You can add the following

[code]

I think that you can't customize it.

See [Predefined Variables for Java Template Snippets](https://github.com/redhat-developer/vscode-java/wiki/Predefined-Variables-for-Java-Template-Snippets)

[2021-07-02 10:06] fbricon opened #2011 "Better infer extracted method name based on context"
When refactoring > extract to a method..., the default method name is `extracted`. In similar situations, Intellij IDEA is smarter and can propose a method name based on context.

In this exemple:
[code]
In vscode-java, extraction will create:

[code]

in IntelliJ, you'll get the choice between `getStringBuilder`, `getBuilder`, `getGreeting` by default.

I don't think we can propose several names

[2021-07-02 12:04] fbricon commented on #2011
Found upstream bug opened by @maxandersen : https://bugs.eclipse.org/bugs/show_bug.cgi?id=570785

[2021-07-04 18:00] JhonatanJGAmaral commented on #328
If you're still facing a problem by setting the Maven to level 1.8 or above, you can also add or replace the properties in pom.xml, where is either the Maven properties, like that:

    <project.build.sourceEncoding>UTF-8</project.build.sourceEncoding>
    <maven.compiler.source>1.8</maven.compiler.source>
    <maven.compiler.target>1.8</maven.compiler.target>
  </properties>

Or just replace the

[2021-07-04 18:25] JhonatanJGAmaral commented on #328
Is there any XML file called "pom" in your app's roots? If so, you can merely try doing what I've reported here: [Upgrade Maven Compiler Level](https://github.com/redhat-developer/vscode-java/issues/328#issuecomment-873634223)

[2021-07-05 04:41] jdneo commented on #1990
The test runner should not affect the logs in the `Java Build Status`, they should be two separate issues.

Meanwhile, If you update the extension `vscjava.vscode-java-test` to latest (0.30.1), will you still see the errors?

[2021-07-05 05:04] jdneo commented on #1876
Could you provide a sample project which can repro this issue?

[2021-07-05 05:58] jdneo commented on #558
Tried in 0.80.0 with `spring-petclinic`, the .classpath will be regenerated.

@Eskibear @testforstephen

[2021-07-05 06:10] jdneo commented on #584
@aegroto I noticed that your project is using lombok, have you installed the lombok extension?

[2021-07-05 06:19] jdneo commented on #760
@negiDharmendra What's your project kind? Maven/Gradle/No build tools?

[2021-07-05 06:34] jdneo commented on #924
Tried with 0.80.0, the problem seems has been fixed @testforstephen

[2021-07-05 06:57] jdneo commented on #1203
Tested with 0.80.0. Seems the problem has been fixed. (at least for https://github.com/spring-guides/gs-multi-module/tree/master/complete)

[2021-07-05 07:08] jdneo commented on #1269
@carlitador  We introduced `Export Jar` support in our extension. Does this issue still occur on your side

![image](https://user-images.githubusercontent.com/6193897/124431402-e3ba2600-dda2-11eb-9af7-80ccad472012.png)

[2021-07-05 07:17] jdneo commented on #1453
The command `Java: Configure Classpath` should somehow mitigate the problem

[2021-07-05 15:35] fvclaus opened #2012 "Organize imports generates static import statement, even if already imported"
Organize imports always generates a static import statement, if the current static import is not part of `java.completion.favoriteStaticMembers`.

settings.json
[code]

![import_java](https://user-images.githubusercontent.com/2384738/124493105-89769080-ddb5-11eb-9217-da9b4848037e.gif)

##### Environment
- Operating System: Ubuntu 18.04.5 LTS (Bionic Beaver)
- JDK version: 11.0.6.hs-adpt
- Visual S

[2021-07-05 18:48] #1989 closed

[2021-07-06 08:54] bhnedu opened #2013 "LinkageError occurred while loading main class Jobship java.lang.UnsupportedClassVersionError: Preview features are not enabled for Jobship (class file version 60.65535). Try running with '--enable-preview'"
[provide a description of the issue]

##### Environment
- Operating System: windows 10
- JDK version:16.0.1
- Visual Studio Code version: 1.57.1
- Java extension version:

##### Steps To Reproduce
1. [step 1]
2. [step 2]

[Please attach a sample project reproducing the error]
[Please attach logs](https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#enable-logging)

##### Current Re

[2021-07-06 13:41] khooz commented on #634
Just here to bump it up. Happened today when I was chopping a big project into smaller modules and moving stuff around. The `bin` suddenly popped up and reappears upon close -> delete -> reopening code. It happens if there's a `.project` file (an artifact of the past...) around. It's funny that this thread (which is an issue btw) is still active after more than 3 years.

[2021-07-06 20:31] cyraid commented on #1549
Yeah, the one thing stopping me from coming fully to vscode for all my projects is, maven support would be nice.. Fast intellisense (maybe branching support of contextual based typing).. Typing in a parameter should maybe expect variable names and sort them based on relevance.

I'm not sure if you guys do this already but as an optimization tip, when you hit 'a' it shouldn't scan through absolutel

[2021-07-07 06:04] jdneo opened #2014 "Retire the asking importing dialog"
Long time ago we introduced a feature that asking user whether to import the projects when opening the workspace for the first time:

![image](https://user-images.githubusercontent.com/6193897/124707685-06853100-deae-11eb-932e-6778a3a5d9cb.png)

According to the user's selection, we will determine which server mode will be used.

Now, since VS Code has introduced the workspace trust feature as a p

[2021-07-07 10:59] IndikaMaligaspe commented on #797
I had the same issue and this solved the issue, If the files are already in the correct directory, press F1 and type in "Clean the Java Language Server Workspace"

[2021-07-07 11:06] deepfriedbrain commented on #339
@snjeza I'm also not using any build tools. I'm not able to figure out the exact steps to get the Annotation processing to work in VSC. Could you please elaborate a bit more? Thanks.

[2021-07-07 12:53] rgrunber commented on #2014
Looks like we're in favour of changing the default option to "always", but would like to keep the settings itself around for now so users still have the option to change it.

If we determine at a later point that this isn't a deal breaker for anyone, then we can remove it completely.

[2021-07-07 14:46] rgrunber commented on #192
Looks like we'llbe getting around to enhancing this, so marking this as a duplicate of #1959 . We'll definitely attempt to catch the OOM on the client side, and either report to user if it exceeds a certain threshold or increase the max heap size for the user.

[2021-07-07 14:46] #192 closed

[2021-07-07 15:00] rgrunber commented on #1090
Looks like this was more of a question/call for performance improvement that had an acceptable workaround for then.

In https://github.com/redhat-developer/vscode-java/pull/1262 we did improve performance by encouraging the language server to perform garbage collection more frequently. This would have especially improved cases where initial project import consumed a lot of memory, and freed it ver

[2021-07-07 15:00] #1090 closed

[2021-07-07 17:48] snjeza commented on #339
@deepfriedbrain could you attach a project example?

[2021-07-07 21:48] #1992 closed

[2021-07-08 00:47] jdneo commented on #2014
Sounds good.

[2021-07-08 01:15] jdneo commented on #1294
@bonaluo You can try: `Java: Import Java Projects into Workspace`

[2021-07-08 05:56] deepfriedbrain commented on #339
@snjeza It's an enterprise project with proprietary code. It is a Java project and not using any build tools such as Maven or Gradle.

[2021-07-09 12:33] florinCer commented on #2005
You need to provide setting path as below:
"java.format.settings.url": "file:///C:/SettingsFolder/.eclipse_formatter_files/eclipse-formatter.xml",

and should work

[2021-07-09 21:55] Xandor19 commented on #2005
Thank you both

[2021-07-09 21:55] #2005 closed

[2021-07-10 09:23] Yanxinwei commented on #1660
Was this problem solved? I just got the same one. @chiragai Thanks

[2021-07-10 20:09] itsmaheshkariya commented on #1549
![image](https://user-images.githubusercontent.com/16520789/125175246-749c6180-e1e8-11eb-8f86-e24c91b110a1.png)

I am waiting from last 4 hours to finish this thing, Yesterday it took 2 hours (For fresh spring boot project).

[2021-07-11 09:17] hanct commented on #1549
But i thought there are a lot of maven related extension for vscode to support maven?

[2021-07-11 09:21] hanct commented on #1549
So during these hours,  r u actually able to coding concurrenty?

[2021-07-11 14:18] cyraid commented on #1549
Just use intellij for java community for now. It's lightning fast and really good. Hoping java extension for vscode gets to that point.

[2021-07-11 15:22] baincd opened #2018 "Feature Request: Add option to not include references import statements"
When using the Java Code Lens, or finding references to a class, import statements are included as references.  While these are technically references to the class, they are rarely useful and are just added noise to what I'm really interested in, which is where the class is actually being used.  It would be nice to have an option to be filter out import statement references.

[2021-07-11 15:33] baincd opened #2019 "Feature Request: Add option to not include references in test classes"
When using the Java Code Lens, or finding references to a class, many times I am not interested in any references in test classes.  It would be nice to have a way to filter or easily differentiate references from test classes.

Some ideas:

- Provide an option to filter out references from test classes
- Have a command to be able to quickly toggle the filtering of references from test classes (sin

[2021-07-11 16:15] itsmaheshkariya opened #2020 "Try to run normal spring boot project on win 10 with JDK 16 It will stuck on 68%"
![image](https://user-images.githubusercontent.com/16520789/125202425-255e3b80-e291-11eb-88ab-55cfb14a0505.png)

[2021-07-11 18:19] snjeza commented on #2020
@itsmaheshkariya could you attach a project example?

[2021-07-12 05:04] jatin711-debug commented on #162
Alright am now facing up same issue it stops at 68% starting java language server, I had tried clearing workspace multiple time restarting machine, and yup in jps 2 instances are running for org.eclipse.equinox.launcher_1.6.200.v20210416-2027.jar. even if I use kill or jstack, it starts running with some another pid. Please find a way to this, I just love to code in java in vs-code only :-()

[2021-07-12 05:13] jdneo opened #2021 "Tune the import UX."
Importing experience is the very important part for our getting start experience. If we go through our issues list, we can find there are several parts that we can improve:

### 1. Provide more transparency
- How to get the import status?
  - We have a spinning icon but that is not straightforward/easy to find.
- What's the result after import finished?

Proposal: #2022

https://user-images.github

[2021-07-12 15:15] stania commented on #1924
The problem is "AuConf" can't match "OAuthConfiguration" because symbol search do always search from prefix.

[2021-07-13 19:01] Moses-Everlytic commented on #2020
I'm having the same issue, I just created a new project project from https://start.spring.io.
I even test an old application from this repository (https://github.com/springframeworkguru/spring-rest-client-examples) still had the same issue.

[2021-07-13 20:27] #2012 closed

[2021-07-14 00:53] robtirta commented on #531
Yes this is pretty hard since most projects nowadays mix kotlin packages in the import...

[2021-07-14 07:13] v-yuyul opened #2023 "It keeps loading while first time to open dubbo/maven projects with VSCode in standard mode"
First time to open dubbo and maven projects with VS Code in standard mode, it keeps loading.

##### Environment
- Operating System: Mac 10.14 / Windows 10
- JDK version: 11.0.7
- Visual Studio Code version: 1.57.1
- Java extension version:
![image](https://user-images.githubusercontent.com/31497677/125576987-6d5ab788-acc8-438c-9828-8129cb2759bc.png)

##### Steps To Reproduce
1. Clone the projects

[2021-07-14 07:36] vagusX commented on #1575
Just wondering any option to disable sorting import statements?

[2021-07-14 08:25] pl07 opened #2024 "Synchronize project spring-boot-gradle failed due to an error connecting to the Gradle build"
##### Environment
- Operating System: Win
- JDK version: 11.0.7
- Visual Studio Code version: 1.56.2/1.57.1
- Java extension version: 0.79.2/0.80.0

##### Steps To Reproduce
1. Download the sample project.
     https://github.com/spring-projects/spring-boot/tree/v2.3.1.RELEASE
2. Open the project.

[log6.txt](https://github.com/redhat-developer/vscode-java/files/6814431/log6.txt)

##### Current Re

[2021-07-14 13:06] kaciula commented on #937
This issue is frustrating and affects my productivity and flow. Is there a workaround?

[2021-07-14 13:51] danielporto opened #2025 "JDK installed by asdf is not being detected"
I'm trying to use remote code development with VScode and java plugin, however the java plugin is not detecting the java installation on the remote node and therefore the language server cannot start.

the issue is similar to  #1092 which even mention that the problem also happens when installation  of sdk is done with asdf, however the issue was closed but the asdf installation is still broken.

[2021-07-14 14:06] Eskibear commented on #2025
JDK detection logic here: https://github.com/redhat-developer/vscode-java/blob/8542c61c70bc078a1b0557345a114e9b1cb39ecb/src/findJavaRuntimes.ts#L26

Note that, please make sure you are using a JDK instead of JRE by checking whether "./bin/javac" exists under JAVA_HOME.

You can run command "Java: Configure Java Runtime", see if your JDK is successfully listed in "Installed JDKs" tab.

[2021-07-14 20:34] snjeza commented on #2023
A duplicate of #2020

[2021-07-14 20:34] #2023 closed

[2021-07-14 23:20] snjeza commented on #2020
The issue has been caused by https://bugs.eclipse.org/bugs/show_bug.cgi?id=573595, commit https://git.eclipse.org/c/platform/eclipse.platform.resources.git/commit/?id=6f51e1b87d52320dceed8ee115898b8d43e91f1a

@v-yuyul @itsmaheshkariya @Moses-Everlytic could you test https://raw.githubusercontent.com/snjeza/vscode-test/master/java-0.80.2.vsix

[2021-07-15 00:53] snjeza commented on #2023
@v-yuyul You may want to take a look at https://github.com/redhat-developer/vscode-java/issues/2020#issuecomment-880272712

[2021-07-15 05:08] Moses-Everlytic commented on #2020
@snjeza It no longer hangs, I tested on multiple projects. (Works)

[2021-07-15 05:50] arjenzhou opened #2028 "no definition found in maven project"
[provide a description of the issue]

##### Environment

- Operating System: manjaor Linux
- JDK version: Oracle JDK 8u202 and 11.0.11
- Visual Studio Code version: 1.58.1 (Universal)
Commit: 2aeda6b18e13c4f4f9edf6667158a6b8d408874b
- Java extension version: v0.80.0

##### Steps To Reproduce
giving a multi maven project:

├── projectA
│   ├── pom.xml
│   ├── A.java
├── projectB
│   ├── pom.xml
│  

[2021-07-15 07:09] arjenzhou commented on #2028
[code]

[code]

[2021-07-15 08:12] fbricon commented on #2020
@snjeza what's the fix? Shouldn't you open a bug upstream?

[2021-07-15 08:14] fbricon commented on #2028
@arjenzhou please attach a sample project reproducing this issue

[2021-07-15 09:37] wzh90 opened #2029 "Blocked in "Configuring" and "Refreshing" by the dependency "log4j-core" in pom.xml"
##### Environment
- Operating System: MacOS 11.4
- JDK version: Java HotSpot(TM) 64-Bit Server VM (build 16.0.1+9-24, mixed mode, sharing)
- Visual Studio Code version:1.58.1
- Java extension version: v0.80.0

##### Steps To Reproduce
1. Create a simple maven project.
2. pom.xml add dependency
`<dependency> <groupId>org.apache.logging.log4j</groupId> <artifactId>log4j-core</artifactId> <version>2.

[2021-07-15 09:48] fbricon commented on #2029
Probably a duplicate of #2020.
See if @snjeza 's custom build fixes it: https://github.com/redhat-developer/vscode-java/issues/2020#issuecomment-880272712

[2021-07-15 10:05] Moses-Everlytic commented on #2020
@fbricon Just install this version of JLS
https://raw.githubusercontent.com/snjeza/vscode-test/master/java-0.80.2.vsix

The issue was the v.0.80.0 which has a bug.

[2021-07-15 10:09] fbricon commented on #2020
@Moses-Everlytic yeah I get that. I want to know what the actual fix is (in terms of code change in jdt/jdt.ls)

[2021-07-15 16:22] snjeza commented on #2020
@fbricon you may want to take a look at
https://github.com/eclipse/eclipse.jdt.ls/pull/1816
https://bugs.eclipse.org/bugs/show_bug.cgi?id=573595
https://bugs.eclipse.org/bugs/show_bug.cgi?id=549500
https://bugs.eclipse.org/bugs/show_bug.cgi?id=574227

[2021-07-15 22:49] mozhuanzuojing opened #2030 "导入tycho项目，一直卡在66%"
我在导入tycho<https://github.com/eclipse/tycho.git>，进度一直在66%，有一个多小时不动！而且好像是有死循环。

##### Environment
- Operating System:Windows_NT x64 10.0.19043
- JDK version:16
- Visual Studio Code version:1.59.0-insider (system setup)
- Java extension version:0.80.0

##### Steps To Reproduce
1. git clone https://github.com/eclipse/tycho.git
2. vscode添加tycho

[Please attach logs](https://github.com/redhat-developer/

[2021-07-16 02:05] wzh90 commented on #2029
@fbricon  It's worked. Thx.

[2021-07-16 07:46] fbricon commented on #2030
See if https://github.com/redhat-developer/vscode-java/issues/2020#issuecomment-880272712 fixes your issue.

As a side note: can you please use English to comment on https://github.com/redhat-developer/vscode-java/issues/? If you're not comfortable, just use a translation service (like https://translate.google.com/?hl=en&sl=zh-CN&tl=en&op=translate) and paste your translated comments in Github

[2021-07-16 07:48] fbricon commented on #2029
Closing as duplicate of #2020

[2021-07-16 07:48] #2029 closed

[2021-07-16 12:12] holmofy commented on #1248
Me too. Open multi-module project will have a lot of error

[2021-07-17 06:51] rishi1111 opened #2032 "CVE-2017-12629"
In the Aquascan report, I see a high vulnerability for the below package.

##### Environment
- Operating System: Docker Container
- JDK version:  11
- Visual Studio Code version:  1.54.2
- Java extension version: 0.80.0

![image](https://user-images.githubusercontent.com/17124299/126028694-4e970568-8289-4285-bf1b-f6a1af251933.png)

[2021-07-19 09:07] fbricon commented on #1811
@rgrunber @snjeza upstream issue has been fixed today, please update the jdt.ls TP once it's published

[2021-07-19 09:17] arjenzhou commented on #2028
sry sir, I can provide this project. I can provide Java language server log which seems help.

[code]

all files in two maven module throw the same exception

[2021-07-19 09:49] arjenzhou commented on #1778
I have similar issue at https://github.com/redhat-developer/vscode-java/issues/2028#issuecomment-882390086, and `<nature>org.eclipse.jdt.core.javanature</nature>` seems do not work (though no error, but can not navigate to references)

[2021-07-19 10:54] arjenzhou commented on #2028
the project is a multi maven project. two sub-modules appear like this, others do not

[2021-07-19 17:15] snjeza commented on #2028
@arjenzhou could you attach your .project, .classpath files?

[2021-07-19 19:26] rgrunber commented on #2032
Guava and Lucene were updated in https://github.com/eclipse/eclipse.jdt.ls/pull/1807 which should be part of our release of 0.81.0 . Guava will be at 30.1 and Lucene at 5.5.5, which according to https://issues.apache.org/jira/browse/SOLR-11477, should fix the issue.

[2021-07-20 01:40] arjenzhou commented on #2028
@snjeza
ok, files here.
https://gist.github.com/arjenzhou/58da6baa213be889201b4d28260610f3

[2021-07-20 01:44] arjenzhou commented on #2028
another message may help is that the project is using Java 8, settings.json here

[code]

[2021-07-20 03:35] rishi1111 commented on #2032
Thanks @rgrunber

[2021-07-20 08:10] whitesweet commented on #1990
@jdneo thanks.
vscjava.vscode-java-test is the latest  (0.30.1), but the issue still exists.
It seams that only terminal cannot display correctly. All java features I used work well.

[2021-07-20 08:19] jdneo commented on #1990
By saying `terminal cannot display correctly`, do you mean nothing shows in the terminal?

Or could you provide some screenshots?

[2021-07-20 08:28] whitesweet commented on #1990
![image](https://user-images.githubusercontent.com/15253628/126287763-f3782bae-41f4-4220-a905-af4cbc44e780.png)
status is always loading and nothing shows in the terminal

[2021-07-20 12:12] xiaomaimuchanyiyiba commented on #2020
useful

[2021-07-20 13:30] #2032 closed

[2021-07-20 14:23] testforstephen opened #2034 "The quickfix doesn't suggest the correct import type when the unresolved type is in an anonymous class"
The quick fix does not provide a valid fix suggestion when the unresolved type is in an anonymous class. Here is the screenshot.

https://user-images.githubusercontent.com/14052197/126339936-f189f2be-474d-4878-8b3b-661349acd712.mov

_Originally reported by @@hasen6 at https://github.com/microsoft/vscode-java-pack/issues/691_

[2021-07-20 17:05] #1811 closed

[2021-07-20 19:20] snjeza commented on #2028
│   ├── pom.xml
│   ├── A.java
├── projectB
│   ├── pom.xml
│   ├── B.java
├── pom.xml

@arjenzhou could you move your java files to the <your_project>/src/main/java directory?

[2021-07-20 23:51] jdneo commented on #1990
@whitesweet What's your `java.progressReports.enabled` setting?

[2021-07-21 01:08] whitesweet commented on #1990
er.. the setting is false.
when I change it to true, java build status terminal works.
Thanks

[2021-07-21 01:08] #1990 closed

[2021-07-21 02:05] jdneo commented on #1985
@Flanker32 Could you please help take a look at this. :)

[2021-07-21 02:34] Flanker32 commented on #1985
@sashwinee Thanks for your report and sorry for the trouble, it seems that the project is generated by an deprecated version of archetype. Could you please upgrade to the latest VSCode Azure Functions extension and try again? If the issue still reproduce, could you please try clean the local cached archetype (in `%YOUR_M2_HOME%\com\microsoft\azure\azure-functions-archetype`) and retry?

Besides, a

[2021-07-21 06:39] DachuanZhao commented on #795
Any processing ?

[2021-07-21 11:04] fvclaus opened #2035 "Import that is used in @code or @link in JavaDoc is marked as unused"
Imports that are only used in @code or @link of JavaDoc are marked as unused and `Organize imports` will remove them.

##### Environment
- Operating System: 20.04.2 LTS (Focal Fossa)
- JDK version: openjdk 11.0.6 2020-01-14
- Visual Studio Code version: 1.58.2
- Java extension version: v.0.81.0

##### Steps To Reproduce
1. Check out https://github.com/fvclaus/vscode-java-javadoc-link-bug and open

[2021-07-21 16:46] snjeza commented on #2034
This is an upstream issue. I can reproduce it in Eclipse  4.21 build I20210719-1800

[2021-07-21 20:02] Koishilll commented on #458
Maybe the extension [Lombok Annotations Support for VS Code](https://marketplace.visualstudio.com/items?itemName=GabrielBB.vscode-lombok) can help.

[2021-07-21 22:52] EuniceB commented on #458
@Koishilll unfortunately that project seems to be inactive for a while, [see here](https://github.com/GabrielBB/vscode-lombok/issues/58)

[2021-07-22 02:10] jdneo opened #2036 "Progress reporter needs to response correctly when language server crashes"
We need to make the progress reporter the status bar item response correctly when language server crashes.

Possible solution are:

- close the progress reporter
- Update the status bar icon to reflect the current status.

[2021-07-22 02:18] jdneo commented on #698
@fbricon @rgrunber @testforstephen

I think this is exactly what we want right? https://github.com/microsoft/vscode/issues/124031

[2021-07-22 14:16] anandbibek commented on #2001
@testforstephen I've 3 different JDK listed in `java.configuration.runtimes`.
Is it possible to set different JDK for different workspaces that are not managed by build tools?

[2021-07-22 16:22] JasonWThompson commented on #158
This started happening recently for me. It seems to hang with some of my RPM projects. I'm using the rpm-maven-plugin. If I add said projects _after_ the language server is done loading, it works fine. But if I open up a workspace with an RPM project, it freezes at 63%.

[2021-07-22 16:26] fbricon commented on #158
@JasonWThompson see https://github.com/redhat-developer/vscode-java/issues/2020#issuecomment-880272712

[2021-07-22 18:35] snjeza commented on #2034
Related bug: https://bugs.eclipse.org/bugs/show_bug.cgi?id=574982

[2021-07-23 23:32] jatin711-debug opened #2038 "Language server getting stuck at 68%"
its been last month, this error is occurred after updating vs-code to 1.58 version, before I used Spring boot in vs for around 5-6 months, no problems but now its just stuck, I had viewed same issues from earlier, used jps and tried to kill one of the org.eclipse instance, but its  just pops out again with new pid

server language always gets stuck at 68%.
I had tried clearing workspace - didnt wo

[2021-07-23 23:56] snjeza commented on #2038
@jatin711-debug could you check https://github.com/redhat-developer/vscode-java/issues/2020#issuecomment-880272712

[2021-07-24 00:18] jatin711-debug commented on #2038
Yup it kinda worked for me for now, I will close this issue after 3 days of testing your .vsix file
Thanks For Now

[2021-07-24 03:34] #2038 closed

[2021-07-24 04:58] arash-bizcover commented on #685
https://github.com/microsoft/vscode/issues/14165

[2021-07-24 19:56] cammarb commented on #1341
I've been experiencing a similar issue. When opening a java project, the java build status is stuck at 68% Refreshing. Also, the extension Java Project and Spring Boot Dashboard never load.

![image](https://user-images.githubusercontent.com/44549364/126879797-470d6dda-d8fc-4195-bd3e-4ae45f7f485f.png)

I have googled and I haven't found a solution.

[2021-07-24 20:09] snjeza commented on #1341
@cammarb Could you check https://github.com/redhat-developer/vscode-java/issues/2020#issuecomment-880272712

[2021-07-24 20:12] snjeza commented on #2034
https://bugs.eclipse.org/bugs/show_bug.cgi?id=574982 has been fixed. See https://bugs.eclipse.org/bugs/show_bug.cgi?id=574982#c10

[2021-07-25 08:35] maxandersen opened #2039 "dont collapse imports to .* if it result in ambigous imports"
not sure if its always been like this way but these days I keep getting caught by ambiguous imports because vscode-java defaults to do that at 2 imports.

could the import star not be stopped if the result leads to ambiguous imports ?

[2021-07-25 08:42] maxandersen opened #2040 "offer to import explicit class reference when anywhere on the class name"
lets say you have  `java.util.stream.Stream.concat(...)` then please provide quick fix on "Stream" or even anywhere on the class name to turn it into:

[code]

today you can only get quick fix offered if you are on the "concat" method name.

[2021-07-25 08:43] maxandersen opened #2041 "be able to identify common class names for import"
"Stream.concat(..)" should offer quickfix on "Stream" to "import java.util.stream.Stream".

it and lots of other classes in JDK does not but some do, i.e. java.util.* classes seem to be offered automatically....not sure what the pattern is.

[2021-07-25 09:52] fbricon commented on #2041
Works for me

<img width="385" alt="Screenshot 2021-07-25 at 11 52 24" src="https://user-images.githubusercontent.com/148698/126895053-f0d57eff-92aa-4b43-be55-ac629ab1e2bb.png">

[2021-07-25 09:54] fbricon commented on #2041
Please attach a sample project reproducing your issue

[2021-07-25 10:01] fbricon commented on #2039
Imports basically never collapse to star import by default (default threshold is 99), unless you explicitly set a much lower threshold.
Anyways, what would the behavior be like then? Can you give a concrete example of what you see vs what you'd like to see?

[2021-07-25 13:08] maxandersen commented on #2039
my recent usecase was that i was playing with openrewrite and picocli which both have a class named `Option`.

so when vscode java decided to collapse and I used `@Option` I got a compile error as it ended up using

[code]

I noticed that if I use organize imports it seem to make at least the static imports unique - but I guess thats because its limit was at 99 and the normal import at 2.

what I

[2021-07-25 13:10] maxandersen commented on #2041
hmm seems its not consistent to reproduce. But I swear it happens and mulitple times a coding session.

autocomplete etc are working fine and other quickfixes working but imports of classes not showing up in the list of options.

[2021-07-25 15:06] snjeza commented on #2041
It is possible, you have faced https://github.com/redhat-developer/vscode-java/issues/2034

[2021-07-25 15:33] snjeza commented on #2040
We have to implement the Source>Add import command from Eclipse.

[2021-07-26 04:49] DAflamingFOX commented on #1231
what was the solution to this?

[2021-07-26 07:49] sukanzubair commented on #1231
@DAflamingFOX - As per my last comment, the package names were case sensitive and I the name (casing) did not match in the POM files.

[2021-07-26 13:24] MungaiVic commented on #546
I removed the netbeans extension on my case and it got rid of the errors I was having. I don't understand why it caused those errors(plus false linting messages) but it worked.

[2021-07-26 13:51] DAflamingFOX commented on #1231
Ok, then I am having a different cause, or the code from developers is wrong.

[2021-07-27 07:34] SnowISmirnov commented on #1977
I face with same error (infinite java building) in multi module maven project with vscode + java in dev containers.
My dev containers JSON is :

`// For format details, see https://aka.ms/vscode-remote/devcontainer.json or this file's README at:
// https://github.com/microsoft/vscode-dev-containers/tree/v0.159.0/containers/java
{
	"name": "Java",
	"build": {
		"dockerfile": "Dockerfile",
		"args":

[2021-07-27 07:39] smiecj opened #2043 "java.configuration.runtimes not work when use remote connect to centos"
##### Environment
- Operating System: windows10
- JDK version: system JDK11, project need jdk1.8
- Visual Studio Code version: 1.58.2
- Java extension version: Java Extension Pack 0.17.0

##### Steps To Reproduce
1. centos: set env $JAVA_HOME to jdk11 path
[code]

2. check "Configure Java Runtime", seems that the java tooling runtime is normal
![image](https://user-images.githubusercontent.com/140

[2021-07-27 15:03] tommai78101 opened #2044 ""Open Call Hierarchy" does not jump to the reference where it is invoked at"
When you invoke "Open Call Hierarchy" (`Shift+Alt+H`), it shows a list of references where it gets called. However, when the list of reference is shown and the user jumps to that reference, instead of jumping to where the reference is at in the code, it jumps to the method invoking the reference.

For example:

Let's say we have a simple code with 2 different Java documents:

[code]
[code]

And we

[2021-07-27 15:45] fbricon commented on #2044
@snjeza it works fine in Eclipse so we must be doing something wrong

[2021-07-27 18:03] JanZelenka commented on #937
Just adding +1. Keeps happening all the time for me.
No Visual Studio IntelliCode installed as far as I know.

[2021-07-27 23:54] #2034 closed

[2021-07-28 01:32] hasen6 commented on #2034
@testforstephen All the threads open regarding this issue seem to now be closed but the original bug in VSCode still exists. Am I to assume an update is forthcoming?

[2021-07-28 01:58] testforstephen commented on #2034
@hasen6 Yes, **Language Support for Java(TM) by Red Hat** extension will have a new version 0.81.0 to include this fix.

[2021-07-28 02:38] gandhiprachi commented on #458
I saw this issue too, but this goes away if i downgrade vscode-java plugin to 0.79.2

[2021-07-28 08:30] hasen6 commented on #2034
@testforstephen Oh ok great, thanks.

[2021-07-28 08:32] DreamFulFil commented on #1905
It would be wonderful if this can be supported in the plugin

[2021-07-28 09:02] fbricon commented on #1905
What exactly are you missing? Can you give a concrete example?
<img width="449" alt="Screenshot 2021-07-28 at 11 01 30" src="https://user-images.githubusercontent.com/148698/127295188-9277a884-d5a3-4886-a39f-b44f9240336d.png">

[2021-07-29 06:03] molly-w opened #2045 "How to automatically generate JPA Entities from Database tables in VSCode"
I watched the tutorial [Automatically generate JPA Entities from Database tables in NetBeans](https://www.youtube.com/watch?v=7I81j_f2po0).

So with **Java Extension Pack** and **SQL Server (mssql)** installed, how can i automatically generate JPA Entities from Database tables in VSCode?

[2021-07-29 08:21] minherz commented on #1140
The functionality shown in the animated image in previous comments does not work both for a class that implements Serializable or inherits from a class that implements it. No matter what class modificators are.
VS Code version:
[code]

[2021-07-29 08:22] minherz commented on #1140
@fbricon what is an idea to close an existing issue? is it a way to treat users and developers? by ignoring it?

[2021-07-29 08:37] fbricon commented on #1140
@minherz question from OP was answered and the issue was closed. I don't see the problem.

Now, if it doesn't work in some cases, then please open a new ticket with sample code and steps to reproduce, the team will take a look when they can (there's a lot of issues in the backlog already).

[2021-07-29 09:00] fbricon commented on #1140
Looks like it's caused by the warning now being ignored by default (https://github.com/eclipse/eclipse.jdt.ls/pull/1721). No warning == no quickfix.

So, for now, you need to set `org.eclipse.jdt.core.compiler.problem.missingSerialVersion=warning` in your project's .settings/org.eclipse.jdt.core.prefs

Alternatively, you can create a JDT settings file somewhere on your machine, say `~/path/to/org.

[2021-07-29 13:46] minherz commented on #1140
I would argue that publishing an animated gif does not answer the question, especially given a large number of reports that it does not work.
Thank you for taking time and drilling down into a possible cause. Can you please describe what extensions are expected to be installed in order for this settings change to work? My understanding was that this functionality is either provided by vscode langu

[2021-07-29 14:25] fbricon commented on #1140
vscode-java delegates the Java support to a headless version of Eclipse JDT. Eclipse has over 400 Java specific settings, growing with each Eclipse release. It doesn't scale to redeclare each of those settings as vscode specific ones. So we just have a single setting that points to an Eclipse compatible preference file instead.

You just need vscode-java installed, then:
- create a new file on you

[2021-07-29 18:50] #2020 closed

[2021-07-30 04:58] IAmAnshul07 commented on #1390
Still it shows

unsupported operation. please use build.gradle

[2021-07-30 08:47] stefanrybacki commented on #978
But this mixes normal source code with isolated plugin code of buildsrc which might have completely different dependencies etc. So this is not a viable solution.

Interestingly it works in eclipse though. There it is just another gradle project imported.

[2021-07-30 11:36] minherz commented on #1140
Thank you. It finally worked for me. Unfortunately, it proposed generating a "default" serialVersionUID which is `1L`...

[2021-07-30 16:34] jnnks opened #2046 "Unresolved Imports in VSCode, Maven itself works fine"
##### Environment
- Operating System: Windows Server 2012 (DevContainer SLES15)
- JDK version: openjdk version "11.0.3" 2019-04-16
- Visual Studio Code version: 1.58.2 user setup
- Java extension version: 0.80

Does the extension not use https://github.com/microsoft/vscode-maven to build a Maven project?
When using the Maven GUI option (basically `mvn validate -f "..."`) everything works fine, but

[2021-07-30 21:36] jherico opened #2047 "Java language server fails to load, jdt process is hung"
This is superficially like #158 but I believe this is actually a new issue caused by a very recent change.

That bug has a recent comment linking to [this](https://github.com/redhat-developer/vscode-java/issues/2020#issuecomment-880272712) comment on #2020 which in turn links to [this](https://bugs.eclipse.org/bugs/show_bug.cgi?id=574227) very recently fixed bug in Eclipse JDT-APT.  The fix appear

[2021-07-30 21:41] snjeza commented on #2047
@jherico could you check https://github.com/redhat-developer/vscode-java/issues/2020#issuecomment-880272712

[2021-07-30 23:08] #2047 closed

[2021-07-31 12:05] Baneeishaque opened #2048 "What about Gradle Java Application project support?"
[provide a description of the issue]

##### Environment
- Operating System:
- JDK version:
- Visual Studio Code version:
- Java extension version:

##### Steps To Reproduce
1. [step 1]
2. [step 2]

[Please attach a sample project reproducing the error]
[Please attach logs](https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#enable-logging)

##### Current Result

##### Expected Res

[2021-07-31 16:49] snjeza commented on #2048
See https://github.com/redhat-developer/vscode-java/wiki/Gradle-Support

[2021-08-01 14:58] victormaricato commented on #63
About @fbricon and @mgautam98, I had only jre in `/usr/lib/jvm/java-11-openjdk-amd64`. Installing JDK worked.

To verify if this is your case, you can check that `javac --version` will return an error.

To install JDK on top of what I had, I just did:

`sudo apt install default-jdk`

[2021-08-01 16:12] GavinRay97 opened #2049 "JDT - Stuck on "Configuring Lang. Server". Thread Dump/JFR profile shows threads in wait state, no activity"
I have a Quarkus extension project which seems to be the only project this is (and has ever) happening with.
The language server never fully initializes.

Almost everything works. **What doesn't work:**

- Syntax highlighting on imports
- Formatting, sort imports on save, other similar action
- Ctrl + Click to jump to definition on non JRE methods (any external libraries)

<details>
<summary><b>👇

[2021-08-01 17:24] tigerinus opened #2050 "[high intermittent] Java Build Status does not stop spinning. Java project does not finish loading."
[provide a description of the issue]

##### Environment
- Operating System: Windows 10 - WSL2 - Debian
- JDK version: JDK8 for my project, JDK11 for Language Server.
- Java extension version: v0.80.0

VSCode About:
[code]

##### Steps To Reproduce
1. Initialize a new Spring Boot project.
2. Load the project in VSCode

##### Current Result
Java project does not finish loading. Java Build Status doe

[2021-08-01 19:00] fbricon commented on #2050
Closing as duplicate of #2020

[2021-08-01 19:00] #2050 closed

[2021-08-01 19:04] snjeza commented on #2049
v0.80.0

@GavinRay97 Could you check https://github.com/redhat-developer/vscode-java/issues/2020#issuecomment-880272712 ?

[2021-08-02 04:48] jdneo opened #2051 "Cannot build the Java Language Server repo"
When I run `npm run build-server` today, it fails to resolve the target definition with the following errors:

[code]

The link [https://download.eclipse.org/technology/m2e/snapshots/1.18.2/latest/](https://download.eclipse.org/technology/m2e/snapshots/1.18.2/latest/) is forbidden.

Also I found [https://download.eclipse.org/releases/2021-06/](https://download.eclipse.org/releases/2021-06/) become

[2021-08-02 06:13] #2045 closed

[2021-08-02 09:12] jnnks commented on #2046
### Minimal Example
* Requirements: VSCode Java Extension Pack

1. Create Maven Project from archetype `eclipse-tycho-archetype` with default names
2. Replace repository location in `demo.targetplatform/demo.targetplatform.target` with something available
    * eg: `https://download.eclipse.org/eclipse/updates/4.10/`
3. `mvn validate`in project root -> BUILD SUCCESS
4. `org.eclipse.ui` will not be

[2021-08-02 09:39] stefanrybacki commented on #1905
It is missing the entire refactor method signature feature as stated.

[2021-08-02 12:45] MridulaKamath commented on #2020
For others like me who couldn't understand what to do with a vsix file, have a look at this [VSCode doc](https://code.visualstudio.com/docs/editor/extension-marketplace#_install-from-a-vsix).

[2021-08-02 14:34] GavinRay97 commented on #2049
That looks like the exact problem, thank you!!

Specifically, these lines in diff appear to be the fix:

![image](https://user-images.githubusercontent.com/26604994/127878282-1331934f-968f-465f-9c68-fe83ea12caed.png)

[2021-08-02 14:39] #2049 closed

[2021-08-03 03:02] jdneo commented on #2051
It's working now.

[2021-08-03 03:02] #2051 closed

[2021-08-04 11:58] rgrunber commented on #2051
I believe there were some access issues yesterday affecting everyone, that have since been resolved.

[2021-08-04 12:47] rgrunber commented on #2051
Outage appears to be ongoing so we should expect some issues https://bugs.eclipse.org/bugs/show_bug.cgi?id=565644#c31 .

[2021-08-04 14:37] rgrunber commented on #2048
If there's some issue, with Gradle support, we'd probably need a specific example, or the error you're seeing. We do provide Gradle project support as mentioned above.

[2021-08-04 15:15] rgrunber commented on #2046
The extension uses the m2e project for Maven integration. However, for Tycho support, I think we'd need things like https://github.com/tesla/m2eclipse-tycho . See https://github.com/takari/m2e-discovery-catalog#m2e-discovery-catalog for an explanation.

[2021-08-04 15:18] rgrunber commented on #221
Closing as requested long ago. We can revisit this in https://github.com/redhat-developer/vscode-java/issues/2046 .

[2021-08-04 15:18] #221 closed

[2021-08-05 01:31] duskmont opened #2052 "When setting date variables in typeComment and generate comment manually, some variables can't be parse."
When setting "${year}-${month}-${day} ${hour}:${minute}" in "java.templates.typeComment" and generate comment manually, some variables can't be parse.

##### Environment
- Operating System: Windows
- JDK version: java 8
- Visual Studio Code version: 1.58.2
- Java extension version: v0.80.0

##### Steps To Reproduce
1. setting "java.templates.typeComment" as follow
[code]
2. type "/**" above “class

[2021-08-05 02:17] snjeza commented on #2044
We show all references. You can try to import https://github.com/eclipse/eclipse.jdt.ls/tree/master/org.eclipse.jdt.ls.tests/projects/eclipse/hello and call Show Call Hierarchy for org.sample.Foo.someMethod().
See https://github.com/eclipse/eclipse.jdt.ls/pull/1824/commits/6df9731a6e74c123a95bf808c9d7316626546e07#diff-8a2bd8e047f727ec4f8c8b4cdab733fae8c04372ebaff87705381404c406e35bR106

[2021-08-05 02:55] snjeza commented on #2044
Eclipse show them in a separate view.
Eclipse:
![eclipse](https://user-images.githubusercontent.com/388609/128283417-241b7fd6-7136-4471-9431-c8142c0cdc9f.png)

VS Code (0.80.0)
![vscode](https://user-images.githubusercontent.com/388609/128283492-35d9c326-2710-480d-80e1-42ae02e04107.png)

VS Code with this PR
![vscodepatched](https://user-images.githubusercontent.com/388609/128283535-65bade4d-28d5-

[2021-08-05 08:50] jnnks commented on #2046
Interesting, I am willing to assist, but have no experience with these projects.

There is another extension called [vscode-pde](https://github.com/testforstephen/vscode-pde) which resolves the dependencies after reloading the target platform. IntelliSense and tool tips work as well, so that may be an interesting solution as well.

<details>
<summary>Not working for me though</summary>

We use a p

[2021-08-05 09:24] qinlinwang commented on #2043
I hava the similer problem.

[2021-08-05 09:42] vulkman commented on #761
+1

[2021-08-05 10:40] Eskibear commented on #2043
https://github.com/redhat-developer/vscode-java/blob/b9032f1b319e6077f5c3e7783e9c58362114dd67/src/findJavaRuntimes.ts#L30-L34

It detects JDK by checking JAVA_HOME, JDK_HOME, PATH, and some hardcoded locations. `/usr/java` is not included.

[2021-08-05 13:31] rgrunber commented on #2044
Thanks for posting these to make it clear what will be changing. So it basically comes down to either showing 1 instance of a method that may contain multiple references without any indication there are multiple references (until clicking on the item), or creating a single item for every reference.

I think the PR's approach is a bit better. @snjeza Is there any place in the VS Code client that wo

[2021-08-05 14:21] testforstephen commented on #2046
vscode-java extension won't recognize your Eclipse PDE dependencies. Yes, vscode-pde is used for that purpose. You're welcome to submit a fix to that repo.

[2021-08-05 16:38] snjeza commented on #2044
I don't know.

I think the VS Code client doesn't use the fromRanges property.

BTW this issue can be reproduced in typescript.

[2021-08-06 14:12] rgrunber commented on #1980
Closing this out as it seems there's a valid workaround. If this continues to be an issue in other situations, then maybe we can look at some kind of strategy to prevent this.

[2021-08-06 14:12] #1980 closed

[2021-08-06 14:42] DerekBennett commented on #1639
I am having the exact same problem. I have a custom maven plugin that is generating source code to target/generated-sources/some-proprietary-directory. The Maven build succeeds. The VS Code "vscjava.vscode-java-pack" extension does not see these generated sources, thus making my development experience broken and unpleasant. I do not understand the above suggested solutions. Could you please detail

[2021-08-09 00:18] activedgetechnologies commented on #1660
yeah!

[2021-08-09 01:09] Yanxinwei commented on #1660
I solved this problem by adding this dependency in my project module, while my project compiled succeessfully but didn't generate implementation classes.
`<dependency>
            <groupId>org.mapstruct</groupId>
            <artifactId>mapstruct-processor</artifactId>
            <scope>compile</scope>
 </dependency>`

[2021-08-09 04:11] testforstephen commented on #2052
Currently only creating new file consumed these variable templates. Generating javadoc didn't.

[2021-08-09 04:31] testforstephen commented on #221
This is already supported. Our team is already using the [vscode-pde](https://marketplace.visualstudio.com/items?itemName=yaozheng.vscode-pde) extension to dogfood eclipse.jdt.ls in VS Code.

[2021-08-09 06:20] testforstephen opened #2053 "Convert class to record"
Add code action to convert class to Java 16 record.

[2021-08-09 07:17] mojo2012 opened #2054 "Add command to switch "autobuild" on/off"
Hi,

most of the time I run maven build outside of vscode in the terminal. This interferes with the extension's way of detecting changes. It seems that the extension also starts building, which leads to alot of `ClassNotFoundException`s in the maven build (probably because vscode deleted the already build classes while the maven build was running).

To circumvent this I used to temporarily disable

[2021-08-09 08:59] DanieleStrafile opened #2055 "Failed to get sources. Instead, stub sources have been generated by the disassembler."
Hello,

I have a multi project workspace and whenever I try to open from one project a java class belonging to another project, I get a .class "stub" file, rather than the proper .java file. The shown class is just a skeleton of the real implementation class. It seems that the link between projects is broken, they are not able to find one another. At the top of each "stub" class file I see the fol

[2021-08-09 19:04] snjeza commented on #2055
@DanieleStrafile could you attach a project example?

[2021-08-09 19:31] rgrunber commented on #2052
It seems to work for newly created files for fileHeader templates, but the mechanism should be the same for typeComment. In fact, I remembered https://github.com/redhat-developer/vscode-java/issues/1987 , which I really should merge.

Since ${year} is getting resolved (and not other placeholders, I wonder if there's some resolution happening on the language server side that we could potentially ex

[2021-08-10 07:19] DanieleStrafile commented on #2055
@snjeza I could, but it may take some time. In the meantime, could you please help me to understand how does the vscode connect project sources with one another? Via the pom.xml files? thanks!

[2021-08-10 08:53] DanieleStrafile commented on #2055
@snjeza  I have activated the verbose mode of the extension, via "java.trace.server": "verbose". Here is what I see when I try to navigate from one project to another

[Trace - 10:46:55 AM] Sending request 'workspace/executeCommand - (265)'.
Params: {
    "command": "vscode.java.resolveMainMethod",
    "arguments": [
        "jdt://contents/common-0.0.1-20210727090511-482ea35bb6f4d07411a59697e3170

[2021-08-10 14:12] DanieleStrafile commented on #2055
@snjeza any idea? I would really like to continue using vscode, but without being able to debug or see references from one project to another that is a show stopper unfortunately. I am using the workspace feature of vscode to show all projects (6 in total) in one screen

[2021-08-11 07:59] #2055 closed

[2021-08-11 16:12] chriscasola commented on #1626
I am interested in this feature as well - any update? Or pointers on how to contribute?

[2021-08-11 17:22] #600 closed

[2021-08-11 17:22] #1008 closed

[2021-08-11 21:10] luisfga commented on #162
As @jatin711-debug, i tried cleaning the server workspace many times and also rebooted. Here it was getting stuck at [684/1000] too, on version 0.80.0. It broked after moving packages on another local project, a lib one, which was btw open on another window.

Trying a workaround, i downgraded to v0.79.0, it worked. And it kept working after upgrading back to 0.80.0.

[2021-08-12 06:59] CsCherrYY opened #2057 "Promote feature discovery of Source Action"
Currently, the available source actions are in the editor context menu -> `Source Action...`, which is a little bit hard to be found. Will investigate a proper way to promote the feature discovery of source actions.

A way to expose source actions is to add them to "Show fixes" (looks like a bulb), like https://github.com/eclipse/eclipse.jdt.ls/pull/1405 did. In this way, I have created https://gi

[2021-08-12 09:41] RasitAyaz commented on #812
Still having this issue, no fixes yet?

[2021-08-12 17:20] KameshwarB opened #2058 "Added Classpathentry to .classpath vanishes for every build in Maven java project"
### Added Classpathentry to .classpath vanishes for every build in Maven java project
Hello there,
    My project uses mustache templates to get the list of the POJO classes and add to target/generated-sources, during each build the classpathentry added is deleted automatically and only the set of classpath entries which is by default added.
whatever the entries that was added to the project class

[2021-08-12 21:04] rgrunber commented on #2052
Our docs are slightly inaccurate at https://github.com/redhat-developer/vscode-java/wiki/Predefined-Variables-for-Java-Template-Snippets .

fileHeader is handled by vscode-java (which defines the terms directly in fileEventHandler.ts . However typeComment uses JDT-LS, and doesn't seem to support month, day, hour minute.

We could probably contribute these back into JDT at : https://git.eclipse.org

[2021-08-12 21:38] rgrunber commented on #2052
We could also just make the change on our end until it finally makes it upstream.

[code]

[2021-08-12 23:05] snjeza commented on #812
See https://github.com/redhat-developer/vscode-java/issues/1126#issuecomment-548085982

[2021-08-12 23:41] rgrunber commented on #2058
Could you use https://www.mojohaus.org/build-helper-maven-plugin/usage.html to configure additional source directories in your pom file ? I tried adding that goal to a Maven project, and it seemed to persist the sources into the .classpath.

Generally, the `.classpath` file is not meant to be touched since the language server is responsible for its contents.

@snjeza is there another way to do thi

[2021-08-12 23:56] snjeza commented on #2058
You may want to take a look at https://github.com/redhat-developer/vscode-java/issues/177

[2021-08-13 00:34] rgrunber commented on #1910
Marking this as closed since we merged the patch that tries to improve this.

[2021-08-13 00:34] #1910 closed

[2021-08-13 03:08] #2014 closed

[2021-08-13 03:54] rgrunber commented on #1639
I woud look at https://github.com/redhat-developer/vscode-java/issues/177#issuecomment-673333479 as that issue has a pretty comprehensive guide on the options.

Generally `build-helper-maven-plugin` seems to be what is working for most people.

I just tried a basic Maven project with a a folder `target/generated-sources/my-extra-dir/` containing a source file in VS Code. I confirmed the sources we

[2021-08-13 04:29] KameshwarB commented on #2058
thanks for quick response @snjeza and @rgrunber , this resolves my issue

[2021-08-13 04:29] #2058 closed

[2021-08-13 06:02] duskmont commented on #2052
Thanks for replay and support @rgrunber

[2021-08-13 09:24] JYInMyHeart commented on #554
I do so. But vscode still can't resolve scala imports.

[2021-08-13 14:59] GavinRay97 commented on #554
https://marketplace.visualstudio.com/items?itemName=scalameta.metals
https://scalameta.org/metals/docs/editors/vscode/

[2021-08-13 15:22] GavinRay97 opened #2061 "Graal JDK w/ project transitively containing "graal-sdk" on classpath causes `The package org.graalvm.* is accessible from more than one module: <unnamed>, org.graalvm.sdk Java(8390063)`"
As described, if a user is using GraalVM JDK as the JDK/JRE, and one of the dependency libraries directly or transitively pulls in `org.graalvm.graal-sdk`, then this issue happens.

There is no compile issue, or problem in other IDE's, so I think it's a matter of interpretation of the spec.

I asked on the GraalVM slack, one of the developers replied with:

- https://bugs.eclipse.org/bugs/show_bug

[2021-08-14 03:07] smiecj commented on #2043
Thanks for reply. I will try those vars later.

[2021-08-15 03:03] Zeba14 commented on #495
Same problem , couldn't fix it

[2021-08-15 17:50] #1770 closed

[2021-08-15 17:54] #1761 closed

[2021-08-16 08:35] zhouxinghong opened #2062 "Start VSCode after upgrading from junit4 to junit5 The Java service has been abnormal:"
Deprecated. . .

[2021-08-16 08:43] fbricon commented on #2053
AFAIK, there's no such refactoring available in JDT. So it'd have to be contributed upstream first, ideally.

[2021-08-16 16:20] GavinRay97 commented on #2053
Coincidentally, had just filed this here:
https://github.com/eclipse/eclipse.jdt.ls/issues/1841

Please thumbs-up if you also would like this! 🙂

[2021-08-16 16:40] fvclaus opened #2063 "Why is java.signatureHelp disabled by default?"
I had a shortcut assigned to `Trigger parameter hints` which I always used when editing Typescript or Javascript files. I didn't work while editing Java files, and therefore I assumed that this extension does not support parameter hints. Why else would it not work? I did not take me too long to find this setting, but only because my `when` expression was assigned to `editorHasSignatureHelpProvider

[2021-08-16 16:51] fbricon commented on #2063
Because Java completion already provides all overloaded signatures (contrary to Typescript), we found that enabling signatureHelp by default was more annoying than not.

[2021-08-16 17:49] fbricon commented on #632
So I hacked some quick'n dirty support for .gradle.kts files. It **mostly** works. We *might* be able to get the same basic support as for groovy files (validation is still a weak point, completion is non-existant)

<img width="1695" alt="Screenshot 2021-08-16 at 19 40 26" src="https://user-images.githubusercontent.com/148698/129607219-5fe0d562-4a81-417c-9499-7918a621cd82.png">

[2021-08-16 17:58] kjq opened #2064 "Workspace Clean Hangs (either on startup or a forced clean)"
When working with either a single module or multi-module project VSCode will stall when "rebuilding the workspace" during startup or forced.  Usually, this will stop at a specific point in the project.

The project is a straight-forward Quarkus project with Lombok and Mapstruct (annotation processing).  When VSCode does work it works perfectly fine.

For whatever reason, this file `org.eclipse.jdt

[2021-08-17 00:59] zhouxinghong commented on #2062
After I upgraded from junit 4.13.2 to junit5.7.1, I received the exception message every time I started VSCode. The original junit4.13.2 did not have this problem during the VSCode startup process.
I am upgrading the maven pom file, please see below:
old:
`
<dependency>
    <groupId>junit</groupId>
    <artifactId>junit</artifactId>
    <version>4.13.2</version>
    <scope>test</scope>
</dependenc

[2021-08-17 01:03] zhouxinghong commented on #2062
Before the upgrade, I cleared all the local junit4 dependency packages before upgrading.

[2021-08-17 01:29] testforstephen commented on #2062
could you please share a sample project for us to reproduce the problem?

[2021-08-17 03:44] zhouxinghong commented on #2062
The detailed process of my upgrade has been described above very clearly,
You can try SpringBoot2.4.5 Junit4.13.2~Junit5.7.1. . . .

[2021-08-17 06:10] liuzqt opened #2066 "can we run java formatter in command line?"
I'm wondering is there any way we can run java formatter in command line? I would like to set up some auto-format hooks in my git workflow and I want to have the same result as I format code in vscode.

[2021-08-17 09:00] fvclaus commented on #2063
When you say annoying, do you mean that the parameter hints and code completion is visible at the same time?
![vscode_signatureHelp_enabled_both](https://user-images.githubusercontent.com/2384738/129693398-d6fd97ba-9e60-4eb3-a2ad-1448d011e497.png)

Overloaded signatures are available in the parameter hint popup. The parameter hint has up and down navigation arrows in the lower left corner to navig

[2021-08-17 09:11] smiecj commented on #2043
@Eskibear Thanks! That solve my problem.
What only need to do is add JDK_HOME config in /etc/profile. This env is pointed to JDK11. JAVA_HOME is still pointed to JDK1.8.

`
export JAVA_HOME=/usr/java/jdk1.8.0_291
export JDK_HOME=/usr/java/jdk-11.0.11
`

@qinlinwang Maybe you can try this method.

[2021-08-17 09:12] #2043 closed

[2021-08-17 09:15] smiecj commented on #2043
By the way, after configuration:

![image](https://user-images.githubusercontent.com/14009307/129698591-a7d74779-261f-4c49-8bab-05cca85cc8f5.png)

![image](https://user-images.githubusercontent.com/14009307/129698759-02449665-37f8-4809-968a-f8952b8ec3c7.png)

![image](https://user-images.githubusercontent.com/14009307/129698804-906c2b6f-7d09-4aef-a204-24a971b6b206.png)

You may need to restart rem

[2021-08-17 09:51] jonathanvila opened #2067 "it crashes 5 times and won't be restarted"
Issue Type: <b>Bug</b>

New installation, removing .vscode folders in home, and when I install "Language Support for Java" it says :

The Language Support for Java server crashed 5 times in the last 3 minutes. The server will not be restarted.

Extension version: 0.80.0
VS Code version: Code 1.59.0 (379476f0e13988d90fab105c5c19e7abc8b1dea8, 2021-08-04T23:13:20.182Z)
OS version: Linux x64 5.10.9-20

[2021-08-17 13:33] Pankaj-Talesara commented on #937
Happening with me too. Disabling IntelliCode and overwrite doesn't fix it

[2021-08-17 13:41] DoganM95 commented on #495
Damn, this issue is now over 2 years old, still getting notifications on this

[2021-08-17 17:51] kjq commented on #2064
Maybe related/fixed by https://github.com/redhat-developer/vscode-java/issues/2020

[2021-08-18 00:37] jsoref opened #2070 "Should pause updates during git rebase"
Issue Type: <b>Performance Issue</b>

I'm running a 250+ commit rebase (repeatedly) on a Java project (zap-extensions).

The Java project has ~3k warnings. Periodically during the rebase, the warnings number will reset and then climb.

Expected results: while the file system is unsettled, pause updates. Once the file system is settled, perform an update.

(I'm currently playing with extensions, an

[2021-08-18 05:24] mozhuanzuojing opened #2071 "[regression] Version 0.81.0 takes more than twice the compilation time than the previous version"
# Version 0.81.0 takes more than twice the compilation time than the previous version

##### Environment
- Operating System: Windows_NT x64 10.0.19043
- JDK version: 16
- Visual Studio Code version: 1.60.0-insider (system setup)
- Java extension version: 1.81.0
- gradle wrapper version: 7.2

##### Steps To Reproduce
1. just only log file

[log.zip](https://github.com/redhat-developer/vscode-java/f

[2021-08-18 09:07] fbricon commented on #2066
It might be doable, see https://www.beyondjava.net/run-eclipse-formatter-command-line for inspiration, but we won't provide support for it. If it doesn't work, it doesn't work.

[2021-08-18 09:09] #2066 closed

[2021-08-18 10:35] jsoref commented on #2070
I think it'd be sufficient to detect external changes to the repository and wait a bit before doing a build, and if there's another external changes, wait more.

You could check for the presence of the git rebase todo file, but I don't think it's a necessary gate.

[2021-08-18 15:42] rgrunber commented on #2071
I would probably check the individual execution times of the plugins that comprise the JDT-LS product to get a better idea of where this may be happening.

$ cat .options
org.eclipse.osgi/debug/bundleStartTime=true

[code]

I can try this out also to see if I get any insights.

[2021-08-18 15:54] JasonWThompson opened #2072 "Feature Request - Rearrange members in "Java Projects" view"
The "Java Projects" view displays all of the projects, types, and members of said types. I would like to be able to drag and drop the members to new locations in order to rearrange the order of a type. It would be even more desirable if I could drag and drop members to different types as well.

##### Environment
- Operating System: Windows 10
- JDK version: 1.8
- Visual Studio Code version: 1.59.0

[2021-08-18 16:41] fbricon commented on #2072
The Java Projects view is contributed by [Project Manager for Java](https://marketplace.visualstudio.com/items?itemName=vscjava.vscode-java-dependency). Please open your request in https://github.com/microsoft/vscode-java-dependency/issues

[2021-08-18 16:41] #2072 closed

[2021-08-18 17:01] fbricon commented on #2048
Closing as ticket is not actionable

[2021-08-18 17:01] #2048 closed

[2021-08-18 17:03] fbricon commented on #2064
Please check with the newly released vscode-java 0.81.0

[2021-08-18 17:48] rgrunber commented on #2071
I'm testing on Linux and tried with Java 11 & Java 16 as the runtime environment.

I don't think there is a major difference for startup of just the language server (which is independent of import+building), at least for me, on Linux. I tried rebuilding JDT-LS based off of the v1.2.0 and v1.3.0 tags as well as simply using the exact server content within vscode-java 0.80.0 and 0.81.0.

From repeat

[2021-08-18 23:54] rgrunber commented on #2067
When you open VS Code is there a project opened in the workspace ? After you perform the above actions, can you post the contents of the language server log file at `$HOME/.config/Code/User/workspaceStorage/${workspaceId}/redhat.java/jdt_ws/.metadata/.log`, where ${workspaceId} would be some hashed string ?

[2021-08-19 02:15] Eskibear opened #2074 "showing "Refreshing Maven model: [0/-1]" when importing gradle projects"
##### Steps To Reproduce
1. open a newly created gradle project
2. click "show detailes" or the spinning icon to view current status.

##### Current Result
While downloading dependencies, there was a line below:
[code]

When it was completed, the line became:
[code]

##### Expected Result
It's confusing, and I'm wondering why it needs to refresh maven model when importing a gradle project.

[2021-08-19 02:51] mozhuanzuojing commented on #2071
## Gradle compilation is divided into two steps. The first step is to initialize first, which takes 134 seconds, and the second step officially starts to compile, which takes 240 seconds.
The compilation of the previous version 0.80.0 took 150 seconds in total.
Below is a screenshot of the cpu and jvm compiled by my local project

![gradleDeamonBuildStart ](https://user-images.githubusercontent.co

[2021-08-19 02:54] mozhuanzuojing commented on #2071
I suspect it is related to the current version of bug #2020 fix

[2021-08-19 02:55] mozhuanzuojing commented on #2071
It took 134 seconds to initialize my project, which was more than two minutes. The sleep time waiting for the initialization task in elipse.jdt.ls is only two minutes

[2021-08-19 03:21] jdneo opened #2075 "java.project.exclusion is not working as expected"
### Steps to repro:

1. Use the project: https://github.com/eclipse/eclipse.jdt.ls/tree/master/org.eclipse.jdt.ls.tests/projects/maven/multimodule,
2. Before open it in VS Code, set the `java.import.exlusions` in settings.json:
[code]
3. Open it in VS Code

##### Expected result
modules under `**/module1/**` gets imported

##### Actual result
no projects imported into workspace

### Investigation

[2021-08-19 06:31] shrinidhi111 opened #2076 "It tries to use remote server instead of my local server"
I use remote SSH regularly but there seems to be an issue where this extension is not able to differentiate between the extension installed in my local system and the one in the remote server.

It keeps trying to reach the remote `/home/remoteserver/.vscode-server/` instead of my local Windows one when I am not in remote SSH mode.

Nothing works so I am forced to use a remote server even when it's