[2021-12-21 12:00] testforstephen opened #2259 "Use proper cacerts to import Java projects"
For some enterprise users, they use custom certificates to override the JDK‘s own cacerts (`<JAVA_HOME>/lib/security/cacerts`), so using the JDK on their machine can build and run their Java application well.

Starting with 1.2.0, Java extension will use an embedded JRE 17 to launch Java extension and import user's Java projects. If user's Maven projects use dependencies from a custom Nexus HTTPS

[2021-12-21 15:52] TylerLeonhardt commented on #2256
Sounds like the mitigation will be enough. Great!

My opinion is to recommend using a different property name (like `type`) or something so that you aren't overriding the meaning of this newly added property to the API, but that's totally your call. I'll go ahead and close this since I got my answer. Thanks!

[2021-12-21 15:52] #2256 closed

[2021-12-21 22:13] tarekahf commented on #618
This allowed be to show the `.settings` folder in my VS Code Explorer. Thanks!

[2021-12-22 01:47] #2254 closed

[2021-12-22 05:17] testforstephen commented on #2259
Added this to the wiki. https://github.com/redhat-developer/vscode-java/wiki/Use-proper-cacerts-to-import-Java-projects

[2021-12-22 05:21] testforstephen commented on #2255
Java 18 is in early access stage, and vscode-java extension does not support it yet.

[2021-12-22 12:09] prithvisharma commented on #1739
@GaZaTu
if you found any solution for this please let me know, its happening with one of my projects for some reason... :(

[2021-12-22 12:25] testforstephen commented on #2254
@brunovieira97
https://download.jboss.org/jbosstools/jdt.ls/staging/java-1.3.0-491/ has fixed this issue, pls try to download the new extension version **java-darwin-arm64-1.3.0-491.vsix** for Apple M1, and manually [install the vsix](https://code.visualstudio.com/docs/editor/extension-marketplace#_install-from-a-vsix) to VS Code.

[2021-12-22 12:45] GaZaTu commented on #1739
@prithvisharma i don't think i ever fixed that, sry 😥

[2021-12-22 12:46] prithvisharma commented on #1739
@GaZaTu this happened to me a few hours back
i was coding and suddenly save didnt happen, auto complete stuck loading...
😞

[2021-12-22 15:38] CarlPer opened #2260 "Error during initialization"
An internal error occurred during: "Initialize workspace".

##### Environment
- Operating System: Win 10
- JDK version:  1.8
- Visual Studio Code version: 1.63.2
- Java extension version: 1.2.0

##### Steps To Reproduce
1.  Open up VSCode

[Please attach a sample project reproducing the error]
[Please attach logs](https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#enable-logging)

[2021-12-22 17:39] snjeza commented on #2260
@CarlPer could you try JDK >= 11?

[2021-12-22 20:03] mattwelke commented on #2255
I figured that's why I wasn't able to choose "JavaSE-18" as a name for the runtime in settings. But I was pleasantly surprised to see that I was able to use it to develop (see my screenshot where it shows Intellisense working for Java 18 virtual thread stuff). It just didn't play nice with the other Java features of VS Code like how it interacts with Maven. VS Code seemed to use my pom.xml file to

[2021-12-23 00:12] felipewind commented on #1232
This workaround solved my problem. I'm using the version v1.2.0.

[2021-12-23 01:54] testforstephen commented on #2260
@CarlPer Could you pls share the full logs? thanks.

**F1 -> Java: Open All Log Files**

[2021-12-23 02:18] Tarrowren opened #2261 "[BUG] annotations cause language service exceptions"
##### Environment

- Operating System: Win10
- JDK version: openjdk11
- Visual Studio Code version: 1.63.2
- Java extension version: 1.2.0

##### Steps To Reproduce

[code]

Using both `@Data` and `@JsonSetter` and assigning values to the `nulls` will cause an exception in the language service

##### Current Result

![1](https://user-images.githubusercontent.com/35626141/147177437-335dd6d2-e9ff-46

[2021-12-23 02:35] brunovieira97 commented on #2254
@testforstephen was able to test today and it's working as expected now. Thank you for fixing this so fast, everyone!

[2021-12-23 15:41] abpicoli1 opened #2262 "GRADLE build should have a big red message when there are project issues."
When I import a gradle project , visual studio code is absolutely SILENT if the build fails: the only way I can know that the reason why a project is not refreshing is actually an issue with the build is by actually run the build through the console.

Because of that, an update project may either keep showing stale data or not

##### Environment
- Operating System: whatever
- JDK version: whatever

[2021-12-24 12:09] FooqX opened #2263 "Import completion"
This annoying feature, how to disable it?

##### Environment
- Operating System: Windows10
- JDK version: 17
- Visual Studio Code version: vscode insiders
- Java extension version: 1.2.0

##### Steps To Reproduce
1. Install redhat
2. Type something like sout and it will recommend imports like SourceDataLine which is very annoying behaviour

![Code_-_Insiders_rXq7C0tuVc](https://user-images.githubu

[2021-12-24 19:06] AgainPsychoX opened #2264 "Projects not recognized, nothing works."
[provide a description of the issue]

##### Environment
- Operating System: `Windows 10`
- JDK version: `OpenJDK 64-Bit Server VM Temurin-17.0.1+12 (build 17.0.1+12`
- Visual Studio Code version: `1.63.2`
- Java extension version: `Language Support for Java(TM) by Red Hat v1.2.0`

##### Steps To Reproduce

1. Install `Extension Pack for Java v0.20.0` (including the `Language Support for Java(TM) b

[2021-12-24 19:11] AgainPsychoX commented on #2264
Might be related: https://openjdk.java.net/jeps/396

[2021-12-24 19:24] AgainPsychoX commented on #2264
https://github.com/eclipse/eclipse.jdt.ls/issues/1976

[2021-12-24 21:35] snjeza commented on #2264
@AgainPsychoX you may want to take a look at https://github.com/microsoft/vscode-java-debug/issues/1023#issuecomment-982457857

[2021-12-25 06:43] monaka commented on #458
Just in my case, the issue was fixed by adding `<java.version>11</java.version>` to pom.xml.
No vmargs setting required.

[code]

It looks vscode-java generates configs for Java8 and recent versions of jars expect newer Javas.
I'm not familiar with Java build tools except Maven. But I guess there is a way to set the version of Java.

My env is [java-0.82.0-369.vsix on Theia in Eclipse/Che](https:/

[2021-12-25 13:01] AgainPsychoX commented on #2264
Tried installing version `Language Support for Java(TM) by Red Hat 1.3.0` from VSIX package, that was built with `Java Language Server 1.8.0.202112220149`. The same issue occurs.

[2021-12-26 17:29] petrolpost opened #2265 "Language Support for Java keep waiting while open a Spring Boot project"
[provide a description of the issue]

##### Environment
- Operating System:Windows10
- JDK version: 8
- Visual Studio Code version:1.63.2
- Java extension version: Language Support for Java(TM) by Red Hat v1.2.0

##### Steps To Reproduce
1. create a Spring Boot demo project using Spring Initializer.  ok
2. close VSCode and reopen project. Language Support for Java try analysis project, and keep wa

[2021-12-26 18:38] snjeza commented on #2265
@petrolpost I can't reproduce the issue. Could you attach your project?

[2021-12-27 03:42] hasen6 opened #2266 "Language tools status stuck spinning forever"
My Java project was working up until last night (and has been for months no problem), then I opened vscode today and the status in the language tools at the bottom is constantly spinning and never shows a thumbs up https://github.com/redhat-developer/vscode-java/#troubleshooting

I tried installing 1.63.1 instead but it doesn't change anything.

##### Environment
- Operating System: MacOS 10.13.6

[2021-12-27 03:44] testforstephen commented on #2264
@AgainPsychoX Could you try to append `"--add-opens=java.base/sun.nio.fs=ALL-UNNAMED"` to the existing VS Code setting `"java.jdt.ls.vmargs"`?

e.g. change it to the following value.

`
"java.jdt.ls.vmargs": "-XX:+UseParallelGC -XX:GCTimeRatio=4 -XX:AdaptiveSizePolicyWeight=90 -Dsun.zip.disableMemoryMapping=true -Xmx1G -Xms100m --add-opens=java.base/sun.nio.fs=ALL-UNNAMED"
`

[2021-12-27 05:11] testforstephen commented on #2266
Could you pls share the logs? thanks.

**F1 -> Java: Open All Log Files**

[2021-12-27 07:10] hasen6 commented on #2266
Ok this is the log.
[client.log.2021-12-27.txt](https://github.com/redhat-developer/vscode-java/files/7778859/client.log.2021-12-27.txt)

[2021-12-27 07:15] hasen6 commented on #2266
It was my error, never mind.

[2021-12-27 07:15] #2266 closed

[2021-12-27 07:34] testforstephen commented on #2266
Nice to know you have solved the issue. Would you mind sharing the root cause of this error?

[2021-12-27 07:52] hATrayflood commented on #2264
remove `.vscode\extensions\redhat.java-1.2.0\jre` and restart vscode.

[2021-12-27 13:17] AgainPsychoX commented on #2264
Seems to work! Is this official solution? Why isn't it in the codebase in the first place or something? Or will it be addressed somehow else in next versions?

[2021-12-27 20:01] snjeza commented on #2253
@itomcat666 Could you try to add the following property:

[code]

cc @testforstephen @jdneo @Eskibear

[2021-12-28 01:45] idoybh commented on #634
`repo forall -c "git clean -f ."`

But yea I get why this is annoying. I have the same

[2021-12-28 01:51] dhkim09a commented on #634
Thank you. Actually, it's more than annoying when I have untracked changes. But still thank you for the suggestion.

[2021-12-28 02:05] idoybh commented on #634
Yea understandable. This plugin not working properly in AOSP is the only reason I'll keep using atom ;)

[2021-12-28 02:55] testforstephen commented on #2264
@AgainPsychoX, thanks for your verification.

Yes, it's a bug that we have to fix.

The reason is that your workspace contains symbolic links, and VS Code Java extension uses some JDK API `sun.nio.fs.WindowsFileAttributes.isDirectoryLink()` on Windows to check if it is a symbolic directory. This API is marked as an internal API starting with JDK 16, see [JEP 396: Strongly Encapsulate JDK Internals

[2021-12-28 09:44] ascertrobw commented on #634
Agreed - happily use VSCode for many things, but my Java work remains on NB as a result of this one single issue.

[2021-12-28 11:38] petrolpost commented on #2265
Almost every project I met.
I cloned https://github.com/mybatis/spring-boot-starter into local folder. When I open the project "Language Support for Java" Prompts a message of "Opening Java Project: check details". It won’t stop unless I disable that extension .

[2021-12-28 11:53] petrolpost commented on #2265
During the waiting period, the CPU occupancy rate exceeded 12 percent (8 cores)

[2021-12-28 16:05] snjeza commented on #2265
@petrolpost I can't reproduce the issue.

Could you, please, attach your logs?

- enable the "java.trace.server": "verbose" setting,
- restart vscode
- attach the logs (Command palette : Java: Open all log files)

See [Enable logging](https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#enable-logging)

[2021-12-29 04:32] hasen6 commented on #2266
It was something I did the previous day and forgot about. I noticed that the cache files for vscode had gotten really huge, like several gigabytes so I deleted them directly in my library system folder. But when vscode opened the following day it must have created new cache files incorrectly or something, I don't know exactly but it then failed to reach ready status even after opening and re-openi

[2021-12-29 16:05] V-arc commented on #1543
Does your VSCODE also display this interface every time you start it?
<img width="581" alt="屏幕截图 2021-12-30 000339" src="https://user-images.githubusercontent.com/53041402/147681268-254f0dd1-b07a-43d8-89b1-284673c16945.png">

[2021-12-29 17:59] snjeza commented on #2263
@FooqX you can try to add

[code]
to <your_projects>/.settings/org.eclipse.jdt.core.prefs

See also [Settings Global Preferences](https://github.com/redhat-developer/vscode-java/wiki/Settings-Global-Preferences)

[2021-12-30 07:49] hjue opened #2267 "Can't run the java code"
**Environment:**

- VS Code Version: Version: 1.63.2

- Extension Version:
- JDK Type & Version: java "17.0.1"
- OS Type & Version: Mac Monterey 12.1

**Step to Reproduce:**
Installing extensions
![image](https://user-images.githubusercontent.com/1135045/147723588-f975132a-6d14-43ad-8d6e-db1aee71a9ab.png)

Settings for the JDK

![image](https://user-images.githubusercontent.com/1135045/147723361-b

[2021-12-31 10:21] itomcat666 commented on #2253
@snjeza  after I add the property
[code]
,this extension "Language Support for Java(TM) by Red Hat from version" work well and it can suggest  tip

my god,the two extensions conflict?😭

[2021-12-31 15:17] soumesh2002 opened #2268 "Uncaught Error: Connection got disposed"
[provide a description of the issue]

##### Environment
- Operating System: Windows 11
- JDK version: 17.0.1
- Visual Studio Code version: 1.63.2
- Java extension version: 1.2.0

<img width="551" alt="image" src="https://user-images.githubusercontent.com/53593544/147830155-99d0f53a-c2b5-4b78-bc99-823737c47fed.png">

[2022-01-01 16:02] 4g3nt47 opened #2269 "Passing arguments to the Java compiler."
Is it not possible to pass arguments to the Java compiler on a project with no build tools? I just want to pass `-release 9` to java compiler to support older JVMs. I can't find anything in settings.

- Platform: Debian 10 Linux
- VScode: version 1.63.2

[2022-01-01 18:58] jeffemandel opened #2270 "Local repository jar shown as not importing in VS Studio, but project builds"
I have a project that is comprised of both Spring Boot Java and MATLAB code. The pom is organized:
dise_main
    |_ dise_java
    |_ dise_matlab

dise_matlab invokes a Mojo that calls the Matlab engine to generate a jar (dise_matlab.jar) with a single class (diseservlet) which is installed in the local repository.
<img width="319" alt="image" src="https://user-images.githubusercontent.com/11840192

[2022-01-03 07:10] justinkb opened #2271 "VSIXPackage for redhat.java 1.2.0 is actually 1.1.0"
https://github.com/microsoft/vsmarketplace/issues/288

See here

##### Environment
- Operating System:
- JDK version:
- Visual Studio Code version:
- Java extension version:

##### Steps To Reproduce
1. [step 1]
2. [step 2]

[Please attach a sample project reproducing the error]
[Please attach logs](https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#enable-logging)

##### Current

[2022-01-03 18:43] #2263 closed

[2022-01-03 20:13] fabgilson commented on #1739
Had a similar issues (terminal stayed empty, building and auto complete stuck). I ended up removing all extensions and reinstalling Redhat and gradle only, then import a project (successfully that time) and reinstalled my other extensions. I did not reinstall the extension pack for Java from Microsoft yet.

Was using vscode over WSL (ubuntu 20.04).

[2022-01-04 01:57] jdneo commented on #1543
@V-arc The latest `Language Support for Java` has embedded a JDK to launch itself, so there is no need to download another JDK11 to launch it. Please try the latest one and see if it works.

[2022-01-04 02:00] Eskibear commented on #2271
I've glanced at the content, the given link provides a vsix for generic platform, aka without specifying `--target` when publishing.

fyi @testforstephen

[2022-01-04 02:41] testforstephen commented on #2271
The marketplace API behavior is out of scope of redhat.java extension. We need to wait for the upstream VS Code marketplace team to clarify this issue first. See my comment https://github.com/microsoft/vsmarketplace/issues/288#issuecomment-1004486230

[2022-01-04 02:59] Eskibear commented on #2253
I can reproduce it. More like a bug in intellicode extension. I'll work on that.

[2022-01-04 05:10] V-arc commented on #1543
@jdneo Great! I just upgraded `Language Support for Java` to version **v1.2.0** and it worked without warning. Thanks!

[2022-01-04 14:33] Bno93 commented on #1543
How about gradle support ?
Do I need to update my projects gradle ?
Because I need to stick with Gradle 4.0.2.

[2022-01-05 01:42] jdneo commented on #1543
@Bno93

I think you can try to set the setting `java.import.gradle.java.home`, use it to point to your own JDK which is compatible with Gradle 4.0.2

[2022-01-05 02:24] jo-zzy commented on #2268
I get the same error

- Operating System: Windows 10
- JDK version: 11.0.13
- Visual Studio Code version: 1.63.2
- Java extension version: 1.2.0

[2022-01-05 07:29] jdneo opened #2272 "Support adding referenced library into module path"
In a modular project, if the project requires a referenced library from the `module-info.java`, the project will fail because we are now always adding the referenced libraries into classpath.

Maybe we should try to add them into modulepath if:

- The project is a modular project
- The lib is a modular jar

[2022-01-05 08:19] fireguy123 commented on #2159
Related problem here. Using JDK 17.0.1 and Gradle 7.3.3
[client.log.2022-01-05.2.txt](https://github.com/redhat-developer/vscode-java/files/7813156/client.log.2022-01-05.2.txt)
[log.txt](https://github.com/redhat-developer/vscode-java/files/7813171/log.txt)

[2022-01-05 14:30] KyL0N commented on #2268
same error :(

[2022-01-05 15:16] testforstephen commented on #2268
Could someone share the logs from these places?

- **F1 -> Java: Open All Log Files**
- **Help -> Toggle Developer Tools -> Console**

[2022-01-05 16:54] Osolemio44 opened #2274 "Automatic sorting members"
Hello. In Eclipse there is an option that sorts the code automatically (source> sort members> all members).
![image](https://user-images.githubusercontent.com/55595063/148256658-0216f910-a25f-4aca-96b6-b56e01a63d74.png)

Be careful not to be confused with refactoring. I am not looking to indent the code but to reorder the methods. Does anyone know how I can do the same in VSCode?

[2022-01-05 17:28] fbricon commented on #2274
This feature is not supported at the moment

[2022-01-05 18:58] zkxjzmswkwl commented on #366
This is still an issue.

There very much needs to be better support of Maven projects.

[2022-01-05 20:02] n614cd commented on #495
I am getting a buildpath incomplete error on a multi-project build on Quartz.
Short version:

- Gradle build files
- java 11.
- The build works from the command line using gradle
- No changes, and it works fine with IntelliJ.
- Runtime works just fine
- Verified the correct version of quartz installed in the classpath; and all dependencies with exact versions used.

Same error posted above.. Has a

[2022-01-05 20:06] snjeza commented on #495
@n614cd could you, please, attach a project example?

[2022-01-05 20:32] n614cd commented on #495
@snjeza

Unfortunately this is private code I am working with. I have tried to strip the project down multiple ways (such as removing the java source files). Once I strip the code from the project (I have tried to remove test code, all code, core libraries...). I am no longer getting the error.  Which leads me to believe that the problem is less likely with the build itself, and more likely with s

[2022-01-06 01:23] testforstephen commented on #2267
@hjue Could you share the logs from these places?

- **F1 -> Java: Open All Log Files**
- **Help -> Toggle Developer Tools -> Console**

[2022-01-06 06:39] Eskibear commented on #2253
Found the culprit. IntelliCode doesn't cover new `LAMBDA_EXPRESSION` completion kind, leading to completion failure in such case. I'll fix that in IntelliCode.

`LAMBDA_EXPRESSION`  has been added into jdt.core since v3.28
https://git.eclipse.org/r/plugins/gitiles/jdt/eclipse.jdt.core/+/refs/tags/I20211126-1800/org.eclipse.jdt.core/model/org/eclipse/jdt/core/CompletionProposal.java?autodive=0%2F%2

[2022-01-06 07:17] Eskibear commented on #2253
BTW, eclipse.jdt.ls also has robustness issue without intellicode. Although the completion looks well, you'll find below error in output channel, because `LAMBDA_EXPRESSION` is not coverred.

[code]

[2022-01-07 02:13] Eskibear commented on #2253
@itomcat666

I've made a patch in intelliCode, can you try the private build below?
- Close VS Code.
- Unzip [intellicode-fix2253.zip](https://github.com/redhat-developer/vscode-java/files/7825832/intellicode-fix2253.zip) and copy `com.microsoft.jdtls.intellicode.core-0.4.5.jar` into folder `C:\Users\<username>\.vscode\extensions\visualstudioexptteam.vscodeintellicode-1.2.15\dist`
- Start VS Code.

[2022-01-07 15:20] Bno93 commented on #1543
@jdneo seems find even without setting `java.import.gradle.java.home`. I've removed every generated files and folders and additionally cleared Java Language Server Workspace to make sure that I don't ran into problems opening fresh projects in the future.

[2022-01-07 18:21] snjeza commented on #2261
I can't reproduce the issue.
Test project:
[test.zip](https://github.com/redhat-developer/vscode-java/files/7830588/test.zip)

JVM arguments:
[code]

[2022-01-08 00:48] cydparser opened #2276 "Provide a way to disable embedded JRE"
The embedded JRE assumes a traditional FHS directory structure on Linux. Nontraditional distributions, like NixOS, do not have directories like _/lib_ and so the embedded Java executable cannot be used. The following opaque error occurs when opening a Java file on NixOS:
[code]

The file exists, but it requests a nonexistent interpreter, _/lib64/ld-linux-x86-64.so.2_. Deleting the _jre_ directory

[2022-01-08 01:24] Tarrowren commented on #2261
I found that it was a problem with the `Lombok Annotations Support for VS Code` plugin, using the jvm parameters provided by @snjeza  will solve it
[code]

[2022-01-08 01:24] #2261 closed

[2022-01-08 05:09] #2247 closed

[2022-01-08 06:27] hectortv9 opened #2277 "Java extension: Failed to get sources. Instead, stub sources have been generated by the disassembler."
While editing my Java code, I am not getting the Javadocs from JDK's source code whenever I hover an element or do a [CTRL]+[LEFT CLICK]. Instead, I am getting code generated by a disassembler.

[code]
 The source file is there at:

[code]

##### Environment
- Operating System: Windows 11
- JDK version:
openjdk version "17.0.1" 2021-10-19
OpenJDK Runtime Environment (build 17.0.1+12-39)
OpenJDK 64

[2022-01-09 16:21] AdityaSre commented on #2268
Same error.

[2022-01-10 01:58] testforstephen commented on #2268
I also see some uncaught errors in the Runtime Status page when opening a Java file in VS Code. However, it seems the Java extension still works well, code completion, go to definition, debugging and other features all work.

[2022-01-10 02:52] itomcat666 commented on #2253
@Eskibear yes,I try you private build just now,it work good on version 1.2.0, thank you !😊

[2022-01-10 03:59] hectortv9 commented on #2277
Source code is now available and visible when hovering

[2022-01-10 03:59] #2277 closed

[2022-01-10 08:50] CarlPer commented on #2260
@snjeza Same for JDK 11
`[Error - 09:48:41] 10 jan. 2022 09:48:41 An internal error occurred during: "Initialize workspace".
URI is not hierarchical
java.lang.IllegalArgumentException: URI is not hierarchical
	at java.base/java.io.File.<init>(Unknown Source)
	at org.eclipse.jdt.ls.core.internal.managers.StandardProjectsManager.addWatcher(StandardProjectsManager.java:532)
	at org.eclipse.jdt.ls.cor

[2022-01-10 08:52] CarlPer commented on #2260
@testforstephen here is the log
[.log](https://github.com/redhat-developer/vscode-java/files/7837664/default.log)

[2022-01-10 09:55] SlappyAUS commented on #761
Any updates?

[2022-01-10 12:25] testforstephen commented on #2260
@CarlPer Your setting `"java.settings.url"` is not a valid URI, you need to set it to `"file:///C:/Users/Rottosson/.vscode/settings.prefs"`.

[2022-01-10 13:41] madelaney opened #2278 "Unable to detect OpenJDK installed via Homebrew."
While trying to load/use the Java Extension, using JDK's provided by [Homebrew](https://brew.sh/), I was unable to get the plugin to use the provided Homebrew OpenJDK installations.

##### Environment
- Operating System: Mac OS X (12.1)
- JDK version:  11.0.12 (2021-07-20)
- Visual Studio Code version: VSCodium 1.63.2
- Java extension version: v1.1.0

##### Steps To Reproduce
1. Install Java Exten

[2022-01-10 16:00] Eskibear commented on #2278
Try v1.2.0 ?
https://github.com/redhat-developer/vscode-java/releases/tag/v1.2.0

[2022-01-10 16:09] Eskibear commented on #2276
@cydparser One way I can think of is to manually install the vsix package without embedded JDK. See https://github.com/redhat-developer/vscode-java/releases/tag/v1.2.0

@testforstephen FYI, looks that the embedded JDK is not working on some unpopular Linux distros.

[2022-01-10 16:53] madelaney commented on #2278
Sure, I can give that a shot.

Curious that I just installed the plugin, a few hours before creating the issue, but I didn't get the latest version. 💭

[2022-01-10 18:57] madelaney commented on #2278
Updating to v1.2.0 didn't resolve anything. However, setting `java.home` to the home of path of my OpenJDK 11 installation (`/usr/local/Cellar/openjdk@11/11.0.12`) seems to have resolved the issue.

In leu of the new information, I don't think it was the of `java.configuration.runtimes` but instead the lack of a `java.home` property.

I find this kind of odd because I do have `JAVA_HOME` set in my

[2022-01-10 19:23] snjeza commented on #2260
@CarlPer There isn't .vscode\settings.prefs
You should remove the _java.settings.url_ property.

[2022-01-10 19:38] rgrunber commented on #2242
Closing as the duplicate issue was addressed. Should be fixed in 1.2.0.

[2022-01-10 19:38] #2242 closed

[2022-01-10 19:42] rgrunber commented on #2274
Marking as duplicate of https://github.com/redhat-developer/vscode-java/issues/2139 (would be good to upvote there) . I think this is definitely possible because the API to achieve it is open to us from the JDT-LS side. I discuss a bit of what might need to happen to achieve this, but If I get some time and more people indicate their interest, maybe we can prioritize.

[2022-01-10 19:42] #2274 closed

[2022-01-10 22:21] nortakales opened #2279 "java.completion.filteredTypes is not filtering types"
I have `zaa.*` in my `java.completion.filteredTypes`, but things like `zaaa.com.google.common.collect.ImmutableMap` still show up in autocomplete.

##### Environment
- Operating System: Windows 10
- JDK version: 11
- Visual Studio Code version: 1.63.2
- Java extension version: 1.2.0

##### Steps To Reproduce
1. Nothing out of the ordinary... just create a Java project with some dependencies and tr

[2022-01-11 01:58] testforstephen opened #2280 "Should support polyglot projects better"
Java projects are not automatically detected when a polyglot project is opened in VS Code. For example, microservice app (e.g. https://github.com/elgris/microservice-app-example) usually places each service into a separate folder, see the structure below. Since the root folder doesn't have any build file, Java extension is not be activated automatically. Every time users have to open a Java file b

[2022-01-11 02:03] Eskibear commented on #2278
`java.home` is deprecated since v1.2.0, where we embed a platform-specific JDK 17 inside to launch our tools. See https://github.com/redhat-developer/vscode-java/issues/2109 I'm also curious why it didn't work.

How did you install v1.2.0? Marketplace is supposed to deliver corresponding package, if you download vsix from Github, for Mac OS X with Intel chips, you should choose `redhat.java-1.2.0@

[2022-01-11 02:13] testforstephen commented on #2276
As far as I know (https://github.com/microsoft/vsmarketplace/issues/288#issuecomment-1004581787), NixOS is not installing extensions via VS Code marketplace, but explicitly download Java extension from the specified URL. If so, can NixOS download the generic version without embedded JRE from the URL https://github.com/redhat-developer/vscode-java/releases/download/v1.2.0/redhat.java-1.2.0.vsix?

B

[2022-01-11 03:31] jdneo commented on #2243
Update: found a new approach in [#1962](https://github.com/eclipse/eclipse.jdt.ls/pull/1962). We can check the `IMarker`s after import and know if there are any errors when importing the projects. Meanwhile, this makes it possible to recover the server status once those errors are resolved.

[2022-01-11 03:43] cydparser commented on #2276
@Eskibear
This [comment](https://github.com/redhat-developer/vscode-java/blob/3fe63b502adc2fe20e9e50ccb75ae854b7a44228/src/requirements.ts#L40) indicates that `java.home` is not used by the version installed from the marketplace.

[2022-01-11 03:57] cydparser commented on #2276
@testforstephen
There are multiple ways to install VS Code and extensions on NixOS with different tradeoffs. I installed VS Code through NixOS, but the extensions through the marketplace. A downside to managing the extensions with NixOS is that the versions often lag far behind.

NixOS installs everything in _/nix/store/_ and creates symlinks in either _/run/current-system/sw/_ for system installs

[2022-01-11 04:13] safield commented on #1876
I am seeing the same issue on MacOs 12.0.1 monterey.

[code]

[2022-01-11 06:49] CarlPer commented on #2260
@snjeza  "file:///C:/Users/Rottosson/.vscode/settings.prefs" did not solve the problem.
The file works, because if I remove it I will lose a lot of project warnings/infos.

[2022-01-11 11:12] hjue commented on #2267
dev tools log screenshot
![image](https://user-images.githubusercontent.com/1135045/148932245-98ea424f-8b36-47c8-aeca-5b25064ca7f8.png)

client.log
[code]

[2022-01-11 11:36] deekshithanand commented on #1263
This is a nice feature to have , vs code currently doesnt let to select a profile by default. I am looking for something like this https://www.jetbrains.com/help/idea/work-with-maven-profiles.html#activate_maven_profiles. I can activate a profile when I run via mvn, but am not sure how to do this via autobuild feature used by vscode. Is there any update on this? Its really painful when there are m

[2022-01-11 16:06] rgrunber commented on #2227
@snjeza Wouldn't we also have to adjust things like CodeLensHandler (which uses its own SearchEngine for references and implementations) ?

[2022-01-11 17:39] rgrunber commented on #2236
Are there any other cases where 2 different types of problems/diagnostics with the same resolution can appear on the same line ?

[2022-01-11 18:20] snjeza commented on #2260
The file works, because if I remove it I will lose a lot of project warnings/infos.

@CarlPer could you try to create/add
[code]

[2022-01-11 18:34] snjeza commented on #1263
@deekshithanand you have to edit _<your_project>/.settings/org.eclipse.m2e.core.prefs_

[2022-01-11 19:01] snjeza commented on #2227
@rgrunber I have done it. See https://github.com/eclipse/eclipse.jdt.ls/pull/1984/commits/1aa927b1234e656163e14f6a52839ea3303549f8

[2022-01-11 19:45] snjeza commented on #2236
In my opinion there aren't any.

[2022-01-11 21:44] #2227 closed

[2022-01-12 04:09] soumesh2002 commented on #2268
@testforstephen yes.. you're right everything works fine but there is an ⚠️error message showing as.
This extension got an uncaught error which is redirecting to runtime status of the extension and saying connection got disposed. I think this is a bug in the extension which is been there for some time now and not been fixed😁

[2022-01-12 05:46] testforstephen commented on #2276
Another idea I had was that we could detect if the underlying Linux distribution follows the traditional FHS and automatically disable the embedded JRE if it is running on a non-FHS distribution.

[2022-01-12 06:40] CarlPer commented on #2260
@snjeza Tried that and starting with "file:\\C...."
Neither does work and I get this new error instead:
`[Error - 07:39:42] 12 jan. 2022 07:39:42 Illegal character in opaque part at index 2: C:\Users\Rottosson\.vscode\settings.prefs
Illegal character in opaque part at index 2: C:\Users\Rottosson\.vscode\settings.prefs
java.net.URISyntaxException: Illegal character in opaque part at index 2: C:\Use

[2022-01-12 07:00] 759852125 opened #2281 "How to ignore this error message,When actually compiling and running, it is allowed"
@apupier

![image](https://user-images.githubusercontent.com/54934866/149079296-727a4957-2f97-46c8-b0aa-7b09cc08f5c1.png)

[2022-01-12 08:28] apupier commented on #2281
@759852125 Why am I tagged on this issue?

Few ideas:
- use @SuppressWarning annotation
- Provide the parameterized type (which is the best practice)

[2022-01-12 08:32] 759852125 commented on #2281
thank you

[2022-01-12 08:32] 759852125 commented on #2281
thank you

[2022-01-12 08:32] #2281 closed

[2022-01-12 10:38] svimanet commented on #2090
## VSCode:
Version: 1.63.2 (user setup)
Date: 2021-12-15T09:40:02.816Z
Electron: 13.5.2
Chromium: 91.0.4472.164
Node.js: 14.16.0
V8: 9.1.269.39-electron.0
OS: Windows_NT x64 10.0.19044

## VScode extensions:
Extension Pack for Java v0.20.0
Maven for Java v0.34.2
Project Manager for Java v0.18.9
Language Support for Java(TM) by Red Hat v1.2.0

## Additional Notes:
Java 11 (OpenJDK)
Apache Maven 3.6

[2022-01-12 16:14] Osolemio44 opened #2282 "Organize import at package/folder level"
It is very annoying when you need to do an "organize imports" in several files and the only option is to go file by file. This option should exist at the folder level to be able to apply it at once to all the files inside. Or to be able to select several files and allow you to apply it to them. I have seen that there is another post ( #1107 )  from 2019 that talks about this topic, but has no answ

[2022-01-12 16:19] Osolemio44 commented on #2215
Is there any news on this topic? It happens to me constantly. Today I was working on a project that uses a second project. In the second project I have changed the package of some classes. When I returned to the first project, the imports did not mark an error until I opened the files one by one. If you do not open them, it does not mark the errors.

[2022-01-12 21:12] charpov opened #2283 "Incorrect raw type warning on sealed classes"
On code of the form:
[code]
VS Code issues a warning until one writes:
[code]
However, this is not valid Java syntax.

##### Environment
- Operating System: MacOS 12.1
- JDK version: 17
- Visual Studio Code version: 1.63.2
- Java extension version: 1.2.0

[2022-01-12 23:42] mozhuanzuojing commented on #2215
same errors，i must clean

[2022-01-13 06:26] CarlPer commented on #2260
@snjeza Thanks, now it finally works!

[2022-01-13 06:26] #2260 closed

[2022-01-13 09:55] AndrzejKowalski9917 commented on #2279
Hey,

might be a typo. Try `zaaa.*` with 3 _a_.

[2022-01-13 15:23] Osolemio44 commented on #2215
In my case, even after cleaning the project i still need to open each file to make vscode detects the errors.

[2022-01-13 16:59] SystemOut1324 commented on #2268
I have a problem with snippets from server.json not being available do you have the same?

[2022-01-13 20:25] nortakales commented on #2279
I don't see a typo. My settings has both `zaaa.*` and `zaaa.com.google.common.collect.*`.

I did discover something interesting just now though. `java.completion.filteredTypes` does indeed work when auto completing a class. Example:

![Screenshot 2022-01-13 122421](https://user-images.githubusercontent.com/25379568/149403838-2d392c76-ac51-4f35-bca3-a889210ec45f.png)

But as you can see in my initi

[2022-01-13 21:32] 0dinD commented on #2236
I haven't had time to investigate it that much, but what I've found is that it occurs for variable declarations (fields and local variables), but not for parameter declarations:

[code]

[2022-01-13 22:37] snjeza commented on #2236
@0dinD @rgrunber You can test https://github.com/snjeza/vscode-test/raw/master/java-1.2.6.vsix

[2022-01-14 07:43] testforstephen opened #2285 "Support publishing pre-release versions"
- The client UX for pre-release versions - https://code.visualstudio.com/updates/v1_63#_pre-release-extensions
- How to publish pre-release versions - https://code.visualstudio.com/api/working-with-extensions/publishing-extension#prerelease-extensions

[2022-01-14 23:16] #2236 closed

[2022-01-15 22:51] Nightenom commented on #2025
Can confirm the issue for Windows 10 (setup info below, extension v1.2.0). I have JDKs installed on separate work SSD at `P:\\apps\\frameworks\\windows64\\jdk-V` and I'm sure that JAVA_HOME is correctly set.

[code]

[2022-01-16 08:07] jmhodges commented on #795
I think this is the cause some of the folks using protobuf-maven-plugin aren't having their generated sources added to vscode's understanding of the classpath without explicitly adding it with builder-helper-maven-plugin. Folks (like me) use `<protocArtifact>com.google.protobuf:protoc:${protobuf.version}:exe:${os.detected.classifier}</protocArtifact>` to specify the protoc to use in the build, but

[2022-01-16 08:10] jmhodges commented on #795
This seems to be a `m2e` bug, according to os-maven-plugin's README: https://github.com/trustin/os-maven-plugin#issues-with-eclipse-m2e-or-other-ides

[2022-01-16 14:51] mozhuanzuojing opened #2286 "`Clean` should remove .`settings` `.classpath` `.project` in the project"
Hopefully `Java: Clean Java Language Server Workspace` can delete `.settings`, `.classpath`, and `.project` at the same time.

The `.settings`, `.classpath`, and `.project` in the existing project may be wrong. After executing `Java: Clean Java Language Server Workspace`, the construction of the project will be affected by the wrong configuration in these three files, resulting in building the pro

[2022-01-16 16:32] faxterol commented on #363
I had this issue in code-server.
I fixed it deleting this directory:

~/.local/share/code-server/User/workspaceStorage

I deleted the folder and make it again. after that I restarted code server and it loads the extensions again.

[2022-01-16 16:35] faxterol commented on #743
I had this issue in code-server and that fix didn´t work for me. I found this another fix:

Delete and recreate this folder: ~/.local/share/code-server/User/workspaceStorage
Restart code-server

Let code-server reload the extensions.

[2022-01-16 17:49] lispercat commented on #1955
Hi guys, can we resume the discussion?
I pretty much came full circle from trying to implement my own parser for
xml+embedded java to realizing that it would be much better to re-use JDT-LS
server only if it could use virtual documents.

At this point, it looks like when I register virtual document content
provider like so:
 vscode.workspace.registerTextDocumentContentProvider('embedded-content',

[2022-01-17 03:32] DachuanZhao commented on #795
According to [https://stackoverflow.com/a/68660430/6862189](https://stackoverflow.com/a/68660430/6862189) , you should add
[code]
to maven setting file .

[2022-01-17 08:48] Osolemio44 opened #2287 "SerialVersionUID not generating correctly"
I followed the instructions in https://github.com/redhat-developer/vscode-java/issues/1140#issuecomment-889191080 but although it shows me the option to generate the uid, it always generates the short one.

https://user-images.githubusercontent.com/55595063/149736896-059a5b1a-feb3-4241-b100-1535f20ff750.mp4
My config:
![Code_rk3N7KBMkV](https://user-images.githubusercontent.com/55595063/149736917-

[2022-01-17 15:05] rgrunber commented on #1955
The extension has its own [document content provider](https://github.com/redhat-developer/vscode-java/blob/master/src/providerDispatcher.ts#L28) and the language server has to be made aware of [how to deal with it](https://github.com/eclipse/eclipse.jdt.ls/blob/master/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/JDTUtils.java#L424). Otherwise it likely ignores it.

I think you woul

[2022-01-17 16:14] madelaney commented on #2278
@Eskibear, The plug was installed from the Marketplace.

[2022-01-17 21:45] #2218 closed

[2022-01-18 01:11] caiqichang commented on #305
+1

[2022-01-18 03:12] #2276 closed

[2022-01-18 03:15] testforstephen commented on #2276
Next version 1.3.0 will have a new setting "java.jdt.ls.java.home" that allows you to use a different JDK to start Java extension.

[2022-01-18 07:17] Osolemio44 commented on #2287
by the way, i already tried to clean the java workspace but it didn't solved it.

[2022-01-18 07:40] Eskibear commented on #2278
We'll support to detect JDKs installed by Homebrew in coming v1.3.0. See https://github.com/redhat-developer/vscode-java/pull/2258

Currently to test if your case will be covered, you can run `npx jdk-utils` to list detected JDKs if you have [NodeJS](https://nodejs.org/) runtime installed.

[2022-01-18 08:17] SlappyAUS commented on #1341
Has anyone been able to solve this? I am running since adding WSDL code gen though maven plugin cxf-codegen-plugin, VSCode won stop iterating over "Building" -> "Refreshing Workspace" in the Java Build Status Console. Very high temperatures and CPU usage.

[2022-01-18 17:52] rgrunber commented on #2282
Right. Looks like this is a feature that is requested enough that we should have a look at it.

I'll mark this particular issue as a duplicate of #1107, and we can track progress there.

[2022-01-18 17:56] rgrunber commented on #1820
Not currently possible, but this is what #1107 is requesting. It has come up enough that it seems to be worth doing.

[2022-01-18 18:17] snjeza commented on #2287
@Osolemio44 I can't reproduce the issue.
Could you, please, attach a sample project reproducing the error.

[2022-01-18 20:22] Osolemio44 commented on #2287
sorry i can't give you this project. but if you need other information let me know.

[2022-01-18 23:23] snjeza commented on #2287
@Osolemio44 Could you create another project reproducing error?

[2022-01-19 07:30] Osolemio44 commented on #2287
If i open the same project in Springtoosuite (eclipse) everything works fine.
![SpringToolSuite4_5HJY7EfSkm](https://user-images.githubusercontent.com/55595063/150083287-d75ed1d2-faeb-42c2-89a3-204a34ba0608.gif)
If i create a new java project for testing purpose, everything seems to work .
![image](https://user-images.githubusercontent.com/55595063/150084068-2f5c1f45-a95b-43de-9ea5-8987428eecb3.pn

[2022-01-19 07:37] Osolemio44 commented on #2287
I also tried to install the latest version from https://download.jboss.org/jbosstools/jdt.ls/staging/java-1.3.0-504/ but i still have the same problem.

[2022-01-19 08:18] CsCherrYY commented on #2285
We have some experimental features and whether to put them in the stable versions depends on the feedback from users. The pre-release channel is a good way to collect early feedback. Here is a proposal about how our extension can use the pre-release channel to release insider versions.

## Background
### Channels

- for VS Code insider users, the default channel is **insider** channel
![image](htt

[2022-01-19 14:38] fbricon opened #2288 "Recommend installing vscode-quarkus/vscode-microprofile, if quarkus or microprofile dependencies are detected"
In order to provide a better UX for Quarkus users who don't have vscode-quarkus installed (and also for Microprofile/vscode-microprofile), we can detect if known quarkus ( or microprofile) dependencies are added to the project(s) classpath, and recommend installing https://marketplace.visualstudio.com/items?itemName=redhat.vscode-quarkus (resp. https://marketplace.visualstudio.com/items?itemName=r

[2022-01-19 16:01] rgrunber commented on #2285
I think the main annoyance we may introduce is for an experimental contribution that makes it into **insider** and causes merge conflicts on some/many contributions from **stable** branch (changes from **stable** may fail the auto cherry-pick into **insider**).

[2022-01-19 18:27] snjeza commented on #2287
@Osolemio44 Could you show your project's dependencies (lombok and JPA)?

Which version of the Spring Tools are you using?

[2022-01-19 22:12] rgrunber opened #2289 "Add support for telemetry notifications"
- Use https://github.com/redhat-developer/vscode-redhat-telemetry (disabled by default) and follow the listed practices.
- Integrate with [`telemetry/event`](https://microsoft.github.io/language-server-protocol/specifications/specification-current/#telemetry_event) in https://github.com/eclipse/eclipse.jdt.ls/issues/21 .

[2022-01-20 01:23] #2243 closed

[2022-01-20 07:19] Osolemio44 commented on #2287
It's a Maven multi module project. The parent POM have the following dependencies:
[code]
And this is the sub module POM where i was working on and had the issue with the serial uuid:
[code]
Anyway i dont think its a problem with the dependencies because when i open it with eclipse, everything works.

I am using Spring Boot extension Pack V0.1.0

[2022-01-20 07:28] mhenneke commented on #112
For me the fix was removing the javaagent argument which was added to the vmargs in the settings.json .
It's still unclear why this lombar.jar was added. The project I'm working on doesn't use lombok.

Where to find the settings.json.
I'm on Mac so these steps might be a bit different on other system.

Goto **Preferences -> Settings**
In Settings goto **Extensions -> Java**
Scroll down and a few o

[2022-01-20 11:19] Osolemio44 commented on #761
+1

[2022-01-20 13:19] Osolemio44 opened #2291 "display inherited properties and methods in the outline"
I'm working with inheritance in classes and interfaces and I have to constantly go to the parents to see what properties and methods they have. Is there any way to see those elements inherited in the children in the outline?

[2022-01-20 14:36] dineiar opened #2292 "Language Support for Java extension never finishes starting"
Whenever the extension activates, its icon on the bottom-right starts "loading" and never turns into the "Thumbs Up" icon. Able to reproduce with individual Java files and Maven projects.
Best problem indication so far is the console log "Error: Header must provide a Content-Length property".

The practical result is that the extension does not work at all (code navigation, intellisense, etc).

##

[2022-01-20 14:53] MartinEmrich opened #2293 "Overwrites java home in .settings/org.eclipse.buildship.core.prefs"
As vscode-java is apparently not capable of generating the _.settings/org.eclipse.buildship.core.prefs_ file (mabe #666), I have to check it into git.
But everytime vscode-java tries to set the `java.home=` field in this file to my local path to the local JDK, which might differ from other developers workspace setups.

##### Environment
- Operating System: Windows 10
- JDK version: Amazon Corretto

[2022-01-20 15:01] fbricon commented on #2293
try using `"java.import.generatesMetadataFilesAtProjectRoot"=true` in your settings.json

[2022-01-20 17:57] fvclaus opened #2294 "Organize imports removes valid imports in Java files with compile errors"
Organize imports will remove imports when the references are not valid Java code anymore. This might remove "valid" imports that just happen to be unused at that moment, because there is a compile error before the reference. The references cannot be easily  restored once the compile errors are fixed, e.g. manually created static imports. This is problematic in long files with many imports and `"ed

[2022-01-20 18:57] snjeza commented on #2287
What version of Eclipse are you using?

[2022-01-20 23:57] mozhuanzuojing commented on #2294
good issue

[2022-01-21 02:44] #2225 closed

[2022-01-21 07:48] Osolemio44 commented on #2287
Spring tool suite 4

Version: 4.12.1.RELEASE
Build Id: 202110260750

[2022-01-21 20:24] snjeza commented on #1607
@rgrunber @fbricon Could you, please, comment on https://github.com/redhat-developer/vscode-java/issues/1607#issuecomment-707773723

[2022-01-22 18:27] snjeza commented on #2287
@Osolemio44 I still can't reproduce the issue.
I have tested
[myparent.zip](https://github.com/redhat-developer/vscode-java/files/7919020/myparent.zip)

[2022-01-22 20:53] jeffemandel commented on #2270
This fixes it. In dise_java/.classpath, add the line:
`<classpathentry kind="lib" path="/home/jeffemandel/springdise/dise_matlab/target/dise_matlab-1.0.jar"/>`

I'm not clear on why adding the jar via maven doesn't get it to the class path for vscode, but I'm not getting all the errors and code completion works.

[2022-01-22 20:53] #2270 closed

[2022-01-23 14:11] Ao-Last opened #2297 "is not on the classpath of project , only syntax errors are reported"
[provide a description of the issue]
##### Environment
- Operating System: Windows 10
- JDK version: 14
- Visual Studio Code version: 1.63.2
- Java extension version: 0.20.0 (The Extension pack)

##### Workspace files
![image](https://user-images.githubusercontent.com/63785048/150682314-a14b8d83-37c9-4328-845d-7d8d4e2a92f7.png)

##### Source configuration in pom.xml
![image](https://user-images.gi

[2022-01-24 01:05] mozhuanzuojing commented on #2297
The source directory is wrong. It should be `Dog`

[2022-01-24 02:44] Ao-Last commented on #2297
The folder `Dog` is a package which means the first lines of `Dog.java` and `DogTest.java` are `package Dog;`. After experiments, it was not supported to set the source directory as  ${project.basedir} in VSCode. If I changed it to ${project.basedir}/src and put the folder Dog into src, it worked well.

[2022-01-24 02:45] Ao-Last commented on #2297
The folder Dog is a package which means the first lines of Dog.java and DogTest.java are package Dog;. After experiments, it was not supported to set the source directory as ${project.basedir} in VSCode. If I changed it to ${project.basedir}/src and put the folder Dog into src, it worked well.

[2022-01-24 02:50] Court247 commented on #346
could you just answer the question anyway?

[2022-01-24 03:45] Ao-Last opened #2298 "${project.basedir} in pom.xml interpreted wrongly to a wrong absolute path in Windows 10."
##### Environment
- Operating System: Windows 10
- JDK version: 14
- Visual Studio Code version: 1.63.2
- Java extension version: 0.20.0 (Extension pack)

##### Steps To Reproduce
1. Set `sourceDirectory` in `pom.xml` to `${project.basedir}`
2. Update project and use the command palette to open `Java: Configure Classpath`.
3. See the result.
4. Change `${project.basedir}` to `${project.basedir}/sr

[2022-01-24 03:56] Ao-Last commented on #2297
The problem is redefined hence the issue is closed and another issue #2298 is opened for the underlying problem.

[2022-01-24 03:56] #2297 closed

[2022-01-24 07:22] leeyc0 commented on #1660
Happens in Autovalue too. Using gradle.

I am using AutoValue (https://github.com/google/auto) code generator, but found that the source code in build/generated/sources/annotationProcessor/java is not picked up automatically. I have to configure the project with this

[code]
to let vscode pick up the generated code, otherwise there will be unresolved class error:

[code]

Is it possible to have vs

[2022-01-24 08:44] CsCherrYY commented on #2285
Yeah, this might cause merge conflicts since we are committing into **master** and **insider** at the same time. An alternative way is

- All new commitments will be merged into **insider**
- when we want to release a new stable version, we cherry pick those commitments from **insider** into **master** manually

Actually, this way we will still encounter those conflicts between experimental commit

[2022-01-24 09:17] Osolemio44 commented on #2287
I tried your projects and it works fine. I don't know why it doesn't work in my project. Maybe a configuration?
This is my settings.js:
[code]
this is my .vscode/settings.json:
[code]
this is my .vscode/vscode-java.prefs:
[code]

[2022-01-24 11:18] Osolemio44 opened #2299 "how to check errors in all project manually?"
It's really annoying to have to open the classes one by one for vscode to detect the problems. Is there a way (even if it's manual) to launch a global error check?

Screenshot before opening the file:
![Code_w4jB4FXd0e](https://user-images.githubusercontent.com/55595063/150773327-4f50ffb2-d863-4a0f-a642-518a8107dac3.png)

Screenshot of file after i select it and open it manually:
![wTzS09G5Al](htt

[2022-01-24 21:19] snjeza commented on #2287
@Osolemio44 Please enable the `"java.trace.server": "verbose"` setting, restart vscode and attach the two logs (Command palette : Java: Open all log files)?

[2022-01-25 01:40] mozhuanzuojing commented on #2286
This may cause ambiguity and may need to be handled by yourself. I will close

[2022-01-25 01:40] #2286 closed

[2022-01-25 21:35] hardyoyo opened #2300 "java.completion.importOrder (even the default) takes precedence over checkstyle specs"
The java.completion.importOrder property, documented here
https://github.com/redhat-developer/vscode-java/blob/562afa80c0f705613c6ed3148b4d9eac82093b26/package.json#L519-L527
does not play well with checkstyle. If checkstyle specifies a different sort order for imports, the default importOrder setting will always be used instead. An unsatisfactory workaround is to attempt to specify a matching imp

[2022-01-26 07:29] Osolemio44 commented on #2287
There you have:

[code]

[2022-01-26 18:12] Oualitsen opened #2301 "Error when using lombok"
[provide a description of the issue]

##### Environment
- Operating System: Windows 11
- JDK version: 17
- Visual Studio Code version: 1.62.3
- Java extension version:1.3.0

##### Steps To Reproduce
1. Clone [https://github.com/Oualitsen/demo-lambok-vscode-issue](https://github.com/Oualitsen/demo-lambok-vscode-issue)
2. Open it in vscode with lombok extention installed.

in most of the time it wor

[2022-01-27 02:58] KAN19 commented on #2277
I got the same issues. Please show me how to fix it

[2022-01-27 05:42] hectortv9 commented on #2277
I am sorry but I don't know how to reproduce the issue or when it got solved. I started clicking every related config I could find without any luck, and at some point, I realized that the issue was solved.
As far as I remember I tried a few things:
1) Made sure you have JAVA_HOME environment variable setup.
2) Created a symlink to "src.zip" which might be located at "C:\Program Files\Java\jdk-17.0

[2022-01-27 22:12] snjeza commented on #2287
@Osolemio44 could you try the following:

- open your class
- remove serialVersionUID
- save your class
- call _Add generated serial version ID_

_Add generated serial version ID_ requires *.class file.

[2022-01-28 11:18] slPerryRhodan opened #2304 "How to pass command line parameters to the java compiler"
In my project we use spring data with named parameter, which is running fine with IntelliJ, but in VSCode I get the following exception:
[code]

In IntelliJ I can set "Additional command line parameters" under _Settings -> Build, Execution, Deployment -> Compiler -> Java Compiler_. And this issue is solved, if I add "-parameters" as command line parameter in IntelliJ, but I have no clue how to do

[2022-01-28 18:13] soumesh2002 commented on #2268
Is there any fix available for above 'connection got disposed' error😁 @testforstephen
Thank You

[2022-01-29 04:39] rgrunber commented on #2294
If this is the same bug as https://github.com/eclipse/eclipse.jdt.ls/issues/1203 , it was fixed about 2 weeks ago upstream, so we should be able to just copy over the changes into our own corresponding QuickAssistProcessor class in JDT-LS.

[2022-01-31 00:54] felipebutcher commented on #1156
@chinloyal in your case, accordingly to your logs, you have to exclude the folder "data/mysql"

so it should be (in you .vscode/settings.json):

"java.import.exclusions": [
        "**/data/mysql/*/**"
]

[2022-01-31 16:43] AfshaNoorin commented on #947
What about mac users?

[2022-02-01 00:33] snjeza commented on #2301
I can't reproduce the issue.
There are some warnings, but no errors.

![lombok](https://user-images.githubusercontent.com/388609/151895359-104f5fe8-ab8b-4bff-8ad0-72ff3adc0b8e.gif)

You can add the following properties

[code]
to <your_project>/.settings/org.eclipse.jdt.core.prefs to disable these warnings.

![lombok2](https://user-images.githubusercontent.com/388609/151895481-0129a4b5-ccdd-408e-9

[2022-02-01 02:45] Oualitsen commented on #2301
@snjeza thank you for your reply, if you want the error you should uncomment the `@FieldNameConstants` from the `Validatable.java` class.

[2022-02-01 03:49] snjeza commented on #2301
I have done it.
![lombok3](https://user-images.githubusercontent.com/388609/151909612-d18a3e7f-0013-402f-9f58-25a99db489fb.gif)

Could you show me an error? I can see only some warnings.
![lombok](https://user-images.githubusercontent.com/388609/151910218-d333ae83-66b4-4f05-9a37-c50e63d4abfb.png)

[2022-02-01 04:29] snjeza commented on #2301
I still can't reproduce the issue.
![lombok3](https://user-images.githubusercontent.com/388609/151912435-61dc07c3-432a-4d85-95d0-72ba82066c46.gif)

Could you try to [Clean the workspace directory](https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#clean-the-workspace-directory) ?

[2022-02-01 14:58] dineiar commented on #2292
Reverting to v1.0.0 of the Language Support for Java(TM) by Red Hat extension solved the problem.

One can do this by opening the extension page, click on the little arrow icon besides "Uninstall" button and then select "Install Another Version..."

[2022-02-02 04:17] Oualitsen commented on #2301
I did add all the required properties and the warnings were not the problem for me.
As I said, this issue can only be reproduced using lombok and I am sure you are using it.
I of course did clean the workspace directory (long before opening this issue).

Take a look at how I reproduced the issue
![ezgif-2-0d79d2c1f7](https://user-images.githubusercontent.com/7974581/152092270-17ddd6d6-d10b-43b8-86

[2022-02-02 04:59] Oualitsen commented on #2301
Hey, I thing this is not the right place for the issue.
I've always used NetBeans so I am not really familiar with Eclipse.
I downloaded eclipse and Installed lombok. I open the project using eclipse and the I get the same error messages.
So the issue comes from eclipse language server (nothing to do with lombok nor this amazing plugin)

[2022-02-02 17:34] rgrunber commented on #45
I'm closing this since most of the issues seemed resolved, and because since vscode-java 1.2.0, we provide an [embedded Java runtime](https://github.com/redhat-developer/vscode-java/issues/2109) for many popular platforms.

[2022-02-02 17:34] #45 closed

[2022-02-02 19:27] jconlon commented on #743
Had this issue but Cleaning and Restarting the server did not fix it.  (Note: Having a second vscode instance running another Java project may have suppressed the Cleaning process.  So I brought both instances down and just deleted my `/.config/Code/User/workspaceStorage` directory.  Restarting my VsCode recreated it and all was good.

[2022-02-02 19:38] joaotesch commented on #2277
I solved it by configuring the same path as JAVA_HOME in the "java.jdt.ls.java.home" config, from the settings.json file.

My JAVA_HOME:
![image](https://user-images.githubusercontent.com/40344135/152223452-9cfc202e-7679-4da8-9eea-77ad3a5b3da4.png)

settings.json config:
![image](https://user-images.githubusercontent.com/40344135/152223554-40229d9e-d2de-4647-83b2-079713586710.png)

[2022-02-02 20:34] snjeza commented on #2301
As I said, this issue can only be reproduced using lombok and I am sure you are using it.
I of course did clean the workspace directory (long before opening this issue).

I can reproduce the issue when opening UserBase.java or Client.java. It is an eclipse upstream issue.

[2022-02-02 23:21] space192 opened #2306 "help required on source file export in jar file"
Hey,
I'm currently trying to export my jar file with the default project creation, with no build tools
And I want to export the .java file inside of the .jar file is there any way to do it?

[2022-02-03 04:18] Oualitsen commented on #2301
The issue has nothing to do with lombok and has nothing to do with vscode plugin. opening the same project in eclipse shows the same error unfortunately.

[2022-02-03 04:18] #2301 closed

[2022-02-03 14:57] snjeza commented on #2301
You can try the following workaround:

[code]

[2022-02-03 15:58] brunovieira97 opened #2307 "Gradle projects are not loaded correctly"
Any project I open will cause JLS to fail during startup. I received multiple messages about Out of Memory errors, and selected "increase VM memory", but that didnt't seem to help. Never experienced anything like this before.

Message shown at the package declaration, for every class:
"{file}.java is a non-project file, only syntax errors are reported"

##### Environment
- Operating System: Linux

[2022-02-03 16:24] rgrunber commented on #2288
We should be on the lookout for some vscode extension recommending npm module to get published and we'll be able to use the API to do this nicely.

[2022-02-04 17:07] snjeza commented on #2307
@brunovieira97 could you, please, show your settings.json.

[2022-02-04 19:44] brunovieira97 commented on #2307
Of course, @snjeza! Here it goes:

[code]

[2022-02-04 20:09] snjeza commented on #2307
@brunovieira97 could you try to add the following property:

[code]

[2022-02-05 10:29] selliera commented on #2001
Hello,
This proposition will be very helpful. When one has several java projects not managed by build tools, requiring different versions of java (e.g. 1.8 versus 11), it is very annoying to have to change the default runtime each time one switch from one project to the other.
Also, this can provide a good solution to [#1684 ](https://github.com/redhat-developer/vscode-java/issues/1684) when not u

[2022-02-05 22:24] brunovieira97 commented on #2307
Even after setting `java.debug.logLevel` to `verbose`, the log shows no indication of the error that happened other than the following:

[code]

[2022-02-06 02:38] brunovieira97 commented on #2307
I'm very sorry, somehow I managed not to notice this setting:

[code]

It completely disables Gradle projects import. Apparently, I configured this instead of disabling Gradle wrapper usage, probably by choosing the wrong option in Settings IntelliSense a couple of days ago.

Everything's working just fine after removing this line from `settings.json`.

Thank you for your help anyway, @snjeza! Sor

[2022-02-06 02:38] #2307 closed

[2022-02-07 09:21] ivadoncheva commented on #1660
Hello, I am getting the same error when mapstruct generates impl class for my Mapper, one of the classes is not listed as import. Then if I open the impl class I'm able import the package, but mapstruct doesn't not import it during generation of the class and therefore the class could not be used. Is there any updates or work done on this?

[2022-02-07 14:41] CarlPer commented on #2299
@Osolemio44  are you sure that you have not filtered problems  with "show active file only"

[2022-02-08 02:08] CsCherrYY commented on #2306
you can check here: https://github.com/microsoft/vscode-java-dependency/wiki/Export-Your-Project-to-a-Jar#advanced-custom-export-task, it's about how to customize the exported jar.

[2022-02-08 04:25] zhanghuanhuanzhang commented on #1595
I had the same problem, and I don't know what to do. Did you solve it?

[2022-02-08 05:32] jdneo commented on #2298
dup with https://github.com/microsoft/vscode-java-pack/issues/902

[2022-02-08 05:34] jdneo commented on #1543
@testforstephen @rgrunber @fbricon We can consider to unpin this issue since we have embedded jre now

[2022-02-08 06:30] schophil opened #2312 "﻿Feature request: Allow test output output to be different than main output"
I work with Maven projects. These projects are configured to use different output folders for main and test classes. However the vscode plugin does not follow this. All classes (test & main) come together in the same output folder. There also doesn't seem an option to force this.

This generates errors when a test class overwrites a main class (same package and name).

In Eclipse this can be force

[2022-02-08 07:10] jdneo commented on #1922
This should be fixed in latest version. @testforstephen

[2022-02-08 07:15] jdneo commented on #1860
It's the same as https://github.com/redhat-developer/vscode-java/issues/1422 and is fixed in https://github.com/eclipse/eclipse.jdt.ls/pull/1944

[2022-02-08 07:22] jdneo commented on #1276
The `java.completion.maxResults` is now default to `0`, which means the limitation is disabled.

I guess this issue should be addressed already and can be closed. @testforstephen

[2022-02-08 07:26] jdneo commented on #1162
Cannot reproduced with 1.3.0, looks like the issue has been fixed.

[2022-02-08 07:33] jdneo commented on #899
Could not reproduce in 1.3.0

[2022-02-08 08:03] fbricon commented on #1860
Closing as duplicate of #1422

[2022-02-08 08:03] #1860 closed

[2022-02-08 08:05] fbricon commented on #1276
All results now returned by default. Closing.

[2022-02-08 08:05] #1276 closed

[2022-02-08 08:07] fbricon commented on #1162
Please reopen if you still see the issue.

[2022-02-08 08:07] #1162 closed

[2022-02-08 08:12] jdneo commented on #503
Tested in VS `Code@1.64.0` + `vscode-java@1.3.0`. The issue has been resolved.

[2022-02-08 15:58] Magendanz opened #2313 "Fall back to java.jdt.ls.java.home if embedded JRE fails"
When deploying VSCode to an AP Computer Science lab where the students don't have admin privileges, attempts to enable the latest Extension Pack for Java (which includes the “Language Support for Java(TM) by Red Hat” extension) fail reporting “Couldn’t start client Language Support for Java” whenever they open a Java project.

##### Environment
- Operating System: Windows 10
- JDK version: Various

[2022-02-08 20:50] rgrunber commented on #1428
Maybe something similar to the auto-tag closing in XML ? https://github.com/redhat-developer/vscode-xml/blob/master/src/client/tagClosing.ts#L43

[2022-02-08 21:52] rgrunber commented on #2294
The above bug has been fixed in https://github.com/eclipse/eclipse.jdt.ls/pull/2003. You can also see the upstream fix at https://bugs.eclipse.org/bugs/show_bug.cgi?id=542653 . Marking this as closed as this should be part of our next release.

[2022-02-08 22:22] rgrunber commented on #2269
For the `-release` option, you should be able to use `org.eclipse.jdt.core.compiler.compliance=9` in a settings file. See https://github.com/redhat-developer/vscode-java/wiki/Settings-Global-Preferences for more details. I'm not sure if there's a setting that allows one to pass arbitrary compiler options. CC'ing @snjeza in case there is a way.

[2022-02-08 22:32] rgrunber commented on #2304
I'm not sure if this is possible currently for unmanaged projects under vscode-java. CC'ing @snjeza. There's a bunch of compiler options that can be set listed at https://github.com/redhat-developer/vscode-java/wiki/Settings-Global-Preferences but I don't think this is there.

[2022-02-08 22:40] snjeza commented on #2304
@slPerryRhodan @rgrunber You may want to take a look at https://code.visualstudio.com/docs/java/java-debugging#_configuration-options

[2022-02-08 22:50] snjeza commented on #1428
@rgrunber Thanks. I will check it. I'm trying to make a patch for https://github.com/atom/language-java

Related issue - https://github.com/redhat-developer/vscode-java/issues/1264

[2022-02-08 23:25] rgrunber commented on #2269
See https://github.com/redhat-developer/vscode-java/issues/2304#issuecomment-1033134721 for the more general way to do this. You'd need to install vscode-java-debug

[2022-02-09 04:17] jdneo commented on #2312
AFAIK, the extension should follow the pom configuration, which you can use `outputDirectory` & `testOutputDirectory` to specify the output path. See: https://maven.apache.org/pom.html#directories

If this is not working for your case, would you mind to share a sample project?

[2022-02-09 05:02] jdneo commented on #2171
Turns out that there is a setting `java.completion.overwrite` to control the behavior. When it's set to false, `System` won't be replaced.

In the meantime, Eclipse has the same behavior. But in Eclipse, users can easily toggle the behavior via `Ctrl` keystroke, which I guess is impossible in VS Code.

I was trying to imagine any cases that the overwriting is better than inserting, but not able to

[2022-02-09 08:04] Eskibear commented on #2313
I just tested with a clean VM but I could not reproduce it with v1.3.0.

Detailed client logs can be found when you run command `Java: Open Java Extension Log`. Can you attach it?

[2022-02-09 15:31] Osolemio44 commented on #2287
Nope. No differences. GeneratedUid still `1L`.

[2022-02-09 15:36] Osolemio44 commented on #2299
Nope
![Code_Sq9H8p3w4a](https://user-images.githubusercontent.com/55595063/153234702-669415e3-4ce4-4afe-a476-68eae0564f09.png)

[2022-02-09 16:11] Osolemio44 commented on #2287
yes. everything looks normal

[2022-02-10 02:08] Eskibear commented on #2313
[code]

This error was thrown by below line.

https://github.com/microsoft/vscode-languageserver-node/blob/94a47841cd3c4679a5facae305dfe92734eeffb3/client/src/node/main.ts#L435

 Looks like the command to launch server was correctly passed, it's strange why this error occurred (and only for non-admin users).

[2022-02-10 02:42] rgrunber commented on #2313
Similar stacktraces found on https://github.com/NightrainsRbx/RobloxLsp/issues/131 & https://github.com/nodejs/node-v0.x-archive/issues/6797 . Both are on Windows. Is there any chance some configuration on those machines prevent regular users from spawning a Java process ? Still not sure what would have changed in vscode-java to result in this behaviour though.

We did update ts-loader for 1.1.0.

[2022-02-10 03:24] jdneo commented on #2279
Seems related with this change: https://github.com/eclipse/eclipse.jdt.ls/pull/1213

maybe we need to check the import statement when completion on methods/fields

[2022-02-10 06:30] schophil commented on #2312
My mistake. The source of the problem is a class defined in both the main and test package (with the same name). This gave an error and I assumed it was because the class file was being overwritten (in the same output folder) but it is probably not that. The language server probably detects this before compilation?

[code]

This doesn't give problems in IntelliJ and pure maven build though.
Anyway

[2022-02-10 06:57] #2312 closed

[2022-02-11 05:11] weathery opened #2315 "Extension host terminated unexpectedly."
When i update the maven project, VScode occure "Extension host terminated unexpectedly."

##### Environment
- Operating System: Win 7 x64
- JDK version: Oracle jdk-11.0.13
- Visual Studio Code version: v1.64.2
- Java extension version:  v1.2.0 - v1.3.0

##### Steps To Reproduce
1. click the pom.xml of the maven's project, and right click the "update project".
2. terminal show as followd:
[code]
3.

[2022-02-11 09:45] chrsas opened #2316 "Go to references is not usable."
Go to references is not usable.

![VSCode go to references](https://user-images.githubusercontent.com/6327955/153568583-83d84ec4-5475-4da0-a1e8-3e383848557d.gif)

##### Environment
- Operating System: Windows 10 Professional 21H2
- JDK version: JDK1.8.0_321
- Visual Studio Code version:1.64.2
- Java extension version:v1.3.0

##### Steps To Reproduce
1. Open then example project
2. Open JustForFun

[2022-02-11 12:31] ralphavalon commented on #1341
@SlappyAUS so, what @snjeza posted actually solves it. It just sucks that, until today, I still need to do it. I wish this was just fixed already.

[2022-02-11 18:35] chad-russell commented on #2304
For those running into this in the future: I was able to solve it by adding this to my `.prefs` file (the one specified by the `java.format.settings.url` setting)

[code]

[2022-02-11 19:14] rgrunber commented on #2304
Good catch! That definitely looks like the right thing, and https://git.eclipse.org/c/jdt/eclipse.jdt.core.git/tree/org.eclipse.jdt.core/batch/org/eclipse/jdt/internal/compiler/batch/Main.java#n2333 confirms it. So no need to use vscode-java-debug unless there's more customization that's needed. Closing this for now.

[2022-02-11 19:14] #2304 closed

[2022-02-11 19:15] #2269 closed

[2022-02-12 12:04] Med-H commented on #2104
any news on this?

[2022-02-12 12:51] #2191 closed

[2022-02-14 07:09] testforstephen commented on #2306
Close it since it has been solved. See https://github.com/microsoft/vscode-java-dependency/issues/590#issuecomment-1028474729

[2022-02-14 07:09] #2306 closed

[2022-02-14 08:08] Eskibear opened #2319 "Command "open Java extension log" doesn't open latest log file"
It always open file `clien.log.xxxx.9` when I have more than 10 files in that folder. Seems like wrong comparison in alphabetical order.

![image](https://user-images.githubusercontent.com/2351748/153824407-8f1264b7-2ab7-44e4-9929-f1ffa013534a.png)

[2022-02-14 12:13] javohircomunity commented on #1660
I have the same problem but I am using gradle for the build.

[2022-02-14 12:15] javohircomunity commented on #1660
I have the same problem but I am using gradle for the build.
When I run project then mapper impl class couldn't generate.
How can i solve the problem.

[2022-02-14 14:12] ivadoncheva commented on #1660
@javohircomunity I have managed to find a way to get this running by using in my interface the following annotation:
[code]

[2022-02-14 16:08] jterry-viacomcbs commented on #1341
@ianmarxent bless you, this has saved me so much work, i've been blowing away these things by hand for months

[2022-02-14 18:24] snjeza commented on #2316
I can reproduce the issue in Eclipse too.

[2022-02-14 20:03] J2S3 opened #2321 "Random underlining and unknown errors, No CodeRunner features"
[provide a description of the issue]

##### Environment
- Operating System: Mac OS
- JDK version: 17?
- Visual Studio Code version: 1.6.2
- Java extension version: JavaSE-17

##### Steps To Reproduce
1. Write any basic function
2. Get error: "Implicit super constructor Object() is undefined for default constructor. Must define an explicit constructor Java(134217868)"
3. Get error: "String cannot b

[2022-02-15 04:45] javohircomunity commented on #1660
I haven't any import class, There are many String fields.

[2022-02-15 22:40] hakanai commented on #634
We had a working workaround for this which was just:

[code]

At some point in the past few weeks, this stopped working and `bin/` directories started appearing again so now I'm experimenting with other options people have posted above.

It would be nice if VSCode would keep its junk to a `.vscode` directory or something instead of polluting directories which in some cases (particularly for a comm

[2022-02-16 04:22] Magendanz commented on #2313
So, it appears that the Red Hat Java extension was getting blocked by AppLocker.  We've worked around it by updating AppLocker policies to allow any executable in this path: c:\users\*\.vscode\extensions\redhat.java*

However, this workaround has only been approved for our lab machines.  If the school district allows this group policy change onto student laptops, we would eventually find students

[2022-02-16 04:44] snjeza commented on #2313
@Magendanz You can try to disable the embedded JRE. See https://github.com/redhat-developer/vscode-java/issues/2276

[2022-02-16 06:31] CsCherrYY commented on #2285
Gradle for Java extension has supported the pre-release channel.

you can see the pre-release version is recommended in vscode-insiders
![image](https://user-images.githubusercontent.com/45906942/154208183-ba9936ad-7ca2-4393-9db1-2ebe16ecc8cc.png)

and the stable version is recommended in vscode stable
![image](https://user-images.githubusercontent.com/45906942/154208302-9a888dae-4084-4a60-b3ff-6d

[2022-02-16 07:56] testforstephen commented on #2313
Hey @Magendanz, since version 1.2.0, we embedded a JRE to start the Java extension itself, which is installed in a location like c:\users*.vscode\extensions\redhat.java*. If this directory is not allowed by the school environment, you can configure a different JDK for Java tools using the VS Code user setting "java.jdt.ls.java.home".

[2022-02-17 11:16] bitray opened #2324 "Autocompletion doesn't work"
Issue Type: <b>Bug</b>

[Error - 7:12:19 PM] Feb 17, 2022, 7:12:19 PM Problems occurred when invoking code from plug-in: "org.eclipse.core.resources".

java.lang.IllegalArgumentException:
	at org.eclipse.core.runtime.Assert.isLegal(Assert.java:66)
	at org.eclipse.core.runtime.Assert.isLegal(Assert.java:50)
	at org.eclipse.core.internal.jobs.JobManager.setRule(JobManager.java:1400)
	at org.eclipse.

[2022-02-17 14:17] #2253 closed

[2022-02-17 17:07] rgrunber commented on #2324
Are you able to provide a sample snippet of code (or even the project & file) on which the issue is reproducible ?

[2022-02-18 09:20] slPerryRhodan commented on #2304
@snjeza I looked at it many times and it's not helpful.

@chad-russell thanks, that.s good. A bit (very) inconvenient to configure compared to eclipse and intelliJ, but at least it's possible.

[2022-02-19 08:48] zhouxinghong opened #2325 "Could not load main pom file content, see example"
Issue Type: <b>Bug</b>

Could not load main pom file content, see example

https://user-images.githubusercontent.com/54253524/154793826-ae331cb1-0952-4b67-bf8e-8fa39122d8e9.mp4

Extension version: 1.3.0
VS Code version: Code - Insiders 1.65.0-insider (1d618b2df1cf08f0e3ab706353f0a8f6f1424795, 2022-02-18T05:17:35.717Z)
OS version: Windows_NT x64 10.0.19041
Restricted Mode: No

[2022-02-19 21:14] cowlike commented on #1595
Thanks for this! Like many other people, my project builds fine on the command line but the Redhat plugin trips over it. Setting the properties helped me.

[2022-02-20 03:32] snjeza commented on #2325
I can't reproduce the issue.
@zhouxinghong Could you, please, attach a sample project reproducing the error?

[2022-02-20 11:00] noordawod commented on #634
This plugin is creating a `bin` folder when opening a Gradle project. How do I configure it NOT to create such a folder? Or maybe direct it to `/dev/null`?

[2022-02-20 15:56] fabio-porcedda commented on #2173
I've the same problem, disabling all other extensions seems to fix the issue.

[2022-02-21 01:32] zhouxinghong commented on #2325
Hello! This problem occurs in 99% of cases, but sometimes it disappears after restarting vscode. . .
[myspringboot.zip](https://github.com/redhat-developer/vscode-java/files/8105487/myspringboot.zip)

[2022-02-21 02:10] Eskibear commented on #2325
Just tried, I can sometimes reproduce this issue with a simple spring boot project. On opening vscode, symbols are correctly shown, and during Java extension activation, it triggered a refresh of the Outline view, and sometimes it keeps loading forever.

But I'm wondering which extension provides this "outline" view of pom.xml. @zhouxinghong Do you also have XML extension installed?

[2022-02-21 02:44] zhouxinghong commented on #2325
XML
v0.19.1

[2022-02-21 04:14] snjeza commented on #2097
Related issue - https://github.com/eclipse/eclipse.jdt.ls/issues/1980
@zhouxinghong Could you reproduce the issue in VS Code 1.3.0?

[2022-02-21 04:35] bitray commented on #2324
@rgrunber Hello, Rgrunber. seems the issue is no more coming up.
At that time , all the auto completion operations are invalid .  Hence I finished the code by feature of VScode editor.
After that , seems everything recovers...

Hence , i can not provide sample snippet .. Sorry for that ...

But I found something about stream api.  Auto-completion works fine when i type map() method. But it doesn't

[2022-02-21 05:12] #2211 closed

[2022-02-21 05:12] #2212 closed

[2022-02-21 05:12] #2213 closed

[2022-02-21 05:12] #972 closed

[2022-02-21 05:13] #2319 closed

[2022-02-21 06:48] testforstephen commented on #1922
Close the issue since it has been fixed in 1.3.0. @Gaoyanei pls have a try on the latest version.

[2022-02-21 06:48] #1922 closed

[2022-02-21 07:51] angelozerr commented on #2325
This outline is filled by [vscode-xml](https://github.com/redhat-developer/vscode-xml) (with LSP). The issue is for [vscode-xml](https://github.com/redhat-developer/vscode-xml)  or [LemMinX](https://github.com/eclipse/lemminx).

Badly I cannot reproduce it with spring boot sample -(

@zhouxinghong could you enable xml trace https://github.com/redhat-developer/vscode-xml/blob/master/docs/Troublesho

[2022-02-21 09:06] jdneo commented on #2063
I think currently there is another behavior which is confusing.

The selected completion item is different from the content provided by signature helper:

https://user-images.githubusercontent.com/6193897/154922793-8a260d6c-40da-4645-9e0b-44a959caca74.mp4

[2022-02-21 09:31] mjuraj opened #2326 "Syntax highlighting does not work on symlinked files"
Syntax highlighting does not work on symlinked files, but it does on original one.

##### Environment
- Operating System: Ubuntu 20.04
- JDK version: 13.0.7
- Visual Studio Code version: 1.63.2
- Java extension version: 1.3.0

##### Steps To Reproduce
1. Create a sample java project with a `.java` file and introduce an error to it (e.g. use `HashMap<String, String>` without importing HashMap).
2.

[2022-02-21 10:10] zhouxinghong commented on #2325
The sample project has been sent to you, please download it yourself and try again!
[myspringboot.zip](https://github.com/redhat-developer/vscode-java/files/8105487/myspringboot.zip)

[2022-02-21 10:37] angelozerr commented on #2325
@zhouxinghong as I explained you I cannot reproduce it.

So please share your trace in order to I try and guess the problem.

[2022-02-21 14:24] xjwwjx commented on #743
where is the ~/.config/Code/User/workspaceStorage in windows ?

[2022-02-21 14:24] xjwwjx commented on #743
where is the ~/.config/Code/User/workspaceStorage in windows ?

[2022-02-21 18:57] angelozerr commented on #2325
@snjeza @[Eskibear](https://github.com/Eskibear) is there any chance that you share trace please  https://github.com/redhat-developer/vscode-xml/blob/master/docs/Troubleshooting.md#no-support-on-xml-file

[2022-02-21 20:27] snjeza commented on #2325
@angelozerr I can't reproduce the issue on Fedora 35 and Windows 10, VS Code Version: 1.65.0-insider Commit: a0da9978b10ae0b9307c7f545b50a8500efff7eb Date: 2022-02-21T05:15:22.150Z, project https://github.com/redhat-developer/vscode-java/files/8105487/myspringboot.zip
[xmllog.txt](https://github.com/redhat-developer/vscode-java/files/8111916/xmllog.txt)

[2022-02-21 22:46] angelozerr commented on #2325
@snjeza thanks for your feedback. I have the similar trace than you, in other words I cannot reproduce it.

it seems it's easyfor you to reproduce it, so @zhouxinghong please share your trace.

[2022-02-22 01:24] hhkrob1 opened #2327 "The same name class exist in the same package, but "type is already defined" error will auto disappear"
[provide a description of the issue]

##### Environment
- Operating System: Windows 11
- JDK version: OpenJDK 17 and JDK1.8
- Visual Studio Code version: 1.64.2
- Java extension version: 1.3.0

##### Steps To Reproduce
1. When the same name class exist in the same package, click run in codelen, compile will not pass, problem pannel will display "type is already defined" error,  click this navigati

[2022-02-22 02:12] Eskibear commented on #2325
I managed to reproduce it, and sometimes another "no symbols found in document" error also occurs, as below:

https://user-images.githubusercontent.com/2351748/155049759-d19fdef2-3b13-42b9-a905-03022ffbf6e7.mp4

Corresponding logs attached below, where I don't see any problem, as documentSymbols responses are correctly received.

[xml.log](https://github.com/redhat-developer/vscode-java/files/8113

[2022-02-22 02:14] Eskibear commented on #2325
cc @jdneo @CsCherrYY see if [Project Manager for Java](https://github.com/microsoft/vscode-java-dependency) has any relationship with it.

[2022-02-22 02:32] Eskibear commented on #2325
I tried re-enabling those extensions one by one (Java Extension, Project Manager, Spring Boot Tools), and after Spring Boot Tools extension is enabled, the problem is back. And I find if you are patient enough to wait longer time, like 1 min, the symbols would eventually show in outline view.

AFAIK, Spring Boot Tools also provides outline information. I'm wondering if it's because both extension

[2022-02-22 03:41] zhouxinghong commented on #2325
I agree with the statement below, and that the problem is resolved after restarting vscode at some point. . .
I tried re-enabling those extensions one by one (Java Extension, Project Manager, Spring Boot Tools), and after Spring Boot Tools extension is enabled, the problem is back. And I find if you are patient enough to wait longer time, like 1 min, the symbols would eventually show in outline vi

[2022-02-22 03:49] zhouxinghong commented on #2325
I don't know where to view the trace. . . can you tell me

[2022-02-22 06:42] angelozerr commented on #2325
@[Eskibear](https://github.com/Eskibear) thanks so much for your feedback. After installing Spring Boot Tools, I can reproduce the problem easily. As you said, the XML support provides the proper symbols.

I have the impression that Spring Boot Tools contribute to the LSP Outline with symbols. Here my Spring trace:

[code]

I have several exception with :

[code]

I supsect it's the problem. I hav

[2022-02-22 09:11] zhouxinghong commented on #2325
@angelozerr Thank you for your guidance, thank you very much!

[2022-02-22 10:11] zhouxinghong commented on #2097
@snjeza When using the shortcut key to trigger the view method parameter overload in 1.30, nothing happens in the vscode editor. But the method itself has multiple overloaded parameters. See example:

https://user-images.githubusercontent.com/54253524/155110090-ac1826f4-315a-4515-acbd-56e57d302ed7.mp4

![2022-02-22_175738_无法显示方法参数重载](https://user-images.githubusercontent.com/54253524/155110205-369

[2022-02-23 00:03] BoykoAlex commented on #2325
@angelozerr I have pushed 3f6e23ae5a7b06e7fb1ecdf79eff3ab2d5df8cc4 - should help with this issue

[2022-02-23 00:21] fbricon commented on #2325
Closing as it's a Spring Boot Tools issue, nothing else to do here.

[2022-02-23 00:21] #2325 closed

[2022-02-23 02:18] rhystedstone opened #2328 ""No definitions found""
A lot of definitions for methods and classes do not work. I press F3 and "No definitions found" pops up. It doesn't happen for all methods - just some. It's not just inherited methods, and some still work completely fine.

##### Environment
- Operating System: Windows 11 21H2 (22000.493)
- JDK version: 17.0.1+12
- Visual Studio Code version: 1.64.2 (user setup)
- Java extension version: v1.3.0

##

[2022-02-23 03:53] zhouxinghong commented on #2325
@angelozerr @fbricon @snjeza @Eskibear @BoykoAlex There is also a long-standing unresolved issue that needs to be addressed urgently. . . Please see:
https://github.com/redhat-developer/vscode-java/issues/2097

[2022-02-23 03:55] zhouxinghong commented on #2097
very sorry! This is a commercial item inconvenient to offer. . .

[2022-02-23 04:02] zhouxinghong commented on #2097
This issue has been confirmed by the testers above. . . You can consult them for specific reasons. . .

[2022-02-23 05:03] ArithAuth opened #2329 "<pre> section of the Javadoc is shown blank in the latest VS Code."
Using previous version of VS Code can avoid this problem.
_JavaDoc Hovers_ ignores \<pre\> tag; Hovering over a class or method name, the Javadoc appears in a small window, but the \<pre\> section is completely blank. This problem occurs only in latest VS Code version 1.64 (January 2022), not in earlier versions such as v1.63 (November 2021). This also happens with other versions of JDK or Java ex

[2022-02-23 05:18] #1428 closed

[2022-02-23 19:39] snjeza commented on #2097
@zhouxinghong I can't reproduce this issue in VS Code 1.30. It has been fixed with https://github.com/eclipse/eclipse.jdt.ls/pull/1981

Does CA (Ctrl-Space) work properly?

[2022-02-23 19:41] davidpcaldwell opened #2331 "Uncaught exception: 'java.project.listSourcePaths' already exists"
When developing my own extension and running it under the Extension Development Host in the debugger (I have it set to pause on uncaught exceptions), on opening a Java project (with this extension installed), I am getting the following stack trace:
[code]

[2022-02-24 04:48] buddywhitman opened #2332 "[NO SOLUTION WORKED] Language Support for Java server crashed 5 times in the last 3 minutes"
I have tried all the suggested solutions in previous threads - clearing java language workspace, reinstalling the extension pack, I didn't have vs-code lombok installed, so I actually went forward and installed it, only to uninstall it later and follow the steps referenced below (to restore java.jdt.ls.vmargs to its default value manually):
_________________________________________________________

[2022-02-24 04:49] buddywhitman commented on #2332
Pleeease help me fix this ASAP. Doing this for a high school project ):

[2022-02-24 06:59] zhouxinghong commented on #2097
Now the parameter prompt is triggered by the shortcut key as shown in the above video and screenshot annotations I uploaded

[2022-02-24 07:27] nimatrueway commented on #2097
Not an irrelevant parameter hint case; but I have a very sample project with 2 classes that if you try to invoke parameter hint on `new AuthenticationService(...)` nothing shows up.

<img width="606" alt="image" src="https://user-images.githubusercontent.com/2261274/155477634-28c70f7f-4959-441a-b2fd-f5e186e8a27b.png">

[sample.zip](https://github.com/redhat-developer/vscode-java/files/8130446/samp

[2022-02-24 15:10] tdauth commented on #1232
Hi,
my project builds and can be used but I get like 100 errors `Failed to read artifact descriptor for ..."` for all dependencies from the pom.xml. I use a custom maven and a custom JDK paths and a custom artifactory in my company which requires SSL certificates to be imported:

[code]
"Clean the Java language server workspace" only leads to different errors.

I imported the SSL certificates of t

[2022-02-24 15:23] vipcxj opened #2333 "Annotation Processor works strange"
I am writing an anotation processor, add test the vscode support. In idea it works fine.
I write some log logic (write log information to a file with absolute path, and in the init method and static method, log something too) in the apt to promise I can judge whether it runs.
The pom setting works fine, because the maven clean install works fine with the log print out.
However my apt not runs in v

[2022-02-24 18:35] clement-boret commented on #1232
@tdauth
I have worked with vscode java for a few months and I did not have that issue... Now I do, maybe some upgrade broke the thing.... for sure I cannot use vscode and code in java today....

[2022-02-24 18:36] rgrunber commented on #2331
I see it as well

[code]

It seemed the stacktrace was associated with the language server registering commands to the client side, so I recalled we have https://github.com/eclipse/eclipse.jdt.ls/blob/master/org.eclipse.jdt.ls.core/plugin.xml#L54-L106 in JDT-LS. Any command there that's also registered on the client side (eg. https://github.com/redhat-developer/vscode-java/blob/master/src/buildpat

[2022-02-24 18:42] rgrunber commented on #2332
Just for the sake of a workaround, does the problem still persist if you uninstall `vscode-java-dependency` (Project Manager for Java) or `vscode-java-debug` (Debugger for Java)
) ? A similar error is in https://github.com/microsoft/vscode-java-debug/issues/915

[2022-02-24 22:46] snjeza commented on #2097
@zhouxinghong Does CA (Ctrl-Space) work properly here?

@nimatrueway I can reproduce the issue. I will try to fix it.

[2022-02-25 03:05] RamiSJ12 commented on #785
@chehab2003
I just uninsstalled java enviroment aqnd extentions then install again and restart, will work properly, becaue now VSC has better API to dedct your bug.

[2022-02-25 13:50] zhouxinghong commented on #2097
@nimatrueway Very true, I agree with him!

[2022-02-25 13:51] zhouxinghong commented on #2097
@nimatrueway Very true, I agree with him!

[2022-02-25 15:51] rgrunber commented on #2324
I'm able to reproduce as well, even on upstream Eclipse, so this is a JDT Core problem. Completions dealing with lambdas not working under certain conditions are a known issue.

(cursor at `|` and `error` meant to be a non-existent token)
[code]
Completion fails to be triggered.

[2022-02-27 12:12] NirmalSilwal commented on #1588
getting similar issue in Mac

[2022-02-27 13:27] lisy09 commented on #2025
@Eskibear Facing same problem.
asdf-vm using plugin mechanism to many different tools.
The most widely use asdf java plugin should be https://github.com/halcyon/asdf-java.

Here is the directory architecture:
[code]

[2022-02-28 02:07] Eskibear commented on #2025
tracked in https://github.com/Eskibear/node-jdk-utils/issues/6

please provide more details there, e.g. whether `.asdf` can be a different folder. Or otherwise I will probably hardcode the location to search for available jdks.

[2022-02-28 02:44] KyleRAnderson commented on #2171
I think it would be great if this setting were synchronized with the existing `editor.suggest.insertMode` setting. If users want to set a specific value for this setting for Java, that's already possible in VSCode, so not too sure why another setting is needed here.

[2022-02-28 03:56] lisy09 commented on #2025
@Eskibear Generally speaking .asdf can be a different folder but I think most users of asdf is not doing so.
But I think it is better to call `asdf` command to retrieve java location.
Simply using `asdf which java` it will return the java location if defined in asdf.

[2022-02-28 05:34] jdneo commented on #2171
@fbricon @rgrunber Is this for the consideration of supporting in other clients?

[2022-02-28 14:54] #1666 closed

[2022-02-28 14:55] rgrunber commented on #1666
This should be part of our next release.

[2022-02-28 15:40] rgrunber commented on #2171
https://github.com/redhat-developer/vscode-java/issues/1047 ;) and https://github.com/redhat-developer/vscode-java/issues/1058 also.

Looks like we should consider changing the default if people are pointing it out as a bug often enough. If there's no historical reason for us to have a separate option then I would move to using the IDE specific one. Users can still customize with things like [`[ja

[2022-02-28 15:41] rgrunber commented on #1058
Looks like we're going to reconsider the default in the above newly listed issue. Closing this one so discussion can happen in the new issue.

[2022-02-28 15:41] #1058 closed

[2022-02-28 17:09] snjeza commented on #2097
@zhouxinghong @nimatrueway Could you, please, check https://github.com/snjeza/vscode-test/raw/master/java-1.4.0.vsix ?

[2022-02-28 21:47] rgrunber commented on #2331
I don't think the exception results in any unwanted behaviour, though I have a simple patch to fix it. I think the issue happens as follows :

We register a command on the client-side (eg. https://github.com/redhat-developer/vscode-java/blob/master/src/buildpath.ts#L48-L49) that simply calls `java.execute.workspaceCommand` on the server side with the same named command id. That command id is regis

[2022-03-01 01:57] snjeza commented on #2329
The issue has been fixed in the latest VS Code Insiders - https://code.visualstudio.com/insiders/
Commit: b7730c807c1e0fdacdcc91a854bb963715b2a89b
Date: 2022-02-28T14:42:24.336Z
I suppose https://github.com/microsoft/vscode/commit/52e65499654de7525e30df3a8228b69320796bf5 fixes it.

[2022-03-01 10:30] liechtir commented on #743
same issue here when using the http://dcevm.github.io/ DCEVM enhanced JVM. when using the regular openjdk, all works like a charm.

[2022-03-01 10:33] liechtir commented on #2332
have you tried using a vanilla JDK like openJDK or the like?
I had the same issue when I was using a non default JDK like DCEVM or any other patched JVM

[2022-03-01 11:52] liechtir opened #2335 "The Language Support for Java server crashed 5 times in the last 3 minutes. The server will not be restarted."
When using a non vanilla JVM, the language support crashes and cannot be used. All works fine when using a vanilla JDK.

##### Environment
- Operating System: Rocky Linux
- JDK version: openJDK enhanced with DCEVM, can be found on https://github.com/TravaOpenJDK/trava-jdk-11-dcevm/releases/download/dcevm-11.0.11%2B1/Openjdk11u-dcevm-linux-x64.tar.gz
- Visual Studio Code version: code-server 4.0.2

[2022-03-01 15:46] rgrunber commented on #2329
@ArithAuth can you verify that VS Code Insiders resolves the issue for you ?

[2022-03-01 16:03] rgrunber commented on #2335
[code]

I think this is the root of all the other failures.

We use default vmargs of `"-XX:+UseParallelGC -XX:GCTimeRatio=4 -XX:AdaptiveSizePolicyWeight=90 -Dsun.zip.disableMemoryMapping=true -Xmx1G -Xms100m"` (in addition to some options we add at runtime depending on some other factors) . This can be re-defined with `java.jdt.ls.vmargs`.

Does the problem go away if you set `java.jdt.ls.vmargs`

[2022-03-01 16:54] Eskibear commented on #2313
Then `JAVA_HOME` will be picked as default JDK to compile and run **your project**, but embedded JRE is still used to launch this extension (actually JDT Language Server) to provide language features. That's by design, to reduce the confusion caused by [JDK requirements](https://github.com/redhat-developer/vscode-java/wiki/JDK-Requirements).
There is case when you do want to launch language server

[2022-03-01 21:26] rgrunber commented on #2324
Looking through :

https://stackoverflow.com/questions/33305414/eclipse-java-8-auto-completion-for-lambda-expressions
https://bugs.eclipse.org/bugs/show_bug.cgi?id=460921
https://bugs.eclipse.org/bugs/show_bug.cgi?id=551391
https://bugs.eclipse.org/bugs/show_bug.cgi?id=561100

this appears to be a common issue with lambdas.

[2022-03-02 01:24] testforstephen commented on #2313
On Windows, usually VS Code user settings are stored at C:\Users\\*\AppData\Roaming\Code\User\settings.json. When doing a system-level install, copy a modified settings.json with "java.jdt.ls.java.home". Does that help?

[2022-03-02 01:36] Magendanz commented on #2313
The problem is that at the time of deployment the user profile directories haven't even been created yet.  We have to set these lab machines up so that any student (domain member) can just log in and use VS Code.

We're looking into the "universal version" of this extension, which seems promising, but it's not clear where we do a system-level install of .vsix files.  Ideally, we'd like to create a

[2022-03-02 01:43] Magendanz commented on #2313
How about if the extension fails to launch the embedded JRE that it just tries the alternative paths (java.jdt.ls.java.home, java.home, JDK_HOME, JAVA_HOME, etc.) until it finds one that works...just like the Universal Version does?

[2022-03-02 13:36] rgrunber commented on #2335
@liechtir changing the settings in `java.jdt.ls.vmargs` is a bit of a workaround. I think there's still a better solution to your problem.

There are 2 consumers of a JDK :

1.  vscode-java's language server (JDT-LS)
2. Your project(s)

Currently you're overriding both to use your JDK with DCEVM support (`/usr/java/dcevm-11.0.11+1/bin/java`). However, you only need this JDK to compile your project

[2022-03-02 13:42] rgrunber commented on #2329
Then let's close this for now as this should be fixed once 1.65.0 is released. Thanks for verifying.

I would have merged @snjeza's fix but despite restoring `<pre>` tag behaviour, it seemed to result in the entire [javadoc being unformatted](https://github.com/eclipse/eclipse.jdt.ls/pull/2012#issuecomment-1054711085).

[2022-03-02 13:42] #2329 closed

[2022-03-02 14:22] fbricon opened #2336 "Constructor code completion is broken in certain situations"
Given the following code:
[code]
When you autocomplete on the first `ArrayList`, (triggering autoimport of `java.util.ArrayList` is a usual use case), the result breaks the existing code, regardless of the `java.completion.overwrite` preference.

If you repeat the completion step on the `LinkedList` constructor, the completion doesn't provide you with a list of constructors for some reason, only t

[2022-03-02 14:30] rgrunber commented on #2336
Is this behaviour the same in Eclipse JDT ? There's many upstream completion issues. We might benefit from filing upstream and referencing it in https://bugs.eclipse.org/bugs/show_bug.cgi?id=575919 (content assist per-release umbrella bug) .

[2022-03-02 14:41] liechtir commented on #2335
Agree, I basically need the DCEVM only for my application server so that when I change a source file and save, the changes are applied during runtime. I do not need it at all in vscode.
Thanks for pointing out the config, I believe I'll make it even simpler which is to have the vanilla JVM system wide and adopt the app servers JVM only.

Still for VSCode, it might be worthwhile to use common compa

[2022-03-02 14:41] #2335 closed

[2022-03-02 15:17] rgrunber commented on #2335
Yup, agreed. I recall we've been bitten by this in the past with things like https://github.com/redhat-developer/vscode-xml/pull/278#issuecomment-644977850 (not using default settings).

If the vscode-langaugeserver API provided us a way to get access to the [exit code](https://github.com/microsoft/vscode-languageserver-node/issues/688) , or maybe we could even re-launch with default arguments, th

[2022-03-02 17:02] snjeza commented on #2336
@fbricon You also may want to take a look at https://github.com/eclipse/eclipse.jdt.ls/pull/2014#discussion_r817123404

[2022-03-02 17:54] #2097 closed

[2022-03-02 20:36] thakkarparth007 commented on #2001
Just adding some noise here to bump up the priority of the issue. It would be super useful to have this setting workspace-configurable! Seems like it should be a quick fix, I'd be happy to chip in a PR if someone could give a starting pointer.

[2022-03-03 02:07] xingzhuimeteorite commented on #743
i delete that folder , did not fix .
i use windows, it is  C:\\Users\\<username>\\AppData\\Roaming\\Code\\User

[2022-03-03 02:23] xingzhuimeteorite commented on #743
AppData\Roaming\Code\logs\20220303T100346\exthost1
in this path , i find log
[code]

i do not known this is issuse?

[2022-03-03 02:54] xingzhuimeteorite commented on #2332
i have same issue ,
this log :
[code]

[2022-03-03 14:42] brunovieira97 opened #2338 "Gradle projects compile to `bin/` instead of `build/`"
Gradle projects default their builds to `build/`, however the vscode plugin compiles a completely separate version of all the class files to `bin/`, so it does require adding a completely separate directory to source control, along with actually performing all the compiles twice (once for gradle, and once for vscode).

_Originally posted by @ThadHouse in https://github.com/redhat-developer/vscode-

[2022-03-03 17:23] dineiar commented on #2292
Reinstalled the entire VS Code erasing the config and workspace settings, still same error.

Updated the maven projects and installed the dependencies in the local repository and the extension started working again. I'm still not sure what is going on, but at the very least the error messages are not clear.

[2022-03-03 17:41] snjeza opened #2339 "Duplicate quick fixes"
The related issue - https://github.com/redhat-developer/vscode-java/issues/2236

Test case:
![duplicate](https://user-images.githubusercontent.com/388609/156620937-c4c59b78-d3c2-48ed-a176-5a4414f9bb63.gif)

[2022-03-03 18:24] brunovieira97 commented on #2338
Wasn't aware of this Buildship project.

However, Maven support does not seem to be affected at all. AFAIK, it just compiles binaries directly to `target/`, same as Eclipse (in this case, VS Code).

[2022-03-03 18:49] Gaming32 commented on #205
I'm personally not asking for Groovy syntax support, but simply support to be able to load Groovy code from Java. This wouldn't require any fancy language server stuff for Groovy, but just the ability to compile Groovy, which can be added with just adding Groovy as a dependency.

[2022-03-03 20:01] rgrunber commented on #1428
The text block feature was finalized in Java 15 (previewed in Java 13). However, we currently have no code to verify that the project JDK meets that minimum requirement. It would certainly complicate the feature a bit since we'd have to get JDT-LS to notify the client of the source compliance (we do something like this for Gradle/Java compatibility) and not only unregister the `handleTextBlockClos

[2022-03-03 20:01] snjeza commented on #2338
See
- https://github.com/redhat-developer/vscode-java/wiki/Gradle-Support
- https://github.com/redhat-developer/vscode-java/issues/1615#issue-701705496

[2022-03-03 21:17] snjeza commented on #1428
A workspace can contain more projects with a different source compliance.

[2022-03-04 04:00] zhouxinghong opened #2341 "The number of method signatures cannot be displayed in some cases"
Issue Type: <b>Bug</b>

The number of method signatures cannot be displayed in some cases
Continuing the previous question:
Signature Help sometimes doesn't work on constructors and qualified method declarations
https://github.com/redhat-developer/vscode-java/issues/2097
code 1.65
java(TM) by Red Hat 1.4

https://user-images.githubusercontent.com/54253524/156697650-6bcdf35c-4468-4885-bab9-ddcd534f

[2022-03-04 04:12] zhouxinghong commented on #2341
@angelozerr @fbricon @snjeza @Eskibear @BoykoAlex There is also a long-standing unresolved issue that needs to be addressed urgently. . . Please see:

[2022-03-04 06:18] jdneo commented on #2099
Update: inlay hint is available as client side API in VS Code 1.65.0.

Maybe we can first make a client side implementation. I can volunteer for that. :)

[2022-03-04 08:00] fbricon commented on #1428
@rgrunber not worth doing imo

[2022-03-04 15:06] rgrunber commented on #2341
@zhouxinghong when you said a long-standing issue that needs to be addressed, you're pointing to this issue, #2341 . Did you mean some other issue ?

@snjeza , would be good to investigate if you have time, as it likely deals with that same block of code / methods we had to fix for #2097.

[2022-03-04 15:22] zhouxinghong commented on #2341
@rgrunber 2341 is a continuation of the 2097 question. . . Since the problem of 2097 has not been completely solved in 1.4, there is only 2341

[2022-03-04 15:40] rgrunber commented on #2326
Very interesting. The symlink is getting resolved to the original file path so as far as the language server is concerned, the symlink gets nothing. If you try activating some code action on the symlink, you'll see the edits trigger and get applied to the original file (prior to saving).

I created a simple file `/tmp/foo/src/org/example/Main.java` and a symlink to it at `/tmp/foo/Main.java`. Even

[2022-03-04 16:22] snjeza commented on #2329
VS Code 1.65 has been released. The issue has been fixed.

[2022-03-04 17:27] rgrunber commented on #2341
For `ResultData.fail()`there are 3 overloaded methods listed when signature help is activated outside the parameters, and only 1 when signature help is activated inside the parameters. For `ResultData.success()` there are 3 overloaded methods in both cases. That's what stood out to me as different.

[2022-03-04 18:13] sudofox commented on #1191
Also having this problem. `gradle build` works fine, but it still complains that one of the libs is missing

[2022-03-04 20:56] rgrunber commented on #1712
With https://github.com/eclipse/eclipse.jdt.ls/pull/1688, this is partly supported through `java.symbols.includeSourceMethodDeclarations` . We don't include all methods in the classpath, because as mentioned above, that would be a huge performance hit. It's the main reason the property is disabled by default for just source methods.

Once https://github.com/eclipse/eclipse.jdt.ls/issues/1712 gets

[2022-03-04 22:19] rgrunber opened #2342 "Go to symbol in Editor should have a way to include inherited symbols"
One piece of functionality that would be nice to have with VS Code Java is the ability to quickly see all inherited methods of a class that is opened. I can see the ones it declares only. The closest existing functionality would be the `Go to symbol in Editor` command. This is often useful when exploring some class that has a deeper inheritance structure.

Eclipse has this behaviour through the `Q

[2022-03-04 22:53] snjeza commented on #1191
@sudofox Could you, please, attach a sample project reproducing the error?

[2022-03-04 23:15] snjeza commented on #2341
@rgrunber @zhouxinghong Could you, please, check https://github.com/snjeza/vscode-test/raw/master/java-1.5.0.vsix
Test class:
[code]

[2022-03-05 01:38] rgrunber commented on #2341
Seems to be working for me. Signature help works correctly now.

[2022-03-05 02:11] keketon commented on #2332
I have same issue.

I uninstalled all extensions in [Extension Pack for Java,](https://marketplace.visualstudio.com/items?itemName=vscjava.vscode-java-pack) and installed only this Language Support for Java, but not fixed ;(.

this log :
[code]

[2022-03-05 12:25] zhouxinghong commented on #2341
@snjeza @rgrunber After testing, it can meet the current usage scenarios.

[2022-03-06 15:10] #133 closed

[2022-03-07 01:30] xingzhuimeteorite commented on #2332
hey，man，we have the same issue.

[2022-03-07 05:03] ktarun73 commented on #743
Press CTRL + SHIFT + P, and type Java: Clean Java Language Server Workspace.
It works for me you can also do the same.

[2022-03-07 06:21] xingzhuimeteorite commented on #743
I'm trying and I'm failing.

[2022-03-07 07:17] dsyer opened #2344 "Gradle projects do not build correctly (the bin/ directory again)"
#634 is the underlying issue, but that was closed by brushing it under the carpet (IMO it deserves to be fixed). The problem I have is actually worse - the classpath is incomplete because it doesn't contain resources created and/or copied into `build/resources/main` (for instance) by script targets in the build. It's easy to reproduce the problem - here's an example: https://github.com/scratches/v

[2022-03-07 07:28] xingzhuimeteorite commented on #2332
i solve my question, i download  latest  file of .visx from this repo.
use
`code --install-extension   [value].visx `
after  open vscode , fix this question .
at the sametime i check the `exthost.log` , the error message[cannot read property sendrequest] still exist.

hope this way can help .

[2022-03-07 07:30] xingzhuimeteorite commented on #743
i solve my question, i download latest file of .visx from this repo.
use
`code --install-extension [value].visx`
 after open vscode , fix this question .

 at the sametime i check the exthost.log ,
 the error message[cannot read property sendrequest] still exist. hope this way can help .

[2022-03-07 09:05] mvrahden opened #2345 "Runtime Status: Connection got disposed. (Uncaught Error)"
The `redhat.java` extension fails to start adequately (I believe since VSCode was updated last week).

Sidenotes:
- This behavior was observed in the previous update cycle as well.
- As can be seen from the logs, the `redhat.yaml` extension seems to have a similar problem.

##### VSCode Logs (Remote Extension Host)

[code]

##### Environment
- Operating System: `Windows 10 + WSL2`
- JDK version:
[

[2022-03-07 09:54] buddywhitman commented on #2332
@rgrunber yes, I tried uninstalling the vs code java dependency and the debugger but I remember encountering another error, after which I reinstalled the dependencies.

[2022-03-07 09:55] buddywhitman commented on #2332
@liechtir I also use the OpenJDK and I encountered the same problem as with the Oracle JDK.

[2022-03-07 09:57] buddywhitman commented on #2332
Thank you for your prompt replies everyone! Sorry for being late, just moved on to a new grade and I only opened GitHub today. @xingzhuimeteorite thank you for your solution, unfortunately I am still encountering the error.

[2022-03-07 09:59] buddywhitman commented on #2332
CRUCIAL INFO: I have observed that this error is only encountered when I am creating a new class inside a pre-existing project (associated with the new Project Manager for Java), creating an independent class file in a new window results in smooth execution. Hope this helps the contributors!

[2022-03-07 13:59] PsyChonek commented on #2013
Hi, I am having a similar issue, with Java 17. I need my Jar to be runnable to without --enable-preview.

[2022-03-07 23:23] nqminhuit opened #2346 "Provide a way to hide/disable java snippets"
After this pull request(https://github.com/redhat-developer/vscode-java/pull/2314), my list of suggestion is overload with java snippets which I never used, please add an option to disable or hide those snippets.

[2022-03-08 01:16] ydmykr opened #2347 "I hope to use the properties class to read the file during compilation. When using the relevant fields, I can directly and intelligently remind you to get the relevant information in the read file"
##### Current Result

##### Expected Result
When I import one .properties file
I hope to be able to directly and intelligently prompt the  value in the properties file when using the key keyword in the properties file when compiling the content.

object.properties
First.Value=SomeValue

.java file
import java.io.*;
import java.util.*;

public class testProperties {
    public static void main(Stri

[2022-03-08 01:54] testforstephen commented on #2345
The issue I saw on #2268 is just some logging issue, the whole Java language features work well. Your issue seems related with WSL.

[2022-03-08 02:08] testforstephen commented on #2268
what I saw on this issue is just some logging issue. If you find any feature broken, could anyone provide more details about your environment and reproduce steps? thanks.

[2022-03-08 02:10] #2341 closed

[2022-03-08 03:45] devforma commented on #2232
Same problem

Version: 1.65.0 (Universal)
Commit: b5205cc8eb4fbaa726835538cd82372cc0222d43
Date: 2022-03-02T11:11:20.886Z (5 days ago)
Electron: 13.5.2
Chromium: 91.0.4472.164
Node.js: 14.16.0
V8: 9.1.269.39-electron.0
OS: Darwin arm64 21.3.0

settings.json
[code]

log
[code]

[2022-03-08 10:15] mvrahden commented on #2345
@testforstephen thanks for your answer. Yes, in this case the language features do not work as expected. No class path can be resolved and many other issues are appearing.
But I would argue that this is not necessarily related to WSL. All other extensions work very well after updates, only `redhat.***` extensions break. So these extensions must be doing something different from others.
Do you have

[2022-03-08 12:36] mojo2012 commented on #2336
It also doesn't work within annotations for example (<here>):
[code]

[2022-03-08 14:53] rgrunber commented on #2232
https://bugs.eclipse.org/bugs/show_bug.cgi?id=578211 improved the logging of this, so at least we now know what file is causing it.

[code]

Offsets have changed a bit but I suspect it's failing at https://git.eclipse.org/c/jdt/eclipse.jdt.core.git/tree/org.eclipse.jdt.core/search/org/eclipse/jdt/internal/core/index/DiskIndex.java#n682 . One of the category tables of the index needs a massive amou

[2022-03-08 15:57] juanperezro opened #2348 "Set environment variables for language server"
As far as I understand this extension launches the process for the language server backend. It could be beneficial to be able to configure the environment variables used when executing the language server, in a similar fashion as in the 'Maven for Java' extension here: https://github.com/Microsoft/vscode-maven/#additional-configurations

My use case is the following:

I am using VS Code with Remot

[2022-03-08 16:00] devforma commented on #2232
size of `358424085.index` is 7973Bytes

[2022-03-08 16:22] tdauth commented on #1232
Hi, did you find any solution? It only happens for some users not all. I have no idea what the cause is or how to fix it.

[2022-03-08 16:38] nortakales commented on #2279
This appears to have been resolved by https://github.com/eclipse/eclipse.jdt.ls/pull/2007

[2022-03-08 16:46] PedroVCorsino commented on #743
Thanks bro

[2022-03-08 20:31] jmlon commented on #2067
I was experiencing the same problem when using VSCode 1.65.1 on Linux Mint 20.3.
I found out that the problem was related to having symbolic links in the project's path. Opening the folder from the real location (no symbolic links in the path) the problem disappears.

[2022-03-08 21:51] albankurti commented on #2347
It would be great if this feature is implemented.

[2022-03-08 21:54] rgrunber commented on #2347
This definitely seems possible. This is similar to the NLS String Hover provided by https://git.eclipse.org/c/jdt/eclipse.jdt.ui.git/tree/org.eclipse.jdt.ui/ui/org/eclipse/jdt/internal/ui/text/java/hover/NLSStringHover.java of the NLS API used for Eclipse plugins.

In that case, when a properties file (eg. `messages.properties`) that contains an entry (eg. `command_label=Some Command`) that is dec

[2022-03-08 22:26] #2001 closed

[2022-03-09 00:56] jdneo commented on #2279
Yes it should have been fixed in the latest release.

[2022-03-09 08:55] testforstephen commented on #2345
Could you share the logs at "**F1 -> Java: Open All Log Files**"?

[2022-03-09 08:57] clement-boret commented on #1232
I did `java.clean.workspace`
and then I deleted my `~/Library/Application Support/Code/User/workspaceStorage` (this removes all your data it s like a reset of all workspaces)
For some of the project I work on I actually need to have access to the .project .classpath etc... so I edited the settings.json
`    "java.import.generatesMetadataFilesAtProjectRoot": true`

[2022-03-09 09:06] mojo2012 opened #2350 "hot code replace set to auto causes endless "appyling code changes" notifications"
Usually I use the "hode code replace" feature set to auto, so whenever I save the code is automatically injected into the running process. Since a few days this is not working as expected any more.
As soon as I save, the functionality kicks in and the java LSP process goes crazy. It goes up to 200-300% CPU and never comes back.
The problem seems to be that the "Applying code changes ..." functiona

[2022-03-09 13:53] mvrahden commented on #2345
These are excerpts from the most recent restart of VSCode.
If you need a wider timespan of logs, just let me know.

[2022-03-09 15:55] mvrahden commented on #2345
So, it seems that the issue resolved itself. Thank you for your help!

[2022-03-09 15:55] #2345 closed

[2022-03-09 16:39] rgrunber commented on #2350
The error itself, and functionality is coming from https://github.com/microsoft/vscode-java-debug/ . Closest issue I found there was https://github.com/microsoft/vscode-java-debug/issues/1039 .

@testforstephen , is there some change on the vscode-java end that would affect https://github.com/microsoft/vscode-java-debug/ ?

[2022-03-10 02:13] testforstephen commented on #2350
The Java Debugger's hot reload feature depends on the build job from vscode-java.

The debugger registers a listener `ResourcesPlugin.getWorkspace().addResourceChangeListener(classChangeListener, IResourceChangeEvent.POST_BUILD)` to monitor build changes and apply them automatically if it's auto mode.

See the issue https://github.com/microsoft/vscode-java-debug/issues/1131, it also mentioned that

[2022-03-10 06:42] CsCherrYY opened #2351 "Apply language status item"
Since VS Code 1.65, the [language status item](https://code.visualstudio.com/updates/v1_65#_language-status-items) has been a part of stable API. We can make use of this to provide more language server information.

Ref: https://github.com/microsoft/vscode/issues/129037

[2022-03-10 08:48] Jeremie-Chauvel commented on #2350
Could not reproduce on linux with redhat.java 1.4.0, seems to only affect mac users in my team (no Windows users)

[2022-03-10 10:53] karstengresch opened #2352 "Outline with VSCodium/macOS broken for versions > 1.10"
Using a clean install of VSCodium on macOS (details see below) with only vscode-java.

Java project is https://github.com/karstengresch/manning-kube-native-microservices/tree/master/chapter2/account-service/

When the extension in version <=1.10 is installed, an outline for the Java classes **is** displayed.

When the extension in version >=1.20 is installed, instead of an outline, I see the messa

[2022-03-10 13:01] fbricon commented on #2352
can you try deleting /Users/karsten/Library/Application Support/VSCodium/User/workspaceStorage/7cb81d552286f1f82b3ec64406fc1750/

[2022-03-10 13:04] devforma commented on #2232
oom again

filesize of 2995036876.index is 9165Byte

[code]

[2022-03-10 13:23] hwellmann opened #2353 "Annotation processing regression"
There is a regression in 1.4.0 for Maven projects that use source generation via annotation processing. The compiler run never finishes when there is a large number of generated files belonging to different packages.

##### Environment
- Operating System: MacOS 10.15.7
- JDK version: OpenJDK 64-Bit Server VM Temurin-17.0.1+12
- Visual Studio Code version: 1.65.1
- Java extension version: 1.4.0

##

[2022-03-10 14:22] karstengresch commented on #2352
Thanks @fbricon first for your reply + support!

Unfortunately, this didn't work:

1. Quit VSCodium.
2. ```rm -rf /Users/karsten/Library/Application Support/VSCodium/User/workspaceStorage/7cb81d552286f1f82b3ec64406fc1750/```
3. Installed 1.4.0

Outline is still not available.

B.t.w. - when in 1.1.0, for a short while I can see the label 'Loading document symbols for '<filename.extension>''

[2022-03-11 01:34] snjeza commented on #2353
@hwellmann could you check https://github.com/snjeza/vscode-test/raw/master/java-1.5.1.vsix

[2022-03-11 14:53] hwellmann commented on #2353
Thanks, your patch seems to work for the sample project referenced above, but we still run into the same issue with our real (close source) project.

[2022-03-11 18:01] Tandolf commented on #1148
Any response from any of the maintainers? is there any plans on support for this

[2022-03-12 16:30] maxandersen opened #2355 "JBang support like jbang-idea"
This is just an idea and if possible to provide as separate plugin instead of inside vscode-java I'm happy to do that.

Idea, in github.com/jbangdev/jbang-idea we got a plugin that does a "simplified jbang" support.

Two parts:

Easy running:
It recognizes if a file has Common jbang start lines. //DEPS, //JAVA, ///usr/bin/env ... and provides a "run with jbang" option similar to how junit tests ar

[2022-03-12 16:32] maxandersen commented on #2355
btw. What are the criteria/needs for this being available in code spaces/gitpod.io/Che ?

[2022-03-12 17:32] maxandersen commented on #1601
Any chance of this happening ? Really just need content assist per line using available classpath info for the project.

[2022-03-12 17:33] maxandersen commented on #1601
Related to #2355

[2022-03-12 20:45] gorkem commented on #2355
Should this be an extension on its own?

[2022-03-12 22:19] maxandersen commented on #2355
I think that's an open question. It's in many ways similar to gradle/maven support which comes builtin Afaics?

Are there things that would prevent an external plug-in to be possible to enable on Che, gitpod, codespaces ?

[2022-03-13 01:42] gorkem commented on #2355
Classpath support makes sense here.  Isn't mixing Jbang classpath container with maven/gradle asking for trouble though?

[2022-03-13 07:42] maxandersen commented on #2355
yes and no. in jbang-idea the classpath container is setup separately from the main classpath container so it is isolated and easy to update independently and possible turn on/off avoiding lots of the problems.

Ultimately we would have a notion of a classpath only applied to a set of files inside a project but unfortunately, IDE's tend to work on the project level not per file thus having it as a

[2022-03-13 11:01] fbricon commented on #2355
I made a POC some time ago which basically, contributes a new importer to JDT.LS, that delegates processing to https://github.com/jbangdev/jbang-eclipse/
An Eclipse project is created behind the scenes and the java file (and its related files) is linked to it.
But, long story short, it's not ready to be shared, it doesn't really work. Between OOME and jdt.ls ignoring some changes, there's non-triv

[2022-03-13 11:15] maxandersen commented on #2355
Yeah I think we can do simpler than what jbang eclipse attempts.

Just get the classpath is enough to then have content assist. And then provide run/debug via jbang and you have enough.

Won't that simplify things?

[2022-03-14 15:18] mahyarmirrashed opened #2357 "[Formatter] Extra two spaces after word wrapping"
Formatter, when set to spaces of size 2 for indentation, formats the wrapping in a weird and unexpected way. It add four spaces rather than 2 on the following line.

##### Environment
- Operating System: Fedora Linux 35 (KDE Plasma) x86_64
- JDK version: openjdk 17.0.2 2022-01-18
- Visual Studio Code version: 1.65.2
- Java extension version: Language support for Java ™ for Visual Studio Code v1.4.

[2022-03-14 15:28] mahyarmirrashed opened #2358 "[Formatter] Wrapping enum value declarations"
Formatter will wrap enum values. This is, arguably, not good programming practice and makes the code harder to read. There should be an option to prevent this wrapping on the enums.

##### Environment
- Operating System: Fedora Linux 35 (KDE Plasma) x86_64
- JDK version: openjdk 17.0.2 2022-01-18
- Visual Studio Code version: 1.65.2
- Java extension version: Language support for Java ™ for Visual

[2022-03-14 19:20] snjeza commented on #2353
@hwellmann could you, please, test https://github.com/snjeza/vscode-test/raw/master/java-1.5.2.vsix

[2022-03-14 20:04] Foxhunter981 commented on #1102
This issue is happening for me again in version 1.8.0. I imported another submodule and found that attempting to update the project would start a process  that would freeze up  at 5%. It has been like this for a long time. No logs to indicate the problem.
![image](https://user-images.githubusercontent.com/74263544/158252126-c5d7b464-c5b4-4d71-836b-dfeb40f4d581.png)

[2022-03-14 21:08] naris opened #2359 "Version 1.4.0 broke starting jhipster generated application"
As described in https://stackoverflow.com/questions/71473491/jhipster-java-spring-boot-app-wont-start-when-vs-code-is-running
if VS Code is running (with the vscode & the vscode-java extension enabled) then the java/jhipster/spring boot application either won't start or crashes due to unable to find the main class and/or some jar files. This does not happen with version 1.3.0 of this extension.

#

[2022-03-15 06:21] gian1200 opened #2360 "Project keeps building (loop) when groupId is dynamic in pom.xml"
The plugin keeps building the project (looping).

I have a project built with Quarkus 1.13.7. When updating it to version 2 (2.0.3), the plugin started looping the build process.

I think I've pinpoint the issue to the groupId of the plugin. Due to the update, it changed from static to dynamic value. When I rollback this line, the loop stops (sometimes it needs a VSCode restart).

Before (no loop)

[2022-03-15 09:17] fbricon commented on #2360
please attach a sample project reproducing this issue

[2022-03-15 13:07] OOOHA opened #2361 "Can't update this exension to 1.4.0 version"
Issue Type: <b>Bug</b>

I can't update this extension via auto update or .vsix file.
I'v tried to unstall it and install it again.
It always stay at 1.3.0 version.
I can successfuly install the .vsix file but after the reload, it comes back to 1.3.0.

Extension version: 1.3.0
VS Code version: Code 1.65.2 (c722ca6c7eed3d7987c0d5c3df5c45f6b15e77d1, 2022-03-10T14:33:49.188Z)
OS version: Darwin x64 21

[2022-03-15 15:24] ayushiamazing opened #2362 "Add individual "Generate Getters" & "Generate Setters" to Source Action menu"
**Feature Request:**
We already have an option for generating Getter and Setter together. But we don't have an option to generate Getter and Setter separately while IntelliJ Idea by Jet Brains already has this feature.  **:(**
![image](https://user-images.githubusercontent.com/90521537/158406989-4082803f-55fb-49b9-92fa-4da0e2c18c53.png)

Can you please disable this option for adding this line when

[2022-03-15 21:27] rgrunber commented on #2357
If a wrapped line was indented the same as some inner block, that might cause a bit of confusion, but it can be done if wanted. The default value for this is, `org.eclipse.jdt.core.formatter.continuation_indentation=2` (when using the default formatter).

One way is to create a file and make sure `java.settings.url` points to it. From there You can provide the above setting in that file.

You can

[2022-03-15 21:40] snjeza commented on #2359
@naris could you try https://github.com/snjeza/vscode-test/raw/master/java-1.5.2.vsix ?

[2022-03-15 23:15] rgrunber commented on #2358
There's a setting for this.

[code]

There's a lot of options that can be configured https://git.eclipse.org/c/jdt/eclipse.jdt.core.git/tree/org.eclipse.jdt.core/formatter/org/eclipse/jdt/core/formatter/DefaultCodeFormatterConstants.java .

![format-enum-constants](https://user-images.githubusercontent.com/1417342/158487333-da730272-256c-4b24-a762-919243184262.gif)

[2022-03-15 23:20] rgrunber commented on #2361
Is VS Code being access through a proxy or would something limit its ability to access external resources ? I did find https://github.com/microsoft/vscode/issues/71610 & https://github.com/microsoft/vscode/issues/84869 which seem similar.

[2022-03-16 00:01] rgrunber commented on #2362
You should be able to generate the individual getter/setter methods for a field by triggering auto-completion directly in the class body and completing the name of the field.

This is getting popular, so maybe we should consider it : https://github.com/redhat-developer/vscode-java/issues/1792 . Allowing users to customize (or eliminate) things like the auto-generated method stub is possible. We ju

[2022-03-16 00:40] naris commented on #2359
@snjeza Yes that works. Thanks for the quick fix :)

[2022-03-16 01:09] OOOHA commented on #2361
I've searched for that kind of error but I think it's not the same type.
It's not working via a VPN too.
It can't install manually.
I've change the DNS to google's 8.8.8.8 but it's not working too so I Chang it back to default.
Since the setting is sync across my multiple computers, this is the only one got this error.

[2022-03-16 09:24] ayushiamazing commented on #2362
Would I be able to simply get the choice for generating Getter/Setter exclusively while clicking **'Source Action'** very much like in IntelliJ IDEA?
![image](https://user-images.githubusercontent.com/90521537/158554260-969e69e7-79af-4818-b91e-8b5969f6f84d.png)
As you can see in IntelliJ, we have a choice both for creating Getter and Setter at the same time and one for producing them independently

[2022-03-16 13:47] rgrunber commented on #2362
It shouldn't be difficult to support just "Getter" & "Setter", although for now there are ways to generate these directly from completion (much like a snippet).

The option to get those hints is known as signature help, and can be enabled in settings, `java.signatureHelp.enabled=true` .

@testforstephen , @fbricon , Is there a reason signature help is disabled by default ? Might be good to conside

[2022-03-16 17:19] #2339 closed

[2022-03-16 22:29] #2331 closed

[2022-03-17 08:46] ayushiamazing commented on #2362
I used snippets for getters and setters and that is the reason I advised you to add it. I still think it would be better. Even though, much appreciated.

[2022-03-17 09:48] testforstephen commented on #2362
Currently when you are typing a method, the completion feature also suggests a full list of the overloaded methods, that's kind of duplicated with signature help. That's why signature help is disabled by default. See more discussion here https://github.com/redhat-developer/vscode-java/issues/2063

Also it makes sense to add two separate "**Generate Getters**" and "**Generate Setters**" menus in **

[2022-03-17 10:36] hwellmann commented on #2353
This looks good now, even on our large project. Thank you!

[2022-03-17 13:38] rgrunber commented on #677
I tried the example above using the ways I'm aware of for generating getters/setters :

- through source action
- quick-assist on type declaration
- quick-assist on the field
- method completion for the non-existent methods (getFoo/setFoo)

I also tried having multiple fields in order to go through the quick-pick menu (wizard). None of them produce improperly generated method declarations from wha

[2022-03-17 13:38] #677 closed

[2022-03-17 16:54] #2353 closed

[2022-03-17 16:55] snjeza commented on #2360
@gian1200 Could you try https://download.jboss.org/jbosstools/jdt.ls/staging/java-1.5.0-559/java-1.5.0-559.vsix

[2022-03-17 19:56] rgrunber commented on #2362
Re-opening as a request to implement the individual source action items.

[2022-03-18 02:59] Eskibear commented on #2025
ASDF support has been contributed by @fcrespo82 in jdk-utils@0.4.3

[2022-03-18 06:25] #2025 closed

[2022-03-18 06:40] CsCherrYY commented on #2285
Hi @rgrunber, currently the pre-release channel has two requirements:

- engine in `package.json` is greater than `1.63.0`, see: https://code.visualstudio.com/api/working-with-extensions/publishing-extension#prerelease-extensions
- vsce in our Jenkins file should have a greater version than `2.5.0`, see: https://github.com/microsoft/vscode-vsce/releases/tag/v2.5.0

For the engine part, do we have

[2022-03-18 08:52] EmmyHermans commented on #2359
We are having the same issue with our JHipster projects. I reverted the version back to 1.3.0. Hope this will be fixed soon with a new official version :) .

[2022-03-18 16:43] KeiJeff commented on #956
🙏 Thank you! This held me up for a while.

[2022-03-18 16:59] snjeza commented on #2359
@EmmyHermans you may want to take a look at https://github.com/redhat-developer/vscode-java/issues/2353#issuecomment-1071080426

[2022-03-19 09:54] dickydewantoro opened #2366 "[VSCODE] Connection got disposed."
##### Environment
- Operating System: Windows
- JDK version: 1.8
- Visual Studio Code version:  1.65.2
- Java extension version: 1.4.0

![image](https://user-images.githubusercontent.com/62507377/159116470-8b601ae7-644d-41ca-bc7c-9bf72b54b6ed.png)

[2022-03-20 05:35] HikiMaji commented on #2332
i have not solved it, and i have tried my times but failed ,  i`m really sad (crying).

[2022-03-20 07:33] mozhuanzuojing commented on #2332
@HikiMaji   share your settings.json

[2022-03-20 08:58] mozhuanzuojing commented on #2332
My common solution is to specify JDK17, and then delete the jvm startup parameters `java.jdt.ls.vmargs` (prone to hidden errors that the parameters are not supported)

[code]

[2022-03-20 09:10] mozhuanzuojing commented on #2332
The general case is that the specified garbage collector causes this error.
E.g
***-XX:+UseZGC***

[2022-03-21 00:30] yaegar commented on #2366
This problem has always existed

[2022-03-21 00:50] snjeza commented on #2366
You can try to set the following property:

[code]

[2022-03-21 04:02] karlvr opened #2367 "m2e logs"
I have a Maven build process getting into an infinite loop state, where it's constantly building (I can see it repeatedly spawning processes that should be started once during the build). I would like to see the m2e log, like I did in Eclipse, to try to get a handle on what's going on, but I don't seem to be able to see any output from m2e. Am I missing something or is this something that we could

[2022-03-21 06:25] Eskibear commented on #2366
This "error" is always reported when standard LS is ready and lightweight LS is killed. IMO it's not an "error" but an expected message. I do see a lot of same message in `client.log` as below, which sometimes affects the diagnosis.
[code]

I prefer to do both:
* Figure out how to stop reporting this error if it's an expected behavior.
* Save logs related to lightweight LS into another file, in or

[2022-03-21 07:27] testforstephen commented on #2366
It should avoid such error by adding a `try ... catch` when stopping lightweight LS.
https://github.com/redhat-developer/vscode-java/blob/7ed079860ac01d35099021f55d7139718b3fe9fe/src/syntaxLanguageClient.ts#L89-L95

[2022-03-21 08:09] Eskibear commented on #2366
My stupid question is, why does `languageClient.stop()` throw this error? Has lightweight LS stopped itself before we call `languageClient.stop()`? Anyway to check if the connection already get disposed? Or we simply try-catch it..

[2022-03-21 14:06] rgrunber commented on #2360
Could this be related to https://bugs.eclipse.org/bugs/show_bug.cgi?id=579153 ? A change as introduced in https://bugs.eclipse.org/bugs/show_bug.cgi?id=578640 that would have made it into our 1.4.0 release (since we used a TP from `I20220216-0600`) .

Easy way to test is to try a recent build, which is what I think @snjeza is implying here.

[2022-03-21 17:53] Nightenom opened #2370 "Cannot refactor in static init"
As shown in the picture below, refactor actions are not available in static init.

##### Environment
- Operating System: Windows_NT x64 10.0.19043
- JDK version: OpenJDK Runtime Environment Temurin-17.0.1+12 (build 17.0.1+12)
- Visual Studio Code version: 1.65.2
- Java extension version: v1.4.0

##### Steps To Reproduce
1. Create a class with static method and static init and fill them with longer

[2022-03-21 18:06] rgrunber commented on #2332
The first thing I noticed from trying this out is that the lombok jar location is still passed to `-javaagent` even after uninstalling. On my machine, uninstalling doesn't remove the installed extension location, so there's no error, but it doesn't still launch with lombok embedded. That definitely seems like a bug on the end of vscode-lombok. If there's a way to detect an uninstall, it really sho

[2022-03-21 18:25] rgrunber commented on #2366
I would probably check if this is related to https://github.com/redhat-developer/vscode-java/issues/1928 .

There has been a long standing bug with vscode-languageserver-node where the shutdown/exit sequence doesn't happen correctly. The error is annoying, but doesn't result in any lack of functionality. Initially I tried to ensure the LS exits immediately after the shutdown is sent to the LS, whi

[2022-03-21 18:35] rgrunber commented on #2359
Thanks @snjeza for tracking this down. Looks like you beat me to the fix by a few days :) Closing this for now as it will be fixed in our next release.

(and hopefully in the near future we can just provide insider builds of vscode-java)

[2022-03-21 18:35] #2359 closed

[2022-03-21 21:46] gian1200 commented on #2360
Sorry for the delay.  Yes, the vsix you provided with 1.5.0 version fixes (so far) the infinite loop.

Note: Since it's an internal project I was unable to provide it, but I was also not able to reproduce the issue in a small project.

![image](https://user-images.githubusercontent.com/405347/159368552-3e6532cd-799c-4315-b238-76feb63340fa.png)

[2022-03-21 23:26] rgrunber commented on #2360
Closing issue, as the fix will be included in the next release. If the issue does come up, feel free to re-open.

[2022-03-21 23:26] #2360 closed

[2022-03-22 09:23] anthonyvdotbe opened #2372 "If wrapper is disabled, Gradle import should prefer the one on the Path over the embedded one"
With `"java.import.gradle.wrapper.enabled": false`, the import prefers the embedded Gradle over the Gradle on the Path. This is counterintuitive and leads to errors: currently the embedded Gradle is 7.1.1, which is unable to import JDK 17 projects.
I know that I can set `java.import.gradle.home`, but that is merely a workaround.

##### Environment
- Operating System: Windows 11
- JDK version: 17.0

[2022-03-22 09:26] anthonyvdotbe opened #2373 "Make "java.import.gradle.wrapper.enabled" configurable on the Folder level"
Make "java.import.gradle.wrapper.enabled" configurable on the Folder level. I want to have it disabled by default, but for some specific projects, the wrapper is required to be able to build the project, so for those Folders I want to enable the wrapper.

##### Environment
- Operating System: Windows 11
- JDK version: 17.0.2
- Visual Studio Code version: 1.65.2
- Java extension version: 1.4.0

###

[2022-03-22 09:34] anthonyvdotbe opened #2374 "In lightweight mode, take module restrictions into account"
See `Steps To Reproduce`: the hover shows the documentation for an internal class. In lightweight mode, only classes in packages which are exported from `java.base` should be considered.

##### Environment
- Operating System: Windows 11
- JDK version: 17.0.2
- Visual Studio Code version: 1.65.2
- Java extension version: 1.4.0

##### Steps To Reproduce
I have the following code:

[code]

##### Curr

[2022-03-22 11:28] mikailpaycore commented on #1232
I had same issue and changed java>global maven settings.xml to my settings.xml i showed to mvn executable.
java>configuration>maven:global stteings

[2022-03-22 13:44] rgrunber commented on #2367
Closing this out for now as the main issue should be fixed in our next release. There's also https://github.com/redhat-developer/vscode-java/issues/2360#issuecomment-1071083346 where we publish snapshot builds, and in the future we'll be publishing "insider" builds making it easier for consumers to try builds under development.

[2022-03-22 13:44] #2367 closed

[2022-03-22 17:38] rgrunber commented on #2358
Closing this for now as I think the issue has been addressed. The formatter has many different options to allow users to customize how their sources are presented.

We're looking into a way to make the formatter options more discoverable.

[2022-03-22 17:38] #2358 closed

[2022-03-22 17:41] rgrunber commented on #2357
Closing this out as I think I've addressed the main issues here.

The root of the problem is we need to make the formatting options more discoverable. At the very least, maybe I can print them out somewhere like we did for https://github.com/redhat-developer/vscode-java/wiki/Settings-Global-Preferences#java-compiler-options until we get a proper UI around all the options.

[2022-03-22 17:41] #2357 closed

[2022-03-22 18:41] shawnweeks commented on #2259
I'm running into a situation where adding the vmargs isn't sufficient to make the error go away. I'm using the 1.4.0 version of plugin on a Red Hat 7 system using the Remote SSH plugin. I've checked via ps and the trustStore parameters are added to the java command. I've copied a known good version of cacerts into the extensions jre/lib/security directory but no change. I've even used jshell inclu

[2022-03-22 21:57] karlvr commented on #2367
@rgrunber firstly just a massive thank you for the tip about the regression. I don't know why we didn't think to downgrade; I assumed it was an issue we'd introduced in our code. Our small team thanks you. Meanwhile I'll follow up on the rest, and if you haven't already, I'll try adding your notes to the Wiki.

[2022-03-23 22:55] michalhosala commented on #2268
@testforstephen for me navigation through project stops working when I observe this error, i.e. I place a cursor on a symbol, choose "go to definition" or similar and it does nothing, it cannot navigate.

It doesnt happen straight away when opening project, navigation works fine for a while, but f I leave it open for like hour or so it always happens...

Language Support for Java(TM) by Red Hat: 1

[2022-03-23 23:29] karlvr commented on #2367
@rgrunber what do you think about adding commands to this project to open the `.out-jdt.ls...` and `.error-jdt.ls...` log files? I'll tinker with it and produce a PR in case it's useful.

[2022-03-24 01:32] testforstephen commented on #2268
@michalhosala This error message is an expected behavior, your issue should be a different issue.

The Java extension will start a lightweight server and a standard server. When standard server is ready, we will shutdown  lightweight server because standard server is able to provide full feature set of lightweight server. The error message "Uncaught Error: Connection got disposed" occurs when ligh

[2022-03-24 09:25] raulvaldoleiros opened #2378 "Add resource files in java projects view"
It would be great if we can add files (property files,etc) in the java projects view. If this is already implemented can you share with me how to do it?

Thanks

[2022-03-24 09:38] fbricon commented on #2378
The Java project view is contributed by the [Project Manager for Java](https://github.com/microsoft/vscode-java-dependency/) extension. Please open a ticket in https://github.com/microsoft/vscode-java-dependency/issues

[2022-03-24 09:38] #2378 closed

[2022-03-24 18:25] ahuigo opened #2379 "java projects is in loading forever when I open this project in special directory"
[provide a description of the issue]
 My java projects is in loading forever when I open this special project in special directory

##### Environment
[code]

##### Steps To Reproduce
My project is very simple:  https://github.com/ahuigo/tos-java-sdk
1.  Open my project via terminal`code tos-java-sdk`
2.  The java projects is in loading forever, it can not work!!!
 ![image](https://user-images.gith

[2022-03-25 03:10] dgh1000 commented on #2379
For a couple weeks the Java extension has been misbehaving for me. It spins forever. There is no "run" or "debug" button. If I create a new window and add a single folder with Java projects to it, it seems to work for a short time. Eventually the "run" and "debug" buttons go away. I'm not sure what action precedes this.

[2022-03-25 03:44] snjeza commented on #2379
@ahuigo @dgh1000 You may want to take a look at https://github.com/redhat-developer/vscode-java/issues/2353#issuecomment-1071080426

[2022-03-25 03:58] snjeza commented on #2379
@ahuigo Could you try the following:

[code]
Could you reproduce the issue with the following settings:
[code]

[2022-03-25 05:14] dgh1000 commented on #2379
Thank you. However I don't see the relevance, as I'm not  using Maven. Is there something I'm missing?

[2022-03-25 05:38] #684 closed

[2022-03-25 06:58] ahuigo commented on #2379
I've tested https://download.jboss.org/jbosstools/jdt.ls/staging/java-1.5.0-559/java-1.5.0-559.vsix via `code --install-extension ~/Downloads/java-1.5.0-559.vsix`
It still do not works.

[2022-03-25 07:11] ahuigo commented on #2379
## First
 I've tested https://download.jboss.org/jbosstools/jdt.ls/staging/java-1.5.0-559/java-1.5.0-559.vsix via code --install-extension ~/Downloads/java-1.5.0-559.vsix
It still do not works.

## Then
I tried the following steps:
1. Set `"java.import.generatesMetadataFilesAtProjectRoot": true` in vscode
2. Execute these commands in shell, It finally works!
[code]

3. Finally, **I removed `"java.

[2022-03-25 13:33] sunfenglong commented on #1774
me too!!
version 1.4.0

[2022-03-25 16:20] snjeza commented on #2379
rm: /Users/ahui/.config/Code/User/workspaceStorage/: No such file or directory (**I don't have this directory**)

@ahuigo You may want to take a look at [Clean the workspace directory](https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#clean-the-workspace-directory)

[2022-03-25 16:55] snjeza commented on #2379
See https://github.com/redhat-developer/vscode-java/issues/2360#issuecomment-1073940973
https://bugs.eclipse.org/bugs/show_bug.cgi?id=578640 is not maven specific.

[2022-03-26 09:02] OzelotVanilla opened #2381 "One formatter option seems not working: keep_loop_body_block_on_one_line"
The option "org.eclipse.jdt.core.formatter.keep_loop_body_block_on_one_line" seems not working. **Same value in Eclipse is working**, but not for VSCode extension. Although I changed this option to "**one_line_never**", it will still join line if the body of for/while only have one statement.

##### Environment
- Operating System: Windows 10, seems not related
- JDK version: 16, seems not related

[2022-03-26 16:30] baincd commented on #2133
As a workaround, I have created a VS Code extension that adds a folding region for imports on .class files: https://marketplace.visualstudio.com/items?itemName=baincd.java-class-imports-folding

[2022-03-27 05:34] #2379 closed

[2022-03-27 11:13] itaygoz opened #2382 "Add extract inteface from class"
Hi, can you please make an auto-generated interface from an existing class like "Extract interface" in Eclipse?

##### Current Result
No such button

##### Expected Result
![image](https://user-images.githubusercontent.com/48314049/160278797-fba0293a-076c-4e91-8883-1f3ae16a8e7f.png)

[2022-03-27 11:16] itaygoz commented on #1905
Hi, any news?

[2022-03-28 07:21] sharadiiita commented on #1232
Can we have a clean solution for this instead of doing workarounds for years?

[2022-03-28 08:02] DungltAPV commented on #1223
Recently, it still happens, when my computer comes to sleep and turns it back on.
Or just leave the vs-code for a while.

[2022-03-28 14:08] rgrunber commented on #2382
This is definitely a very requested feature so hopefully we get around to it (See https://github.com/redhat-developer/vscode-java/issues/761). It has come up as something to investigate and at least certain parts should be able to rely on the same utilities/classes that Eclipse JDT uses.

I'll close this for now as a duplicate of that one. I would add thumbs up on the main comment of the bug menti

[2022-03-28 14:08] #2382 closed

[2022-03-28 14:17] itaygoz commented on #761
+1

[2022-03-29 07:41] perereman opened #2383 "Extrange error at pom.xml. Not showing up when compiling from standalone Maven"
Hello to everybody

I am facing a problem with VSCode + "Extension Pack for Java" + Java/Maven project which I think, maybe, it is an bug. Could anyone helpme? This is the story:

PROBLEM IS: When I open my project from VSCode + "Language Support for Java(TM) by Red Hat" I always get a red alert over my pom.xml. If I open my pom.xml, I can see an error related to "downloading stuff from https://re

[2022-03-29 21:50] michalhosala commented on #2268
@testforstephen ah, I see, got things mixed up... Unfortunately I won' be of much help, cause I returned my laptop just today as I am quitting my job, so no exact repro for you, sorry. However, I did have a look at logs and when I put a cursor on e.g. `Set<string>` and choos "go to definition" from context menu, then this is the last entry in the logs:
[code]
and it is just stuck forever... In "La

[2022-03-30 03:01] #2099 closed

[2022-03-30 06:18] nehaev commented on #1381
Is anyone looking into this bug? Any progress/updates?

[2022-03-30 12:23] perereman commented on #2383
Ok, I got it fixed.

The problem was in my settings.json. I was trying to use a Windows 10 enviroment variable y differents routes. The point is:
- Configuration variables for "Maven for VSCode" accept those variables with a format like $env:VARIABLE_NAME
- Configuration variables por VScode-jave doesn't accept neither the format $env:VARIABLE_NAME nor %VARIABLE_NAME%.

So "Maven for VSCode" was r

[2022-03-30 12:23] #2383 closed

[2022-03-31 14:12] rafaelceravolo commented on #1341
@fo-fo or @testforstephen I have the same problem (code keeps recompiling). Following your suggestion,  I found the configuration to set to "verbose", but didn't find where the logs are logged.

Where can I see them?

[2022-04-01 01:43] jdneo commented on #2381
cc @CsCherrYY

[2022-04-01 03:02] CsCherrYY commented on #2381
@OzelotVanilla I can't reproduce this issue with your attached profile.

![format](https://user-images.githubusercontent.com/45906942/161186987-1bd7fab6-45fe-47c8-9a7b-6ed4d6498027.gif)

could you check if your formatter profile is in the corrent path of `java.format.settings.url` ?

[2022-04-01 03:33] OzelotVanilla commented on #2381
Thank you @CsCherrYY . For my side, the code is fixed at now, but I do not know why it is fixed. I am sure that I did not change my `java.format.settings.url` and `java.format.settings.profile`, but today it works well. Previously, I try to clear workspace cache, but not work.

Thanks again. Next time, I think I should also **restart (shutdown then open)** the computer, and try again.

[2022-04-01 03:33] #2381 closed

[2022-04-01 15:29] Nightenom opened #2385 ""Java: Clean Java Language Server Workspace" fails on Debian"
Calling command "Java: Clean Java Language Server Workspace" results in error after window reload. The extension then looks like it did not clean itself up. Reproducibility 99% - the 1% stands for when the extension itself crash before, then I can clean without error.

##### Environment
- Operating System: `Debian GNU/Linux 11 (bullseye)`
- uname -a: `Linux user 5.10.0-13-amd64 #1 SMP Debian 5.10.

[2022-04-02 03:34] jdneo opened #2386 "Failed to import Maven project when the artifact name is a property"
##### Environment
Version: 1.66.0 (user setup)
Commit: e18005f0f1b33c29e81d732535d8c0e47cafb0b5
Date: 2022-03-30T05:50:14.623Z
Electron: 17.2.0
Chromium: 98.0.4758.109
Node.js: 16.13.0
V8: 9.8.177.11-electron.0
OS: Windows_NT x64 10.0.22000

##### Steps To Reproduce
1. Use the project Spring petclinic: https://github.com/spring-projects/spring-petclinic
2. Update the pom file to let the artifact i

[2022-04-02 13:52] ZhehuaMa commented on #2292
Same issue.
Connecting to a docker container running in a remote host using ssh, testing with a HelloWorld.java, I find the Java Language Server never shows the "Thumbs Up" icon. The Java Build Status terminal outputs nothing.

The logs in Developer Tools:
[code]

Java Language Server log:
[code]

When I connect to the host rather than the container, testing with the same java file, everything wor

[2022-04-02 16:29] rajinder-yadav opened #2387 "JpaRespository not showing up for auto complete"
We have written the needed data into your clipboard because it was too large to send. Please paste.
Issue Type: <b>Bug</b>

Typing the following code and hitting CTRL+SPACE to auto complete fails to show "JpaRepository" as an option in a SpringBoot project.

[code]

Extension version: 1.4.0
VS Code version: Code - Insiders 1.65.0-insider (3112460dc48ce7e557ea9feeaae04b912164b48b, 2022-02-24T05:16:

[2022-04-02 16:55] rajinder-yadav commented on #2387
Incorrectly used "class" instead of "interface" and this is what caused the problem.

[2022-04-02 16:55] #2387 closed

[2022-04-03 15:35] itaygoz commented on #1774
Same for me, [error] [redhat.java] provider FAILED
redhat.java-1.4.0

[2022-04-04 06:23] mishi321 commented on #1660
*Impl.class didn't generate by vscode **run** , but it work well by gradle **bootRun**. So everytime I copy *Impl.class from build(gradle compile folder) to bin(vscode compile folder) by hand let vscode to run.

[2022-04-04 08:24] gonghenghai opened #2388 "combine some special meanings with some variables"
For example :
[code]
I need the length of arrayName, but I need not i. Obviously, the language server will prompt the warning of `The value of the local variable i is not used`.

I can suppress the warning through add `@SuppressWarnings("unused")` before the method/class. But IntelliJ has a better solution: you can rename `i` to `ignored` to suppress this warning. Could we provide a similar functi

[2022-04-04 17:53] StephaneAdeso opened #2389 "No refactorings available"
I have no idea why but in 80% of the Java files I open, when I try to do things like extract a method or a variable, I don't have refactoring available. I almost always get the "no refactorings available" message.
This happens to me both in Spring applications and in single dummy Java files. Could someone tell me what is the reason or what are the requirements for this to always work? I have alrea

[2022-04-05 17:04] danschultequb opened #2391 "Can't figure out how to link source jars/zips to a project"
##### Environment
- Operating System: Windows 11
- JDK version: 17.0.1
- Visual Studio Code version: 1.66.0
- Java extension version: 1.4.0

##### Steps To Reproduce
1. Unzip the provided [example.zip](https://github.com/redhat-developer/vscode-java/files/8420385/example.zip) file.
2. Open the example folder in VS Code.
3. Open the Source.java file.
4. Attempt to go to the definition of the InMemo

[2022-04-05 20:46] danschultequb commented on #2391
That did the trick. I'll close this issue, but before I do I have to ask: is this documented anywhere, or was I just supposed to know about the magical naming convention?

[2022-04-05 20:46] #2391 closed

[2022-04-05 21:04] fbricon commented on #2391
I thought it was documented but I couldn't find it, so we need to fix this.

[2022-04-05 21:12] danschultequb commented on #2391
Phew! I was going crazy trying to figure out it and it felt like the sort
of thing that would've been documented. I'm glad it wasn't just me missing
something obvious. 🙂 Thanks for looking into it!

On Tue, Apr 5, 2022 at 2:04 PM Fred Bricon ***@***.***> wrote:

[2022-04-06 02:04] bastion9 commented on #1886
It keeps telling me to edit the pom.xml file

[2022-04-06 06:51] talios commented on #2255
I note that even now that Java 18 is released, one still can't use it as JDK name in the configuration.

[2022-04-06 08:53] AgainPsychoX opened #2392 "Cannot even run basic Java (with Gradle) autogenerated project"
Cannot even run basic Java (with Gradle) autogenerated project.

##### Environment

- Operating System: Windows 10
- JDK version: OpenJDK
[code]
- Visual Studio Code version: `1.66.0`
- Java extension version: `v0.22.2`

##### Steps To Reproduce

1. Install `Extension Pack for Java`.
2. Click `Create Java Project`.
3. Select Gradle (will ask to install `Gradle for Java`).
4. Select project locatio

[2022-04-06 09:04] AgainPsychoX commented on #2392
* I have realized https://github.com/microsoft/vscode-java-debug/blob/main/Configuration.md#auto-generate-the-launchjson is all lies...

[2022-04-06 09:17] AgainPsychoX commented on #2392
Also fails when running from "Java Projects" thingy (but different reason, malformed shell command)
![image](https://user-images.githubusercontent.com/23557839/161941393-b67f6e8c-b910-4cf0-9526-2e4bab2a718f.png)

[code]

[2022-04-06 09:33] AgainPsychoX commented on #2392
I can't understand, why isn't it working... The file is compiled into `.class`. If I decompile it, it had the proper main class. Class paths are set properly (inside file included to args `@...`; contains `-cp "C:\\Users\\PsychoX\\Desktop\\Środa\\Grafika\\Renderer\\app\\bin\\main; ...`).

[2022-04-06 09:39] testforstephen commented on #2392
The issue is that your path contains some unicode character `Środa`, and Java debug extension doesn't handle it well.

Could you move the issue to https://github.com/microsoft/vscode-java-debug/issues?

[2022-04-06 09:52] AgainPsychoX commented on #2392
I _"love"_ how Java brands itself as multiplatform and portable, when it can't handle Unicode characters left and right... And not even giving clear error/warning message - even working with GCC warnings is easier to read at this point...

Also, why does the issue still occur when there were similar issues in the past? https://github.com/microsoft/vscode-java-debug/issues?q=Unicode

Anyway, thanks

[2022-04-06 10:08] fbricon commented on #2392
@testforstephen you're a contributor to both vscode-java and vscode-java-debug, so please transfer that issue over there. Else just close it here.

[2022-04-06 10:19] testforstephen commented on #2392
Tracked this issue at https://github.com/microsoft/vscode-java-debug/issues/1149

[2022-04-06 10:19] #2392 closed

[2022-04-06 13:55] #2351 closed

[2022-04-06 14:49] snjeza commented on #2255
You may want to take a look at https://github.com/eclipse/eclipse.jdt.ls/pull/2028

[2022-04-06 14:59] AgainPsychoX opened #2393 "Git changes highlighting missing when Java project is open"
While working with Java in VS Code, I noticed Git changes highlighting missing when Java project is open.

##### Environment

- Operating System: Windows 10
- JDK version: OpenJDK
[code]
- Visual Studio Code version: `1.66.0`
- Java extension version: `v0.22.2`

##### Steps To Reproduce
1. Open or create basic Java project (with Gradle?).
2. Initialize git in the project directory.
3. Create initi

[2022-04-07 09:11] plazma-prizma commented on #2287
Any updates?

[2022-04-07 10:26] lucamaf commented on #1232
this worked for me, but as was asked, can we have a solution and not workarounds??

[2022-04-07 14:59] Bruce17 commented on #2332
I'm having the same issue. It started ~4 weeks ago with some update. After some time developing I cannot click on any reference to directly jump to it. I noticed iddferent error messages like `Unable to load IDecompiler class for jarFileContentProvider` or `redhat.java language server crashed`. Enabling and disabling different plugins and reinstalling vscode didn't solve the issue. I noticed that

[2022-04-07 15:30] snjeza commented on #2287
@plazma-prizma I can't reproduce the issue. Could you attach a sample project reproducing the error?

[2022-04-07 18:28] aberasarte commented on #1232
Downgrading to 1.3.0 worked for me as well. Thanks @sharadiiita !

[2022-04-08 08:18] charonme commented on #937
happens to me all the time even when java.completion.overwrite is set to false for both User and Workspace, also I tried setting editor.suggest.insertMode to "insert". I already got used to it and consciously avoid using autocomplete when there is a text immediately following the cursor

[2022-04-08 12:18] mozhuanzuojing opened #2396 "module-info.java is not supported"
Could not build module project like module-info.java

##### Environment
- Operating System: windows 11
- JDK version: 17
- Visual Studio Code version: 1.66.1
- Java extension version:v1.4.0

##### Steps To Reproduce
1. please read doc <https://docs.gradle.org/current/samples/sample_java_modules_multi_project.html>
2. download  https://docs.gradle.org/current/samples/zips/sample_java_modules_multi_

[2022-04-08 17:05] snjeza commented on #2396
@mozhuanzuojing could you try to set the following property:

[code]

[2022-04-08 17:50] nortakales opened #2397 "//@formatter:off"
This is probably a new feature request rather than a bug.

Currently, `// @formatter:off` and `// @formatter:on` are great for having VSCode not format part of your file. This behavior could also extend to save actions, not just formatting. For example, when using Args4J, you annotate fields with `@Option` and those fields are set for you based on command line arguments (through some kind of refle

[2022-04-08 22:55] mozhuanzuojing commented on #2396
@snjeza this is my settings.json

[code]

[2022-04-09 00:22] snjeza commented on #2396
@mozhuanzuojing could you show your .settings/org.eclipse.buildship.core.prefs?

[2022-04-09 01:47] mozhuanzuojing commented on #2396
@snjeza

[code]

[org.eclipse.jdt.core.prefs](https://github.com/redhat-developer/vscode-java/files/8456015/org.eclipse.jdt.core.zip)  when `"java.settings.url": "file:///C:/Users/Administrator/AppData/Roaming/Code/User/org.eclipse.jdt.core.prefs"`

[2022-04-09 12:49] OOOHA commented on #2361
After updated to Mac OS 12.3.1 and VScode version 1.66.1(2022-04-06), it's fixed!

[2022-04-09 12:50] #2361 closed

[2022-04-09 13:56] mozhuanzuojing commented on #2396
@snjeza After I fixed the parameters of `gradle.properties`, the compilation result is much better than before. Although there are still a few errors

[code]

## Current situation

![image](https://user-images.githubusercontent.com/63572041/162577262-6fcc7bc2-d97e-46d9-9a0b-e3447d2fc878.png)

[2022-04-10 03:30] snjeza commented on #2396
@mozhuanzuojing could you try the following:

utilities/build.gradle
[code]
application/build.gradle
[code]

[2022-04-10 07:28] mojo2012 commented on #2350
Will the next version include a fix. This is really annoying. Something in the code changed and broke. It should be fixed by now, imho, it's over a month ago.
Just sticking with an old version is not an option over the long term.

[2022-04-10 13:19] mozhuanzuojing commented on #2396
@snjeza I found that the problem is with the version of JDK, now it is JavaSE-1.8
The correct version should be 17
But no matter how I modify it, I can't change the version of the project to 17

[2022-04-10 13:20] mozhuanzuojing commented on #2396
Tried this configuration, there is no change, there is still an error in module-info.java

[2022-04-10 13:25] mozhuanzuojing commented on #2396
@snjeza JDK version is always 1.8

![image](https://user-images.githubusercontent.com/63572041/162620321-a461411b-fcf7-4253-bae5-4d15cf768483.png)

[2022-04-10 14:33] jackwener commented on #1639
I also meet this problem.

[2022-04-10 18:08] snjeza commented on #2396
@mozhuanzuojing could you try
[dsl.zip](https://github.com/redhat-developer/vscode-java/files/8459638/dsl.zip)

![dsl](https://user-images.githubusercontent.com/388609/162633272-61ce793d-b6fd-4c23-a70f-48bf2ed01358.gif)

[2022-04-11 01:33] mozhuanzuojing commented on #2350
@rgrunber @testforstephen All of us in the development department have had this problem for over a month.

- The steps to reproduce this problem are, after starting debugging, open any java file and save it more than three times in quick succession (Ctrl + S), which will cause all the code of the current project to be recompiled!

[2022-04-11 02:32] CsCherrYY commented on #2397
`@formatter:off` is a part of formatter configurations in eclipse, since vscode-java uses eclipse formatter to formatter your java file, you can change the formatter settings via the formatter profile, ref: https://github.com/redhat-developer/vscode-java/wiki/Formatter-settings

In your formatter profile, you can set `org.eclipse.jdt.core.formatter.enabling_tag` to `@formatter:on` and `org.eclipse

[2022-04-11 02:53] CsCherrYY commented on #2397
I can't reproduce this (auto add `final` when save Java file) even I enabled setting `editor.formatOnSave`.

As far as I know, the extension will add final modifier via source action `Change modifiers to final where possible`, not formatting. You can manually format your file, and check if there are extra finals.

[2022-04-11 03:51] mozhuanzuojing commented on #2396
@snjeza I use your example and have no problems. grateful.

[2022-04-11 06:16] nortakales commented on #2397
I understand that auto adding the `final` keyword is *not* part of source formatting, but rather is part of `editor.codeActionsOnSave`. Example settings turning that on:

[code]

So, this feature might make more sense with its own special comment rather than using the same as the formatter (i.e. `// @formatter:off`). I thought maybe the same one would make the most sense from a user perspective, b

[2022-04-11 08:16] ericsia opened #2399 "Add feature for line up comment"
1. line up comment
[code]
became
[code]
2. add option to add space after `//` even when format comment is diabled
became
[code]

[2022-04-11 13:19] arobertn commented on #634
Why is this issue closed? The referenced "fix" seems to be for Eclipse, not VS Code, and in any case seems not to be working judging by the continuing posts and upvotes. To that point I am getting this in a mixed Scala/Java Gradle project with "Language Support for Java by Red Hat 1.4.0" in VS Code 1.62.2.

[2022-04-11 14:23] rgrunber commented on #2397
Makes sense. The code changes on save are known as cleanups. They're basically the same kinds of changes one makes when applying a code action. When we start to support many more, it's likely people will want a way to avoid applying them in a small set of circumstances. Something like a `// @codeActions:{off,on}` would be nice down the road.

I think the place for this feature is probably in JDT C

[2022-04-11 20:32] snjeza commented on #2386
@jdneo this is an upstream m2e issue. Could you create a new issue at https://github.com/eclipse-m2e/m2e-core/issues ?

[2022-04-11 21:00] snjeza commented on #1232
@aberasarte @sharadiiita could you provide a sample project reproducing the error?

[2022-04-11 22:50] rgrunber commented on #2399
It doesn't appear to be supported currently, which is unfortunate given how many different things we do support in terms of alignment in https://github.com/eclipse-jdt/eclipse.jdt.core/blob/master/org.eclipse.jdt.core/formatter/org/eclipse/jdt/core/formatter/DefaultCodeFormatterConstants.java (search for "alignment"). I think a reasonable approach might be to align all comments on a per-block basi

[2022-04-12 00:45] ericsia commented on #2399
It seems like you are repeating what I've said above 😅
"Background" is emphasizing most developer keep that off anyway.
I've checked eclipse formatter it doesn't have option 1 and 2 that I've mentioned above. Since that will help java code sharing more maintainable especially working as a team, yes it's a lucrative and powerful feature.
That is why I wonder if it is possible if vscode can ship the

[2022-04-12 06:05] pinkli commented on #1774
Same for me, the language server stops working after few minutes.

[2022-04-12 06:33] Eskibear opened #2401 "wrong message about default project jdk in client.log"
With below settings, drag a .java file into an empty window.
[code]

In client.log, you'll see below, which is wrong.

[code]

'java.home' should be 'java.jdt.ls.java.home'.

[2022-04-12 06:33] Eskibear commented on #2401
cc @testforstephen

[2022-04-12 07:38] lucamaf commented on #1232
sample project
[https://www.dropbox.com/s/mq91g95tv9sox30/quarkus-project.zip?dl=0](url)

[2022-04-12 08:43] #2401 closed

[2022-04-12 14:55] rgrunber commented on #1232
@lucamaf The application works for me so there's definitely something else happening here. I'm even able to run it as a Quarkus application with vscode-quarkus (which I also maintain) after fixing the missing `.mvn` wrapper folder. I tried playing with different Java versions, but no luck getting it to fail.

Could you set `java.trace.server` to `verbose` in settings, import the project again to r

[2022-04-12 15:21] snjeza commented on #2389
@Osolemio44 could you provide a sample project reproducing the error?

[2022-04-12 16:09] lucamaf commented on #1232
I was able to fix it, so not sure I can reproduce anymore
If that happens again I will follow the procedure

On Tue, Apr 12, 2022 at 4:56 PM Roland Grunberg ***@***.***>
wrote:

--

LUCA MATTIA FERRARI

EMEA SENIOR SOLUTION ARCHITECT, ITILV3

Red Hat Spain <https://www.redhat.com/>

travessera de Gracia, 11

08021, Barcelona

***@***.***    M: +34-653-225-181
<http://redhatemailsignature-marketing

[2022-04-12 18:03] Osolemio44 commented on #2389
Anyway, even if it doesn't work for me, I think this functionality should be present and enabled by default in VSCode.  as in all other IDEs

[2022-04-12 18:49] rgrunber commented on #2370
This should be a simple change. @snjeza's change is simply catching an error that failed the entire code action collection in the static initializer case.

[code]

[2022-04-12 22:57] BoykoAlex opened #2405 "Exceptions activating vscode-java extension"
Exceptions activating vscode-java extension. The spinning wheel just keeps going in the bottom-right corner.

##### Environment
- Operating System: OSX 12.3.1
- JDK version: embedded into vscode-java
- Visual Studio Code version: 1.66.1
- Java extension version: 1.4.0

##### Steps To Reproduce
1. Open a Java file
2. Java spinning wheel spinning in the bottom right corner. Exception in debug output

[2022-04-13 00:59] snjeza commented on #2405
I can't reproduce the issue.
@BoykoAlex could you try to add

[code]
and start VS Code in the following way:
[code]
or
[code]

[2022-04-13 01:42] #2370 closed

[2022-04-13 01:55] CsCherrYY commented on #559
If there are multiple restriction of a dependency, Gradle will use its [dependency resolution strategy](https://docs.gradle.org/current/userguide/dependency_resolution.html#sub:resolution-strategy) to handle the conflicts, that's why the source file version of your dependency is different from you expected.

if you want to restrict the dependency, you can use the similar code here:
[code]
or if yo

[2022-04-13 02:19] CsCherrYY commented on #797
I just tried the sample project with the newest extension (1.4.0) and found this issue has been solved. As @IndikaMaligaspe said, for those you had open this workspace before, you can clean the java language server workspace and reload VS Code, it will work.

[2022-04-13 02:42] CsCherrYY commented on #1511
![1511](https://user-images.githubusercontent.com/45906942/163089105-b392f635-1a39-4ebf-8090-7f4521b5772c.png)

@RDIL I can see the auto-completion list in project `Willow`, with the newest extension (1.4.0)

For the hover, I find your dependency has no source attached so the extension won't provide hover information. You can use `Go to definition` to view the .class files.

[2022-04-13 03:28] CsCherrYY commented on #978
actually it's a missing feature in buildship, see: https://github.com/eclipse/buildship/issues/1126#issuecomment-1004643907. vscode-java can support importing buildSrc once buildship supports it.

[2022-04-13 06:19] CsCherrYY commented on #2372
you can set your local Gradle 7.3.1+ to the environment variable `GRADLE_HOME`, see https://github.com/redhat-developer/vscode-java#supported-vs-code-settings

[2022-04-13 09:18] testforstephen opened #2406 "Code completion "import java.u|" inserts repeated text "import java.java.util.*""
When using code completion on "import java.u|", it inserts the text as "import java.java.util.*".

![image](https://user-images.githubusercontent.com/14052197/163143594-8ca283d8-edb8-49ef-a3af-538155e3c6f5.png)

// @jdneo

[2022-04-13 09:26] jdneo commented on #2406
I was thinking that there is no harm to make insert/replace different for all kinds of proposals. Seems that I should not change the previous logic: https://github.com/eclipse/eclipse.jdt.ls/blob/c5cdd8f4c44b3f78160fec686603e5ef72b2ba92/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/contentassist/CompletionProposalReplacementProvider.java#L164

[2022-04-13 09:50] jdneo commented on #2406
Wait...

I could not repro in Stable VS Code. But it's reproducible in Insider. Looks like it's a VS Code insider bug?

[2022-04-13 11:22] testforstephen opened #2408 "New Java file snippet is broken in 1.5.0"
In 1.5.0 RC bits, new a Java file from File Explorer, it just creates an empty file without any class body generated. This is a regression introduced by https://github.com/redhat-developer/vscode-java/pull/2349

[2022-04-13 13:44] #2408 closed

[2022-04-13 18:57] anthonyvdotbe commented on #2372
Currently `java.import.gradle.home` says:

And what I'm proposing is:

[2022-04-13 20:21] BoykoAlex commented on #2405
Actually i think the project should have been: https://github.com/spring-projects/spring-petclinic (main or 1.5.x branch). I have updated the project in the description as well.

[2022-04-13 22:42] #2396 closed, assigned to nobody

[2022-04-13 22:50] snjeza commented on #2405
@BoykoAlex I still can't reproduce the issue.
Could you set
[code]
and send your .project, .classpath files and the .settings folder from the project's root (spring-petclinic)?

[2022-04-14 00:04] RDIL commented on #1511
This issue is probably outdated anyway, since I haven't used VSCode in at least a year.  I'll close it, but anybody else who experiences it can feel free to let me know and I'll reopen it.

[2022-04-14 00:04] #1511 closed

[2022-04-14 02:22] CsCherrYY commented on #1169
With the newest extension (1.5.0), I can pass the arguments like `--gradle-user-home` mentioned via `java.import.gradle.arguments` and Gradle makes use of them successfully.

[2022-04-14 02:24] CsCherrYY commented on #2024
related to https://github.com/eclipse/buildship/issues/1126. Actually, there is something error with the tests of project `buildSrc`.

[2022-04-14 02:31] Eskibear commented on #2405
I glanced at the location and that should be something inside langugeclient lib. Just a thought that if you have SERVER_PORT or JDTLS_CLIENT_PORT environment variable set? That would leads to wrong connection between client and server.

BTW, you can open extension log file via "Java: Open Extension Log File" command. Search "Starting Java server with:" for full command that Java LS was launched by

[2022-04-14 08:11] xyzCh commented on #2332
Recently, I had a similar problem during the development of springboot project, I cannot click on any reference to directly jump to it. finally, I realized that might be the problem of springboot extension. Until I found this [issue](https://github.com/spring-projects/sts4/issues/750#issuecomment-1098205785), my problem was solved.

[2022-04-14 16:42] abshekh opened #2411 "Refactor symbol does not work with @Builder annotation"
Refactor symbol does not work after annotating the class with `@Builder` from `Lombok`.

##### Environment
- Operating System: Windows
- JDK version: 11
- Visual Studio Code version: 1.66
- Java extension version: 1.5.0

##### Steps To Reproduce
1. Annotate the class with `@Builder`
2. Use refactor symbol to rename an instance variable.

##### Current Result
Rename/Refactor is not reflected.

####

[2022-04-14 16:46] snjeza commented on #2389
@Osolemio44 could you show any example?

[2022-04-14 23:49] Micha3lB opened #2412 "Some parameter names of method invocations are not useful"
<img width="1440" alt="Screen Shot 2022-04-14 at 7 56 55 PM" src="https://user-images.githubusercontent.com/103692380/163495031-2166a97b-85d7-4ffe-85c7-08e309070269.png">

[provide a description of the issue]

I was getting an error saying .java file was not a project file. I looked it up and it said to use Clean java language server, after I did that these were highlighted things like s: and x: a

[2022-04-15 02:23] jdneo commented on #2411
Seems refactoring feature will break when lombok is enabled, another one: https://github.com/redhat-developer/vscode-java/issues/1596

fyi @testforstephen

[2022-04-15 02:25] jdneo commented on #2412
It's a new feature introduced in 1.5.0, called `inlay hint`. We use that to display the parameter names of those arguments.

If you do not want to have them in your editor, you can set the setting `java.inlayHints.parameterNames.enabled` to `none`

[2022-04-15 02:46] Eskibear commented on #2412
There are also inlay hints in Line 6  ~ Line 10, but user is not complaining about it, because they do provide useful information.

Just some thoughts, shall we maintain a list and hardcode to exclude system.out.print/println? as inlay hints for these functions don't provide much help.

[2022-04-15 02:51] jdneo commented on #2412
Sure, an exclude list can be added for such case, which is also the way that IntelliJ and Eclipse do.

[2022-04-15 05:49] shaithal opened #2413 "Connection to server got closed"
We have written the needed data into your clipboard because it was too large to send. Please paste.

Issue Type: <b>Bug</b>

[Error - 11:16:32 AM] Connection to server got closed. Server will not be restarted.
[Error - 11:16:32 AM] Connection to server is erroring. Shutting down server.

Extension version: 1.5.0
VS Code version: Code 1.66.2 (dfd34e8260c270da74b5c2d86d61aee4b6d56977, 2022-04-11T07:

[2022-04-15 06:58] gruvw commented on #2412
It would be great to also add a right-click context menu to ignore some of the methods we wrote.

[2022-04-15 07:21] gruvw opened #2414 "Inlay hints wrong order for records"
Hello, when using the new inlay hints I just discovered that sometimes the order of the arguments was not correct.

Example:
![inlay_order_issue](https://user-images.githubusercontent.com/63407038/163538203-765d25b2-e168-4a24-821a-e3d0b06f35d3.png)

For the moment it only happened to me when using java records syntax.

##### Environment
- Operating System: Ubuntu
- JDK version: 17
- Visual Studio

[2022-04-15 11:54] Micha3lB commented on #2412
Thank you :)

[2022-04-15 12:17] FieteO commented on #2414
I think this is caused by the `getDeclaredFields()` method not returning the fields in a particular order (called in the [InlayHintVisitor](https://github.com/eclipse/eclipse.jdt.ls/blob/346d6fa63d00f3a30091ac1984e1cd835b13e83f/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/handlers/InlayHintVisitor.java#L206)).
[From the javadoc](https://git.eclipse.org/r/plugins/gitiles/jdt/eclipse

[2022-04-15 15:11] Armaan533 commented on #743
Thank you!! It worked

[2022-04-15 17:49] a01fe opened #2416 "Unexpected 'Project xxx has no explicit encoding set' warnings"
In a Gradle project with subprojects, each subproject directory has a " Project 'xxx' has no explicit encoding set" warning. This appears to have started with version 1.5.0 of the extension.

##### Environment
- Operating System: macOS 12.3.1
- JDK version: OpenJDK 64-Bit Server VM Temurin-17.0.2+8 (build 17.0.2+8, mixed mode)
- Visual Studio Code version: Version: 1.67.0-insider Commit: a9288be67

[2022-04-15 18:31] snjeza commented on #2416
Related Eclipse bug - https://bugs.eclipse.org/bugs/show_bug.cgi?id=479451

[2022-04-16 14:01] EccentricVamp commented on #2416
This warning is appearing for me as well

**Environment**
* Operating System: Windows 10.0.19044
* JDK: OpenJDK 64-Bit Server VM Temurin-17.0.2+8 (build 17.0.2+8, mixed mode)
* Visual Studio Code: 1.66.2
* Java extension: 1.5.0

[2022-04-17 02:52] mishi321 commented on #2416
Similar gradle multi modules, waiting for solution.

[2022-04-17 12:52] biuniun commented on #2416
In my case, the issue can be solved by cleaning the workspace of the Java Language Server.

[2022-04-18 01:35] maxandersen opened #2421 "Language server runtime should fail immediately if minimum version of JRE not satisfied"
launching vscode with java 8 in path I get the following:

[code]

should the qute (or quarkus tools) not be able to handle this as vscode-java seem to survive such startup?

[2022-04-18 01:40] jdneo commented on #2413
Is there any errors in logs?

_How to enable loging: https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#enable-logging_

[2022-04-18 01:55] jdneo commented on #2414
Hi @angelozerr,

Do you have any idea how we can support inlay hints for `Record` class? The current problem is that `getDeclaredFields()` does not return fields with declared order.

[2022-04-18 09:52] pingu8007 opened #2417 "Failed to quick fix variable declaration"
Issue Type: <b>Bug</b>

1. Open any java project
2. Declare local variable
[code]
3. Call `Quick Fix`/`Create Local Variable...` from menu

## Expect

Code should be corrected to

[code]

## Actual

exception thrown in output panel

[code]

Extension version: 1.5.0
VS Code version: Code 1.66.2 (dfd34e8260c270da74b5c2d86d61aee4b6d56977, 2022-04-11T07:46:01.075Z)
OS version: Windows_NT x64 10.0.1904

[2022-04-18 10:28] angelozerr commented on #2414
No sorry I cannot help you for this topic.

[2022-04-18 15:53] snjeza commented on #2417
@pingu8007 I can't reproduce the issue.
Could you attach a sample project reproducing the error?

[2022-04-18 17:01] snjeza commented on #2416
A workaround:
You can create the <your_project>/.settings/org.eclipse.core.resources.prefs file with the following contents:

[code]

[2022-04-19 01:41] pingu8007 commented on #2417
@snjeza I finally figure out that lombok plugin is broken due to something (in vscode or vscode-java) changed recently. After upgrade `lombok.jar` to 1.18.24 the issue is solved.

To reproduce, add `-javaagent:\"/path/to/lombok.jar\"` into `java.jdt.ls.vmargs`, where the version of lombok plugin should be 1.18.22 or earlier.

Feel free to close if this not a issue.

[2022-04-19 01:47] #2417 closed

[2022-04-19 02:20] snjeza commented on #2411
@abshekh @jdneo you may want to take a look at https://github.com/redhat-developer/vscode-java/issues/2417#issuecomment-1101910372
A related issue: https://github.com/projectlombok/lombok/issues/3134

[2022-04-19 02:26] jmihalich commented on #2416
Verified the above workaround fixes the issue, until we get the patch.

[2022-04-19 02:59] snjeza commented on #2416
You can check https://github.com/snjeza/vscode-test/raw/master/java-1.5.7.vsix
You can test the `java.project.encoding` property - https://github.com/redhat-developer/vscode-java/pull/2418/commits/74ab5c403fafd66c35ca5f2f5cd66e72ec35a0fa#diff-b335630551682c19a781afebcf4d07bf978fb1f8ac04c6bf87428ed5106870f5R204

[2022-04-19 06:53] jdneo commented on #2414
The correct parameter names are stored in the internal `MethodBinding`. But I didn't find a way to access it

[2022-04-19 07:15] abhsingh58 commented on #2411
@snjeza i tried with Lombok v1.18.24. The issue still persists for me. After removing `@Builder` annotation renaming works, but with it renaming does not work. :(

[2022-04-19 07:33] abshekh commented on #2411
@snjeza i tried with Lombok v1.18.24. The issue still persists for me. After removing `@Builder` annotation renaming works, but with it renaming does not work. :(

[2022-04-19 11:29] mozhuanzuojing opened #2419 "jvm crash log, only for recording"
At work, vscode crashes, and there is only one log. Time: Tue Apr 19 14:46:37 2022

This problem can be tracked for a long time.

##### Environment
- Operating System:windows10
- JDK version:17
- Visual Studio Code version:1.66.2
- Java extension version:1.5.0

[hs_err_pid25356.log](https://github.com/redhat-developer/vscode-java/files/8512525/hs_err_pid25356.log)

##### Additional Informations
Be

[2022-04-19 14:22] fbricon commented on #2416
reopening as the fix hasn't been merged yet.

[2022-04-19 15:55] GitFenixZ opened #2420 "Java Auto Completion only shows documentation in VSCode on Windows 10, but not on Linux Manjaro"
## Java Auto Completion only shows documentation in VSCode on Windows 10, but not on Linux Manjaro

##### Environment
- Operating System: Manjaro Linux x86_64
- Kernel: 5.17.1-3-MANJARO
- Desktop Environment: Plasma 5.24.4
- JDK version:
$ java --version
openjdk 17.0.3 2022-04-19
OpenJDK Runtime Environment (build 17.0.3+3)
OpenJDK 64-Bit Server VM (build 17.0.3+3, mixed mode)
$ javac --version
ja

[2022-04-19 16:12] snjeza commented on #2420
@GitFenixZ Could you try to install the JDK source code - java-17-openjdk-src?

[2022-04-19 16:24] GitFenixZ commented on #2420
@snjeza `java-17-openjdk-src` isn't available for me neither with `yay` nor `pacman` but I find
[code]

Which one should I choose?

[2022-04-19 16:28] fbricon commented on #2420
@snjeza isn't JDT supposed to be able to fetch the Javadoc remotely, based on the JDK version?

[2022-04-19 19:49] rgrunber commented on #2412
Would it be safe to assume that a 1 or 2 character length parameter hint is useless and just hide those ? I don't think Eclipse has an exclude list. I checked the preferences and only saw the ability to enable/disable whether parameter names are shown. They do [ignore methods with only 1 parameter](https://github.com/eclipse-jdt/eclipse.jdt.ui/blob/master/org.eclipse.jdt.ui/ui/org/eclipse/jdt/inte

[2022-04-19 20:13] snjeza commented on #2420
JavadocContents.getMethodDoc(IMethod) returns null for String.substring(...) when using Javadoc remotely.

...

You should check it with
[code]

[2022-04-19 20:42] GitFenixZ commented on #2420
@snjeza Thank you!

with

I realised I was missing `/usr/lib/jvm/java-17-openjdk/lib/src.zip`.

So I installed `openjdk-src 17.0.3.u3-1` with `yay -S openjdk-src 17.0.3.u3-1` and now it works I get the documentation in VSCode!

So if I understood my problem is that I needed the `OpenJDK Java 17 sources` as I use OpenJDK 17.

Now, my question is why didn't it get installed with `jdk-openjdk 17.0.3.

[2022-04-19 21:12] snjeza commented on #2420
It is an upstream Manjaro issue.

[2022-04-20 01:16] jdneo commented on #2412
The Eclipse embedded code minding only contains basic support, so it does not have the exclude list. But it can be available once the [jdt code minding](https://github.com/angelozerr/jdt-codemining) plugin is installed.

![image](https://user-images.githubusercontent.com/6193897/164127489-b28be8c3-07af-48cc-8887-43268af2ad8b.png)

The full list: https://github.com/angelozerr/jdt-codemining/blob/ma

[2022-04-20 01:56] jdneo commented on #2414
Yes, that means we need first find the record type in the Java project, and then get its type root, which would be too expensive for displaying inlay hints.

How about we try to add the API at upstream? Before the new API is available, we disable the inlay hint for record method invocations temporarily.

[2022-04-20 02:10] CsCherrYY commented on #1594
@jakegt1 It's a Gradle issue, which has been addressed in https://github.com/gradle/gradle/pull/17397, and the milestone is 7.2RC, so you can upgrade your wrapper version to greater than 7.2 and this issue will disappear.

I just tried in Gradle 7.3 and the error message can show properly, regardless of the JVM version (8 or 11 or later). Could you try it again?

[2022-04-20 06:23] gruvw commented on #2412
I also think that we should not display parameters that only have 1 or 2 characters, and I think we should not display an inlay hint when there is only one parameter (at least have a setting for the latter).

[2022-04-20 07:38] CsCherrYY opened #2422 "`Java: Import Java Projects into Workspace` ignores build tool conflict choice"
steps to reproduce:

1. git clone https://github.com/spring-projects/spring-petclinic
2. vscode-java shows there is build tool conflict, choose Maven
3. After importing, execute command `Java: Import Java Projects into Workspace`
4. After importing, you can find the project is imported as Gradle project, and in `Java Projects` view it shows `Project and External Dependencies`(buildship style)

[2022-04-20 07:57] jdneo commented on #2412
Looks good to me to have a setting for that. Or maybe just hide it and wait for users' feedback.

It makes sense to me to hide parameters only have 1 char. While I'm not sure about 2 characters. Since there are still some words with 2 characters which have a clear meaning. For example: `id`, `db`, `ms`, ...

[2022-04-20 08:47] massimeddu-sonic opened #2423 "Extension stop to work after 1.5.0 update"
[server.log](https://github.com/redhat-developer/vscode-java/files/8519853/server.log)

After the upgrade to java extension version 1.5.0 (on Code insider running with Remote container setup), the extension stops to work
[client.log](https://github.com/redhat-developer/vscode-java/files/8519854/client.log)
 (see attached log). I have multiple java projects in my root directory.

##### Environment

[2022-04-20 09:26] fbricon commented on #2423
can you try to execute the "Java: Clean Java Language server workspace" command?

[2022-04-20 13:09] massimeddu-sonic commented on #2423
Hi @fbricon thanks for the quick reply. Unfortunately it didn't solve my issue. If it could help to identify the issue, this is the Output I can see under the VsCode "Output" tab for:

Language Support for Java:
[code]

Language Support for Java (Syntax Server):
[code]

Thank you

[2022-04-20 16:19] starklord opened #2425 "Auto completion crashes suddently"
In vscode with my java maven projects,the text autocompletion fails and i have to restart vscode to fix the isue. The problem is that it happens almost every 10 minutes i guess so its very annoying
Operative system: Windows 10 64 bits and Windows 11 64 bits
version of vscode: latest: 1.66.2
type of program: any maven project: quarkus, spring-boot, gluonfx
##### Steps To Reproduce
1. Open vscode
2.

[2022-04-20 18:54] rgrunber commented on #2412
So ideally :

1. Hide inlay hints for method invocations with only 1 parameter
2. Hide inlay hints for for parameters of method invocations that are only 1 char
3. Adopt the filtering syntax from above for further customization

We can definitely adopt (1) & (2) with no settings and see later if users want further options. (3) would be nice if possible, especially given the code is mostly written.

[2022-04-20 21:31] #2416 closed

[2022-04-21 06:15] jdneo commented on #2412
After discussing with the team, we think (3) should be the final goal we would like to achieve. The reason is that we still can figure out some cases that option (1) and (2) cannot satisfied.

##### option (1)
Think about the constructor of ArrayList: `public ArrayList(int initialCapacity)`.

Here though the invocation has only one parameter but it's still helpful to tell user that the integer den

[2022-04-21 06:42] jdneo commented on #2425
Is there any errors in log file?  (https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#enable-logging)

[2022-04-21 10:39] mozhuanzuojing commented on #2419
add another log
[hs_err_pid66548.log](https://github.com/redhat-developer/vscode-java/files/8530188/hs_err_pid66548.log)

[2022-04-21 15:30] fvclaus commented on #1039
The information is outdated. It took me a few hours to get this working:

- The plugin mentioned above is now longer maintained and does not work with newer versions of Gradle
- There is a successor, which can be found here: https://plugins.gradle.org/plugin/com.diffplug.eclipse.apt

Here is the configuration, I currently use in my project and have verified in another project:

[code]

You then ha

[2022-04-22 03:21] akaroml commented on #1792
@testforstephen this makes a lot of sense to me to throw exceptions instead of returning null. Do you think we can change it?

[2022-04-22 15:31] rgrunber commented on #2412
I guess with **(1)**, part of my assumption is that any ambiguity in what the parameter represents would be cleared up by the name of the method. I'm open to removing this restriction, though even the example, being a constructor, for an class that stores multiple elements is a hint at some form of size. Also this case doesn't suffer from the issue of having to guess the order of parameters, which

[2022-04-22 19:26] snjeza commented on #2411
@abshekh See https://github.com/eclipse/eclipse.jdt.ls/issues/2062#issuecomment-1106794753

[2022-04-23 02:22] snjeza commented on #2411
I can reproduce it. Thanks.

[2022-04-23 13:58] yuchuga opened #2428 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `java`
- Extension Version: `1.5.0`
- OS Version: `Darwin arm64 20.4.0`
- VS Code version: `1.67.0-insider`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

Project 'Java_de230e2c' has no explicit encoding set

[2022-04-23 20:15] snjeza commented on #2428
A duplicate of https://github.com/redhat-developer/vscode-java/issues/2416

[2022-04-23 20:15] #2428 closed

[2022-04-23 23:06] snjeza commented on #2411
This is an upstream lombok bug - https://github.com/projectlombok/lombok/issues/3181

@abshekh you can try https://github.com/snjeza/vscode-test/raw/master/lombok-1.18.25.jar

[2022-04-24 00:45] abshekh commented on #2411
@snjeza thanks. refactor works with the jar you provided :)

[2022-04-24 01:31] testforstephen opened #2429 "Should explicitly report the fatal settings error like "URI is not hierarchical""
See https://github.com/redhat-developer/vscode-java/issues/2260#issuecomment-1008825791 and https://github.com/microsoft/vscode-java-debug/issues/1148#issuecomment-1107679538.

We frequently received issues about `"java.lang.IllegalArgumentException: URI is not hierarchical"` during "Initialize workspace". The root cause is that the user's settings like `java.settings.url` or `java.format.settings

[2022-04-24 05:05] snjeza commented on #2411
@abshekh reopening as https://github.com/projectlombok/lombok/issues/3181 hasn't been fixed yet.
https://github.com/snjeza/vscode-test/raw/master/lombok-1.18.25.jar is a workaround.

[2022-04-25 06:16] soloturn opened #2430 "do not store in local/config what is not human changed"
using redhat java plugin adds files and settings into
[code]
without a human clicking any settings. if the plugin generates it automatic it would be nice to not save it at all, or put it into cache in case it slows down the plutin otherwise.

[2022-04-25 06:40] CsCherrYY opened #2431 ""Manage Workspace Trust" doesn't work"
##### Steps To Reproduce
1. Open an untrusted workspace
2. Click "Load projects" in the language status item
3. In the notification, clicking "Manage Workspace Trust" will not open a workspace trust tab.

![image](https://user-images.githubusercontent.com/45906942/165033807-3a7c4d2b-78b7-412c-84c9-a6b6b27b2d47.png)

[Please attach a sample project reproducing the error]
[Please attach logs](https:

[2022-04-25 15:55] rgrunber commented on #2431
Yup, `Error: command 'workbench.action.manageTrust' not found`

[2022-04-25 15:59] #2431 closed

[2022-04-25 17:51] HaraldKorneliussen commented on #2416
The suggested workaround causes a followup problem:

`Missing Gradle project configuration file: .settings/org.eclipse.buildship.core.prefs`

[2022-04-25 20:09] snjeza commented on #2416
@HaraldKorneliussen could you try to clean your workspace [Clean the workspace directory](https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#clean-the-workspace-directory) ?

[2022-04-26 06:59] gruvw opened #2433 "Renaming record attributes"
Using F2 to rename a record's attribute does not rename the call to the record's getters. This only occurs for users of the getters that are in another file (not in the same file as the record).

##### Environment
- Operating System: Pop!_OS 21.10
- JDK version: 17
- Visual Studio Code version: 1.66.2
- Java extension version: v1.5.0

##### Steps To Reproduce
[code]

1. Press F2 in Test.java to re

[2022-04-26 13:59] zhouxinghong opened #2434 "gradle project cannot be formatted..."
Hello! The java language service triggers the Ctrl+S shortcut key during the development of the gradle project and cannot format the java code, but triggers the Ctrl+S shortcut key during the development of the Maven project to format the java code. . . Please confirm the reason and fix the problem in time, thank you!
Language Support for Java 1.5.0
vscode 1.66.2
windows 10 19044 x64

[2022-04-26 14:26] StephaneAdeso opened #2435 "Project keeps using the wrong jdk"
##### Environment
- Operating System: Windows 10 X64
- JDK version: 8, 11 and 17
- Visual Studio Code version: 1.66.2        dfd34e8260c270da74b5c2d86d61aee4b6d56977    x64
- Java extension version: v1.5.0

##### Issue
I have 3 jdks installed on my computer ( 8, 11 and 17). they are on the System path correctly:
![image](https://user-images.githubusercontent.com/55595063/165319122-fd22e715-97ad-41

[2022-04-26 17:38] fbricon commented on #2435
take a look a maven's toolchain mechanism: https://maven.apache.org/guides/mini/guide-using-toolchains.html
You can configure different jdks and have your project use the specific one

[2022-04-27 01:14] jdneo commented on #2434
cc @CsCherrYY

[2022-04-27 01:31] jdneo opened #2436 "Error during importing an Eclipse project whose sources are at root"
Prepare an Eclipse project, whose source are at project root:
[eclipse-project.zip](https://github.com/redhat-developer/vscode-java/files/8567945/eclipse-project.zip)

Open it in VS Code, and following errors can be ovserved:

[code]

[2022-04-27 01:46] CsCherrYY commented on #2434
I can't reproduce it on my PC, it works well. @zhouxinghong could you attach a sample project or related server log?

[2022-04-27 03:02] zhouxinghong commented on #2434
The server log is all normal, you can create a new gradle multi-module project and try it out. . .
[code]
Another request, could you please do me a favor and ask the VSCode UI team to fix the following UI issue, which I've submitted since 2021 and no one wants to fix it, it's really frustrating. . . Please help to see if it can be resolved in the next milestone. thank you very much!
https://github