[2019-03-28 20:17] cjvirtucio87 commented on #305
I currently have this issue whenever I install the extension on Visual Studio Code for Mac High Sierra (10.13.6). Where can I find the logs?

[2019-03-28 20:19] fbricon commented on #305
@cjvirtucio87 see https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting

[2019-03-28 20:51] cjvirtucio87 commented on #305
Running the `Java: Open Java Language server log file` just results in the `Activating extensions` message appearing at the bottom, then nothing happening afterwards. I noticed from [this section](https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#get-the-vscode-java-logs) that the logs should be in `/Users/<username>/Library/Application Support/Code/User/workspaceStorage/<hash>/

[2019-03-28 22:12] gitsparty commented on #862
Found out what was happening. jmeter doesn't compile with Java12. So, the VS code version which wasn't working was doing the right thing.

VS code which was working was the broken one :). When i deleted the java server workspace, and tried again, there were compilation errors as expected.

So, at some point java versions changed and vs code java workspace went out of sync. Compilation was supposed

[2019-03-29 04:47] srfrnk opened #863 "Java code formatter inconsistency"
[code]
[code]
[code]

Steps to Reproduce:

1. Open file from https://github.com/srfrnk/beam-playground/blob/master/src/main/java/org/apache/beam/examples/ReadCassandra.java
2. `Format document` - Code is changed to V1
3. `Format document` again - Code is changed to V2
4. This will iterate over and over.

Does this issue occur when all extensions are disabled?: No. "There is no document formatter f

[2019-03-29 05:54] fbricon commented on #863
Which version of vscode-java do you use? Can you please provide the server [logs](https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#get-the-java-language-servers-workspace-logs)?

[2019-03-29 06:02] srfrnk commented on #863
Logs:
[code]

[2019-03-29 06:15] yaohaizh commented on #860
Yes, target the fix for next release.

[2019-03-29 13:34] fbricon commented on #671
For anyone trying to run Java 12 code using preview features, with the [vscode-java-debug](https://marketplace.visualstudio.com/items?itemName=vscjava.vscode-java-debug) extension, make sure you enable the `--enable-preview` flag in the launch configuration's `vmArgs`:
[code]

[2019-03-29 15:28] fbricon commented on #671
Similarly, running Unit Tests with [vscode-java-test](https://github.com/Microsoft/vscode-java-test) requires setting the `--enable-preview` flag in the test configuration, in settings.json:
[code]

[2019-03-30 12:14] medsonk commented on #801
I got the SAME problem just like yours !! this thing was driving me crazy ! and there is no answer on google! i knew it compiled with a higher version java (in fact there is only one jdk in my computer)  but i have no idea what to do

[2019-03-31 02:37] jstanley23 commented on #801
Same issue, but I am in Windows.

Version: 1.32.3 (system setup)
Commit: a3db5be9b5c6ba46bb7555ec5d60178ecc2eaae4
Date: 2019-03-14T23:43:35.476Z
Electron: 3.1.6
Chrome: 66.0.3359.181
Node.js: 10.2.0
V8: 6.6.346.32
OS: Windows_NT x64 10.0.17763

redhat.java@0.42.0
VisualStudioExptTeam.vscodeintellicode@1.1.5
vscjava.vscode-java-debug@0.17.0
vscjava.vscode-java-dependency@0.4.0
vscjava.vscode-java-p

[2019-03-31 03:12] 18796299507 commented on #801
Same issue, I am in Windows. But how to solve it?

[2019-03-31 08:29] yaohaizh commented on #801
Could you guys invoke "Java: Clean the Java language server workspace" command or "Java: Force Java Compilation" to see whether fix this problem?

[2019-03-31 08:39] medsonk commented on #801
I tried, no help. Beside, it is very strange to see “52.65535”, while 65535 means 2^32

[2019-03-31 09:35] yaohaizh commented on #801
@fbricon  Seems language server issue. https://github.com/Microsoft/vscode-java-debug/issues/555

[2019-03-31 12:10] 0160582749 commented on #840
Cannot find out how the Java langauge server loads new jars and where get/find these jars? I had a look at some extensions that use the Java language server and besides "mentioning" the jars in the package.json under contributes: javaExtensions I don't understand how they are used?

[2019-03-31 12:23] yaohaizh commented on #840
https://github.com/Microsoft/vscode-java-test & https://github.com/Microsoft/vscode-java-dependency For your reference.  You need register your own jar.

Implementations details:

https://github.com/eclipse/eclipse.jdt.ls/blob/ba7ebe64e4afa8aab6513a87993f7308c4127a0f/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/handlers/WorkspaceExecuteCommandHandler.java

https://github.com/eclips

[2019-04-01 06:20] Eskibear commented on #811
Hey guys, the fix has been released with the Intellicode extension v1.1.5 for a week. Please update and see if the issue is gone.

[2019-04-01 14:05] merqrial commented on #801
Same issue for me too. And since there is no setting which allows me to choose the runtime, I am kinda stuck now.

[2019-04-01 14:26] grgendron opened #864 "images not available in bin directory at runtime"
[provide a description of the issue]Images are not being copied from the the resources directory to the bin directory when running my Java app from VS Code using the debugger interface. The command 'gradle build' from a terminal handles resources getting where it needs to in the build dir.

##### Environment
- Operating System: Windows 10 (1809)
- JDK version: Oracle jdk 11 2
- Visual Studio Code

[2019-04-01 15:04] fbricon commented on #864
can you please attach a sample project reproducing this problem?

[2019-04-01 17:25] grgendron commented on #864
Fred:

That was bogus bug report. I am new VS Code. Sorry. Very sorry.

[2019-04-01 22:01] fbricon commented on #801
Fix is merged upstream. New 0.42.1 release is imminent. You might need to clean the workspace folders though, after reopening your folder.

[2019-04-01 22:01] #801 closed

[2019-04-02 11:36] MontyBlenheim commented on #188
Has there been any progress on this? I have a large codebase that I'm trying to create a VSCode workspace for, but I get lots of errors from projects in subdirectories. It would be great if I could exclude these projects and only have the one in the root directory be used.

[2019-04-02 12:13] yaohaizh commented on #736
https://github.com/redhat-developer/vscode-java/issues/188#issuecomment-478957379

Actually, I mean we should provide a similar UI as the eclipse when import projects. User can choose which project should be imported, but not all the projects under the root folders.

[2019-04-02 12:14] yaohaizh commented on #753
Close this one. Would prefer to refactor the code when features comes in time but not in once.

[2019-04-02 12:14] #753 closed

[2019-04-02 12:26] demanLiu opened #866 "java.lang.NoClassDefFoundError"
[provide a description of the issue]
I use spring-boot 2.1.3.RELEASE ,when I run application
org.springframework.beans.factory.BeanCreationException: Error creating bean with name 'entityManagerFactory' defined in class path resource [org/springframework/boot/autoconfigure/orm/jpa/HibernateJpaConfiguration.class]: Invocation of init method failed; nested exception is java.lang.NoClassDefFoundError

[2019-04-02 12:35] fbricon commented on #866
vscode-java itself doesn't cover running code on its own. Can you please open a ticket in https://github.com/Microsoft/vscode-java-debug/issues, with a sample project reproducing the problem?

[2019-04-02 12:35] #866 closed

[2019-04-02 12:38] fbricon commented on #864
@grgendron it's fine, no worries :-)

[2019-04-02 12:38] #864 closed

[2019-04-02 19:04] JayDi85 opened #867 "Big java project freezes with problems auto-scanning (1 million lines of code)"
Big java project freezes on files scanning (1 million lines of code, 30k+ files). It's can't be disabled from IDE:
- Project: https://github.com/magefree/mage
- Project language: java + maven

##### Environment
- Operating System: Windows 7 x64
- JDK version: 1.8.0_201
- Visual Studio Code version: 1.32.3
- Java extension version: 0.42.1

##### Steps To Reproduce
1. `git clone https://github.com/m

[2019-04-02 19:17] snjeza commented on #867
Related issue: https://github.com/eclipse/eclipse.jdt.ls/issues/824

[2019-04-02 19:24] fbricon commented on #867
By default the Java Language Server runs with 1GB of heap, which might be too small for your project. You might want to try increasing the Xmx value in the java.jdt.ls.vmargs preference.

[2019-04-02 19:41] fbricon commented on #867
@snjeza I don't think this relates to eclipse/eclipse.jdt.ls#824, as this would need to invoke multiple calls to workspace/didChangeWatchedFiles (which might happen when switching branches in a git repo). Here the problem seems to be caused by the large amount of messages sent to the client, and/or possibly the very ineffective calls to refreshLocal on Windows, as mentioned in https://github.com/e

[2019-04-02 19:41] Santiagoarego opened #868 "Java runtime (JDK, NOT JRE) COULD NOT BE LOCATED"
Hey, im having this problem with VS code, i installed the extension to use JAVA but im getting this message
![imagen](https://user-images.githubusercontent.com/48213222/55431028-15553e80-5555-11e9-8dee-4f06dddf2acc.png)

I downloaded JDK from oracle's webpage and when I look the settings I get this
![imagen](https://user-images.githubusercontent.com/48213222/55431066-328a0d00-5555-11e9-9e85-0c94a2

[2019-04-02 19:52] JayDi85 commented on #867
I've changed jvm params to 2G but nothing has changed. It's not a java.exe freeze, it's code.exe problem:

![shot_190402_234721](https://user-images.githubusercontent.com/8344157/55431744-4d36a300-55a2-11e9-9953-a04a46f3be58.png)
![shot_190402_235057](https://user-images.githubusercontent.com/8344157/55431733-4b6cdf80-55a2-11e9-8a03-6efbb0b1596a.png)
![shot_190402_234810](https://user-images.githu

[2019-04-02 20:02] fbricon commented on #867
I see the same freeze on Mac too. My gut feeling is the server is pounding the client with a ton of diagnostic messages. Something I believe we should send by batch instead. @aeschli what amount of diagnostics is VS Code capable of sustaining?

@JayDi85 thanks for the project, that's a great way to test performance :-)

[2019-04-02 20:10] fbricon commented on #867
The server sends more than 10k diagnostics for about 22.8k java files. Maybe the combination of diagnostics with that amount of files is an issue.

[2019-04-02 20:19] fbricon commented on #867
Tried with 2G, after disabling all extensions but vscode-java, on vscode-insiders, no freeze. But the server choked on some hover with:
[code]

So looks like the freeze might be caused by some 3rd party plugin

[2019-04-02 20:26] JayDi85 commented on #867
I have `Language Support for Java(TM) by Red Hat` only:
![shot_190403_002329](https://user-images.githubusercontent.com/8344157/55433711-f384a780-55a6-11e9-9497-9f55dbafd847.png)

Well, I'm wait ~30 mins and it's done (unfreeze) with 38k warnings:
![shot_190403_002159](https://user-images.githubusercontent.com/8344157/55433683-e5cf2200-55a6-11e9-99aa-6c322f860595.png)

But after project re-open --

[2019-04-02 20:39] fbricon commented on #867
Can you try with https://code.visualstudio.com/insiders/, just vscode-java?

[2019-04-02 20:53] snjeza commented on #867
You can also try with https://raw.githubusercontent.com/snjeza/vscode-test/master/java-0.43.0.vsix

[2019-04-02 20:57] JayDi85 commented on #867
Yes, I can confirm -- insider version with red hat's java plugin works fine and scans project in background without freezes and very fast (it's takes < minute to scan full projects instead 20 minutes before).

[2019-04-02 21:17] fbricon commented on #868
The setting you're seeing is an example ( i.e). You need to click on Edit in settings.json and point the java.home preference to your actual JDK

[2019-04-03 01:25] yaohaizh commented on #868
@Santiagoarego If you new to the VSCode Java, you can follow this tutorial: https://code.visualstudio.com/docs/java/java-tutorial

[2019-04-03 20:51] stevenzeck commented on #671
@fbricon what do we have to do to enable this? Keep receiving the preview features not available error when running in vscode

[2019-04-03 20:59] fbricon commented on #671
Can you be more specific?
- Do you use vscode-java 0.42.1?
- What kind of java code are you looking at? standalone java files? maven, gradle projects?
- is this for actually executing the java code or tests, or compiling?
- what JDK are you using? If executing your code Java 12, did you configure your launch configuration as per https://github.com/redhat-developer/vscode-java/issues/671#issuecomme

[2019-04-03 21:09] stevenzeck commented on #671
* 0.42.1 yes
* Standalone Java file
* Executing java code (just a simple hello world)
* JDK 12. Is it necessary to have a launch config? It was working fine until very recently

[2019-04-03 21:38] fbricon commented on #671
If you run with a JDK 12, then standalone java files have preview features enabled by default, which means they need to run with the --enable-features flag, which you need to add to a launch configuration for now.  Once https://github.com/Microsoft/vscode-java-debug/issues/553 is fixed, it should be completely transparent again.

If you don't want to change that flag, you need to downgrade the JDK

[2019-04-03 21:40] stevenzeck commented on #671
Weird, I've been using JDK 12 for quite some time without this issue

[2019-04-03 21:45] fbricon commented on #671
before 0.42.0, your code could not use JDK 12 preview features (advanced switch expressions) in vscode-java.

[2019-04-04 03:29] yaohaizh commented on #811
Close this as it has been fixed. Please reopen it if still existing.

[2019-04-04 03:29] #811 closed

[2019-04-04 20:44] nhays89 commented on #400
is there a fix for this?

[2019-04-04 20:47] fbricon commented on #400
@nhays89 this is supposed to work. Which client are you using?

[2019-04-05 04:14] nhays89 commented on #400
Yea my bad false alarm. Its picking up the change. I was trying to set a timeout on the embedded tomcat server provided by spring boot via server.servlet.session.timeout=1 in the application properties file ( for testing ) but it was not applying. Turns out a minimum of 60 seconds is required.

[2019-04-07 14:38] eenchev commented on #580
This happened to me using:
openjdk version "11.0.3" 2019-04-16
VS code Java Debugger

However, except the Lombok syntax checking, the debugger did not work for me at all. It crashed with.
 "Could not find or load main class" exception
@fbricon's fix did the trick

[2019-04-08 15:36] anks333 commented on #868
I had the same issue. Removed the Open JDK and installed Oracle JDK, then it started working.

[2019-04-08 17:19] rikoe commented on #580
The fix above worked for me as well. It is a very obscure problem, because I just got a "Could not find or load main class" exception. Only looking at the error in the Java language server log led me to this thread when I find the AbstractProcessor error.

What is the official way to fix this so that people don't have to make these edits manually?

[2019-04-09 05:50] Unichron commented on #634
Same issue here. From observation I think the main problem may be that when you don't have a .classpath, the plugin doesn't import the pom.xml/build.gradle first, but starts building the class files to the default output directory, which happens to be bin.

[2019-04-09 07:46] samba2 opened #871 "Rename class won't save the file"
When renaming a class (F2) the class symbol and the file itself are renamed properly. However, when I try to save the file the following error is displayed:

_Failed to save 'NewName.java': The content on disk is newer. Please compare your version with the one on disk._

When I now click on the compare button (part of the error popup) and accept the change then the renamed class is eventually save

[2019-04-09 08:19] yaohaizh commented on #871
Reproed this issue on the latest version.

[2019-04-09 09:53] vitrums opened #872 "Debug Console in VS Code with Java support erroneously splits lines in output for sysout.printf/format"
The question is already on stackoverflow: https://stackoverflow.com/questions/55588019/debug-console-in-vs-code-with-java-support-erroneously-splits-lines-in-output-fo. However this looks more like an **issue** with RedHat's language support for Java and therefore the question might as well belong here.

Basically System.out.format() and System.out.printf() split lines in unexpected positions and

[2019-04-09 10:58] samba2 commented on #177
Same here. We generate Pojos for XML schemas using the _jaxb2-maven-plugin_. By default does classes are placed in `target/generated-sources/jaxb/com/mypackage/MyGeneratedClass.java`

Is there a chance to add a classpath by hand in VC code?

[2019-04-09 13:45] dmarrazzo opened #874 "maven does not resolve all the dependencies"
Compilation error in VSCode:
The import javax.annotation.PostConstruct cannot be resolved
Looking at the effective pom, the following dependency is present:
[code]

##### Environment
- Operating System: Fedora 29
- JDK version: OpenJDK Runtime Environment (build 1.8.0_201-b09)
- Visual Studio Code version: 1.33
- Java extension version: 0.42.1

##### Steps To Reproduce
1. Import this project: http

[2019-04-09 14:01] fbricon commented on #874
Works for me. You can try to right-click on your project's pom and try to "update project configuration", if that doesn't work then call the "Clean the Java language server workspace" command

[2019-04-09 15:06] jakegt1 opened #875 "Optionally disable loading gradle from gradle wrapper (request)"
It would be nice to be able to either optionally disable loading gradle from the gradle wrapper and always using system gradle (if higher then 2.6) so in cases where the gradle project is using a wrapper with a version < 2.6 the java plugin can still function.

##### Environment
- Operating System: Mac OSX High Sierra
- JDK version: 1.8
- Visual Studio Code version: 1.32.3
- Java extension version

[2019-04-09 17:36] kainazzzo commented on #455
I am having the same problem with not being able to specify what I already have in MAVEN_OPTS to work with the java language server. I need to specify the javax.net.ssl.trustStore and trustStorePassword parameters in order to allow maven to work with our internal nexus server.

It is causing errors in my pom.xml to show up in vs code. mvn compile works fine on a terminal, because all environment v

[2019-04-09 20:06] dmarrazzo commented on #874
Hi @fbricon, thank you for the prompt reply.
I did the update and clean... but nothing.
the following works:
- mvn clean compile
- eclipse import

May I collect more info from my env?

[2019-04-09 20:26] fbricon commented on #874
See https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting on how collect logs

[2019-04-09 21:28] dmarrazzo commented on #874
Hi @fbricon here the log.

The only error that I see is the following:
!ENTRY org.eclipse.jdt.ls.core 4 0 2019-04-09 23:21:57.341
!MESSAGE
!STACK 0
org.eclipse.jface.text.BadLocationException
	at org.eclipse.jface.text.ListLineTracker.getLineOffset(ListLineTracker.java:197)
	at org.eclipse.jface.text.AbstractLineTracker.getLineOffset(AbstractLineTracker.java:160)
	at org.eclipse.jface.text.Abstrac

[2019-04-09 21:32] dmarrazzo commented on #874
Maybe you are interested even to other files in the directory:

[metadata_dir.zip](https://github.com/redhat-developer/vscode-java/files/3061061/metadata_dir.zip)

[2019-04-10 01:31] MichielVanderlee opened #876 "Autocomplete doesn't populate dropdown"
Autocomplete is completely useless for me. It works sometimes, after at least a minute of loading. Most of the time it never loads.
After enabling server trace I noticed that the language server does return options, but it doesn't load in the intellisense popup, which is stuck on 'Loading...'.

##### Environment
- Operating System: Windows
- JDK version: 1.8.0_201-b09
- Visual Studio Code version:

[2019-04-10 02:10] yaohaizh commented on #876
@MichielVanderlee Could you list the extensions that you have installed for your VSCode?

[2019-04-10 02:14] MichielVanderlee commented on #876
bungcip.better-toml-0.3.2
coenraads.bracket-pair-colorizer-2-0.0.28
davidanson.vscode-markdownlint-0.26.0
dbaeumer.vscode-eslint-1.8.2
eamodio.gitlens-9.6.0
editorconfig.editorconfig-0.13.0
eg2.tslint-1.0.43
eriklynd.json-tools-1.0.2
gamunu.vscode-yarn-1.6.0
hookyqr.beautify-1.4.11
hookyqr.minify-0.4.3
mechatroner.rainbow-csv-1.0.0
mikestead.dotenv-1.0.1
ms-kubernetes-tools.vscode-kubernetes-tools

[2019-04-10 06:58] brunoborges commented on #876
I can confirm that auto-complete is not working as expected.

Here, when the cursor is positioned right after the opening parenthesis, it works fine:

![image](https://user-images.githubusercontent.com/129743/55857936-48826980-5b23-11e9-9ad3-5287638e6984.png)

But then when the cursor is positioned after the comma or after the whitespace, it does not work:

![image](https://user-images.githubuserc

[2019-04-10 15:40] roger93y commented on #158
It really works!

Windows 10 / VS Code 1.33.0

[2019-04-10 16:34] dmarrazzo commented on #874
Hi @fbricon, any hints? Did you have the chance to look into the logs?
I'm quite surprised that you cannot reproduce the error. I have installed everything from scratch, cleaning all the user data (.config, etc). But I run always in the same problem.
Which OS and JVM are you using?

Thank you

[2019-04-10 17:50] snjeza commented on #874
@dmarrazzo could you try the following:

- add
[code]
to VS Code settings
- close VS Code
- run
[code]
- start VS Code

[2019-04-10 18:49] dmarrazzo commented on #874
Hello @snjeza, this solved the problem!
So the issue was due to a wrong javac (I suspect jdk11).

Thank you very much!

[2019-04-10 18:49] #874 closed

[2019-04-10 19:24] fbricon commented on #874
@dmarrazzo your server logs show you're using java.version=11.0.2. Alternatively, if you open vscode's [developer tools](https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#get-the-vscode-java-logs), you'll see which JDK binary is used to launch the language server.

Some recent jdks cause some issues with some annotation processors, so it might be sometimes safer to use 1.8

[2019-04-10 23:04] grantjayy opened #877 "Java does not execute unless package statement is commented out"
When opening any Java project, or maven project, new or old, Java throws "Error: Could not find or load main class App" at runtime. Java will only run if "package foo;" is commented out i.e. "//package foo;".

I am using the code runner extension, which works with every other language. It runs as expected in java if the package statement is excluded or commented out.

This is able to be replicated

[2019-04-11 07:27] jnesspro opened #878 "Renaming annotated class"
When I rename (F2) annotated class I getting broken code, what is wrong with me?

`
@Slf4j
@RequiredArgsConstructor
public class Asserts {
`
rename to Asserts1 =>
`
@Slf4j
Asserts1edArgsConstructor
public class Asserts1 {
`

i see this bug since a beginning of time I using vscode for java

##### Environment
- Operating System: MacOS
- JDK version: 1.8
- Visual Studio Code version: all versions

[2019-04-11 10:09] dmarrazzo commented on #874
Thank you @fbricon
My confusion was caused by the fact that `alternative` command admits two configuration for `java` and `javac` so I thought I was running 1.8 but the `javac` was actually on 11.

[2019-04-11 12:41] danstewart opened #879 "Javadoc hides errors/warnings"
The javadoc hover popup sometimes clashes with the error/warning hover popups.
Is this a vscode-java issue or just a vscode issue?
Is it possible to disable the javadoc hover popup?

I'm hovering over the first `Map` here:
![image](https://user-images.githubusercontent.com/10670565/55957781-0cecba00-5c5f-11e9-858b-f1c3354d7219.png)

Thanks

[2019-04-11 12:46] john-dev commented on #495
I see this problem a lot of times.
Is it possible to skip the check somehow?
In 99% of the time, everything is actually fine..

Disabling it would help for now..

[2019-04-11 12:53] fbricon commented on #879
scroll down, you should see the warning at the bottom. that's vscode's behavior

[2019-04-11 12:54] kolbma commented on #580
To get vscode to work with java and spring boot tools extensions...

- I've deinstalled the vscode lombok extension.
- Stopped vscode.

- After this I've downloaded the newest lombok.jar from https://projectlombok.org/

- Then removed in ~/.config/Code/User/settings.json under `java.jdt.ls.vmargs` the **Bootpath** setting to lombok.jar
- And adapted the **javaagent** path to my downloaded lombok.j

[2019-04-11 12:56] testforstephen commented on #495
@john-dev Change the user setting  to`"java.debug.settings.forceBuildBeforeLaunch": false`, which will disable the check before run/debug.

[2019-04-11 13:21] john-dev commented on #495
oh i was looking for that setting, thanks @testforstephen

[2019-04-11 16:42] fbricon commented on #878
Chances are lombok integration is misbehaving. Please attach your server logs

[2019-04-11 17:45] snjeza commented on #793
@yaohaizh Could you test https://raw.githubusercontent.com/snjeza/vscode-test/master/java-0.43.0.vsix ?

[2019-04-11 18:42] aaron-suarez commented on #550
In case anybody runs into this issue like I did today, I fixed this by adding a `<properties>` tag to my `pom.xml`:
[code]
Source: https://maven.apache.org/plugins/maven-compiler-plugin/examples/set-compiler-source-and-target.html

Thanks everyone in this thread, it was very helpful!

[2019-04-11 19:42] #550 closed

[2019-04-12 02:47] yaohaizh commented on #793
@snjeza With this change, the issue was fixed.

[2019-04-12 13:34] fbricon commented on #793
Is this a problem with the current release or with the extension from the master branch?

[2019-04-12 14:08] llgcode commented on #188
Hi @MontyBlenheim ,
for my part I use this setting to exclude java project:
[code]

[2019-04-12 18:43] snjeza commented on #793
The problem exists in all the version of vscode-java.

[2019-04-13 13:49] andreydmitrenko commented on #587
@JarrodBlanton could you, please, tell me, what exectly I should write in my .classpath ? thanx.

[2019-04-13 14:29] fbricon commented on #587
you're not supposed to update the .classpath manually. Normally, updating the dependencies in your pom.xml and saving the file should do all the work for you in the background. Sometimes you might need to right click on your pom.xml and trigger the "Update project configuration" command, but that's rather the case for plugin configuration changes.

@andreydmitrenko what exactly is your problem?

[2019-04-13 17:19] wtsiamruk commented on #158
Not for me :)

Windows 10/ VS Code 1.33.1
Oracle Jdk 1.8.0_201
MultiModule maven project

[2019-04-13 21:40] JesseRacine opened #881 "'Cannot be resolved' errors in projects with module-info.java"
I am not able to get projects that use a module-info.java file to work with VS Code and Java. I've tried both Gradle and Maven.

VS Code p shows me a bunch of "cannot be resolved" errors for any classes called out in the module-info.java file. What I have found is that if I put a module attribute in the classpath, then it will work. However, because I am modifying the classpath file manually, I fi

[2019-04-13 21:54] fbricon commented on #881
Can you share a sample project?

[2019-04-14 18:25] danstewart commented on #879
Thanks

[2019-04-14 18:25] #879 closed

[2019-04-15 02:45] yaohaizh commented on #793
And on all platform, but not Windows specifically.

[2019-04-15 02:50] yaohaizh commented on #158
@wtsiamruk Could you help share your log here? And what is the size of your project?

[2019-04-15 02:53] yaohaizh commented on #587
@jdneo, have you met this issue on the vscode tester side?

[2019-04-15 02:55] jdneo commented on #587
@JarrodBlanton Could you please try:

1. Trigger the command :`Java: clean the java language server workspace`
2. Select `restart and delete`
3. See if the errors still occur

[2019-04-15 08:08] jnesspro commented on #878
Yes, with lombok's annotations.
I disabled lombok plugin and removed *.class - result is the same. Logs attached
Also, I see that annotation associated with class name somehow (cursor highlights both classname and annotation)

[2019-04-15 08:09] jnesspro commented on #878
Yes, with lombok's annotations.
I disabled lombok plugin and removed *.class - result is the same. Logs attached
Also, I see that annotation associated with class name somehow (cursor highlights both classname and annotation)
<img width="314" alt="Screenshot 2019-04-15 at 11 01 54" src="https://user-images.githubusercontent.com/5245360/56116623-f8fecc00-5f6e-11e9-931c-070dc048530a.png">
[java.log.

[2019-04-15 12:31] VanessaLange commented on #871
I can reproduce this issue.
Operating System: Windows_NT x64 10.0.17134
JDK version: openjdk version "11.0.2" 2019-01-15
Visual Studio Code version: 1.33.1
Java extension version: 0.42.1

[2019-04-15 13:15] fbricon commented on #871
Indeed, this is new. Looks like a bug in vscode, since jdt.ls hasn't changed anything in that area in a long time.

[2019-04-15 14:00] fbricon commented on #871
I've opened https://github.com/Microsoft/vscode/issues/72343 upstream

[2019-04-15 14:52] wtsiamruk commented on #158
@yaohaizh project size is ~128mb (node_modules are excluded)
Unfortunately I have deleted workspaceStorage, and even done clean reinstall of vscode, still no success...

[2019-04-15 18:23] cressceaux commented on #877
Same problem.

[2019-04-16 01:29] testforstephen commented on #877
@grantjayy This is a bug from **code runner** extension, please open a bug there.
However, you can try [Debugger for Java](https://marketplace.visualstudio.com/items?itemName=vscjava.vscode-java-debug) extension to run the Java code.

[2019-04-16 02:06] yaohaizh commented on #877
Please log an issue to coder runner repo: https://github.com/formulahendry/vscode-code-runner

I will close this issue instead.

[2019-04-16 02:06] #877 closed

[2019-04-16 03:25] jdneo opened #882 "Invisible project could not be automatically resolve the dependencies"
When adding a dependency into the lib, the syntax error still occurs and could not compile the project.

##### Environment
- Operating System: Windows
- JDK version: Oracle 11.0.2
- Visual Studio Code version: 1.33.1
- Java extension version: 0.42.1

##### Steps To Reproduce
See the GIF:
![issue](https://user-images.githubusercontent.com/6193897/56120340-83135880-5fa0-11e9-8dc7-b6172bd6dba1.gif)

[2019-04-16 05:41] testforstephen opened #883 "Should show more progress details when Starting Java Language Server"
When importing a big project such as https://github.com/apache/incubator-druid to VS Code, the status bar stops at `85% Starting Java Language Server - Importing Maven Project` for a pretty long time.
![image](https://user-images.githubusercontent.com/14052197/56183444-3041ab80-6049-11e9-988a-520d2568fb45.png)

In such case, the user may want to know what's really happening in the back end. The be

[2019-04-16 08:41] sallyur opened #884 "Variable Performance is too slow"
##### Environment
- Operating System: Windows/Mac/Linux
- JDK version: 8 & 11
- Visual Studio Code version: 1.33.1
- Java extension version: 0.42.1
- Java debugger version: 0.18.0

##### Steps To Reproduce
1. Open test project 7.variableperformance
2. Open TooManyVariables.java, and set BP on System.out.println("variable perf test.")
3. Press F5 to generate launch.json and press F5 again to start

[2019-04-16 08:41] #884 closed

[2019-04-16 08:56] dmarrazzo commented on #670
Any progress here?
@RobertDeRose how do you change the memory?

[2019-04-16 09:34] 1035311527 opened #885 "encoding"
I open the file with encoding utf 8 ,but i cant run the code because of the encoding.Is there any way to solve the problem?
![深度截图_选择区域_20190416173219](https://user-images.githubusercontent.com/24894908/56198616-d1425d80-606d-11e9-87d7-8467883d8c06.png)

[2019-04-16 10:31] yaohaizh commented on #885
@1035311527 Which extension that you used to run the code?

[2019-04-16 12:15] khsing opened #886 "Support go to implementation for method/function"
go to implementation just to works on import/definition section. It's not work for method of entity.

how to make it works.

##### Environment
- Operating System: macOS 10.14.4 (18E226)
- JDK version: java version "1.8.0_201"
- Visual Studio Code version: 1.33.1 (1.33.1)
- Java extension version: 0.42.1

##### Steps To Reproduce
1. move cursor to a method of entity object.
2. cmd+F12 will display

[2019-04-16 13:05] fbricon commented on #886
Works for me. Can you give us more details on your setup? Maven, Gradle, Eclipse project or standalone Java files? Do you use lombok? Providing a sample project to reproduce the issue would help.
Can you enable [verbose logging](https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#turn-on-message-tracing-between-vs-code-and-the-java-language-server) and attach the content of the Ou

[2019-04-16 13:15] 1035311527 commented on #885
code-runner

[2019-04-16 13:15] 1035311527 commented on #885
@yaohaizh code-runner

[2019-04-16 13:17] fbricon commented on #886
![Apr-16-2019 09-17-18](https://user-images.githubusercontent.com/148698/56212671-7df9ec00-6028-11e9-9688-664b1c2dce13.gif)

[2019-04-16 13:26] fbricon commented on #670
You can try the [latest CI build](http://download.jboss.org/jbosstools/jdt.ls/staging/?C=M;O=D), see if you notice any improvements in code completion (notably thanks to the fix for https://github.com/eclipse/eclipse.jdt.ls/issues/847).

You can increase the memory by setting a higher Xmx value in your `java.jdt.ls.vmargs` preference

[2019-04-16 13:30] fbricon commented on #670
Also in case the server seems unresponsive, you can take a heap dump using jstack.
- find the running jdt.ls process (org.eclipse.equinox.launcher*.jar) with `jps`, eg.:
[code]
- execute `jstack processId`, in this case, that'd be `jstack 68313`

[2019-04-16 14:22] fbricon commented on #882
It works on my Mac, but I can reproduce the issue on Windows. Will check on Linux

[2019-04-16 14:40] yaohaizh commented on #885
@1035311527 Please log an issue aganist the code runner repo. This is not related to VSCode language server. Or you can use VSCode Java debugger to run code for encoding issue.

[2019-04-16 14:40] #885 closed

[2019-04-16 18:30] fbricon commented on #882
I see the problem is caused by the server sending filewatcher glob patterns with a `c:/path/to/lib` syntax. The device part (`c:`)doesn't seem to be handled by VS Code properly. I found a couple other issues with the filewatchers, but the device part is the main one.

[2019-04-16 19:36] #883 closed

[2019-04-16 22:06] #882 closed

[2019-04-17 00:23] snjeza commented on #775
I can't reproduce the issue using the master on Linux and Windows.

[2019-04-17 00:26] snjeza commented on #775
Related PR - https://github.com/eclipse/eclipse.jdt.ls/pull/998

[2019-04-17 09:01] yilufengshun opened #887 "Language Support for Java server crashed 5 times in the last 3 minutes. The server will not be restarted."
[provide a description of the issue]

##### Environment
- Operating System:Win7
- JDK version:jdk8
- Visual Studio Code version: 1.33
- Java extension version: 42.1

##### Steps To Reproduce
Steps to reproduce: Open vscode, open a java file, then wait, then the console will get this error

I tried all the current options for this, but none of them are useful.

I ruled out the issue with the vscode

[2019-04-17 09:02] yaohaizh opened #888 "VSCode Java extension activate should not wait for workspace initialize event"
Currently, the vscode java extension will resolve as activated after the workspace is loaded, which is not quite accurately.

IMO,
1. Extension ready: The extension should resolve as activate when the initialization(detect JDK, start language server, non language server command ready)  work is done.

2. Language server ready: The extension should send another events/signal when the language server

[2019-04-17 09:53] sallyur opened #889 "The method finalize() from the type Object is deprecated since version 9"
##### Environment
- Operating System: Win & Mac
- JDK version: 12
- Visual Studio Code version: 1.33.1
- Java extension version: 0.43.0

##### Steps To Reproduce
1. Open one java project
2. Run the command "Source action" ->Override/Implement Methods… ==> finalize()

##### Current Result
Warning in probelm window, we provide this method but tell the user that it is deprecated
![image](https://user

[2019-04-17 12:43] fbricon commented on #889
We shouldn't prevent a user from overriding a deprecated method. BTW, finalize is not selected by default when you select the methods to override.
Ideally though, the deprecated method should appear with a different style (strikethrough?), which would require sending extra information at the protocol level. Unfortunately, it's not possible for VS Code to apply specific styles to specific item entr

[2019-04-17 13:27] fbricon commented on #889
BTW, I tried setting QuickPickItem.alwaysShow to `false`, but it seems it has no effect on window.showQuickPick, item is still being shown. @chrmarti are there any real-life example of QuickPickItem.alwaysShow usages out there? What's the expected behavior?

[2019-04-17 15:22] snjeza commented on #888
Related issue: https://github.com/eclipse/eclipse.jdt.ls/issues/981

[2019-04-18 07:12] khsing commented on #886
for example:
[code]
Implementation
[code]
Other service
[code]

[2019-04-18 07:38] chrmarti commented on #889
@fbricon QuickPickItem.alwaysShow is false by default. You would set that to true to keep it in the list even when it doesn't match the user's typed filter.

[2019-04-18 10:47] anthonyvdotbe commented on #456
@fbricon Nashorn has been [deprecated](http://openjdk.java.net/jeps/335) in Java SE 11, so imho this can be closed

[2019-04-18 12:12] fbricon commented on #456
Agreed

[2019-04-18 12:12] #456 closed

[2019-04-18 12:16] fbricon commented on #889
@chmarti thanks for the explanation. I feel dumb for even asking :-)

[2019-04-18 14:03] anthonyvdotbe commented on #686
@fbricon I can confirm your gut feeling. I have a workspace with 2 Maven projects with equal artifactIds (but different groupIds, of course): projectA has a `pom` packaging, projectB has a `jar` packaging.
* When I put projectA first in the list of workspace folders, projectB shows the "Incomplete classpath" warning, and has errors in its module-info.java, saying it can't find required modules.
*

[2019-04-18 15:07] anthonyvdotbe opened #890 "Alternative equals code generation"
Currently, the first part of an equals method is generated as:
[code]

However, I'd prefer to have it as:
[code]
condensing + adding a blank line after it.

If the current generation should be retained, it would be great to have a configuration option to set the preferred style, analog to what is available for `toString` generation already.

##### Environment
- Visual Studio Code version: 1.33.1
-

[2019-04-19 08:20] yaohaizh opened #891 "Provide configuration page"
GITLENS provides its extension own setting page:

https://github.com/eamodio/vscode-gitlens#configuration

Java extension has the similar requirement for the settings page to provide a user friendly UI and advanced features besides VSCode default setting editor:
1. Code templates
2. Formatting
3. Settings from language server
4. Other customizable behavior.

[2019-04-19 08:25] wlmr commented on #797
For me everything had to do with the file .setttings/org.eclipse.buildship.core.prefs. Remove everything but the following two lines from it.

[code]

[2019-04-19 11:04] ibuziuk opened #892 "Releases do not have `vsix` files"
A Github release should contain not only source code but also vsix file - https://github.com/redhat-developer/vscode-java/releases/tag/v0.40.0
from `VS Code marketplace rate limit error ` perspective it is important to have vsix file for latest and all upcoming + `0.38.0`

[2019-04-20 22:15] lingocoder opened #893 "„Unbound classpath container: 'JRE System Library [JavaSE-11]' in project“ With JDK 12 Installed"
VS Code reports classpath problems if a Gradle build script specifies source and target versions  that are different from the Java version that's installed:

    x Unbound classpath container: 'JRE System Library [JavaSE-11]' in project 'jarexec.plugin'
    x The project cannot be built until build path errors are resolved

##### Environment
- Operating System: Linux x64 4.15.0-47-generic snap
- J

[2019-04-21 13:38] wtsiamruk commented on #158
@yaohaizh

Here are logs from vscode Developer Console

[code]

Here is the image of stuck language server.

![image](https://user-images.githubusercontent.com/20062612/56470824-82247000-6453-11e9-91a7-579cf7430be8.png)

I've tried get logs of java language server but Nothing got opened after i've selected that option, it shows that in status bar

![image](https://user-images.githubusercontent.com

[2019-04-21 14:33] snjeza commented on #158
@wtsiamruk could you try to set the following property:
[code]

[2019-04-21 14:49] wtsiamruk commented on #158
Sure, how?

[2019-04-21 15:14] yaohaizh commented on #893
@lingocoder What kind of java app? How about version 12?

[2019-04-21 15:23] snjeza commented on #158
File>Preferences>Settings

[2019-04-21 15:42] wtsiamruk commented on #158
after adding that property still can't open Java log server log but on developer console there is a lot of such thing

![image](https://user-images.githubusercontent.com/20062612/56472291-4692a180-6465-11e9-9c38-d2aab68200cb.png)

[2019-04-21 15:44] wtsiamruk commented on #158
I can invite one people to see source of the project.. because on another simple maven project all runs ok.

[2019-04-21 16:10] lingocoder commented on #893
It is a Gradle plugin, @yaohaizh .

***UPDATE***

After a good night's sleep I remembered that I had `JAVA_HOME` in settings.json pointing to a JDK 8 installation I'd forgotten about. I:

1. changed `JAVA_HOME` to now point to my JDK 12 installation.
2. edited [*./settings/org.eclipse.jdt.dore.prefs*](https://www.eclipse.org/equinox/documents/org.eclipse.jdt.core.prefs) to:

     `org.eclipse.jdt.

[2019-04-21 16:23] snjeza commented on #158
You may want to take a look at https://github.com/redhat-developer/vscode-java/issues/580#issuecomment-443302372

[2019-04-21 16:52] wtsiamruk commented on #158
Nope, that doesn't help :(

[2019-04-21 20:56] clankill3r opened #894 "disable unused import warnings"
Is there a way to disable unused import warnings.
At some stages I don't care about them and I have hundreds of them, they get in the way of things I do care about.

[2019-04-21 21:14] snjeza commented on #894
You can add the following preference:
[code]
to <your_project>/.settings/org.eclipse.jdt.core.prefs

[2019-04-22 08:07] testforstephen opened #895 "Editing classpath file requires restart of VS Code"
When adding a jar to the classpath file the program won't build any longer and you get the error message: "Build failed, do you want to continue?" You have to restart VS Code before it works again.

##### Environment
- Operating System: macOS Mojave Version 10.14.4 (also Windows 10)
- JDK version: openjdk version "1.8.0_212"
- Visual Studio Code version: 1.33.1
- Java extension version: 0.43.0
- J

[2019-04-22 08:16] testforstephen opened #896 "Building the workspace job should show more progress details"
Currently VS Code java extension only shows the job name `Building the workspace - p%` for the build job, it would be helpful to show more building status.
![image](https://user-images.githubusercontent.com/14052197/56490938-74d1b900-6519-11e9-9c51-3f67bbe4f677.png)

Eclipse building progress report:
![image](https://user-images.githubusercontent.com/14052197/56490956-85822f00-6519-11e9-94b4-3fd98

[2019-04-23 08:22] yaohaizh commented on #597
Close this issue. The left one will be tracked on #972

[2019-04-23 08:22] #597 closed

[2019-04-23 13:00] jakegt1 opened #897 "Java language server crashing (5 times error)"
Language server fails to start after 5 times.

##### Environment
- Operating System: MacOS
- JDK version: 1.8.0_201
- Visual Studio Code version: 1.33
- Java extension version: 0.43.0

##### Steps To Reproduce
N/A

##### Current Result
Requires deletion of the redhat-java folder in workspaceStorage to fix

##### Expected Result
Should not require this folder to be deleted and recreated, and instea

[2019-04-23 14:33] ibuziuk commented on #892
@fbricon will you be able to give a hand with this?

[2019-04-23 14:35] fbricon commented on #892
@ibuziuk yes

[2019-04-23 15:01] #896 closed

[2019-04-23 16:01] fbricon commented on #893
Oddly enough, this particular setting doesn't go into  ./settings/org.eclipse.jdt.core.prefs but  ./settings/org.eclipse.jdt.launching.prefs:

[code]

You'll need to execute a full build for the compiler to apply the new settings: (`Java force compilation`>`Full` command)

[2019-04-23 17:09] fbricon commented on #892
Uploaded 0.38.0 and more recent releases to https://github.com/redhat-developer/vscode-java/releases

[2019-04-23 17:12] pavkum commented on #897
I'm also facing the same issue.

[2019-04-23 23:15] lingocoder commented on #893
Hey! Thanks @fbricon :+1:

`F1 | Java: Java Force Compilation | Full` did the trick. I also had to do a `Java: Clean the Java language server workspace` because compilation didn't seem to take for some reason. Mind you, I am on a super slow, low memory VM at the moment. So that's gotta be giving vscode some trouble.

Cheers.

[2019-04-23 23:15] #893 closed

[2019-04-25 01:20] skybert commented on #580
Thank you *so* much @fbrico and @kolbma , your insights helped me solve my long standing problem of getting syntax checking working in Emacs (using `lsp-java`, and `flycheck`). I was chasing the wrong problem (`java.lang.NoClassDefFoundError: javax/annotation/processing/AbstractProcessor`) and you got me onto the right path.

[2019-04-25 01:34] wy193777 opened #898 "The plugin cannot find jflex generated java source code."
The plugin cannot correctly resolve OpenGrok's generated Java source.

##### Environment
- Operating System: Ubuntu 18.04
- JDK version: JDK 11
- Visual Studio Code version: 1.33.1
- Java extension version: 0.43.0

##### Steps To Reproduce
1. `git clone git@github.com:oracle/opengrok.git`
2. Use VS Code open the folder.

Example project: [OpenGrok](https://github.com/oracle/opengrok)

##### Curren

[2019-04-25 01:42] wy193777 commented on #898
Java Language Server log have this error on my system:
[code]

Seems it is related to JDK version. But my `java -version` output is:
[code]

[2019-04-25 03:24] yilufengshun commented on #897
I have this problem when using oracle jdk, I changed it after changing openjdk, you can try it.

[2019-04-25 05:10] mattjcl opened #899 "Code completion not working"
Code completion is all but non-existent when typing in a .java file.
##### Environment
- Operating System: macOS Mojave 10.14.4
- JDK version: 12.0.1
- Visual Studio Code version: 1.33.1
- Java extension version: 0.6.0

##### Steps To Reproduce
n-a

##### Logs:

Language support for java log:

[Error - 3:01:13 PM] 25 Apr. 2019, 3:01:13 pm Problems occurred when invoking code from plug-in: "org.ecl

[2019-04-25 05:19] yaohaizh commented on #899
@mattjcl You could disable vscode java tester extension to see whether work around this issue.

@jdneo Could you help take a look at this issue?

[2019-04-25 06:30] kalch commented on #580
Closing issue.  Thanks everyone.

[2019-04-25 06:30] #580 closed

[2019-04-25 08:56] jdneo commented on #899
@mattjcl Are you working with a default package?

[2019-04-25 17:02] liangjacky commented on #673
Would it be possible to have a flag that opens this window on "Organize Imports on Save"?

[2019-04-25 18:59] fbricon commented on #871
The problem is fixed in VSCode. You can use the [Insiders]( https://code.visualstudio.com/insiders/) build until the next official release (1st week of May, probably)

[2019-04-25 18:59] #871 closed

[2019-04-25 20:13] fbricon commented on #673
@liangjacky I'm not sure this would work well with autosave. And because the save action is currently implemented at the server level, things might get tricky, but I'm open to the idea. Please open a new ticket.

[2019-04-25 20:23] liangjacky opened #900 "Show "Organize Import" quick pick menu when import results are ambiguous if "java.saveActions.organizeImports : true""
Currently, the window implemented in this PR https://github.com/redhat-developer/vscode-java/pull/850 is only shown when we select the menu action "Organize Imports".

For people that use `java.saveActions.organizeImports: true`, it resolves all non-ambiguous imports, but we still have to go back and resolve the ambiguous imports in the editor, OR to open the menu action "Organize Inputs"

Proposa

[2019-04-25 20:23] liangjacky commented on #673
@fbricon https://github.com/redhat-developer/vscode-java/issues/900 done. Thanks for the hard work.

[2019-04-26 02:29] Eskibear opened #901 "Why it downloads Gradle when I open a single java file"
The issue is found when I'm using a VM without network access. It's a clean installed Windows, OpenJDK 8u202, VS Code 1.33.1, vscode-java is the only extension installed.

When I open a .java file, vscode activates the extension, and there's an error in the log.  Attaching the full log: [vscode-java-no-network.log](https://github.com/redhat-developer/vscode-java/files/3119462/vscode-java-no-networ

[2019-04-26 02:52] fbricon commented on #901
This is most likely caused by eagerly activating the Buildship plugin when the server initializes. There might be ways to delay that activation (same thing for M2E) but it might be tricky

[2019-04-26 08:26] mattjcl commented on #899
@yaohaizh Language Support for Java no longer outputs the above errors after disabling Java Test Runner extension. However intellisense is still largely missing.

@jdneo yes I am.

[2019-04-26 08:28] mong0520 opened #902 "Folder with dot does not identified as a valid package"
[provide a description of the issue]

##### Environment
- Operating System: MacOS
- JDK version: 1.8.0_201
- Visual Studio Code version: 1.33.1
- Java extension version: 0.43.0

##### Steps To Reproduce
1. A folder structure looks like "src/main/java/com/foo.bar/Test.java"
2. Set "src/main/java" as the source search path
3. Declare package as `package com.foo.bar ;` in Test.java

##### Current Res

[2019-04-26 19:35] GabrielBB opened #903 ""The content on disk is newer" when renaming class"
##### Environment
- Operating System: Windows 8.1
- JDK version: JDK 11
- Visual Studio Code version: 1.33.1
- Java extension version: 0.43.0

##### Steps To Reproduce
1. Press F2 on a class name to rename it
2. Check that filename is also renamed with the new class name
3. Press CTRL + S to save the file with the change

##### Current Result

File name and class name are renamed as expected but o

[2019-04-26 20:01] fbricon commented on #903
Closing as duplicate of #871. Please use VS Code Insiders for now

[2019-04-26 20:01] #903 closed

[2019-04-26 20:14] GabrielBB commented on #871
Great. I'll wait for the next official release then

[2019-04-26 23:23] ThadHouse opened #904 "Java Development Kit Required webview always showing"
Ever since the update to 0.43.0, upon opening any Java project the Webview saying the JDK is required always pops up, even though my system has JDK 11 on it. The checkbox saying `Show overview page when using Java` is ignored as well.

![JavaMessage](https://user-images.githubusercontent.com/7727148/56840941-7237d200-683f-11e9-879b-a0c08fb27a3c.PNG)

##### Environment
- Operating System: Windows 1

[2019-04-26 23:26] ThadHouse commented on #904
Realized this window is opened by the extension pack, so moved to that repo.

https://github.com/Microsoft/vscode-java-pack/issues/143

[2019-04-26 23:26] #904 closed

[2019-04-28 01:43] testforstephen opened #905 "A simple JavaEE/maven project - dependencies not recognized"
The code is here: https://github.com/zemiak/javarocks
Simple: Java 1.8.0.212, maven 3.6, MacOS 10.14.3
Maven project declares JavaEE 8 as "provided"
Packages not recognised, errors popping up.
No meaningful output in the "OUTPUT" window

See at least https://raw.githubusercontent.com/zemiak/javarocks/master/docs/Missing%20Packages.png

Thanks,
Miro

[2019-04-28 04:35] yaohaizh commented on #905
@zemiak https://github.com/redhat-developer/vscode-java/issues/62
Java EE projects is not officially support yet.

[2019-04-28 04:54] zemiak commented on #905
It’s a simple maven project. With one maven dependency. It does not matter if the dependency is JavaEE or something different.
It should recognize packages brought in by the dependency.

[2019-04-28 05:27] yaohaizh commented on #905
Java EE dependencies are not on the Java SE libraries, nor in the maven dependency.

@fbricon Any additional we need to do to support Java EE?

[2019-04-28 09:38] zemiak opened #906 "JavaSE/Maven project - maven's commons-lang3 dependency not recognized"
A simple dependency from Maven is not recognized

##### Environment
- Operating System: MacOS 10.14.4 (18E226)
- JDK version: 1.8.0_212-b10
- Visual Studio Code version: 1.33.1 (1.33.1)
- Java extension version: 0.7.0

##### Steps To Reproduce
1. clone project: https://github.com/zemiak/javarocks-javase
2. see docs/ - images with errors

https://github.com/zemiak/javarocks-javase
in the project, "

[2019-04-28 11:46] seqid commented on #602
this is issue is not fixed yet, any updates?

[2019-04-28 13:45] snjeza commented on #906
Could you try to set the following property:
[code]

[2019-04-28 13:49] snjeza commented on #905
@zemiak See https://github.com/redhat-developer/vscode-java/issues/906#issuecomment-487380739

[2019-04-28 14:49] fbricon commented on #905
@zemiak works for me. Please follow the instructions in https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting to collect detailed server logs. Check if your project builds in CLI, there might be an issue with a corrupt jar. If it's not that, chances are, cleaning the server directory should fix the issue.

[2019-04-28 18:45] zemiak commented on #906
And it helped. How come, that this was turned off? Thank you!

[2019-04-28 18:45] zemiak commented on #905
java.import.maven.enabled helped as @snjeza suggested. How come this option was turned off?

[2019-04-28 18:45] #906 closed

[2019-04-28 19:19] fbricon commented on #905
Either you disabled it manually or you have a rogue extension that did it on its own (I'm not aware of such extension).

[2019-04-28 19:19] #905 closed

[2019-04-29 01:11] Polish-Civil commented on #634
Making it configurable would be great thing todo

[2019-04-29 06:06] icelove82 commented on #531
Can't wait for using kotlin in VSCode. When can we use kotlin in VSCode?

[2019-04-30 01:51] testforstephen opened #908 "The quick fix label for generating getter and setter has an unnecessary ellipsis"
So if you have 2 fields without accessors, the quickfix to generate them has an ellipsis, yet no wizard is shown as you'd expect from the ellipsis.
<img width="378" alt="Screen Shot 2019-04-29 at 7 05 30 PM" src="https://user-images.githubusercontent.com/148698/56932428-c9dd7400-6ab1-11e9-86c2-5c2e5714ea88.png">

[2019-04-30 02:40] mong0520 commented on #902
close

[2019-04-30 02:40] mong0520 commented on #902
close

[2019-04-30 02:40] #902 closed

[2019-04-30 15:39] doug-ol opened #909 "Bazel Support"
vscode-java does not recognize bazel as a build

##### Environment
- Operating System:
- JDK version:
- Visual Studio Code version:
- Java extension version:

##### Steps To Reproduce
1. Load a java project with bazel as the build system ([example](https://github.com/bazelbuild/examples/tree/master/java-tutorial))
2. Navigate to any `.java` file

##### Current Result
Receive "Classpath is incomple

[2019-04-30 15:47] dmarrazzo commented on #670
I solved giving more memory, but it's still slow (maybe it depends on project dimensions):
[code]

[2019-04-30 20:14] fbricon commented on #908
@testforstephen it's an easy fix, so I opened https://github.com/eclipse/eclipse.jdt.ls/pull/1019 myself

[2019-05-01 07:44] anthonyvdotbe opened #910 ""Generating Effective POM" renders the PC unusable on startup and causes Maven releases to fail"
My workspace has 3 Maven projects, with in total 17 modules.

Sometimes when opening VS Code (it doesn't happen on each startup, and I haven't been able to find a logic in it yet. For example, it has already occurred, even though none of the POMs had changed since the previous occurrence), it shows "Generating Effective POM" and the PC becomes effectively unusable for several minutes (to the point

[2019-05-01 18:49] fbricon commented on #910
"Generating effective pom" is an feature of [vscode-maven](https://github.com/Microsoft/vscode-maven/). Please report this problem in its [issue tracker](https://github.com/Microsoft/vscode-maven/issues). cc @Eskibear

[2019-05-01 18:49] #910 closed

[2019-05-01 23:00] #775 closed

[2019-05-02 09:57] rhwood opened #911 "Allow navigation to overridden method"
Moving from NetBeans, I miss the ability to navigate directly to the super implementation of an overridden method (either where it is defined in an interface or in a parent class). In NetBeans, this is a directly available action as a keyboard shortcut or from a context menu. There seems to be no such discoverable mechanism in VS Code.

##### Environment
- Operating System: macOS Mojave 10.14.4
-

[2019-05-02 19:30] #908 closed

[2019-05-03 05:09] SupinePandora43 commented on #875
maybe also "java.gradlePath" ?!

[2019-05-03 07:13] SupinePandora43 commented on #797
same issue, i got dependency in classpath, but vscode in java file says "The import net cannot be resolved Java(268435846)".  .\gradlew build, works

[2019-05-03 13:26] srfrnk opened #912 "Function parameters hidden"
VSCode Info:
[code]
[code]
System Info:
[code]

Steps to Reproduce:

1. Open a **Java** project
1. Open a Java file.
1. Move cursor to a class constructor or function call.
1. Press (Ctrl+Space in linux)
1. Popup width is too small and parameter list is hidden.

See below:
![bug](https://user-images.githubusercontent.com/1501654/57140276-0bc32e80-6dc0-11e9-9259-b7a00e17bba7.png)

[2019-05-03 13:30] fbricon commented on #912
Closing as duplicate of https://github.com/redhat-developer/vscode-java/issues/249. Long story short, vscode needs to fix https://github.com/Microsoft/vscode/issues/29757

[2019-05-03 13:30] #912 closed

[2019-05-03 13:42] OzzyTheGiant commented on #874
@snjeza Thank you so much! this fixed my issue too. Confirmed this also fixes unresolved dependencies in my Gradle sparkjava web app project (with Kotlin DSL). Must have been because I just switched from oracle's jdk 8 to OpenJDK 11, due to their changes in support. This also fixed up the Java Dependency Explorer extension and I can now see sparkjava and jetty jars listed under my project tree.

[2019-05-03 15:35] yaohaizh commented on #647
@dgdsingen @priyeshdiukar https://marketplace.visualstudio.com/items?itemName=ms-vscode-remote.vscode-remote-extensionpack
https://code.visualstudio.com/docs/remote/remote-overview
Now the VSCode Remote is available in preview. Give it a try in the VSCode Insider edition and provide your feedback if any.  Thanks.

[2019-05-03 15:39] yaohaizh commented on #670
@dmarrazzo Could you try your project with the latest language server? And in which case the VSCode Java is slow? During initialization or editing?

[2019-05-03 16:26] srfrnk commented on #912
So I went ahead and looked into Microsoft/vscode#29757.

Looks like until this is fixed a workaround can be made: https://github.com/srfrnk/vscode/commit/8ab1ef2464e14e467c3fba3e914f8e54c4df3c43

So for anyone wanting to do that:
# 1
Open `/<VSCODE INSTALL DIR>/resources/app/out/vs/workbench/workbench.main.css` (my ubuntu system has it in `usr/share/code`)
# 2
Find
[code]
# 3
Add `overflow: auto;`

[2019-05-03 22:10] DavyGuedes commented on #652
The problem is in Lombok extension? Should we open a issue in the extension repository? I'm also getting the same behavior in Open JDK 12. Thank you for your workaround. It works!

    Operating System: Ubuntu 19.04
    JDK version: 12
    Visual Studio Code version: 1.33.1
    Java extension version: 0.44.0

[2019-05-03 22:32] GabrielBB commented on #652
@sgnanavel @DavyGuedes Wow, I’m happy to hear that. As you can see the extension i did (VSCode-Lombok) is very very simple. The only thing it does is adding the Lombok jar to the path, so we can have Lombok without downloading the jar and editing by yourself the settings. I will update the extension with that fix !! First I have to test if removing Xbootclasspath doesn’t affect prior versions of J

[2019-05-04 04:13] GabrielBB commented on #652
Fix applied in [vscode-lombok 0.9.8](https://marketplace.visualstudio.com/items?itemName=GabrielBB.vscode-lombok) in the marketplace. Thanks @sgnanavel for taking the time to check what the heck was going on

[2019-05-04 09:11] dmarrazzo commented on #670
@yaohaizh Yes, it seems much better. It's just a feeling because I haven't an exact measure.

[2019-05-04 13:43] GabrielBB commented on #580
@kolbma I fixed the issue in the VSCode Lombok extension. You can reinstall it if you want to

[2019-05-05 01:28] seqid commented on #602
my issue has been resolved. [ref](https://stackoverflow.com/questions/55888358/java-lang-nullpointerexception-at-org-eclipse-jdt-internal-compiler-codegen-code/55893439#55893439)

[2019-05-06 15:53] ryanpagefico commented on #618
I am running into the same issue as @chuhsuanlee. I checked "Exclude globally" which worked once, but when I went to open another project it does not properly exclude. I also can't figure out a way to get the prompt to exclude the files to trigger again. I tried unchecking and rechecking to no avail.

[2019-05-06 18:09] AoLi12306 commented on #757
Same issue happens to me, I fix this by setting "java.home" in "USER SETTINGS"
{
    "gitlens.advanced.messages": {
        "suppressShowKeyBindingsNotice": true
    },
    "files.encoding": "iso88591",
    "explorer.confirmDelete": false,
    "editor.largeFileOptimizations": false,
    "java.home": "/Library/Java/JavaVirtualMachines/jdk-11.0.3_7.jdk/Contents/Home",
}

[2019-05-07 03:59] SupinePandora43 commented on #875
i'm update comment

[2019-05-07 05:40] testforstephen commented on #634
Reproduced the issue.
1. Use VS Code to open a maven project.
2. Wait the Java Language Server is ready. (:thumbsup: appears at the right bottom status bar)
3. Manually delete `.classpath` file, then a new `bin` folder is automatically created at the root folder, and all non java files are copied there.

Looks like if the .classpath doesn't exists, the Java projects loaded by jdt.ls will take `bin

[2019-05-07 06:04] K2Prasanna opened #913 "On PC restart, VS code java server fails to restart: The Language Support for Java server crashed 5 times in the last 3 minutes. The server will not be restarted."
Everytime I restart my computer and open VS code, My java language server fails. So it requies reinstalling extensions everytime. please let me know in what can be the issue. I am attaching logs for more information.

I did go through the existing issues few times and got some debugging tips which I have used to extract information about the issue. But not able to resolve it.

##### Environment
-

[2019-05-07 06:29] testforstephen opened #914 "Click 'Rocket' status bar button shows 'Activating Extensions...'"
When the Java Language Server is starting, click 🚀 button at the right bottom status bar, it always says `Activating Extensions...`

That's because the binding "java.open.output" command is added to extension activation events. This represents the command is not available until the vscode-java extension is fully activated.
![image](https://user-images.githubusercontent.com/14052197/57275726-f278f5

[2019-05-07 13:39] fbricon commented on #913
Can you try to [clean](https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#clean-the-workspace-directory) the server workspace directory?

[2019-05-07 14:53] SupinePandora43 commented on #875
gradle path can be specified in "${opened folder}/.settings/org.eclipse.buildship.core.prefs", in line `connection.gradle.distribution=` set `GRADLE_DISTRIBUTION(LOCAL_INSTALLATION(PATH_TO_GRADLE))` for using global gradle (or custom gradle path), or `GRADLE_DISTRIBUTION(WRAPPER)` for using wrapper in your folder

[2019-05-07 15:44] snjeza commented on #875
@SupinePandora43 you can try the following property:

[code]

[2019-05-07 17:47] #914 closed

[2019-05-07 17:52] SupinePandora43 commented on #875
@snjeza i don't need that, i configured gradle java home in gradle.properties, gradle path (WRAPPER) in .pref file. because minecraft forge dont support versions newer gradle 4.9, java 10. i'm got jdk 12 and jdk 8, gradle 5.2.1 and 4.9.0

[2019-05-07 19:12] RobertDeRose commented on #670
@dmarrazzo Sorry for not replying, been off GH for a while and It's been so long since I've tried to used this extension, I honestly forgot. But @fbricon's comments rang my memory bell.  Hope this project continues to get better, but for me, sadly, for now, I had to drop back to using Eclipse. Not happy about it. I'll give it another try in a few months.

[2019-05-07 22:05] riccardobl opened #916 "Build on save skips on 0.43.0 and 0.44.0"
It appears that version 0.43.0  introduced a bug that causes the autobuild (build on save) to randomly skip.

I'm not sure if this is related to the size or layout (main gradle project with 3 subprojects) of my project, but this is what is happening:

- A program that is started after the code has been changed will run with the old code (the changes are not reflected).
- If the program is already

[2019-05-08 01:55] snjeza commented on #916
@riccardobl Could you provide a project example?

[2019-05-08 05:19] K2Prasanna commented on #913
Thank you, Fred! I tried cleaning the workspace. It didn't work. then I tried to clean up and then restart my PC as well. That also landed in the same issue.

On the surface, It seems to have to do with loading sequence of the extensions or libraries. But I am not sure of this.

Thank you for your prompt response

Regards,
Prasanna

[1557291952635.log](https://github.com/redhat-developer/vscode-ja

[2019-05-08 05:43] yaohaizh commented on #647
Close this as it has been supported by vscode remote.

[2019-05-08 05:43] #647 closed

[2019-05-08 09:16] riccardobl commented on #916
Sure:  [Test.zip](https://github.com/redhat-developer/vscode-java/files/3156518/Test.zip)

So... my first guess of it being somehow related to the project layout was wrong, since it presents itself even on this simple single file project.

I've also uploaded a short video to show it: https://www.youtube.com/watch?v=FMX0qtNA-YA

[2019-05-08 14:32] fbricon commented on #916
Tested with Zulu JDK 1.8.212, on Ubuntu 19.04, still works perfectly.
- Try to [clean the server workspace directory](https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#clean-the-workspace-directory)
- and/or try disabling all your extensions, except for vscode java and the java debugger

[2019-05-08 16:02] snjeza commented on #916
Do you have the <your_project>/ .vscode/settings.json file?

[2019-05-08 17:48] riccardobl commented on #916
No, everything i have is included in the zip file.

[2019-05-08 18:06] snjeza commented on #913
@K2Prasanna could you attach your C:\Users\<YOUR_USERNAME>\.vscode\extensions\redhat.java-0.44.0\server\config_win\config.ini?

[2019-05-08 18:13] snjeza commented on #916
@riccardobl I can't reproduce the issue too.
Could you try add the following properties:

[code]

[2019-05-08 18:20] riccardobl commented on #916
So i started with a clean install and i tried to enable settings and extensions one by one until it broke, it turned out being caused by a typo in the java.format.settings.url path.

Sorry if i made you waste time, I didn't even thought about this since the older version worked.

[2019-05-08 18:29] snjeza commented on #916
That is a bug.

[2019-05-08 21:14] riccardobl commented on #916
`Java Debug: Force Build before launch` seems to be on by default.

My user settings are

[code]

And extensions:
![Screenshot from 2019-05-08 16-10-44](https://user-images.githubusercontent.com/4943530/57381817-fc6f2700-71ab-11e9-91c7-3d395a82c6cc.jpg)

[2019-05-09 20:26] #916 closed

[2019-05-09 21:59] wkurzius commented on #913
I'm having the same issue, or at least a very similar one.

- Windows 10
- openjdk version 1.8.0_201
- Visual Studio Code 1.33.1
- Language Support for Java 0.44.0

[config.ini](https://github.com/redhat-developer/vscode-java/files/3164146/config.ini.txt)

[2019-05-09 22:27] snjeza commented on #913
Do you have write permission on C:\Users<YOUR_USERNAME>.vscode\extensions\redhat.java-0.44.0\server\config_win?

[2019-05-09 22:36] wkurzius commented on #913
Yes. And just to see if it had any effect, I ran VSCode as admin and got the same error.

`The Language Support for Java server crashed 5 times in the last 3 minutes. The server will not be restarted.`

[2019-05-09 23:18] snjeza commented on #913
Could you provide VS Code-Java log - https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#get-the-vscode-java-logs and https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#get-the-vscode-java-logs ?

[2019-05-10 01:00] wkurzius commented on #913
I just started VSCode back up to get these and now it's working again. I've been wrestling with this for days and I have no idea what caused it to fix itself. The last thing I tried was a clean install of VSCode (removed everything from user folder and appdata, too), but the error popped up again after reinstalling the extension. That's when I decided to post here.

Let me know if you still want t

[2019-05-10 07:36] yaohaizh commented on #913
@wkurzius Do you have upgraded vscode java extension or installed JDK before this happened?

[2019-05-10 09:28] K2Prasanna commented on #913
Thank you! Please note attached, the config file.

[config.txt](https://github.com/redhat-developer/vscode-java/files/3165797/config.txt)

thanks,
prasanna

[2019-05-10 10:02] K2Prasanna commented on #913
Hi,
Now I notice that when restart the PC, the config.ini is not at the location **(C:\Users<YOUR_USERNAME>.vscode\extensions\redhat.java-0.44.0\server\config_win\config.ini)**.

It looks like somehow on startup, the file gets deleted. Is there a way to configure the location for extensions?

Thanks,
Prasanna

[2019-05-10 10:05] wkurzius commented on #913
Between when I posted here first and when it started working I upgraded nothing. And I only first installed the extension a few days ago. At that time I had openjdk version 1.8.0_201 and Visual Studio Code 1.33.1.

[2019-05-10 14:16] snjeza commented on #913
@K2Prasanna Could you try the following:

- close VS Code
- remove C:\Users<YOUR_USERNAME>.vscode
- start VS CODE
- install your extensions

[2019-05-10 22:33] Palidino opened #918 "editor.formatOnSave not working"
Edit: resolved, issue on my end

[2019-05-10 23:43] #918 closed

[2019-05-11 01:00] Q10Viking commented on #346
1. create a fold **lib** at your project
[code]
2.  Add jar package to lib fold
3. check the **.classpath** file(the file is also placed at your project ) to see if the line exists
[code]

[2019-05-11 10:28] Nightenom opened #919 "Source action "override/implement methods" does not carry forward final for arguments"
Might be closed in favor of #774
If you specify arguments in a method in an interface as final they should be final when using "override/implement methods" action.

##### Environment
- Operating System: Windows_NT x64 10.0.17763
- JDK version: aoj-11.0.2
- Visual Studio Code version: 1.33.1
- Java extension version: 0.44.0

##### Steps To Reproduce
1. create an interface with final arguments in a

[2019-05-11 11:19] Nightenom commented on #919
In general, applies to all abstract methods

[2019-05-13 03:23] andxu opened #920 "Cannot navigate types through fully qualified name"
![image](https://user-images.githubusercontent.com/17075863/57594222-90a50980-7571-11e9-9a86-bfeb83a81adf.png)

[2019-05-13 09:18] muggell commented on #842
So I'm experiencing the same thing. While I still get the suggestions, I can't get the "Read more.." information. It just loads the top spar showing the "Math" and nothing below it. It's driving me nuts. I really enjoy VSCode on my Windows Desktop, but I can't seem to get it working on my Linux laptop.
So would you mind sharing your solution? Perhaps that might help me out.

[2019-05-13 10:42] Eskibear commented on #842
Just had a try myself as @muggell mentioned.

I cannot stably reproduce it but I DO see the same issue for one time. It might be easier to reproduce it by typing `Math.` after reloading the window. Once you try inputting something else, and back to type `Math.` again, the issue is gone.

JDK is OpenJDK 8u212-b03, VSCode is 1.33.1

![image](https://user-images.githubusercontent.com/2351748/57614688

[2019-05-13 10:56] muggell commented on #842
So I've tried a lot of things, and I can't seem to get anything to show in "Read more.." by pressing Ctrl + Space (Not even with the instructions you mentioned above @Eskibear ) - The only language I've succesfully have had it working with is JavaScript.
I feel like I'm missing a dependency or even somewhere for IntelliSense to lookup for information. I'm not sure if I make any sense, but it reall

[2019-05-13 16:05] Eskibear commented on #842
@muggell You can change value of `java.trace` to "verbose" in Settings. Then you can see details in output channel.

![image](https://user-images.githubusercontent.com/2351748/57636286-6d16a900-75db-11e9-8e94-4fd2c43efdb2.png)

Following are my logs when everything work well, you can see the language server returns correct `documentation`, and it's been well-rendered. Let's see if we can find anyt

[2019-05-13 17:39] muggell commented on #842
@Eskibear this is some of the output. I'm not sure if anything else is needed to determine the problem.

`[Trace - 7:34:01 PM] Sending request 'workspace/executeCommand - (66)'.
Params: {
    "command": "java.intellicode.completion.resolve",
    "arguments": [
        {
            "label": "random() : double",
            "kind": 1,
            "detail": "Math",
            "sortText": "999999179

[2019-05-13 17:42] muggell commented on #842
My formatting skills are really bad I see. I'm not sure how to format it like you did with the scroll bars and everything.. I'm sorry.

[2019-05-14 01:59] Eskibear commented on #842
In you log, the response of the resolving command looks not completed, so it has nothing to show.
[code]

You may do the following experiments on your machine, to see if the missing is caused by language server or IntelliCode extension.
* **Disable** extension "Visual Studio IntelliCode", reload the window, check the output to see if `value` of `documentation` is still missing or not. You can sear

[2019-05-14 10:21] muggell commented on #842
@Eskibear  So this is without the extension enabled:

[code]

VSCode version: 1.33.1
IntelliCode extension version: 1.1.6
JDK: openjdk-11 or java-1.11.0-openjdk-amd64

[2019-05-14 14:26] Yanpas opened #922 "Completion list is too narrow for package name"
##### Environment
- Operating System: linux
- JDK version: 11
- Visual Studio Code version: 1.33.1
- Java extension version: 0.44

Preamble:
Hadoop has 2 sets of APIs - old and deprecated org.apache.hadoop.mapred and new org.apache.hadoop.mapreduce. When you type some class name java suggests you classes from both packages and you can only see first symbols of both packages. So you can't know whic

[2019-05-14 14:27] fbricon commented on #922
Closing as duplicate of #249.

[2019-05-14 14:27] #922 closed

[2019-05-14 14:32] Yanpas commented on #249
I suggest following way to fix it:
there is a "More" switcher in completion list
![image](https://user-images.githubusercontent.com/7345761/57706290-20c87900-766e-11e9-9ff9-4fba42373086.png)
We can always show full class name in "More" section, currently it's empty.

with "More" on:
![image](https://user-images.githubusercontent.com/7345761/57705209-1907d500-766c-11e9-8bd7-913606a3c323.png)
with "

[2019-05-14 19:26] #875 closed

[2019-05-15 03:58] brunoborges commented on #807
Hey @fbricon any update on this? "Java Language Support" should check all legal boxes.

[2019-05-15 05:43] gitorko commented on #802
Issue does not occur in 1.33.1
Thanks.

[2019-05-15 05:43] #802 closed

[2019-05-15 06:39] muggell commented on #842
@Eskibear I know that you might be busy. I'm just making sure you didn't forget me, cause I can't seem to figure out whats wrong.

[2019-05-15 07:55] Eskibear commented on #842
@muggell according to https://github.com/redhat-developer/vscode-java/issues/842#issuecomment-492179360 , response from the language server still misses `documentation.value`, indicating that vscode-java or language server don't work well in your machine.  I'm not a pro on these parts, but I can help to create a new issue for you. The contributors might be able to help you out.

[2019-05-15 07:58] muggell commented on #842
@Eskibear That's my conclusion too. But I'd love for you to help me creating a new issue so that I might be able to get it working properly, and hopefully get a stabile solution. It's really driving me crazy, so I'd appreciate all the help I can get.

[2019-05-15 08:17] Eskibear opened #923 "missing documentation.value in completion items on Linux"
The issue was first mentioned by @muggell in https://github.com/redhat-developer/vscode-java/issues/842#issuecomment-491744539

The details are missing in completion items. The issue keeps occurring for @muggell no matter IntelliCode is enabled or disabled.

![image1](https://user-images.githubusercontent.com/32263698/57617081-2cd60d00-7580-11e9-9600-4cbab929d1a5.png)
![image2](https://user-images

[2019-05-15 08:22] Eskibear commented on #923
When trying to reproduce it in a clean installed Ubuntu 18.04, I myself also encountered the issue for some times, but **only occurs in the first time I trigger completion** after vscode-java is activated.

@muggell please follow this issue, @yaohaizh @fbricon might be able to help you out.

[2019-05-15 11:09] sallyur opened #924 "Reopening a gradle project resets its gradle version"
##### Environment
- Operating System: Mac
- JDK version: 12.0.1
- Visual Studio Code version: 1.33.1
- Java extension version: RC bits 0.44.0-1521

##### Steps To Reproduce
1. Open the project [Test](https://github.com/redhat-developer/vscode-java/files/3156518/Test.zip)
2. open a .java file to active the extension

##### Current Result
The generated files don't use my local gradle:
The gradle ver

[2019-05-15 11:35] dmarrazzo opened #925 "Runtime classpath problem with maven dependencies"
[provide a description of the issue]

##### Environment
- Operating System: Linux Fedora 30
- JDK version: penjdk version "1.8.0_212"
OpenJDK Runtime Environment (build 1.8.0_212-b04)
OpenJDK 64-Bit Server VM (build 25.212-b04, mixed mode)

- Visual Studio Code version: 1.33.1
- Java extension version: 0.44.0
- pref
    "java.home": "/usr/lib/jvm/java-1.8.0-openjdk/",
    "java.jdt.ls.vmargs": "-n

[2019-05-15 11:38] Bergv opened #926 "Quick fix is not good for use in 1.33.1 , it can not create a method in java, but in 1.30.2 is OK"
Quick fix is not good for use in 1.33.1 , it can not create a method in java, but in 1.30.2 is OK

##### Environment
- Operating System: windows 10
- JDK version: 1.8.0_201
- Visual Studio Code version: 1.33.1
- Java extension version: 0.44.0

[2019-05-15 12:37] fbricon commented on #924
@sallyur is this a regression?

[2019-05-15 13:12] muggell commented on #923
@Eskibear  Thanks for helping out. To provide the last bit of information:
Linux distro: Pop!_OS 19.04
Java Extension Version: 0.7.1

[2019-05-15 13:33] simo385 opened #927 "Language Support for Java(TM) by Red Hat - org.eclipse.jdt.ls.core Initialization failed Path for project must have only one segment."
Hello everybody,

I get the following error when I try to open a folder project in VScode.
`!ENTRY org.eclipse.jdt.ls.core 4 0 2019-05-15 14:52:12.232
!MESSAGE Initialization failed
!STACK 0
java.lang.IllegalArgumentException: Path for project must have only one segment.
	at org.eclipse.core.runtime.Assert.isLegal(Assert.java:66)
	at org.eclipse.core.internal.resources.WorkspaceRoot.getProject(Wor

[2019-05-15 14:12] fbricon commented on #926
Can you please attach [logs](https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#turn-on-message-tracing-between-vs-code-and-the-java-language-server) to this issue?

[2019-05-15 19:58] fbricon commented on #924
Works for me on my mac:
[code]
<img width="1437" alt="Screen Shot 2019-05-15 at 3 57 36 PM" src="https://user-images.githubusercontent.com/148698/57805089-34391a00-772a-11e9-9ed7-47c0d415817a.png">

[2019-05-15 20:18] fbricon commented on #924
I could reproduce the issue, and it was already present in vscode-java 0.44.0: when you import the project the 1st time, the proper buildship settings are generated.
When you reopen vscode, the settings are updated twice: the 1st time with the proper settings, and a few seconds later, they're wiped out, as in @sallyur's comment, and a different gradle version is used.
My guess is we don't properly

[2019-05-15 20:37] fbricon commented on #924
so more specifically the problem occurs after cleaning the server directory. The project already has local eclipse config files, this seems to confuse the import.

[2019-05-16 05:23] SupinePandora43 opened #928 "Java Profiling"
//feature request
with tool like 'VisualVM' or 'Graal'

[2019-05-17 11:55] muggell commented on #923
I guess nobody is up for the task @Eskibear or are they just really busy all the time? :-)

[2019-05-17 13:10] fbricon commented on #923
@muggell see if https://github.com/eclipse/eclipse.jdt.ls/issues/1006#issuecomment-488875894 is relevant to you

[2019-05-17 14:25] muggell commented on #923
Cheers @fbricon it was actually the same thing that was wrong. It did for some reason look up the wrong path for the documentation/sources. So I think that it might be fixed now.

[2019-05-18 01:24] #926 closed

[2019-05-18 10:47] dmarrazzo commented on #925
Hi @fbricon
is it the right place for this issue?
Thank you

[2019-05-18 13:29] dmarrazzo commented on #925
I've noticed this behavior:
- when I run vscode inside the project (kie-client) it works nicely!
- when I run vscode in the parent folder (that contains other projects and kie-client), It has the problem.

In order to debug, I've added those lines at the beginning of the main:

[code]

The output (attached) shows that the classpath is significantly different:

[parent.txt](https://github.com/redha

[2019-05-18 14:21] fbricon commented on #925
vscode-java is not providing the Java running facilities in VS Code. That would be https://github.com/Microsoft/vscode-java-debug. Now it seems you're running mvn directly, so that's probably not even vscode's issue. You should see the exact same results when running in a terminal.
I won't be able to look at this issue until the next few days, but maybe someone else can help you investigate in the

[2019-05-18 18:11] dmarrazzo commented on #925
Hi @fbricon thank you for the prompt reply, I've open the same issue in vscode-java-debug.
BTW, the execution in maven command line was there just for comparison.
Now it's not more relevant since the same vscode has 2 different behaviour depending on the workspace root.

[2019-05-20 03:52] fengerzh commented on #305
I upgrade to 1.8.0_211, still have the problem.

[2019-05-20 04:07] K2Prasanna commented on #913
Sorry for the delayed reply. I performed the steps, but still, on restarting the servers I face the issue and I see that config.ini does not exist in the directory post restart.

Thanks,
Prasanna

[2019-05-20 06:07] fengerzh commented on #305
Sorry, my fault.

After following the instruction, it works now.

* Open the command palette (F1) (Shift+Command+P on Mac)
* select Java: Clean the Java language server workspace
* click Restart and delete

Maybe we can close this issue now.

[2019-05-20 08:34] maxiwu commented on #634
Same issue. I don't understand. Maven project do not use anything from \bin.
How do I avoid this from happening? it messes up my git.

[2019-05-20 13:59] snjeza commented on #913
@K2Prasanna do you have write permission on C:\Users\<YOUR_USERNAME>.vscode?

[2019-05-21 00:16] rdcoe opened #931 "Code formatter does not support additive operator preferences"
Eclipse code formatting supports a setting that wraps lines after the string concatenation operator (+), along with column formatting that aligns text with one element per line:

[code]

##### Environment
Version: 1.34.0 (user setup)
Commit: a622c65b2c713c890fcf4fbf07cf34049d5fe758
Date: 2019-05-15T21:59:37.030Z
Electron: 3.1.8
Chrome: 66.0.3359.181
Node.js: 10.2.0
V8: 6.6.346.32
OS: Windows_NT x6

[2019-05-21 12:09] adietish commented on #305
just faced this using jdk1.8.0_162 on MacOS. Cleaning the workspace via command didn't help. Switching to jdk11 helped.

[2019-05-21 18:28] enriched commented on #909
Seems like this work would be related to https://github.com/eclipse/eclipse.jdt.ls/issues/543

[2019-05-21 19:27] notmattlythgoe commented on #796
@fbricon How are you bringing up the menu?

[2019-05-21 19:28] fbricon commented on #796
Click on static method, `Ctrl+.` (`Cmd+.` on mac) or click on lightbulb or right-click -> Code Action

[2019-05-22 12:41] ChrisTrenkamp opened #934 "Exposing properties like compiled classes and libraries for SonarLint integration"
The Java plugin is almost at the point where I can use VSCode full-time.  However, it's missing SonarLint Java support, which I feel dramatically increases productivity.

Some people tried to get Java support added to the SonarQube VSCode Plugin, but was not accepted.  This is their response: [https://github.com/SonarSource/sonarlint-vscode/pull/28#issuecomment-467444765](https://github.com/SonarS

[2019-05-23 08:16] jfcervera opened #935 "Out of the box support for swagger-codegen-maven-plugin"
There is no support for automatically detecting and adding to the classpath the automatically generated code by the swagger-codegen-maven-plugin.

This means that, even though the project builds without issues from the command line, all the java classes that import the auto-generated code complain that those imports don't exist from within VSCode.

A work-around is following the same advice you ga

[2019-05-23 09:08] dmarrazzo commented on #925
It's a bug of vscode-java-debug, so I'm closing here.
I'm looking forward to see the resolution! Thank you

[2019-05-23 09:08] #925 closed

[2019-05-23 11:04] Tariqafridi36 commented on #868
I am facing the same issue. Even i download the Java Runtime.

[2019-05-23 19:34] gahisee opened #936 "bogus build error"
After day or two of debugging a java app, on two occasions now, I have run into following two situations:

    hitting F5 to debug, VSC reports it cannot find the class MainApp which clearly has and presently exist.
    VSC reports there are build errors but in fact, there are none.

in both instances, i resort to deleting the cache directory
$HOME/.config/Code/User/workspaceStorage/

upon restart

[2019-05-23 20:37] Palidino opened #937 "Autocomplete sometimes overwrites/deletes characters"
I'm not really sure how to reproduce, because it seems to happen at complete random.

`if (getKilled(NpcID.MONSTER_1)) {`
`if (getKilled(NpcID.MONSTER_2 {`

Take that code for example: I replaced a previous value with MONSTER_1 using autocomplete, and it worked fine. A few lines down, I go to replace text by selecting it and start typing MONSTER_2 and autocomplete to finish typing it,  and it dele

[2019-05-24 15:29] dmarrazzo commented on #204
Hi,
Is it possible to extend this feature to match even partial string?
I mean if I type "vismec", I'd like to match "VisitOrMechanic" class.

[2019-05-24 18:48] fbricon commented on #204
@dmarrazzo CamelCase search is supported:
![camel-case-search](https://cloud.githubusercontent.com/assets/148698/26115970/90abf940-3a2f-11e7-8da1-bef437123965.gif)

so, in your case, you should try searching for `VisMec`

[2019-05-24 20:04] fbricon commented on #936
Please attach the server logs when build errors are reported

[2019-05-24 20:12] fbricon commented on #937
Can't reproduce. Please [enable verbose logging](https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#turn-on-message-tracing-between-vs-code-and-the-java-language-server) and attach the vscode-java logs from the output view  here, when that happens.

[2019-05-24 20:20] fbricon commented on #934
the [java dependency extension](https://github.com/Microsoft/vscode-java-dependency), extends the Java language server to expose similar project classpath informations. @yaohaizh might be able to contribute some of those commands back to jdt.ls itself.

[2019-05-25 20:41] perezd commented on #909
I would also love to see this supported.

[2019-05-26 12:55] gahisee commented on #936
it happened again this morning; same remedy.
where is the server log that you need to see. please advise how to obtain it.
besides the build error message, there are tons of compile errors as well. vsc clearly is not reading the project correctly due to corrupted cache.

[2019-05-27 08:40] Nutellaeis opened #941 "module not accessible"
When building a modular project with gradle the imported libraries are shown as inaccessible. But the project itself seems fine. Using
`.\gradlew run` runs the project without error
and
`.\gradlew jlink` builds an image without error

This seems to be the case with any gradle dependency. Not just javafx.

##### Environment
- Operating System: Windows 10 1809
- JDK version: openjdk 12.0.1
- Visual

[2019-05-27 13:27] hgodoy commented on #555
Is there a way to "fold" by default in all files?

[2019-05-27 14:18] fbricon commented on #555
@hgodoy not at the moment. Please vote for https://github.com/Microsoft/vscode/issues/40338#issuecomment-451984866

[2019-05-27 15:16] hgodoy commented on #555
@fbricon Ok. Thanks!

[2019-05-27 23:09] snjeza commented on #941
@Nutellaeis could you try the following patch:

[code]

[2019-05-27 23:23] fbricon commented on #941
See also https://github.com/eclipse/eclipse.jdt.ls/issues/957

Anyways, OOTB support for Modular (JPMS) Java projects with Gradle is dependent on  Gradle/Buildship. See https://github.com/eclipse/buildship/issues/658.
Nothing we can do until this is fixed upstream.

[2019-05-28 05:57] yaohaizh commented on #934
@ChrisTrenkamp Please log an issue against the https://github.com/Microsoft/vscode-java-dependency for project classpath information. I will contribute code back to jdt.ls if necessary.

[2019-05-28 08:44] Nutellaeis commented on #941
Applying the patch worked. The only thing I get now is a warning:
**The type Stage from module javafx.graphics may not be accessible to clients due to missing 'requires transitive'Java(8390067)**

It is kind of sad you have to always use some kind of hack to work with javafx these days.

[2019-05-29 10:41] esr360 commented on #618
This is so frustrating, why is my text editor creating random files for me?

[2019-05-29 14:58] #934 closed

[2019-05-30 16:27] jakegt1 opened #943 "Plugin doesn't seem to support no_proxy/systemProp.http.nonProxyHosts for gradle"
When downloading gradle distributions/packages with the http.nonProxyHosts system property active, http requests still seem to route through the proxy rather than respecting the system prop.

##### Environment
- Operating System: CentOS 7
- JDK version: 1.8
- Visual Studio Code version: 1.34.0
- Java extension version: 0.45.0

##### Steps To Reproduce
1. Use the no_proxy environment variable/set t

[2019-05-31 03:09] AntSworD commented on #894
It doesn't work for me，can I figure out what happen by myself?
Another config of org.eclipse.jdt.core.prefs is not working too, such as `org.eclipse.jdt.core.compiler.problem.missingSerialVersion=ignore`

[2019-05-31 12:19] snjeza commented on #894
@AntSworD could you provide a sample project?

[2019-05-31 20:36] Palidino commented on #937
You can see down below, SUPER_MYSTERY_BOX_32286uperBox()

The line I was editing when I used autocomplete: ItemId.supermystery, new SuperBox()

`[Trace - 4:28:53 PM] Sending notification 'textDocument/didChange'.
Params: {
    "textDocument": {
        "uri": "file:///Users/palidino/Home/OSRS/B-Palidino/Server/data/core/src/com/palidino/osrs/model/item/MysteryBox.java",
        "version": 430

[2019-05-31 22:43] sappersix opened #944 "Test source mapping in workspaceStorage not updated when test case is deleted"
Issue Type: <b>Bug</b>

When I delete a test case from a test Class and click "Run Test" in CodeLens, my test shows failure.  When I open the Java Test Report, I see a list that looks like this:

[code]
I have tried "Java: Clean the Java language server workspace" and "Java: Force Java compillation" and the problem persists.

I have to go to %userprofile%\AppData\Roaming\Code\User\workspaceStorage

[2019-05-31 22:45] snjeza commented on #937
@Palidino Can you reproduce the issue when starting the server with -Djava.lsp.joinOnCompletion=true?
See #512 (comment)

[2019-06-01 00:38] Palidino commented on #937
Added using java.jdt.ls.vmargs, the issue still happens.

[2019-06-01 00:48] snjeza commented on #937
@Palidino Could you please try the following:

[code]

[2019-06-01 00:57] Palidino commented on #937
I have lombok installed so those settings were already there/kept them there when I tried -Djava.lsp.joinOnCompletion=true

[2019-06-01 01:06] snjeza commented on #937
Could you send your java.jdt.ls.vmargs?

[2019-06-01 01:16] Palidino commented on #937
My current:
`"java.jdt.ls.vmargs": "-noverify -Xmx1G -XX:+UseG1GC -XX:+UseStringDeduplication -javaagent:\"./data/lib/lombok.jar\" -Xbootclasspath/a:\"./data/lib/lombok.jar\""`

What I've tried:
`"java.jdt.ls.vmargs": "-Djava.lsp.joinOnCompletion=true -noverify -Xmx1G -XX:+UseG1GC -XX:+UseStringDeduplication -javaagent:\"./data/lib/lombok.jar\" -Xbootclasspath/a:\"./data/lib/lombok.jar\"`
`"java.j

[2019-06-01 01:23] snjeza commented on #937
Could you move '-Djava.lsp.joinOnCompletion=true' to the start of java.jdt.ls.vmargs?

[2019-06-01 01:27] snjeza commented on #937
Could you provide a project example?

[2019-06-01 02:15] Palidino commented on #937
Not really but I talked to someone who also works on my project and it seems one of the biggest causes is from an ItemId file which contains about 15k static integers
https://paste.ee/p/vdPJf

While the issue has happened to me while using autocompletion on code that is only a few hundred lines, autocompletion from that particular class causes the issue quite a lot (can also be slow to give sugges

[2019-06-01 14:54] chandr3sh opened #945 "Linting cannot be configured: Method arguments with long name are not shown in multiple line."
Although this extension performs linting but there is no way to configure it. If I put multiple arguments with long names on different lines, it automatically compresses them in one or two lines when "formatOnSave: true".

##### Environment
- Operating System: Windows 10 version:1903
- JDK version: 11.0.3
- Visual Studio Code version: 1.34.0
- Java extension version: 0.45.0

##### Steps To Reprodu

[2019-06-01 18:05] snjeza commented on #945
@chandr3sh try to add

[code]
or
[code]
to
<your_project>/.settings/org.eclipse.jdt.core.prefs

[2019-06-01 18:31] chandr3sh commented on #945
@snjeza Thanks for replying. The solution you provided doesn't work (**Current Result** doesn't changes).

[2019-06-01 18:39] snjeza commented on #945
Do you use the java.format.settings.url property?

[2019-06-01 18:45] chandr3sh commented on #945
No. Currently, "java.format.settings.url": null
What should be the required value here?

[2019-06-01 19:01] snjeza commented on #945
Could you try the following project?
[test.zip](https://github.com/redhat-developer/vscode-java/files/3244119/test.zip)

[2019-06-01 19:29] chandr3sh commented on #945
It works now!
Sorry, it was my bad. I added the setting in org.eclipse.jdt.**apt**.core.prefs file instead of org.eclipse.jdt.core.prefs.
Thanks a lot. 👍

[2019-06-01 19:52] chandr3sh commented on #945
The setting `org.eclipse.jdt.core.formatter.alignment_for_parameters_in_method_declaration=83` makes sure every method argument appears on new line and this behavior is consistent across the whole project. So, this creates situations like this...
![image](https://user-images.githubusercontent.com/12244518/58752910-69888a80-84d4-11e9-9710-a99d810e293b.png)
Is there a way to have arguments on new li

[2019-06-01 21:17] snjeza commented on #945
You may want to take a look at https://github.com/redhat-developer/vscode-java/wiki/Formatter-settings

[2019-06-01 21:28] chandr3sh commented on #945
I already checked it. Currently using it as of now.
The [Formatter-settings](https://github.com/redhat-developer/vscode-java/wiki/Formatter-settings) provides [xml file](https://raw.githubusercontent.com/google/styleguide/gh-pages/eclipse-java-google-style.xml) for the property `java.format.settings.profile`. The **xml** assigns `org.eclipse.jdt.core.formatter.alignment_for_parameters_in_method_de

[2019-06-01 22:10] snjeza commented on #945
See
https://www.wikihow.com/Change-the-Default-Format-Settings-in-Eclipse
https://stackoverflow.com/questions/23153805/how-to-format-method-with-more-parameter-in-eclipse

[2019-06-01 22:39] chandr3sh commented on #945
Made it work! The required value is **82**.

**Solution:**
In summary putting these two settings <your_project>/.settings/org.eclipse.jdt.core.prefs will be enough.
[code]
_References_: [declaration setting](https://help.eclipse.org/mars/topic/org.eclipse.jdt.doc.isv/reference/api/org/eclipse/jdt/core/formatter/DefaultCodeFormatterConstants.html#FORMATTER_ALIGNMENT_FOR_PARAMETERS_IN_METHOD_DECLARA

[2019-06-01 22:39] #945 closed

[2019-06-03 18:06] rfgamaral commented on #177
@fbricon Any comments on the above?

I have this work project that places a few packages inside `target/generated-sources` and `target/generated-resources` and these are not being picked up by the plugin. Making it impossible for me to use VS Code with these Java projects.

[2019-06-03 18:38] rmannibucau commented on #177
Hello,

Any hope this issue gets addressed? It prevents to use java-templating plugin, CXF plugins, and a bunch of other plugins.

Thanks a lot for the hard work,
Romain

[2019-06-03 18:56] fbricon commented on #177
Sure, we'll investigate this in the near feature. Can't commit to a timeframe though.

[2019-06-03 19:02] fbricon commented on #177
Guys, if you want to make sure your use case is covered eventually, please add some small sample projects using various maven plugins contributing source folders.

[2019-06-03 19:22] rmannibucau commented on #177
@fbricon here it is https://github.com/rmannibucau/generated-sources-demo, just try to code/compile in Main.java through vscode (works in CLI), it will miss the two generated folder created by java-templating and wadl cxf plugin.

[2019-06-03 19:29] fbricon commented on #177
@rmannibucau I cloned it, ran a CLI, build, opened vscode, the sources folders have been added to the classpath automatically:

[code]

[2019-06-03 20:30] rmannibucau commented on #177
Hmm, does it mean it needs m2 lifecycle mapping plugin? Or do you use a dev version?
Can you also drop target/classes and give it another try?

[2019-06-03 21:26] fbricon commented on #177
for the sources to be regenerated on incremental build, an m2e lifecycle mapping/connector would need to be required yes.
But if the sources are generated outside vscode (CLI build for instance), in theory we should be able to recover from the compilation errors by refreshing the compilation units on the server side. But those generated sources are not detected because of a hack we had to introduc

[2019-06-03 23:46] fbricon commented on #944
@yaohaizh can you transfer that issue to vscode-java-debug?

[2019-06-04 09:14] rfgamaral commented on #177
I seem to have a slightly different issue, but related, I think.

I'm not a Java developer and my Java/Maven knowledge is very limited. But my team inherited this Java project which we'll be working on the frontend side only. The project works fine with IntelliJ and we can use that to work on the project but I'm trying to setup this with VS Code cause it's our editor of choice for frontend.

The p

[2019-06-04 15:28] colin-young commented on #495
I am able to reliable reproduce this problem by having both Maven and Gradle build files present in the solution. If I remove the gradle files (just by renaming them to bak.*) and perform a "Java: Clean the java language server workspace" and restarting, the issue goes away. Re-introducing the gradle files triggers the issue again.

I don't know enough (yet) about the maven or gradle, or the VS Co

[2019-06-04 19:00] fbricon commented on #177
No it's not a standard folder. Multiple plugins generate different content in subdirectories of ${project.basedir}/target/generated-sources. Having 2 plugins writing content to the same directory (target/generated-sources/java) might cause some issues (one plugin overwriting the other one's output)

[2019-06-04 19:05] fbricon commented on #495
@colin-young Gradle project import takes precedence over Maven's. You can decide to disable the Gradle project import by adding `"java.import.gradle.enabled": false` to your .vscode/settings.json file

[2019-06-04 19:45] rmannibucau commented on #177
This is a common default for annotation processors but not for generating sources plugin so nothing better than adding a source folder in vscode or supporting lifecycle mapping - but not sure it is that great to use eclipse here :s

[2019-06-04 19:56] rfgamaral commented on #177
Not sure what you mean by this, but I only have 1 plugin writing content to `target/generated-sources/java`, it's just not being picked up by `vscode-java` unless I make it aware with the `build-helper-maven-plugin` plugin configuration above.

[2019-06-04 23:51] ThadHouse commented on #507
We've been getting more and more complaints about this specific warning from our users. It seems kind of backwards that a warning specifically designed to suppress warnings is actually causing more warnings. I feel like that warning specifically should be silenced by default, because otherwise its backwards from what it actually is designed to do.

[2019-06-05 16:27] blimmer commented on #757
For me I pointed to the version in jenv for `java.home` in `settings.json`. For my machine, it looked like:

[code]

[2019-06-06 09:06] IzakMarais commented on #322
[This](https://github.com/redhat-developer/vscode-java/issues/344#issuecomment-432014850) fix that excludes the target folder from watched files seems to work.

[2019-06-06 15:45] johng42 commented on #785
Side note:  I was getting this error as well and triple checked everything above for env variables, etc...

The key for me was to launch VSCode as an admin.  At that point, everything started working.

Frustrating because setup/install specifically recommended NOT running install as an admin.

Hope this helps.

[2019-06-07 21:01] Palidino commented on #937
Any update on this or am I just out of luck? This problem still happens all the time while autocompleting all sorts of different things, and updating to the latest vscode didn't solve the issue.

[2019-06-08 05:20] SupinePandora43 commented on #396
guys, enter "AIDE" in Google Play Market! you'll find android studio which can be installed on android (also supports NDK and layout constructor!). if people(s) reimplemented gradle/android-layout-constructor/android-gradle-build-plugin on android!!! , how said @gggin :

[2019-06-08 12:54] JullsP opened #946 "Use the default GRADLE_USER_HOME if possible for Gradle wrappers and modules"
Gradle wrappers and modules are always downloaded in `GRADLE_HOME` instead of the usual `GRADLE_USER_HOME` in Linux.

##### Environment
- Operating System: `Xubuntu 18.04`
- Gradle & JVM version: `5.4.1` & `1.8.0_212`
- Visual Studio Code version: `1.34.0`
- Java extension version: `0.46.0`

##### Steps To Reproduce
1. Using the locally installed Gradle distribution in `GRADLE_HOME`, create a simp

[2019-06-09 05:38] KentVu commented on #396
I think we can just put a little more effort to:
- Run gradle (android plugin) to generate necessary codes (R class etc)
- Figure out all the classpath used by gradle and generate one our self?

[2019-06-09 05:41] SupinePandora43 commented on #396
which upstreams used in other ide's? like in android studio?
//so, currently i'm just porting my old android project (from AIDE) to gradle 5. (android studio installed!)

[2019-06-10 04:50] jdneo commented on #944
Might be related to this issue: https://github.com/microsoft/vscode-java-test/issues/42.

[2019-06-11 04:09] maxiwu commented on #667
After cleaning the language server workspace, the problem is solved.
But why? Are we depending on something outside of our source code to compile project? like classpath/source path settings?

[2019-06-11 07:43] behrangsa opened #947 "Could not run build action using Gradle distribution: Could not get unknown property"
If my `build.gradle` uses two external properties `artifactory_user` and `artifactory_password`, and I have them defined inside `~/.gradle/gradle.properties`, VS Code does not look them up and fails:

[code]

Error message:

[code]

##### Environment
- Operating System: macOS 10.14.5
- JDK version: OpenJDK 64-Bit Server VM (AdoptOpenJDK)(build 25.212-b03, mixed mode)
- Visual Studio Code version:

[2019-06-11 12:13] ennish opened #948 "Java Override annotation problem"
Issue Type: <b>Bug</b>

When I add a '@Override' annotation on the method I want to override, it tips: The method must override a supperclass method.

Extension version: 0.46.0
VS Code version: Code 1.35.0 (553cfb2c2205db5f15f3ee8395bbd5cf066d357d, 2019-06-04T01:17:12.481Z)
OS version: Windows_NT x64 6.1.7601

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM)

[2019-06-13 01:54] liudonghua123 commented on #446
It's nice to have this features.

[2019-06-13 06:50] pingu8007 commented on #754
I'm new to vscode-java and encountering similar problems. While I can solve it by add EVERY jar as a "lib" classpathentry, it seems vscode don't understand those "con" classpathentry (those build path configuration in eclipse).
Is it the same issue? Is it scheduled to be fixed (at the moment)?

[2019-06-13 11:43] Eskibear opened #949 "Cannot set up dev environment following contributing instruction"
I'm not sure if it's out of date, but following the instruction I couldn't manage to debug the language server. I find it's extremely hard to set up the dev environment **from scratch** (once successfully set up, it's much easier to configure it for a second time), which I think should be a big obstacle for the community to contribute to either eclipse.jdt.ls or this extension.

`eclipse.jdt.ls` i

[2019-06-14 07:16] SpenceUK commented on #641
Automatically fixing imports across the project and package declarations would be a killer feature for Java in vscode.

[2019-06-14 13:56] sandy081 opened #950 "Flag machine specific configurations like paths as machine scoped"
I am developer from VS Code and we introduced Machine Scope for configurations in [1.34](https://code.visualstudio.com/updates/v1_34#_machinespecific-settings) which will help in [remote set ups](https://code.visualstudio.com/docs/remote/remote-overview).

I would like to encourage extension authors to adopt to machine scope if you have any settings that you think they are scoped to machine like `

[2019-06-16 09:05] anthonyvdotbe opened #951 "Unexpected "JRE container" entry derived from pom.xml for Java SE 13"
When opening a Maven project which uses maven.compiler.source/target 13, the derived `.classpath` file uses `J2SE-1.5` as its JRE container, instead of the expected JavaSE-12.

In other words: if the value for the Maven compiler properties is unsupported/unrecognized, it should default to the highest currently-supported version. This is much more likely to be what the user wants/expects. For examp

[2019-06-17 08:10] anthonyvdotbe commented on #948
@ennish this is a standard message to inform you that the signature of the annotated method doesn't match any superclass method. If you're confident that the message is shown incorrectly, please provide the actual Java source code that demonstrates the issue

[2019-06-17 09:12] testforstephen opened #952 ""Extract Variable" returns a wrong cursor position"
As below, after "Extract Variable" operation is done, the cursor stops at a wrong place.
![extractVariable](https://user-images.githubusercontent.com/14052197/59592362-79ce7580-9122-11e9-9fa5-99f406ccf197.gif)

It's supposed to stop at the position of declaring the new variable `x`. Or at least, stop at the previous expression(The calling System.out.println(`xI`))

[2019-06-17 11:44] cyraid opened #953 "Constant blue line moving in explorer view."
There's constantly a moving blue line in the explorer view for my project (immediately under the word "explorer").

##### Environment
- Operating System: Windows 10
- JDK version: 8
- Visual Studio Code version: 1.35.1
- Java extension version: 0.46.0

##### Steps To Reproduce
1. Open project folder.
2. Watch blue line animate and never stop.

##### Current Result
Blue line animates (nice animatio

[2019-06-17 12:35] veredcon commented on #897
I have also the same issue. Is there any solution for it?

[2019-06-17 12:39] veredcon commented on #913
I get the same issue with the exact mentioned versions.

[2019-06-17 13:26] samba2 commented on #812
I have the same issue, the suggested workaround might help but in times of functional Java and Internal DSLs the VS Code auto formatter is actually hardly useful.

Please provide a solution for this. 🙏

[2019-06-17 15:12] veredcon commented on #305
Hi, We are facing the same issue. Changing to openjdk version "11.0.3" or  "1.8.0_212" did not fix the issue. The log file just log "...JavaLanguageServerPlugin is started" and after a while  is "...stopping..."

[2019-06-17 18:19] snjeza commented on #949
See https://github.com/redhat-developer/vscode-java/pull/646 and https://github.com/eclipse/eclipse.jdt.ls/pull/799

[2019-06-18 05:42] jdneo opened #955 "Find reference returned a wrong result"
##### Environment
- Operating System: Windows 10
- JDK version:  11.0.2
- Visual Studio Code version: 1.35.1
- Java extension version: 0.46.0

##### Steps To Reproduce
1. Open the [Spring-Petclinic](https://github.com/spring-projects/spring-petclinic) project
2. In `ValidatorTests.java`, add the following code
[code]
3. trigger `peek reference` on `this.test(1)`

##### Current Result
![image](http

[2019-06-18 06:42] donraj commented on #634
Any update on this issue? Seems like my scons build rules are finding multiple copies of themselves and conflicting!

[2019-06-18 09:21] Rollins-MAKUWA commented on #785
thank you.

[2019-06-18 13:55] testforstephen commented on #333
This can be done by invoking vscode command 'editor.action.rename' to trigger `rename` operation in client side. But it requires the jdt.ls server to compute the document location for the newly created function by "Extract to method" code action.

[2019-06-18 19:28] agsimeonov commented on #177
Similar issue here. We do a

[code]

When trying to run/debug tests from within VSCode that fall under `src/integration-test/java` the tests won't run.  Works just fine if I run them manually with maven in my terminal.

[2019-06-18 20:07] fbricon commented on #950
-1 on that change. I personally use different java.home settings per workspace folder, so this change will definitely break my workflow.

[2019-06-18 20:13] #949 closed

[2019-06-18 21:52] snjeza commented on #955
I can't reproduce the issue. There isn't KotlinDefaultMask.class in spring-petclinic.
@jdneo could you try to clean the workspace directory - https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#clean-the-workspace-directory

[2019-06-19 02:01] jdneo commented on #955
Hi @snjeza, I tried the clean workspace command but no help.

Some update: I cannot repro it on Mac. The problem occurs on my Windows Machine.

[2019-06-19 07:57] sandy081 commented on #950
It is always not suggested to make settings with path values to be customisable at workspace/folder level. Because these can be shared and so they do not make sense on a different machine.

We understand that users main intention is to override them at workspace/folder level as they want different libraries or versions for a workspace but not to share them. So, we are thinking of introducing non s

[2019-06-19 10:45] Saifulbappi opened #956 "compiler.err.doesnt.exist vscode"
[provide a description of the issue]

##### Unix
- MacOS Mojave version(10.14.5)
- JDK version:"1.8.0_60"
- Visual Studio Code version:1.35.1 (1.35.1)
- Java extension version:0.7.1

##### Steps To Reproduce
1. External Library is added in lib folder in the root directory.. in this project one library jar for  log4j is added. Project Run is producing result. But in App.java file
  import org.apach

[2019-06-19 12:54] fbricon commented on #956
Works for me. Try restarting vscode?

[2019-06-19 21:12] snjeza commented on #955
@jdneo  I can't reproduce the issue on Windows and Linux. Could you try to clone the spring-petclinic project to a new directory?

[2019-06-19 21:48] christarczon commented on #935
I'm having the same problem (and using the same workaround) with jaxb2-maven-plugin so it seems like a general issue with plugins that add source folders.

[2019-06-19 23:14] siddhantshah opened #957 "lineSplit option not working with .xml formatter file"
[provide a description of the issue]
lineSplit option not working with .xml formatter file

##### Environment
- Operating System: MacOS
- JDK version: 1.8
- Visual Studio Code version: 1.35.1
- Java extension version: v0.46.0

##### Steps To Reproduce
1. Create a java file and create a line with 100 characters
2. Set the lineSplit option in the xml file to be 80
<setting id="org.eclipse.jdt.core.f

[2019-06-19 23:56] snjeza commented on #957
@siddhantshah could you attach an example? I guess your file has some syntax errors.

[2019-06-20 01:22] jdneo commented on #955
After renaming the folder, the problem could not be repro anymore.

[2019-06-20 01:22] #955 closed

[2019-06-20 02:38] tylertian123 opened #958 "Javadoc @link tag highlighting broken when there are multiple on one line"
Javadoc `{@link}` tags are not highlighted properly when there are multiple of them on one line (only the first is highlighted and others are not).

##### Environment
- Operating System: Ubuntu 18.04
- JDK version: 11.0.3
- Visual Studio Code version: 1.36.0-insider
- Java extension version: 0.46.0

##### Steps To Reproduce
1. Open a Java file
2. Paste in the following Javadoc comment:
[code]
![im

[2019-06-20 02:53] fbricon commented on #958
looks like an issue with upstream's textmate Java grammar

[2019-06-20 02:59] Saifulbappi commented on #956
hi @fbricon , i've restarted it . Also rebooted pc !!  Attaching a screenshot.
![Screenshot 2019-06-20 at 8 56 43 AM](https://user-images.githubusercontent.com/5940938/59815174-a4464b80-9339-11e9-8eb9-46bd06dd3eec.png)

[2019-06-20 04:04] fbricon commented on #956
can you try [cleaning the server workspace](https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#clean-the-workspace-directory)?

[2019-06-20 04:10] fbricon commented on #956
Oh I now realize the error code `compiler.err.doesnt.exist` doesn't come from vscode-java. It might be caused by https://marketplace.visualstudio.com/items?itemName=georgewfraser.vscode-javac, which conflicts with vscode-java. So you should disable or uninstall it.

[2019-06-20 04:12] #956 closed

[2019-06-20 04:21] fbricon commented on #946
@snjeza please investigate. Need to compare with default buildship behavior

[2019-06-20 04:22] fbricon commented on #944
@jdneo can you transfer this ticket?

[2019-06-20 04:27] jdneo commented on #944
@fbricon I have no permission to transfer it. But the comments are referenced here: https://github.com/microsoft/vscode-java-test/issues/42#issuecomment-503836853

This issue could be closed I think.

[2019-06-20 04:30] fbricon commented on #919
It's actually debatable: https://stackoverflow.com/questions/5380177/final-arguments-in-interface-methods-whats-the-point.

Is this feature available in other IDEs?

[2019-06-20 04:32] fbricon commented on #931
@snjeza Is this another case of the formatter changes being seemingly ignored? (see #957)

[2019-06-20 04:38] fbricon commented on #928
Sorry but this goes waayyy beyond the current scope of this project. We currently don't have the resources/skills to work on such a feature, but if someone was willing to work on a vscode-java extension to provide such support (similar to the debugger/test runner), that could probably be doable (after significant investments).

[2019-06-20 04:38] #928 closed

[2019-06-20 04:45] #944 closed

[2019-06-20 04:53] fbricon commented on #920
@NikolasKomonen you can probably look into this one. See https://github.com/eclipse/eclipse.jdt.ls/blob/fc6b40e58808d23a324628a1e79e50f117c534de/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/handlers/WorkspaceSymbolHandler.java. Eclipse support FQCN searches so it must be doable.

[2019-06-20 04:54] fbricon commented on #920
@NikolasKomonen FYI, it's `Ctrl+T` to open this type search

[2019-06-20 09:30] adhieresthenes commented on #654
I've got same problem, but after I downloaded all java packages, i am trying to made folder first in other localdisk then placed file HelloWorld.java inside the folder. After that i  opening the folder with VSCode then tried to debug again.... then TADA.. your "HelloWorld" text will shown  on DebugConsole.  Good luck!

[2019-06-20 13:36] hlsawhney commented on #947
I am having the same issue, and I've seen it referenced on this issue as well: https://github.com/redhat-developer/vscode-java/issues/859

My workaround has been to hardcode the `artifactory_user` and `artifactory_password` properties, but not committing them to version control. But it would be nice if this extension handled this by default.

[2019-06-20 13:38] rynjwssl commented on #947
I am having the same issue, and I've seen it referenced on this issue as well: #859

My workaround has been to hardcode the artifactory_user and artifactory_password properties, but not committing them to version control. But it would be nice if this extension handled this by default.

[2019-06-20 15:27] siddhantshah commented on #957
So lets say if I have the line
if (request.getClusterConfiguration().getProfileModeCode().toString().equals("FS")) {
            instanceType = "i3";
        } else {
            instanceType = "r5";
        }

Since the if condition crosses 80 characters, the formatter should put it on the next line.

[2019-06-20 15:49] marvingreenberg opened #959 "Improvement: Classpath is Incomplete warning should give more context"
Issue #193 points out that this message can be less than helpful.  The wiki points out that this occurs when opening individual java files.  But the cases associated with this message suggest there are various other conditions - missing .project files, misconfigured .classpath, among others.  I have an environment where I open multiple project directories in a single vscode window.  I don't even k

[2019-06-20 16:25] bbeaudreault commented on #935
Also seeing this issue with immutables and a custom generated sources plugin. Both output to the generated-sources directory and it's really frustrating to have to add this config to all my project pom files, especially since it's only necessary for vscode

[2019-06-20 17:12] bbeaudreault commented on #935
Would it be possible to enable `Add Folder to Java Source path` option? This would also be non-ideal but it is a much better workaround than having to edit the pom.xml. At least this way we can keep our pom files clean and only impact vscode project files.

[2019-06-20 19:46] Nightenom commented on #919
Ok, regarding other IDEs - I'm not sure about idea but if it's there it's not enabled by default.
As I mentioned earlier, this can be solved via # 774 since my point is to save time, also it can help others when making a method to show them that it's critical to not change an argument

[2019-06-21 17:07] sryze opened #960 "It copies my entire project to bin/"
When I Ctrl+click on a symbol this extension creates a bin subdirectory and copies my entire project in there...

##### Environment
- Operating System: Windows 10
- JDK version: jdk1.8.0_181
- Visual Studio Code version: 1.35.1
- Java extension version: latest

[2019-06-21 17:22] piotrblasiak opened #961 "Aspectj compilation support"
Is this something that exists, and/or is planned?

[2019-06-22 22:03] kaffeekonverter commented on #946
Might be useful when investigating: Unsetting the `GRADLE_HOME` environment variable seems to fix this issue (temporary). For recent gradle versions, the [installation instructions](https://gradle.org/install/#manually) doesn't mention the `GRADLE_HOME` variable at all.

[2019-06-23 03:46] tylertian123 opened #962 "Javadoc @inheritDoc does not inherit parameter descriptions"
When method Javadocs are inherited through `{@inheritDoc}`, the parameter descriptions are not shown in the hover popups.

##### Environment
- Operating System: Ubuntu 18.04
- JDK version: 11.0.3
- Visual Studio Code version: 1.36.0-insider
- Java extension version: 0.46.0

##### Steps To Reproduce
1. Create a new Java file
2. Paste in the following code:
[code]
![image](https://user-images.github

[2019-06-24 03:47] suiwenfeng opened #963 "redhat.java crashed because of new Array with {}"
vscode-java will crash while we initialize array with {} in our code.

##### Environment
- Operating System: Linux
- JDK version: 1.8.0_201
- Visual Studio Code version: 1.35.1
- Java extension version: 0.46.0

##### Steps To Reproduce
1. private Integer[] affectType = {}; // add this line to any .java files of a valid java repo
2. vscode java debuger or lint won`t work any more.

[attach a sample

[2019-06-24 06:51] xdango opened #964 "Feature Request: organize imports with the asterisk (*) wildcard character"
It would be great to organize imports from same package with a single asterisk (*), which makes the import section a little shorter.

In `eclipse`, there are two settings related to this feature:
1. `number of imports needed for .* (e.g. org.eclipse.*)`
2. `number of static imports needed for .* (e.g. java.lang.Math.*)`

Unfortunately, these options are not available in the eclipse formatter xml f

[2019-06-24 18:49] donraj commented on #634
I think this is a serious issue, and unfortunately the only solution for me right now is to use idea. sorry VSCODE-JAVA

[2019-06-24 18:50] PhillipMwaniki commented on #328
You're the best.

[2019-06-26 09:13] bsaby opened #966 "Cannot really use the right jdk version without cleaning the workspace"
##### Environment
- Operating System: Windows
- JDK version: 1.8.0_211 and 12.0.1
- Visual Studio Code version: 1.35.1
- Java extension version: 0.46.0

##### Steps To Reproduce
1. Open a java12 invisible project
2. Change the local JDK version from 8 to 12
3. Reopen the project in VSCode again

[attach a sample project reproducing the error]
[invisble-project.zip](https://github.com/redhat-develo

[2019-06-26 14:02] rynjwssl commented on #947
I did end up fixing this, and I think it may be a good candidate to include the documentation for Gradle-based projects.

I had to overwrite my environment variable for `$GRADLE_HOME` to point to the directory where `gradle.properties` was defined, in this case, `~/.gradle`. Once I did that, it was able to pull the correct values and everything is working great.

[2019-06-27 07:26] #333 closed

[2019-06-27 07:26] #952 closed

[2019-06-27 08:31] keefbaker commented on #634
Agreed. Until this stops, this extension is basically unusable.

[2019-06-27 13:28] simahao opened #967 "source action->override/implement methods does not get correct name of arguments."
##### Environment
- Operating System:windows 10
- JDK version:1.8.0_101
- Visual Studio Code version:1.35.1
- Java extension version:0.46.0

##### Steps To Reproduce
1. source action->override/implement Methods
2. pick one method from lists

##### Current Result
![image](https://user-images.githubusercontent.com/4537287/60269797-b91a7480-9921-11e9-8c4a-36536384a7d4.png)
##### Expected Result
Name

[2019-06-28 03:03] neakor commented on #909
I would love to get this support as well please!

[2019-06-30 09:26] wwfalcon2008 opened #968 "Long pause when inputing ActionListener"
Issue Type: <b>Bug</b>

1. create a *.java file
2. import  java.awt.event.*;
3. create a demon class
4. create an ActionListener
Then there always be a long pause like more 5 or 10 seconds during th e automatic code completion hint poping out. the vs code ide will stuck there during that period.

Extension version: 0.46.0
VS Code version: Code 1.35.1 (c7d83e57cd18f18026a8162d042843bda1bcf21f, 2019

[2019-06-30 19:28] snjeza commented on #968
I can't reproduce the issue.
@wwfalcon2008 could you provide a project example?

[2019-07-01 10:57] bsaby opened #969 "Some error for foldingrange"
##### Environment
- Operating System: Windows
- JDK version: 12.0.1
- Visual Studio Code version: 1.35.1
- Java extension version: 0.46.0

##### Steps To Reproduce
1.  Open project 21.single-file.
2. Change String s = "1"; to String s = 1;

[attach a sample project reproducing the error]
https://github.com/microsoft/vscode-java-debug/tree/master/testprojects/21.single-file

##### Current Result
Er

[2019-07-01 17:02] ChinaXing commented on #305
shit plugin

[2019-07-01 23:12] siddhantshah commented on #957
Any update on this? @fbricon @snjeza

[2019-07-02 10:17] snjeza commented on #957
I can't reproduce the issue.
I have tried the following file:
[code]
The formatted file:
[code]

[2019-07-02 14:22] snjeza commented on #931
@rdcoe Could you try to use the following file - https://raw.githubusercontent.com/snjeza/vscode-test/master/eclipse-formatter.xml

[2019-07-02 15:25] veredcon opened #970 "Java Language Server is not always initialized successfully"
[provide a description of the issue]

##### Environment
- Operating System: debian
- JDK version: 1.8.0_192
- Visual Studio Code version: (theia)
- Java extension version: 0.46

##### Steps To Reproduce
1. [step 1] Open theia/vscode without creating any workspace yet

[attach a sample project reproducing the error]
[attach logs](https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#

[2019-07-02 17:16] siddhantshah commented on #957
Oh I saw the logs, there were some authentication issues with the URL. Thanks for the help. I apologize for this trivial issue.

[2019-07-02 17:16] #957 closed

[2019-07-02 18:30] snjeza commented on #970
@veredcon How did you run it?

[2019-07-02 19:20] achristianson commented on #177
Same issue with Apache NiFi: https://github.com/apache/nifi
It uses ANTLR to generate sources for its expression language DSL. It uses the ANTLR maven plugin:

[code]
It ends up putting generated sources in `target/generated-sources/antlrv3` which do not get picked up by VSCode.

[2019-07-02 20:31] raulAtNines commented on #909
After tinkering for hours, I have not yet been able to get vscode to launch & debug my java+bazel project. I can run in console no problem, but I also love this request to get bazel fully supported in vscode-java.

[2019-07-03 10:01] veredcon commented on #970
We are running the vscode extensions in theia 0.8.0 https://github.com/theia-ide/theia.

[2019-07-03 14:30] andys8 commented on #177
Have this in a project that is not working:

[code]

[2019-07-04 01:59] rdcoe commented on #931
No difference.

This:
createChatSchema( "CREATE SCHEMA IF NOT EXISTS chat;" +
                      "ALTER SCHEMA chat" +
                      "    OWNER TO postgres;" +
                      "CREATE TABLE IF NOT EXISTS chat.messages_as_json" +
                      " (id BIGSERIAL PRIMARY KEY, message JSON NOT NULL);" ),
    newMessageAsJSON( "INSERT INTO chat.messages_as_json (message) VALUES (

[2019-07-04 02:52] snjeza commented on #931
I can't reproduce the issue.

Could you set the following:
[code]
to your workspace settings.json.

[2019-07-04 07:16] MichelMelhem commented on #10
up

[2019-07-04 07:33] fbricon commented on #967
I can't reproduce that behavior. Can you please provide a sample project?

[2019-07-04 13:08] #946 closed

[2019-07-04 13:31] vitalyster commented on #862
Same issue with latest "Java development pack" just announced as standalone installer.
`is accessible from more than one module: <unnamed>, java.xml`

[2019-07-04 18:40] snjeza commented on #970
I can't reproduce the issue.
I have tried the following:
[code]

[2019-07-05 01:48] rdcoe commented on #931
Tried both user settings and workspace settings.  As soon as the Java Language Server starts, the formatter changes the code from the desired layout to the undesired default layout.  To be clear, I changed the setting, experimented with the formatter.  Saw undesired formatting.  Restarted code, waited for the JLS to start, formatted the file.  Always the same, no matter what I put in the formatter

[2019-07-05 02:21] rdcoe commented on #931
Did more experimentation.  I stopped using the GUI settings to set the value and instead edited the json directly.  When I opened the settings, I saw a key for maven that Code didn’t recognize, so I deleted it.  Then I moved the formatter setting to my user settings, removing it from my workspace settings.  I had to remove the key in the file that had a value of “”, which was an artifact left behi

[2019-07-05 13:10] fbricon commented on #913
I'm closing the many duplicates for this issue, please keep an eye on #112 for further informations

[2019-07-05 13:10] #913 closed

[2019-07-05 13:10] fbricon commented on #887
I'm closing the many duplicates for this issue, please keep an eye on #112 for further informations

[2019-07-05 13:10] #887 closed

[2019-07-05 13:11] fbricon commented on #609
I'm closing the many duplicates for this issue, please keep an eye on #112 for further informations.

[2019-07-05 13:11] #609 closed

[2019-07-05 13:13] fbricon commented on #305
I'm closing the many duplicates for this issue, please keep an eye on #112 for further informations.

[2019-07-05 13:13] #305 closed

[2019-07-05 13:23] fbricon commented on #112
To anyone seeing this issue, please report the logs you find in  your extensions folder:
`<home directory>/.vscode/extensions/redhat.java-***/server/config_<your_platform>/`

[2019-07-05 19:32] rdcoe commented on #931
Experimented with a different computer running the same versions of vscode and plugins.  Had the same problem with formatting, until I removed this user setting:    "maven.executable.path": "d:/cygwin64/home/rcoe/apache-maven-3.5.2/bin/mvn", According to this, https://github.com/Microsoft/vscode-maven/issues/79, the maven path is supposed to be supported.  If it is, then it breaks the formatter. 

[2019-07-05 22:14] fbricon opened #972 "Highlight code throwing exception"
From @lukaseder's [tweet](https://twitter.com/lukaseder/status/1147156405687848960):

    when I mouse-over a checked exception, it will highlight who could be throwing it.

I don't think we can trigger highlight on hover, but should be doable on click, on `throws`, the `catch` statement and its Exception

[2019-07-06 06:29] lukaseder commented on #972
Thanks for the reference. I mistakenly said "mouse-over". I meant putting the caret on an exception

[2019-07-08 10:45] janbodnar commented on #634
This is gross. Removed the extension immediately.

[2019-07-08 20:16] orblazer opened #974 "Enum : first item is not correctly hightlight"
Hello,
The color of first item when the enum overwrite is wrong

##### Environment
- Operating System: Windows 10
- JDK version: jdk1.8.0_212
- Visual Studio Code version: 1.35.1
- Java extension version: 0.46.0

##### Steps To Reproduce
1. Create an enum with function
2. Override that function in enum items

[attach a sample project reproducing the error]
[attach logs](https://github.com/redhat-d

[2019-07-09 03:28] manasbiparajuli commented on #785
thanks, @snjeza. Removing George's extension worked for me as well.

[2019-07-09 09:49] fbricon commented on #974
The textmate grammar is defined in [vscode itself](https://github.com/microsoft/vscode/blob/master/extensions/java/syntaxes/java.tmLanguage.json), but the source of the grammar is actually atom, so the problem should be reported there: https://github.com/atom/language-java/issues

[2019-07-09 11:32] anthonyvdotbe commented on #730
@augustocdias 2. and 3. are due to improper use of generics in the application code (see below). Since the only remaining issue is the incorrect JDK being used, I'd propose to close this issue and, if still reproducible with the latest versions, open a new issue for just that problem.

For 2, the line `private RecoveryCallback getRecovery() {` should be `private RecoveryCallback<Void> getRecovery(

[2019-07-09 19:35] augustocdias commented on #730
I agree with you that the code could be better but on the other hand I expect the IDE to report as errors what the compiler also reports. I would totally agree with this being shown as warnings, but not errors, since it compiles and runs.

[2019-07-09 20:46] shua commented on #634
Had to make `.classpath` read-only, because vscode kept overwriting the changed output directories with `bin`. Not a fan.

[2019-07-10 04:50] Eskibear opened #977 "replace package vscode with @types/vscode"
npm package `vscode` is deprecating. See: [v1.36 release note](https://code.visualstudio.com/updates/v1_36#_splitting-vscode-package-into-typesvscode-and-vscodetest)
Suggest to follow [migration guide](https://code.visualstudio.com/api/working-with-extensions/testing-extension#migrating-from-vscode)  to use `@types/vscode` instead of `vscode`

[2019-07-10 09:01] testforstephen commented on #641
See https://github.com/microsoft/vscode/issues/43768, vscode will fire an FileWillRenameEvent when the user is renaming or moving files in file explorer. By listening at this event, the language server is able to update package declaration and references.

Currently the change is proposed at vscode insider. When it's officially ready, it will unblock us on the refactoring features such as move/ren

[2019-07-10 10:16] jakegt1 commented on #943
Any update on this?

[2019-07-10 12:39] hemangjoshi37a commented on #868
I have same issue. Anyone have found any solution yet?

[2019-07-10 14:23] SeriousMan-NJ commented on #897
I faced the same issue, and solved by entering "Java: Clean the java language server workspace" In the Command Palette. I hope this might help..

[2019-07-10 21:10] a01fe opened #978 "Java language support for embedded Gradle plugin"
I have a Gradle project with an embedded plugin in `buildSrc` that has Java code in `buildSrc/srcmain/my/package/Foo.java`. When I open these Java files, a "Foo.java isn't on the classpath" notification pops up and things like Oragnize Imports and javadoc hovers don't work.

It would be awesome if vscode-java would recognize `buildSrc` in a Gradle project so language support would work in plugin s

[2019-07-10 23:15] snjeza commented on #978
@a01fe you can try the following build.gradle:

[code]

[2019-07-11 09:34] fbricon commented on #943
You can try the latest CI build of the vscode-java extension from https://download.jboss.org/jbosstools/jdt.ls/staging/?C=M;O=D, and see if the new gradle preferences added via #973 are any useful:

[2019-07-11 13:42] Ccanetsu commented on #112
My win7 PC installed jdk  with (jdk1.8.0   and  jdk1.8.0_121 )
First , I used the jdk1.8.0  to config the setting.json (java.home), the problem was happened.
But ,when I used the   jdk1.8.0_121  to config it , the plugin can work as expected.

[2019-07-11 15:57] stodge commented on #823
Any updates on this? Similarly, will this fix moving packages where source files that import the package aren't updated? It's hard to push for adoption without these features. Thanks.

[2019-07-11 20:36] acohen716 commented on #634
Any update on this almost 1 year old issue? I've resorted to @ewired [suggestion above](https://github.com/redhat-developer/vscode-java/issues/634#issuecomment-450518553)

[2019-07-12 04:28] HarveyTvT commented on #894
@A

if you are working on a java project with multiple sub-projects, you can try to copy org.eclipse.jdt.core.prefs to each sub-projects`s .settings folder

./main-project
----./.settings
----./sub-project
--------./settings
------------./org.eclipse.jdt.core.prefs

[2019-07-12 08:52] #780 closed

[2019-07-12 12:05] DaniGTA opened #980 "More refactoring for functions"
I want too move some functions too another class with a refactoring method, so that the imports are automaticly are made.

Like in other IDEs

[2019-07-12 12:47] akaroml commented on #980
We are working on it. @testforstephen

[2019-07-12 14:56] mkpaz commented on #618
Please, find a way to keep those files somewhere else. It's extremely annoying. I'd rather uninstall this extension completely then allow to keep them in project root. VSCode isn't IDE, so it's supposed to be lightweight, which also means no bloated project files and metadata as well.

[2019-07-12 15:24] marvingreenberg opened #982 "Question: Is there a way to specify -source and -target for javac with VScode"
[provide a description of the issue]

##### Environment
- Operating System: MacOS,
- JDK version: Java 11
- Visual Studio Code version: Version 1.35.1 (1.35.1)
- Java extension version: Language Support for Java(tm) 0.46.0

##### Steps To Reproduce
Allow VScode to build a project.  JDK11 is installed and found on path, and is used for builds.  Classes generated have class target 55.0
I want to hav

[2019-07-12 15:27] fbricon commented on #982
Your best best for now is to use Maven or Gradle to define source/target

[2019-07-12 15:31] marvingreenberg commented on #982
Unfortunately we're not using those - a custom build system based on ANT.  Builds using "our" build system are correctly setting -source,-target but when VScode compiles the files (because of changes) they get generated with an inconsistent target version.  Do you know an appropriate setting in the "eclipse" .classpath or .project?   We are generating those
so that vscode understands our dependenc

[2019-07-12 15:37] marvingreenberg commented on #982
I changed this to a feature request, since that seems reasonable.

[2019-07-12 15:52] fbricon commented on #982
In that case you need to generate .settings/org.eclipse.jdt.core.prefs files containing

[code]

[2019-07-14 23:36] snjeza commented on #960
Related issue - #634

[2019-07-15 04:14] talios commented on #634
I get this often and it's annoying as (#*$&#(# - esp. since it also copies .git folders into bin which REALLY mess up some tooling.

[2019-07-15 04:15] talios commented on #634
@acohen716 the problem with @ewired's "solution" is you'd need to commit those .classpath files for those changes to persist. That's a worse sin in my book.

[2019-07-15 05:28] Eskibear commented on #634
Based on hypothesis mentioned in https://github.com/redhat-developer/vscode-java/issues/634#issuecomment-489916039 above, I'm wondering if it would be a good solution that:
- If language server doesn't know how to compile as resources, **stop doing further unexpected actions**, simply notify the client (VSCode) about it.
- Then the client can prompt with the error, providing users a shortcut/guida

[2019-07-15 10:18] jakegt1 commented on #943
Doesn't seem to fix it unless you have a command that might work - i simply tried to set `-DsystemProp.http.nonProxyHosts` in the vm arguments.

Quite a confusing issue if im honest, i really don't know why setting the system properties inside the language server doesn't work. It respects http_proxy and https_proxy, it just doesn't respect no_proxy (or nonProxyHosts).

[2019-07-15 13:11] snjeza commented on #943
@jakegt1 You can try the latest CI build and set the following property:

[code]

[2019-07-15 13:40] jakegt1 commented on #943
ye, i noticed i said `-DsystemProp.http.nonProxyHosts`, but i did actually try the above line you have just provided (it didn't work). Still returns a 502 (becuase it tries to route through the proxy.)

[2019-07-15 13:43] jakegt1 commented on #943
Sorry about this, it actually works now. Does it need a java language server clean up before it picks up the changes or something? I'm unsure why it did not work the first time, but it does now.

[2019-07-15 13:46] jakegt1 commented on #943
So to finally confirm: fix for this is to set `-Dhttp.nonProxyHosts` in the "java.import.gradle.jvmArguments" section.

To note otherwise though, this feels like a bit weird due to me having these set inside my `gradle.properties` file in my GRADLE_USER_HOME, so i'm unsure why that just isn't picked up instead. Maybe possible to do?

[2019-07-15 13:49] snjeza commented on #943
@jakegt1 could you provide a project example?

[2019-07-15 14:10] jakegt1 commented on #943
Not really, but a base gradle project (just run `gradle init`) is (almost) enough to reproduce this, with the following two caveats:

1. Set the gradle-wrapper distributionUrl to a location that requires no_proxy set (or add a java dependency with the repository url that requires the same)
2. Use a proxy.

I expect you could reproduce this by using a proxy in docker (just make it return 502 on any

[2019-07-15 15:53] snjeza commented on #943
It would be helpful.

[2019-07-15 16:02] apsmono commented on #690
what did you mean by this??

[2019-07-16 01:44] iKoru opened #983 "Feature request: Using maven settings to get java dependencies"
##### Environment
- Operating System: Windows 7 (32bit)
- JDK version: Oracle JDK 1.8.0.201
- Visual Studio Code version: 1.35.1(user setup)
- Java extension version: 0.46.0

##### Steps To Reproduce

-  Note that my developing environment is **offline**, and I am using sonatype nexus to get many java dependencies.

- I got useful extensions: vscode-java(red hat) and maven for java(MS).

- I set u

[2019-07-16 03:00] snjeza commented on #983
You can try to use the java.configuration.maven.userSettings property.

[2019-07-16 04:22] iKoru commented on #983
OMG... the property on my workspace settings was
"path/to/settings/file/directory"
and when I changed it as
"path/to/settings/file/directory/settings.xml"
it works very well.

Thanks @snjeza !!!! you saved my 4 days!!!

[2019-07-16 04:22] #983 closed

[2019-07-16 12:36] fbricon commented on #951
upstream issue: https://bugs.eclipse.org/bugs/show_bug.cgi?id=549312

[2019-07-16 18:08] fbricon commented on #951
The fixed m2e version is now consumed by jdt.ls (https://github.com/eclipse/eclipse.jdt.ls/commit/c966395a263bf6053be110b313b5bd00d246508a)

[2019-07-17 05:31] JonathanShor opened #984 "Copies entire project to VSCode workspaceStorage. Doesn't cleanup on Uninstall"
Upon opening the single .java file in the repo, this extension (secretly, as far as I'm concerned) copied the entire workspace file tree to VSCode's workspaceStorage. This duplicated 50GB, including (obviously) many files with no relationship to java. Not sure what the rationale for copying every file could be...
but at the very least, clean everything up upon uninstall guys.

##### Environment
-

[2019-07-17 05:31] JonathanShor commented on #984
Related to #960 and #634 maybe?

[2019-07-17 06:53] BlazerYang commented on #660
same problem, any solution yet?

[2019-07-17 08:14] akaroml opened #985 "Log file to record client errors"
Like language server logs, vscode-java can have a log file to record errors that happen at the client side.

Currently, users have to open the console to extract the logs as described in https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#get-the-vscode-java-logs

This can be improved by having a command "Java: Show language client log file" to make it easier and increase the poss

[2019-07-17 08:19] fbricon opened #986 "Code actions are not returned when context.only parameter is not empty"
Recent builds of vscode now send code action requests containing a context.only value, like:

[code]

In https://github.com/eclipse/eclipse.jdt.ls/blob/master/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/text/correction/SourceAssistProcessor.java#L158, context.only values are compared to the code action kind as a whole, instead of checking if the kind has a valid prefix. As a resul

[2019-07-17 09:01] #977 closed

[2019-07-17 09:13] fbricon commented on #984
@JonathanShor this kinda relates to those issues but it's a bit different. When you open a single java file, the language server treats its folder as a java source folder, which is then processed in the language server's workspace (in workspaceStorage). the workspace storage is never cleaned because it's faster to reuse it the next time you reopen your folder.

@testforstephen @yaohaizh we should

[2019-07-17 09:15] fbricon commented on #984
@testforstephen @yaohaizh is there's an API to process stuff during extension uninstallation?

[2019-07-17 17:13] #985 closed

[2019-07-17 17:59] fbricon commented on #333
Screencast of rename after refactoring in action:
![](https://user-images.githubusercontent.com/14052197/60074929-b0297780-9756-11e9-96c1-99907bee918c.gif)

[2019-07-18 04:47] Eskibear commented on #836
I was always wondering why the library `find-java-home` could not recognize a newly installed Oracle JDK, until I step into the code. With some simple testing, I find several issues:  https://github.com/jsdevel/node-find-java-home/issues/19

[2019-07-18 06:12] beyond369 opened #990 "Please support tomcat servers for the development environment of Spring MVC.Spring MVC in China accounts for more than 70% #379"
Please support tomcat servers for the development environment of Spring MVC.Spring MVC in China accounts for more than 70% #379

[2019-07-18 08:57] fbricon commented on #990
Closing as spam
<img width="1103" alt="Screen Shot 2019-07-18 at 10 55 25 AM" src="https://user-images.githubusercontent.com/148698/61443865-9c82c280-a94a-11e9-8ec5-32fe27eb075a.png">

Moreover, this is out of scope of vscode-java, there's a vscode extension for that already: https://marketplace.visualstudio.com/items?itemName=adashen.vscode-tomcat

[2019-07-18 08:57] #990 closed

[2019-07-18 09:01] testforstephen commented on #984
Looks like there is a thread [vscode#45474](https://github.com/microsoft/vscode/issues/45474) to discuss adding an uninstall hook, but it's not supported yet.

[2019-07-18 09:23] ZhengJun003 opened #991 "The IntelliSense refactoring wrong code"
##### Environment
- Operating System: Ubuntu 16.04 LTS
- JDK version: 11.0.1
- Visual Studio Code version: 1.36.1
- Java extension version: [0.47.0](https://download.jboss.org/jbosstools/jdt.ls/staging/java-0.47.0-1658.vsix)

##### Steps To Reproduce
1. Input a function name and type '('
![image](https://user-images.githubusercontent.com/41051257/61445320-c3a7b700-a97f-11e9-84d9-4e00fe0e27af.png)

[2019-07-18 09:37] EricZhangzf commented on #951
Test this issue in my local machine, No matter what my local jdk version is(1.8, 11, 12), The .classpath file always:
[code]

[2019-07-18 09:38] lzxz1234 opened #992 "How to modify jdt compiler into javac compiler"
Can not compile projects with custom annotation processor based on `com.sun.tools`.

##### Environment
- Operating System: Win10
- JDK version: 1.8
- Visual Studio Code version:  1.36.1
- Java extension version: 0.46.0

##### Steps To Reproduce

In annotation processor project:
1. Define `CustomProcessor extends javax.annotation.processing.AbstractProcessor`
2. Construct JavacTrees by `com.sun.too

[2019-07-18 09:40] jackielii commented on #177
@fbricon Here is a grpc example: https://github.com/jackielii/grpc-java-example

The problem I see is not that the generated sources are not added in the .classpath, but the grpc files are not generated. Whenever I re-open the project, it removes the generated sources...

[2019-07-18 09:59] fbricon commented on #992
I'm not sure such thing is possible. I suggest you try in Eclipse and if it doesn't work (it probably won't), then open a ticket in JDT: https://bugs.eclipse.org/bugs/enter_bug.cgi?product=JDT. You should get a definitive answer.

[2019-07-18 10:10] Eskibear commented on #991
FYI I just find it randomly occurs. Also repro in v0.46.0 .

[2019-07-18 10:35] fbricon commented on #951
Ok, I think I know what the issue is. We select the highest execution environment, but there might not be an actual jdk backing it.

[2019-07-18 10:40] fbricon commented on #991
I think that's caused by the parenthesis autoclosing, the query must be sent to the server before the autoclose change as updated the compilation unit.

[2019-07-18 15:10] timfayz opened #993 "Auto-completion doesn't show inline documentation in the popup"
Issue Type: <b>Bug</b>

As you can see from the screenshot below there is no inline documentation available in the popup. Which I believe isn't expected behaviour.

![Screenshot from 2019-07-18 08-24-28](https://user-images.githubusercontent.com/6209197/61468332-c3aab580-a985-11e9-8d7b-1e67f6b8eb66.png)
(look at thin empty popup at the right of the list of suggestions)

At the other hand, auto com

[2019-07-18 15:20] fbricon commented on #993
make sure you installed the jdk sources

[2019-07-18 15:22] fbricon commented on #986
All the quickfixes/code actions to extract to a field/var/constant from https://github.com/eclipse/eclipse.jdt.ls/pull/1088 are gone.

[2019-07-18 15:57] timfayz commented on #993
Thank you for the quick answer. I've installed recently - didn't help. This is what I have related to Java:
[code]

[2019-07-18 16:02] timfayz commented on #993
`openjdk-11-source` consists of 2 files:
[code]
All the sources packed inside the zip file.

[2019-07-18 16:03] fbricon commented on #993
See if https://github.com/redhat-developer/vscode-java/issues/689#issuecomment-434046529 is any helpful

[2019-07-18 16:08] fbricon commented on #986
Nevermind, my problem was that I was selecting `new Vets();` instead of `new Vets()`. That extra semicolon threw me off

[2019-07-18 16:08] #986 closed

[2019-07-18 16:15] timfayz commented on #993
Just perfect! It works now. Thank you for that hint! :)
This is what I did:
[code]

[2019-07-18 16:15] #993 closed

[2019-07-18 16:16] fbricon commented on #993
duplicate of #689

[2019-07-18 19:56] mrk-han commented on #618
This has been a huge pain for me -- it's even adding files to my android studio...

[2019-07-18 22:50] martin-jamszolik commented on #510
It also turns out that you can install a JDK and make it visible to a sandboxed application like an IDE with
`flatpak install flathub org.freedesktop.Sdk.Extension.openjdk11`
you can find it's installation at
`/usr/lib/sdk/openjdk11/jvm/openjdk-11`

Cheers!

[2019-07-19 10:50] goldpicker opened #994 "Test Explorer can't expand project"
Issue Type: <b>Bug</b>

When I open then Java project, in test explorer, can't expand it to run test.
when i expand, log is
[Error - 6:44:30 PM] Jul 19, 2019, 6:44:30 PM Problems occurred when invoking code from plug-in: "org.eclipse.jdt.ls.core".
Property must not be null: range
java.lang.IllegalArgumentException: Property must not be null: range
	at org.eclipse.lsp4j.util.Preconditions.checkNotN

[2019-07-19 11:52] fbricon commented on #994
It's a vscode-java-test issue: https://github.com/microsoft/vscode-java-test/issues/749

[2019-07-19 11:52] #994 closed

[2019-07-19 12:57] kuntergunt commented on #336
Try to disable virus scanning on the project folder if you trust the sources. That helped to speed up my build times a lot.

[2019-07-20 16:23] kinlhp commented on #993
In my case the @timfayz approach did not work, the file `src.zip`, where the symbol link points, does not exist:
[code]
The installation process was as follows:
[code]
And I have as a result:
[code]

[2019-07-20 16:25] kinlhp commented on #689
In my case the @praenubilus approach did not work, the file `src.zip`, where the symbol link points, does not exist:
[code]
The installation process was as follows:
[code]
And I have as a result:
[code]

[2019-07-20 18:10] snjeza commented on #993
@kinlhp you should install the source file using the following command:
[code]

[2019-07-20 19:56] kinlhp commented on #993
Thanks @snjeza, this works fine.
But I just did it:
[code]

[2019-07-20 21:33] praenubilus commented on #689
I think you also need
`sudo apt install openjdk-11-source`

[2019-07-21 13:09] kinlhp commented on #689
Hi @praenubilus, I follow this: https://github.com/redhat-developer/vscode-java/issues/993#issuecomment-513488225 .
Thanks.

[2019-07-21 16:18] anishmittal2020 opened #995 "M2E in VsCode (or terminal) as Apache Maven Eclipse Plugin has retired"
I have to update `.classpath`, `.project` and `.settings` for a Maven project in VS Code. I read that `mvn eclipse:eclipse` has been retired and I tried that but it doesn't gives me correct files.

How can I use M2E in VScode to regenerate these files? Or, how can I use M2E from the terminal (independent of IDE)?

##### Environment
- Operating System: Ubuntu 18.04
- JDK version: openjdk version "1

[2019-07-22 08:58] liuxk99 commented on #157
Edit the User Settings
~/.config/Code/User/settings.jason
`{
    "git.ignoreLegacyWarning": true,
    "workbench.colorTheme": "GitHub Plus",
    "editor.suggestSelection": "first",
    "vsintellicode.modify.editor.suggestSelection": "automaticallyOverrodeDefaultValue",
    "java.home": "/usr/lib/jvm/java-8-openjdk-amd64/"
}`

[2019-07-22 12:52] testforstephen opened #996 "typing constantly trigger validating documents/building workspace job"
In VS Code editor, just typing an empty line, the status bar constantly show `validating documents`, `publish diagnostics`, `building workspace`.  Reference the UX of Eclipse, typing there doesn't trigger building unless you save the file. So `building workspace` looks like an unnecessary step during editing. But if you trigger save action, it should be triggered if auto build is enabled.

[2019-07-23 04:42] testforstephen commented on #996
Another complaint from the user is `the status bar continuously flashes an update when typing code`.

[2019-07-23 05:35] yaohaizh opened #998 "Provide formatter for IntelliJ default format setting"
I have several projects using IntelliJ developed and the formatter using the default IntelliJ setting.

I would like to develop the code in VSCode Java( which i really love), but the formatting is a big blocking for me.  I don't want to mixed the formatting.

Hope VSCode to provide a convenient way to use default IntelliJ format settings.

[2019-07-23 08:47] Eskibear commented on #634
Here's another scenario blocked by the issue. I was working on a nodejs project in my workspace, then I dragged a `HelloWorld.java` in, pressed F5, and it just stuck on "compile workspace" for a long time (making no sense for the single .java file). Soon I realized it was copying the huge `node_modules` folder into the `jdt_ws/<workspace>/bin` folder.

Just FYI that this issue might be more severe

[2019-07-23 10:18] ksemba opened #999 "Quick fix - Auto-Import doesn't work"
##### Environment
- Operating System: VS Code is installed on Windows 10 but I'm **using the VS Code Remote Development extension on an Ubuntu 18.04**
- JDK version:
[code]
- Visual Studio Code version: 1.36.1
- Java extension version: 0.47.0

##### Steps To Reproduce
1. Create a basic Java file
2. Try to use some Java type that is not yet imported in that file. Example:  `ArrayList<String> test =

[2019-07-23 18:00] snjeza commented on #996
The issue happens because the document/didChange, document/didOpen and document/didClose commands run as a workspace runnable. The workspace runnable schedules AutoBuildJob. AutoBuildJob fires the PRE_BUILD and POST_BUILD events although a workspace build isn't called. See AutoBuildJob.doBuild(IProgressMonitor). That's way you can see the "Build Workspace" message in the status line although a wor

[2019-07-23 18:06] snjeza commented on #996
I have created https://bugs.eclipse.org/bugs/show_bug.cgi?id=549500

[2019-07-24 03:10] nemausus commented on #634
Extension is very promising but this issue is a big blocker for me as well.

[2019-07-24 04:17] csurfer commented on #634
I was quite hopeful of VSCode's remote ability. Since most of my work is on Java + Python it would have been the ideal solution. This aspect of unwanted files in the bin directory is an issue for me as well.

[2019-07-24 04:26] iorimoe opened #1000 "Can't import java.xml module with fop jar,error code is Java(8390063)"
##### Environment
- Operating System:Window 10
- JDK version:11
- Visual Studio Code version:1.36.1
- Java extension version:0.47.0

##### Steps To Reproduce
1. use org.apache.xmlgraphics.fop-2.3.jar
2. write test file to import org.xml.sax.SAXException or javax.xml.transform.*

the error message is:
The package org.xml.sax is accessible from more than one module: <unnamed>, java.xml Java(8390063)

[2019-07-24 06:15] testforstephen commented on #634
Currently JavaBuilder provides an option `CORE_JAVA_BUILD_RESOURCE_COPY_FILTER
` to exclude the specified resources. It supports a file name pattern (* and ? wild-cards allowed) or the name of a folder which ends with '/'.  For polyglot projects, you need list all possibles to exclude, it will be a burden.

Another idea is to add a new option (e.g. CORE_JAVA_BUILD_NO_RESOURCE_COPY) in the jdt core

[2019-07-24 06:36] fbricon commented on #1000
Can you zip and attach your project so we can reproduce the issue?

[2019-07-24 06:47] iorimoe commented on #1000
[test.zip](https://github.com/redhat-developer/vscode-java/files/3425346/test.zip)
demo for this issue.

[2019-07-24 08:36] fbricon commented on #1000
So here's the thing: in this case, it turns out the JDT compiler (and by extension vscode-java) is right, and the fact your project compiles with javac (and by extension Gradle and IntelliJ IDEA) is actually a bug. You can find the explanation in https://bugs.eclipse.org/bugs/show_bug.cgi?id=536928#c53.
Once https://bugs.openjdk.java.net/browse/JDK-8215739 is fixed, your project won't be able to c

[2019-07-24 08:36] #1000 closed

[2019-07-24 08:41] fbricon commented on #999
Does it work locally?
I'm currently unable to test remote development setups. @testforstephen @jdneo is this something you can verify?

[2019-07-24 08:42] fbricon commented on #999
The folding range error seen in the logs is irrelevant to the current issue.

[2019-07-24 08:48] ksemba commented on #999
@fbricon yes, it works perfectly when using it locally. It doesn't even require me to use the quick fix functionality as it will automatically add the new import as I type the new class I need to use - very nice feature! So maybe it is related to the remote development feature...

[2019-07-24 10:54] jdneo commented on #999
Just tried from my side. Could not able to repro. @ksemba Is the steps in the gif below correct?
![demo](https://user-images.githubusercontent.com/6193897/61788352-7d050180-ae44-11e9-9f9e-2b6d9b5d06dc.gif)

[2019-07-24 11:06] testforstephen commented on #999
i also tried, the auto import in quick fix works for VS Code Dev Container.

[2019-07-24 11:30] ksemba commented on #999
I just setup a brand new project with a single file and it also fails. Be aware that I'm using the **Remote Development** VS Code extension and I'm coding this on a remote Ubuntu 18 VM (not a Docker container).
You can see that after I insert the code and save the file, it adds the import for ArrayList - but not for List. I then use the quick fix functionality to auto-add the import which doesn't

[2019-07-24 16:46] davydden commented on #618
I am using VSCode only to edit (+intellisense) Java files in a very large project which has all the settings/project/config files. Asking Git to check them back every time is not really an option...

There should be an option not to create those files.

[2019-07-24 17:20] gdoenlen opened #1001 "Feature Request: SBT support"
FEATURE REQUEST: Support SBT projects.

I know you have no plans on supporting scala, but SBT can be used to build Java projects as well.
Currently no .classpath or related files are generated because there is no pom.xml or gradle build file and it requires the user to run the sbt eclipse plugin (https://github.com/sbt/sbteclipse/) manually to get these to generate for the java extension.

It woul

[2019-07-25 05:42] bonaluo opened #1002 "Tables are not properly rendered on Javadoc hover"
Issue Type: <b>Bug</b>

Doc cannot be displayed correctly
![image](https://user-images.githubusercontent.com/27731323/61848834-f6066680-aee1-11e9-9d4c-835819904358.png)
This should be a table.

Extension version: 0.47.0
VS Code version: Code 1.36.1 (2213894ea0415ee8c85c5eea0d0ff81ecc191529, 2019-07-08T22:59:35.033Z)
OS version: Windows_NT x64 10.0.17763

<details>
<summary>System Info</summary>

|

[2019-07-25 06:26] B1ex1ayU opened #1003 "Issue with JDK version changed"
I have installed JDK 12 before and the code can run well, but I need JDK 11 for some reason so I uninstall JDK12 and install JDK11. (and I have already changed the environment variable, JAVA_HOME to \jdk-11.0.4)

Then, my VScode can't run it...( I have tried to delete and create a new java file and run )
But it still works on cmd and Powershell with the right version of JDK.

![微信截图_20190725152140

[2019-07-25 06:36] testforstephen commented on #1003
Could you try VS Code command `Java: Clean the Java language server workspace`?

[2019-07-25 07:14] Nukepayload2 commented on #999
I have the same problem. "Add unimplemented methods", "Remove argument to match ...", "Create constructor" and "Add package declaration" are also not working. I'm not using remote development.

[2019-07-25 07:15] B1ex1ayU commented on #1003
it works! thanks!! @testforstephen

[2019-07-25 13:40] Somnium7 commented on #999
For me all "Quick fix" actions do not work (it simply does nothing). I have tried to disable all extensions except RedHat Java, but that does not help. I am using Spring Boot with Gradle. There are no errors in developer console.

[2019-07-25 14:41] Eskibear commented on #999
@ksemba I was following your steps in my remote Ubuntu, not repro.
<img width="766" alt="Screen Shot 2019-07-25 at 10 34 38 PM" src="https://user-images.githubusercontent.com/2351748/61883180-849fd580-af2c-11e9-8f17-9e524c123de3.png">
Based on https://github.com/redhat-developer/vscode-java/issues/999#issuecomment-514926736 , I guess it's not related to vscode remote.

I do encounter the case that

[2019-07-25 20:40] mickeysden opened #1004 "Go to Definition not working"
The feature to F12/Go To Definition doesn't work for java files/projects

This feature works on other languages like JS/C#/Python in the same version of vscode I have.

##### Environment
- Operating System: Ubuntu 19.04
- JDK version: 1.8_201
- Visual Studio Code version: 1.36.1
- Java extension version: 0.47.0

[2019-07-25 22:17] fbricon commented on #1004
Can you attach server logs?

[2019-07-26 00:50] guilhermefelipesilva commented on #112
The Language Support for Java server crashed 5 times in the last 3 minutes. The server will not be restarted.

java version "1.8.0_152"
Java(TM) SE Runtime Environment (build 1.8.0_152-b16)
Java HotSpot(TM) 64-Bit Server VM (build 25.152-b16, mixed mode)

Version: 1.36.1
Commit: 2213894ea0415ee8c85c5eea0d0ff81ecc191529
Date: 2019-07-08T22:55:08.091Z
Electron: 4.2.5
Chrome: 69.0.3497.128
Node.js: 1

[2019-07-26 01:41] snjeza commented on #112
@guilhermefelipesilva please see https://github.com/redhat-developer/vscode-java/issues/112#issuecomment-508757427

[2019-07-26 01:55] guilhermefelipesilva commented on #112
@snjeza it's my `HOME/.vscode/extensions/redhat.java-0.47.0/server/config_linux/config.ini`

`#This configuration file was written by: org.eclipse.equinox.internal.frameworkadmin.equinox.EquinoxFwConfigFileParser
#Thu Jul 18 12:42:21 EDT 2019
osgi.bundles=reference\:file\:com.google.gson_2.8.2.v20180104-1110.jar@4,reference\:file\:com.google.guava_21.0.0.v20170206-1425.jar@4,reference\:file\:com.g

[2019-07-26 03:20] Nukepayload2 commented on #999
@Eskibear
I have changed `java.trace.server` to verbose, but I can't share all of them. Because the trace log is too long and it contains sensitive information.

Steps:
Open quick fix on `Arrays`, and then click "Import 'Arrays' (java.util)".

Log:
[code]

[2019-07-26 06:17] heyarny opened #1005 "Find all references in Outline panel"
I'm using Lombok annotations to generate setters & getters and therefore I can't select setX or setY to find all references.
So if would be a little of help if you actually could add "Find all references" inside the outline panel, since they're listed there.

Or any other convenient way to find references to lombok generated properties.

[2019-07-26 06:52] Eskibear commented on #999
Focus on the codeAction response.
Below is my response of the import 'Arrays' code action. See if it has exactly the same structure (esp. command, documentChanges) with yours, and share the diff if there is.
If there's nothing wrong with the response, I think the culprit can only be either a) vscode issue, or  b) command `java.apply.workspaceEdit` issue.

<details>
<summary>log</summary>
<pre><cod

[2019-07-26 11:12] asfernandes opened #1006 "Selective import of multi-module pom"
I have multi-module maven project that in Eclipse I import selecting the projects I want to put in the workspace. When I do it, I remove some projects I do not need and some "-parent" projects of nested projects.

In vscode-java all projects are imported. There should be a way to select the project as in Eclipse.

[2019-07-26 11:41] jnesspro opened #1007 "Broken images in javadoc when images are included in source JAR"
When I hover cursor over the method I see docs. But images are broken, see screenshot
<img width="570" alt="Screenshot 2019-07-26 at 14 33 09" src="https://user-images.githubusercontent.com/5245360/61949296-09cdcd80-afb3-11e9-9a7c-0ac4351dde2b.png">

It is very useful to see this algorithm image in case of reactor project, but I can not with VSCode java

##### Environment
- Operating System:
MacOS

[2019-07-26 11:48] fbricon commented on #1007
mmm works for me on macOS
<img width="847" alt="Screen Shot 2019-07-26 at 1 47 27 PM" src="https://user-images.githubusercontent.com/148698/61949744-1569c600-afac-11e9-9942-cf9aaab59cfb.png">

[2019-07-26 11:51] fbricon commented on #1007
can you please provide the verbose [logs](https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#turn-on-message-tracing-between-vs-code-and-the-java-language-server), to see what is returned by the server on the hover request?

[2019-07-26 11:57] fbricon commented on #1006
Right now, the alternative is to exclude projects from import, with  the "java.import.exclusions" preference

[2019-07-26 12:05] jnesspro commented on #1007
Oh, thanks. Here they are, attached. It isn't working for me from the beginning. I also tried download clean vscode, installed only java extension pack, result still the same
[lang_server.log.zip](https://github.com/redhat-developer/vscode-java/files/3435661/lang_server.log.zip)

[2019-07-26 12:06] fbricon commented on #1007
please provide the **verbose** logs. ("java.trace.server":"verbose")

[2019-07-26 12:13] jnesspro commented on #1007
<img width="711" alt="Screenshot 2019-07-26 at 15 09 07" src="https://user-images.githubusercontent.com/5245360/61950738-76e36200-afb7-11e9-9a58-45dd7cd7cd53.png">

But logs look still the same. Ok. I will reboot few times

[2019-07-26 12:20] fbricon commented on #1005
@testforstephen is contributing commands to the outline view doable?

[2019-07-26 12:22] fbricon commented on #1004
You'll need to enable verbose tracing. See https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#turn-on-message-tracing-between-vs-code-and-the-java-language-server

[2019-07-26 12:25] jnesspro commented on #1007
and I see images with another ide. I also tried gradle / maven projects, still the same. I also removed gradle and .m2 caches too refresh all dependencies

[2019-07-26 12:25] fbricon commented on #1002
Can you provide a sample project reproducing this? AFAIK, the markdown support in hover is pretty limited in vscode, I wouldn't be surprised if it was by design.

[2019-07-26 12:28] fbricon commented on #1007
Please provide the full message logging in the **Output view** (select Language support for Java in the view menu)

[2019-07-26 12:29] bonaluo commented on #1002
You can hover on java.util.concurrent.BlockingQueue.
![image](https://user-images.githubusercontent.com/27731323/61951628-20404d00-afe4-11e9-93e7-f3719a252c5b.png)

[2019-07-26 12:31] jnesspro commented on #1007
[Trace - 3:30:16 PM] Sending request 'textDocument/hover - (43)'.
Params: {
    "textDocument": {
        "uri": "file:///Users/jness/Downloads/demo/src/main/java/com/example/demo/DemoApplication.java"
    },
    "position": {
        "line": 11,
        "character": 11
    }
}

[Trace - 3:30:16 PM] Received response 'textDocument/hover - (43)' in 39ms.
Result: {
    "contents": [
        {

[2019-07-26 12:35] fbricon commented on #1007
Ah now we can see the image link is not returned. Whereas I'm getting `![Image](https://raw.githubusercontent.com/reactor/reactor-core/v3.0.5.RELEASE/src/docs/marble/error.png)`

Which version of mono are you using? please share a standalone java project reproducing this issue.

[2019-07-26 12:38] jnesspro commented on #1007
yeah, I see. This is actual for any project with reactor, also I just tried start.spring.io web-flux.
I don't know any other java doc with images to check...
[demo.zip](https://github.com/redhat-developer/vscode-java/files/3435745/demo.zip)

[2019-07-26 12:38] fbricon commented on #1007
Ok I see the issue now. With 3.2.10.RELEASE, the image is embedded in the jar:
[code]

[2019-07-26 12:44] fbricon commented on #1007
to fix that we'd need to automatically extract embedded images and rewrite the image links for the generated markdown. Might be tricky

[2019-07-26 12:45] fbricon commented on #1007
@NikolasKomonen is this something you want to look at?

[2019-07-26 12:59] fbricon commented on #1002
Ok so I confirm vscode does support Markdown table syntax in typescript documentation, so that means jdt.ls returns really crappy Markdown for tables.

[2019-07-26 13:01] fbricon commented on #1002
@NikolasKomonen this might be tricky to fix as it's coming from remark directly, but you can take a look.

[2019-07-26 13:21] fbricon commented on #1002
Found https://github.com/giflw/remark-java/issues/9

[2019-07-26 14:14] NikolasKomonen commented on #1007
Looking into this one

[2019-07-26 15:26] bonaluo commented on #1002
But how to set it in vscode.

[2019-07-26 15:27] fbricon commented on #1002
@bonaluo you can't. This is an issue we need to fix in the Java language server

[2019-07-26 16:16] asfernandes commented on #1006
I tried to exclude two modules but only one was excluded.

[2019-07-26 16:29] bonaluo commented on #1002
Thanks for your help.

[2019-07-26 17:00] dsyer opened #1008 "Allow user to pick Gradle or Maven as build tool if it is ambiguous"
I noticed that if you open VSCode in a directory that has both Maven and Gradle build config it always starts up the Gradle daemon. I know it's a bit unusual, but we do it with all the Guides in Spring, for instance: https://github.com/spring-guides/gs-rest-service/tree/master/complete. I would like an option to pick either Maven or Gradle in such cases.

[2019-07-26 17:11] snjeza commented on #1008
You can try the following property:
[code]

[2019-07-26 17:30] dsyer commented on #1008
That helps thanks. Possibly related: the Gradle daemon never seems to die when the workspace exits. The LS process doe go away but Gradle is still running (and multiple instances build up over time).

[2019-07-26 17:33] dsyer commented on #1008
Actually, it doesn't help. The Gradle daemon is still there whatever I try to do:

[code]

[2019-07-26 17:41] snjeza commented on #1008
Can you kill the Gradle daemon?

[2019-07-26 17:45] snjeza commented on #112
Is there a *.log file in the HOME/.vscode/extensions/redhat.java-0.47.0/server/config_linux directory?

[2019-07-26 17:54] dsyer commented on #1008
I did. but it always comes back when I open this folder in code.

[2019-07-26 18:08] fbricon commented on #1008
Try to clean the workspace directory

[2019-07-26 18:14] dsyer commented on #1008
I vaguely remember you asked me to try that once before. Where is it? It’s something buried under a uuid-names directory somewhere in my home dir?

[2019-07-26 18:17] fbricon commented on #1008
- Open the command palette (F1)
- select Java: Clean the Java language server workspace
- click Restart and delete

[2019-07-26 18:18] fbricon commented on #1008
Deleting the eclipse .project files to remove the Gradle builder might be useful too

[2019-07-26 18:30] dsyer commented on #1008
That did it. Thanks. I had to kill the LS and the Gradle daemon again as well, but once all that was done it started to behave.

[2019-07-27 20:55] chag commented on #999
Using locally.  Quick Fix -> Import does nothing.  However Source Action -> Organize Imports works fine.

[2019-07-29 06:07] testforstephen commented on #1005
it's not supported yet. See issue https://github.com/Microsoft/vscode/issues/49925, https://github.com/Microsoft/vscode/issues/67935

[2019-07-29 08:06] ppatierno commented on #999
That's the same for me working locally.
Quick fix does nothing but clicking on the yellow light bulb and then click "Import ..." works.

[2019-07-29 08:33] Eskibear commented on #999
I find it's probably a VS Code issue... and Windows-only... See: https://github.com/microsoft/vscode/issues/77018

- [**Fail**] Quick Fix -> Import XXX
- [**OK**] Cursor on the line -> Click Yellow Bulb -> Import XXX

[2019-07-29 08:34] ppatierno commented on #999
I am on Fedora 29 so it seems not to be Windowd-only.

[2019-07-29 08:41] Eskibear commented on #999
@ppatierno I find QuickFix works well in Insider version. Guess it's fixed but not released yet?

[code]

[2019-07-29 09:36] ppatierno commented on #999
@Eskibear let's see :-)

[2019-07-29 13:14] mickeysden commented on #1004
Sorry for delay in response. See attached logs
[log.txt](https://github.com/redhat-developer/vscode-java/files/3442393/log.txt)

[2019-07-30 04:49] donraj commented on #634
Any updates @snjeza ? Thanks.

[2019-07-30 10:53] hornta commented on #634
Please stop cluttering my workspace with bin folder

[2019-07-30 22:43] jgarbers opened #1009 "Gradle dependencies for non-main sourcesets not processed"
##### Environment
- Operating System: macOS Mojave 10.14.5
- JDK version: 11.0.2
- Visual Studio Code version: 1.36.1
- Java extension version: 0.47.0

##### Steps To Reproduce
1. Open attached project in VS Code.

[gtest.zip](https://github.com/redhat-developer/vscode-java/files/3449109/gtest.zip)

##### Current Result
_gradle build_ completes successfully, but VS Code "Problems" pane reports thr

[2019-07-30 22:45] fbricon commented on #1009
Can you reproduce the problem in Eclipse?

[2019-07-30 22:45] jgarbers commented on #1009
Well,that was quick - thanks! Sorry, I don't have Eclipse installed, but if it would help in troubleshooting I can get it and try. Would you like me to do that?

[2019-07-30 22:49] fbricon commented on #1009
Yes please. None of our team members are in your timezone, so it'll help speed up troubleshooting when we come back online.

[2019-07-30 22:51] jgarbers commented on #1009
Just installed Eclipse 2019-06 (4.12.0) and opened the project. I am indeed getting the same three errors as I see in VS Code.

[2019-07-30 22:53] snjeza commented on #1009
I can reproduce the issue in Eclipse.

[2019-07-30 22:55] fbricon commented on #1009
@donat is this a known bug? Or should we open a ticket in https://github.com/eclipse/buildship/issues?

[2019-07-30 22:57] snjeza commented on #1009
@jgarbers you can try the following patch:

[code]

[2019-07-30 23:09] fbricon commented on #1009
Not sure the attached project is valid. It doesn't seem compiled from CLI. If you introduce a compilation error in the code and try a CLI build, you'll see no errors

[2019-07-30 23:18] snjeza commented on #1009
@fbricon you can try
[code]

[2019-07-31 00:02] jgarbers commented on #1009
@snjeza thank you so much - that took care of the problem! I figured there was a magic spell or two missing.

@fbricon sorry if it didn't build; I may have pruned away a bit too much in trying to provide a minimal example.

Wonderful support... thanks to both of you!

[2019-07-31 00:02] #1009 closed

[2019-07-31 08:56] testforstephen opened #1011 "Reduce the size of textDocument/codeAction response"
Currently when moving the cursor in the VS Code editor, lots of code actions are requested. It contains **QuickFix**/**Refactor**/**Source**, actually the VS Code UI only regards QuickFix and Refactor in hover. So returning **Source** is not necessary.

Another problem is the Refactor is displayed in the QuickFix bulb, is this sensible?

Also see the problem about eclipse.jdt.ls side. https://gith

[2019-07-31 14:19] hugarty opened #1012 "Shortcut: command java.actions does not work"
I'm trying use shortcuts to generate java code, but java.action isn't working

##### Environment
- Operating System: elementary OS 5.0 Juno (Ubunto 18.04.2 LTS)
- JDK version: openjdk 11.0.3
- Visual Studio Code version:  1.36.1;   2213894ea0415ee8c85c5eea0d0ff81ecc191529;   x64
- Java extension version: Java Extension Pack 0.7.1
- $JAVA_HOME: /usr/lib/jvm/java-1.11.0-openjdk-amd64/bin

##### Step

[2019-07-31 23:20] guilhermefelipesilva commented on #112
@snjeza there is no *.log file

[2019-07-31 23:32] guilhermefelipesilva commented on #112
I find it `[Info  - 8:24:32 PM] Connection to server got closed. Server will restart.
Error opening zip file or JAR manifest missing : /home/guilherme/.vscode/extensions/gabrielbb.vscode-lombok-0.9.8/server/lombok.jar
Error opening zip file or JAR manifest missing : /home/guilherme/.vscode/extensions/gabrielbb.vscode-lombok-0.9.8/server/lombok.jar
[Info  - 8:24:33 PM] Connection to server got clos

[2019-07-31 23:35] guilhermefelipesilva commented on #112
@snjeza
I was able to solve my problem, just install the lombook extension that worked

[2019-08-01 05:03] fwgreen commented on #831
With [Text Blocks](https://bugs.openjdk.java.net/browse/JDK-8222530) coming in Java 13, this feature could have real utility.  Maybe support for HTML should be considered as well.

[2019-08-01 09:08] moanrose opened #1014 "Java runtime (JDK, not JRE) could not be located - but it is installed with sdkman"
I am using sdkman to manage my sdk's including java

The extension does not seem to acknowledge my java sdk, even though the sdk should be present

`sdk current java
Using java version 8.0.212-zulu

echo $JAVA_HOME
/home/USER/.sdkman/candidates/java/current

ls /home/USER/.sdkman/candidates/java/current
ASSEMBLY_EXCEPTION
DISCLAIMER  LICENSE
sample
bin
include
man
src.zip
CLASSPATH_EXCEPTION_NOTE

[2019-08-01 09:16] fbricon commented on #1014
Did you install vscode with flatpack?

[2019-08-01 09:23] moanrose commented on #1014
I installed vscode using the "Ubuntu software" GUI - i am not sure if that is using flatpack under the hood

[2019-08-01 09:42] fbricon commented on #1014
try to set "java.home":"/home/USER/.sdkman/candidates/java/current" in vscode's settings.json

[2019-08-01 10:02] moanrose commented on #1014
Yes, that worked

Funny that vscode does not pick up the $JAVA_HOME - is that because its a "sandboxed" installation?

[2019-08-01 10:10] #836 closed

[2019-08-01 10:19] fbricon commented on #1014
most likely yes

[2019-08-01 11:30] #1014 closed

[2019-08-02 13:23] akaroml opened #1016 "Show client & server logs side by side"
Now we have both client and server logs. It would be great to have an entry to show both of them side by side for easier troubleshooting.

The same entry could also be the follow-up action whenever a critical issue occurs.

[2019-08-02 16:05] shua commented on #634
@donraj check out https://github.com/eclipse/eclipse.jdt.ls/pull/1108 for updates on fix

[2019-08-03 09:54] b-liberman commented on #204
I have version 0.47.0 and it is not working well.
For some classes - it works as expected, e.g.
![image](https://user-images.githubusercontent.com/22765155/62410373-f4752680-b5e4-11e9-80ef-75864818067b.png)

However, many times I have to type "*" in front and then type the complete name before it appears in the list, e.g.:
![image](https://user-images.githubusercontent.com/22765155/62410401-2b4b3c

[2019-08-03 12:23] fbricon commented on #204
Can you please attach a sample projects reproducing the issue?

[2019-08-03 15:10] b-liberman commented on #204
here is my gradle and vs code files
[vscode_204.zip](https://github.com/redhat-developer/vscode-java/files/3463974/vscode_204.zip)

[2019-08-03 15:51] #995 closed

[2019-08-05 04:49] testforstephen opened #1017 "Support move a class to a new package"
Support move to a new package (so currently not listed). Currently you need to create the destination package first, before executing the move command.

[2019-08-05 04:50] testforstephen opened #1018 "Support undo moves"
undo moves (that's a client side issue though). Currently you either need to perform another move to revert the changes or, if under an SCM, revert to the previous commit.

[2019-08-05 07:09] clankill3r opened #1019 "@interface breaks syntax highlighting"
When adding a @annotation interface the syntax highlighting breaks

- OSX 10.12.6
All latest versions of date of writing

correct:
<img width="209" alt="Screen Shot 2019-08-05 at 09 03 58" src="https://user-images.githubusercontent.com/738650/62445433-7b9ad980-b760-11e9-9d1f-e62cb6c8fe6b.png">

with annotation:
<img width="305" alt="Screen Shot 2019-08-05 at 09 03 13" src="https://user-images.gith

[2019-08-05 07:31] ooa123123 opened #1020 "Load javadoc via api or local file when hover"
[Hey, the excellent members of the vscode-java project team, this project is great, it helped me solve a lot of problems. The fly in the ointment is how to display javadoc through url api or local html file? Like eclipse.]

##### Environment
- Operating System:linux ubuntu18
- JDK version:1.8
- Visual Studio Code version:
- Java extension version:

##### Steps To Reproduce
no

Eclipse has this set

[2019-08-05 08:12] clankill3r commented on #1019
This one is even worse, notice that the commented line is not commented at all:

<img width="317" alt="Screen Shot 2019-08-05 at 10 11 14" src="https://user-images.githubusercontent.com/738650/62448998-69716900-b769-11e9-91aa-d7286cbab397.png">

[2019-08-05 13:38] fbricon commented on #1019
It seems this only breaks when the `@interface` is not a top level type.

The issue needs to be reported for the upstream textmate grammar for Java that vscode embeds. See:
- https://github.com/microsoft/vscode/blob/master/extensions/java/syntaxes/java.tmLanguage.json
- https://github.com/atom/language-java.

[2019-08-05 19:52] jmartin127 commented on #177
This issue is causing one of my team members to move off of VS Code as well.  We are using the gRPC protobuf plugin which places generated files here: `target/generated-sources/protobuf/java`.  These are picked up fine by Eclipse and IntelliJ just fine, but not by VS Code.

[2019-08-06 06:29] akaroml opened #1022 "Collect language client logs from output channel"
https://github.com/microsoft/vscode-languageserver-node/blob/db16b7f53b318e8ff44aa95ac8faa5e2486b63aa/client/src/main.ts#L405

The language client is using the default output channel to send diagnostic info. This type of info is also helpful for troubleshooting. This issue is to also capture that info and store in the client log file.

[2019-08-06 12:28] bonaluo opened #1023 "uncomment"
[provide a description of the issue]
how to uncomment the following code
![image](https://user-images.githubusercontent.com/27731323/62539770-949eaa00-b888-11e9-8e62-09a43eaf3b61.png)

##### Environment
- Operating System:
- JDK version:
- Visual Studio Code version:
- Java extension version:

##### Steps To Reproduce
1. [step 1]
2. [step 2]

[attach a sample project reproducing the error]
[attach

[2019-08-06 13:08] fbricon commented on #1023
You can comment/uncomment blocks of code with `ctrl+/` ,  but that only adds/removes `//`. There's no support to comment/uncomment javadoc/comment style comments.
Your best chance to uncomment to get rid of those is to use multi-column cursors: https://code.visualstudio.com/docs/getstarted/tips-and-tricks#_multi-cursor-selection

[2019-08-06 13:57] ctonsing commented on #700
Was a solution found for this. I have the same problem and none of these steps help. The extension is not usable at the moment in my case...

[2019-08-06 17:29] ezk2410 commented on #112
Strangely this did solve the problem

[2019-08-07 02:54] bonaluo commented on #1023
It works, but it's not that convenient.

[2019-08-07 09:24] clankill3r opened #1025 "support for <path>:<line>:<column>"
It would be really great if `<path>:<line>:<column>` was supported from using `System.out.println`. If it already is, then please provide a working example, cause I can't get it to work.

[2019-08-07 10:03] fbricon commented on #1025
I'm sorry I don't understand what you're asking. Is it about formatting the output (in which case that'd be something to ask at https://github.com/microsoft/vscode-java-debug/issues )? Is that feature available in other IDEs?

[2019-08-07 14:19] BobLuursema commented on #455
I am running into the same issue but specifying the keystore in `java.jdt.ls.vmargs` doesn't make a difference in my case. Currenty I have it specified as:

`"java.jdt.ls.vmargs": "-javaagent:C:\\Users\\m63j824\\.m2\\repository\\org\\projectlombok\\lombok\\1.18.8\\lombok-1.18.8.jar -Xmx512m -Djavax.net.ssl.trustStore=C:\\Users\\m63j824\\keystore -Djavax.net.ssl.trustStorePassword=password"`

Is th

[2019-08-07 14:27] fbricon commented on #455
@snjeza is this something you have tested?

[2019-08-07 17:48] snjeza commented on #455
It works for me.
I have tested in the following way:

[code]

[2019-08-07 19:20] snjeza commented on #455
@BobLuursema How have you created your keystore?

[2019-08-07 19:40] coopstah13 commented on #718
Can we reopen this? This is a feature of eclipse, so I'm presuming this can be done. Gradle does not allow for cyclic dependencies within configurations. As I understand it, the problem is that you need to be able to support multiple classpaths, one per gradle configuration basically. I know that eclipse cannot support this capability (IntelliJ does), I'm wondering if this extension could.

This i

[2019-08-08 00:43] akaroml commented on #1025
Is it to have some special symbols to reference the position info of current source file at compile time? Something like the `__FILE__` and `__LINE__` macros in C.

[2019-08-08 00:52] akaroml commented on #1023
This is actually interesting. Just checked LSP and seems the action of comment/uncomment is not part of it.

[2019-08-08 05:18] mayaswrath opened #1026 "All sources open as java even they are not."
Go to definition opens external sources as a .class file. As far as I can tell a file extension can only belong to a single language. In this case .class is related to java? The actual source file that corresponds to the .class file is not always a .java file. I suspect that if the source was opened as a .java, .scala, .clj etc... vscode would give proper syntax highlighting for the source

#####

[2019-08-08 06:44] BobLuursema commented on #455
@snjeza the Lombok jar shouldn't be related to the issue. To start from the beginning, in my POM I get errors due to the PKIX path building when Maven tries to access our internal Maven repository. To fix this I have downloaded our CA root certificate via Chrome and I have imported it in a keystore created via `keytool` and set my MAVEN_OPTS variable to `-Xmx512m -Djavax.net.ssl.trustStore=C:\\Use

[2019-08-08 09:14] #1016 closed

[2019-08-08 09:21] #1022 closed

[2019-08-08 22:48] snjeza commented on #455
@BobLuursema Could you check if your internal Maven repository has been properly configured at https://whatsmychaincert.com/?<your_server>
See an example of the correctly configured site - https://whatsmychaincert.com/?openshift.com

related issue: https://github.com/angelozerr/lsp4xml/issues/419

[2019-08-09 09:24] fbricon commented on #1026
I reckon this is problematic, but I'm not sure it's gonna be easy to fix. @NikolasKomonen will look into it

[2019-08-09 11:14] BobLuursema commented on #455
@snjeza unfortunately I can't use that as our Maven repository is not accessible from the public internet. But I can't imagine that being an issue since I have no issues when using Maven from the command line.

[2019-08-09 12:52] stodge opened #1028 "Suddenly unable to run any Java application in my workspace - "is not a valid java project""
I suddenly started getting an error "... is not a valid java project" whenever I try to run one of my launchers. I didn't change any vscode settings, code or workspace settings. This is a clean copy of my code. I tried updating vscode to the latest version but it still fails.

The developer tools show:

[code]

And:

[code]

I can't run any Java apps in my workspace. Thanks!

##### Environment
- O

[2019-08-09 13:29] stodge commented on #1028
I don't know if vscode updated one of the extensions, but the problem appears to be at the project is contained in a folder with an underscore: my_project, while the maven project is my-project. The launcher used to use m_project, but this no longer worked. So I changed it to my-project and it seems to work. Not sure why it stopped working, but it looks like I'm good again. :)

[2019-08-09 13:29] #1028 closed

[2019-08-09 16:48] snjeza commented on #455
@BobLuursema Could you set the following property:
[code]
and attach your [workspace log](https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#get-the-java-language-servers-workspace-logs).

[2019-08-10 21:58] Somnium7 commented on #999
1.37 version is released. Seems fixed now.

[2019-08-11 10:52] Nukepayload2 commented on #999
This problem is gone after installing the latest stable version.

[2019-08-11 11:32] fbricon commented on #999
Closing then

[2019-08-11 11:32] #999 closed

[2019-08-12 13:48] RuiffCardoso opened #1029 "Removing/Renaming a file with an error keeps error showing until restarting VSCode"
If you create a new file, make it show as error on problems tab, than renaming or deleting it, will persist that error on problems tab.

##### Environment
- Operating System: Windows 10
- JDK version: 1.8
- Visual Studio Code version: 1.37.0
- Java extension version: 0.47.0

##### Steps To Reproduce
1. Create a new file (Test.java)
2. Create a class in the file;
3. Create any kind of error inside

[2019-08-12 13:53] #1029 closed

[2019-08-13 06:53] testforstephen commented on #886
This is a bug of eclipse.jdt.ls. Go to implementation only works when selecting a method declaration, and doesn't handle well for the method invocation.

[2019-08-13 15:11] shawnweeks opened #1030 "Support Package Mismatch Create Folder Quick Fix"
Currently the only quick fix for a package name mismatch is to fix the package name. We should also support creating the folders and moving to the package spec like Eclipse and other IDEs support.

##### Environment
- Operating System: MacOS 10.14.6
- JDK version: 1.8
- Visual Studio Code version: 1.37.0
- Java extension version: 0.47.0

##### Steps To Reproduce
1. Create Java Class
2. add "packag

[2019-08-13 16:30] virtuahost commented on #909
Its very painful to work in a monorepo with vscode without this.

[2019-08-13 20:43] #886 closed

[2019-08-14 06:47] lkachun9129 opened #1031 "NoClassDefFoundError when running test inside a multi-project workspace"
When executing an unit test of Project A, the test failed due to a missing Java class definition from Project B.

##### Environment
- Operating System: RedHat Linux 7.6
- JDK version: RedHat OpenJDK 8 u212
- Visual Studio Code version: 1.37.0
- Java extension version: 0.47.0

##### Steps To Reproduce
1. Run `test001` of ServiceTestA in Project A

[sample-projects.zip](https://github.com/redhat-dev

[2019-08-14 09:30] testforstephen commented on #1012
`java.action.generateConstructorsPrompt` and `java.action.organizeImports` are private commands used by internal code, don't support trigger by shortcut yet.

For organize import, you should bind shortcut key for another global command `editor.action.organizeImports` instead.

[2019-08-15 04:45] #992 closed

[2019-08-16 09:38] bonaluo opened #1032 "unreadable codes"
Issue Type: <b>Bug</b>

unreadable codes
![unreadable codes](https://user-images.githubusercontent.com/27731323/63158786-9caad680-c04c-11e9-9f4b-d1275bf95ced.PNG)

Extension version: 0.47.0
VS Code version: Code 1.37.1 (f06011ac164ae4dc8e753a3fe7f9549844d15e35, 2019-08-15T16:17:55.855Z)
OS version: Windows_NT x64 10.0.17134

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|In

[2019-08-16 14:50] collinoswaltpsd opened #1033 "Resolving some but not all class files"
Using Maven

Some of our sources are generated and then compiled to a specified directory. When importing those classes, some of them resolve in the editor while others do not. They are in the same package in the same directory, but they are not being realized.

##### Environment
- Operating System: MacOS 10.14.6
- JDK version: 1.8.0_191
- Visual Studio Code version: 1.37.1
- Java extension versio

[2019-08-18 15:06] batraz90 opened #1034 "Autocompletion sometimes not working for method reference"
### Environment
- Operating System: Windows 10 Build 18362
- JDK version: 12
- Visual Studio Code version: 1.37.1
- Java extension version: 0.47.0

##### Steps To Reproduce
1. Pick a suggested method **by hitting enter**
2. Try to get a list of suggested method references

##### Current Result
![result](https://user-images.githubusercontent.com/27906867/63226442-d230fa80-c1d9-11e9-9484-570900c756b

[2019-08-18 18:12] gregd72002 commented on #667
I also seem to have this problem on one of the projects. Cleaning workspace does not fix it.

I can reproduce it every single time. It is a Maven project.

Just initialize this project in an empty folder:
[code]

Open in VSC and it wont work for me.
VSC: 1.37.1
vscode-java: 0.47.0

[2019-08-19 15:34] fbricon commented on #1031
@testforstephen can you please move this one to https://github.com/microsoft/vscode-java-test?

[2019-08-19 16:19] lkachun9129 commented on #1031
@fbricon I have already submitted an issue over there. However, it seems that the problem could be found in Eclipse too.  So I afraid that the problem is rooted in the Language Server.

FYI, here is the issue: https://github.com/microsoft/vscode-java-test/issues/775

[2019-08-19 16:39] fbricon commented on #1031
I see this relates to classifiers. This is not something m2e (in Eclipse) handles very well. I'd need to look into it

[2019-08-19 16:49] fbricon commented on #1032
Looks like is an encoding issue. I got some old prototype to allow selecting the source jar encoding, but I'm not sure it'd work here, since SoapMessages is a class from the JDK. Which version of JDK are you using exactly?

[2019-08-19 16:55] fbricon commented on #1033
Can you please attach a sample project? A copy of your pom.xml at least

[2019-08-19 18:34] okonon commented on #761
This would be awesome!

[2019-08-20 00:20] bonaluo commented on #1032
java version "1.8.0_221"
Java(TM) SE Runtime Environment (build 1.8.0_221-b11)
Java HotSpot(TM) 64-Bit Server VM (build 25.221-b11, mixed mode)

[2019-08-20 04:41] wwhyte-si opened #1035 ""Incomplete classpath" in ant project"
First time user of VS Code, and it's been some time since I last worked with Java, so apologies for any gaps in my knowledge. I have a project where a colleague set up an ant build file and I'm trying to build it in VS Code.  I'm getting the infamous "Classpath is incomplete" warning as described here: https://github.com/redhat-developer/vscode-java/wiki/%22Classpath-is-incomplete%22-warning.

The

[2019-08-20 14:23] niudai opened #1036 "Javadoc popups doesn't show documented annotation"
[provide a description of the issue]

##### Environment
- Operating System: Microsoft Windows 10 Pro Insider Preview
- JDK version: 1.8
- Visual Studio Code version: 1.3.7
- Java extension version: newest

##### Steps To Reproduce
1. Add an annotation to a class or a method, but the javadoc popup doesn't show the annotation.
![image](https://user-images.githubusercontent.com/44165182/63355601-f687

[2019-08-20 14:36] NikolasKomonen commented on #1002
Check here for the updated remark library that should fix this issue: https://mvnrepository.com/artifact/com.kotcrab.remark/remark

[2019-08-20 21:56] lonpalmer opened #1038 "organize imports selects wrong lib, no way to correct it"
When trying to use @Getter and @Setter from Lombok (lombok.Getter, lombok.Setter), the auto import feature keeps importing @Getter and @Setter from jdk.nashorn.internal.objects.annotations and gives me no opportunity to correct it.

##### Environment
- Operating System: Windows
- JDK version: 1.8
- Visual Studio Code version: 1.37.1
- Java extension version: 0.47.0

##### Steps To Reproduce
1. Mav

[2019-08-20 22:37] fbricon commented on #1038
Works for me. I don't even get Nashorn annotations proposed when autocompleting.
![lombok-ok](https://user-images.githubusercontent.com/148698/63389353-c39a3d00-c3ab-11e9-8cfe-b145eadeb051.gif)

Can you share a sample project (including .classpath, .settings/) reproducing the error?

[2019-08-20 22:49] lonpalmer commented on #1038
I don't get the red underlines like you do. It simply organizes my imports automatically.  Do you have "automatic organize imports" enabled in your config?

[2019-08-20 22:54] lonpalmer commented on #1038
Also, this may have to do with me using Spock (Groovy) in my project.  I think they might use Nashorn as a script runner and that might be where the imports engine is getting confused.

[2019-08-20 22:57] fbricon commented on #1038
I set "java.saveActions.organizeImports": true, but I don't have autosave enabled.
The funny thing is, when running with JDK 1.8, I get no automatic import on save (there must be some ambiguous results), but it works with JDK 11.

Again, a sample project reproducing the issue would help

[2019-08-20 23:14] lonpalmer commented on #1038
After a few restarts and some refactoring to try to send you code, I now see what you're seeing.

I'm not getting automatic organize imports any more, but I am getting the chance to pick "lombok.Getter" when I click the yellow light bulb.  Still want the sample project?