[2017-11-01 14:25] fbricon commented on #352
This works fine in Eclipse, so definitely a bug in jdt.ls side

[2017-11-01 14:43] fbricon commented on #331
I can't get it to create `src/main/resources/archetype-resources/target` (which would be wrong), however setting java.configuration.updateBuildConfiguration to automatic makes jdt,ls go into an infinite loop of project updates, which is definitely wayyyy more wrong

[2017-11-01 17:22] snjeza commented on #351
@fbricon I have created the branch - https://github.com/snjeza/vscode-java/tree/textmate that overrides the VS Code Java syntax highlighting and uses the original textmate syntax highlighting - https://github.com/textmate/java.tmbundle.

[2017-11-01 22:13] #331 closed

[2017-11-02 01:48] #183 closed

[2017-11-02 09:29] testforstephen opened #355 "Update jdk and old workspace still points to the stale JRE system libraries"
Steps to reproduce:
1. Install jdk1.8.0_131 in windows 10, and set JAVA_HOME and Path environment variables.
2. Install latest vscode-java extension in vscode, and open a java 8 maven project.
3. F12 at `java.io.PrintStream.println`, jump to editor `contents/rt.jar/java.io/PrintStream.class`.

4. Install the latest jdk-9.0.1 and update JAVA_HOME and Path environment variables.
5. Restart vscode wi

[2017-11-02 11:35] snjeza commented on #342
See https://github.com/eclipse/buildship/issues/605#issuecomment-341342391

[2017-11-02 11:35] #342 closed

[2017-11-02 13:12] gorkem commented on #295
In this case `git` uri may actually be pointing to a different file than the one on the project tree. To handle this properly we probably need to be able to read the file from git's index.

[2017-11-02 16:47] josh-tepper commented on #295
Yeah -- I can see that this might not be so feasible.

Would you consider, at the very least, producing some sort of error to indicate to the user why the definition is not being resolved?

[2017-11-02 17:21] jgeorgeson commented on #331
Thanks, can confirm I'm not seeing that target folder show up under src/main/archetype-resources anymore in 0.13.0.

[2017-11-03 20:16] fbricon opened #356 "Server fails to start with JDK 10ea"
<img width="1017" alt="screen shot 2017-11-03 at 4 15 28 pm" src="https://user-images.githubusercontent.com/148698/32394084-55292898-c0b2-11e7-83dd-f7c4af4d6ee3.png">

[2017-11-03 20:19] fbricon commented on #356
Tsktsktsk

https://github.com/redhat-developer/vscode-java/blob/ce3eedb68f821e63aa50dae88f70eb72baecd839/src/requirements.ts#L82-L84

[2017-11-04 15:26] Akuukis commented on #91
I have the same problem.

1. today installed fresh debian 9 + GNOME
2. installed openJDK 8 and gradle via apt-get (along a lot other not related packages)
3. installed code and it's extensions (along a lot other not related extensions)
4. `gradle init --type java-library`
5. Saw this `package org.junit doesn't exists` in test file but `gradle test` works
6. Edit, click around, paste in my own file

[2017-11-04 15:32] Akuukis commented on #91
I found that solution is to disable/remove another extension "Java Language Support".

Sorry for writing in the wrong place!

[2017-11-04 20:19] gorkem commented on #221
I think we can close this. We have a solution at https://github.com/gorkem/jdt.ls.pde

[2017-11-05 02:54] ZZYSonny opened #358 "How can I setup classpaths on win so that vscode won't warn me about incomplete classpath in my java project created by eclipse"
##### Environment
- Operating System: Win10 16299.19
- JDK version: Java SE Development kit 8 update 152
- Visual Studio Code version: 1.17.2
- Java extension version: 0.13.0

##### Steps To Reproduce
1. create a project through eclipse, add .vscode folder inside
2. open any of .java file

##### Current Result
I get classpath warning on Windows but not on Mac with the same project.
 I didn't ignor

[2017-11-05 15:26] snjeza commented on #345
I can't build this project.

<details>
<summary>gradle build</summary>
[code]
</details>

@rubin55 could you try to add the following to build.gradle:

[code]

[2017-11-06 00:59] sundayoyeniyi opened #359 "Internal error when starting JLS with JDK 9"
The JLS is not starting up and dumping errors at 22%.  The JLS error logs indicate an illegal argument exception java.lang.IllegalArgumentException: Could not determine java version from '9.0.1'.  See error log below:

- Is this vs code extension able to support **Java 9** at this stage or must I use Java 8 in the interim?
- Is there any workaround?

##### Environment
- Operating System: Mac OS X

[2017-11-06 01:38] fbricon commented on #359
There's a good chance this is caused by jdt.ls using its embedded Gradle version, not compatible with Java 9, instead of picking up the system Gradle. Did you set GRADLE_HOME as an environment variable?

The best, cross-platform way to ensure a Java 9 compatible version of Gradle will be used, is to use the Gradle wrapper.

If that's not an option and GRADLE_HOME envvar doesn't work, you can still

[2017-11-06 02:35] sundayoyeniyi commented on #359
@fbricon - thanks for your response.

1.  I set the GRADLE_HOME  environment variable but the same problem persists
2.  I set "java.jdt.ls.vmargs": "-noverify -Xmx1G -XX:+UseG1GC -XX:+UseStringDeduplication -DGRADLE_HOME=/usr/local/bin/gradle", but the same problem persists

I am able to build/test my project with gradle from the command line and it is the Language Support for Java (JLS integratio

[2017-11-06 06:52] YLiLarry commented on #328
Same problem here. I'm using Gradle. Is there any way I can set it up or suppress the error?

[2017-11-06 17:28] gorkem commented on #346
closing since no activity

[2017-11-06 17:28] #346 closed

[2017-11-06 19:00] #356 closed

[2017-11-08 04:12] fly1n commented on #352
Is this bug fixed in 0.13.0? I still have this bug.

[2017-11-08 14:04] fbricon commented on #352
Yes it's supposed to be fixed. Can you still reproduce this issue consistently?

[2017-11-08 14:08] fly1n commented on #352
Yes. I tried several times. This bug still appear consistently. I am using OpenJDK8_151 now.

[2017-11-08 14:24] fbricon commented on #352
@fly1n  please set `java.trace.server` to `verbose` in VS Code's preferences, so we can trace messages exchanged between the server and VSCode. Then you can attach your VSCode logs (see Language Support for Java in the  Output view)

[2017-11-08 14:29] fly1n commented on #352
[vscode_log.txt](https://github.com/redhat-developer/vscode-java/files/1454240/vscode_log.txt)

[2017-11-08 16:48] snjeza commented on #352
@fbricon it seems that a timeout of 1 sec sometimes isn't enough.

@fly1n could you try the following:

- type Array
- when VS Code shows the ArrayList completion, wait for a few seconds
- apply completion

[2017-11-08 18:02] fly1n commented on #352
I know that this bug does not happen when I wait for few seconds, but you can't expect every user to wait for few seconds before autocompletion, right?

[2017-11-08 18:22] snjeza commented on #352
@fly1n Right. I just wanted to check if a timeout is the cause of the issue because I can't reproduce it.

@fbricon will we increase a timeout?

[2017-11-08 18:31] fly1n commented on #352
Sorry, I thought this does not happen after waiting for few seconds but did not really test it. I test it again for few times, it happens even after I wait for about 10 seconds. I also found another behavior.
In my project, when I type "LSR" before "()", the expected autocompletion is "LSRNIC", apart from the case that autocompletion sometimes overwrites following "()", the autocompletion itself i

[2017-11-08 18:31] fly1n commented on #352
Sorry, I thought this does not happen after waiting for few seconds but did not really test it. I test it again for few times, it happens even after I wait for about 10 seconds. I also found another behavior.
In my project, when I type "LSR" before "()", the expected autocompletion is "LSRNIC", apart from the case that autocompletion sometimes overwrites following "()", the autocompletion itself i

[2017-11-08 18:31] fly1n commented on #352
Sorry, I thought this does not happen after waiting for few seconds but did not really test it. I test it again for few times, it happens even after I wait for about 10 seconds. I also found another behavior.
In my project, when I type "LSR" before "()", the expected autocompletion is "LSRNIC", apart from the case that autocompletion sometimes overwrites following "()", the autocompletion itself i

[2017-11-08 18:31] fly1n commented on #352
Sorry, I thought this does not happen after waiting for few seconds but did not really test it. I test it again for few times, it happens even after I wait for about 10 seconds. I also found another behavior.
In my project, when I type "LSR" before "()", the expected autocompletion is "LSRNIC", apart from the case that autocompletion sometimes overwrites following "()", the autocompletion itself i

[2017-11-08 18:52] snjeza commented on #352
I still can't reproduce the issue with VS Code Java 0.13.0. Please take a look at https://www.screencast.com/t/vTKvleEJcvk

[2017-11-08 19:01] fly1n commented on #352
I tried to use the same file as you, and this bug did not happen in that file. I can send you my project. Since it is my course project, I do not want to upload it to github, can you give me your email please?

[2017-11-08 19:09] snjeza commented on #352
snjezana.peco@redhat.com

[2017-11-08 20:34] fbricon commented on #352
I've tried very hard to autocomplete as fast as I can (definitely sub second)  and can't reproduce it either.

[2017-11-08 20:53] snjeza commented on #352
@fly1n try to reinstall the VS Code Java LS extension. It is possible that you are using an older version.

[2017-11-08 22:06] fly1n commented on #352
I reinstalled the whole VS code with only Java extension, this bug still appears.

[2017-11-08 22:07] fly1n commented on #352
Can you try to just type lower case "ls" before "()", and then select the first autocompletion ("LSR"). This setting is able to reproduce the bug in my side.

[2017-11-09 04:47] #343 closed

[2017-11-09 09:02] andxu opened #362 "Should avoid huge numbers of codeAction operations during typing java code, make the code editing experience bad."
[provide a description of the issue]

##### Environment
- Operating System: windows 10
- JDK version: 1.8
- Visual Studio Code version: 1.17.2
- Java extension version: 0.13.0

##### Steps To Reproduce
1. Open a java project and edit a java file
2. Input 'a' 100 times  on an empty line.

[attach logs]
##### Current Result
[Trace - 4:56:57 PM] Received response 'textDocument/codeAction - (29)' in 4

[2017-11-09 09:04] andxu commented on #362
Should better to use the similar mechanism of debounce like lodash, https://lodash.com/docs/4.17.4#debounce

[2017-11-09 13:29] gorkem commented on #362
I am not sure how vscode-java can optimize them The calls to 'textDocument/codeAction' are generated by the vscode itself.

[2017-11-09 20:00] snjeza commented on #352
@fly1n Could you check your VS Code Java LS version?

![vscode](https://user-images.githubusercontent.com/388609/32626918-04ad294e-c591-11e7-8790-2cde1a2fabee.png)

[2017-11-09 20:36] fly1n commented on #352
See this: https://www.screencast.com/t/7s73x82XKb, it is 0.13.0.

[2017-11-09 22:18] snjeza commented on #352
@fly1n could you disable other extensions?

[2017-11-10 02:37] akaroml opened #363 "Unable to start extension after upgrading to 0.14.0"
I upgraded to 0.14.0 on Mac. The language server failed to start constantly.
![image](https://user-images.githubusercontent.com/16755094/32640285-9512da00-c58d-11e7-8aab-5759bd12dcff.png)

The project I'm working with is the spring boot pet clinic sample project. And here are the logs:

[code]

[2017-11-10 13:38] gorkem commented on #363
Can you also check the server logs.

[2017-11-10 13:42] fbricon commented on #363
move the vscode workspace aside, so we can try to troubleshoot what's going on later, and start again, see if it still fails

[2017-11-10 13:47] chvndb commented on #237
This feature would make this plugin a complete viable replacement for other IDE's like Eclipse.

[2017-11-10 18:08] fly1n commented on #352
https://www.screencast.com/t/aKkFvziNcJt2
I reinstalled VS Code 1.18.0 with only Java LS 0.14.0.

[2017-11-10 18:32] sundayoyeniyi commented on #363
@fbricon - do you think this should resolve #359 ?

[2017-11-10 18:40] fbricon commented on #363
@sundayoyeniyi no, for #359 , we need the buildship project to perform a Java 9 compatible release.

[2017-11-10 18:42] fbricon commented on #359
@donat any ETA on the availability of a buildship release with https://github.com/eclipse/buildship/commit/6ff9af2813416603a4f72cc4131c797092ddc497?

[2017-11-10 18:45] snjeza commented on #352
@fly1n could you try with https://drive.google.com/open?id=1nckes1kPJrj791B0KYzv2E0kgEgq_Kj7 ?

[2017-11-11 00:29] fly1n commented on #352
Unfortunately the bug still happens.

[2017-11-11 16:47] snjeza commented on #352
@fly1n I suppose you have a very fast machine. What hardware are you using?
Could you try to reproduce the issue using https://drive.google.com/open?id=1WZJ8hXd3QuRpAkfLJo0X_uft70LpyRcp ?

[2017-11-11 16:52] fly1n commented on #352
Cool! This version works for me. Now I do not have that bug.

[2017-11-12 05:11] fly1n commented on #352
This bug happens much less after I use your newest version, but it still happens few times when I wrote code. So, I think this solution is still not a radical one.

[2017-11-12 21:46] snjeza commented on #352
@fly1n could you test https://drive.google.com/open?id=1eG0KB3OmbYYSs6Rl_HwDcCPDqK_tuNL5

[2017-11-13 04:14] akaroml commented on #363
This issue is now only reproducible on my Mac.

I noticed this line int the log:
org.eclipse.core.internal.dtree.ObjectNotFoundException: Tree element '**/spring-petclinic/target/classes/templates/welcome.html**'

This file is actually there.

Here are the full logs of one session:

!SESSION 2017-11-10 16:14:41.470 -----------------------------------------------
eclipse.buildId=unknown
java.versio

[2017-11-13 04:59] donat commented on #359
All the features are implemented, we are only blocked by the Eclipse release process. The review period ends on 6th December, so most probably we'll do the release on that date. I suggest trying the [latest milestone](https://github.com/eclipse/buildship/blob/master/docs/user/Installation.md)for the time being. I'd love to know if the Java 9-related changes work properly with vscode-java.

[2017-11-13 14:56] fbricon commented on #359
@donat thanks! initial tests are positive. We'll start with the milestone and move to the release when it's available.

[2017-11-14 02:39] fbricon opened #365 "On startup user settings are sent to the server, instead of workspace settings"
I have a project with .vscode/settings.json, with "java.trace.server": "verbose". My user settings have "java.trace.server": "messages". When jdt.ls starts, I don't see the verbose output, I can see the logged configuration has `trace={server=messages}`

Tested with vscode-insiders.

@aeschli are you aware of recent changes in vscode preferences handling?

[2017-11-14 03:56] fly1n commented on #352
I used the newest one for one day. It seems that this bug is complete resolved in the newest version.

[2017-11-14 10:58] aeschli commented on #365
That would be a bug in VSCode, but I'm not able to reproduce.
I use the settings editor to edit the workspace settings, and these seem to win over the user settings.
If you have this reproducible, please file a bug against VSCode with steps.

[2017-11-14 19:03] akcorp2003 opened #366 "The Import Cannot Be Resolved, IntelliJ and VS Code"
I'm getting an issue `The import com.[company name].taskservice cannot be resolved` on a project. I was getting this issue first and then I ran a `mvn idea:idea` and it resolved the dependencies. IntelliJ is showing up as resolved but on the VS Code plugin, the imports still cannot be resolved.

It looks like the `mvn idea:idea` generated an additional folder named `target`  at the same directory

[2017-11-14 19:33] fbricon commented on #366
Can you check how the project imports in Eclipse? Can you create a sample project reproducing the issue?

[2017-11-14 21:10] akcorp2003 commented on #366
I imported the same project into Eclipse and I'm getting the same unresolvable errors. Unfortunately, I'm not familiar with the project so I don't know how to structure a sample one to reproduce this issue. My company is using an internal maven repo.

[2017-11-14 23:09] fbricon commented on #365
I can't reproduce today after updating to the latest insiders build. Closing.

[2017-11-14 23:09] #365 closed

[2017-11-14 23:23] fbricon commented on #362
@andxu can you open a ticket in vscode?

[2017-11-14 23:35] fbricon commented on #358
Can't reproduce on my Mac. Whether I open the project folder or call `code src/Main.java`, the folder is opened as expected. When simply opening src/Main.java from the Code UI (no other folder opened) then VS Code opens the file as a standalone java file, displays the warning. That's expected.

@snjeza can you check on Windows please?

@ZZYSonny one thing you can try is to [clean the workspace dir

[2017-11-14 23:52] snjeza commented on #358
@fbricon I can't reproduce the issue on Windows 7.

[2017-11-15 02:27] fbricon commented on #321
Duplicated by #359.

Fixed in master, by embedding the latest BuildShip 2.2 build.

[2017-11-15 02:27] #321 closed

[2017-11-15 02:33] fbricon commented on #281
Was released as part of vscode-java 0.14.0

[2017-11-15 02:33] #281 closed

[2017-11-15 02:37] fbricon commented on #127
since vscode-java 0.13.0, starting the java server on existing workspaces is [**very** fast](https://github.com/eclipse/eclipse.jdt.ls/pull/410#issue-268867880). Is this issue still relevant?

[2017-11-15 02:58] fbricon commented on #118
This was implemented in 0.7.0. Use `Ctrl+'.'` (`Cmd+'.' on MacOS`) to enable code actions :

![create-missing-var](https://user-images.githubusercontent.com/148698/32816461-c2ef2a1c-c986-11e7-8972-84976f37a35a.gif)

[2017-11-15 02:58] #118 closed

[2017-11-15 04:10] fbricon commented on #75
This is now supported via [multi-root support](https://github.com/redhat-developer/vscode-java/issues/281)

[2017-11-15 04:10] #75 closed

[2017-11-15 09:59] rubin55 commented on #345
Hi @snjeza , I tried the above and this works around the issue; the initially generated .classpath file now contains an entry for `build/generated`.

[2017-11-15 15:42] nik9000 opened #368 "Favorite imports"
I'd like something like Eclipse's "Favorites" features for imports. In particular I'd like to be able to say "I like these classes and these static methods so when I hit `ctrl-.` on an unimported class give me those options first if they match". This'd make imports a bit easier and static method imports much easier. I get that they are different things, but Eclipse sticks them together in its UI s

[2017-11-16 09:10] aeschli opened #369 "Remove folding markers"
The folding markers should be removed from language-configuration.java as they are already provided by the built-in Java extension.

Also they have a bug as they match
[code]
Same bug is in the built-in Java extension, but fixed in 1.19

[2017-11-16 12:30] fbricon commented on #369
I'm happy to remove those once vscode 1.19 is out

[2017-11-16 12:49] aeschli commented on #369
But better fix it then...

[2017-11-16 14:47] mojo2012 opened #370 "Starting language server crashes"
When building SAP hybris from the command line (outside of vscode) with ant, nearly all class files get regenerated.
Afterwards the langage server hangs at 22-24% and outputs the error logs down below.

##### Environment
- Operating System: macOS 10.12.6 (16G1036)
- JDK version: 1.8.0_144
- Visual Studio Code version: Version 1.18.0 (1.18.0)
- Java extension version: 0.14.0

##### Steps To Reprodu

[2017-11-16 19:49] #345 closed

[2017-11-16 20:28] gorkem commented on #370
Is this a project that we can try for ourselves? Where can we get it?

[2017-11-16 20:33] gorkem commented on #56
This is now available bot as part of code assist and a code action. closing

[2017-11-16 20:34] mojo2012 commented on #370
No unfortunately not. But tell me how I can gather the information you need and i will do my best to support you.

Allthe orojects are eclipse projects. Would the .project files help you?

[2017-11-16 20:34] #56 closed

[2017-11-16 20:54] mojo2012 opened #371 "config "java.import.exclusions" should be a real array not a string"
##### Environment
- Visual Studio Code version: 1.18
- Java extension version: 0.14.0

##### Steps To Reproduce
1. open config and edit key *java.import.exclusions*

##### Current Result
Config key *java.import.exclusions* is a string:
[code]

##### Expected Result
It should be a real array to make it easier to edit.

[2017-11-16 21:38] fbricon commented on #371
I think the server also accepts arrays. Have you tried?

[2017-11-16 21:58] mojo2012 commented on #371
I did that and theni got some gson exceptions and i saw that some folders that i excluded were scanned. But i can recheck.

[2017-11-17 01:48] ZZYSonny opened #372 "Unable to launch Java Project on Mac. Failed to launch debuggee VM. Reason: com.sun.jdi.connect.VMStartException: VM did not connect within given time: 10000 ms"
Unable to launch Java Project on Mac.

##### Environment
- Operating System: Mac 10.13.1
- JDK version: 8u152
- Visual Studio Code version: 1.18.1
- Java extension version: Langage 0.14.0 / Debug 0.3.0

##### Steps To Reproduce
1. Simply run the project.

![2017-11-17 9 41 47](https://user-images.githubusercontent.com/28442838/32925273-0316810c-cb7c-11e7-8572-223a9dd5a001.png)
![2017-11-17 9 44 44

[2017-11-17 01:58] fbricon commented on #372
@ZZYSonny you need to open a bug at the [vscode-java-debug issue tracker](https://github.com/Microsoft/vscode-java-debug/issues).

[2017-11-17 01:58] #372 closed

[2017-11-17 03:07] Geeprox opened #373 "Code Relevance"
##### Environment
- Operating System: Windows 7
- JDK version: 1.8.0_144
- Visual Studio Code version: 1.18.1
- Java extension version: 0.14.0

When I open a Project, I can't use "jump to caller", "jump to reference" or "jump to defination" if they are in a file not opened. Only if I open the destination file can I do these operations. It's very unfriendly for reading code.
I hope I can sync all t

[2017-11-17 04:23] gorkem commented on #373
Sounds like you are using the standalone mode? Do you have a maven or gradle build set for your project?

[2017-11-17 04:25] gorkem commented on #370
yes, `.project` would at least give an idea about the setup.

[2017-11-17 09:19] ZZYSonny commented on #358
I tried clean the workspace directory but the issue remains.
When I move my project to other places, everything goes alright.
Thank you for your help.

[2017-11-17 09:19] #358 closed

[2017-11-17 21:57] fbricon commented on #369
The bug has been fixed in master by copying vscode's patterns.
I'll keep this issue opened as a reminder to remove those patterns after the end of november release. vscode-java 0.16.0 will be released after vscode 1.19.

[2017-11-20 04:25] Geeprox commented on #373
Yes, It's a AndroidStudio project with Gradle build set.

[2017-11-20 07:38] ripley commented on #311
I'm have a similar issue, the code I'm trying to import has a group of test cases which takes forever in my environment. It's painful to import a project like that if I cannot skip tests.

[2017-11-20 20:39] #352 closed

[2017-11-20 20:52] fbricon commented on #352
with @snjeza's fix, not only is autocompletion more robust, it's also now super fast!

[2017-11-21 08:51] yaohaizh opened #374 "Add feature: copy fully qualified name"
From the user @mojo2012 logged on the debugger side:

I often need to copy a classes fully qualified name, eg. to put into a spring.xml file.

Best would be to have it directly in the context menu when right-clicking on a class name.

[2017-11-23 08:13] testforstephen opened #375 "Cannot see the full method signature on the code complete dropdown box"
When editing code, the extension will show the possible methods in dropdown box. But for long method, there is no way to see the full method signature.

![image](https://user-images.githubusercontent.com/14052197/33163235-7357965e-d068-11e7-86de-b850ff91fb9d.png)

See the screenshot, the left part doesn't have scroll bar and any tooltip [on hover] to show the full information.

[2017-11-23 12:12] cnsgithub opened #376 "Feature request: Provide a way to use annotation processors based on jar file"
Hi, would it be possible to add support for Annotation processors based on a local jar file? E.g. eclipse has support for them by using a .factorypath file

[code]
This will then auto-generate the APT entities automatically into the source output folder for them

Additional notes, on how to use them in other IDEs. This might give ideas on how to implement this
https://docs.jboss.org/hibernate/stab

[2017-11-23 13:48] fbricon commented on #375
Duplicate of #249. See upstream's issue: https://github.com/Microsoft/vscode/issues/29757

[2017-11-23 13:48] #375 closed

[2017-11-23 14:08] fbricon commented on #376
Duplicate of #339. Whether AP is based on Maven or directly from Eclipse APT, this is the same [problem](https://github.com/redhat-developer/vscode-java/issues/339#issuecomment-338442937).

[2017-11-23 14:08] #376 closed

[2017-11-23 20:33] ismailashik commented on #346
i have the same problem, how to add the external jars to VS code?

[2017-11-23 20:36] fbricon commented on #346
@ismailashik what sort of project are you working with? Maven, Gradle, Eclipse?

[2017-11-23 20:37] ismailashik commented on #346
eclipse java project

[2017-11-23 20:41] fbricon commented on #346
So if you added a jar dependency in Eclipse, reopening the same project in vscode should work, if it's a simple Java project.
If it doesn't, please provide a sample project reproducing the issue

[2017-11-23 20:53] ismailashik commented on #346
here is the sample eclipse project.
i could not import this eclipse project with VS code. I have to use the folder source
[test_vs_code.zip](https://github.com/redhat-developer/vscode-java/files/1500186/test_vs_code.zip)

[2017-11-23 21:18] fbricon commented on #346
Works for me (after pointing to a json.jar on my machine). It even works in Atom.

Can you try opening this one (the jar is included in the project directory, so it's more portable)?
[test_vs_code2.zip](https://github.com/redhat-developer/vscode-java/files/1500211/test_vs_code2.zip)

[2017-11-23 21:19] ismailashik commented on #346
how did you point the json.jar in vscode?

[2017-11-23 21:20] fbricon commented on #346
check .classpath

[2017-11-23 21:25] ismailashik commented on #346
this is what i get when i open the folder that you  have sent.

![image](https://user-images.githubusercontent.com/25293045/33188797-c0e69ca8-d0c2-11e7-98dd-1dc18bcc06fc.png)

[2017-11-23 21:28] fbricon commented on #346
this is NOT [vscode-java](marketplace.visualstudio.com/items?itemName=redhat.java)'s output!

Please disable/uninstall other Java Language support extensions, make sure you only have the one from Red Hat.

[2017-11-23 21:31] fbricon commented on #346
To launch and debug your Java programs, it's recommended you install *[Java Debug Extension for Visual Studio Code](https://marketplace.visualstudio.com/items?itemName=vscjava.vscode-java-debug)*.

[2017-11-23 21:38] ismailashik commented on #346
Now i get this error.

[Error - 3:09:45 AM] Nov 24, 2017 3:09:42 AM Invalid project description.
[Error - 3:09:45 AM] Nov 24, 2017 3:09:42 AM An internal error occurred during: "Initialize Workspace".
org.eclipse.core.internal.resources.ResourceException: Invalid project description.
java.lang.RuntimeException: org.eclipse.core.internal.resources.ResourceException: Invalid project description.
	at

[2017-11-23 21:39] ismailashik commented on #346
that loading stuck on 28%

![image](https://user-images.githubusercontent.com/25293045/33189015-cdf4f9d8-d0c4-11e7-9115-efcdf2bd0889.png)

[2017-11-23 21:50] fbricon commented on #346
Try [cleaning the workspace directory](https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#clean-the-workspace-directory)

[2017-11-23 21:58] ismailashik commented on #346
thanks it works perfectly

[2017-11-24 01:38] neurospective commented on #162
Hi. I am facing a similar problem: when trying to run a .java file with F5, in the status bar (below) appears a new message telling me "28% Starting Java Language Server - Refreshing 'jdt.ls-java-project'".
I am on
MacOS Sierra
vscode 1.18.1
Language support for Java ™ for Visual Studio Code 0.14.0

Don't know what to do. Please can someone help?

[2017-11-24 01:44] fbricon commented on #162
@neurospective please attach the logs for [vscode](https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#get-the-vscode-java-logs) and [eclipse.jdt.ls](https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#get-the-java-language-servers-workspace-logs).

[cleaning up your workspace](https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#clean-the-workspac

[2017-11-24 01:52] neurospective commented on #162
Ah sorry forgot to mention that, cleaning workspace did not help.

Vscode logs:

[/Users/<user>/.vscode/extensions/ms-vscode.cpptools-0.14.2]: Der Befehl "workbench.action.gotoSymbol" ist mehrmals im Abschnitt "commands" vorhanden.
/Applications/Visual Studio Code.app/Contents/Resources/app/out/vs/workbench/workbench.main.js:9 [/Users/<user>/.vscode/extensions/ms-vscode.cpptools-0.14.2]: Der Befeh

[2017-11-26 02:36] gorkem commented on #97
I can no longer reproduce this one. Closing

[2017-11-26 02:36] #97 closed

[2017-11-26 16:42] snjeza commented on #371
@mojo2012 you can try the following:

[code]

[2017-11-27 02:59] skyzhangty opened #379 "Show Maven or Gradle Dependencies in Explorer"
It would be nice to show the maven dependencies or gradle dependencies in Explorer window. Like Eclipse does. Thanks

[2017-11-27 06:49] Personinblack opened #380 "Renaming or creating a java file requires restart"
##### Environment
- Operating System: Arch Linux
- JDK version: jdk8 8u152-1
- Visual Studio Code version: 1.18.1
- Java extension version: 0.14.0

##### Steps To Reproduce
1. Rename or create a java file.
2. Try referring to it inside a class after closing its window.

##### Current Result
Can't refer to that file without restarting the Visual Studio Code or having it open.

https://imgur.com/a/n

[2017-11-27 16:26] #371 closed

[2017-11-27 16:51] fbricon commented on #379
Closing as duplicate of #237

[2017-11-27 16:51] #379 closed

[2017-11-27 18:16] fbricon commented on #380
I confirm there's a bug there. That's a really weird one.

[2017-11-27 19:51] mabellLU commented on #28
Ok, so I have a project that runs on Java 6. How do I get the project built in Java 6, but the plugin work in Java 8? I have both installed. I have java.home pointing to 8 to get the extension working, but my code doesn't compile.

[2017-11-27 20:01] fbricon commented on #28
@mabellLU what kind of project is that? Maven? Gradle? Eclipse?

[2017-11-27 20:04] mabellLU commented on #28
Gradle

[2017-11-27 20:08] fbricon commented on #28
@mabellLU have you tried to set the target java version in your build.gradle?
[code]
If that doesn't work, please open a new bug report with a sample project exhibiting the issue

[2017-11-27 20:32] mabellLU commented on #28
yes have that, sorry we're using the play framework also, looks like there isn't support for scala?

[2017-11-27 20:37] fbricon commented on #28
Sorry no, Scala support here.
We support all JVM languages as long as it's Java :-)

[2017-11-28 04:10] yaohaizh commented on #253
This should have been fixed in the latest VSCode java with change for organize imports.

[2017-11-28 04:41] fbricon commented on #253
The issue is not reproducible when using the `Organize Imports` command, but is still present when calling the matching Code Action.

[2017-11-28 06:57] yaohaizh commented on #253
Okay, it seems the code action still use the original TextEditConverter which will have issues for resolving.

Any way,  I still confused why the code below will works for import but not works for other code actions.
[code]

[2017-11-28 16:14] ADTC opened #381 "Feature: Option to control polling time interval (when polling for code changes) squiggly line lag"
I notice sometimes I'm editing Java code, the code linting lags behind. So assuming I type a line of code like so: `String vscodeJava = null;`, the squiggly lines indicating errors **slowly** go like this (you can see it happening slowly in front of your very eyes long after you typed the whole line out):

    S                         // can't find type
    St                        // can't find

[2017-11-28 16:19] fbricon commented on #381
[Recent changes](https://github.com/redhat-developer/vscode-java/issues/352#issuecomment-345828292) improved the autocompletion performance.

Please download the most recent `java-<version>.vsix` file from from http://download.jboss.org/jbosstools/jdt.ls/staging/ and install it by following the instructions [here](https://code.visualstudio.com/docs/editor/extension-gallery#_install-from-a-vsix).

[2017-11-28 17:24] ADTC commented on #381
I think there is a misunderstanding here. I'm not really talking about quick suggestions popup, but rather about the squiggly lines that indicate a warning or error. Are you able to see the GIF animation? See how the squiggly lines lag behind what I'm typing in.

[2017-11-28 17:47] ADTC commented on #381
@fbricon Btw, I see these errors in Console (under Language Support for Java). Would they be related to this problem in any way?

[_View the Gist of errors_](https://gist.github.com/ADTC/4315fb310201d342af87d0ef84fb4c3b)

[2017-11-28 17:50] fbricon commented on #381
@snjeza ^^?

@ADTC have you tried the CI build? I expect the squiggly-related performance to be improved as part of the autocompletion changes

[2017-11-28 18:13] snjeza commented on #381
These errors are related to https://github.com/eclipse/eclipse.jdt.ls/issues/369

[2017-11-28 18:18] ADTC commented on #381
@fbricon I'm trying the latest build **0.15.0-673**. There is a definite improvement in the squiggly line performance and I'm very happy about it. 😄 It looks like instead of lagging behind (as it did in 0.14.0), now it just appears after a delay of about a second. In 0.14.0 you could _especially_ observe the lag when you hold down Ctrl-Z to undo what you _typed out_ (you had to wait several second

[2017-11-28 18:20] fbricon commented on #381
Ok, let's close this one as fixed then.

[2017-11-28 18:20] #381 closed

[2017-11-30 02:18] fbricon commented on #253
Fixed with https://github.com/eclipse/eclipse.jdt.ls/commit/aa79b5733115374ac97a32aabcaab0c947a6fac8#diff-5443276e78beb5841951c89e7335cb6bR136

[2017-11-30 02:18] #253 closed

[2017-11-30 14:33] jetinski commented on #162
I get the same error, although I didn't even try to edit or open a .java file.
The "Starting Java Language Server - Refreshing /jdt.ls-java-project" message in the status bar comes right after opening VS code with some node.js files open.
Usually it is stuck at 28%, sometimes it even gets up to 100% and then gets stuck.

[2017-11-30 14:45] fbricon commented on #162
@jetinski aggressive jdt.ls startups are caused by having the vscode-java debugger installed.

Can you try to call the  `jps` command in a terminal, you should see a list of running java processes, containing something like:
[code]
Where 8560 here is the process id.
Then from the terminal, call
[code]

This should give you a thread dump. Copy and paste it here, so we get an idea of where the serve

[2017-11-30 14:46] fbricon commented on #162
@jetinski also see https://github.com/redhat-developer/vscode-java/issues/162#issuecomment-346720708

[2017-12-01 15:31] #369 closed

[2017-12-02 16:29] jasonhulbert commented on #162
@fbricon I'm seeing "100% Starting Java Language Server - Refreshing /jdt.ls-java-project" but this refresh never seems to complete. Been running for ~30 min now (on my 4th attempt to start VS Code) on a network with ~110/25mbps.

Running `jps` shows:

[code]

(Should there be 2 `org.eclipse.equinox.launcher_1.4.0.v20161219-1356.jar` processes?)

Running `jstack 66407` shows:
[code]

Running `jsta

[2017-12-02 16:33] jasonhulbert commented on #162
Now, upon restarting VS Code, I get the alert/error:
"The Language Support for Java server crashed 5 times in the last 3 minutes. The server will not be restarted."

[2017-12-02 16:57] jasonhulbert commented on #162
Ok...finally after restarting my machine and clearing the workspace folder again, things appear to be working. Strange.

[2017-12-04 09:35] Geeprox opened #383 "Failure to install Gradle distribution behind proxy"
[provide a description of the issue]

##### Environment
- Operating System: Windows 7
- JDK version: 1.8.0_144
- Visual Studio Code version: 1.18.1
- Java extension version: 0.15.0

After update to 0.15.0, the extension will hang at 100% and crash more than 5 times

##### Current Result

Crash more than 5 times and shut down the server

##### Expected Result
Not Crash

##### Additional Information

[2017-12-04 09:41] Geeprox commented on #383
My company's computer is after a proxy, but I have already config "http.proxy" in VSCode and it can access the internet.

[2017-12-04 14:08] fbricon commented on #383
@Geeprox did it work with 0.14.0? You can uninstall 0.15.0 and downgrade to the latest 0.14.0 vsix from http://download.jboss.org/jbosstools/jdt.ls/staging/. See instructions on how to install a vsix [here](https://code.visualstudio.com/docs/editor/extension-gallery#_install-from-a-vsix).

[2017-12-04 16:33] snjeza commented on #383
@Geeprox Could you also check the following:

- have you configured a proxy as described at https://github.com/redhat-developer/vscode-java/wiki/Using-a-Proxy?
- can you open your project in Eclipse?

[2017-12-05 13:38] vincent1147 opened #384 "Hi. Can someone tell me how to import a library in VScode?"
I just switched to VS Code from IntelliJ.

But I couldn't figure out how to import a jar in VSCode? I'm using it as a library.

I have some libraries, for example, Junit.

Operating System: Mac Sierra
JDK version: 1.8.0_131

Thank you.

[2017-12-05 22:03] gorkem commented on #384
Duplicate of  #346

[2017-12-05 22:03] #384 closed

[2017-12-05 22:06] fbricon commented on #384
See https://github.com/redhat-developer/vscode-java/issues/346#issuecomment-346698654

[2017-12-06 00:18] vincent1147 commented on #384
Hi. I'm confused.  So what I need is a .classpath. But it's not an Eclipse project.

Is there a way to generate .classpath file? or I have to manually create one?

[2017-12-06 00:23] fbricon commented on #384
Try https://www.jetbrains.com/help/idea/exporting-an-intellij-idea-project-to-eclipse.html

[2017-12-06 00:52] vincent1147 commented on #384
Hi fbricon,

Thanks for the quick reply.
I just tried to manually create .classpath file. It didn't work.
The link isn't answering my question.

So for example, I've just created a .java file in VSCode.
Now I want to import an external library. So I can have this line of code working: **import org.junit.Test;**

I kind of feel this is a silly question. But I just can't figure out how to make it wo

[2017-12-06 01:33] vincent1147 commented on #384
So if I understand this right, I need .project and .classpath to make it work.

[2017-12-06 02:33] fbricon commented on #384
yes, both are required. Please check https://github.com/redhat-developer/vscode-java/files/1500211/test_vs_code2.zip  see how the jar needs to be referenced in .classpath.

Using a Maven or Gradle project can be very simple to get started, instead of aiming for the Eclipse route. And it'll make your project IDE agnostic.

[2017-12-06 02:52] Geeprox commented on #383
@fbricon I remembered that it work with 0.14.0, but after I uninstalled 0.15, and reinstalled 0.14 with vsix, this crash still exists : (

[2017-12-06 02:56] Geeprox commented on #383
@snjeza This crash also exists after I config the proxy like this guide.

I don't have Eclipse now, I will have a try later, and tell you the result.

[2017-12-06 03:30] Geeprox commented on #383
@snjeza
I finished install the Eclipse,
My project is a Android Studio project on my Linux, And make /mnt/disk/ to be the Z:/ on my windows computer with Samba. The code project is on the Linux file system, and I have to program my my Windows.
Back to the Eclipse->
* If I choose open the projects from file system, the java/ folder not exists in the Project Manager with 2 errors in the Problems Dia

[2017-12-06 19:30] snjeza commented on #383
@Geeprox I think that there is an issue with your proxy or your JDK.

Could you try the following:

- access https://services.gradle.org/distributions/gradle-4.3-bin.zip from your browser
If it works, you can install gradle in some directory and add the following to your VS Code settings:
[code]
or
- try to fix your JDK as described at https://github.com/escline/InstallCert

[2017-12-06 22:31] snjeza commented on #325
A duplicate of #380

[2017-12-06 22:31] #325 closed

[2017-12-07 01:33] vincent1147 commented on #384
Cool!! Thanks for the example code. It works. Basically, all I need is to start a project in Eclipse. I will try Maven tomorrow. It is so weird that VS Code supports Eclipse, Maven, and Gradle, but IntelliJ is not included.

I have one more question. The Junit still doesn't work in VS Code. Other libraries are fine.
I have Java Test Runner installed. But when I click Run Test, it shows this (below

[2017-12-07 03:00] Geeprox commented on #383
@snjeza I agree that maybe there is an issue with my proxy, but I download gradle and configured the GRADLE_PATH, when I run 'gradle -v' in my cmd, I can see the version print, my install path is C:/gradle-4.3(/bin...)

And I also cofigured like this is VSCode

"java.jdt.ls.vmargs": "-noverify -Xmx1G -XX:+UseG1GC -XX:+UseStringDeduplication -DGRADLE_HOME=C:/gradle-4.3",

I also tried "java.jdt.ls.

[2017-12-08 05:37] testforstephen opened #385 "100% Starting Java Language Server - Refreshing '/jdt.ls-java-project'."
[provide a description of the issue]

##### Environment
- Operating System: macOS Sierra 10.12.6
- JDK version: 9.0.1
- Visual Studio Code version: 1.18.1
- Java extension version: 0.15.0

##### Steps To Reproduce
1. Use VSCode to open spring-boot sample project https://github.com/spring-guides/gs-spring-boot
2. The status bar shows `100% Starting Java Language Server - Refreshing '/jdt.ls-java-pr

[2017-12-08 05:46] testforstephen commented on #385
JDK 8 is OK.
This issue only happens at JDK 9. Seems the gradle version check bug `Caused by: java.lang.IllegalArgumentException: Could not determine java version from '9.0.1'.` still exists.

[2017-12-08 07:04] fbricon commented on #385
I think you need to update the version of your Gradle wrapper to something recent, compatible with jdk9

[2017-12-08 08:09] testforstephen commented on #385
@fbricon  thanks, it works after update to gradle 4.4.

[2017-12-08 08:09] #385 closed

[2017-12-09 14:25] apemberton commented on #56
Does this feature have the ability to "remove unused imports"?

[2017-12-10 16:30] gorkem commented on #56
@apemberton yes, it does. It is also available as an action on the command palette

[2017-12-12 14:49] #383 closed

[2017-12-13 22:40] #380 closed

[2017-12-14 15:45] ADTC opened #390 "Corrupted project build state with file that could not be read"
Every so often, when I close VS Code and I open it again later to continue working on the project, the Java Language Server (or some part of this extension) gets a corrupted build state. All my Java files get red-lined everywhere especially with imports (which should have been resolved correctly through Maven dependencies). It makes the entire Java project riddled with errors, when there should be

[2017-12-14 15:52] ADTC commented on #390
There's also another error:
`message: Lifecycle mapping "org.eclipse.m2e.jdt.JarLifecycleMapping" is not available. To enable full functionality, install the lifecycle mapping and run Maven->Update Project Configuration.;code: 0`

But executing "Java: Update project configuration" doesn't do anything helpful.

[2017-12-14 16:14] ADTC commented on #390
So I found this XML file `.project` under `C:\Users\ADTC\AppData\Roaming\Code\User\workspaceStorage\80cb5f2a3ecedacc12fe324f7ee7b83d\redhat.java\jdt_ws\jdt.ls-java-project` and it has this tag called `<linkedResources>`. It goes a little something like this:

[code]

I have no idea what this is or how it got there, but I removed the whole `<linkedResources>` and that resolved the problem somehow.

[2017-12-14 17:03] ADTC commented on #374
I think should work on pretty much anything actually:
- class name
- method name
- variable name
- annotation name
- package name

It should work equally on declarations, definitions, assignments and usage instances.

[2017-12-15 10:37] mozsakalli opened #391 "Store method parameters in compiled classes"
When using compile on save, compiler doesn't recognize compilerArgs in pom.xml file.

[code]

mvn install compiles correctly and all compiled classes contains parameter name information, but when same classes were compiled by compile on save (incremental) classes don't have parameter name information anymore...

[2017-12-15 13:00] fbricon commented on #391
This is a [known issue in m2e](https://bugs.eclipse.org/bugs/show_bug.cgi?id=518218), I've been working on a fix.

In the mean time, you can add or change the following parameter in .project/org.eclipse.jdt.core.prefs:

[2017-12-15 17:52] ADTC commented on #390
This is happening again, but this time, it's just getting chocked up on the _Lifecycle mapping_ (it doesn't have those rogue `linkedResources` anymore):

`message: Lifecycle mapping "org.eclipse.m2e.jdt.JarLifecycleMapping" is not available. To enable full functionality, install the lifecycle mapping and run Maven->Update Project Configuration.;code: 0`

**What exactly is going on?**

[2017-12-15 21:37] hrsto opened #392 "vscode intellisense failing when 2 jdks are on system, despite env var or java.home"
There seems to be a clash between vscode and multiple jdks. When having both jdk8 and jdk9, and having set JAVA_HOME to point jdk9 dir AND vscode's user setting java.home to point to jdk9 dir, intellisense fails. Compilation succeeds, can use java 9 features. Below for details.

##### Environment
- Operating System: Win10
- JDK version: 8 and 9
- Visual Studio Code version: latest
- Java extension

[2017-12-16 12:49] Yi-yi opened #393 ""Not point to a JDK" error"
Using vscode as a JAVA editor, programs could be compiled and executed successfully, but there is an error message:

![image](https://user-images.githubusercontent.com/12591699/34070476-14f6237c-e2bb-11e7-9b9b-a26aa8984a58.png)

##### Environment
- Operating System: Win10
- JDK version: 1.8.0
- Visual Studio Code version: 1.19
- Java extension version: 0.16.0

##### Steps To Reproduce
Settings in

[2017-12-16 14:41] fbricon commented on #393
The Java home is one level above the bin directory. Remove bin/ from your settings

[2017-12-16 15:42] sandalyecik commented on #315
I got the same problem.

[2017-12-18 16:39] ADTC commented on #390
@fbricon any comments? 😄 thanks!

[2017-12-18 17:19] #393 closed

[2017-12-19 01:59] sumbrez opened #394 "Cannot save file in UTF-8 correctly"
Saving UTF-8 file makes non-alphabet char unrecognizable characters.

##### Environment
- Operating System: Windows_NT x64 10.0.16299, **Chinese Home**
- JDK version: 1.8.0_111
- Visual Studio Code version: 1.19.0
- Java extension version: 0.16.0

##### Steps To Reproduce
1. Open a UTF-8 java file having non-alphabet char (e.g., Chinese character) in in VSCode
2. Type/delete any char and save the

[2017-12-19 02:36] sumbrez commented on #394
In previous verions, this issue didn't occur. But often, when hovering on a method having Java doc, Chinese characters in the doc are also shown as unrecognizable characters on the "suspension window".
However, most of unrecognizable characters saved in the Java file are "�" while ones in suspension window are barely used CJK characters (if the Java file is in correct UTF-8).

(I have already set

[2017-12-19 15:53] ADTC commented on #368
I'd be happy if the menu is sorted in a more sensible manner. Right now it looks so random and messy. It doesn't even look like a lexicographic sort. **And it's hard to look for the correct import when the menu is very lengthy.** 😞

![unsorted random list of import and change to suggestions](https://user-images.githubusercontent.com/6047296/34165285-d7ac2a18-e501-11e7-8b42-ef52beeeccba.png)

Can i

[2017-12-20 18:19] snjeza commented on #232
Fixed within #383

[2017-12-20 18:19] #232 closed

[2017-12-20 20:37] donaldjosephsmith commented on #305
I'm getting this error message now in one of my Java workspaces after updating to the November 2017 1.19.1 release. I'm on Mac OS High Sierra, using JVM build 1.8.0_77. I opened another Java workspace and it seems to work just fine. Is there anything I can do to try to isolate the problem further?

[2017-12-20 21:06] fbricon commented on #305
@donaldjosephsmith anything from the server log? Can you try [cleaning up the workspace directory](https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#clean-the-workspace-directory)?

[2017-12-20 21:27] donaldjosephsmith commented on #305
Clearing out the workspace directory did the trick! Thanks.

[2017-12-21 05:22] flurbius opened #396 "How can I get my Android App on the Classpath"
## Trouble with Gradle Based Android java project.

All the java files in app/src/main/java get this error "*.java isn't on the classpath. Only syntax errors will be reported"

My System
 - Linux (Debian based) 64bit
 - Oracle JDK 1.8.0_141
 - VSCode Version 1.19.1    - Date 2017-12-19T09:41:01.414Z
 - Language support for Java ™ for Visual Studio Code v 0.16.0

## Steps To Reproduce
1.  Open the

[2017-12-21 20:35] developandplay commented on #394
- Operating System: Microsoft Windows 10 Pro - 10.0.16299 Build 16299
- JDK version: 1.8.0_151
- Visual Studio Code version: 1.19.1
- Java extension version: 0.16.0

I do have the exact same problem. Whenever I try to save a file that includes special German caracters e.g. ä, ö, ü, ß they turn into a "�".

In addition to that when I click on the "UTF-8"-button on the bottom right and choose "save

[2017-12-24 18:12] sombriks opened #397 "[Java] The import javax.persistence.Entity cannot be resolved"
This is a gradle-based project, i am developing a sample spring-boot app.

https://github.com/sombriks/gm-sample-worklog/tree/master/gm-sample-worklog-service

Every other import seems to work just fine, however javax.persistence package isn't. Lombok doesn't seems to be recognized as well.

It's strange because when i command "gradle bootRun" it works perfectly.

##### Environment
- Operating Sys

[2017-12-24 18:32] gorkem commented on #397
Did you try https://github.com/redhat-developer/vscode-java/wiki/Lombok-support for Lombok?

[2017-12-24 18:36] sombriks commented on #397
hi @gorkem thanks for the quick answer.

I didn't faced the lack of autocomplete for lombok augmentation, but i'll set it up.

But i think the import issue isn't related to this lack of configuration. I had that with JPA annotations before i added Lombok.

[2017-12-25 02:54] sombriks commented on #397
Hi @gorkem ,

i've set up lombok at settings.json as suggested but the import issue remains, see the print.

![captura de tela de 2017-12-24 23-48-36](https://user-images.githubusercontent.com/556695/34331421-677b04a0-e905-11e7-800c-f4a364845476.png)

as far as i investigated, it seems related to secondary dependencies.

for example, the entire javax.persistence package comes from hibernate-jpa-2.

[2017-12-27 18:27] khe817 opened #398 "Code autocomplete and reference hint are slow in java JDK 9.0.1"
Code autocomplete and reference hint are significantly slower (5 to 10 seconds waiting for hints to load) in Java JDK 9.0.1 with maven projects  as compared to previous Java JDK versions (1.7.x, and 1.8.x) (hints are loaded under 1 second). Half of the time, hints don't load at all.

##### Environment
- Operating System: windows 10
- JDK version: 9.0.1
- Visual Studio Code version: 1.19.1
- Java e

[2017-12-27 19:20] sombriks commented on #397
Hi again,

turns out this is not really a issue.

since vscode-java relies on eclipse configs, every time when a new dependency gets added to build.gradle, the "eclipse" task must run again.

downloaded eclipse, and the project setup where broken there too. then i ran **gradle cleanEclipse** and **gradle eclipse** and the classpath was generated again.

it's working perfectly.

[2017-12-27 19:20] #397 closed

[2017-12-28 09:38] Geeprox opened #399 "Failure to install Gradle distribution behind proxy"
Environment
Operating System: Windows 7
JDK version: 1.8.0_144
Visual Studio Code version: 1.19.1
Java extension version: 0.16.0

# The same problem still exists, not resolved

[https://github.com/redhat-developer/vscode-java/issues/383](https://github.com/redhat-developer/vscode-java/issues/383)

# I installed Gradle like this:

C:/gradle43
    - bin/
    - lib/
    ...

# and set environment var

[2017-12-28 09:40] Geeprox commented on #399
[Warn  - 17:34:53] 2017-12-28 17:34:49 Could not load Gradle version information
Cannot download published Gradle versions.
org.gradle.api.UncheckedIOException: Cannot download published Gradle versions.
	at com.gradleware.tooling.toolingutils.distribution.PublishedGradleVersions.downloadVersionInformation(PublishedGradleVersions.java:175)
	at com.gradleware.tooling.toolingutils.distribution.Publi

[2017-12-28 09:40] Geeprox commented on #399
[Error - 17:35:07] 2017-12-28 17:34:49 An internal error occurred during: "Initialize Workspace".
Could not run build action using Gradle installation 'C:\gradle43'.
org.gradle.tooling.BuildException: Could not run build action using Gradle installation 'C:\gradle43'.
	at org.gradle.tooling.internal.consumer.ExceptionTransformer.transform(ExceptionTransformer.java:51)
	at org.gradle.tooling.intern

[2017-12-29 19:20] fbricon commented on #397
From the readme:

and the matching preference:

...
java.configuration.updateBuildConfiguration : Specifies how modifications on build files update the Java classpath/configuration. Supported values are disabled (nothing happens), interactive (asks about updating on every modification), automatic (updating is automatically triggered).

[2017-12-30 13:15] silascript commented on #394
+1

[2017-12-30 17:53] #394 closed

[2017-12-30 19:10] snjeza commented on #399
@Geeprox could you build your project using the gradle command line?

[2018-01-01 02:13] cjsimon commented on #107
Is there any plan to support gradle projects separately from eclipse projects? When I create a build.gradle file viscose generates eclipse files even though it's not an eclipse project.

[2018-01-02 02:27] Geeprox commented on #399
@snjeza No, I can't. we use a tool called armadillo.py to release the apk.

[2018-01-03 02:31] whmmm opened #400 "Non-java file changes are not processed"
a spring boot project,only the  .java file can be compiled,when I modify the  file which in /src/main/resources floder that the target/classes file is not  changed.How can I change?

[2018-01-03 04:32] lwl19 opened #401 "How to adds a default serial version ID to the selected type ?"
[provide a description of the issue]
How to adds a default serial version ID to the selected type with java classes?

[2018-01-03 12:39] IzakMarais commented on #344
I actually get very similar problems with maven on Windows 8. I have multi-module maven builds and running `mvn clean install` while VSCode is open sometimes doesn't generate all the .class files it should (no compiler error). When I close VScode and run `mvn clean install` it works. Somehow the java language server is causing contention with the java compiler.

[2018-01-03 12:43] IzakMarais commented on #322
I have the same issue.

[2018-01-03 18:41] fbartho commented on #396
I'm exhibiting the exact same issue for an Android project (in react-native). I have freshly installed VSCode, and tested both opening it at my repo root, and on the `android/` folder (which contains a build.gradle

[2018-01-03 20:08] snjeza commented on #399
@Geeprox we can't do that because we don't know what dependencies are required by your project. You can try to create Eclipse's .project/.classpath files and skip the gradle importer using the following property:

[code]

or try to avoid https with the following setting:

[code]
instead of
[code]

[2018-01-03 20:08] snjeza commented on #401
I suppose I have to add a new quick fix. @fbricon right?

[2018-01-03 20:22] fbricon commented on #401
@snjeza yup

[2018-01-04 03:30] Geeprox commented on #399
"java.import.gradle.enabled": false helps me, Tkx!

[2018-01-04 03:30] #399 closed

[2018-01-04 16:08] ADTC commented on #390
@fbricon @snjeza appreciated if you can give a comment on this...

[2018-01-04 20:32] snjeza commented on #390
@ADTC could you provide a project example?

[2018-01-04 23:52] ADTC commented on #390
@snjeza I wouldn't know how to provide a project example because the issue happens randomly so I couldn't make an example that reproduces it reliably. It's not dependent on having troubled code in the project. I could send you an example project but when you load it, you may not reproduce the issue at first. But just maybe, opening it repeatedly over a few days could reproduce the issue, _maybe_.

[2018-01-05 11:29] jeffmaury opened #403 "Starts never completes on an Ionic2 project"
I loaded an Ionic2 project with Android platform and the server starts but never completes.
I have managed to get the Eclipse log:
[code]

##### Environment
- Operating System: Windows 10
- JDK version:1.8.0_93
- Visual Studio Code version:1.19.1
- Java extension version:0.16.0

##### Steps To Reproduce
1. Load the project into VSCode
2. [step 2]

[attach a sample project reproducing the error]
[a

[2018-01-05 12:07] gorkem commented on #400
It depends on your build configuration. Are you using maven and hot swapping?

[2018-01-05 12:08] gorkem commented on #403
Does eclipse buildship support Android?

[2018-01-06 03:09] gorkem commented on #403
@snjeza can you take a look, server should at least completes with a fail 👎

[2018-01-06 17:16] etem opened #404 "File saving issues"
Hello,

I'm getting error message `"Failed to save '<filename>.java': The content on disk is newer. Click on Compare to compare your version with the one on disk."` every few minutes while editing a java file. This happens only when the Language Support for Java(TM) by Red Hat extension is installed and enabled. The opened file is local.
Auto save is enabled with following settings:

##### Environ

[2018-01-06 18:48] snjeza commented on #404
I can't reproduce the issue.
Could you attach your settings.json?

[2018-01-06 20:12] etem commented on #404
Please find it attached as .txt file.
[settings.txt](https://github.com/redhat-developer/vscode-java/files/1609184/settings.txt)

[2018-01-08 05:45] zhuXunRun commented on #394
+1

[2018-01-08 07:36] Yensan opened #405 "Can not save as utf8"
reported in VScode https://github.com/Microsoft/vscode/issues/40743
- VSCode Version: Code 1.19.1 (0759f77bb8d86658bc935a10a64f6182c5a1eeba, 2017-12-19T09:46:23.884Z)
- OS Version: Windows_NT x64 6.1.7601

Extension|Author (truncated)|Version
---|---|---
java|red|0.16.0

Can not save as utf8. **This is a new issue in 1.19.**

Steps to Reproduce:

- turn off java plugin, new a file `CharacterTest.j

[2018-01-08 07:39] Yensan commented on #405
https://github.com/Microsoft/vscode/issues/40743

[2018-01-08 07:45] Yensan commented on #405
#394

[2018-01-08 13:37] JDelorean commented on #305
I get the same error, only thing is clearing the workspace directory does nothing. It occurrs when opening VS Code even if no Java project has been selected. Cannot see the log file either. When I hit 'Java: Open Java Language Server log file' it does nothing.

I'm on Win10 64x, JVM 1.8.0_152 (previously JVM 1.9.0.1 - same result), VS Code 1.19.1.

[2018-01-08 14:02] snjeza commented on #405
A duplicate of #394

[2018-01-08 14:02] #405 closed

[2018-01-08 17:02] rsmidt commented on #394
+1

[2018-01-09 05:30] Kevin-He-DVHS commented on #154
Same issue here. It's very annoying because there's a known issue that iCloud clashes with the autosave feature with VS Code that constantly throws the error: "Contents on disk is newer", see issue #13665
In order to cope with this issue I either have to rename the folder by adding ".nosync" to the end the the folder name or move it out of iCloud Drive, either of them requires changing the path of

[2018-01-09 09:11] whmmm opened #406 "Provide an option to disable the 'auto build'"
When I save the changes,the plugin will be build file ,How can I
build file with command instead of auto build?

[2018-01-09 14:45] fbricon commented on #406
Auto-build can not be disabled at the moment. We enabled it by default so that workspace-wide errors can be reported (eg. removing a public method in one class would cause compilation errors in other files consuming that method).

I guess, for large workspaces, it may make sense to be able to disable autobuild if it negatively impacts performance.

[2018-01-09 14:45] yaohaizh commented on #392
I had a similar issue here.  It seems the API JavaRuntime.getDefaultVMInstall() cannot correctly detect the right JVM version here and always pick up the 1.8. @fbricon @gorkem  Any insight here?

[2018-01-09 14:52] fbricon commented on #392
I haven't looked but I think, eventually, we might need to be able to pass a list of java installations to the server.
@snjeza any idea?

[2018-01-09 15:05] fbricon commented on #404
@snjeza FYI I can reproduce this issue on my mac

[2018-01-09 15:16] fbricon commented on #404
I can't reproduce it constantly though. It seems typing for a while triggers it. My gut feeling is this is a vscode bug though. I think vscode waits for a server response to perform some actions and ends up being confused upon file save. @aeschli can probably chime in here ;-)

[2018-01-09 15:22] fbricon commented on #404
@etem with "files.autoSaveDelay": 1000, it seems to behave nicely. Saving more often than that doesn't seem that useful. I don't think you'll see much of a difference increasing the save delay. Anything between 2 and 5sec is probably good enough.

[2018-01-09 15:50] fbricon commented on #396
Sorry but Android development is not supported at the moment. This is a [limitation of BuildShip](https://bugs.eclipse.org/bugs/show_bug.cgi?id=468315), the project providing Gradle support.

[2018-01-09 16:04] luebken commented on #304
Why not?

[2018-01-09 16:10] fbricon commented on #304
Because we're a very tiny team and we're trying to focus on the Java editing experience.

Decompiler support can be (actually is) provided by 3rd party extensions. See the [vscode java decompiler extension](https://marketplace.visualstudio.com/items?itemName=dgileadi.java-decompiler) and https://github.com/dgileadi/vscode-java-decompiler/issues/3

[2018-01-09 18:24] etem commented on #404
@fbricon Thank you. I can confirm that the message appears only when typing. I've also reported it to VS Code Microsoft/vscode#41159

[2018-01-09 21:13] fbricon commented on #403
@jeffmaury can you provide a sample project?

[2018-01-09 22:28] snjeza commented on #403
[code]

[2018-01-09 22:52] #403 closed

[2018-01-09 23:56] #401 closed

[2018-01-10 13:31] whmmm opened #408 "Java formatter will be not working when I use lombok plugin"
"java.jdt.ls.vmargs": "-noverify -Xmx512m -XX:+UseG1GC -XX:+UseStringDeduplication  -Dfile.encoding=UTF-8 -javaagent:e:\\jar\\lombok.jar  -Xbootclasspath/a:e:\\jar\\lombok.jar",

When I use the lombok plugin ,the Java formatter will be  not working.

[2018-01-10 13:34] whmmm commented on #408
If you add lombok  annotation to the class (such as @Data,@Sl4j...),the formatter will not working

[2018-01-10 13:38] fbricon commented on #408
Closing as duplicate of #243

[2018-01-10 13:38] #408 closed

[2018-01-11 10:12] etem commented on #404
Thanks. I have updated "files.autoSaveDelay" to 5000. The message still appears but not so often - once every 5-10 mins.
VS code issue id - Microsoft/vscode#41159

[2018-01-11 21:24] ChiriVulpes opened #409 "Autocomplete for package statement has the correct suggestion on top, but by default the last used package is selected"
##### Environment
- Operating System: Windows 10
- JDK version: 1.8.0.131
- Visual Studio Code version: 1.19.2
- Java extension version: 0.16.0

##### Steps To Reproduce
Example package: `package yuudaari.soulus.common.serializer;`
The file is located inside this folder, so it correctly guesses that this is the package it needs to be. However, if I type `package y`, the package used previously fro

[2018-01-12 11:09] NathanIceSea opened #410 "File Save Handler is trying to map UTF-8 characters to GBK, causing messy code"
When saving seperated java file in UTF-8 encoding, Chinese characters are reformatted to messy code, log shows that the support service was trying to map characters to GBK, which violates my willing, hopefully there should be a way to determine the default charset other than decided by system language.

##### Environment
- Operating System: win10 pro, default lang: Chinese
- JDK version: 1.8u151
-

[2018-01-12 11:14] NathanIceSea commented on #410
by the way , my vscode setting of file saving goes as followed:
"files.encoding": "utf8",
which is default

[2018-01-12 11:43] flurbius commented on #396
Fair enough, and please forgive me if I ask this here but is there an
alternative that can provide Java language support.
Or are there any good docs that might give somebody a good basis to debug
the plugin or at least figure out a work around, eg do you think getting
eclipse on my system would help?
I just don't want to fire up Android studio unless I really do need a
dreadnaught class battle Sta

[2018-01-12 13:02] fbricon commented on #410
@snjeza please check if this was fixed by the recent fix for utf8

[2018-01-12 18:09] snjeza commented on #410
A duplicate of https://github.com/redhat-developer/vscode-java/issues/394
@NathanIceSea You can try http://download.jboss.org/jbosstools/jdt.ls/staging/java-0.17.0-799.vsix

[2018-01-12 18:09] #410 closed

[2018-01-12 18:47] dschaefer opened #411 "Add a flat packages view"
Us old timers in Eclipse have gotten used to seeing the packages presented in a flat list. I'm not sure whether that's a good thing or bad thing, but it would help with the transition. And it is good for users looking at a project for the first time and doesn't know what the class names are.

[2018-01-14 14:11] phil294 commented on #100
buld generation like in [jetbrains](https://intellij-support.jetbrains.com/hc/user_images/Ee7QXLISd30ZHKRcMpw7KQ.png) or [eclipse](http://www.benchresources.net/wp-content/uploads/2017/08/generate-getter-setter-select-fields-in-eclipse-ide-3.png) would be pretty useful also.

[2018-01-15 11:48] EwoutLeo opened #412 "Question about java classes."
[VS code automatically generates java classes when compiling]

##### Environment
- Visual Studio Code version:
- Java extension version:

##### Steps To Reproduce
1. Open a java Project.
2. Compile and run it.

##### Current Result
https://imgur.com/a/fhYBy

When i compile and run my project, VS code automatically generates a java class for each Java. (as you see in the image for Test and Main). F

[2018-01-15 20:17] fbricon commented on #398
Performance is indeed abyssmal. We need to check if updating to a newer version of JDT helps or if there's something truly broken in jdt.ls

[2018-01-15 22:43] fbricon commented on #412
Our extension generates the class files on purpose, but they're normally separated from your java classes, into a separate compilation folder. Are you sure you're using [vscode-java](https://marketplace.visualstudio.com/items?itemName=redhat.java) and not some other Java extension?

[2018-01-15 22:53] fbricon commented on #409
I can reproduce the issue. jdt.ls sends the proper package in the 1st position, but vscode 1.19 tries to be smarter and [selects the most recently used item](https://code.visualstudio.com/updates/v1_19#_smarter-intellisense), overriding the server's proposal. @aeschli any idea on how to mitigate that?

[2018-01-16 12:45] EwoutLeo commented on #412
Im pretty sure I'm only using vscode-java, cuz its the only extension i have installed.(As you can see in the picture)

https://imgur.com/a/TUhQK
https://imgur.com/a/OhM0m

So how can i solve this? Cuz it would be really helpfull to have the classes automatically generate in a separated folder.

[2018-01-16 13:30] fbricon commented on #412
@EwoutLeo what kind of project is that? Maven, Gradle, plain Eclipse? Can you provide a sample project reproducing the issue?

[2018-01-16 14:07] EwoutLeo commented on #412
@fbricon It's not really a project, im trying to learn some java, (I'm a beginner); It's just a stand-alone java file, just some things like the "Hello World" basic tutorials. Is that what causes this issue?, Sorry if my problem is really stupid xD.

[2018-01-16 14:08] fbricon commented on #412
ok, when you said compile and run it. did you actually call `javac`?

[2018-01-16 14:10] EwoutLeo commented on #412
@fbricon Yeah i did:
javac Main.java
and then to run i did:
java Main

[2018-01-16 14:23] fbricon commented on #412
`javac` creates Main.class, that's it's only job :-), so vscode-java did nothing.

You have a few alternatives if you don't want to mix sources and classes:
- call [javac -d outputdirectory](https://docs.oracle.com/javase/8/docs/technotes/tools/windows/javac.html)
- don't call javac, but use F5 (select Java) to let the [Java debugger automatically compile your class before running it](https://blog

[2018-01-16 14:23] #412 closed

[2018-01-16 22:05] #392 closed

[2018-01-20 20:29] ikbalsingh commented on #355
Current Workaround for Ubtuntu (cleared .config/Code/User/workspace) not working.

[2018-01-22 13:03] joowdx opened #415 "Can't read an input (debug console)"
Can't read an input (debug console). Always gives me this
`Failed to evaluate. Reason: Cannot evaluate because the thread is resumed.`

##### Environment
- Operating System: 4.14.13-1-ARCH
- JDK version: openjdk version "1.8.0_144"
- Visual Studio Code version: Version 1.19.2
- Java extension version: 0.2.0

##### Steps To Reproduce
1. [Here's my sample code]
[code]
2. [F5 and enter an input]
[cod

[2018-01-22 13:22] fbricon commented on #415
This extension only handles Java-related edition of your code. To report running Java code problems, please open tickets to https://github.com/Microsoft/vscode-java-debug.

[2018-01-22 13:22] #415 closed

[2018-01-22 21:15] joowdx commented on #415
Hi sorry bugging you for it but I already found one [here](https://github.com/Microsoft/vscode/issues/38637) and they say

[2018-01-23 02:27] yaohaizh commented on #415
@joowdx You should log issues against Java Debugger extension here: https://github.com/Microsoft/vscode-java-debug
[code]

[2018-01-24 02:26] whmmm opened #416 "Interface methods missing the “implementation” code lens"
only the interface has “implementation”
![image](https://user-images.githubusercontent.com/22763406/35311342-009af714-00f1-11e8-88cf-65ad5d44e226.png)

[2018-01-24 12:06] kameshsampath opened #417 "Add support for Optimizing Imports"
It would great to have actions that helps to optimize imports in a Java source file.

[2018-01-24 12:33] fbricon commented on #417
There are both  an [`Organize imports` code action](https://github.com/redhat-developer/vscode-java/issues/56), visible on unused imports, and a [command, mapped to `Shift+Alt+O`](https://github.com/redhat-developer/vscode-java#available-commands).

If you try the [latest CI Build](http://download.jboss.org/jbosstools/jdt.ls/staging/), you can also organize imports as a [save action](https://githu

[2018-01-24 12:33] #417 closed

[2018-01-24 15:11] vincent1147 opened #418 "Code is broken for no reason."
Hi,

I've set up VS Code and created some projects a month ago.
Then I didn't run any Java Code for a month. I was busy with c# projects.
Today I open VS Code and tried to run the Java code.

The IntelliSense doesn't work.
The program output errors.

I tried the test program too. It didn't work.

.classpath is correct. The same setting worked a month ago. Nothing has been changed except the VS Cod

[2018-01-24 15:24] fbricon commented on #418
Java extension version: 0.2? Are you talking about Microsoft's Java Extension Pack? This issue tracker is for [Language Support for Java(TM) by Red Hat](https://marketplace.visualstudio.com/items?itemName=redhat.java) (embedded in the extension pack). You should have version 0.17.0.

Your screenshot doesn't show the thumb up icon vscode-java has when jdt.ls is started.
<img width="74" alt="screen

[2018-01-24 15:26] fbricon commented on #418
Also, your manual compilation can't work since you're not adding the json jar to the classpath, but that's outside the scope of vscode-java

[2018-01-24 15:38] fbricon commented on #416
So this is done [by design](https://github.com/eclipse/eclipse.jdt.ls/issues/99#issuecomment-273651025).

There's not *much* added value in adding code lenses for method implementations when the class implementations are already referenced. Computing implementation links for individual methods would also have a negative impact on performances.

[2018-01-24 15:57] fbricon commented on #159
Issue fixed upstream, so now targeting the mid february release

[2018-01-24 16:00] fbricon commented on #391
Issue has been fixed upstream. We'll pick up the m2e 1.9 M5 bits with that fix, for the next release.

[2018-01-24 16:07] fbricon commented on #400
Actually, this is caused by vscode-java ignoring non-java file changes.

If we were to send all workspace file changes to the server, then m2e will detect process those resources and they'd be copied to target/classes.

But I'm not sure we want the server to take that responsibility. I'd rather encourage users to perform manual builds when non-java changes are involved.

[2018-01-24 16:42] fbricon commented on #368
@snjeza can you please see if we can add the equivalent of
<img width="652" alt="screen shot 2018-01-24 at 11 38 06 am" src="https://user-images.githubusercontent.com/148698/35344421-1947ce54-00fb-11e8-8055-6f8d3b46cbcc.png">

via a server preference like:

[code]

The .* suffix seems to be just for show in Eclipse UI, we could very well ignore it.

My main concern about this feature is if relies

[2018-01-24 16:44] fbricon commented on #368
@ADTC can you please open a separate bug report, proposal sort order/relevance is a bit of a different matter.

[2018-01-24 16:48] vincent1147 commented on #418
Ah right. The version is 0.17.0.
I was reinstalling the Language Support by Red Hat.
I've cleaned the workspace. The Intelligence is working now.

The test program still doesn't work. The classpath is correct.

![screen shot 2018-01-24 at 5 43 27 pm](https://user-images.githubusercontent.com/26737365/35344876-7057fa74-012e-11e8-9a02-767b57b19963.png)
![screen shot 2018-01-24 at 5 46 27 pm](https:/

[2018-01-24 16:56] vincent1147 commented on #418
Is there any update about the .classpath?

[2018-01-24 16:58] gorkem commented on #400
Can we dynamically register locations to watch to the client?

[2018-01-24 17:08] azdanov opened #419 "Google Java Format"
Is there a way to setup formatting with [Google Java Format](https://github.com/google/google-java-format)?
Or an entirely new extension is needed which will run the `jar` formatter on opened file?
If so, what would be the best way to implement this as an extension, e.g running external `jar`?

[2018-01-24 17:33] vincent1147 commented on #418
I think it's the Code Runner issue.

The code works fine in Debug.

[2018-01-24 18:37] vincent1147 commented on #418
Yeah. I've repeatedly tested. The problem is in Code Runner.

Thank you for the quick reply. :)

[2018-01-24 18:38] #418 closed

[2018-01-24 19:26] ronniehicks opened #420 "Adhere to eclipse .importorder file"
I don't think it's a bug, but I'd like the Organize Imports action to respect an `.importorder` file from Eclipse. Sorry ahead of time if this is the wrong place to post this.

##### Environment
- Operating System: Win 10
- JDK version: 1.8.0_162
- Visual Studio Code version: 1.19.2
- Java extension version: 0.17

##### Steps To Reproduce
1. Add .importorder file to .settings directory
2. Perform

[2018-01-24 19:47] fbricon commented on #420
From what I can tell, eclipse can __export__ xyz.importer files, but doesn't load them automatically. In Eclipse, import order is configured through the org.eclipse.jdt.ui.importorder preference in .settings/org.eclipse.jdt.ui.prefs, but this is not supported by jdt.ls/vscode-java.

Do you need a 3rd party plugin to have `.importorder` files being loaded in Eclipse?

[2018-01-24 21:38] fbricon commented on #400
@gorkem I've been thinking about letting 3rd party extensions contribute files patterns for vscode-java to watch, when I started looking at polyglot maven support (so that pom.groovy changes would be picked up for instance). I think I have a good idea on how to proceed, but I have not implemented anything yet.

[2018-01-24 21:41] fbricon commented on #400
So maybe we can expose a vscode-java preference for users to add custom watched patterns. @gorkem wdyt?

[2018-01-24 21:46] fbricon commented on #400
Since fileevents are used to [configure the client](https://github.com/redhat-developer/vscode-java/blob/master/src/extension.ts#L46-L51), changing the list of watched files would require restarting the extension.

[2018-01-24 22:24] gorkem commented on #400
We probably can hack our dynamic solution by using `vscode.createFileSystemWatcher()` API.

I do not like the custom watch preference because it is not an obvious solution to this issue.

[2018-01-25 00:00] fbricon commented on #400
A dynamic solution is irrelevant to end-users.

The immediate problem is not specific to spring boot. So either we add */src/main/resources/* as default watched pattern in vscode-java, or we let users add their own.

[2018-01-25 00:20] #391 closed

[2018-01-25 03:25] #416 closed

[2018-01-25 07:22] musiKk commented on #2
FWIW there is a [maven plugin](https://github.com/revelc/formatter-maven-plugin) which uses the Eclipse formatter and can use any provided formatting configuration. A native solution would be better of course.

[2018-01-25 17:54] ronniehicks commented on #420
Apologies, if I misunderstand your question here, but it sounds like you're asking if I'm in need of a plugin for Eclipse to load these files? If so, sure, I'll pass it on to the team I'm currently on, and keep it in mind if I start doing java development in Eclipse.

Thanks!

[2018-01-26 01:03] fbricon commented on #398
Seems fixed with the update to Eclipse Photon in the latest jdt.ls builds

[2018-01-26 01:03] #398 closed

[2018-01-26 14:02] ddcprg commented on #419
This would be cool.

I'm looking for a way of configuring the formatter and the code organizer with similar settings to eclipse/intellij even better if I can import the files directly. Seems like this extension comes with predefined settings which cannot be changed.

[2018-01-26 14:07] fbricon commented on #419
The only way you can set it up currently is to save the google java format as eclipse formatter settings, in your .settings/[org.eclipse.jdt.core.prefs](https://gist.github.com/fbricon/30c5971f7e492c8a74ca2b2d7a7bb966).

[2018-01-26 14:15] fbricon commented on #419
I added an entry to the [wiki](https://github.com/redhat-developer/vscode-java/wiki/Formatter-settings)

[2018-01-26 15:45] azdanov commented on #419
I've found a solution that works ok.

https://code.visualstudio.com/docs/editor/tasks

For that to work make sure `java-google-format` can be executed from terminal. In my case:

* Installing via `brew install google-java-format` does the trick.
* Create a `tasks.json` file in `.vscode` directory inside your workspace with necessary commands.
* Run from vscode command palette by running `task` and

[2018-01-26 16:01] ddcprg commented on #419
thanks @fbricon @azdanov for the swift response

[2018-01-26 22:13] auchenberg opened #421 "We plan to feature your VS Code extension"
Hi,

It's Kenneth from VS Code. First a big congrats on reaching the 2mio installs, hope the cake was good! 🎂🎉

I'm reaching out to tell you that we plan to feature your awesome VS Code extension on our marketplace https://marketplace.visualstudio.com/#VSCode in the next iteration. I'm opening an issue here as there seem to many contributors on this extension, and I'm not sure who the owner is.

P

[2018-01-26 22:32] gorkem commented on #421
Thanks, Kenneth. This is great news. We do not have anything major and should be good to go.
When is the next iteration?

[2018-01-27 15:48] xqliu commented on #373
I believe that's not support at this time(android project with gradle build set)

[2018-01-27 22:06] auchenberg commented on #421
@gorkem That will be the release of our January iteration which most likely will happen on Feb 5-9th.

[2018-01-29 16:26] #406 closed

[2018-01-30 02:08] #368 closed

[2018-01-30 05:05] #420 closed

[2018-01-30 13:48] ADTC opened #424 "Sort the quick fix menu for imports in a order that makes sense"
I'd be happy if the menu is sorted in a more sensible manner. Right now it looks so random and messy. It doesn't even look like a lexicographic sort. **And it's hard to look for the correct import when the menu is very lengthy.** 😞

![unsorted random list of import and change to suggestions](https://user-images.githubusercontent.com/6047296/34165285-d7ac2a18-e501-11e7-8b42-ef52beeeccba.png)

Can i

[2018-01-30 13:55] ADTC commented on #368
@fbricon Done with #424

[2018-01-30 14:49] fbricon commented on #424
This is definitely a bug invscode-java/jdt.ls. Comparing vscode-java:
<img width="578" alt="screen shot 2018-01-30 at 9 44 55 am" src="https://user-images.githubusercontent.com/148698/35572378-7fdd7b22-05a2-11e8-84f2-636e3cedc540.png">

to the same file opened in Eclipse:
<img width="560" alt="screen shot 2018-01-30 at 9 45 25 am" src="https://user-images.githubusercontent.com/148698/35572397-8732

[2018-01-30 15:25] ADTC commented on #424
Thanks for the confirmation!

[2018-01-31 14:27] fbricon commented on #420
So while .importorder files are still not supported (I still need more info on their usage), a new `java.completion.importOrder` preference is available.  A package or type name prefix (e.g. 'org.eclipse') is a valid entry. An import is always added to the most specific group. Default value is:
[code]

[2018-01-31 14:35] fbricon commented on #406
Setting the new `java.autobuild.enabled` preference to false disabled the automatic build.

[2018-01-31 14:40] fbricon commented on #368
New `java.completion.favoriteStaticMembers` preference allows you to define your favorite imports. Default values are:
[code]

[2018-01-31 15:59] sant123 opened #425 "Modifying files in resources/templates doesn't reload in Spring Boot"
When modifying resources in templates or static, Spring Boot doesn't take the changes. I have tried disabling cache for view engine but it didn't work.

##### Environment
- Operating System: Windows 10
- JDK version: 1.8.0_162
- Visual Studio Code version: 1.19.3
- Java extension version: 0.17.0

##### Steps To Reproduce
Please see https://github.com/Microsoft/vscode-java-debug/issues/226

This is

[2018-01-31 16:34] fbricon commented on #425
Duplicate of #400. Try to force an incremental build (Alt+Shift+B) when after you changed your templates

[2018-01-31 16:34] #425 closed

[2018-01-31 17:00] ADTC commented on #390
This still happens, and I have to 'fix' it every time by restarting VSCode after "Update project configuration". Is there any chance I can provide some logs and you can try to see what the issue is?

What the hell is a _lifecycle mapping_ anyway?

[2018-01-31 21:20] fbricon commented on #390
Do you ever open that project in Eclipse? It's highly unlikely vscode-java generates those linked resources. But I don't think that's related to the unavailable mapping anyway.

A lifecycle mapping is basically something that tells m2e (the underlying Maven integration) what to do with the maven plugins in your pom.xml. This is all pretty much internal stuff. For some reason it seems the server fa

[2018-01-31 22:09] ADTC commented on #390
Thank you for that. I don't open the project in Eclipse, never did. I used to open it in IntelliJ IDEA, however, I didn't do so after I have switched to VS Code. One thing I still do is to sometimes use the Git command line on the project.

I have enabled verbose logging and I will report back with the workspace log when the issue occurs again. (Also I just updated to the latest version of the plu

[2018-01-31 22:21] fbricon opened #426 ""Implement missing methods" is not available anymore"
With the latest 0.18.0 release "Implement missing method" code actions are gone!

##### Steps To Reproduce
1. Open file like
[code]
2. put cursor on App, which has an error

##### Current Result
code action to implement missing methods are missing

##### Expected Result
code action to implement missing methods should be available

##### Additional Informations
Other code actions still work

[2018-01-31 22:34] fbricon commented on #426
Weirdly enough, code action shows up  for anonymous classes, like:
[code]

[2018-02-01 03:35] #426 closed

[2018-02-01 07:30] whmmm commented on #406
@fbricon  Thanks a lot ！！！

[2018-02-01 08:07] dsyer opened #427 "Test classes not found"
I don't really know what I did to this project. Normally I'd say it works for me, but now I can't see any test running features in JUnit tests, and there are red markers on the test classes saying they can't be found. So the language server is running, and seems to work for the compile scope classes. It's a maven project (fresh checkout from github).

Here are some logs from the JLS output:

[code

[2018-02-01 08:12] dsyer commented on #427
Update: I deleted the Eclipse metadata and re-opened the project and now the test classes are found, but my tests are not runnable.

[2018-02-01 09:16] dsyer commented on #427
The same project works for me on another machine (same ubuntu release, different packages installed), so there is something about this laptop that sucks. I had issues yesterday with it and ended up deleting all of `~/.config/Code` (which fixed a different problem). Is there any other global state that might be different in the two environments?

[2018-02-01 13:32] fbricon commented on #427
Log showed the m2e bits failed to start as the workspace seems to be corrupted. [Deleting the workspace directory](https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#clean-the-workspace-directory) is usually a good remedy.

No idea why the tests are not runnable though. Can you be more specific? Any  message, logs for that? Is the project available publicly?

[2018-02-01 13:33] fbricon commented on #427
Also, can you make sure vscode-java is updated to the latest version (0.18.1 as of now)

[2018-02-01 14:26] dsyer commented on #427
It's the same for all projects. FWIW I was looking at spring-projects/spring-guice and spring-io/initializr today.

I deleted the workspace directory as per the link. I can't see the little "thumbs up" (Ready) icon and I only see a little rocket that has no text on it.I don't think the language server is running at all now. I saw this briefly:

[code]

Yes, that's what I have.

[2018-02-01 14:57] fbricon commented on #427
@dsyer both spring-guice and initializr open properly for me. Tests compile. Some tests run some others don't, but that's an issue with the [Java Test Runner](https://github.com/Microsoft/vscode-java-test/issues).

Close VSCode and check with `jps` if you have zombie server processes running:
[code]
kill whatever org.eclipse.equinox.launcher* process you find and reopen Code.

[2018-02-01 15:00] khe817 commented on #398
I updated to the newest released version (0.18.1). The issue is now worse with no hint popping up at all when I type an object and wait for its functions hints to show.

Reference hint, peek definition (Alt+F12), and go to definition (F12) for classes defined in a local project (vs classes from imported package in pom.yml)  also now do not work. An error "No definition" pops instead.

Reference hi

[2018-02-01 15:02] khe817 opened #428 "Code autocomplete and reference hint do not work in java JDK 9.0.1"
Continued from this issue that was closed: #398

I updated to the newest released version (0.18.1). The issue is now worse with no code completion popping up at all when I type an object and wait for its functions hints to show.

Reference hint, peek definition (Alt+F12), and go to definition (F12) for classes defined in a local project (vs classes from imported package in pom.yml) also now do not

[2018-02-01 15:07] fbricon commented on #428
Everything works and seems pretty snappy for me on some simple projects.

It rather looks like you get no java support at all, as if the server was non-responsive. Can you paste [your server log and trying cleaning your VSCode workspace directory?](https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#get-the-java-language-servers-workspace-logs)

[2018-02-01 16:08] khe817 commented on #428
@fbricon Cleaning the VSCode workspace directory did it for me.

Everything works smoothly now.

Thank you very much for you help!

[2018-02-01 16:08] #428 closed

[2018-02-01 17:17] ADTC commented on #390
@fbricon please see the attached file: [vscode-java.log](https://github.com/redhat-developer/vscode-java/files/1686480/vscode-java.log)

[2018-02-01 17:36] fbricon commented on #338
With the vscode 1.19.3 (probably earlier versions too), highlighting is better, but there are still some issues with comments in the middle of a variable declaration:
<img width="508" alt="screen shot 2018-02-01 at 12 33 41 pm" src="https://user-images.githubusercontent.com/148698/35693436-3564a024-074c-11e8-9db9-feb8e65ba2c2.png">

[2018-02-01 17:40] fbricon commented on #390
I've seen this issue pop up several times, randomly, but haven't found the cause of the m2e plugin failing to start yet. We need to investigate.

[2018-02-01 17:43] fbricon commented on #427
So m2e failing to start on an existing workspace is a known issue, see #390.

For the tests failing to run, please open a ticket at https://github.com/Microsoft/vscode-java-test/issues (cc @ansyral).

Closing as a duplicate.

[2018-02-01 17:43] #427 closed

[2018-02-01 17:55] fbricon commented on #404
I can't reproduce this issue with vscode-java 0.18.1 and vscode 1.19.3. @etem do you still have that problem?

[2018-02-02 22:07] fbricon opened #430 "Organizing imports in module-info.java removes all imports"
After organizing imports on module-info-java (`Shift+Alt+o`), this:
[code]

becomes

[code]

and the file fails to compile because of the unknown Driver type. It's **very** annoying when organize imports is triggered on save.

[2018-02-02 22:12] fbricon commented on #421
It is on!
<img width="1183" alt="screen shot 2018-02-02 at 1 14 25 am" src="https://user-images.githubusercontent.com/148698/35757224-2ad8aeb6-083c-11e8-999c-bd6a9fb5faaa.png">

Thanks @auchenberg. Guess we can close this one now.

[2018-02-02 22:12] #421 closed

[2018-02-02 22:52] auchenberg commented on #421
@fbricon Yes, we updated a bit earlier. I hope this will drive some numbers for you!

[2018-02-03 00:29] Clevi-Villa opened #431 "Java language support requires Java 8 (using C:\Progra~1\Java\jdk-9.0.4\bin\java.exe)"
I have the latest JDK installed, as well as the latest version of Java installed, but I still get this message. I've set the java.home variable in the VS Code settings file, and the JAVA_HOME environment variable to the appropriate path.

Do I need a different version of Java, or is there a problem with this:

![image](https://user-images.githubusercontent.com/33530965/35760561-13567d5a-084f-11e8-

[2018-02-03 05:48] fbricon commented on #431
You have both vscode-java (aka redhat.java) and [georgewfraser.vscode-javac](https://github.com/georgewfraser/vscode-javac/blob/master/package.json#L74), 2 competing java extensions, installed. It's generally not a good idea to have both installed at the same time, as you can see there's a settings key conflict. I suggest you remove one of them. If you keep vscode-java, make sure your java.home pa

[2018-02-03 14:06] #419 closed

[2018-02-03 19:55] Clevi-Villa commented on #431
Ah-ha... I suppose I installed 2 Java Support extensions upon downloading VS Code without realizing I did... I forgot about that. I uninstalled Fraser's extension, and that did the trick.

Thank you, and...
my apologies.

[2018-02-03 19:55] #431 closed

[2018-02-06 18:32] ScrippsFEE opened #433 "51% Starting Java Language Server... never starts"
Opening this new issue because #162 is closed.
I can't get this plugin working. I've cleaned the workspace as instructed in issue #162

##### Environment
- Operating System: OSX Sierra
- JDK version: "1.8.0_65"
- Visual Studio Code version: 1.19.3
- Java extension version: 0.18.1

##### Steps To Reproduce
1. start VS Code
2. wait for JLS to start

[attach a sample project reproducing the error]
[a

[2018-02-07 14:40] #159 closed

[2018-02-09 03:19] kmccmk9 commented on #63
I also seem to be having issues with this. I have correctly set my java.home workspace setting to:

`"java.home": "C:\\Program Files\\Java\\jdk1.8.0_162"`

When running a maven build task I get the error in console:

[code]

[2018-02-09 13:49] silkster commented on #433
I have uninstalled every plugin related to Java. I reinstalled the Language Support for Java plugin.  This error persists. Anyone here able to help?

[2018-02-09 13:53] silkster commented on #433
Now it says:

[2018-02-09 13:55] solerman commented on #91
Tks, removing that extension resolved the very same issue for me. This issue can be closed

[2018-02-09 14:07] fbricon commented on #91
`[javac]` prefixed messages indicate https://github.com/georgewfraser/vscode-javac has been installed (I should have noticed way earlier). So not a vscode-java issue.

[2018-02-09 14:07] #91 closed

[2018-02-09 14:13] fbricon commented on #63
@kmccmk9 Running the Java editor is one thing, running Maven from CLI is another. Those are 2 pieces of software each requiring their settings.
The `java.home` preference is only used by vscode-java (actually the underlying jdt.ls backend). Maven is not aware of vscode preferences.
If you set JAVA_HOME globally on your system, then vscode-java should be able to pick it up, Maven too.

[2018-02-09 19:57] tristan957-expero commented on #125
@fbricon what that page doesn't mention is how to use Lombok within a Maven project. Would it be possible for the extension to auto-detect the lombok jar in the ~/.m2 folder

[2018-02-11 08:22] pseudo-su opened #435 "Confusing getting started experience [docs]"
### Confusing getting started experience [docs]

As someone who doesn't know much about java I needed to setup a dev environment for an existing Java project.

I'm used to writing & debugging front-end/nodejs/rust/golang in vscode ([Hooray LSP 😍 🎉](https://github.com/Microsoft/language-server-protocol))

It took me a while to figure out why this extension wasn't working initially and I thought I'd

[2018-02-12 17:22] ADTC opened #436 "Return null through ternary operator does not give Type mismatch error"
Returning `null` through a ternary operator does not give Type mismatch error. _It should._

**Code 1:**

    public double getValue() {
        return null;
    }

`null` is error-underlined with the error `[Java] Type mismatch: cannot convert from null to double`.
![image](https://user-images.githubusercontent.com/6047296/36109677-198a743e-1046-11e8-9d73-0797aafb832a.png)

**Code 2:**

    publi

[2018-02-12 18:24] fbricon commented on #436
This is a known bug in the jdt compiler: https://bugs.eclipse.org/bugs/show_bug.cgi?id=416815

[2018-02-12 18:47] fbricon commented on #433
@silkster do you have a new thread dump with the server being stuck at ` Refreshing '/jdt.ls-java-project'.`

Does it happen for all your projects or just 1 in particular?

[2018-02-12 18:49] fbricon commented on #433
Can you try to kill all your java processes before starting vscode (i.e gradle and org.eclipse.equinox.launcher_1.5.0.v20180119-0753.jar). Make sure all vscode instances are closed or else the processes will be respawned

[2018-02-12 19:03] ADTC commented on #436
Since 2013? 😮

[2018-02-13 21:14] gorkem opened #437 "Force compilation error on multi-root workspaces"
I get a `Command 'Java: Force Java compilation' can not be run from here.` error dialog when I execute force Java Compilation on a multi-root project.

[2018-02-13 21:15] fbricon commented on #437
I guess we need to change the scope of the command to something workspace friendly

[2018-02-13 21:47] fbricon opened #438 "*.vsix files built by Jenkins are ~30% larger than those built locally"
*.vsix files built by Jenkins are currently ~10MB larger than those built locally (45MB vs 34MB).

Size suddenly increased with java-0.9.0-365.vsix, in August 2017, see http://download.jboss.org/jbosstools/jdt.ls/staging/

That sucks!

[2018-02-13 21:48] fbricon commented on #438
Locally, I do
`rm -rf server node_modules; npm install; gulp build_server; npm run vscode:prepublish; vsce package`

[2018-02-14 04:57] UtkarshGupta-CS commented on #328
Change the extension generated file `.settings.org.eclipse.jdt.core.prefs`
[code]

[2018-02-14 07:49] oakad opened #439 "JDT.LS crashes repeatedly"
##### Environment
- Operating System: Windows 10
- JDK version: 9.0.4
- Visual Studio Code version: 1.20.0
- Java extension version: 0.18.1

##### Steps To Reproduce
Happens persistently and repeatedly

Attempt to use vscode-java extension results in JDT.LS crashing repeatedly, every minute or so (everything appears to work fine between crashes). Most of the time JDT crashes silently, occasionally

[2018-02-14 10:28] MattJakeman commented on #390
This issue is affecting me massively. Nearly every time I open a project I get this behaviour and am forced to close down and reopen vscode a number of times until it magically fixes itself. Did you manage to get any insight into why the m2e plugin is failing to start?

[2018-02-14 14:27] Vanir112 commented on #274
@fbricon Unfortunately it seems like this is still very much an issue, exactly like @clankill3r my package declaration is returning an error of ``The declared package "aprogrammerisneverlate.xtrex" does not match the expected package ""`` despite having a correct file tree to support it.

![image](https://user-images.githubusercontent.com/36479515/36208938-48756d10-1192-11e8-8b3f-f6357f14810c.png)

[2018-02-14 14:59] fbricon commented on #274
@Vanir112 given you have class files mixed with your source code, that tells me you're not using Maven or Gradle to build your code. As a consequence your source folders are not recognized and vscode-java gives you incorrect diagnostics. Can you try to use either Maven or Gradle (which is a good thing to do either way)

[2018-02-14 15:07] fbricon commented on #390
@MattJakeman I can't investigate further until I manage to reproduce the issue. Until then, the best remedy is to [delete the vscode workspace directory](https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#clean-the-workspace-directory) and try again

[2018-02-14 15:12] fbricon commented on #439
Do you get an `extension crashed 5 times in the last 3 minutes` kind of message?
Do you see shutdown statements in the log?

[2018-02-14 15:14] fbricon commented on #439
Can you try running the server with jdk 8?
Have you tried [cleaning the workspace](https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#clean-the-workspace-directory)?

[2018-02-14 15:42] MattJakeman commented on #390
@fbricon Understandable. Unfortunately, deleting the workspace directory doesn't solve the problem for me. Closing and opening vscode a number of times is the only way to remedy it, unfortunately I had to do this a large number of times earlier and it cost me over 20 minutes just to get to a point where I could work on the code. Do you have any more suggestions on work arounds? If there's any info

[2018-02-14 15:56] fbricon commented on #390
@MattJakeman  Is it a Maven or Gradle project? have you tried opening the same project on other windows machines? Can you see if moving the project folder to a different directory yields the same results? How many classes do you have? Does it still crash if you only keep a couple of classes in the project?

[2018-02-14 16:07] MattJakeman commented on #390
@fbricon It's a maven project, running a linux box. I don't have time to look into it at the moment as it is working and I dare not close it down in case it breaks again. I'll give your suggestions a try tomorrow and get back to you. thanks for the help.

[2018-02-14 18:27] snjeza commented on #438
*.vsix built by Jenkins includes several unnecessary files in the extension/server/config_linux/ directory

[code]

[2018-02-14 21:52] ADTC commented on #390
@MattJakeman something that consistently works for me: Press F1 and execute "Java: Update project configuration", then press F1 again and execute "Reload Window". This will temporarily fix the problem, but it may occur again after a couple of restarts. Just apply the temporary fix again.

[2018-02-14 22:03] cryptojonnyboy opened #441 "Java language support requires Java 8 (using C:\ProgramData\Oracle\Java\javapath\java.exe)"
[provide a description of the issue]
Dear community im getting this error messages. How can I solve this?

The java.home variable defined in VS Code settings points to a missing folder
Java language support requires Java 8 (using C:\ProgramData\Oracle\Java\javapath\java.exe)
Thank you in advance.
![java](https://user-images.githubusercontent.com/35565338/36230605-3c86e936-11db-11e8-86c7-10a03dcddc

[2018-02-14 22:07] fbricon commented on #441
Seems like a duplicate of https://github.com/redhat-developer/vscode-java/issues/431#issuecomment-362782640. Make sure you uninstall georgewfraser.vscode-javac

[2018-02-14 22:26] MattJakeman commented on #390
@ADTC Thanks for the tip. I tried that but it didn't work for me. It does it in every project I have as well so it's making it almost unusable at the moment. @fbricon I've tried moving the project directory to no avail. There are only about 5 classes in one of the projects and I see the same behaviour. One of the projects has been worked on on another machine (mac) previously and suffered no issue

[2018-02-14 22:28] cryptojonnyboy commented on #441
@fbricon Thank you for you help. The first one got solved . The second one is a little harder for me to solve.

The java.home variable defined in VS Code settings points to a missing folder

[2018-02-14 22:30] fbricon commented on #441
make sure java.home points to the java home folder, not java.exe

[2018-02-14 22:33] fbricon commented on #390
@MattJakeman can you try on another windows machine? Could you share a small project exhibiting the problem? @snjeza can you think of anything that might help?

[2018-02-14 22:37] MattJakeman commented on #390
@fbricon Unfortunately I don't have a windows machine anywhere that I can test it on. All mac's apart from me at the office. I will try to put together a small example when I am back in the office tomorrow. I'll also ask my colleague to open up some of the projects I am working on, on his mac, to see if it happens for him as well. It's quite a strange issue as it can go for a while with all my pro

[2018-02-14 22:47] cryptojonnyboy commented on #441
Copy pasted this. I still cant star writing codes :(
![java 2](https://user-images.githubusercontent.com/35565338/36232262-5f7cb47e-11e1-11e8-9814-c6a2b2a60425.JPG)

C:/Program Files/Java/jdk1.8.0_131

[2018-02-14 23:05] fbricon commented on #441
can you try with backslashes?
`C:\Program Files\Java\jdk1.8.0_131`
or
`C:\Progra~1\Java\jdk1.8.0_131`

[2018-02-14 23:15] cryptojonnyboy commented on #441
@fbricon I tried both of them it is quite presistent. Anymore things I can try?

[2018-02-14 23:18] snjeza commented on #390
In my opinion, the org.eclipse.m2e.core plugin sometimes takes too long (more than five seconds) to start.

[2018-02-14 23:55] snjeza commented on #441
Could you try
[code]

[2018-02-15 00:01] cryptojonnyboy commented on #441
@snjeza @fbricon I installed the software on my other pc with windows 7 its working like charm there so lets hope its stays that way. Well I tried your code and its working @snjeza. Thank you @fbricon and @snjeza.

[2018-02-15 00:02] fbricon commented on #390
@MattJakeman please download and [install](https://code.visualstudio.com/docs/editor/extension-gallery#_install-from-a-vsix) our latest CI build: http://download.jboss.org/jbosstools/jdt.ls/staging/java-0.19.0-849.vsix.

I'm hoping removing the [crap we had in the linux config folder](https://github.com/redhat-developer/vscode-java/issues/438#issuecomment-365699969) might help fix your issue

[2018-02-15 00:04] fbricon commented on #438
Build size is now back to the regular 34MB, after switching the test and packaging phases

http://download.jboss.org/jbosstools/jdt.ls/staging/

[2018-02-15 00:04] #438 closed

[2018-02-15 00:13] fbricon commented on #430
Fixed in jdt.ls

[2018-02-15 00:13] #430 closed

[2018-02-15 00:17] cryptojonnyboy commented on #441
@snjeza I tried your code with different pathname since my computer has 32-bit OS and 64-bit and the message does not appear anymore. So I guess its working thank you!

"C:\\Program Files\\Java\\jdk1.8.0_131"

[2018-02-15 00:23] oakad commented on #439
1. The extension crash message is there, as expected
2. In the vscode output window the server just starts over. I'm not sure where to look for other log files on Windows.

As to the rest - will do further experiments.

[2018-02-15 00:37] fbricon commented on #441
@cryptojonnyboy so you made it work on your win10 machine with "C:\Program Files\Java\jdk1.8.0_131"? or were you referring to your win7 pc?

[2018-02-15 01:11] cryptojonnyboy commented on #441
@fbricon Hello, its working on my windows 10 machine with this code "java.home": "C:\\\Program Files\\\Java\\\jdk1.8.0_131"

[2018-02-15 02:09] fbricon commented on #441
Ok, I've made the description more helpful, hopefully:

<img width="593" alt="screen shot 2018-02-14 at 9 05 33 pm" src="https://user-images.githubusercontent.com/148698/36237666-45267de6-11cb-11e8-9725-a4fc88bc311d.png">

[2018-02-15 02:09] #441 closed

[2018-02-15 02:18] fbricon commented on #439
That reminds me about a problem with zombie java processes preventing new instances to start.
- Close all your vscode instances
- in a terminal, run `jps` and check all java `org.eclipse.equinox.launcher` processes, like
[code]
- if you see any of those processes, despite having vscode closed, just kill them all and try to reopen vscode

[2018-02-15 03:34] cryptojonnyboy commented on #441
Haha thank you nice!! @fbricon

[2018-02-15 03:43] cryptojonnyboy opened #442 "fatal: Not a git repository (or any of the parent directories): .git"
[provide a description of the issue]
@fbricon Do one of you guys know how I can sol
![git](https://user-images.githubusercontent.com/35565338/36239545-c55636a2-120a-11e8-9791-fd1462849d60.JPG)
ve yet another issue with the Git repository?
##### Environment
- Operating System: windows 7
- JDK version:
- Visual Studio Code version:
- Java extension version:

##### Steps To Reproduce
1. [step 1]
2. [

[2018-02-15 04:30] fbricon commented on #442
Sorry I have no idea what this error means. This issue is not related to vscode-java.
Please report git related problems to https://github.com/Microsoft/vscode/issues

[2018-02-15 04:30] #442 closed

[2018-02-15 07:29] oakad commented on #439
I confirmed that there are no zombie instances. Also, if I reload the window LS restarts properly and works for some (not very prolonged) time.

I have tried it with an old maven project which I never opened in vscode before. Same symptoms - LS works properly, but regularly crashes.

Unfortunately, I don't have  jdk-8 on that windows box, so could not try that. But again, on Linux jdk-9 works just

[2018-02-15 12:18] MattJakeman commented on #390
Hey @fbricon. I have installed the latest CI build and thought it was working, until just now. The event that seemed to trigger it this time was me updating a version of a dependency in pom.xml. I then clicked to allow it to synchronize the java classpath/configuration and when I returned to my source file, the imports are showing up with a red underline again and the project won't run from F5. Co

[2018-02-15 13:10] cryptojonnyboy commented on #442
@fbricon thanks

[2018-02-15 14:30] #424 closed

[2018-02-15 14:48] fbricon commented on #437
Alt+Shift+B works for me, how did you run the command?

[2018-02-15 14:50] gorkem commented on #437
command palette of course

[2018-02-15 16:12] mrpanc commented on #328
@UtkarshGupta-CS  Thank you so much. It has solved my problem.

[2018-02-15 16:32] fbricon commented on #437
Ok so this is not a multi-root problem. The problem is caused by the server build failing , eg. due to compilation errors, then the promise is rejected L197:

https://github.com/redhat-developer/vscode-java/blob/2a993d38e8e4f7c2ed454b8266df13d1fd88e863/src/extension.ts#L181-L202

When the command results fails, when launched from the command palette, vscode reports it couldn't run the command. Whe

[2018-02-15 21:09] fbricon opened #444 "java.import.exclusions preference is ignored during server startup"
While checking https://github.com/eclipse/eclipse.jdt.ls/issues/539, I realized that `java.import.exclusions` are actually ignored during import, as the import is initialized *before* the preferences are set. See logs:

[code]

New configuration is set after workspace is initialized.

[2018-02-15 21:11] fbricon commented on #444
@aeschli can we send the server configuration during initialization, before the 1st call to workspace/didChangeConfiguration?

[2018-02-15 21:13] aeschli commented on #444
@fbricon Yes, you can put custom properties in the init request, see initializationOptions.
https://github.com/Microsoft/language-server-protocol/blob/gh-pages/specification.md#initialize-request-leftwards_arrow_with_hook

[2018-02-15 21:17] fbricon commented on #444
@aeschli thanks for the pointer. @snjeza can you take this one? We'll have to document the expected behaviour on the server side for 3rd party adopters (cc @tsmaeder)

[2018-02-16 18:34] shawmanz32na opened #445 "Extension completely broken"
I'm sorry, but I can't come up with a more specific title.

When I load up my Java project's workspace, which is a multi-module Maven project, none of the Java features are available. I tried uninstalling and reinstallling the extension as part of the Java Extension Pack, restarting VS Code each time, but there was no change. I have then tried each of the possible Java commands from the command pa

[2018-02-16 19:19] Ravenow opened #446 "Add support for "Go to implementation""
Hello. Im new to vscode and java extension.  I wanna see all implementation of target interface, like in jetbrains idea (crtl+alt+b). I setted up ctrl+alt+b  for command java.show.implementations, but it always fail. IMHO thats strange becase implementationsCodeLens works fine. Any help?

Thanks.

##### Environment
- Operating System: fedora 27
- JDK version:  1.8.0.161
- Visual Studio Code versio

[2018-02-16 20:47] shawmanz32na commented on #445
I was able to "resolve" this problem by uninstalling the extensions from VS Code, then manually removing the extension's directories from `~/.vscode/extensions` and also removing the `~/.vscode/extensions/.obsolete`.

I'd hardly call it "graceful", though.

[2018-02-16 20:53] fbricon commented on #445
Looks like a faulty vscode extension update, nothing we can do on the vscode-java side

[2018-02-16 20:53] #445 closed

[2018-02-16 21:24] fbricon commented on #446
The current `java.show.implementations` command is actually internal, not designed to be called manually from the UI, or be bound to a shortcut.

However, VSCode now has a show implementation shortcut (Ctrl+F12) (see https://github.com/Microsoft/vscode/pull/18346), so we should eventually be able to plug into that mechanism, but it's [not been standardized yet](https://github.com/Microsoft/languag

[2018-02-16 21:31] kdvolder opened #447 "Fetching source code for maven dependencies extremely unreliable"
When opening a .class file in a maven project (e.g. by using CTRL-T to open a binary type, or by navigation via CTRL-CLICK)... fetching the sources seems extremely unreliable.

For an example. I was playing with the this project:

https://github.com/kdvolder/chatter/tree/master/chatter-web-ui

I tried opening about a dozen different types. To name a few I remember trying:

- SpringBootApplication

[2018-02-16 21:50] fbricon commented on #447
So, I managed to reproduced the problem for 1 class (org.springframework.web.socket.server.standard.ServerEndpointExporter) when trying to Ctrl+Click on it from ChatterWebUiApplication (got the same default stubs), but other classes from the spring-websocket jar worked fine. After restarting vscode, all sources were available.

So what happens is: until the sources are available, we delegate sourc

[2018-02-16 22:19] fbricon commented on #424
The fix in VS Code will be available in the March 2017 release. Or, if you can't wait, in the VS Code Insiders build on Monday.

[2018-02-16 23:37] ADTC commented on #424
Awesome. I can't wait! :)

[2018-02-17 20:05] etem commented on #404
@fbricon I can't reproduce it either. It seems to be working fine now. Thank you!

[2018-02-19 03:05] oakad commented on #439
I have tried java 1.8.0_162. Same results - LS keeps crashing. I also tried to supply it all kinds of diagnostic switches on command line, as well as attaching a java debugger to it. No luck - it crashes instantly, no diagnostics can be obtained. Some issue on the native level I'd imagine.

The whole thing is rather strange as the machine is a plain Win 10 enterprise install without any other issu

[2018-02-19 05:42] oakad commented on #439
I have got a debug build of openjdk-1.8.0_111 and tried to dump the process, like so:

    .\procdump64.exe -ma -e -t <java_pid>

Procdump reported no exception and dumped the LS process on sudden exit. Upon inspection of the dump only one thread is still active at exit, and it looks like a deliberate exit, not crash:

    jvm!vm_direct_exit+0x15 [c:\ojdkbuild\lookaside\java-1.8.0-openjdk\hotspot\

[2018-02-19 08:57] KaRkY commented on #2
What is teh status of the issue?

It is the only thing preventing me from using this instead of eclipse proper.

[2018-02-19 15:15] maroc81 commented on #445
Same thing happened to me.  Opened up a java project and it was like the extension wasn't even installed.  I removed this extension and dependencies, removed the java extension directories, and reinstalled the extensions.  Now it works again.

[2018-02-20 17:28] snjeza commented on #355
If there are JDK8 and JDK9 in the workspace, Java LS will configure a project's JRE based on the project settings.
If you want to use JDK9, you should add:

[code]
to your pom.xml

@fbricon We can remove all JREs except a JRE defined with the java.home property.

[2018-02-20 17:33] fbricon commented on #355
as a best practice, you should prefer `<release>` over the `<source>`+`<target>` combo, since the compiler will check no unavailable APIs will be leaked during compilation. Only works for Java9+ projects though.

[code]

@snjeza not sure about removing other JREs. You still need to be able to switch between JDK easily, eg. 1.8 -> 9. I need to think about it.

[2018-02-21 00:15] #444 closed

[2018-02-21 01:35] stejsoftware opened #449 "Formatter Config"
Is there a way to configure the code formatter?

[2018-02-21 01:50] fbricon commented on #449
See https://github.com/redhat-developer/vscode-java/wiki/Formatter-settings

Closing as duplicate of #2

[2018-02-21 01:50] #449 closed

[2018-02-21 14:30] sant123 commented on #400
Any advance on this topic? Just asking 😄

[2018-02-22 03:29] #447 closed

[2018-02-22 20:20] kdvolder commented on #339
We've also got some common scenarios in spring-boot projects that depend on annotation processors to work. I.e. the handling of this kind of stuff:

https://docs.spring.io/spring-boot/docs/current/reference/html/configuration-metadata.html#configuration-metadata-annotation-processor.

It would be nice if the language server made annotation processors 'just work' out of the box (i.e. not like it is

[2018-02-23 08:41] vlasenko opened #450 "Feature Request: Reformat all the code with Google Java Format tool on Save"
It would be great to be able to run Google Java Format Tool on Save in VS Code to force consistent code style in each file of the project.

This can be achieved in Eclipse by dropping in Google Java Format Eclipse Plugin, select it as a Format tool and select to run a format tool on Save in the Eclipse project-specific settings. After that Eclipse starts to reformat all the code on each Save opera

[2018-02-23 12:03] DiabolusExMachina commented on #2
Any news on this? I think this is really important.

Even a property like "java.formater.file" in vscode to point to my global company rules would really help. I don't want to copy the file in all of our projects by hand...

[2018-02-23 13:30] fbricon commented on #450
First, format on save is enabled via the vscode preference `"editor.formatOnSave": true`. Files will be formatted according to the [eclipse formatter settings.](https://github.com/redhat-developer/vscode-java/wiki/Formatter-settings)

Now, for the google formatter, the way I see it, vscode-java might be able to expose a new formatter implementation preference, but then the google formatter itself

[2018-02-23 13:36] vlasenko commented on #450
@fbricon Cool! `"editor.formatOnSave": true` is what I was actually looking for. Many thanks!

[2018-02-23 13:36] fbricon commented on #2
Sorry guys, there's been no new development in that area yet. As a workaround for your formatting options, please read https://github.com/redhat-developer/vscode-java/wiki/Formatter-settings

[2018-02-25 18:12] #404 closed

[2018-02-26 09:08] subpandu commented on #2
Trying to use the given workaround, how do you tell vscode to pick the formatting rules from .settings/org.eclipse.jdt.core.prefs

Just including the file in the project did not work

[2018-02-26 17:48] rsalvador opened #451 "Full build always performed on startup when using project that imports eclipse files"
We are importing a big java project in vscode-java using eclipse files (.classpath/.project) and on startup vscode-java always performs a full build which takes several minutes.

The reason for the full build seems to be the CLEAN_BUILD done in JDTLanguageServer.didChangeConfiguration(). VS Code always sends a workspace/didChangeConfiguration on startup and that forces a full build even though
the

[2018-02-26 18:13] fishnet37222 opened #452 "Unable to set Java source level"
There does not seem to be a way to set the Java source level for a Maven-based project in Visual Studio Code using this extension.

##### Environment
- Operating System: Linux Mint
- JDK version: 9.0.4
- Visual Studio Code version: 1.21.0-insider
- Java extension version: 0.19.0

##### Steps To Reproduce
1. Set the following properties in the POM file for a Maven project:
[code]
2. Include code in

[2018-02-26 18:48] fbricon commented on #452
You need to use
[code]

I'm surprised the Maven compiler still supports the `1.9` value though

[2018-02-26 18:52] #452 closed

[2018-02-28 08:46] afterhill opened #453 "The encoding "TAB" missed when peeking a reference in Java source code"
- VSCode Version: 1.193
- OS Version: macOs 10.13.3

Steps to Reproduce:

1. Open a Java+Maven based project;
2. Use command + click to peek a reference which is located in a JAR and the the source is downloaded by maven automatically;
3. A file with .class extension is opened in the VS code;
4. Try to change the encoding by click the "encoding TAB" in status bar, but the "TAB" is not existing;

-

[2018-02-28 10:46] DiabolusExMachina commented on #2
it did not work for me aswell.

[2018-02-28 15:22] matyasforian commented on #107
Also it would be nice if it would follow VS code conventions: Put the plugin configuration into .vscode folder, do not litter my project with .classpath, .project, .settings.

[2018-02-28 15:26] fbricon commented on #453
Class content are provided via https://github.com/redhat-developer/vscode-java/blob/36da57f52e1ae33e41417c4637efc0f68f042643/src/extension.ts#L207-L215

Given

I'm assuming that makes encoding selection impossible. Anything we can do @jrieken @aeschli?

[2018-02-28 15:40] jrieken commented on #453
Not sure what @MengJueM wants. Changing the encoding (reopen with encoding, save with encoding) only makes sense for files from disk. For a virtual document, that our API defines as JavaScript string, no such logic applies.

[2018-02-28 15:48] fbricon commented on #453
@jrieken I'm assuming the problem is we return UTF-8 encoded source at the moment (https://github.com/eclipse/eclipse.jdt.ls/issues/524), but if it's actually some chinese @MengJueM  wants to see, there's nothing we can do.

[2018-02-28 15:51] jrieken commented on #453
Yeah, utf-16 is what our strings want ;-) The node buffer apis might help you with that.

[2018-02-28 15:53] fbricon commented on #107
because we're using and headless eclipse process behind the scenes, we have no way to control where those .classpath, .project, .settings. files can be stored. It's unlikely to change unfortunately.

[2018-02-28 15:57] fbricon commented on #453
@jrieken that won't help users in selecting encoding, unless I'm missing something

[2018-02-28 15:59] jrieken commented on #453
I meant that it can help you create a correct string when having just bytes

[2018-02-28 18:46] magnusart commented on #2
I can recommend the gradle/maven plugin `spotless` as a work around (https://github.com/diffplug/spotless). Your build tool then makes sure everything is formatted. It can reformat your code automatically via the command spotlessApply. Not a replacement but makes things more tolerable and enforces a single code formatting standard.

[2018-02-28 18:49] fbricon commented on #2
can anyone provide a sample project where .settings/org.eclipse.jdt.core.prefs are ignored?

[2018-02-28 20:55] fbricon commented on #451
Fixed with https://github.com/eclipse/eclipse.jdt.ls/pull/572

[2018-02-28 20:55] #451 closed

[2018-02-28 23:27] personinblack opened #454 "Autocompletion does not work with enum ctors"
The title explains it all. You can't use intellisense in enums' ctors:
[code]

##### Environment
- Operating System: Arch Linux
- JDK version: 1.8.0_162
- Visual Studio Code version: 1.20.1
- Java extension version: 0.20.0

##### Steps To Reproduce
1. Create an enum
2. Try typing a few words and pressing ctrl + space to bring intellisense

##### Current Result
You don't get any autocompletion

###

[2018-02-28 23:46] fbricon commented on #454
What sort of completion are you expecting? a default string value? from a constant in the imports?

[2018-03-01 00:14] Personinblack commented on #454
It's not about strings. String was to show it. It could be something like this:
[code]

[2018-03-01 06:18] MengJueM commented on #453
As @fbricon mentioned, the virtual document is encoded with "UTF8" by default, it will make the text messed up when the actual character is GBK encoded. The intellij idea can handle this properly by giving the choice by reloading document with proper encoding.
![image](https://user-images.githubusercontent.com/2742842/36829693-59c54fca-1d5b-11e8-8c8b-57d9cecb97c5.png)

[2018-03-01 06:26] MengJueM commented on #453
peek is also not working
![image](https://user-images.githubusercontent.com/2742842/36829994-8e49902a-1d5c-11e8-8220-ac54f940bfbe.png)

[2018-03-01 06:32] MengJueM commented on #453
vs code can handle the encoding problem perfectly by detecting per Microsoft/vscode#5388.

[2018-03-01 21:17] mashleyttu opened #455 "Specify MAVEN_OPTS"
Hi All,

How do we specify maven command line arguments or have maven read MAVEN_OPTS env variable inside VSCode?

We have a custom nexus server that is a mirror of maven central repository setup in our settings.xml file. When opening our java project in VSCode hundreds of problems are reported stating:
org.eclipse.aether.transfer.ArtifactTransferException: Could not transfer artifact X from/to Ne

[2018-03-01 21:22] fbricon commented on #455
Are you able to open your project in Eclipse?

[2018-03-01 21:29] fbricon commented on #455
Can you try changing `java.jdt.ls.vmargs` in your vscode settings, to something like

`"java.jdt.ls.vmargs": "-noverify -Xmx1G -XX:+UseG1GC -XX:+UseStringDeduplication -Djavax.net.ssl.trustStore=C:\Users\mashl\.m2\maven-trust.jks -Djavax.net.ssl.trustStorePassword=maven"`

[2018-03-01 23:32] mashleyttu commented on #455
Hello,

Unfortunately, vmargs didn't work and we receive the same errors when importing the project into Eclipse. We believe this is related to m3e not respecting MAVEN_OPTS environment variable.

Maybe there are some properties we could tweak and get it working. Listed here: http://www.eclipse.org/m2e/documentation/m2e-faq.html#how-to-connect-to-https-repositories however, we've decided to move t

[2018-03-02 00:36] huw commented on #103
Is there any progress on this?

[2018-03-02 01:15] fbricon commented on #103
No progress yet. This is a good opportunity to contribute that feature :-)

[2018-03-02 04:31] AlexLeung commented on #297
Not all java projects use maven or gradle.

[2018-03-02 05:52] akaroml opened #456 "Nashorn script support"
We received a features request in the debugger repo Microsoft/vscode-java-debug#152. This is to request launching debugger from nashorm scripts when 'debugger;' statement is executed.

Do you guys have any thoughts on this one?

[2018-03-02 12:18] LQR86 commented on #446
Also, it seems that "Go to super definition(or go to super method)" command doesn't exist in VSCode. And I really need it when navigating through Java or any other object-oriented code. Sigh.

[2018-03-03 08:01] Eugenii10 opened #457 "TODO comments highlight bug"
After editing a java source file and saving changes with Ctrl + S, "TODO" comments are stopped to be underlined and recognized as TODO tasks (don't show in the PROBLEMS tab and don't have green marks at the vertical scroolbar).

##### Environment
- Operating System: Windows 7 and 10
- JDK version:  1.8.0_60
- Visual Studio Code version: 1.20.1
- Java extension version: 0.20.0

##### Steps To Repro

[2018-03-06 08:53] herrmanno opened #458 "False positives problems (when using Lombok)"
When using this plugin with a lombok-project the plugin determines many problems (e. g. for missing getters and setters) that disappear when the corresponding file is opened.

##### Environment
- Operating System: macOS
- JDK version: 1.8.0_102
- Visual Studio Code version: 1.20.1
- Java extension version: 0.20.0

##### Steps To Reproduce
1. Configure lombok support for this plugin, as described [

[2018-03-07 19:25] shawmanz32na commented on #446
@fbricon Unless I'm misreading, both the dependency issues you listed are now merged/closed. Can this get put on the queue of things to do?

I'd love to be able to quickly navigate to implementing classes.

[2018-03-07 23:50] marcushellberg opened #459 "Feature request: Add support for extract variable"
VS Code has [support for extracting variables in JS/TS](https://code.visualstudio.com/docs/editor/refactoring#_extract-variable). I would like to have the same functionality available in Java files.

When refactoring, it would be useful to be able to select whether to extract as a variable in the local scope, or as a field on the class.

[2018-03-08 17:21] darkgem666 commented on #446
It looks the new update for VSCode has now the implementation for this,  can we please make this happen?

[2018-03-09 07:11] IzakMarais commented on #177
I have the same problem when using Maven to generate protocol buffer sources.

Source files are generated like so in the pom:
[code]

we event try to add it to the test class path like so (not needed for `mvn install` to work).
[code]

[2018-03-09 07:12] IzakMarais commented on #177
The problem is compounded by interaction with https://github.com/redhat-developer/vscode-java/issues/322. Since I often need to close VSCode to get tests to run, the classpath gets messed up often.

[2018-03-11 19:06] GabrielBB opened #460 "Lombok Support officially in Visual Studio Code"
Hi, i'm writing this because i see you have something about manually adding lombok to VS Code. I saw people where i work that struggle to follow that simple step, i don't know why, people were asking if they have to include the "a:" and stuff and if they should add it on user settings and workspace settings, someone who deleted the lombok.jar from the path cleaning his downloads folder and then hi

[2018-03-11 20:02] gorkem commented on #460
Funny. I was just looking at the extension. Looks like a simple enough solution. I see that you are not listing vscode-java as a dependency is that on purpose? Otherwise [something like this](https://github.com/Microsoft/vscode-java-debug/blob/master/package.json#L350) on the package.json would guarantee that you have the java support installed all the time.

[2018-03-11 20:12] gorkem commented on #435
Thank you for this information it is very helpful.

Normally, you should not need the `apply plugin: 'eclipse' to build.gradle` for the extension to work. It does have built-in gradle support and should have recognized the buildpaths. Do you have an example project that you can share so that we can try to understand what went wrong.

You definitely do not need an eclipse to run vscode-java, we do

[2018-03-11 20:28] gorkem commented on #366
@akcorp2003 is the unresolved `com.[company name].taskservice ` available only on the internal maven repo?

[2018-03-11 21:25] GabrielBB commented on #460
Oh, it was not on purpose. Thanks for that very important correction. Published

![image](https://user-images.githubusercontent.com/8752823/37258644-fdc1dbe6-2550-11e8-95cf-a82438be2dff.png)

[2018-03-11 22:18] fbricon commented on #460
Nice! I've updated https://github.com/redhat-developer/vscode-java/wiki/Lombok-support with a reference to your extension.

Utlimately I still think we can do better at providing lombok support, (eg. detect lombok is a classpath dependency, download the jar if necessary, update the vm args only when necessary...), but your extension should do the work for now and help struggling users with lombok

[2018-03-11 22:37] Jomme5 opened #461 "How to enable intellisense"
[provide a description of the issue]

##### Environment
- Operating System: Win 10
- JDK version: 8
- Visual Studio Code version: 1.2
- Java extension version: latest

What do I have to do to enable intellisense for:
- standard java api
- imported jar-files
- Maven imports.

Intellisense or codecompletion/sugestions doesn't work at all.

[2018-03-12 10:37] michelkaporin opened #462 "Second argument is replaced upon completing the first argument in a method call"
**Moved from https://github.com/Microsoft/vscode-java-pack/issues/12:**

- VSCode Version: Latest Insiders
- OS Version: Mac OS

Steps to Reproduce:
1. Insert cursor before the first argument (that accesses some property) to the method.
2. Start typing new argument that also accesses property.
3. On suggestion appearance, press Tab to enter suggestion value
It replaces the old first argument insta

[2018-03-12 15:49] Jomme5 commented on #461
- My project is a single java-file for testing purposes.
- I need the intellisense for fast code-development.
- The java-extension works and I see code-sugestions for standard java libraries but not for external jars.
- I do need code-suggestion for external jar-libraries. How can I add or modify a classpath variable? And how get I the code-suggestion for the external jar to work.

[2018-03-12 18:11] gorkem commented on #461
In order for the extension to resolve your 3rd party dependencies you need to use a build tool such as maven or gradle. We use these tools to pickup your external dependencies and provide information on them without those your intellisense will be limited to single file and standard java libraries.

[2018-03-12 18:12] gorkem commented on #462
@snjeza If it helps I can easily repro this.

[2018-03-12 18:49] snjeza commented on #462
@gorkem Thanks. I have reproduced it. It isn't reproducible in Eclipse.

[2018-03-12 19:36] Jomme5 commented on #461
Funfact: I want to use VSCode to test some things out before programming it in Android Studio, with the slow Gradle-build-system. So I want to avoid complex build-systems. The external jar is already compiled with maven btw. It would be nice to use this jar in vscode with intellisense-support and use maven for building external jars once in a while. I already figured out how to compile my java-tes

[2018-03-12 19:45] gorkem commented on #461
I understand. sorry to hear it does not fit to your expectations but Java (the language) does not come with a standard way to define dependencies (no package.json for instance) so we chose to support the most commonly used methods in Javaland for defining those.

We also support eclipse style .classpath and .project files, but I am not sure if it would help you either.

[2018-03-12 19:45] #461 closed

[2018-03-12 22:31] fbricon commented on #457
Another manifestation of that dubious diagnostics issue we've seen on and off

[2018-03-12 22:35] fbricon commented on #456
@akaroml I guess the debugger needs to expose a javascript-jvm (or nashorn) launch configuration. But I'm not sure what can jdt.ls provide here.

[2018-03-12 22:45] fbricon commented on #454
I can reproduce the same problem with stock Eclipse. Opened upstream issue: https://bugs.eclipse.org/bugs/show_bug.cgi?id=532366

[2018-03-12 23:20] Jomme5 commented on #461
I downloaded de "test_vs_code2.zip" from this [issue](https://github.com/redhat-developer/vscode-java/issues/346) and copy-pasted my java test code in the main-class, altered the .classpath-file and it did what I asked.

[2018-03-12 23:24] tristan957 opened #463 "No commands are being found"
Receiving these errors:
[code]

##### Environment
- Operating System: Solus 3 (Linux)
- JDK version: 1.8.0_172-solus (`/usr/lib64/openjdk-8`)
- Visual Studio Code version: 1.21
- Java extension version: 0.20.0

##### Steps To Reproduce
1. Cloned a private project
2. Open folder

Can't enable logging because command is not found.

##### Current Result

Extension does not work

##### Expected Result

[2018-03-12 23:25] tristan957 commented on #460
@GabrielBB are you just downloading releases of Lombok and hosting it within the extension?

[2018-03-12 23:26] fbricon commented on #460
@tristan957 indeed, see https://github.com/GabrielBB/vscode-lombok/tree/master/server

[2018-03-12 23:30] GabrielBB commented on #460
@tristan957 Yes, for now I have the last stable version inside the extension. But my first intention was to use Gulp to download the last version from the page, just when you install the extension. I have the initial code for that, I’m gonna make an update as soon as i get time

[2018-03-12 23:30] fbricon commented on #463
missing `'java.test.open.log' is from https://marketplace.visualstudio.com/items?itemName=vscjava.vscode-java-test

Can you try setting "java.home":"/usr/lib64/openjdk-8/" in your vscode settings?

[2018-03-12 23:42] tristan957 commented on #463
Ahh I had set it in my environment variables but not my workspace settings. I am now not receiving any autocompletion. The error went away which is a plus!

[2018-03-12 23:47] fbricon commented on #463
Is this a Maven or Gradle project? it's possible autocompletion is slow to show up on the very 1st time you open your project, as dependencies needs to be downloaded, projects need to be configured and classpaths need to be indexed. Anything in the [server log](https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#get-the-java-language-servers-workspace-logs)?

Does reopening the fo

[2018-03-12 23:47] tristan957 commented on #463
Can't seem to open the language server log file. The console is not telling me anything and I have enabled verbose logging

[2018-03-12 23:49] tristan957 commented on #463
Maven project. I ran maven compile already. The .classpath and .settings showed up. I will try reopening, but it looks like the language server is failing to start because I am not seeing the ticker in the gutter like usual

[2018-03-12 23:50] fbricon commented on #463
ticker shows up when a java file is opened in the editor

[2018-03-12 23:51] tristan957 commented on #463
I have been. Trying to type `System.out.println`, but not getting autocomplete

[2018-03-12 23:55] fbricon commented on #463
if .classpath and .settings showed up then the server started. So the log file should be available. You should be able to find it under `~/.config/Code/User/workspaceStorage/<workspace-hash>/redhat.java/jdt_ws/.metadata/.log`

[2018-03-12 23:57] tristan957 commented on #463
Also if it helps I am seeing a `Extension host has terminated unexpectedly error`. Looking for log file now

[2018-03-12 23:59] fbricon commented on #463
@snjeza have you tested vscode with OpenJDK on linux?

[2018-03-13 00:02] tristan957 commented on #463
Tried updating project config: `command 'java.projectConfiguration.update' not found`

[2018-03-13 00:03] tristan957 commented on #463
https://pastebin.com/pnipCv7G << log file

[2018-03-13 00:09] fbricon commented on #463
can you uninstall all the java extensions and only keep vscode-java?

[2018-03-13 00:09] snjeza commented on #463
It works fine with the following settings:

[code]

[2018-03-13 00:11] tristan957 commented on #463
That directory does not exist on my distribution

[2018-03-13 00:15] tristan957 commented on #463
Disabling all Java related extensions has no effect. I can try disabling all extensions if you want

[2018-03-13 00:16] fbricon commented on #463
try cleaning up the ~/.config/Code/User/workspaceStorage/ first

[2018-03-13 00:19] tristan957 commented on #463
I just did that. I have also tried disabling all extensions except Java Language Support. Interesting situation happened. Git integration was hung up when I enabled Language Support for Java, meaning that the editor gutter was not becoming colored with green/red/blue/etc. Seems like this extension is hanging the editor, but I am not sure why

[2018-03-13 00:20] tristan957 commented on #463
Correction it only seems to hang some of the time

[2018-03-13 06:16] SummerSun commented on #462
Did repro it in Mac OS with VSCode Latest Insiders. But in Windows 10, the issue is a little different.

Repro steps are the same.

![java_intellisense](https://user-images.githubusercontent.com/5179063/37325469-0b33d170-26c9-11e8-9f9e-e1c398859472.gif)

[2018-03-13 21:29] fcrespo82 opened #464 "[Enhancement] Support for local workspace resolution of dependencies"
Hi, I'm working with 2 related projects in a vscode workspace.

One is a CORE structure and the other an API for that CORE.

In the pom.xml for the API it has the dependency set as such:

[code]

It would be from great value, if the plugin could handle that situation.

Right now, I must install CORE to my local maven repository to get the updates to CORE.

Would be nice if it supports the same typ

[2018-03-13 22:13] fbricon commented on #464
It already works like that. Do you have sample projects where it doesn't?

[2018-03-13 22:23] fcrespo82 commented on #464
Right now I only have my company's code which I can't share for obvious reasons.

I'll try to replicate in a sample project and them post back here.

[2018-03-13 22:39] fcrespo82 commented on #464
Investigating further I've found that it happened when I changed a yaml configuration file. It does not trigger the rebuild and fails to get the changes to the file. But if I then change some java code, it triggers the build and reload the configuration file correctly.

Is there some way to force the build when a config file (.yml or .properties) change?

[2018-03-13 22:40] fbricon commented on #464
Is this a runtime or a compilation issue?

[2018-03-13 22:44] fcrespo82 commented on #464
Runtime. I have this yaml that is referenced in a SpringBoot Configuration Class that is instantiated on running the project.

[code]

[2018-03-13 22:48] fbricon commented on #464
ok so this is a duplicate of #400. There's no solution right now, other than performing a manual `mvn process-resources` (add -o to speed it up)

[2018-03-13 22:48] #464 closed

[2018-03-13 22:51] fbricon commented on #400
@snjeza can you check how everything behaves with a file watcher on src/main/resources and src/test/resources?

[2018-03-13 22:53] fcrespo82 commented on #464
Ohh. Couldn’t find that on my searches. Thanks for the quick reply!

[2018-03-13 22:54] fbricon opened #465 "New required modules in module-info.java should not need explicit Update project configuration"
When required modules are changed in the module-info.java, The module flag needs to be updated on Maven project dependencies to update the modulepath. Currently this:
1) requires a manual user intervention,
2) is absolutely not obvious/documented from a user perspective

Once a required module is added and the module-info.java file is saved, the module should be added to the module path automagica

[2018-03-14 14:49] fbricon commented on #459
fixed in jdt.ls

[2018-03-14 14:49] #459 closed

[2018-03-15 14:13] oakad opened #466 "Don't create any files in project source dir - use alternative location"
Presently, vscode-java is prone to creating large amount of temporary files right in the middle of project source. Those include copies of compiled classes and eclipse project files (the whole unfortunate eclipse deal).

In some cases it is very desirable to keep the project directory "clean" from unmanaged files (given that the build system is able to build elsewhere). Is it possible to add an op

[2018-03-15 14:18] fbricon commented on #466
no, we don't have control over those eclipse generated files. Simply add them to your SCM ignore list

[2018-03-15 14:19] fbricon commented on #466
also "large amount of temporary files"? compiled classes should not be under your source directories, but a build folder (bin or target). If not then I'd like to see your .classpath file

[2018-03-15 14:55] oakad commented on #466
In some of my projects maven output is controlled via custom property. Clearly, vscode has no idea about those properties, so it happily creates folders named "${property.name} and so. This is exceptionally annoying.

[2018-03-15 15:31] fbricon commented on #466
@oakad please provide a sample project reproducing this behavior

[2018-03-15 16:06] oakad commented on #466
For example, a maven file set like so (assuming maven integration is enabled):

    <project>
      <modelVersion>4.0.0</modelVersion>
      <groupId>some</groupId>
      <artifactId>project</artifactId>
      <version>1.0</version>
      <build>
       <directory>${target.dir}</directory>
      </build>
     </project>

(Suppose, I will disable maven integration outright and fix the eclipse files

[2018-03-15 16:15] fbricon commented on #466
How do you expect target.dir to be set?

[2018-03-15 17:33] fbricon commented on #466
I checked that if target.dir is defined as a project property, or in an active profile of settings.xml. it'll be resolved properly and the build directory generated as expected

[2018-03-15 20:12] fbricon commented on #465
Fixed with https://github.com/eclipse/eclipse.jdt.ls/commit/e0bb56a9563c15558d2a1417e77b9e8dd0e3125a

[2018-03-15 20:12] #465 closed

[2018-03-15 22:04] fbricon opened #467 "Should warn about automatic module names in module-info.java"
A warning should be displayed in  in module-info.java if a required module is defined by it's automodule name (i.e. file name). Modules having an Automatic-Module-Name entry in their MANIFEST.MF should not generate any warning.

[2018-03-15 22:05] fbricon commented on #467
Fixed with jdt.ls depending on Photon M6:

<img width="633" alt="screen shot 2018-03-15 at 6 00 45 pm" src="https://user-images.githubusercontent.com/148698/37493470-638276fc-287b-11e8-875a-aecb20bb5e0b.png">

[2018-03-15 22:05] #467 closed

[2018-03-15 22:24] ThadHouse commented on #466
Gradle projects default their builds to `build/`, however the vscode plugin compiles a completely separate version of all the class files to `bin/`, so it does require adding a completely separate directory to source control, along with actually performing all the compiles twice (once for gradle, and once for vscode).

[2018-03-15 22:28] ThadHouse opened #468 "project and bin folders being created even when excluded"
I am working on a project that has gradle build files in it, however those build files are not directly built in the project, and just stored there for distribution. However, the java plugin it still creating the `.project` and `bin/.project` files even if I have the following settings set in my settings.json file. (`/resources`) is where my files are.

[code]

There needs to be a way to completel

[2018-03-15 22:47] fbricon commented on #468
java.import.exclusions should be honoured. Can you provide a sample project reproducing the issue?

[2018-03-16 00:11] ThadHouse commented on #468
Hmm. Trying to move my project into a different folder, the issue stops. Does the plugin and language server walk the directory structure backward, and somehow lose the exclusions while searching?

[2018-03-16 00:15] ThadHouse commented on #468
I'm trying to condense it down, but here is the project structure that has the issue.

Open the vscode-wpilib-java folder. Not the root folder. It will generate the .project files in `resources/gradlebase`.

[vscode-wpilib.zip](https://github.com/redhat-developer/vscode-java/files/1817513/vscode-wpilib.zip)

[2018-03-16 00:21] colinrc opened #469 ""Classpath is incomplete" error when using local jar files"
When I open a Gradle project that uses files dependencies they don't seem to be being picked in the classpath - I get the standard "Classpath is incomplete...." error even though the project builds properly in gradle.

I have tried adding classpath entries in settings but the extension still does not seem to resolve the files.

I have to do this as I cannot communicate with maven behind the firewa

[2018-03-16 00:29] ThadHouse commented on #468
[ls.log](https://github.com/redhat-developer/vscode-java/files/1817532/ls.log)

Heres a copy of my language server log.

[2018-03-16 01:00] snjeza commented on #400
They are ignored. Java LS builds a workspace only when *.java file, pom.xml for Maven projects or *.gradle for Gradle projects is changed.

We could do the following:

- register all the source folders of all projects as file watchers using the client/registerFeature(workspace/didChangeWatchedFiles)
See https://github.com/Microsoft/vscode-languageserver-node/blob/c0446d0f878d148f11a1e3d6a3478baacf

[2018-03-16 01:07] fbricon commented on #400
@snjeza I just tested adding a filewatcher  as workspace.createFileSystemWatcher('**/src/**'). The goal is to have the file changes being seen by server, where a refresh is performed in https://github.com/eclipse/eclipse.jdt.ls/blob/master/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/managers/ProjectsManager.java#L187

This is enough for the m2e builder to trigger mvn resource proc

[2018-03-16 01:52] #400 closed

[2018-03-16 03:14] SummerSun commented on #462
Tried with vscode 1.21.0 with windows 10, easily repro this issue.

![java_intellisense](https://user-images.githubusercontent.com/5179063/37501852-11c3a576-290b-11e8-953b-1b0fb2cdb02f.gif)

 Attach the request from client, hope it helps.
[code]

[2018-03-17 04:28] oakad commented on #466
In this particular case the property was supposed to be injected by higher level cmake, so settings.xml was not present.

[2018-03-17 04:43] tristan957 commented on #463
new project from scratch. Facing same issues. The only thing in the VSCode console is: ```workbench.main.js:77980   ERR undefined```

[2018-03-17 04:44] tristan957 commented on #463
Important to note that this issue is also appearing for me on the OpenJDK 9 release located in my Downloads folder

[2018-03-17 04:48] tristan957 commented on #463
Watching dev console as VSCode starts. vscode-java hinders the startup of other extensions

[2018-03-17 08:30] 38leinaD opened #471 "Message: Problem during accessing system variable: http_proxy"
I always see an expcetion in the language-server log related to no proxy beeing set. But i am not in an proxied environment.
Expected: No error/stacktrace should be printed to the language-server log.

##### Environment
- Operating System: Centos 7
- JDK version: 1.8.0_151
- Visual Studio Code version: 1.21.1
- Java extension version: 0.3.0; Language Support for Java: 0.21.0

##### Steps To Reprod

[2018-03-17 15:17] snjeza commented on #471
Could you try the following:

[code]

[2018-03-18 09:54] 38leinaD commented on #471
i am a little suprised i did not think about it myself. that resolved it. thanks.

[2018-03-18 09:54] #471 closed

[2018-03-18 11:37] colinrc commented on #469
I think I found it. The problem seemed to have been related to me having two Java extensions active. Both the RedHat Language Support one and another one, also called Java Language Support - by Gorge Fraser. It seems like they don't like to co-exist.

I removed that extension and VSC start finding the classes correctly when I just use compileClasspath entries in my build.gradle file.

[2018-03-18 13:40] clankill3r commented on #274
I did use maven. If I remember correct I fixed the problem with
reinstalling vscode.

2018-02-14 15:59 GMT+01:00 Fred Bricon <notifications@github.com>:

[2018-03-18 20:34] hotplot opened #472 "Extension fails to start and uses high CPU"
When opening a Java project in VS Code, Language Support for Java fails to start and CPU usage goes to 100% on one core

The extension server process continues to run even after quitting Code and needs to be killed manually.

I have verified that the problem is definitely caused by the Language Support for Java extension. With all extensions disabled, the problem does not occur. With this extensio

[2018-03-19 03:40] colinrc commented on #469
Resolved, a spelling mistake in the build.gradle.

[2018-03-19 05:42] fbricon commented on #469
please attach a sample project reproducing this issue

[2018-03-19 05:53] fbricon commented on #472
can you provide a threaddump? use `jps` to find the id of a org.eclipse.equinox.launcher*.jar process, then `jstack processid`

[2018-03-19 20:27] tristan957 commented on #463
Interestingly enough. I opened the project in Atom using the ide-java extension. The Language Server started up instantly, and the .classpath and .settings were generated successfully. I then opened the same folder in VSCode with this extension on, and everything works again.

[2018-03-20 01:36] colinrc commented on #469
[testvs.zip](https://github.com/redhat-developer/vscode-java/files/1827550/testvs.zip)

Sure - done....

[2018-03-20 03:30] colinrc commented on #469
On an additional note; if I try to debug the project it won't start - instead showing "Failed to resolve classpath: The project 'Project' is not valid java project.

Presumably for the same classpath reason.

Again, if I copy the folder onto my mac it works perfectly; neither environment have CLASSPATH environments set and I am using the same Java8 release on each 1.8.0_161

[2018-03-20 06:25] fbricon commented on #469
Builds fine on my Mac. @snjeza can you please check on Windows?

[2018-03-20 17:30] mjbvz opened #473 "Organize imports should not be active in non-java files"
The Java organize imports command should only be active in java files

##### Environment
- Java extension version: Latest

##### Steps To Reproduce
1. Open a md file
2. Try pressing shift+alt+o

##### Current Result
Error about `'java.edit.organizeImports' not found`

##### Expected Result
No action. This command should only be registered for java files

[2018-03-20 18:29] #473 closed

[2018-03-20 19:07] 38leinaD opened #475 "Open classes/sources of maven/gradle dependencies"
When I have a maven/gradle project open that has external dependencies on the classpath, i would like to have an option (like ctrl+p for the source/classes directly in the project) to find and open any class on the classpath (Obviosuly, this only makes sense for classes where sources are published for the jar-file).

[2018-03-20 19:09] fbricon commented on #475
Use the "Go to Symbol" command: Ctrl+T (Cmd+T on MacOS)

[2018-03-20 19:09] #475 closed

[2018-03-20 20:01] hotplot commented on #472
No Java processes seem to be running while the CPU is at 100%. I opened a Java project, observed that the CPU increased from idle to 100%, and ran `jps`. The only listed process was jps itself.

I have worked around the issue by doing the following:

    apt purge ^openjdk
    apt autoremove
    rm -rf .vscode/ .config/Code/
    apt install openjdk-8-jdk

I had tried deleting my VS Code data earli

[2018-03-20 20:01] #472 closed

[2018-03-21 10:14] ThomasHickman opened #477 "Add ant build system support."
It would be nice if this extension supported the `ant` build system, such that [this](https://github.com/redhat-developer/vscode-java/wiki/%22Classpath-is-incomplete%22-warning) warning wasn't displayed. One workaround it to make a `build.gradle` file which contains `ant.importBuild 'build.xml'`, but it would be nice if you didn't have to do this.

[2018-03-21 23:16] pichardoJ commented on #120
Any updates on this thread?

[2018-03-21 23:45] StephenOTT commented on #120
+1

[2018-03-22 03:37] GabrielBB commented on #460
Closing “issue”. https://projectlombok.org/setup/vscode

[2018-03-22 03:37] #460 closed

[2018-03-22 15:59] snjeza commented on #469
It works fine.
Windows 7
VS Code 1.21.1
Java LS 0.21.0

![img](https://user-images.githubusercontent.com/388609/37782098-5d863a32-2df2-11e8-8b83-9bba722948be.png)

[2018-03-22 16:10] akcorp2003 commented on #366
@gorkem Yes. It's an internal maven repo.

[2018-03-22 16:22] fbricon commented on #366
are you using a proxy to connect to your repo? if so, what kind?

[2018-03-22 20:06] attiand commented on #157
I created a super simple vscode extension and imported `path-exists` and added the following
[code]
When activate the extension I get
[code]
Even  though the path exist
[code]
- Fedora release 27
- VS Code 1.21.1

[2018-03-22 20:25] fbricon commented on #157
@attiand can you put a breakpoint in node_modules/path-exists/index.jsL15 and see why it fails?

[2018-03-22 21:00] snjeza commented on #157
@attiand can you try the following:

[code]

or
[code]

[2018-03-22 21:54] akcorp2003 commented on #366
Yes. We do have a proxy. But unfortunately, I don't know what kind of proxy it is. We use a .pac file.

[2018-03-22 22:38] colinrc commented on #469
Thanks very much for your help on this - it must be something at my end with the installation.

At least I know the project is good so I can use that to test the environment.

[2018-03-22 22:38] #469 closed

[2018-03-23 05:55] attiand commented on #157
@fbricon the exception is:
[code]

I added the following
[code]
which prints (note the last line which I have drwx------ access to):
[code]
The following ordinary javascript:
[code]
prints:
[code]

[2018-03-23 07:35] gitorko commented on #2
After copying the .settings/org.eclipse.jdt.core.prefs file you need to restart vscode for the changes to be picked. It was working for me after restart. 1.21.1 version. However now i have to copy this file to each project to get formatting to work. Is there a global location to place this file?

[2018-03-23 17:58] pmlopes opened #478 "save all project related files on the top level vscode folder"
Vscode Java plugin uses eclipse underneath and suffers from the fact that for each maven module it adds 2 files and a directory:

* .classpath
* .project
* .settings

This is quite annoying as it is usual for plugins to store all their data under a single top level .vscode directory.

[2018-03-24 13:06] xpf7622 opened #479 "chinese character don't display appropriate."
Java code:
// Hello world
public class HelloWorld {
    public static void main(String[] args) {
        System.out.println("Hello World! 汉字！");
    }
}

output as follow:

Hello World! 姹夊瓧锛�

but java file have the default code utf-8. and  Debugger for java default also utf8, why the output is abnormal character!

[2018-03-24 18:53] fbricon commented on #479
Works for me:

<img width="484" alt="screen shot 2018-03-24 at 2 49 23 pm" src="https://user-images.githubusercontent.com/148698/37867710-a4188bfe-2f72-11e8-91df-de8f51975e7c.png">

Since this is a debugger issue, I'll let @yaohaizh, @andxu and co investigate (they should be familiar with Chinese characters).

[2018-03-24 18:55] fbricon commented on #479
please open an issue in https://github.com/Microsoft/vscode-java-debug/issues

[2018-03-25 09:30] xpf7622 commented on #479
@fbricon  your java file is utf-8?  my java file is default utf-8. your files encoding?
are you sure your ext is Debugger for Java?

[2018-03-25 13:15] fbricon commented on #479
Yes and yes

[2018-03-26 15:53] snjeza commented on #468
I can't reproduce the issue on Windows and Linux.

![issue-468](https://user-images.githubusercontent.com/388609/37917386-943d2c3c-311e-11e8-97b9-c953993c10e6.png)

[2018-03-27 07:02] mojo2012 commented on #370
Here are all the project files in my workspace.
[project_files.zip](https://github.com/redhat-developer/vscode-java/files/1850764/project_files.zip)

Sorry it took so long - didn't have any time for this.

[2018-03-27 10:33] pseudo-su commented on #435
The project/repository I had the issue with is private so I can't share it directly. I thought I'd try and reconstruct the problem but after going back to the initial repo and building from scratch I no longer have any issue.

It now functions exactly as you say it should, generates a `.classpath` with no need for the separate `cleanEclipse` and `eclipse` gradle tasks.

When I was having issues I

[2018-03-27 12:45] Yi-yi opened #480 "Does the extension support other JDK?"
Hello, recently I need to use JavaFX so I download the Oracle JDK and change the "java.home" to the new directory, however, still get errors reported in Vscode. Does the extension "language support for Java" support Oracle JDK as well?

[2018-03-27 21:38] BigBallard opened #481 "Extension executing failing process indefinitely"
For some unknown reason, the extension runs a pair of commands (one I believe to be initiating the other) that continuously fail and continue to retry resulting in eating up a lot of CPU time and resources.

Restarting VSCode stops this for some time but what starts this is unknown. As simple as it is, it seems unnecessary and is rather expensive on the system, not to mention cluttering syslogs.

[2018-03-27 21:41] fbricon commented on #481
can you run the offending command manually to see why it fails?

[2018-03-27 21:43] fbricon commented on #481
this command is used to determine if the parent process is still running and if not, would trigger the java language server to exit. See https://github.com/eclipse/eclipse.jdt.ls/blob/8654474dd7fa5f0d1fb33c0c38ab254efe41c4df/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/ParentProcessWatcher.java#L64

[2018-03-27 21:47] fbricon commented on #481
@gorkem https://github.com/eclipse/eclipse.jdt.ls/blob/8654474dd7fa5f0d1fb33c0c38ab254efe41c4df/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/ParentProcessWatcher.java#L70 should use the timeout flavoured method

[2018-03-27 21:47] DallasP9124 commented on #481
I have run both and the longer command just hangs without action. The following command executes and exits. The PID(s) that are looked for don't get found.

[2018-03-27 21:59] fbricon commented on #481
@DallasP9124  does `cmd /c "tasklist.exe /FI "PID eq 36948"` respond?

[2018-03-27 22:14] DallasP9124 commented on #481
`C:\Users\dphillips>cmd /c "tasklist.exe /FI "PID eq 36948"
INFO: No tasks are running which match the specified criteria.`
Is what I get. The PID changes though when I shutdown Code and restart it.

[2018-03-27 22:16] fbricon commented on #481
ok, so tasklist.exe responds but tasklist doesn't is what I'm getting

[2018-03-27 22:17] gorkem commented on #480
Yes, it does support Oracle JDK. What are the errors?

[2018-03-27 22:18] DallasP9124 commented on #481
No they both work just fine, but the PID that is searched for is never found, then the command continues to repeatedly execute

[2018-03-27 22:22] fbricon commented on #481
From CLI??

[2018-03-27 22:25] gorkem commented on #481
The command executed every 2 seconds to check if parent process is alive. Is that what you are seeing?

[2018-03-27 22:37] DallasP9124 commented on #481
No, not from CLI. This machine uses OSQuery to aggregate and collect logs. That is how we know what is going on. Today alone there have been 24k+ hits. This image shows that. The PID changes per runtime of VSCode. But yes that is what is happening.
![image](https://user-images.githubusercontent.com/13224109/37998745-bb1e13a0-31d4-11e8-870b-acda8ecb7a47.png)

[2018-03-27 22:48] gorkem commented on #481
It is strange that the query can not find the PID? The PID is passed down from VSCode to the extension. I suppose it should be correct since VSCode is running

[2018-03-28 09:22] Yi-yi commented on #480
Errors are:

"package javafx.scene does not exist"
"cannot find symbol public void start(Stage primaryStage) throws Exception"
"cannot find symbol Group root = new Group();"

I also use IntelliJ with Oracle JDK, it works well.

[2018-03-28 21:34] ThadHouse commented on #468
Hmm. I wonder it its triggering based on things located further up in the repo structure. I wish the log had a way to detect why its ignoring both the `java.import.gradle.enabled = false` command and the exclusions list. This problem is really annoying, as it is messing with builds.

[2018-03-28 23:10] snjeza commented on #468
@ThadHouse It's possible you have opened vscode-wpilib-java/resources/gradlebase
Try to add the  "java.import.gradle.enabled" property to the user settings.

[2018-03-28 23:33] ThadHouse commented on #468
I had at one point, but not at the time I was seeing the error. I was in the root folder. And I'm not willing to add the Gradle enabled property to my user settings, as I use vscode for many other projects that I actually do need the Java support.

[2018-03-28 23:43] snjeza commented on #468
You have probably opened vscode-wpilib-java/resources or vscode-wpilib-java/resources/gradlebase.

[2018-03-28 23:46] ThadHouse commented on #468
I have at one point. But would that store a variable to always parse a folder even if I do then open the folder with the settings.json file?

The behavior I was seeing is I was in vscode-wpilib-java, and the bin folders kept being created. I would delete them, and 10 seconds later they would be recreated. I did have the build.gradle file open in the editor. But I wanted it no matter what to ignore

[2018-03-29 00:05] snjeza commented on #468
@ThadHouse I can't reproduce the issue by opening the vscode-wpilib/vscode-wpilib-java or vscode-wpilib directory.
Could you describe how to reproduce it?

[2018-03-29 00:18] ThadHouse commented on #468
Opening vscode-wpilib/vscode-wpilib-java immediately reproduces on my system. The Gradle parser runs, vscode shows the commands running in the bottom left corner, and then the files get create.

One thing to try is delete settings.json, open the folder, let Gradle run without the settings.json. the recreate the settings.json, reopen vscode, and delete the bin folders and .classpath and .project fi

[2018-03-29 01:30] snjeza commented on #468
I still can't reproduce the issue.

[code]

[2018-03-29 01:38] snjeza commented on #468
you can try the following:

- close vscode
- delete the bin folders and .classpath and .project files
- recreate settings.json
- start vscode

[2018-03-29 05:35] andxu commented on #479
@xpf7622 Seems it is related to the default encoding settings of eclipse, open the project with eclipse and change the encoding for the project and the generated class will have the right encoding.

[2018-03-29 15:14] nik9000 opened #483 "Java 10: The type java.lang.Object cannot be resolved"
##### Environment
- Operating System:
[code]
- JDK version: `openjdk version "10" 2018-03-20`
- Visual Studio Code version:
[code]
- Java extension version: `021.0`

##### Steps To Reproduce
1. These:
[code]
2. Open a java file like `Bootstrap.java` to kick of the language service.
3. Mouse over `/*` on line 1. You get
[code]

I get a bunch of errors in the logs like:
[code]

And some around cycle

[2018-03-29 16:01] rsalvador opened #484 "No progress shown on implicit builds"
The extension doesn't show progress when performing autobuilds.
For example during startup it shows the progress while the Java Language Server is starting:

<img width="556" alt="screen shot 2018-03-29 at 8 59 07 am" src="https://user-images.githubusercontent.com/1301827/38099461-7fc5fa96-332f-11e8-8e1c-1eeed7636c07.png">

but then it doesn't show any progress while doing the initial full or incr

[2018-03-29 17:05] fbricon commented on #484
Fixed with https://github.com/redhat-developer/vscode-java/pull/387. Please try the latest *.vsix from http://download.jboss.org/jbosstools/jdt.ls/staging/

[2018-03-29 17:05] #484 closed

[2018-03-29 17:54] jim-moody opened #485 "Is there a way to see External Libraries of a Java/Gradle project?"
In Intellij IDEA and Eclipse I am able to see external libraries and then go in and put breakpoints in those libraries which is helpful for debugging.

I don't see a way to do this in VSCode. See screenshot of IntelliJ experience:
<img width="418" alt="screen shot 2018-03-29 at 1 53 20 pm" src="https://user-images.githubusercontent.com/26190589/38104905-a413cb84-3358-11e8-8c1a-4ee9a682721a.png">

[2018-03-29 18:09] jim-moody commented on #485
Perfect, thanks :)

[2018-03-30 14:14] nik9000 commented on #483
I verified that java 10 doesn't work with an empty projects made by `gradle init --type java-library`.

[2018-03-30 14:21] nik9000 commented on #483
Ah! A new error message:
[code]

[2018-03-30 17:16] snjeza commented on #483
Re https://bugs.eclipse.org/bugs/show_bug.cgi?id=527556

[2018-03-31 07:14] chirayu11 commented on #483
I'm facing the same issue.

- Operating System: `Windows 7 Ultimate Service Pack 1`
- Java version:
`java version "10" 2018-03-20`
`Java(TM) SE Runtime Environment 18.3 (build 10+46)`
`Java HotSpot(TM) 64-Bit Server VM 18.3 (build 10+46, mixed mode)`
- Visual Studio code version:
`Version 1.21.1
Commit 79b44aa704ce542d8ca4a3cc44cfca566 e7720f1
Date 2018-03-14T14:46:47.128Z
Shell 1.7.9
Renderer 58.

[2018-03-31 13:21] nik9000 commented on #483
From @Snjeza it looks like has been fixed upstream so we're just waiting in
them to release and vscode-java to upgrade.

I'm stuck on Java 10 so this issue prevents me from using vscode-java. I
admit I'm probably in the minority. We try to keep up with all the new Java
releases to be good open source citizens but lots of projects don't have
time for that.

On Sat, Mar 31, 2018, 3:15 AM ChirayuShis

[2018-03-31 16:45] snjeza commented on #483
The JavaSE-10 execution environment will be available in Photon 4.8M7. It's already available in http://download.eclipse.org/eclipse/downloads/drops4/I20180330-2235/

[2018-03-31 18:20] fbricon commented on #483
@snjeza feel free to update the TP to pick up the latest photon I-Build with Java 10 support

[2018-04-01 15:56] #483 closed

[2018-04-01 16:43] nik9000 commented on #483
Thanks @snjeza!

[2018-04-01 17:17] snjeza commented on #483
You can try http://download.jboss.org/jbosstools/jdt.ls/staging/java-0.22.0-912.vsix

[2018-04-01 20:29] nik9000 commented on #483
Works for me. Thanks for the quick response, @snjeza!

[2018-04-03 04:09] mogarick opened #487 "Support for intellisense/autocomplete in maven pom.xml files"
Hi,

Is there any plans to support intellisense/autocomplete on Maven pom.xml files? I love this feature in Netbeans and IntelliJ because it suggests groupId, artifactId and also show available versions.

[2018-04-03 17:50] fbricon commented on #478
It's going to be tricky. We depend on the eclipse platform for the Java support. We currently have no way to set project metadata to a custom location. Eclipse Che managed to do it by forking key eclipse plugins, but we probably won't do that. Best case scenario, we get Eclipse upstream to open up project metadata configuration, but even then, we'll most likely end up with one .vscode (or whatever

[2018-04-03 22:56] erihanse opened #488 "Resume all pausing threads"
Is there some way to resume all waiting threads?
Sometimes when I set a breakpoint, I only want one of the threads to pause, to inspect some behaviour.

![image](https://user-images.githubusercontent.com/9251274/38279934-f1d68732-37a2-11e8-8112-78e9d813dd2c.png)

The way it is now, I need to right-click all paused threads to carry on.

[2018-04-04 01:11] yaohaizh commented on #488
I don't think there is an options to pause only specific thread.

You can log issue for vscode  java debugger here:  https://github.com/Microsoft/vscode-java-debug

[2018-04-04 01:16] fbricon commented on #488
Closing as not a vscode-java issue. Please open a ticket at https://github.com/Microsoft/vscode-java-debug/issues

[2018-04-04 01:16] #488 closed

[2018-04-04 13:30] yiailake commented on #479
`$ cd /Users/kevinfeng/Desktop/java ; /Library/Java/JavaVirtualMachines/jdk1.8.0_152.jdk/Contents/Home/jre/bin/java -agentlib:jdwp=transport=dt_socket,server=n,suspend=y,address=localhost:63788 -Dfile.encoding=UTF-8 -cp "/Users/kevinfeng/Library/Application Support/Code/User/workspaceStorage/b72b50a9aa05f002d6a626eedc811d53/redhat.java/jdt_ws/jdt.ls-java-project/bin" Hello`
The output is `������`

[2018-04-04 14:54] ninjamyst opened #489 "Java 10 support"
Does the latest release support Java 10?  I pointed Java.Home to the Java 10 directory and restarted VS Code but still get compiler error with Var.

[2018-04-04 14:59] fbricon commented on #489
Please try the latest Continuous Integration build, which can be installed from http://download.jboss.org/jbosstools/jdt.ls/staging/. Download the most recent `java-<version>.vsix` file and install it by following the instructions [here](https://code.visualstudio.com/docs/editor/extension-gallery#_install-from-a-vsix).

[2018-04-04 19:05] gitorko opened #490 "Fix all imports in single quick fix action"
![capture1](https://user-images.githubusercontent.com/616726/38328521-c44e92c0-3868-11e8-9239-222811945226.PNG)

Is there an option to fix all imports in single action similar to netbeans?

Quick fix supports this one line at a time. However would be nice if all imports got fixed in single go. When we copy code from other places resolving the imports one line at a time is time consuming.

[2018-04-04 19:07] fbricon commented on #490
There's an "Organize imports" command (Ctrl+Shift+o)

[2018-04-04 19:11] fbricon commented on #490
Closing as  duplicate of #56.

You can also organize imports as a [save action](https://github.com/redhat-developer/vscode-java/pull/402).

[2018-04-04 19:11] #490 closed

[2018-04-04 21:35] #489 closed

[2018-04-04 21:36] fbricon commented on #480
Can you provide a sample project reproducing this issue?

[2018-04-04 21:38] fbricon commented on #487
We have to figure out whether to include this as part of the Java extension or a companion Maven extension

[2018-04-05 09:09] AlexLeung opened #493 "Suppress Specific Warnings. Ex: "The serializable class [class name] does not declare a static final serialVersionUID field of type long""
Currently I'm trying to suppress a warning that is appearing all over my project in multiple different classes:

[code]

I know in other IDEs such as IntelliJ and Eclipse, this specific warning can be suppressed for all Java projects. What would be the equivalent operation in VSCode + Language Support for Java extension.

The following are reasons why I cannot declare a serialVersionUID or use @Su

[2018-04-05 09:42] rsalvador opened #494 "Missing progress during startup"
After this change https://github.com/redhat-developer/vscode-java/pull/387 the extension now shows progress for background processes, but still doesn't show progress for most of the startup sequence, for example it doesn't show progress for the build performed during startup here: https://github.com/eclipse/eclipse.jdt.ls/blob/master/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/han

[2018-04-05 20:25] niiiksh opened #495 "Building Java project shows error: "Build failed, do you want to continue?""
Building Java project shows error: "Build failed, do you want to continue?" when the build is actually completed because when I click "Proceed" it will run updated version of my code and autobuild enabled when I type new code.
[javatest.zip](https://github.com/redhat-developer/vscode-java/files/1881660/javatest.zip)

##### Environment
- Operating System: Windows 10 Pro (1709)
- JDK version: 9.0.4

[2018-04-05 23:14] fbricon commented on #495
this sample projects builds without errors. I can run the Main class, although it stops because it can't connect to the socket, but that's irrelevant to this problem.

The log you attached references a bunch of classes that are not present in your sample.

[code]

Are those classes yours?
Have you tried [cleaning up the workspace directory](https://github.com/redhat-developer/vscode-java/wiki/Trou

[2018-04-06 01:57] AlexLeung commented on #493
Thanks!

[2018-04-06 01:57] #493 closed

[2018-04-06 09:09] AngelFraga commented on #2
I would like to see this feature in the next releases. In spite of the workaround works fine, could be great declared in vscode user settings a global ./settings folder to use for each project. Also, for example, org.eclipse.jdt.ui.prefs is needed as well to sort import statements.

[2018-04-06 10:22] hrsto opened #496 "Running the contributed command:'java.open.output' failed. - Language server crashes"
After a some 5 minutes of running with a java project, the java language server crashes and there is no intellisense.

VS Code notification says: `Running the contributed command:'java.open.output' failed.`

##### Environment
- Operating System: Windows 10
- JDK version: 9.0.1 and 9.0.4
- Visual Studio Code version: latest
- Java extension version: latest

##### Steps To Reproduce
1. Just open any

[2018-04-06 10:50] niiiksh commented on #495
This is all the classes from my another project. I don't know why they are here, maybe they compiled in shared folder but that was unwanted behavior.

[2018-04-06 11:07] hrsto commented on #496
Actually it happen even without any open projects. Just plain VSCode with Java Language mode (selected manually from bottom-right corner of VS Code window). Empty Untitled-1 file.

[2018-04-06 13:26] fbricon commented on #496
Can you run `jps` from a terminal and see if you have any org.eclipse.equinox.launcher_*.jar process running? Get a thread dump of those processes (`jstack <process-id>`). Kill those processes and try again.

[2018-04-06 13:55] hrsto commented on #496
Before i launch anything, `jps` shows just it's own process. After i launch VS Code, `jps` show it's own process and `6716 org.eclipse.equinox.launcher_...jar`. After a while the pid of `equinox.launcher` changes - this coincides with the language server crash and the `Running the contributed command:'java.open.output' failed.` error. Subsequent `jps` executions will show only `jps`'s own pid, not

[2018-04-06 14:03] fbricon commented on #496
Shooting in the dark here: can you disable whatever antivirus you have running (you might want to disconnect your internet connection) and try again?

[2018-04-06 14:05] fbricon commented on #496
@snjeza any ideas?

[2018-04-06 14:48] gitorko commented on #490
@fbricon
Ok gave that a try, it works. all unambigous imports are added.

I was earlier doing organize imports via the quick fix helper so wasnt seeing quick fix when there were no imports. Once i did Alt+Shift+O or right click and Organize Imports it adds those import statements automatically. Thanks.

[2018-04-06 14:52] hrsto commented on #496
Well... i don't use anything outside the Windows out of the box things. Disabled Windows Firewall/Defender/Safescreen... didn't help.

However... i ran VS Code as an **ADMINISTRATOR** using the **same settings file, same extensions**. So far Language Server hasn't crashed. Neither in the Untitled-1 empty file or a Java project. I will leave it for a while like that and monitor it. `jps` reports th

[2018-04-06 15:03] fbricon commented on #496
@aeschli @yaohaizh @hexiaokai does it make sense?

[2018-04-06 18:39] fbricon commented on #157
@attiand could you try to make your small vscode extension use `const fs = require('fs');` and then check `fs.accessSync(javaHome);`? If that fails then it's probably a bug in vscode/electron and we need to report it upstream.

[2018-04-06 19:30] fbricon commented on #339
@kdvolder see https://github.com/eclipse/eclipse.jdt.ls/pull/616

[2018-04-06 22:57] rgcv commented on #411
This is a duplicate of #315, could be closed.

[2018-04-06 23:29] #411 closed

[2018-04-07 06:04] dragonfax commented on #390
This just hit me as well. Took a while to figure out it out, and found this Issue, which helped. I removed the workspace directory for jdt.ls and it fixed it.

[2018-04-07 07:33] attiand commented on #157
Yes, that throws Error: ENOENT: no such file or directory, access '/usr/lib/jvm/java-1.8.0-openjdk-1.8.0.161-5.b14.fc27.x86_64'

Here is the extension: https://gist.github.com/attiand/16e24564dac93f5fa93bc3035e28596d

[2018-04-08 09:20] #496 closed, assigned to nobody

[2018-04-08 17:41] erihanse opened #497 "How to hide warning box after go to next/previous error/warning/info"
After pressing F8/Shift F8 we can toggle next/previous error/warning/info. I expect there to be a way to cross out this box to hide it, or even better: pressing escape hides it. What is the intended way to hide this box if possible?

![image](https://user-images.githubusercontent.com/9251274/38470546-c1a3c49c-3b64-11e8-96ea-c038a75a8005.png)

[2018-04-08 18:15] fbricon commented on #497
This is a [vscode](https://code.visualstudio.com/docs/editor/editingevolved#_errors-warnings) behaviour, nothing specific to vscode-java. Pressing `esc` closes the warnings/errors for me.  If that doesn't work for you, please open a ticket at https://github.com/Microsoft/vscode/issues

[2018-04-08 18:15] #497 closed

[2018-04-08 20:24] pretodor opened #498 "Rename extension name from 'Language Support for Java(TM) by Red Hat' to 'Java'"
I would like to suggest the extension be renamed from 'Language Support for Java(TM) by Red Hat' to 'Java'. This way the name will be consistent with the extensions for:

- [Python][python]
- [C/C++][c/c++]
- [C#][c#]
- [Go][go]

[python]: https://marketplace.visualstudio.com/items?itemName=ms-python.python
[c/c++]: https://marketplace.visualstudio.com/items?itemName=ms-vscode.cpptools
[c#]: https

[2018-04-09 15:23] darkgem666 opened #499 "extract method doesn't work with empty lines"
Extract method refactoring doesn't work when there's an empty line between to instructions that you want to extract to the same method.

##### Environment
- Operating System: Mac OS X 10.3.4
- JDK version: 8
- Visual Studio Code version: 1.22.1
- Java extension version: 0.22.0

##### Steps To Reproduce
1. Open any java file
2. Try to extract method selecting 2 or more lines that I have an empty li

[2018-04-09 18:42] gorkem commented on #498
Java is a trademark and Oracle has some restrictions to its usage on product names. We can not really use plain "Java" as the name of the extension.

[2018-04-09 18:42] #498 closed

[2018-04-10 13:26] fbricon commented on #499
Well, actually it works for me:

![extract-ml-method](https://user-images.githubusercontent.com/148698/38559529-4587773a-3ca1-11e8-91cf-255ad920bfb9.gif)

[2018-04-10 16:17] danielcalvogonzalez opened #501 "Visual Code and jar files"
Hello all,

I'm pretty sure this is a silly question but this is driving me crazy as I don't know what to do to work it out. I am not a Java expert although I have some programming skills. I'm trying to use Visual Code + Java Extension Pack as I thought it could be a good combination.

I am not using any project (eclipse, maven, etc) as I'm only creating short and straightforward programs. The pro

[2018-04-10 20:16] fbricon commented on #499
Just select some code and a Code Action icon (light bulb) will appear. Either click on it or do `Ctrl+.` (`Cmd+.` on Mac) to display the available action(s).

If you see some cases where it doesn't work, please attach a screencast.

[2018-04-10 23:40] #462 closed

[2018-04-10 23:43] fbricon commented on #462
the fix introduces a new preference : `java.completion.overwrite` (boolean). The default (current) behaviour has the value set to true. @michelkaporin you'll be able to change it to false to get what you want.

[2018-04-11 09:17] testforstephen commented on #479
jdt compiler will use the os default encoding to compile the source code, no regarding what encode is used in vscode editor.  If the user's system is Chinese, the system default encoding could be GBK and use that to compile the UTF-8 source file will cause messy string in .class.

Eclipse IDE provides UI for setting text file encoding, and the compiler will consume that automatically to keep the c

[2018-04-11 17:31] alexandervalencia opened #502 "Deleted/Renamed modules are rebuilt as empty projects"
When deleting or renaming OSGi modules in a gradle project the renamed/deleted folder will be recreated as (mostly) empty with the following file structure:
[code]

Image of original folder "my-npm-react-portlet" recreated after being renamed to "alex-react-portlet":
<img width="173" alt="screen shot 2018-04-11 at 10 25 31 am" src="https://user-images.githubusercontent.com/22045453/38633047-4ebc5d

[2018-04-11 20:10] #499 closed

[2018-04-12 01:28] gorkem commented on #479
@testforstephen What would be the way for the server to receive the file encoding? Is it part of the settings?

[2018-04-12 02:15] testforstephen commented on #479
Maven pom.xml file supports encoding config:
[code]

Gradle supports setting Java Compiler Encoding:
`compileJava.options.encoding = 'UTF-8'`

When importing maven or gradle project into VSCode, java language server will translate the encoding info into a file `.settings/org.eclipse.core.resources.prefs` with content `encoding/<project>=XXX`. That's no problem.

But when opening simple java files

[2018-04-12 02:24] testforstephen commented on #479
YES, that's the point.

[2018-04-12 02:32] gorkem commented on #479
We can probably fall back to a default encoding from Settings if a project does not configure it by other means.

[2018-04-12 07:43] akaroml opened #503 "Extra bracket generated when auto-completing constructor"
When creating a class instance with nested constructor calls, an extra bracket is generated when pressing Enter to confirm. Here's a screen recording that shows how to reproduce.

![extra bracket](https://user-images.githubusercontent.com/16755094/38662891-0fba8778-3e68-11e8-8c95-82199b6d1fde.gif)

[2018-04-12 18:11] bbeheydt opened #504 "Classpath Incomplete Warning with Eclipse-generated project"
I have a lot of projects created through Eclipse that work fine. They have buildpaths and classpaths very similar to a project I'm working on currently. I created the project, made some classes, and then started implementing stuff in VSCode when the Classpath Incomplete warning popped up. The .classpath file is in the project folder, along with the .project file. I have the default src folder with

[2018-04-12 19:54] fbricon commented on #504
Can you share the content of your .project and .classpath files?

[2018-04-12 20:01] bbeheydt commented on #504
Just realized that didn't work. Give me a sec.

[2018-04-12 20:03] bbeheydt commented on #504
![image](https://user-images.githubusercontent.com/36484758/38701046-e2911502-3e6a-11e8-8b5e-9404e435371c.png)

![image](https://user-images.githubusercontent.com/36484758/38701099-fa80c5c2-3e6a-11e8-9fea-127e4c9da218.png)

[2018-04-12 20:14] fbricon commented on #504
How are structured your projects? all under the same root directory? Do you open that root directory in vscode?

[2018-04-12 20:18] bbeheydt commented on #504
Yes. All projects are in one directory and no library referenced in the classpath exists outside of that directory. I have other projects within that directory and that reference the same libraries but seem to work just fine. Here are the .classpath and .project files for a project that is logically the same as the problem project.

![image](https://user-images.githubusercontent.com/36484758/38701

[2018-04-12 20:31] fbricon commented on #504
The "Classpath Incomplete" Warning is displayed when the file you opened can't be referenced to a working Eclipse project. So, chances are, offending project was not imported when opening the folder.
But it's hard to understand why without a way to reproduce it.

Any chance you could zip and attach all your projects without their java sources? That'd allow us to debug the project import process an

[2018-04-12 20:49] bbeheydt commented on #504
Unfortunately, the libraries are too large to be sent through this site. The resulting zip file is 29MB, and most of that memory comes from the libraries referenced in the classpath file. Any other ways to do this?

[2018-04-12 20:52] fbricon commented on #502
Can you please attach a sample project?

[2018-04-12 21:31] fbricon commented on #504
remove the jars. You should end up with a basic skeleton of an app

[2018-04-12 21:41] bbeheydt commented on #504
Okay, after gutting the jars from the libraries I'm left with a zip that is still slightly over size. The memory is mainly coming from a .metadata folder. Do you need that for anything? (Sorry, I'm clueless)

[2018-04-12 21:42] fbricon commented on #504
No,  don't need . metadata

[2018-04-12 21:52] bbeheydt commented on #504
Okay. The only gutted library in this zip file is CS2114-Support. The other libraries are stocked with their jars. The Ex*** projects are all working projects. The SpaceColonies project is the offending project. It has a TestClass.java in it with no real code. Let me know if you need anything else! Thanks!

[eclipse workspace.zip](https://github.com/redhat-developer/vscode-java/files/1905121/eclip

[2018-04-12 23:05] fbricon commented on #504
I don't get a warning in TestClass.java after opening SpaceColonies.
If I force the workspace compilation (shift+alt+b), I can see a bunch of error messages in the Java server output, caused by the missing jars. Please try that command and report any error you get.

[2018-04-12 23:08] fbricon commented on #504
Oh there was also an error caused by the missing CarranoDataStructures project. Which is defined by .project and .classpath under CarranoDataStructuresLib/lib which is highly suspicious. I removed them.

[2018-04-12 23:30] fbricon commented on #503
I think the 1st closing parenthesis is automatically added by vscode-java as you type `(`, then applying the completion adds the originally exoected closing `)`. Not sure who's to blame here honestly.

[2018-04-12 23:33] fbricon commented on #503
you can reproduce by just typing `new String(` then tab or enter, this has nothing to do with nested declarations.

[2018-04-12 23:37] bbeheydt commented on #504
It's worth noting that everything works in eclipse. All programs function properly, all written tests pass, and no compilation/project errors are thrown. Also, the KVStore.java file mentioned above is NOT in the path that is printed. It's actually ~src/cybersecurity/KVStore.java

[2018-04-12 23:48] bbeheydt commented on #504
Okay so I moved KVStore.java into the location that the error said it was supposed to be in. Then, I forced a compilation, and the output stated that another file was out of place. So I followed that trail (put all these files 'back' to where they were 'supposed' to be) and then it started outputting files that were delete a long time ago. All of the problem files have the file path

 '/jdt.ls-jav

[2018-04-12 23:51] bbeheydt commented on #504
Here is the output trail I followed until I got to ~/src/lab11pre/package-info.java. This file (and in fact the project) are long gone.

[Error - 7:23:07 PM] Apr 12, 2018 7:20:27 PM Error occured while building workspace. Details:
message: Project 'CarranoDataStructures' is missing required source folder: 'src';code: 964
message: The project cannot be built until build path errors are resolved;cod

[2018-04-13 07:00] akaroml opened #505 "Generate package declaration with class code snippet"
When generating a code snippet for class, the class name is correct, but the package declaration is missing.
![image](https://user-images.githubusercontent.com/16755094/38721025-2a0a5838-3f2b-11e8-82d6-270ea70dc06a.png)

The language server already has the knowledge because user can fix this using quick fix suggestion. So please also generate the package declaration along with the class body.

Rep

[2018-04-13 08:58] tormath1 opened #506 "My package is not detected"
Issue Type: <b>Bug</b>

#### 1. Create a java project.

[code]

My `MiddlewareTest` runs perfectly with `gradle` however in `MiddlewareTest.java` my package is not recognised.

[code]

Is red underlined, with this message:

Ask me if you need more informations, thanks !

Extension version: 0.22.0
VS Code version: Code 1.22.1 (950b8b0d37a9b7061b6f0d291837ccc4015f5ecd, 2018-04-06T00:24:49.616Z)
OS v

[2018-04-13 12:40] fbricon commented on #505
the `class` template is currently coming from the vscode extension and is rather dumb. Instead, we'd need to generate a specific completionItem, server side, with a whole new template. This is currently not provided by jdt AFAIK.
@yaohaizh wanna give it a shot?

[2018-04-13 21:10] ThadHouse opened #507 "Allow disabling of underlying language server settings"
I have project that has a lot of `@SuppressWarnings` annotations for pmd and checkstyle. The eclipse parser however does not know about these extra warning names, and because of this intellisense has a warning on every usage. This is a bug in the backing language server, but however the recommendation for years has been to disable all Unhandled Token warnings in eclipse. However, I can't find a wa

[2018-04-13 22:13] fbricon commented on #507
See https://github.com/eclipse/eclipse.jdt.ls/issues/581#issuecomment-373804678
set `org.eclipse.jdt.core.compiler.problem.unhandledWarningToken=ignore`

[2018-04-13 22:30] ThadHouse commented on #507
That doesn't seem to work for that error. I have both done a full rebuild, along with a restart and I am still getting the warning.

[2018-04-13 22:40] fbricon commented on #507
works for me, after a restart

[2018-04-13 22:44] ThadHouse commented on #507
Ah I didn't realize that the setting had to be set in every project, and not just the root. Is there any way to avoid that?

[2018-04-13 22:57] fbricon commented on #507
not at the moment

[2018-04-15 00:44] ovidiup13 commented on #495
Any updates on this? I am having the same issue.

Builds fine from the command line. It's only when running VS Code Debug this occurs.

[2018-04-15 06:18] paperant opened #508 "Organize imports fails to work"
[provide a description of the issue]

##### Environment
- Operating System: macOS 10.13.3
- JDK version: 1.8.0_112
- Visual Studio Code version: 1.22.2
- Java extension version: 0.22.0

##### Steps To Reproduce
 `Shift` + `Alt` + `O` fails to organize imports  but if I write in the configuration like:

it works when I use `Command` + `S`, but still not work for the `Shift` + `Alt` + `O` combinatio

[2018-04-16 04:35] beNitinhere commented on #346
How can I add .jar file using maven dependencies. Well,I am trying to import itext library,as we add dependencies in eclipse I just add them in pom.xml but here is the problem raise and I am getting error that class Document not found and so on.

[2018-04-16 05:10] beNitinhere opened #509 "Adding jar file using maven dependencies"
I am sure that this one is not a big thing but it ruined my Friday night and still I do not get my solution.

Well,I am importing itext java library using maven dependencies as we did in eclipse I just paste all itext dependencies in pom.xml and save pom.xml and things goes well but here the problem raise it show me the error  Document class not found or so on.

Thanks in advance..

[2018-04-16 09:43] wheelcomplex opened #510 "incompatible with flatpak: The java.home variable defined in VS Code settings points to a missing folder"
[vscode installed by flatpak can not access JAVA_HOME]

I'm not sure is this a bug of vscode-java or flatpack.
Note: flatpak run vscode in a isolated environment.

##### Environment
- Operating System: Ubuntu 18.04 X86_64
- JDK version: oracle JDK 1.8
- Visual Studio Code version:
- Java extension version:

##### Steps To Reproduce
1. [step 1]
install flatpak: https://flatpak.org
install vscode fr

[2018-04-16 13:40] fbricon commented on #510
Looks like the same issue as with #157.

Just to check, can you try to point to a copy of the JDK somwhere under your home directory?

[2018-04-16 15:43] fbricon commented on #509
It should just work.

Can you execute `Force Java compilation (Shift+Alt+B)` (full build).
Do you see anything in the server [log](https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#get-the-java-language-servers-workspace-logs)

[2018-04-16 15:46] fbricon commented on #508
Is it for a simple java file or a complete Java project?
Can you provide a sample project reproducing your issue?

[2018-04-16 15:48] fbricon commented on #507
Related to https://github.com/eclipse/eclipse.jdt.ls/issues/624

[2018-04-16 19:35] snjeza commented on #503
VS Code adds an extra bracket.  You won't be able to reproduce the issue if you set the 'editor.autoClosingBrackets' property to false.

[2018-04-16 19:41] snjeza commented on #458
I can't reproduce the issue.
I have used the attached project and the following settings:

[code]

[mytest.zip](https://github.com/redhat-developer/vscode-java/files/1916956/mytest.zip)

[2018-04-16 20:05] fbricon commented on #506
can you please attach your sample project here, including all the gradle files?

[2018-04-16 20:07] tormath1 commented on #506
Hi !

Thanks for your response. After restarting vscode, my project has been updated. Sorry for the issue. :disappointed:

[2018-04-16 20:07] #506 closed

[2018-04-16 21:41] beNitinhere commented on #509
Thanks @fbricon for your response Well,I have already tried `Force java compilation` but still i am facing the same problem while importing library.

This is the error which raise while compiling because of iText library not found.
[code]

Even i tried to add library manually but i don't know how can i do this  in VSCode,Like In eclipse by inserting jar file into the lib folder and by adding its b

[2018-04-16 22:10] fbricon commented on #509
Ok so the error is just occurring when calling `javac` from command line apparently. When using Maven, you should not do it manually, since the classpath is not computed automatically. I suggest you call Maven from command line instead `mvn compile` or `mvn clean compile`. Make sure you read some tutorials about [Maven](http://maven.apache.org/guides/getting-started/maven-in-five-minutes.html) to

[2018-04-17 06:50] beNitinhere commented on #509
Okay, let me assume that there is something wrong with Maven then it should not work with eclipse too, but in eclipse code is working perfectly without any warning.

This is my project structure in eclipse and in vscode.
eclipse : https://imgur.com/a/sioC6
vscode : https://imgur.com/a/u0lfT

[2018-04-17 07:45] wheelcomplex commented on #510
@fbricon it works fine when point java.home to a copy of the JDK somwhere under home directory.
Thanks for your tips.

[2018-04-17 08:27] beNitinhere commented on #509
This is my project structure

 https://imgur.com/a/Ik9QP

[2018-04-17 11:54] fbricon commented on #509
Does your project build from command line?
Can you paste your pom.xml here please?

[2018-04-17 16:25] erihanse commented on #435
I'm still a little confused regarding how to set up a simple hello world from scratch. I'm used to compiling and running using a cli, and eclipse. Maven seems a little overkill.

What I've been doing is opening the eclipse IDE, creating a new project, and continuing from there in vs code. I'm curious how I can do the same thing without using eclipse IDE? In case I'm asking the wrong questions here

[2018-04-18 03:24] paperant commented on #508
The combination `Shift + Alt + O` works for a Java project. (Like maven project)
But it doesn't work for a Java file.
While the configuration:

works for both.

[2018-04-18 15:12] rlundy opened #511 "Could autocompletion for naming things be made less aggressive? Or have a setting to disable it?"
In VS Code, in a Java project, I've found that name suggestions are replacing my actual typed text.  For example, in this custom code snippet...
[code]
...the two all-caps items are tab stops.  I type, say, `cancelButton` in the first field, tab to the second, and find that ELEMENTNAME has instead been replaced with `cancelButtonElement`, because for some reason that was a naming suggestion.

This

[2018-04-18 17:09] ncarmona21 opened #512 "Go to/Peek definition only results in "No definition found""
Go to and peek definition actions are not finding definitions. Tried uninstalling and reinstalling the Java Extension pack for VSCode and browsed the other issues with no avail.

##### Environment
- Operating System:Centos 7
- JDK version: 1.8.0_161
- Visual Studio Code version: 1.22.2
- Java extension version: 0.23.0

##### Steps To Reproduce
1. Right click method
2. "Go to definition"

Logs:

[o

[2018-04-18 19:01] mjbvz opened #513 "Move 'Organize Imports' to be a CodeAction"
Hi, I'm on the vs code team. We recently introduced a more standardized way to implement `Organize Imports` with code actions (https://github.com/Microsoft/vscode/issues/47845). Using code actions instead of commands allows vs code to provide a more standard and consistent experience across languages. We are also using the new code action based implementation to power new UI like the `Source Actio