[2020-11-14 16:34] hanct commented on #1698
Hi, i look at my workspace setting file, which is inside the .vscode folder.  What am i suppose to check?  It just contain a bunch of settings, among which is the java.import.exclusion.

[2020-11-14 16:50] snjeza commented on #1698
@hanct check the java.import.exclusions property in workspace settings.json (not  java.import.exclusion)
Could you show your workspace file structure?

[2020-11-15 02:24] hanct commented on #1698
Hi,

Below is my workspace folders (the red circled one is my workspace setting
![image](https://user-images.githubusercontent.com/4410920/99160923-8d22ad80-2727-11eb-9e0c-b66f6aa984a5.png)

Below is the content of my workspace setting
[code]

Today, i repeat the clean workspace, restart and delete, but still with the above setting, I still got the below, although i expect it to be empty , as my e

[2020-11-15 02:25] hanct commented on #1698
I think i see wrongly. My workspace setting is not in .vscode folder, but outside it. But i think its location should not matter

[2020-11-15 16:12] snjeza commented on #1698
@hanct Could you enable Java LS tracing and attach the logs from the output view (Java Language server)?
See https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#turn-on-message-tracing-between-vs-code-and-the-java-language-server

[2020-11-15 18:18] hanct commented on #1698
Hi, i set the tracing to "verbose". Attach is the log. Do let me know if i attached the incorrect log, cos this is the first time i enable such tracing and viewing such log.
[LS_log.txt](https://github.com/redhat-developer/vscode-java/files/5542876/LS_log.txt)

[2020-11-15 19:24] snjeza commented on #1698
This settings is incorrect:
[code]
Could you try the following:
- close VS Code
- remove .project, .classpath, .settings in the CSV_Aggregator directory
- disable or remove the "Lombok Annotations Support for VS Code" extension
- remove the c:\Users\hanzh\AppData\Roaming\Code\User\workspaceStorage
- set the following settings.json
[code]
- start VS Code
- zip and attach the c:\Users\hanzh\AppData\

[2020-11-16 01:28] hanct commented on #1698
Hi, thanks for the steps. Will try it out tonight when I get back home. Meanwhile, may I know why is the exclusion setting incorrect? Cos I wanted to try exclude everything, to verify if the exclusion works. Or did I use the wrong syntax to exclude everything

[2020-11-16 01:44] snjeza commented on #1698
It will exclude all projects. The syntax is correct.

[2020-11-16 12:29] Pensarfeo commented on #577
Would it possible to have a little more constructive feedback? I am stuck on this issue too, I did not have it before, it just kind of suddenly happen. @marlinla did you solve this problem?

[2020-11-16 12:50] hanct commented on #1698
Hi,
Done as u requested. I have uninstall lombok support extension,  There is no  .project and .classpath, .settings in the Frontend/CSV_Aggregator directory for me to delete
Below is the attached

[redhat.java.zip](https://github.com/redhat-developer/vscode-java/files/5546274/redhat.java.zip)

[2020-11-17 00:34] shucshin opened #1700 "Error in every java file after updating to macOS Big Sur"
I started getting this message at the beginning of every java file that i open in vscode saying:

¨The type java.lang.Object cannot be resolved. It is indirectly referenced from required .class filesJava(16777540)¨

The extension that causes this error is Language Support for Java™ by Red Hat

The issue appeared after the software update to macOS Big Sur and installing Windows Bootcamp. These two

[2020-11-17 03:13] snjeza commented on #1698
@hanct Could you try the following:

- right click CSV_Aggregator and select **Remove Folder from Workspace**
- run **Java: Clean the Java language server workspace**, click **Restart and delete**

Your CSV_Aggregator is already included in '/Projects/Source_Codes/SmartKlik_CSV_Aggregator/workspace'.

[2020-11-17 07:29] hanct commented on #1698
Hi, once i remove the CSV_Aggregator folder from workspace, and yes the Java_dependencies no longer listed it out., after i clean the workspace, restart and delete.

Then when i add it back into the workspace again, the Java dependencies list it out again.
![image](https://user-images.githubusercontent.com/4410920/99345692-d1e84900-28cd-11eb-94af-f1aaa64badc4.png)

I am still using the java.import

[2020-11-17 07:30] hanct commented on #1698
In other word, if i have 3 workspace folders, the java dependencies will have these 3 folders, regardless of  the java.import.exclusions. Is this the way suppose to work?

[2020-11-17 10:41] jakegt1 commented on #1594
@fbricon

There was an example build.gradle, just simply have a build.gradle with no content.

but i'm a bit confused? Your picture there seems like you have reproduced it. That is the bug.

[2020-11-17 10:43] #943 closed

[2020-11-17 10:43] #1592 closed

[2020-11-17 10:43] #897 closed

[2020-11-17 16:52] snjeza commented on #1698
Why you add CSV_Aggregator? It is already under the workspace directory.
You can add all folders under CSV_Aggregator to java.import.exclusions.

[2020-11-17 17:29] hanct commented on #1698
My intention is just to include CSV_aggregator and csv_bundler folder in the workspace folder (ultimately , i will not include the folder called workspace, so we can ignore that).  Reason is because in real life, developer would be coding the frontend (e.g angular)  and backend (e.g spring boot) in vscode.  That is why I need to include both folders.

But nevertheless, I really appreciate your hel

[2020-11-17 18:17] snjeza commented on #1698
You can create a new directory (your_workspace), add both your folders to it and open only your_workspace.

You can't exclude a root folder. I suppose that your CSV_Aggregator includes pom.xml, build.gradle or .project.

[2020-11-17 18:28] hanct commented on #1698
I already have a directory called workspace. This directory contains the CSV_Aggregator (it is an angular project, so it don't have pom.xml or build.gradle. I also could not find any .project file within it. ) and csv_bundler.  U might be wondering why i don't  just add the workspace directory as the workspace folder,. Reason is because there is a plugin that i use, which require one of the worksp

[2020-11-17 19:21] snjeza commented on #1698
You can add csv_bundler and remove CSV_Aggregator.
You can also try to upgrade your VS Code Java Extension Pack. The Java Dependencies view is old. See https://marketplace.visualstudio.com/items?itemName=vscjava.vscode-java-dependency

[2020-11-17 21:45] jnalbert commented on #1700
I am having the same problem and I don't know how to fix it.

[2020-11-18 02:34] Eskibear commented on #1700
I'm updating to Big Sur now, and I'll let you know if I can reproduce it or not.
BTW, is your workspace a 1) maven project or 2) gradle project or 3) simple folder containing .java files?

[2020-11-18 02:45] Clinan commented on #158
I remove workspaceStorage dir and uninstall plugin *vsc-mybatis*, it works!

[2020-11-18 03:00] shucshin commented on #1700
In my case it's been both simple folders containing .java files and maven projects,(don't know about gradle projects since I don't have one) for maven projects it would create a .settings folder containing files with names starting with org.eclipse.something; for simple folders containing only .java files it wouldn't create a .settings file but still with the same errors as posted.

[2020-11-18 03:03] summerfang commented on #1700
I have the same problem and not able to fix it yet.

[2020-11-18 03:16] jdneo commented on #1649
😄 Actually this name somehow makes me a little bit confused when I saw it for the first time. IMO, naming it as `Reload Project` or `Refresh Project` conveys the idea more directly.

@rgrunber @fbricon @snjeza @testforstephen @akaroml @Eskibear @CsCherrYY  Do you have any preferences here?

[2020-11-18 05:05] Eskibear commented on #1700
I've updated to Big Sur, but I cannot reproduce it.
Maybe you can try command `Java: Clean the Java language server workspace`  from command palette.

[2020-11-18 05:19] jnalbert commented on #1700
I tried that but it still did not resolve the issue.

[2020-11-18 05:52] Eskibear commented on #1700
@jnalbert I'm wondering whether it occurs only for existing projects (due to some out-of-sync states), or all projects on your machine. I suggest that you create an empty folder, and open it in vscode. Then you create a single .java file, e.g. Hello.java, write a Hello World program.

Let me know if it works. And if it doens't work, trry F1 -> `Java: Open Java language server log file`, see if we

[2020-11-18 06:48] Eskibear commented on #1700
Finally I'm able to reproduce it, by removing all the other JDKs except for one JDK 15. Java Home was wrongly recongnized as `/usr`.

![image](https://user-images.githubusercontent.com/2351748/99494966-d899bd80-29ac-11eb-8132-4ead36da1128.png)

[2020-11-18 06:58] jnalbert commented on #1700
@Eskibear do you know of any fix for this right now?

[2020-11-18 07:02] Eskibear commented on #1700
#### Root Cause
In Big Sur, `/usr/bin/javac` is added, and it's no longer a symlink (in Catalina it's a symlink thus skipped). So LS regard `/usr` as Java Home, thus fail to find required libs under the folder.

#### Workaround
Open Setttings in VSCode, set `java.home` to the correct home dir of your JDK. E.g.  mine is,
[code]

Usually you can find it under `/Library/Java/JavaVirtualMachines`
[cod

[2020-11-18 07:05] testforstephen commented on #1700
Looks like there are more people getting stuck at this issue after upgrading to macOS Big Sur, @Eskibear could you help provide a hot fix on this?

[2020-11-18 07:07] jnalbert commented on #1700
@Eskibear it worked! Thank you.

[2020-11-18 07:09] julrdb commented on #1700
I have this same issue as well.
I found a solution from reddit.

The JAVA_HOME variable needs to be set properly.
*First open terminal, type: touch ~/.zshrc
This creates a zshrc file; if you think it already exist, type: open ~/.zshrc
*Then type: open ~/.zshrc
*Copy and paste this inside the zshrc file when it opens up on textedit: export JAVA_HOME=`/usr/libexec/java_home`
*Save the zshrc (cmd+S)

[2020-11-18 09:22] molly-w opened #1702 "How to make braces go to next line when creating class"
Is there any settings to make braces turn to the next line when creating a class?

##### Environment
- Operating System: Microsoft Windows [Version 10.0.19041.572]
- JDK version: openjdk 11.0.8 2020-07-14
- Visual Studio Code version: 1.51.1
- Java extension version: V 0.10.0

##### Steps To Reproduce
Create a class

##### Current Result
public class demo{

}
##### Expected Result
public class dem

[2020-11-18 10:57] EduardoSilva088 commented on #1700
Hey @Eskibear. I tried to do that but it opens me a tab saying "Configure Java Runtime" and basically says that my path is not pointing to JDK.

![image](https://user-images.githubusercontent.com/62120563/99521751-b42de900-298c-11eb-970a-baeea11508fc.png)

Is there any way for me to solve this? I can still compile and everything using terminal (using javac and java) but on VSCode I can't...

[2020-11-18 13:03] hanct commented on #1698
The only problem is , if i want to work with frontend, i need the CSV_Aggregator. If i want to work with backend, i need csv_bundler. Hence i can't exclude either of them.  Unless I create two workspaces, and run 2 different instance of visual studio code on them, which is something i want to avoid

[2020-11-18 16:58] snjeza commented on #1698
It is under your workspace directory. You shouldn't add it.

It works, but you can't exclude a root path.
Could you show the contents of your CSV_Aggregator directory including hidden files from the Windows Explorer or command line?

[2020-11-18 17:04] rgrunber commented on #1649
I think this changed some time ago in [m2e](https://git.eclipse.org/c/m2e/m2e-core.git/commit/?id=03f3b21e013835193841a7f9aae0efaecfae5802). They're basically using `Update Project...` . How do you feel about `Update Project` vs. Refresh/Reload ?

[2020-11-18 17:11] snjeza commented on #1698
https://user-images.githubusercontent.com/4410920/99161371-9e21ed80-272c-11eb-9f4c-fb9cac1f6ca5.png

Could you expand the CSV_Aggregator entry in order to see if there is a java project?

[2020-11-18 17:22] hanct commented on #1698
Hi, here it is, including hidden files

![image](https://user-images.githubusercontent.com/4410920/99563072-dca4fa00-2a03-11eb-86bc-f9fb46be6460.png)

[2020-11-18 17:29] hanct commented on #1698
I think the exclusion is indeed working. here is my experiment:  I import the 2 folders (csv_bundler and CSV_Aggregator).
Then i set the exclusion to this
![image](https://user-images.githubusercontent.com/4410920/99564764-cf890a80-2a05-11eb-9d86-cf03eb38bef1.png)

And finally i got the below:
    Even though the Java dependencies list the 2 folders, but as shown in the screenshot, when i expand t

[2020-11-18 17:34] shucshin commented on #1700
This solved it, thank you!

[2020-11-18 17:46] snjeza commented on #1698
Java LS scans all your root paths. I suppose that they contain a lot files. You can try
[code]

[2020-11-18 20:08] EduardoSilva088 commented on #1700
Ok, i fixed my issue. I was using JDK version 14.0.1. Just installed latest version and did what Eskibear did. It is working now!

[2020-11-18 21:13] #1621 closed

[2020-11-18 21:13] #1700 closed

[2020-11-18 22:46] #1675 closed

[2020-11-19 07:16] jdneo commented on #1649
😃  `Update Project` sounds much better! But if must choose one, I guess I'm still a fan of `Reload/Refresh`.

I also found that, in Eclipse, it's called `Update project` for Maven, and `Refresh Gradle Project` for Gradle.

In IntelliJ, it's called `Reload Project` for Maven and Gradle.

[2020-11-19 08:04] hanct commented on #1698
No difference. It still scan my CSV_aggregator.
Can i confirm that the java.import.exclusions  setting is supposed to prevent the java LS from scanning all the root paths? If this setting is not meant for preventing scanning of certain folders, then there is no need for me to pursue on the scanning part.

[2020-11-19 12:00] clembo590 commented on #1665
anyone ... ?

[2020-11-19 14:44] Hagar-Usama commented on #1489
As @testforstephen said
![java_path](https://user-images.githubusercontent.com/34040335/99680655-f6872100-2a85-11eb-8842-085113db6bf2.gif)

`echo $(readlink -f /usr/bin/java | sed "s:bin/java::")`

[2020-11-19 18:57] rgrunber commented on #1649
Yes that's fine. FWIW I'm not against Refresh/Reload. I just thought that in a lot of cases, a "Refresh" is simply checking that the contents are synchronized with the filesystem, rather than performing additional steps (eg. Maven goals).

A few other things I noticed (aside from capitalization), though maybe not really needing immediate action :

- `Java: Clean the Java language server workspace`

[2020-11-20 01:41] jdneo commented on #1649
I see. That makes sense.

Ok

[2020-11-20 03:46] vitalyster commented on #1671
Same issue here on macOS:
[code]

[2020-11-20 03:49] honghuhu opened #1708 "[Feature Request] Java Code auto folding"
Guide package **auto folding**，would be much better.

![image](https://wx3.sinaimg.cn/large/008ckdHCly1gkvht9jktmj30km04mwez.jpg)

[2020-11-20 04:42] testforstephen commented on #1708
Folding the imports by default will depend on a feature request https://github.com/microsoft/vscode/issues/40338

[2020-11-20 10:37] pumano commented on #1004
got the same issue and just returned empty array of definitions in verbose debug. But I found similar opened issues hope it will be fixed.

[2020-11-20 11:23] StelFoog opened #1709 "[Question] Default Java formatter line length"
I've noticed that the default Java formatter (JSON "java.format.enabled": true) forces lines to be no longer than 80 characters. I can't seem to find any setting to change this to my own preferred length.

settings.json
[code]

##### Environment
- Operating System: macOS 10.14.1
- JDK version: openJDK 15.0.1
- Visual Studio Code version: 1.51.1
- Java extension version: 0.70.0

##### Steps To Repr

[2020-11-20 14:00] soetz opened #1710 "Project won't run since 0.71.0"
First of all I am very sorry to report the issue in such an unacademic way (nothing to reproduce and no clue of what the problem could be) but I have no choice… I'm no Java developer and know close to nothing about it but I just figured you might want to be warned about the issue. Feel free to ignore and/or close it if you think it's not relevant.

It's as simple as that: my company's project runs

[2020-11-20 14:37] fbricon commented on #1710
Can you try to run the "Java: Clean Java Language server workspace" command? If it doesn't work, [enable verbose logging](https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#turn-on-message-tracing-between-vs-code-and-the-java-language-server)

[2020-11-20 14:50] y1m6 opened #1711 "Connection to server got closed. Server will restart."
Continuous restart after startup about one minute.

##### Environment
- Operating System: WSL Alpine
- JDK version:
  openjdk 11.0.9 2020-10-20
  OpenJDK Runtime Environment (build 11.0.9+11-alpine-r0)
  OpenJDK 64-Bit Server VM (build 11.0.9+11-alpine-r0, mixed mode)
- Visual Studio Code version:1.51.1
- Java extension version: v0.71.0

client.log:
{
  message: 'The Language Support for Java serv

[2020-11-20 14:51] soetz commented on #1710
It seems it's worked! Thank you, kind wizard 🧙‍♂️

[2020-11-20 14:52] fbricon commented on #1711
Can you try to run the "Java: Clean Java Language server workspace" command?

[2020-11-20 15:05] y1m6 commented on #1711
Still continuous restart, I also tried to reboot my computer

[2020-11-20 15:06] fbricon commented on #1711
Since the server restarts without logging anything, if you can locate the $HOME/.config/Code/User/globalStorage/redhat.java/0.71.0/config_win folder in the WSL machine, there might be a log file there containing infos on the crashes

[2020-11-20 15:13] y1m6 commented on #1711
no log file found.

config_linux > pwd
/root/.vscode-server/data/User/globalStorage/redhat.java/0.71.0/config_linux
config_linux > la
total 8.0K
-rwxr-xr-x 1 root root 5.7K 2020-11-20 12:59 config.ini
drwxrwxrwx 1 root root 4.0K 2020-11-20 17:20 org.eclipse.core.runtime
drwxrwxrwx 1 root root 4.0K 2020-11-20 13:10 org.eclipse.equinox.app
drwxrwxrwx 1 root root 4.0K 2020-11-20 13:10 org.eclipse.equ

[2020-11-20 15:14] fbricon commented on #1243
This was fixed in 0.67.0. See https://github.com/redhat-developer/vscode-java/issues/1470#issuecomment-692974594

[2020-11-20 15:14] #1243 closed

[2020-11-20 15:34] fbricon commented on #1711
You can try uninstalling all other java related extensions, only keep vscode-java, delete /root/.vscode-server/data/User/globalStorage/redhat.java/0.71.0/, then "Clean Java Language server workspace",

[2020-11-20 15:35] fbricon commented on #1711
@snjeza any other suggestions?

[2020-11-20 15:47] y1m6 commented on #1711
Still continuous restart

[2020-11-20 16:31] snjeza commented on #1711
@y1m6 could you zip and attach the  /root/.vscode-server/data/User/workspaceStorage/*/redhat.java directory?

[2020-11-20 18:22] y1m6 commented on #1711
[redhat.java.tar.gz](https://github.com/redhat-developer/vscode-java/files/5575384/redhat.java.tar.gz)

[2020-11-20 19:50] snjeza commented on #1711
Could you try the following:
- add
[code]
to your settings.json
- close VS Code
- remove all directories except redhat.java-0.71.0 in /root/.vscode-server/extensions
- remove /root/.vscode-server/data/User/globalStorage/redhat.java/0.71.0/
- remove /root/.vscode-server/data/User/workspaceStorage
- start VS Code
-  zip and attach the /root/.vscode-server/data/User/workspaceStorage/*/redhat.java dir

[2020-11-21 14:17] hanct commented on #1698
In other word, can i conclude that the java.import.exclusions setting is not working as expected (hence considered a bug)? since it initialize the paths that are configured in the java.import.exclusions

[2020-11-21 15:58] hanct commented on #1549
I agree. The initialization of the workspace is slow...i have to wait for it to finish, before intellisense kick in. Even configuring java.import.exclusions to prevent specific folder from being initialized does not work. I am now thinking of switching back to Eclipse or intellij for java development, which is a sad thing, since i quite like vscode. IDE

[2020-11-21 16:33] snjeza commented on #1698
Java LS scans all root paths. Your CSV_Aggregator is a root path. You can add all CSV_Aggregatorall sub-directories to java.import.exclusions.

[code]

[2020-11-21 17:24] hanct commented on #1698
When we say "Java LS scans all root paths", that mean it scans the top-level folders that are added to the workspace. I am ok for it to scan.   But i thought we should not expect it to scan within the CSV_Aggregator/node_modules folder, since the node_modules folder is NOT the root path, and is inside my java.import.exclusions

![image](https://user-images.githubusercontent.com/4410920/99883195-c7

[2020-11-21 17:43] snjeza commented on #1698
Could you attach your csv_bundler/build.gradle and csv_bundler/settings.gradle?

[2020-11-21 18:34] y1m6 commented on #1711
data too large and github doesn't support xz, plz rename to redhat.java.tar.xz and unzx

[redhat.java.tar.xz.zip](https://github.com/redhat-developer/vscode-java/files/5578160/redhat.java.tar.xz.zip)

[2020-11-21 19:12] snjeza commented on #1711
Could you attach your demo project (/root/temp/demo)?

[2020-11-21 19:45] y1m6 commented on #1711
just demo project download from [spring boot](https://start.spring.io), my spring boot project also continuous restart.

[2020-11-21 20:31] snjeza commented on #1711
Could you run:
[code]

[2020-11-21 20:54] JoseLion commented on #1034
@snjeza @fbricon any news around this issue? To be honest, it has become very difficult to use "method reference" in VSCode as autocomplete breaks in the whole chain once a method reference is used:
[code]

I hope this can be fixed soon. Also, I'll be happy to help out if you point me in the right direction. 🙂

[2020-11-21 21:52] danuvian commented on #1228
I had the same issue. The problem was, I opened VS Code in Windows and then I got that error message.  In you are developing in WSL2, you have to open VSC in WSL2. So, in your WSL2 terminal, go to your repo, and type "code ." This will open VSC in WSL2 and the error goes away.

[2020-11-21 21:54] snjeza commented on #1034
@JoseLion You can try
[code]

[2020-11-21 22:59] snjeza commented on #1034
I can reproduce it in Eclipse. You can create a bug at https://bugs.eclipse.org/bugs/enter_bug.cgi?product=JDT

[2020-11-22 01:20] hanct commented on #1698
Attached as request. Change the extension to .log in order to be able to upload

[settings.log](https://github.com/redhat-developer/vscode-java/files/5578746/settings.log)
[build.log](https://github.com/redhat-developer/vscode-java/files/5578747/build.log)

[2020-11-22 09:23] y1m6 commented on #1711
redhat.java-0.71.0
visualstudioexptteam.vscodeintellicode-1.2.10
vscjava.vscode-java-debug-0.29.0
vscjava.vscode-java-dependency-0.15.0
vscjava.vscode-java-pack-0.10.0
vscjava.vscode-java-test-0.26.0
vscjava.vscode-maven-0.25.0

[2020-11-22 09:23] y1m6 commented on #1711
redhat.java-0.71.0
visualstudioexptteam.vscodeintellicode-1.2.10
vscjava.vscode-java-debug-0.29.0
vscjava.vscode-java-dependency-0.15.0
vscjava.vscode-java-pack-0.10.0
vscjava.vscode-java-test-0.26.0
vscjava.vscode-maven-0.25.0

[2020-11-22 13:18] markusroessler commented on #1034
@JoseLion @batraz90 There's already an open JDT bug report for this issue. You can vote for it here: https://bugs.eclipse.org/bugs/show_bug.cgi?id=563020

[2020-11-22 15:20] snjeza commented on #1711
Could you remove
[code]
and retry https://github.com/redhat-developer/vscode-java/issues/1711#issuecomment-731618281

[2020-11-22 17:32] snjeza commented on #1698
![image](https://user-images.githubusercontent.com/4410920/99883195-c778d700-2c60-11eb-8513-268d8cd07608.png)

Your gradle build uses the CSV_Aggregator/node_modules folder. You can check */csv_bundler/apps/main-service/build.gradle and */csv_bundler/apps/main-service/settings.gradle

[2020-11-22 17:38] y1m6 commented on #1711
Still restart
Found those exceptions:
!MESSAGE An internal error occurred during: "Initialize workspace".
!STACK 0
java.lang.NullPointerException
	at org.eclipse.jdt.ls.core.internal.JavaLanguageServerPlugin.getProjectsManager(JavaLanguageServerPlugin.java:478)
	at org.eclipse.jdt.ls.core.internal.handlers.WorkspaceDiagnosticsHandler.getProblemMarkers(WorkspaceDiagnosticsHandler.java:229)
	at org.

[2020-11-22 17:56] dhruvgajwa commented on #112
Clean the workspace, either by command prompt or by deleting the "C:\Users\Dhruv\AppData\Roaming\Code\User" Folder. You can find the exact link for the folder in the debug log text.

[2020-11-22 18:06] snjeza commented on #1711
How you start VS Code? In the WSL terminal using _code ._ ?
Could you retry:
[code]

[2020-11-22 19:29] y1m6 commented on #1711
Using "Code Remote - WSL" plugin

[2020-11-22 19:48] snjeza commented on #1711
Could you try start it in the WSL terminal?

[code]

[2020-11-22 20:12] y1m6 commented on #1711
Still restart

[2020-11-22 20:23] snjeza commented on #1711
Could you, please, retry:
[code]

[2020-11-22 20:55] ddadon10 opened #1712 "Can't find methods in symbol search"
I can't find method in symbol search by doing `> Go to Symbol in Workspace` in VSCode. I only can find class.

But when I do `> Go to Symbol in Editor` I can find method and class in the current file.

I use the remote SSH plugins [https://code.visualstudio.com/docs/remote/ssh](https://code.visualstudio.com/docs/remote/ssh)

##### Environment
- Local Operating System: macOS Big sur 11.0.1.
- Remot

[2020-11-23 02:25] y1m6 commented on #1711
demo > ls /root/.vscode-server/extensions
redhat.java-0.71.0

[2020-11-23 02:34] snjeza commented on #1711
Could you please retry the following:

    - close VS Code
    - ~~remove all directories except redhat.java-0.71.0 in /root/.vscode-server/extensions~~
    - remove /root/.vscode-server/data/User/globalStorage/redhat.java/0.71.0/
    - remove /root/.vscode-server/data/User/workspaceStorage
    - start VS Code in the WSL terminal
cd /root/temp/demo
code .
   - zip and attach the /root/.vscode-serv

[2020-11-23 09:22] y1m6 commented on #1711
data too large and github doesn't support xz, plz rename to redhat.java.tar.xz and unxz

[redhat.java.tar.xz.zip](https://github.com/redhat-developer/vscode-java/files/5581937/redhat.java.tar.xz.zip)

[2020-11-23 10:56] ddadon10 commented on #1712
I also tested on directly on macOS and I can't find any methods either.

Is it an issue related to VSCode? Or is it known that the plugin can't find methods using `> Go to Symbol in Workspace`?

It's weird because the plugin recognize method as symbol because it works within the file using `> Go to Symbol in Editor`

![image](https://user-images.githubusercontent.com/8955104/99954369-ea9ba780-2d82

[2020-11-23 10:59] aeschli opened #1713 "semantic tokens: use 'method' instead of 'member'"
After requests in https://github.com/microsoft/language-server-protocol/issues/1087 we decided to deprecate the 'member' token type in favor of a new 'method' token type.

The 'method' token type stands for all types of member functions (also if the language calls it differently)

[2020-11-23 11:00] aeschli commented on #1713
VSCode issue: https://github.com/microsoft/vscode/issues/111172

[2020-11-23 11:17] hanct commented on #1698
Hi,
I think that could not be possible. Cos my main-service do not have build.gradle and setings.gradle. It inherit from the root's build.gradle and settings.gradle (which is the one I attached earlier).

![image](https://user-images.githubusercontent.com/4410920/99955576-8ba85380-2dbf-11eb-8815-ec71f1255bd0.png)

[2020-11-23 11:57] fbricon commented on #1712
Workspace symbols are only available for types. So it's expected you won't find methods.
Given the search is performed for all types for all classpath dependencies of all the projects in the workspace, adding method search on top would most likely have a very negative impact on the performance

[2020-11-23 12:25] ddadon10 commented on #1712
Hi Fred :) Thanks for the answer!

Make sense,

How it would be possible to exclude classpath dependencies from the symbol search only and therefore enabling the method search without impacting performance?

Is it kind of related to [this issue](https://github.com/microsoft/vscode/issues/46718) ?

Or is it more of a Java Server Language Server Issue?

Thanks!

[2020-11-23 13:03] snjeza commented on #1698
Could you attach your project?

[2020-11-23 14:00] hanct commented on #1698
I can only attach the backend, not the frontend, as my frontend code are confidential, and my backend has barely started yet. However, even backend i can't attach, as github complain the file is very big.

[2020-11-23 14:04] hanct commented on #1698
I saw another issue titled "java.import.exclusions preference is ignored during server startup" at [https://github.com/redhat-developer/vscode-java/issues/444](url).  The reporter mention thatt java.import.exclusions are actually ignored during import, as the import is initialized. That issue is raised in year 2018, so I wonder if that is the cause of what i observed currently?    But i assume sho

[2020-11-23 14:15] hanct commented on #1698
In my opinion, perhaps u can help to verify by setting up 2 workspace folders at your side, and use java.import.exclusions set to "**" to exclude everything? if doing so, still result in the scanning of the any of the subfolders of the 2 workspace folders. Then the import.java.exclusions is definitely not what is expected.

[2020-11-23 15:11] snjeza commented on #1711
Could you try the following:

- close VS Code
- open the WSL terminal and run
- apk update
- apk add procps
- start VS Code

[2020-11-23 15:18] testforstephen commented on #1711
Also can reproduce it in the alpine wsl. But it seems this error doesn't break the language server, because the language server will be started successfully after several restarts.

Will update here if i found more information.

[2020-11-23 15:45] snjeza commented on #1698
It works fine for me.

[2020-11-23 15:58] snjeza commented on #1711
@testforstephen Have you executed

[code]
in the alpine WSL terminal?

[2020-11-23 16:12] hanct commented on #1698
Noted. Anyway, in 2 days time, i still unable to solve the issue, i will close this issue, since most probably the issue lie in my machine. Thanks snjeza for your patient and help.

[2020-11-23 19:56] dlandis commented on #691
I am also seeing this issue now.

When you set `"java.format.settings.url"` to a local file, and then update the one of the settings in the xml file, the formatter doesn't pick that individual change up. Try changing one of settings in the xml file like:
[code]
and then reformatting a java file. The line split won't change.

However, if you create a totally new xml file and then point the `"java.f

[2020-11-23 20:03] 0dinD commented on #1713
The semantic token for methods was never even renamed to `member` (from `function`), since I was waiting for your response to microsoft/language-server-protocol#1087. But now that everything is cleared up, I think it's time for a rename.

[2020-11-23 20:26] 0dinD commented on #1713
BTW, merging eclipse/eclipse.jdt.ls#1608 will break styling of `method` tokens (unless explicitly styled) until microsoft/vscode@07d680b makes it into a release, since they currently are not mapped to any TextMate scope. This could be fixed by contributing more scope mappings like in #1636, for `method` tokens. But I'm not sure if it's a good idea since the scope mapping will eventually be provide

[2020-11-23 22:47] snjeza commented on #1711
The issue happens because Java LS uses the 'ps -p <pid>' command. The alpine distribution includes the busybox ps command which doesn't recognize the -p option. The solution is to install the procps package.
@testforstephen you can always reproduce the issue if you start the VS Code and wait 30+ seconds without any activities.

[2020-11-24 01:32] y1m6 commented on #1711
It work fine after install  procps, thx.

[2020-11-24 01:55] hanct commented on #1648
The reason why i feel this enhancement is logical, because most developer configures the environment settings in the VSCODE IDE is to avoid having to configuring them in OS environment. Hence the vscode-java extension could consider leveraging on it.

[2020-11-24 02:59] testforstephen commented on #1711
@snjeza Nice finding.

Below is the Java code that the jdt.ls used to detect whether the parent process is running.
[code]

In alpine linux, `-p` is unrecognized option when running `ps -p` command. And the `process.exitValue()` will return `1` so that `parentProcessStillRunning()` always returns `false`. The language server would mistakenly think that the parent process has exited and kill itself

[2020-11-24 03:45] snjeza commented on #1711
For example, for alpine, ps still works and we can check if the target pid is in the result list.

We can use 'kill -0 pid' instead of 'ps -p pid'. It is POSIX compliant.
[code]

[2020-11-24 04:27] Fubuchi opened #1714 "Dependencies weren't recognized after being added in gradle project"
When I added a dependency in build.gradle, the dependency wasn't recognized in code unless I run `Java: Clean the Java language server workspace` and restart vscode.

##### Environment
- Operating System: Microsoft Windows 10 [18363.1082]
- JDK version: openjdk version "13.0.2" 2020-01-14
- Visual Studio Code version: 1.51.1
- Java extension version: v0.71.0

##### Steps To Reproduce
1. Create a g

[2020-11-24 06:58] CsCherrYY commented on #863
I have downloaded the repo https://github.com/srfrnk/beam-playground and tried to reproduce this issue in the current version (0.71.0) of VS Code Java but found no inconsistency. @srfrnk Could you please try it again in the current version?

[2020-11-24 07:26] testforstephen commented on #1711
`kill -0 pid` will return non-zero when you don't own the process. Since Java LS and the parent process are created by the same user, the permission should not be a problem.

I tried `kill -0 pid` in alpine wsl, it works at most cases. However sometimes it also returns 0 when checking some non existing pid, this is weird.
![image](https://user-images.githubusercontent.com/14052197/100059541-370be3

[2020-11-24 09:11] aeschli commented on #1713
Yes, you better wait until 1.52 is out (or restrict the extension to 1.52)

[2020-11-24 13:09] maDevPy opened #1715 "The declared package "package" does not match the expected package ""- ( Java(536871240) )"
When I package the Java file and I package it with the name of the upper directory, it shows the error at title.

##### Environment
- Operating System: Windows 10
- JDK version: 15
- Visual Studio Code version: Latest Stable Build
- Java extension version: Latest

##### Current Result
error highlight

##### Expected Result
No error highlight

##### Additional Informations
It works fine when I comp

[2020-11-24 15:49] snjeza commented on #1711
Could you run
[code]
and repeat 'kill -0 2396; echo $?' a few times.
I think that the 2396 process is a zombie process or process group ID.
See also https://man7.org/linux/man-pages/man2/kill.2.html

[2020-11-24 17:06] vinerich opened #1716 "Requiring JDK 11 broke support for gradle versions < 4.7"
Using the current `vscode-java plugin` with a gradle version below 5.0 won't work.
This was reported a few times in the big thread about JDK 11 requirement. #1543

If this can't be done without major work I'm fine with it, but please check if it would require much work running the gradle tasks with the specified `runtime` JDK.

As for myself (and some others), I am forced to use gradle < 5.0 by th

[2020-11-24 17:09] vinerich commented on #1716
For further ref
https://github.com/redhat-developer/vscode-java/issues/1543#issuecomment-692347148
https://github.com/redhat-developer/vscode-java/issues/1543#issuecomment-714498647
@Bno93 @atg22896 @snjeza

[2020-11-24 17:28] Bno93 commented on #1716
I'm in the same situation.

Additional Info:

There is a setting called `java.import.gradle.java.home` which according to [1594(comment)](https://github.com/redhat-developer/vscode-java/issues/1594#issuecomment-680916973) should let me run gradle with a different JVM.
I configured this setting pointing to my Java1.8 Jdk but with no success. I also removed all Java Project files and cleaned Java la

[2020-11-24 17:29] vinerich commented on #1716
#### Update 1
- Got it working after downgrading to `0.64.1` and then upgrading again. Can't explain why it works now.
- `gradle-extension` does not work now but that is not that of an issue

#### Update 2
- With gradle `4.10` `gradle-extension` is working for me
- I'm not sure if this only works because of `Update 1`

If I can provide any other info just ask.

[2020-11-24 17:30] vinerich commented on #1716
@Bno93

Could you try adding `.settings/org.eclipse.jdt.core.prefs` with content:
[code]

[2020-11-24 17:34] vinerich commented on #1716
@Bno93

What is the gradle version you are using?

[2020-11-24 17:38] Bno93 commented on #1716
@vinerich Update 1 is working because you downgraded to 0.64.1, which will create all stuff needed for vscode-java. When upgrading to 0.71.0 vscode-java don't update the already created files. If you clean java language server workspace you will get the same error.

If have installed gradel 4.10 but using gradlew with 4.0.2.

[2020-11-24 17:39] vinerich commented on #1716
@Bno93 updating `gradlew` to `4.10` did the trick for me.

Then I will probably never clean the language server in the near future 👍🏾

[2020-11-24 19:40] snjeza commented on #1711
@testforstephen @y1m6 Could you check https://github.com/snjeza/vscode-test/raw/master/java-0.72.0.vsix ? Java LS should work on WSL Alpine without installing the procps package.
@fbricon  Could you test the issue on Mac OS? Java LS should be stopped when VS Code exits.

[2020-11-24 19:54] kipodd commented on #220
You need to select it as the default formatter for java files.

1. Press `CTRL + SHIFT + P`
2. Type and select `Format Document With...`
3. Select `Configure Default Formatter...`
4. Choose `Language Support for Java(TM) by Red Hat`

To test it, press `CTRL + SHIFT + P` again and select `Format Document`.

If it works you can also add `"editor.formatOnSave": true` in VSCode's settings.json to form

[2020-11-24 20:27] srfrnk commented on #863
Seems to be working now!

[2020-11-25 11:32] wxlfrank commented on #924
I have the same problem.

installed gradle version 6.7 but 6.3 is used in the .gradle folder.

Extension Name: vscode-gradle
Extension Version: v3.5.2
OS Version: macOS Big Sur Version 11.0.1
VSCode version: 1.51.1

**Describe the bug**
I installed gradle 6.7 and use gradle init to create a gradle project
but in vscode, the .gradle folder contains both 6.3 and 6.7 subfolders.

If I run the gradle

[2020-11-26 03:06] msdemt opened #1718 "Support to access the pom file corresponding to the jar package by clicking on the dependency"
##### Environment
- Operating System: win10
- JDK version: jdk1.8
- Visual Studio Code version: 1.15.1
- Java extension version: 0.71.0

##### Steps To Reproduce
1. [step 1]  open a maven project and add some dependency, for example
[code]

2. [step 2]

hold crtl and click the artifactId can't access the spring-boot-starter-2.4.0.pom

##### Current Result
can't access the spring-boot-starter-2.4.0

[2020-11-26 04:42] #1649 closed

[2020-11-26 08:31] fbricon commented on #1718
Sorry but this is out of scope of vscode-java. Please open your request at https://github.com/microsoft/vscode-maven/issues

[2020-11-26 08:31] #1718 closed

[2020-11-26 17:50] snjeza commented on #1714
Related issue - #1528

[2020-11-27 02:31] jdneo opened #1720 "[API Request] Convert workspace edit from server format to client format"
### Background
Sometimes, the bundle plugin of the JDT.LS may calculate some `WorkspaceEdit`s and return that server formatted edits to the clients. Before the client applies the edits, they must be converted to the client-format, which can be done by a language client. SO it will be convenient if the java language client can have such APIs to help other extension do the conversion.

### API propo

[2020-11-27 03:51] y1m6 commented on #1711
No more restart without procps in WSL Alpine. thx

[2020-11-27 04:59] #1711 closed

[2020-11-28 01:40] JoseLion commented on #1034
Thank you @markusroessler! I added my vote to that bug report 🙂

[2020-11-28 01:45] JoseLion commented on #1034
@snjeza I tried the suggested configuration, and the autocomplete does not suggest the words from the text block anymore, but it won't suggest the methods from the String class either 😞

[2020-11-28 22:06] ghokun opened #1722 "Allow creation of `abstract class` and `@interface` from "New Java Class" command"
##### Environment
- Operating System: Fedora 33 (Xfce) x86_64
- JDK version: OpenJDK Runtime Environment AdoptOpenJDK (build 11.0.9.1+1)
- Visual Studio Code version: 1.51.1
- Java extension version: 0.71.0

##### Steps To Reproduce
1. Open a java project
2. Wait for the java language server to detect it
3. Click "Explorer" Tab
4. Select "JAVA PROJECTS" view
5. Right click on any project or packag

[2020-11-30 03:34] mdabdulnazar opened #1724 "The language tools is not fully loaded"
I don't see the thumbs icon for the language tools in the status bar. The status was in a loading state even after a long time.

##### Environment
- Operating System: MacOS 10.14.6
- JDK version: openjdk version "11.0.8" 2020-07-14
- Visual Studio Code version: 1.51.1
- Java extension version: 0.71.0

I don't see any log printed in the output view under "Language Support for Java" even after enabl

[2020-11-30 03:47] somilrana commented on #743
I have tried all the above hacks nothing works as I tried to fix one another got breaked up.. But here is  a simple solution to realy get rid of this error.
1. Unistall visual Studio code Editor.
2. Go to the following directory:
    Windows: <code> %APPDATA%\Code </code>
    macOS:  <code> $HOME/Library/Application Support/Code </code>
    Now Delete this code folder.
3. Go to  directory: <code>

[2020-11-30 04:43] #1722 closed

[2020-11-30 04:52] testforstephen commented on #1724
Could you also share the server logs?

**F1 -> Java: Open the Java language server log file**

[2020-11-30 04:56] mdabdulnazar commented on #1724
@testforstephen No log file available.

[2020-11-30 06:38] testforstephen commented on #1724
from the logs in your developer tool, i only see the lightweight mode is started, no any logs about starting the standard language server.

What kind of workspace did you open? Did you see any info to ask you to import Java projects?

[2020-11-30 07:13] mdabdulnazar commented on #1724
<img width="309" alt="Screenshot 2020-11-30 at 12 40 12 PM" src="https://user-images.githubusercontent.com/26316839/100578920-37dec280-3309-11eb-8a79-fae4087a4d35.png">
It is a simple project without any build tools. No, I didn't see any info asking me to import Java projects.

I don't have a command to switch the language server to standard mode in Command Palette.
<img width="602" alt="Screensho

[2020-11-30 07:37] testforstephen commented on #1724
i guess i get the reason for this error.

There is an environment variable `SERVER_PORT` in your machine, which is used by Java extension for debugging purpose and will try to connect to a remote language server. The workaround is to remove `SERVER_PORT` env variable.

[2020-11-30 07:48] mdabdulnazar commented on #1724
@testforstephen Works after removing the SERVER_PORT variable. Thanks.

[2020-11-30 07:49] #1724 closed

[2020-11-30 08:19] clembo590 commented on #1665
Hello @snjeza any update on this ?

[2020-12-01 13:58] theute opened #1725 "Generated classes not added to classpath"
When loading my java project which compiles fine with `mvn package` and my colleagues say it works fine in IntelliJ, VSCode cannot find Avro generated files.
Trying to add them through VSCode it says:
`Unsupported operation. Please use pom.xml file to manage the source directories of maven project.`

But the pom.xml file is correct as classes get generated and it can compile outside of vscode

###

[2020-12-03 10:28] sirReeall commented on #761
yes this would be great

[2020-12-03 17:11] snjeza commented on #1725
The issue happens because the avro plugin closes a classloader at https://github.com/apache/avro/blob/master/lang/java/maven-plugin/src/main/java/org/apache/avro/mojo/AbstractAvroMojo.java#L288
It can sometimes cause m2e not to load the JsonObjectLogicalType class.
The issue can't be reproduced in Eclipse or when you start VS Code using the JDTLS client.
You can try the following workaround:
[code

[2020-12-05 15:03] sdavids opened #1729 "Gradle Kotlin DSL does not resolve properly"
A Gradle Kotlin DSL project will not be resolved properly.

##### Environment
- Operating System: MacOS 10.15.7
- JDK version: 1.8/11
- Visual Studio Code version: 1.51.1
- Java extension version: 0.72.0

##### Steps To Reproduce

[code]

Executing the Gradle task properties via the Gradle tasks pane:
[code]

![kotlin-dsl](https://user-images.githubusercontent.com/201931/101246436-9d6ced80-3713-11

[2020-12-05 15:09] fbricon commented on #1729
Kotlin DSL is not supported at the moment.

[2020-12-05 15:11] sdavids commented on #1729
[code]

[2020-12-05 15:18] sdavids commented on #1729
Hmm, would you maybe so kind to mention it somewhere? No fun spending 1 hour on a bug report ...

---

https://github.com/redhat-developer/vscode-java#quick-start

=>

https://github.com/redhat-developer/vscode-java#features

=>

https://code.visualstudio.com/docs/languages/java#_java-project-in-vs-code

=>

[2020-12-05 15:26] sdavids commented on #1729
https://youtrack.jetbrains.com/issue/KE-273

[2020-12-07 08:27] zhangleizhl90 commented on #862
+1

[2020-12-07 09:33] Alcaztra opened #1730 "Code formatting not correct"
[provide a description of the issue]

##### Environment
- Operating System: build 11.0.9.1+1-Ubuntu-0ubuntu1.18.04
- JDK version: openjdk 11.0.9.1 2020-11-04
- Visual Studio Code version: 1.51.1
- Java extension version: v0.72.0

##### Steps To Reproduce
I import eclipse code formatting file.
Sample: `<Type> builder()`
It always delete white space after the closed angle bracket `>`, but the settin

[2020-12-07 09:40] fbricon commented on #1730
Please provide a sample project + settings files to reproduce the issue

[2020-12-07 19:31] snjeza commented on #1665
the values are incorrect
on the left vscode should not show VSCODE(0) but VSCODE(2)

This issue is an upstream Eclipse/Java decompiler issue. You can try https://marketplace.visualstudio.com/items?itemName=dgileadi.java-decompiler

When trying to search references for VSCODE(0) nothing is found (even though the enum VSCODE is used in SecondApplication.java )

This is a Java LS issue. I will try to

[2020-12-08 07:00] mentaloaf opened #1732 "Get Java package collision errors even though removed offending duplicating module"
I keep getting errors under "problems" about the package org.w3c.dom is accessible from more than one module after moving to Java 14 from 8. After doing research, what I thought was the culprit was the indirect inclusion of the xml-apis dependency which I promptly exluded using the following in my build.gradle:

[code]

I verified this did indeed remove this dependency and everything compiles clea

[2020-12-08 12:15] hongguifeng opened #1733 "Feature request: add setting of disable error Squiggles"
Just like C_Cpp, add a setting to disable error Squiggles.

[2020-12-08 21:07] Th3OnlyN00b commented on #962
I can reproduce this issue. I can attach code if desired.

[2020-12-09 07:50] testforstephen opened #1735 "Open a Java file from unmanaged folder, the status bar didn't show language level info"
Current:
![image](https://user-images.githubusercontent.com/14052197/101600260-074c0680-3a36-11eb-9f9c-77c04e738c89.png)

Expect:
![image](https://user-images.githubusercontent.com/14052197/101600382-2d71a680-3a36-11eb-970f-0a8901d9f6bc.png)

[2020-12-09 07:52] testforstephen commented on #1735
// FYI @jdneo

[2020-12-09 08:10] jdneo commented on #1720
It turns out that, instead of adding a new API to the extension, developer can use the following statement to access the convert utility:

[code]

And as long as the extension is using webpack to pack the visx file, the extension size won't be expand too much.

So I think I can close this issue for now since there is no strong reason to add this API, considering this is not a Java language specifi

[2020-12-09 08:10] #1720 closed

[2020-12-09 21:02] marcelkobainGIT opened #1736 "There is no formatter for 'java' files installed"
Hello,

I try to format my java code with visual code.
I have try without configuration (for a default format) > and I have the message : There is no formatter for 'java' files installed
I have tried to follow https://github.com/redhat-developer/vscode-java/wiki/Formatter-settings >> then idem

##### Environment
- Windows 10
- JDK 12
- 1.51.1
- Java extension version: v0.12.0

##### Steps To Repro

[2020-12-09 23:11] Dewedi1 opened #1737 "Auto-complete deletes code right of the cursor when key is pressed fast"
When I press enter or tab to apply the auto-completion it removes all the code from the right of the cursor. For example:
I have the code enemy.attack(enemy.getAttack());
If I want to auto-complete the enemy.getAttack() part it will detele the bracket and the semicolon after the method is inserted. I've tested on 3 different machines with different code and it still happens. But only when I press

[2020-12-10 00:00] Dewedi1 commented on #1737
Apparently there is a separate setting under Extensions->Java->Completion that enables code overwriting by default. I just found that. After disabling it code is just being inserted, not overwritten. So I am closing this as it is not a bug.

[2020-12-10 02:59] deftdawg commented on #1672
I'm also seeing this "java.configuration.runtimes" on a machine with Mac with openJDK 15 installed via brew.

**Detected JDKs** just spins infinitely; don't get why it doesn't lookup the PATH JDK location w/`java -XshowSettings:properties -version 2>&1 | grep java.home` and assuming it contains a proper `bin/javac` default to that location?

![image](https://user-images.githubusercontent.com/49916

[2020-12-10 03:55] Eskibear commented on #1672
@deftdawg
We do check PATH for javac, and it might be a bug in your case.
Please open an issue https://github.com/microsoft/vscode-java-pack/issues , providing OS version (Big Sur?), how you install JDK 15(looks like homebrew?), any other JDK installed, value of $PATH and $JAVA_HOME. Thanks.

Currently you can simply point setting `java.home` to the path in your screenshot to work it around.

[2020-12-10 20:06] Dewedi1 commented on #1737
Okay nope, happened again just now. I tried even disabling come completion in the Java extension settings, code overwriting is set to False, but it still deletes code to the right of the cursor.

[2020-12-11 00:15] javachaos commented on #797
[code]

Worked for me with Java15 big thanks to user - [HoldYourWaffle](https://github.com/eclipse/buildship/issues/658)

[2020-12-11 10:09] GaZaTu opened #1739 "Stuck at "Building: 0% [0/1000]" in "Task - Java Build Status""
I wrote a Maven plugin to generate .class files and a .jar from OpenOffice .idl files.
When i open the workspace which uses said plugin the project compiles fine and auto completion works. But when i edit one of these .idl files autocompletion stops working and i'm getting stuck at "Building: 0% [0/1000]" in "Task - Java Build Status". The goal of my Maven plugin will still finish tho, so the issu

[2020-12-12 17:32] anthonyvdotbe opened #1740 "java.io.IOException: Buffer is closed at org.eclipse.jdt.internal.core.CompilationUnit.getContents(CompilationUnit.java:695)"
I've had the following exception occur in a `package-info.java` file. Most likely this was due to formatting the Java sources outside VS Code. There was no way to make the errors go away, except restarting VS Code.

##### Environment
- Operating System: Windows 10
- JDK version: 15.0.1
- Visual Studio Code version: 1.52.0
- Java extension version: v0.72.0

##### Steps To Reproduce
I don't have rea

[2020-12-13 03:11] honghuhu commented on #1708
souka

[2020-12-13 03:11] #1708 closed

[2020-12-14 05:51] liudonghua123 opened #1741 "java.io.FileNotFoundException: c:\rt.jar\java.util.concurrent\Executors.class (The system cannot find the path specified)"
[provide a description of the issue]

##### Environment
- Operating System: Microsoft Windows [Version 10.0.19042.685]
- JDK version: java version "14.0.1" 2020-04-14
- Visual Studio Code version: 1.52.0
- Java extension version: v0.72.0

##### Steps To Reproduce
1. Create a simple Java project that contains some plain code like the following.

[code]

2. Ctrl+click some system classes like `Execu

[2020-12-14 06:24] liudonghua123 commented on #1741
I have tried to disable/enable, install/uninstall java related extension. And I couldn't found `java.base` similar configurations in vscode either.

[2020-12-14 09:30] GaZaTu opened #1742 "Maven dependency with classifier not resolved correctly in vscode"
I have a Maven dependency with `<type>jar</type>` and `<classifier>idl</classifier>` but instead of my `-idl.jar` classes being resolved in vscode, it's actually the classes of the main artifact that are visible. When i build the project with `mvn install` or w/e on the CLI, it's working correctly.

##### Environment
- Operating System: openSUSE Leap 42.2
- JDK version: 11.0.8, 2020-07-14
- Visual

[2020-12-14 11:32] testforstephen commented on #1741
The error is thrown by `dgileadi.java-decompiler` extension, would you disable it and try again?

[2020-12-14 11:51] testforstephen commented on #1739
The task "Java Build Status" is just using a pseudo terminal to present the job status running in the Java language server. You could take a loot at how to debug the Java extension itself, see https://github.com/redhat-developer/vscode-java/blob/master/CONTRIBUTING.md

[2020-12-14 12:03] testforstephen commented on #1736
The language features such as formatting requires the Java extension to be activated well. What's the status of the Java extension at the right-bottom status bar?

If it's ready, you will see a 👍 icon.
![image](https://user-images.githubusercontent.com/14052197/102078876-a1e98280-3e46-11eb-88ee-7b6d21bcbd38.png)

[2020-12-14 12:08] testforstephen commented on #1733
There is a user setting `java.autobuild.enabled` to turn off auto build. Would that help you?

[2020-12-14 12:12] #1735 closed

[2020-12-14 17:19] khe817 opened #1743 "Maven spring-boot:run slows down live hover hint significantly."
When I open a Maven Spring Boot project, the Java language server starts up fine, live hover hint works fast (within 20ms - 30ms).
Then I start `$ mvn spring-boot:run` command in an bash command line window. The language server switches to being very slow with response time for live hover hint around 7000ms:

[code]

Cleaning the Java language server workspace does not fix the issue.

##### Enviro

[2020-12-14 18:27] deekshithanand commented on #937
Any luck or a fix to this? I have this issue , and a character or two gets overwritten for me too.

[2020-12-15 01:46] liudonghua123 commented on #1741
@testforstephen Thanks for your tips, however, I checked that I have not installed this extension.

![image](https://user-images.githubusercontent.com/2276718/102157415-66889b80-3eba-11eb-8040-8af5500bc70e.png)

[2020-12-15 02:24] testforstephen commented on #1741
From the screenshot you provided, the error is from "MySQL" output, that's not contributed by Java extension.

Could you please share the Java log?
**F1 -> Java: Open Java Language Server Log File**

[2020-12-15 03:28] Eskibear commented on #1743
See  https://docs.microsoft.com/en-us/windows/wsl/compare-versions#exceptions-for-using-wsl-1-rather-than-wsl-2
What if you run `mvn spring-boot:run` in WSL 1 or Windows itself (e.g. CMD)?

BTW, [Remote WSL](https://code.visualstudio.com/docs/remote/wsl-tutorial) is how VS Code recommends for WSL scenarios.

[2020-12-15 03:46] khe817 commented on #1743
Thank you for replying!

I am aware of the issue with slow access in windows file system with wsl2. My project folders are all under linux file system. I open and run my projects under remote wsl extension as recommended already. I believe I have everything runs under wsl2, no cross platform of any kinds that I know of. So I don't think it's the issue with accessing windows file system under wsl2.

[2020-12-15 06:39] Eskibear commented on #1743
I somehow managed to reproduce it in WSL.

CPU: Xeon E5-1620 v4 @ 3.50GHz,  4 cores
RAM: 32GB
OS: Windows 10, Build 19042
VS Code: 1.52.0
Remote WSL Extension: 0.52.0
JDK in WSL: `openjdk-11-jdk` installed via apt-get
Extensions intalled in WSL: Java Extension Pack
Java Extension: 0.72.0
Sample project: [spring-petclinic](https://github.com/spring-projects/spring-petclinic)

At first, it was WSL 1

[2020-12-15 08:13] liudonghua123 commented on #1741
@testforstephen Hi, I cleaned up the log, reopen the project, and did the previous steps.

Here is log:

*Java Language Server Log File*

<details>
<summary>C:\Users\Liu.D.H\AppData\Roaming\Code\User\workspaceStorage\4997d6000ddf3a142f1affd6044b18fd\redhat.java\client.log.2020-12-15</summary>

[code]
</details>

*Java Extension Log File*

<details>
<summary>C:\Users\Liu.D.H\AppData\Roaming\Code\Us

[2020-12-15 10:56] hongguifeng commented on #1733
@testforstephen Thanks, but it doesn't seem to work. I have some Android code, vscode indicates "xxx cannot be resolved to a type" on Android API, I want to ignore them.

[2020-12-15 12:14] testforstephen commented on #1733
The Java tooling cannot resolve some android dependencies well due to [a known limitation](https://github.com/redhat-developer/vscode-java/issues/10#issuecomment-268834749). If what you want is just to get rid of these unresolved type errors, you may have a try at LightWeight mode through user setting `"java.server.launchMode": "LightWeight"`. Lightweight mode won't report the semantic errors such

[2020-12-15 13:37] arguser commented on #1743
Hello @khe817, I'm experiencing something similar since Friday. I'm not sure if this is related to the Docker Desktop update or the VSCode/VSCode Extension update which also been around Friday. Do you experience slow code navigation and step debugging?

[2020-12-15 13:55] hongguifeng commented on #1733
@testforstephen Thanks, it works. But LightWeight mode seems too light, I can't even use the "Go to definition" ...

[2020-12-15 14:17] khe817 commented on #1743
@arguser, I experience slow code navigation and step debugging too. Basically, running `mvn spring-boot: run` somehow slows the Java language server down significantly, which didn't happen before.

[2020-12-15 14:38] testforstephen commented on #1733
The LightWeight mode will support partial "Go to definition" such as definitions from your sources and JDKs. It will skip all third party dependencies.

[2020-12-15 17:29] arguser commented on #1743
@khe817 I'm trying the previous VSCode version: 1.51.1, going to report back if this work better.

[2020-12-16 01:23] hongguifeng commented on #1733
Found a temporary solution that change the squiggles color.
[code]

[2020-12-16 01:23] #1733 closed

[2020-12-16 11:17] maoziliang commented on #1741
我也碰到了相同的问题，现在解决了。

发现是cweijan.vscode-office这个插件导致的。
![image](https://user-images.githubusercontent.com/1581998/102341702-2a952980-3fd3-11eb-9b8d-3652cef1bbc0.png)

有两种解决方法
1. 禁用掉cweijan.vscode-office插件
2. 配置*.class的打开方式
[code]

[2020-12-16 12:08] liudonghua123 commented on #1741
@maoziliang Thanks, it works for me. I think it is maybe an issue of `cweijan.vscode-office` extension.

[2020-12-16 12:16] testforstephen commented on #1741
Thank you for figuring this out. I will close this issue now. You'd better to open an issue against `cweijan.vscode-office` extension.

[2020-12-16 12:16] #1741 closed

[2020-12-16 20:10] phlbrz commented on #546
Disabling Java Linter extension faustinoaq.javac-linter https://marketplace.visualstudio.com/items?itemName=faustinoaq.javac-linter solved for me!

[2020-12-16 22:41] y0ns0n opened #1745 ""Java: Update Project" does not refresh dependencies in multi project Gradle"
[provide a description of the issue]

##### Environment
- Operating System: Linux
- JDK version: java.home is on 11, the project is on 8
- Visual Studio Code version:

Version: 1.52.0
Commit: 940b5f4bb5fa47866a54529ed759d95d09ee80be
Date: 2020-12-14T01:03:33.963Z
Electron: 9.4.0
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Linux x64 5.9.14-arch1-1

- Java extension version:

[2020-12-16 23:00] y0ns0n commented on #1745
Sorry about the dupe, I'll follow the upstream PR

[2020-12-17 02:17] #1714 closed

[2020-12-17 08:35] testforstephen commented on #1528
fixed by https://github.com/eclipse/eclipse.jdt.ls/pull/1617

[2020-12-17 08:35] #1528 closed

[2020-12-17 09:25] testforstephen commented on #1710
Since you have made it work, i will close the issue first. Feel free to reopen it if you can reproduce it stably.

[2020-12-17 09:25] #1710 closed

[2020-12-18 02:20] testforstephen commented on #1684
When you use the latest **"Java: Configure Java Runtime"** command, you can also configure Project JDKs and Java Tooling JDK as well.

![image](https://user-images.githubusercontent.com/14052197/102566355-57a02400-411a-11eb-92a6-351e35afc04f.png)

![image](https://user-images.githubusercontent.com/14052197/102566468-933aee00-411a-11eb-82c3-b0e508a438ba.png)

[2020-12-18 02:37] testforstephen commented on #1715
Could you please share a minimum sample project to help reproduce this issue?

[2020-12-18 02:43] testforstephen commented on #1716
I see you have mitigated the issue when you update gradle to 4.10, i will close this issue first.

[2020-12-18 02:43] #1716 closed

[2020-12-18 02:54] testforstephen commented on #1729
This is a duplicated feature request with https://github.com/redhat-developer/vscode-java/issues/632. But it finally depends on buildship component to provide the support, see https://github.com/eclipse/buildship/issues/222.

[2020-12-18 02:54] #1729 closed

[2020-12-18 03:07] testforstephen commented on #1616
This extension can only be run in the vscode compatible editors such as vscode, eclipse che and theia. To support web monaco editor is out of scope.

[2020-12-18 03:07] #1616 closed

[2020-12-18 03:21] testforstephen commented on #1615
CC @jdneo, since he is working on tuning the classpath configuration UX.

[2020-12-18 03:29] testforstephen commented on #1624
This seems the default VS Code behavior, will close it in Java side.

[2020-12-18 03:29] #1624 closed

[2020-12-18 08:36] mhtvsSFrpHdE opened #1746 "No code action or quick fix available on remote"
[provide a description of the issue]

##### Environment
- Operating System:
- JDK version:
- Visual Studio Code version: 1.52.1
- Java extension version: vscjava.vscode-java-pack 0.12.1 redhat.java 0.73.0

##### Steps To Reproduce
1. Connect to SSH based server (vscode remote development)
2. Install Java extension pack "vscjava.vscode-java-pack"
3. Open a folder and a java file
4. Remove one of th

[2020-12-18 10:33] freelancer1845 commented on #1698
Can you confirm that it's not importing demo-frontend/node_modules in this project?

https://github.com/freelancer1845/vscode-maven-exclude-issue

It does for me:

1. Start after Clean LS -> Resolve Plugin dependencies ... (scans node_modules using absolute path)
2. Start -> Importing maven projects (also scans node_modules)

Maybe its related to how maven finds the parent spring pom?

[2020-12-18 16:22] adiantek commented on #363
My error: https://gist.github.com/adiantek/cb380d6593ec2bd104f80c68d541a00f

[2020-12-18 16:32] adiantek opened #1747 "vscode-java crash (EOFException?)"
https://gist.github.com/adiantek/cb380d6593ec2bd104f80c68d541a00f
I don't know how to reproduce, unfortunately, I needed ASAP Java Extension working, so I deleted .vscode_server and now it works, but it happened.

[2020-12-18 19:51] shanewaz-abbas commented on #1743
I have running into the same with a spring app. This app is running in remote host using ssh. As soon as I start the debugger everything becomes super slow.
This is the result of running `top` inside the ssh host:
[code]

[2020-12-18 20:37] mojo2012 opened #1748 ".classpath file is not updated with new JDK version"
I just updated to java 15 and increased the version from 14 to 15:
[code]

The eclipse .classpath file was not properly updated though. It still contained this:

[code]

The java version stays on the old value.

##### Environment
- Operating System: macOS 11.1
- JDK version: JDK 15
- Visual Studio Code version: 1.52.1
- Java extension version: 0.73.0

##### Steps To Reproduce
1. setup a maven proj

[2020-12-18 21:59] alexdima commented on #1743
This might be caused by vscode's new automatic port forwarding feature which scans the remote OS for available ports in order to forward them locally (https://github.com/microsoft/vscode/issues/112843)

[2020-12-19 04:27] hanct commented on #1698
Hi, thanks for the reply. I am using Gradle, not maven. To me, it is not about how the maven/gradle find the parent config file, the issue is how come the "java.import.exclusions" seem not in effect for my project.  Even if i exclude everything, the vscode-java still scan the project folders..

[2020-12-19 16:31] lindXdeep commented on #100
super sahkth

[2020-12-19 17:33] lincolnthree commented on #1290
Well hello there :)

It does seem that VSCode-Java stuggles to properly detect and apply maven compiler settings from maven's `pom.xml`.

I've tried a number of configurations, and no matter what I do, the Java version defaults to 1.6 in `org.eclipse.jdt.core.prefs`. It can, however be manually configured, as pointed out earlier in this thread.

This matter is made worse because the vscode-java pl

[2020-12-19 17:45] snjeza commented on #1290
@lincolnthree could you attach your project or pom.xml?

[2020-12-19 17:45] lincolnthree commented on #1290
Update. Looks like adding a newer version of the `maven-compiler-plugin` and setting the following configuration has gotten things mostly working:

[code]

[2020-12-19 17:47] lincolnthree commented on #1290
The broken version was `maven-compiler-plugin:3.2.0`

[2020-12-19 17:48] lincolnthree commented on #1290
Perhaps a warning should be issued if using an obsolete/incompatible version of the maven-compiler-plugin.

[2020-12-19 21:16] snjeza commented on #1698
@hanct @freelancer1845 could you check https://github.com/snjeza/vscode-test/raw/master/java-0.73.1.vsix

@hanct you can also try to set
[code]

[2020-12-20 03:34] hanct commented on #1698
Hi @snjeza , i have installed the java-0.73.1.vsix. I discovered that unlike earlier threads, this time round, it no longer scan my project's frontend (CSV_Aggregator) folder anymore.  And the initializing is fast.

The strange thing is, even when i omit "java.import.exclusions" (that is, i dont configure it at all),  it will also NOT scan the frontend folder anymore

[2020-12-20 04:17] snjeza commented on #1698
@hanct Thanks. I will create a PR.

[2020-12-20 04:57] MilkBiscuit commented on #1147
Thanks a lot! You made my day!

[2020-12-20 07:49] freelancer1845 commented on #1698
Same for me :) Worked without resetting the LS and also after resetting.
Also renaming "node_modules" to "node_modulesa" did not break it again.
Seems like you found another way of resolving everything! nice :) Thanks a lot

[2020-12-20 08:27] hanct commented on #1698
@freelancer1845 , have u try removing the java.import.exclusions, also? if removed, did u notice that it also does not scan the node_modules?

[2020-12-20 09:02] freelancer1845 commented on #1698
@hanct
Yes, but I think by default these exclusions are passed to the server.
[code]
But even renaming node_modules didn't trigger the scanning...

Without seeing the actual changes by snjeza I suspect that he/she changed what is to be considered a "scanworthy" directory

[2020-12-22 03:56] MonsterStorm commented on #618
I fix this problem by add global ignore rules,

`git config --global core.excludesfile ~/.gitignore`

and add rules to ~/.gitignore

`
**/*.project
**/*.factorypath
**/*.settings
**/*.classpath
`

[2020-12-22 03:57] MonsterStorm commented on #466
I just ignore those files from scm by adding ignore file

git config --global core.excludesfile ~/.gitignore

and add rules to ~/.gitignore

**/*.project **/*.factorypath **/*.settings **/*.classpath

[2020-12-22 17:43] etricky opened #1749 "Autocomplete not showing the documentation in the quick info popup"
[provide a description of the issue]

##### Environment
- Operating System: Windows 10
- JDK version: openjdk version "11.0.9" 2020-10-20 LTS
- Visual Studio Code version: 1.52.1
- Java extension version: v0.73.0

##### Steps To Reproduce
1. For any method or annotation, the autocomplete quick info popup only shows the method name and not its documentation
![image](https://user-images.githubuserco

[2020-12-22 18:17] snjeza commented on #1749
@etricky could you try to set

[code]

[2020-12-22 18:39] etricky commented on #1749
@snjeza That has solved this issue. Thank you for your help!

[2020-12-22 18:39] #1749 closed

[2020-12-23 05:00] #963 closed

[2020-12-24 17:27] mhash17 opened #1750 "Symbolize Interfaces, enums with different icons"
It would be very helpful when interfaces, enums, classes etc. have a different icon than the red J-dot for a quick visual distinction.

##### Environment
- Operating System:win10
- JDK version:11
- Visual Studio Code version:1.52
- Java extension version:0.73

[2020-12-24 17:41] fbricon commented on #1750
The default theme providing the icons is provided by vscode. vscode-java doesn't provide any of those.
You can install and try other file icon themes from the marketplace.
AFAIK, there's probably no way to provide specific icons depending on the file contents (class vs interface).

[2020-12-24 18:17] hanct commented on #1698
@snjeza   Will the updates you make, also resolve the issue that @freelancer1845 face?  Cos he mentions that after renaming node_modules to some other name which is not part of the exclusions, the renamed version did not trigger the scanning, which should not be the case

[2020-12-24 21:49] snjeza commented on #1698
Yes, it will.

I can't reproduce it.

[2020-12-25 08:05] him500 commented on #495
My problem was that the promt showed build failed but if i click on proceed it work just fine. to remove the annoying promt all i did was:
Go to java extension pack-> click on any extension settings icon -> click extension settings
-> uncheck (Java › Debug › Settings: Force Build Before Launch)

I hope this answer helps

[2020-12-25 20:21] mhash17 commented on #1750
ok thanks, could've guessed it.

[2020-12-25 20:21] #1750 closed

[2020-12-26 14:54] l0ner commented on #1736
I have the same problem.

I see the 👍 icon at the right-bottom of the status bar.

[2020-12-27 12:56] jingyuexing opened #1751 "Why this plugins can't support Oracle JDK? SO,I need remove this plugins?"

[2020-12-27 17:24] fbricon commented on #1751
Can you please describe your issue? We provide you with guidelines on how to open actionable bug reports: https://github.com/redhat-developer/vscode-java/blob/master/.github/ISSUE_TEMPLATE.md

[2020-12-27 17:48] fbricon commented on #1748
Normally, when you change your pom.xml, you should see:
<img width="652" alt="Screenshot 2020-12-27 at 18 45 21" src="https://user-images.githubusercontent.com/148698/103176636-b3358480-4873-11eb-8c02-2a307b7caa25.png">

If you selected "Never", it won't update the JDT configuration automatically. You need to choose "Always", so that updates can be performed automatically.

This translates to "jav

[2020-12-27 17:56] fbricon commented on #1748
Anyways, you can always manually trigger a configuration update with the "Update Configuration" command. Either ran from the command palette, or when right-clicking on a pom.xml:
<img width="678" alt="Screenshot 2020-12-27 at 18 54 45" src="https://user-images.githubusercontent.com/148698/103176795-268bc600-4875-11eb-98a3-cea4da241377.png">

[2020-12-27 18:56] mojo2012 commented on #1748
My setting is set to "automatic". But I didn't try the "update project" command - thanks for that.

[2020-12-28 10:02] jingyuexing commented on #1751
No broblem now,I fixed this broblem

[2020-12-28 10:04] jingyuexing commented on #1751
Haven't problem now,I fixed this problem

[2020-12-28 10:15] #1751 closed

[2020-12-28 18:02] deekshithanand commented on #228
Well I dont know if this is feasible as a feature, but currently I remove the entire javadoc comment and regenerate it...(of course,I would have copied the content in between)!!!

[2020-12-28 19:34] Glusk commented on #1715
I'm getting the same error in Maven projects that are setup as Java 9 modules. For example:

- https://github.com/Glusk/caesar

I am, however, currently using Java 11.

[2020-12-30 18:56] y0ns0n commented on #718
@fbricon is it possible to add this as a workspace setting? I work in multi-project gradle build with a few 100 projects, would be tough to maintain setting this per-project.

[2020-12-30 19:11] #1748 closed

[2020-12-30 19:11] mojo2012 commented on #1748
Worked!

[2020-12-30 23:33] snjeza commented on #718
@y0ns0n We will enable it within https://github.com/eclipse/eclipse.jdt.ls/pull/1579

[2020-12-31 02:05] zoain-it opened #1752 "Failed to generate parent constructor"
My attempt to generate a parent class constructor on Apple M1 failed

##### Environment
- Operating System: macOS Big Sur
- JDK version: Zulu11.43+1021-CA
- Visual Studio Code version: 1.53.0-insider
- Java extension version: v0.73.0

##### Steps To Reproduce
1. Inherit any class and right-click Source Action -> Generate Constructors

[code]

##### Current Result

##### Expected Result

##### Addi

[2020-12-31 22:17] jlcrow commented on #941
Having similar issues with java 15.0.1 using Gradle 6.3 with latest vscode on MacOS Big Sur

The type javafx.application.Platform is not accessibleJava(16778666)

https://github.com/GreatWebGuy/MobTime

------------------------------------------------------------
Gradle 6.3
------------------------------------------------------------

Build time:   2020-03-24 19:52:07 UTC
Revision:     bacd40b727b

[2021-01-01 15:54] SamJakob opened #1753 "@link highlighting broken when linking to class"
When using the @link doc tag to refer to a class, rather than a method ([which is valid](https://docs.oracle.com/javase/7/docs/technotes/tools/windows/javadoc.html#link)), it is not highlighted, however it is for a method.

##### Environment
- Operating System: Windows 10
- JDK version: JavaSE-1.8
- Visual Studio Code version: 1.52.1
- Java extension version: 0.73.0

##### Steps To Reproduce
1. Op

[2021-01-01 16:18] fbricon commented on #1753
The textmate grammar is defined in [vscode itself](https://github.com/microsoft/vscode/blob/master/extensions/java/syntaxes/java.tmLanguage.json), but the source of the grammar is actually atom, so the problem should be reported there: https://github.com/atom/language-java/issues

[2021-01-01 16:48] SamJakob commented on #1753
Filed upstream.

[2021-01-01 18:39] 0dinD commented on #1753
FYI @fbricon @SamJakob this issue can also be fixed via semantic highlighting. I had this in mind for my next iteration of semantic highlighting improvements, and I've actually already implemented a fix for this specific issue, which has been sitting on my local development branch for a while.

Sadly I got busy and never got to the point of submitting a PR. But I think I'll have time to do that ne

[2021-01-03 08:11] drhades commented on #542
I can jump to the source code of JDK,

but as this issue opener commented,
I can't navigate to the spring-boot dependencies,

those source jars have been downloaded by gradle,
like: ~/.gradle/caches/modules-2/files-2.1/org.springframework.boot/spring-boot/2.4.1/8eb097e98294db11312542caaadc9d63dfe6d5bd/spring-boot-2.4.1-sources.jar

[2021-01-03 22:03] rajinder-yadav opened #1754 "For Java intellicode suggests a lot of poor choices"
Issue Type: <b>Bug</b>

In java, when typing code, intellicode should be smart enough to know what context I am in, like coding a class and it should only provide what the most likely keyword I am going to type next.

1. Create a class person with two private string fields
2. Type "p", note what is suggested (should be private, public).
3. After private, type "S", note what is suggested, in fact t

[2021-01-04 05:14] testforstephen commented on #1754
@Eskibear Could you take a look whether this can be achieved by IntelliCode extension?

[2021-01-04 05:36] Eskibear commented on #1754
No, it's not related to IntelliCode. The behavior is the same when IntelliCode is not installed.
* `p[cursor]` : classes staring with "p" are listed, because it's allowed that you don't have a public/private modifier before a member varible.
* `Str[cursor]`: "String" is not on top of the list, because it's in alphabetical order.

[2021-01-04 06:58] testforstephen commented on #1754
I don't mean that this is a bug in IntelliCode, I mean whether IntelliCode could optimize the recommendation order for these completion choices.

[2021-01-04 07:29] Eskibear commented on #1754
Theoretically that can be done by machine learninig approaches or hardcoded rules. But no, **currently** IntelliCode only re-ranks methods of a certain type. Modifiers, types, keywords are not included.

[2021-01-04 08:09] testforstephen commented on #1752
Could you share a minimum sample project to help reproduce the issue?

[2021-01-04 08:32] testforstephen commented on #1746
You need move the cursor at the error place, then click "Ctrl+." to trigger quick fix.

![quickfix](https://user-images.githubusercontent.com/14052197/103515806-56a51b80-4eaa-11eb-9d72-d7c44e18943e.gif)

[2021-01-05 13:14] clembo590 opened #1755 "java 11 issue only in vscode (no error in intellij, no error on mvn clean install)"
##### Environment
- Operating System: macos
- JDK version: 11.0.4
- Visual Studio Code version: Version: 1.52.1
- Java extension version: v0.73.0

Vscode shows errors and it should not:
steps to reproduce:
-get java 11 configured
- `git clone https://github.com/clembo590/issues.git --branch vscode-java/issues/1755`
- mvn clean install (NO ERROR)
- open the repo in vscode (vscode shows compilation

[2021-01-05 17:05] 0dinD commented on #1754
My take on the issue in the first screenshot is that it's a non-issue if you follow the widely accepted convention of using UpperCamelCase for class names. If the class were to be named `Person`, the access modifiers are the top results, and you have to type a capital `P` in order to be suggested the `Person` class over the access modifiers.

But I do agree that it would be nice if the IntelliCode

[2021-01-05 21:32] snjeza commented on #1755
This is an upstream issue. See https://stackoverflow.com/questions/51094274/eclipse-cant-find-xml-related-classes-after-switching-build-path-to-jdk-10/53824670#53824670
@clembo590 you can try the following patch:
[code]

[2021-01-05 22:18] ahmedhamdy90 commented on #842
Did you find any solution for this bug? I am facing the same problem on mac; Javadoc isn't appearing on code completion.

[2021-01-06 01:12] rajinder-yadav opened #1756 "Code fix not providing an option to import"
Wrong code fix suggestion, should provide import.

##### Environment
- Operating System: Linux
- JDK version: 11.0.9
- Visual Studio Code version:
- Java extension version: 0.12.1

##### Steps To Reproduce

1. Create a simple Spring Boot app using the maven initializer
1. Paste following code into SpringBoot app main

[code]

Place cursor on LoggerFactory and press CTRL+. to fix,

[Please attach a

[2021-01-06 01:18] rajinder-yadav commented on #1756
I had a missing brace "}"  in my code and this seem to trip up the suggestion, works after I added missing brace.

[2021-01-06 01:45] Eskibear commented on #842
@ahmedhamdy90 See if https://github.com/redhat-developer/vscode-java/issues/923#issuecomment-493447622 helps.

[2021-01-06 01:50] #1756 closed

[2021-01-06 08:41] clembo590 commented on #1755
@snjeza thank you for your answer, but modifying code is not an option for me....
(code is good So code should not be changed)

Is there any way to get it working in vscode as in eclipse ? (thanks for the link: it will help if I switch back to eclipse...)

For now.
in the .settings/org.eclipse.jdt.core.prefs which is generated by vscode
I switched org.eclipse.jdt.core.compiler.compliance to 1.8
an

[2021-01-06 15:01] rgrunber commented on #1682
The smallest possible JustJ JRE is 16-18MB (assuming jre.base.stripped is enough, https://download.eclipse.org/justj/jres/15/downloads/latest/ ) depending on the platform. It's nice to have the option but it would still be quite large to package >= 3 of these.

If the JDK is download (automatically, or via user selection), then size becomes less of a concern, though maybe we'll stick to JustJ in t

[2021-01-06 18:31] 0dinD commented on #1682
@rgrunber I agree, it would be much better to download a JDK on-demand.

I think you're referring to the [Configure Java Runtime view](https://code.visualstudio.com/docs/java/java-tutorial#_settings-for-the-jdk) from [microsoft/vscode-java-pack](https://github.com/microsoft/vscode-java-pack)? It already has some nice features, but the install process is still manual, and I don't think the extensio

[2021-01-06 21:27] toadzky opened #1757 "suggest auto completion: enter for insert and tab for replace"
I'm used to Intellij and I'm looking to reproduce a behavior there (Eclipse as a similar option). When Intellisense gives me completion options, I can choose between `Tab` and `Enter`. If I choose `Tab`, it will overwrite the rest of the current word, but if I choose `Enter` it will insert the completion instead.

There's support for it in VS Code to an extent as the final comment here says: https

[2021-01-06 21:58] snjeza commented on #1755
@clembo590 you can try to add the following attributes to the JRE_CONTAINER classpath entry to:

[code]
in the .classpath file.

However, m2e will overwrite it after the project update.

It works in the same way in eclipse.

[2021-01-07 07:55] testforstephen commented on #1757
At the moment the Java extension is using a user setting `java.completion.overwrite` to control insert or replace.

To support the new behavior as below about choosing between `Tab` and `Enter`, it will require the Java extension to adopt a new capability [insertReplaceSupport](https://microsoft.github.io/language-server-protocol/specifications/specification-current/#textDocument_completion) intro

[2021-01-07 17:32] ahmedhamdy90 commented on #923
Can you please elaborate on how to update this path? Knowing that hovering over a function shows the documentation correctly, but it is not showing any on code completion.

[2021-01-07 17:34] ahmedhamdy90 commented on #842
@Eskibear I did ask him about how to fix that. However, I don't think it will help because hovering over a function shows the documentation correctly, but it is not showing any on code completion.

[2021-01-07 23:16] illusbyhoppity commented on #551
hey, when i try doing mine, it just says a variable is not used. But it should still be working like charm. I'm trying to make my discord bot online with discord jda. Could you maybe review my code? here

my code :

package hoppity.Hops;

import net.dv8tion.jda.api.JDA;
import net.dv8tion.jda.api.JDABuilder;

public class Patootie {
	public static void main(String[] args) throws Exception {
		JDA

[2021-01-08 14:34] zoain-it commented on #1752
Sorry, for now I can't reproduce it. So I'll close the question first

[2021-01-09 13:18] raphapaulino commented on #618
In my environment this extension generate .class, .project, .classpath files. I disable it at this moment and I'll keep following this issue.

[2021-01-09 18:13] hanct opened #1759 "Equivalent of java.import.gradle.user.home for MAVEN?"
Hi,

Is there an equivalent of java.import.gradle.user.home for MAVEN, cos i need to configure vscode-java extension to use the customized location of the maven home

[2021-01-09 20:13] snjeza commented on #1759
@hanct you can review the _java.configuration.maven.userSettings_ and _java.configuration.maven.globalSettings_ properties - [Supported VS Code settings]( https://github.com/redhat-developer/vscode-java#supported-vs-code-settings)

[2021-01-10 06:04] hanct commented on #1759
Thanks.  To be consistent with that of Gradle, hope can consider implementing java.import.maven.home instead of another variable to point to the maven settings file. Cos if the maven home can be determined, the settings will also be deteminable.

[2021-01-10 06:44] testforstephen commented on #1752
OK, i close it first and feel free to reopen it once you can reproduce it.

[2021-01-10 06:44] #1752 closed

[2021-01-10 19:36] 0dinD commented on #1384
The coloring of module names are fixed by eclipse/eclipse.jdt.ls#1641, but the comments inside the module declaration still require an upstream fix to the [Java TextMate grammars](https://github.com/atom/language-java).

[2021-01-11 03:43] arcarchit commented on #344
In which file shall we add this ?

[2021-01-12 07:02] #1698 closed

[2021-01-12 15:27] carschno commented on #851
I get this issue even for non-Java projects when opening a Yam file. Disable the Java-related extension seems to prevent the Yaml server from triggering huge CPU load.

[2021-01-13 02:23] zoain-it opened #1761 "Annotated document preview content parsing error"
##### Environment
- Operating System: macOS Big Sur
- JDK version: 11.0.9.1
- Visual Studio Code version: 1.53.0-insider
- Java extension version: 0.73

##### Steps To Reproduce
1. Initialize a Spring Boot project and then introduce @EnableAsync or @EnableScheduling in the startup class and hover over the document preview box to find the html is not parsed correctly
<img width="543" alt="截屏2021-01

[2021-01-13 06:02] woderchen opened #1762 "fetch wrong argument if comma existing in java main argument"
1. this is java project,  jdk：1.8.0_191

2. input args param in lanuch.json.
example:
{
"type": "java",
"name": "light-core-generator",
"request": "launch",
"mainClass": "daq.light.core.Generator",
"projectName": "light-job-core",
"vmArgs": "-Ddaq.job.forbid-period=22:00~21:00 ",
"args": "-sSortPkColumn \\"{deptdict:'dept_code',staffdict:'dept_code'}\\" -sSortPkColumnType char -sSqlMethod pk"
}

3

[2021-01-13 06:37] testforstephen commented on #1762
The debugger feature is contributed by Java debugger extension, could you please move this issue to https://github.com/microsoft/vscode-java-debug/issues?

[2021-01-13 07:42] woderchen commented on #1762
thanks for your reply, not just debug mode, even if i click the "Run" in java code, i got the same issue.

[2021-01-13 07:47] testforstephen commented on #1762
they both are added by Java debugger extension, need fix there.

[2021-01-13 07:52] woderchen commented on #1762
Got it! thanks.

[2021-01-13 07:52] #1762 closed

[2021-01-13 10:16] arajkumar opened #1763 "Recommend "redhat.fabric8-analytics" extension if workspace contains "pom.xml""
The goal of this issue is to get opinion on showing the recommendation popup to install Dependency Analytics [extension.](https://marketplace.visualstudio.com/items?itemName=redhat.fabric8-analytics)

### [Dependency Analytics Platform](https://github.com/fabric8-analytics)
Hosted SaaS platform, provides following insights about the dependencies used in the application stack.
- Security vulnerabil

[2021-01-14 01:46] mhtvsSFrpHdE commented on #1746
![image](https://user-images.githubusercontent.com/10773245/104533387-44b33d80-564d-11eb-962d-4a91362e490e.png)
However, Ctrl + . Also reports no quick fix.

Am I still missed anything...?

[2021-01-14 06:49] daidai21 opened #1764 "new version not support java8"
##### Environment
- Operating System: mac
- JDK version: jdk1.8
- Visual Studio Code version: 1.52.1
- Java extension version: 0.73.0

##### Steps To Reproduce
1. [step 1] using jdk1.8, install vscode, intall newest `vscode-java` version
2. [step 2] open vscode, vscode-java start error.

##### Additional Informations

When I use  vscode-java `0.56.0`, this is success start and work.

[2021-01-14 07:07] xster opened #1765 "Whole project recompiles with each keystroke"
Sometime between version 0.64.1 and now, the build triggering behavior seems to have changed.  Whereas changes within a file still produced a reasonably fast auto-complete, it seems like each keystroke now triggers a rebuild of the entire project including the edited file, other files in the project and all declared Java dependencies. This seems to generally make auto-complete unusable since one i

[2021-01-14 07:48] fbricon commented on #1764
Java 11 is required to run the vscode-java extension. But you can still compile your projects against Java 8 (from Java 1.5 to Java 15 actually). See https://github.com/redhat-developer/vscode-java/wiki/JDK-Requirements#do-i-need-to-migrate-my-projects-to-java-11

Closing as duplicate of https://github.com/redhat-developer/vscode-java/issues/1543

[2021-01-14 07:48] #1764 closed

[2021-01-14 07:50] testforstephen commented on #1765
Duplicated with https://github.com/redhat-developer/vscode-java/issues/996

The "Building" message you saw in the status panel is just a fake message, not representing a compilation operation.

[2021-01-14 08:43] testforstephen commented on #1765
Your Java extension version is a little old, could you update all Java extensions to the latest version and try again?

AFAIK, the side Java extensions such as Java test runner pushed a bunch of performance improvement against the auto completion performance in the past few months.

BTW, do you enable file auto save? the file save is probably triggering the auto build job.

[2021-01-14 16:23] jonathanvila opened #1766 "Sometimes several objects are shown in red after a small change, saying it can not find the type"
[provide a description of the issue]

##### Environment
- Operating System: Fedora 33
- JDK version: 11.0.2
- Visual Studio Code version: 1.52.1
- Java extension version:

##### Steps To Reproduce
1. [step 1]
It doesn't happen always, but happens often. To change one type somewhere and that triggers something and shows lots of classes as not found.

https://user-images.githubusercontent.com/183643

[2021-01-14 17:24] 108anup commented on #1232
I face a similar issue with the hadoop (https://github.com/apache/hadoop) codebase, it compiles properly with mvn but vscode shows issues. Also, mvn sometimes even fails if vscode is open. If I close vscode, then mvn on cli completes successfully.

Note:
I use runtime config as java 1.8 and jdk (java.home) as adopt jdk 14 (as LS requires newer jdk and hadoop requires 1.8).

[2021-01-14 17:51] snjeza commented on #1766
@jonathanvila could you try to disable the Quarkus extension and reproduce the issue?

[2021-01-15 02:24] leozhang1 opened #1768 "How can I format my java code in such that the curly braces will automatically move the the next line?"
void myFunc() {

}

becomes....

void myFunc()
{

}

[2021-01-15 03:05] snjeza commented on #1768
@leozhang1 you may want to take a look at https://stackoverflow.com/questions/44823701/visual-studio-code-java-format-document-braces-new-line

[2021-01-15 03:27] leozhang1 commented on #1768
@snjeza Thank you. I've seen this one before. Not sure why I didn't try to do what it said. But the comment with the most likes works but it's annoying to have to create a formatting.xml for every java project I would have. For anyone with the same issue as me, I would recommend installing this: https://marketplace.visualstudio.com/items?itemName=ryannaddy.vscode-format

and then going to settings

[2021-01-15 03:28] #1768 closed

[2021-01-15 04:00] snjeza commented on #1768
You can set the _java.format.settings.url_ preference in your [User Settings](https://code.visualstudio.com/docs/getstarted/settings)

[2021-01-15 04:04] #1664 closed

[2021-01-15 05:21] xster commented on #1765
Thanks.

File auto save is off. I'm trying now on 0.73.0 with Java 11. Same symptom. I think the "building" messages are actually doing something, since each of them breaks down (while running) into a building 123/1000 files message.

[2021-01-15 05:47] leozhang1 commented on #1768
Okay.  I will take a look.

Also. I take back what I said earlier. That extension didn't take indenting into account (but if anyone disagrees, lemme know), so using the xml file is better.

[2021-01-15 11:18] marcelweigle commented on #1595
In VSCode open Command Palette: Java: Clean Java Language Server Workspace -> then restart VSCode fixed this issue for me

[2021-01-16 09:23] anthonyvdotbe opened #1769 "java.home shouldn't be configurable on Folder level"
Maybe I'm missing something, but I don't see how it makes sense to be able to configure `java.home` on the Folder level

##### Environment
- Operating System: Windows 10
- JDK version: 15.0.1
- Visual Studio Code version: 1.52.1
- Java extension version: 0.73.0

##### Steps To Reproduce
1. open Folder-specific settings & search for java.home

##### Current Result
java.home isn't configurable

####

[2021-01-16 14:34] zoain-it opened #1770 "The plugin is inefficient and unresponsive on Apple M1 devices"
[provide a description of the issue]

##### Environment
- Operating System: macOS 11.1
- JDK version: OpenJDK 11.0.9.1 from Zulu
- Visual Studio Code version: 1.53.0-insider
- Java extension version: v0.73.0

##### Steps To Reproduce
1. Open a .java file, do not rely on hints, write code faster and you can reproduce
2. If you can't reproduce it, please try more times

https://user-images.githubuse

[2021-01-16 14:38] zoain-it commented on #1770
Noticeable lag in the video. I tried editing with all plugins turned off and it doesn't get very stuck. Then I tried opening just the java plugin again and as soon as I write code faster than the code prompt box, it appears to be slow to respond.

[2021-01-17 11:30] czfadmin commented on #1058
@JoeyRxy Yes, I did send this set ` false `, at the same time I put option ` editor. Suggest. InsertMode ` of content to try again, you can still have this phenomenon.

[2021-01-18 02:33] testforstephen commented on #1769
At the earlier version of Java extension, we set "java.home" to `window` scope, which is configurable in user, workspace, remote level. But we found this didn't work for remote scenarios, because "java.home" points to an absolute path of local machine, it is not shareable for remote machine. We can only choose between `machine` and `machine-overridable`. In order not to break the existing users wh

[2021-01-18 17:41] Ortega-Dan commented on #842
I confirm the same issue here.. Ubuntu 20.04 + openJdk-11 as @ahmedhamdy90 describes it, javadoc shows on hover, but not on code completion ..

[2021-01-18 17:46] Ortega-Dan commented on #923
If javadoc shows on hovering but not on autocomplete it should be a different reason, because the hover way is actually able to find the autocomplete ...

Im experiencing the same issue on Ubuntu 20.04 + OpenJDK-11
Here:
No Javadoc on typing:
![2021-01-18_12-43](https://user-images.githubusercontent.com/24926168/104948185-e65ac780-598a-11eb-98b1-0f4600400529.png)

But it actualy shows on hover:
![

[2021-01-18 17:54] Ortega-Dan commented on #923
I confirm here that in my case it just got fixed by disabling intellicode's extension ...
![image](https://user-images.githubusercontent.com/24926168/104948919-122a7d00-598c-11eb-9995-15671aea24d4.png)

it is working now ..
![image](https://user-images.githubusercontent.com/24926168/104949005-40a85800-598c-11eb-9336-e31c2d6608bc.png)

[2021-01-18 18:37] anthonyvdotbe commented on #1769
Thanks for the explanation, that makes sense.

[2021-01-18 18:37] #1769 closed

[2021-01-18 18:46] deekshithanand commented on #1765
I can confirm this issue for me. Each keystroke causes the circular arrow to rotate and I get similar messages like shared above. I had disabled java autobuild and auto save was disabled by default for me

[2021-01-18 19:21] ahmedhamdy90 commented on #923
@Ortega-Dan Yes, it should be fixed in the next release of the IntelliCode. MicrosoftDocs/intellicode#263

[2021-01-18 19:21] ahmedhamdy90 commented on #842
@Ortega-Dan Yes, it should be fixed in the next release of the IntelliCode. MicrosoftDocs/intellicode#263

[2021-01-18 21:27] atg22896 commented on #1543
So there is still no solution for using older Gradle versions?

[2021-01-19 09:32] weathery opened #1774 "redhat.java-0.73.0 [redhat.java] provider FAILED"
##### Error Log
[code]

##### Environment
- Operating System: Windows
- JDK version: oracle JDK-11.0.9
- Visual Studio Code version: v1.52.1
- Java Extension Pack: v0.12.1
- Java extension version: v0.73.0
- Maven: v3.6.3

##### Steps To Reproduce
While ran successfully as follow, but the output echo this error and CPU load upto 100%.
[code]

##### Current Result

##### Expected Result

[2021-01-19 12:32] Bno93 commented on #1543
@atg22896: If you are using a  gradle version below 4.7 the "workaround" is to stick with vscode-java v0.64.1 until you are able to update the gradle version.

[2021-01-19 14:33] hanct commented on #806
I think someone has just released an extension to support variable in settings.  Hope vscode-java exntesions developer can consider using it to support relative path for "java.home", etc
[https://www.npmjs.com/package/vscode-variables](https://www.npmjs.com/package/vscode-variables)

[2021-01-19 14:37] hanct opened #1775 "Java.home settings (among others) support variable substitution"
Hi,
I would like to highlight that someone has just released an extension to parse variable in settings. So hopefully vscode-java extension can consider using it to support variable substitution for path- related settings such as  "java.home", etc

[https://www.npmjs.com/package/vscode-variables](https://www.npmjs.com/package/vscode-variables)

[2021-01-21 23:56] victorbombella commented on #690
I just had the same problem and I noticed that the problem was in the workspace configuration, so, you need to change the "java.home" path in both, User json and Workspace json, following the rule of using "\\" (doble slash) and setting the same path in both.

[2021-01-22 07:55] weathery commented on #1774
when upgraded to redhat.java-0.74.0, this issue resolved.

[2021-01-22 14:41] atg22896 commented on #1543
So always use 0.64.1, got it. 😄  Sadly all my work projects use Gradle 2.X and it's not like I can make the whole company use an updated Gradle.

[2021-01-22 15:28] jakegt1 commented on #1594
@snjeza Still having this issue. I am still very confused by you saying that you couldn't reproduce the issue despite your screenshot being an exact reproduction of the issue?

Just really frustrating as i have no idea what the actual error is, so i cannot fix it.

[2021-01-22 19:40] chadlyon opened #1778 "VSCode fails to load pom packaged parent of a multi-module maven project"
Even a simple multi-module maven project where the top level pom has `<packaging>pom</packaging>` will fail with the pom packaged project not being loaded and then the language server failing with the following:
[code]

##### Environment
- Operating System: MacOS Big Sur
- JDK version: 15.0.1
- Visual Studio Code version: 1.52.1
- Java extension version: v0.74.0

##### Steps To Reproduce
1. Clone

[2021-01-22 19:51] snjeza commented on #1594
@jakegt1

I can't reproduce this issue:

Java LS reports the gradle errors properly.
What you expect?

[2021-01-25 08:33] fbricon commented on #1713
@testforstephen what's the status on this one?

[2021-01-25 08:48] fbricon commented on #777
is this still an issue?

[2021-01-25 08:59] testforstephen commented on #1713
Since 1.52 is out for a while, we can move forward with pull request https://github.com/eclipse/eclipse.jdt.ls/pull/1608 to address this issue.

[2021-01-26 02:16] testforstephen commented on #1713
thanks @0dinD, this has been fixed by https://github.com/eclipse/eclipse.jdt.ls/pull/1608

[2021-01-26 02:16] #1713 closed

[2021-01-26 22:30] 0dinD commented on #1753
eclipse/eclipse.jdt.ls#1641 was merged, so this should be fixed now (at least via semantic highlighting) and is ready for release in the next update.

[2021-01-27 02:06] testforstephen commented on #1753
@0dinD thanks for the fix, i will close the issue.

[2021-01-27 02:06] #1753 closed

[2021-01-27 15:13] chadlyon commented on #1778
Actually, looking deeper, even switching to jar packaging does not fully load the Java project. It gets a little further and loads the JRE Library and Maven Dependencies for each sub-module but packages and classes do NOT show up under the modules in "Java Projects". It seems multi-module maven projects are broken in VSCode.

[2021-01-27 16:53] chadlyon commented on #1778
Update: Adding `<nature>org.eclipse.jdt.core.javanature</nature>` to the top level `.project` file and then refreshing the project fixes everything.

[2021-01-28 03:34] jdneo commented on #1263
I found that seems after updating `org.eclipse.m2e.core.prefs`. An `update project action` is also needed to be triggered to make the change active.

[2021-01-28 08:25] testforstephen commented on #1778
I suppose this should have been fixed by Java Project Explorer. https://github.com/microsoft/vscode-java-dependency/issues/424

@jdneo could you help verify whether this issue still exists in multi-module maven projects?

[2021-01-28 09:04] jdneo commented on #1778
The project manager does not handle the multi-module project properly. Raised a PR to fix this issue: https://github.com/microsoft/vscode-java-dependency/pull/450

[2021-01-28 15:16] EliSauder opened #1781 "Gradle Source Dependencies do not Show up in Intellisense"
Gradle source dependencies (introduction article: https://blog.gradle.org/introducing-source-dependencies) do not show up inside of intellisense (and by extent, the debugger). Gradle can still build and run the projects fine, but the editor itself doesn't see any of it.

Example settings.gradle:
[code]
Example build.gradle
[code]

The dependency that is not being resolved is org.frcnomad:lib (a te

[2021-01-28 17:28] DaniGTA opened #1782 "[Formatter Bug] Comments of the parameters are indented incorrectly"
### Expected Result
###### (Image Format)
![image](https://user-images.githubusercontent.com/20490672/106174674-943d5180-6195-11eb-9e77-b8a058f42233.png)
###### (Text Format)
[code]

### Current Result
###### (Image Format)
![image](https://user-images.githubusercontent.com/20490672/106174810-b636d400-6195-11eb-83d1-226c5c294a01.png)
###### (Text Format)
[code]

### Formatter XML Config

[code]

#

[2021-01-29 01:37] jdneo commented on #1778
Fixed in downstream

[2021-01-29 05:39] #1778 closed

[2021-01-30 20:40] rdcoe opened #1783 "Code running in WSL:Ubuntu will not load the codestyle.xml located in the Windows filesystem"
I found that vscode cannot load an eclipse profile if vscode is using WSL as the terminal and the codestyle file is in the Windows filesystem.  This I found is true regardless of the url syntax for local files, i.e., D:\path\to\file or /d/path/to/file or file:///path/to/file, etc.  I had to copy the file into my WSL filesystem and reference is relative to the WSL root, i.e., /home/path/to/file.

#

[2021-01-31 16:10] HaraldKi commented on #1595
Having the same problem on a Linux, I wonder how to verify that the a Java environment was indeed identified. Using the command "Java: Configure Java Runtime" and looking at the tab "Java tooling Runtime", it is empty despite having

[code]
in my settings.json. Though I do see a java process with some `.../.vscode/extensions/redhat.java-0.74.0/...` parts on the command line, which seems to indicat

[2021-01-31 17:16] snjeza commented on #1783
@rdcoe you can try
/mnt/drive_letter/path/to/eclipse_codestyle.xml

[2021-01-31 18:31] rdcoe commented on #1783
I've changed the root mount point to use /, instead of /mnt/ so that's not
the problem.

On Sun, Jan 31, 2021 at 12:16 PM Snjeza <notifications@github.com> wrote:

[2021-01-31 19:17] ikovaltaras opened #1784 "Java project initialization"
Issue Type: <b>Bug</b>

Project initialization never stops
Nothing helps, removed ~/.vscode and user settings

Extension version: 0.74.0
VS Code version: Code 1.52.1 (ea3859d4ba2f3e577a159bc91e3074c5d85c0523, 2020-12-16T16:30:02.420Z)
OS version: Darwin x64 20.2.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-9750H CPU @ 2.60GHz (12 x 2600)|
|GPU Stat

[2021-01-31 19:31] snjeza commented on #1783
Could you try

ls /mnt/drive_letter/path/to/eclipse_codestyle.xml
or
ls /drive_letter/path/to/eclipse_codestyle.xml
for instance,
drive_letter is without : as /mnt/c/path/to/eclipse_codestyle.xml or /c/path/to/eclipse_codestyle.xml
See https://github.com/microsoft/WSL/issues/1918

[2021-01-31 19:36] snjeza commented on #1784
Could you try to remove the workspace directory? See [Clean the workspace directory](https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#clean-the-workspace-directory)

[2021-01-31 19:59] ikovaltaras commented on #1784
I completely removed $HOME/Library/Application Support/Code and it helped

[2021-01-31 19:59] #1784 closed

[2021-02-01 02:03] rdcoe commented on #1783
/d/OneDrive/Documents/Development/eclipse_codestyle.xml*

ls: cannot access
'/mnt/d/OneDrive/Documents/Development/eclipse_codestyle.xml': No such file
or directory

Is this what you're looking for?

thx

On Sun, Jan 31, 2021 at 2:32 PM Snjeza <notifications@github.com> wrote:

[2021-02-01 02:09] rdcoe commented on #1783
btw, I see you linked it to the issue on changing the mount point.  I did that quite a long time ago, using the wsl.conf method that's described in the issue.

[automount]
root = /
options = "metadata"

[2021-02-01 02:30] rdcoe opened #1785 "Type resolution fails when namespace collision occurs between local Type and lib reference"
I have a package private enum that I reference in another class in the same package.  Code underlines the enum as unresolved, because there's no import statement.  As the two Types exist in the same package, no import is necessary.

The code builds fine with Maven.  Also I'm able to use Code to ctrl-click jump to the enum that Code marks as unresolved.

##### Environment
Operating System: Windows_

[2021-02-01 03:25] snjeza commented on #1783
yes, it is. You should use:

[code]
could you attach your [server log]( /d/OneDrive/Documents/Development/eclipse_codestyle.xml) ?

[2021-02-01 03:53] rdcoe commented on #1783
K, I just re-tested, so as to get new log data, and it worked.  Not sure
what was different between now and before, when I had previously defined
the url using a windows path, from when I ran code under a windows
profile.  When I changed it to use a WSL path, it didn't work.  Perhaps I
had a syntax error in my attempts to get it to work; I wasn't sure if I
needed a raw path or a file:/// URL refer

[2021-02-01 05:17] joyous-coder opened #1786 "Are there any keybindings for generating equals and hashcode ?"
I tried to bind  the java.action.hashCodeEqualsPrompt but it didn't work.  Is there a way??

[2021-02-01 08:00] jaoyina commented on #1064
I have the issue too, for some classes, it is too slow, it displays the auto complete list after the cursor blinks 10 times.

[2021-02-01 11:13] jakegt1 commented on #1594
Your screenshot reproduces the error i was talking about. `Java.io.StreamCorruptedException: invalid type code 00` is not a gradle error.

This is the error in Java 11:
![image](https://user-images.githubusercontent.com/6144562/106451214-24251900-647e-11eb-9b20-13ad60994e46.png)

In comparison to Java 8:
![image](https://user-images.githubusercontent.com/6144562/106451460-854cec80-647e-11eb-9598-8

[2021-02-01 19:04] blackcave0 opened #1787 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `java`
- Extension Version: `0.74.0`
- OS Version: `Windows_NT x64 10.0.18362`
- VSCode version: `1.52.1`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2021-02-03 08:07] CsCherrYY commented on #1782
I can't reproduce this issue with your formatter config file. From my perspective,  `org.eclipse.jdt.core.formatter.comment.insert_new_line_for_parameter` controls whether to insert a new line before the descriptions of `@params` with the default value `do not insert`, but it didn't appear in your config file.
Could you please check the config file again? It will help us to find the reason.

[2021-02-03 12:00] DaniGTA commented on #1782
I'm able to reproduce it with this config:

[code]

VS Code settings need that:
`    "java.format.settings.profile": "Test Formatter",`

[2021-02-03 16:00] lispercat commented on #384
Is it still the same manual process now (to update .classpath file)?

[2021-02-04 01:44] jdneo commented on #1787
@blackcave0 Could you describe the problem you have met?

[2021-02-04 05:09] CsCherrYY commented on #1782
I think this might because you set `org.eclipse.jdt.core.formatter.comment.indent_parameter_description` to `true`. You can try to set it to `false`.

[2021-02-04 06:23] LaoLiulaoliu commented on #690
I met the same problem too in win10 with settings.json "java.home": "C:\\Program Files\\Java\\jdk-11.0.10",

[2021-02-04 06:49] Eskibear commented on #690
@LaoLiulaoliu

@bphariharan1301
As mentioned in https://github.com/redhat-developer/vscode-java/issues/690#issuecomment-673376270 , it requires JDK 11+ to launch the language server itself.

[2021-02-04 08:14] DaniGTA commented on #1782
Its closer but there is still one space more than in other IDEA's like Intellji with Eclipse Formatter plugin.
Now:
[code]

What it should be:
[code]

Direct compersion
[code]

[2021-02-04 08:37] CsCherrYY commented on #1782
You can try this settings snippet:
[code]
You can find (or add if not exists) these four settings in your profile and set them to the above value. I've tried it and works.

[2021-02-04 10:36] DaniGTA commented on #1782
That works! Thanks!

[2021-02-04 18:56] RickJWagner opened #1791 "Please allow users to easily configure sensitivity to errors/warnings (squiggles)"
Users are annoyed and distracted by a variety of error and warning indicators.  (i.e. "the squiggle obfuscates the code when it applies to an entire block of code")

It's not an isolated complaint (see similar issue 1657).  https://github.com/redhat-developer/vscode-java/issues/1657

---------------------------------- Suggested remedies -------------------------------------------------------------

[2021-02-04 19:30] khe817 commented on #1743
The issue has been fixed in the newest version of VSCode 1.53.0.

[2021-02-04 19:30] #1743 closed

[2021-02-04 20:15] rgrunber commented on #1791
Currently, I don't think there's a nice to way to set this since there's so many possible options, and I don't think we have a UI to go through all of them, but it should be possible to configure.

For example, in a Maven project, I ensured there was a `.settings/org.eclipse.jdt.core.prefs` file. This file has a `key=value` format and the various options can be found at https://github.com/eclipse/

[2021-02-05 01:34] pingu8007 opened #1792 "Support of customizing generated method stub"
Can I customize template of generated method stub?

##### Environment
- Operating System: Windows_NT x64 10.0.18363
- JDK version: JDK-8 (project) / JDK-14 (language server)
- Visual Studio Code version: 1.53.0 (user setup)
- Java extension version: v0.74.0

##### Steps To Reproduce
1. Implement an interface
2. Generate unimplemented method

##### Current Result
It generate something like this

[c

[2021-02-05 01:59] testforstephen commented on #1786
You could assign a shortcut for it with the following keybindings config.

[code]

Click [VS Code docs](https://code.visualstudio.com/docs/getstarted/keybindings#_custom-keybindings-for-refactorings) to see more details for keybindings.

[2021-02-05 01:59] #1786 closed

[2021-02-05 09:51] joyous-coder commented on #1786
Thanks!!

[2021-02-05 10:13] jonathanvila opened #1793 "Intellisense not working in a lambda ( randomly )"
Clicking ctrl+space in a lambda doesn't show members.

##### Environment
- Operating System:Fedora 33
- JDK version: 11.0.9
- Visual Studio Code version: 1.52.1
- Java extension version: v0.74.0

##### Steps To Reproduce
1. go to the lambda and click ctrl+space to show members
2. only shows global options

##### Current Result
![Screenshot-20210205110217-1083x184](https://user-images.githubusercon

[2021-02-05 17:47] Abhiraj3112000 opened #1794 "Java formatter is not working."
[provide a description of the issue]

##### Environment
- Operating System:
- JDK version:
- Visual Studio Code version:
- Java extension version:

##### Steps To Reproduce
1. [step 1]
2. [step 2]

[Please attach a sample project reproducing the error]
[Please attach logs](https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#enable-logging)

##### Current Result

##### Expected Res

[2021-02-05 17:54] fbricon commented on #1794
Care to elaborate?

[2021-02-05 19:38] koutheir commented on #1148
Any progress so far for supporting `--add-exports`?

[2021-02-05 22:13] shanewaz-abbas commented on #1743
Issue still happening for me. Unfortunately.

[2021-02-06 13:10] hanct opened #1795 "What should the vscode-java extension configuration be like to exclude a particular folder"
vscode -v1.53.0
vscode-java-extension-v0.74.0

![image](https://user-images.githubusercontent.com/4410920/107118932-1aa51200-68bf-11eb-8a85-6b02a8ed311c.png)
Under my workspace folder, there are 2 subfolders, namely, demo and spring-mvc-and-webflux-main.
Both folders are separate gradle-based java projects

If i wanted vscode-java extension to totally ignore spring-mvc-and-webflux-main folder and

[2021-02-07 07:39] JunjieChou opened #1796 "‘\u’ is invalid in comments"
[provide a description of the issue]

##### Environment
- Operating System:
- JDK version:
- Visual Studio Code version:
- Java extension version:

##### Steps To Reproduce
1. [step 1]
2. [step 2]

[Please attach a sample project reproducing the error]
[Please attach logs](https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#enable-logging)

##### Current Result

##### Expected Res

[2021-02-08 04:22] jdneo opened #1798 "[Feature Request] Expose source paths setting in VS Code for unmanaged folders"
Currently we have several classpath related settings for the **unmanaged folders**:
- Default JDK: `java.configuration.runtimes`
- Output path: `java.project.outputPath` (under release)
- Dependencies: `java.project.referencedLibraries`

The missing part is a setting to specify the source paths which originally comes from: https://github.com/microsoft/vscode-java-dependency/issues/412

Though we n

[2021-02-08 13:29] foxpluto opened #1800 "build-helper-maven-plugin on profile doesn't work"
[provide a description of the issue]

Dear support,
I am trying to use the profiles in a POM to add extra source directory.
I am using a plugin which generate java code in a custom directory `target/generated-sources/plc4x` and for telling VSC that this directory has sono code I would like to use `build-helper-maven-plugin`.

If I use the plugin inside the POM it works:

[code]
In this way VSC add

[2021-02-09 07:16] veredcon opened #1801 "Usage of java VScode extension in multiple containers setup"
##### Environment
- Operating System: Linux
- JDK version: 11
- Visual Studio Code version: Theia 1.10.0
- Java extension version: 0.74.0 /master (0.75.0) and can be reproduce with all versions until 0.53.1 include.

##### Steps To Reproduce
I cannot provide steps to reproduce as this issue happens in our special setup Web IDE where we use multiple docker containers and the JDK is installed in a d

[2021-02-09 09:03] mzaj commented on #580
It works - thank you very much.
Maybe someone have an idea how to avoid making changes in project's pom? I would like to avoid changing projects I'm working on only to adjust them to my development environment setup.

[2021-02-09 09:58] fbricon commented on #1801
@snjeza might be the server doesn't cope well when initialization options are missing/incomplete. Please investigate.

[2021-02-09 10:01] fbricon commented on #1801
@snjeza "Default VM Install changed from  1612768316552-/usr/lib/sapmachine-jdk/sapmachine-jdk-11.0.6.0.1 to 1612768316579-/home/user/java11'," might be the cause, the new location might not be reachable

[2021-02-09 20:16] snjeza commented on #1801
@veredcon could you try to add
[code]
to your settings.json

[2021-02-09 23:44] 0dinD commented on #1793
I've also seen this happen occasionally, but it's my current understanding that this is an upstream issue in Eclipse JDT Core. If you have a consistent case where you can reproduce the issue, you could check if it works in the Eclipse IDE. If it does, that would indicate a problem with this extension, but otherwise it might be a while until it gets fixed upstream, sadly.

See these bug trackers wh

[2021-02-10 06:21] hanct commented on #1795
VSCode -java extension version: v0.74.0

The reason why i ask this question is because though i added the below

"****/spring-mvc-and-webflux-main/****"
![image](https://user-images.githubusercontent.com/4410920/107473148-2ccacd00-6bab-11eb-89e8-2c7d5360896c.png)

The vscode-java extension still flag out error related to this excluded project.  I have raised similar query before #1698 , but even

[2021-02-10 06:23] hanct commented on #1795
note that underneath the workspace folder, there are 2 java folders: One is demo, and the other is  spring-mvc-and-webflux-main. I only wanted to exclude the spring-mvc-and-webflux-main

[2021-02-10 08:45] veredcon commented on #1801
Hello @snjeza ,

Thanks for taking a look into this issue.
I've already tried that and it still doesn't work.
Attached are the logs with this settings configured.

[client0.74.0-standard-not-working.txt](https://github.com/redhat-developer/vscode-java/files/5956675/client0.74.0-standard-not-working.txt)
[server0.74.0-standard-not-working.txt](https://github.com/redhat-developer/vscode-java/files/5

[2021-02-10 11:24] DaniGTA opened #1802 "Lombok doesnt work when setting java.jdt.ls.vmargs is used in workspace"
`java.jdt.ls.vmargs` to
`-XX:+UseParallelGC -XX:GCTimeRatio=4 -XX:AdaptiveSizePolicyWeight=90 -Dsun.zip.disableMemoryMapping=true -Xmx4G -Xms100m` in workspace settings and user settings
for more RAM. Results in no lombok.

get and set functions show is undefined after setting `java.jdt.ls.vmargs`

##### Environment
- Operating System: Windows 10
- JDK version: 8 (Projekt), 11 (VsCode)
- Visual St

[2021-02-10 15:44] veredcon commented on #1801
Additional info - now I noticed that even when the isWorkspaceInitialized code is commented out, it works only in LightWight Mode and not in Standard mode...
I attached these logs just in case... these are the logs of vsix which I commented out this code:
![image](https://user-images.githubusercontent.com/9718939/107533260-6f020780-6bc7-11eb-9ca1-6bed4d2a865a.png)

[075withpatch-lw-standard.txt](h

[2021-02-10 18:28] snjeza commented on #1801
@veredcon you can try
[code]

[2021-02-10 18:53] veredcon commented on #1801
Thanks @snjeza ,
Yes I tries that too and got another error :(
![image](https://user-images.githubusercontent.com/9718939/107556789-83eb9480-6be1-11eb-8cf3-ff7cc85916f2.png)

So with these settings:
![image](https://user-images.githubusercontent.com/9718939/107556872-982f9180-6be1-11eb-99ff-17619da1a884.png)

We get the following logs:
[client074withruntime.txt](https://github.com/redhat-developer

[2021-02-10 19:10] snjeza commented on #1801
JAVA_HOME has been incorrectly configured:
[code]

It should look like the following:
[code]

[2021-02-10 21:03] vwkng opened #1804 "Import cannot be resolved but exist in JAR?"
Hi everyone, when I do `import com.mypackage.abcde.ForecastRequestV1;`, I am getting the error: `The import com.mypackage.abcde cannot be resolved Java(268435846)`.

In my project's .code-workspace file, under **"java.project.referencedLibraries"** I have the entry `"/path/to/my/jar-1.0.jar"`. When I open the jar file with vim, I see that `com/mypackage/abcde/ForecastRequestV1.class` is inside.

D

[2021-02-10 21:04] cforce commented on #1220
Seems like it got worse by the minute with vscode 1.53.1
https://github.com/microsoft/vscode/issues/116379

[2021-02-10 21:19] snjeza commented on #1804
@vwkng could you attach your settings.json and .classpath?

[2021-02-11 04:23] ffashion opened #1805 "how to debug jdk and edit jdk source code in vscode"
How should I debug and edit JDK source code
##### Environment
- Operating System:  Ubuntu20.04
- JDK version:   openjdk 15-internal
- Visual Studio Code version: 1.53.1
- Java extension version:  0.12.1
my user settings.json
[code]
now ,i can debug jdk but can't edit it , how can i  resolve it ,thanks

[2021-02-11 05:40] WisnuCakraa commented on #672
can we have auto give ";" ?

[2021-02-11 09:17] veredcon commented on #1801
Hi @snjeza

In our JAVA_HOME is pointing to /home/user/java11 and has only link to bin.
Do you mean that it has to include other folders like conf, lib etc. because you rely on them in your logic?

As we saw in the logs, JavaRuntime.getDefaultVMInstall().getInstallLocation() returns /usr/lib/sapmachine-jdk/sapmachine-jdk-11.0.6.0.1 and we don't want the change to /home/user/java11 to happen.
We wa

[2021-02-11 19:55] snjeza commented on #1801
Do you mean that it has to include other folders like conf, lib etc. because you rely on them in your logic?

Right. Eclipse JDT requires a valid JDK.

you can try
[code]
/usr/lib/sapmachine-jdk/sapmachine-jdk-11.0.6.0.1 have to have a valid JDK.

You should start Java LS with a valid JDK. /usr/lib/sapmachine-jdk/sapmachine-jdk-11.0.6.0.1 is hidden, /user/home/java11 is incomplete.

[2021-02-12 18:06] snjeza commented on #1801
@veredcon You can see how che creates a java sidecar - https://github.com/eclipse/che-plugin-registry/tree/master/sidecars/java

[code]

[2021-02-15 09:25] veredcon commented on #1801
@snjeza Thank you so much for the suggestion! that worked!
[code]
together with the java.home settings!

Thanks a lot for your time and help! 🙏🎉👏

[2021-02-16 00:13] mainmethod0126 commented on #1660
Still not available in VSCODE?

[2021-02-16 03:54] jahorton opened #1807 "Intellisense only works when language server is in LightWeight mode."
Java Intellisense only works when the language server is in LightWeight mode.  It breaks _immediately_ every time I swap to Standard mode.  (For me, this has been through use of Run/Debug.)

Possibly relevant excerpt from the language server's log:

It's definitely part of the project and is compiled as such

##### Environment
- Operating System: macOS 10.15.7
- JDK version: OpenJDK 13.0.1
- Visua

[2021-02-16 04:42] NatoBoram commented on #774
Hey! I see this issue is closed, but I can't figure out how to use this lint. How do we enable it?

[2021-02-16 15:18] veredcon commented on #1801
Hi @snjeza ,
Why this vsix is not available in this link?
https://github.com/redhat-developer/vscode-java/releases/download/v0.75.0/redhat.java-0.75.0.vsix
Since 0.61.0 seems you stopped the upload vsixs to the releases.

Can you load the vsix so it will be available?

Thanks!

[2021-02-16 15:32] fbricon commented on #1801
@veredcon in the meantime, you can download it from one of those 2 marketplaces

- https://open-vsx.org/api/redhat/java/0.75.0/file/redhat.java-0.75.0.vsix
- https://marketplace.visualstudio.com/_apis/public/gallery/publishers/redhat/vsextensions/java/0.75.0/vspackage

[2021-02-16 15:40] #833 closed

[2021-02-17 15:01] veredcon commented on #1801
Cool! We will download it from open-vsx, thanks a lot!

[2021-02-17 15:29] jakegt1 commented on #1594
This is still making development in java 8 a pain, does the above example make sense now?

[2021-02-17 18:43] snjeza commented on #1594
@jakegt1 The errors have been generated by the [buildship](https://github.com/eclipse/buildship) project. The issue can be reproduced in Eclipse.

[2021-02-17 20:04] #1665 closed

[2021-02-18 13:22] peschue commented on #1588
I was not able to get this to work using WSL with Remote development - @djkong7  could you give some hints which steps you followed to achieve this? I set the JDK path in my workspace file, opened the workspace from WSL2, and still the extension cannot load the java support and displays many errors in the console.

[2021-02-18 16:40] ShreyashSaitwal opened #1808 "Is there a way to override .CLASSPATH file?"
### Environment
- Operating System: Windows 10
- JDK version: 11
- Visual Studio Code version: 1.53.2
- Java extension version: 0.75.0

Is there any way to override the .classpath file of my Java project? I want to do this because, for some reason, the vscode-java extension doesn't add my project's JAR files to the .classpath automatically and shows red squiggly lines under imports and whatnot.

B

[2021-02-18 16:48] snjeza commented on #1808
@ShreyashSaitwal Could you attach your .project and .classpath files?

[2021-02-18 17:02] ShreyashSaitwal commented on #1808
.classpath
[code]
---
.project
[code]

[2021-02-18 17:24] snjeza commented on #1808
@ShreyashSaitwal You can try the following:

- copy your project to a separate directory (myproject, for instance)
- change .project to
[code]
- open the myproject directory in VS Code

[2021-02-18 17:44] ShreyashSaitwal commented on #1808
Worked. 👍🏻

[2021-02-18 17:44] #1808 closed

[2021-02-19 00:51] djkong7 commented on #1588
@peschue Can you confirm that the extension is properly recognizing the JDK. Try opening the command palette and run "Java: Configure Java Runtime". You should see your JDK under "Installed JDKs" as well as ensure that the Java Language Server is running JDK 11+ under "Java Tooling Runtime". I personally didn't have to do more steps other than that to get my project working in WSL2.

[2021-02-19 13:43] NiklasRosenstein opened #1809 "Support additional Gradle configurations"
Our projects often times have integration tests and we use a Gradle configuration called `integrationTest`. The source for these tests is usually located in a `src/integrationTest/java` directory. Example:

[code]

In `my-subproject/build.gradle` the dependencies are defined akin to

[code]

Right now, this means that IntelliSense will not be able to find symbols from the `junit-jupiter` dependenc

[2021-02-19 21:42] maxandersen opened #1810 "add a java problem matcher to use in tasks"
Would be nice if using vscode build tasks to call java/jbang directly there was a "java matcher" option like there is a bunch for node, typescript, go etc. default in vscode.

See https://code.visualstudio.com/docs/editor/tasks#:~:text=In%20addition%20to%20the%20global,Ctrl%2BShift%2BP).

[2021-02-19 22:48] maxandersen opened #1811 "content assist breaks when using multiline strings"
Enable Java 15, use multiline strings and content assist does not work.

This works:

[code]

This does not:
[code]

##### Environment
- Operating System: OSX
- JDK version: Java 15
- Visual Studio Code version: vscodium 1.53.2
- Java extension version: v0.75.0

##### Steps To Reproduce

here is a jbang example, look for `em.createNativeQuery` and try content assist.

[code]

##### Current Result

[2021-02-20 00:43] MicaHorton commented on #1349
I also have this bug.

[2021-02-20 18:35] snjeza commented on #1811
This is an upstream issue - https://bugs.eclipse.org/bugs/show_bug.cgi?id=553097

[2021-02-21 13:30] xetum opened #1812 "how to --enable-preview for standalone java file (neither maven nor gradle)"
I want to use preview features of java 14 (`record`). I know I've to put in `launch.json`:

    "configurations": [
        {
            "vmArgs": "--enable-preview"
        }

but how to add option to the compiler stage? What to put in `settings.json`?

[2021-02-21 17:27] JLP04 opened #1813 "Keep getting "Couldn't start client Language Support for Java" when opening a Java file in vscode."
Whenever I open a .java file in a workspace, I get the errors "Couldn't start client Language Support for Java" and "Couldn't start client Language Support for Java (Syntax Server)". I was previously able to use the Java extension in this same workspace.

##### Environment
- Operating System: macOS Big Sur 11.2.1
- JDK version: 15.0.2
- Visual Studio Code version: 1.53.2
- Java extension version:

[2021-02-22 07:11] testforstephen commented on #1812
We just enable preview for the latest JDK (aka 15) by default, no way for old JDKs. If you just want to try record feature, you could install jdk 15, which also supports record.

[2021-02-22 07:11] #1812 closed

[2021-02-22 09:28] testforstephen commented on #1805
When you're using JDK as your program's runtime, it's taken as read-only system libraries. We didn't support editing and compiling the source code of the libraries.

If your purpose is to edit jdk source code and debug it, you need find the contribution guide of the JDK project about that.

[2021-02-22 09:28] #1805 closed

[2021-02-22 12:39] testforstephen commented on #774
![finalModifier](https://user-images.githubusercontent.com/14052197/108709682-fc414680-754d-11eb-8bb0-de9bfbfe7e7d.gif)

[2021-02-22 13:09] testforstephen commented on #1809
Since you're using custom configurations/dependencies in your build.gradle, and the gradle tooling **buildship** used by vscode java extension doesn't recognize it by default. You have to add a line like `eclipse.classpath.plusConfigurations << configurations.integrationTestImplementation` to your build.gradle. Learn more from [FAQ at buildship](https://github.com/eclipse/buildship/blob/f97e183a45

[2021-02-22 13:12] xetum commented on #1812
I just installed jdk-15. Same error. record is underlined: `'record' is not a valid type name; it is a restricted identifier and not allowed as a type identifier in Java 15`. Language level shows JavaSE-15. How do I configure preview in Java 15 for standalone files?

[2021-02-22 13:29] fbricon commented on #1812
See https://github.com/redhat-developer/vscode-java/wiki/Enabling-Java-preview-features

[2021-02-22 13:30] fbricon commented on #1812
Can you share your file?

[2021-02-22 13:43] xetum commented on #1812
I just edited `settings.json` to add java-15 without reloading VScode. Now it works, thanks

[2021-02-22 14:34] NatoBoram commented on #774
Is there a way to enable the red squiggly lines when this is possible?

[2021-02-22 15:28] peschue commented on #1588
"Java: Configure Java Runtime" causes spinning arrows in the status bar "Activating Extensions" and then nothing happens.

[2021-02-22 20:01] snjeza commented on #1795
This is an upstream buildship issue. See
- https://github.com/eclipse/buildship/issues/756
- https://github.com/eclipse/buildship/issues/270
- https://github.com/eclipse/buildship/issues/271
- https://discuss.gradle.org/t/how-to-prevent-the-creating-of-subprojects-in-eclipse/21455/18

[2021-02-23 03:04] WormChickenWizard opened #1814 "Linter marking bitwise operators with shorts as syntactically incorrect"
Using bitwise operators with shorts seem to be marked as syntactically incorrect even though I'm able to compile and run the files with no problem.

##### Environment
- Operating System: WinX 64 bit ver 2004
- JDK version: openjdk 15.0.2
- Visual Studio Code version: 1.53.2
- Java extension version: v0.75.0

##### Steps To Reproduce
With the specified environment details, are the bitwise operators

[2021-02-23 03:19] #1814 closed

[2021-02-23 20:47] RickJWagner commented on #1791
Hi @rgrunber ,
Thanks for the above note.
We do not have a list of which messages are targeted.  Maybe it would be best to start with the ability to turn off WARNs, we can further refine if we get more feedback.

[2021-02-24 12:31] veredcon opened #1816 "Configure whether to show recommendations of external installations"
When opening a pom.xml file there is a pop up showing recommendation of dependency analytics:
![image](https://user-images.githubusercontent.com/9718939/109000650-a931d580-76ac-11eb-8c09-e89c5fc81407.png)

related PR: https://github.com/redhat-developer/vscode-java/pull/1771/files

Is it possible to add configuration in settings.json so it won't show such recommendations at all?
We know when choos

[2021-02-24 14:06] jakegt1 commented on #1594
@snjeza so, you're suggesting it is a downstream problem and i should make an issue there? Your comments seem to be directly opposite to what @fbricon said, so i am very confused.

[2021-02-24 22:53] jdharvey-ibm commented on #632
Hi all. Are there any updates on this issue? I see this has been open since 2018. Is this really still up for consideration? Or is this falling into the void of "won't ever implement"? Either answer is fine, I'd just like to know where it stands. VS Code seems to be becoming the odd one out in terms of kts support in gradle projects.

[2021-02-24 23:37] Elementrix08 opened #1818 "Unable to modify new file java snippets."
I've been trying to override the Java new file snippet that is the default with my own. But the class snippet always comes up within my custom snippet. Is there anyway I can get rid of this?

I'd appreciate any help with this 😄

[2021-02-25 01:32] #1572 closed

[2021-02-25 20:03] hichemfantar opened #1820 "No way to refactor all files automatically"
I can only add missing package declarations on one file at a time. No way to fix all in one click.

##### Environment
- Operating System: w10 1909
- JDK version: 11
- Visual Studio Code version:1.53.2
- Java extension version:0.75.0

##### Steps To Reproduce
1. missing package declaration: hover mouse over error and quick fix
2. only option is to add package declaration to current file

[Please at

[2021-02-25 22:03] #1816 closed

[2021-02-25 22:08] achaphiv commented on #1640
For anyone else stumbling on this issue, I had to add more config:

[code]

to support:

[code]

and

[code]

[2021-02-27 06:17] pbassut commented on #1232
Same issue here. With opened VSCode, maven fails.

I have to remove the plugin to write java code.

Anybody found a fix?

[2021-02-27 08:50] alibehzadian opened #1821 "Javadoc generation is not working on Java files"
[provide a description of the issue]

##### Environment
- Operating System: Windows 10 Pro
- JDK version: java version "14.0.1" 2020-04-14
- Visual Studio Code version: 1.5.32
- Java extension version: Language support for Java v0.75.0

##### Steps To Reproduce
1. Install `VS Code Spring Boot Application Development Extension Pack` extension.
2. Create/open a spring boot application
3. Start typin

[2021-02-27 18:17] noschang opened #1822 "Improve quick fix"
Hi! I would like to suggest a new feature to improve the extension.

When programming in Java is a very common mistake to import the wrong class for some basic types. For example, importing ```java.awt.List``` instead of ```java.util.List```.

In such cases, you don't have a quick fix action to solve the problem. Check the image below:

![Captura de tela de 2021-02-27 14-46-28(1)](https://user-ima

[2021-02-27 18:22] noschang commented on #1175
Hi people. If you got to this issue, it's possible that you are having the same problems that I was having.
So, I'm leaving this link here and hope this can help you:

Lombok extension breaking vscode: https://github.com/GabrielBB/vscode-lombok/issues/54

[2021-03-02 02:32] testforstephen commented on #1818
By default, Java extension watches the didCreateFiles event and appends a snippet to the new Java file by using a hardcode template. This is similar as new Java Class/Interface feature in other IDEs. Could you share your scenario why you want to get rid of this?

[2021-03-02 02:49] testforstephen commented on #1820
Can you share how you expect this FEATURE to be exposed to you?

[2021-03-02 10:51] hichemfantar commented on #1820
I jut realized the post isn't clear enough. Basically there's no way to add all missing imports in a single file in a single click.
I have to go through each missing import and add it using the quick fix.
Also there's no way to add all missing imports for an entire project. I have to do each file at a time which is a huge pain tbh.

[2021-03-02 12:27] fbricon commented on #1820
For a single file, you can right click in the file -> source actions -> organize imports.
Also bound to `Shift+Alt+o`

[2021-03-02 12:29] fbricon commented on #1820
You can also execute `organize imports` automatically on file save. Add this to your settings.json:

[code]

[2021-03-02 20:08] ledsoft commented on #344
That would be [`settings.json`](https://code.visualstudio.com/docs/getstarted/settings).

[2021-03-03 13:13] Elementrix08 commented on #1818
Basically, I wanted to be able to already have the main method inside the class definition that's normally declared for a new file so I did that by making my own Java file snippet. But since the Java extension already has a snippet that it inserts, it gets inserted within that class definition, and it doesn't seem like there's a way to override that and not make it show up.

[2021-03-03 13:50] hichemfantar commented on #1820
Great, Is there a way to add all missing imports to the entire project without doing each file separately?

[2021-03-04 03:30] testforstephen commented on #1818
If your requirement is just to quickly add a main method to a new Java file, you could leverage `main` snippet by the tooling itself. No need to provide your custom snippets for that.

https://user-images.githubusercontent.com/14052197/109907131-afdbd080-7cdc-11eb-81d8-f3f98b53e93a.mov

[2021-03-04 10:30] dbushenko opened #1825 "How can I add bazel support?"
Hello,

I'm trying to add bazel support to vascode-java using the lsp server. Unfortunately some hardcode in vscode-java prevents me from doing this. For instance, in standardLanguageClient.ts there is a function:

function isJavaConfigFile(path: String) {
	return path.endsWith('pom.xml') || path.endsWith('.gradle');
}

When the project file is updated, this function prevents from sending the comm

[2021-03-05 08:07] ganeshkumar-opscruise commented on #956
@fbricon thanks a lot

[2021-03-06 03:03] rothfels opened #1827 "regression: java.format.settings.url no longer loads project .xml file"
Some of our teammates just upgraded to the latest version of this extension and noticed that the formatter's behavior has changed.

Before upgrading extension:

- open a file, run `Format document` -- no diff

After upgrading extension:

- open a file, run `Format document` -- large diff

Our formatter configuration is and has been set from an .xml config file. Our `.vscode/settings.json` looks li

[2021-03-06 03:15] rothfels commented on #1827
It discovered works with a file URL:

[code]

However to make this work for the team I would need to use `${workspaceFolder}`, but this doesn't work with file URLs.

Please advise, a relative path to a project file sufficient before.

[2021-03-06 14:30] Elementrix08 commented on #1818
Thank you for the suggestion! I will make use of this for my Autosnippet extension. Is there any way that I can make the java formatter format the open brace on a new line?

[2021-03-07 13:50] lpedrosa commented on #1827
What is the workaround that we can use in the meantime?

For example, assuming you have the formatter file in the `${workspaceFolder}` like `${workspaceFolder}/eclipse-formatter.xml`, what should the url be?

Currently I have it set as `eclipse-formatter.xml` and it doesn't seem to pick it up.

[2021-03-07 13:58] lpedrosa commented on #1827
I guess I should've read @rothfels answer more carefully 😅, since it is mentioned that the URI could be relative to the `${workspaceFolder}`.

A workaround for the scenario I've described above is to set the `java.format.settings.url` property like:

[code]

[2021-03-08 01:38] testforstephen commented on #1818
regarding the formatter, you could take a look at https://github.com/redhat-developer/vscode-java/wiki/Formatter-settings

[2021-03-08 10:19] SuryaDev-chaturvedi commented on #148
Just open Visual Studio.
Go in Tools > Environment > Text editor > Codelens.
and then disable them .
[](https://youtu.be/XHI3_dfYFtY)
I got solution from this video .
Hope it helps You too :)

[2021-03-08 10:20] SuryaDev-chaturvedi commented on #148
Just open Visual Studio.
Go in Tools > Environment > Text editor > Codelens.
and then disable them .

[https://youtu.be/XHI3_dfYFtY](url)
I got solution from this video .
Hope it helps You too :)

[2021-03-08 10:35] Elementrix08 commented on #1818
Thank you so much I appreciate your help ❤😊

[2021-03-08 19:22] JLP04 commented on #1813
I believe that the error is from this part of `client.log`:

`{
  message: 'Error data: "java.lang.RuntimeException: java.lang.reflect.InvocationTargetException\\n\\tat org.eclipse.lsp4j.jsonrpc.services.GenericEndpoint.lambda$null$0(GenericEndpoint.java:67)\\n\\tat org.eclipse.lsp4j.jsonrpc.services.GenericEndpoint.request(GenericEndpoint.java:120)\\n\\tat org.eclipse.lsp4j.jsonrpc.RemoteEndpoint

[2021-03-09 02:08] testforstephen commented on #1813
`"javadoc": "/Library/Java/JavaVirtualMachines/jdk-15.0.2.jdk/Contents/Home/docs/api"`

The exception points out the failure is from invalid javadoc URL. Could you comment out the javadoc config for JDK 15 in your user setting?

@snjeza What's the correct format to configure the javadoc in "java.configuration.runtimes" setting?

[2021-03-09 02:10] #1798 closed

[2021-03-09 02:15] JLP04 commented on #1813
Commenting it out seems to fix it for now but I do want to figure out how to fix that javadoc URL.

[2021-03-09 02:17] JLP04 commented on #1813
I think I managed to get it working by replacing `"javadoc": "/Library/Java/JavaVirtualMachines/jdk-15.0.2.jdk/Contents/Home/docs/api"` with `"javadoc": "file:///Library/Java/JavaVirtualMachines/jdk-15.0.2.jdk/Contents/Home/docs/api"`. I didn't realize it was supposed to be a URL, I thought it could also be a local path.

[2021-03-09 02:21] testforstephen commented on #1813
Good to know you figured it out. Yes, there is room for us to improve this. Considering the peer keys in this setting support a local path, but not for javadoc is a bit confusing. Also the invalid URL should not break the starting of Java tooling itself.

[2021-03-09 07:22] pan3793 commented on #1615
@jdneo Could you please have a look on this issue?

[2021-03-09 07:31] jdneo commented on #1615
@n-peugnet The newest `Language support for Java` extension adds a new setting to set the output path for project without any build tools.

@pan3793 Sorry currently there is no plan to make that setting be able to impact Maven/Gradle project. But we will keep an eye on this request.

[2021-03-09 15:19] phillip-urioste-chs commented on #1794
It suddenly stopped working for me too. It was pointing to the eclipse formatter.xml and was working fine, but after the latest update no longer formats as per the rules in my formatter.xml

[2021-03-09 15:32] astrelsky opened #1831 "vscode-java causes vscode to stop responding"
I don't understand why this hasn't been reported since the issue has been present in the insiders version since the week before Christmas. I'm going to blame the bystander effect for that.

[provide a description of the issue]
Using vscode and the vscode-java extension to edit java files causes vscode to stop responding. It appears to be related to whatever the fix was for #1597 as vscode seems to

[2021-03-09 16:15] snjeza commented on #1813
You can try https://docs.oracle.com/en/java/javase/15/docs/api/

[2021-03-09 20:47] bsutton opened #1832 "Exceptions are buried in the log file."
I turned on the java tooling in vscode for a flutter project and received the following error:
[code]

When I googled the error I found a github issue that suggested I should open the java log file where I found:

[code]

I shouldn't have to dig into a log file to find the actual error. vscode-java should be showing the exception description in the vscode problems window.

[code]

Language Support

[2021-03-10 01:08] pumano commented on #1660
got the same problem

[2021-03-10 01:37] astrelsky commented on #1831
Oh. Wonderful thank you. Seems like the settings sync came back to bite me then.

[2021-03-10 01:47] jdneo commented on #1825
Seems that we need to have a new contribution point that allow other extension to register the build file pattern. (Something like what we have for `javaExtensions` in package.json)

### Proposal

Maybe a new entry named as `javaBuildFilePatterns`? For example:

[code]

Any other ideas are open for discussion.

[2021-03-10 10:54] navaneeth-spotnana commented on #158
I uninstalled the plugin and that also worked. :p

[2021-03-10 16:57] #1813 closed

[2021-03-10 21:05] JLP04 commented on #1813
Thanks

[2021-03-11 16:43] JesseBrault0709 commented on #1794
I am having the same issue as @phillip-urioste-chs. My eclipse formatter.xml file was working great, then stopped working after the most recent update (either of VSCode or the java extension, I am not sure which update caused the issue).

Operating system: Mac os 10.12.6
JDK: openjdk 15 2020-09-15
VSCode version: Version: 1.54.1
Redhat java extension: 0.76.0

[2021-03-11 17:52] snjeza commented on #1794
@Abhiraj3112000 @JesseBrault0709 @phillip-urioste-chs could you show your java.format.settings.url property?

[2021-03-11 18:13] JesseBrault0709 commented on #1794
I figured it out. I previously had something like: `/some/path/to/formatterProfile.xml`

Switching it to a proper URL syntax such as: `file:///some/path/to/formatterProfile.xml` seems to be solving the issue. Since the description in the settings panel currently reads 'Specifies the url _or file path_' (emphasis mine), I had assumed that just a plain old file path would work (and I believe it prev

[2021-03-11 18:33] snjeza commented on #1794
Related issue - https://github.com/eclipse/eclipse.jdt.ls/issues/1685

[2021-03-12 04:39] AdDfNet commented on #1132
I also have the same issue it's happen sometimes like @W4RH4WK said  when i save/format file.
context :
-  java 11.0.x openJdk
- multiple maven professional projects on java 8 avec this issue (test with cxf , old struts project, and spring based)
- vscode 1.48 --->1.54

I will also try to fin a  simple deterministic case :)

[2021-03-12 05:42] b0ssi opened #1833 "Typo When Trying to Add Folder to Java Source Path That Is Already Included By Parent"
Issue Type: <b>Bug</b>

The error that pops up when trying to add a folder to the source path (explorer > right-click on folder > *"Add Folder to Java Source Path"*) contains a minor grammatical mistake:

I couldn't find where these strings are to be found spontaneously - if someone wants to point me into the right direction, happy to do it.

Extension version: 0.76.0
VS Code version: Code 1.54.1

[2021-03-12 07:05] testforstephen commented on #1833
https://github.com/eclipse/eclipse.jdt.ls/blob/master/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/ProjectUtils.java#L175

Feel free to open a pull request.

[2021-03-12 11:14] b0ssi commented on #1833
Cheers, [PR here](https://github.com/eclipse/eclipse.jdt.ls/pull/1687).

Couldn't find contribution info (spontaneously) re: what branch to branch off off/merge into and branch naming, so followed what I've seen being done in recent PRs. Let me know, easy to change.

[2021-03-12 13:36] W4RH4WK commented on #1132
As follow up: nope, I didn't give it another go. I was too upset with it and just ditched it.

[2021-03-12 16:56] boom-mug commented on #1827
For me relative with ~ didn't work, nor did absolute, but adding file: did work, than you @rothfels .

[2021-03-15 03:18] #1833 closed

[2021-03-15 11:08] #1321 closed

[2021-03-16 15:30] saumilsdk commented on #1186
This seems not working in latest VC code version 1.54.3

[2021-03-16 19:09] #1794 closed

[2021-03-16 19:09] #1827 closed

[2021-03-17 13:25] rgrunber commented on #1640
https://github.com/eclipse/eclipse.jdt.ui/blob/master/org.eclipse.jdt.core.manipulation/common/org/eclipse/jdt/internal/ui/preferences/formatter/ProfileVersionerCore.java#L32 mentions the current version as well as a utility method to update older settings to any version.

[2021-03-17 13:45] tommai78101 commented on #1186
@saumilsdk Open a new issue and reference this ticket.

[2021-03-17 17:53] rothfels opened #1834 "regression: autobuild doesn't watch resources"
We have a `.classpath` like this:

[code]

Until recently, the Java language server would automatically update `target/classes` whenever files in `src/main/resources` would change. This was useful; we run a watch process in development to compile TS -> JS and output the generated code in `src/main/resources`.

Now, it seems only Java sources (in `src/main/java`) are being watched. The autobuild se

[2021-03-17 18:07] snjeza opened #1835 "Add support for Java 16"

[2021-03-17 19:00] wendidy commented on #618
I was reading [vscode doc](https://code.visualstudio.com/docs/java/java-project) and realized the lightweight mode is still not satisfiable if one chooses to build the project or debug it:

Wondering if anyone has come up with a better solution to it?

[2021-03-18 01:58] CsCherrYY commented on #1640
@rgrunber Yes. https://github.com/eclipse/eclipse.jdt.ls/pull/1675/commits/704e50bf09711ebb72f09e91a7c1fef66ffc9d72 uses the utility you mentioned to check if there is any need to update the profile.

[2021-03-18 06:11] zoain-it commented on #1770
No one came to deal with it

[2021-03-18 07:22] saumilsdk commented on #1186
@tommai78101 Hey this seems to work with file: prefix.

` "java.format.settings.url": "file:/eclipse-formatter.xml"`

[2021-03-18 09:27] kirankotari opened #1837 "Cannot uninstall"
Cannot uninstall 'Language Support for Java(TM) by Red Hat' extension. 'Java Test Runner' extension depends on this.

I had installed 0.76.0 and facing a issue with Java 11+, with the help other tickets I have downgraded it to 0.64.1 but it's still asking for 11+, I thought of uninstalling and installing again.

##### Environment
- Operating System: Cent Os
- JDK version: 1.8
- Visual Studio Code

[2021-03-18 10:39] kulynyak commented on #1186
`"java.format.settings.url": "file:.vscode/eclipse-formatter.xml",` should work

[2021-03-18 11:03] kirankotari commented on #1837
@fbricon how to it's dependencies any hint where can i look for them.

[2021-03-18 11:20] fbricon commented on #1837
VS Code doesn't provide a way to list extensions depending on one particular extension.
But, if you installed the Java Extension Pack (which lists its dependencies) and uninstall it, you'll most likely remove everything depending on Java. If that doesn't work you'll have to uninstall them one-by-one: remove extension 1 -> if blocked by extension 2, ten remove extension 2, rinse, repeat.

[2021-03-18 17:15] kristian commented on #1186
Yep, latest VSCode broke referencing local files without a `file:` protocol... @saumilsdk and @kulynyak tipps fixed the issue for me! Thanks so much!

[2021-03-18 23:14] Daniel-Monroy commented on #1014
someone found a solution? :(

[2021-03-19 01:18] tylertian123 opened #1838 "Javadoc text between < and > is hidden even when escaped; HTML entities in {@literal} tags still escaped"
I've noticed two issues related to HTML entities in Javadoc:
1. Text between <> do not show up in the hover popup, even when escaped, e.g. `&lt;foo&gt;`
2. HTML entities in `{@literal}` tags are still escaped (and as an effect `{@literal <text>}` and `{@literal &lt;text&gt;}` don't show up either)

Both of these behaviours are inconsistent with the output of the official Javadoc tool.

##### Envir

[2021-03-19 08:26] molly-w opened #1840 "Click the bulbs to Organize imports throws the error"
Click bulb to organize imports, throw the error: Running the contributed command: '_vscode_delegate_...' failed..
##### Environment
- Operating System: Microsoft Windows [Version 10.0.19041.572]
- JDK version: openjdk version "11.0.8" 2020-07-14
- Visual Studio Code version: 1.54.3
- Java extension version: Java Extension Pack(v0.13.0)

##### Steps To Reproduce
1. Add the following code in Setting

[2021-03-19 13:51] tommai78101 commented on #1186
@saumilsdk @kulynyak  Thanks to both. Didn't know there's a new protocol to specify the file.

[2021-03-19 14:04] luukvhoudt opened #1841 "Unable to setup point to a JDK in a docker container"
It might not be an issue because I think it's possible to configure this extension so it can the JDK binary's from a docker container. However I also see the possibility that there is some issue with the extension in the way it is facilitating the configuration of the JDK.

Please have a look at this [Stack Overflow topic](https://stackoverflow.com/questions/66708147) where we try to figure out ho

[2021-03-19 14:13] fbricon commented on #1186
It's a bug that'll be fixed in the next release (end of March)

[2021-03-19 14:14] fbricon commented on #1186
Duplicate of #1827

[2021-03-19 14:20] fbricon commented on #1841
You seem on the right track, except you need a JDK 11 to run vscode-java. You can mount other volumes pointing to other JDKs if you need to compile a project with a particular version. See https://github.com/redhat-developer/vscode-java/wiki/JDK-Requirements#setting-the-jdk

[2021-03-19 19:51] kristian commented on #1827
Question: To mitigate this regression, we switched to the "file:" protocol as a workaround. After this regression is fixed, will the "file:" workaround break again or also continue to work, just to inform our developers. Thanks!

[2021-03-19 19:54] snjeza commented on #1827
@kristian It will work.

[2021-03-19 20:28] luukvhoudt commented on #1841
Thanks @fbricon you made me realize that there is a difference between the JDK version and the Java version, I kinda thought that it was the same thing. Thanks to this discovery I managed to make it work, however it's not really what I was hoping for.

Have a look at [the answer I posted on the Stack Overflow topic](https://stackoverflow.com/a/66715062/3157038). To summarize, I didn't really need

[2021-03-21 16:08] Weidows commented on #1796
- When I use `'\u'` in comment as follows

[code]

- Where's an error :

[code]

---

- But i found i can use `'\U'` or `'\xxx'` ,ext.
- `Help wanted.`

[2021-03-22 05:14] pbassut opened #1842 "Compilation errors on a working codebase as soon as I install this extension"
As soon as I install this extension I start getting all kind of compilation errors in the PROBLEM view. Errors that don't make sense like saying it can't find a variable that's clearly defined.
If I close VSCode or uninstall the extension it starts working again.
Maybe something to do with classpath? Please help me figure this out, I'll pulling my hair out over this for days.

I have tried cleanin

[2021-03-22 07:52] fbricon commented on #1842
analytics-java imports fine with vscode-java. No errors, few warnings though.

However, if you trigger a "mvn clean" build from a terminal in parallel, you effectively delete the .class files the Java language server is relying on, which causes compilation issues.
You can recover from that state by executing the "Java: Force Java compilation" command, then select "Full".

But the best way to avoid

[2021-03-22 09:49] EuniceB opened #1843 "When I open my project, the extension fails"
Whenever I open my project, the extension fails with:
[code]
I inspected the extensions file and it seems that e is undefined:
[code]

and then after a few seconds:
[code]

Here are some info messages it shows before:
[code]
This previously worked so I'm not sure what changed.

##### Environment
- Operating System: Debian GNU/Linux 10 (buster)
- JDK version: OpenJDK Java 11 AMD64, project JDK: 1.8

[2021-03-22 15:12] pbassut commented on #1842
I get the same thing, look: https://gist.github.com/pbassut/fae69c6f779d9c78a90f3e69449175e4
Notice the command does not include `clean` this time.

Weird, huh?

[2021-03-23 17:29] snjeza commented on #1835
Fixed with https://github.com/redhat-developer/vscode-java/commit/b543db8165b33cb2178273f1791b2d4622272887

[2021-03-23 17:29] #1835 closed

[2021-03-23 22:33] gabrielseaver9678 opened #1844 "gitRepository dependencies not recognized, but they should be"
The problem is that vscode isn't recognizing gradle gitRepository at all. However, gradlew build works completely fine and the program runs as normal. Here are the error messages:
`The project cannot be built until build path errors are resolved`
`Project '[project name]' is missing required Java project: '[library name]'`
It also is showing problems with extending classes from the library, even t

[2021-03-23 22:40] pbassut commented on #1842
@fbricon I can help you reproduce the issue if you'd like. Or if it's an issue with my environment, I can give you any info you want.
You're more of an expert than I am in Java, so you're way more likely to have insights.

[2021-03-23 23:23] snjeza commented on #1844
@gabrielseaver9678 could you attach your project or the build.gradle file(s)?

[2021-03-24 01:21] #1844 closed

[2021-03-24 02:52] #641 closed

[2021-03-24 08:59] DaniGTA commented on #1782
With the new Java Extension update for vscode it doesnt work anymore

[2021-03-24 14:27] shjyh opened #1846 "reachable code is prompted as dead code"
[provide a description of the issue]

##### Environment
- Operating System: windows 10 (19043.899)
- JDK version: openjdk 11
- Visual Studio Code version: 1.54.3
- Java extension version: 0.76.0

##### Steps To Reproduce

[code]
![image](https://user-images.githubusercontent.com/7910808/112325249-7a7c3e80-8cee-11eb-9a97-d411de5b47a3.png)

[Please attach a sample project reproducing the error]
[Ple

[2021-03-24 16:43] fbricon commented on #1846
The warning is correct.

The only way to exit each loop is for p1 and p2 to be null.
So both are null, thus equal, when reaching the if statement. Making that block dead code.

[2021-03-24 16:43] #1846 closed

[2021-03-25 03:21] molly-w opened #1848 "Make the cursor focus automatically switch to the terminal after clicking the run button."
I would like to be able to click the run button, and then have the cursor's focus automatically switch to the terminal so I can input stuff to the project. Is there an easy way to set this up? I am using Java Extension Pack.

Original Post: https://www.reddit.com/r/vscode/comments/lvvsse/cursor_terminal_issue/

[2021-03-25 07:55] rubensa commented on #1834
Looks like I have same problem.  Whenever I change a Java source file, looks like the file is compiled (at least syntax is checked and any error in the file is reported) but the rest of the classes are not validated (If, for example, I change a method name, errors from other classes referencing the old name are not shown in the PROBLEMS tab).  I have to **Java: Force Java Compilation (Full)** to g

[2021-03-25 09:40] DarkDeveloper-Plant opened #1849 "JDK-16 support"
Hi, When language support for jdk-16 on vscode extention will arrive?

##### Environment
- Operating System: Linux Mint cinnamon 20
- JDK version: 16
- Visual Studio Code version: 1.54.3
- Java extension version: 0.76.0

[2021-03-25 09:46] fbricon commented on #1849
Closing as duplicate of #1835

There should be a new release in the next couple of weeks. Until then, you can already try a CI build (see https://github.com/redhat-developer/vscode-java#contributing)

[2021-03-25 09:46] #1849 closed

[2021-03-25 16:07] antis81 commented on #510
:bulb: FYI

With OpenJDK >11 the following should work:

[code]

Am with Manjaro/Arch. Debian may use a different location.

[2021-03-25 17:41] snjeza commented on #1834
I can't reproduce the issue. Could you try the following:

- close VS Code
- remove all .project, .classpath and .settings files/directories
- start VS Code
- call [Clean the workspace directory](https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#clean-the-workspace-directory)

[2021-03-26 07:26] rubensa commented on #1834
Looks like that fixed my problem.  Thanks @snjeza

[2021-03-26 11:01] apupier opened #1850 "Avoid need of restart of Visual Studio Code when updating java.home"
It would be nice to not have to restart Visual Studio Code when changing Java Home

##### Environment
- Operating System:
- JDK version:
- Visual Studio Code version:
- Java extension version:

##### Steps To Reproduce
1. File -> Preferences -> Settings -> Java -> Home -> Edit in settings.json
2.provide a different value to java.home
3. save

##### Current Result

a notification is provided asking

[2021-03-26 11:09] apupier commented on #1220
Can you provide a bit more context to help investigation please?
Can you precise:
- the type of project you hvae in your workspace (even better if you cna point to them directly)
- the Java version used
- if it happens after a specific action? or as soon as VS Code is opened?

[2021-03-26 11:11] fbricon commented on #1850
I can't remember which one does it, but some extension does restart its language server after changing some config.
So it's doable. Need to evaluate the impacts on other extensions depending on vscode-java

[2021-03-26 11:13] fbricon commented on #1850
See related https://github.com/microsoft/vscode/issues/76405

[2021-03-26 11:59] apupier commented on #851
reported https://github.com/microsoft/vscode-java-test/issues/1164 as it seems that the culprit is comign from vscode-java-test for most of the users that commented here.

@carschno this seems to be a different root cause, even if similar outcomes.
Can you report an issue in https://github.com/redhat-developer/vscode-yaml ?
Would be ncie if you can provide a yaml file to reproduce the issue.
If no

[2021-03-26 12:03] apupier commented on #518
jdt.ls now requires java 11.
I noticed Lars Viogel mentioning great improvement on startup time with Class Data Sharing https://twitter.com/vogella/status/1372831060275367938
might be a good quick win

[2021-03-26 12:11] apupier commented on #857
in 2019:

@akashshinde @Eskibear any update on this issue?

[2021-03-26 12:12] testforstephen commented on #1220
See https://github.com/redhat-developer/vscode-java/issues/1831#issuecomment-794705455, there is a known issue that will slow down the Java extension performance. Please check if you enable the verbose server log via setting `"java.trace.server"`. if so, you need turn it off.

[2021-03-26 13:57] apupier opened #1851 "Allow to provide Maven gav for java.project.referencedLibraries"
it is possible to mention path to jar on the filesystem for `java.project.referencedLibraries`, it would be nice to be able to specify Maven gav too and VS Code java will download them in the ;m2/repository and point to them automatically

[code]
sort of the corresponding feature of "Add Library -> Maven managed dependencies" in Eclipse desktop and project Settings -> Libraries in IntelliJ

#####

[2021-03-26 14:05] fbricon commented on #1851
yeah let's invent yet another build system. Then someone will ask about downloading transitive dependencies. And ask for configuring remote repos.

I'd rather recommend users to use JBang instead

[2021-03-26 14:38] apupier commented on #1851
the `java.project.referencedLibraries` is already about providing another build system, just a first simple piece.

use case was for Camel K, it is effectively using yet another build system and there is no plan to merge with Jbang.

[2021-03-26 15:42] rgrunber commented on #1850
We certainly do this with crashes of the language server so it makes sense.

Is the the java.home only being modified to change the project JDK ? There is a better way to do this. If compatible JDKs are defined in the [settings](https://github.com/redhat-developer/vscode-java#project-jdks), then it should be possible to just update the project's build configuration and switch without ever restarti

[2021-03-26 15:55] fbricon commented on #1850
changes in the runtimes configuration don't require a reload and are updates on-the-fly on impacted projects.

The issue is java.home used to launch jdt.ls

[2021-03-26 17:16] arnaldobadin commented on #1203
I'm facing this issue, can't load a multi-module gradle. Putting a empty build.gradle solves my problem, but it isn't much practical. And sometimes it just won't work. I think that detection of settings.gradle would be a nice/easy approach.

[2021-03-26 17:31] rothfels commented on #1834
@snjeza my issue is still reproducible after following your troubleshooting steps. I don't think I have the same problem as @rubensa; he's complaining about Java source files. My issue is about resources in `src/main/resources`, not Java sources in `src/main/java` (we're using the [standard Maven directory](https://maven.apache.org/guides/introduction/introduction-to-the-standard-directory-layout.

[2021-03-26 18:53] snjeza commented on #1834
@rothfels Could you attach your .project, .classpath and settings.json files?

[2021-03-27 05:25] jdneo commented on #851
@apupier We have done several works to solve the performance issue, some of them are listed here: https://github.com/microsoft/vscode-java-test/issues/1164#issuecomment-808657925. I think more information are needed to find where is the gap.

[2021-03-27 07:09] wadewadewadewadewadewade commented on #781
On WIndows 10 I just went to `C:\Users\<my_user>\` and deleted .gradle, then re-ran `react-native run-android` in vscode and it worked.

[2021-03-27 22:32] PandaGeek1024 commented on #1660
Getting the same problem, any updates?

[2021-03-27 23:10] PandaGeek1024 commented on #1660
works fine when building with gradle command, looks like mainly a vscode thing.

[2021-03-28 03:49] snjeza commented on #1660
@PandaGeek1024 @pumano @chiragai could you attach a project example?

[2021-03-29 03:24] daidai21 opened #1853 "How do I turn off plug-in version updates?"
[provide a description of the issue]

##### Environment
- Operating System: Don't need
- JDK version:Don't need
- Visual Studio Code version:Don't need
- Java extension version:Don't need

##### Steps To Reproduce

[Please attach a sample project reproducing the error]
[Please attach logs](https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#enable-logging)

##### Current Result

T

[2021-03-29 07:07] murphye opened #1854 "Java 16 doesn't require --enable-preview for Records, Pattern Matching, but VS Code still complains"
I have upgraded to Java 16, and removed `--enable-preview` from my `pom.xml` for the `maven-compiler-plugin`.

<img width="652" alt="Screen Shot 2021-03-29 at 12 05 32 AM" src="https://user-images.githubusercontent.com/643097/112798931-7fa8f880-9022-11eb-98e8-5df7c6b109aa.png">

Because VS Code Java doesn't seem to recognize Java 16 and language changes in regards to preview, I still get this erro

[2021-03-29 07:10] murphye commented on #1854
As a workaround, you can still use `--enable-preview` with Java 16, but also impacts the running `java` if you use it in compile, you must enable for runtime as well. Not very ideal.

[2021-03-29 09:26] fbricon commented on #1854
Java 16 support will be released in a few days. Until then you can try a CI build to play with it: https://download.jboss.org/jbosstools/jdt.ls/staging/java-0.77.0-108.vsix (later builds have Java 16 disabled temporarily, so stick with this one)

[2021-03-29 18:52] snjeza commented on #1853
@daidai21 you can add

[code]
to your settings.json

[2021-03-29 20:19] 0dinD commented on #1853
@snjeza @daidai21 I'm pretty sure the `update.mode` setting is for VS Code itself. Extension auto-updates can be disabled via the `extensions.autoUpdate` setting. If it's specifically the Java extension you don't want to auto-update it should also be possible by right clicking it in the extension gallery and selecting "Install Another Version..." (see microsoft/vscode#30579).

[2021-03-29 20:46] erfanara opened #1855 "Question: Doc Hover for openjfx (or anything else)"
How can i configure the vscode-java to display doc hover for openjfx classes and methods?
i already have openjfx-doc and openjfx-src but i don't know how to specify any additional doc in vscode.

##### Environment
- Operating System: Arch Linux
- JDK version: openJDK 15.0.2
- Visual Studio Code version: 1.54.3
- Java extension version: 0.76.0

[2021-03-29 20:56] snjeza commented on #1855
@erfanara You may want to take a look at https://github.com/openjfx/samples/tree/master/HelloFX

[2021-03-29 21:07] erfanara commented on #1855
@snjeza
Thank you ...

i found these too:
https://github.com/redhat-developer/vscode-java/issues/156
https://github.com/redhat-developer/vscode-java/issues/1125
but as it is clear i need to create .classpath for additional docs?

[2021-03-30 01:37] testforstephen commented on #1853
@daidai21 i believe @0dinD has answered your question, please have a try.

[2021-03-30 01:37] #1853 closed

[2021-03-30 03:54] daidai21 commented on #1853
thx all !

[2021-03-30 08:34] anserwaseem commented on #1311
I am having the same problem. Any solution(s) ?

[2021-03-30 09:02] #1640 closed

[2021-03-30 09:07] anserwaseem commented on #956
@fbricon Tysm

[2021-03-30 10:04] Elementrix08 commented on #1818
Is there any way I can make the class snippet show up with the braces being on a new line instead of me having to save the file and then for the braces to move to a new line?

[2021-03-30 12:33] wecharyu commented on #1696
I have the same problem, which options should be set?

[2021-03-30 15:47] dingetje commented on #851
After upgrade to the 1.54.3 version on a RHEL7 I got extreme high CPU load on a C++ project. Only after downgrading to the 1.53.1 release I was able to resolve it.
Launching with --disable-extensions option had no effect.

[2021-03-30 16:12] fbricon commented on #851
@dingetje so vscode's at fault then?

[2021-03-31 07:39] SulthanNK opened #1857 "Extension Unresponsive - Performance Issue"
Extension unresponsive - Performance issue

##### Environment
- Operating System: Windows 10 home
- JDK version: JDK 11
- Visual Studio Code version: 1.54
- Java extension version: 0.76.0

##### Steps To Reproduce
1. [step 1]
2. [step 2]

[Please attach a sample project reproducing the error]

[Please attach logs](https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#enable-logging)

[2021-03-31 08:05] testforstephen commented on #1857
See https://github.com/redhat-developer/vscode-java/issues/1831#issuecomment-794705455, please check if you enabled verbose setting `"java.trace.server": "verbose"`. If so, you need to change it to `messages` or `off`.

[2021-03-31 10:53] apupier commented on #851
As disabling extension has no effect, it is coming from VS Code core.
@dingetje Please report the issue on the specific VS Code tracker: https://github.com/microsoft/vscode/issues
You will also surely need to provide more information to help VS Code core maintainers to investigate: if possible share the C++ project, follow the guidelines of this wiki page https://github.com/Microsoft/vscode/wiki/P

[2021-03-31 14:01] rgrunber commented on #1791
@fbricon , @testforstephen here's an example of a case where a global settings file would be beneficial. Also, some kind of location that lists the available options as opposed to having to reference the source javadoc.

[2021-04-01 12:31] apupier commented on #851
Thanks to @jdneo test, we can observe that VS Code java test extension related issues that were initially reported here seems to no more be a problem.

it remains that it takes 40 minutes to import a project like Nuxeo but as it is mentioned: it is a big one. Maybe that's a "normal value"? How does it compare to other IDEs? I think it would be better to create a specific issue if it is the case.

[2021-04-01 12:31] #851 closed

[2021-04-01 12:41] apupier commented on #337
this issue is quite old.

@pvllzr Is it still happening? if yes, the project is still closed source? if still closed source, can precise the buidl mechanism used (gradle, maven, ant?)? maybe able to provide the list of "plugins" used in the build?
You mentioned that it was a mix Java and groovy. Are you also using specific VS Code extensions for Groovy?

[2021-04-01 12:49] apupier commented on #670
I tried with latest version 0.76.0

I have the "thumbs up" in bottom status bar after few seconds and everything is working fine.

![Screenshot from 2021-04-01 14-45-22](https://user-images.githubusercontent.com/1105127/113295811-f4b55000-92f8-11eb-8e50-0076bc605460.png)

[2021-04-01 12:49] #670 closed

[2021-04-01 12:52] apupier commented on #793
@yaohaizh said:

but there was more comments afterwise.
Someone know if it is fixed or not? Or have Windows to try it?

[2021-04-01 12:54] apupier commented on #1220
this might affect @cforce effectively.

@Alejandro2134 I think it was long time before the pointed regression. Can you provide more details please?

[2021-04-01 14:35] pvllzr commented on #337
@apupier no, it seems to be fixed, thank you

[2021-04-01 14:35] #337 closed

[2021-04-01 16:21] apupier commented on #337
thanks for having tried again

[2021-04-01 17:05] Eskibear opened #1860 "strange additionalTextEdit with 'import' completion item"
Originally reported in https://github.com/MicrosoftDocs/intellicode/issues/281 , I reproduced it and investigated a little bit. See below:

https://user-images.githubusercontent.com/2351748/113328028-4936ea80-934e-11eb-9343-72a2eb3aeb7c.mp4
##### Environment
- Operating System: Windows
- JDK version: 11
- Visual Studio Code version: both 1.54.3 / 1.55.0
- Java extension version: 0.76.0

##### Step

[2021-04-02 08:26] apupier commented on #1796
Hi,

`\u` is used to provide escaped Unicode characters.
You need to escape the `\` to specify to the compiler that in your case it needs to not be interpreted.

So writing something like:

[code]

[2021-04-02 08:27] apupier commented on #1787
closing. Please open another issue with more details.

[2021-04-02 08:27] #1787 closed

[2021-04-02 08:30] apupier commented on #1843
@EuniceB Can you share your project? Or provide a reproducer with a specific simplified project?

[2021-04-02 08:35] apupier commented on #1837
This can be improved efficiently at VS Code level only. Please vote for https://github.com/microsoft/vscode/issues/119243

[2021-04-02 08:40] #1796 closed

[2021-04-02 08:42] apupier commented on #1801
@veredcon Do you still have issues or you were abel to handle what you wanted?

[2021-04-02 08:50] apupier commented on #1763
seems ti has been implemented with https://github.com/redhat-developer/vscode-java/pull/1771

[2021-04-02 08:50] #1763 closed

[2021-04-02 12:50] mozhuanzuojing opened #1861 "The import com.sun.jdi cannot be resolved！"
I am compiling the plug-in ***java-debug***, and the java file is imported into the package ***import com.sun.jdi.Location***;

##### Environment
- Operating System: Windows_NT x64 10.0.17134
- JDK version:15
- Visual Studio Code version:56
- Java extension version:76

##### Steps To Reproduce
1. settings.xml add
[code]
but redhat-java Not effective

project location :
https://github.com/microsoft

[2021-04-02 15:04] mozhuanzuojing opened #1862 "UpdateClasspathJob enhance detectSources feature"
project location ***eclipse.jdt.ls***

UpdateClasspathJob [line:109]  -->  ProjectUtils.detectSources(binary)

should Support customization classifier  e.g  ***_src.jar***  Substitute  ***-sources.jar***  by Preferences！

##### Environment
- Operating System:Windows_NT x64 10.0.19042
- JDK version:15
- Visual Studio Code version:1.56.0-insider (system setup)
- Java extension version:76

##### Step

[2021-04-02 21:10] EuniceB commented on #1843
I can reproduce it just by creating a project with the Spring Boot Initializer Java support extension.
Here are the parameters I used:

- Maven
- Java version 8
- Spring boot version 2.4.4
- Project language Java
- Packaging type jar

And my preferences:
[code]

[2021-04-02 22:35] snjeza commented on #1861
@mozhuanzuojing you can try the following patch:

[code]

[2021-04-03 01:04] #1861 closed

[2021-04-03 22:36] Pascal-Klinkenbergh opened #1863 "Code completion on import is jamming code"
https://user-images.githubusercontent.com/41929781/113493006-14589e00-94dc-11eb-991a-90b1eb1ac328.mov

Code completion on `import` is jamming code, as seen in the video.

##### Environment
- Operating System: macOS 11.2.3 (20D91)
- JDK version: adoptopenjdk-11-openj9.jdk
- Visual Studio Code version: March 2021 (version 1.55)
- Java extension version: Language Support for Java(TM) by Red Hat v0.76

[2021-04-03 23:57] snjeza commented on #1863
Related issue - #1860

[2021-04-04 11:40] drakgoku opened #1864 "Visual Code wrong workspace and project into this"
https://stackoverflow.com/questions/66936942/visual-code-wrong-workspace-and-project-into-this

[2021-04-05 18:03] rafaelcoelho commented on #1854
The [redhat.java 0.77](https://download.jboss.org/jbosstools/jdt.ls/staging/java-0.77.0-108.vsix) extension works fine with latest VSCode version [VSCode 1.55](https://code.visualstudio.com/updates/v1_55).

I'm lookling forward to get release version 🚀

[2021-04-06 07:05] testforstephen commented on #1863
Duplicate, will use #1860 to track it.

[2021-04-06 07:05] #1863 closed

[2021-04-06 08:27] testforstephen commented on #1864
"Page Not Found".

Could you please share more details about the issue?

[2021-04-06 12:15] tim-hilt commented on #177
I experience the same problem, when generating sources for a GraphQL-project (via `graphql-java-kickstart`)! None of the generated sources are resolved and so my project hangs at around 650 errors :D Even though it runs successfully after I compiled the Maven-stuff.

[2021-04-06 12:58] pbassut commented on #1842
So now we're sure it's a bug?

If nobody else is impacted by this issue I'm going to wait a long time to get this fixed. And looks like nobody's here

[2021-04-06 13:09] fbricon commented on #177
@tim-hilt please attach a sample project reproducing the issue

[2021-04-06 14:00] Yanpas opened #1865 "Missing Gradle project configuration file: .settings/org.eclipse.buildship.core.prefs while import.gradle is disabled"
I see error "Missing Gradle project configuration file: .settings/org.eclipse.buildship.core.prefs" of my maven project despite `"java.import.gradle.enabled": false` is in my .vscode/settongs.json.

There is still gradlew and build.gradle files, but they are not intended to be used for building java project.

##### Environment
- Operating System: rhel 7
- JDK version: 8
- Visual Studio Code versio

[2021-04-06 14:11] AnthonyWeston opened #1866 "If there's a syntax error inside an arrow function, the entire function is highlighted as an error in the editor"
When an arrow function is assigned to a variable with a generic type parameter, and there is a syntax error inside the arrow function, VSCode highlights the entire arrow function as an error. This obscures the location of the syntax error and makes the code difficult to read.

##### Environment
Version: 1.54.3 (user setup)
Commit: 2b9aebd5354a3629c3aba0a5f5df49f43d6689f8
Date: 2021-03-15T10:55:45.

[2021-04-06 15:49] drakgoku commented on #1864
Stackoverflow deleted the post without notice. I am not going to rewrite what I wrote or the solution. You can thank Stackoverflow for his behavior.

[2021-04-06 18:09] snjeza commented on #1860
@Eskibear @Pascal-Klinkenbergh Could you try to reproduce the issue when starting VS Code with the following property:

[code]

[2021-04-06 20:43] bokjo opened #1867 "VSCode spawns too many dsc processes randomly (usually on new instance startup) - causes High CPU/Memory and sometimes system crash"
Port from https://github.com/microsoft/vscode/issues/120649

Issue Type: <b>Performance Issue</b>

VSCode spawns too many `dsc` processes randomly (usually on new instance startup)
My Macbook Pro goes to 100% fan speed and +95 degrees CPU until it crashes or runs out of system memory (not always)

If I manage to close VSCode quickly it goes away after a while

I don't know what this `dsc` process

[2021-04-07 02:09] Eskibear commented on #1860
@snjeza By adding above vmargs I can still repro it.
https://user-images.githubusercontent.com/2351748/113800132-00859400-9789-11eb-97b4-42f43bdc30e4.mp4

Try creating a new class, I feel that's easier to reproduce it.

[2021-04-07 02:49] testforstephen commented on #1867
Code Render process is VS Code main UI process, nothing we can help at the extension side. You have to [profile the renderer process](https://github.com/microsoft/vscode/wiki/Performance-Issues#profiling-the-renderer-process) first, and share the cpuprofile result to VS Code team to have a look.

Also, you could check whether you enabled the user setting `"java.trace.server": "verbose"`, as we kno

[2021-04-07 03:17] snjeza commented on #1860
@Eskibear could you disable the Visual Studio IntelliCode extension?

[code]

[2021-04-07 04:20] Eskibear commented on #1860
As shown in the first video, I don't have intelliCode extension installed. And from the server log, you can see it was `completionItem/resolve` response (different from those when IntelliCode is activated).

[2021-04-07 07:07] bokjo commented on #1867
Hello @testforstephen,

Thanks for the reply.

I've already created an issue at VSCode https://github.com/microsoft/vscode/issues/120649 but was redirected here.

Tested yesterday with disabled java extension and VSCode is notably faster and less CPU intensive!

 `"java.trace.server"` was off before hand... i tested with message and verbose to see the output, but nothing special inside the json!

[2021-04-07 07:48] testforstephen commented on #1867
@bokjo, thanks for the patience. Profiling does help for the analysis.

Anyway, from the **Process Info** you shared above, i didn't see any CPU intensive process. It's better to profiling the render process when you are reproducing the slowness in your environment.

[2021-04-07 17:32] snjeza commented on #1860
https://user-images.githubusercontent.com/2351748/113800132-00859400-9789-11eb-97b4-42f43bdc30e4.mp4
Try creating a new class, I feel that's easier to reproduce it.

I can't reproduce it with "-Djava.lsp.joinOnCompletion=true" . Could you attach your server log?

[2021-04-08 13:24] Merteg commented on #1232
Same issue for me. A lot of "Missing artifact..." errors in pom.xml

[2021-04-08 14:48] tamerb2050 opened #1869 "Nested Class Auto Completion issue"
[provide a description of the issue]

##### Environment
- Operating System: Windows_NT x64
- JDK version: 11
- Visual Studio Code version : 1.54.3
- Java extension version: v0.76.0

![Ekran görüntüsü 2021-04-08 173451](https://user-images.githubusercontent.com/51494556/114047522-69a4fe80-9892-11eb-974b-a79ce06d22c5.png)

![nestedclassissu](https://user-images.githubusercontent.com/51494556/1140475

[2021-04-08 15:44] cyberbeast commented on #632
Any word regarding updates on this issue?

[2021-04-08 16:56] 1nrt0 opened #1870 "fill"
Issue Type: <b>Feature Request</b>

{
"success":true,
"active":false,
"message":"<type> You're almost done ! wE SENT AN ACTIVATION MAIL TO <B>fakezabanfdsdhendas98d9188508d00dsf6@mail.ru<b>. Please follow the in struction sth email to activate your account,</
p><p>IFIT DOESN'T arrive, check your garbage files in mail box </p>",
"user_id":7777
 } zi xo
nutkase at Z

Extension version: 0.76.0
VS Cod

[2021-04-08 17:01] fbricon commented on #1870
garbage

[2021-04-08 17:01] #1870 closed

[2021-04-08 17:45] xenoterracide commented on #632
I suspect we're going to have to fork this plugin as red hat doesn't seem interested in proper maintenance as not having this means gradle isn't fully supported which means many companies can't use vscode.

[2021-04-08 18:15] snjeza commented on #1869
I can't reproduce the issue.
@tamerb2050 could you attach your server log - [Turn on message tracing between VS Code and the Java Language Server](https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#turn-on-message-tracing-between-vs-code-and-the-java-language-server) ?

[2021-04-09 01:54] #1346 closed

[2021-04-09 11:05] #1864 closed

[2021-04-09 11:09] drakgoku opened #1871 "What is VSC and is it useful for business projects?"
I see that VSC is powerful, but not for doing business projects.

I have tried doing a dynamic web project, but it doesn't work.

I read:
https://code.visualstudio.com/docs/java/java-webapp
I don't need to import the code from github, instead an updated template is needed according to current conventions, like eclipse.

and also this,
https://stackoverflow.com/questions/64726946/how-to-create-a-ja

[2021-04-09 12:33] drakgoku commented on #1871
I just saw that it can. Although it does not work for me, I have seen that it can be done without problems.
Today I will be testing in my spare time to see if I make it work.

[2021-04-09 15:37] #1657 closed

[2021-04-09 17:12] drakgoku commented on #1871
After a week with VSC, I am really happy. Too many mistakes. I go back to the Eclipse. Good luck guys.

[2021-04-09 17:12] #1871 closed

[2021-04-10 15:29] nutmix commented on #1140
For me, it just says "no quickfix avaiable", and doesn't work.  M1 Mac. version: April 2021 (version 1.56)

[2021-04-10 16:20] tigerinus commented on #634
Facing the same issue in 2021. Any update?

[2021-04-10 20:57] pumano commented on #1660
@snjeza yes, I prepare repo for it: https://github.com/pumano/vscode-mapstruct-tests
just check via gradle clean test and then try to run via vscode.

You got `java.lang.ExceptionInInitializerError` which Caused by: `java.lang.ClassNotFoundException: Cannot find implementation for com.example.vscode.mapstructdemo.mappers.ExampleMapper`

looks like path to `generated` code not included to tests.

[2021-04-12 07:41] bokjo commented on #1867
Hello @testforstephen

Sorry for the delay.

Managed to make `Renderer Process profiling` and startup profile `prof-startup`.
Unfortunately, couldn't reproduce 100% the full hang and spawning of `dsc` processes.

The profiling is around a minute after sturt-up, roughly the time it takes the MacBook Pro fans to spin up to 100% and return back to normal.

[CPU-20210412T092934-Bokjo-JavaExtensionIssu

[2021-04-12 19:11] DumbestThan opened #1873 "I can't run the same code twice"
[provide a description of the issue]
Every time I tried to run a java code (TWICE) it fails.
If I clicked the rubbish buttin for "kill the active terminal instances" it works, but if I clicked run again it stopped.

##### Environment
- Operating System:
- Windows 10 version 2004
- JDK version:
- 11.0.10
- Visual Studio Code version:
- 1.55.1
- Java extension version:
- 0.76.0

##### Steps To Repro

[2021-04-12 22:06] snjeza commented on #1660
@pumano could you try the following patch:

[code]

[2021-04-12 22:15] pumano commented on #1660
@snjeza wow! Works like a charm! Would be good to have it out of the box if possible.

[2021-04-13 01:27] snjeza commented on #1660
@pumano could you attach a multimodule project?

[2021-04-13 07:29] apupier opened #1874 "Update classpath based on java.project.referencedLibraries when modifications in pointed folders"
##### Environment
- Operating System:
- JDK version:
- Visual Studio Code version:
- Java extension version:

##### Steps To Reproduce
- have a folder defined in java.project.referencedLibraries outside of workspace. For instance:
[code]
- list of jars is modified inside `/home/apupier/.config/Code/User/globalStorage/redhat.vscode-camelk/java-dependencies-3.7.0/dependencies/`

[Please attach a sam

[2021-04-13 07:33] fbricon commented on #1874
AFAIK vscode doesn't watch files outside the current workspace, so doesn't emit file change events.

[2021-04-13 07:36] fbricon commented on #1874
How/why does a user modify the contents of redhat.vscode-camelk/java-dependencies-3.7.0/dependencies/?

[2021-04-13 07:44] apupier commented on #1874
VS Code Camel K is modifying it. The goal is to modify the content depending on the opened java file and also when the file is modified. If there is an API to tell the Java language Server to refresh the classpath/re-read the folder that woudl be fine.

Maybe I can send a file change event programmatically even if outside the workspace? if yes, will the java language server refresh the classpath?

[2021-04-13 07:54] fbricon commented on #1874
Wow that seems wrong ;-) If you have 2 opened Camel K files in 2 different windows, who wins?

I don't know. Maybe. Maybe not.

[2021-04-13 07:55] testforstephen commented on #1873
I cannot reproduce it with VS Code 1.55.1 and PowerShell as terminal. Can you try other terminals such as cmd?

![image](https://user-images.githubusercontent.com/14052197/114516265-ced06980-9c6f-11eb-98d5-922125c00d50.png)

Anyway, the run feature is provided by "Debugger for Java" extension, i moved this to the issue https://github.com/microsoft/vscode-java-debug/issues/979. Please use that issu

[2021-04-13 07:55] #1873 closed

[2021-04-13 08:11] pumano commented on #1660
Ok I will prepare it soon

[2021-04-13 08:18] apupier commented on #1874
Agree that it is not optimal. But rebuilding a project support cannot be done in a single step easily. The plan for this iteration is to ask user to refresh classpath manually so the user is choosing which he/she is interesting in and wins.
Having a different folder per Camel K files will solve the problem when switchign between files but still won't refresh the classpath on modification of the fi

[2021-04-13 09:13] jonathanvila opened #1875 "Code is underlined with message "cannot be resolved to a type" , but it's not true"
[provide a description of the issue]
IDE is showing some classes as "cannot be resolved to a type" , but the class exists, the code compiles fine. And also every now and then typing, waiting, the error disappears and appears again.
Project : https://github.com/jonathanvila/tackle-pathfinder
Line with error now : https://github.com/jonathanvila/tackle-pathfinder/blob/508abe531f3958f9b829e4b1fbac26b

[2021-04-13 11:34] fbricon commented on #1875
Can you reproduce with only vscode-java active? Disable all Java related stuff.

[2021-04-13 11:35] fbricon commented on #1875
@rgrunber @datho7561 see NPE in lsp4mp
at org.eclipse.lsp4mp.jdt.core.utils.JDTMicroProfileUtils.getProjectURI(JDTMicroProfileUtils.java:62)

[2021-04-14 10:16] jonathanvila commented on #1875
@fbricon any way to disable all extensions except one ?
Also I have to say that apparently now with version of 1.55.1 of VS Code is not happening .... well I have used it for 1 day only.

[2021-04-14 14:50] AndreaCardamone commented on #1263
Thank you very much. You solved this tedious issue for me!

[2021-04-14 15:52] bibhas2 commented on #1595
In my case the resolution was something different. My project needs Java 8 and ``pom.xml`` has this.

[code]

I have both JDK 8 and 15 installed and VS Code correctly detects both.

![image](https://user-images.githubusercontent.com/1730356/114738579-19a4bc80-9d16-11eb-8295-d3767a11eb69.png)

However, when the project was opened in VS Code it did not choose the JDK correctly to compile the project

[2021-04-14 20:21] yotkamen opened #1876 "java is not on the classpath message in a non-Android Gradle project"
The error is:
.java is not on the classpath of project xxxx, only syntax errors are reported

##### Environment
- Operating System: MacOs, Catalina 10.15.7
- JDK version:

OpenJDK Runtime Environment Zulu11.43+21-CA (build 11.0.9+11-LTS)
OpenJDK 64-Bit Server VM Zulu11.43+21-CA (build 11.0.9+11-LTS, mixed mode)
- Visual Studio Code version: 1.55.2
- Java extension version: 0.76.0

##### Steps To R

[2021-04-15 07:01] ZigZag59 opened #1878 "Syntax highlighting of Java "properties" files is broken with array syntax"
The syntax highlighting of Java "properties" files do not work with properties mapped with lists.

I am using SpringBoot with the @ConfigurationProperties directive for property mapping. My Java file contains a property : `List<String> myValues;`.

##### Environment
- Operating System: Windows_NT x64 10.0.19042
- JDK version: openjdk 11.0.9.1 2020-11-04 LTS
- Visual Studio Code version: 1.55.2 (us

[2021-04-15 07:37] fbricon commented on #1878
The textmate grammar for properties files is provided by VS Code proper: https://github.com/microsoft/vscode/blob/e51173f3b6f18f67a2ab9937374aa771f0483665/extensions/ini/package.json#L60-L62

Please open a ticket in the upstream repo: https://github.com/microsoft/vscode/issues/new?assignees=&labels=&template=bug_report.md

[2021-04-15 07:37] #1878 closed

[2021-04-15 07:50] ENTPRESTIGIOUS opened #1879 "Java 16 Not Supported?"
[provide a description of the issue]

##### Environment
- Operating System: Windows 10
- JDK version: 16
- Visual Studio Code version: 1.55.2
- Java extension version: 0.76.0

##### Steps To Reproduce
1. Download Java JDK 16 from Java website
2. Add new name and path with "name" of java.configuration.runtimes" to JavaSE-16 instead of JavaSE-15

[Please attach a sample project reproducing the error

[2021-04-15 08:33] testforstephen opened #1880 "Sometimes show incorrect diagnostics status while moving files to new package to apply refactorings"
When i drag and drop a Java class to another package, it will prompt me whether to apply refactoring. When i choose to apply, the package declaration and import update are all updated. But sometimes, the diagnostics status of the changed classes are not refreshed.

For example, the screenshot below shows that the package declaration is updated for the moved class. But the diagnostics still says no

[2021-04-15 12:42] delassiops commented on #1879
Hi,

you can run your java program using jdk16 but visual studio know language level for the jdk15,

try using jdk 16 build from azul,

also set settings.json

{
    "java.home": "C:\\path_to_jdk16"
}

thanks

[2021-04-15 13:42] jonathanvila opened #1881 "Intellisense very slow and usually takes high peeks of CPU and memory"
[provide a description of the issue]
Coding, takes a lot for intellisense to show members....in cases around 4 secods, and also consumes peeks of high cpu and memory

##### Environment
- Operating System: Fedora 33
- JDK version: OpenJDK 11.0.9
- Visual Studio Code version:1.55.1
- Java extension version:0.76

##### Steps To Reproduce
Dont touch the code, and once you go and put a . in the code ex

[2021-04-15 13:59] fbricon commented on #1881
Can you try to disable all your other Java related extensions and see if performance improves?
Can you share your project?

[2021-04-15 18:46] mircoianese commented on #1770
+1. Almost unusable on large projects.

[2021-04-16 06:08] damianbartos opened #1882 "auto generated prefs"
[provide a description of the issue]
Every time command Java: Update Project is called few prefs are added by default to
- org.eclipse.jdt.apt.core.prefs:
org.eclipse.jdt.apt.genTestSrcDir=target/generated-test-sources/test-annotations
- org.eclipse.jdt.core.prefs
org.eclipse.jdt.core.compiler.problem.enablePreviewFeatures=disabled
org.eclipse.jdt.core.compiler.problem.reportPreviewFeatures=ignore

[2021-04-16 07:26] jonathanvila commented on #1881
@fbricon
* I dont have other Java related extensions ( that I am aware of ) . Can I disable all except one, from the command line to not disabling manually one by one on the IDE ?
* https://github.com/jonathanvila/tackle-pathfinder

NOTE : apparently 1.55.2 seems to work better, but I've only used for 1 day. Although it still consumes a lot of memory, and sometimes has peeks of around 30% CPU. But

[2021-04-16 08:40] jonathanvila opened #1883 "No Refactor-->Rename when lambda placeholder selected"
[provide a description of the issue]
No Refactor-->Rename when lambda placeholder selected

##### Environment
- Operating System: Fedora 33
- JDK version: 11.0.9 OpenJDK
- Visual Studio Code version: 1.55.2
- Java extension version: 0.76

##### Steps To Reproduce
1. Select the placeholder and click Alt+Intro

[Please attach a sample project reproducing the error]
[Please attach logs](https://githu

[2021-04-16 09:01] fbricon commented on #1883
In vscode, rename is triggered by F2

[2021-04-16 12:46] zguesmi opened #1884 "Code completion in Java Language Server is not working"
When I open my java project the language server is loaded correctly but when I start editing code
completion does not work. Cleaning the Java Language Server workspace does not help.
The following exception is raised by the language server.
[code]

##### Environment
- Operating System: `Ubuntu 20.04.2 LTS`
- JDK version: `openjdk 11.0.7 2020-04-14`
- Visual Studio Code version: `VSCodium 1.55.2`
-

[2021-04-16 12:51] fbricon commented on #1884
Try disabling Microsoft's Intellicode extension

[2021-04-16 12:56] zguesmi commented on #1884
Thank you very much for your quick response! This did indeed fix the issue.

[2021-04-16 13:13] fbricon commented on #1884
@testforstephen @CsCherrYY @jdneo could you guys investigate on the intellicode side?

[2021-04-16 13:16] testforstephen commented on #1884
I installed IntelliCode extension v1.2.12 in my machine, code completion works well.

@zguesmi What's your IntelliCode extension version? And would you mind sharing some sample snippet to trigger the completion?

[2021-04-16 14:48] #1549 closed

[2021-04-16 16:23] rothfels commented on #1834
Sorry for the delay @snjeza. I made a [minimal example](https://github.com/rothfels/java-test) with our project configs.

However I cannot reproduce this issue in that project.

I dug a little deeper, I think there is something specific to our project causing this error:

[code]

If this is not a general problem, feel free to close the issue.

If you have recommendations to help me identify the fi

[2021-04-16 16:54] rothfels commented on #1834
Ah, I think I found the cause.

Our Java project root is actually in a subdirectory of our repo/workspace: `${workspaceFolder}/java`

If I open the Java project root in VS Code, the file watcher initializes properly.

Is there a way to set the Java project root for the language server?

Perhaps this isn't a bug, but I think it's a regression from previous behavior. We didn't have problems with the

[2021-04-16 17:24] Nacandcheese opened #1886 "_ is not on the classpath of project _, only syntax errors are reported"
Every time I try to create a package for my java classes so I can finish my projects for school, errors like this occur:
![image](https://user-images.githubusercontent.com/56834638/115059886-cb75f180-9eac-11eb-9aad-8b9b33782015.png)
When I finally try to run the program, I get an even more infuriating message:
![image](https://user-images.githubusercontent.com/56834638/115059988-ea748380-9eac-11eb

[2021-04-16 17:24] Nacandcheese commented on #1886
Ignore the mcfunction plugin in the image of the versions, the plugin has nothing to do with the issue from what I have tested.

[2021-04-16 17:35] zmunro commented on #548
I am on the latest version of VSCode for MacOS and this is still happening.

[2021-04-16 18:24] rgrunber commented on #1879
Java 16 language support will be added very soon. The plan is to release it as part of 0.78.0 which is planned for end of April, but likely should be coming by the end of next week.